[2016-05-22 14:52] toddtsic commented on #830
Thanks for everyone's assistance.  The issue was that I was stuffing too much data into claims in my web api program.  I restricted the use of claims to my jwt token only, and move other data out.  With that all environments are working fine.

[2016-05-22 15:05] Tratcher commented on #833
Why `AllowAnonymous` when you want to look at the user?

[2016-05-22 20:39] jbeen19 commented on #825
I will confess that it did confuse the heck out of me when I was first learning ASP.NET three months ago; however, I saw the lambda expression an eventually figured it out what was going on and have been adding it to my own applications because of it.

Personally, I think it looks more professional and plus it removed a using statement or having the entire namespace typed out in ASP.NET. (Obviousl

[2016-05-22 20:39] #825 closed

[2016-05-23 03:33] damienpontifex opened #835 "oidc redirect_uri is http"
Just updated to rc2 and found my authentication with OpenIdConnect is generating a non-secured reply address.

Authentication is coming from originating https request from https://mysite.azurewebsites.net and getting redirected to login.microsoftonline.com with parameters in the url of redirect_uri=http%3A%2F%2Fmysite.azurewebsites.net

Following this, I receive the Azure AD failure for "The reply

[2016-05-23 03:55] Tratcher commented on #835
It's a known issue in Azure. Use this workaround: https://github.com/aspnet/IISIntegration/issues/140#issuecomment-215135928

[2016-05-23 04:54] damienpontifex commented on #835
Thanks. The workaround fixed the issue. I will follow the other issue for resolution so feel free to close this @Tratcher if duplicate and no need to track.

[2016-05-23 05:33] #835 closed

[2016-05-23 12:47] lszomoru opened #836 "Authorization failed for the request at filter 'Microsoft.AspNet.Mvc.Filters.AuthorizeFilter'."
I've got a site that is using RC1 and [role based authorization](https://docs.asp.net/en/latest/security/authorization/roles.html). Some users reported that they were unable to access pages even though they were part of the roles that had access to them. Looking through the event log I have noticed warnings with the following text:

Authorization failed for the request at filter 'Microsoft.AspNet.

[2016-05-23 13:08] Villason commented on #833
Code no longer applicable. It was there for testing.

On Sun, May 22, 2016 at 5:05 PM, Chris R <notifications@github.com> wrote:

[2016-05-23 13:30] imranbaloch commented on #836
For me space should work. See https://github.com/aspnet/Security/blob/1.0.0-rc2/src/Microsoft.AspNetCore.Authorization/AuthorizationPolicy.cs#L91-L93 There might be some special character.

[2016-05-23 13:35] PinpointTownes commented on #836
This bug was fixed in RC2: https://github.com/aspnet/Security/issues/627

[2016-05-23 13:53] lszomoru commented on #836
Thank you both! I will close the issue.

[2016-05-23 13:53] #836 closed

[2016-05-23 16:31] Tratcher commented on #833
That's not enough information to work from. Have you tried starting with the RC2 templates? Or push the a repro project to a github repo for others to investigate.

[2016-05-23 17:28] blowdart opened #837 "Null reference exception thrown when null is returned from HandleAuthenticateAsync()"
This used to work in RC

            if (string.IsNullOrEmpty(header) || !header.StartsWith("Bearer "))
            {
                return null;
            }

It causes a null reference exception in RC2. The correct code would return `Task.FromResult(AuthenticateResult.Skip());` but the exception is horrid.

[2016-05-23 17:55] ivankarpey opened #838 "Question: Custom authentication/authorization. What interfaces need to be overrided to make default [Authorize] attribute works?"
I'm using Mongodb as my primary data store and  need to implement my custom auth logic, since EF don't support mongodb atm. And my data-model is denormalized - I store roles assigned to user in the same document as other user information. Like
[code]

And I sending user token via each request - this is how we protect out api currently.

What code I need to add and what interfaces implement to stil

[2016-05-23 17:57] Tratcher commented on #92
Reviving for the next release.

[2016-05-23 18:09] #667 closed

[2016-05-23 18:10] #801 closed

[2016-05-23 18:18] PinpointTownes commented on #837
I reported a similar bug (https://github.com/aspnet/Security/issues/760) and AFAIK, it's fixed in RC2.

Are you sure you're not returning a null `Task`?

[2016-05-23 18:27] HaoK commented on #92
Its the zombie issue, that will never die...

[2016-05-23 18:40] HaoK commented on #837
He is.

On Mon, May 23, 2016 at 11:40 AM, Kévin Chalet <notifications@github.com>
wrote:

[2016-05-23 18:44] PinpointTownes commented on #837
Then it's not a bug.

@blowdart there's a huge difference between returning a null `Task` and a `Task` that returns a null result (e.g via `Task.FromResult<AuthenticateResult>(null)`): trying to await a null `Task` will always result in an NRE.

BTW, it's absolutely not specific to this method and impacts almost every async method in the .NET Framework or in ASP.NET Core.

[2016-05-23 19:02] blowdart commented on #837
I was just returning null, not even a task :) Meh, fair enough, my misunderstanding :D

[2016-05-23 19:02] #837 closed

[2016-05-23 19:03] PinpointTownes commented on #837
Noob noob noob :trollface:

[2016-05-24 06:45] davidfowl commented on #834
Why seal it?

[2016-05-24 06:56] raffaeler commented on #834
In the past people used to derive it to control authorization while now any derived member is ignored.
When you migrate the code, getting a compile error from being sealed, would help in understanding what needs to be rewritten.

[2016-05-24 08:48] rmja opened #839 "Settable Scope in OpenIdConnectOptions"
A minor thing. It would be nice if, instead of this:

[code]

one could write

[code]

Basically, [this setter](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L156) should be assignable.

[2016-05-24 10:59] brockallen commented on #839
Yea, I still feel the collection is icky (https://github.com/aspnet/Security/issues/614). This setter might be a nice compromise.

[2016-05-24 12:35] PinpointTownes commented on #839
FWIW, publicly-settable collection properties are usually discouraged: https://msdn.microsoft.com/en-us/library/ms182327.aspx.

Why not using this syntax to add new items to the scope collection?

[code]

[2016-05-24 12:39] brockallen commented on #839
Also looks fine to me.

[2016-05-24 13:11] rmja commented on #839
That doesn't replace the default scopes which is what I want:

![image](https://cloud.githubusercontent.com/assets/2112306/15504964/ae3615a4-21c1-11e6-8eac-ab4b46b95f55.png)

[2016-05-24 13:14] rmja commented on #839
I guess that removing `profile` from the default scopes would solve that problem...

[2016-05-24 13:14] PinpointTownes commented on #839
Sure, that's why I said "add new items" and not "clear" nor "remove" :smile:

We're already discussing this point there: https://github.com/aspnet/Security/issues/614.

[2016-05-24 13:25] ivankarpey opened #840 "Error: Configuration value 'Verbose' for category 'Default' is not supported in AuthenticationMiddleware ctr"
this is for rc2 version of code.

If there is this line in `Startup.Configure`

`loggerFactory.AddConsole(Configuration.GetSection("Logging"));` // It's exist there by default btw

than Implementation of `AuthenticationMiddleware` throws `InvalidOperationException` when call base class constructor. `"Configuration value 'Verbose' for category 'Default' is not supported."`

Stacktrace:
[code]

[2016-05-24 13:27] Tratcher commented on #840
Please move this to the Logging repo, it looks like an issue with the Console logger.

[2016-05-24 13:30] ivankarpey commented on #838
Looks like to be able to implement custom authentication there should be abstract classes implemented. AuthenticationMiddleware<T>, AuthenticationHandler<T> and AuthenticationOptions and than custom middle ware should be added in startup class.

[2016-05-24 13:35] ivankarpey commented on #840
Moved to https://github.com/aspnet/Logging/issues/436
Closing there.

[2016-05-24 13:35] #840 closed

[2016-05-24 14:46] jburbach opened #841 "Authorize policy attribute not compatible with dynamic policy provider"
I was attempting to implement something like the DynamicPolicyProvider in your unit tests where the idea is that you can specify the policy name at runtime and built it on the fly. While this passes your unit tests, if you try to actually declare something like [Authorize("MyPolicy")] on an action/controller you get an exception that states

InvalidOperationException: The AuthorizationPolicy named

[2016-05-24 18:47] Tratcher commented on #776
Problem | Exception
----------- | --------------
Audience mismatch | SecurityTokenInvalidAudienceException
Issuers that the app doesn't like | SecurityTokenInvalidIssuerException
Tokens outside of valid window (e.g. expired, not yet valid) | SecurityTokenNoExpirationException, SecurityTokenInvalidLifetimeException, SecurityTokenNotYetValidException, SecurityTokenExpiredException
Signature failures

[2016-05-24 19:02] leastprivilege commented on #839
The scope collection should contain openid only. Not profile.

[2016-05-24 19:23] PinpointTownes commented on #839
Agreed. And it would be consistent with the fact the userinfo request is not enabled by default.

[2016-05-25 13:04] PinpointTownes commented on #839
Actually, the more I think about it, the more I realize that having `profile` set by default is probably a good compromise. Without this scope, the OP won't return the user name and `User.Identity.Name` will never be populated. It would be really disappointing for most people.

[2016-05-25 19:51] Tratcher opened #844 "JwtBearer argument validation"
Same as https://github.com/aspnet/Security/issues/795

[2016-05-25 20:24] PinpointTownes commented on #844
Hem, what do you want to validate exactly?

[2016-05-25 20:38] Tratcher commented on #844
I was testing something and it null refd on Options.ConfigurationManager. That said, ConfigurationManager seems to be optional, we just forgot to check for null in one place.

Are all the parameters really optional?

[2016-05-25 20:48] PinpointTownes commented on #844
I guess it was because of this line, which is not guarded against null values: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L108

Yes (and one must be able to use the JWT bearer middleware without having an OIDC server)

Currently, `Configuration` and `ConfigurationManager` are both `null` if you use the JWT bearer middleware as

[2016-05-26 18:33] leastprivilege commented on #839
IIdentity.Name only exists for backwards compatibility reasons. openid is the only required scope in OIDC. Adding to the collection has a nice C# syntax. Removing/clearing does not.

And since somebody decided that a collection is much more usable than a string - well - that should go into consideration.

[2016-05-26 18:39] PinpointTownes commented on #839
It doesn't change anything to the fact...
  1. It's still massively used.
  2. People will often need a user name in practice.

[2016-05-26 18:40] rwasef1830 opened #847 "Please provide a way to re-authenticate in the same request (clear AuthenticationHandler<TOptions>._authenticateTask)"
Hello aspnet team,
Sometimes I store sensitive information in the user claims which needs to be recomputed when a user changes their password. This means that I need to call ```Context.Authentication.AuthenticateAsync``` to reissue the cookie (for example. in the case of CookieAuthenticationHandler) to do it transparently during the POST of the password change action.

However, because ```Authenti

[2016-05-26 18:41] PinpointTownes commented on #839
If we can't bring back the good old delegate-style extensions, making the `Scope` property settable as suggested by the OP seems to be a good compromise, even if it's not recommended.

[2016-05-26 18:54] HaoK commented on #847
SignOut should clear the cookie, and you can call SignIn to issue a new cookie.  FYI Identity uses the OnValidateIdentity event on cookies to invalidate a cookie for a similar scenario, you should be able to do the same thing.

[2016-05-26 19:36] brockallen commented on #847
Or they could just assign the User on the current HttpContext.

[2016-05-26 19:39] HaoK commented on #847
Setting the user on the context doesn't affect anything past the current request, but that's certainly the easiest option if you just want to alter the claims for the current request.

[2016-05-26 19:44] rwasef1830 commented on #847
Thanks for the tip! I was able to get it to work by calling getting the claims on a variable, then calling ```SignOutAsync``` followed immediately by a ```SignInAsync``` passing in the claims.

One little ugliness was the need to call ```AuthenticateAsync``` to get at the ```AuthenticateContext``` from which I could reach the ```IsPersistent``` property (to maintain the cookie type).

Something mu

[2016-05-26 19:44] #847 closed

[2016-05-26 19:44] brockallen commented on #847
Sure (as it has always been), but that's all they're asking for.

[2016-05-26 19:45] rwasef1830 commented on #847
No, I needed to alter the persisted claims in the cookie for all future requests, not just the current request, so just updating the claims in the context wasn't enough.

[2016-05-26 19:48] rwasef1830 commented on #847
Actually even calling SignOut wasn't needed.

[2016-05-26 19:50] HaoK commented on #847
Nope, SignOut followed by SignIn on the same request is a no-op anyways,
since both modify the cookie and the last one will win.

On Thu, May 26, 2016 at 12:48 PM, Raif Atef <notifications@github.com>
wrote:

[2016-05-26 21:22] #814 closed

[2016-05-26 22:10] Eilon commented on #841
@HaoK can you show how to wire this up?

Then give to @blowdart to document this more completely.

[2016-05-26 22:14] Eilon commented on #839
Though we are aware of some issues in the current design, we feel that is strikes a balance compared to other alternatives. It's generally a bad practice to have settable collection types, we want a default set of scopes, etc.

[2016-05-26 22:14] #839 closed

[2016-05-26 22:15] Eilon commented on #838
Yes. Have a piece of 🍰.  😄

[2016-05-26 22:15] #838 closed

[2016-05-26 22:16] #833 closed

[2016-05-26 22:17] Eilon commented on #831
Cookies by default only get sent back to the same domain. Can you clarify what you're asking about?

[2016-05-26 22:18] #830 closed

[2016-05-26 22:18] PinpointTownes commented on #839
It's probably the best compromise if you don't reintroduce the `app.UseOpenIdConnectAuthentication(options => { ... })` overloads, tho.

[2016-05-26 22:23] Eilon commented on #827
Can you confirm that you have a redirect URI set up properly in the Microsoft Account configuration?

Or this might be an issue related to switching between HTTP and HTTPS, in which case try using the temporary workaround mentioned here: https://github.com/aspnet/IISIntegration/issues/140#issuecomment-215135928.

[2016-05-26 22:23] HaoK commented on #841
Issues is that we aren't using the IPolicyProvider in AuthorizePolicy.Combine, which MVC AuthorizeFilter is using to combine policies

[2016-05-26 22:27] Eilon commented on #834
Not planning on sealing it. It's fairly harmless to leave it as-is.

[2016-05-26 22:27] #834 closed

[2016-05-26 22:31] sadjadbp commented on #831
@Eilon I'm asking about "same-site cookie attribute" something like
`Set-Cookie: key=value; HttpOnly; SameSite=strict`

[2016-05-26 22:38] brockallen commented on #839
Tant pis, I guess :/

[2016-05-26 22:57] Eilon commented on #831
@blowdart @Tratcher ?

[2016-05-26 23:02] Tratcher commented on #831
Ah, this draft? https://tools.ietf.org/html/draft-west-first-party-cookies-07? Maybe when the spec is finished.

[2016-05-26 23:12] sadjadbp commented on #831
Thanks

[2016-05-26 23:12] #831 closed

[2016-05-26 23:47] sebastienros opened #849 "AuthorizationHandler<TRequirement> design questions"
Link to the class: https://github.com/aspnet/Security/blob/2634fe318d8b81a3fc6e7e67a2dca980fb9bcc69/src/Microsoft.AspNetCore.Authorization/AuthorizationHandler.cs

#### Assert
This class contains
- Handle(c)
- HandleAsync(c)
- Handle(c,r)
- HandleAsync(c,r)

It implements `IAuthorizationHandler` and hence its `HandlerAsync(context)` method is called for every requirement.

The goal of this class i

[2016-05-27 06:10] Brian-Ding commented on #827
@Eilon you mean adding these code in ConfigureServices? Still not able to login with @outlook.com microsoft account
![image](https://cloud.githubusercontent.com/assets/11363173/15599278/a73fdd2a-2414-11e6-8cf6-eaa0c1bdeb78.png)

[2016-05-27 19:34] divega commented on #849
Cc @haok @blowdart @muratg

[2016-05-27 20:09] muratg commented on #849
cc @Eilon

[2016-05-27 21:45] HaoK commented on #849
FYI this is a dupe of https://github.com/aspnet/Security/issues/739

That said, I think dropping the abstract and making it virtual is a decent compromise, I actually thought I already did that, but I had only mentally made that change instead of in reality.

I think that's a small change worth considering to make folks happy.

[2016-05-27 21:53] #423 closed

[2016-05-27 22:37] #780 closed

[2016-05-28 19:16] blowdart commented on #849
Yup, should happen

[2016-05-31 15:39] onovotny opened #853 "BuildRedirectUri doesn't work for *.azurewebsites.net"
When trying to use OIDC in a dev/test instance on Azure Websites using the default wildcard cert (*.azurewebsites.net), it seems the Request.Scheme is coming in wrong. I assume this is because Azure is terminating the connection.

I have already tried

[code]

But that doesn't work either. The redirect URI is generated as HTTP instead of HTTPS. There needs to be a better way of overriding the host

[2016-05-31 15:48] vcsjones commented on #853
Where in the pipeline is `UserForwardedHeaders` being set? Should be as far up in the pipeline as possible.

[2016-05-31 15:52] onovotny commented on #853
It's near the top:

[code]

[2016-05-31 15:59] PinpointTownes commented on #853
Duplicate of https://github.com/aspnet/IISIntegration/issues/140.

You can see [this post](https://github.com/aspnet/IISIntegration/issues/140#issuecomment-215135928) for a workaround.

[2016-05-31 16:18] onovotny commented on #853
Thanks, the fix of just using `ForwardedHeaders.XForwardedProto` worked for me. Closing.

[2016-05-31 16:18] #853 closed

[2016-05-31 17:00] muratg commented on #849
@HaoK Do you have time to do this for RTM?

[2016-05-31 17:30] sebastienros commented on #849
I created a PR if it can help you. It didn't do any breaking change in the current tests.

[2016-05-31 18:19] HaoK commented on #849
Yeah I can take a look today

On Tue, May 31, 2016 at 10:30 AM, Sébastien Ros <notifications@github.com>
wrote:

[2016-05-31 20:07] smbecker commented on #841
Will this make it in RTM?

[2016-05-31 20:46] #841 closed

[2016-05-31 21:07] HaoK commented on #841
Yeah it should make it.

[2016-05-31 21:26] smbecker commented on #841
Awesome because this will make my life a lot easier

[2016-05-31 22:03] jimmyrecardo opened #855 "Cookie ExpireTimeSpan not honoured using Auzure AD OpenIDConnect authentication"
I am currently struggling with setting the timeout on the cookie/auth token when authenticating my .NET Core App using Azure AD via the OpenIdConnect authentication model.

The sign-in scheme is being set in the ConfigureServices method via the following:

    services.AddAuthentication(options => options.SignInScheme = CookieAuthenticationDefaults.AuthenticationScheme);

I am then setting up my c

[2016-05-31 23:35] Tratcher commented on #855
AllowRefresh , IssuedUtc and ExpiresUtc do not apply for ChallengeAsync, only SignInAsync. OIDC does not directly support SignInAsync. You can hook into the OIDC Events and override where it calls SignInAsync.

Not sure why your CookieAuthenticationOptions.ExpireTimeSpan isn't working.

[2016-06-01 14:17] Tratcher opened #857 "Add details to the JwtBearer error messages"
JwtBearer adds error details to the response header for auth failures. Right now those errors are very generic based on exception types. We've asked IdentityModel to give us more details via exception properties.

https://github.com/aspnet/Security/pull/845#issuecomment-222839724
AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#422

[2016-06-01 14:18] #776 closed

[2016-06-01 16:24] leastprivilege opened #858 "AutomaticAuthenticate = true by default is dangerous"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L27

I can already see people doing getting that wrong when they wire up a 2nd cookies MW for external authN. False was the more secure default.

[2016-06-01 18:08] Tratcher opened #859 "Authorize(Github) may return a Facebook user"
https://github.com/aspnet/Security/pull/823/files/59fc691f4152e6d5017176c0b700ee9834640481#r64260972
For remote providers we implemented Authenticate to delegate to the current SignInScheme provider. However, we opted not to verify that the current identity provided by the SignInScheme provider was actually produced by the given middleware. E.g. When you have OAuth set up for Facebook and Github,

[2016-06-01 19:03] PinpointTownes commented on #858
Related topic: https://github.com/aspnet/Security/issues/569#issuecomment-154519589.

[2016-06-01 19:14] HaoK commented on #859
Just to be clear, prior to returning the SignInScheme Identity, Authorize on any remote provider would have thrown an exception?  So this is a new behavior we are defining?

[2016-06-01 19:21] Tratcher commented on #859
It used to cause an infinite loop because Authenticate(Github) always returned null, so a new Challenge(Github) would be issued. We broke the infinite loop by having it return the current SignInScheme user.

[2016-06-01 19:29] HaoK commented on #859
Okay yeah so that infinite loop behavior is the interaction between MVC's AuthorizeFilter and RemoteHandlers always returning null.  I don't think the new behavior will be too confusing since if they are sharing external cookies, they will likely not be calling the shared scheme Facebook/Google, but rather something like "External", so it would be more that you are getting the "External" identity

[2016-06-02 11:59] mythjuha opened #860 "Problem with authorization through policy's/requirements"
Almost certainly i'm doing something wrong, but i've been searching for days with no luck.

In my project, i'm using custom implementations of userstore, passworsstore, etc ... . And a custom class as "User".

[code]
In a API controller that has the policy as authorization, the code is executed and succees. However, my logs show me the following message:

What is the DefaultAuthorizationService an

[2016-06-02 16:38] jburbach opened #863 "Enable IClaimsTransformer to be specified in DI instead of only options"
I'm not sure whether to post this here or in the EF repo, but I figured I'd start here.

ASP.NET Core RC2 WebAPI/SPA using windows auth, and I'm attempting to do a very basic claims transformation by looking the ID up in my database with my DBContext and adding claims I find there to the windows principal. I am using a repository pattern with EF, all registered as Scoped lifetime, the dbcontext sh

[2016-06-02 21:42] muratg commented on #863
cc @HaoK @divega

[2016-06-02 21:47] HaoK commented on #863
@jburbach Can you include what your IUserRepository service looks like and how you register it in DI?

[2016-06-02 22:15] Tratcher commented on #860
DefaultAuthorizationService is the default implementation that evaluates policies. One of your requirements is failing.

[2016-06-02 22:22] Tratcher commented on #859
We're going to start by documenting this and see if users run into issues.

Other options:
- The app can store two identities in the cookie.

[2016-06-02 22:26] Tratcher commented on #858
There's a trade off here between security and usability, and in this case we think the usability issues are more impactful.

[2016-06-02 22:26] #858 closed

[2016-06-03 04:42] leastprivilege commented on #858
That's an OH ;)

[2016-06-03 06:09] mythjuha commented on #860
Is there a way to know which one? Because the policy only has 1 requirement, and when placing breakpoints, it succeeds:

context.Succeed(requirement);

[2016-06-03 17:34] Tratcher opened #864 "JwtBearer should append WWW-Authenticate to any existing values"
WWW-Authenticate can officially exist as a single header comma separated header or as multiple header entries, but browsers only support the former format. Right now the middleware appends a new string to the StringValues array, but it needs to append to the string directly.

Actual:
[code]
Expected:
[code]

[2016-06-03 18:22] PinpointTownes commented on #864
Adding `error`/`error_description`/`error_uri` in the equation makes thing much more complex:

[code]

I doubt many clients will be able to parse that correctly.

[2016-06-03 18:27] Tratcher commented on #864
I actually had to re-write the code for HttpWebRequest to parse that correctly, so I at least know that one works.

[2016-06-04 10:37] brockallen opened #865 "AllowAnonymous at controller can not be overridden at action"
The code below allow anonymous users to access ~/Movie/Index. I'd expect the [Authorize] on the action to override the inherited [AllowAnonymous]. I don't recall MVC 5 allowing that?

[code]

[2016-06-04 10:40] brockallen commented on #865
The same unexpected behavior is also allowed if you indicate a policy.

[2016-06-04 19:56] LukaszDev opened #866 "External login via Microsoft Account failed on RC2/RC3"
After moving my project to MVC Core RC2 I can't login via external Microsoft Account... Everything other works fine including login via Google Account.

It works perfectly on RC1 and nothing change directly in this part of my code after moving to RC2, of course I use new middleware - moreover I have updated authentication packages to RC3 and still have the same problem.

I'm pretty sure about my p

[2016-06-05 16:38] guylando commented on #866
I have the same problem.

[2016-06-05 21:59] Mendallas commented on #667
Sorry, I'm confused,
What do we need to do to resolve this issue ?
Could you give me an example ?

Regards

Charles

[2016-06-05 22:10] Tratcher commented on #667
@Mendallas we made internal changes for 1.0 that should address this (https://github.com/aspnet/Security/pull/823). You shouldn't have to make any changes yourself. You can try the pre-release packages on myget.org or wait for 1.0 to release.

[2016-06-06 00:52] dougbu commented on #865
@brockallen have you already tested the behaviour when using MVC 5?

Separately I suspect the relevant code is in the [MVC repo](https://github.com/aspnet/Mvc).

[2016-06-06 06:22] mythjuha commented on #865
Is it nesceserry to put [AllowAnonymous] on top of the controller? Just remove it, and everything will be allowed anonymous except for those actions where you've put the Authorize attribute.  [AllowAnonymous] to override actions in a [authorize] controller.

[2016-06-06 06:59] gabrielacosta opened #869 "Project Microsoft.AspNetCore.Authentication does not have a lock file"
I was trying to test the samples in the security package. I keep getting this error
Project.AspNetCore.Authentication does not have a lock file
when I try to run any example.
Could you please tell me how to fix it.

[2016-06-06 07:17] gabrielacosta commented on #869
Sorry, I open the entire solution and the lock error is not appearing anymore. Now, I have this issue.

C:\JuanStuff\Code\Mono\Security\samples\SocialSample>dotnet restore
log  : Restoring packages for C:\JuanStuff\Code\Mono\Security\samples\SocialSample\project.json...
info :   CACHE https://myget-2e16.kxcdn.com/artifacts/aspnetcidev/nuget/v3/flatcontainer/microsoft.netcore.platforms/index.json
i

[2016-06-06 12:03] brockallen commented on #865
It is if you have a global authorization filter.

MVC5 works the same, but now that I think about it a [OverrideAuthorization] was added at some point to fix this in MVC v.Old.

[2016-06-06 12:05] brockallen commented on #667
For now if you disable AutomaticChallenge on the OIDC MW, then it will fall thru to the cookie middleware and get the desired AccessDeniedPath rendering.

[2016-06-06 16:57] HaoK commented on #849
35d0592701c4aa2edb6da919b629f87b8701807a

[2016-06-06 16:57] #849 closed

[2016-06-06 17:46] Tratcher commented on #866
MicrosoftAccount was moved to the new v2 endpoints which requires re-registering your application:
https://azure.microsoft.com/en-us/documentation/articles/active-directory-v2-app-registration/

Please try that and let us know if you are still having issues.

[2016-06-06 17:49] Tratcher commented on #827
Possibly related: https://github.com/aspnet/Security/issues/866#issuecomment-224033615

[2016-06-06 20:02] erwinwildenburg opened #870 "Azure AD Joined PC with Microsoft Edge and OpenIdConnectAuthentication doesn't work"
When a AzureAD joined Windows 10 PC with Microsoft Edge accesses a webpage with OpenIdConnectAuthentication it will receive the message.State is null or empty error. On a non-AzureAD joined Windows PC it will work OK.
[code]

[code]

[2016-06-06 20:08] LukaszDev commented on #866
Yes, Creating new app on https://apps.dev.microsoft.com following your instruction is solution in my case.

Now it's working perfectly. Thank you :)

[2016-06-06 20:17] LukaszDev commented on #827
I had exactly the same problem when I forgot add `/signin-microsoft` in registred URL on my app settings... but after that everything works well.

Hovewer I'm using only localhost in development and my own server/domain in production - I have no test this on Azure.
<br>
@Brian-Ding wrote:

maybe problem is with `http` - as far I know it should be `https` ?

[2016-06-06 21:58] Tratcher commented on #870
Can you share a Fiddler trace of the success and error cases?

[2016-06-06 22:57] Tratcher commented on #869
What happens if you run the build.sh script in the root `Security\` directory?

[2016-06-06 23:14] erwinwildenburg commented on #870
Attached are the requested traces.
Succes case is a non-azure ad joined pc
Failed case is a azure ad joined pc
Both used the same account for authentication
[Fiddler Traces.zip](https://github.com/aspnet/Security/files/301529/Fiddler.Traces.zip)

[2016-06-07 00:36] levitatejay opened #872 "Custom JSON response from Policy-Based Authorization is being overwritten"
https://github.com/aspnet/Identity/issues/858

[2016-06-07 03:16] gacostab commented on #869
I tried the build and it when fine until this...

Project OpenIdConnect.AzureAdSample (.NETFramework,Version=v4.5.1) will be compiled because expected outputs are missing
Compiling OpenIdConnect.AzureAdSample for .NETFramework,Version=v4.5.1
C:\Users\juan\AppData\Local\Microsoft\dotnet\dotnet.exe compile-csc @C:\JuanStuff\Code\Mono\Security\samples\OpenIdConnect.AzureAdSample\obj\Debug\net451\dotn

[2016-06-07 14:09] Brian-Ding commented on #866
how can set the directuri of my web application to be https:// instead of http:// after I deployed it to azure?

thank you

[2016-06-07 14:23] Brian-Ding commented on #827
@LukaszDev thank you for your reply, I believe the reason is as Tratcher replied, but I have no idea how to make my web redirect to https:// when users log in, is there any chance that you may know how to do that?

thank you

[2016-06-07 16:52] PinpointTownes commented on #869
Your clone is probably a bit old now, and doesn't include the latest commits. Specially this one: https://github.com/aspnet/Security/commit/33b69c14edda3d96bc489e74a8ecf8d98f55ef25

Rebase your local branch or re-clone this repository and this error should disappear.

[2016-06-07 16:55] Tratcher commented on #869
Ah, you caught me half way through a minor breaking change. The updated packages should be available now.

[2016-06-07 19:08] PinpointTownes commented on #870
That's an interesting bug.

[code]

For some reason, the browser doesn't correctly flow the form values:

[code]

FWIW, I don't think it's caused by the OIDC middleware. It sounds like a browser bug. Have you tried with Chrome or Firefox?

[2016-06-07 20:12] erwinwildenburg commented on #870
Hi,
Other browsers like Internet Explorer, Chrome and Firefox work perfectly.
If I use Internet Explorer for the automatic signin it also works! So this issue seems to be related to Edge automatic signin...

I also noted something strange. It works locally (I usually test with Chrome so I never noticed before). But as soon as I publish it to Azure this error starts popping up.
Testing locally work

[2016-06-07 21:32] Tratcher commented on #827
@Brian-Ding did you apply this Azure workaround? https://github.com/aspnet/IISIntegration/issues/140#issuecomment-215135928

[2016-06-07 22:21] Tratcher commented on #872
@HaoK?

The repro is very MVC specific, it may be an issue with the flow there.

[2016-06-07 23:43] levitatejay commented on #872
In RC1 I was using AuthorizationFilterAttribute to check my requirements and create a custom JSON response with a message and 403 status code.

In RC2 the AuthorizationFilterAttribute has been removed (https://github.com/aspnet/Mvc/issues/4233) because authorization policies and requirements are now the recommended way to handle authorization.

However, I can't figure out how to use policies to re

[2016-06-07 23:46] HaoK commented on #872
@blowdart for his thoughts as well.  but its not the Policy's job to return custom message or status code.  you should be able to handle authZ failures gracefully at a higher level.

[2016-06-08 00:05] levitatejay commented on #872
What level should I be handling this at? I don't want to fill each controller action with authorization logic and the AuthorizationFilterAttribute has been removed...

It makes sense to me that I can decorate a controller action with something like:
`[Authorize(Policy = "ValidLicence")]`
and if someone submits a request with an out of date licence they get the response:
[code]
Especially as I add

[2016-06-08 00:16] LukaszDev commented on #827
It's depend... If you want set up `https` for all site you can enforcing SSL in your `Startup.cs` file:

[code]
Of course you need to have domain + SSL certificate.

For local use Visual Studio will create temporary SSL certificate for your local IIS, when you configure project to run with SSL.

Here is example from my MVC Core RC2 project (this is configuration in properties tab):
![ssl](https://

[2016-06-08 00:29] LukaszDev commented on #866
Please find my answer in original issue: [aspnet/Security#827 (comment)](https://github.com/aspnet/Security/issues/827#issuecomment-224452348).

[2016-06-08 00:33] blowdart commented on #872
Its not unreasonable, but it'd be hard to make generic so it flows over all different types of responses, headers, JSON or HTML. That's certainly outside of the scope for authorization itself, as it has no notion of presentation.

Worth thinking about in 1.1.

[2016-06-08 01:02] PinpointTownes commented on #872
@levitatejay I took the liberty to close [the related ticket you opened on the OpenIddict repository](https://github.com/openiddict/openiddict-core/issues/134), since OpenIddict is not responsible of applying the authorization policies.

app.UseIdentity()
app.UseJwtBearerAuthentication()
app.UseOAuthValidation() (AspNet.Security.OAuth.Validation)

As mentioned, the scenario you're trying to achiev

[2016-06-08 01:29] levitatejay commented on #872
Could someone please recommend a workaround for the meantime?

In RC1 I was creating a custom `AuthorizationFilterAttribute` for each case but they are gone in RC2.

I have a few ideas but I don't like any of them:
- Throw custom exceptions in my requirement handlers and catch them somewhere (where?) and modify the response then?
- Create a new scoped service with an `IAuthorizationRequirement Fai

[2016-06-08 02:43] levitatejay commented on #872
Also where is the response body being overwritten? I can see in `Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs` the response status code is being overwritten:
[code]
But where is the body overwritten?

[2016-06-08 03:15] Tratcher commented on #872
It's probably not overwritten so much as merely ignored and never sent from `mvcContext.Result`.

[2016-06-08 04:43] levitatejay commented on #872
@Tratcher Thank you! I just discovered that I can change the response from the requirement handler by using: `mvcContext.HttpContext.Response.Body.Write(data, 0, data.Length);`

It seems that writing to the response body causes the auth middleware to ignore the challenge... (HandleForbiddenAsync isn't getting called). I'm not sure why though?

Are you able to shed some light on why this works but

[2016-06-08 10:50] bachratyg opened #874 "SystemClock implementation is not monotonic"
The SystemClock implementation has an observable discrepancy where a later call to SystemClock.UtcNow produces an earlier timestamp.
The current implementation states that
[code]
however it will not result in whole seconds for e.g. new DateTimeOffset(636009776600935249, TimeSpan.Zero) will still have 0.0005249 fractional seconds after truncating milliseconds.
Assuming that the comment is right (e.

[2016-06-09 15:56] hsorbo opened #875 "JwtBearerMiddleware instantiation issues in integration tests."
Souldn't  app.UseJwtBearerAuthentication work without explicitly adding UrlEncoder to DI when Integration-testing?

[code]

Example test.

[code]

adding this to Startup resolves the issue

[code]

[2016-06-09 16:44] Tratcher commented on #875
UrlEncoder is required by the base class AuthenticationMiddleware. `services.AddAuthentication()` will register it for you.

[2016-06-09 16:46] hsorbo commented on #875
Thanks

[2016-06-09 16:46] #875 closed

[2016-06-09 17:14] Tratcher commented on #872
HandleForbiddenAsync can't run after you write to the body because the headers have already been sent. I don't recommend this approach as it can flush the headers before MVC is finished and may cause errors if MVC tries to set more headers.

[2016-06-09 21:55] Tratcher commented on #874
Did you find any behavioral side-effects from this? Or is it just a correctness issue?

[2016-06-09 21:57] Tratcher commented on #869
Closing this for now. Let us know if you have any additional issues.

[2016-06-09 21:57] #869 closed

[2016-06-09 22:06] Eilon commented on #860
We should add some verbose logging for when evaluations of a policy succeed.

[2016-06-09 22:07] Eilon commented on #863
Closing because we cannot reproduce this. Please re-open if you have more info. Thanks!

[2016-06-09 22:09] Eilon commented on #864
We do this on purpose. Please talk to @Tratcher if you don't believe me 😄

[2016-06-09 22:09] #864 closed

[2016-06-09 22:11] Eilon commented on #865
This design is deliberate.

[2016-06-09 22:11] #865 closed

[2016-06-09 22:11] PinpointTownes commented on #864
Best explanation ever :trollface:

[2016-06-09 22:17] Eilon commented on #874
Closing this because we're not aware of anything that could be more than a fraction of a millisecond off.

[2016-06-09 22:17] #874 closed

[2016-06-09 22:22] Eilon commented on #870
@vibronet this appears to be a compat issue between Azure AD and Edge. Can you follow up with Edge folks to get a resolution to this?

[2016-06-09 22:30] Tratcher commented on #864
Yeah, I had it backwards. Browsers require separate headers for www-authenticate.

[2016-06-09 22:40] brockallen commented on #865
Is there a plan to have the same [OverrideAuthorization] feature then as MVC 5?

[2016-06-09 22:42] PinpointTownes commented on #864
Ah, that's clearer :smile:

I'm still not sure why you'd want multiple automatic authentication middleware to apply a challenge at the same time, but okay.

[2016-06-09 23:05] Tratcher commented on #864
Basic, Bearer, Negotiate, and Kerberos are all compatible and the client can choose between them.

[2016-06-09 23:13] PinpointTownes commented on #864
In theory, sure. But in practice I can't think of scenario where you'd like to mix basic and bearer :smile:

IMHO, Negociate and Kerberos are unlikely to be added at the app/middleware level (unless someone is brave enough to write a managed implementation :smile:).

It's more something that should be handled at the host level. And in this case, what's supposed to happen if the app has already sen

[2016-06-09 23:21] Tratcher commented on #864
WebListener is plugged into the Challenge pipeline to add the auth headers as needed. IIS can add headers as well.

[2016-06-09 23:53] Eilon commented on #865
@brockallen no plan at this time. We have an issue tracking it here: https://github.com/aspnet/Mvc/issues/4203

There hasn't been much demand for it so far, and to be honest, we were never super happy about the design. So if we bring something like it back in the future, it would likely take a different shape (though we don't know quite what exactly).

[2016-06-10 03:07] alaatm opened #878 "How do I specifiy AccessDeniedPath?"
In RC2, it looks like we no longer use `app.UseCookieAuthentication(options => \* ... *\);` but instead `app.UseIdentity();`. In this case, how can I set a custom value for `AccessDeniedPath`?

Also, how do I prevent the cookie auth middleware from doing the redirect all together. I would like to receive a 403 when authorization fails and handle it through `app.UseStatusCodePagesWithReExecute("/h/

[2016-06-10 06:59] bachratyg commented on #874
I originally encountered this issue in the old owin implementation where the SystemClock seems to be positioned as a more generic component (opened an issue there too), then checked up on netcore to see if it's the same.
Apart from auth I use the clock to timestamp records created in the database. The client creates a resource and then queries all resources in a subsequent request (which is indepe

[2016-06-10 16:24] Eilon commented on #874
@bachratyg ah, thanks for the extra info. In this case the SystemClock stuff is there just for testing purposes so that we can "mock" or "stub" the current time to create deterministic tests. Ideally it wouldn't even be exposed. We were investigating ways of avoiding having it show up, but weren't able to come up with a solution we liked in the time we have.

[2016-06-10 16:46] Tratcher commented on #874
Yeah, this really is only intended for use in the cookie auth context where seconds are the lowest level of granularity. You're welcome to copy the abstraction, but the implementation is not well suited to your scenario.

Note that the implementation over in MemoryCache does not do such rounding: https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/Internal/Syst

[2016-06-10 18:02] Tratcher commented on #878
The relationship between UseCookieAuthentication and UseIdentity has not changed in RC2. If you're using the Identity components you need to use UseIdentity, which internally registers several cookie auth instances. You can configure these via:
[code]
You can override the behavior via the events:
https://github.com/aspnet/Security/issues/588#issuecomment-169174022

[2016-06-10 22:25] #878 closed

[2016-06-10 22:38] HaoK commented on #190
38e89d498da65ceb603b3b19e5c8fb64e2986ca4

[2016-06-10 22:38] #190 closed

[2016-06-11 15:24] brockallen commented on #865
Agreed, I don't like the [OverrideAuthorization], as if feels (and was IIRC) bolted on as an afterthought. Just as a FYI, semversioning allows for breaking changes when you go to v2.0 :)

[2016-06-12 20:43] 8snit opened #879 "AuthorizationHandlerContext responsibility split up & thread safety"
short background - we are currently bringing our ABAC approach forward, staying on the XACML path conceptually (architecture/flow) but replacing the language element part with "code" to make it more developer friendly (the "leave rules to business experts" thing didn't work out for us so far...)

first of all, thx for the great job with the authorization abstractions, without too much tweaking we

[2016-06-13 04:53] dallasclement opened #880 "Microsoft.AspNetCore.Authentication.Salesforce"
Hi.  Just wanted to check if anyone is working on some OAuth 2.0 Salesforce authentication for asp.net core?

[2016-06-13 04:54] davidfowl commented on #880
It's here https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src

[2016-06-13 04:54] davidfowl commented on #880
Specifically https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.Salesforce

[2016-06-13 05:37] dallasclement commented on #880
Thanks davidfowl.  I'm looking for something that can support a salesforce connected app and can implement a callback handler for the oauth token.  I was imagining something that would follow a similar pattern to Microsoft.AspNetCore.Authentication.Google etc.

[2016-06-13 14:03] jburbach commented on #863
@Eilon @HaoK My apologies for not responding quicker. Left for vacation and wasn't checking messages.

I register it like so
`services.AddScoped<IUserRepository, UserRepository>();`

and here is my UserRepo

[code]

[2016-06-13 14:25] PinpointTownes commented on #880
@dallasclement FYI all the aspnet-contrib social providers are based on the [OAuth2 generic middleware](https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.Authentication.OAuth) and follow exactly the same approach as the FB/Google/MSFT providers maintained by the ASP.NET team.

[2016-06-13 17:28] HaoK commented on #863
How are you registering EmployeesAppContext  in Startup, my guess this is the root issue...

[2016-06-13 17:28] PinpointTownes commented on #863
The root cause of the issue you're seeing seems quite clear for me: your claims transformer - necessarily a singleton by definition, since it's attached to `ClaimsTransformationOptions` - relies on a scoped dependency which is disposed when the scope is closed (in this case, the HTTP request). When you make a second request, the claims transformer middleware invokes your transformer and indirectly

[2016-06-13 17:33] HaoK commented on #863
Hrm it seems bad if claims transformation can't use the scoped DbContext easily.  Seems like something we should look at in 1.0.1

[2016-06-13 17:34] HaoK commented on #863
Although I guess the workaround to just get any scoped services from the context RequestServices doesn't seem that bad, but this seems like this will be a common pitfall.

[2016-06-13 17:39] PinpointTownes commented on #863
Well, it's not just claims transformation, it's everything using "services as options", which impacts the whole stack, not just the security middleware.

Personally, I don't have any particular problem with the service locator pattern (at least, as long as it's not static), but many people consider that as an anti-pattern.

Having a cool sugar like the one that was suggested would have been great.

[2016-06-13 17:53] dallasclement commented on #880
Got it.  Thanks @PinpointTownes.

[2016-06-13 20:00] Eilon commented on #816
@blowdart @HaoK anything we plan to do here for 1.0.0? If we can get something done ASAP we can try to sneak it in. Otherwise it'll have to wait.

[2016-06-13 20:13] HaoK commented on #816
I believe this was a doc doc issue, not xml doc

[2016-06-13 20:14] HaoK commented on #816
Or maybe @blowdart already updated the doc comments to address this

[2016-06-13 20:21] blowdart commented on #816
Nope. We probably should though.

How about

        /// <summary>
        /// Checks if a user meets a specific set of requirements for the specified resource
        /// </summary>
        /// <param name="user">The user to evaluate the requirements against.</param>
        /// <param name="resource">
        /// An optional resource the policy should be checked with.
        /// If a resource i

[2016-06-13 20:46] jburbach commented on #863
I'll modify my code and verify. I agree @HaoK, I think this will be a very common issue people have unless it's made VERY clear in your documentation that they can't do this.

[2016-06-13 21:03] HaoK commented on #816
Fine with me, @Eilon can I check this change in today?

[2016-06-13 22:24] #816 closed

[2016-06-14 01:07] levitatejay commented on #872
If the authorization middleware has no concept of presentation then it should be possible for us to put in our own middleware in the pipeline that can inspect what requirements failed for the request and modify the response body accordingly.

[2016-06-14 03:50] #880 closed

[2016-06-14 15:36] jburbach commented on #863
This appears to have corrected the issue. Thank you @PinpointTownes.

There is one other thing I'm running in to that I wasn't sure was related, but now I think it is. There are errors I get when the app first starts that appear to be trying to use the dbcontext to look up the user, but the context isn't ready yet. This only happens on the initial browser launch, I can then just refresh and get my

[2016-06-14 16:40] bachratyg commented on #874
Thanks for the clarification.
One last question: are you aware of any harmful side effects if I plug in an implementation that does _not_ truncate? I'd like to use a single clock dependency/fixture through my app (possibly implementing ISystemClock from multiple packages as necessary) to simplify test code.

[2016-06-14 17:04] anurse commented on #837
Just clarifying that this wasn't actually changed and tagging as 'wontfix' to ensure we're covering things right for RTM

[2016-06-14 17:19] anurse commented on #722
'wontfix' ?

[2016-06-15 18:00] dstrockis opened #883 "OpenIdConnect with AAD does not return error_description"
If AAD gives an error during the auth pipeline, the middlware swallows up the `error_description` from AAD and doesn’t return it to the developer.  It makes it pretty difficult to debug issues when talking to AAD.

You can repro by forgetting to include a client secret in the OIDC config, and letting the middleware attempted to redeem the auth code without a client secret. It will result in a 400

[2016-06-15 18:04] dstrockis opened #884 "Can't perform custom error handling using OpenIdConnect OnAuthenticationFailed event"
I couldn’t figure out how to get the OnAuthenticationFailed event to work how I wanted it to.  My goal was to catch any exceptions that occurred during the auth pipeline & redirect to my own custom error page with information about the exception – the code is here: https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/blob/master/WebApp-OpenIDConnect-DotNet/Start

[2016-06-15 19:44] Tratcher commented on #883
It fails here:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L670
with a 400 response. This gets caught by https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L622, runs AuthenticationFailed, and re-throws. Assuming nobody catches this then the server wi

[2016-06-15 21:19] Tratcher commented on #884
HandleResponse isn't working in OnAuthenticationFailed. Use OnRemoteFailure instead. I don't think we need OnAuthenticationFailed anymore, it seems redundant with OnRemoteFailure.

[2016-06-15 21:46] Tratcher commented on #884
FYI: JwtBearer has a similar issue with OnAuthenticationFailed and I don't see an easy workaround there.

[2016-06-15 21:46] Tratcher commented on #884
@HaoK

[2016-06-15 22:28] HaoK commented on #884
Yeah we should just remove the OIDC specific OnAuthenticationFailed since we have OnRemoteFailure now...

[2016-06-16 07:39] johnkors commented on #390
Will this fix be in any of the v.3.* -packages of `Microsoft.Owin.Security.OpenIdConnect` as well, or what is the plan exactly here..?

We're currently being forced to downgrade to `3.0.0` from `3.0.1` because of this.

[2016-06-16 14:23] Tratcher commented on #390
@johnkors Given the imminent release of Asp.Net Core there's no plan to backport this change to the Microsoft.Owin packages.

[2016-06-16 16:10] jburbach commented on #863
To follow up, I don't think this issue is completely resolved for me. I get seemingly random 500 errors from my API calls that say this:

```InvalidOperationException: An attempt was made to use the context while it is being configured. A DbContext instance cannot be used inside OnConfiguring since it is still being configured at this point.```

This is the same error I get on startup, and it happ

[2016-06-16 17:24] jburbach commented on #863
In fact, even if I replace the database lookup with something simple like this, which just gets a list of possible permissions from an Enum and adds them to the identity:

[code]

[2016-06-16 17:26] PinpointTownes commented on #863
Any chance you could share your updated transformer and your Startup class (or better a complete repro?) :smile:

[2016-06-16 17:28] jburbach commented on #863
I can't publish my full code, but if it comes to it and you guys need a solution I can try to put something together that reproduces the issue. Was hoping maybe there would be an "aha moment" before it came to that though. :)

[2016-06-16 18:45] adamholdenyall commented on #863
There is an overload to app.UseClaimsTransformation that takes in a delegate to get your claims transfomer, and that seems to run on a per-request basis. So your ClaimsTransformer does not need to be a singleton. You still have to use the context as a ServiceLocator, but it can be done outside of your ClaimsTransformer, which can still be registered as scoped.

I added this block above my app.UseM

[2016-06-16 20:24] jburbach commented on #863
@adamholdenyall That's it! Once we eliminate the claimstransformer as a singleton and have it recreated every request, no more errors and it appears to play perfectly with EF now.

I think this is even more evidence that they need to marry this up like @PinpointTownes suggested earlier. The fact that using `RequestServices.GetRequiredService` didn't even work and I had to abandon the whole options

[2016-06-16 22:13] Eilon commented on #884
We should add the newer/better event to the JWT flavor as well.

[2016-06-16 22:16] brentschmaltz commented on #884
OnAuthenticationFailed was meant to indicate that we couldn't authenticate the user. I don't think OnRemoteFailure has the same semantic. This is also a change from Katana.

[2016-06-16 22:21] Eilon commented on #863
We should give some more love to claims transformation.

[2016-06-17 01:50] Tratcher commented on #884
The other event does not apply to JWTBearer, it's from the base class for the redirecting middleware.

[2016-06-17 17:25] Tratcher commented on #884
OnRemoteFailure has the same parameters and conditions and executes immediately after OnAuthenticationFailed. The only difference is the name.

[2016-06-17 17:26] Tratcher commented on #884
Since this was not removed for RTM, we'll have to keep it and see if there's some way to fix it.

[2016-06-17 19:27] joeaudette commented on #866
I'm experiencing this same issue today, creating a new app did not solve it for me, I get the same error with the new app

Exception: OAuth token endpoint failure: Status: BadRequest;Headers: Cache-Control: no-store, no-cache
Date: Fri, 17 Jun 2016 19:27:21 GMT
Pragma: no-cache
P3P: CP="DSP CUR OTPi IND OTRi ONL FIN"
Server: Microsoft-IIS/8.5
Set-Cookie: esctx=AAABAAAAiL9Kn2Z27UubvWFPbm0gLf7i59mie

[2016-06-17 20:28] LukaszDev commented on #866
I assume that new app is in new MS Service, then you have error:
[code]

1. Basic question, but... are you using new `Client Id` and `Client Secret` in your web project ?

2. Are you using new `Microsoft.AspNetCore.Authentication.*` package - at least RC2 ?

[2016-06-17 21:17] joeaudette commented on #866
1. yes
2. yes RC2

Also all the other social auth providers are working for me.

And exactly like in your screen shot, when redirected to microsoft it appears to recognize my app credentials and prompt me that my app wants to access my profile

you can see my [startup here](https://github.com/joeaudette/cloudscribe/blob/master/src/example.WebApp/Startup.cs) which calls [extension methods here](htt

[2016-06-17 21:54] LukaszDev commented on #866
Ok, looks like you are using `http` - but you should use `https` (ssl).

I have read about this requirement at official docs, but don't remember exactly where.

Looks also here: #827.

<br>From other things...

**1.** I see that you are using custom configuration of `Cookie Authentication` - I have no experience with this, so can't tell, but maybe this has impact on MsAccount middleware ?

**2.**

[2016-06-17 21:56] LukaszDev commented on #866
Reopen for @joeaudette.

[2016-06-18 12:16] joeaudette commented on #866
correct clientid and secret are being used

in the debugger it does not hit any errors in my own code and nothing looks corrupted in the data before it redirects to Microsoft. error seems to happen in the middleware after Microsoft redirects back to localhost

I am testing on localhost without ssl. It works for all the other providers ie google, facebook, twitter, all working for me. I would use s

[2016-06-18 12:55] LukaszDev commented on #866
Yes, but https it's Ms Account recuierment, it's not middleware so it's not apply to other providers.

On old Ms App it's works well on both http and https, but - as far I know -  with new Ms App it's require to use https.

In my project I'm using https wit localhost and works well.

So maybe try that - it's simple and don't take a lot of time.

It's my last idea ;)

[2016-06-18 13:05] joeaudette commented on #866
yeah it will probably work with ssl on localhost, and in production. I mainly posted here to make the team aware of the problem.
If the team considers this to be expected behavior then it would be good for one of them to say so here. If they do that then I would be satisfied if this issue is closed, but I think it should stay open until there is an official statement about it. If there is an offic

[2016-06-18 13:10] PinpointTownes commented on #866
In theory, the authentication flow shouldn't fail at the token request stage for an invalid redirect_uri (e.g because it's not a HTTP address): it's too late for that. It's a requirement that should be enforced at the authorization request level, when redirecting the user to the Azure AD endpoint.

That said, I wouldn't be surprised if MSFT's OAuth2/OIDC sauce was not really spec-compliant. It wou

[2016-06-18 13:19] joeaudette commented on #866
yeah, if Microsoft does require ssl then when I create my app at apps.dev.microsoft.com and enter the redirect url they should not allow me to enter an url without https, that would make it very clear

[2016-06-18 13:26] LukaszDev commented on #866
Like I said before: 'I don't remember exactly where' I read about this... so in other word I'm not sure about that! That's why I suggest test it ;)

For me it's working well, and unfortunately I have no idea what we can try else.

I have reopen this issue for you yesterday, so I hope someone from aspnet team will be able to help.

[2016-06-18 21:12] LukaszDev commented on #866
Ok, Found it :)

Is mentioned about this in two place:

 - docs: [Restrictions on app registrations]():

- when you trying register app:

![image](https://cloud.githubusercontent.com/assets/17419186/16173686/5aff6d2e-35a1-11e6-966c-31e7b27b7644.png)

So, my question is - are you sure that you use new app platform v2 ?
Looks, like registration form not allow you to register 'http' - so, how you can

[2016-06-19 19:51] joeaudette commented on #866
yes I'm using a new app endpoint v2
it still allows you to enter an url with http://localhost...
if you type a few more characters that warning goes away, it does not prevent you, please try again and see for yourself
http:// is not valid and is blocked
http://localhost is valid and allowed
http://somedomain is valid and allowed

I admit the warning would make you think https is required but it is

[2016-06-19 19:55] PinpointTownes commented on #866
@joeaudette but just to make sure, you should try with a HTTPS address.

[2016-06-19 20:04] joeaudette commented on #866
ok, just tested with ssl and I still get the same error:

An unhandled exception occurred while processing the request.

Exception: OAuth token endpoint failure: Status: BadRequest;Headers: Cache-Control: no-store, no-cache
Date: Sun, 19 Jun 2016 20:02:49 GMT
Pragma: no-cache
P3P: CP="DSP CUR OTPi IND OTRi ONL FIN"
Server: Microsoft-IIS/8.5
Set-Cookie: esctx=AAABAAAAiL9Kn2Z27UubvWFPbm0gLX2WDMlTMbA

[2016-06-20 08:21] Brian-Ding commented on #866
try to add this in your Configureservices method

            {
                options.ForwardedHeaders = ForwardedHeaders.XForwardedProto;
            });

[2016-06-20 12:30] joeaudette commented on #866
today my error changed without any changes in my code:

     We're unable to complete your request
     Microsoft account is experiencing technical problems. Please try again later.

I tried also the suggestion from @Brian-Ding but I still get this error.

I will try creating a new web app with the default project template and see if I can get it working there to find out if there is anything spec

[2016-06-20 12:50] joeaudette commented on #866
I can confirm that I get the same result with a new application configured today and using a new web app created with the default VS2015 project template with identity and using https for the redirect url.  Adding forwarded headers in ConfigureServices makes no difference

[2016-06-20 14:39] Brian-Ding commented on #866
@joeaudette OK, if you are getting

 Microsoft account is experiencing technical problems. Please try again later.

take a look at that url, if will contain the error info, and you can share it here, if you like

[2016-06-20 15:17] Brian-Ding commented on #866
As the url says, your redirecturl is incorrect, you may want to check the url when you enter your account name(email) & password, It will contain the info of the redirecturl
![image](https://cloud.githubusercontent.com/assets/11363173/16199640/f7fddc18-373c-11e6-9acf-8760546f7b9c.png)

[2016-06-20 15:27] joeaudette commented on #866
my redirect url is configured at apps.dev.microsoft.com as https://localhost:44399/signin-microsoft

which should be correct and I am using the correct client id and secret that corresponds with that configured redirect url

I'm configuring my web app like this:

    var microsoftOptions = new MicrosoftAccountOptions();
            microsoftOptions.ClientId = "myclientid";
            microsoftOpt

[2016-06-20 15:31] Brian-Ding commented on #866
1. well , your redirect url registration looks good to me, but I am no expert.
2. your configuration in Method looks good as well,
3. but could you please check you url when you sign in? just to make sure the directurl your web app used matches the one you registered. you can just paste that url here

[2016-06-20 15:37] joeaudette commented on #866
It is not showing me the url in the UI, and not prompting me for my password, I guess since I am logged into Microsoft for other services in this browser.
I do see in the url at microsoft it looks like my redirect url is encoded there:

    https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=000000004819E73C&scope=https%3A%2F%2Fgraph.microsoft.com%2Fuser.read&response_type=cod

[2016-06-20 15:39] joeaudette commented on #866
I'm not sure about the url encoding, it doesn't look like the correct port, but maybe that is just the encoded value?

[2016-06-20 15:39] PinpointTownes commented on #866
Wrong port + wrong scheme: `http://localhost:55190/signin-microsoft`.

[2016-06-20 15:40] joeaudette commented on #866
so the middleware is not passing the right redirecturi?

should I override the callbackpath with the full url?

[2016-06-20 15:40] Brian-Ding commented on #866
yep, if you look at it closer, you will see

 which is saying

clearly, it is not the same with your registration

[2016-06-20 15:42] Brian-Ding commented on #866
there is no need to override redirecturl, just make sure that your server listens at

then it should be fine

[2016-06-20 15:47] joeaudette commented on #866
ok, what I was doing wrong was launching the browser on the non secure port without https so it was passing the wrong port.
I must not have had enough coffee this morning.
But now that I tried it with starting out on my local app with the https url, I'm back to the previous error:

An unhandled exception occurred while processing the request.

Exception: OAuth token endpoint failure: Status: BadRe

[2016-06-20 15:51] PinpointTownes commented on #866
/cc @vibronet @RandalliLama

[2016-06-20 15:59] Brian-Ding commented on #866
I ran into the same OAuth token endpoint failure before I registered my web application in the new portal, which should the same as you said

but everything works ok once I registered my app again in the new portal. Maybe you should delete your app, and try to register another one.

please note that, if you are registered in old style, under Web section, it will show 2 input textbox, instead of on

[2016-06-20 16:02] Brian-Ding commented on #866
![image](https://cloud.githubusercontent.com/assets/11363173/16201325/749ec1be-3743-11e6-9b0d-1ca401cc5e35.png)

[2016-06-20 16:07] joeaudette commented on #866
I think you are on to something, for me I have 2 sections for adding apps and all of mine are under the Live SDK Apps section and they have 2 text inputs, so maybe I am making them in the wrong place.

But when I try to add an app at the top of the page in the main section it does not automatically create any clientsecret and I only see buttons for creating a password or a key pair which doesn't s

[2016-06-20 16:12] Brian-Ding commented on #866
that is exactly the ways it is. it will show the clientid automatically, for the clientsecret, just click on Generate New Password, and copy that to somewhere safe.

that should solve your problem now.

Best of luck

[2016-06-20 16:14] joeaudette commented on #866
ok that solved it, create password button did the trick, sorry for wasting everyone's time with my stupidity.
I think the mismatch of labeling for clientsecret vs password is what made me think I was in the wrong place so I kept doing it wrong, I thought if I was at the right url for creating apps I could not be doing it wrong but I was doing it wrong since it is still possible to create the old v

[2016-06-20 16:18] joeaudette commented on #866
thanks for all the help!

[2016-06-20 16:18] Brian-Ding commented on #866
great！

I think they may close the issue now, while open a new one called "change generate new password to generate new clientsecret"

Just kidding

[2016-06-20 16:25] #866 closed

[2016-06-20 16:26] Tratcher commented on #866
Thanks for helping sort this out everybody.

[2016-06-22 13:18] XcoderTeam opened #885 "[Question] Retrieve Scope"
In configuration
[code]

How to retrieve all the education since ClaimTypes does have education?
[code]

[2016-06-22 16:09] Tratcher commented on #885
The middleware does not copy all of the user info into claims by default. Here's the list of built in fields:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Facebook/FacebookHandler.cs#L45-L127
If you want to map more fields to claims then you should use the OnCreatingTicket event:
[code]

[2016-06-22 20:20] #537 closed

[2016-06-23 13:41] XcoderTeam commented on #885
@Tratcher

I try this below code encounter an err RuntieBinderException
Can you provide the complete implementation?

`                Events = new OAuthEvents
                {
                    OnCreatingTicket = context => {
                        var educations = context.User.Value<dynamic>("education");

                        context.Identity.AddClaim(new Claim("education", educations));

[2016-06-23 17:14] Tratcher commented on #885
@blowdart @danroth27 this is a good FAQ for docs: How to request more information via OAuth (e.g. Scopes), how to map that data to claims, and how to map those claims over into Identity.

[2016-06-23 17:15] blowdart commented on #885
Are you volunteering @Tratcher ? If so, put an issue in the docs repo :)

[2016-06-23 18:22] Tratcher commented on #885
https://github.com/aspnet/Docs/issues/86#issuecomment-228139133

[2016-06-23 18:25] Tratcher commented on #885
@XcoderTeam don't use `dynamic`, just use `string` like here:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Facebook/FacebookHelper.cs#L25

[2016-06-23 18:29] Tratcher commented on #885
Here's another sample:
https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L221-L227

[2016-06-24 14:24] XcoderTeam commented on #885
@Tratcher It work now

[2016-06-24 14:24] #885 closed

[2016-06-24 22:58] brentschmaltz commented on #884
OnAuthenticationFailed makes sense for OIDC, but maybe not for JwtBearer as the webapi call is not technically about Authentication but Authorization.

[2016-06-28 19:28] PaulMiami opened #886 "Not calling Dispose on HttpRequestMessage and HttpResponseMessage"
What is the best practice for calling Dispose (or not) on HttpRequestMessage and HttpResponseMessage?

Examples:

https://github.com/aspnet/Security/blob/1.0.0/src/Microsoft.AspNetCore.Authentication.Google/GoogleHandler.cs#L28-L34

        protected override async Task<AuthenticationTicket> CreateTicketAsync(ClaimsIdentity identity, AuthenticationProperties properties, OAuthTokenResponse tokens)

[2016-06-28 20:58] Tratcher commented on #886
It's not important in these scenarios. Disposing a request or response only calls Dispose on their Content field. Of the various HttpContent implementations, only StreamContent needs to dispose anything. HttpClient's default SendAsync fully buffers the response content and disposes the stream, so there's nothing the caller needs to do.

[2016-06-28 21:46] PaulMiami commented on #886
got it, I am guilty of doing that on MemoryStream many times.
But to be clear, from a best practice point of view, if I were to implement similar functionality, there are no problems with me wrapping those objects in an using block.
I just don't want to have to rely on an intimate knowledge of some IDisposable class and keep track of implementation changes that might break my code down the line.

[2016-06-28 21:56] Tratcher commented on #886
Calling Dispose should be fine, it's just noise we knew we didn't need.

[2016-06-28 21:57] PaulMiami commented on #886
ok, thanks

[2016-06-28 21:57] #886 closed

[2016-06-29 05:43] #827 closed

[2016-06-29 06:26] Brian-Ding opened #887 "Cannot get any user information"
I am trying the social sample in this repo, and I cant get back any use info, link name or email address
![image](https://cloud.githubusercontent.com/assets/11363173/16442460/54a0ac42-3e05-11e6-9230-7f761ff071bb.png)

I comment out all other social provider except Microsoft account, and I am logging in with a outlook.com account.

So,  login with **UseMicrosoftAccountAuthentication** give me back

[2016-06-29 17:21] Tratcher commented on #887
You mean this one? https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L156-L167
Note that only retrieves the tokens, e.g. the access_token. It does not retrieve any claims.  See the github sample for manually retrieving claims: https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L207-L262

[2016-06-29 19:25] Tratcher commented on #874
I don't remember anymore. I tried removing it and nothing failed, but I think most of the tests that would be affected use a TestSystemClock.

[2016-06-29 21:31] dolly22 commented on #855
Having the same issue. Effectively RemoteAuthenticationOptions.RemoteAuthenticationTimeout is used for cookie ticket lifetime.

@Tratcher This is probably a bug. AuthenticationProperties from short lived remote authentication ticket [RemoteAuthenticationHandler.cs#L57-L78](https://github.com/aspnet/Security/blob/1.0.0/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationHandler.cs#L57-L78)

[2016-06-30 01:54] Brian-Ding commented on #887
thank you! that works for me.

another question, if I have a uwp, and successfully obtain user's token, how can I use that token to access a controller/api  which has an Authorize attribute, of my mvc web app?

[2016-06-30 08:07] Brian-Ding commented on #887
Ok, did a few more test
 create a new blank mvc app with individual authentication, add this code and nugget packages accordingly
![image](https://cloud.githubusercontent.com/assets/11363173/16481045/d9ee8e6a-3edb-11e6-82e1-52ba16290b9f.png)

add a new method in HomeController, like below
![image](https://cloud.githubusercontent.com/assets/11363173/16481124/275eacd4-3edc-11e6-8903-875ef37e652a.png

[2016-06-30 23:57] Tratcher commented on #887
Those tokens are for use with the MSA APIs, not for 3rd parties. Their format and validation are opaque to us.
We primarily support JWTs via OpenIdConnect and Azure AD. See https://github.com/aspnet/Security/blob/dev/samples/JwtBearerSample/Startup.cs

[2016-07-01 03:05] supergibbs opened #888 "Custom Authentication Namespace"
I wrote another OAuth provider based on `Microsoft.AspNetCore.Authentication.Google` and wondering what namespace I should use. I also want to make an older OWIN compatible one so I don't want to use something generic and make it confusing. Can I put it in `Microsoft.AspNetCore.Authentication.ThirdParty`? If not, is there a recommended naming convention?

`ThirdParty.AspNetCore.Authentication`
`Th

[2016-07-01 03:12] davidfowl commented on #888
You should consider contributing it to https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src

[2016-07-01 03:13] supergibbs commented on #888
Oh even better! Thanks!

[2016-07-01 03:13] #888 closed

[2016-07-01 08:01] Brian-Ding commented on #887
thx for that, I will close the issue

[2016-07-01 08:01] #887 closed

[2016-07-04 08:30] lszomoru opened #890 "OpenIdConnectOptions.ClientSecret needs user secrets when ASPNETCORE_ENVIRONMENT set to Development?"
I have set up a new project that uses the OpenIdConnectAuthentication middleware to connect to Azure AD. Out of the gate, with the ClientSecret specified in the user secret file, the sample is working as expected and I am able to sign in to the application. I started looking at the possibility to remove the dependency on the user secret file (and get the secret from Azure KeyVault for example) I r

[2016-07-04 08:57] lszomoru commented on #890
After further debugging my code, I was able to track down the issue to be related to my code. Apologies for the churn. Closing the ticket.

[2016-07-04 08:57] #890 closed

[2016-07-04 23:39] Zoltu opened #891 "Minor comment cleanup."
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationOptions.cs#L25 references Twitter yet it is in a generalized class.  Either this property should be extracted out into a Twitter specific handler or the comment should be generalized.

I don't actually understand what this does (which is why I was reading the comment) so I'm not sure what the ri

[2016-07-05 22:54] jcob-ross commented on #284
I'm bumping this issue as I just ran into it. That's it.

[2016-07-06 02:29] diddledan opened #892 "UseCookieAuthentication expects a CookieAuthenticationOptions object, and refuses lambda"
The documentation used to state (until I fixed it) that the following was acceptable for setting-up cookie authentication:

[code]

This form is in line with other middlewares such as `app.UseMvc()` (in `Configure()`) and `services.AddAuthorization()` (in `ConfigureServices()`).

However the final 1.0.0 code requires the following form:

[code]

The second, i.e. current as of 1.0.0, state seems to

[2016-07-06 05:04] Eilon commented on #284
Clearing milestone so we can revisit.

@jcob-ross can you provide more info on what your scenario is and how this is a problem? That will help us decide on the appropriate priority for the issue. Thanks!

[2016-07-06 14:30] PinpointTownes commented on #892
FYI, there are already a few tickets about that (e.g https://github.com/aspnet/Security/issues/825)

[2016-07-06 18:34] flagbug commented on #792
@muratg Any update on this?

[2016-07-07 19:56] tuespetre commented on #855
:+1: on what @dolly22 said. Unfortunately the app of ours that best exhibits the bug was on RC1 before RTM came out so I can't confirm whether RC2 or RTM introduced the bug without digging in deeper.

[2016-07-07 22:52] jcob-ross commented on #284
@Eilon Yes. Sorry for the late reply.
In my case I was using claims transformation middleware
and at the same time Jwt Bearer Middleware with custom OnTokenValidated event.

Log showed that claims transformation was hit right before and after token validation.

1st transformation - before identity was validated, then OnTokenValidated event
and then 2nd transformation - right after OnTokenValidated

[2016-07-10 11:14] forforeach commented on #322
What are the current best practices to get the identity of a caller in the business logic layers of an aspcore application? It seems strange to pass around the `ClaimsPrincipal`.

[2016-07-11 04:39] leastprivilege commented on #322
Why does that feel strange? It's an input to your logic, right? Making the identity an input parameter (as everything else) is the only sane way to test your code.

[2016-07-11 11:26] wangkanai opened #894 "ASP.NET Core authentication to Azure AD to get||set Role"
I have a few questions i can't find regarding ASP.NET core connecting Azure AD using OpenIdConnect.
- How do i get the role that User is assigned to? `User.IsInRole("xxx")` also return `false`
- How do I set the role to the User? Don't know where to start :-(
- How do i add new claim to the User? Don't know where to start also

**Startup.cs**
[code]
**Indes.cshtml**
[code]
Type | Value
-------|---

[2016-07-11 21:42] Tratcher commented on #894
Here's an older sample that should help:
https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims/blob/master/WebApp-RoleClaims-DotNet/App_Start/Startup.Auth.cs#L55
https://github.com/Azure-Samples/active-directory-dotnet-webapp-roleclaims/blob/master/WebApp-RoleClaims-DotNet/Controllers/HomeController.cs#L47

Configuring roles:
https://azure.microsoft.com/en-us/documentation/art

[2016-07-12 01:26] jerriep opened #896 "Caching of RS256 info"
Hi,

I am using the JWT middleware and the middleware is automatically querying the OIDC wellknown endpoint to discover and subsequently download the public key which is used to validate JWTs.

I have some questions about the caching of the public key:

1. Does the public key get cached? (It seems like it does not download it every time)
2. How long does it get cached?
3. Is there any way to manua

[2016-07-12 04:37] PinpointTownes commented on #896
Hey Jerrie ;)

Yes, by IdentityModel's `ConfigurationManager`: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs

By default, 1 day (in the last version, but IIRC, it was something like 5 days in the previous bits).

`ConfigurationManager` has a `RequestRefresh` method you can

[2016-07-12 05:25] wangkanai commented on #894
Thank you @Tratcher for help point out how to get the Roles of the current ClaimsPrincipal from Azure-Samples.

Duo configuring roles base access control configure is how i would like my app to be able for users to configure role in the app. But the sample seem to be specific for users roles in Azure Portal.
Role in OpenID Connection sound like user should be assign to Group of Azure Active Direct

[2016-07-12 05:38] jerriep commented on #896
Thanks @PinpointTownes !

[2016-07-12 05:38] #896 closed

[2016-07-12 05:54] Tratcher commented on #894
Not from this end of things, the OpenIdConnect protocol does not provide a way for us to modify data in the identity server (AAD). You should investigate the if this is possible via Azure's SDK.

[2016-07-12 10:58] ikourfaln commented on #804
Hi,
I found an article that resolve this problem by adding a nice trick 😉
https://devblog.dymel.pl/2016/07/07/return-401-unauthorized-from-asp-net-core-api

[2016-07-13 14:42] Luigie opened #899 "Authorize(Roles="Admin") not working."
I havethe following setup for an api with identity server4

API call

        [HttpGet()]
        [EnableQuery()]
        [Authorize(Roles="admin")]
        public IQueryable<UserDTO> Get()
        {
            return userService.GetAllUsers().ProjectTo<UserDTO>();
        }
jwt token

[code]

Request in postman

[code]

Why is the role:admin not mapped to Roles="admin" in the Authorize attribute

[2016-07-13 15:05] leastprivilege commented on #899
try setting `RoleClaimType = "role"`

on the token validation MW. Also inspect the claims collection to be sure the claims from the token made it into MVC.

[2016-07-13 15:31] GKersten opened #900 "FaceBook/LinkedIn authentication for ASP.NET Core WebAPI"
I've created a ASP.Net Core MVC project with individual user accounts and added FaceBook authentication. Now I also want to use this FaceBook authentication for my WebAPI, any samples on how to do this? Also interested in extending this with LinkedIn authentication.

[2016-07-13 16:13] PinpointTownes commented on #899
@leastprivilege hahaha, a perfect use case to illustrate my yesterday's tweets :trollface:

Ironically, it would work flawlessly if you didn't recommend adding `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();` everywhere.

[2016-07-13 17:06] leastprivilege commented on #899
Yep I agree with you. Let's keep the people dumb so they don't need to understand what's going on under the covers. You won.

Sent from my iPhone

[2016-07-13 21:04] Tratcher commented on #900
@blowdart do we have any concept docs for this FAQ?

[2016-07-13 22:58] blowdart commented on #900
Nope, this would really mean the browser doing the oauth pieces using their SDK, and then straightforward JWT. Our exchanging for a cookie, which is what we do for forms isn't probably what you want.

[2016-07-14 00:47] brockallen commented on #900
It means you need a token service which performs the federation to facebook, but then issues a token for your own API.

[2016-07-14 05:17] wangkanai commented on #894
Seem that GraphApi is what you use the query the active directory for user profile. But the mean time their dont have .net core library yet.
Dont know if im correct or not?

[2016-07-14 09:50] Ciantic commented on #699
This works for 401s:

[code]

However for 403s there is no solution #872 :(

[2016-07-14 10:12] Ciantic commented on #872
Where is this handler? I also would like to return different JSON messages when different claim requirements fail. Right now I'm getting empty result with Status Code 403.

[2016-07-14 11:21] Ciantic commented on #872
Apologies but I think this would be more nicely handled by status code pages extension, I opened an issue there: https://github.com/aspnet/Diagnostics/issues/316

[2016-07-15 18:17] HaoK commented on #753
Resolved via https://github.com/aspnet/Security/commit/666ad0fc3b6027e8efc0df3595abc982d6921478

[2016-07-15 18:17] #753 closed

[2016-07-15 18:21] HaoK opened #901 "AuthZ 2.0 Improve failure scenarios + [401 vs 403?]"
## The two somewhat related scenarios we are trying to address:
1. How to determine which requirements failed and easily display them
2. Remove the automatic challenge behavior/logic and make 401/403 more explicit (somehow)

## How things work today:
1. `bool IAuthorizationService.AuthenticateAsync` only returns sucess or failure, its impossible to deduce what caused the failure.
2. See [Authorize

[2016-07-15 18:24] HaoK commented on #901
Most likely we are going to need to add a new Authorize overload that contains more info, since today we only return true/false

[2016-07-16 07:06] troydai commented on #844
It seems to me that `Configuration` and `ConfigurationManager` are both designed to be optional. I didn't find a place where the reference to them are not guarded. I may have missed, @Tratcher do you still remember what scenario caused the nullref? I tried miss both `Authority` and `Audience` properties, nullref didn't show.

Other then that, @Tratcher what else we should validate at the beginning

[2016-07-16 13:02] Tratcher commented on #844
The null ref was in OIDC. I filed this one because I realized Jwt had no validation either.  The biggest problem I see is that it still starts if you provide no arguments (e.g. your config file was accidentally empty), it just doesn't work. Try debugging through it to see how it fails in this scenario and if there's any way to validate against it. It's problematic that there are too many different

[2016-07-16 13:10] PinpointTownes commented on #844
If you simply call `app.UseJwtBearerAuthentication()`, the error you'll ultimately get will likely be a `SecurityTokenSignatureKeyNotFoundException`:

It's a common trap so it would be great if a better error was returned, but I'm not sure there's an easy way to do that.

[2016-07-16 15:04] 188 opened #902 ".netcore登录遇到问题 No authentication handler is configured to handle the scheme: Cookies"
[code]
[code]
报错： No authentication handler is configured to handle the scheme: Cookies
这个问题怎么解决呀？

[2016-07-16 17:02] PinpointTownes commented on #844
On a related note, we should add more checks to ensure an authorization request or a logout request cannot be generated when the authorization/logout endpoint path resolved from the OIDC configuration or set from the `RedirectToIdentityProvider` event is null.

Currently, if the authorization endpoint is undefined, the challenge is applied to the current address (e.g `?response_type=id_token...`),

[2016-07-16 17:09] Tratcher commented on #902
Your UseCookieAuthentication may be in the wrong order in Startup.Configure. Make sure it comes before MVC.

Also, do not use `async void` methods, they break everything. Use `asyc Task` instead.

[2016-07-16 21:15] troydai commented on #844
OK. So sum it up:

Both `authority` (as MetadataAddress) and `audience` are expected. Exception will be thrown if either of them are `null`.

It could potential produce some test-ability issue. In some tests (like [this one](https://github.com/aspnet/Security/blob/6cee57752f81f2e5989d03c0daa5957f0d127cd6/test/Microsoft.AspNetCore.Authentication.Test/JwtBearer/JwtBearerMiddlewareTests.cs#L173)), se

[2016-07-16 21:17] PinpointTownes commented on #844
You mean for the OIDC middleware? Or does your remark also include the JWT middleware?

[2016-07-16 21:18] troydai opened #903 "Ensuring the generated redirect URL is valid"
In issue #844, @PinpointTownes wrote:

[2016-07-16 21:18] troydai commented on #844
Only applies to Jwt middleware. since this issue is addressing Jwt Middleware

[2016-07-16 21:20] PinpointTownes commented on #844
Then it's important to note that making `Authority` mandatory would be a (major) breaking change, as it wouldn't allow one to use the JWT middleware without having an OIDC server: https://github.com/aspnet/Security/issues/844#issuecomment-221702781

[2016-07-16 21:23] troydai commented on #844
That means `Authority` is optional. Is there a condition in which missing of the `Authority` combining with other factor will cause major issues that we shouldn't allow server to start in the first place?

[2016-07-16 21:47] PinpointTownes commented on #844
The 'problem' with JWT is that there's no mandatory claim, so it's hard to make options like `Audience` mandatory, since access tokens don't have to expose an `aud` claim (IdentityModel will reject them by default, tho).

I guess you could update the JWT bearer middleware to throw an exception when `Authority` is null if no signing key is registered in the token validation parameters (which is the

[2016-07-16 21:52] troydai commented on #844
Thanks for the suggestion, @PinpointTownes . I'll look into this one.

[2016-07-18 02:16] 188 commented on #902
改为
        public async Task<bool> Login()
        {
            if (!HttpContext.User.Identities.Any(identity => identity.IsAuthenticated))
            {
                var user = new ClaimsPrincipal(new ClaimsIdentity(new[] { new Claim(ClaimTypes.Name, "bob") }, CookieAuthenticationDefaults.AuthenticationScheme));
                await HttpContext.Authentication.SignInAsync(CookieAuthentication

[2016-07-18 03:25] 188 commented on #902
问题已解决，参考MusicStore

[2016-07-18 03:25] #902 closed

[2016-07-18 14:07] dumbledad opened #904 "Swapping from ASP .Net Core 1.0.0-rc2-final to 1.0.0 causes iOS app authentication to fail"
I have an ASP .Net Core 1.0.0-rc2-final web service up and running in Azure. If I swap the service in the Azure portal to a deployment made with 1.0.0 then the iOS client authentication seems to fail.  There are code changes between the two deployments, but after much debugging I think the issue may be with the version swap.

We are using Azure Active Directory B2C for our authentication.

Here's

[2016-07-18 14:18] Tratcher commented on #904
What security components are you're using? Have you turned on the server logs to see if there's an Exception triggering the 500?

[2016-07-18 14:23] dumbledad commented on #904
I'll look at the server log idea, thanks.

It's proving incredibly difficult to debug because

1. Since moving to 1.0.0 from RC2 non of our machines will build the version that's deployed and live without upgrading it first; and
2. the service is live so I dare not swap out the running API again (users calls started failing last time)

[2016-07-18 15:25] Tratcher commented on #844
So in the end there may not be any practical validation we can do. That's a shame because it's really easy to not add your config settings.

[2016-07-18 19:10] troydai commented on #812
Run the same scenario just now, following output is among the logs. Chat with @anurse, we both agree the output is sufficient enough.

[code]

Close as won't fix.

[2016-07-18 19:10] #812 closed

[2016-07-19 09:43] GKersten commented on #900
@blowdart alright, I'm trying to create a WebAPI that will be consumed by a native/Xamarin mobile app. So as I understand, the way to go is do Oauth client side with Facebook/LinkedIn SDK and than JWT authentication with my Web API?

[2016-07-19 13:03] brockallen commented on #900
You need a token service for you APIs and when the user logs into it via the browser it supports facebook logins. IdentityServer4 supports that scenario: https://github.com/IdentityServer/IdentityServer4

[2016-07-19 14:20] blowdart commented on #900
Yup. As @brockallen says Identity Server does the work for you. I'd strongly recommend looking at that, rather than trying to roll your own. Identity Server does the auth & validation, and then issues you a token for your own app, rather than doing it in javascript, which would be the alternative.

[2016-07-19 22:18] #855 closed

[2016-07-20 00:13] HaoK commented on #860
Will use this https://github.com/aspnet/Security/issues/901 to track this general issue

[2016-07-20 00:13] #860 closed

[2016-07-20 00:14] HaoK commented on #901
per #860 consider adding verbose logging for successful requirements

[2016-07-20 00:17] HaoK commented on #872
Will be tracked via https://github.com/aspnet/Security/issues/901 as well

[2016-07-20 00:17] #872 closed

[2016-07-20 00:41] HaoK commented on #412
The cookie interop tests are sufficient to demonstrate cookie sharing: https://github.com/aspnet/Security/blob/dev/test/Microsoft.Owin.Security.Interop.Test/CookieInteropTests.cs

[2016-07-20 00:41] #412 closed

[2016-07-20 00:43] HaoK commented on #379
Closing really old auth discussion

[2016-07-20 00:43] #379 closed

[2016-07-20 08:55] anil2 opened #907 "AuthenticationMode to Passive"
My problem was with setting Bearer Authentication to passive mode.
it is resolved, please close this issue, I could not able to close or delete this issue, It would be nice if we can close or deleted the issue that does not require others attention

[2016-07-20 11:51] anil2 commented on #907
I am taking back my previous statement  `developer is not given the complete control over limiting Identity by Schemes`.
Now I see that, it is possible to override `AutomaticAuthenticate `  value on `JwtBearerOptions ` object.

[2016-07-20 15:28] rseso commented on #390
@Tratcher If the bugfixes are not being backported to the Microsoft.Owin packages, what is the roadmap for the OWIN in ASP.NET (not Core)? Is there any replacement for it that is being actively maintained?

[2016-07-20 15:30] davidfowl commented on #390
Super old blog post but it gets the point across still I think https://blogs.msdn.microsoft.com/webdev/2014/11/14/katana-asp-net-5-and-bridging-the-gap/.

[2016-07-20 16:57] mariusschulz opened #908 "Support for Cookie "SameSite" Flag"
Are there any plans to implement support for the cookie [`SameSite` flag](https://en.wikipedia.org/wiki/HTTP_cookie#SameSite_cookie) within the cookie authentication middleware? The flag helps mitigate CSRF attacks and is currently recognized by Chrome and Opera, and possibly [more browsers soon](https://www.chromestatus.com/feature/4672634709082112).

I'm thinking about a new property on `CookieA

[2016-07-20 18:26] #907 closed

[2016-07-20 19:33] Eilon opened #910 "How to UseFacebookAuthentication (and other external services) for multiple domain site"
Moved from https://github.com/aspnet/Mvc/issues/4900
By @NGancevich

---

Hello I have site that has multiple domains. For instance example.com, example.gb .... All these domains are linked to one site. I need something like this

[code]

but depending on domain name. Or may I can implement this using filters.

[2016-07-20 21:03] rseso commented on #390
@davidfowl Thanks, so if I got it right, we don't have any 1:1 replacement for the Microsoft.Owin stack and packages being actively maintained for the "classic" .NET, right?

[2016-07-20 23:50] dstrockis opened #911 "Get AuthenticationSchemes used to sign the user in"
Long story short: for Azure AD B2C, we need to use multiple instances of the OIDC middleware in a single app.  On signout, I want to send a sign out request only for the instance(s) of the OIDC middleware that have been used to sign the user in.

In Katana I could enumerate thses instances by doing `HttpContext.GetOwinContext().Authentication.GetAuthenticationTypes()`.

In core when I do `HttpCont

[2016-07-20 23:58] dstrockis opened #912 "Use multiple instances of OpenIDConnect middleware in one app"
Long story short: for Azure AD B2C, we need to use multiple instances of the OIDC middleware in a single app.  Each one needs its own `AuthenticationScheme` so that I can invoke the proper middleware via challenges.

I've set up the instances like so:

[code]

Let's say I execute a challenge with `AuthenticationScheme=SignInPolicyId`.  The requests gets sent to Azure AD, the user logs in, and the

[2016-07-21 03:47] shaunluttin opened #913 "How do we capture and decrypt traffic between the ASP.NET Core client and Authorization server?"
We've tried Fiddler, WireShark, RawCap, Npcap, and other approaches like setting a new route. [We haven't been able to view the access code, access token, and id token from Google during an OpenID Connect flow.](http://security.stackexchange.com/questions/130571/view-the-access-code-access-token-and-id-token-from-google-during-an-openid-co/130586#130586)

We're on Windows 10 (which uses IPv6 for l

[2016-07-21 06:01] ruchanb opened #914 "Feature Request Authorization with multiple Claims in Attribute"
Here is a scenario
I have collection of Access levels according to different modules. ie Module1Read, Module1Write, Module2.. and so on
On previous version on asp.net i would create a custom Authorization Attribute an handle these access codes there and use them like
`[CustomAuthorize(Claims= "Module1Read")]`

Now this is to be handled through policy in the asp.net core
https://docs.asp.net/en/lat

[2016-07-21 06:16] HaoK commented on #914
See https://github.com/aspnet/Security/issues/670 and the IPolicyProvider, you can dynamically generate your requirements based on the policy name which should let you do something similar

[2016-07-21 22:27] #914 closed

[2016-07-21 22:32] Eilon commented on #913
Ultimately the answer here will not be specific to ASP.NET. There's presumably some Windows policy or Fiddler/etc. setting that needs to be configured to enable monitoring of these requests.

Hopefully your post on StackExchange will yield some answers...

[2016-07-21 22:37] Eilon commented on #912
One possibility for this would be to use `app.Map(...)` to "fork" the middleware pipeline given different request roots. Then you'll never have a case where both auth middlesware run on the same request.

But we'll need to wait for @Tratcher to return to figure this out.

[2016-07-21 22:41] Eilon commented on #910
@NGancevich can you share more about what you might have tried, and what issues you've run into?

[2016-07-21 22:46] Eilon commented on #911
It seems you can call https://github.com/aspnet/Identity/blob/ec4c08d11a00ec9b4dd8c22ef13a4950cb70901e/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L432 to get the authentication schemes that are "interactive." It appears that they're already filtered in this API because it excludes ones that don't have a Display Name.

[2016-07-21 22:50] Eilon commented on #904
@dumbledad can you tell us more about how the iOS app is doing its auth? Is it using bearer tokens? Something else? Using ADAL or MSAL?

We suspect that this might be due to Azure App Services not using the same data protection keys between slots, so when you do a swap, the keys become invalid. We are working with the Azure App Service team to see if this can be addressed in a future update.

[2016-07-21 22:55] Eilon commented on #894
@vibronet

[2016-07-21 22:56] #899 closed

[2016-07-21 23:00] Eilon commented on #892
We are not planning on changing this pattern.

[2016-07-21 23:00] #892 closed

[2016-07-21 23:14] brockallen commented on #912
I think you will need 2 different `CallbackPath` set so they don't step on each other.

[2016-07-22 08:37] NGancevich commented on #910
I have site that is linked to multiple domains. For example mysite.com, mysite.net, ....

asp.net core allows only set up AppId and AppSecret once per application.  For instance in facebook
for mysite.com (AppId = "1111", AppSecret="Secret1111") , for mysite.net (App = "2222", AppSecret="Secr2222"). But physically mysite.com and mysite.net it's one asp.net core site

I'd like something like this

[2016-07-22 08:38] 188 opened #915 ".netcore 怎么实现 machineKey"
之前.net开发时，我们身份认证中可以用 machineKey 来实现多机CookiesID一致，在.netcore中怎么实现呀？
在Web.config中加入也不起作用
谢谢

[2016-07-22 14:49] brockallen opened #916 "AuthenticationTokenExtensions should have an UpdateToken"
Some API where we can update just one token (e.g. a refresh token or an access token) and the rest of what's in there is preserved.

This is what a client app must do now (which is requires too much internal knowledge): https://github.com/IdentityServer/IdentityServer4.Samples/blob/dev/Clients/src/MvcHybrid/Controllers/HomeController.cs#L46

[2016-07-22 18:04] HaoK commented on #916
Something like this is what you are asking for? You probably are still left with doing your own copy into a subsequent properties to send down new tokens.

[code]

[2016-07-22 18:08] HaoK commented on #910
So you can use AuthenticationScheme to accomplish this today,
[code]

You would of course need to authenticate against the right facebook middleware depending on which domain you are serving.

[2016-07-22 18:15] HaoK opened #917 "Revisit PolicyProvider (large # permissions) scenarios/support"
We added IPolicyProvider fairly late mostly as a crude workaround, we should review exactly what the scenarios we want to support are and ensure they are supported properly (no sugar today)

[2016-07-22 18:56] NGancevich commented on #910
Thank you! I'll try to implement this.

[2016-07-22 19:42] brockallen commented on #916
Well, given that there's some logic to the access token expiration, I'd almost prefer slightly higher order APIs -- one for access token with optional expiration param, one for RT. All of course could be built on the above more general API.

[2016-07-23 04:49] anobaka opened #918 "is there a built-in way to cache the claims of same user? or something maybe like 'IUserClaimFactory' I can implement to generate claims of current user before I use UserClaims?"
**Backgrounds**

I **register all operations(from a webapi service) to global policies** after website starting, and I **invoke all available operations(from a webapi service) of current user and set them to user claims** in my authorization middleware after my authentication middleware.

**Register All Operations**

[code]

**and In my authorization middleware**

[code]

**and use it like**
[code

[2016-07-24 20:48] Tratcher commented on #908
This was previously discussed here: https://github.com/aspnet/Security/issues/831#issuecomment-222013829

SameSite is still in draft form: https://tools.ietf.org/html/draft-west-first-party-cookies-07

We may add support for it when the spec is finished.

[2016-07-24 22:14] Tratcher commented on #912
This worked with Katana because it would read all requests and fall through if it didn't recognize the message. You can use OpenIdConnectOptions.SkipUnrecognizedRequests = true to get this behavior, but we don't recomend it. Instead you should assign each instance a unique CallbackPath as @brockallen suggested.

[2016-07-25 03:21] Tratcher commented on #910
You also want to give them unique CallbackPath's

[2016-07-25 03:31] Tratcher commented on #918
How are you persisting the user information? Via cookies? If so, you can add the claims once when they log in and persist it with the rest of the information in the auth cookie. However, if there are too many claims this can cause cookie size issues. The cookie auth middleware has a few different ways of dealing with large users.

[2016-07-25 04:58] #915 closed

[2016-07-25 08:48] anobaka commented on #918
@Tratcher , gotcha, it works, really appreciate it!

[2016-07-25 08:48] #918 closed

[2016-07-25 08:56] lranders commented on #913
We're using Fiddler 4 and it works just fine as an SSL proxy. We're running the client and the user agent on the same box mind you. Only the AS, in our case the ADFS 2016 server is on a virtual instance in a seperate box. I don't know if it makes a difference, but we are capturing IPV4 traffic, not IPV6. We did not need to tweak any Windows policies, but Fiddler has to be told to proxy the SSL tra

[2016-07-25 12:46] Tratcher commented on #915
https://docs.asp.net/en/latest/security/data-protection/configuration/overview.html

[2016-07-25 15:57] dstrockis commented on #912
Alright, I'll give it a shot. Thanks guys.

[2016-07-25 20:40] valcs007 opened #919 "Global authorization Config in Startup.cs Not working"
Hi,

I want to configure global authorization for all actions in all my controllers (Forcing it to go through my Account Controller). I am using the below piece of code from the **Step_4_Simple_Policies** lab project from AuthorizationLab solution.

**Startup.cs:**
services.AddMvc(config =>
{
var policy = new AuthorizationPolicyBuilder()
.RequireAuthenticatedUser()
.Build();
config.Filters.Add(new

[2016-07-25 21:03] HaoK commented on #919
I can't repro this behavior.

What i tried:
1. New template app using RTM bits, individual authentication.
2. Replace AddMvc with:
[code]
3. Run the app, and I see the Login page redirected to automatically.

[2016-07-25 21:11] dstrockis commented on #911
Closing this for now, since I have a workaround for my particular scenario.

[2016-07-25 21:11] #911 closed

[2016-07-25 21:21] dstrockis commented on #743
Hey @Tratcher, I got tripped up by this today.  I noticed that in the current release `AuthProperties.RedirectUri` is being used to specify the value of the `post_logout_redirect_uri` in the sign out request.  `OpenIDConnectOptions.PostLogoutRedirectUri` is totally unused.

In fact, if I *do* specify `OpenIDConnectOptions.PostLogoutRedirectUri` and *do not* specify `AuthProperties.RedirectUri`, th

[2016-07-25 21:50] valcs007 commented on #919
Hi Haok,

Thanks for your quick response. I am using **Windows Authentication** project but only certain windows users have access to our tool (requirement).  Within the project,  i am using UseCookieAuthentication.

I am not able to upload my zipped sample project in this forum, so pasting contents.

**AccountController.cs**
using System;
using System.Collections.Generic;
using System.Linq;
using

[2016-07-25 22:39] Tratcher commented on #743
PostLogoutRedirectUri should be used here: https://github.com/aspnet/Security/blob/6cd46a5c10094ba9f4379fbccc3b9c05a01bf034/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L175

[2016-07-26 16:12] troydai commented on #891
Fixed in 7b7da43.
Thanks for reporting the issue @Zoltu .

[2016-07-26 16:12] #891 closed

[2016-07-26 17:27] HaoK commented on #919
If you are using windows auth, require authenticated user passes. so that's why its not going to the login screen.

[2016-07-26 17:27] #919 closed

[2016-07-26 18:31] valcs007 opened #922 "Is it possible to specify multiple Policy's as a comma separated list similar to Roles?"
Hi,

I was wondering if we have a way to specify **multiple Policy's** as a comma separated list similar to Roles?

**Ex:** I have 2 policies (Admin and Viewer). Controller would be only accessible by Admin Policy or Viewer policy

[2016-07-26 21:31] HaoK commented on #922
Not really, you probably have to write a new policy/handler that is the equivalent of either other policy.

[2016-07-26 21:32] HaoK commented on #922
That said if this was claim based, you could just have a single policy still, but a requirement that looked for either a "Admin" or "Viewer" claim, the built in ClaimRequirement allow specifying multiple allowed values

[2016-07-26 23:43] troydai commented on #53
Fixed in https://github.com/aspnet/Security/pull/905/commits/5de4816f59a87d00436bf386b23d9ff10e9f6bf6

[2016-07-26 23:43] #53 closed

[2016-07-27 13:37] vinny-Jo opened #923 "Web Api using integrated windows authentication"
My visual studio solution contains 2 projects ( web site, web api). both are set to use windows authentication.
When calling my Web Api on Client Side with the following code Ajax call
[code]

**I am getting the following exception:**
[code]
**My Web Api project.json:**
[code]

**web api startup.cs:**
[code]

**and web Api program.cs**

[code]

[2016-07-27 16:47] Tratcher commented on #923
It looks like you're running Kestrel directly, correct? Kestrel does not support windows auth, you need to use IIS/Express.

[2016-07-28 07:43] vinny-Jo commented on #923
Hi Chris,

yes, I am using kestrel because iisexpress does not worked with [cors]. I am using postman to check the headers passed to the web service, with kestrel: the web service accept and recognized windows auth token (cookie) and 'Access-Control-Allow-Origin', where as iisexperss does not recognized the headers Access-Control-Allow-Origin and the windows Auth token and reject the call.

Is the

[2016-07-28 08:54] brunombsilva opened #926 "TwitterOptions.RetrieveUserDetails"
Altought documentation states

When looking at the source code, this option only adds the e-mail to the identity claims [source  code](https://github.com/aspnet/Security/blob/6cd46a5c10094ba9f4379fbccc3b9c05a01bf034/src/Microsoft.AspNetCore.Authentication.Twitter/TwitterHandler.cs#L354).

[code]

Am I missing something?

Thanks

[2016-07-28 09:04] brunombsilva commented on #926
Sorry for the noise.

I've just found
[code]

and context has an JObject with all the API response

[2016-07-28 09:04] #926 closed

[2016-07-28 13:10] dumbledad opened #927 "Code correctly returning a 401 unauthorised error in RC2 now incorrectly returns a 500 error"
We have an ASP.Net Core web service using Azure AD B2C for bearer token authentication. Our iOS client makes an API request and if the ASP.Net Core server returns a 401 Unauthorised error with the term "SecurityTokenExpiredException" in the body then the client refreshes its token and tries again.

This works great under ASP.Net Core RC2 but now that we have moved to the release version we cannot

[2016-07-28 13:10] dumbledad commented on #904
Not sure I understand those acronyms, sorry. It's code I have inherited and uses Azure B2C. I think that's ADAL. We do pass up tokens (and have a refresh token). Looking in the Startup.cs we have this call in the Configure method: `UseJwtBearerAuthentication` so I think the answer is bearer tokens and ADAL.

I now think the error is from RC2 correctly reporting a 401 error (which our iOS client us

[2016-07-28 13:31] Tratcher commented on #923
There is no middleware available for NTLM. Focus on your CORS issue. This looks related: https://github.com/aspnet/CORS/issues/81

[2016-07-28 14:35] dumbledad commented on #927
I have created a Gist showing the stark difference between the text written to `context.Response.WriteAsync` and the response text received on the client. The Gist is [here](https://gist.github.com/dumbledad/9d3f70b5621eb004e5f8758c4dcdc3f4)

[2016-07-28 14:36] cwe1ss commented on #900
@blowdart @brockallen @leastprivilege but if we use IdentityServer, our app would no longer get the original Facebook token, so we couldn't query the Facebook API for additional stuff etc. It would also mean, that the app must use a webview-based login screen instead of a native one (because IdentityServer is displaying it), right?

how would this work if I wanted to have a native login screen and

[2016-07-28 16:06] brockallen commented on #900
You will still need to use a browser flow so the user can login to facebook. IdSvr becomes the client of facebook and you can do whatever you want to there w/ the FB token.

[2016-07-28 18:12] Tazer opened #928 "Problem validating JWT token after a while , some requests work some not. [Docker on Ubuntu]"
Hello, I'm getting weird problems when validating the JWT token. The problem is that I can do several requests, then the error just occurs. As you can see there is first 2 logs that the token i successfully validated. then just the error. All these 3 request occur in a very tight time (under 5 seconds) between them with a freshly issued JWT token. So don't understand way it works at first , then j

[2016-07-28 18:30] eat-sleep-code opened #929 "Request.Scheme is not reliable and should not be used here for setting the Callback Url"
I have an application that requires https.   When the authorization request goes to Microsoft for authentication, the redirect_url attribute shows up as <snip>&redirect_uri=http%3A%2F%2F</snip>.   Note the http instead of https.

We believe we have tracked this to: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L118

Request.Scheme will

[2016-07-28 18:40] cwe1ss commented on #900
Thanks for your answer, Brock! I have a few more questions and I would really appreciate further feedback from you!

My main concern was that web UIs in native apps don't share cookies with Safari (iOS) or Chrome (Android), so users would have to enter their Facebook password again (which is really annoying). The native Facebook SDK would have allowed to use "app switching" to authenticate directl

[2016-07-28 18:43] Tratcher commented on #929
Issues with Request.Scheme are usually environmental. See:
https://github.com/aspnet/Security/issues/757
https://github.com/aspnet/Security/issues/853

[2016-07-28 18:46] cwe1ss commented on #900
Or should the native app refresh the facebook access tokens by calling the Facebook API directly? This way, IdentityServer probably wouldn't even have to store them?!

[2016-07-28 18:46] PinpointTownes commented on #928
It's a known .NET Core bug which was fixed in https://github.com/dotnet/corefx/pull/9708 (post .NET Core 1.0 RTM).

[2016-07-28 19:14] Tazer commented on #928
Oh thanks @PinpointTownes , will that be in 1.1 ?

[2016-07-28 19:18] PinpointTownes commented on #928
That's a question for @bartonjs :smile:

[2016-07-28 20:10] brockallen commented on #900
Depends. You can use the in-app browser tab. I'm on holiday so I'll get in trouble if I spend too much time on the issue tracker, but search for Dom's securing mobile apps video from NDC Oslo this past summer.

[2016-07-28 20:16] cwe1ss commented on #900
no worries, enjoy your holiday!!! :smile:

[2016-07-28 20:20] cwe1ss commented on #900
I guess, I found it. Thanks!

[Authentication & secure API access for native & mobile Applications - Dominick Baier](https://vimeo.com/171942749) - in case someone else is interested

[2016-07-28 22:38] eat-sleep-code commented on #929
We don't have a load-balancer in front of this server, but we do have a content filtering appliance.   Apparently it is stripping the x-forwarded-proto header.   The workaround you posted on  #757 worked.

I am thinking that Request.Scheme should have a fallback within Request.Scheme that looks at the URL instead of just the header.

Otherwise the introduction of a new network appliance by a netwo

[2016-07-28 22:59] Tratcher commented on #929
The scheme and full URL are not fields in HTTP requests. The request includes a Method, the Path & Query, the Version, and an open set of headers. On the server side the Request.Scheme is inferred from if the underlying connection used SSL/TLS or not. When you put an appliance in front of your server that terminates TLS connections and forwards you the requests over an un-encrypted connection your

[2016-07-28 23:08] #928 closed

[2016-07-28 23:10] Eilon commented on #927
@troydai can you debug into this and see what's going on here? The SO question might have some more hints.

[2016-07-28 23:17] Eilon commented on #922
No plans to do this.

To learn more about how this stuff works, check out @blowdart 's super awesome incredible workshop tutorials. Step 6 goes into more details: https://github.com/blowdart/AspNetAuthorizationWorkshop#step-6-multiple-handlers-for-a-requirement

[2016-07-28 23:17] #922 closed

[2016-07-28 23:21] Eilon commented on #904
Ok so we'll track just the new issue then.

[2016-07-28 23:21] #904 closed

[2016-07-29 10:18] vinny-Jo commented on #923
sorry but the CORS issue is not related at all, look at my code
 services.AddCors(options => options.AddPolicy("AllowAll", p => p.AllowAnyOrigin()
       .AllowAnyMethod().AllowAnyHeader().AllowCredentials()));

iisexperss cors handler does not recognized the headers Access-Control-Allow-Origin, the windows Auth token and reject the call. It is not an opaque call or domain issue.

if the Web servi

[2016-07-29 16:51] PinpointTownes opened #930 "Returning true from HandleUnauthorizedAsync doesn't prevent the other automatic handlers from being invoked"
When refactoring ASOS code, I discovered a weird bug in `AuthenticationHandler` that prevents `HandleUnauthorizedAsync` from working correctly. The following conditions must be met for this annoying bug to occur:

  - The ASP.NET Core pipeline must contain at least 2 authentication middleware (e.g cookies + a custom middleware).

  - The first authentication middleware must be configured with `Aut

[2016-07-29 17:27] Eilon commented on #923
We'll take another look at this, thanks for the extra info.

[2016-07-29 17:49] HaoK commented on #930
Ick, I will take a look

[2016-07-29 17:55] PinpointTownes commented on #930
Okay, note for me: never say "ick" :trollface:

![image](https://cloud.githubusercontent.com/assets/6998306/17258245/384003f8-55c6-11e6-9bad-84a87c498572.png)

![image](https://cloud.githubusercontent.com/assets/6998306/17258256/46b0038e-55c6-11e6-8d55-12352a2b74f5.png)

[2016-07-29 17:57] HaoK commented on #930
Lolz, I don't think it really has that meaning in general, don't trust urban dictonary always :)

[2016-07-29 18:00] HaoK commented on #930
http://www.dictionary.com/browse/ick

Is more apt: "(used as an expression of distaste or repugnance.)"

[2016-07-29 18:03] PinpointTownes commented on #930
@HaoK haha, thanks! I hide the other definitions, they were horrible :smile:

On a more serious note, I can't seem to reproduce this bug on Katana so not sure when it has regressed.

I guess one - hack - way to solve this bug would be to store a marker in the `HttpContext `items and check if it's there before calling `HandleUnauthorizedAsync`.

[2016-07-29 18:28] HaoK commented on #930
I think the behavior was probably introduced as part of this PR, I'm still not entirely sure this behavior is bad or not, as Automatic challenge has a bit of a different semantic than Challenge("SomeType")...

https://github.com/aspnet/Security/pull/283

[2016-07-29 18:31] PinpointTownes commented on #930
The problem is that calling `Challenge("SomeType")` invokes all the automatic handlers when `HandleUnauthorizedAsync` returns `true`. It seems wrong, IMO.

[2016-07-29 18:44] HaoK commented on #930
So at the most basic level AutomaticChallenge = true means `HandleUnauthorizedAsync` is getting called for your auth handler, irrespective of what other handlers have done.

As a result the rule basically is whenever you are mixing JWT/cookies together, you need to turn off AutomaticChallenge, for exactly the reason you ran into...

cc @blowdart who I think ran into this issue early on as well.

[2016-07-29 18:45] blowdart commented on #930
What Hao said :D

[2016-07-29 18:47] PinpointTownes commented on #930
Isn't that what `[Authorize(ActiveAuthenticationSchemes = "custom-scheme")]` is all about? Picking a specific scheme to decide which middleware is allowed to be invoked?

[2016-07-29 18:48] blowdart commented on #930
Kinda of, it allows you to pick what you see *and*, if it's not automatic, run it. But automatic means automatic, as in, run on every request,

[2016-07-29 18:55] PinpointTownes commented on #930
Thing is it worked fine with Katana, that had the same active/passive authentication mode concept :sweat_smile:

Really feels like a regression for me.

[2016-07-29 18:58] PinpointTownes commented on #930
Also, it doesn't make any sense that prior automatic middleware are not invoked when `HandleUnauthorizedAsync` returns `false` and are invoked when it returns `true`.

[2016-07-29 19:06] HaoK commented on #930
Well, AutomaticChallenge just ensuring that challenge is called on the handler once per request.  If Challenge is called as a result of an explicit Challenge due to HandleUnauthorizedAsync returning false, that satisfies the AutomaticChallenge

[2016-07-30 06:58] troydai commented on #927
maybe related: https://github.com/aspnet/Security/issues/699

[2016-07-31 05:58] troydai commented on #927
I found the root cause and I will work on fixes after I finish writing my findings.

### The problematic flow
1. Throw exception in the _AuthenticationFailed_ event trigger the flawed work flow.
2. The _AuthenticationFailed_ event is called twice in `HandleAuthenticateAsync` of `JwtBearerHandler`: [Here](https://github.com/aspnet/Security/blob/c16fc06cb9fd28c21556f83855498985739e41e8/src/Microsoft

[2016-07-31 06:14] dumbledad commented on #927
Thanks @troydai, good luck with the fix. If you can point me to exemplar code showing where I should be setting the 401 instead of in the exception handling that would be great too.

[2016-07-31 06:22] troydai commented on #927
@dumbledad can you try some of the solutions provided in issue #699 ? Feel free to let me know if none of them works for you.

[2016-07-31 21:39] imsam67 opened #932 "Requiring authorization in ASP.NET Core"
The following code in ConfigureServices() method in Startup.cs was working fine in my ASP.NET Core 1.0 RC1 project. Now, I'm migrating it to the final version but this line is giving me an error that says "AuthorizationPolicyBuilder does not contain a constructor that takes that many arguments".

[code]

How do I make sure that my ASP.NET Core app requires users to be authorized throughout the app

[2016-08-01 03:41] Tratcher commented on #932
That's odd, the constructors haven't changed since RC1.
https://github.com/aspnet/Security/blob/1.0.0-rc1/src/Microsoft.AspNet.Authorization/AuthorizationPolicyBuilder.cs
https://github.com/aspnet/Security/blob/1.0.0/src/Microsoft.AspNetCore.Authorization/AuthorizationPolicyBuilder.cs

[2016-08-01 03:42] 188 opened #933 "Aes encryption algorithm how to implement"
in .net core
Aes encryption algorithm how to implement

[2016-08-01 03:45] imsam67 commented on #932
I changed it to `services.AddMvcCore(options =>...` and now it seems to be working but not 100% sure yet as I'm getting other errors.

One error was

 so I added `services.AddAuthorization()`. That seemed to help but now I'm getting 404.15 (query string is too long" error.

BTW, my app uses Facebook and Google authentication.

[2016-08-01 03:48] Tratcher commented on #927
Yeah, throwing exceptions from the events is not a recommended way to do control flow. Instead, set the status code inside the event and call AuthenticationFailedContext.HandleResponse().

[2016-08-01 15:27] Tratcher commented on #930
The real oddity is HandleAutomaticChallengeIfNeeded. This didn't repro in Katana because Katana preserved the challenge schemes and applied them as the request unwound. Core does not preserve the challenge schemes, it applies them immediately.

[2016-08-01 18:38] imranbaloch commented on #933
Just use Aes.Create https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/Aes.cs#L38

[2016-08-01 22:14] #916 closed

[2016-08-01 22:15] brockallen commented on #916
Thanks

-Brock

[2016-08-01 22:28] HaoK commented on #879
@blowdart thoughts on how important it is for our default implementations to be thread safe.  Imo if we make things pluggable, customers who need thread safety would still be able to plug in their threadsafe implementations (as opposed to making everything slower by default...)

[2016-08-01 22:43] blowdart commented on #879
A run in parallel setting maybe? Or have two in box implementations users can swap accordingly?

[2016-08-01 22:58] HaoK commented on #879
Well my point was more that we don't ensure thread safety in many places right now, it seems a little weird (and of questionable use) to support only in this one place

I'd suggest we start with just adding something like the `IAuthorizationEvaluator` to start, as that will enable many workarounds at least.  We can always add more implementations later if this becomes a common ask...

[2016-08-01 23:18] HaoK commented on #879
Note: the `IAuthorizationEvaluator` is a pretty big new extensibility hook, as they will be able to change the semantics of what defines an authorization success (i.e. today we ensure that all requirements are met), with this interface, they could treat some requirements to be special.  Not saying this is bad, just pointing out plugging in your own evaluator can potentially invalidate some of the

[2016-08-02 09:34] 188 commented on #933
Thanks

[2016-08-02 09:34] #933 closed

[2016-08-03 21:23] HaoK commented on #930
@Tratcher do you think we need to consider revisting any of this behavior at this point?

[2016-08-03 21:23] HaoK commented on #930
To be honest I've always hated the return bool to signal control flow, but that seems like too big of a change to make now.

[2016-08-03 21:42] Tratcher commented on #930
This is definitely a weird behavior, but I don't know that the bools are the problem. HandleAutomaticChallengeIfNeeded may be too eager.

[2016-08-03 22:20] HaoK commented on #930
So today its basically a blind challenge on any 401 status code if challenge hasn't already been called

[code]

The ask seems to be additional smarts detecting if any other middleware has handled this challenge (yet kept the status code as 401?)

The behavior today maybe be dumb, but its at least somewhat easy to explain and in reality, isn't AutomaticChallenge there primarily for single middlewa

[2016-08-04 00:53] wishstar99 commented on #322
How come when I am in debug mode, from my Watch window, I am able to see ClaimsPrincipal.Current, but when I write the code, the .Current is not available? Any idea? Thanks.

[2016-08-04 22:06] #932 closed

[2016-08-04 22:07] Eilon commented on #923
@kichalla can you take a look and see if maybe there's an issue in CORS?

[2016-08-05 20:02] kichalla commented on #923
@vinny-Jo : You seem to be adding `Access-Control-Allow-Origin` and `Access-Control-Allow-Methods` headers to the request. They are response headers sent by the server.

You should **not** be needing to add the following request headers yourself as the browser does it automatically.
The HTTP request headers:
- Origin
- Access-Control-Request-Method
- Access-Control-Request-Headers

[2016-08-06 05:11] troydai commented on #927
Addressed in 0314632696464efaa9d34d08233e0a292336361d

[2016-08-06 05:11] #927 closed

[2016-08-07 08:04] optlink opened #938 "Implementing custom authentication middleware."
I haven't been able to find a lot of information on this topic so everything I've learned has been from reading the source for the cookie authentication middleware. The middleware is written and works great except for failure cases. Returning `AuthenticateResult.Fail()` from `HandleAuthenticateAsync()` apparently does nothing. `HandleUnauthorizedAsync` and `HandleForbiddenAsync` do not get called

[2016-08-08 17:03] mikes-gh opened #939 "Social login only works first time is user does not complete registration"
Using the individual logins template.

I find if the user logs in with facebook or google (and maybe others) provider login completes successfully but if the user does not complete the registration i.e. .clicks back or clicks somewhere else - the next time they try the social login it fails with an access denied.  It seems they have to wait for the IdentityExternal cookie to expire before they can

[2016-08-08 17:04] kichalla commented on #923
Closing this issue now. You can take a look at my above comment and try again. If you still see an issue, feel free to re-open this issue with more details.

[2016-08-08 17:04] #923 closed

[2016-08-08 17:37] Tratcher commented on #939
duplicate of https://github.com/aspnet/Identity/issues/915

[2016-08-08 18:02] #939 closed

[2016-08-10 17:14] troydai opened #942 "Add RedirectToPostLogoutRedirectUri to OpenIdConnect auth"
Proposed in PR: https://github.com/aspnet/Security/pull/925

Requires change to the IOpenIdConnectEvent: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/Events/IOpenIdConnectEvents.cs.

[2016-08-10 17:49] Tratcher commented on #942
Note this is a breaking change to add interface members and cannot be done until 2.0. Consider removing the interface pattern entirely to avoid this limitation in the future.

[2016-08-10 23:27] troydai commented on #800
Fixed in https://github.com/aspnet/Security/pull/940/commits/6a9f1f9887ec5983da5c20b4d8b788929d7b1b32

[2016-08-10 23:27] #800 closed

[2016-08-11 22:08] Eilon commented on #938
@optlink can you upload your project to GitHub so that we can take a look? It's definitely sometimes a bit tricky to write authN middleware so if we can take a look at your code we can try to help debug it.

[2016-08-11 23:52] rposener opened #944 "consider making Invoke virtual virtual on AuthenticationMiddleware"
In cases such as some HMAC authentication algorithms, we need to inspect the stream during the Authentication Middleware.  In this case, it would be nice if we could go ahead and read the stream in only in the cases where it's necessary, replacing the body with a buffered stream.  This would prevent having to add buffered stream middleware in blanketly to every request, when it's only necessary in

[2016-08-12 16:48] mikes-gh commented on #859
Would it be possible to store external provider cookies by provider name

eg

Identity.Google
Identity.Facebook

Or would that require too much heavy lifting.
Apologies if this is way off.

[2016-08-12 16:50] Tratcher commented on #859
We can store the provider information directly in the cookie / auth properties. We don't need a separate cookie.

[2016-08-15 05:29] troydai commented on #944
Hi @rposener, is you scenario achievable through customize a middleware and added before any authentication middleware?

[2016-08-15 12:21] qin-nz commented on #866
Hi,everybody.
I have the same error.
I think everything is correct but I still get the error.

apps.dev.microsoft.com
![image](https://cloud.githubusercontent.com/assets/6998071/17664052/d3ab9662-6323-11e6-99f2-5d33f02ca3ae.png)
appsettings
![image](https://cloud.githubusercontent.com/assets/6998071/17664063/e139cec0-6323-11e6-97fd-7d6cde27f03e.png)
Configure
![image](https://cloud.githubuserconte

[2016-08-15 19:17] HaoK commented on #284
@blowdart what is a rationale behavior we want for claims transformation.

Today we basically apply it blindly in a few situations:
1. Its applied to HttpContext.User by the middleware in the pipeline.
2. As part of the middleware hookup, it also intercepts any 'passive' Authenticate calls that occur, and invokes claims transformation in those cases as well. (this can happen multiple times, once p

[2016-08-15 19:37] blowdart commented on #284
For me the main fix would be to make it injectable so folks can run off to their databases

I am not sure I care about it running twice, you'd hope that people would check if claims exist and replace them if so, however sure, if you can do it without adding a claim to the principal to track it, then running it once per identity would be better.

[2016-08-16 01:05] optlink commented on #938
[DummyAuthentication.zip](https://github.com/aspnet/Security/files/419305/DummyAuthentication.zip)

While creating this example I discovered that the problem was being caused by the use of `services.AddMvcCore().AddJsonFormatters()` instead of `services.AddMvcCore().AddJsonFormatters().AddAuthorization()` or `services.AddMvc()`. However, there is another issue. The request is being authenticated (

[2016-08-16 06:05] troydai commented on #772
Coverage list:

_In progress_

#### Configuration
 - [ ] Middleware is added correctly.
 - [ ] Options are set correctly.
 - [ ] Missing required settings.

#### Sign in work flow
 - [ ]

#### Sign out work flow
 - [ ]

#### Error handling
 - [ ]

[2016-08-16 18:05] HaoK opened #945 "AuthZ: Add option for Fail fast"
Per @blowdart we should make it easy to opt into fail fast behavior where something like `AddAuthorization(opt => opt.InvokeHandlersAfterFail = false)` will fail fast instead of the current behavior which continues to give each handler a chance to execute.

[2016-08-16 19:01] Tratcher commented on #772
- Events and their parameters
- Event flow control (Handled, skipped, throws, etc.)
https://github.com/aspnet/Security/issues/884

[2016-08-17 04:38] hasanoruc commented on #830
i get the same issue and i solved my problem with doing this.
i checked my web api method and i forgot [FromBody] tag in front of my json objects.
So my method parameters like this:
[FromBody]JObject obj

[2016-08-17 09:23] dumbledad commented on #927
The solution in [issue #699](https://github.com/aspnet/Security/issues/699) involves adding this code:

[code]

My existing code that I'm seeking to replace is in `Startup.Configure(IApplicationBuilder app, IHostingEnvironment env)`. Where does this replacement code go?

[2016-08-17 13:32] adammodlin commented on #768
I'm going to go ahead and close out this issue unless there are any objections. I appreciate the guidance.

[2016-08-17 13:32] #768 closed

[2016-08-18 00:13] Brian-Ding commented on #866
@qin-nz your application id shows that you are not registering with the lastest version, please delete your app @ apps.dev.microsoft.com and register a new one at the same website

[2016-08-18 00:16] Brian-Ding commented on #866
the application id should be in this format
![image](https://cloud.githubusercontent.com/assets/11363173/17757752/feebe5da-651b-11e6-8c59-34552b6eee4d.png)

[2016-08-18 09:51] qin-nz commented on #866
@Brain-Ding Oh, thanks.
I just create a live sdk app early.
![image](https://cloud.githubusercontent.com/assets/6998071/17769431/164dd766-656b-11e6-8089-3c3fbb50d806.png)

[2016-08-18 16:06] jworley opened #948 "AD FS OAuth2: NotSupportedException: Specified method is not supported"
I am attempting to follow the tutorial found here: https://vcsjones.com/2015/05/04/authenticating-asp-net-5-to-ad-fs-oauth/ to configure OAuth authentication with an AD FS server.

This is my raw exception:

[code]

This is my `ConfigureServices()` method:
[code]

And my `Configure()` method:
[code]

Thank you in advance for any advice you can provide.

[2016-08-18 16:44] Tratcher commented on #938
I don't see anything obviously wrong. @troydai can you try debugging it?

[2016-08-18 16:52] Tratcher commented on #948
[code]

Your AuthenticationScheme is wrong, it should be a unique identifier for the OAuth instance like "MyOAuth"

[2016-08-18 16:57] jworley commented on #948
Thank you, that worked.

[2016-08-18 16:57] #948 closed

[2016-08-18 21:01] vaindil commented on #699
So if I understand correctly, I basically shouldn't be using `OnAuthenticationFailed`? I cannot for the life of me figure out how I would use it. I have this basic code but no idea where to go with it.

[code]

[2016-08-18 21:41] vaindil commented on #699
My previous comment is still valid, but this is what I'm doing to work around it right now. This is not production-ready, I have no idea how to do this properly. It returns 200 because I'm unable to edit that myself, but at least the body gives the error message and real status code.

[code]

[2016-08-19 18:53] troydai commented on #938
@optlink the problem is that when the `ClaimsIdentity` is created in handler it is not given an authenticate type. As a result it's regarded as __not__ authenticated. (https://msdn.microsoft.com/en-us/library/system.security.claims.claimsidentity.isauthenticated(v=vs.110).aspx)

A quick fix is to assign it a string represents any authentication type:

[code]

[2016-08-19 18:53] #938 closed

[2016-08-19 20:17] Eilon commented on #699
@HaoK / @Tratcher can you comment?

[2016-08-19 20:40] tuespetre opened #949 "CookieAuthenticationEvents.OnValidatePrincipal can result in a NullReferenceException"
Before `OnValidatePrincipal` is called by the `CookieAuthenticationHandler`, `CheckForRefresh` is called, which guards against `null` values for `IssuedUtc` and `ExpiresUtc` before calling `RequestRefresh`; however, afterwards, if `ShouldRenew` was set to `true` on the `CookieValidatePrincipalContext`, `RequestRefresh` will be called directly without any safeguards against `null` values:

https://

[2016-08-19 20:48] optlink commented on #938
@troydai that fixed it, thank you.

[2016-08-20 00:06] HaoK commented on #879
6f15d616a8954420bcb277ed938de1b14f6dbd6f

[2016-08-20 00:06] #879 closed

[2016-08-20 00:07] HaoK commented on #879
FYI, I'll be adding an option to have the default service fail fast as well https://github.com/aspnet/Security/issues/945

[2016-08-20 13:00] mafshin commented on #769
I'm getting the same as detailed [here](http://stackoverflow.com/questions/39051705/bearer-was-forbidden-with-authorize-filter-in-identityserver4).

Is this issue the result of a misconfiguration or something else?

[2016-08-23 01:30] Darkseal commented on #804
It seems like I managed to fix it without having to use the "events" workaround in the following way:

    services.AddIdentity<ApplicationUser, IdentityRole>(config =>   {
        // ...
        config.Cookies.ApplicationCookie.AutomaticChallenge = false;
        // ...
    });

Let me know if it works for you guys too.

[2016-08-23 20:18] LukaszDev commented on #866
Check if you have enabled 'Live SDK support' checkbox in settings of your new Application?

[2016-08-24 15:30] recalde opened #951 "Windows groupsid not translated to ClaimTypes.Role for Trusted Domain"
Using .NET 4.6 with ASP.NET Core I am unable to use windows domain global groups on ClaimsPrincipal for Authorization without manually translating groupsid to NTAccount and adding back to ClaimsPincipal as new Claim(ClaimTypes.Role, roleName).

This code tests claim principal for all Claims:
`principal.Claims.Select(c => string.Format("{0}-{1}", c.Type, c.Value)).ToArray();`

This returns only gro

[2016-08-24 15:52] recalde commented on #951
Using UseIISIntegration with forwardWindowsAuthToken
`<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="true" stdoutLogEnabled="false" />`

[2016-08-25 10:36] PinpointTownes opened #953 "OpenIdConnectOptions - resolve ClientId / ClientSecret dynamically"
_Moved from https://github.com/openiddict/openiddict-core/issues/202._

-----------

I have a ASP.Net WEB API application that is a "client" to a OpenIddict server. This API is used by various customers. And refresh token should be provided by the OpenIddict server in the correct customer scope. When configuring UseOpenIdConnectAuthentication on the WEB API Startup, we can set the ClientId / Clien

[2016-08-25 15:18] Tratcher commented on #953
We call this multi-tenancy, and currently there's no support for it.

https://github.com/aspnet/Security/issues/35

[2016-08-25 15:35] PinpointTownes commented on #953
Actually, I had an idea soon after moving this ticket: I'm pretty sure this scenario could be achieved using the `RedirectToIdentityProvider`/`AuthorizationCodeReceived` events (by dynamically replacing the `client_id` parameter from the authorization/token request).

/cc @tedvanderveen

[2016-08-25 16:43] Tratcher commented on #953
That assumes the metadata is the same for each client

[2016-08-25 16:48] Tratcher commented on #951
@brentschmaltz?

[2016-08-25 22:31] #953 closed

[2016-08-25 22:34] Eilon commented on #949
We think the behavior is that if the value is null it should just ignore it and not throw any exceptions.

[2016-08-25 22:34] #944 closed

[2016-08-26 06:35] tedvanderveen commented on #953
@Tratcher @PinpointTownes Yes one could call it multi-tenancy, but in a very basic way. That is, only the client_id and client_secret should vary, the other metadata/Options stay the same from the perspective of the multi-tenant application (in this case the ASP.Net Web API application that authenticated against the OpenID server).
So basically we need to direct the OpenID server on what Applicati

[2016-08-26 17:32] troydai commented on #743
Fixed. PR https://github.com/aspnet/Security/pull/925

[2016-08-26 17:32] #743 closed

[2016-08-27 13:28] brockallen opened #956 "OpenIdConnectEvents event for RemoteSignOut complete"
A useful event to have would be one that fires after the sid checking is complete and the authentication cookie has been removed.

[2016-08-27 13:39] brockallen opened #957 "OIDC MW: HandleRemoteSignOutAsync"
Should emit cache control headers:

[code]

https://openid.net/specs/openid-connect-frontchannel-1_0-01.html#RPLogout

[2016-08-27 14:13] brockallen opened #958 "OIDC MW: EndSession iss check"
The OIDC front-channel signout spec was updated to include the `iss` param, so the MW should check for it: https://openid.net/specs/openid-connect-frontchannel-1_0-01.html#OPLogout

[2016-08-28 00:17] tinchou commented on #900
I'm also working on a similar problem. I'm using JWT as my app's authentication transport method, and the users get one after signing in with their username and password.

On the other hand, they can also use Facebook to authenticate.

`FacebookAuthenticationMiddleware` does a nice work validating Facebook's access_token and also populating the user claims with it. It does almost everything [here]

[2016-08-28 14:56] ryanelian opened #959 "Discussion: Microsoft.AspNetCore.Authentication.JwtBearer contains absurd amount of black magic"
I am trying to develop a ASP.NET application using JWT for securing certain routes and then decided that I would use `app.UseJwtBearerAuthentication()` to make my life easier by not reinventing the wheel. (And so I can use `[Authorize]` and call it a day)

However, instead of speeding up an entire day of work, I ended up investigating for hours why a perfectly fine `Authorization: Bearer insert_jw

[2016-08-28 19:16] brockallen commented on #957
Well, I guess this does happen but not in the OIDC MW -- rather this is done in the cookie authentication middleware when SignOut is triggered. Feels leaky to rely upon that.

[2016-08-28 20:51] Tratcher commented on #959
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#493

[2016-08-28 20:51] #959 closed

[2016-08-29 15:26] adrian-cy opened #960 "What happened to SaveTokensAsClaims property? Disappeared during rename?"
Hi,

There was a property (SaveTokensAsClaims) in OpenIdConnectOptions.cs that seems to have disappeared without any explanation during the renaming of the namespace from Microsoft.AspNet.* to Microsoft.AspNetCore.*

Link to last commit in history for the file:
[The History](https://github.com/aspnet/Security/commits/00c81d41aaeeb2d9ba48932c083681a9ba7a20a7/src/Microsoft.AspNet.Authentication.Open

[2016-08-29 15:47] Tratcher commented on #960
See SaveTokens https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationOptions.cs

[2016-08-29 16:43] troydai commented on #949
Fixed in https://github.com/aspnet/Security/commit/cbbec15d37f85187d6d32252ed84887dde5b2798

[2016-08-29 16:43] #949 closed

[2016-08-29 21:50] Tratcher commented on #900
Look at the Individual Auth template in VS where you can log in with OAuth providers (Facebook) or username and password. If you already have the logic to issue JWTs for user logins, you should be able to use the existing middleware to log in and then issue a JWT from there. See https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L149-L

[2016-08-29 21:51] Tratcher commented on #956
not until v2.0 unless we find a way not to break everybody. https://github.com/aspnet/Security/issues/942#issuecomment-238947101

[2016-08-29 21:58] Tratcher commented on #699
This isn't going to work, the flow control implementation in the JWT middleware is incomplete. Here's an alternative approach we took to return these kind of errors: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L196-L260

[2016-08-30 14:16] c-s-n opened #961 "Additional ClaimsIdentity lost when authorizing with ActiveAuthenticationSchemes"
### Title
Any manually added `ClaimsIdentity` on an **existing** `ClaimsPrincipal` is lost when using an `AuthorizeAttribute` specifying a (non-empty) `ActiveAuthenticationSchemes`.

### Functional impact
When using Windows Authentication we want to add custom claims to the list of claims for the current `ClaimsPrincipal`. Therefore we use a custom middleware that looks up the user via its login n

[2016-08-30 17:44] tinchou commented on #900
Thanks for your reply! I looked at it but I think it's too tied into how
the template sets up authentication. For example, I'm not using Identity
but only the jwt authentication middleware.

My solution for now is to get an access token in the client side using the
Facebook SDK. Then validate it with a custom code derived from
FacebookHandler code and generate the jwt.

On Mon, Aug 29, 2016, 18:51

[2016-08-31 14:36] PinpointTownes opened #962 "Microsoft.AspNetCore.Authentication.Twitter's package description is incorrect"
The Twitter provider uses OAuth 1.0, not OAuth 2.0 (that's why it doesn't inherit from `OAuthMiddleware`): https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/114#issuecomment-243774529

@Eilon pretty sure that one is for you :smile:

/cc @arielcloud

[2016-08-31 20:47] ycrumeyrolle opened #963 "OIDC - Consider adding distributed claims support"
The OIDC specs define distributed claims.
See http://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims

A distributed claim is represented by the source url of the claims provider in the userinfo response.
By providing the HttpClient in the UserInformationReceived event, it will be easy to implement this optionnal part of the OIDC specifications.

Another way to achieve thi

[2016-09-01 12:53] jasongaylord opened #964 "Third-Party Providers - Add a LinkedIn Provider"
Currently, there are providers for Facebook, Google, Microsoft, and Twitter. There are also generic OAuth and OpenId providers. Can we have a LinkedIn OAuth provider?

[2016-09-01 13:05] arielcloud opened #965 "do you want intuit QuickBooks provider?"
I'm implementing a QuickBooks provider (OAuth 1.0, I started with the twitter code).
If I'll open a PR, will you want to add this? or should i add it as external nuget package?

[2016-09-01 15:07] Tratcher commented on #964
See https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.LinkedIn

[2016-09-01 15:08] Tratcher commented on #965
https://github.com/aspnet-contrib is probobly the best place for a QuickBooks provider.

[2016-09-01 20:28] jasongaylord commented on #964
So it's safe to say additional providers should be through the contrib project?

[2016-09-06 13:57] adrian-cy commented on #960
@Tratcher Thanks

[2016-09-06 13:57] #960 closed

[2016-09-07 06:47] iberodev opened #967 "System.InvalidOperationException: No authentication handler is configured to handle the scheme: Automatic"
This might be a bug with Kestrel (not with IIS).

Scenario:
1. Create a New Asp.Net Core (version 1.0.0) project
2. Choose the Web API template
3. Add the `[Authorize]` attribute on the default ValuesController
4. Run the application

If I run the application with IIS and make a GET request to `http://localhost:60513/api/values` I get the expected `401 Unauthorized error`

If however I run the app

[2016-09-07 06:51] iberodev commented on #967
I created a[ question at Stackoverflow](http://stackoverflow.com/questions/39359537) thinking that this could be expected behavior to see if anybody could explain why.

[2016-09-07 12:37] Tratcher commented on #967
Authorize requires at least one auth middleware in order to issue challenges. In IIS the IISMiddleware acts as an auth middleware and sets a 401 so IIS will set windows auth challenge headers. That doesn't apply when running just Kestrel, you need something like CookieAuth or JwtBearer, etc..

[2016-09-07 16:25] recalde commented on #951
Should we expect **ClaimsPrincipal** and **Authorization** attribute to work with Windows Groups by default or is it expected behavior to fix-up claims principal to add them as roles?

[2016-09-07 16:26] recalde commented on #951
I have also seen Stackoverflow comments about hard-coding GroupSids as constants to workaround this issue.

[2016-09-08 12:54] gdoron commented on #801
@Tratcher @Eilon
I still didn't figure it all out as it looks very random.
But we launched our website just now, and a user got this error from the FB middleware:

If you are interested, I can share **privately** the user's hotjar session recording and the logs of his session.

[2016-09-08 18:05] Tratcher commented on #801
Sure, my e-mail is in my profile.

[2016-09-08 18:51] gdoron commented on #801
Just to make sure since it contains sensitive data.
Is you nickname at microsoft.com, correct?

[2016-09-08 18:52] Tratcher commented on #801
No, outlook.com

[2016-09-08 19:13] gdoron commented on #801
@Tratcher sent.

[2016-09-08 20:59] Tratcher commented on #801
Discussed offline, the user is probably hitting the Back button.

[2016-09-08 22:15] Eilon commented on #963
We will consider this in a future version. Just re-using the HttpClient would sometimes be a nice perf optimization, but we'll look into providing a more complete and useful implementation of distributed claims.

[2016-09-08 22:16] Eilon commented on #962
I'll let @troydai fix it. I'll review 😄

[2016-09-08 22:19] Eilon commented on #961
The problem in the repro code seems to be that the `[Authorize]` attribute is requesting one type of authorization (Cookies, in this case), yet the provided identity wasn't created by the Cookies middleware, it was created using a custom authentication scheme. Those two values need to match.

cc @blowdart

[2016-09-08 22:19] #961 closed

[2016-09-08 22:28] Eilon commented on #957
We will consider this in a future version.

[2016-09-08 22:32] Eilon commented on #951
The Authorize attribute should already work in this case if you are using the Roles property.

This only works for a WindowsPrincipal. which is what you will get with IIS Integration.

As soon as you treat it as a ClaimsPrincipal isInRole will not work.

So what are you trying to do on a ClaimsPrincipal?

[2016-09-08 22:33] Eilon commented on #965
Yeah no plans on adding more 3rd party providers at this time.

[2016-09-08 22:33] #965 closed

[2016-09-08 22:34] Eilon commented on #964
Yeah no plans on adding more 3rd party providers at this time.

@jasongaylord yep in general through contrib.

[2016-09-08 22:34] #964 closed

[2016-09-08 22:36] Eilon commented on #870
We sent this info to the Edge team so I'm closing this. We will post here when we have updates.

[2016-09-08 22:36] #870 closed

[2016-09-09 07:33] andycmaj commented on #929
@Tratcher, I'm running into the same issue when running aspnet core in a docker container and terminating SSL at a load balancer.

Cookie authentication redirects don't work because AuthHandler always tries to redirect to http, since from the container's perspective, it's just serving up http.

Are you suggesting that the middleware/auth handler will respect the `X-Forwarded-Proto` header when gen

[2016-09-09 14:46] recalde commented on #951
@Eilon very sorry to waste your time, this is working as expected.  This might have been an issue we had with RC1 that's been fixed since then and I just didn't have a chance to re-test with the snippet removed.

I should have tested with RTM more before logging the issue (or logged it back in February when encountered it...

[2016-09-09 14:46] #951 closed

[2016-09-09 18:14] Eilon commented on #951
Glad you got it working!

[2016-09-10 10:54] hempels opened #969 "Google handler should include claim for profile image url"
Google returns the user's profile url as well as the profile image url. Currently only the profile url is included as a claim. The image is useful data and should be included as a claim also.

[2016-09-10 11:04] hempels opened #970 "ExternalLoginInfo.AuthenticationTokens is empty"
After successful external auth, there doesn't appear to be a simple way to retrieve the access tokens returned, at least from the Google authentication handler. There's a property on ExternalLoginInfo named AuthenticationTokens, but it seems to always be empty.

Is there another way to retrieve the access tokens that were returned during Google auth?

[2016-09-10 14:37] Tratcher commented on #970
You have to opt-in by setting SaveTokens = true;
https://github.com/aspnet/Security/blob/59fc691f4152e6d5017176c0b700ee9834640481/samples/SocialSample/Startup.cs#L111

[2016-09-11 01:51] hempels commented on #970
Brilliant! Thank you.

Would be even better if it was in the docs, but things are coming along nicely. :+1:

[2016-09-13 05:49] hempels opened #971 "Google middleware authorization should use prompt instead of approval_prompt"
I see support in GoogleHandler.BuildChallengeUrl for approval_prompt via:
`AddQueryString(queryStrings, properties, "approval_prompt");`

First, I can't figure out how to apply that property. Setting it in CookieAuthenticationEvents.OnSigningIn doesn't seem to cause any different behavior by Google.

Second, it's not the right property. Google deprecated it in favor of prompt, which has four possi

[2016-09-13 19:21] pranavkm opened #972 "AddAuthorization should chain AddOptions"
[code]

Expected: Get the `DefaultAuthorizationPolicyProvider`
Actual:
Unable to resolve service for type 'Microsoft.Extensions.Options.IOptions`1[Microsoft.AspNetCore.Authorization.AuthorizationOptions]' while attempting to activate 'Microsoft.AspNetCore.Authorization.DefaultAuthorizationPolicyProvider'.

`AddAuthorization` should chain `AddOptions` so that you don't have to explicitly call it.

[2016-09-13 19:24] HaoK commented on #972
Good catch!

[2016-09-13 19:25] Tratcher commented on #972
Except Hosting always adds Options so most of the components don't have to.
https://github.com/aspnet/Hosting/blob/0a7cf6b5a0d090fe085a16e56eb8c8931d31e073/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L196

[2016-09-13 19:30] HaoK commented on #972
Yeah I guess we don't add options anywhere else, Identity/MVC all rely on hosting (or the unit test setup) to call AddOptions

[2016-09-13 19:31] HaoK commented on #972
Options are special and assumed to be present I guess :)

[2016-09-13 20:52] Tratcher commented on #971
Those property overrides can be specified in the initial call to Challenge with the AuthenticationProperties collection.

As for approval_prompt, we'll have to dig up the official list of parameters and update it.

[2016-09-14 09:49] JaapMosselman opened #973 "CookieAuthenticationHandler, in case using SessionStore, cookieOptions.Expire is not set on renewal"
I think I found an issue in Microsoft.AspNetCore.Authentication.Cookies.CookieAuthenticationHandler class, method FinishResponseAsync. There is a line of where cookieOptions.Expire property is set if IsPersistent is true. The problem is that, in case of using a SessionStore, ticket.Properties.IsPersistent is always false, because in that case ticket is assigned a new instance with clean options.
S

[2016-09-14 19:28] hempels commented on #971
One note, I think the current solution is perhaps creating extra work for you guys and for consumers of the API. I struggle to come up with a reason it wouldn't make sense to just provide a parameters dictionary so any value can be passed to the target API. That approach seems to work for WebRequest headers, etc. The way this is implemented now, the library will constantly be chasing API revisions

[2016-09-15 22:11] Eilon commented on #969
We generally don't include extra data because not all apps need them, and can make the cookie size get excessively large. However, we made it fairly easy to add the right scopes (if necessary), and then map the claims into the data you request.

[2016-09-15 22:13] Eilon commented on #970
@Tratcher can you have a look at the docs and see what needs to be updated there?

[2016-09-15 22:14] Eilon commented on #971
We should check the Google docs if `approval_prompt` is still the right field, and if not, update our codes.

[2016-09-15 22:17] Eilon commented on #972
Not a high priority.

[2016-09-15 22:17] #972 closed

[2016-09-15 23:13] HaoK commented on #945
e8f55bdb13a865210eb151f943b69a528fee6242

[2016-09-15 23:13] #945 closed

[2016-09-15 23:28] Tratcher commented on #970
Filed https://github.com/aspnet/Docs/issues/1883 for doc updates

[2016-09-15 23:28] #970 closed

[2016-09-17 15:19] brockallen opened #976 "OIDC handler bug in user info response handling for multiple claims of same type"
Imagine user info endpoint returns this:

[code]

This line: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L788

Adds the role claim with this as the value: `[ "role1", "role2" ]`.

It should break the array into multiple claims. Here's an extension method that already does this: https://github.com/IdentityModel/IdentityMo

[2016-09-19 09:57] dotnetjunkie opened #977 "Remove the IAuthorizationRequirement interface"
The `Microsoft.AspNetCore.Authorization` namespace contains the [IAuthorizationRequirement](https://github.com/aspnet/Security/blob/34ee0212d0c6de76a40609b70df77545dbdde3bf/src/Microsoft.AspNetCore.Authorization/IAuthorizationRequirement.cs) interface. This interface is a marker interface; it contains no members. It is used to mark DTOs as authorization requirement and is solely used as generic ty

[2016-09-19 14:05] norcis commented on #900
Hi everybody! I have the same concerns web UI vs native UI with "resource owner password credentials grant" and social login. As I understand web UI is recommended way. What is your experience going one or another way?

[2016-09-19 19:54] mclark1129 opened #978 "State parameter generated by middleware is too large for Azure AD"
I'm trying to implement a login flow that requires more than one redirect in order to authenticate the user.  I'm using Identity Server 4 to manage my application users, with Azure AD as an external identity provider.  Both the Application and IdSrv4 are using the `OpenIdConnectMiddleware` in order to manage authentication.  The problem that I have is the value for the `state` parameter appears to

[2016-09-19 21:15] danroth27 opened #979 "Switch MSA to use the consumer endpoints"
Currently, MSA is using the "converged" endpoints for MSA and AAD and is pointing to `/common`. This means that an app using the MSA middleware might someone in using the AAD account by accident, instead of their MSA. We should consider switching to the `/consumer` endpoints instead, which would limit the flow to just MSA.

@vibronet

[2016-09-19 21:22] Tratcher commented on #979
Breaking change?

[2016-09-19 21:38] danroth27 commented on #979
You mean where an app is relying on the ability to sign in with an org account when MSA is configured? That was never really the intention . . .

[2016-09-20 17:24] HaoK commented on #930
@Tratcher do you think we need to revisit anything here or are we 'happy enough' with the current behavior...

[2016-09-20 18:56] Tratcher commented on #930
The only improvement I can think to make here is for Challenge to always call PriorHandler and let ShouldHandleScheme in the next middleware deal with it (or have Challenge check ChallengeContext.Accepted?). That way ChallengeCalled will be set so HandleAutomaticChallengeIfNeeded will short circuit.

Invoking all the handlers on Challenge should be fine as ShouldHandleScheme should only be true in

[2016-09-20 19:15] HaoK commented on #930
The problem with changing this behavior is how subtle it is, so we are likely to randomly break any apps who accidentally or not are relying on the current behavior in some subtle hard to discover way.

Since this issue only occurs if there are multiple auth middleware, where one of them has AutomaticChallenge set to true right?  Can we just state that isn't really well supported scenario, and tha

[2016-09-20 19:16] PinpointTownes commented on #930
So basically any app that uses Identity with the default configuration? You're making me regret using it... really.

[2016-09-20 19:21] blowdart commented on #930
Be fair, for most apps using identity, cookies are the only middleware. That's the default in all the templates too.

[2016-09-20 19:26] HaoK commented on #930
Plus its not that you can't use cookies + other auth middleware, its just that you should avoid relying on AutomaticChallenge in that situation, you should be able to do the equivalent of what automatic challenge is doing

[2016-09-20 19:29] PinpointTownes commented on #930
Again, you're missing the whole point: calling `ChallengeAsync("scheme corresponding to a middleware with AutomaticChallenge = false")` SHOULDN'T result in the other automatic handlers being invoked.

This is definitely a bug.

[2016-09-20 19:33] HaoK commented on #930
So the original design was that any auth middleware which has AutomaticChallenge set to true will have Challenge run at the end request if the auth middleware hasn't been challenged yet.  So we've always known that having cookies set to auto would stomp on other kinds of challenges (why we say don't mix cookies with auto challenge true)

[2016-09-20 19:38] PinpointTownes commented on #930
What's the point of returning a bool from `HandleUnauthorizedAsync`, then? The original design (i.e the one used in Katana) was that automatic challenges were only applied if no challenge was manually returned. This is not what happens here.

[2016-09-20 19:46] PinpointTownes commented on #930
If you don't want to fix this bug, please at least provide a way to work around it (e.g. by making `HandleAutomaticChallengeIfNeeded` protected virtual).

[2016-09-20 19:49] HaoK commented on #930
That seems like the safest change, making it protected virtual in 1.1 works

[2016-09-20 20:45] PinpointTownes commented on #930
Forget that, this won't work (or I'd have to create a custom cookies middleware and force my users to rely on it)

[2016-09-20 21:07] Tratcher commented on #930
Offline discussion: We'll try ignoring the handled result in ChallengeAsync and always call PriorHandler. This makes ChallengeCalled get set in all the middleware so HandleAutomaticChallengeIfNeeded can short circuit. The additional middleware should no-op due to ShouldHandleScheme.

[2016-09-20 21:08] PinpointTownes commented on #930
@Tratcher thanks, you rock :+1:

[2016-09-20 21:31] Tratcher commented on #978
We have similar issues with cookies when there are too many claims to serialize. One workaround we use is the CookieAuthenticationOptions.SessionStore ITicketStore. This stores the real value on the local server in a cache and only sends a GUID to the client. The next time we see that GUID we retrieve the claims from the cache. https://github.com/aspnet/Security/blob/dev/samples/CookieSessionSampl

[2016-09-21 06:29] leastprivilege commented on #976
Any comment? This makes the userinfo feature pretty much unusable...

[2016-09-21 13:17] lszomoru opened #981 "OpenIdConnect - ASP.NET webapi silent authentication"
I have created a web application based on the OpenIdConnect.AzureAdSample project. Apart from the MVC model, views, and controllers, I have also added a couple of web apis which are being called from client side code. The site is being hosted using IIS, with the data protection registry hive created as documented [here](https://docs.asp.net/en/latest/publishing/iis.html#create-a-data-protection-re

[2016-09-21 15:45] mclark1129 commented on #978
@Tratcher Thanks!  I will look into this over the next few days and let you know how it shakes out.  The only trick will be caching in such a way that it works in a web farm. We're hosting this in Azure and want to be able to scale out easily.

[2016-09-21 18:22] HaoK commented on #930
e12838e38f5f8be8371c0a7b02d9ce47e0663ce0

[2016-09-21 18:22] #930 closed

[2016-09-21 18:23] HaoK commented on #930
Should we put up an announcement for this change?

[2016-09-21 18:24] HaoK commented on #930
Ironically, we didn't fix the bug title, we made that the new official behavior :)

[2016-09-21 18:37] Tratcher commented on #930
Let's not, nobody would know what we were talking about :-).

[2016-09-21 19:14] Tratcher commented on #976
Triage is tomorrow, we'll take a look.

[2016-09-21 19:45] Tratcher commented on #981
You're sharing a cookie for interactive calls and webapi calls. Cookies are not appropriate for web-api calls because they require user-interaction to renew. WebApis should use bearer tokens instead (e.g. JWT). You can use something like IdentityServer4 to exchange your cookie for a bearer token. https://github.com/IdentityServer/IdentityServer4

[2016-09-21 20:37] brentschmaltz opened #983 "Add support for JWE tokens"
JWE tokens require access to private asymmetric or symmetric keys.
IdentityModel is adding support for JWE, while possible to set the keys on the IdentityModel OM, that would require users to work at the IdentityModel layer for this feature.

A collection something like would work:

[code]

It may also make sense to have a delegate that can return a key. Dropping to IdentityModel may make sense he

[2016-09-21 20:38] hempels commented on #969
It is possible to map the claims, but having gone through the process, I'm not convinced it's easy. The method is not at all intuitive and is entirely undocumented apart from sample code. While I applaud the effort, as an end user the current solution is far too time consuming. I'm finding this to be fairly consistently the case with ASP.NET Core. My hope is that some of this prodding will prompt

[2016-09-21 22:04] Eilon commented on #969
@hempels understood, so I'm re-opening this issue. Can you give an example of what you found to be not easy, and perhaps propose a syntax that you would find to be easier to use?

[2016-09-21 23:30] #859 closed

[2016-09-22 07:14] lszomoru commented on #981
Thank @Tratcher for getting back to me on this. I will read up on IdentityServer4.

[2016-09-22 07:14] #981 closed

[2016-09-22 07:43] leastprivilege commented on #981
http://docs.identityserver.io

[2016-09-22 17:39] troydai opened #985 "Check the response's content type is application/json for authorization response."
Code: https://github.com/aspnet/Security/blob/25f39dd0f5f9a9199b720c2a53a2002cad26a8c4/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthHandler.cs#L152

Though we did set the `Accept` header to `application/json`, the response's content type is not actually verified.

[2016-09-22 20:49] mclark1129 commented on #978
@Tratcher I was able to work out a solution pretty quickly like you suggested, by implementing my own StateDataFormat using in memory caching.  I will upgrade this to use distributed caching going forward at some point, so we can scale out Identity Server, but other than that it worked like a charm.

Thanks again!

[2016-09-22 21:39] PinpointTownes commented on #985
Please be extremely careful before implementing such a check: while the OAuth2 specification mandates the use of JSON for the token endpoint, AFAIK, it doesn't say you have to return a `Content-Type` header, which is an optional response header (it's just recommended by the HTTP 1.1 spec).

I wouldn't be surprised if well-known providers didn't return a `Content-Type` header... they really do craz

[2016-09-22 21:50] PinpointTownes commented on #983
Really great news :+1:

Related ticket: https://github.com/aspnet/Security/issues/430

[2016-09-22 22:05] muratg commented on #894
This is a missing feature in ADAL. Nothing to do in OIDC here. Feel free to ask any questions you may have to Azure AD.

[2016-09-22 22:05] #894 closed

[2016-09-22 22:08] muratg commented on #969
We could potentially consider adding a feature where a user app can map a JSON filed to a claim to make this easier.

[2016-09-22 22:09] muratg commented on #976
@PinpointTownes thoughts?

Assigning to @troydai for further investigation.

[2016-09-22 22:11] muratg commented on #977
We won't be doing this change, this is a breaking change and marker interfaces are sometimes necessary.

[2016-09-22 22:11] #977 closed

[2016-09-22 22:12] dotnetjunkie commented on #977
Can you explain what the need is for the marker.interface in this particular case?

[2016-09-22 22:13] muratg commented on #979
@danroth27 We talked about this in the Security triage. This is by design and by request from AAD.

Talk to @vibronet 😄

[2016-09-22 22:13] #979 closed

[2016-09-22 22:22] PinpointTownes commented on #976
@muratg IMHO, it's clearly worth fixing this bug (it also impacted a bunch of ASOS/OpenIddict users and my recommendation was to use the identity token to flow "array" claims instead of using the userinfo endpoint, since Wilson fully supports that).

Note: @brockallen's approach is simple and fine, but it doesn't preserve the claim value type. It's not critical but it's something to remember befor

[2016-09-22 22:23] muratg commented on #985
We decided to not do this. If the content-type is wrong or empty, and body is correctly parseable JSON, we'll be OK. otherwise JSON parsing will throw. We'll keep being lenient in receive. Besides this would be a breaking change.

[2016-09-22 22:23] #985 closed

[2016-09-22 22:42] Tratcher commented on #969
Idea:
`options.AddClaimMap(jsonKey, claimName, claimType);`

[2016-09-22 22:53] HaoK commented on #969
We should just generalize the functionality that's currently hardcoded in Facebook/Google handler that's copying claims over into the default claim map, and let that be the source of truth for what's done before the creating ticket event is fired.

[2016-09-23 05:30] troydai commented on #976
@brockallen do you know an existing authentication server and client application can return claims in this way? It is helpful for me to build a repo quickly. Otherwise, I'll try to build a similar example or mock an auth server.

[2016-09-23 05:33] vibronet commented on #979
@muratg what triage meeting are you referring to? I wasn't in today's one, and I am not sure I understand why AD would request this. MSA is in the name of the middleware, it think it is legitimate for the developer to expect to drive authentication with an MSA. Whereas /common in the v2 endpoint allows user to authenticate with both organizational and consumer accounts, throwing a home realm disco

[2016-09-23 06:33] leastprivilege commented on #976
@PinpointTownes You cannot solely use the id_token to flow claims because spec:

[2016-09-23 06:35] leastprivilege commented on #976
@troydai IdentityServer does

here's the host:
https://github.com/IdentityServer/IdentityServer4

and here's a client using hybrid flow and userinfo
https://github.com/IdentityServer/IdentityServer4.Samples/tree/dev/Clients/src/MvcHybrid

[2016-09-23 08:04] rsen253 opened #987 "How to set a custom message for unauthorized request"
context.Succeed(requirement) //
If it return a success result it will go inside the controller otherwise It will be an unauthorized access. But in case unauthorized access how can I show custom message(string / json / object) to the user .

[2016-09-23 08:47] HaoK commented on #987
This is basically a dupe of https://github.com/aspnet/Security/issues/872

[2016-09-23 09:27] rsen253 commented on #987
/*in controller level */
[Authorize(Policy ="UserToken")]
    public class XYZController : Controller
    {
          public IActionResult Post([FromBody]GetPrescriberViewModel model)
          {
                        ///do something
                        return model
          }
    }

/*  HandleRequirementAsync */
protected override Task HandleRequirementAsync(AuthorizationHandlerContext con

[2016-09-23 11:07] ademcaglin opened #988 "How to use AuthorizationEndpoint which contains query string parameters with OAuth."
Is there an easy way to use `AuthorizationEndpoint `which contains query string parameters?  For example below code doesn't work as i expect

        var facebookOptions = new FacebookOptions
        {
              //...
              AuthorizationEndpoint = FacebookDefaults.AuthorizationEndpoint + "?param1=param1",
        };

Only way i found to solve this problem is using event:

       var fa

[2016-09-23 14:14] PinpointTownes commented on #962
Fixed: https://github.com/aspnet/Security/commit/5aae7ded010dd80dfb24ca17fc719ff4f4658cd6.

[2016-09-23 14:14] #962 closed

[2016-09-23 16:34] troydai commented on #971
`approval_prompt` is renamed to `prompt` for Google API. I'll make changes in our code accordingly.

[2016-09-23 16:35] muratg commented on #977
It's representational -- it prevents usage of an incorrect type as the generic type.

[2016-09-23 17:56] troydai commented on #971
`approval_prompt` is a legacy parameter. Though it is not in the official document, it is still working. `prompt` is a different parameter for different usage. We will keep both.

[2016-09-23 18:08] troydai opened #990 "[OAuth] Allow developer to easily customize query parameters on authorization endpoint"
Today what parameter to be put on the query is hardcoded: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthHandler.cs#L210. There are two existing ways to customize the list of parameters to be added.
1. Override the `BuildChallengeUrl` method. That requires a deeper overwrite to the handler.
2. Override the event `RedirectToAuthorizationEndpoint`. It

[2016-09-23 18:09] troydai commented on #971
Issue is fixed in ddeef1f9ac09c34c2a2c28e35923ae7288b1049e

I filed additional issue #990 to track @hempels 's feedback on auth query parameters.

[2016-09-23 18:09] #971 closed

[2016-09-23 18:09] Tratcher commented on #987
There's no direct way for authorization failures to send a custom response. These failures trigger an authentication challenge, and the mechanics of that challenge depend on the type of auth you're using. The authentication middleware end up generating the response.

[2016-09-23 18:13] Tratcher commented on #990
The Google middleware has a feature where it allows you to specify parameters via the AuthProperties in the challenge.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Google/GoogleHandler.cs#L98
Unfortunately these are hard-coded and get out of date. Consider changing this to a list of KVP of kyes to take from the auth properties and add to the query.

[2016-09-23 18:14] Tratcher commented on #969
Similar issue mapping custom challenge parameters: https://github.com/aspnet/Security/issues/990

[2016-09-23 18:15] Tratcher commented on #988
That's it for now. RE: https://github.com/aspnet/Security/issues/988

[2016-09-23 18:27] troydai commented on #988
Related https://github.com/aspnet/Security/issues/990

[2016-09-23 18:28] troydai commented on #976
@leastprivilege thanks.

[2016-09-23 18:45] Tratcher opened #991 "CookieUseSlidingExpiration do not renew the cookie properly"
_From @daboul on September 14, 2016 8:20_

Hi. I'm a little bit stuck here, any help would be greatly appreciated (first post on SO, sorry if I'm doing something wrong).

I managed to use the ASP.NET Core CookieAuthentication to create different cookie per route. If I call http://host/API/moduleName1/login it will create a authentication cookie with a path set to /API/moduleName1 that will be used

[2016-09-23 21:44] troydai commented on #883
Fixed in https://github.com/aspnet/Security/commit/28932a779523dcfed5ee844bac1c85a7e9a00a6d

[2016-09-23 21:44] #883 closed

[2016-09-23 21:56] Tratcher commented on #991
This seems like the sort of issue that should be solved at the authorization policy layer, not at the cookie layer. @HaoK ?

[2016-09-23 21:57] Tratcher opened #993 "Sharing authentication cookie with subdomain"
_From @ge6a93 on September 11, 2016 15:39_

Hi,

I have an ASP.NET Core website and for each registered user I provide a subdomain route: _user1.mysite.com_. The problem is that when the user goes to _mysite.com_ and logs in, they get redirected to _user1.mysite.com_ but it says that the user is not logged in - the authentication cookie is not shared across subdomains. I found this article - [http

[2016-09-23 21:58] Tratcher commented on #993
Wouldn't this work if you set CookieAuthenticationOptions.CookieDomain to "mysite.com"?

[2016-09-23 22:19] troydai commented on #973
I'm investigating.

[2016-09-26 07:38] #987 closed

[2016-09-27 21:30] troydai commented on #973
Good catch. A fix is being worked on.

[2016-09-28 04:26] JaapMosselman commented on #973
Great. Actually I discovered this problem in my current project which uses [Microsoft.Owin.Security.Cookies](https://www.nuget.org/packages/Microsoft.Owin.Security.Cookies). I also created an issue at the [Katana project](https://katanaproject.codeplex.com/workitem/470), but there seems to be no activity.
After I found the problem, I just thought: lets look it the problem still exists in the aspne

[2016-09-28 05:37] troydai commented on #973
Thanks for reporting the issue, @JaapMosselman !

[2016-09-28 05:58] cottsak commented on #69
Hey folks @Praburaj @Tratcher I think this is still broke.
I'm using `Microsoft.Owin.Security.Twitter` version 3.0.1 and my cookie is not being deleted. This is a pretty massive security hole.

[2016-09-28 12:10] ArturKarbone commented on #967
Just ran into the same issue with Kestrel. Working on Web API project for machine to machine communication  using SaasKit as a middleware to identify tenants based on application/security key provided. So basically i used custom Authorization Provider to secure my API methods.  As a workaround i  added **app.UseJwtBearerAuthentication();** in my Startup class as @Tratcher  mentioned.

[2016-09-28 13:42] fredgate commented on #322
I agree that ClaimsPrincipal should be injected in the business layer, even if `ThreadPrincipal` did not change much to write tests.
So how to configure the IoC container. I had the below code (with Autofac) :
[code]
It worked fine. But since I migrated to Asp.net Core MVC 1.0.1, this fails with the exception

What need to be done to have IHttpContextAccessor available in the container ?

[2016-09-28 16:30] dougbu commented on #322
Add the following to your `Startup.ConfigureServices()` method:
[code]

[2016-09-28 17:43] blowdart commented on #993
It should ...

[2016-09-28 17:54] blowdart commented on #993
@ge6a93 could you get this into a simple repo?

[2016-09-28 21:26] troydai commented on #973
https://github.com/aspnet/Security/commit/0152691108717bd74cc5f0406e7b745b31c8ca23

[2016-09-28 21:26] #973 closed

[2016-09-28 22:59] dstrockis commented on #912
Reopening to ask a related question, not really a new issue.

In this scenario (see original message), the user might be logged into the app with one instance of the OIDC middleware.  Then the developer invokes a different instance of the middleware using `ChallengeAsync(AuthenticationSchemeUsedForDifferentInstance, AuthenticationProperties)`.  I expected this call to trigger an auth request to th

[2016-09-28 23:05] Tratcher commented on #912
@dstrockis this was recently fixed here: https://github.com/aspnet/Security/pull/980

The Forbidden call is to avoid infinite auth challenge loops. If you already had a valid user for this provider then there's no reason to believe another login will grant the same user different permissions.

[2016-09-28 23:23] dstrockis commented on #912
@Tratcher awesome, thanks.

One important scenario we have is what we call "incremental consent".  This is where a single application signs the user in initially using a basic set of scopes, like `?scope=openid email profile`.  Then, when the user tries to perform some action, the app asks for additional permissions, like `?scope=openid profile email https://graph.microsoft.com/mail.send`.

In my

[2016-09-28 23:23] #912 closed

[2016-09-29 03:34] stephen-nba commented on #967
I have this same issue when trying to use dotnet watch run - but in my case I do have an auth middleware, just using OWIN so I can use WS Federation (targeting full framework of course):

[code]

Can someone explain why my OWIN pipleline doesn't count as auth middleware for kestrel, but works perfectly with IIS Express?

Here is my UseOwinApp extension:

[code]

[2016-09-29 03:56] Tratcher commented on #967
UseWsFederationAuthentication is not supported in ASP.NET Core, the underlying auth mechanics have changed.

IIS/Express itself counts as an auth hander as it can forward Windows auth.

[2016-09-29 09:04] devharis opened #997 "Adding external login throws 401, denied access"
I've noticed that adding your first external login works successfully, however when I try to add another one directly after I get redirected to Account/AccessDenied.

Ive traced down the issue to a session called Identity.External, as soon as I remove it and try adding external login it works. Then on success this session is created and i get Account/AccessDenied again.

My current workaround is t

[2016-09-29 15:21] Tratcher commented on #997
This was recently fixed. See https://github.com/aspnet/Security/pull/980

[2016-09-29 15:28] devharis commented on #997
Cool, thanks for the info!

[2016-09-29 19:37] PinpointTownes opened #998 "Update OpenIdConnectHandler.GetUserInformationAsync to preserve the claim value types"
https://github.com/aspnet/Security/pull/996#issuecomment-250236617

[2016-09-29 20:25] #988 closed

[2016-09-29 23:05] stephen-nba commented on #967
OK sure WS Federation isn't supported in ASP.Net Core. How about I change my example to this:

[code]

Can you please explain why that doesn't work? Is it because there is a disconnect between the Authorize attribute and the OWIN pipeline's authentication?

[2016-09-29 23:21] #976 closed

[2016-09-30 00:10] Tratcher commented on #967
Exactly. ASP.NET Core only supports standardized OWIN interop keys, but the keys used by Katana for security were never standardized, so Katana auth middleware mostly won't work with Core.

[2016-09-30 12:42] venkatrv commented on #179
Yes, I am also getting bad request error because cookie is too long and keep appending to request.
I saw so many users mentioned this issue in the net, but could not find a solution.
Is there a solution for this? or should I dropout identityServer3 because of this issue? if so, any other products can give similar functionality without the nonce issue?

[2016-09-30 17:13] troydai commented on #997
@devharis please feel free to reopen if it is still an issue.

[2016-09-30 17:13] #997 closed

[2016-09-30 19:54] vaindil commented on #699
@Tratcher Where would I implement that code? Not sure how to intercept it early enough to alter the response. I'm registering my validator with this in `Startup.cs`:

[code]

`JwtValidator` implements `ISecurityTokenValidator`:

[code]

[2016-09-30 20:50] Tratcher commented on #699
Inside the Challenge event
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L202
You can set headers but beware of writing to the body, it's easy to get into conflicts with other components.

[2016-10-01 01:55] jmickael commented on #179
I solved this problem after spending many hours with Microsoft support and researching on google. What it came down to was refreshing the nonce cookie.  For it to work I had to keep my OWIN packages like this:
  package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  package id="Microsoft.Owin.

[2016-10-01 10:30] RonniePitts commented on #179
Actually, you don't need to use Kentor.

If you always have a login controller for Azure just check the cookies there and perform a cleanup.

Basically, look for any OpenIdConnect.nonce cookie and set the expiry date in the end request.

Problem solved.

[2016-10-03 18:58] psidebotham opened #999 ".AspNetCore.Cookies grows until 400 Bad Request when using OpenIDConnect"
We're having an issue with cookie authentication when using OpenIDConnect. Over time the .AspNetCore.Cookies collection grows and splits, until after a while it produces a 400 bad request due to the headers growing over 8KB.

Our app is a single page app with very infrequent full page loads. Previously we were reaching the OIDC token timeout, and hitting the multitude of nonce/correlation cookies

[2016-10-03 19:05] blowdart commented on #999
How many claims is your AAD returning? What size is the User instance? This feels like you're appending claims and then rewriting the cookie, and because the IClaimsPrincipal is so big you're hitting the cookie size limit. (cc @Tratcher)

[2016-10-03 19:20] Tratcher commented on #999
Yeah, you should get a bigger cookie unless you add claims and re-write the cookie.

Also, your ajax logic looks wrong. You should be challenging ajax request for Jwt auth and then the OIDC middleware won't trigger.

[2016-10-03 19:21] psidebotham commented on #999
That's exactly what's going on. My AAD is returning about 10 group claims, and I'm pulling several of them, transforming them into role claims and adding them to the principal. I've just confirmed that handler is getting hit on every request. I'll try to revise my handler to only run at login and to only keep the group claims that actually map to roles I'm using.

[2016-10-03 19:26] psidebotham commented on #999
@Tratcher Can you elaborate what you mean on the ajax handling, or point me at an example? I got the redirect thing from another issue (or stack overflow, I forget exactly where), and it definitely feels a bit hackish. Thanks

[2016-10-03 19:36] Tratcher commented on #999
Your API controllers should use `[Authorize(Bearer)]` so they only challenge the JwtBearer middleware, not the OIDC middleware.

[2016-10-03 19:43] psidebotham commented on #999
I see. Right now the JwtBearer middleware is only being hit by a native app using ADAL. Most requests are javascript callbacks using the login session established by the browser. The OIDC redirect was only happening when the login session expired, and instead of a failed redirect loop, I wanted to get a 401 to detect and redirect the browser to the login page. I was also planning to enable sliding

[2016-10-03 19:54] blowdart commented on #999
Given you can write auth roles to check whatever you want, why transform and append? Write an authz policy to check for the presence of the correct group claims, rather than use IsInRole(). https://github.com/blowdart/AspNetAuthorizationWorkshop walks you though writing policies for the first time.

[2016-10-03 20:08] vaindil commented on #699
Awesome, it works! Thanks a ton, I greatly appreciate your help! My code is below for anyone else who comes here. Some is duplicated from above for completeness. (I'm sure this isn't the best way to accomplish this, but it works.)

I have a custom `JwtValidator` that handles, as you may have guessed, validation of tokens.

[code]

I register the validator in `Configure()` of `Startup.cs`.

[code]

[2016-10-03 20:11] psidebotham commented on #999
Good point. I actually wrote authz policies for resource based roles last November.

As for why I wasn't just using group claims... back in beta 4 I implemented a claim rename because the application supports both AD integrated auth and Azure auth depending on config settings. I was implementing a handler to do the graph query for large tokens, and didn't want to write separate auth logic for "gro

[2016-10-03 20:14] Tratcher commented on #999
If you switch your API endpoints to Bearer then the browser will still include the OIDC cookie on the request, but it won't be used for authorization.

[2016-10-03 20:17] Tratcher commented on #699
Isn't that duplicating the built in messages?
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L289

[2016-10-03 20:19] vaindil commented on #699
Oh jeez, all I have to do is set the status code and it does the rest for me. Don't know how I missed that. I'll update that comment, thanks again!

[2016-10-03 20:59] psidebotham commented on #999
It seems to be working now. The cookies are no longer growing and the session expiration is behaving the way I would expect. Thanks

[2016-10-03 20:59] #999 closed

[2016-10-03 22:23] Tratcher commented on #857
This has now been implemented in IdentityModel:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/479/files#diff-ade773039da46ca57068a3d3acf47137R43

[2016-10-06 05:08] dallancarr commented on #999
@Tratcher In this case is it recommended using oidc middleware at all if ADAL is being used on the client side.

[2016-10-06 05:19] psidebotham commented on #999
@dallancarr just to clarify, in my scenario there are two clients. Users on a web-browser are hitting the oidc middleware as in this scenario: https://github.com/Azure-Samples/active-directory-webapp-webapi-multitenant-openidconnect-aspnetcore. ADAL is being used with JwtBearer middleware is being used with a .net windows application as in this scenario: https://github.com/Azure-Samples/active-dir

[2016-10-06 06:53] dallancarr commented on #999
Thanks for clarifying glad you are you and running.

[2016-10-06 09:00] xielongjiang opened #1000 "Unable to check the results of using JwtSecurityToken is concluded"
This is my code

[code]

I finally get a demerit and to JWT. IO calibration, the calibration was a failure

[2016-10-06 16:53] Tratcher commented on #1000
I don't understand the question, but those components are located over here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2016-10-06 18:10] xielongjiang commented on #1000
I mean, my final output, to https://jwt.io/ website when checking is failed @Tratcher

[2016-10-06 18:25] Tratcher commented on #1000
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#511

[2016-10-06 18:25] #1000 closed

[2016-10-06 22:10] Eilon commented on #998
No work planned for this, but a good idea to consider.

[2016-10-06 22:11] Eilon commented on #993
@blowdart can you try to repro this?

[2016-10-06 22:14] PinpointTownes commented on #998
Open to contributions? :smile:

[2016-10-06 22:23] Eilon commented on #991
Ping @Tratcher can you add some further thoughts to this?

[2016-10-06 22:43] Eilon commented on #844
We looked into this and due to the flexibility of the JWT provider, we can't find a good reliable way to do this type of validation.

[2016-10-06 22:43] #844 closed

[2016-10-06 22:45] Eilon commented on #792
@vibronet can you point at any existing samples?

[2016-10-06 22:49] Eilon commented on #792
@grahamehorner can you log a new issue on the https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-DotNet-SUSI repo?

[2016-10-06 22:49] #792 closed

[2016-10-06 22:57] Tratcher commented on #998
Let us know what you come up with.

[2016-10-06 23:05] Tratcher commented on #991
The path is not available during a refresh. the initial path is set from CookieAuthOptions.Path but then you're overriding it in an event. The value is sent to the client but they do not send it back on the request.

The best we can do here is add an event for sliding expiration renewals, but it's unclear how you would preserve the paths for that code path.

Also note that you can't depend on the

[2016-10-07 08:39] ales004 opened #1001 "Facebook appId and appsecret missing from the Sample"
In the SocialSample, the Facebook appId and appsecret is missing in the appsettings. This causes the application to crash. I can change this but I don't know how you generated the other ids.

[2016-10-07 17:00] Tratcher commented on #1001
This is intentional. Facebook doesn't let devs share appids for unpublished apps, each dev needs to register for their own. These should be stored in UserSecrets.

[2016-10-07 17:07] Tratcher commented on #991
This event would go in FinishResponseAsync. Recommend this go in backlog until 2.0, adding events right now requires breaking interface changes.

[2016-10-09 05:21] defyjoy commented on #967
I have the same issue .  Created a embedded identityserver and WebAPI app in the same project . However I added the required middleware but it never works with kestrel .

[code]

As mentioned by @Tratcher  I have given   `app.UseJwtBearerAuthentication()`. But it still doesn't work . I keep on getting this below stacktrace .

[code]

[2016-10-09 05:30] Tratcher commented on #967
Ordering, auth needs to be before consumers like MVC.

[2016-10-11 01:56] mclark1129 commented on #978
I uploaded my implementation of a custom StateDataFormat that uses caching to resolve this issue.  If anyone's interested you can find it here:

https://github.com/mclark1129/IdentityServer4.Samples/tree/master/AzureAd_CustomStateDataFormat

[2016-10-11 17:57] HaoK commented on #901
@blowdart I think this needs to wait until 2.0, as we are pretty hand tied with breaking changes if we want to change things in the IAuthorizationService interface

[2016-10-11 21:40] blowdart commented on #901
That's up to @Eilon and @muratg

[2016-10-12 15:20] mattbrewer opened #1003 "Could not load file or assembly 'System.Xml, Version=4.0.0.0... when instantiating OpenIdConnectOptions"
We are trying to get a .Net Core web application to run on Azure.  It currently runs on a local development machine without issue, which makes debugging interesting.

When it is bootstrapped in Azure, the follow exception gets thrown:

[code]

OIDC is being initialized in `Startup` using the following method:
[code]

When this line is removed, the site runs fine... without OIDC, of course

Here is

[2016-10-13 22:11] Eilon commented on #1003
@mattbrewer can you share your app on a GitHub repo so we can take a look? Are you deploying to Azure Application Services or to a VM on Azure?

[2016-10-13 22:14] #1001 closed

[2016-10-13 22:17] Eilon opened #1004 "Clean up sample code"
Do The Needful™️

[2016-10-14 07:01] Gillardo opened #1006 "Attempting to get .well-known/openid-configuration from wrong URL path"
My code all works when i am developing which i use localhost:5000.

I have now published my code and uploaded to the site which uses child folders....Eg.
http://www.my-url.co.uk/folder1
http://www.my-url.co.uk/folder2

When i call folder1/connect/token or folder2/connect/token with a valid username and password, i get a token returned.

But if i try to connect to a protected api resource, i get th

[2016-10-14 07:15] #1006 closed

[2016-10-14 16:27] #1004 closed

[2016-10-16 22:29] mattbrewer commented on #1003
@Eilon We are deploying to Azure Application Services.

Currently we have a private repo on VSTS Online.  I will ask the client if they mind that we put the application source into a public Github repo.  We might need to take the offending piece of code and create a sample project.

[2016-10-16 23:18] mheyman opened #1007 "Improper JWT used in token validation for hybrid "code id_token token" OpenId Connect flow"
My eyes are bleary trying to parse the OpenId Connect spec to try to determine the at-fault party and I'm not 100% sure it is this library but I think it is...

I'm using an IdentityServer3 authority for an OpenId Connect Hybrid flow asking for `OpenIdConnectOptions.ResponseType = "code id_token token"` and it seems to me that IdentityServer3 is replying properly but that src\Microsoft.AspNetCore.

[2016-10-17 17:20] HaoK commented on #863
One possible improvement would be to add a new options flag like PreferDITransformer (but with a better name), which would be used instead of the instance found in the options and enable per request transformation:

[code]

[2016-10-17 18:33] Tratcher commented on #1007
@brentschmaltz?

[2016-10-17 19:14] PinpointTownes commented on #863
@HaoK alternatively, why not a `TransformerType` corresponding to the service type resolved from the DI container? It would allow using the claims transformation middleware multiple times in a pipeline while being able to use separate transformers.

[code]

[2016-10-17 21:32] HaoK commented on #863
That's not a bad idea, but if we were going that direction maybe we could just add a new `ClaimsTransformationMiddleware<TClaimsTransform> where TClaimsTransform : IClaimsTransformer` and it'd just be `app.UseClaimsTransformation<YourTransform>` but you'd have to register your transformer as a service instead of using an options instance

[2016-10-20 11:21] imranbaloch opened #1009 "AntiForgeryValidation attribute seems to conflict with CookieAuthenticationEvents OnRedirectToLogin event handler"
Reposting from https://forums.asp.net/t/2101587.aspx,

From Vincent H,

Hi,

My app is based on the SDK: 1.0.0-preview2-003121 and uses a combination of MVC, Web API and AngularJs (v1)

When making API calls, I want to return a 401 unauthorized when the cookie based session has expired. I have adjusted the "Startup.cs" to include an "OnRedirectToLogin" event handler so that API calls can be interc

[2016-10-20 11:22] imranbaloch commented on #1009
Reposting from https://forums.asp.net/t/2101587.aspx,

From imran_ku07,

I think you have orderering middleware issue. ValidateAntiForgeryToken is mvc middleware thing and Cookie-Middle-ware is seperate. Make sure it Cookie-Middle-ware is registered first. Also, it look like both Authorize and ForgeryToken are auth filters. are https://github.com/aspnet/Mvc/blob/c7a46e4caf0d1f25dd5f8bcd385af50b34b

[2016-10-20 11:23] imranbaloch commented on #1009
Reposting from https://forums.asp.net/t/2101587.aspx,

From Alex,

Hi Vincent,

Just curious if you ever found a solution for that problem.

I'm currently facing a very similar one, where antiforgery token validation fails before authorization fails, and "400 - Bad request" is being returned to the client.
In my case, this occurs when a user who had logged in and left the SPA page idling for a lon

[2016-10-20 14:00] brockallen commented on #978
@Tratcher have you spoken with the AAD team about this? that ~1800 char limit is quite ... well, limiting. this workaround proposed above is really not ideal, especially since this is an AAD specific problem. // @vibronet

[2016-10-20 15:14] Tratcher commented on #978
@brockallen no, this is the only report I've seen of this issue.  @brentschmaltz, is this something you've seen?

[2016-10-20 15:15] Tratcher commented on #1009
@kichalla @rynowak is this by design or a filter ordering bug?

[2016-10-20 15:20] brockallen commented on #978
We've seen it more than once from our users of IdentityServer.

[2016-10-20 15:52] rynowak commented on #1009
This is the first I've heard of this. It sounds like there are two bugs here. We should force AF to run after `[Authorize]`, but hearing that doesn't solve the problem we need to dig deeper.

In this case, does the authorize filter let the request 'pass through' in this scenario or does it short-circuit?

[2016-10-20 18:01] mclark1129 commented on #978
@Tratcher Seems like the core of the problem might be that the `OpenIdConnectMiddleware` fully encrypts the request parameters to generate the state.  I believe that when processing the callback the middleware simply ignores any of the values provided in the callback and relies solely on decrypting the state parameter to generate the `AuthenticationProperties`.

Maybe instead you could generate th

[2016-10-20 20:01] alobakov commented on #1009
I'm not very privy to the internals of these filters, but IMHO the Authorize filter should be allowed to inspect the request and potentially redirect to login if the auth cookie ticket has expired, and do so before antiforgery validation takes place. I'm guessing the only legitimate scenario where a request would need to fail with 400 is when the auth cookie was indeed valid and not expired, but t

[2016-10-20 20:03] rynowak commented on #1009
@alobakov that's my understanding of the desired behavior

[2016-10-20 22:12] brentschmaltz commented on #430
@PinpointTownes we are closing in on JWE, see the branch: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/JWE  If a host exposes JWK/JWKS endpoint is there a protocol for the initiator to find the right PublicKey and algorithm to use?

[2016-10-20 23:23] brentschmaltz commented on #1007
@Tratcher having a look

[2016-10-20 23:28] PinpointTownes commented on #430
@brentschmaltz yep, dynreg: https://tools.ietf.org/html/rfc7591#section-2

[2016-10-21 07:18] leastprivilege commented on #978
It basically happens when you chain two middlewares together (e.g. MVC app to IdSrv to AAD). The state parameter gets too big (according to AAD).

Solving that at the application level requires quite a bit of extra plumbing when you want to be load balancing compatible. I think AAD should lift that length restriction. @vibronet