[2018-01-10 10:22] nftWolverine opened #1601 "An error occurred while trying to encrypt the provided data. The network name cannot be found. On cookie Authentication"
StartUp.cs Code:
`app.UseCookieAuthentication(new CookieAuthenticationOptions()`
            `{`
               ` AuthenticationScheme = AuthenticationConfigOptions.AuthenticationScheme,`
                `CookieName = AuthenticationConfigOptions.CookieName,`
                `AutomaticAuthenticate = true,`
                `AutomaticChallenge = true, `
                `CookieHttpOnly = true,`

[2018-01-10 13:58] guylando opened #1602 "ValidatePrincipal in CookieAuthenticationHandler not being called on some requests"
The result of this bug is that once in a while in a multi-user scenerio, the wrong user appears in httpcontext.User. Investigating the issue, I registered a custom function for OnValidatePrincipal event and discovered that it is not being called for the problematic requests. This line not being called:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/Cook

[2018-01-10 14:54] guylando commented on #1602
OK I did the following now which helped find the problem: turned on trace level logging + in the middleware decrypted the cookie ticket to check the identity in the cookie compared to the identity in the http context.

Conclusions:

1)
In the problematic request which has the bug the log message:
info: Microsoft.AspNetCore.Authentication.Cookies.CookieAuthenticationHandler[8]
      AuthenticationS

[2018-01-10 16:25] Tratcher commented on #1602
Note the validator Identity uses with ValidatePrincipal is rate limited, it only runs every 30 minutes to avoid a large performance hit accessing the database. That's likely why you don't see it execute most of the time.

[2018-01-10 16:26] Tratcher commented on #1602
Please share your Startup code.

[2018-01-10 16:30] guylando commented on #1602
I know that, I registered a custom validator (because I wanted to perform validation on every request) and I call the identity validator inside. But that doesn't effect what I described in the previous comment.

Can you please comment on what I wrote regarding what I saw happening with _authenticateTask? What might make that happen?

The startup is 1000+ lines of code which mostely are not related

[2018-01-10 16:30] Tratcher commented on #1602
Handlers are created per-request so thread-safety should be a nominal concern. The _authenticateTask caches the result of AuthenticateAsync because calling it again should yield exactly the same result even if not cached. E.g. it would read the same cookie and deserialize it in the same way.

[2018-01-10 16:32] guylando commented on #1602
But as I describe, if it would read in this case the cookie then it would get another result. Thats what I observed. Also in the observed case the handler holds a data member from previous request. How could that happen?

[2018-01-10 16:33] Tratcher commented on #1602
At least share the Startup code related to Identity and Auth. Descriptions often overlook usage problems.

[2018-01-10 16:36] Tratcher commented on #1602
A handler should not hold anything from a prior request because it should have been re-created for each request. We'd need a repro to debug and figure out what's going on.

[2018-01-10 16:40] Tratcher commented on #1602
You'd have to customize the DI registration of IAuthenticationHandlerProvider or CookieAuthenticationHandler to cause these kinds of problems.

[2018-01-10 16:49] guylando commented on #1602
Here it is, thanks for the help:

[code]
                        // In case user clicks cancel in app authorization page then this is the only way to redirect him to our desired page
                        // see: https://github.com/aspnet/Security/issues/710
                        OnRemoteFailure = context => {
                            context.Response.Redirect(externalAccessDeniedPath);

[2018-01-10 17:07] guylando commented on #1602
I have verified (breakpoint in the end of ConfigureServices) and all the CookieAuthenticationHandler are Transient.

[2018-01-10 17:14] Tratcher commented on #1602
Thanks. That's a lot of configuration... the Domain settings are especially odd, but I don't see anything that would affect the behavior you report.

The next step would be to create a minimal repro app, something where you can share the whole project. We can try, but you're in the best position.

[2018-01-10 17:25] HaoK commented on #1602
Also can you include what's in `UtilsGL.CustomValidatePrincipalAsync<IIdentityUserGL>`

[2018-01-10 17:39] guylando commented on #1602
@Tratcher  That's hard because even in our project it happens only once in a while only in some situations...if you have an idea what else to add to debug I can do that and post the debug messages.
I am thinking maybe to add a middleware before the authentication middleware with some debug message maybe.
A workaround for this issue will be to add a middleware after the authentication middleware an

[2018-01-10 17:51] guylando commented on #1602
Here are logs when user a@gmail.com makes 2 POST requests to same url, one is processed correctly and the second one is buggy with the behavior I described:

Here are the logs of a normal request and a buggy one:
      Request starting HTTP/1.1 POST http://xxx.com/a/b application/x-www-form-urlencoded; charset=UTF-8 237
@#####:LogInformation
@#####:UTC TIME: 1/10/2018 2:26:45 PM
@#####:Log message

[2018-01-10 17:54] guylando commented on #1602
As you see the problem is that from reason the second request didn't go through all the ordinary steps and it came immidietly to:
info: Microsoft.AspNetCore.Authentication.Cookies.CookieAuthenticationHandler[8]
AuthenticationScheme: Identity.Application was successfully authenticated.

because of HandleAuthenticateOnceAsync

[2018-01-10 17:55] guylando commented on #1602
And then the _authenticateTask  has user ed454@gmail.com which probably was a user from some previous request \ other request, instead of the user a@gmail.com which appears in cookie ticket

[2018-01-10 18:00] HaoK commented on #1602
As @Tratcher said, we are going to need a repro or at least more code to figure out what's going on.  Can you show the relevant code/middleware you are using to generate the logs messages/ticket principals/context user

[2018-01-10 18:05] guylando commented on #1602
The CustomValidatePrincipalAsync  log is just printing contest.Principal.Identity.Name in custom OnValidatePrincipal function.

The HideExceptionsMiddleware  middleware is registered after UseAuthentication and has code taken from authentication middleware for debugging purpose (code below)

And other log messages are from .net framework code with debug level trace turned on.

[code]

[2018-01-10 18:09] guylando commented on #1602
This happens only on our azure server which runs kestrel with iis (it doesnt happen in the development computer) and only when multiple users have logged on\off. And it happens only sometimes when user is making 2 requests quickly (the first request is always good, the second one sometimes has the bug)

[2018-01-10 18:16] guylando commented on #1602
Then I get sometimes: Antiforgery token validation failed. The provided antiforgery token was meant for a different claims-based user than the current user.
Obviously hehehe...

[2018-01-10 19:02] guylando commented on #1602
I try to assume there is a bug related to _authenticateTask  so I try to understand where it could happen. It must be started from AuthenticationMiddleware.cs so
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationMiddleware.cs#L54
calls AuthenticateAsync here:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Authentication.

[2018-01-10 20:42] Tratcher commented on #1602
Requests all execute on thread-pool threads but there's no shared thread context, the HttpContext is captured on the stack. The only thing we've seen cause bad cross threading issues is accidental uses of `async void` methods in place of `async Task`, or intentional multi-threading via Task.Run. Individual requests are not supposed to be processed by multiple threads.

[2018-01-10 20:46] guylando commented on #1602
I have now added the following in startup.cs Configure to check on _authenticateTask:

[code]

[2018-01-10 20:53] gabosistvanpwc opened #1603 "WsFederation - Supported SAML Protocol and Token versions"
Hello,

I'm using the Microsoft.AspNetCore.Authentication.WsFederation 2.0.0-preview2 nuget package and I would like to know what are the current SAML protocol/token versions that are supported?

I'm getting the following exception when receiving a RequestSecurityTokenResponse from the IdP (the first time the POST is done to the "/signin-wsfed" endpoint) :

IDX11112: Exception thrown while reading

[2018-01-10 20:58] guylando commented on #1602
YESSS!

normal request:
================
_authenticateTask before UseAuthentication: null
==============
================
_authenticateTask after UseAuthentication: System.Threading.Tasks.Task`1[Microsoft.AspNetCore.Authentication.AuthenticateResult]
==============

THE BUGGY REQUEST:

================
_authenticateTask before UseAuthentication: System.Threading.Tasks.Task`1[Microsoft.AspNetCore.A

[2018-01-10 21:00] guylando commented on #1602
I think this proves that this is some bug in the framework, no?
And a temporary workaround is to change to null the _authenticateTask datamember using reflection before calling .UseAuthentication.
What do you think?

[2018-01-10 21:08] HarleyBartles commented on #1086
Plus 1 for this. I'm building an application to handle groups in a kind of tree view.

A manager of a group has a claim of CanManageGroup: GroupId, but that manager should also be able to manage all the groups which report into his group and all the groups that report into that group and so on - so for example the CEO at the top of the tree can perform management actions on any group as they all e

[2018-01-10 21:17] HaoK commented on #1602
What's before UseAuthentication in your configure.  Is your print out actually at the start of the pipeline?

[2018-01-10 21:19] HaoK commented on #1602
Meaning any call to Authenticate before your print out would cause the behavior you are seeing.  This just would means that something tried to look at the cookie before your print out was hit.

[2018-01-10 21:28] guylando commented on #1602
loggerFactory.AddDebug(LogLevel.Trace);
loggerFactory.AddConsole(minLevel: LogLevel.Trace);
loggerFactory.AddPostgresql(LogLevel.Trace, logsDAL, serviceProvider, contextAccessor);
app.UseDeveloperExceptionPage();
app.Use(async (context, next) => {
	var handlers = context.RequestServices.GetRequiredService<IAuthenticationHandlerProvider>();
	var handler = await handlers.GetHandlerAsync(context, "Id

[2018-01-10 21:29] guylando commented on #1602
As you see there is nothing meaningful before the first print out

[2018-01-10 22:04] reicher001 commented on #1603
Here is the part of the SAML token we believe is causing this error.

...
<Transform Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#">
                                <InclusiveNamespaces PrefixList="#default saml ds xs xsi"
                                    xmlns="http://www.w3.org/2001/10/xml-exc-c14n#" />
                            </Transform>
...

We have tested with SAML 1.1 and SAML 2

[2018-01-10 22:07] Tratcher commented on #1602
It looks like you can reproduce this pretty consistently. How are you generating the requests for your repro?

[2018-01-10 22:10] guylando commented on #1602
I have an ajax post request in the site generated by a button (I add the csrf token to the post request).
I connect with one user, make 3-4 requests, disconnect, connect with other user, make quickly 2-3 requests one after another. On second or third request of the second user it happens, sometimes need to repeat this further and connect with third user and perform fast requests

[2018-01-10 22:10] Tratcher commented on #1603
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#865

[2018-01-10 22:10] #1603 closed

[2018-01-11 10:10] azizkazdal opened #1604 "how to catch JWT bearer issuer or audience"
I am looking a way to grap the value of Claim Issuer. I want to make 2 way validation of token. First step user will get the token from System API and pass it to Customer API. In customer API token need to be validate with system api token parameter.

if it is validated customer api generate a new token to the user and user will use the new token in next steps.

I am doind this because in the seco

[2018-01-11 11:00] guylando commented on #1602
I tried the solution of adding the middleware which changes to null the data member _authenticateTask
 and then other errors came up which led me to clearing
_handlerMap property of AuthenticationHandlerProvider in the middleware before UseAuthentication and this actually solved the problem. Remind you that AuthenticationHandlerProvider is Scoped and not Transient (unlike the AuthenticationHandler

[2018-01-11 12:31] kitirisovgeorgy opened #1605 "How to add more than one identical external providers with different clientid?"
I try to use some like this with different ClientId:
services.AddAuthentication().AddGoogle("schema1", g => ...).AddGoogle("schema2", g => ...)
It work and app start up.
But when I try to use schema2 I get an exceptuion "Message = "The oauth state was missing or invalid."
How can I use the google authentication with different apps?

[2018-01-11 12:53] brockallen commented on #1605
Use different callback paths for the two schemes.

[2018-01-11 13:47] kitirisovgeorgy commented on #1605
Thanks. It work.

[2018-01-11 13:47] #1605 closed

[2018-01-11 17:00] gabosistvanpwc commented on #1599
Is there any support right now for validating the issuer name registry, similar to https://docs.microsoft.com/en-us/dotnet/framework/security/validating-issuer-name-registry ?

I think this the piece of code from the System.IdentityModel.Tokens.ValidatingIssuerNameRegistry class that is doing this check in .NET Framework 4.5.1 :

[code]

Thank you

[2018-01-11 17:57] Tratcher commented on #1602
Re-opening until we can find the root cause. It appears to be a DI scoping bug, but it's not clear how that would be caused. @pakrym can you find a reference to the bug causing cross thread contamination via loggers with corrupt async state?

[2018-01-11 18:45] Tratcher commented on #1604
Start here:
[code]

[2018-01-11 19:50] leastprivilege opened #1606 "OpenID Connect: Simplify saving tokens server side"
Per our discussion on twitter.

Storing tokens in cookies is not always practical - and depending on token type you might want different storage strategies (e.g. refresh token vs access token).

It would be nice to have a single event that gets fired when all tokens for a given configuration are available - in this event you have access to all these tokens and can then decide which ones to store i

[2018-01-11 19:58] Tratcher commented on #1606
Depending on the flow you already have all of the tokens either in TokenResponseReceived or TokenValidated, correct? How would this new event differ?

[2018-01-11 22:15] Eilon commented on #1602
@guylando - can you try temporarily disabling the loggers to see if that is somehow corrupting some cross-thread state?

@pakrym - I'm parking this on your plate so you can contemplate this further.

[2018-01-11 22:17] Eilon commented on #1601
@nftWolverine - can you show your entire Startup.cs file so that we can investigate further? And any other info you have on how Data Protection is configured would be great. THanks!

[2018-01-11 22:23] Eilon commented on #1598
No plans to add CancellationToken parameters because this would be a breaking change, and we don't think it's worth that cost.

[2018-01-11 22:23] #1598 closed

[2018-01-11 22:23] #1596 closed

[2018-01-11 22:25] Eilon commented on #1592
Closing because there are no plans to support this. You can use a 3rd party token server such as Identity Server to issue tokens that work with both systems. Or, you can write custom code for ASP.NET Core to handle the OWIN/Katana-style tokens.

[2018-01-11 22:25] #1592 closed

[2018-01-11 22:30] Eilon commented on #1589
Suggested time is 1 year.

[2018-01-11 22:38] Eilon commented on #1584
I think the most we would consider here is to log that a "secure" cookie is being returned to the client over a non-HTTPS connection.

However, we're not sure how much value there is to this, especially considering that start with ASP.NET Core 2.1, all project templates will be HTTPS by default, which we think is ultimately more important than the logging behavior.

[2018-01-11 22:38] #1584 closed

[2018-01-11 22:42] Eilon commented on #1576
We're working on a sample that should cover this as well. You can check out the pull request here: https://github.com/aspnet/AuthSamples/pull/22

[2018-01-11 22:42] #1576 closed

[2018-01-11 22:43] Eilon commented on #1575
We've moved this issue is in the Backlog milestone. This means that it is not going to happen for the coming release. We will re-assess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2018-01-11 22:50] pakrym commented on #1602
@Tratcher there was no bug, it was internal support issue which I was never able to repro, but it went away after moving to `AsyncLocal` from `CallContext.SetData`.

@Eilon loggers are not the cause. It's just another issue where I've seen cross thread contamination. I suspect that it was caused by the use of `CallContext` and how Kestrel handles it but have no proof.

I don't think we can move fo

[2018-01-11 22:50] Eilon commented on #1574
If using ASP.NET Core Identity the way the default ASP.NET Core templates use it, the system adds a claim to indicate the external provider used.

Here you can find the code where the claim is set:
https://github.com/aspnet/Identity/blob/435ab653dbb7611c0e936e91279f3337d4071622/src/Identity/SignInManager.cs#L192

So you should be able to read it out to get the value.

If your app is not using ASP.

[2018-01-11 22:50] #1574 closed

[2018-01-11 22:51] #1573 closed

[2018-01-11 22:54] Eilon commented on #1572
Closing because we are not planning to change this behavior. We still think this is the right default for most apps, but agree it isn't the right default for all apps. Add to that the cost of a breaking change, and we think this isn't a good change to make overall.

[2018-01-11 22:54] #1572 closed

[2018-01-11 22:54] #1567 closed

[2018-01-11 22:55] #1563 closed

[2018-01-11 22:55] Eilon commented on #1567
Closing because there is not enough information to reproduce this problem.

[2018-01-11 22:56] Eilon commented on #1563
Closing because there is not enough information to reproduce this problem.

[2018-01-11 22:56] Eilon commented on #1602
@pakrym ok thanks for the update, will take it off your plate.

[2018-01-11 23:19] guylando commented on #1602
I will try to reproduce without the loggers.
The issue in https://github.com/aspnet/KestrelHttpServer/issues/1720 seems like something that could have lead to same problem as in my case and maybe the solution of clearing _handlerMap will solve the problem in that issue (and they have a reproduction example) and then it will maybe shed some more light on this.

[2018-01-11 23:21] NinoFloris opened #1607 "Way to add identities to context.User without it getting serialized into cookie"
Basically there is some very insidious behavior right now that only triggers on refresh or login.

We have extra identities we want to add to the httpcontext ClaimsPrincipal, we do this by pulling them out of a cache on request start and adding them to the ClaimsPrincipal.

However this goes wrong in the case of a refresh (in our case, as we do work in `ValidatePrincipal`) as the `CookieAuthHandle

[2018-01-11 23:27] guylando commented on #1602
By the way I have to say that the .net core team is great and I really appreciate all the work you do.
I am the CTO of a startup which in July 2015 started building our products using .net core which was in an alfa stage. We moved with .net core through all the versions up to current .net core 2 and the net core team was always very responsive and helpful in the github. I know that its not trivial

[2018-01-12 00:01] guylando commented on #1602
Ok now this is the first line in Startup.cs configure:

[code]

And here are the logs:

Hosting environment: Development
Content root path: C:\inetpub\xxxx\approot\
Now listening on: http://localhost:32600
Application started. Press Ctrl+C to shut down.

================
_authenticateTask before UseAuthentication: null
==============

================
_authenticateTask before UseAuthentication: nu

[2018-01-12 00:05] guylando commented on #1602
Steps I did to reproduce:
1)Site in IIS with Kestrel.
2)Added the specified code first in Configure in Startup.cs
3)Logged to site and performed several POST requests to same form rapidly.
4)Logged out and logged in with another user.
5)Made several rapid requests to the same POST url as previously (the second\third request usually triggers the bug for sure but as you see in the logs it happens ra

[2018-01-12 06:01] nftWolverine commented on #1601
` services.AddDataProtection();`
@Eilon added just this line for the data protection. This doesnot seems to happen every time it happens randomly.

[2018-01-12 07:44] leastprivilege commented on #1606
That's my point.

Why not unify that to a single dedicated event that is only about token persistence. Every application needs to deal with that.

Maybe you want to persist the id_token and access_token in the cookie - but not the refresh_token. In such an event you would get to see all three once available - and could select which one to go to the cookie, which one not.

[2018-01-12 08:48] azizkazdal commented on #1604
I need to check token ClaimsIssuer before send it to validation. like in OnMessageReceived. but I could not figure out how to get the issuer from the token that sends for validation.??
Am I on the wrong way?
Just need to check token issuer before validation so I can use a different parameter to validate token for a different issuer.
Users take a token from the first API and send it to another API

[2018-01-12 10:35] kitirisovgeorgy opened #1608 "How to use AddGoogle in Controller"
What should I do to use AddGoogle in Controller?
I try inject IAuthenticationSchemeProvider, but it doesn't contains AddGoogle.
If I try to use AddScheme with new AuthenticationScheme() I can't use GoogleHandler.

[2018-01-12 12:24] adonnelly commented on #1473
Hi, I managed to get this working  in our environments and log in with with signed secure tokens. However encrypted and signed tokens  do not work. I can see you do not provide a SecurityTokenHandler for encrypted tokens. Is this something you plan to support?

[2018-01-12 16:25] Tratcher commented on #1606
Your flow isn't going to vary for a given application, you'd always use one of the two events. A new event might be easier to document and show samples for, but it wouldn't provide new functionality. Or did you have suggestions for additional functionality to include in the event to make alternate persistence easier.

We'd also need to work out how this event relates to the SaveTokens option. I'd

[2018-01-12 17:30] Tratcher commented on #1608
See https://github.com/aspnet/AuthSamples/pull/22/files#diff-7f0920a23fc4efd604aaf6e208714c59R28

[2018-01-12 20:56] Tadimsky commented on #1259
Is there any update on this? We're currently logging both Token and UserName due to this.

[2018-01-12 21:47] HaoK commented on #1259
@blowdart any updates from legal?

[2018-01-12 21:50] blowdart commented on #1259
Of course not. So, it is what it is, we should/will not log anything PII related, in plain texts, or in hashes (because meta-data can still be considered PII in some circumstances), users can choose to add extra logging.

[2018-01-12 21:52] HaoK commented on #1259
So we are good to go on https://github.com/aspnet/Security/pull/1478 ?

[2018-01-12 21:53] blowdart commented on #1259
Yes, LGTM

[2018-01-12 22:04] HaoK commented on #1259
Was there anything else other than the token/username that you wanted removed from the logs?

[2018-01-12 22:06] Tratcher opened #1609 "OIDC add support for mapping all user info"
OIDC in 1.0 mapped all user info into claims by default.
https://github.com/aspnet/Security/blob/79a60504a824cf8d9d0af33282bd141deb74fa6c/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L735-L763
This could cause a lot of cookie bloat so in 2.0 it was moved to use the new ClaimActions infrastructure to map only a specific set. The same approach is used for all of the

[2018-01-12 22:10] mattmazzola commented on #1259
This feels like it's taking the easy solution instead of the best.  There is value in the information and I think exposing some configuration for the developer would be better, but given that it's not clear how to do this and complexity is much higher for all the scenarios I could understand going forward with the safe solution of removing everything.

If you're passing this responsibility on to t

[2018-01-12 22:28] Tratcher commented on #1259
The JwtBearerMiddleware events could also be used for dev logging, they would give you almost all of the context.

[2018-01-12 23:45] grahamehorner opened #1610 "Add[Provider] Extensions Methods"
Please consider adding extension methods to the providers that accepts a ConfigurationSection simplifying setup and allowing dynamically adding a provider(s) that has a ConfigurationSection.

[2018-01-12 23:53] Tratcher commented on #1610
Can you provide some samples showing what it would look like to call these new methods?

[2018-01-13 01:10] grahamehorner commented on #1610
services.AddAuthenticationProviders(configuration).Events(events=>{});
services.AddFacebook(facebookConfiguration);
services.AddGoogle(googleConfiguration);
services.AddMicrosoftAccount(googleConfiguration).Events(events=>{ })
or possibly

services.AddAuthentication<T>(configurationSection) ?

[2018-01-13 02:09] HaoK commented on #1610
You can do this today just calling `services.Configure<FacebookOptions>("Facebook", o => facebookConfig.Bind(o))`.

[2018-01-13 02:10] HaoK commented on #1610
When you are dynamically adding a handler, you can just bind the options explicitly rather than going thru DI

[2018-01-13 09:17] leastprivilege commented on #1609
sounds good to me.

Not sure it is worth throwing exceptions for duplicate claims - it's an application concern.

We found that e.g. Azure with "Live ID" login emits two name claims which breaks the handler in federation gateway scenarios depending which external provider is used.

[2018-01-13 09:20] leastprivilege commented on #1606
How does that sound:

* when SaveTokens = true but this new event is not handled, the behavior is as today
* if you handle the even, you get to choose which tokens go into the cookie, and which ones you persist differently.

wrt to naming - you are the experts for that ;)

[2018-01-13 10:16] grahamehorner commented on #1610
@HaoK thanks didn't know about that; so how would you suggest I invoke adding the provider dynamically without explicitly doing an AddFacebook ... ie.  having the provider assembly load and attach to the service collection based on the configuration ?

[2018-01-13 16:37] #1608 closed

[2018-01-14 11:02] brockallen commented on #1609
My use case for `MapAllClaimsExcept` is not to reduce the claims in the cookie (since there are other approaches for managing cookie size), but to simply filter out the protocol claims coming from the `id_token` When claims are returned from the userinfo endpoint, typically a client app wants all of those claims (since they asked for them in the first place via the `scope`s requested).

[2018-01-14 15:54] Tratcher commented on #1609
That's a bit trickier. We don't map the id token claims at our layer, that happens in Identity model during the validation. Hence those DeleteClaim actions that retroactively unmap.

[2018-01-15 06:24] nftWolverine commented on #1601
Here is call stack of the of the Exception.

System.Security.Cryptography.CryptographicException:
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.Protect (Microsoft.AspNetCore.DataProtection, Version=1.1.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60)
   at Microsoft.AspNetCore.Authentication.SecureDataFormat`1.Protect (Microsoft.AspNetCore.Authentication,

[2018-01-15 06:30] leastprivilege commented on #1609
Assume we always disable the stupid mapping in the JWT handler...and that's what you should do too when using the handler..

[2018-01-15 13:55] blowdart commented on #1607
@HaoK @Tratcher

So is the problem here that changing the identity inside ValidatePrincipal doesn't attach itself to the context until the next request?

[2018-01-15 15:56] NinoFloris commented on #1607
It doesn't clone the principal it has to write out to the response when ShouldRenew is on, this results in the `httpcontext.User` instance and the `CookieValidationContext` principal instance being the same instance. This means any changes on context.User you'd think are 'request only' are actually sometimes (when ShouldRenew is true) written to cookie.

I see it like this, `OnValidatePrincipal` s

[2018-01-16 03:37] Eilon commented on #1601
@nftWolverine thanks for the info.

@blowdart / @natemcmaster - any ideas on this? Ever seen this stack?

[2018-01-16 16:42] natemcmaster commented on #1601
Haven't seen this before, but my best guess is there are issues with file permissions on whichever server this is running. The inner exception says:
[code]

https://github.com/aspnet/DataProtection/blob/12312a00b3d6d534d5dd68c49b23986a357cc323/src/Microsoft.AspNetCore.DataProtection/Repositories/FileSystemXmlRepository.cs#L86-L100

[2018-01-16 17:51] blowdart commented on #1601
Is this hosted inside an azure web app?

Are you using slots of swap things?

[2018-01-16 19:40] #1259 closed

[2018-01-16 20:18] HaoK commented on #1553
See https://github.com/aspnet/AuthSamples/tree/dev/samples/DynamicSchemes which updates options dynamically, specifically you can look at https://github.com/aspnet/AuthSamples/blob/dev/samples/DynamicSchemes/Controllers/AuthController.cs#L28

[2018-01-16 20:18] #1553 closed

[2018-01-16 21:14] HaoK commented on #1610
Well you can do that dynamically similar to how the auth samples does it:

https://github.com/aspnet/AuthSamples/blob/dev/samples/DynamicSchemes/Controllers/AuthController.cs#L28

[2018-01-16 22:53] timdoke commented on #1338
I'm following the example from JwtBearerHandler while using an internal token generator.  I'm having problems with the OnAuthenticationFailed callback.  Basically, without throwing an error in here, the pipeline is allowed to continue to execute the controller code despite an error http status code being set.

If I do throw an error in that callback, I have two problems.. The first is that it gets

[2018-01-17 06:20] nftWolverine commented on #1601
@blowdart its hosted inside an azure webapp

[2018-01-17 06:21] nftWolverine commented on #1601
@natemcmaster the exception is thrown when creating the data protection keys file. Its not always throw an exception but randomly.

[2018-01-17 09:38] grahamehorner commented on #1610
@HaoK thanks I wasn't aware of this; wondering should these samples not be moved into this repo?
I'll give that a whirl and see if it's suitable for my use case;  thanks again

[2018-01-17 09:50] grahamehorner commented on #1610
Q: at what point does IAuthenticationSchemeProvider get registered with DI ?

[2018-01-17 14:34] blowdart commented on #1601
That's really odd. I wonder if Azure is having a problem here.

@nftWolverine is there any chance you could move to using Azure blob storage for the keys, rather than relying on the magic folder Azure webapps gives us? That would rule out any problems with the underlying hosting layer. It also has the advantage in that it works with Azure deployment slots.

You'd need to reconfigure data protectio

[2018-01-17 17:14] berdon opened #1612 "HttpContext.User identities get overwritten post authentication middleware"
See https://github.com/aspnet/Security/pull/1611

2.0 introduced a change that overwrites HttpContext.User with a valid principal. This is useful but it's probably not intended to ignore any current identities/claims on the principal.

[2018-01-18 16:18] timdoke commented on #1338
It seems like some of the problems I linked to above were fixed by adding a Context.ForbidAsync before AuthenticateResult.Fail(with the exception).  However, it does not work in Swagger -- swagger just shows no response with no status code.  Also, it executes twice for some reason -- one thing I noticed on the second execution, was that the the c.Response.HasStarted was true in the OnAuthenticated

[2018-01-18 18:05] Tratcher opened #1613 "Regression: AuthMiddleware can't terminate the request based on the results of AuthenticateAsync for the default scheme"
1.1:
https://github.com/aspnet/Security/blob/9ab189856dbe61bf792707b278255823d2658f51/src/Microsoft.AspNetCore.Authentication/AuthenticationMiddleware.cs#L71-L74
2.0:
https://github.com/aspnet/Security/blob/ba1eb281d135400436c52c17edc71307bc038ec0/src/Microsoft.AspNetCore.Authentication/AuthenticationMiddleware.cs#L41-L61

The JwtBearer handle has an OnAuthenticationFailed event which used to be a

[2018-01-18 18:08] Tratcher commented on #1338
@timdoke I agree, that flow control is busted. I've filed https://github.com/aspnet/Security/issues/1613.
Throwing an exception is your best bet at the moment. You can combine that with an inline exception handler like this: https://github.com/aspnet/Diagnostics/blob/f90337c1a6d5edd0cfe55466e3f544f3be047917/samples/ExceptionHandlerSample/Startup.cs#L16-L36

[2018-01-18 18:15] timdoke commented on #1338
Great, thanks @Tratcher.  I added an additional few things I was noticing on this stackoverflow post.. https://stackoverflow.com/questions/48327456/netcoreapp2-0-swagger-custom-authentication-failure-gives-no-result.   Regarding your solution, I was under the impression that with authentication handlers, errorFilters and error middleware are ignored.  Isn't the above just an error middleware (plus

[2018-01-18 18:18] Tratcher commented on #1338
Error middleware should work fine so long as you put them before UseAuthentication. MVC error filters don't work because your error happens outside of MVC.

500 is the expected error code for internal exceptions. Were else did you have in mind?

[2018-01-18 18:18] PinpointTownes commented on #1613
That's the expected behavior: ˋFail` means "authentication failed", not "stop processing the request" (which is not always possible since flow control is not always guaranteed for ˋAuthenticateAsync`).

It's definitely something you won't be able to change in 2.1 as it will be a major breaking change.

Of course, there would be no ambiguity if you had not overruled the name I had proposed (i.e ˋRe

[2018-01-18 18:25] HaoK commented on #1613
Yup Fail is return a failed auth result, its not control flow

[2018-01-18 18:27] HaoK commented on #1613
The new behavior looks reasonable to me, the handler is given a chance to handle the request, if it doesn't.... the middleware looks to do default authenticate, at this point its too late for the handler to stop control flow.

[2018-01-18 18:29] HaoK commented on #1613
Basically what I'm saying is this regression is by design

[2018-01-18 18:45] HaoK commented on #1338
So JwtBearer's OnAuthenticationFailed is a ResultContext https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/Events/AuthenticationFailedContext.cs which means it doesn't support control flow.

Only context's that derive from
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/Events/HandleRequestContext.cs

Or

https://githu

[2018-01-18 19:52] Tratcher commented on #1613
Our JwtBearer sample does exactly this. We should figure out the correct pattern to use and update it.
https://github.com/aspnet/Security/blob/ba1eb281d135400436c52c17edc71307bc038ec0/samples/JwtBearerSample/Startup.cs#L58-L69

[2018-01-18 20:06] timdoke commented on #1613
For what it's worth, I agree with @Tratcher -- at least from a documentation point of view.  I had no idea that the approach for the JwtBearerSample was to only notify me that the authentication failed.  I thought it affected the flow.. The documentation, https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x, considers this type of authentication the same as the others..  I t

[2018-01-18 20:09] timdoke commented on #1338
@Tratcher from the sample, it looked like I should be able to handle this authentication failure inside the OnAuthenticationFailed callback.

[2018-01-18 20:12] timdoke commented on #1613
In addition, the documentation says this..
"The UseAuthentication method adds a single authentication middleware component which is responsible for automatic authentication and the handling of remote authentication requests. It replaces all of the individual middleware components with a single, common middleware component."
--https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity

[2018-01-18 20:17] Tratcher commented on #1338
Which sample? The one in Security is out dated.

[2018-01-18 20:23] timdoke commented on #1338
@Tratcher Is there a new sample?  I'm checking the one in Security..

[2018-01-18 20:24] Tratcher commented on #1338
No, part of https://github.com/aspnet/Security/issues/1613 is to update the sample.

[2018-01-18 20:44] PinpointTownes commented on #1613
Just call `c.Fail()` from the `OnAuthenticationFailed` event and add an inline middleware that detects if authentication failed? Or for MVC apps, let `[Authorize]` return a challenge for you.

[2018-01-18 20:52] HaoK commented on #1613
But honestly the idea behind much of 2.0 was to design away stuff like JwtBearer doing control flow, it should succeed in authenticating or not.  As @PinpointTownes mentions, you can still do whatever control flow you want after UseAuthentication based on the resulting httpContext.User.  But yeah we should add a new sample for JwtBearer in AuthSamples

[2018-01-18 20:54] timdoke commented on #1613
@PinpointTownes The caller will still hit the end point even with c.Fail.. The only thing I've seen that stops it, is doing Context.ForbidAsync in HandleAuthenticateAsync or throwing an exception.. None of these seem to work with swagger, unfortunately..  And... You can't seem to get the correct status out of swagger without letting the flow continue to the end point. And, without that Context.For

[2018-01-18 20:55] HaoK commented on #1613
Your endpoints aren't protected with the equivalent of some kind of `[Authorize("Bearer")]`?

[2018-01-18 20:57] timdoke commented on #1613
No.. I wanted to do pure authentication, not authorization.. All the end points should be should be protected with authentication... The authentication code should not depend on authorization in my opinion.....

[2018-01-18 20:59] PinpointTownes commented on #1613
Heh no. If your actions are correctly decorated with `[Authorize]`, MVC will detect the request is not authenticated and will return a challenge.

And as I said, if you want to make authentication required for your entire app (not just MVC), you can write a custom authorization middleware:

E.g

[code]

[code]

[2018-01-18 21:00] PinpointTownes commented on #1613
Requiring authentication is part of the authorization process. Rejecting requests just because authentication failed is not something the authentication handlers should ever do.

[2018-01-18 22:08] brockallen commented on #1613
Requiring an authenticated caller is _authorization_.

[2018-01-18 22:39] Eilon commented on #1613
Discussed in triage, we should update/create a sample in the https://github.com/aspnet/AuthSamples repo for this.

[2018-01-18 22:40] Eilon commented on #1612
Closing per the comment here: https://github.com/aspnet/Security/pull/1611#issuecomment-358805761

[2018-01-18 22:40] #1612 closed

[2018-01-18 22:46] Eilon commented on #1609
@Tratcher can you try prototyping these and we can get a feel for them?

[2018-01-18 22:52] Eilon commented on #1607
@NinoFloris can you share more info about exactly where the request-only changes are made? We think that cloning the principal is the right approach here because that way the cookie serialization won't see the modifications. However, it isn't clear to us at what point the changes are being made.

[2018-01-18 22:55] Eilon commented on #1606
Thank you for your feature request. We'll consider this feature during the next release planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2018-01-18 22:59] Eilon commented on #1604
@Tratcher can you provide additional guidance here?

[2018-01-18 23:03] Eilon commented on #1602
@guylando thanks for the extra info. Is there anything else you can share about the configuration of your app? Any customizations to DI? Or other custom services? Any custom auth behavior?

[2018-01-18 23:05] Eilon commented on #1599
@brentschmaltz can you take a look at this?

[2018-01-18 23:06] Eilon commented on #1599
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#868

[2018-01-18 23:06] #1599 closed

[2018-01-18 23:16] Tratcher commented on #1604
What different parameter did you plan on setting? TokenValidationParameters allows setting multiple issuers if that's what you're trying to juggle.

[2018-01-18 23:23] Tratcher commented on #1607
No, there's no way to change CookieHandler's behavior here. Your best bet would be to move this functionality from ValidatePrincipal to IClaimsTransformation or a followup middleware and clone the principal before using it.

[2018-01-18 23:58] NinoFloris commented on #1607
@Eilon currently through cloning and sticking an edited principal in `httpcontext.Items` during ValidatePrincipal, which we then pull out in a followup middleware and set as correct `httpcontext.User`, but ideally our additions would all be in a followup middleware.

@Tratcher We're doing something like your suggestion right now, but we need to be in ValidatePrincipal to do an overall stale check

[2018-01-19 00:49] timdoke commented on #1613
For what it's worth, the way I've always thought of "authentication" versus "authorization", is authentication validates that we have a valid user.  Authorization validates the authenticated user has permission to get to the end point.  What I've done in the past, is verify that the authenticated user has certain claims to authorize an end point.  To me, you should be able to authenticate without

[2018-01-19 01:58] Tratcher commented on #1613
Conceptually we're on the same level, the gap is that when implementing this we decided that AuthN should not be responsible for rejecting requests. If AuthN could not identify the user then the request would be considered anonymous and it would be up to the endpoint to decide if anonymous access was allowed. We consider the inclusion or exclusion of anonymous users as an AuthZ decision.

[2018-01-19 07:08] azizkazdal commented on #1604
As I understand from you I can set two different Claim Issuer parameter and two different IssuerSigningKeys. My Token validaton parameters setting is below
[code]

with this code I want to validate two different token. One from customer api generated token one is system api generated token. Is this possible to validate two different token usin this middleware config ?

[2018-01-19 07:14] Tratcher commented on #1604
That's the idea, did it work?

[2018-01-19 07:22] azizkazdal commented on #1604
Yeah that looks worked 👍 . I will do some test on it. Thank you so much

[2018-01-19 13:37] MatthewGabriel opened #1614 "AllowAnonymous & Authorize attributes"
Is it possible to decorate an action with both attributes?  This would allow code to ask the question inside the action about whether the user is authenticated.

It seems it is possible with asp.net but not asp.net core:
https://stackoverflow.com/questions/15770413/share-action-with-authorized-and-unauthorized-user-in-asp-net-mvc-controller

I have a use case where a user may have received a link

[2018-01-19 14:28] guylando commented on #1602
- I use the ordinary framework IOC container with no customizations.
- What could be relevant if the log messages show the corruption right at the beginning of the pipeline?
- Can temporarily building the services collection in the middle of ConfigureServices (in order to use a DAL object to retrieve and bind configurations from the database to an object and later add this object as a singleton to

[2018-01-19 16:37] Tratcher commented on #1614
No you can't do that with the attributes, but there's at least two other ways.

If you're using your default auth scheme (e.g. Cookies), then that authentication is processed in the UseAuthentication middleware before reaching MVC. In your action you would inspect HttpContext.User.Identity.IsAuthenticated and make your decision based on that.

If you're action is not using the default auth scheme

[2018-01-19 16:57] timdoke commented on #1613
Thanks a lot for the great explanations.  And thanks @PinpointTownes for the example on the authorization middleware..  That works with my authentication handler exactly as I wanted it to.

[2018-01-20 15:35] Ahmad-Magdy commented on #1479
@Eilon  @javiercn  if my problem still not clear enough i want to use B2C(https://login.microsoftonline.com/tfp) and  Multiple organization (https://login.microsoftonline.com/common) in the same application and i choose which one to use depends on the URL.
Is there is any clue when someone can check this problem ??

[2018-01-20 22:16] FruitAndAShape commented on #1458
This has cropped up again. This time it's not using a custom service provider when resolving Razor pages.

[2018-01-20 22:54] Tratcher commented on #1458
Please file a new bug in Razor.

[2018-01-22 07:53] jesong opened #1615 "Getting "Unprotect ticket failed" error on different web instances"
We are getting ""Unprotect ticket failed" error(Authorization failed) after azure webapp restarted or the request is hitting a different instance of azure webapp for authentication cookies. Is this by design behavior?

[2018-01-22 10:20] HaoK commented on #1610
It gets registered as part of `AddAuthentication` or `AddAuthenticationCore`

[2018-01-22 10:20] #1610 closed

[2018-01-22 11:27] Tratcher commented on #1615
A restart shouldn't be a problem, but to share keys across instances requires additional configuration.
 https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore2x

[2018-01-23 03:47] jesong commented on #1615
That's cool. We can persist to azureblob or redius. Thank you! I'll close the issue

[2018-01-23 03:47] #1615 closed

[2018-01-23 13:54] KoalaBear84 commented on #1425
I have really no idea how to call this feature. Does anybody have an example of how this works / is called? Thanks!

I do checked out this:
https://github.com/aspnet/Security/blob/rel/2.0.0-ws-preview2/samples/WsFedSample/Startup.cs

But it does not logout the external STS 'session'. I do not have to login again, it is still logged in externally.

[2018-01-23 16:11] Tratcher commented on #1425
Which STS are you using?

[2018-01-23 16:12] Tratcher commented on #1425
See https://github.com/aspnet/Security/issues/1581

[2018-01-23 16:14] KoalaBear84 commented on #1425
At least it is ADFS, and probably version 4. I'm not into those details of STS myself. Then I will wait for the next preview / final version. For now I'll redirect to a self created STS logout link (it is not yet in production).

Thanks for your answer @Tratcher!

[2018-01-24 04:15] nicodewet commented on #1338
I was wondering if anyone out there has a working ASP.NET Core 2.0 Web API (e.g. the Todo sample app) sample app with AWS Cognito as the identity server? Not looking for a tutorial, just working app where just the config needs to be changed (e.g. options.Authority)

I'll get there eventually and probably publish it to GitHub, but just though I'd ask.

[2018-01-24 09:20] nikitaulshin commented on #1332
Hello everyone!

I faced the same problem, could somebody please provide a small example of signing -> encrypting tokens?

[2018-01-24 19:51] HaoK commented on #1348
@blowdart are we happy with the state of things for resource based imperative auth, as things stands it typically would look something like:

[code]

[2018-01-24 19:51] HaoK commented on #1348
If we are I'll close this issue

[2018-01-25 13:17] zippy1981 opened #1617 "Have Microsoft.AspNetCore.Authentication.OpenIdConnect automatically add the v2.0 endpoint as a valid issuer"
I have a scenario where a website using msal.js, and therefore the version 2.0 endpoints for auth is talking to a service using ADAL.NET, and therefore the version 1 endpoints.

In the .NET Service I make this work by setting ValidAuthorities and ValidIssuers:

        public static void SetTokenValidationParameters(this IAzureAdOptions options,
            TokenValidationParameters validationPara

[2018-01-25 16:07] evil-shrike opened #1618 "Windows authentication under IIS via subfolder"
Previously on netfx asp.net + mvc I had a working solution with the following setup:
* An app hosted under IIS where only anonymous auth is set for the whole app/site:
![image](https://user-images.githubusercontent.com/1203230/35393412-f051ae92-01f5-11e8-8580-2747b42022dd.png)
* there's a subdir in IIS app/site ("auth") with Windows only auth:
![image](https://user-images.githubusercontent.com/120

[2018-01-25 17:15] Tratcher commented on #1618
ASP.NET Core requires the use of sub applications, not sub folders, to honor settings like that in IIS. There's a different way though.

Set up the main application to allow both anonymous and windows auth. Leave Cookies as your default authentication scheme for the app.  On your login controller add an Action that calls `ChallengeAsync(IISDefaults.AuthenticationScheme)` if they select Windows. It

[2018-01-25 17:56] danjohnso opened #1619 "Microsoft Account Authentication Fails in IE"
I am using the Microsoft.AspNetCore.Authentication.MicrosoftAccount 2.0.1 package.

When trying to sign up as a new user with a live account, I get an error page with no helpful error description, similar to this issue: #827

Steps:
1) Click the Sign In with Microsoft button
2) enter email, next
3) enter password, next
4) Error Screen:
![image](https://user-images.githubusercontent.com/852995/3540

[2018-01-25 17:59] evil-shrike commented on #1618
@Tratcher thank you! I got it working. It's even simpler and less hacky then before on netfx.

For the record:

* the site has enabled anonymous *and* Windows authentication
* subfolder ("auth) was removed
* Controller's action for Windows-auth looks like:
[code]

[2018-01-25 17:59] #1618 closed

[2018-01-25 20:28] gokhansengun opened #1620 "Add options to redirect to arbitrary host for Twitter Authentication"
Using Twitter authentication, module instructs Twitter Api to redirect to the requesting host as per below code.

[code]

For the scenarios where the app servers are located behind a reverse proxy or load balancer the redirect is trying to reach the app server which might not be always possible (port restrictions, etc).

So, it would be beneficial if the redirect scheme and host could be configure

[2018-01-25 21:49] blowdart commented on #1620
Why isn't your proxy or load balancing setting the X-Forwarded-For or X-Forwarded-Proto headers?

If it does follow that "standard" then you can use

[code]

And the redirect Uri should end up correct.

[2018-01-25 21:54] gokhansengun commented on #1620
Reading the code a little bit more carefully (thank God it is open source), saw the `RedirectUri` on the ticket properties. Setting it to the desired uri in `OnCreatingTicket` event did the trick.

Below is an example for future reference of others.

[code]

[2018-01-25 21:57] gokhansengun commented on #1620
@blowdart maybe I was not clear in the issue description but the problem was I was not able land the requests to the load balancer in the first place because I thought the middleware defaults to the requester's `HostString`.

I hope the comment above this one explains it a bit better.

[2018-01-25 22:02] blowdart commented on #1620
But my point is if the load balancer is what the endpoint is then having it forward the host properly you don't even need to do this. The forwarding middleware will pick those headers up and the uri and protocol you see in the request object will be that of the external address the load balancer is bound to

[2018-01-25 22:06] Tratcher commented on #1619
I just tested it and it appears to be working fine. Either way this appears to be an issue with their service rather than the ASP.NET components. @brentschmaltz where should service issues like this be reported?

[2018-01-25 22:14] Tratcher commented on #1620
The recommended setup is to use use forwarded headers to update the request. Otherwise you'd have to configure every component that generated urls. We're currently drafting more detailed guidance for this here: https://github.com/aspnet/Docs/issues/2384.  Closing this as a duplicate.

[2018-01-25 22:14] #1620 closed

[2018-01-25 23:39] #1604 closed

[2018-01-26 00:50] Eilon opened #1622 "xplat Integrated Windows Authentication (ntlm/Kerberos)"
_From @evil-shrike on January 25, 2018 12:41_

I haven't found any ticket for tracking the xplat Windows-auth support in aspnet/dotnet core.
I understand that currently we have only out-of-the-box Windows auth support in IIS/IISExpress and http.sys and only on Windows.

There's a decent article in docs https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?branch=pr-en-us

[2018-01-26 00:50] Eilon commented on #1622
_From @davidfowl on January 25, 2018 15:23_

We don't have any plans AFAIK to support windows authentication when running on linux. There were discussions we had early on about how windows authentication could be supported in Kestrel, but that was by calling back into windows, not writing a fully managed implementation of ntlm, kerberos etc.

/cc @blowdart @DamianEdwards

[2018-01-26 00:50] Eilon commented on #1622
_From @evil-shrike on January 25, 2018 15:33_

This is a very pity, especially in contract with the support of Kerberos in Java... May I ask what are reasonings for such a decision?

[2018-01-26 00:50] Eilon commented on #1622
_From @blowdart on January 25, 2018 15:35_

Because it would be too risky and too hard to secure. We're not about to take a dependency on Samba.

[2018-01-26 00:50] Eilon commented on #1622
_From @khellang on January 25, 2018 15:43_

According to https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-authentication, it looks like RHEL, SUSE and Ubuntu already have clients for Kerberos, though?

[2018-01-26 00:50] Eilon commented on #1622
_From @Tratcher on January 25, 2018 17:28_

It's not impossible, but it's an extremely large and high risk work item. We're still working on Kestrel's fundamentals such as protocol correctness, stability and performance. Large, high risk features will need to wait.

[2018-01-26 00:50] Eilon commented on #1622
_From @evil-shrike on January 25, 2018 18:17_

Well, ok, it's too early to expect Windows-auth in Kestrel, but we need some guidance on how to support Windows-auth on Linux in general in the meantime.

I can see two approaches:
* "reverse proxy" - all unauthenticated requests will be redirected to a Windows-IIS machine and then back - it can be achieved via some middleware I guess (on Linux side)

[2018-01-26 00:50] Eilon commented on #1622
_From @Tratcher on January 25, 2018 22:8_

Your first scenario could be accomplished using OpenIdConnect and an auth server like [IdentityServer4](http://docs.identityserver.io/en/release/).

[2018-01-26 08:42] Veikedo commented on #1473
Hello @Tratcher !
What about encrypted saml1 tokens? Will be they supported?

[2018-01-26 16:53] #1589 closed

[2018-01-26 17:26] timdoke commented on #1613
Hey @Tratcher.. Can you tell me if this is the intended behavior?

I created a global authorization filter and it works fine.  I then put an allowanonymous attribute on a method.  When that api method is hit, the flow still goes through the authenticate handler first (because I have the global AddAuthentication handler set up), and it fails.  Then, it goes through the authorization filter and beca

[2018-01-26 17:57] timdoke commented on #1613
Ah.. About my comment above..  It appears it called the authentication handler on anonymous because I had a default token scheme defined.  Getting rid of the default token scheme fixed that issue.

[2018-01-26 18:30] Tratcher commented on #1473
@Veikedo not yet. You already found the thread in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/734.

[2018-01-26 18:36] HaoK commented on #1578
As discussed in virtual scheme review, we decided not to try and guard against stack overflow

[2018-01-26 18:36] #1578 closed

[2018-01-26 18:40] HaoK commented on #1280
You can take a look at https://github.com/aspnet/AuthSamples/tree/dev/samples/DynamicSchemes which is the sample for how you can add/remove/configure auth dynamically at runtime

[2018-01-26 18:40] #1280 closed

[2018-01-26 20:54] #1613 closed

[2018-01-26 21:02] ryanbuening commented on #1473
I'm having an issue getting this to work in my environment. The code appears to be making contact to the IdP and it is returning the assertion URL with the SAML token. However, the FedAuth cookie is not getting created upon the assertion call. I end up in what appears to be an endless redirect loop.

Any ideas what would be causing the cookie to not be created?

My Startup.cs can be viewed here: h

[2018-01-26 22:10] Tratcher commented on #1473
Can you share a Fiddler trace and application logs?

[2018-01-26 23:00] javiercn commented on #1479
Hi,

sorry for the delayed response.

In order to do what you want, you need to implement your own authentication handler and based on the path
decide what of the two authentication handlers to use. Something along the lines below (beware its pseudocode):

[code]

Then on your startup class you can register the virtual scheme and the B2C and AAD and set the B2C scheme as your default

[code]

[2018-01-26 23:10] Eilon commented on #1622
@blowdart HI

[2018-01-26 23:15] Eilon commented on #1617
@zippy1981 , it looks like this might be more of an issue with msal.js. We recommend logging an issue at https://github.com/AzureAD/microsoft-authentication-library-for-js for further discussion with the people who work on that project.

[2018-01-26 23:15] #1617 closed

[2018-01-26 23:16] #1614 closed

[2018-01-26 23:21] Eilon commented on #1607
Seems like maybe we should consider having the Cookie Auth Handler clone the principal prior to returning it.

[2018-01-26 23:26] Eilon commented on #1602
This is possibly a problem though it's hard to say without seeing the code. If any services from one container "pollute" the other container, there could be some odd behavior.

Unfortunately, without seeing more about the code, we're at a loss of what the problem could be. We reviewed several code paths and were not able to find anything in ASP.NET Core that could lead to this behavior.

If you ca

[2018-01-26 23:38] Eilon commented on #1558
Moving to 2.2.0

[2018-01-26 23:40] Eilon commented on #1375
Closing because we are not planning on making this change.

[2018-01-26 23:40] #1375 closed

[2018-01-26 23:41] Eilon commented on #1301
Because we haven't done this yet, let's close it.

[2018-01-26 23:41] #1301 closed

[2018-01-27 00:33] aspnet-hello commented on #1601
This issue was moved to aspnet/Home#2829

[2018-01-27 00:33] #1601 closed

[2018-01-27 02:07] aspnet-hello commented on #1439
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:07] #1439 closed

[2018-01-27 02:10] aspnet-hello commented on #1396
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:10] #1396 closed

[2018-01-27 02:11] aspnet-hello commented on #1338
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:11] #1338 closed

[2018-01-27 02:11] #1327 closed

[2018-01-27 02:11] aspnet-hello commented on #1288
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:11] aspnet-hello commented on #1277
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:11] #1277 closed

[2018-01-27 02:11] aspnet-hello commented on #1247
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:11] #1247 closed

[2018-01-27 02:11] aspnet-hello commented on #1238
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:11] #1238 closed

[2018-01-27 02:11] aspnet-hello commented on #1224
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:11] #1224 closed

[2018-01-27 02:12] aspnet-hello commented on #1207
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:12] #1207 closed

[2018-01-27 02:12] aspnet-hello commented on #1166
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:12] #1166 closed

[2018-01-27 02:12] aspnet-hello commented on #1141
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:12] #1141 closed

[2018-01-27 02:12] aspnet-hello commented on #804
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-01-27 02:12] #804 closed

[2018-01-27 02:14] InDieTasten commented on #1288
Can you please reopen this and not add Discussion label? And fix that bot to close issues after 2 months of silence, jeez

[2018-01-27 03:45] Veikedo commented on #1473
@Tratcher sorry for annoying, but do I understand correctly that enabling saml assertion encryption is overkill?

[2018-01-27 12:49] NinoFloris commented on #1607
Happy to hear that, also perf isn't too impacted if the Cookie Auth Handler only clones it when ShouldRenew is true.

[2018-01-29 03:32] rocketRobin opened #1624 "custom policy just don't work!"
I write a costom policy, but what every I try it just don't work.
In my code , the policy handler:

    interface IPathHandler
    {
    }
    public class PathHandler : AuthorizationHandler<PathRequirement>,IPathHandler
    {
        private readonly MasterDbContext _db;

        protected PathHandler(MasterDbContext db)
        {
            // breack point here not work
            _db = db;

[2018-01-29 03:34] seven1986 commented on #1576
@Tratcher There are defferent domains CNAME my application, every domain represent different company.
I according the domain regonization company, then need reset the AuthProvider configurations.
I wanna know how to achieve this.
 Thanks

[2018-01-29 05:42] rocketRobin commented on #1624
I find out, I regist wrong Service in DI

[2018-01-29 05:42] #1624 closed

[2018-01-29 13:13] guylando commented on #1602
It will be hard to reproduce it in a small app since so much dependencies exist in our project so I don't think it will be possible in the near future especially since we have a working workaround. Maybe if the problem will return and we will have no other choice, otherwise we have a pretty tight schedule right now and reproducing this in a small app would take at-least a full day or two.

[2018-01-29 16:01] Ahmad-Magdy commented on #1479
@javiercn  Perfect!, Thank you for that.
I'll check it.

[2018-01-29 16:43] ryanbuening commented on #1473
@Tratcher I sent an email to Tratcher at outlook.com. Thanks.

[2018-01-29 17:38] stamo commented on #976
@Yadavvineet can you share this aproach for I have the same issue

[2018-01-29 17:47] blowdart commented on #1622
@evil-shrike when you say "Windows Authentication" what do you mean?

Do you want

1. "I want to use Windows Authentication to authenticate against a web site"
2. "I want to use Windows Authentication to authenticate against a web site and then I want to be able to impersonate that user so I can access network resources"
3. "I want to run my web site under a linux account that comes from a domain

[2018-01-29 17:52] Eilon commented on #1602
@guylando thanks again for the extra info, we'll do our best to investigate this.

[2018-01-29 17:56] Tratcher commented on #1576
Multi-tenancy.... This system really isn't built for that. You can get a little ways by re-implementing interfaces like IAuthenticationSchemeProvider, but for full multi-tenancy you may be better off using a system like Orchard that builds this for you.

In the short term I suggest registering a unique auth scheme per domain and using IAuthenticationSchemeProvider to select the correct scheme per

[2018-01-29 18:10] evil-shrike commented on #1622
@blowdart I guess all these and other use-cases will find their use if we say "dotnetcore supports Windows auth on Linux". I mean people will want them. But in my particular case I need the 1st one - "I want to use Windows Authentication to authenticate against a web site".
It'd be even OK if I have just a ClaimsPrincipal in `HttpContext.User` (not WindowsPrincipal) for an authenticated (on server

[2018-01-29 18:15] blowdart commented on #1622
WRT NTLM: There's no local Windows users on a Linux system ... is that really a problem?

Directory Services is apparently coming, but that's .NET Core rather than ASP.NET Core.

The fun part of this is it might have to be part of .NET Core, because really WindowsPrincipal is very fixed to Windows, and that's what would do the delegation flow/impersonation. We'd have to examine the possibility of

[2018-01-30 07:54] mstrong64 commented on #1383
In my case the problem relates to IDS4 returning the role claim as an array when the user has multiple roles (see http://docs.identityserver.io/en/release/endpoints/userinfo.html). This causes an exception when trying to get the role into the Principal via:

`oidcOptions.ClaimActions.MapUniqueJsonKey(JwtClaimTypes.Role, JwtClaimTypes.Role);`

I've got around this as follows:

[code]

[2018-01-30 14:39] CoderJason123 opened #1627 "aspnet core 2.0 identity with cookies forms + ajax"
Posted on wrong channel, sorry.

[2018-01-30 18:07] #1627 closed

[2018-01-30 22:55] Tratcher opened #1629 "[Flaky Test] Microsoft.AspNetCore.CookiePolicy.Test.CookieConsentTests.CreateConsentCookieMatchesGrantConsentCookie"
[code]

It's doing an exact equality check for two time sensitive cookie values generated milliseconds apart. The date format has seconds granularity, but sometimes those milliseconds will cross a second boundary.
https://github.com/aspnet/Security/blob/ab8328abcaceb4569bd8c3c1b3177a88f19a3489/test/Microsoft.AspNetCore.CookiePolicy.Test/CookieConsentTests.cs#L562-L582

[2018-01-31 20:27] #1629 closed

[2018-02-01 09:14] maximpashuk opened #1631 "Remove unused dependency IDataProtectionProvider from JwtBearerHandler class"
Hi.

JwtBearerHandler class constructor has unused dependency from IDataProtectionProvider interface

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L25

Please remove this dependency from constructor.

[2018-02-01 11:29] grahamehorner opened #1632 "Q: AuthorizationHandler HttpRequest"
I'm trying to create a custom policy that evaluates a dynamic URL to see if the user has authorisation to the resource; how do I gain access to the HttpRequest associated with the AuthorizationHandler ? do I need to use DI on the constructor ? also is it possible for a AuthorizationHandler to update the claims/cookie of a user ?

[2018-02-01 12:21] zminic opened #1633 "Q: How to add custom headers when cookie authentication expires?"
Hi,

I have the requirement to add custom headers to the response when authentication ticket expires, to be able to handle situation properly at client side. At server side I have configured ExpireTimeSpan but there is no event in CookieAuthenticationEvents that gets called when ticket expires.

What would be the recommended way to do this?

[2018-02-01 14:02] Tratcher commented on #1631
Why do you ask?

Changing/Removing API is breaking and can only be done in major versions.

[2018-02-01 17:03] Tratcher commented on #1633
Cookie expiration is not a singular event. For non-persistent cookies the client doesn't know it's expired and will keep sending it until it's replaced or deleted by the server. This includes concurrent requests while you are replacing it.

How do you plan to treat expired users differently from anonymous users?

When the cookie auth recognizes a cookie as expired it does not take any action, it l

[2018-02-01 17:15] HaoK commented on #1632
If you are in Mvc, the resource passed in is an mvc context that you can use to get access to HttpContext.  You can always take HttpContextAccessor in the ctor as well

[2018-02-01 17:17] HaoK commented on #1632
Once you have access to HttpContext, you can always directly call SignIn if you want to update things for the next request.  I guess you can do claims transformation on the current request on httpContext.User in the handler as well.

[2018-02-01 18:59] Tratcher opened #1634 "[2.0.x] Merge WsFed into the patch branch"
WsFed is getting an out of band 2.0 release targeting 2.0.1 dependencies. Once that's done we should merge it into the 2.0 patch branch for long term servicing.

Considerations:
- Do not add it to any store, metapackage, etc.. This is a ship, exclude package that will only be available from nuget.org until 2.1.
- This depends on a higher but compatible version of IdentityModel (5.2.0) than OpenIdC

[2018-02-01 19:12] rafsawicki commented on #1332
@nikitaulshin
You need to encrypt a signed token. Right now you're not using `signedToken` variable at all, you're encrypting an original payload. It should be something along the lines of
[code]
In my use case, I was using `JweAlgorithm.DIR` - it's the simplest one with the same key for encryption and decryption. You can try using it instead of `JweAlgorithm.A256KW` if you run into any more issue

[2018-02-01 19:42] zminic commented on #1633
Thanks for the info!

You have pointed me in the right direction, it seems that I forgot to add Authorize attribute to the controller. What confused me is that server returned 400 Bad request and I was expecting 401 and I assumed that in expiration case server returns code 400 and that I need to add additional header to distinguish this situation.

After adding Authorize attribute server started r

[2018-02-01 19:42] #1633 closed

[2018-02-01 21:42] akashdeep1024 commented on #1559
@johnkors do you have git hub sample solution of Multiple Scheme and global filter ?

[2018-02-01 22:09] Eilon commented on #1634
We should keep the dependencies as-is because we don't want to raise the minor version dependency on the 2.0.x stuff that already shipped.

[2018-02-01 22:12] Eilon opened #1635 "Merge WsFed package from patch branch into dev"
Depends on https://github.com/aspnet/Security/issues/1634

Starting in 2.1.0-preview2, the WsFed support will be just another part of the release.

We need to check whether this also needs to go into the `.App` package. Presumably yes, but check with the Powers That Be.

[2018-02-01 22:16] Eilon commented on #1631
It would be a breaking change to do this, but we will consider it for 3.0.0.

[2018-02-01 22:30] Eilon commented on #1237
It appears that a "Proposed Standard" is often as official as an RFC gets, per https://tools.ietf.org/html/rfc7127

So, we should certainly consider adding support for this RFC.

[2018-02-01 22:52] brockallen commented on #1237
There's already a library for this: https://github.com/IdentityModel/IdentityModel2/blob/dev/src/IdentityModel/Client/TokenRevocationClient.cs.

[2018-02-01 23:45] bgever commented on #1237
Neat @brockallen, useful to show our clients how to do the calls, and maybe we can leverage it ourselves.

We've been using "proposed standards" RFC 7005 and [RFC 7523](https://tools.ietf.org/html/rfc7523) successfully for a long time now to handle (JWT) SSO scenarios with our customers.

[2018-02-02 00:07] Tratcher commented on #1609
Here's a basic starting point. I copied the 1.1 code into a ClaimAction:
[code]

Now to look at the Except half.

[2018-02-02 07:57] AnshulKhandelwal02 commented on #1473
hi, I am trying to get this added to my existing Core 2.0 + Angular 5 CLI app. I am using the preview template for it. Issue is even after adding the standard configuration, redirect doesn't happen for authentication ! I don't know If I need to add any redirect from Angular for it. But once my app has triggered, I don't think I can add a callback to login then !
Any suggestions on this ? Thanks.

[2018-02-02 08:03] Veikedo commented on #1473
@AnshulKhandelwal02  this is because your Angular (JavascriptServices) middleware lives outside of MVC pipeline.
You need to use smth like this

    internal class SpaAuthMiddleware
    {
        private readonly RequestDelegate _next;

        public SpaAuthMiddleware(RequestDelegate next)
        {
            _next = next ?? throw new ArgumentNullException(nameof(next));
        }

        publ

[2018-02-02 08:16] johnkors commented on #1559
@akashdeep1024 : [In the comment above](https://github.com/aspnet/Security/issues/1559#issuecomment-351732276), there's a global filter `RequireLoggedOnUsers` and 3/4 schemes.

[2018-02-02 11:25] AnshulKhandelwal02 commented on #1473
@Veikedo Thanks much. I configured both OpenID and WsFed using the same middleware.

[2018-02-02 17:10] Tratcher commented on #1609
Filtering out protocol claims really is a distinct action from mapping user-info claims.
[code]

[2018-02-02 20:21] grandchamp opened #1638 "Reading Request.Body on AuthenticationHandler causes model null on MVC"
Hi.
What i'm trying to do is to read the `Request.Body` on a custom `AuthenticationHandler` but when i do this, the Model passed to MVC is null (probably because you can't read the `Request.Body` twice).
The code is https://github.com/grandchamp/AuthAPI/blob/master/AuthAPI.Middlewares.Mvc/AuthAPIAuthenticationHandler.cs#L58.

What can i do here?

[2018-02-02 20:27] Tratcher commented on #1638
You need to buffer the body, e.g. to a memory stream if it's small, seek back to the start, and then re-assign Request.Body.

[2018-02-02 21:30] davidfowl commented on #1638
Is the body tiny? How big can it get?

[2018-02-02 21:35] grandchamp commented on #1638
@Tratcher i've tried some things, but MVC always get a null model.

@davidfowl We'll, it's a library, so it can be any size. Currently i'm the only using, so i'm sure the body wont be so big.

[2018-02-02 21:42] davidfowl commented on #1638
You’ll probably destroy the performance if you buffer the entire body in memory. Just FYI.

[2018-02-02 21:43] grandchamp commented on #1638
That's what i was thinking.
Any thing i can do considering the performance?

[2018-02-02 21:49] Tratcher commented on #1638
Show us how you tried to buffer.

As far as perf goes, there's not much you can do. That validation algorithm itself is fundamentally inefficient. Time to switch auth schemes?

[2018-02-02 23:36] #1634 closed

[2018-02-03 17:11] blowdart commented on #1622
Another question - is this for a stand alone box, or for containers?

I ask because joining your containers to a domain, or setting up SPNs for them seems wrong. In that case, if all you want is auth for a web site, using OIDC or WSFed to an ADFS server seems like the better option, this way it's clean with no dependencies. That way auth is taking care of by an auth provider, and your container ha

[2018-02-05 09:02] evil-shrike commented on #1622
I needed it for standalone server.
As for containers I understand your reasoning but I'm afraid that requiring a ADFS server imposes additional complexity for developing and testing. Also currently it's not very clear how to implement such an approach.

[2018-02-05 13:28] grandchamp commented on #1638
Sorry for the late.
Well, i've tried a different way and it worked.

[code]

Probably i was messing up with `Seek`.

@Tratcher the algorithm is inefficient, i know. It's just a playground.

Anyway, what is the other performant way to work with Body without using MemoryStream?

[2018-02-05 13:41] Tratcher commented on #1638
You're not going to be able to do much better when your HMAC code requires hashing the entire body before the application gets access to it.

If the body gets really large you could buffer it to disk. See EnableRewind:
https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.Http/Internal/BufferingHelper.cs#L41

[2018-02-05 15:40] ryanbuening commented on #1473
@Veikedo thanks for the Spa configuration. It worked for me as well. What does/is your `WsFederationAuthCleanupMiddleware` do/used for?

[2018-02-06 02:59] Veikedo commented on #1473
@ryanbuening it was a few comments above

    internal class WsFederationAuthCleanupMiddleware
    {
        private readonly RequestDelegate _next;

        public WsFederationAuthCleanupMiddleware(RequestDelegate next)
        {
            _next = next ?? throw new ArgumentNullException(nameof(next));
        }

        public Task Invoke(HttpContext context, IAuthorizationService authorization

[2018-02-06 21:18] HaoK opened #1640 "Create base shared authentication specification test"
We have a bunch of tests that should be run on all of the auth handlers (and some for remote only), but we should move this into a shared base class to make it easier to reuse (we have to manually copy all of them today).

[2018-02-06 22:44] peirens-bart commented on #1219
Hi
I know this topic is closed but I still have question where I can't find the answer for.
in core 1.1 I can do

[code]

when i create the cookie and de jwt token with the same claims, i can get the claims in a middelware from `(httpContext.User.Identity as ClaimsIdentity).Claims`

in core 2.0
I do this
[code]
in the middleware I can read the claims from the cookie but nor for the jwt token
the r

[2018-02-07 22:24] blowdart commented on #92
Bringing this front and center. Facebook is now at 2.12 and 2.6 will expire in July this year.

[2018-02-07 22:30] Tratcher commented on #92
See https://github.com/aspnet/Security/issues/1306 for Facebook

[2018-02-08 00:19] Jeeves8 commented on #1473
I'm having issues accessing the metadata url from our server as the web and ADFS servers are on different domains. I want to know if can I copy the metadata xml file to the local disk on the server and map it ?

in the .AddWSfederation options, can I provide the issuer url instead the metadata address ?

[2018-02-08 16:54] andyong79 commented on #1473
Is there any way to set the whr value so that it is appended to the generated url to bypass home realm discovery?

[2018-02-08 17:00] Tratcher commented on #1473
@andyong79 Use options.Events.OnRedirectToIdentityProvider and set the ProtocolMessage.Whr property.

[2018-02-08 17:40] PinpointTownes opened #1641 "Bring back an equivalent of AuthenticationDescription.Items"
In 1.x, the per-middleware `Items` bag was extremely useful to store provider-specific data. Unfortunately, with the huge refactoring introduced in 2.0, this property disappeared.

Suggested API:

[code]

[code]

@Eilon this is a zero-risk change. Could that be part of 2.1?

/cc @Tratcher

[2018-02-08 17:41] PinpointTownes commented on #1641
Note: it's an important API for me so I'm fine taking care of the PR if the proposed changes are approved.

[2018-02-08 17:46] Eilon commented on #1641
@PinpointTownes we'll review in this afternoon's bug triage. Should hear back from us later today.

[2018-02-08 17:52] PinpointTownes commented on #1641
Optionally and to make this new bag easier to access, new extensions for the OIDC/OAuth2/Twitter methods could be added. E.g:

[code]

[2018-02-08 17:53] HaoK commented on #1641
We had this concept around in a few iterations, is there any particular reason you want it on the scheme instead of the AuthenticationSchemeOptions instead?

That feels like a better place for a scheme specific bag of stuff.

[2018-02-08 17:53] HaoK commented on #1641
The old stand alone description stuff is odd, the options should be the new home for misc data now

[2018-02-08 17:54] HaoK commented on #1641
Basically something like a new Items property which you can add whatever you want to in today's existing API...

`AddOpenIdConnect(o => o.Items["Whatever"] = "Something)`

[2018-02-08 17:56] PinpointTownes commented on #1641
I need to access the bag via `IAuthenticationSchemeProvider`/`HttpContext.GetAuthenticationSchemesAsync()`. Pretty much like the `DisplayName`.

[2018-02-08 17:58] HaoK commented on #1641
`IOptionsMonitor.Get<Options>("scheme").Items` the only difference is its an implementation details for our security auth handlers stack instead of something in the core authentication abstractions.

[2018-02-08 17:59] PinpointTownes commented on #1641
No, the difference is that you need to know the scheme with the options approach.

In my scenario, I need to iterate the schemes collection, determine whether the item property I want is associated with the scheme and choose it if it's the right one.

[2018-02-08 18:01] HaoK commented on #1641
You should still be able to iterate over all of the schemes and look for what you want in the Items of each scheme

[2018-02-08 18:06] PinpointTownes commented on #1641
We use a multi-tenant aware `IOptionsMonitor`. Retrieving all the tenant options associated with all the schemes would be an extremely expensive operation :sweat_smile:

[2018-02-08 18:07] PinpointTownes commented on #1641
Why isn't `DisplayName` part of the options, then?

[2018-02-08 18:09] HaoK commented on #1641
DisplayName didn't really exist for a long time, templates work against core abstractions and rely on the whole display name thing to determine whether to show login buttons etc.  That whole mess we tried to solve and ended up back with display name :/

[2018-02-08 18:13] PinpointTownes commented on #1641
Hum? This property was present in 1.x and used `AuthenticationDescription.Items` internally.
It's inherited from Katana, where it was introduced... in 2013: https://github.com/aspnet/AspNetKatana/blob/dev/src/Microsoft.Owin/Security/AuthenticationDescription.cs#L53-L60.

[2018-02-08 18:14] HaoK commented on #1641
I mean in 2.0 Displayname was removed completely we only added this back late in 2.0 to enable the ability to filter the login buttons since we didn't have any other mechanism...

[2018-02-08 18:17] HaoK commented on #1641
The real answer why DisplayName couldn't live in AuthenticationSchemeOptions is because the host auth handlers don't use the security stack, and they also want to not show up as login buttons.

[2018-02-08 18:20] HaoK commented on #1641
Ideally I think the app should be responsible for filtering the schemes to determine the proper set to show for their purposes (login or what not).  But we ended up bringing back display name since we couldn't come up with any better alternatives in time

[2018-02-08 18:23] PinpointTownes commented on #1641
I hear your arguments but the alternative you suggested doesn't fit my scenario.

If you don't want to make this thing a first class citizen, that's fine, I have no problem using `AddScheme` and registering the `PostConfigure` things manually instead of using `AddOpenIdConnect()`/`AddWhatever()` sugars.

[2018-02-08 19:09] HaoK commented on #1641
So to sum up your underlying scenario, you just want a way to be able to select a particular scheme instance out of all the schemes (potentially across tenants/different options monitor instances).  i.e. scheme.Items["Key"] = "somevalue"

[2018-02-08 19:10] PinpointTownes commented on #1641
Yup, exactly.

[2018-02-08 19:11] HaoK commented on #1641
I'm assuming you are using the security stack so all of your schemes are AuthenticatinoSchemeOptions and they are using OptionsMonitor?

[2018-02-08 19:13] PinpointTownes commented on #1641
Yup, but the providers are not of the same type (e.g we have OIDC and tons of OAuth2 providers, so we can't just use `IOptionsMonitor<OpenIdConnectOptions>` as you suggested).

[2018-02-08 19:17] HaoK commented on #1641
Is this key basically your tenantId?

[2018-02-08 19:19] HaoK commented on #1641
Like are you trying to implement a custom Tenant specific IAuthenticationSchemeProvider and are looking for a way to get the list of schemes only for this tenant?

[2018-02-08 19:26] HaoK commented on #1641
I guess what I'm asking is, since it sounds like this is another lookup key for your scheme, if you aren't reusing scheme names, can you just use this as your scheme name or part of the scheme name?

[2018-02-08 19:49] blowdart commented on #1622
Well, ADFS would just be a typical external identity flow, either OIDC or WS-Fed, and it'd work like Facebook, twitter or goggle, or indeed an external auth, except ADFS knows what your internal network is, and supports integrated auth too, so it's automatic for internal users.

Anyway, as you can imagine Kerberos / SPNEGO / Integrated, whatever you want to call it, would be a brand new feature. S

[2018-02-08 19:51] HaoK commented on #1641
Can you just add a layer of indirection?  A key => scheme service that you use to keep the scheme names stable but do the id to scheme translation?

[2018-02-08 19:58] PinpointTownes commented on #1641
Certainly. It's just way more convoluted than what we had in Katana and 1.x.

Not sure why we're arguing so hard for a simple "bag" properties, tho. There's really no con for adopting this change.

[2018-02-08 20:02] blowdart opened #1642 "How to get ctx.ProtocolMessage.Code ?"
_From @ondrejspilka on February 5, 2018 13:28_

For PowerBI access token we need AAD Access Code.
For the time being workaround is to implement OpenId provider and extract code in OnAuthorizationCodereceived like this:

[code]
How to get the ctx.ProtocolMessage.Code from standard AAD provider?

Thanks
Ond5ej

_Copied from original issue: aspnet/Identity#1614_

[2018-02-08 20:29] Jeeves8 commented on #1473
@Tratcher  -  Thanks, I now have issue with loading the x509 certificate, I have created the path and copied the PFX file to this path compiler/resources/test_1.pfx  but im getting
Exception thrown: 'System.IO.FileNotFoundException' in Microsoft.Extensions.FileProviders.Abstractions.dll
An exception of type 'System.IO.FileNotFoundException' occurred in Microsoft.Extensions.FileProviders.Abstractio

[2018-02-08 20:31] HaoK commented on #1641
I'm not arguing against a bag of properties, just as part of AuthenticationSchemeOptions.  The Options are meant to be the metadata for the schema already

[2018-02-08 20:38] PinpointTownes commented on #1641
There's no reason to do that when you can have strongly types properties in your scheme options.

[2018-02-08 20:43] HaoK commented on #1641
What I'm getting at, the reason there's no AuthenticationDescription, is because the AuthenticationSchemeOptions are meant to be used for that purpose.  So for the same reason you want to be able to configure a generic bag of stuff for any scheme, is why you would use a new base.Items...

[2018-02-08 20:43] blowdart commented on #1622
For research purposes (most are out of date, but a decent starting point)

Kerberos is a network authentication protocol for client/server applications & SPNEGO provides a mechanism for extending Kerberos to Web applications through HTTP

https://msdn.microsoft.com/en-us/library/ms995330.aspx HTTP-Based Cross-Platform Authentication by Using the Negotiate Protocol
https://msdn.microsoft.com/en-us/

[2018-02-08 20:45] HaoK commented on #1641
We haven't finished the work to make it easier to extend handlers/options.  So its not easy today to extend GoogleHandler and just customize the options to add new stuff

[2018-02-08 20:45] HaoK commented on #1641
You'd have to go through the OAuth base classes probably

[2018-02-08 21:22] PinpointTownes commented on #1641
I don't want/need to custom the handler. What I need is a **very simple way** to flow properties from the moment you register a scheme and the moment you consume it:

Add an item:
[code]

Filter the schemes:
[code]

[2018-02-08 21:39] HaoK commented on #1641
That items data seems like it belongs with the rest of configuring the scheme.  Its not quite as pretty but you can still do something like:

[code]

[2018-02-08 21:40] HaoK commented on #1641
What I'm trying to avoid is two sets of metadata, this description/items thing, and the options for the scheme.  The options should really be the single source of truth

[2018-02-08 21:47] HaoK commented on #1641
This also has the benefit of being dynamic, the scheme data is singleton by default and fairly hard to update, while the items would be going through normal options configuration

[2018-02-08 21:50] PinpointTownes commented on #1641
Having to manually instantiate a handler just to retrieve its associated options looks particularly gross (and exactly the reason why I think all these handler properties shouldn't have been made public)

Why is that a problem for you? The two seem to be separate things: the items bag is used to store immutable data known at registration time while options can be customized by replacing the monito

[2018-02-08 21:54] HaoK commented on #1641
Why do we need two types of metadata?  The options can just contain all of the relevant metadata for the scheme.  Whether you update it or its immutable shouldn't matter really.  You just configure it consistently via.  `AddXyz(o => o.Foo = "whatever")` everywhere.

[2018-02-08 21:55] HaoK commented on #1641
Ignore display name, but that's basically the intent behind AuthenticationScheme being only the scheme name and the type.

[2018-02-08 21:57] PinpointTownes commented on #1641
As usual, we're going in circles: I already explained why instantiating options for handlers you don't need wasn't a good idea from a performance perspective in a multi-tenant scenario (specially when the options are dynamically resolved from the DB).

[2018-02-08 22:12] Eilon commented on #1218
Closing because we have no plans to do this. Many extensibility points are available via existing events.

[2018-02-08 22:12] #1218 closed

[2018-02-08 22:14] Eilon commented on #1588
Should be using the `Debug` log level.

[2018-02-08 22:19] Eilon commented on #1348
Reviewed with @davidfowl and we don't think we have anything else to do here.

[2018-02-08 22:19] #1348 closed

[2018-02-08 22:23] Eilon commented on #1011
Closing because we think this change along would be insufficient for proper case-insensitivity support.

[2018-02-08 22:23] #1011 closed

[2018-02-08 22:28] Eilon commented on #1359
@HaoK please log new issues for any 2.1.0 proposals.

[2018-02-08 22:28] Eilon commented on #1246
No plans to do this.

[2018-02-08 22:28] #1246 closed

[2018-02-08 22:30] Eilon commented on #1236
Moving to Backlog because there are no plans to implement this at this time.

[2018-02-08 22:32] Eilon commented on #591
Closing because we are not planning on doing this.

[2018-02-08 22:32] #591 closed

[2018-02-08 22:37] Eilon commented on #1178
Closing because this hasn't come up a whole lot recently. There are some ways to handle these types of failures, though they're not ideal.

[2018-02-08 22:37] #1178 closed

[2018-02-08 23:14] Eilon commented on #1182
Been quite a while and we haven't done this, so closing.

[2018-02-08 23:14] #1182 closed

[2018-02-09 00:25] HaoK commented on #1641
We chatted a bit about this in triage, we decided not to add any generic bag items back to the scehma as it was an intentional decision to eliminate the extra bag.

Would something like this work for what you are trying to do?
[code]

[2018-02-09 00:32] HaoK commented on #1546
Forwarding was merged into base via c0b8be58ba0ccdb3a4cd38825c30536f60ab99ce

SignIn changes will be tracked via https://github.com/aspnet/Security/issues/1558

[2018-02-09 00:32] #1546 closed

[2018-02-09 00:54] PinpointTownes commented on #1641
So surprising... :trollface:

[2018-02-09 00:54] #1641 closed

[2018-02-09 14:10] epot commented on #1473
@ryanbuening I seem to have the same issue as you - the cookie is not created and I am in an endless loop. What did specifically solve your issue? I tried recreating the same SpaAuthMiddleware and WsFederationAuthCleanupMiddleware with no luck.

[2018-02-09 15:56] ryanbuening commented on #1473
@epot our issue was that we needed to set our IdP assertion URL to include `/signin-wsfed` at the end. We had the identifier URL and the assertion URL the same which was causing the loop. So doing something like: `domain.com/directory/signin-wsfed` fixed the issue.

[2018-02-09 16:00] epot commented on #1473
Ok! Could you share your startup.cs by any chance? Otherwise I'll try to redo that on my own :).

[2018-02-09 16:09] ryanbuening commented on #1473
Here is my Startup.cs when using SPA Services: https://gist.github.com/ryanbuening/5244ab7df016d95f97449abd90a4afce

Here is my Startup.cs when using MVC: https://gist.github.com/ryanbuening/4f1bceeb9ae380b872822a3c50a38870

[2018-02-09 21:42] javiercn opened #1643 "CookiePolicyOptions sets minimumsamesitelevel to lax by default and that breaks oauth providers"
This happens when you plug-in the cookie policy middleware on the app and use an oauth provider for authentication.

[2018-02-10 00:08] Tratcher commented on #1473
Has anyone here used the Wreply option? I've seen some confusion between it and the CallbackPath and am considering removing it from the top level options. The field would still be settable inside the OnRedirectToIdentityProvider event.

[2018-02-10 01:33] KoalaBear84 commented on #1473
I have used `Wreply`, as far as I know you will be sent to that URL after signing out. Haven't used `CallbackPath`.

[2018-02-10 02:56] reicher001 commented on #1473
Yes we are using WReply.  Is it just confusion or is there a problem with
the implementation?

Richard Eicher II

PwC | Director
Office: +1 214 754 5485 | Mobile: +1 214 801 3879
Email: richard.eicher@pwc.com
PricewaterhouseCoopers LLP
2001 Ross Ave. Dallas,TX 75201
http://www.pwc.com/us

On Fri, Feb 9, 2018 at 7:33 PM, KoalaBear84 <notifications@github.com>
wrote:

_______________________________

[2018-02-10 12:44] Tratcher commented on #1473
The problem comes from the tight coupling with CallbackPath. People set wreply without updating callback path to match. Of the two the implementation only needs CallbackPath, wreply can be generated internally.

[2018-02-11 19:09] Jeeves8 commented on #1473
I'm new to ADFS, I'm trying to configure my application using the WsFederation 2.0.0-preview2.
The app is redirecting to the ADFS URL as expected but for some reason i'm getting error after I enter my login credentials.

The same ADFS config works with ASP.NET web app using WIF
https://docs.microsoft.com/en-us/dotnet/framework/security/how-to-build-claims-aware-aspnet-mvc-web-app-using-wif

Could

[2018-02-12 13:22] KoalaBear84 commented on #1473
Sorry.. I didn't use `Wreply`, it's `SignOutWreply`. I don't know if that is almost the same.

[2018-02-12 19:06] Tratcher commented on #1473
SignOutWreply works but may be confusing when it defaults to Wreply, which defaults to CallbackPath.

[2018-02-12 22:36] Tratcher opened #1645 "WsFed confusion between Wreply and CallbackPath"
When WsFed was ported from Katana it was translation with modest updates, most of the original design and options were preserved. Justin noticed in testing that the modified relationship between CallbackPath and Wreply is confusing and may cause infinite login loops for our customers. Wreply sets the address the identity provider returns to. CallbackPath sets the path the middleware listens on for

[2018-02-12 22:37] levnikolaevich opened #1646 "The redirect URI is not well-formed. The URI is: 'http://грант.рф:5000/connect/authorize ..."
Guys, hello!

When I use OpenIdConnect I have a problem in a OpenIdConnectHandler (394 line)

So, I use a cyrillic domain http://грант-лев.рф and redirect URI in OpenIdConnectHandler looks incorrect.
`The redirect URI is not well-formed. The URI is: 'http://грант-лев.рф:5000/connect/authorize?client_id=RosgrantService&redirect_uri=http%3A%2F%2Fxn----7sbhbm9amwu.xn--p1ai%3A5002%2Fsignin-oidc&`

See

[2018-02-12 22:41] Tratcher commented on #1646
Interesting catch. @brentschmaltz this may be a bug in CreateAuthenticationRequestUrl.

[2018-02-12 22:43] Tratcher commented on #1646
@levnikolaevich if you look at the metadata document OIDC downloads for configuration, the host value is not encoded in there is it?

[2018-02-12 22:52] HaoK commented on #1645
Do you really need both of these things, should just standardize on CallbackPath ideally and use that as/derive the wreply?

[2018-02-12 23:03] levnikolaevich commented on #1646
@Tratcher
Do you mean this metadata?
![image](https://user-images.githubusercontent.com/11368076/36124623-caeaf634-1061-11e8-86cd-2f5e6e6e988c.png)

Client configuration looks like this
![image](https://user-images.githubusercontent.com/11368076/36124690-075519ba-1062-11e8-89ed-3d0e3c71ba80.png)

[2018-02-12 23:08] Tratcher commented on #1646
Yes. One way of addressing this is changing the metadata. Can you do that?

Also, why did you add ConvertToAscii for your Authority? We should be able to handle that one in Unicode.

[2018-02-12 23:24] levnikolaevich commented on #1646
@Tratcher , I'm using idsrv4. I think, I don't have a direct access to that code. I've asked their support for help.
I'll let you know if we come up with something.

PS ConvertToAscii was just for a experiment =)

[2018-02-12 23:26] Tratcher commented on #1646
Ok, the other workaround you can try is setting the Options.Configuration property and manually entering the metadata with encoded urls.

[2018-02-12 23:33] HaoK commented on #1645
If you have two settings that must be consistent, letting them set one and not the other seems like a huge pit of failure.  There should only be one thing they can set, or a single helper method that sets both.

[2018-02-12 23:35] HaoK commented on #1645
Seems much better to make it easy to do the right thing, and make it 'hard' only for the people that run into issues with exact casing, require them to override something extra instead of just setting another option

[2018-02-13 00:44] chrisdunelm opened #1647 "Where to store auth access/refresh tokens extracted from Google login?"
Hi,

I'm working on allowing users who have logged in using the Google auth provider (ie using `service.AddAuthentication()`[`.UseGoogle(...)`](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Google/GoogleExtensions.cs#L15)), to be able to directly access the acquired Google credential so API calls into Google services can be made.

It's fairly trivial to actual

[2018-02-13 04:59] Tratcher commented on #1647
Properties is fine for storing tokens for the duration of the session, so long as it doesn't get too big. Here's a sample showing the refresh process:
https://github.com/aspnet/Security/blob/5de25bb11cfb2bf60d05ea2be36e80d86b38d18b/samples/SocialSample/Startup.cs#L304-L343

[2018-02-13 11:09] andyong79 commented on #1473
Thanks @Tratcher that worked a treat for setting the whr value.

            .AddWsFederation(options =>
            {
                options.Wtrealm = ...
options.MetadataAddress = ...
                options.Wreply = ...
                options.Events.OnRedirectToIdentityProvider = OnRedirectToIdentityProvider(config.GetValue<string>("HomeRealm"));
            })

private static Func<RedirectCo

[2018-02-13 14:16] joshbartley opened #1648 "Cookie SlidingExpiration works unexpectedly different then other SlidingExpirations."
I have been tracking down a bug in our client-side log out timer while we have SlidingExpiration = true, and our timeout is set to 20 minutes. The Javascript code will start a countdown from 18 minutes on page load, and at minute 18, notify the user they only have so much time remaining. We caught a large amount of 401 errors on a heartbeat call back when they are still logged in from our client s

[2018-02-13 15:55] fabiodaniele opened #1649 "JWT Signature validation fails in .NET Core app targetting .NET Framework 4.7.1"
Hi,
I was having an issue trying to authenticate users to a .NET Core WebAPI using a JWT bearer token generated by a WSO2 Identity Server.

The project targets .NET Framework 4.7.1 and references Microsoft.AspNetCore.Authentication.JwtBearerToken.

At first, I thought it was an issue related to my WSO2 IS configuration.

Then, I found this article:
https://www.jerriepelser.com/blog/manually-valida

[2018-02-13 16:10] Tratcher commented on #1648
Those forms auth links refer to a different implementation in System.Web .NET 4.x. Here's the docs for ASP.NET Core: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.cookies.cookieauthenticationoptions.slidingexpiration?view=aspnetcore-2.0

Note that refreshing the cookie is somewhat expensive, heince delaying the renewal.

[2018-02-13 17:28] Tratcher commented on #1649
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#877

[2018-02-13 17:28] #1649 closed

[2018-02-13 19:25] blowdart commented on #1622
Linked to https://github.com/dotnet/corefx/issues/15017

[2018-02-13 22:13] WaedSaleh opened #1650 "Add Claims to mvc core application"
Hi All,
I am new in mvc core and I am trying to secure my application.
I am using windows authentication and using claim based authorization concept.
I have a list of claims like Edit, Delete, view and I am trying to use policy-based authentication in my application but it not work, can help me on identity these claims to claim principle and use it.

If there any tutorial that has step by step imp

[2018-02-13 22:20] Eilon commented on #1650
Hi @WaedSaleh , have you read the documentation at https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies ?

Please have a look at it and let us know where you're having a problem.

[2018-02-13 22:27] joshbartley commented on #1648
@Tratcher can you elaborate more on the expense of refreshing a cookie?

[2018-02-13 22:35] Tratcher commented on #1648
1. Re-serialize the refreshed identity
2. Disable caching on the response to prevent caching the cookie

If you refreshed your cookie too often then you'd effectively disable caching for your entire site.

[2018-02-13 23:11] joshbartley commented on #1648
Would a PR to add when the cookie gets refreshed or add an event to ask if a cookie should be refreshed be better. That way each app owner could decide? In most business apps, caching is disabled on controller actions.

[2018-02-13 23:41] Tratcher commented on #1648
We'll evaluate this in triage later this week.

[2018-02-14 05:11] chrisdunelm commented on #1647
Great. Thanks very much for the clear code example :)

[2018-02-14 05:11] #1647 closed

[2018-02-14 10:25] WaedSaleh commented on #1650
Hi @Eilon,
I started with this https://docs.microsoft.com/en-us/aspnet/core/security/authorization/claims

    services.AddAuthorization(options =>
    {
        options.AddPolicy("EmployeeOnly", policy => policy.RequireClaim("EmployeeNumber"));
    });
I would to know  how to define  EmployeeNumber claim

[2018-02-14 10:57] WaedSaleh commented on #1650
In another word, I want to know how to add claims to the current identity.

[2018-02-14 17:56] Eilon commented on #1650
@Tratcher / @blowdart - do we have docs on this topic?

[2018-02-14 17:56] Eilon commented on #1650
Or a sample?

[2018-02-14 18:00] blowdart commented on #1650
So with Windows Authentication we generally consider AD the source of truth because it's what it's supposed to be. So in that case you'd either use ClaimsTransformation to modify the identity (and that would run on every request), or have your authz rule go off to your source of additional claims when it runs, and query it for membership or properties.

[2018-02-14 20:20] WaedSaleh commented on #1650
Thank you! I have another question regarding applying a different type of Authincatin in the same application and configure that based on client need without have multiple application for different login, I need to apply windows auth and single sign-on authentication in same application but one client we use windows auth and another will use saml authentication.

[2018-02-14 21:48] blowdart commented on #1650
When you say another client what do you mean? Are both non-web based? Generally this sort of thing is doomed to failure.

[2018-02-14 21:59] WaedSaleh commented on #1650
I mean for our business wh have different clients Client A configure his env to use site minder authentication while client B have windows authentication and currently in our web form application we able to support both auth and control that by web config. I would like to know how we can achieve same goal in mvc core

[2018-02-14 22:02] blowdart commented on #1650
So different instances of the application? Not one application wanting to do multiple auth types at once?

[2018-02-14 22:05] WaedSaleh commented on #1650
I want one application with multiple auth types and can use one of them in running time

[2018-02-14 22:06] WaedSaleh commented on #1650
I mean in the end will have one type of Auth but in development will have one application

[2018-02-14 22:13] blowdart commented on #1650
OK, so switching at runtime would be up to you, put something in config and react to it as you would anything else, but you can't config it just in config you need to write the code :)

[2018-02-14 22:17] WaedSaleh commented on #1650
Of course, we need to have a code and then chose the one we need to apply. Anyway, can you help me with implement sso by site minder in mvc core 2

[2018-02-14 22:18] blowdart commented on #1650
@Tratcher is WS-Fed documented yet?

[2018-02-14 22:18] dealdiane opened #1651 "Automatic Redirect on 401"
At least in DNX RC1 (yes, I know!), the default behavior if a response with status code 401 using cookie authentication was to redirect to the login path. i.e. Simply returning "Unauthorized" from any mvc action resulted in a redirect to the login page.

Now that we finally have upgraded to 2.0, this seems to be no longer the case. Returning "Unauthorized" would simply return a 401. I couldn't fin

[2018-02-14 22:21] Tratcher commented on #1651
Where are you returning from? MVC?

[2018-02-14 22:24] blowdart commented on #1650
@WaedSaleh So assuming SiteMinder does WS-FED then there you go. I know SiteMinder had their own plugin too, which will not work. Best to ask SiteMinder at this point.

[2018-02-14 22:25] dealdiane commented on #1651
Yep, from MVC and from a custom middleware both run after the auth middleware. I'm not overly concerned about the middleware at this stage and would like to try find a workaround for the MVC first.

[2018-02-14 22:32] Tratcher commented on #1651
From MVC it's recommended you return a Challenge result rather than the status code.
https://github.com/aspnet/Mvc/blob/d40c60d15ba3f9e0fd4854a5f23651148161bc36/src/Microsoft.AspNetCore.Mvc.Core/ControllerBase.cs#L2171

[2018-02-14 22:39] dealdiane commented on #1651
Yeah, I thought I already tried that but returning challenge from a fresh scaffold works so must be something with the way the middlewares are stacked.

[2018-02-14 22:39] #1651 closed

[2018-02-14 23:12] Tratcher commented on #1473
https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation/2.0.0 is now available. Enjoy 😀

[2018-02-15 03:44] JeanCollas commented on #1165
I am still seeing this error. Correlation failed.
At first I thought it was linked to the OS of the user, but the last few user-agent I got in the past hours seem to be from many platform:
Mozilla/5.0 (Linux; Android 7.0; SAMSUNG SM-G935F Build/NRD90M) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/6.2 Chrome/56.0.2924.87 Mobile Safari/537.36
Mozilla/5.0 (Linux; Android 6.0.1; Redmi 3S Buil

[2018-02-15 03:51] JeanCollas commented on #1130
I get the same issue with the Facebook login, with also half of our visitors, so that is really an annoying behavior... We would really appreciate a way to fix this :)

[2018-02-15 08:30] hempels commented on #1130
As it happens, Google launched a new UI for their Account Chooser page shortly after I attempted (unsuccessfully) to file a bug with someone there who could do something about it. That new UI fixes the double-click problem - after the first click they add an overlay and an activity indicator.

That won't help you any with Facebook if they're having the same issue. I can tell you that in our case,

[2018-02-15 13:54] johnkors opened #1652 "Fetch configuration instead of setting"
More of a question than an issue:

In most registrations, you need to set configuration via the Actions. Is it possible to configure the services without using Actions?

For example JwtBearer. I was hoping it was possible to register something like `IConfigureOptions<JwtBearerOptions>, MyBearerJwtConfigurator>` , and have MyBearerJwtConfigurator fetch the JwtBearerOptions config from somewhere els

[2018-02-15 14:03] bharathpbk opened #1653 "Asp.net Core 2.0 Window Authentication Cors HttP Post method Issues"
Hi team,

when i am working with asp.net core 2.0 My HttpPost method not working  with windows authentication.It is Stopping Prelift Calls

[2018-02-15 14:23] WaedSaleh commented on #1650
Thank you All

[2018-02-15 14:23] #1650 closed

[2018-02-15 19:59] Eilon commented on #1653
@bharathpbk can you share more information about what you are doing? If you can share your app on GitHub that would be great.

[2018-02-15 20:04] Eilon commented on #1652
@johnkors you can set a lot of configuration from config files, but it ultimately all goes via the same mechanism of "collaborative configuration," where multiple components and pieces of code can each set the options they care about.

So, you can register your config "thingy" as you have shown, but it can only set the options it cares about (or un-set ones it wants to un-set), but it cannot overw

[2018-02-15 20:31] johnkors commented on #1652
Do you have sample showing this? Not getting this to work. By looks of it, shouldn't the configuration be resolved by the JwtBearerConfigurator here?

[code]

[2018-02-15 20:39] HaoK commented on #1652
`services.Configure<JwtBearerOptions>("Bearer", o => config.Bind(o))` is probably what you want.  Auth uses named options where the name == the scheme.

[2018-02-15 20:48] johnkors commented on #1652
Hmm, no - not really. I'd like to use the `JwtBearerConfigurator` since it has dependencies.

[2018-02-15 20:50] HaoK commented on #1652
That's fine, your JwtBearerConfigurator just has to implement IConfigureNamedOptions.  You want to register as you are doing as an IConfigureOptions, but it has to implement named options to get picked up by auth.

[2018-02-15 21:03] johnkors commented on #1652
Ah, wow - that was the missing piece. A bit of a gotcha that you'd need to register it as IConfigureOptions, but implement IConfigureNamedOptions :)

Neat. Thanks a bunch.

End story:
[code]
&
[code]

[2018-02-15 21:03] #1652 closed

[2018-02-15 21:25] Zoxive commented on #589
Just hit this the other day, our cookie sizes balloon from many security roles. (We use SSO so users can get many many security roles)
Its a bit difficult to configure compression yourself with the current setup and feels like it should either be on by default, or an easy opt in via ``CookieAuthenticationOptions``.

The main problem is that when configuring cookie options you dont have an option t

[2018-02-15 21:57] Tratcher commented on #589
@Zoxive do not compress encrypted content. See https://en.wikipedia.org/wiki/CRIME

[2018-02-15 22:15] Eilon commented on #1653
Hi, we are planning to work on a sample of how to do CORS + WIndows Auth, which you can track here: https://github.com/aspnet/AuthSamples/issues/15

Unfortunately we don't have any specific guidance on this at this time. Consider asking on another site such as StackOverflow to get further assistance on this sooner.

[2018-02-15 22:15] #1653 closed

[2018-02-15 22:21] Eilon commented on #1648
Hi, we are not planning to add extensibility or options to this scenario. We reviewed the docs again and we felt they had a good balance between length and readability for most users. The docs are already fairly succinct, so we feel that adding highlighting to the doc wouldn't change much about how it stands out.

[2018-02-15 22:21] #1648 closed

[2018-02-15 22:26] Eilon commented on #1646
Tagging @leastprivilege re: idsrv4. Any ideas on this? This hostname should probably be punycode encoded in the metadata document itself.

[2018-02-15 22:39] Eilon commented on #1643
We don't believe there is anything safe we can do right now. Here are some thoughts from our discussion:

1. Changing the default SameSite cookie policy to a less-secure option (from Lax to None) is not an option because that can be dangerous for sites.
2. We could add a way for cookies to declare themselves as "I don't care about no stinkin' policy", and we would do that for the cookies used with

[2018-02-15 22:42] Zoxive commented on #589
@Tratcher To be clear its encrypting compressed content.

[2018-02-15 22:44] Eilon commented on #1642
The ASP.NET Core authentication flow does support any easier way of doing this. The code you showed is one way to achieve this.

For further assistance on this topic, we recommend asking on the ADAL repo: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2018-02-15 22:44] #1642 closed

[2018-02-15 22:45] Eilon commented on #1619
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-15 22:45] #1619 closed

[2018-02-15 22:46] Eilon commented on #1602
Hi @guylando , we were not able to find out anything else about what could be causing this. Unfortunately without a specific repro app we cannot investigate this any further.

[2018-02-15 22:46] #1602 closed

[2018-02-15 22:47] #1479 closed

[2018-02-15 23:10] joshbartley commented on #1648
I found the ShouldRenew option on the OnValidatePrincipal event, I will just go that route for my needs.

[2018-02-16 03:36] los93sol commented on #1338
How does this work behind a reverse proxy and AddFacebook now?  I have a scenario where my proxy does ssl termination and the app is running in a container on http.  Previously, app.UseForwardedHeaders would resolve the issue, but it's called too late now so doesn't seem to work anymore.

[2018-02-16 04:08] Tratcher commented on #1338
Called too late?

Note we don't track closed issues. Please open a new issue with more detail about your Startup.

[2018-02-16 06:25] leastprivilege commented on #1646
I have no idea.

[2018-02-16 06:35] los93sol commented on #1338
Nvm, figured it out, useforwardedheaders was just more sensitive than I expected.  I included an extra header that the proxy didn’t forward...

[2018-02-16 11:18] ondrejspilka commented on #1642
![Uauuuu](https://media.giphy.com/media/10tIjpzIu8fe0/giphy.gif)

[2018-02-16 17:18] Eilon commented on #1646
@leastprivilege do you suggest that this bug should be tracked by your org? We couldn't think of anything in ASP.NET Core that would be causing this.

[2018-02-16 17:30] levnikolaevich commented on #1646
@Eilon , hello!
Actually, I've found a problem here. https://github.com/IdentityServer/IdentityServer4/blob/ecffbb062485b0656461eba4af5648dc9f45a589/src/IdentityServer4/Hosting/BaseUrlMiddleware.cs#L32

request.Host.Value contains the original host name (http://грант-лев.рф), not a punycode

I resolved my issue the following way
http://amilspage.com/set-identityserver4-url-behind-loadbalancer/

it

[2018-02-16 17:31] #1646 closed

[2018-02-16 17:31] levnikolaevich commented on #1646
@Tratcher ,  thank you very much for your help!

[2018-02-16 17:33] Tratcher commented on #1646
https://github.com/IdentityServer/IdentityServer4/blob/ecffbb062485b0656461eba4af5648dc9f45a589/src/IdentityServer4/Hosting/BaseUrlMiddleware.cs#L31 does look like a bug in idsrv4. It should consider the host encoding when generating addresses.

[2018-02-16 17:35] brockallen commented on #1646
@levnikolaevich there's a `PublicOrigin` setting you can use for this scenario as well: http://docs.identityserver.io/en/release/reference/options.html#identityserver-options

[2018-02-16 17:36] brockallen commented on #1646
@Tratcher can you elaborate?

[2018-02-16 17:42] Tratcher commented on #1646
While the OIDC spec doesn't call out the host encoding specifically, it repeatedly sites RFC 3986 URLs which do not allow unicode. That makes sense as several of these urls values are intended for use in redirect Location headers and must be encoded there.

[2018-02-16 17:48] brockallen commented on #1646
So you're saying the incoming value for the host could be unicode? I guess I'm confused why ASP.NET Core would allow that in in the first place if it's not a valid host value.

[2018-02-16 17:55] PinpointTownes commented on #1646
The spec URI spec is not that restrictive:

`http://грант.рф:5000/` is a perfectly valid URI representation and I don't see why it couldn't be returned without being encoded first by an OIDC server (tho' it's likely not a good idea since many clients won't be able to deal with IDN URIs).

The real issue is that this address is used as-is by the OIDC handler that blindly calls `HttpResponse.Redirec

[2018-02-16 18:00] Tratcher commented on #1646
@brockallen HostString.Value returns the decoded from. HostString.ToString() or ToUriComponent gives the encoded form.

[2018-02-17 09:05] Ant58412M opened #1655 "Anthony9667@gmail.com"
Just checking based regard andriod ZTE N817 ICE other CoolPad3300A been compromised company know have plug in still

[2018-02-17 09:08] Ant58412M commented on #1655
Other peralta059@gmail.com to been hack think Google play MtView send security that Linux computer had managed work way my Google account how that possible two step ,sound me inside job

[2018-02-17 16:43] ghstahl opened #1656 "Where is my Session Data in OpenIdConnectEvents.OnMessageReceived"
I am working with OpenIdConnectEvents.
First off, HttpContext.Session.SetString and GetString work in my app.
1. **OnRedirectToIdentityProvider**
[code]

2. **OnMessageReceived**
[code]

x-test doesn't exist.  Actually nothing is in the Session.
"Enumeration yielded no results"
I think it is reasonable to expect that the context is on par on all On{Whatever} callbacks in the OpenIdConnectEvents ob

[2018-02-17 16:58] Tratcher commented on #1656
Check Fiddler to see if the session cookie is being sent. This may be an issue with the SameSite setting on your session cookie.

[2018-02-17 19:13] ghstahl commented on #1656
My Session Cookie is not being sent when I look at the /sigin-google handler.
/signin-google doesn't have my session cookie, but a following redirect to my app has it.

Can you point me to what Cookie setup I am supposed to have here for making sure that I see my session data at the /signin-google handler?

I have tried the following

[code]

[2018-02-17 20:24] WaedSaleh opened #1657 "Example of authentication using SAML by ping federate open token in mvc core"
Hi All,
Is there any sample of using SAML 2 by ping federate open token in mvc core

[2018-02-17 21:54] brockallen commented on #1657
Yes, here: https://github.com/Sustainsys/Saml2/tree/master/Sustainsys.Saml2.AspNetCore2

[2018-02-18 01:30] Tratcher commented on #1656
SessionOptions.Cookie.SameSite = SameSiteMode.None (?)

[2018-02-18 16:47] ghstahl commented on #1656
Nope!

[code]
BTW: I solve my real problem another way, which was dropping a cookie in OnRedirectToIdentityProvider and reading it in OnMessageReceived.

However, this session thing has me needing to solve what is going on there.  How the browser deals with cookies when redirecting between different domains knowledge needs focusing up!

I noticed that the OIDC Handler drops a bunch of cookies befo

[2018-02-18 17:44] Tratcher commented on #1656
OIDC deletes it's cookies when it's done so that's why you don't see them later.

[2018-02-18 23:30] #1655 closed

[2018-02-20 11:58] WaedSaleh commented on #1657
Thank you @brockallen. Is there example that use open token agent

[2018-02-20 12:03] dmcweeney opened #1659 "Failed login tracking"
Hi,

We have a multi-tenant asp.net core 2 webapp/webapi which is secured with OpenIdConnect/Azure AD and we hit the organizations/v2.0 endpoint for authentication - we only want work accounts.

One thing I would like to do is keep some telemetry data on failed login attempts. For example people that may try and login with Google or MSAs, and what those email addresses are.

I don't see a way to g

[2018-02-20 12:09] WaedSaleh opened #1660 "how to use pingfederate (OpenToken -agent) for MVC core"
Hi All,
I used ping federate (OpenToken -agent ) for web form and I want to  use it for MVC core. I want to know how to do that

[2018-02-20 13:03] blowdart commented on #1660
That would be a question for PingIdentity - Open Token isn't a standard,

PingFederate Server does support OIDC, OAuth and WS-FED/SAML, all of which we have authentication handlers for, which would be a matter of figuring out how to figure that on their servers, and then point the handler configuration to the server, but again, that's a question for PingIdentity.

[2018-02-20 13:03] #1660 closed

[2018-02-20 18:46] Eilon commented on #1659
@Tratcher / @brentschmaltz - any ideas on this?

[2018-02-20 19:08] tehgary opened #1661 "wsfederation EncryptedSecurityTokenHandler"
Are there any plans to include some plumbing to accommodate encrypted saml 1 tokens?  I have  POC federating against a custom RP -> FP ->Idp(n) implementation working - but i cant use the saml handler to feed the token from wresult in.  If no - any guidance on doing this manually with a custom handler is greatly appreciated.

[2018-02-20 21:52] smiller781 commented on #1131
Set it to what?

[2018-02-21 10:36] tabakerov opened #1662 "Twitter Authentication doesn't work as described in docs"
I'm following [this](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/twitter-logins?tabs=aspnetcore2x) tutorial.
I have created new ASP.NET Core MVC app (VS2017 15.5.6, targeting .NET Core 2.0, based on Microsoft.AspNetCore.All v2.0.5) then added Microsoft.AspNetCore.Authentication.Twitter (v 2.0.1).
I added

[code]

to Startup.cs just after

[code]
lines.
When I run an

[2018-02-21 11:10] arshu1919 opened #1663 "google authorization failed after login . in asp.net core 1.1 web api"
[code]

---
Edited for formatting by @Eilon

[2018-02-21 11:47] tabakerov commented on #1662
trying to debug the issue I get this value for Authorization header: `{OAuth oauth_callback="http%3A%2F%2Flocalhost%3A35857%2Fsignin-twitter", oauth_consumer_key="8QTUn...NAF", oauth_nonce="bd89dae721674133b4a58d047be5c22c", oauth_signature="zqesuPmJqUzQ49wpgyvhn8nyN6A%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1519210280", oauth_version="1.0"}`

[2018-02-21 15:46] FredericThibaultOlympus opened #1664 "Problem with AddJwtBearer with two AzureB2C applications"
We try to migrate from v1 to v2.

We have two Azure subscription. One subscription with some kind of users and the other for other kind of users. We created an application in each subscriptions and use it successfully with .net core 1 by using UseJwtBearerAuthentication twice.

.net core 1
app.UseJwtBearerAuthentication with options from subscription 1 app

app.UseJwtBearerAuthentication with opti

[2018-02-21 17:25] HaoK commented on #1664
Yeah so in v2, you can only pick one of the schemes to be the HttpContext.User, you can get the second identity explicitly via HttpContext.AuthenticateAsync("OtherBearerScheme").

[2018-02-21 17:31] Eilon commented on #1663
@arshu1919 do you have more info on how you ran into this problem? Can you show what configuration you have in Startup.cs, and any other relevant details?

[2018-02-21 17:36] HaoK commented on #1663
It looks like you are trying to call SignIn on JwtBearer which isn't supported, you can only SignIn to cookie authentication.

[2018-02-21 19:13] tehgary commented on #1661
NVM on this - turns out it wasnt too much to decrypt it manually.

[2018-02-21 19:13] #1661 closed

[2018-02-22 00:54] AKlaus commented on #1469
**Problem**
I had a similar problem, when I was implementing a middleware with an HTTP protocol extension. And to work via that protocol, a custom cookie authentication is required. It all wouldn't be a problem if it was a separate app server, but the requirement was to run under a specific path on a server, which is using a different authentication scheme.
So the problem is that I can't easy spec

[2018-02-22 07:26] arshu1919 commented on #1663
@Eilon , this is my startup config       // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)
        {
            #region Identity

            services.AddDbContext<BildarbDbContext>(options =>
            {
                // Configure the context to use Microsoft SQL Server.

[2018-02-22 07:50] arshu1919 commented on #1663
@HaoK   i tried with cookies but ,
var info = await _signInManager.GetExternalLoginInfoAsync();
info is alway null

[2018-02-22 18:21] evgrud commented on #1165
@JeanCollas In my case it would only happen with Facebook login when on mobile. For certain cases the window with the redirect to Facebook remained open. I'm assuming (also tested on my own device) it happened because Facebook was installed as a Web App which caused the redirect from Facebook to my app after giving my app authorization to be opened in a new window.

The redirect back to my app (in

[2018-02-23 01:00] JeanCollas commented on #1165
@evgrud I identified one behavior which always leads to this issue:
When arriving back from the facebook login, I have a set up a last screen for the user to add a password before validating his account. In the case the user hit the "back" button, it always gives this error.

[2018-02-23 10:57] mkeymolen commented on #1664
@HaoK can you please give an example? i have the same issue. In my webapi i need to be able to validate a jwt coming from two different authorities. one from Azure AD and one coming from Azure AD b2c. I use the authorize attribute on my controllers. Do you mean we should work with a policy and validate via HttpContext.AuthenticateAsync("OtherBearerScheme")

[2018-02-23 13:00] FredericThibaultOlympus commented on #1664
If I understand the answer from HaoK, it's by design that this functionnality doesn't works anymore... it was working in .net std and .net core 1 and not anymore in .net core 2!!!

I dont understand the HttpContext.AuthenticateAsync("OtherBearerScheme") and how to configure the second application if we can't use AddJwtBearer twice.

[2018-02-23 13:13] mkeymolen commented on #1664
@FredericThibaultOlympus i think i found out how but not sure. I will test it this weekend and let you know. i think you should do it this way:
[code]

[2018-02-23 20:53] akamud opened #1666 "Provide a way to pass TestServer handlers for JwtBearerOptions.BackchannelHttpHandler"
In a scenario where I have two applications - one Web application with IdentityServer and another Web application with API - I'm writing integration tests using AspNetCore.TestServer.

My API is using this `JwtBearerOptions`:

[code]

Since I'm starting two TestServers, I need to pass the IdentityServer-TestServer handler to the API-TestServer `JwtBearerOptions.BackchannelHttpHandler`, so it can a

[2018-02-23 21:29] HaoK commented on #1664
So @mkeymolen setting default authenticate scheme twice is likely not what you want as last one wins, the first one will be overridden.

Its not clear to me what authorization logic you are looking for, you want to allow access if they have either bearer token?  If that's the case, you can just configure the default policy to challenge both schemes...

[code]

This will make `[Authorize]` challeng

[2018-02-23 22:29] scottaddie commented on #1664
@HaoK I've logged an issue for this. Is this topic big enough to be its own doc?

[2018-02-23 22:47] HaoK commented on #1664
@scottaddie I don't think it needs its own doc, maybe just a small section/example in something relevant seems good enough.  Generalize the scheme selection topic?  That probably will grow over time especially once 2.1 and the policy scheme feature hits.

[2018-02-23 22:49] HaoK commented on #1664
I think once we have https://github.com/aspnet/Docs/issues/4055 done, we can maybe find more logical homes for topics.

[2018-02-24 12:17] mkeymolen commented on #1664
@HaoK thank you first for your excellent help.
what i need is the following:
As Azure AD B2C can't handle client credentials flow yet and i need custom logins for my api as well, i need to accept either **Azure AD classic** tokens as **Azure AD B2C** tokens. Both tokens are coming from a different authority and the Client id (audience) is different as well as you need to register the app in both A

[2018-02-24 17:26] HaoK commented on #1664
Call `AddJwtBearer` twice, use the overload that takes the scheme name as first argument.

[2018-02-24 21:07] Bogatinovski commented on #1412
@wgutierrezr I also had and fixed the same error: `InvalidOperationException: The entity type 'IdentityUserLogin<int>' requires a primary key to be defined`. I got this error when I included the Logins property in my ApplicationUserClass when I followed the [migration guide](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x): `public virtual ICollection<IdentityUserLogin<

[2018-02-24 21:57] tabakerov commented on #1662
@blowdart
step-0 = Ok
step-1 with my ConsumerKey & ConsumerSecret =
[code]

[2018-02-24 22:02] tabakerov commented on #1662
Oh, the issue was because of typo in Callback URL!
Thanks!

[2018-02-24 22:02] #1662 closed

[2018-02-24 23:07] strich opened #1667 "Using Google Authentication with other Google services"
I'm writing a small webapp in .NET Core 2 focused around displaying custom reports out of a users Google Analytics account. I have added `Microsoft.AspNetCore.Authentication.Google` as the primary way to register and log into the website.

I'd now like to use the `Google.Apis.AnalyticsReporting.v4` package to pull in data from that users connected Analytics accounts.

Is this possible?

[2018-02-25 00:32] strich commented on #1667
In additional to this I've been trying to simply access the tokens required to do a straight REST/POST call maybe:
[code]

These aren't returning anything either. Am I doing something wrong?

[2018-02-25 13:26] mkeymolen commented on #1664
@HaoK This is what i implemented so far:
[code]
If i add a breakpoint in my custompolicy requirement, i get my User identity filled in and he is authenticated. Is there now a way to reuse the Authorize attribute with a parameter i can check in my custompolicy requirement without using the policy overload. Because that would mean i need to add all the values i fill in as a parameter in my attribute

[2018-02-25 18:27] strich opened #1668 "Google Authentication service does not provide access & refresh tokens"
In relation to my usecase in issue #1667, I need to be able to use the access and refresh tokens available to users who have already logged in with Google auth on my website. However it does not work as expected - All the various methods I am aware of to get the `access_token` and `refresh_token` return an empty string.

Startup.cs code:
[code]

On the home page of webapp I try to grab and display

[2018-02-26 06:29] WaedSaleh opened #1669 "Would it possible to run web project that is targeting 4.6(mvc core) while business layer projects targeting 4.5 ?"

[2018-02-26 14:47] fitzchak commented on #1473
@Veikedo is there a way to let `SpaAuthMiddleware` be aware of `AllowAnonymousAttribute`?

[2018-02-26 14:52] Veikedo commented on #1473
@fitzchak I think you don't need it because it should be implemented on the client sid.
What is your case?

[2018-02-26 15:22] fitzchak commented on #1473
@Veikedo I have a regular account/login action which should be accessible. I solved this by changing the middleware to authenticate just the static related info, so regular MVC would be authenticated against the existing authentication.

[2018-02-26 20:31] zulander1 opened #1670 "Redirect loop"
Hello,

i am having a redirect loop, the problem is that the i am redirecting the user if user has no roles...
it is going to a page with [Authorize()] attribute, the problem is that the ClaimPricipal is empty, hence, it is trying to Authenticate. How do i pass the ClaimPricipal  a long ?

[code]

[2018-02-26 23:14] blowdart commented on #1670
What is your authentication mechanism? Where are you creating your ClaimsPrincipal? How are you attaching it to the request? How is it persisted?

[2018-02-26 23:36] zulander1 commented on #1670
There you go:

What is your authentication mechanism: SSO with Auzure, the default functions generated by visual studio for Azure Authentication.

Where are you creating your ClaimsPrincipal: I am not creating the ClaimsPrincipal, I am just addng a role using ClaimTypes.Role inside the created class (AzureAdAuthenticationBuilderExtensions)

How are you attaching it to the request: I am not, becaus

[2018-02-26 23:39] blowdart commented on #1670
OK, so what you're seeing isn't unexpected. You need to do some serious work to get Azure AD to send roles, so you're redirecting to something that probably needs authorization, and back into the loop you go.

[2018-02-26 23:46] zulander1 commented on #1670
Yes, i understand it's not expected. We are not using Azure roles, we are using local from the DB. The user gets authenticated, which is ok. The only problem is when redirect using Response.Redirect("/Home/NoRoles"); and .HandleResponse(); The ClaimsPrincipals is empty should the ClaimsPrincipals be passed ?

[2018-02-26 23:52] blowdart commented on #1670
I believe you're abandoning the flow at that point, so you're bypassing the pieces that actually setup the ClaimsPrincipal see https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L551

[2018-02-27 00:09] zulander1 commented on #1670
Ahh yes i see! Thank you so much ! changed event handling to OnTicketReceived

[2018-02-27 00:21] zulander1 commented on #1670
I spoke too fast! I see, how do i get the flow to complete and then redirect, do i need to write a middleware or i can use an event from OpenIdConnect ?

[2018-02-27 01:44] johnhamm commented on #617
Incase anyone comes across this thread in the future, this may be helpful:
https://github.com/dazinator/AspNetCore.LegacyAuthCookieCompat

[2018-02-27 01:51] zulander1 commented on #1670
Fixed it by using AccessDeniedPath insted !

[2018-02-27 01:51] #1670 closed

[2018-02-27 06:48] Eilon commented on #1669
@WaedSaleh yes in general that should work just fine. Well, the web app might need to target a slightly newer .NET Framework, such as .NET Framework 4.6.1, because ASP.NET Core 2 requires .NET Standard 2.

Please let us know if you're having a specific problem, and we can re-open this question.

[2018-02-27 06:48] #1669 closed

[2018-02-27 13:33] FredericThibaultOlympus commented on #1664
Hi and thanks to everyone invove in this thread. I tries @HaoK code and unfortunatly I can't make it  works. Whan the first bearer is called Bearer the it goes to the OnTokenValidated but I receive a 403 in response from the controller with a plain [Authorize] attribute. When I test the bearer1 nothing works, I receive a 500.

`
services.AddAuthentication(options =>
{
    options.DefaultAuthentica

[2018-02-27 16:17] mshindal commented on #1473
I'm getting the same endless loop bug as @epot, did you ever find a fix?

[2018-02-27 16:20] Tratcher commented on #1473
@mshindal please open a new issue and share your Startup config and a Fiddler trace.

[2018-02-27 16:55] mshindal opened #1671 "WsFederation endless loop when logging in"
I posted my Startup.cs [here](https://gist.github.com/mshindal/02e4bde492b3f14996a801220214b249).

If you need the Fiddler log, let me know of an email address I can send it to privately.

[2018-02-27 17:07] mshindal commented on #1473
@Tratcher https://github.com/aspnet/Security/issues/1671

[2018-02-27 17:36] Tratcher commented on #1671
`options.Wreply = "https://localhost:44363/foobar";` what is /foobar? Your site application path? I suggest not setting Wreply, CallbackPath is better and it defaults to /signin-wsfed and that's what you should register with your identity provider.

See https://github.com/aspnet/Security/issues/1645

[2018-02-27 19:36] epot commented on #1473
@mshindal no I am still stuck, this prevents me from migrating for the moment

[2018-02-27 21:53] Tratcher commented on #1659
That restriction is in AAD, correct? For a failed login you would never get any user information sent back to your app. You may not even get an error back, the flow may end on the AAD login page with an error. You'd have to check if AAD provided this kind of telemetry for you.

[2018-02-27 21:55] Tratcher commented on #1131
The same ClaimsPrincipal passed to SignIn.

[2018-02-27 23:26] strich commented on #1668
I have found that if I login an account for the first time I will get an `access_token`. But if I logout and log back in, I get nothing.

I am finding that `var info = await _signInManager.GetExternalLoginInfoAsync();` returns null after the first login too. Is there something I am missing?

[2018-02-28 00:38] HaoK commented on #1668
Take a look at https://github.com/aspnet/AuthSamples/tree/dev/samples/Identity.ExternalClaims which does something similar, basically identity is doing the main authentication and google is only used temporarily to associate the appropriate identity user, you will need to deal with the google tokens in a way like the sample does to access them.

[2018-02-28 11:09] dmcweeney commented on #1659
@Tratcher - it does appear that that restriction is in AAD and the flow does end in the AAD login page. I was wondering if I was missing something on if it was possible to get failed login attempts back to the app. I'll follow up with AAD on this...
Thanks for your help.

[2018-02-28 11:09] #1659 closed

[2018-02-28 12:29] strich commented on #1668
Thanks for the assistance @HaoK - I'll take a look at these samples tonight to tweak to fit. As a followup question: The intention is that I will be running google actions on behalf of the user when they aren't active on the website at the time. With the access and refresh tokens can I retain access to their account permanently (Assuming they don't do anything to block it later)?

[2018-02-28 13:53] suszig opened #1672 "[AllowAnonymous] vs [Authorize] vs inheritance"
Maybe this is not an issue, maybe it is by design

sample "code" (just the idea):
[code]
[code]
Current behavior - 401 Unauthorized when calling the Action()
Expected behavior - Method is marked as anonymous an available to call

[2018-02-28 17:04] Tratcher commented on #1668
Yes, that's what they're for. You'd need to store those tokens in the user database so you have access to them when the user isn't around.

[2018-02-28 17:32] #1635 closed

[2018-02-28 17:47] Eilon commented on #1672
@HaoK / @rynowak - seems related to the issue about authorization composition - what's the story here?

[2018-02-28 18:13] rynowak commented on #1672
I agree with the expectations from @suszig - `[Authorize]` should be inherited but ignored. `[AllowAnonymous]` doesn't compose - if it's present at any scope it **always** wins.

[2018-02-28 18:21] Tratcher commented on #92
Facebook and Google fixed for 2.1. Twitter and MSA do not appear to require any updates. Punting this zombie issue to 2.2.0.

[2018-02-28 18:57] #1307 closed

[2018-02-28 18:57] #1306 closed

[2018-02-28 19:07] jacobslusser opened #1675 "AuthorizationHandler OR AuthorizeAttribute"
This question is similar to #564... but I couldn't quite follow the discussion there. I currently have an `AuthorizationHandler` that checks for authorization based on convention, e.g. if role name matches the resource name. If that doesn't succeed, I would like it to then fallback to whatever was optionally specified in the `AuthorizeAttribute` of the controller action.

Basically, I want an OR c

[2018-02-28 19:13] HaoK commented on #1675
At the end of the day, everything boils down to a list of requirements that must be met.  The Authorize attribute by default just requires an authenticated user as its requirement.

You can create a custom requirement and have a custom handler for your conventions, you can effectively get the behavior you describe by having your handler also succeed every other requirement when the convention is m

[2018-02-28 19:23] jacobslusser commented on #1675
I think the "master requirement" you are describing is probably what I need to do. The only thing I need to do I think is know in my "master requirement" what all the other requirements are and enumerate them--including those that are specified in the `[Authorize(roles="")]`.

Any guidance?

[2018-02-28 19:25] HaoK commented on #1675
The handler is given the authorization context which has all of the requirements in it.  But you won't have any way to tell where they came from, and that's by design, you shouldn't care right?  If the 'master' convention succeeds, you want to authorize the request so just blindly succeed all pending requirements.

[2018-02-28 19:26] HaoK commented on #1675
So you actually don't need a master requirement at all, you just need to add a MasterHandler

[2018-02-28 19:32] Tratcher commented on #1385
This was fixed as part of https://github.com/aspnet/Security/commit/144ee21696e838c1f96676573ffe30e8f2ba8bd6#diff-fc6866236621c72eb7137090f51af9b8R108

[2018-02-28 19:32] #1385 closed

[2018-02-28 19:35] jacobslusser commented on #1675
I don't think succeeding the other requirements is my problem (and that's a great idea by the way). It's when my requirement is not succeeded (but also not failed) where I want to include `Authorize` as fallback. Unless I'm misunderstanding you, you've suggested a way for step one to succeed step two, but not for step one to not succeed and step two to still succeed.

[2018-02-28 20:53] mkeymolen commented on #1664
@FredericThibaultOlympus You forgot to change the default policy to take the two schemes into account.

[code]

And what are the values of your authorities? For b2c and AD classic they are different.
for AD classic it should be in the form: https://login.microsoftonline.com/{tenantid}
for AD B2C : https://login.microsoftonline.com/tfp/{tenantid}/{DefaultPolicy}/v2.0

[2018-02-28 21:07] HaoK commented on #1675
Its subtle, but you can solve this problem without adding any special requirements.  If I understand your scenario properly, you want to allow all requests based on a convention, for the rest of the requests, you want them to go through the normal authorize attribute.

So starting for a normal app with working authorize, to add this new convention, you can just add a IAuthorizationHandler that che

[2018-02-28 21:32] HaoK commented on #1675
Not quite, you want to register a custom IAuthorizationHandler that isn't tied to a specific requirement, you want to succeed the requirements for other handlers.

[2018-02-28 21:33] HaoK commented on #1675
Don't derive from `AuthorizationHandler<TReq>` in this case, you want to have more control here

[2018-02-28 21:38] jacobslusser commented on #1675
Ok, thanks @HaoK. Let me hack at it for a while and see what I can get going.

[2018-02-28 21:41] strich commented on #1668
Two things I'm struggling with right now:
1. Using the same StartUp config as @HaoK provided example I am finding that the `info.AuthenticationTokens` doesn't provide a `refresh_token`. I can see the `access_token` though.
2. I'm not sure where to actually capture and record them to my db? I had thought `ExternalLoginCallback`, but it is an anonymous function that has no access to the logged in Us

[2018-02-28 21:45] Tratcher commented on #1668
See https://github.com/aspnet/Security/blob/21acbf06e88a5f649e90b4a458b4341355791ac4/samples/SocialSample/Startup.cs#L99

[2018-02-28 21:51] strich commented on #1668
Worked a charm, thanks @Tratcher! Would you be able to point me in the right direction for point 2 at all?

[2018-02-28 22:06] strich commented on #1668
Okay nevermind I sorted it out. Turns out it is actually saved to db automatically. I could retrieve with:

[code]

[2018-02-28 22:26] strich commented on #1668
@Tratcher althought that `AuthorizationEndpoint ` 'hack' works really well, it does also prompt the user for access to the requested scopes every time they login. Is there a nicer way to refresh the `refresh_token` only when the existing one is null or invalid?

[2018-02-28 22:52] Tratcher commented on #1668
That prompt hack you only need for new users. You could use the OnRedirectToAuthorizationEndpoint event to add it selectively. E.g. ask users to re-login through a special page if you don't have a valid refresh token for them.

[2018-02-28 23:05] strich commented on #1668
I'm not really sure how to access things like db and user properties in those event contexts though. I assume you mean something like this?

[code]
Are you able to help me fill in the gaps?

[2018-02-28 23:06] jacobslusser commented on #1675
Thanks @HaoK that was the help I needed. I think were I got confused was not knowing that an instance of `IAuthorizationHandler` could exist without a requirement and how exactly that would get called. When I was using `AuthorizationHandler<TReq>` I found that my code would not be called unless I registered the handler AND the requirement. I assumed that a requirement was necessary and that my `IA

[2018-02-28 23:06] #1675 closed

[2018-02-28 23:11] Tratcher commented on #1664
Remove DefaultAuthenticateScheme, you don't need that when you have the AuthorizationPolicyBuilder that specifies both schemes.

[2018-02-28 23:19] Tratcher commented on #1668
The user isn't usually logged in when OnRedirectToAuthorizationEndpoint is executed. I meant that if in your application you try to perform an action that requires a access/refresh token and you don't have one, then you can request that the user log out and log back in through a specific page that adds the prompt parameter. You can flow information from your account controller down into the events

[2018-03-01 08:22] Ibro commented on #769
I have the same problem as @ spottedmahn , I have a lot of Handlers in my app and forgot to register one of them and I get this error, which is **really** misleading.

Can someone look at this? @Eilon  @HaoK
Thanks

[2018-03-01 14:19] strich commented on #1668
@Tratcher thanks. I've had a go but I'm not sure I'm using the right calls. Could you mock up how to add something to `AuthenticationProperties` and then pass it to a challenge/redirect?

[2018-03-01 14:39] spottedmahn opened #1676 "Improve the Error Msg When Forgetting to Register IAuthorizationHandler"
I forgot to register my `IAuthorizationHandler` and that caused this error message:

Can this be **improved** to say something like this: "Hey, there are **no handler(s)** for your policy"

---

Custom policy-based authorization documentation -> [Handler Registration](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies#handler-registration)

[code]
Reference: [#769](https:

[2018-03-01 14:40] spottedmahn commented on #769
Hi @Ibro - since this issue is closed, it might not get much traction.  I've created a new issue #1676, FYI.

[2018-03-01 17:35] Tratcher commented on #1663
Let me adjust that a bit:
[code]

Side note: Why are your callback paths set to '/api/signin-facebook`?

[2018-03-01 18:52] joaco-espinosa opened #1677 "OpenIdConnectHandler returns "Message contains error: <invalid_request>""
Hello,

I'm experiencing an issue hosting my Identity server behind load balancer.
I have one instance (planning on adding more) and I always get an error message on the client even though the login is successful and the token is correctly generated on the server.

Could you please help me narrow down the problem? I'm not sure if this is a client side problem or a server side one.

Client message:

[2018-03-01 19:05] HaoK commented on #1676
There's no requirement that every requirement has to have a handler, its perfectly valid to have a single handler that is responsible for all requirements.

[2018-03-01 19:10] spottedmahn commented on #1676
Hi @HaoK - right, but if I **forget** to **register** that single handler I don't get a useful error/exception.

[2018-03-01 19:20] HaoK commented on #1676
While we could add an exception for when no handlers are registered at all, that wouldn't be that useful since Authorization registers handlers by default for some of the built in requirements...

[2018-03-01 22:09] Eilon commented on #1676
@HaoK can you dup this against our bug that is tracking providing better experiences for failures? We should check, for example, that we have ample logging stating what we found or tried.

[2018-03-01 22:23] Eilon commented on #1667
Hi, please check out this sample that shows how to store the access tokens so that you can later call APIs with that token: https://github.com/aspnet/AuthSamples/tree/dev/samples/Identity.ExternalClaims

[2018-03-01 22:23] #1667 closed

[2018-03-01 22:26] Eilon commented on #1666
@javiercn can you show how to do this?

[2018-03-01 22:31] Eilon commented on #1657
We don't have plans to add a sample for this. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` and other tags.

[2018-03-01 22:31] #1657 closed

[2018-03-01 22:31] #1656 closed

[2018-03-02 00:00] HaoK commented on #1676
We are tracking improving the general error experience when authorization fails as part of  https://github.com/aspnet/Security/issues/1359 so once that work is done, the experience when you forget to register a handle should be better.  There will most likely be an msg logged somewhere saying something to the effect that "Requirement Xyz was not met, so authorization failed."

[2018-03-02 00:00] #1676 closed

[2018-03-02 01:00] strich commented on #1667
What does `googleOptions.SaveTokens = true;` do, if anything? Seems to me it doesn't do anything at all?

[2018-03-02 01:21] Eilon commented on #1667
The claims are being retrieved from the wrong identity. The code you show above is trying to get Google's claims (and tokens) from the local ASP.NET identity. Please review the sample we linked to in order to see some of the differences.

cc @Tratcher @HaoK

[2018-03-02 06:24] Tratcher commented on #1588
Blocked by https://github.com/aspnet/Home/issues/2871.

[2018-03-02 08:01] Ibro commented on #769
Thanks @spottedmahn , good idea!

[2018-03-02 18:57] #1588 closed

[2018-03-05 10:21] torhovland commented on #1664
In case this helps anybody, I am successfully supporting two different JwtBearer providers in my app. I set them up like this:

[code]

Then my controllers have this attribute on them:

[code]

[2018-03-05 10:42] torhovland opened #1680 "How do I suppress exceptions in OnAuthenticationFailed?"
Hi, I'm using ASP.NET Core 2.0.5, and I have successfully been able to support two different OIDC providers in my app like this:

[code]

The only issue is that when the first JWT validation fails, it logs an exception that I don't want. According to the `OnAuthenticationFailed` docs, I should be able to suppress an exception, but I can't see how. In .NET Core 1, there was a `SkipToNextMiddleware`

[2018-03-05 10:52] HaoK commented on #1680
`NoResult` results in no exception being thrown, and you end up with an Empty AuthenticateResult which sounds like what you want?

https://github.com/aspnet/HttpAbstractions/blob/321639b0eb2098a6fe3b0d763f48ac3ed025a688/src/Microsoft.AspNetCore.Authentication.Abstractions/AuthenticateResult.cs#L44

[2018-03-05 13:19] torhovland commented on #1680
Thank you for responding. Actually, I cannot get `NoResult` to suppress the exception. This is what I have at the moment (this should suppress all exceptions, I'll be more selective when I know it works):

[code]

However, in Application Insights I get this:

[code]

Immediately followed by:

[code]

[2018-03-05 16:10] Tratcher commented on #1680
Validation failures are always logged, even if you suppress the exception.
https://github.com/aspnet/Security/blob/a0b704efbdf924099de908c57087de49c9d12d17/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L113

[2018-03-05 19:30] torhovland commented on #1680
All right, I see. I will suppress the logging in an Application Insights Telemetry Processor, then.

[2018-03-05 19:30] #1680 closed

[2018-03-05 19:37] salzersoftware opened #1681 "Error when building - "Expected the dependencies to exist at....""
After cloning the repository, I built the solution using the _build.cmd_ script. Everything seemed okay, but my console window disappeared after the build seemingly ended, so I assumed all was good.

I then went to "Rebuild" the solution in source control, only to still receive the following error message across projects:

Severity | Code | Description | Project | File | Line | Suppression State
-

[2018-03-05 21:05] ctorx opened #1682 "Setting CookieAuthenticationOptions.ReturnUrlParameter to null or empty does not produce expected results"
When setting CookieAuthenticationOptions.ReturnUrlParameter to null or whitespace, unexpected behavior is observed.

**When null:**
Throws an exception when calling `QueryString.Create()` from within `CookieAuthenticationHandler.cs`

**When empty:**
Produces a mostly un-usable query string parameter (e.g. ?=%2F)

**Suggested Fix:**
If the CookieAuthenticationOptions.ReturnUrlParameter is set to nu

[2018-03-05 22:12] Tratcher commented on #1682
As a rule we don't support nulling out various cookie auth options to disable various features. In most cases you can override the events to customize the behavior.

[2018-03-05 22:25] ctorx commented on #1682
Looking at the code, it does not appear that there currently is a way to
disable the ReturnUrlParameter getting appended to the Url.

Can this be added as a feature in the form of another property on
CookieAuthenticationOptions such as "AppendReturnUrlParameter" that
defaults to true ?

I'm developing many asp.net core apps that don't rely on the Url parameter
and I'd prefer not to pollute the URL

[2018-03-05 22:39] Eilon commented on #1681
@salzersoftware can you have a look through https://github.com/aspnet/Home/wiki/Building-from-source to see if you've followed all the steps there?

[2018-03-06 05:56] javiercn commented on #1666
This should do it. Is what we do in our Identity tests.

[code]

[code]

Feel free to reopen the issue if you still have problems.

[2018-03-06 05:56] #1666 closed

[2018-03-06 06:02] javiercn commented on #1677
Seems like you are having issues exchanging the authorization code in the token endpoint. What your log suggests is that your server is able to produce a code and that the app receives it, but that the server sends an error when that code gets exchanged on the server.

* What Identity provider are you using?
* I would look at what token request your app is sending and figure out what is missing.

[2018-03-06 06:06] javiercn commented on #1672
Allow anonymous should always bypass as @rynowak said.
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L192

@HaoK Are you taking a look at this?

[2018-03-06 06:27] HaoK commented on #1672
Sure I can take a look

[2018-03-06 15:28] blowdart commented on #1682
What about the URL do you believe would confuse your users?

[2018-03-06 16:05] ctorx commented on #1682
Users may become confused or concerned when strange characters that have no
obvious meaning getting added to a URL where they are entering sensitive
information.

This is not such a big problem when the URL is already long and largely
illegible, but when it's something short like "/sign-in", the extra
characters are much more obvious.

When left as the default, *ReturnUrl*, it has a fairly obvious

[2018-03-06 16:58] #1607 closed

[2018-03-06 17:51] blowdart commented on #1682
So as you're the only person to ask for this right now it's unlikely to happen. We're confused how blanking the return URL would work in practice too, and adding more options to what is essentially a security API widens the scope that people may misconfigure things and end up in a state where things are going to go wrong.

[2018-03-06 17:58] joetherod opened #1683 "WSFederation Support with Windows Identity"
Is there support for WFFederation SSO authentication with WIF?
Currenyly using the following namespaces in .NET 4.6

using System.IdentityModel;
using System.IdentityModel.Services;
using System.IdentityModel.Services.Configuration;
using System.IdentityModel.Tokens;
using System.Security.Cryptography;
using System.Security.Cryptography.X509Certificates;
using System.Security.Permissions;

Deflate

[2018-03-06 18:10] ctorx commented on #1682
Fair enough on the demand.

Here's my use case, if you are interested.

I'm building an ASP.NET Core web application that is composed of multiple
front end single page applications that are powered by Vue.js.  I'm using
Identity with Cookies for authentication on the server.  Authentication
happens via a front end component that utilizes a WebApi to communicate
with Identity.  The WebApi sets the

[2018-03-06 18:44] strich commented on #1667
I downloaded a setup the ExternalClaims sample project and can see the access_token being displayed. However I don't see the refresh_token after setting accessType to "offline" in the auth options. Are there additional steps required?

[2018-03-06 18:46] Eilon commented on #1667
@Tratcher / @HaoK / @javiercn - any idea on the refresh token?

[2018-03-06 18:50] HaoK commented on #1667
Did you set the prompt?
[code]

[2018-03-06 18:57] strich commented on #1667
That just forces the consent every time they login? I'm trying this against new users so shouldn't be relevant right?

[2018-03-06 19:02] blowdart commented on #1683
Yes. https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation/

https://github.com/aspnet/Security/issues/1473 has the discussion from Preview 1 to Release.

[2018-03-06 19:05] blowdart commented on #1682
Ah that's rather out of scope for our templates :) The parameter is used for "normal" usage in the templates, and others use is for forbidden handling as well.

[2018-03-06 20:07] mguinness commented on #551
Any updates?  Would probably also need [Base32](https://github.com/aspnet/Identity/blob/85f8a49aef68bf9763cd9854ce1dd4a26a7c5d3c/src/Core/Base32.cs) class moved.

[2018-03-06 20:25] javiercn commented on #1667
@strich Yeah, that forces consent, if the underlying protocol is Open ID Connect, explicit consent might be required for the server to send you back a refresh token. See http://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess

[2018-03-06 20:38] strich commented on #1667
Hrm okay. But we're talking about first party auth here - Google, etc.

[2018-03-06 21:23] spottedmahn commented on #1676
I monkeyed around w/ `Microsoft.AspNetCore.Authorization.DefaultAuthorizationService.AuthorizeAsync` to get requirements for this auth call, that don't have handlers registered.

[code]
[Source link](https://github.com/spottedmahn/Security/blob/9a58b352fac5a664d449c254de217637779829aa/src/Microsoft.AspNetCore.Authorization/DefaultAuthorizationService.cs#L107)

[code]
[Source link](https://github.c

[2018-03-06 21:37] HaoK commented on #1676
Its not an error to not have handlers for a requirement.  IAuthorzationHandler is not generic, its only the default implementation we provide that makes it easy to target a single requirement.  Its generally not a rule that every requirement has to have a `AuthenticationHandler<TReq>`

[2018-03-06 21:49] spottedmahn commented on #1676
Interesting, thanks @HaoK!

Hopefully, you guys can figure out an elegant way to provide us quick feedback when we forget to register a handler!

[2018-03-06 21:55] HaoK commented on #1676
That's not likely to ever happen, the best we'll be able to do is to give you which requirement wasn't met.  Which should be a reasonable hint to what's going on

[2018-03-06 23:46] HaoK commented on #1672
@suszig do you have a repro for the behavior you describe?  Are you perhaps mixing bearer + cookies?

 I tried this on a new template project and was able to hit the action:
[code]

[2018-03-07 12:39] spottedmahn commented on #1676
Hi @HaoK - copy that.  Hopefully, this plants the seed and a brilliant ⚡ idea 💡 is realized w/ time ⌚.

The more our software can tell us where the problems lies, the better!

Thanks for all your input/feedback! 🔥

[2018-03-07 21:03] laj0206 commented on #1683
Hi @blowdart, thanks for the information.
In .NET 4.6, we used to use SessionSecurityTokenHandler including RsaEncryptionCookieTransform to parse token since token is been encrypted by certificate. Is there a way to do the same thing in net core? I am not able to find a way based on the current nuget package.
Could you please kindly advise? Thanks

[2018-03-07 21:32] Tratcher commented on #1683
@brentschmaltz

[2018-03-07 23:01] JeroenVogelpoel commented on #1682
Mind you, I support having the ability to clean up the ReturnUrl query string or even completely disabling it.

It might interfere with caching systems both local and remote; some might be configured to treat the query string part of the URL as a key in their internal store. For example:

- /Login?ReturnUrl=%2FHome%2FIndex
- /Login?ReturnUrl=%2Resources%2Hello%20World
- /Login?ReturnUrl=%2Resource

[2018-03-08 04:05] huytnd opened #1684 "RequireHttpsMetadata set to false doesn't work"
I tried to use http instead of https for development by setting RequireHttpsMetadata to false for OpenIdConnect, but the app didn't work.
Below is the output from Visual Studio.
[code]
Any suggestion for this problem?

[2018-03-08 04:25] ctorx commented on #1682
Are you open to a pull request on this if someone else does this?  It looks
pretty trivial.

On Wed, Mar 7, 2018 at 6:29 PM, Barry Dorrans <notifications@github.com>
wrote:

[2018-03-08 05:50] Tratcher commented on #1684
Can you share the associated Startup code?

[2018-03-08 06:57] huytnd commented on #1684
The startup code:
[code]

[2018-03-08 09:21] JeroenVogelpoel commented on #1682
Even if the users don't look at your URLs at all, the OWASP black box testers usually do look at your inputs.

Though the software underneath doesn't redirect at all, the testers still have a valid point that a URL parameter can be used for potentially insecure redirects. And while it's completely valid and possible to simply not use the 'returnUrl' parameter from the QS, this is hard (impossible?

[2018-03-08 13:09] blowdart commented on #1682
If your testers are flagging things based on potential rather than reality then my opinion is your testers aren't very good.

[2018-03-08 13:29] Tratcher commented on #1684
That stack trace doesn't match you app code. The exception is about JwtBearer in Identity Server, neither of which are in your startup.

[2018-03-08 13:55] WaedSaleh commented on #1669
@Eilon Actually I am using 4.6.1 for mvc core, but my business layer class library was built using 4.5 and I need to read info from app settings in MVC core from the business layer which uses 4.5, would this be possible

[2018-03-08 16:05] joaco-espinosa commented on #1677
Hi Javier, thanks for the response.

- We are using IdentityServer4, I can provide additional information related to its configuration if desired.
- I don't think there's something wrong with the actual request. This stems from the fact that everything works correctly until we place the server behind a load balancer. Put differently, the request being made by the client is the same in both cases.

[2018-03-08 16:51] javiercn commented on #1677
@joaco-espinosa Can you see what the network request and response for the token exchange? Maybe from the logs?

Seems to me that the server is answering with an error on the token endpoint, so unless we can see the message the server receives and the response we get, it will be impossible to diagnose the situation.

To gather more information you could add a delegating handler to the OpenIdConnect

[2018-03-08 18:38] strich opened #1685 "SaveTokens & AccessType do nothing"
Use case: For the past 2 weeks I've been trying to make the most simple application that uses Google auth and Identity. I need to use the access and refresh tokens once a user has signed up to do things on their behalf.

I have been getting sporadic assistance in tickets #1667 and #1668, though there still seems to be no real consensus on how to achieve this task. [There is an issue to add an exam

[2018-03-09 02:19] huytnd commented on #1684
The code I share on the last comment is on Mvc client which connect to IDS for authentication.
Here is the code in Startup.cs in IDS project:
[code]

[2018-03-09 02:45] huytnd commented on #1684
I found the problem in the code, it still has RequireHttpsMetadata option set to true in some Api projects that cause the exception.

[2018-03-09 02:45] #1684 closed

[2018-03-09 11:24] RickBlouch commented on #1682
I've wondered in the past why the default isn't for the return url to be omitted and for devs to have to opt in if their application actually uses it.  I would turn it off if I could.

[2018-03-09 11:24] JeroenVogelpoel commented on #1682
Such is the reality we have to work with; black box security testers with a healthy-perhaps-unhealthy dose of paranoia, I suppose.

What are the chances that we might one day expect the ability to completely remove the return URL from the query string?

[2018-03-09 16:50] joetherod commented on #1683
@brentschmaltz any update on WSFederation supporting SessionSecurityTokenHandler including RsaEncryptionCookieTransform.
Or is there a sample implementation that can do the same thing for authentication via WSFederation for SSO?

[2018-03-09 17:25] Tratcher commented on #1645
Closing this for now.  We'll revisit it in the future if we get additional feedback.

[2018-03-09 17:25] #1645 closed

[2018-03-09 22:41] blowdart commented on #1682
It's not something we're considering adding. A PR might be considered in our next release.

[2018-03-09 22:47] ctorx commented on #1682
Thanks for the feedback.  When is the next release scheduled?

On Fri, Mar 9, 2018 at 2:41 PM, Barry Dorrans <notifications@github.com>
wrote:

[2018-03-09 22:57] blowdart commented on #1682
Unknown. It won't be in 2.1 though, it'd be 2.2 at the earliest.

[2018-03-10 00:26] Tratcher opened #1686 "[Flaky Test] OIDC challenge tests pulling live metadata from AAD"
Tests like OpenIdConnectChallengeTests.OnRedirectToIdentityProviderEventCanSetState set a test authority to "https://login.microsoftonline.com/common" but don't mock out the backchannel so they download real metadata from AAD and sporadically fail. http://aspnetci/project.html?projectId=XPlat&testNameId=3997679956897486128&tab=testDetails

Change the tests to mock out the backchannel and load a st

[2018-03-10 00:28] Tratcher commented on #1686
It primarily fails on Ubuntu
[code]

[2018-03-10 23:38] BizarroDavid commented on #1175
I was wrestling with this myself and came upon a solution. My setup was

1. IdentityServer running as, say, netcoreauth:8001
2. WebAPI  running as, say, netcoreapi:5001

using docker-compose to perform local development. The solution was for IdentityServer to explicitly specify the issuing authoritiy as, in my example, `netcoreauth`. Otherwise it would default to whatever location the browser/post

[2018-03-11 09:03] arshu1919 opened #1687 "web api in core api 1.1."
![screenshot-localhost-5341-2018 03 11-12-04-14](https://user-images.githubusercontent.com/36697174/37251603-5be2c49c-2524-11e8-923d-812a9f27988d.png)
if authorization is failed , it is giving me 404. instead of 401. with mvc route

[code]

i am using  services.AddAuthentication(options =>

[code]

i am not using cookie authentication.
and  app.UseIdentity() has beed used also.

[code]

always it

[2018-03-11 15:13] Tratcher commented on #1687
Identity is doing this, it adds cookie auth and overrides your defaults. You need to specify JwtBearerDefaults.AuthenticationScheme in your Authorize attribute on your WebApi controllers.

Also, JWT is not a valid SignInScheme.

[2018-03-12 00:38] Eilon commented on #1669
@WaedSaleh that should work just fine. If you try it and run into problems please let us know details and we can investigate.

[2018-03-12 08:04] arshu1919 commented on #1687
@Tratcher ,  which will be best method to give hybrid user token , so that they will not signin every time.
please give me any suggestion and methods.

[2018-03-12 09:49] joacar opened #1688 "[Question] Two "virtual" applications Google OAuth2"
Hi,

Is it possible to have to "virtual" applications using Google OAuth2? What I'm trying to achieve is `AddGoogle("youtube", "YouTube", options => { ... })` and then `AddGoogle("blog", "Google Analytucs", options => { ... })` but when I initiate the "blog" authorization flows (it works because it only displays the scope for Google Analytics and not those for YouTube) and authorize it redirects b

[2018-03-12 11:22] Tratcher commented on #1688
You need to give them unique CallbackPaths.

[2018-03-12 11:35] shaulbehr opened #1689 "Can you create authorization policies without using magic strings?"
In [this article](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies) I see that you declare your authorization policy using a magic string:
[code]
And then you tag your controller/endpoint with:
[code]
So, let's say I have multiple endpoints, with different age requirements for each. Do I then need to declare a separate policy for each age cutoff?
[code]
That's really no

[2018-03-12 13:37] mjrousos commented on #1689
You can make the auto-generation of policies easier with a [custom IAuthorizationPolicyProvider](https://github.com/aspnet/Security/issues/670#issuecomment-174354109). I'll make a little sample and post it momentarily.

[2018-03-12 14:58] Tratcher commented on #1687
hybrid user token? It's not clear what you're trying to build in your app.

[2018-03-12 16:15] shaulbehr commented on #1689
@mjrousos I looked at the issue you linked above. Not clear how `IAuthorizationPolicyProvider` helps anything; it still looks like the policy is being declared as a string rather than a signature with variables. Look forward to seeing your code sample.

[2018-03-12 16:18] Eilon commented on #1689
@shaulbehr thanks for the great question, we will take a look at it ASAP and see what guidance we have for this.

[2018-03-12 16:20] Eilon commented on #1685
@strich sorry you're still running into issues. Can you show in this issue the relevant configuration/startup logic of your app so that we can dig into this?

[2018-03-12 16:35] strich commented on #1685
I use the the .NET Core v2.1 ASPNET Template and add a standard google auth setup to Startup. I can make a demo app if you like, but I don't stray far from the template.

[2018-03-12 16:44] Eilon commented on #1685
@strich it would be great if you can just copy/paste the configuration lines of code into this issue so we can make sure we're all looking at the same scenario.

[2018-03-12 18:18] blowdart commented on #1689
Generally what I've done in demos is have a static class with the strings as public static consts, then you use something like AuthorizationPolicies.Over21. That restricts the definition to one place.

Your example of AtLeast18, AtLeast19, AtLeast20, AtLeast21 is, well, a little contrived, could you perhaps provide one that's, well, more real world, where you end up with multiple policies that are

[2018-03-12 18:56] HaoK commented on #1689
So you can autogen the policies based on the name too, where your policy provider parses the name and generates the right requirement instances based on that.

[2018-03-12 19:27] WaedSaleh commented on #1669
Hi @Eilon, yes it works but for example, if I have web project as Mvc core targeting 4.6.2 and in-class library 4.5 I have this logic WebConfigurationManager.GetSection("Stage.DataAccess"), the value that return is null, so how I can read app setting in web project from the class library.

FYI, that class library is not called directly from the web application.

[2018-03-12 19:51] JiwanMS opened #1690 "OpenIdConnectOptions adding multiple audience in TokenValidationParameters"
I am using azure AD B2C in aspnet core web app and i am setting the OpenIdConnectOptions.TokenValidationParameters with multiple audience. But after the user is authenticated with AD i still see the error

`SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed. Audiences: 'xxxx'. Did not match: validationParameters.ValidAudience: 'xxxx' or validationParameters.ValidAudiences:

[2018-03-12 20:53] Eilon commented on #1669
@WaedSaleh generally the app has to pass in some context info into the library. There isn't a general way for a library to read config from the app because there's no static way to get to it in .NET Core.

[2018-03-12 21:33] Tratcher commented on #1690
@javiercn

[2018-03-12 21:49] mjrousos commented on #1689
@shaulbehr, I've put a small sample of how you might handle this case with `IAuthorizationPolicyProvider` [here](https://github.com/mjrousos/IAuthorizationPolicyProviderSample).

What it boils down to is this:

Authorization policies are only identified by their name string at the moment. So, I don't think you can completely get away from "AtLeast18", "AtLeast19", "AtLeast20", etc. in cases where

[2018-03-12 22:00] strich commented on #1685
Sure:

[code]

[2018-03-12 22:53] HaoK commented on #1685
So the main issue here is that identity is really controlling your login in the templates.  The google login is only really used to exchange for an identity cookie.  So turning on things like SaveTokens and Access type were mostly intended for scenarios where you were using Google and its associated cookie directly.

https://github.com/aspnet/AuthSamples/tree/dev/samples/Identity.ExternalClaims do

[2018-03-12 22:58] strich commented on #1685
Thanks @HaoK. However I have a couple of issues with this:

1. It is absolutely not clear that those options suddenly don't work. Surely this is a fairly common scenario and the default auth templates should be able to cope with this by including the functionality presented in the ExternalClaims demo.
2. I have downloaded the ExternalClaims demo and have got it working. However refresh tokens stil

[2018-03-12 23:52] javiercn commented on #1690
Are you using the jwt bearer middleware or the open id connect middleware? I don't think audience matters in the open id connect case in the sense that it always have to match the client ID as you are login in a user based on it.

[2018-03-13 00:13] arshu1919 commented on #1687
@Tratcher , i am building web api which support  mobile device , web ,desktop . i am trying to implement  signin  with jwt token.

[2018-03-13 00:17] JiwanMS commented on #1690
I am using open id connect middleware with Azure AD B2C. The request is redirected to the AD and after user logs in the token is validated against the clientId configured in open ID connect options as audience. In my case there can be multiple audiences since multiple applications have access to the site. I am trying to add the list of audience using OpenIdConnectOptions.TokenValidationParameters.

[2018-03-13 00:36] JiwanMS commented on #1690
Adding more info. Below is the code and stack trace.

[code]

[code]

[2018-03-13 00:56] javiercn commented on #1690
I don't think the OpenIDConnect handler supports multiple audiences, what you need to do instead is have an open id connect handler per audience you want to support and have them all sign in with the same cookie.

[2018-03-13 08:16] remware opened #1694 "WS-Federation without Core Identity crashes when initialized before UseMvc()"
I have this in Startup.cs ( NetCore 2.0.0 + WsFederation 2.0.0, also tested 2.0.5)
[code]
When using Authentication before MVC the app starts but authentication does not work properly.
If reverting the orders the app crashes without error log:
Microsoft.AspNetCore.Authentication.WsFederation.WsFederationHandler:Information: Error from RemoteAuthentication: No message

[2018-03-13 08:57] joacar commented on #1688
@Tratcher Thanks!

[2018-03-13 08:57] #1688 closed

[2018-03-13 10:11] shaulbehr commented on #1689
@mjrousos Thanks for that, I've copied your pattern in my project now. Can't say if it's working yet, since I have so many other things to convert before the project even compiles!

@blowdart I think your response is a little defensive. It doesn't matter that this particular example is contrived. The fact that parameter values have to be serialized into a string and deserialized in order to interp

[2018-03-13 11:50] Tratcher commented on #1694
Stack trace?

[2018-03-13 12:31] JiwanMS commented on #1690
Yes that worked. Thanks!

[2018-03-13 12:31] #1690 closed

[2018-03-13 13:23] joetherod commented on #1683
No update? @brentschmaltz Very unfortunate that this prerelease is unusable at this point.

[2018-03-13 14:16] remware commented on #1694
System.Exception: No message.

   at Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler`1.<HandleRequestAsync>d__12.MoveNext()

--- End of stack trace from previous location where exception was thrown ---

   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()

   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)

   at Sys

[2018-03-13 15:26] PinpointTownes commented on #1689
"demos"... :trollface:

In your workshop "demos", you have a policy that restricts access to a (hardcoded) building based on badge requirements. One might want to adopt a similar system for room access, where the room number is not hardcoded.

Essentially, what's missing is a way to pass strongly typed data from the attributes up to the requirements. One should be able to create his own attribute

[2018-03-13 15:42] blowdart commented on #1689
Ah it's parameterization in the attribute you want. Got it.

To take @PinpointTownes's example, at this point I'd argue we're talking about resource authorization, where the resource is the parameter, a room, with a room number. If you want parameters at runtime that's generally the way to do. The age example of 18,19,20,21 all on different routes is contrived. When we try to design features real

[2018-03-13 15:58] PinpointTownes commented on #1689
Resource authorization means you can't use MVC's built-in authorization stuff and have to rely on manual calls to the authorization service, which is not really ideal.

Really, what we need is a way to do...

[code]

... using simple attributes.

[2018-03-13 15:58] HaoK commented on #1689
Yeah we added IPolicyProvider to at least enable using the policyName as the parameter, so you can to implement a policy provider that resolves Policy="HasAccessToRoom:404", but improving this is on the list of authZ improvements, maybe for 2.2

[2018-03-13 16:00] PinpointTownes commented on #1689
This is exactly the option demonstrated by @mjrousos in his sample (and the one I personally use). But you can admit it's not ideal as you have to rely on suboptimal string parsing.

[2018-03-13 16:02] HaoK commented on #1689
Yeah he linked to the sample that drove the feature so yeah :)  I'll create an auth sample for this scenario since its a common ask and pretty hard to discover... its on the list todo, I'll make sure its on the AuthZ roadmap

[2018-03-13 16:05] PinpointTownes commented on #1689
Good news.

[2018-03-13 16:09] HaoK commented on #1689
@mjrousos since you already created a sample for this, do you want to work with me in a PR to have it included in AuthSamples? https://github.com/aspnet/AuthSamples/tree/dev/samples

[2018-03-13 16:14] mjrousos commented on #1689
Sure, that sounds good.

[2018-03-13 16:15] Tratcher commented on #1694
And what do you have in ConfigureServices?

[2018-03-13 16:16] Tratcher commented on #1694
For reference that error message comes from here: https://github.com/aspnet/Security/blob/d95109c96d6b92d04178dea004583796824072da/src/Microsoft.AspNetCore.Authentication.WsFederation/WsFederationHandler.cs#L164

[2018-03-13 16:17] Tratcher commented on #1683
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#887

[2018-03-13 16:17] #1683 closed

[2018-03-13 16:51] HaoK commented on #1689
Awesome, do you want to just open a PR copying your sample over to start. then I can point you to the small tweaks we need to make it build on dev, or I can make those changes myself

[2018-03-13 17:07] mjrousos commented on #1689
Sure. Sounds like a plan.

[2018-03-13 17:09] Eilon commented on #1669
@WaedSaleh for ASP.NET Core, there's no difference for this between .NET Core and .NET Framework.

[2018-03-13 19:27] speige opened #1695 "Twitter Handler OAuth Signing code is incorrect"
I'm not aware of a specific bug caused by this. My guess is it work 99% of the time with the current api calls, but if it were used for any other twitter api calls, they'd all fail.

If you read the documentation here:
https://developer.twitter.com/en/docs/basics/authentication/guides/creating-a-signature
you'll see that the code here doesn't match:
https://github.com/aspnet/Security/blob/dev/src/

[2018-03-13 19:30] Tratcher commented on #1695
Interesting, want to send a PR?

[2018-03-13 19:33] Tratcher commented on #1687
The only provider that implements SignIn is CookieAuth. For JWT you need a token server to issue the JWT to the client app.

[2018-03-13 19:35] speige commented on #1695
Yes, I should. I was just being lazy & hoping someone else would do the last 10% of my work :)

I'll see if I can find time to do it this weekend.

[2018-03-14 08:25] remware commented on #1694
Configure services looks like:
 ....
                services.AddSingleton<IHttpContextAccessor, HttpContextAccessor>();

		    // Add auth
		    services.AddAuthentication(sharedOptions =>
		        {
		            sharedOptions.DefaultScheme = AuthScheme;
		            sharedOptions.DefaultSignInScheme = AuthScheme;
		            sharedOptions.DefaultChallengeScheme = WsFederationDefaults.Authen

[2018-03-14 10:13] Tratcher commented on #1694
Side note: data protection should be configured for the whole app, not just one cookie.

Your CallbackPath is wrong, it should not refer to an mvc controller, it should be to a path unique to the middleware.

Also, put auth back in front of mvc.

[2018-03-14 11:28] remware commented on #1694
I removed the CallbackPath but results are similar, authentication does not happen. I wonder if my login logic is wrong as follows:

1. Check if user is authenticated with default scheme, otherwise continue with current auth user
2. If not call auth then challenge auth with WsFed and redirect to home
3. Check in next round if user is authenticated with other scheme than default

Is there something

[2018-03-14 11:36] Tratcher commented on #1694
Where are you doing that? Want to show the code?

[2018-03-14 11:54] remware commented on #1694
In HomeController

using Alehdet.Hours.Seller.Identity.Components;
using Alehdet.Hours.Seller.Identity.Options;
using Microsoft.AspNetCore.Authentication;
using Microsoft.AspNetCore.Mvc;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Options;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Security.Claims;
using System.Security.Principal;
using Syste

[2018-03-14 13:05] mjrousos commented on #1689
@HaoK, I've opened a PR (aspnet/AuthSamples#31) to add my sample to the auth samples repo.

[2018-03-14 17:32] Tratcher commented on #1694
It's odd to use the same cookie for the external and local logins, every call site would have to distinguish between them. You'd be better off registering two cookies and transitioning from one to the other. The Identity templates do something like this. That however is unlikely related to your issue.

My only other suggestions at this point are to collect a Fiddler trace of the traffic and to col

[2018-03-14 17:35] locutus80 commented on #1473
I'm getting stuck in a redirect loop when using the 2.0.3 version of the WsFederation package. Everything works fine loading the site in a normal browser, but we get stuck in the loop when using the site in an IFRAME (unfortunately, I have to do this, long story).

Looking at the server, requests are logged with "Authorization failed for user: (null)"
On the client side I can see repeated 302 redi

[2018-03-14 17:38] Tratcher commented on #1473
@locutus80 please open a new issue with the details. A fiddler trace, Startup Code, etc..

[2018-03-14 18:19] blowdart commented on #1689
By using attributes parameters you're putting a magic string in there anyway :)

[2018-03-14 21:56] WaedSaleh opened #1696 "System.threading.thread.currentprincipal.identity.name is returning null .Net Core"

[2018-03-15 06:51] Eilon commented on #1696
`Thread.CurrentPrincipal` is not used in ASP.NET Core. You have to pass around the identity/principal as a parameter to other methods based on what you get in `HttpContext.User` after authentication has taken place.

[2018-03-15 07:53] remware commented on #1694
Thanks for the suggestion. Now after updating NetCore 2.0.6 + WsFederation 2.0.3, there is no crash in the app but smoothly respond. Also tried with new  VS2017 code generation for core web api project based on  authentication against Azure AD and it seems to authenticate well.

[2018-03-15 08:00] hikalkan commented on #1011
Did you finally decided to not implement this?

I think it's essential for the case @atuzovic explained: https://github.com/aspnet/Security/issues/1011#issuecomment-264634640
And it's a very common scenario for a SPA.

[2018-03-15 08:33] WaedSaleh commented on #1696
@Eilon, But why it works for 4.6.2 and it does not work for ,Net Core

[2018-03-15 17:34] oferns commented on #551
I too would like to see this

[2018-03-15 19:23] Eilon commented on #1696
It works on ASP.NET 4.6 apps, but does not work in ASP.NET Core. This was a design decision for the reasons mentioned above.

[2018-03-15 19:23] #1696 closed

[2018-03-15 19:23] strich commented on #1685
@HaoK @Eilon I would love it if I could get an update on this - I don't know how to continue with my project without a refresh token. Would it be possible if one of you could update the ExternalClaims example with a concrete implementation of this? I've spent quite a few days on this now and I suspect one of you could bash out a solution very quickly, no?

Thanks!

[2018-03-15 19:24] #1694 closed

[2018-03-15 19:25] #1687 closed

[2018-03-15 19:31] Eilon commented on #1685
@strich we're going to consider this in the 2.2.0 release, as we can't fit this into the 2.1.0 release.

@HaoK - can you please break this down into targeted issues in appropriate repos?

[2018-03-15 19:32] Eilon commented on #1682
After further discussion, we have concluded that this suggestion does not align with what we want to do for cookie auth, so we're closing this issue.

[2018-03-15 19:32] #1682 closed

[2018-03-15 19:33] #1681 closed

[2018-03-15 19:34] Eilon commented on #1677
Closing this because we don't have enough info. This might also be an issue with https://github.com/IdentityServer.

[2018-03-15 19:34] #1677 closed

[2018-03-15 19:34] Eilon commented on #1672
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-15 19:34] #1672 closed

[2018-03-15 19:35] Eilon commented on #1671
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-15 19:35] #1671 closed

[2018-03-15 19:36] #1664 closed

[2018-03-15 19:36] #1663 closed

[2018-03-15 19:37] Eilon commented on #1695
Parking this in the backlog for now, but if we get a PR we'll reconsider

[2018-03-15 20:42] strich commented on #1685
@Eilon can you provide an estimated timeframe for v2.2?

[2018-03-15 20:44] remware commented on #1694
BTW  The use of CallbackPath is not clear, while testing against Azure AD I noticed that you need to match CallbackPath with Reply url in Azure AD, plus the path should exists. Not clear what is the purpose of that and not sure what you mean by unique in the middleware. I will try to put some code in github to get further comments.

[2018-03-15 21:25] Tratcher commented on #1694
Can you clarify this?

See the doc comments:
https://github.com/aspnet/Security/blob/bee77ebf911d477faed36a12bcc7369bf0005e1a/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationOptions.cs#L87-L88

Or put another way, the middleware handles all requests to this path so it must have a unique path to avoid conflicts with other components.

[2018-03-15 21:31] WaedSaleh commented on #1696
Hi Elion,  What I meant when using   ASP.NET Core targeting 4.6 it works but when you have it on ASP.NET Core targeting.Net Core it does not work

[2018-03-15 21:34] blowdart commented on #1696
It's luck it works for your targetting 4.6. We make no promises it will work, because it ends up using HttpContext.Current and this just doesn't work well for multi-threading or async. Don't use it.

[2018-03-15 21:40] HaoK commented on #1685
https://github.com/aspnet/Identity/issues/628 will track the all up work in making this easier

[2018-03-15 21:40] #1685 closed

[2018-03-15 22:42] Tratcher opened #1698 "Allow developers to customize the OIDC parameters when calling Challenge"
Related: https://github.com/aspnet/Security/issues/990
https://github.com/aspnet/Security/pull/1401#issuecomment-372072396
https://github.com/aspnet/Security/pull/1691

Developers can already do this the long way by hooking into the RedirectToIdentityProvider event and customizing the protocol message. For well known properties consider allowing developers to specify them in the AuthProperties fro

[2018-03-16 00:07] Eilon commented on #1698
@Tratcher I'm putting this on your plate to track the PR.

[2018-03-16 00:08] Eilon commented on #1685
@strich we're focused right now on getting 2.1.0 done. We're hoping that 2.2 is a fairly quick release after that, but it's late this year at the earliest I would guess.

[2018-03-16 00:13] strich commented on #1685
Is there any chance I could get the External Claims demo updated with refresh tokens at least? I can make my own way after that until there is official support.

[2018-03-16 15:08] grahamehorner commented on #551
@mguinness yes, Base32 should possibly move into the System.Text.Encoding namespace and have its own nupkg package if not be part of the corefx

[2018-03-16 23:54] HaoK commented on #1558
Moving back to 2.2 so we have more time to design how we want this to look

[2018-03-18 20:28] BrightSoul commented on #1131
I had this problem as well but then, thanks to the code provided by @christiandelbianco I realised I was creating the ClaimsIdentity without providing the scheme name.
[code]
I wonder why this is necessary, since we are already passing the scheme name to `SignInAsync`.

[2018-03-18 22:08] Tratcher commented on #1131
That's just how IsAuthenticated is implemented:
https://github.com/dotnet/corefx/blob/b5c1ceeb5595cf7c923914b7da9f9a4b487d640f/src/System.Security.Claims/src/System/Security/Claims/ClaimsIdentity.cs#L273-L276

[2018-03-19 07:52] remware commented on #1694
Hi,
I think I manage to reproduce this again when you make a GETcall to CallbackPath. It does not matter if you use the default "siginin-wsfed" or other you configure in your middleware. The CallbackPath is configured to be used as POST route. Now my question is why this throw an exception instead of ignoring the call?
As developer my point of view is that we have no control over this path but sti

[2018-03-19 16:25] Tratcher commented on #1694
The routing is not Method specific, the middleware handles all requests to a given route. The only case I've seen users end up on this path accidentally is through use of the browser Back button. Have you had users hit this any other way?

You can get more control of these behaviors through the various Events, specifically the OnRemoteFailure event. https://github.com/aspnet/Security/blob/d24d4fa9

[2018-03-19 16:58] Eilon commented on #1685
@strich sorry I'm not sure we can guarantee that. It's a matter of juggling many different priorities so it's hard to say exactly when we will get to that.

[2018-03-19 20:31] remware commented on #1694
Thanks for the hint. The auth now works smoothly locally if configured against Azure Ad, but when deploying to ISS host and configured with the network domain ADFS,  I get following error:
 Microsoft.AspNetCore.Authentication.WsFederation.WsFederationHandler | ERROR | Exception occurred while processing message. Microsoft.IdentityModel.Tokens.SecurityTokenInvalidAudienceException: IDX10214: Audien

[2018-03-19 20:42] Tratcher commented on #1694
That's coming from here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d771b5c3ef22b7ff065e8fad1a63d6a2937b7d7f/src/Microsoft.IdentityModel.Tokens/Validators.cs#L109
You can open a new issue there for better matching.

[2018-03-19 21:25] undecided2013 commented on #1622
My use case would be for ASP.Net Core living in a docker container on Linux needing to connect to legacy Sql Server on Windows which currently uses AD Groups associated with roles for Authorization. In legacy .net apps. connections to sql server are usually done with service accounts that are in AD.

[2018-03-20 05:49] alex-birch opened #1699 "Openid Connect and Google App Engine Flexible Env - Correlation Failed"
I get a correlation failed stack when I configure Google App Engine (GAE) Flex Env to have more than 1 instance serving my dotnet core 2.0 aspnet application.

It works perfectly when I restrict GAE to _**exactly**_ 1 instance serving. It seems that I need to configure dot net core auth to work in a web farm, but can't find documentation on how to do so. The classic ASPNET core uses machine key in

[2018-03-20 09:33] StevanoHallo opened #1700 "WSFederation - No token validator was found for the given token."
The exception I'm getting when attempting to use WSFederation in my .NET Core App:

SecurityTokenException: No token validator was found for the given token.

`Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler+<HandleRequestAsync>d__12.MoveNext()
System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotif

[2018-03-20 12:45] Tratcher commented on #1700
We would need an example token to investigate.

[2018-03-20 14:16] StevanoHallo commented on #1700
@Tratcher Here's an example token pulled from a response. Thanks.

[Token.txt](https://github.com/aspnet/Security/files/1829678/Token.txt)

[2018-03-20 14:54] Tratcher commented on #1700
This issue was moved to AzureAD/azure-activedirectory-library-for-dotnet#1018

[2018-03-20 14:54] #1700 closed

[2018-03-20 15:43] jacobslusser commented on #1675
Actually, I still have a question on this...

When I enumerate the `PendingRequirements` (or even just `Requirements`) I expected to see a requirement for the `[Authorize(Roles = "")]` attribute in that list, e.g. the `Microsoft.AspNetCore.Authorization.Infrastructure.RolesAuthorizationRequirement` but I don't.

In order to get the behavior I want--which is to authorize via my custom requirement O