[2017-08-20 01:05] davidfowl commented on #1376
@mkhalife as a workaround, specify the SignInScheme explicitly on AddOpenIdConnect call via the options:

[code]

[2017-08-20 01:10] danjohnso commented on #1338
In 1.1 my apps used cookies + oidc for the main application, but I would map the  path "/api" separately and do UseIdentityServerAuthentication for that path (basically JwtBearerTokens).  How does this migrate to 2.0?

[code]

[2017-08-20 01:12] davidfowl commented on #1338
On your api controllers, you would just change the AuthorizeAttribute to specify the right scheme.

[2017-08-20 01:14] PinpointTownes commented on #1376
The real bug is here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationServiceCollectionExtensions.cs#L100

`SignInScheme` defaults to `DefaultSignInScheme` but if you leave it to null, `ForbidAsync()` is called with a null parameter, which asks the authentication service to use the default forbid scheme.

The initializer should throw an exception i

[2017-08-20 02:06] davidfowl commented on #1376
Which in theory should be "Cookies" not "OpendIdConnect".

[2017-08-20 02:09] PinpointTownes commented on #1376
Not here. When it's null, `DefaultForbidScheme` defaults to `DefaultChallengeScheme`, which explicitly points to OIDC in the sample mentioned by @mkhalife (most likely because the writer wanted to immediately redirect the users to the IdP instead of redirecting them to an intermediate login page).

[2017-08-20 02:13] davidfowl commented on #1376
That's what I called out here https://github.com/aspnet/Security/issues/1376#issuecomment-323554749.

I'm not sure DefaultForbidScheme should default to DefaultChallengeScheme over DefaultScheme. I think I understand why we did that though. I'm just questioning it.

[2017-08-20 02:18] PinpointTownes commented on #1376
Making `DefaultForbidScheme` default to `DefaultChallengeScheme` is fine (changing that would be a breaking change anyway).

What's totally wrong is allowing `RemoteAuthenticationOptions.SignInScheme` being eventually null. It should default to `DefaultSignInScheme` and nothing else.

[2017-08-20 02:20] PinpointTownes commented on #1376
1.x had the right checks but for some reasons, they've been removed in 2.0: https://github.com/aspnet/Security/blob/rel/1.1.2/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectMiddleware.cs#L95-L102

[2017-08-20 02:53] mkhalife commented on #1376
@davidfowl thanks so much for the workaround...all is working fine now.

[2017-08-20 03:00] rbasniak commented on #1310
I'm trying to convert my old authentication to .NET 2.0. I had the following code:

            app.UseJwtBearerAuthentication(new JwtBearerOptions
            {
                AutomaticAuthenticate = true,
                IncludeErrorDetails = true,
                Authority = "https://securetoken.google.com/sorte-corporative",
                TokenValidationParameters = new TokenValidationParam

[2017-08-20 04:39] jeffputz opened #1377 "Refactor some of external login out of Identity and into Security"
[Enhancement request]

I find myself generally skipping on Identity for any non-trivial project (or any not using EF), but I love having the plumbing for the external logins (Google, Facebook, etc.). There are two things that make this feel harder than it should be:
* You need to write a bit of plumbing code to land and process the callback before rolling any persistence. In the default project te

[2017-08-20 05:23] VahidN commented on #1310
@AndyCreigh
You should change the `Cookie.SecurePolicy`:
https://github.com/aspnet/Identity/issues/1364#issuecomment-323321248

[2017-08-20 05:24] HaoK opened #1378 "Should RemoteAuthenticationOptions validate SignInScheme != null?"
This should validation was lost at some point, SignInScheme is required for remote auth.

[2017-08-20 05:25] HaoK commented on #1378
Or maybe we removed this validation to enable calling the default sign in scheme...

[2017-08-20 05:26] davidfowl commented on #1310
@rbasniak you cut out a bunch of your code, the logs claim you have identity running. Show more of the code.

[2017-08-20 05:27] davidfowl commented on #1378
Can we also validate and SignInScheme != Scheme, are the schemes stored on the instances of the handlers themselves?

[2017-08-20 05:27] HaoK commented on #1376
@davidfowl The reason we decided to default forbid to challenge, is because they were a single concept in 1.x, we only split them apart in 2.0, so we thought this would be more natural...

I would have expected there to be validation in RemoteAuthenticationOptions.Validate for SignInScheme to be non null, but I think we might have removed it to enable using the default schemes (which is what null

[2017-08-20 05:28] VahidN commented on #1310
@PaulAngelino
[code]

[2017-08-20 05:32] HaoK commented on #1378
We will likely have to validate that outside of the normal validation (not AuthenticationSchemeOptions.Validate, but inside of the base RemoteAuthenticationHandler itself to have access to the scheme name, and we'd likely have to also explicitly check for when its the default that fallback to itself as well.

[2017-08-20 06:26] shakeri commented on #1310
@VahidN
I have that same problem too.your code used cookie but i use jwt token.
In .NET Core 1 i used following code:
           `app.UseIdentity();
            app.UseCookieAuthentication(options:new CookieAuthenticationOptions()
            {
                AutomaticChallenge = false
            }); `
And it worked fine.but in .NET Core 2.0 i could not found this property.

[2017-08-20 07:57] VahidN commented on #1310
@shakeri
It's documented here
https://github.com/aspnet/Announcements/issues/232

[2017-08-20 12:34] rbasniak commented on #1310
@davidfowl I edited the original question to show the entire code of my `Configure` and `ConfigureServices` methods.

[2017-08-20 12:37] raymondle commented on #1338
Hi all, Right now i have trying with new Auth 2.0 flow, it very cool. But i have a question

When I'm using ```AuthenticationSchemes``` in BaseApiController to active my custom **ApiAuthenticationHandler** and i want to customs some methods have Roles permission to grant it. So i'm using ```[Authorize(Roles = "Administrator"]```.

But when i'm calling it, it redirect to LoginPage. It not return st

[2017-08-20 14:16] PinpointTownes commented on #1378
Exactly what I had recommended here: https://github.com/aspnet/Security/issues/1264#issuecomment-309100351

You can easily do that in `EnsureSignInScheme` as you have access to both names: https://github.com/aspnet/Security/blob/488eb44467eb677eab62bdc49aa6255cc1be3119/src/Microsoft.AspNetCore.Authentication/AuthenticationServiceCollectionExtensions.cs#L98-L101

[2017-08-20 16:03] AndyCreigh commented on #1310
@VahidN Thanks for the suggestion, didn't work for me. I tried both options below, login is still redirecting to the same page when I have [Authorize] on the controller.

            services.AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)
                .AddCookie(options =>
                {
                    options.LoginPath = new PathString("/Account/Login/");

[2017-08-20 17:13] davidfowl commented on #1310
@rbasniak calling AddIndentity changes the default authentication scheme. That's why cookies is being used instead of jwt.

[2017-08-20 18:00] shakeri commented on #1310
@davidfowl
When you use jwt token authentication you don't use `AddIndentity `.
In my `Startup` Class is the following:

[code]
And `TokenController` is the following:
[code]
I never used `AddIndentity `.

[2017-08-20 20:47] davidfowl commented on #1310
@shakeri I was addressing @rbasniak

[2017-08-20 20:54] Slaik000 opened #1379 "No IAuthenticationSignInHandler is configured to handle sign in for the scheme: Cookies after SignIn in Cient SPA app"
Exception in my MVC/SPA app after migrate to .net core 2.0. After login and redirected to /signin-oidc, I
see this exception "No IAuthenticationSignInHandler is configured to handle sign in for the scheme: Cookies"
Configuration:

[code]

[2017-08-20 21:23] #1379 closed

[2017-08-20 21:24] Slaik000 commented on #1379
I founded my error. Forget .AddCookie()

`services.AddAuthentication(options =>
            {
                options.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                //options.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                //options.DefaultAuthenticateScheme = CookieAuthenticationDefaults.AuthenticationScheme;

[2017-08-21 05:13] Tratcher commented on #1310
@rheid `var identityToken = await HttpContext.GetTokenAsync("id_token");` looks correct, it's possible something else is failing or has changed. E.g. if you don't provide a scheme for GetTokenAsync then it uses  the DefaultAuthenticateScheme or DefaultScheme. Are those configured differently in your new app?

[2017-08-21 07:06] Tornhoof opened #1380 "Question: Why does IDataProtection derive from IDataProtectionProvider"
Can anyone please explain the design decision why ``IDataProtection`` derives from ``IDataProtectionProvider``?
Reason:
``IDataProtectionProvider`` has a method ``CreateProtector`` which returns ``IDataProtection``.
This obviously makes sense because the provider should create the protector for a specific purpose.
But why should the actual protector implementation have that method too?
To call it

[2017-08-21 07:29] SirwanAfifi commented on #1338
I am not also able to port my ASP.NET Core 1.1 to 2.0, Here's the code I am using in my ASP.NET Core 1.1 but it seems that it doesn't not work anymore:

[code]

Any idea?

[2017-08-21 08:57] Tornhoof commented on #1380
Wrong repo

[2017-08-21 08:57] #1380 closed

[2017-08-21 14:06] HaoK commented on #1338
@SirwanAfifi you won't be able to conditionally add the JwtBearer in 2.0 anymore, you can do something like this instead:

- Get rid of the branching logic for /api's
- Always call UseAuthentication (which will take care of the identity/cookies requests
- Call AddAuthentication().AddJwtBearer() in ConfigureServices
- Add a custom middleware after UseAuthentication that checks if its /api, if it is

[2017-08-21 14:16] rbasniak commented on #1310
@davidfowl @shakeri  Thank you for the help, that solved the problem. Now my authenticated controllers are working again.

[2017-08-21 15:16] PaulAngelino commented on #1310
@VahidN, are you saying that I should use services.ConfigureApplicationCookie instead of services.AddAuthentication().AddCookie(<CookieAuthenticationOptions>)?

[2017-08-21 15:52] geotinc commented on #1310
Can anyone help me to migrate to following code (1.1) to asp.net core 2.0 please

`private void ConfigureAuth(IApplicationBuilder app)
        {
            SymmetricSecurityKey signingKey = new SymmetricSecurityKey(Encoding.ASCII.GetBytes(_secretKey));

            app.UseSimpleTokenProvider(new TokenProviderOptions
            {
                Path = "/api/Token",
                Audience = "Mo

[2017-08-21 16:26] ondrasek commented on #1338
Windows Integrated Authentication for HttpSys:
I am building an app which uses the integrated authentication and should also enable anonymous access to certain routes. The guide here:
https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x#windows-authentication-httpsys--iisintegration
says to add default authentication scheme.

The problem is, that this does not work with Http

[2017-08-21 17:25] adrianMustelier opened #1381 "Multiple authentication schema"
I have a problem configuring multiple authentication schemas. the code is as follow

[code]

with this configuration if I try to authenticate using JWT, authentication fail and  "Identity.Application Schema" it is used by default. The authentication using FB success. If I want to use JWT, I have to use the following code.

[code]
but with this configuration FB Authentication fail. It seems like I

[2017-08-21 20:59] Tratcher commented on #1361
Getting the auth_token is the same as getting the refresh_token, just change the parameter.

[2017-08-22 02:33] davidfowl commented on #1376
Got it

[2017-08-22 03:16] kchanlee commented on #1338
In the [Announcements](https://github.com/aspnet/Announcements/issues/262), it says `Microsoft.AspNet.Authentication.Core/Abstractions`. Is it a typo? I guess it should be `Microsoft.AspNet`**`Core`**`.Authentication.Core/Abstractions`...

[2017-08-22 06:18] irowbin commented on #1310
Anyone adding multiple schemes? In `aspnet core 1xx`  i was able to add multiple cookie schemes. but after `2.0` i have no idea where to add these configs?

**For example**
[code]
and later in controller
[code]

[2017-08-22 06:26] davidfowl commented on #1310
@irowbin The argument to AddAuthentication is setting the default scheme not adding a new one. This is what you want:

[code]

[2017-08-22 06:34] irowbin commented on #1310
@davidfowl Thanks. Its working. 👍

[2017-08-22 07:53] irowbin commented on #1310
hi @davidfowl I am keep redirecting to login page. I've followed instructions from above comments but no luck.  I can see that the cookie is return in browser application tab but when i try to access claims from `HttpContext.User.Claims` , there is no results and redirected to login. What i am missing? Thanks.

[2017-08-22 09:06] irowbin commented on #1310
hi @davidfowl I am keep redirecting to login page. I've followed instructions from above comments but no luck.  I can see that the cookie is return in browser application tab but when i try to access claims from `HttpContext.User.Claims` , there is no results and redirected to login. What i am missing? Thanks.

here is my code.

[code]
After login success, i can see the  cookie is return to the br

[2017-08-22 11:38] RehanSaeed commented on #1310
In 1.0, I was using middleware branching so I could support both basic and bearer authentication. I detected whether the basic or bearer authentication header was available and ran the relevant middleware like so:

[code]

In 2.0, there is only one middleware being run. Is there a way I can add some branching logic instead of setting a default authentication scheme?

[2017-08-22 12:41] HesamKashefi commented on #1310
Hi , I've just migrated to .net core 2 and I see lot's of changes all good but I can't figure out how to migrate this problem : Back in the .Net Core 1 If we wanted to set a different pipeline for some requests we could use IApplicationBuilder Map Extension Method this way
` app.Map("/api", apiApp =>
            {
                apiApp.UseIdentityServerAuthentication(new IdentityServerAuthenticat

[2017-08-22 14:32] davidfowl commented on #1310
@irowbin looks like it should work. Can you make a minimal repro project using ASP.NET Core 2.0 that reproduces the problem in a github repository?

[2017-08-22 15:15] davidfowl commented on #1310
It turns out a massive amount of people are not using the `AuthenticateSchemes` property on the `AuthorizeAttribute` and instead are using middleware branching to select the *current* scheme for a request based on some logic (most commonly a path prefix `/api`).

[code]

This will use the correct authentication scheme when doing auth for this specific controller.

As an alternative, here's a middl

[2017-08-22 15:53] HesamKashefi commented on #1310
@davidfowl Thank you so much! I just needed that Authentication for my Api Controllers and I thought using AuthenticationScheme and adding that Authentication MiddleWare may have impact on the performance of Paths that don't start with "api" , isn't this true?

Anyway, I just followed tutorials on the Internet , sorry for not using AuthenticationScheme on AuthorizeAttribute 😁

[2017-08-22 16:44] Tratcher commented on #1369
Your second sample is correct. Just replace AddOpenIdConnect with AddMicrosoftAccount and `auth.DefaultChallengeScheme = OpenIdConnectDefaults.AuthenticationScheme;` with auth.DefaultChallengeScheme = MicrosoftAccountDefaults.AuthenticationScheme;`

[2017-08-22 17:42] duncanawoods commented on #1338
The overload for configuring the application user primary key type has been removed from IdentityEntityFrameworkBuilderExtensions.cs

    AddEntityFrameworkStores<TContext, TKey>()

What is the fix? This breaking change is not mentioned in the migration docs 😠

[2017-08-22 19:51] Tratcher commented on #1372
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#685

[2017-08-22 19:51] #1372 closed

[2017-08-23 05:59] leastprivilege opened #1382 "AuthenticationProperties allows non-local redirect URLs"
Is there a scenario where this should be allowed? (because it is)

``
var props = new AuthenticationProperties
{
    RedirectUri = "https://evil.com
};
``

[2017-08-23 06:34] HaoK commented on #1382
How are you consuming the redirect Uri?  Cookies typically blocks absolute uris https://github.com/aspnet/Security/blob/23da47617624cfed065cd1cdd552d34e5ea5b821/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L377

[2017-08-23 07:07] kiss96803 commented on #1310
@rbasniak   Can you show your change code in Startup.cs ?

[2017-08-23 08:14] leastprivilege commented on #1382
I am using it as a redirect URI for Google authN challenge.

It indeed redirects me to evil.com after google is done.

[2017-08-23 08:46] HaoK commented on #1382
@Tratcher @blowdart should the OAuth handler be blocking absolute redirect uris in the challenge similar to cookies which has a IsHostRelative check?  Doesn't look like this ever had a check going back to the Katana days

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthHandler.cs#L195

[2017-08-23 09:54] poplawsm commented on #1310
Is it still possible to use Claims Transformation when using Windows Authentication by IIS?

[2017-08-23 12:41] rbasniak commented on #1310
@kiss96803 My entire `Configure` and `ConfigureServices` are posted a few comments above, because I was having another problem converting my authentication code do 2.0. Here's the link to my code: [https://github.com/aspnet/Security/issues/1310#issuecomment-323560279](https://github.com/aspnet/Security/issues/1310#issuecomment-323560279)

[2017-08-23 13:28] PinpointTownes commented on #1382
That's deliberate: the `AuthenticationProperties.RedirectUri` property is assumed to be set and controlled by the developers themselves. If you rely on user input, you're responsible of validating it first (which is no different than returning `return Redirect([user-provided URL])` in MVC).

Related: https://github.com/aspnet/Security/pull/940 and https://github.com/aspnet/Security/pull/943.

[2017-08-23 13:29] leastprivilege commented on #1382
Sure - but is it needed to have that feature?

[2017-08-23 13:33] PinpointTownes commented on #1382
Why not? It's even quite common (e.g you can have your login stuff hosted at `https://login.domain.com/` and redirect the user agent to `https://www.domain.com/` when the authentication flow is done... and for that, you need to use absolute URLs).

Plus changing that at this point would be a (big) breaking change.

[2017-08-23 13:48] leastprivilege commented on #1382
Just asking - because you know it all :P

[2017-08-23 14:08] PinpointTownes commented on #1382
"Sarcasm is the lowest form of wit, but the highest form of intelligence" - Oscar Wilde :four_leaf_clover:

Joking aside, I knew that because I'm the guy who recommended making the `RedirectUri` handling consistent in the cookies handler: https://github.com/aspnet/Security/pull/940#r74350492 (and additionally, I've since used this pattern a few times in 1.1 :trollface:)

[2017-08-23 15:04] farshid3003 opened #1383 "Cannot cast Newtonsoft.Json.Linq.JArray to Newtonsoft.Json.Linq.JToken"
I use Identityserver4 and try to connect with a .ner core 2.0 mvc app to Open Id authentication
My Configuration is here

[code]

bug I got this error :

[code]

[2017-08-23 15:53] irowbin commented on #1310
After some struggle i am able to get claims by dong like this.

[code]

In `aspnet core 1x` i don't have to add that decorator to the controller and the authentication type to the `ClaimsIdentity` to get claims but now it won't work without it. The `aspnet core` docs is really poor with minimal details.

[2017-08-23 17:12] RyanTaite commented on #219
@lukastheiler That did it for me! Thank you!

[2017-08-23 17:22] mikustykus commented on #1338
Hi all, sorry to bombard with a  newbie question. I'm puzzled because I had a nice set up in 1.1 whereby my app had two sign in options, one calling Azure AD for internal users, and another using Identity for external users to register / login. (I used `ClaimsTransformer` to add claims to AD users from the app's claims database for authorisation).

My _LoginPartial was useful to test the premise:

[2017-08-23 17:25] Tratcher commented on #1383
That's odd. Did it work in 1.1?

Side note: there's a rethrow here that's dropping the original stack trace https://github.com/aspnet/Security/blob/5b29bced0d2f1cfc78843bcd9ec9a828c6fb5fef/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationHandler.cs#L98

Can you hook into the OnRemoteFailure event and get the original stack trace?

[2017-08-23 17:28] HaoK commented on #1338
I'm guessing you were getting both claims principals merged into User in 1.1, now only one of the two identities is in User (which is why the order of AddAuthentication vs AddIdentity matters, AddIdentity sets DefaultAuthenticateScheme to the identity cookie, while your AddAuthentication sets it to the default one which is what your external is using).

You,can get access to the external identity

[2017-08-23 17:34] cgountanis commented on #1310
This is how it works for me currently, maybe this will help someone with custom roles. In the controller code you can specify the roles dynamically then in the controller you can specify the roles in the authorization annotation e.g. [AllowAnonymous] or [Authorize(CustomRoles.User)], etc. I have a class called CustomRoles (sudo Enum basically) but that can easily be just string values in the examp

[2017-08-23 17:50] mightymayhem commented on #1338
I'm trying to convert my 1.1 app to 2.0 and I'm completely stuck in one spot. There's a block of code where I call:

`app.UseOpenIdConnectAuthentication(connectOptions); `

The connectOptions variable has a property called Events that I'm populating as shown below

[code]

This context.Ticket let me use an updated ClaimsPrincipal (the variable "principal" above) after the authentication process wa

[2017-08-23 17:55] HaoK commented on #1338
The context methods changed a bit. you can accomplish the same thing in 2.0 with something like:

[code]

[2017-08-23 17:57] mikustykus commented on #1338
@Haok Interesting, thank you. Would that be as some custom middleware that I should update User.Identity.IsAuthenticated?

[2017-08-23 18:00] mightymayhem commented on #1338
Thank you @HaoK! That is exactly what i needed!

[2017-08-23 18:05] HaoK commented on #1338
@mikustykus if you still want both identities to be merged into context.User, yeah you would need to do that yourself in a custom middleware, see this comment for an example:

https://github.com/aspnet/Security/issues/1310#issuecomment-324058522

[2017-08-23 18:07] davidfowl commented on #1338
/cc @javiercn

[2017-08-23 18:07] HaoK commented on #1310
Since this is an older closed issue, please use https://github.com/aspnet/Security/issues/1338 so we have one consolidated issue

[2017-08-23 18:41] muratg commented on #43
@Eilon This needs to be assigned in our weekly triage meeting.

[2017-08-23 18:46] farshid3003 commented on #1383
Yes it works in 1.1 and now I use core 1.1
I tried to upgrade and I could not

[2017-08-23 18:51] farshid3003 commented on #1383
The exception is because of HandleRemoteAuthenticateAsync result
[code]

[2017-08-23 18:56] farshid3003 commented on #1383
tomorrow I will try it to get original stack trace

[2017-08-23 19:06] farshid3003 commented on #1383
Did you look at this code? I think the problem is here
[            // Error handling:](url)

[2017-08-23 19:21] blowdart opened #1384 "Always correlation error on Azure Webapp on Linux (docker)"
_From @erwinwildenburg on August 16, 2017 21:4_

The application I'm trying to get to work is a basic IdentityServer4 app with ASP.NET Core 2.0.
When running locally it works (using just "dotnet run" and in a Docker container).

When publishing the Docker container to Azure Webapp on Linux I get a correlation error (see stacktrace below).
I actually have no clue what is going on...

Local Identity

[2017-08-23 19:32] farshid3003 commented on #1383
[code]

[2017-08-23 19:42] Tratcher commented on #1383
That's more interesting. break it under the debugger and see which claim it is. It's getting back a list when it's only expecting a single item. Sharing a sanitized dump of the user-info http response would be helpful as well. Fiddler can help you capture that.

[2017-08-23 20:32] farshid3003 commented on #1383
I think there is no user info and it throw before sending request. the problem should be on parsing the token
[code]

[2017-08-23 20:42] farshid3003 commented on #1383
Sorry it was because of https here is dump

`1a0 {"sub":"10","name":["user.name","User Name"],"AspNet.Identity.SecurityStamp":"240dc561-37ff-4eb9-a58a-f760d1b9abaa","role":["CSM_User","dev","admin","SuperAdmin","Admin","LdapUser","TranslationAdmin"],"UnitCode":"3120002566","JobTitle":"Kidemli Yazilim Uzmani","JobPhone":"0212 999 9349","given_name":"User","family_name":"Name","birthdate":"03/06/197

[2017-08-23 21:01] Tratcher commented on #1383
It looks like the `name` claim is the issue. Try `oidcOptions.ClaimActions.Remove("name")` to drop that mapping.

It looks like IdentityServer4 is using a non-standard name format.
http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims
`name | string | End-User's full name in displayable form including all name parts, possibly including titles and suffixes, ordered according to the En

[2017-08-23 21:04] Tratcher opened #1385 "RemoteAuthenticationHandler.HandleRequestAsync rethrows an exception and loses the stack trace"
https://github.com/aspnet/Security/issues/1383#issuecomment-324405326

If the given exception already has a stack trace we should wrap it. Or we could use ExceptionDispatchInfo.

[2017-08-23 21:04] farshid3003 commented on #1383
Yes you right the problem must be there how I missed it :) thank you

[2017-08-23 21:32] Tratcher commented on #1384
The exception message got dropped. What was it?

[2017-08-23 21:56] Tratcher commented on #1338
@js82 See the cookie auth events for this kind of customization.
https://github.com/aspnet/Security/blob/5b29bced0d2f1cfc78843bcd9ec9a828c6fb5fef/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvents.cs#L42

That said, perhaps JwtBearer would be more appropriate.

[2017-08-23 22:18] Tratcher commented on #1338
@raymondle Authorization attributes don't currently merge behavior, they each run in sequence. The authorize attribute on your action was using the default schemes, not the ones specified on your base controller. There is some discussion going on at https://github.com/aspnet/Security/issues/1359 to make this more sensible.

[2017-08-23 22:20] Tratcher commented on #1338
@kchanlee fixed the typo, thanks.

[2017-08-23 22:23] rynowak commented on #1359
My additional thoughts on this. We're looking at making the concept of an **endpoint** available at a low level from the dispatcher. Endpoints will have arbitrary metadata in an ordered list. This is the equivalent to what MVC does today by passing the action descriptor.

-------------------------------------

Additionally in the case of MVC, the current `[Authorize]` has some surprising behaviors

[2017-08-23 23:03] Tratcher commented on #1310
@rbasniak why are you accessing HttpContextAccessor.HttpContext.User in your transformation rather than operating on the ClaimsPrincipal passed to you as an argument?

Transformations are run prior to assigning HttpContext.User:

https://github.com/aspnet/HttpAbstractions/blob/27b0f60f09f5b8a91a1d0706c3a2ec94ee00eee9/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationService.cs#L71

https:

[2017-08-23 23:09] Tratcher commented on #1310
@irowbin if you specify `services.AddAuthentication("scheme1")` then that's the scheme that will be used for the default `[Authorize]`, otherwise you have to specify it on each authorize attribute.

[2017-08-23 23:12] Tratcher commented on #1310
@RehanSaeed UseJwtBearer already no-ops if the header doesn't contain Bearer, and I assume UseBasicAuth would do something similar. The far more interesting question I would expect is how to specify which to issue a challenge for.

[2017-08-23 23:16] Tratcher commented on #1310
@poplawsm implement a transformer: https://github.com/aspnet/HttpSysServer/issues/389

[2017-08-24 05:00] leastprivilege commented on #1383
We do whatever data you give us - where do these values come from?

[2017-08-24 05:26] leastprivilege opened #1386 "Configure claims filtering/mapping for OpenID Connect middleware"
I saw you filter out a bunch of OIDC protocol claims now - that's generally good - but `amr` is gone, and that is important information for some clients.

Also you still do this funny mapping to MS proprietary claim types.

* what's the best way to control what claims you filter
* is there a *nicer* way to turn off claim mapping besides calling a global static?

[2017-08-24 08:18] RehanSaeed commented on #1310
@Tratcher I'm thinking I could override the [AuthenticationSchemeProvider.GetDefaultAuthenticateSchemeAsync()](https://github.com/aspnet/HttpAbstractions/blob/d894584254ccc5a2eb5671530b2ec9880fb097c0/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationSchemeProvider.cs#L49) method with my own implementation that selects the authentication scheme based on the HTTP headers in the request, ins

[2017-08-24 16:14] Tratcher commented on #1310
@RehanSaeed Sure, try it. However, how to do you decide which handler should handle the challenge for unauthenticated requests?

[2017-08-24 16:19] Tratcher commented on #1386
The claim filtering is via OpenIdConnectOptions.ClaimActions. If you want to keep amr you can remove that filter via `options.ClaimActions.Remove("amr");`
https://github.com/aspnet/Security/blob/5b29bced0d2f1cfc78843bcd9ec9a828c6fb5fef/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L47

The proprietary claim type mapping you're asking about all takes place at the Ide

[2017-08-24 16:20] Tratcher commented on #1386
There was some debate on this before: https://github.com/aspnet/Security/pull/1297

[2017-08-24 16:37] Tratcher commented on #1310
@AndyCreigh are you mixing http and https? Chrome doesn't like this.
https://github.com/aspnet/Mvc/issues/6673

[2017-08-24 16:44] rbasniak commented on #1310
@Tratcher Thank you, the parameter type changed and I didn't notive that it has the authenticaded user data. Now the whole authentication system is back...

[2017-08-24 17:30] Tratcher commented on #1381
See https://github.com/aspnet/Security/issues/1338 and https://github.com/aspnet/Security/issues/1310.

You're not showing your whole config. The error implies you have AddIdentity as well, which is causing conflicts.

[2017-08-24 18:00] Leonardo-Ferreira commented on #1338
I used this [blog post](https://samueleresca.net/2016/12/developing-token-authentication-using-asp-net-core/) to set up my token auth... what should i do now? is there a reference somewhere?

[2017-08-24 18:26] HaoK commented on #1359
Interesting, well if we have a new endpoint concept with a clean slate for metadata, we should probably just expose all of the basic building blocks

1. Building the ClaimsPrincipal, need to end up with 0 or more authentication schemes.  If none are specified, we continue to use the default user aka httpContext.User, otherwise we build a merged user via authenticating all of the schemes.  We could

[2017-08-24 19:31] brockallen commented on #1386
So then that's 2 votes for amr.

[2017-08-24 20:34] HaoK commented on #1386
This is now just a question of the default behavior right?  People who want to preserve amr would just have to add options.ClaimActions.Remove("amr") to there `AddOpenIdConnect()`.  That doesn't seem too much of a burden if most people don't care about amr.

[2017-08-24 20:37] HaoK commented on #1386
Note: @Tratcher maybe we should consider adding some sugar/renaming the public API for the claimactions, its pretty counter intuitive to read with no context.

[2017-08-24 20:38] farshid3003 commented on #1383
I talk with identityserver team and they ask, how said we cannot have more than one claim.
in your link it said which name must be an string and it is. but it is more than one same as role.

[2017-08-24 21:53] Tratcher commented on #1359
Which challenge would you issue?

[2017-08-24 21:54] blowdart commented on #1382
Wait, so changing this would break @PinpointTownes? This seems a win all around. :trollface:

[2017-08-24 21:54] HaoK commented on #1359
All of them, its not any different than today

[2017-08-24 21:57] Tratcher commented on #1359
Challenging both Bearer and Cookie is nonsensical.

[2017-08-24 21:58] HaoK commented on #1359
Not disagreeing, but today if you have a policy that has Bearer and Cookies, that's what it does today as well

[2017-08-24 21:59] HaoK commented on #1359
Unless we want to eliminate being able to specify multiple schemes entirely...  that's an option that would simplify things...

[2017-08-24 22:13] Eilon commented on #1386
Do we have specific examples where this would be used? I think we're hearing a lot of "someone might think it's interesting" but it's not clear if it rises from "interesting" up to "actual need."

From the previous threads on this, it sounds like everyone agrees that "extraneous" claims shouldn't be included because of issues such as cookie size. We just need to debate which bucket some particular

[2017-08-24 22:21] Eilon commented on #1383
Ideally we'd have improved error handling when parsing these messages. We should detect that data types are incorrect (as well as other issues) and throw proper exceptions for those.

[2017-08-24 22:21] mikustykus commented on #1310
Hi @davidfowl , many thanks for your suggested custom middleware in [this comment](https://github.com/aspnet/Security/issues/1310#issuecomment-324058522) - after days of banging my head against this, I finally came around to tweaking the line of your `Config.Startup` to get my app to be able to sign in both with Idenity forms login (for external users) _and_ AD Azure logins (for internal). I used:

[2017-08-24 22:23] Eilon commented on #1382
I agree with the comments in https://github.com/aspnet/Security/issues/1382#issuecomment-324332727.

Disallowing this would be a breaking change and I think there's little value in the change.

[2017-08-24 22:23] #1382 closed

[2017-08-24 22:34] Eilon commented on #1377
This sounds like a reasonable request, but it is not a high priority at this time, so we are putting it in the backlog.

[2017-08-24 22:35] davidfowl commented on #1359
It does? What happens as a result? Don't they stomp on each other?

[2017-08-24 22:37] Eilon commented on #1375
We could change this property to return a copy of the collection:
https://github.com/aspnet/Security/blob/1867eab2e99d6828dda20e29483a0821de8e9ce9/src/Microsoft.AspNetCore.Authorization/AuthorizationHandlerContext.cs#L60

[2017-08-24 22:37] Eilon commented on #1375
In the meantime, please use the workaround. Thanks for the report!

[2017-08-24 22:38] #1369 closed

[2017-08-24 22:39] #1368 closed

[2017-08-24 22:40] Eilon commented on #1367
This was likely a nuget.org issue where some caches took a while to update. Please let us know if you're still seeing any issues.

[2017-08-24 22:40] #1367 closed

[2017-08-24 22:41] #1365 closed

[2017-08-24 22:42] #1361 closed

[2017-08-24 22:46] #1355 closed

[2017-08-24 23:06] HaoK commented on #1359
Yeah they do, last one wins, multiple auth schemes in policies has always been a bit weird

[2017-08-24 23:09] Tratcher commented on #1359
Some are compatible like Bearer, Basic, and Windows.

[2017-08-24 23:26] brockallen commented on #1386
"amr" lets the app know what you used to authenticate, password for example. Let's say the use then tries to modify their account and the app then wants stronger authentication to do so, like 2FA. The amr lets the app know these things.

[2017-08-25 04:18] leastprivilege commented on #1386
`amr` is essential metadata about the authentication event.

[2017-08-25 04:21] leastprivilege commented on #1383
Maybe you need more flexible parsing instead.

[2017-08-25 05:57] Eilon commented on #1383
My understanding was that the data type must be a string per the protocol. If that's not correct, or I've misunderstood, I agree we need to consider making it more flexible.

[2017-08-25 06:00] Eilon commented on #1386
Ah, ok, that scenario makes a lot of sense.

Having said that, it's not a *super* common scenario from what I've seen in apps. I think the only site I've really seen do anything like that is where GitHub doesn't "trust" the session login cookie to change "dangerous" settings and forces you to re-enter a password. I can't think of any other site I've seen that does anything like that.

So from my o

[2017-08-25 06:12] leastprivilege commented on #1386
I'd draw the line between at the claims that are def only protocol specific and have no-use for the application - e.g. issuer, exp, nbf, nonce etc ...

amr i think is useful.

[2017-08-25 06:15] leastprivilege commented on #1383
I agree that multiple names are an edge case and not directly specified by the OIDC spec.

But this is just the general problem of translating JWTs/JSON to .NET claims. We've been through that, and just made our code a bit more "permissive".

[2017-08-25 07:48] kazantsev-nikita commented on #1310
I'm using method `GetAuthenticationSchemes` to get authentification schemes:
`var schemes = _httpContextAccessor.HttpContext.Authentication.GetAuthenticationSchemes();`
But after migrating project to .Net Core 2.0 every build I see that `'HttpContext.Authentication' is obsolete`. Is it possible to get authentification schemes with?

[2017-08-25 09:50] HaoK commented on #1310
Use `IAuthenticationSchemeProvider.GetAllSchemesAsync` to get them all

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Authentication.Abstractions/IAuthenticationSchemeProvider.cs#L19

[2017-08-25 14:03] PinpointTownes commented on #1386
@leastprivilege I don't think it's as easy as you describe. Even protocol claims can be potentially useful for some scenarios. E.g I could use the `iat`/`nbf` claim to determine when the OIDC flow was initiated and decide whether my users need to re-authenticate to access security-critical parts of my app based on this information. Same reasoning for `auth_time`.

[2017-08-25 14:05] leastprivilege commented on #1386
True.

`ClaimActions.DeleteClaim("amr");`

is def a super counter-intuitive way of saying "keep the amr claim" ;)

[2017-08-25 14:11] PinpointTownes commented on #1386
I couldn't agree more: https://github.com/aspnet/Security/pull/1297#issuecomment-313766969.

I remember @Tratcher pinged me when he introduced the "claims actions" but frankly, I wasn't really inspired to find a better API. Maybe that would be worth reworking it in 2.1 or 3.0? (even the layering isn't perfect, because the OIDC now has to reference the OAuth2 package).

[2017-08-25 14:16] leastprivilege commented on #1386
Well - in our libs we had a simple array of strings - called `ClaimsToFilter` or similar.

super simple - not over engineered.

[2017-08-25 14:40] Tratcher commented on #1386
It's `options.ClaimActions.Remove("amr");` ...

[2017-08-25 14:50] brentschmaltz commented on #1386
FWIW, JwtSecurityTokenHandler provides the ability to filter claims from ending up inside the ClaimsIdentity.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L170

[2017-08-25 15:21] mbalogh89 opened #1388 "Correlation and Nonce cookies"
Related: #1133, #1262

Hi,

I'm using an MVC client with Cookie and OpenIdConnect middleware authenticating via an identity provider based on IdentityServer4.
Not new stuff: whenever a new login session starts, a Correlation and a Nonce cookie is created on the client side, which could increase the Request/Response header size. It could be solved with some expiration settings, but I looked forward

[2017-08-25 16:38] Tratcher commented on #1388
Do you know why you have a buildup of cookies? They're deleted for successful logins. Do you have a user that has so many failed logins within the expiration period? The cookies seem like a symptom of a higher level problem.

[2017-08-25 16:58] mbalogh89 commented on #1388
Yep, the case is more hypothetic than real.
And I understand your point, but I think now this behavior is more about causing another issue than make a sign (to the user, as it is representing there) about the current one...

[2017-08-25 17:43] jefflill commented on #1338
I need to implement a simple API token authentication scheme for a web service.  The token is issued to the user out-of-band and must be presented with each request as a custom header.  I simply need to have a custom handler that validates the token and populates the context user with the identity and claims.  This is is not cookie authentication or a JWT ticket.

In ASP.NET core, I'd implement th

[2017-08-25 18:33] Eilon commented on #1383
@leastprivilege is it an edge case or is it invalid (per the spec)? @Tratcher in the discussion that we had it was mentioned that it's not valid - do you have a spec pointer about that?

[2017-08-25 19:19] Tratcher commented on #1338
@jefflill your requirements sounds most similar to the JwtBearer scenario. I suggest modeling your implementation from there and replacing the validation. https://github.com/aspnet/Security/blob/5b29bced0d2f1cfc78843bcd9ec9a828c6fb5fef/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs

[2017-08-25 19:21] Tratcher commented on #1383
It's quoted above: https://github.com/aspnet/Security/issues/1383#issuecomment-324461357

[2017-08-25 19:24] HaoK commented on #1338
Yeah @jefflill the Security/Microsoft.AspNetCore package is meant to make implementing auth handlers easier, and is how we built ours.  It does bring in some conventions and requirements that the core Authentication.Abstractions/Core do not, mostly around base classes/options.  So if your auth is pretty simple, there's nothing wrong with directly implementing IAuthenticationHandler / AddScheme lik

[2017-08-25 19:50] jefflill commented on #1338
Thanks @Tratcher and @HaoK.  I have tried using a simple custom handler but its not getting invoked.  I assumed that the `services.AddAuthenticationCore()` call in my `Startup.ConfigureServices()` and the `app.UseAuthentication()` in `Configure()` would setup my handler in the pipeline but I must be missing something.

Do I need some other voodoo to get this working (e.g. registering my `IAuthenti

[2017-08-25 19:55] HaoK commented on #1338
Can you post your entire startup Configure/ConfigureServices?

[2017-08-25 20:05] jefflill commented on #1338
Here's my `Startup` class:
[code]

[2017-08-25 20:36] HaoK commented on #1338
So if you are using AspNetCore.Authentication's base classes, you need to call AddAuthentication(), not AddAuthenticationCore(), that's likely the issue.

[2017-08-26 01:57] jefflill commented on #1338
@HaoK: Thanks a lot.  The `AddAuthentication()` call worked!

[2017-08-27 01:29] mikeball commented on #1219
@dotnetchris completely agree with you after battling this new stuff for an entire week in an attempt to get something running that was trivial in forms auth.

[2017-08-27 04:00] coderabsolute commented on #1310
This thread is complex, can you please provide a simple JWT Token Bearer example for Core 2 please?

[2017-08-27 04:20] chikien276 commented on #1310
@coderabsolute

[code]

[2017-08-27 08:39] irowbin commented on #1310
@Tratcher Always redirecting to `scheme1`  why?
[code]

[2017-08-27 08:45] davidfowl commented on #1310
@irowbin What do you expect it to do?

[2017-08-27 09:05] irowbin commented on #1310
Hi @davidfowl  I am filtering claims from method.
[code]
I want to invoke this method  but the authentication keep redirecting me to the login path without executing this method? In `1x` i can get claims without that `authorize` decorator, now the things are change. I have multiple login pages based on  that schemes  so i am redirecting manually by getting schemes from method like this
[code]

[2017-08-27 09:45] davidfowl commented on #1310
You just want to get the user for the appropriate scheme?

[code]

How were you getting at the right user before?

[2017-08-27 10:05] davidfowl commented on #1310
@irowbin I think I know what you were doing before (through the series of posts), please correct me if I'm wrong. You had 2 cookie middleware in the pipeline with automatic authenticate set to true. When the request came in, you had potentially multiple identities on the claims principal and your custom action filter would get the user for the appropriate scheme (I'd like to see that code) and che

[2017-08-27 10:15] irowbin commented on #1310
YES that's right.
this is how i try to get claims
[code]
If i remove that `authorize` attribute then there is no claims and users but if i add that, the users are available but then i have to explicit the schemes too.

[2017-08-27 10:32] davidfowl commented on #1310
Without writing manual code there's no way to merge all the identities into the single claims principal. There's a helper but I'd recommend against it.

What you want to do doesn't require a filter at all, is there any reason you wrote one instead of using an authorization policy?

From this attribute - `[ClaimRequirement("home", "read", "scheme1")]`

What does "home" and  "read" map to?

For comp

[2017-08-27 15:21] irowbin commented on #1310
@davidfowl My custom action filter is to look for the permission from database.  `create, read, update, delete` so i have to invoke custom action filter.

[code]

[2017-08-27 16:09] davidfowl commented on #1310
No, you don't. Policies support writing arbitrary logic. I recommend reading https://docs.microsoft.com/en-us/aspnet/core/security/authorization/

[2017-08-28 03:18] coderabsolute commented on #1310
@chikien276 I managed to get it working after a bit of struggling (after the post I made). Thanks for the code!

[2017-08-28 03:39] mirshahreza opened #1392 "Compile error"
I am using vs 2017 15.3. I get this repo and try to compile the solution. but there are some bugs:

for example :
1-public class InitializeAuthenticationSchemeOptions<TOptions> : InitializeOptions<TOptions>
2-return AuthenticateResult.None();

and so on.

Visual studio message shows there are some missing assembly.

[2017-08-28 03:59] jkotalik commented on #1392
For the first one, make sure you have the assembly `Microsoft.Extensions.Options`.  InitializeOptions is also generic, so you will need to consider that too. The second one requires `Microsoft.AspNetCore.Authentication`. Also, I  believe AuthenticateResult.None is a property on Authenticate Result, meaning you need an object in order to reference it. Try AuthenticateResult.NoResult() if you are ca

[2017-08-28 05:19] irowbin commented on #1310
@davidfowl You mean to get authenticated user without  `authorize` attribute, I have to change like
[code]
instead of
[code]
is this correct?

[2017-08-28 05:51] davidfowl commented on #1310
That's correct. I wrote an example here https://github.com/aspnet/Security/issues/1310#issuecomment-325190141

[2017-08-28 08:29] mbalogh89 commented on #1388
Yep, the case is more hypothetical than real.
OK, I understand, that by default there's a very little chance to make this 'stash full', but by options (mainly NonceCookieLifetime and RemoteAuthenticationTimeout or/and the hosting server configuration could change as well lowering the limit) I could be more and more closer to this case. (and not just the failing logins counted as interrupted login

[2017-08-28 09:31] glatzert opened #1393 "[Suggestion] Improve CookieSessionSample"
The Cookie Session Sample https://github.com/aspnet/Security/tree/dev/samples/CookieSessionSample does not use DI, the sample should show, how to use a DI aware SessionStore.

[2017-08-28 12:23] bezveza commented on #1367
Issue resolved

[2017-08-28 12:51] severisv opened #1394 "Cookie authentication: unable to disable automatic challenge"
After upgrading my ASP.NET Core project to 2.0, attempts to access protected endpoints no longer return 401, but redirects to a non-existing endpoint in an attempt to let the user authenticate.

The desired behaviour is for the application simply to return a 401. Previously I would set `AutomaticChallenge = false` when configuring authentication, but the only thing I can find regarding this in the

[2017-08-28 13:48] zetanet commented on #1376
Same problem here!.
**davidfowl** workaround "solve" the problem.

Thanks.

[2017-08-28 14:55] Tratcher commented on #1394
A 401 without challenge information is an invalid response. How is your client going to handle the 401? JwtBearer is often more appropriate for these scenarios.

There is some special case handling for AJAX requests:
https://github.com/aspnet/Security/blob/414d596639d56633a789e039406eacecbe464f82/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvents.cs#L42-L46

[2017-08-28 16:33] Tratcher commented on #1393
There isn't a built in way to resolve it from DI, you'd have to resolve it manually by calling GetRequiredService when configuring the options.

[2017-08-28 16:37] glatzert commented on #1393
I would do that, but GetRequiredService<...>() is not available on `ServiceCollection`

[2017-08-28 16:39] davidfowl commented on #1393
Isn't it on the cookie options? You wouldn't manually call GetService, there's a pattern for DI when using options.

[2017-08-28 16:41] glatzert commented on #1393
It's on the Options indeed - can you point to that pattern?

[2017-08-28 16:46] Tratcher commented on #1392
We recommend you compile from the command line first (build.cmd), it pulls the right versions of all the dependencies. VS has a hard time keeping up with dev.

[2017-08-28 18:11] Eilon commented on #1383
Ah, sure, so if the spec says this field in particular must be a string, I think it's fine to not support any other behavior. We just need to see if we can make it be a better error behavior.

[2017-08-28 18:14] syndicatedshannon opened #1395 "IClaimsTransformation "runs on AuthorizeAsync success""
The current action of IClaimsTransformation provides non-deterministic identity types on IPrincipal. For example, in the simple scenario where cookies are enabled, IClaimsTransformation does not get run if no cookies are present. In previous versions this transform could be relied upon to permit casting identity to a custom type. In Core 2.0 code breaks, and distributing null checks throughout cod

[2017-08-28 18:19] HaoK commented on #1395
If you always want your claims transformation to run on the context.User, you can write a ClaimsTransformationMiddleware that always runs the transformation.

[2017-08-28 20:43] syndicatedshannon commented on #1395
Do you mean that IClaimsTransformation is operating as intended relative to my reported defect? Can you offer a reference to information on, or direct guidance on, using middleware to solve this problem as you've suggested? This example https://github.com/IdentityModel/Thinktecture.IdentityModel/tree/master/source/Owin.ClaimsTransformation has multiple connection points that are invalid.

[2017-08-28 21:15] HaoK commented on #1395
[code]

[2017-08-28 21:18] syndicatedshannon commented on #1395
awesome, thank you HaoK!

[2017-08-28 21:35] syndicatedshannon commented on #1395
Side note, this runs the transformation twice every hit. It gives me the info I need to get everything wired in though. Thank you!

[2017-08-29 08:11] WilliamWsyHK opened #1396 "How to Return 403 Forbidden by Forbid() when using Windows Authentication?"
Hey guys,

I want to have my ASP.NET Core MVC app to use Windows Authentication (since it is an intranet app) to let users to enter the site without login, but only allow certain roles to access **_some_** of the pages.

Here is the Startup.cs
[code]

And AdminController.cs (for whole controller needed to authorize)
[code]

And HomeController.cs (only some of the action requires elevated access)
[

[2017-08-29 08:13] WilliamWsyHK commented on #1396
Oh, to complete the story, here is some runtime info
Run debug mode in VSCode (MSBuild 15.3)
`dotnet --version` 2.0.0

[2017-08-29 10:33] severisv commented on #1394
Authentication is done using shared cookie authentication, so the API in question is not a part of the authentication flow at all, it just reads a cookie and returns 401 if there is no valid cookie.
The client application provides the user with a new challenge if it gets a 401 from the API.

We are using Fetch API do requests from the client, so the `IsAjaxRequest` check in the code sample you pro

[2017-08-29 11:46] syndicatedshannon commented on #1395
Also note that Haok's code depends on injection, so you'll still need

`			services.AddSingleton<IClaimsTransformation, AsugTdpClaimTransformer>();
`

[2017-08-29 14:39] davidfowl commented on #1393
@glatzert here you go https://github.com/davidfowl/AuthCookieOptions

[2017-08-29 17:13] Tratcher commented on #1396
For 2.0 IISDefaults.Negotiate is no longer used, you only need to specify `options.DefaultScheme = IISDefaults.AuthenticationScheme;`. The 200 is concerning. Are you getting the full content or something else? I wonder if you're getting an exception and are sent to the error page or similar.

[2017-08-29 17:14] Tratcher commented on #1396
Or just `services.AddAuthentication(IISDefaults.AuthenticationScheme)`

[2017-08-29 17:27] Tratcher commented on #1394
Your simplest choices are to modify the request to include a X-Requested-With header, or to override the OnRedirectToLogin event logic to suit your application.

[2017-08-29 17:28] Tratcher commented on #1394
Note for triagers: this is an FAQ. If we recommend against this kind of auth flow then we need to provide a definitive guidance doc to that effect. If we think this flow is fine then we should make this work out of the box without overriding OnRedirectToLogin.

[2017-08-29 23:45] Pictuel opened #1397 "Attributes not working as intended"
I made a controller with several methods decorated with authorizations attribute like so:

[code]

I'm using identity to authenticate in my app and while I'm not logged I'm trying to access the /test path that should redirect me to the login page but I'm allowed to view the content which shouldn't be the case.

I'm wondering what I'm missing, I've found a workaround by inverting the attributes whe

[2017-08-29 23:45] #1397 closed

[2017-08-30 01:33] brockallen commented on #978
@HadeelElbitar Turns out I am still seeing this for accounts that are live/Microsoft accounts. AAD accounts seem to handle it ok.

[2017-08-30 02:13] mirshahreza commented on #1392
I check the references. projects have the right references !!!
I download the full solution from this repo ant I think it must be compilable !!!

[2017-08-30 04:06] WilliamWsyHK commented on #1396
@Tratcher
For `services.AddAuthentication(IISDefaults.AuthenticationScheme)` I tried and still the same (and the "Step-Into" source code of this statement is only available when looking at dev branch, so I decided to write those lines for `AddAuthentication` after viewing the source)

For the

I just got a blank page with HTTP 200, the exception is viewed via middleware, just before the controller

[2017-08-30 08:54] DaleMckeown commented on #43
We managed to dump WS-Fed and implement oAuth 2 instead.

[2017-08-30 08:55] glatzert commented on #1393
@davidfowl thank you! I _really_ appreciate providing that sample. I'll put it to good use 👍 - Besides the SessionStore the Events will probably take advantage of that, too :)

Also I think this would make a nice sample for the docs somewhere near "Fundamentals > Configuration > Advanced Option Scenarios"?

[2017-08-30 09:17] davidfowl commented on #1393
I already pinged @HaoK about that.

[2017-08-30 13:58] RickBlouch commented on #1338
I am trying to wire up `IOptionsMonitor<OpenIdConnectOptions>`, but I'm getting this error and am not sure what to try next.  I have successfully wired up `IOptionsMonitor<CookieAuthenticationOptions>` and I am trying the same technique for `OpenIdConnectOptions`.  I have also not been able to find a sample or documentation for this scenario.

My `ConfigureServices` looks like this
[code]

In Conf

[2017-08-30 14:11] gb056 opened #1398 "Support for OpenIdConnect prompt parameter"
This may be a duplicate of [Issue 99](https://github.com/aspnet/Security/issues/99).

It would be good if this could support the inclusion of the [prompt](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) parameter as part of the `OpenIdConnectOptions`. Similar to how we currently pass through the ResponseType, Resource etc.

The fix in this case may be as simple as adding `Prompt

[2017-08-30 15:08] brockallen opened #1399 "2.0: IClaimsTransformation runs each time AuthenticateAsync is called"
Perhaps related or dup of: #1395 (I can't tell).

`AuthenticateAsync` caches the result from the authentication handler, but the outcome of claims transformation is not cached. IOW, if I call:

[code]

Then claims transformation is invoked twice (and given how implemented, could easily be duplicating claims in the principal).

Is that design intentional?

[2017-08-30 15:10] brockallen commented on #1399
This would also happen if (for whatever reason) the Authentication middleware were registered twice in a pipeline.

[2017-08-30 16:06] Tratcher commented on #1396
Is Windows Auth actually enabled in IIS/Express? 2.0 checks for that.

[2017-08-30 16:34] HaoK commented on #1399
That is indeed the current behavior, your claims transformer could check if its already added the claims before adding them again to prevent duplication.  We can definitely consider adding some kind of switch to prevent transformation from running twice in the future

[2017-08-30 16:55] brockallen commented on #1399
But not clear if it's by design or not :)

Anyway, the moral of the story here is to return a new ClaimsPrincipal from the transformer. Perhaps that should be mentioned in the docs/FAQ/whatever.

[2017-08-30 17:10] HaoK commented on #1338
So the default OIDC configuration uses a PostConfigureOptions to setup the default ConfigurationManager that the Validate() method is blowing up on for you, see: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectPostConfigureOptions.cs#L71

If you are implementing your own IOptionsMonitor, you might need to include similar default setup

[2017-08-30 17:46] RickBlouch commented on #1338
That was it, thanks!

[2017-08-31 03:28] WilliamWsyHK commented on #1396
Hmm, I was using Kestral as the server, and not deployed to IIS yet... Will try it later.

Anyway, I was using some workaround by adding a `if` in the actions to limit only those users with allowed roles to access.

[2017-08-31 04:24] Tratcher commented on #1396
Kestrel doesn't have Windows Auth....

[2017-08-31 06:24] WilliamWsyHK commented on #1396
I just use VSCode to run the debug (default settings of launch.json, no special stuffs added). So I guess it should be Kestrel; and it successfully do the SSO, getting the user via `System.Security.Principal.WindowsIdentity.GetCurrent();`, and make a middleware to inject this `ClaimsPrincipal` to `HttpContext`.

[2017-08-31 14:55] Tratcher commented on #1396
The Startup code you provided above does not add any auth handlers, and ASP.NET Core does not set WindowsIdentity.GetCurrent();. You're getting the identity the process is started under, not the remote user. What SSO are you referring to? There was nothing in your Startup.

[2017-08-31 15:01] WilliamWsyHK commented on #1396
Yes that's true the process is running using the account's identity, while using Kestrel-only scenario.
And I had deployed to the environment with IIS+Kestrel, and the application can eventually use the real Windows' identity of the user.

But lets get back to the question: the workaround (posted in some previous comment) is not working as expected, and I still not tried to use the `[Authorize(Pol

[2017-08-31 15:39] x2764tech opened #1400 "LogLevels in Microsoft.AspNetCore.Authentication/LoggingExtensions.cs"
As I get more experienced, I realise more and the more the important of careful logging to diagnose problems in live environments.

With that in mind - I'm struggling to see the logic in the LogLevels used in `Microsoft.AspNetCore.Authentication/LoggingExtensions.cs`.

In my view, Authentication failed is at probably a warning, and Authentication succeeded is information, or probably even debug...

[2017-08-31 23:05] Eilon commented on #1392
@mirshahreza can you run `build` from the command line? Also make sure all your NuGet caches are cleared.

[2017-08-31 23:07] Eilon commented on #1388
Closing because there are no plans to change anything here. We think the changes we've already made do enough to mitigate the problem of too many cookies.

[2017-08-31 23:07] #1388 closed

[2017-08-31 23:08] Eilon commented on #1393
Closing this issue because we're working on documentation for this area in this issue: https://github.com/aspnet/Docs/issues/4055

[2017-08-31 23:08] #1393 closed

[2017-08-31 23:16] Eilon commented on #1394
We'll get a doc written on this.

You can either:
1. Send an HTTP header or query string called `X-Requested-With` with a value of `XMLHttpRequest`
2. Handle the various `CookieAuthenticationEvents` methods to do a custom check for whether it's an AJAX request

[2017-08-31 23:18] Eilon commented on #1395
Moving to Backlog because there are no plans to implement this at this time.

[2017-08-31 23:30] Eilon commented on #1398
We would be happy to work with you on a PR for this!

We think adding a new `ICollection<string> Prompt { get; }` property would be great. It should be similar to the `Scope` property:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L212-L215

[2017-08-31 23:36] Eilon commented on #1400
The log levels are defined as having meaning to someone going through logs to understand why/how something happened. As such, a "Warning" event means "something bad and unexpected happened, but the application was able to recover." You can see the definition of this log level here: https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Abstractions/LogLevel.cs#L28-L32

A faile

[2017-08-31 23:36] #1400 closed

[2017-09-01 00:14] brockallen commented on #1398
Can we keep it as space delimited? The only reason scope was a collection was to normalize those in the ASP.NET programming model because of the inconsistencies in the OAuth2 implementations (mainly facebook as the oddball, IIRC). This is a whitespace delimited set of values and your MW will just pass it along verbatim. Is there really a need for a collection in the options?

[2017-09-01 00:17] Eilon commented on #1398
I guess it's a matter of which is easier to use. I don't have a strong feeling about it. Though it also might depend a bit on what any downstream APIs use in IdentityModel.

[2017-09-01 00:18] Tratcher commented on #1398
@brockallen Assigning more than one needs to be clean. How would you do that? Perhaps with constants that already contain the permutations?

[2017-09-01 00:37] Tratcher commented on #1398
OpenIdConnectResponseType does exactly that: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/f10a045459e7cb07548806561a47ecdb3471f5f6/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectResponseType.cs
We could ask IdentityModel for similar constants for Prompt.

[2017-09-01 02:50] brockallen commented on #1398
9 times out of 10 you just want prompt=login

[2017-09-01 07:59] gb056 commented on #1398
There are a few use cases for wanting to set this statically. Say the RP wants to add an extra layer of security to their site and force the user to log in specifically for them rather than just reusing a cookie obtained when logging in to another RP. We have a few different sites that currently force this flow in PHP, it would be nice for it to be supported here too.

Use cases aside, it's in the

[2017-09-01 08:20] HaoK commented on #1398
Instead of constants for every combination, why not a suboptions?

[code]

[2017-09-01 08:45] gb056 commented on #1398
It should be made as hard as possible to set `none` with any of the other options as it's invalid, and constants are already used for `ResponseType` and `ResponseMode` so it would fit with the pattern.

[2017-09-01 11:54] Tratcher commented on #1398
@gb056 None is invalid? It's listed right in the spec.

@HaoK No, it needs to be extensible. I suspect @brockallen is right, multiple values are likely rare so we're probobly overthinking it.

[2017-09-01 11:58] SRJames commented on #1395
This might help other people.
I used this approach when setting up CORS and Windows Authentication in Core 2 hosted in IIS with an Angular UI.
I had to enable anonymous access in IIS to allow preflight checks when POSTing from Angular (not 100% sure that is the correct approach). But when anonymous was allowed using services.AddSingleton<IClaimsTransformation, ClaimsTransformer>();   resulted in n

[2017-09-01 12:11] tbolon opened #1402 "Azure AD v2.0 (Graph) Identity.Name not set"
Hi,

I am trying to use the OpenID Connect library with [Azure AD v2.0](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-appmodel-v2-overview) endpoint(https://login.microsoftonline.com/{tenant}/v2.0). My end-goal is to also use the [MS Graph](https://developer.microsoft.com/en-us/graph/) api, so it requires that my app is registered in the new portal.

Everything w

[2017-09-01 13:43] abezulski commented on #43
@DaleMckeown Are you using ADFS3? If so, could you provide some samples? I'm porting MVC5 apps to .net core and having issues with ADFS integration.

[2017-09-01 14:21] DaleMckeown commented on #43
@abezulski Yeah, we are using Oauth2 with ADFS3.0.

Can't give you a working example unfortunately, but me and @lilpug followed this post on carbon60: http://www.carbon60.com/blog/using-adfs-3-0-with-mvc-6-asp-net-5

Took us a while to modify the source code accordingly, but we go there in the end. David documented the changes made to get it working in a comment on the above blog post.

[2017-09-01 15:00] brentschmaltz commented on #1398
@Tratcher @HaoK  IdentityModel has defined a set of OIDC prompts see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectPrompt.cs#L33

[2017-09-01 19:00] mirshahreza commented on #1392
I test the command line and the problem exist yet. but when I downloaded the newest version I saw new problems : sample projects failed for load in the solution !!! and the rest of issues are exist yet.

[2017-09-01 19:25] Eilon commented on #1392
Can you show the exact output of the build? Maybe upload the whole output file to GitHub?

[2017-09-02 08:18] chrispaynter commented on #1310
These docs in the below link are out of date, following them presents a deprecated warning when you use `app.UseIdentity()`. I can't seem to find any proper documentation on how to implement the new 2.0 identity?

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?tabs=visual-studio

[2017-09-02 08:20] chrispaynter commented on #1310
Ok I seem to have found some migration docs hidden away - https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x

[2017-09-02 22:50] brockallen commented on #1399
Another idea would be to put a flag on the authentication service to cache the results of claims transformation (and make sure it's scoped in DI if it's not already). I think it's fair to say that setting this flag to cache by default wouldn't be a huge concern in a 2.1 release.

[2017-09-03 19:20] AlexOliinyk1 commented on #765
Backchannel - can't resolbe symbol. Any idea ?

[2017-09-03 20:02] Tratcher commented on #765
@AlexOliinyk1, @danielserafimovik's advice no longer applies, you can set the RetrieveUserDetails property to handle this now.

[2017-09-03 20:23] AlexOliinyk1 commented on #765
@Tratcher  thank you for quick update. But after enable I still can't to get email.

[2017-09-03 21:40] Tratcher commented on #765
Did you follow these instructions? The only way to enable it is to contact Twitter support.
https://stackoverflow.com/questions/22627083/can-we-get-email-id-from-twitter-oauth-api/32852370#32852370

[2017-09-03 21:41] AlexOliinyk1 commented on #765
@Tratcher   code look like this

![image](https://user-images.githubusercontent.com/10448723/30006793-b125f4ec-9109-11e7-9257-9e096c485670.png)

![image](https://user-images.githubusercontent.com/10448723/30006799-c6459e0e-9109-11e7-8422-1e53d895b042.png)

[2017-09-04 00:26] blowdart commented on #1402
@brentschmaltz how would you configure this?

[2017-09-04 09:35] irowbin commented on #1310
@davidfowl
i am getting succeeded authenticate on each refresh even my cookie is expired.
[code]
but if i refresh after few second or may be after expire, it expired. Any idea?

[2017-09-04 10:19] davidfowl commented on #1310
Because you have SlidingExpiration set to true? https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.cookies.cookieauthenticationoptions.slidingexpiration?view=aspnetcore-2.0#Microsoft_AspNetCore_Authentication_Cookies_CookieAuthenticationOptions_SlidingExpiration

/cc @Tratcher

[2017-09-04 10:33] irowbin commented on #1310
@davidfowl  Well, i have set expiration time to 30 second and `SlidingExpiration = true;`  After cookie created, i am able to access user even my expiration limit is crossed. It happen only when i keep hitting refresh button between 1-2-10 second i guess, and never logged out.  I don't understand.

[2017-09-04 10:53] Mardoxx opened #1404 "Ability to check if User passes given Policy"
Imagine the following situation whereby you have a forum and want users to delete their own posts, but also allow certain users to delete others' posts determined by a policy.

[code]

How can this be achieved?

Either I'd want, `User.Check(string policyName);` for example, or an example of how to achieve a similar result using library methods.

[This](https://docs.microsoft.com/en-us/aspnet/core/

[2017-09-04 11:18] Tratcher commented on #1310
The point of SlidingRefresh is to extend the cookie lifetime as long as the user remains active. When you press F5 the cookie gets renewed if it hasn't expired yet.

[2017-09-04 12:59] irowbin commented on #1310
@Tratcher  Now i get it. Thanks

[2017-09-04 18:21] AlexOliinyk1 opened #1405 "Get the user's e-mail address from Twitter"
Hi

based on this issue https://github.com/aspnet/Security/issues/765 I'm tried to configure twitter social login to get email.
But for now without any luck.

startup.cs code

![image](https://user-images.githubusercontent.com/10448723/30035801-80c2287c-91b6-11e7-9ceb-caa085331582.png)

here error appear, email is null

![image](https://user-images.githubusercontent.com/10448723/30035835-df0e87ea-

[2017-09-05 09:51] #1340 closed

[2017-09-05 13:33] Jenan opened #1406 "SAML2P authentication in .NET Core"
Hello,

is there any implementation of SAML2P in .NET Core?

I would like to use the SAML2P as the Identity Provider on my project that is running on .NET Core.

Thank you.

[2017-09-05 13:48] Tratcher commented on #1406
@brentschmaltz is this related to the saml2 support coming in WsFed?

[2017-09-05 14:41] darickc opened #1407 ""WinHttpException: The connection with the server was terminated abnormally" on first sign on with Open Id Connect"
I will get a "WinHttpException: The connection with the server was terminated abnormally" error the first time the CallbackPath is run.  If I refresh the browser or even close the browser and try again, this does not happen.  It is only after it runs for the first time.  I can recycle to the app pool and it will give the error the first time it runs.  This does not happen when running against the

[2017-09-05 14:44] brockallen commented on #1406
If you're looking for SAML2-P support in ASP.NET Core, then you should look at: https://github.com/Sustainsys/authservices. They are working on a SAML2-P authentication middleware for ASP.NET Core.

[2017-09-05 15:02] Tratcher commented on #1407
That's odd. The first request from the middleware to the IDP should be to get metadata. The login requests should reuse that connection.

Which auth provider are you using?

Also, what OS and package versions are you using? This may be an issue with HttpClient/WinHttpHandler.

[2017-09-05 16:14] darickc commented on #1407
No, I'm not hardcoding the metadata.  So it downloads it just fine.  It redirects the user to the IDP to login just fine.  It isn't until it is coming back from the IDP that the error happens.

The auth provider is WSO2.

This was happening in .Net core 1.1 and now in 2.0.  It happens when running in IIS in windows server 2008 R2.  I haven't been able to try it on any other versions of windows ser

[2017-09-05 17:21] Eilon commented on #1340
@JianChengSun understood, thanks for the update.

[2017-09-05 20:33] darickc commented on #1407
This will also happens when running from IIS Express from Visual Studio and using dotnet run in windows.  It doesn't seem to be doing it when running dotnet run on a Mac.

[2017-09-06 00:50] brentschmaltz commented on #1406
@Tratcher Saml2 support is about tokens and wsFed. Samlp usually refers to Saml protocol which is in someways similar to OIDC or WsFed but much richer.

We do not have a POR for Samlp.

[2017-09-06 01:09] brentschmaltz commented on #1402
@blowdart @tbolon I am not familiar with 'MapUniqueJsonKey'.
You are correct about how ClaimsIdentity.Name works.

I believe that TokenValidationParameters.NameClaimType set to 'name' would result in your result.
This would require you setting TVP on options.

What happens If set MapUniqueJsonKey("name", "System.Security.Claims.ClaimTypes.Name")?

[2017-09-06 01:29] brockallen opened #1408 "[2.0] SignIn for cookies should honor AuthenticationProperties.RedirectUri"
When calling `SignInAsync` for the cookie handler, if an `AuthenticationProperties` with a `RedirectUri` set is passed it's not honored unless the current path is the same as the `LoginPath`. If an explicit `AuthenticationProperties` is passed with a `RedirectUri` set, then I'd expect it to be honored.

[2017-09-06 03:19] theezak commented on #1338
Under 1.1 I used two JwtBearer configuration since I have users from multiple Azure AD directories that are allowed access to the API. Each is configured with a different scheme name. Under 2.0 this fails as follows: validates the token against the last registered authentication scheme and fails on audience validation. Is there a way of allowing this under 2.0 >

[2017-09-06 03:39] pavanbanakar opened #1409 "No IAuthenticationSignInHandler is configured to handle sign in for the scheme: Cookies in .NET core MVC application after Signin"
I receive  " IAuthenticationSignInHandler is configured to handle sign in for the scheme" on the Auth handler (Identity server) which is calling the AuthenticationHttpContextExtensions.SignInAsync . I am trying to call the Identity server which handles the signin for a .NET Core MVC app.

ConfigureServices method on the  MVC app

      ConfigureServices(IServiceCollection services)
        {

[2017-09-06 03:42] HaoK commented on #1338
Can you show how you are registering your schemes in 2.0?  Startup code?

[2017-09-06 03:58] Tratcher commented on #1409
Side note: Do not return null from OpenIdConnectEvents events. The return parameter is Task, so make your lambda async or return Task.CompletedTask.

[2017-09-06 17:44] Tratcher commented on #1398
https://github.com/aspnet/Security/pull/1401 looks fine and the constants already exist. I agree that the app will usually set only one value, but we can ask for other constants if we see common combinations.

[2017-09-06 18:53] Tratcher commented on #1405
I'm not able to repro this. It works fine for both 1.1 and 2.0 apps.

The code in your screenshot does not match the 1.1 templates. Try this:
[code]

[2017-09-06 19:03] Tratcher commented on #1407
This seems like an WinHttpHandler issue on Windows, but it may also be provider specific. I haven't seen this with AAD or Google.

Can you include the full stack trace?

[2017-09-06 19:06] Tratcher commented on #1407
Possibly related: https://github.com/dotnet/corefx/issues/21612

[2017-09-06 19:50] darickc commented on #1407
System.Net.Http.WinHttpException (0x80072EFF): The connection with the server was terminated abnormally
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Threading.Tasks.RendezvousAwaitable`1.GetResult()
   at System.Net.Http.WinHttpHandler.<StartRequest>d__105.MoveNext()

And

System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> S

[2017-09-06 20:43] theezak commented on #1338
@HaoK

` services
                .AddAuthentication(options =>
                {
                    options.DefaultAuthenticateScheme = "test1";
                    options.DefaultChallengeScheme = "test1";
                })
                .AddJwtBearer("test1", "test1", jwtBearerOptions =>
                {
                    jwtBearerOptions.Authority =
                        $"https://log

[2017-09-06 23:04] HaoK commented on #1338
Yes, because you have two schemes, you won't be able to use the defaults in 2.0, your choices are to always specify the scheme in your `[Authorize]`, or you if cannot direct users to different actions, you can write a middleware that just calls `context.AuthenticateAsync("test1")` and `context.AuthenticateAsync("test2")` and merges those together into context.User which is probably similar to the

[2017-09-07 01:51] theezak commented on #1338
Users from both directories will need access to the same actions, so I will try the custom middleware, enumerate all the registered schemes, authenticate against each and pick the first that passes.

[2017-09-07 02:04] brentschmaltz commented on #1398
@Tratcher for scenarios where multi-value is required, one could use extensibility to set the request.
It's rare enough.

[2017-09-07 03:32] Tratcher commented on #1398
Extensibility? I was just expecting them to set `options.Prompt = OpenIdConnectPromt.Login + " " + OpenIdConnecPrompt.Consent;`

[2017-09-07 04:01] brentschmaltz commented on #1398
@Tratcher that will work too. I was thinking they could do this with todays bits with OnRedirectToIdentityProvider

[2017-09-07 04:16] Tratcher commented on #1398
Ah, yes, but those take much more effort to use.

[2017-09-07 04:23] brentschmaltz commented on #1398
I agree with you 100%.

[2017-09-07 08:37] xrkolovos opened #1411 "Implement an Auth 1.0 login provider"
Implement an Auth 1.0 provider.

thank you

[2017-09-07 08:37] davidfowl commented on #1411
Why?

[2017-09-07 08:39] xrkolovos commented on #1411
:)
Because I have come with 2 cases that are still using Auth 1.0. Twitter was using it 1 year ago.

[2017-09-07 08:43] davidfowl commented on #1411
Can you be more specific? What exactly are you asking for? Do you need to write an oauth 1.0 server?

[2017-09-07 08:45] xrkolovos commented on #1411
I though "Provider" is the write name. I am talking about this https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.Authentication.OAuth.
The clients that connect to an OAuth 1.0 server

[2017-09-07 08:46] RobinHerbots opened #1412 "InvalidOperationException: Scheme already exists: Bearer after upgrade to netcoreapp2.0"
Hi all,

I'm a bit stuck here and any suggestions are welcome.
I upgraded my netcoreapp1.1 to netcoreapp2.0,  => after some struggle I got everything compiled.

When running after the app.UseAuthentication(); command I got the below.

I stripped down the startup to solely the authentication

[code]

[code]

[2017-09-07 08:51] davidfowl commented on #1412
I think you need to show more code. Show the entire Startup.cs file.

[2017-09-07 09:05] RobinHerbots commented on #1412
@davidfowl ,

Here you go.  I only stripped irrelevant parts

[code]

[2017-09-07 09:46] RobinHerbots commented on #1412
@davidfowl ,

When I specify in the authentication some other scheme for testing like
[code]

Then I get another message

[code]

Maybe this can give some clue?

[2017-09-07 11:20] AlexOliinyk1 commented on #1405
@Tratcher  I will try it and let you know. Thanks.

[2017-09-07 12:00] RobinHerbots commented on #1412
Hi @davidfowl ,

I found the problem.  I has some custom middleware which uses parts of aspnet identity and there I had
  services.AddIdentity<IdentityUser, ... (totally unnecessary),  which causes the above.

Anyway THX for the quick response!

[2017-09-07 12:00] #1412 closed

[2017-09-07 13:43] cruikshj commented on #99
domain_hint would also be useful

[2017-09-07 15:20] Tratcher commented on #1411
Twitter uses OAuth 1.0a. You're asking for a generic version that you can use with other services? What services?

If there are just a few then I recommend copying the Twitter code. There's little incentive to go back and improve support for obsolete protocols.

[2017-09-07 22:11] Eilon commented on #1411
Closing because there are no plans to implement this. The OAuth 1.0 protocol is very old at this point and we've seen almost no demand for it. You should be able to fairly easily get something working by copying any existing OAuth 1.0-based provider and modify it for your needs.

[2017-09-07 22:11] #1411 closed

[2017-09-07 22:13] Eilon commented on #1409
Hi @pavanbanakar can you provide more info about this? Could you upload your app to a GitHub repo so we can take a look?

[2017-09-07 22:19] Eilon commented on #1408
Moving to Backlog because we're not currently planning to do this.

Is the scenario here that there are multiple login pages, hence it's ignored sometimes but not always?

As a workaround, the redirect could of course be done manually after the signin is complete.

[2017-09-07 22:26] Eilon commented on #1407
@Tratcher can you try to repro this using HttpClient directly? Then we can move to CoreFX if it seems like the right place.

[2017-09-07 22:30] Eilon commented on #1406
There are no plans to support it at this time due to lack of demand.

Can you share info on what service it is that requires SAML2P?

[2017-09-07 22:32] Eilon commented on #1404
Hi @Mardoxx we have a concept called resource-based authorization that is documented here: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased

Please check that out and let us know if you have questions.

cc @blowdart

[2017-09-07 22:32] #1404 closed

[2017-09-07 22:42] Eilon commented on #1399
In this scenario we have two suggestions:

1. Instead of modifying the claims principal, always return a new one (as mentioned above)
2. Add a custom "marker" claim that indicates whether the transformation was done. Check that claim prior to running transformation

I logged https://github.com/aspnet/HttpAbstractions/issues/936 to improve the doc comments for item (1).

[2017-09-07 22:42] #1399 closed

[2017-09-07 22:42] Eilon commented on #1392
Closing because there is not enough information to reproduce this problem.

[2017-09-07 22:42] #1392 closed

[2017-09-07 22:43] Eilon commented on #1384
Closing because there is not enough information to reproduce this problem.

[2017-09-07 22:43] #1384 closed

[2017-09-07 22:43] Eilon commented on #1381
Closing because there is not enough information to reproduce this problem.

[2017-09-07 22:43] #1381 closed

[2017-09-08 01:15] brockallen commented on #1408
There are scenarios where you're issuing the main authentication cookie, but you're not on the main login page. A perfect example would be the endpoint where you're handling a callback from an external provider like google of OIDC.

In short, it's inconsistent/leaky behavior behind the "unified" authentication architecture.

[2017-09-08 09:53] YaoNiGu commented on #43
has anyone known any information about using  adfs 2.0 in core2.0 ?

[2017-09-08 11:59] glennsills opened #1413 "Support for OpenId Key Discovery in 2.0"
I see that there is planned work to improve the usability of Jwt Bearer tokens in the  [2.1.0,](https://github.com/aspnet/Security/milestone/25)  milestone but is there any support for OpenId Key discovery in 2.0. Do I need to write my own token validator?

[2017-09-08 12:11] leastprivilege commented on #1413
This is built-in. Set the `Authority` property and it will try to find the OpenID discovery document.

[2017-09-08 13:01] Tratcher commented on #43
@YaoNiGu It's not yet available. We've just started the work.

[2017-09-08 14:36] radenkozec opened #1414 "User.Identity.IsAuthenticated is False after upgrading to .Net Core 2"
After I call
`var result = await _signInManager.PasswordSignInAsync(model.Email, model.Password, model.RememberMe, lockoutOnFailure: false);`
which results in successful.
`User.Identity.IsAuthenticated`
is always false.

I have this in ConfigureServices:
[code]

and this in Configure:
[code]

[2017-09-08 14:41] Tratcher commented on #1414
_signInManager is part of the Identity system. You shouldn't need AddAuthentication if you have AddIdentity.

[2017-09-08 14:42] Tratcher commented on #1414
See https://github.com/aspnet/Security/issues/1338

[2017-09-08 14:43] Tratcher commented on #1414
And https://github.com/aspnet/Identity/issues/1364

[2017-09-08 20:32] thevlf opened #1415 "Unable to properly set AccessDeniedPath"
I'm using aspnet core 2.0 with AzureAd authentication (leveraging the default VS 2017 template code) and when I browse a page where I have set a roles based auth, I are not redirected to the specified access denied page, instead I briefly get a 502.3 Bad Gateway page and the browser closes.

This is my ConfigureServices (note, by default, the AddCookie was included, but it did not have the options

[2017-09-09 03:53] Tratcher commented on #1415
What shows up in the application logs for this request?
If you run it under the debugger is there a first chance exception?

[2017-09-09 14:02] thevlf commented on #1415
My setup is a Win10 machine with no IIS installed - I didn't see anything in the Event logs (other than an Info entry that the IIS Express AspNetCoreModule started.

In the debug output Window in VS - I get the following:

Microsoft.AspNetCore.Authorization.DefaultAuthorizationService:Information: Authorization failed for user: user@mydomain.com.
Application Insights Telemetry (unconfigured): {"na

[2017-09-11 03:11] quan01994 opened #1416 "how to get User in Middleware"
i use hangfire
[code]
in my startup.cs
[code]
but httpContext.User.Identity.IsAuthenticated==false
I'm sure I'm logged in

[2017-09-11 07:23] radenkozec commented on #1414
@Tratcher You are right. When I removed AddAuthentication it works fine. Thanks

[2017-09-11 07:23] #1414 closed

[2017-09-11 12:18] omansak commented on #1338
This not works with CookieSecurePolicy.Always , all time return  AccessDeniedPath  and AdminPanelCookie is empty
[code]
but if i change  CookieSecurePolicy.SameRequest or None or Delete (CookieSecurePolicy.SameRequest), this works

[2017-09-11 14:04] Tratcher commented on #1338
@omansak Do all requests use HTTPS?

[2017-09-11 14:19] omansak commented on #1338
@Tratcher no and error is resolved :) Thank you :)

[2017-09-11 16:03] Tratcher commented on #1415
This configuration is causing a stackoverflow and crashing the process.
[code]

Authorization is calling ForbidAsync with no scheme. There is no default forbid scheme specified so it falls back to the default challenge scheme.
https://github.com/aspnet/HttpAbstractions/blob/d894584254ccc5a2eb5671530b2ec9880fb097c0/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationSchemeProvider.cs#L71-L74

[2017-09-11 16:14] Tratcher commented on #1415
Duplicate of https://github.com/aspnet/Security/issues/1376.

[2017-09-11 16:14] #1415 closed

[2017-09-11 16:24] Tratcher commented on #1416
The user is only set on HttpContext if you specify a DefaultScheme or DefaultAuthenticateScheme in the AddAuthentication options. You'll have to choose which cookie you want to be the default. Or you could invoke authentication directly by calling AuthenticateAsync on HttpContext with the scheme you want.

[2017-09-11 16:29] Tratcher commented on #99
Related: https://github.com/aspnet/AspNetKatana/pull/81/files

[2017-09-11 16:29] Tratcher commented on #1398
Related: https://github.com/aspnet/AspNetKatana/pull/81/files

[2017-09-11 17:06] davidfowl commented on #1416
@quan01994 is there a reason you need 2 cookies instead of having an admin claim on the one cookie?

[2017-09-11 19:46] x3igh7 commented on #1412
@RobinHerbots I'm seeing the same issue - what exactly did you change?

[2017-09-12 00:35] shishir28 opened #1417 "Mixed Authentication"
Hi
I am trying to create a web application on asp.net core 2.0  where business requires me to support active directory as well and form based authentication .
For people within the organization I should  avoid the logon process and for people from outside , it should show the logon screen.
I could not find any leads so only possibility I can think of using Microsoft.AspNetCore.Hosting.ini file and

[2017-09-12 07:29] RobinHerbots commented on #1412
@x3igh7 ,

As in my previous comment.  I had some custom middleware which also added authentication, which causes the above error.

[2017-09-12 15:17] blowdart opened #1418 ".net core 2.0 Authentication"
_From @chintan3100 on September 12, 2017 14:53_

I have upgrade code 1.1 to 2.0.

We have used app.UseJwtBearerAuthentication and app.UseCookieAuthentication both Authentication.

How i can set both authentication in 2.0. It's looks like only one authentication working at a time.

    services.AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)
             .AddCookie(options =>

[2017-09-12 15:18] blowdart commented on #1418
What are you trying to achieve? A single endpoint that accepts both cookies and bearer?

[2017-09-12 15:35] mubarakadeimam commented on #1418
@chintan3100, I was able to use both Cookie and JwtBearer together using the approach below

`public void ConfigureServices(IServiceCollection services)
{
   //Some codes here
   services.AddAuthentication()
       .AddCookie()
       .AddJwtBearer(options =>
       {
           options.RequireHttpsMetadata = false;
           options.SaveToken = true;
           options.TokenValidationParameters

[2017-09-12 15:45] blowdart commented on #1418
Having an extra services.AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme) shouldn't matter though.

[2017-09-12 15:48] Tratcher commented on #1418
@mubarakadeimam when neither are provided, which challenge do you want to issue? The 301 or 401?

[2017-09-12 16:06] mubarakadeimam commented on #1418
@Tratcher, I want Cookie as default and JwtBearer when explicitly specifies.

I added this

[code]
in my `ConfigureServices``` hoping to have `[Authorize(policy: "Authenticated")]` on my controller.

This currently only works for JwtBearer, which makes me think the problem is from the `CookieAuthentication`

[2017-09-12 16:16] Tratcher commented on #1418
@HaoK is there any policy that lets you specify multiple Authenticate schemes but only one challenge?

[2017-09-12 16:42] HaoK commented on #1418
Not in 2.0, that's why we are adding AuthenticationPolicies in 2.1 so you can accomplish exactly that, different sets of schemes per action

[2017-09-12 16:50] Tratcher commented on #1418
That said, it's fishy that both would be used on the same endpoint. I would expect JWT for APIs and cookies for interactive endpoints. What kind of endpoint is it?

[2017-09-12 16:51] davidfowl commented on #1418
This is why multiple challenges are broken 😬.

[2017-09-12 16:55] ctro commented on #43
We need to access a legacy SOAP service that authenticates with WS-Security (WSS) from a .NET Core app.   We are looking for WSFed support also.
I work in Government IT.  .NET Core and Azure have much promise here, but we very often need to access legacy datasources.

[2017-09-12 17:08] chintan3100 commented on #1418
Below are practical senari.
We created web api project some of api consume by other window application which use Bear Authentication.
We have UI project (Angular 4.0) which used cookie authentication.

This is working fine in .net core 1.1. but in 2.0 we can only enable default one authenticaion at a time.

Any work around to resoved this issue ?

[2017-09-12 17:12] HaoK commented on #1418
Have two different endpoints, one for APIs and one for the UI project which uses cookies instead of a single one for both

[2017-09-12 17:22] chintan3100 commented on #1418
Yes, I have two different controller one use Bear Authentication and other use cookie but to configure this different authentication in .net core 2.0.
can you please provide code ?

[2017-09-12 17:28] HaoK commented on #1418
You just need to setup a policy for each controller's authorize to use, something like this:

[code]

`[Authorize("Bearer")]` or `Authorize["Cookies")] ` as appropriate

[2017-09-12 17:39] chintan3100 commented on #1418
in .net core 1.1 i have used policy to define role in Authorization.

` services.AddAuthorization(options =>
            {
                options.AddPolicy(EOPolicy.Engagement, policy => policy.RequireRole(UserType.Engagement));
                options.AddPolicy(EOPolicy.FirmUser, policy => policy.RequireRole(UserType.FirmAdmin));
                options.AddPolicy(EOPolicy.Organizer, policy => po

[2017-09-12 17:40] chintan3100 commented on #1418
Can i use like below code in 2.0
 [Authorize(Policy = EOPolicy.Engagement, AuthenticationSchemes = JwtBearerDefaults.AuthenticationScheme)]

[2017-09-12 17:53] blowdart commented on #1418
From a security PoV (and I realise this is being strict) you don't share the same API endpoints. Look at Gmail, the APIs it uses in the web site are not the apis available to mobile apps. There's a different attack surface, a different trust level, a different threat model. Is there a reason you can't just abstract the endpoints which then call the same service?

[2017-09-12 18:00] HaoK commented on #1418
@chintan3100 yes that should be fine

[2017-09-12 18:02] mubarakadeimam commented on #1418
@blowdart, If I get you right, Are you suggesting I should have seperate endpoints to handle requests from Cookie Authenticated Clients and JwtBearer Authenticated clients respectively?

[2017-09-12 18:03] blowdart commented on #1418
That's how I'd do it, but then I do care more about security than practicality, so feel free to reject it :)

[2017-09-12 18:03] HaoK commented on #1418
@mubarakadeimam  Yes, the idea the endpoints would be identical except for having different [Authorize] attributes, and they could just call into a common method

[2017-09-12 18:05] mubarakadeimam commented on #1418
Good @Haok, but won't you be a bit surprised if I tell you that `CookieAuthentication` don't work on endpoints using `Authorize(AuthenticationSchemes = "Cookies")` in ASP.NET Core 2.0?

[2017-09-12 18:07] HaoK commented on #1418
Define "don't work"

[2017-09-12 18:21] mubarakadeimam commented on #1418
@Haok, Take a look at the following:

[code]
[Authorize(AuthenticationSchemes = "Cookies")]
public class MyController : Controller
{
     \\\
}
[code]

[2017-09-12 18:28] davidfowl commented on #1418
@mubarakadeimam did you mean the opposite? In your code sample there is no default so the latter example (no specified AuthenticationSchemes should fail).

[2017-09-12 20:36] AlexOliinyk1 commented on #1405
@Tratcher  Problem was secret manager uses old key. Sorry for this.

[2017-09-12 20:36] #1405 closed

[2017-09-13 04:43] quan01994 commented on #1416
@Tratcher thank you
@davidfowl  I want two login page ,

[2017-09-13 07:29] #1416 closed

[2017-09-13 08:20] chintan3100 commented on #1418
Can you please share sample project in Github. Which has two different api use different authentication "Cookie" and "Bearer"

[2017-09-13 09:08] mubarakadeimam commented on #1418
@davidfowl, the work with no default works with Cookie, maybe due to AspNetCore Identity.

[2017-09-13 11:20] chintan3100 commented on #1418
Solved issue :) :) :)
    var policy = new AuthorizationPolicyBuilder()
                .AddAuthenticationSchemes(JwtBearerDefaults.AuthenticationScheme, CookieAuthenticationDefaults.AuthenticationScheme)
                  .RequireAuthenticatedUser()
                  .Build();

I have add policy to RequireAuthenticatedUser which has missing \

  .AddAuthenticationSchemes(JwtBearerDefaults.Authent

[2017-09-13 11:21] chintan3100 commented on #1418
Please close issue

[2017-09-13 13:22] callranjithkani opened #1419 "Bad Request - Request Too Long - Http Error 400"
Hi,
Bad Request - Request Too Long - Http Error 400
Have you got answer, me too face this same issue, my sso proxy developed by asp.net core 1.1 and few client applications also developed by core  1.1 it working fine , if i try to implement 4.5.2 developed client app i faced Bad Request - Request Too Long Error, have any idea please let me know

My Response URI:

http://localhost:4000/connect/auth

[2017-09-13 14:08] #1418 closed

[2017-09-13 15:57] Tratcher commented on #1419
"Request too long" may refer to the url and headers. Can you share a Fiddler trace showing the failing request?

[2017-09-13 16:25] AnthonyMascia opened #1420 "Sharing application cookie across multiple apps. Working on localhost, but not on server."
So I recently followed [this example](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing) how to share cookies between my applications.

Code snippet:

    services.ConfigureApplicationCookie(options =>
    {
        var protectionProvider = DataProtectionProvider.Create(new DirectoryInfo(@"c:\shared-auth-ticket-keys\"));

        options.Cookie.Name

[2017-09-13 17:09] #1420 closed

[2017-09-13 19:55] HaoK commented on #1376
The fix for this is being tracked via #1378 and https://github.com/aspnet/HttpAbstractions/issues/917

[2017-09-13 19:55] #1376 closed

[2017-09-13 20:09] Tratcher commented on #1293
Where? In doc comments? Samples? Or make it throw?

[2017-09-13 20:10] natemcmaster commented on #1293
For others new to this thread, let me add a little context. The reason for the `ExpireTimeSpan` API is that it represents the expiration of the _ticket_, not the _cookie_ that contains the ticket.

Example: we haven't figure out how to handle something like this.
[code]
This would create an auth ticket valid for the next 30 minutes, but the cookie will be stored by the browser 9999 days. That mean

[2017-09-13 20:11] natemcmaster commented on #1293
@Tratcher I think it would be useful to assert that Cookie.Expiration >= ExpireTimeSpan. If not, throw. There is nothing wrong with Cookie.Expiration >= ExpireTimeSpan, it's just means you have a cookie that will never work and doesn't get cleaned up right away. But on the other hand, if someone configures Cookie.Expiration but not ExpireTimeSpan, they will get an error.

[2017-09-13 20:28] Tratcher commented on #1293
Cookie.Expiration is currently ignored. It never makes it to the browser. https://github.com/aspnet/Security/blob/a53bf093a7d86b35e019c80515c92d7626982325/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L181

Auth cookies have a separate flag for persisting cookies (via setting their expiration) and it's intentionally only available per request because it requires us

[2017-09-13 21:25] HaoK commented on #1293
So in 2.1, we should just update CookieAuthenticationHandler to throw if expiration is ever set before using cookies?

[2017-09-13 21:38] Tratcher commented on #1293
Yes, that's an option. I don't know if @Eilon will take kindly to throwing new exceptions though.

[2017-09-13 21:48] natemcmaster commented on #1293
The way I see it, we have 3 options:

1. Break. Throw a new exception or change the API surface. Remove Cookie.Expiration or throw when it's used.
2. Try to reason about the interaction ExpireTimeSpan and Cookie.Expiration. One implies the other? Take the shorter of the two? Idk. Some heuristic that seems reasonable. We couldn't agree on one in the initial implementation so we left it out.
3. Do n

[2017-09-13 21:53] HaoK commented on #1293
I like option 1, throwing an exception (pointing them at the right setting) instead of just ignoring it seems way better.  It would be a really easy breaking change for people to fix, and its not like setting it actually did what they wanted anyways...

[2017-09-13 22:01] thevlf commented on #1415
Just wanted to confirm that **setting sharedOptions.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme; fixed it for me.**

Only setting sharedOptions.DefaultForbidScheme = CookieAuthenticationDefaults.AuthenticationScheme; yields the same exception in my case.

Thanks again!

[2017-09-13 22:52] HaoK opened #1421 "Remove unused Authentication.AddScheme/RemoteScheme methods"
These are no longer used, as we introduced the AuthenticationBuilder pattern, but a few of the old extension methods were left behind (duplicated dead code basically)

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationServiceCollectionExtensions.cs#L50

I discovered this when I edited the wrong EnsureSignInScheme :(

If we can't delete in 2.1 (due to

[2017-09-13 23:15] HaoK opened #1423 "AuthenticationOptions.Validate should take the authenticationScheme"
Currently the signature is simply `Validate()`, the missing information is what scheme this options represents.  This prevents validation from doing thing like ensuring that something isn't set to itself (i.e. RemoteAuthentication SignInScheme should never be itself).

We should fix this in 3.0 or whenever we can make breaking changes (we should also move the validation logic in the PostConfigure

[2017-09-14 03:32] scottsauber commented on #1293
Random user here but my vote in order of preference is:

1. Throw an exception as early as possible like on Startup with the pointer to the right setting.  Preferably not have it throw on issuing of a cookie which would be less discoverable post-upgrade.
2. Mark as Obsolete with docs to new setting.
3. Flat out removal.  Don't love this bc no pointer to correct behavior then.

Sidenote - It'd be c

[2017-09-14 05:05] Eilon commented on #1293
I of course don't like the idea of throwing from the setter because of the breaking change aspect.

But, worse than that, property setters that throw on condition of another property's value are a Very Bad Idea™️ because you can only set the properties in a particular order, and that's a serious usability pattern.

So, that leaves throwing at "runtime" (either in some sort of property validation p

[2017-09-14 05:20] Tratcher commented on #1293
On a related note, that property is coming from a shared library (RequestPathBaseCookieBuilder), CookieAuth doesn't actually own it. We'd have to derive and override it to add an exception. I don't think an obsolete attribute would even surface to the user, we're not obsoleting it on the base type. And it can't be removed from the base type as it's valid for other uses.

Back to the drawing board.

[2017-09-14 05:28] scottsauber commented on #1293
There is a virtual `Validate` method off of the base class `AuthenticationSchemeOptions` that's not being overridden on `CookieAuthenticationOptions`

Not sure how many people would actually call that... but... it's there.

[2017-09-14 05:33] Eilon commented on #1293
Indeed, more fundamentally, the question is: How bad is this really?

We can very easily document this in the `///` comments for Intellisense and the docs site. I'm guessing a lot of people never set this stuff at all and just use the defaults (which are hopefully somewhat sensible). And hopefully those who set it will see the docs - at least if they see some odd behavior and need to get more info

[2017-09-14 07:36] callranjithkani commented on #1419
I found solution #1521 issue, thanks for the reply @Tratcher  , please admin close this issue

[2017-09-14 07:36] #1419 closed

[2017-09-14 07:52] HaoK commented on #1293
You could also argue that as far as breaking changes go, its not too bad, since this is actually better behavior. Setting the property does nothing, and is basically always developer error  Anyone who sets this really needed to set cookie.ExpiresTimeSpan instead, so the exception would let them know their cookie actually isn't expiring when they expect, instead of silently being ignored...

[2017-09-14 08:09] leastprivilege opened #1425 "[WS-Federation] Implement signout cleanup"
http://docs.oasis-open.org/wsfed/federation/v1.2/os/ws-federation-1.2-spec-os.html#_Toc223175005

It is very similar to OIDC front-channel signout (/signout-oidc) - when the IdP receives a sign-out, it notifies all RPs in the current session by sending them a signout cleanup message. The RPs then delete their own local state (e.g. authentication cookie).

[2017-09-14 13:22] RickBlouch commented on #1293
For what it's worth, from an outside perspective I think  what lead to my confusion was mostly the fact that the same property when set on the `SessionOptions.CookieBuilder` does have an impact on the resulting cookie expiration.  I Initially had session set the way I wanted it, then applied the same settings to the auth cookie only to find that the session cookie was being created as anticipated,

[2017-09-14 15:26] Tratcher commented on #1293
@RickBlouch It's funny you compare it to Session as that has most of the same issues but possibly worse.
A) Setting the cookie expiration violates the definition of a session cookie. Cookies with explicit expiration will not be cleared when the browser is closed.
B) Session has no sliding expiration implementation for its cookie. Your cookie will always expire in the specified two minutes regardle

[2017-09-14 18:34] Tratcher commented on #1378
Related issue to address:
https://github.com/aspnet/Security/blob/488eb44467eb677eab62bdc49aa6255cc1be3119/src/Microsoft.AspNetCore.Authentication/AuthenticationServiceCollectionExtensions.cs#L98-L101
There should be an additional `?? _authOptions.DefaultScheme;` for when DefaultSignInScheme isn't set. That's what was starting some of the stack overlfows by passing nulls.

[2017-09-14 19:07] blowdart opened #1426 "Logout/Invalidate token using JwtBearer"
_From @jcmordan on September 14, 2017 13:7_

Hi, I'm trying to figure out how to implement logout using JwtBearer. I have a login action that create the token like this:

[code]

but now I need an action logout

[code]

_Copied from original issue: aspnet/Identity#1427_

[2017-09-14 19:07] blowdart opened #1427 "How to get current user for web API request ?"
_From @Awd60 on September 6, 2017 17:32_

How to get current user for web API request ?
 this example does not work
var claims = ((ClaimsIdentity)User.Identity).Claims;

_Copied from original issue: aspnet/Identity#1416_

[2017-09-14 19:07] blowdart commented on #1427
How are you authenticating to the webapi?

[2017-09-14 19:07] blowdart commented on #1427
_From @Awd60 on September 7, 2017 8:28_

We are using AAD to register App for WebAPI.  (Active Directory Authentication)

[2017-09-14 19:07] blowdart commented on #1427
And how are you getting the AAD token? What are you doing with it after? How are you sending it with each request to the api endpoint?

[2017-09-14 19:07] blowdart commented on #1427
_From @Awd60 on September 13, 2017 9:19_

We are using standard Azure authentication.
![authentication](https://user-images.githubusercontent.com/30531953/30369536-28a18852-9875-11e7-9d4a-ecf732bab8c6.PNG)
![authentication1](https://user-images.githubusercontent.com/30531953/30369535-2890f2d0-9875-11e7-895f-88bd496a2c2e.PNG)
Application itself does not handle authentication and rely for Azure .

[2017-09-14 19:07] blowdart commented on #1427
_From @Awd60 on September 13, 2017 9:29_

Issue was closed by my mistake

[2017-09-14 19:47] bleepzter opened #1428 "How do you compile the ASP.NET/Security.sln in VS2017 (15.3)?"
I am trying to create a custom implemenation of JWT for my company and for the the life of me I can't compile the Security.sln in Visual Studio 2017 (15.3). How do compile this in Visual Studio?

[2017-09-14 19:59] Tratcher commented on #1428
Start by building from the command line `build.cmd`. That pulls down a lot of dependencies. Then it should work in VS.

[2017-09-14 20:37] Gavvers commented on #1356
@blowdart But how to reuse AuthorizationHandlers across policies/requirements? So far, the only way I can see how to do it is to add the generic type to the derived handler and register it for each requirement.

Consider the below,

- The `AllAccessHandler<TReq>` checks that the user has the required claim and authorizes for any AccessType.
- The `SecureAccessHandler<TReq>` checks that the user ha

[2017-09-14 20:52] HaoK commented on #1356
Handlers are called for all requirements, so you could have a single handler that handles multiple different requirements, instead of a dedicated instance per requirement type.

[2017-09-14 21:55] jkotalik commented on #1428
You may need to also add %USERPROFILE%\\.dotnet\\x64 to your path.

[2017-09-14 22:43] Eilon commented on #1428
Yup, and running build from the command line tells you that as well in a message.

[2017-09-14 22:43] Eilon commented on #1428
I'm closing this issue because this should work. If it's still not working for you after running build, please show us the exact error(s) you're seeing.

[2017-09-14 22:43] #1428 closed

[2017-09-14 22:46] bleepzter commented on #1428
So no. Update the documentation about the env variable. Visual Studio gives
1700 errors because it can't find referred, the projects do not target core
2 or standard 2. It's a nightmare while you are omitting quite important
info for building and ruining this.

On Sep 14, 2017 4:43 PM, "Eilon Lipton" <notifications@github.com> wrote:

[2017-09-14 22:51] Eilon commented on #1427
Azure App Services "Easy Auth" is currently not supported with ASP.NET Core, but we are investigating what it would take to make it work. We'll update this issue when we have news.

[2017-09-14 22:51] Eilon commented on #1426
@blowdart can you provide a response?

[2017-09-14 22:54] Eilon commented on #1425
Seems important to have this per @vibronet.

[2017-09-14 22:56] Eilon opened #1431 "Obsolete unused Authentication.AddScheme/RemoteScheme methods"
See https://github.com/aspnet/Security/issues/1421

[2017-09-14 22:56] Eilon commented on #1421
We'll obsolete them in 2.1 in https://github.com/aspnet/Security/issues/1431

And then in 3.0.0 we'll delete them.

Please post an announcement when we delete them.

[2017-09-14 22:59] Eilon commented on #1417
@blowdart can you take a look at this and offer some suggestions?

cc @vibronet because he also has some thoughts on this.

[2017-09-14 23:01] Eilon commented on #1413
Yup, this exists. See @leastprivilege 's comment.

[2017-09-14 23:01] #1413 closed

[2017-09-14 23:02] jkotalik commented on #1428
To be clear, when you ran build.cmd, did you see an error message? If so what was that exact error message?

[2017-09-14 23:05] blowdart commented on #1426
JWT has no concept of logout, it's all in your hands, especially as you're also the person doing the issuing. So, I guess, you could put a unique token ID in your claims, and hold those in memory until the token they're attached to expires, and if you want to force logout roll that token, and then check it in the JWT TokenValidated event

[2017-09-14 23:06] bleepzter commented on #1428
When ruining the build.cmd i don't get any error messages. But thereafter
opening the solution file in vs2017 (15.3) shows 1700 errors. None of the
projects have target framework, none of the projects have references, none
of the projects can even compile.

On Sep 14, 2017 5:02 PM, "Justin Kotalik" <notifications@github.com> wrote:

[2017-09-14 23:08] blowdart commented on #1417
There is nothing built in and generally we tell people to avoid this like the plague because it's very hard to do securely, because you end up with a single system supporting what is probably different levels of trust depending on the user source, and no real way to tell if a login came from AD, or from random forms.

Two separate deployments is safest. You could also, maybe, if your AD is up to i

[2017-09-14 23:28] jkotalik commented on #1428
Here is a step-by-step guide: https://github.com/aspnet/Home/wiki/Building-from-source. Double check you did all of these steps. It explains the path environment variable issue.

[2017-09-14 23:29] bleepzter commented on #1428
Thank you

On Sep 14, 2017 5:28 PM, "Justin Kotalik" <notifications@github.com> wrote:

Here is a step-by-step guide: https://github.com/aspnet/
Home/wiki/Building-from-source. Double check you did all of these steps. It
explains the path environment variable issue.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/aspnet

[2017-09-15 00:09] Eilon opened #1432 "dotnet run with windows authentication and without httpsys or weblistener"
_From @reft on September 14, 2017 20:25_

## Steps to reproduce
1. Start a new dotnet 2.0 project with windows authentication.
2. dotnet run

## Expected  behavior
Should authenticate user.

Is windows authentication not supported without httpsys or weblistener?
How are you supposed to develop locally when you deploy your app in IIS without httpsys or weblistener. Am I forced to use iis express?!

[2017-09-15 00:10] Eilon commented on #1432
@Tratcher / @blowdart - I believe this is by design because for Windows auth you need IIS or WebListener, right?

[2017-09-15 00:43] blowdart commented on #1432
Correct. No Windows, no Windows auth.

[2017-09-15 00:52] ashgadala commented on #43
Do you have an ETA on when this will this will be addressed.

[2017-09-15 01:09] brockallen commented on #1417
Or you can design around the use of OpenID Connect and use IdentityServer to be your authentication service. IdentityServer can then do this brokering for mixed authentication you're asking for. In fact, we show that in this video: https://mva.microsoft.com/en-US/training-courses/introduction-to-identityserver-for-aspnet-core-17945

[2017-09-15 01:56] pavanbanakar commented on #1409
Hey @Eilon Here is the link for the repository https://github.com/pavanbanakar/cassini

[2017-09-15 03:51] Tratcher commented on #1409
Your basic problem is that IdentityServer4 uses different scheme names for their cookies.
https://github.com/pavanbanakar/cassini/blob/9a26aa6d2a10821de89014b2c8f13d32a38d62fb/Cassini.IDP/Quickstart/Account/AccountController.cs#L110
Should use `IdentityServerConstants.DefaultCookieAuthenticationScheme`
https://github.com/IdentityServer/IdentityServer4/blob/53f20267d9d1858869c7cce1810f8062c2b06c6f/

[2017-09-15 03:53] Tratcher commented on #1432
Correct, your options are IIS, IIS Express, or HttpSys (formerly WebListener).

[2017-09-15 04:03] callranjithkani opened #1433 "User.Identity.Name Returns null"
Hi,
User.Identity.Name Returns null
Have you got answer, me too face this same issue, my SSO proxy developed by asp.net core 1.1 and few client applications also developed by core 1.1 it working fine , if i try to implement 4.5.2 developed client app it authenticated successful , but try to retrieve user name i faced this issue.
, have any idea please let me know

My Code:

    [Authorize]
    pub

[2017-09-15 04:16] danroth27 commented on #43
@ashgadala The work has started. I expect we'll have something in preview before the end of the year.

[2017-09-15 04:55] leastprivilege commented on #1425
I am so happy that Vittorio agrees with me...

[2017-09-15 09:29] omansak opened #1434 "authentication with view component core 2.0"
ASP.NET CORE 2.0
----------------
if this view component invoke after CompanyUserController controller , "User.Identity.IsAuthenticated"(with [Authorize(AuthenticationSchemes=...)]) works fine but invoke after HomeController "User.Identity.IsAuthenticated" (without [Authorize(AuthenticationSchemes=...)]) returns null

This code block works on asp.net core 1.1. but doesnt 2.0 . is this a bug on asp

[2017-09-15 09:33] omansak commented on #1338
@Tratcher

ASP.NET CORE 2.0
----------------
if this view component invoke after CompanyUserController controller , "User.Identity.IsAuthenticated"(with [Authorize(AuthenticationSchemes=...)]) works fine but invoke after HomeController "User.Identity.IsAuthenticated" (without [Authorize(AuthenticationSchemes=...)]) returns null

This code block works on asp.net core 1.1. but doesnt 2.0 . is this a

[2017-09-15 13:25] Tratcher commented on #1434
User should never be null, but may be anonymous. Is it the User property are you seeing is null, or some sub property?

You can get the user via the setting system defaults or you can invoke `HttpContext.AuthenticateAsync` directly in your ViewComponent. Do you have defaults specified in startup?
[code]

You also need `app.UseAuthentication()` in Startup.Configure to process the defaults.

[2017-09-15 13:28] ashgadala commented on #43
@danroth27  Wonderful. Thank you so much for the update.

[2017-09-15 13:28] Tratcher commented on #1433
Why are you accessing `Thread.CurrentPrincipal` but displaying `User.Identitiy.Name`? Note Thread.CurrentPrincipal is not used by ASP.NET Core.

What authentication are you using? OpenIdConnect?

[2017-09-15 13:33] Tratcher commented on #43
The eager can start tracking the work in this branch: https://github.com/aspnet/security/tree/tratcher/wsfed.

The plan is to start by releasing a 2.0.0 compatible preview package off cycle from the normal ASP.NET Core milestones (e.g. ASAP). We'll let you know when something is available on myget.org.

[2017-09-15 13:48] Gavvers commented on #1356
Can you clarify that a bit more?

[code]

In my example, I am handling multiple requirements with `AllAccessHandler`, `SecureAccessHandler`, and `TemporaryAccessHandler` by making them completely generic. `RegularActionHandler` handles only the one requirement. I am unclear how else one can handle multiple requirements in a single handler.

My understanding is that handlers are called for the `TRe

[2017-09-15 13:50] omansak commented on #1434
@Tratcher  no does not work. i have multiple Authentication Schemes .

 Answer :
[code]
[code]

[2017-09-15 14:14] Tratcher commented on #1434
Looks great.

[2017-09-15 14:14] #1434 closed

[2017-09-15 15:17] mhosman commented on #699
The best way is to use OnAuthenticationFailed or a custom Middleware?

[2017-09-15 15:19] #1432 closed

[2017-09-15 19:23] Tratcher opened #1435 "Port SignInScheme fix to 2.0.x"
See https://github.com/aspnet/Security/pull/1422

[2017-09-15 20:11] darrentraffk commented on #1310
In .NET Core 1.X, we had a JWT token authentication setup that included a TokenController responsible for generating tokens, TokenAuthenticationMiddleware that checks for valid tokens, and an ApiAuthorizeAttribute that we would use on specific controllers/methods to check for specific permissions.

In order to get it working with .NET Core 2.0, we did the following.

Updated Startup.cs:

.NET Core

[2017-09-15 21:26] HaoK commented on #1378
b9d9418f6d4fecd8e3b0c60538bb985c15e31fcc

[2017-09-15 21:26] #1378 closed

[2017-09-15 21:53] HaoK commented on #1356
Yup, the generic handler is meant to make handling one requirement easier, but the interface allows handlers to handle whatever requirements they want to

[2017-09-18 03:09] jcmordan opened #1437 "AllowAnonymous to wwwroot (static files)"
Hi I has implemented Authentication with JwtBearer, but now Im getting 401 response requesting the root path of my app:

![image](https://user-images.githubusercontent.com/8495623/30528055-3b220f66-9bfd-11e7-8f78-65e64e68b2ee.png)

How can I allow anonymous access to static files or the full wwwroot folder?
Can you anybody give a hand with this?

[2017-09-18 03:19] davidfowl commented on #1437
What does your Startup.cs look like?

[2017-09-18 03:29] jcmordan commented on #1437
`using Microsoft.AspNetCore.Authentication.JwtBearer;
using Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.Identity;
using Microsoft.AspNetCore.Mvc.Authorization;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Identi

[2017-09-18 04:10] Tratcher commented on #1437
Aren't you missing `app.UseStaticFiles()` in your Configure method?

[2017-09-18 07:26] nickkhan commented on #983
@brentschmaltz  is there code sample for sts handling jwe?

[2017-09-18 11:30] jcmordan commented on #1437
Sorry I had uploaded an outdated version of the file.

[2017-09-18 12:57] heku commented on #1310
@HaoK I think the `Microsoft.AspNet.Authentication.Core` should be `Microsoft.AspNetCore.Authentication`

[2017-09-18 14:55] callranjithkani commented on #1433
@Tratcher

using Microsoft.Owin.Security;

 JwtSecurityTokenHandler.InboundClaimFilter.Clear();
            var cookie = new CookieAuthenticationOptions
              {
                AuthenticationType = "Cookies",
                ExpireTimeSpan = TimeSpan.FromMinutes(20),
              };
            app.UseCookieAuthentication(cookie);
            app.SetDefaultSignInAsAuthenticationType(cooki

[2017-09-18 15:08] jonaskello commented on #1175
FWIW I have run into the same problem.
I have two servers:
1. IdentityServer
2. Mvc Application Server
The servers have a private address and a public address.
The servers are allowed to communicate internally only using their internal addresses.
The servers are not allowed to communicate using their public addresses (for some security reason I don't understand).
The client can only reach the serv

[2017-09-18 18:00] HaoK commented on #1435
@Eilon is this ok to backport to 2.0.1?

[2017-09-18 19:42] generik0 opened #1438 "ASPNETCORE 2.0 ClaimsPrincipal IsAuthenticated but SignInAsync is not IsAuthenticated (and user is null) using cookies"
Hi

I had a ASPNETCORE application using Authentication cookie It was working perfectly with 1.1.
After the changes in 2.0 i have been reading up and down regarding the migration and have changed to:

[code]

I have also changed the signin from the Authenticator to httpcontext signin.
`await httpContext.SignInAsync(actual.ClaimsPrincipal)`
i have also tried with the new:
`await AuthenticationHttpC

[2017-09-18 19:45] HaoK commented on #1438
If you are using identity, you don't need to call AddAuthentication/AddCookie, and you need to sign in using the IdentityConstants.ApplicationCookie scheme

If you don't actually want to use identity, then you should remove the call to `AddIdentity` and then your direct SignIns would match the cookie you added

[2017-09-18 19:47] generik0 commented on #1438
Wow. Fast answer. Thanks.!
A also just added this:
`option.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;

                option.DefaultChallengeScheme = CookieAuthenticationDefaults.AuthenticationScheme;

                option.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;

                option.DefaultSignOutScheme = CookieAuthenticationDefaults.A

[2017-09-18 20:01] Eilon commented on #1435
Yes it is, sorry I missed it. I had already even marked it as approved in my list 😄

This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-18 20:06] generik0 commented on #1438
HI again

I have tried removing AddAuthentication/AddCookie and using IdentityConstants for the identity and signin etc. Doesn't appear to work...

[2017-09-18 20:30] no1melman opened #1439 "JwtBearer and Facebook Authentication"
I've got both these setup:

[code]

I know I have set defaults, but I'm guessing that only intervenes when it can't understand the Authorization header.

So my JavaScript does this:

[code]
So, it should be pushing the `Authorization=Facebook {access_token}` to the backend, and I expect it to then use the FacebookAuthenticationHandler to do authentication.

A) I can't understand from your source c

[2017-09-18 20:39] HaoK commented on #1435
Merged 5035359253674c8cb30d36b39d14c4b3a79692f1 into feature/2.0.1

[2017-09-18 20:41] Tratcher commented on #1438
When precisely is `HttpContext.User` null? Note that property should never return null but it may return an anonymous user. Are you checking it on this same request, on the next request, etc.?

[2017-09-18 20:46] HaoK commented on #1439
[Authorize] uses the DefaultChallengeScheme when you don't specify a scheme in the attribute.  There's no way for a remote auth scheme like Facebook to sign in via a bearer token, only cookies supports sign in of the built in auth schemes

[2017-09-18 20:51] no1melman commented on #1439
I'm not trying to sign in via Facebook, I've already done that using `Fb.login()`, I'm just trying to get the Facebook OAuth Handler to verify that the token it has received is legit.... and then get the creds from the Facebook Api. If that isn't the proper flow - how do you get facebook to accept a callback url that is the Facebook Options Callback?

[2017-09-18 21:15] HaoK commented on #1439
I don't believe the OAuth handlers are designed to be able to validate tokens that you got yourself in this way, @Tratcher is there any way he can reuse anything to accomplish this?

[2017-09-18 21:33] Tratcher commented on #1439
No, our oauth providers don't work like that. They only support the fully interactive redirect flow. Once you have retrieved the token in javascript you can use it directly to get the user information.

[2017-09-18 21:46] no1melman commented on #1439
Is there proper documentation on getting this flow to work?!

[2017-09-18 21:47] Tratcher commented on #1439
The JS flow is unrelated to the server, you just use the Facebook JS SDK in client code.

[2017-09-18 21:50] no1melman commented on #1439
Thats the part I'm having trouble with, I'm using the FacebookJs SDK, but that isn't invoking the oauth callback.

[2017-09-18 21:56] Tratcher commented on #1439
Which callback would that be? That should all be local to the client, e.g. in a pop up or IFrame, it shouldn't be invoking a callback on your server.

[2017-09-18 22:08] no1melman commented on #1439
It would appear that the external logins only seem to work with MVC, not with a SPA. With MVC there is a flow to do ChallengeAsync where you pass in the provider (a.k.a Facebook) - and I'm guessing from there the provider does all the work with redirecting etc.

So I'm guessing that in order to use the FB i would have to write my own middleware that used the FB access token endpoint to authorise a

[2017-09-19 07:45] generik0 commented on #1438
Hi Chris
Thanks for re-openning. I did feel there was a little loose end here.
Forst i should mention that i have followed [https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x](url) from top to toe.

I am not using any 3rd party integrations (facebook, google, etc.) only pure identity.

What i am noticing in the ClaimsPrincipalFactory is that when the ClaimsIdentity is crea

[2017-09-19 09:16] HaoK commented on #1438
SignInManager always will sign in to IdentityConstants.ApplicationScheme.  What exactly are you trying to do?  Are you trying to sign in cookies yourself/not use SignInManager?

DefaultAuthenticateScheme is what controls which scheme's identity gets set to httpContext.User by default, `AddIdentity()` sets this to IdentityConstants.ApplicationScheme.

If you don't want the application cookie, you c

[2017-09-19 10:06] generik0 commented on #1438
Hi Hao
Thats fine that it always uses "IdentityConstants.ApplicationScheme".

However, as far as i could test without the "option.DefaultSchemeXxxx" changes to the service colleciton for AddAuthentication extension  the HttpContext SignIn does not work with the claimsPrincipal, and then there is nothing added to HttpConext.User

This was working in 1.1. And i do feel MS has broken something here.

[2017-09-19 11:31] wgutierrezr commented on #1412
Hi
I have the same issue after the upgrade and I'm not using another middleware. Any advice, please?

[2017-09-19 13:30] RobinHerbots commented on #1412
@wgutierrezr ,

Try commenting all in startup | configureservices, then uncomment until you got the error.
This will give some direction to where to look.

[2017-09-19 16:12] Tratcher commented on #1439
Why a middleware vs a Controller Action?

[2017-09-19 16:34] nukec opened #1440 "Move OpenIdConnectAuthentication from Startup.cs to custom middleware"
I have this part of code in Startup.cs to register open Id and it works:

        app.UseCookieAuthentication(new CookieAuthenticationOptions()
        {
            AuthenticationScheme = "Cookies",
            CookieName = Configuration.GetSection("AppSettings:OpenIdAuthentication:CookieName").Value
        });

        var openIdConnectOptions = new OpenIdConnectOptions()
        {

[2017-09-19 16:38] wgutierrezr commented on #1412
Hi @RobinHerbots
I remove the lines for cookie configuration and this error disappears but I have another when run the app:
`InvalidOperationException: The entity type 'IdentityUserLogin<int>' requires a primary key to be defined.`

Any help, please?

[2017-09-19 16:43] Tratcher commented on #1440
You can't modify the pipeline after startup. That said, there's a new mechanic in 2.0 where you can add new authentication handlers dynamically. Start by migrating over to 2.0 and then we can go through the details.

[2017-09-19 17:39] no1melman commented on #1439
Because I'm working in the SPA world, so my ASPNET app is just a REST service. Secondly I don't like using the attributes, I prefer the middleware approach where the path of my requests and responses are very prescribed. I don't see why this offering can't be in middleware and why it has only been build for the MVC world, but there you go

[2017-09-19 17:57] Tratcher commented on #1425
AAD appears to support this, you can define a Logout Url in the portal. However, I cannot find the right IDP endpoint to trigger this the single signout.

[2017-09-19 20:04] brentschmaltz commented on #983
@nickkhan are you referring to creating a JWE?

[2017-09-20 07:30] nukec commented on #1440
@Tratcher thanks for reply. I didn't know that adding something in middle-ware type and include it inside of Startup.cs is "after" startup. Isn't this happening at the same time as Startup.cs is actually initializing, or does authentication registration has to happen in Startup.cs methods itself and not possible to put as I put in middle-ware and include in Startup? I don't really understand what

[2017-09-20 13:46] nukec commented on #1440
@Tratcher I resolved this without 2.0.

[code]

Then create new factory for each partner and call like this:
[code]

[code]

[2017-09-20 13:59] Tratcher commented on #1440
Clever.
You missed an else if currentPartner == null, you likely want to call _next. Otherwise you'll return an empty 200.

[2017-09-20 14:01] Tratcher commented on #1440
And here's the 2.0 dynamic scheme sample: https://github.com/aspnet/Security/blob/1367a5d3858d4446c126940fe5c26267d0ac2512/test/Microsoft.AspNetCore.Authentication.Test/DynamicSchemeTests.cs#L140-L142

[2017-09-20 16:30] Tratcher opened #1443 "Anti-xsrf plus opt-out for WsFed"
WsFed has historically not used anti-xsrf cookies because it supports unsolicited logins. However anti-xsrf cookies could be used if there was an opt-out option for applications that required support for unsolicited logins.
https://github.com/aspnet/Security/pull/1441#issuecomment-330873428

@brentschmaltz how common is it for apps to rely on unsolicited logins?

[2017-09-20 16:49] bleepzter opened #1444 "Requests With Custom Bearer Token Dropped/Not Processed"
I created a simple AuthenticationHandler based on Jwt. The only difference is that the token I generate is based on a key coming from a certificate. The clients get issued  a token and they relay that token with every request in the Authorization header. The value of the header is similar to JwtBearer token where the word "Bearer "  is concatenated with the token.

To process the token from the he

[2017-09-20 16:52] PinpointTownes commented on #1443
Common or not, it should definitely be opt-out. XSRF/session fixation attacks are too dangerous to ignore them by default.

[2017-09-20 16:57] PinpointTownes commented on #1443
BTW, it might be interesting to backport such a security feature to Katana 4 :sweat_smile:

[2017-09-20 17:04] Tratcher commented on #1443
Frequency matters because if all apps need to allow unsolicited logins then this feature is counter productive.

[2017-09-20 19:09] #1431 closed

[2017-09-21 02:48] alexvy86 commented on #1310
Anyone has any ideas on the following? I'm using Cookies and Jwt for different parts of my app, with Cookies being the DefaultAuthenticationScheme. I also have a custom middleware that checks if `HttpContext.User.Identity.IsAuthenticated` is true, to grab information from the claims and bulid an app-specific Context object (like an HttpContext) to be injected into my Controllers, Services, etc. Th

[2017-09-21 03:38] mmillican commented on #1338
@HaoK We had recently been working on a use case as defined in #1327 and I had the following working in pre 2.0.  I've been trying to migrate to 2.0 and can't seem to get authentication to work as it did before.  Currently, it's authenticating with my ID provider, but I'm not getting my cookie set as I'd expect (this was being done by Identity previously).

**Pre-2.0 auth code**
[code]

**Current

[2017-09-21 03:40] Tratcher commented on #1338
Remove this part:
[code]
AddIdentity does that for you but uses different values.

[2017-09-21 03:56] mmillican commented on #1338
OK, I removed those.  I think I have another issue as well.

When the request comes back from my IDP (Identity Server 4), it's doing a `POST` to `/signin-oidc` which seemed to have worked pre 2.0.   Did something change with this?

[2017-09-21 04:54] Tratcher commented on #1338
Sounds like you're missing `app.UseAuthentication()` in Configure. The middleware still needs to be there to handle callbacks.

[2017-09-21 13:14] mmillican commented on #1338
I just double checked and I do have that - I thought maybe it was accidentally removed with some refactoring I did.

[2017-09-21 13:29] mmillican commented on #1338
That's apparently resolved now (honestly not sure what I changed).  Now dealing with issues related to claims as discussed in #1383.

[2017-09-21 13:35] mmillican commented on #1383
FYI in my specific case it was `family_name` claim that was an array and not a string.  It would be great if we could see a better error message related to this.

[2017-09-21 22:38] jesomm opened #1447 "help with converting multiple cookie auth 2.0"
I've tried reading the docs, but I think I'm missing something here about how to convert our multiple cookie auth flow. We have 3 different cookie types which we successfully auth against (1 per request) in aspnet 1.1.2. However, I'm not able to successfully authorize with any of the three cookie types with the following code example. (If I set a default and switch back to naked `[Authorize]`s, it

[2017-09-21 22:41] HaoK commented on #1447
When you say "not hitting automatic auth for any of the three cookie types" what do you mean exactly?

In 2.0, there is no longer any automatic challenge, and automatic authenticate is only done with a single DefaultAuthenticateScheme as you have discovered.

[2017-09-21 22:42] HaoK commented on #1447
It looks like all you want, is Authorize to succeed if you have any of the 3 cookies, is that basically it?

[2017-09-21 22:42] jesomm commented on #1447
yes, that's right.

[2017-09-21 22:56] jesomm commented on #1447
if this is already documented, can you point me to where I can get more info about how to trigger the automatic challenge for all three or to manually configure the challenge middleware to check against any of these three?

[2017-09-21 23:07] HaoK commented on #1447
There's no such thing, you need to trigger challenge explicitly in 2.0.  You can't challenge 3 cookies at once.

This works for me (using a new 2.0 app with no authentication, add 3 sign in actions which sign in each cookie, and add authorize to About, any 3 lets you access the about:

Startup.ConfigureServices:
[code]

HomeController.cs
[code]

[2017-09-22 13:16] PinpointTownes commented on #1443
Luckily, not all apps need IdP or third-party initiated login (which is not the most common case from what I can say based on my own experience).

JSYK, the OASIS committee decided in 2012 to add an errata to the SAML2 specification to encourage implementations to offer a way to reject unsolicited assertions when it became clear that it represented a real security threat:

http://docs.oasis-open.o

[2017-09-22 18:23] #1435 closed

[2017-09-22 19:10] Tratcher opened #1448 "OIDC should use AuthenticationProtocolMessage.BuildFormPost()"
When OIDC does redirects using the FormPost mode it generates an HTML form redirect.
https://github.com/aspnet/Security/blob/31dd4ebd9c0c26fc9592aa08d7fb3804bf34011b/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L237-L252

However, `AuthenticationProtocolMessage.BuildFormPost()` already has this code so we can remove our redundant copy.

[2017-09-22 20:06] PinpointTownes commented on #1448
This doesn't sound like a good idea.

When I introduced POST authorization requests support in the OIDC middleware 2 years ago, I deliberately avoided using `BuildFormPost()` for a simple reason: [it was - and is still - broken as it URLencodes the form action attribute](https://github.com/aspnet/Security/pull/392#r36568911).

[2017-09-22 22:05] Tratcher commented on #1448
Fair, but we can fix it first.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/755
@brentschmaltz

[2017-09-22 22:31] #942 closed

[2017-09-23 07:24] rcladmin opened #1449 "OIDC, I cannot add extra claims from userinfo endpoint"
In ASPNET Core 2.0, extra claims from the userinfo endpoint are not added to User.Claims in a MVC Client application. This worked in Core 1.1, what am I doing wrong? All I am getting is sid,sub,idp and email , all the other claims (including my custom claims) from the userinfo endpoint is missing. I checked the access_token int jwt.io and all the claims are there.

[code]

[2017-09-23 12:11] Tratcher commented on #1449
I wouldn't expect any differences. If you hook into Events.OnUserInformationReceived can you share the resulting json (see .User)?
https://github.com/aspnet/Security/blob/5abcfe7e3d78f777d45503b50de5cea17cf9aa5e/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/Events/OpenIdConnectEvents.cs#L64

[2017-09-23 19:19] rcladmin commented on #1449
The .User in Events.OnUserInformationReceived does show the additional claims as 'Children' tokens. However, these additional claims do not seem to be added to the Identity. I end up with only the claims from the original id_token and not the access_token.

I realised that if I removed 'hybrid' flow and delete the property o.ResponseType = "code id_token";
an changed the flow to 'implicit' it work

[2017-09-24 05:56] prosser opened #1450 "Substring match should be case-insensitive"
https://github.com/aspnet/Security/blob/5abcfe7e3d78f777d45503b50de5cea17cf9aa5e/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L75

The outer check is case-insensitive, but the inner String.Substring call is not.

[2017-09-24 06:10] Tratcher commented on #1450
That's just a length check, there's no character comparison there too make case insensitive.

[2017-09-24 20:53] MeikelLP opened #1451 "Role Authorization not working when changing role."
### Scenario
I have a user A and a user B.

#### Work
* A was in role "Admin" -> no role (removed all roles).
* B was never in any role -> no role.

#### Result
* A has still access to features for "Admin"s.
* B does not.

#### Info
* Authorization via `[AuthorizeAttribute(Roles = "Admin")]`
* Roles removed via `UserManger.RemoveRolesAsync(user, role)`

### Code (irrelevant snippets hidden <- in m

[2017-09-24 21:54] Tratcher commented on #1451
Is it fixed when user A logs out and logs back in? A lot of the user information is cached in the auth cookie, which is what the Authorize attribute checks.

@HaoK how do you trip the single sign-out flag to invalidate the cookie?

[2017-09-25 02:47] brentschmaltz commented on #1448
@Tratcher @PinpointTownes ,  @616b2f fixed OIDC 755

[2017-09-25 06:36] MeikelLP commented on #1451
@Tratcher Yes it is fixed once re-login!

Isn't that a **security issue**? If a user stays admin until he logs out, although he hasn't the role anymore??

[2017-09-25 08:16] aqbjteddy commented on #1419
@callranjithkani hi, I got that problem too, state value is too long, where is #1521 issue? Can you give a link? Thanks.

[2017-09-25 09:10] HaoK commented on #1451
The `UserManager.UpdateSecurityStampAsync(user)` method is what triggers invalidation of that users cookies next time its validated

[2017-09-25 10:49] MeikelLP commented on #1451
So one has to call `UserManager.UpdateSecurityStampAsync(user)` when updating roles? Why isn't this automatically?

[2017-09-25 12:09] callranjithkani commented on #1419
@aqbjteddy

Link: https://github.com/IdentityServer/IdentityServer4/issues/1521

[2017-09-25 14:52] Gimly opened #1452 "JWT Bearer middleware giving current time in the future"
I have a very strange behavior with the JWT bearer middleware. I'm developing a .net core 2.0 app that uses Keycloak as an identity provider and I'm using the jwt bearer middleware to secure my application.

When I was working in debug mode everything was working as expected, but now that I moved to a production server, I can't get it to work correctly, I'm always getting a `SecurityTokenExpiredEx

[2017-09-25 15:18] Tratcher commented on #1452
What time zone are all of these clocks and dates in?

[2017-09-25 15:39] Gimly commented on #1452
They are all set at UTC+01 (Amsterdam, Berlin, Bern, ...) the Keycloak server is a linux server, but I don't think that has any impact since the exp property in Unix time is correctly set in the jwt token.

[2017-09-25 17:31] yosbeleg89 commented on #1449
I have exactly the same problem with the same configuration of @rcladmin. I resolved setting `AlwaysIncludeUserClaimsInIdToken = true` in the client configuration on the IdentityServer4 side, so it is not being obtained from the userinfo endpoint.

[2017-09-26 02:12] rcladmin commented on #1449
These are my findings:

1. 'Implicit' flow (response type : id_token) gets all the claims in the id_token (there is no access_token here) and is added to the identity. However, this flow does not cause a request to userinfo endpoint. Therefore, AlwaysIncludeUserClaimsInIdToken = true has no effect in the implicit flow. This works.

2. Hybrid flow (response type: code id_token) gets claims from id_

[2017-09-26 08:03] Gimly commented on #1452
@Tratcher I don't think this issue has anything to do with the time zone, I've left the server up during the night and now it's 15 hours in the future, the distance between the real hour and the hour returned by the error message gets bigger and bigger.

![image](https://user-images.githubusercontent.com/168669/30848412-62098250-a29f-11e7-99db-995d2473bb2b.png)

I did more research, and first I tr

[2017-09-26 12:04] altair256 opened #1453 "Net Core 2.0, Openiddict 2.0 and social providers User.Identity.IsAuthenticated is always false"
Hello! When I updated project to net core 2.0 and openiddict 2.0 I get error when trying login with social provider. I get all data but still not authorized. User.Identity.IsAuthenticated is always return false. This happened only with social prover. Internal login work fine.

Statrup.cs
[code]

PersonsController.cs
[code]

Can you tell me what might be the problem? Me was told that the problem ma

[2017-09-26 13:37] Tratcher commented on #1452
Try https://github.com/dotnet/corefx

[2017-09-26 13:47] Gimly commented on #1452
I've opened an issue directly in the coreclr repository since that's where DateTime is implemented.
https://github.com/dotnet/coreclr/issues/14187

Closing this issue since it's not really the root cause of the problem I'm facing. Thanks for your help @Tratcher .

[2017-09-26 13:47] #1452 closed

[2017-09-26 13:56] #1450 closed

[2017-09-26 13:57] blowdart commented on #1443
damnit I agree with @PinpointTownes

[2017-09-26 14:28] PinpointTownes commented on #1443
We really need to do something to stop that... :trollface:

[2017-09-26 21:54] Tratcher commented on #1443
Offline notes: @brentschmaltz also swore and agreed with @PinpointTownes.

[2017-09-26 22:45] Tratcher commented on #1453
Calling both AddIdentity and
[code]
is likely your issue, as Identity also sets these defaults. Try removing your defaults.

[2017-09-26 22:53] Tratcher commented on #1449
Ok, I know what's different here. See https://github.com/aspnet/Security/pull/1124#issuecomment-280079805. 2.0 no longer adds all possible information from the user-info endpoint, it was causing major cookie bloat leading to login issues. There is now a system called ClaimActions where you can select which elements you want to map from the user info doc to claims. See OpenIdConnectOptions.ClaimAct

[2017-09-26 23:17] Tratcher commented on #1407
@darickc can you share the urls accessed for the metadata and the token endpoint? Are they public?

[2017-09-27 04:03] rcladmin commented on #1449
@Tratcher

Hey, It works! Thanks for your help. For those having the same problem this is my code.

1. Use 'hybrid' flow
2. Add the claims you want to include with  `o.ClaimActions.MapJsonKey`

[code]

[2017-09-27 04:03] #1449 closed

[2017-09-27 08:27] balkarov commented on #1449
@Tratcher
Hi everyone!

I have the same issue but I try to include array (role claim).
So when I try to
`ClaimActions.MapJsonKey("role", "role")`
I get the Exception:

I tried to use MapCustomJson but I don't know how to return the array, threre is only string return type, not the List<string>
`ClaimActions.MapCustomJson("role", jObject => string.Join(',', ((JArray) jObject["role"]).ToObject<List<

[2017-09-27 10:47] fido9dido opened #1454 "ClaimsTransformationContext is not recognised in ASP Core 2.0.0"
The following code is not recognized in asp mvc core 2.0.0

` app.UseClaimsTransformation`

both UseClaimsTransformation and ClaimsTransformationContext  is  not recognized

[code]

What I'm doing wrong?!

[2017-09-27 11:00] altair256 commented on #1453
Thanks for answering. But I already tried to remove it. User.Identity.IsAuthenticated is still false, for the external provider and stops working, the internal login (User.Identity.IsAuthenticated is false too). This project I use jwt.

[2017-09-27 11:01] tverboon commented on #1454
In 2.0.0 it isn't middleware anymore. Reason is we are now able to use dependency injection.

To use ClaimsTransformation, register it in the service collection:

[code]

And have a transformer class:

[code]

[2017-09-27 11:25] uringeller opened #1455 "OpenId Connect JWT as client secret (for ADFS)"
Hi, we are using your Microsoft.AspNetCore.Authentication.OpenIdConnect middleware to connect a client to an AD FS 2016 server using a shared secret, but we would like to authenticate the client using a certificate based secret instead.

To our understanding, AD FS accepts a signed JWT as a secret, and it is possible to configure ADFS to manually set or periodically download a certificate or a pub

[2017-09-27 11:59] fido9dido commented on #1454
ah thanks

[2017-09-27 11:59] #1454 closed

[2017-09-27 14:04] Tratcher commented on #1449
The existing extensions are for simple one-to-one json values to claims. In your case role is an array. Do you want that array stored as a single claim? If so you can just call ToString on it.

If you want multiple claims then you can create your own ClaimAction that does that.
https://github.com/aspnet/Security/blob/5abcfe7e3d78f777d45503b50de5cea17cf9aa5e/src/Microsoft.AspNetCore.Authentication.

[2017-09-27 14:17] blowdart commented on #1455
We use the libraries provided to us by the AD team. @brentschmaltz do you expose this and we're just missing docs, or is it not possible right now?

[2017-09-27 15:50] darickc commented on #1407
They are public, but my boss would rather I didn't post them here, is there another way I can send it to you?

[2017-09-27 16:01] Tratcher commented on #1407
You can e-mail it to the address in my profile.

[2017-09-27 18:22] rcladmin commented on #1449
@balkarov

Get the roles as a string[] : `o.ClaimActions.MapCustomJson("role", jobj => jobj["role"].ToString());`

This will return something like this example: "role" : ["Admin", "User", "Reader", "Contributor"]

[2017-09-27 19:17] Tratcher commented on #1407
I'm using HttpClient on Win10 and .NET Core 2.0. I don't get quite the same error against your urls, but close. The first request succeeds and the second one fails.
[code]

Multiple Get requests to your urls work, it's only the POST request that fails, and only if it's after a GET request.

If I drop down to sockets then I see that the first request works fine and then I get disconnected after sen

[2017-09-27 19:17] yosbeleg89 commented on #1449
It worked for me too. Thanks @Tratcher

[2017-09-27 19:18] brentschmaltz commented on #1455
ADAL has an API that allows you to specify an X509 Cert OR create a signed JWT yourself.

@uringeller Is this what you are looking for?

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/180c9f2d87fb687cbf121bc28258de3d12c1bb15/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Features/WinCommon/AuthenticationContextIntegratedAuthExtensions.cs

https://www.nuget.org/packag

[2017-09-27 20:04] brentschmaltz commented on #1443
@Tratcher I did :-)

[2017-09-27 21:21] darickc commented on #1407
Interesting.  I'm not sure what we can do on the server side.  It is WSO2 and we are a little limited right now on linux admins being more of a .Net shop.  Making .NET Core more resilient would be nice though.

[2017-09-27 21:57] Tratcher commented on #43
Reminder - Apply this change when moving to 2.1: https://github.com/aspnet/Security/issues/1188

[2017-09-27 22:01] mrjavaguy opened #1456 "Losing Cookies from login redirect with Core 2.0 (worked in 1.1)"
We have a slightly unusual use case. Our application runs inside an iframe of a third-party site. They post to our login url, we do some validation on our side and set a cookie. This all worked fine in 1.1 however when we upgraded to 2.0, the auth cookie (and the culture cookie) are no longer going a long for the ride on the redirect. I can see the cookies being set in fiddler on the redirect, but

[2017-09-27 22:04] Tratcher commented on #1456
If the IFrame is hosted by a different domain then you may be affected by the new cookie samesite setting. The default is lax, but for your scenario you may need to disable it entirely. See CookieAuthenticationOptions.Cookie.SameSite.

[2017-09-27 22:06] brockallen commented on #1456
FWIW, in IdentityServer we had to disable same site cookies because of this.

[2017-09-27 22:27] mrjavaguy commented on #1456
I do not think this is the issue as the simple repo is a plain MVC app. Also I just tested by adding `options.Cookie.SameSite = SameSiteMode.None;` and got the same results (the cookie not longer has `samesite=lax` in it).

[2017-09-27 23:00] mrjavaguy commented on #1456
Spoke too soon, apparently fiddler does not pass cookies on redirect., Postman doe. Simple repo works as expected. Trying main application now (takes awhile to deploy).

[2017-09-28 03:18] mrjavaguy commented on #1456
Closing this issue as fixed with `SameSite = SameSiteMode.None`. Thanks for the help. @Tratcher @brockallen

[2017-09-28 03:18] #1456 closed

[2017-09-28 08:33] balkarov commented on #1449
@Tratcher thank you! It is work for me.
But why microsoft did not add "Role" claims by default in Asp Core ? I this "Role" is very popular claims.

[code]

And after

`o.ClaimActions.Add(new JsonKeyArrayClaimAction("role", "role", "role"));`

And after I can use `User.IsInRole`

[2017-09-28 10:26] uringeller commented on #1455
Hey! Our client is a IdentityServer4 (running on asp.net core), and the identity provider is an AD DS with an AD FS (2016) as the STS.
We've considered generating the JWT ourselves, but wanted to check if you had any plans for a feature that supported this in the middleware itself (or by using some API) - or if something already existed.

I'm not sure if I understand you correctly @brentschmaltz,

[2017-09-28 15:59] brentschmaltz commented on #1455
@uringeller I am pointing out that you can use ADAL to obtain a token from the 'token endpoint'. There are two API's, one takes a JWT that you create (with we need to improve IdentityModel) OR you can pass an X509Certificate2 and ADAL will create the JWT for you. ADAL does not generate JWT for you, but does so internally before calling the 'token endpoint'.

I am not following the OnRedirectToIden

[2017-09-28 16:00] rcladmin commented on #1449
@balkarov

I had the same question about Roles and Claims and this is what I found out:

1. Claims are preferred for authorization than the traditional Membership/Roles we used in the past
2. Microsoft has provided a new table in Identity called RoleClaims as a 'fix' for traditional users of asp.net identity roles. Its mainly for backward compatibility.
3. **Authorization Policy** is based mainly

[2017-09-28 21:04] #1398 closed

[2017-09-28 21:28] FruitAndAShape opened #1458 "When creating an AuthorizationHandler it doesn't use custom dependency injection container"
[code]

`IUserIdentifierProvider` is in my Unity container but the system can't find it when it's creating `AuthHandler`. If I add...

`services.AddTransient<IUserIdentifierProvider, UserIdentifierProvider>();`

it works.

My theory is that whatever is creating the `AuthHandler` has retained a reference to the system's collection of services and is using that instead of my Unity container.

[2017-09-28 21:36] Tratcher commented on #1458
You can start to backtrack the services here:
https://github.com/aspnet/HttpAbstractions/blob/321639b0eb2098a6fe3b0d763f48ac3ed025a688/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationHandlerProvider.cs#L52-L53

[2017-09-28 21:53] FruitAndAShape commented on #1458
Thanks but I think I've wasted enough time on this already. :)

[2017-09-29 03:16] Jingkun-Hu opened #1459 "What is the best practice for expressing organization and hierarchy?"
A man can be client service manager. And there should be several client service teams with a manager in each team. Sometimes, client service team A has some resource only A manager can access. And People in higher rank have permissions to access the resource. It seems to be resource-based authorization. I have ideas on solution. But I am not sure it the best practice. I need some suggestions from

[2017-09-29 08:56] uringeller commented on #1455
Haha, at least now I understand that I dont understand well enough to form meaningful questions :)

Thanks for your help!

[2017-09-29 08:56] #1455 closed

[2017-09-29 16:12] Tratcher commented on #1453
@PinpointTownes is this a scenario you have a sample for?

[2017-09-29 16:45] PinpointTownes commented on #1453
@Tratcher not really. The OpenIddict samples that include both cookies authentication (for interactive views) and token authentication (for API controllers) don't override the default schemes set by Identity because it's totally unusable in practice (e.g the antiforgery service relies on `HttpContext.User` and all the actions protected by `[ValidateAntiforgeryToken]` throw an exception stating tha

[2017-09-29 18:58] altair256 commented on #1453
I've just tried to create a custom schema provider for emulating routing authentication, as @PinpointTownes said and remove defaults
[code]
But for a social provider this does not work whatever. Internal login work fine.
When i try login via external provider i got exception:

![image](https://user-images.githubusercontent.com/3997002/31031113-6a7137d0-a560-11e7-829e-2f259c64b37b.png)

[code]

Exc

[2017-09-29 19:05] HaoK commented on #1453
Social logins don't automatically end up on HttpContext.User.  Which is why User.Identity.IsAuthenticated is false.  They end up on the "Identity.External" cookie by default.

You probably can just eliminate that check for IsAuthenticated and then the external flow will just work

[2017-09-29 19:52] altair256 commented on #1453
@HaoK Thank you! After remove User.Identity.IsAuthenticated external flow work fine.

[2017-09-29 21:36] altair256 commented on #1453
Sorry, but the [Authorize] attribute still does not work for an external provider. I received a 401 error (Unauthorized)

[2017-09-29 21:45] HaoK commented on #1453
It won't, because that also works against HttpContext.User by default, how the templates normally work, is external login callback given the external identity, looks up the associated user with that external login in identity, and logs in via the normal application cookie, which `[Authorize]` will see.

[2017-09-29 22:13] altair256 commented on #1453
Sorry. but I do not quite understand. I use the CustomAuthenticationSchemeProvider, it uses the auth cookie for the external provider. Or should I use the information received from an external prvider for this user, and authenticate it as internal?

[2017-09-29 22:26] HaoK commented on #1453
I'm not completely clear on how you have everything configured, but the gist of it is `[Authorize]` looks at context.User by default, and for the same reason that `User.Identity.IsAuthenticated == false`, `[Authorize]` also won't work.  As @PinpointTownes mentioned, you probably need to specify exactly what scheme you are trying to authorize against: `[Authorize(AuthenticationSchemes = "Bearer")].

[2017-09-29 22:33] altair256 commented on #1453
I try set [Authorize(AuthenticationSchemes = "Bearer")] - for external provider. does not work. I use jwt for internal login.

[2017-09-30 11:09] adnan-kamili opened #1460 "Tokens with no expiration are not allowed #470"
I am implementing personal access tokens (JWT) as a replacement for Api Key. The token is issued by a separate endpoint (not openiddict).

I have kept the structure similar to the jwt tokens issued by the openiddidct token endpoint.

Everything works fine, but if I create a personal access token with no expiry (no exp claim), openiddict middleware rejects the request:

`"www-authenticate": "Bearer

[2017-09-30 11:09] adnan-kamili commented on #1460
https://github.com/openiddict/openiddict-core/issues/470

[2017-10-01 13:43] dgstpierre opened #1461 "Custom Authentication dependency injection"
I'm trying to move custom auth code from 1.0 to 2.0 and am not seeing how to do dependency injection so I can use it in HandleAuthenticateAsync().

In ConfigureServices I have the following:
            services.AddAuthentication(o =>
            {
                o.DefaultScheme = "LicenseKeyScheme";
            }).AddLicenseKeyAuthentication("LicenseKeyScheme", "License Key Scheme", o => { });

[2017-10-01 14:12] adnan-kamili commented on #1460
Setting `RequireExpirationTime = false` in `TokenValidationParameters` fixed the issue

[2017-10-01 14:12] #1460 closed

[2017-10-01 20:30] MichalJankowskii opened #1463 "Net Core 2.0 connection to AAD B2C - WebAPI Authentication issue - Authorization failed for the request at filter"
I am trying to build solution in .net Core 2.0 and use AAD B2C for authentication. Is it MVC application with separated WebAPI project. And I have problem with token validation in WebAPI layer. Probably I missed something.

I managed to build similar solution with net Core 1.0 and everything works like a charm. In case on net Core 2.0 I managed to authenticate user only in WebApp layer.

Below you

[2017-10-02 00:14] POFerro opened #1464 "AuthenticateAsync and TransformAsync should only be called once by request"
Hi,

After defining a IClaimsTransformation class to perform some logic and load aditional claims I realized that this method is called many times per request.
Since the authentication process and claims loading might carry some weight is there a way to have this done only once per request.
Why is this done this way? Once a RequestPrincipal is authenticated and loaded why is there a need to authen

[2017-10-02 09:04] damienbod opened #1465 "Policy which requires data from the request body, query"
I have requirements which requires me to return a 401 or 403 if the request identity is not allowed to access a resource. The resource id is sent in the request in the body or as an id in the query string.

Can I implement this in a Policy, AuthorizationHandler, IAuthorizationRequirement? How can I access the body, querystring?

Or do I have to use ActionFilters to support this?

If not what is th

[2017-10-02 12:32] epignosisx commented on #1465
The last section of this doc page covers it:

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies#security-authorization-policies-based-authorization-handler

[2017-10-02 13:45] brockallen commented on #1464
dup: https://github.com/aspnet/Security/issues/1399

[2017-10-02 18:18] dgstpierre commented on #1461
My mistake, have it working, I was missing a nested dependency.

[2017-10-02 18:18] #1461 closed

[2017-10-03 07:42] damienbod commented on #1465
@epignosisx This does not work for the post with data in the body. So it looks like I have to use ActionFilters to implement my security logic instead of Policies with the AuthorizationFilter. pity.

[2017-10-03 17:48] epignosisx commented on #1465
You should be able to access the HttpContext once you cast the resource to AuthorizationFilterContext. See below.

[code]

[2017-10-03 19:19] nickkhan commented on #983
@brentschmaltz  yes.

[2017-10-04 12:50] gentledepp commented on #1179
Will that refactoring make it possible to create authentication providers per tenant and during runtime?
I just read about how you can create separate aspnet pipelines using saaskit here [Multi-tenant middleware pipelines in ASP.NET Core](http://benfoster.io/blog/aspnet-core-multi-tenant-middleware-pipelines)

This works, but as far as I understand, you will need to restart the web application, wh

[2017-10-04 15:17] altair256 commented on #1453
After add in my controller ``` await UserManager.AddLoginAsync(user, info);  ``` attribute [Authorize] work fine. Thanks @HaoK. But main  problem is still.
Example I have action in controller decorated [Authorize] attribute
[code]

How can I access this action if I login internal (jwt) and external (google, facebook, etc) providers?

[2017-10-04 15:30] Tratcher commented on #1179
Yes, see https://github.com/aspnet/Security/issues/1338

[2017-10-04 15:32] Tratcher opened #1466 "ASP.NET Core 2 Jwt Auth with Azure B2C // IDX10500: Signature validation failed. No security keys were provided to validate the signature."
_From @VSDekar on October 4, 2017 7:0_

I am facing an issue with Jwt Authentication.

I have an ASP.NET Core 2 WepApi which also serves my SPA App (Its a Vue-App) The SPA App gets the Token from Azure B2C via the MSAL.js library from Microsoft.

When i hit the WebApi where i need to Authorize i get the following error:

[code]

In the browser i get a 401
[code]

I face the very same issue with th

[2017-10-04 16:05] gentledepp commented on #1179
oh great - so it seems that this is already part of the 2.0 release,
correct?

Are there any tutorials how to create web app with authentication providers
configured per tenant? (Please?)

Am 04.10.2017 17:30 schrieb "Chris Ross" <notifications@github.com>:

[2017-10-04 16:19] Eilon opened #1467 "NTLM and cookie authentication"
_From @drauch on September 28, 2017 12:16_

Our application uses windows authentication by default, however, for testing purposes, if a certain cookie is set, it should authenticate using cookie authentication.

So in the testing environment we tried to add the following to our pipeline:

    app.UseCookieAuthentication (new CookieAuthenticationOptions ()
      {
        AuthenticationScheme = "Te

[2017-10-04 16:19] Eilon commented on #1467
_From @davidfowl on October 1, 2017 4:47_

Why don't the schemes match? You configured the cookie with the "TestingCookieAuthenticationSchemeCookie" scheme but then signed in with the "WebTestingCookieAuthenticationScheme" scheme.

Are you expecting the user to have both the windows identity and the cookie identity? Is the windows identity always there?

[2017-10-04 16:20] Eilon commented on #1467
_From @drauch on October 1, 2017 15:6_

@davidfowl : Sorry, that's been a copy&paste error when creating a minimal repro sample. Actually they are the same, re-checked it & fixed in the original post.

[2017-10-04 17:03] Tratcher commented on #1467
This is likely because the NTLM and Cookie identities are being merged. If you look at User.Identities you will see two instances, one for NTLM and one for Cookies.

[2017-10-04 17:03] PinpointTownes commented on #1453
To be honest, I have absolutely no idea what you're trying to do.

The external cookie (that holds the external provider details) is a temporary thing: the ultimate objective is to convert it to an application cookie and eventually, to an access token if your authorization server implements an interactive flow like code or implicit.

If you use `Identity.Application`, then you must send the applic

[2017-10-04 17:47] Tratcher commented on #1179
Not yet. https://github.com/aspnet/Docs/issues/4055

[2017-10-04 18:08] altair256 commented on #1453
I use bearer (jwt) and just trying to make an authorization through an external provider. How should I pass the access token to the application?

@PinpointTownes you say me:

I'm confused. For this need cookie?

[2017-10-04 21:03] vgribok commented on #1381
I have same issue with two custom/non-standard auth schemes: requests with an `Authorize` header work only if default auth schema is specified, effectively making only one, default, schema working.

It happens because on [this line](https://github.com/aspnet/Security/blob/df325deaf355f99239c1319932bc28eb3a837372/src/Microsoft.AspNetCore.Authentication/AuthenticationMiddleware.cs#L42) `Schemes.GetR

[2017-10-05 04:56] VSDekar commented on #1466
Found a solution to my problem.

I have to use the object which is already provided in the `AddJwtBearer()` method and not create a new one.

Bad:
[code]

Good:
[code]

Is this the right way how it should work? What is already set on the options object what i have not done in my "new" object?

[2017-10-05 06:06] Tratcher commented on #1466
That's correct. Nobody references your new object in the first sample, it's just discarded and you end up with an empty configuration.

[2017-10-05 06:12] VSDekar commented on #1466
Ok thx. So the sample here https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapi/blob/dotnetcore2.0/B2C-WebApi/Startup.cs was just wrong. (There is a pull request since yesterday, which correct this).

This can be closed here.

[2017-10-05 06:37] #1466 closed

[2017-10-05 21:09] Eilon commented on #1465
Looks like this is now answered again. Thanks for the help @epignosisx !

[2017-10-05 21:09] #1465 closed

[2017-10-05 21:10] #1464 closed

[2017-10-05 21:15] Eilon commented on #1463
Looks like maybe this code is incorrect:

[code]

Because it's not passing in a format string. The first parameter to `string.Format()` is the format string, and the parameters after that are the values to format into it.

Try this instead:

[code]

Here you can see what the default template does for these values: https://github.com/aspnet/templating/blob/0dfb43b15a355f59b83a6453e71248e197831fed/s

[2017-10-05 21:15] #1463 closed

[2017-10-05 21:18] Eilon commented on #1459
Hi @Jingkun-Hu this is an area that we don't have any specific guidance on. We recommend asking such questions on a site such as Stack Overflow.

[2017-10-05 21:18] #1459 closed

[2017-10-05 21:24] Eilon commented on #1458
@FruitAndAShape is there a complete app you can share with us that demonstrates this problem? There could very well be a bug here but it's hard to know without seeing more of the code.

[2017-10-05 21:25] Eilon commented on #1453
Marking as a discussion because it isn't clear what the issue is here, or if there's a bug in ASP.NET Core.

[2017-10-05 21:30] #1447 closed

[2017-10-05 21:32] Eilon commented on #1444
@bleepzter can you show us some code about what you're doing?

[2017-10-05 21:34] #1440 closed

[2017-10-05 21:42] Eilon commented on #1437
@jcmordan can you upload the whole app to GitHub so we can take a look? It sounds like the static file middleware just isn't matching the request, so it goes to MVC, and you might have MVC set up to match all requests, and you also might have MVC set up to require auth, which of course would return a 401.

One thing to look at changing is to swap the order of `.UseDefaultFiles()` and `.UseStaticFi

[2017-10-05 21:44] Eilon commented on #1433
@callranjithkani can you clarify whether you're using ASP.NET 4.x w/ Katana and OWIN, or if you're using ASP.NET Core? We do not recommend mixing the two because it is not a supported scenario.

[2017-10-05 21:49] Eilon commented on #1423
Let's do this but without a breaking change.

[2017-10-05 21:50] #1409 closed

[2017-10-05 21:51] Eilon commented on #1406
Closing because there are no plans to implement this.

[2017-10-05 21:51] #1406 closed

[2017-10-05 21:51] Eilon commented on #1402
Closing because there is not enough information to reproduce this problem.

[2017-10-05 21:51] #1402 closed

[2017-10-05 21:52] Eilon commented on #1386
Closing because there are no plans to implement this.

[2017-10-05 21:52] #1386 closed

[2017-10-05 22:48] #1443 closed

[2017-10-06 17:14] Tratcher opened #1468 "Raise the IdentityModel dependencies version to 5.2.0-*"
IdentityModel is adding WsFederation support in 5.2.0-*. To merge our WsFederation port into dev we'll need to update all of the IdentityModel dependencies to at least `5.2.0-preview1-408290725` (currently available on nuget.org). We'll want to move to their latest myget nightly builds to give them final feedback before 5.2.0 RTMs.

Note that for the 5.2.0 release they are leveling all of their pa

[2017-10-06 20:45] vgribok opened #1469 "Core 2.0 multiple auth schemes problem: default one overrides all, and no default ignores all"
The problem I am reporting seems to be similar to https://github.com/aspnet/Security/issues/1381.

# Summary
My TL;DR summary is that in ASP.NET Core 2,0 it seems impossible to have multiple authentication schemes handling requests with corresponding values of the `Authorization` header, while we had no trouble implementing this in 1.1 and earlier with OWIN.

# Details
Using ASP.NET Core 2.0, we a

[2017-10-06 22:00] Tratcher commented on #1448
This depends on getting updated versions. See https://github.com/aspnet/Security/issues/1468

[2017-10-06 22:31] Tratcher commented on #1439
Note that the access_token from facebook does not contain anything that you can validate on your server. Your only way to validate it is to send it to a facebook REST API and see if it succeeds. For instance you could send it to the user information endpoint. This is like skipping to the last step in the existing facebook handler.
https://github.com/aspnet/Security/blob/54e4f6834e6fa0f1cf2cc8c2599

[2017-10-06 23:01] HaoK commented on #1451
That's expected behavior, you don't want to hit the database on every login, so there's built in throttling.  Its a tradeoff between occasional outdated claims vs database hits.

[2017-10-06 23:01] #1451 closed

[2017-10-06 23:06] HaoK commented on #1438
I'm not exactly sure what you are trying to do, but to clarify exactly what's going on.

`SignInManager.SignInAsync(user)` results in a call to `httpContext.SignInAsync(IdentityConstants.ApplicationScheme, userClaimsPrincipal)`

Calling `httpContext.SignInAsync(claimsPrincipal)` is using the `AuthenticationOptions.DefaultSignInScheme` as the scheme.

`httpContext.User` gets set by the middleware f

[2017-10-06 23:06] #1438 closed

[2017-10-07 06:33] sschleicher208 commented on #1469
I have this exact same issue.  I have Jwt and Facebook authentication enabled (Jwt is default scheme).  When I pass Jwt token in the authorization header, works perfectly.  When I pass the access token in the authorization header that I received from facebook, it fails.  Did you ever find anything out about this?

[2017-10-07 06:57] sschleicher208 commented on #1310
I have Jwt and Facebook authentication enabled on a Core 2.0 Web API (Jwt is default scheme). When I pass Jwt token in the authorization header, works perfectly. When I pass the access token in the authorization header that I received from facebook, it fails.  I've seen several articles from people about the same issue and I've banged my head against this for days on end.  I must be missing someth

[2017-10-07 07:38] irowbin commented on #1310
@sschleicher208  I think you have to remove the default and add like this
[code]

let me know if it works.

[2017-10-07 08:00] sschleicher208 commented on #1310
Thanks for the quick response.  This didn't work, but maybe it's my approach.  My web api is configured with the appID and secret from facebook.  I have a test client that uses the HttpClient to issue rest commands against the API to call the Values controller which has an authorize attribute on it.  When testing the Jwt, I generate a token from my API, attach it to the authorization header (beare

[2017-10-07 14:32] vgribok commented on #1469
So far I have not heard anything from ASP.NET dev team. I have implemented a workaround by replacing two classes as shown in my post, but I hope to replace it with a better solution. I'm hoping someone can suggest a better way.

[2017-10-07 15:34] generik0 commented on #1438
Hi

But why does SignInManager.SignInAsync(user), goto
`(httpContext.SignInAsync(IdentityConstants.ApplicationScheme, userClaimsPrinciple)`

It isn't supporting the claims principle factory anymore? that also makes the identity.

I guess this is the problem. I want to (as i did in aspnetcore1) generate the claims and identity in the claimsprinclpe factory., But the SignInManager.SignInAsync(user)

[2017-10-07 16:47] PinpointTownes commented on #1469
Good or bad, this is a deliberate change that was announced here: https://github.com/aspnet/Announcements/issues/262.
Basically, the new stack only allows you to have a single automatic scheme handler by default. Having to override the scheme provider is expected if you want to change the default selection mechanism.

Don't miss this questions/answers thread if you need more information: https://g

[2017-10-07 17:25] davidfowl commented on #1469
@vgribok What @PinpointTownes says is right, this is by design. However, nothing stops you from calling context.AuthenticateAsync("Scheme") to access the right user information.

How were you doing this before? Was it dynamic basic on something in the incoming request?

[2017-10-07 18:00] vanillajonathan opened #1470 "Why is AuthorizationHandlerContext.Resource of type object?"
Why is the `Resource` property in the `AuthorizationHandlerContext` class declared as `object` type?

I expected this property to be of the type `PathString`.

[2017-10-07 21:11] mjwsteenbergen opened #1471 "Documentation for super simple authentication"
I am running a simple rest-client for a hobby project and do not want to leave this api open to the rest of the world. I do not want to set up an entire framework for only one user (myself). [Open source security frameworks](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/community) I found are way too heavy for me. Is there something for this use case?

[2017-10-08 01:26] vgribok commented on #1469
Yes, it was dynamic based on the scheme name in the incoming requests' `Authorization` header. In Core 1.1 it worked without us having to manually do the mapping - we just specified every scheme as default, which was weird but possible.

What would be helpful is a clean code example showing how to do it properly in Core 2.0. Right now it's not hard to figure out how to add multiple schemes, but ge

[2017-10-08 04:34] davidfowl commented on #1469
The code in 2.0 would look like a piece of middleware that does this:

[code]

FWIW, we're actively looking at some first class improvements in this area for 2.1 (see https://github.com/aspnet/Security/pull/1410).

[2017-10-08 05:10] vgribok commented on #1469
Thanks.
Yes, we are using MVC, but we build same kind of identity & principal from three and potentially more different auth schemes. Our auth handlers have federation-like functionality, and because of that our roles will be the same regardless of the scheme type in the inbound request, which in turn makes explicit usage of scheme with controllers impossible.

[2017-10-08 16:17] vgribok commented on #1469
I'd like to add 2c on what would be intuitive design for me. I don't quite understand the value of the DefaultAuthenticationScheme. (Default challenge scheme I understand.) IMHO, the process here is two-step: 1) Building Principal from request, and 2) authorizing protected resources (like Controller methods) by matching Claims supplied by the Principal to ones demanded by the protected resource vi

[2017-10-08 17:18] HaoK commented on #1469
So the DefaultAuthenticateScheme's purpose is twofold, its mainly used by the single default authentication middleware to set HttpContext.User to the result of a specific authentication scheme.

Its fine to have multiple sources of identity and claims used to produce the HttpContext.User that you then use for Authorization.  You can either write a custom uber AuthenticationHandler and register tha

[2017-10-08 17:24] davidfowl commented on #1469
This is what my sample does above, but what breaks down is the call to Challenge/Forbid if there is no user. The new authentication schemes solves this nicely.

This is a super interesting idea and not one I thought about before. I might try to whip up a sample with this.

[2017-10-08 17:29] HaoK commented on #1469
Yeah this is basically using the authenticationScheme as the authentication policy today

[2017-10-08 17:29] brockallen commented on #1469
This is what we do in our IdentityServer access token validation handler that is implemented in terms of other handlers (specifically JWT Bearer and introspection).

https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation

[2017-10-08 18:07] vgribok commented on #1469
For sure, I can certainly roll out my own anything, but with `services.AddScheme()` enabling multiple schemes and with the presence of a general-purpose `app.UseAuthentication()`, the requirement to add custom components to make use of multiple schemes is surprising, as the framework seems to have all necessary information to make scheme-handler mapping generic and transparent, improving user expe

[2017-10-08 18:16] davidfowl commented on #1469
@HaoK how hacky is something like this?

[code]

I guess the authN policy concept is still cleaner because some authN policies require a unique set of schemes for (authenticate, challenge, signin, signout). For example, a "facebook" policy would look like:

"Facebook" -> (authenticate: "cookies", challenge: "facebook", signin: "cookies", signout: "cookies")

[2017-10-08 18:19] vgribok commented on #1469
Thanks! That's not hacky, and I'll happily use it. I hope this will become the default behavior in one of the upcoming versions of ASP.NET Core.

[2017-10-08 18:33] HaoK commented on #1469
@davidfowl that looks fine and no hacky really.

So thinking about it more, you really could implement a scheme as a policy today already.

Just have the handler forward to the right other schemes already in its implementation.  For your example: lets say we added a AuthenticationPolicyHandler and just made it easy to setup schemes that behaved as policies (forwarders):

You'd still do something
`

[2017-10-08 18:46] davidfowl commented on #1469
Yep that's what I'm thinking as well.

I was thinking that you could get all the flexibility making the scheme selector a policy selector.

[2017-10-08 22:31] damianh commented on #1471
basic auth?

[2017-10-08 22:49] damianh opened #1472 "IAuthenticationSchemeProvider needs a TryAddScheme()"
Looking at this example/test to dynamically add authentication schemes at runtime:

https://github.com/aspnet/Security/blob/0959c941b40086b131b1e01d304fc23bb887fdc8/test/Microsoft.AspNetCore.Authentication.Test/DynamicSchemeTests.cs#L137-L143

If the endpoint is invoked twice, it will result in an `InvalidOperationException`: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet

[2017-10-09 08:30] damianh commented on #1472
While we're looking at this API why is `AddScheme` and `RemoveScheme` synchronous but `GetSchemeAsync` asynchronous?

[2017-10-09 10:16] ThatDeveloper commented on #1310
[code]

How can I do this in .Net Core 2?

[2017-10-09 14:03] mjwsteenbergen commented on #1471
Do you have any idea about how I would do that? [The only library](https://github.com/blowdart/idunno.Authentication) that I found, is no longer updated. Furthermore it itself is advocating against it and asking to implement further features to make it safer. [Another example](https://github.com/aspnet/Security/issues/395) I found in this repository is even simpler, using a username and password,

[2017-10-09 14:16] Infoseeker commented on #43
@chrisdrobison - any updates on https://github.com/chrisdrobison/aspnetcore-wsfed - working with asp.net cpre 2 ?

[2017-10-09 17:05] Tratcher opened #1473 "[Announcement] WsFederation 2.0.0-preview1 out of band release"
WsFederation preview support is now available for ASP.NET Core 2.0.0. The Microsoft.AspNetCore.Authentication.WsFederation 2.0.0-preview1 package is available at https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation/. This is a standalone preview that targets netstandard2.0 and should work with existing ASP.NET Core 2.0.0 applications (.NET Core 2.0 or .NET 4.6.1). A non-

[2017-10-09 17:09] HaoK commented on #1310
@ThatDeveloper `context.AuthenticateAsync(CookieAuthenticationDefaults.AuthenticationScheme)` is the replacement for `GetAuthenticateInfoAsync`

[2017-10-09 17:12] Tratcher commented on #43
An official preview is now available. See: https://github.com/aspnet/Security/issues/1473

[2017-10-09 18:10] Tratcher commented on #43
Doc bug: https://github.com/aspnet/Docs/issues/4523

[2017-10-09 18:54] #1233 closed

[2017-10-09 18:59] ashgadala commented on #1473
Wonderful....! Yay...!

[2017-10-09 19:53] Tratcher commented on #1310
@sschleicher208 That's not what the Facebook handler is for. See https://github.com/aspnet/Security/issues/1439.

[2017-10-09 20:20] sschleicher208 commented on #1310
@Tratcher Yea I eventually figured that out.  What I do now is just issue a JWT after a successful external login callback from any external provider.  Does that sound right?  Seems like that is what is happening behind the scenes when using the azure user store as well.  Correct?

[2017-10-09 21:20] a13531a opened #1474 "Cookie authentication overrides Cache-Control, Pragma & Expires headers"
https://github.com/aspnet/Security/blob/e0ad6ed6b9abbb73e3ca68c6abdf2a0126defec1/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L360-L362

This overrides values that may have already been set to some specific values in other middleware (for example, Web API).

For instance, in my app that is vitally important to have "Cache-Control" to be set to this: "no-store, no-

[2017-10-09 21:22] Tratcher commented on #1474
This is by design. Responses with auth cookies must not be cached.
Also, WebAPIs should not be using cookie auth. JWT Bearer would be more appropriate.

[2017-10-09 21:26] blowdart commented on #1474
`no-cache` implies `must-revalidate` by making the response immediately stale. This is not a case of "just", it's an upgrade from a security POV.

[2017-10-09 21:29] Tratcher commented on #1310
@sschleicher208 Yes, that's what you want to do.

[2017-10-09 21:44] a13531a commented on #1474
Thank you for your quick replies. I very appreciate it.
I actually understand the thing about no-cache & must-revalidate but for some reasons (not known to me), the INetCache thing in Windows sometimes caches those results that don't have "must-revalidate" in the Cache-Control header... That is the only reason why it was decided to specify one more option in Cache-Control header...
This Web API is

[2017-10-09 22:41] Tratcher commented on #1474
Interesting. I wonder if it would work if we were setting the right Expires value. https://github.com/aspnet/Security/issues/1353

[2017-10-10 06:24] AlwaysAbhl001 commented on #1444
@Elion I'm just trying to handle 401 to redirect to login page if authorization header is misssing but unable to figure out in JWTBEAR. I also posted a [stackoverflow question](https://stackoverflow.com/questions/46650256/redirect-to-login-if-is-not-login-aspnetcore-2-0/46651809#46651809)  any help would be appreciated.

[2017-10-10 20:03] Jenan opened #1476 "How use PKCE in OpenIdConnect Middleware"
Hello,

I want to use for getting code the PKCE and I am wondering if is possible setup the OpenIdConnect middleware for generating of the PKCE and use it in the request for the code and then for getting the access token?

I follow this post about PKCE - https://leastprivilege.com/2016/02/02/pkce-support-in-identityserver-and-identitymodel/

Prepare PKCE for request:

[code]

and the TokenClient t

[2017-10-10 20:31] a13531a commented on #1474
I think I may have found the reason of such a behavior...

I am using:
1) ASP.NET 4.6
2) Cookie Authentication from Microsoft.Owin.Security.Cookies

I noticed that every time when cookie slides (sliding expiration is turned on), the HttpClient in the WPF app receives a response from the server which contains "Set-Cookie" header + "Cache-Control: private".
It is PRIVATE for some reason! And I am co

[2017-10-10 20:49] MeikelLP commented on #1451
That still does not fix my Problem. I expect `UserManager.UpdateSecurityStampAsync(user)` to "kick" the user out of the system so he has to login again. But that does not happen.

[2017-10-10 20:59] Tratcher commented on #1474
The Microsoft.Owin version set the same headers.
https://github.com/aspnet/AspNetKatana/blob/a4ad9a82cde44ac27242a2d23238aada2ec5b4be/src/Microsoft.Owin.Security.Cookies/CookieAuthenticationHandler.cs#L275-L285
There is no private set here. It's possible the header is being overwritten by a separate part of the application.

[2017-10-10 21:01] Tratcher commented on #1451
The alternative is having the cookie re-validated against the database on every request which would destroy your site performance.

[2017-10-10 21:17] #1423 closed

[2017-10-10 21:19] HaoK commented on #1259
We will be removing all PII from log messages instead of adding an option

[2017-10-10 21:50] mattmazzola commented on #1259
Great!

To clarify, when you say

By 'removing' does this mean you will be hashing the PII data within the log messages so it is unique but not personally identifiable or are you removing the data from logs completely?

[2017-10-10 21:51] HaoK commented on #1259
Just removing username from the log message, it'll just say Authorization was successful, or failed.

[2017-10-10 21:55] mattmazzola commented on #1259
This issue was about more than just the user name and the "Authorization was successful" message. The new title is misleading. I referenced 4 unique places which different types of data, most importantly is the token as this allows people with access to logs to impersonate the user.

[2017-10-10 22:00] HaoK commented on #1259
Fair enough, I'll change the title to removing all PII from logs

[2017-10-10 22:34] PinpointTownes commented on #1259
That's a bad idea, which will make debugging more painful than it already is.

Instead, consider changing the log level of the messages containing personal information to `Trace`, which is made for that.

[2017-10-10 23:10] shishir28 commented on #1417
@blowdart Sorry for responding late and Thanks for your prompt response. We have decided to go ahead with separate deployment as of now .   Once I again my apologies for not responding on time .

Thanks
Shishir

[2017-10-10 23:10] #1417 closed

[2017-10-10 23:35] mattmazzola commented on #1259
I disagree with using log level as a solution. Changing the log level affects the entire message not just the parts of it that are PII.  People will still expect to see the non-PII portion such as "Authentication successful" to be logged in normal `Informational` or `Debug` levels.

I don't really think this should be up for debate though. I expect all libraries from the entire aspnet GitHub organ

[2017-10-11 05:10] PinpointTownes commented on #1259
Nothing prevents splitting the existing `Information` message into two new logs: an informational one containing no PII and a trace one containing sensitive data.

I doubt that giving a single example is enough to pretend that, I'm afraid. Here are two projects that don't use the hashing method you suggest:

  - IdentityModel, developed by the Azure AD team (that also develops ADAL): it's the perf

[2017-10-11 08:14] gtresoldi commented on #1473
Hi,
I've tried to use WsFederation with ADFS server 2016. Here my configuration:

`
services.AddAuthentication()
.AddWsFederation(options =>
				{
					options.Wtrealm = "https://localhost:44312";
					options.MetadataAddress = "https://adfsserver2016/FederationMetadata/2007-06/FederationMetadata.xml"
`
I get this exception.
[Exception.txt](https://github.com/aspnet/Security/files/1374716/Exceptio

[2017-10-11 10:00] Ahmad-Magdy opened #1479 "How to use B2C and Multiple organization Authentication in the same Asp.Net Core 2.0 app"
Hello
i need some help in something i don't know how to do in ASP Core 2.0
i'm using both
https://login.microsoftonline.com/tfp which is **B2C**
and also using https://login.microsoftonline.com/common for **Multiple organization**

i looked in the internet how to configure both of them together but i didn't find any guide.
i used https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-web

[2017-10-11 11:28] Compufreak345 commented on #1473
I've got the same issue like @gtresoldi with an ADFS on Windows Server 2012 R2

Should we file a seperate issue for this problem or is there any other solution?

Thanks & best regards,
Christoph

[2017-10-11 14:52] Tratcher commented on #1479
Sharing more of your Startup would help.

The main issue is how you want to decide which provider the users should log in with. Do different endpoints have different requirements? Or do you want the user to be able to choose which provider to use?

[2017-10-11 14:54] brockallen commented on #1479
Sounds like you need a federation gateway: http://docs.identityserver.io/en/release/topics/federation_gateway.html

[2017-10-11 16:15] a13531a commented on #1474
Tratcher, you were right.
I found that the Web API project uses the SystemWebCookieManager class from http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues

[code]

So, it seems like it may not be enough to use the code from the link above as it is. After I added the following lines to the end of the AppendResponseCookie method, everything began to

[2017-10-11 16:20] Tratcher commented on #1474
Interesting, it looks like some of the caching headers are subject to the same System.Web collision issues as the cookies but the symptoms are a lot more subtle so nobody has ever reported it.

[2017-10-11 16:21] #1474 closed

[2017-10-11 16:23] a13531a commented on #1474
Tratcher, you were right.
I found that the Web API project uses the SystemWebCookieManager class from http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues

[code]

It seems it is not enough to use the code from the link above as it is. After I added the following lines to the end of the AppendResponseCookie method, everything began to work:

[code]

[2017-10-11 16:29] DerAlbertCom opened #1480 "Make Authorization available outside of ASP.NET Core"
I, and others, like the authorization System in ASP.NET Core. But i would like to use it on a deeper level.

In its core, ASP.NET Core is an UI Layer. Which has to present Information to the User, via HTML, JSON or whatever and receive input from a User do something with the data.

With ASP.NET Core the UI has to check the Authorization if a certain kind of operation is allowed for the
User. But t

[2017-10-11 16:33] HaoK commented on #1480
As you pointed out, the core authorization package already doesn't have any AspNetCore dependencies, so what is preventing you from using it today as is?

[2017-10-11 16:38] DerAlbertCom commented on #1480
@HaoK Because in the next update there could be some AspNetCore dependencies, maybe because it is easier to get a specific feature. It is in the AspNetCore Namespace is has the right to do this.

Also it is weird to have AspNetCore Dependecies in a UWP Applciation. As it was weird to have dependecies to System.Web only for using MemoryCache (also this broke with the .NET Client Profile long time a

[2017-10-11 17:39] HaoK commented on #1356
@spottedmahn do you still need this, or does @blowdart's suggestion as an alternative work for you?

[2017-10-11 18:02] Tratcher commented on #1396
Your policy definition appears to be missing `RequireAuthenticatedUser()`. @HaoK that's required in addition to RequireRole right?

[2017-10-11 18:46] HaoK commented on #1396
Well what's required is up to the app, but:

`RequireAuthenticatedUser` basically just adds a check for `User.Identity.IsAuthenticated`
`RequireRole` is a check on `User.Identity.IsInRole`

[2017-10-11 20:28] MeikelLP commented on #1451
But isn't the `UserManager.UpdateSecurityStampAsync(user)` method going to invalidate my cookie, if I changed my role? Why do I still have admin access although I removed my admin role and updated my security stamp?

[2017-10-11 21:16] HaoK commented on #1451
It invalidates the stamp that will cause the cookie to be invalidated the next time it checks...  it doesn't check on every request.

[2017-10-11 21:17] xandhen commented on #1310
I'm having some serious issues with MVC AuthorizeFilter in 2.0, a setup I had working in 1.1.

I'm using cookie authentication, but without Identity. I've made changes to my Startup.cs file so
In my `Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)`. I do
`
app.UseAuthentication();
app.UseMvc(routes =>
{
	routes.MapRoute(
		name: "default",
		template: "{co

[2017-10-11 21:27] HaoK commented on #1310
The authentication scheme is actually CookieAuthenticationDefaults.AuthenticationScheme or "Cookies" in the code you are showing.  Setting the cookie name doesn't change the scheme name.  There's a different overload of AddCookie which takes the scheme name

[2017-10-11 22:26] #1353 closed

[2017-10-12 01:10] Tratcher commented on #1310
Locking this closed issue. Please direct questions to the discussion thread https://github.com/aspnet/Security/issues/1338 or open new issues.

[2017-10-12 01:21] Tratcher opened #1483 "Remove deprecated 1.x behavior from cookie auth doc comments"
The doc comments still refer to removed 1.x behavior like reacting to 401s and 403s.
https://github.com/aspnet/Security/blob/bd07f8b683ce793490d108b2310fa6112953d172/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L83
https://github.com/aspnet/Security/blob/bd07f8b683ce793490d108b2310fa6112953d172/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOp

[2017-10-12 08:12] TheMasterPrawn commented on #219
This problem is infuriating. I am using Visual studio 2017 and have deployed the changes above to an azure website. After deployment everyone can login fine. The next day, visit the same site and the redirect keeps happening. I have checked to ensure the changes were deployed using websitename.csm.azurewebsites.net and the correct config and azure AD settings are present.

[2017-10-12 09:19] Ahmad-Magdy commented on #1479
@Tratcher  I'm migrating from ASP.NET MVC 5 to Asp MVC Core 2.0 so my startup very simple,
it will be depends on the url so if the url like 'url/B2C' i'll use B2C Method and if the url like 'url/auth' i'll use Multiple organization method, the app will choose depends on the route not on the user choice.

@brockallen  i think it's near the idea but i didn't find any instructions about  specifying t

[2017-10-12 10:11] Mardoxx opened #1485 "Auth extensions (e.g. `OAuthExtensions`. `OpenIDConnectExtensions`) in `Microsoft.Extensions.DependencyInjection` namespace"
Auth extensions (e.g. `OAuthExtensions`. `OpenIDConnectExtensions`) in `Microsoft.Extensions.DependencyInjection` namespace.

Why are they here instead of in `Microsoft.AspNetCore.Authentication`?

[2017-10-12 10:12] Mardoxx commented on #1485
IS this on purpose, or lazy c+p job?

[code]

[2017-10-12 10:18] Mardoxx commented on #1485
Ah I see, it's so they're accessible through DI entry point without having hundreds of usings.

[2017-10-12 10:18] #1485 closed

[2017-10-12 13:58] Tratcher commented on #219
It's pretty strange for the behavior to change like that. Can you share a Fiddler trace?

[2017-10-12 15:37] ashgadala commented on #1473
@Tratcher FYI. same parser issue as above.

[2017-10-12 16:03] MeikelLP commented on #1451
So I cannot prevent this efficiently?

[2017-10-12 17:10] Tratcher commented on #1451
You can turn it down with the ValidationInterval setting you mentioned above, but it will destroy your application performance. Your choice.

[2017-10-12 17:17] #1349 closed

[2017-10-12 17:23] MeikelLP commented on #1451
I'm really dissatisfied with that...
Will there be any chance for this in future releases?

[2017-10-12 17:24] lolofx commented on #1473
Great news :)

[2017-10-12 17:27] Tratcher commented on #1451
Chance for what? There are no proposed alternatives.