[2018-03-20 15:47] HaoK commented on #1675
Can you check if your requirements are getting spread out into multiple authorize filters?  There's a bug that was fixed in 2.1 where the attributes weren't composing properly, which is fixed via a new CombineAuthorizePolicies setting in MVC.

[2018-03-20 15:54] jacobslusser commented on #1675
If I understand you correctly, yes, I am seeing multiple authorization filters. When I inspect the `AuthorizationFilterContext` list of `Filters`, there are two `AuthorizeFilters` in the list. One with a `DenyAnonymousAuthorizationRequirement` policy and one with the `RolesAuthorizationRequirement` policy. Be advised that I'm also using this startup code to require authenticated users (which I ass

[2018-03-20 16:10] Tratcher commented on #1699
See https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore2x

[2018-03-20 19:10] EdgarSalazar commented on #564
Shouldn't my Policy stops checking for subsequent Requirements if, for instance, the first Requirement fails? It feels like a unnecessary processing, because it has already failed, right?

[2018-03-20 20:23] muratg commented on #1698
Are we taking the PR?  @Tratcher you seem to have approved it, will you be taking it in, or should this be reassigned?

[2018-03-20 20:25] muratg commented on #1394
@blowdart Any work remaining to track for preview2?

[2018-03-20 20:40] Tratcher commented on #1698
I approved the initial version but then it snowballed. There's ongoing debate over an expanded design.

[2018-03-20 20:42] Eilon commented on #1698
We discussed at standup this morning. I think we either get it into Preview2 or it has to wait until 2.2.

[2018-03-20 20:45] #1686 closed

[2018-03-21 13:59] flensrocker commented on #967
I stumbled accross this problem and for future reference (for me), here is my solution, when using only cookie-authentication:
[code]

[2018-03-21 15:24] paulvanbladel opened #1702 "redirect_uri is overwritten to http although app runs on https"
I have following configureService method
[code]
My auth server (identityserver) complains because the incoming redirect_uri coming from the mvc app is http rather than https.

Any idea?

[2018-03-21 15:47] Tratcher commented on #1702
Are you using a reverse proxy? They usually forward over http and set x-forwarded-proto. The UseForwardedHeaders middleware reads x-fowarded-proto and updates the request accordingly.

[2018-03-21 16:38] blowdart commented on #1394
no

[2018-03-21 17:15] paulvanbladel commented on #1702
@Tratcher  That's very alert, indeed I'm using docker swarm with a reverse proxy (traefik).
I found in the mean time an alternative approach by means of Events but I believe your suggestion is more elegant:
[code]

[2018-03-21 17:20] paulvanbladel commented on #1702
@Tratcher
Something like this?
// forwarded Header middleware
            var fordwardedHeaderOptions = new ForwardedHeadersOptions
            {
                ForwardedHeaders = ForwardedHeaders.XForwardedFor | ForwardedHeaders.XForwardedProto
            };
            fordwardedHeaderOptions.KnownNetworks.Clear();
            fordwardedHeaderOptions.KnownProxies.Clear();

            app.UseF

[2018-03-21 17:21] Tratcher commented on #1702
Indeed. Why are you calling Clear()?

[2018-03-21 17:25] paulvanbladel commented on #1702
Good question. No specific reason. I learn from you now, that this is a bad idea :)

[2018-03-21 17:25] paulvanbladel commented on #1702
You agree that the forwarded header middelware is better than my approach?

[2018-03-21 17:30] paulvanbladel commented on #1702
Thanks, great to get this sorted out so clearly. Many thanks. Closing the issue.

[2018-03-21 23:25] Tratcher opened #1703 "Simplify clearing the JWT claims type mappings"
https://github.com/aspnet/Security/pull/1636#issuecomment-374766092

JwtSecurityTokenHandler used by JwtBearer & OIDC maps the standard OIDC claim types to long namespace names to match older protocols like WsFed. We can't disable this by default without affecting existing users.  Turning this off manually requires either calling `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();` at the

[2018-03-21 23:29] replaysMike commented on #1412
For others that come across this error, in my case I had setup using OpenIddict and the following line caused the error for me:

[code]

[2018-03-22 00:36] brockallen commented on #1703
One can only hope!

I prefer `UseOidcProtocolClaimsTypesRatherThanWsStarClaimsTypesBecauseDotNetHasConstantsForThoseLegacyClaimsTypes`, or `UseOidcProtocolClaimsTypes` for short if you prefer :)

[2018-03-22 08:03] paulvanbladel commented on #1702
Sorry, Still trouble with this.
It' still using http.
This is my ConfigureServices in my mvc app.
[code]
so, I'm using it before the authentication middleware. Is that ok?

When I look in my STS logging (so identity server, I'm still getting)

[code]
When I use my 'hack', it works.

[2018-03-22 12:18] WaedSaleh opened #1704 "iconfigurationsection does not contain a definition for get"
I  passed Configuration object to the class library and when I use  it to get a configuration  like
 Configuration.GetSection("Settings").Get<Settings>(); I get the error iconfigurationsection does not contain a definition for get.

PS : In Startup class, it works fine but in the class library not.

[2018-03-22 12:45] alex-birch commented on #1699
Thanks @Tratcher

For completeness - I got this up and running using the following code:

[code]

This *doesn't* encrypt the keys in redis - but was acceptable for me. GCloud at the moment doesn't natively support Redis - so that needed to be custom instance on their compute machine.

[2018-03-22 12:45] #1699 closed

[2018-03-22 12:55] blowdart commented on #1702
Are the headers being added? Could you dump out the request headers in your app to make sure?

[2018-03-22 12:57] blowdart commented on #1704
This issue was moved to aspnet/Home#2988

[2018-03-22 12:57] #1704 closed

[2018-03-22 14:00] paulvanbladel commented on #1702
Yeah sorry, I first need to check what the reverse proxy is doing. I reopen the issue and report back to share with others if I need to make specific settings on nginx/traefik level to make this working.

[2018-03-22 14:00] #1702 closed

[2018-03-22 15:10] blowdart commented on #1704
This issue was moved to aspnet/Home#2990

[2018-03-22 16:45] #1609 closed

[2018-03-22 20:47] brentschmaltz commented on #1703
@Tratcher @brockallen we are going to add a single switch to turn off mapping in 5.2.2
We wanted to get this into 5.2.0, but it dropped off the radar.

Also, when we add Async, we will have mapping OFF by default, we will address this:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/550

[2018-03-22 23:14] sergiomcalzada opened #1705 "Allow overriding protocol redirect_uri in OpenIdIdentityProvider from external providers"
When generating redirect url in the AuthenticationHandler the uri is composed from the current request protocol. When you are behind a proxy (like in a lot of Kubernetes deployments) protocol is incorrect.

You could override it in OnRedirectToIdentityProvider now, but it should be more easy to do it when configuring the options.

[2018-03-22 23:16] Tratcher commented on #1705
Duplicate of https://github.com/aspnet/Security/issues/1702

[2018-03-22 23:16] #1705 closed

[2018-03-23 22:13] #1698 closed

[2018-03-23 22:14] #990 closed

[2018-03-23 23:04] mum6ojum6o commented on #1536
Could you suggest in this case, how can we decrypt the cookie chunks?

[2018-03-25 18:03] salzersoftware commented on #1681
Thanks @Eilon - I originally followed the instructions you referenced. I believe the issue was that the default branch for my clone was something other than _dev_ or one of the release versions - which I didn't notice at first. I purged my local copy, re-fetched it with the release v2.0 branch, and things worked. I haven't tried this using the dev branch yet, but I assume it'll work fine as well.

[2018-03-25 21:11] Eilon commented on #1681
Sounds great!

[2018-03-26 06:02] pi3k14 commented on #1480
@Eilon wouldn't namespace aliases be a fix for that?

[2018-03-26 08:35] Mimetis opened #1706 "microsoftaccount retrieving access_token accross requests on ASP.NET CORE 2.0"
Hi all;
I can't figured out how to retrieve the `access_token` once authenticated from within the `MicrosoftAccount` provider.
*Well, to be honest*, I should be able to retrieve it if it's stored in a **data store** using the `_signinManager` instance.

**Storing the token in my datastore**
[code]

Following this issue [https://github.com/aspnet/Identity/issues/1452](https://github.com/aspnet/Iden

[2018-03-26 15:26] Mimetis commented on #1706
Ok, got it.

You have to save the tokens, since the `Identity.External` cookie seems to be deleted after the authentication (do not hesitate to correct me if I'm wrong)
So the deal is to add the tokens after Post back authentication

[code]
This is not an easy path to get something that seems to me a basic scenario in my opinion ?
What do you think ?

Other bonus question : *How do you handle the

[2018-03-26 17:48] Eilon commented on #1480
The C# `using` keyword supports namespace aliases, but then everyone would need to do that in their own code. The change we would make would still be a breaking change and break any existing app/library using the API.

Type forwarding only lets you change the assembly, not the namespace.

[2018-03-26 20:26] nfmccrina opened #1707 "No content (200 status) in response when using app.UseAuthentication()"
I'm not sure if this is a bug or if I'm doing something wrong.

If I set up a very simple ASP.NET Core MVC project, add OpenIdConnect authentication in ConfigureServices(), and then call app.UseAuthentication in Configure(), my default MVC controller is not hit but I get an empty 200 response. To clarify, I am calling the root of my application so the default MVC route should be in play here. Sinc

[2018-03-26 22:50] nfmccrina commented on #1707
I found the problem. I wasn't using it correctly. The SignedOutCallbackPath property of the OpenIdConnectOptions was set to the home page ("/") which meant that the authentication middleware swallowed the request and it didn't make it to my mvc route. The place to actually specify the path you want to redirect to after the user signs out is in the AuthenticationOptions parameter of SignOutAsync.

[2018-03-26 22:50] #1707 closed

[2018-03-26 23:08] Tratcher commented on #1706
Duplicate of https://github.com/aspnet/Security/issues/1668, https://github.com/aspnet/Security/issues/1685

[2018-03-27 05:09] pi3k14 commented on #1480
Well, strictly speaking, it wouldn't break existing applications. It would demand a change in new versions of existing applications.

[2018-03-27 08:52] Luke-1988 opened #1708 "Multiple authentication shemes for API"
I am trying to support multiple authentication methods for my API. Similar to Shawn's Wildermuth [post here]( https://github.com/aspnet/Security/issues/1373) except I want to support both Cookies, JWT (and also HTTP Basic Auth and Custom Acces Keys*) for single API.

In ASP.NET Core 1.0 this was done by multiple authentication middlewares:

[code]
where each middleware checks for its Authorization

[2018-03-27 15:26] Tratcher commented on #1708
Authenticating multiple is doable with some extra effort. Try a middleware like this:
[code]
The larger problem comes when all of them are missing, which do you challenge for? You can't issue a challenge for all of them, the challenges for things like Cookies and JWT are incompatible. You should pick one and set that as the default in AddAuthentication.

Also, do you support any scenario where mul

[2018-03-27 16:11] Eilon commented on #1480
It would break any existing application that updated to the new version.

[2018-03-27 16:34] Luke-1988 commented on #1708
Thank you Chris! You solution looks pretty good. I got a few comments:

I am building RESTful API. So, if no authentication at all, API respond with 401. Read the API docs and pick proper authentication.

I am afraid this will make that one I pick as default a mandatory (required) Authentication, and will result in 401 (or Challenge) if not provided. Or not?

Sad to say that but hardcoded. As well

[2018-03-27 16:47] Tratcher commented on #1708
Yes, that's the code layout I'd expect.

UseAuthentication calls AuthenticateAsync for the default scheme and sets User, but it does not reject unauthenticated requests. That's what Authorize is for.

[2018-03-28 10:47] Luke-1988 commented on #1708
Chris, one more question.

I am going to implement Google & Facebook authentication as well. As far as I understand, both Google and Facebook AuthenticationHandlers do Challenge user by returning 302 and redirection to Google or Facebook login page with return url set by current AuthenticationHandler.

When user logs in via Google or Facebook login form, he or she is redirect back to return url wi

[2018-03-28 16:01] Tratcher commented on #1708
Yes, that's how the flow works, and yes it's not suitable for for Web APIs. For a WebAPI / SPA you'd use a client side SDK provided by Google or Facebook to get a JWT, then use JwtBearer to validate it on the server.

[2018-03-28 16:34] John0King commented on #1394
@Eilon @Tratcher   Why check `X-Requested-With` header instead of `Accept` ? browse always has `text/html` in it. and an ajax call  or HttpClient in .net  do  not has that value.
and I belive MVC use this value for determinate the type of  `Request.Body`

[2018-03-29 13:19] cycbluesky opened #1709 "Use object in DI when AddJwtBearer"
AddJwtBearer has been moved from `public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)` to `public void ConfigureServices(IServiceCollection services)` since .net core 2.0. The problem is how can I use an object will be registered into servicecollection when I build JwtBearerOptions?

[code]

[2018-03-29 13:43] cycbluesky commented on #1708
Perfect! I'd like use multiple authentication shemes for web API. Cookie authentication for web site, Jwt for Mobile App, and accesstoken for parter system.

[2018-03-29 14:39] John0King commented on #1708
@Tratcher  :(  Who proivde the redirect ?  the `UseAuthentication()` or `context.AuthenticateAsync()`
and what do u suggestion for a mvc page that has javascript to talk to a webAPI ?  login twice ?

[2018-03-29 15:00] Tratcher commented on #1708
@John0King your question needs more context. No, UseAuthentication() and context.AuthenticateAsync() do not generate redirects, [Authorize] and ChallengeAsync can if you're using cookies or oauth.

You can uses a token server like IdentityServer4 to exchange your cookie for a JWT for use with WebApis. This should be transparent to the user.

[2018-03-29 15:08] Tratcher commented on #1709
@HaoK any examples of IOptions DI magic for this?

[2018-03-29 19:10] blowdart opened #1710 "Allow specifying the default authorization scheme on a controller action without the authorize attribute"
_From @Gengadook on March 14, 2018 23:2_

This would be useful in the situation where I have some api controllers hosted within an MVC app that already uses a default cookies authorization scheme. In this scenario, the api controllers would use a JWT Bearer token for auth rather than the default cookie scheme used by the rest of the web app.

Normally the way to do this would be to decorate the co

[2018-03-29 21:08] Eilon commented on #1710
Closing because we believe we've answered the question.

[2018-03-29 21:08] #1710 closed

[2018-03-29 21:12] #1706 closed

[2018-03-29 21:37] Eilon commented on #963
Closing this issue because we have no plans to implement this.

[2018-03-29 21:37] #963 closed

[2018-03-29 21:38] Eilon commented on #958
Parking in 2.2.0 milestone for consideration.

[2018-03-29 21:40] Eilon commented on #956
Parking in 2.2.0 milestone for consideration.

[2018-03-29 22:25] Tratcher commented on #711
https://github.com/aspnet/Security/issues/1165 attempted something similar but was aborted.

[2018-03-29 22:45] fabricejumarie commented on #1062
Hello,
I try to use the both authentication scheme JwtBearerDefaults.AuthenticationScheme and Windows authentication. The user log in by calling an authentication controller which required Windows Authentication, the windows user's name is retrieved from http request and validated from database by using Identity framework. If the user is validated, a JWT is generated and send to the client and nex

[2018-03-29 22:46] Tratcher commented on #710
Closing as duplicate of https://github.com/aspnet/Security/issues/1165

[2018-03-29 22:46] #710 closed

[2018-03-29 22:52] fabricejumarie opened #1711 "Windows Authentication and JWT Bearer on ASP.Net Core Web API"
Hello,

I try to use the both authentication scheme JwtBearerDefaults.AuthenticationScheme and Windows authentication. The user log in by calling an authentication controller which required Windows Authentication, the windows user's name is retrieved from http request and validated from database by using Identity framework. If the user is validated, a JWT is generated and send to the client and ne

[2018-03-29 22:53] sergiomcalzada commented on #1702
I had the same problem and the solution was to configure to use the FordwardMiddleware with the Proto header only. If I put other combination it does not works.

I dumped the headers and both (XForwardedFor and XForwardedProto) where present.

[2018-03-29 23:24] Tratcher commented on #1702
Please share your Startup code and headers.

[2018-03-30 05:38] Eilon commented on #1062
**Hi, it looks like you are   posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:

1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem.

[2018-03-30 06:55] FDUdannychen commented on #1709
You should use `IPostConfigureOptions<JwtBearerOptions>` instead of `IConfigureOptions<JwtBearerOptions>` because the latter doesn't support name.

[code]
And don't forget to register
[code]

[2018-03-30 07:12] cycbluesky commented on #1709
@FDUdannychen It works, Thx!

[2018-03-31 01:17] brentschmaltz commented on #1703
@brockallen we are targeting a release 5.2.2 in April with a static global OFF switch.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/milestone/24

[2018-03-31 01:27] brentschmaltz commented on #430
@Eilon @PinpointTownes help me understand how this would fit in.

[2018-04-01 00:20] D3MaxT opened #1712 "Back-channel logout support for OpenIdConnect?"
There is a default endpoint for front-channel signout: signout-oidc

Is there a plan to include a similar endpoint for back-channel signout in 2.1 release?
Spec: http://openid.net/specs/openid-connect-backchannel-1_0.html

Thank you.

[2018-04-01 00:34] Tratcher commented on #1712
No plans for this at the moment, most 2.1 feature work is already done.

The middleware couldn't implement a back channel by itself. The front channel sign out removes the user's cookie. The back channel couldn't, it would have to track sessions and invalidate them so that next time the user presents the cookie it would be rejected. Identity has features like this but it requires plugging into the

[2018-04-01 01:55] D3MaxT commented on #1712
Thank you for the response.

[2018-04-01 02:05] brockallen commented on #1712
We have a super simple sample that shows mechanics here: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/MvcHybridBackChannel

[2018-04-01 02:29] D3MaxT commented on #1712
Awesome!
Thank you Brock!

[2018-04-01 10:59] leastprivilege commented on #1703
How is that better than clearing the default inbound claim type map?

[2018-04-02 00:09] Dark-Bond opened #1713 "ClaimsTransformationContext and IClaimsTransformer are no longer recognized"
I'm trying to move up to .NET Core 2.0 but having some trouble with Claims Transformation.  Using the 1.0 model, I have a class:

`    public class ClaimsTransformer : IClaimsTransformer
    {
`

That implements a stock version of a transformation:

`       public async Task<ClaimsPrincipal> TransformAsync(ClaimsTransformationContext context)
        {
        }
`

This interface and class apparen

[2018-04-02 00:21] brockallen commented on #1646
I still think there's an issue here -- I just setup a ASP.NET Core client using `AddOpenIdConnect` and set the `Authority` to `http://грант.рф:5000` and the client side app is not very happy:

[code]

[2018-04-02 19:15] mgolois opened #1714 "WsFederation SecurityTokenInvalidSignatureException throw even ValidateIssuerSigningKey is false"
Hello,

My app is using wsFederation and I'm trying to bypass signature verification for dev/debug envionment.

[code]

Here is the error I get:
[code]

[2018-04-02 19:18] Tratcher commented on #1714
The token is using a sha1 signature which is obsolete.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/275

@brentschmaltz should they be able to bypass this validation?

[2018-04-02 20:47] dave-hillier opened #1715 "Unclear documentation for Authorization Policy/Authentication"
I've attempted to follow this page: https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies

I performed the following steps:
* I created a new Web API project `dotnet new webapi`
* On the `Get` method of the values controller I added an attribute: `[Authorize(Policy = "AlwaysDeny")]`
* In `Startup.cs` I added the following to `ConfigureServices`:
[code]
When I get `` I would

[2018-04-02 21:54] blowdart commented on #1715
You still need to add authentication so the authorization system has something to check against. It has no way of knowing  that something compiles to always reject.

[2018-04-02 23:09] brentschmaltz commented on #1714
@Tratcher one could use extensibility to hook a CustomCryptoProviderFactory.
TokenValidationParameters.CryptoProviderFactory.

I just added a sample here on how to use KeyVault for signing a SAML token.
This should give some idea.

https://github.com/brentschmaltz/IdentityModel/blob/master/Samples/KeyVaultExtensions/KeyVaultCryptoProviderFactory.cs#L13

[2018-04-03 01:08] brentschmaltz commented on #1703
@leastprivilege I was proposing the switch would turn off inbound and outbound mapping. We wouldn't have to create initialize the dictionaries in the JwtSecurityTokenHandler constructor. I suppose it depends on if you care. The performance gain would be in relation to how may tokenhandlers one creates. Processing wouldn't be faster, since the bool flag could be the count. Regardless, we will adjus

[2018-04-03 05:51] pi3k14 commented on #1480
@Eilon, exactly, as I said.
Hasn't that been the case for all  (ASP).NET Core releases?

[2018-04-03 06:14] leastprivilege commented on #1703
I don't think anyone cares about perf here. Sure a "global switch" is better than clearing dictionaries.

Opting IN instead of OUT would be preferred though.

[2018-04-03 07:05] dave-hillier commented on #1715
Authentication and authorization should be somewhat separate concerns only ASP.Net chooses to conflate them. Given this design choice, it should be made clearer in the documentation that Authentication is a pre-requisite for authorization in the documentation.

[2018-04-03 08:13] dsmailys opened #1716 "WsFederation SaveTokens does not work"
Hello,

Tried using `WsFederationOptions.SaveTokens = true`, but the token is not being set in the AuthenticationProperties.

I have tried hooking into `Events.OnSecurityTokenValidated`
and saving token into authentication properties myself by
`properties.StoreTokens (new [] { new AuthenticationToken { Name = tokenClaimName, Value = token } });`
but with no luck. I get
[code]
Am I missing somethin

[2018-04-03 16:02] Eilon commented on #1480
@pi3k14 there have been some breaking changes, yes, but we wouldn't make a breaking change for renaming a type in this case.

[2018-04-03 18:33] brentschmaltz commented on #1703
@leastprivilege
Sometime simple things can save 1-3%. These make a big deal to large volume services, who regularly squeak when we add %1.
We invested in running a number of perf tests and have several small improvements that will show up.

I agree, for 5.2.2 we will have the BIG RED SWITCH.
Our Async work will be Opt IN.

[2018-04-04 09:03] dave-hillier commented on #1715
I understand that there was a design choice made.
As I said, the documentation lacks clarity. For most users of the ASP.Net they refer to the English language definitions of the words, not the ASP.Net coder definitions.

[2018-04-04 10:09] DerAlbertCom commented on #1480
What  about a compile compat shim?
[code]

[2018-04-04 16:08] Eilon commented on #1480
Hi folks, the proposals here simply don't seem to have enough value compared to their cost, so we are not planning to make these changes.

[2018-04-05 00:10] DamianEdwards opened #1717 "Username contains leading "live.com#" prefix after signing in with AzureAD"
After creating a project using Visual Studio, using org auth (AzureAD), and running it, the username displayed includes an unexpected prefix, in this case "live.com#".

**Expected**
Username is displayed as *damian@damianedwards.com*

**Actual**
Username is displayed as *live.com#damian@damianedwards.com*

Screenshot:
![image](https://user-images.githubusercontent.com/249088/38340947-f9f4c748-382a

[2018-04-05 06:36] dsmailys commented on #1716
If I disable the SaveTokens implementation - the rest of the site is working as intended.
I have a wrapper class that wraps around `WsFederationHandler` and adds some code for authentication from authorization header, but this might be out of scope.
I hook into the events like this:
[code]
If I add non base64 encoded token to the claims, I get
[code]

If I encode the token to base64 before storing

[2018-04-05 11:33] brockallen commented on #1717
When you login via AAD with a live account, they issue two name claims. One of them is what you see above. The other is a First/Last combo, which is the one you're expecting.

[2018-04-05 13:38] Luke-1988 commented on #1708
@Tratcher thank you (ex post) very much, your solution works like a charm. Just to correct, see bellow:

this works:

[code]

this works as well, and is a bit faster:

[code]

[2018-04-05 14:49] Tratcher commented on #1708
FYI app.UseAuthentication(); is required for some handlers to function properly such as cookies with sliding expiration, oauth, OIDC, etc.. JWT and windows auth are the only ones I'm aware of that don't need it.

[2018-04-05 16:38] brockallen commented on #1717
One is the "name" claim type (the one you want), and the other is the ws-* claim types (the one you seem to use now and are using the ClaimTypes constants).

[2018-04-05 17:48] arndklocker opened #1718 "Add Multi-Tenant support"
We want to migrate an multi-tenant asp.net core 1.1 app to asp.net core 2.x. But we haven't find any possibility to implement this behaviour in asp.net core 2.x.

How is it possible to register 'CookieAuthenticationOptions/OpenIdConnectOptions' per tenant!

[2018-04-05 18:35] blowdart commented on #1718
Would you like to share how you did it before?

[2018-04-05 22:09] Tratcher commented on #1716
Wrapping the handler is a strange way to set OnSecurityTokenValidated, you could have set that in Startup.

How big is the token? It sounds huge. A Fiddler trace would show how big the cookie gets when you do this.

I don't have a good explanation for the protocol error, it sounds like a catastrophic failure on the server. Is there anything showing up in the server logs?

[2018-04-06 06:41] dsmailys commented on #1716
Yes, I could, but this is not the main purpose of the wrapper. The main purpose is to enable authentication through authorization header on an api call with a token in the authorization header.

**1st scenario:**
When I am not saving the token and getting a redirect from IdentityProvider to my application:
Status code: 302, localhost:44301/, Body size: 0.
Request sending 82 bytes of Cookie data: .

[2018-04-06 13:34] speige commented on #1695
Pull Request: https://github.com/aspnet/Security/pull/1720

[2018-04-06 17:43] blowdart commented on #1718
SaasKit being a third party product? How are you directing people to login? What distinguishes a tenant here?

[2018-04-06 20:12] HaoK commented on #1709
Yup what @FDUdannychen said :)

[2018-04-06 20:12] #1709 closed

[2018-04-06 20:13] HaoK commented on #1709
Well to clarify you don't have to use IPostConfigureOptions, you can use IConfigureNamedOptions, but register it as an IConfigureOptions

`services.AddSingleton<IConfigureOptions<JwtBearerOptions>, ConfigureJwtBearerOptions>();`

[2018-04-06 22:12] Eilon commented on #1703
Parking in the 3.0.0 bucket because this would be a breaking change.

[2018-04-06 22:13] blowdart commented on #1717
Having a LiveID in an AAD is legacy, that's why you get that annoying message when you login. The vast majority of AAD tenants are not going to be in this situation, because they cannot have LiveIDs inside them, that functionality was blocked years back, it's just folks like you and I that see this.

So won't fix, can't fix, don't use your Live ID, use your AAD account.

[2018-04-06 22:13] #1717 closed

[2018-04-06 22:15] Eilon commented on #1716
@dsmailys we don't recommend storing this data in any persistence because it is security-sensitive information (akin to a username/password). Can you provide more info on the scenario you're trying to achieve?

[2018-04-06 22:16] #1714 closed

[2018-04-06 22:29] Eilon commented on #711
We could consider adding some data to the `Exception.Data` dictionary.

[2018-04-06 23:17] Tratcher commented on #1711
You can set [Authorize(IISDefaults.AuthenticationScheme)] on your auth controller and [Authorize] on the others. Then HttpContext.User should be the one you expect.

[2018-04-08 19:23] poke opened #1721 "Resource-based authorization with separate authentication scheme and a different default policy"
I have a maybe weird auth configuration, let me explain it first:

I have cookie authentication as the default authentication handler, and a default authorization policy that performs some checks but is pretty restrictive. In my controllers, I then use the `[Authorize]` attribute to require (cookie) authentication and that the user fulfills the requirements of the default authorization policy. So

[2018-04-08 20:56] HaoK commented on #1721
So let me try to restart your requirements to make sure I understand the scenario properly.

The authorized case is when:
- The user has the cookie which passes the default [Authorize] logic
- And there's token in the request headers which you use to check against a resource based on the controller action being hit

So in this case since your token scheme is pretty simple you can probably get this

[2018-04-08 22:03] poke commented on #1721
Thanks for the detailed response! Unfortunately, you did not get my scenario correct.. Guess I did not explain that well enough, sorry about that!

There are basically two different ways to interact with my application:

The default case is a standard MVC setup with multiple controllers. This uses cookie authentication (and OIDC) to authenticate the user. The protected routes use a default authori

[2018-04-08 23:45] HaoK commented on #1721
Does this work for you then?

- Routes A: should be [AllowAnonymous] or not protected with [Authorize]
- Routes B/C: [Authorize("Cookies")] or [Authorize] if you use cookies as your default scheme
- API controller [Authorize("Token")] should result in context.User = Authenticate("Token") and then you can use that to do resource based authZ.

[2018-04-08 23:47] HaoK commented on #1721
Basically if you aren't trying to mix and match routes/endpoints between cookies and bearer users this should work fine.  The big trouble is when you want the same route to be accessible via either Cookies OR token

[2018-04-09 07:25] poke commented on #1721
Yes, that’s what I’m doing, having two separate policies for the token stuff: One for authentication and one for resource-based authorization. But I’m wondering if there’s a better way, or if there *should* be a better way. Some way to do this properly without creating an *authorization* policy just for *authentication* purposes.

Why are resource-based authorization requirements even considered f

[2018-04-09 07:41] arndklocker commented on #1718
Hi

We directing people to login with the attribute "Authorize" -> Normal behavior.

In our case, a tenant is the same app with an seperate database, accessible with a subdomain (e.g. customer1.myapp.com). My problem didn't depend on SaasKit. For testing you can hardcode a AppTenant class which deliveres an tenant id.

We want to register the follwoing class as transient, or how can we solve this

[2018-04-09 07:52] MichaelBTR opened #1722 "Issues with authenticating"
We have an application that we are migrating from ASP .NET Core 1.1 to 2.0. There's an auth endpoint that allows JWT tokens that can be validated using known RSA keys, or those obtained once a user has signed in with an AAD account from a specific tenant (the sign in process is done via a separate website). This auth endpoint would then return an API token that can be used on other endpoints. Upon

[2018-04-09 08:46] HaoK commented on #1721
I'm not sure what you mean, aren't you doing actually doing authorization via the token.  Letting only API requests succeed with the appropriate token seems more like authorization than authentication (which would only be get me the token).  Arbitrary, resource based authorization isn't currently supported via the authorize attribute at all.  Its only something you can do imperatively.  If you go

[2018-04-09 09:53] poke commented on #1721
Yes, but before you can do authorization, you need some sort of authentication, no? I want to use authentication to get the token, and authorization to validate the token then.

Yeah, I know and I’m totally fine with that. My point is that using a authorization policy that includes such arbitrary resource-based requirements cannot be used for *authentication*. And that feels a bit wrong because it

[2018-04-09 10:32] dsmailys commented on #1716
This is mainly used when a service wants to call another service that requires authentication.

On full framework we had an option of BootStrapTokenClaimName where we could specify a claim name and store the token.
Do you think we could tackle this in different manner @Eilon ?
Is there some sort of a workaround to pass the token to the controller action until the enhancement is implemented? @Tratc

[2018-04-09 11:45] Tratcher commented on #1722
What's in AuthenticationFailed?

[2018-04-09 12:54] brockallen commented on #1721
All sounds very complicated. Why not split this into 2 different hosts, each with its own security configuration? Cookies vs tokens are two fundamentally different schemes and require different security protections.

[2018-04-09 14:54] poke commented on #1721
@brockallen Because in this case the API controller actually just contains a single endpoint which is used by an external application to push data to the web application. The whole thing is very self-contained and splitting it up into separate hosts would be overengineered and simply not appropriate for the use case.

In general though: ASP.NET Core supports multiple authentication methods, and mu

[2018-04-09 14:57] Tratcher commented on #1716
ClaimsIdentity has a BootstrapContext, not sure what's in it for WsFed though. @brentschmaltz

[2018-04-09 16:02] brockallen commented on #1721
I'm just saying those are two distinct security models and concerns. Beware XSRF for when you allow cookies.

[2018-04-09 21:45] AArnott commented on #1100
ping. Can we please get an official response to this? I'd very much like to know how to mock up authentication when doing integration testing.

[2018-04-09 23:25] MichaelBTR commented on #1722
It's empty and isn't fired. Looking at the output logs and handling the OnTokenValidated event shows that the token was successfully validated

[2018-04-10 00:47] MichaelBTR commented on #1722
Spent more time investigating and it looked like the differences between the lifetime of our authorisation handlers and db context had messed up the behaviour of the middleware. Will look into trying to implementing the auth workflow as I described but would appreciate if anyone could provide some pointers

[2018-04-10 03:02] HaoK commented on #1721
@poke if you could imagine an API for your scenario how would you want to express what you describe?

[2018-04-10 06:10] MichaelBTR commented on #1722
Managed to figure it out now by creating multiple authentication schemes, setting the default one and using the authorize attribute to change the ones that should be used when required. Closing the issue but if there's a better way of doing then please do let me know :)

[2018-04-10 06:10] #1722 closed

[2018-04-10 08:03] poke commented on #1721
Hmm, I think what confused me most was that I configured an authorization policy with an explicit authentication scheme and calling `AuthorizeAsync` with that policy completely ignored that. I think I expected this call to also look at the authentication schemes of the policy, requiring one those as well. – But I understand why this is not the case, after all I’m passing a claims principal to the

[2018-04-10 08:25] HaoK commented on #1721
AuthorizationPolicies were basically a mechanism to attach names to a pair of metadata: authentication schemes and authorization requirements for use in attributes.  The only real authorization inputs are the the ClaimsPrincipal + resource + list of requirements

[2018-04-10 10:01] poke commented on #1721
Basically I just wanted to avoid having to create separate policies with and without those resources requirements.

Yeah, I think that’ll be the best thing to do after all.

It’s a shame though since I think policies are a great way to move the responsibility to set up the authorization rules to a single location; but at the same time I don’t like having to duplicate the requirements just for sepa

[2018-04-10 17:56] blowdart commented on #1718
@davidfowl for visibility. Again this ought to be something we consider not just as a security/identity problem but framework wide.

@sebastienros does the Orchard pieces have magic for this?

[2018-04-10 18:00] Tratcher commented on #1718
@HaoK already has magic for this in 2.0 but it doesn't appear to be captured in our docs or samples.

[2018-04-10 18:06] sebastienros commented on #1718
Like SaaSKit Orchard has a middleware pipeline and a container per tenant. It also has a `DataProtector` root for each tenant. And cookies are defined assigned to the domain and prefix of each tenant.

/cc @PinpointTownes

[2018-04-10 18:38] HaoK commented on #1718
Yeah, there's some new sugar in 2.1 for this:

[code]

https://github.com/aspnet/Options/blob/dev/src/Microsoft.Extensions.Options/OptionsBuilder.cs#L57

[2018-04-10 19:06] PinpointTownes commented on #1718
@HaoK have you tried your snippet? I'm extremely surprised it works, since options are cached. The first call will produce the correct result, but subsequent calls will return the options associated with the initial tenant.

Here's an approach using `IOptionsMonitor`: https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login

[2018-04-10 19:27] PinpointTownes commented on #1718
So your snippet alone is not enough to support multi tenancy?

[2018-04-10 19:29] Tratcher commented on #1718
@PinpointTownes is right, the AuthHandlerProvider caches handlers, which cache options.
https://github.com/aspnet/HttpAbstractions/blob/a6bdb9b1ec6ed99978a508e71a7f131be7e4d9fb/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationHandlerProvider.cs#L40

[2018-04-10 19:30] HaoK commented on #1718
I was only really commenting on the thread about new 2.1 sugar to make what @arndklocker 's code easier.   And not anything about multi-tenancy per say

[2018-04-10 19:33] HaoK commented on #1718
@PinpointTownes answer on stack overflow with a custom IOptionsMonitor looks like a good approach to me

[2018-04-10 19:36] HaoK commented on #1718
@blowdart @davidfowl should I file an issue to write an official 'blessed' multitenant + auth options sample in our AuthSamples repo?  We do get asked this a lot....

[2018-04-10 19:38] blowdart commented on #1718
I believe this needs addressing all up rather than just limiting to auth. @DamianEdwards your thoughts please?

[2018-04-10 20:00] PinpointTownes commented on #1718
@HaoK it's a bit ugly, tho'.

That said, if you can afford doing the tenant name resolution twice (or have some caching to avoid it), you can probably mix your new syntactic sugar (that registers an `IConfigureOptions<T>`) plus a custom `IOptionsMonitor<T>` that uses `IOptionsFactory<T>` like the default implementation.

[2018-04-10 20:50] enemyofthedawn opened #1723 "JwtSecurityToken vs using OpenID connect"
I currently create JwtSecurityToken and return the token to the user after request to /account/login. I use jwt bearer middleware that handles token verification upon each request. Everything works fine.

Now, what would be the advantage over this approach if I used OpenID Connect (through IdentityServer or OpenIddict)?

[2018-04-10 21:15] Eilon commented on #1100
A month ago we release ASP.NET Core 2.1.0 Preview 1, which has some fully supported testing features: https://blogs.msdn.microsoft.com/webdev/2018/03/05/asp-net-core-2-1-0-preview1-functional-testing-of-mvc-applications/

And this week we just release Preview 2 as well.

Please give those a try and let us know if you have feedback on them by logging new issues.

[2018-04-10 22:46] blowdart commented on #1723
So, can I summarise what you're doing to see if I understand it?

- You use a token for authentication that you issue yourself somehow.
- That token just happens to be in the JWT format.
- That token is then sent in calls to your API. (Is this from within a web application only? The same one that processes logins?)

What are you actually wanting to do? You can use OIDC to authenticate and then use

[2018-04-10 22:56] chrisowhite opened #1724 "Configurable SessionIdClaim when using cookie claim storage"
When using cookie authentication with an implementation of `ITicketStore` a constant in `CookieAuthenticationHandler` is used when creating the identity for the auth ticket. This is fine when sharing the cookie between Core apps, but is a problem when trying to share the cookie between a core app and another app using the Katana middleware.

I think adding a property to `ITicketStore` would do the

[2018-04-10 23:02] Tratcher commented on #1724
API breaking changes are not an option for 2.1. Adding something to CookieAuthOptions would be more feasible.

[2018-04-10 23:03] chrisowhite commented on #1724
Derp, yeah clearly a better option. I can submit a PR.

[2018-04-10 23:04] Tratcher commented on #1724
Sure, give it a try and we'll see how it looks.

[2018-04-10 23:04] chrisowhite commented on #1724
Any suggestion on where in that object graph it seems most at home?

[2018-04-10 23:12] Tratcher commented on #1724
Top level on CookieAuthOptions.

[2018-04-10 23:16] chrisowhite commented on #1724
I know it's a different repo, but thoughts on making this change in Katana? I'll probably be forking there for the time being so I can keep moving along.

[2018-04-10 23:24] AArnott commented on #1100
Thanks. That documentation actually directs us to use the same package that includes the `TestServer` class, which you indicated earlier is just for the ASP.NET team to test its own features. Is that still the policy?

[2018-04-11 00:45] blowdart commented on #1718
OK limited ugly sample it is then. Post 2.1 work @HaoK ?

[2018-04-11 01:17] Eilon commented on #1100
Well that was 1+ years ago, and things have changed 😄

Pretty much any public type (except types in `.Internal` namespaces) is fair game to use and supported, but that doesn't necessarily mean we invest a lot of effort in it due to competing priorities. In this case we still use `TestServer` as part of the new testing feature, but the new features were pretty much all external to `TestServer` (whi

[2018-04-11 01:41] HaoK commented on #1718
Yeah I filed https://github.com/aspnet/AuthSamples/issues/33

[2018-04-11 01:41] #1718 closed

[2018-04-11 07:30] enemyofthedawn commented on #1723
@blowdart Yes you're correct. In the simplest my authentication looks like that now:

![image](https://jonhilton.net/img/2017-10-11-secure-your-net-core-2-web-api-using-jwt-tokens/2017-10-16-19-52-32.png)

I issue tokens using `JwtSecurityToken`, basically something like that: https://jonhilton.net/2017/10/11/secure-your-asp.net-core-2.0-api-part-1---issuing-a-jwt/

I don't want consent screen or

[2018-04-11 07:48] arndklocker commented on #1718
@HaoK  When can I expect the sample?

My problem was not to register `OpenIdConnectOptions`, but the method `Configure(string name, OpenIdConnectOptions options)
` **was called only once**. So something in the aspnet security framework must be wrong (refer @PinpointTownes) or was missunderstood by me.

I need an sample, how to configure or replace the extension methods `AddCookie` and `AddOpenIdCo

[2018-04-11 08:31] HaoK commented on #1718
I'd start with @PinpointTownes 's SO approach for now, since the sample likely won't be ready until after 2.1 is done, and it will likely be based on what will be available what's in 2.1

[2018-04-11 08:34] Guymestef opened #1725 "Q: Is WebAuthn planned to be implemented by aspnet.security?"
Hello,

The API should be available in Chrome and Firefox May release.
Starting to look at it and be ready for it could be a good idea?

[webauthn specs](https://www.w3.org/TR/webauthn/)

[2018-04-11 09:12] arndklocker commented on #1718
@HaoK: which SO approach

[2018-04-11 15:09] PinpointTownes commented on #1725
FIDO2/WebAuthn is definitely the future and I'd personally love to see it adopted everywhere.

That said, it essentially dictates how things happen client-side, not server-side. The specification doesn't say how you're supposed to retrieve the challenge from the server or how you send the public key when creating an account or adding a new key to an existing account: all this stuff is necessarily

[2018-04-11 16:41] Guymestef commented on #1725
About validating the client/user signature, I thought it would be considered as an external authentication provider.
But you are probably right about adding this as a whole feature into Identity.

[2018-04-11 16:57] Eilon commented on #1725
Should we close the issue here then? A new Identity issue was just logged at https://github.com/aspnet/Identity/issues/1747.

[2018-04-11 17:29] blowdart commented on #1723
So this veers into opinion now, so in _my opinion_

Yes, it will save you a bunch of time writing client side code, but that's offset by the time taken to implement the server side pieces needed via OpenIddict or Identity Server, which would become your login endpoint.
Your auth logic wouldn't change.

[2018-04-11 17:30] blowdart commented on #1725
I think it belongs in both, because it's not just an identity issue.

[2018-04-11 17:34] Tadimsky commented on #1259
Is this fix going to be backported to 2.0 or is it only going into 2.1?

[2018-04-11 17:49] blowdart opened #1726 "[ASPNET Core 2.0]Authorization Policy ignoring Authentication"
_From @allevyMS on April 11, 2018 17:10_

I am trying to set up authentication and authorization but I am seeing unexpected behavior.
I am running an ASPNET Core 2.0 app on windows (tried this on windows 10 and in a docker container  with the following image 2.0.6-sdk-2.1.104-nanoserver-sac2016) and I have my authentication and authorization set up like this:
using Nuget package: Microsoft.AspNetC

[2018-04-11 17:56] PinpointTownes commented on #1726
While not super convenient, it's the expected behavior (and it's a quite frequent question: https://stackoverflow.com/questions/49545706/adding-a-policy-based-authorization-skips-jwt-bearer-token-authentication-check/49545923#49545923).

In a better world (and IMHO), `DenyAnonymousAuthorizationRequirement` should always be added by default and `RequireAuthenticatedUser()` should be replaced by `Al

[2018-04-11 18:30] PinpointTownes commented on #1723
Essentially, you're implementing your own ROPC-like flow (ROPC = resource owner password credentials), which is the simplest OAuth2 flow (but also the only one not suitable for third-party client authorization). I say "ROPC-like" because it doesn't use standard-compliant parameters and doesn't take things like client authentication into account.

Whether you go with your custom thing or with an OI

[2018-04-11 20:14] Eilon commented on #1259
The change is only in 2.1.0. No plans to port this to any other releases.

[2018-04-11 21:35] Tadimsky commented on #1259
@Eilon what is the best way to remove these logs then if we're not on 2.1?
Filter out all logs for JwtBearer?
Or else, when is 2.1 going to RTM?

[2018-04-11 21:51] blowdart commented on #1726
Oh heck, I moved it and never replied. As @PinpointTownes says it's expected, and yes it'd be a big breaking change, like major version number breaking change.

[2018-04-11 23:33] Eilon commented on #1259
2.1 RTM is planned for the current quarter (2018 Q2), which is April/May/June, so it shouldn't be too far away.

The logging system does support filtering so if you need the change immediately you can write a logging filter that strips out certain logs.

[2018-04-12 01:51] Tadimsky commented on #1259
Yeah, I was hoping to do it with minimum levels for different contexts.
However, this is being logged as Information with the `Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerHandler` context which is the same level and context as success messages that we do want :(

[2018-04-12 15:18] haydenhancock opened #1727 "Using Microsoft.AspNetCore.Authentication.JwtBearer in Azure"
I seem to be having issues when using Microsoft.AspNetCore.Authentication.JwtBearer with a .NET Core 2.0 web API published (using Web Deploy in Visual Studio) to Azure. Everything works locally; however, when I publish my application to Azure, I receive '500' errors. I've attempted to collect information from Kudu but everything appears to be normal. There are no errors in the build output when pu

[2018-04-12 15:26] Tratcher commented on #1727
Try these:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/troubleshoot?view=aspnetcore-2.1
https://docs.microsoft.com/en-us/visualstudio/debugger/remote-debugging-azure

[2018-04-12 15:53] haydenhancock commented on #1727
Well, after reviewing my application settings, I realized there was a mistake. I resolved this in my appsettings.json file and re-published and it's working as expected.

Thanks,

[2018-04-12 15:53] #1727 closed

[2018-04-12 22:10] Eilon commented on #1716
@brentschmaltz - can you share your thoughts on this?

[2018-04-12 22:16] Eilon commented on #1695
@Tratcher - please merge the PR after reverting the public API back to private.

[2018-04-13 06:32] dsmailys commented on #1716
Tried saving the token to the BootstrapContext in OnSecurityTokenValidated event.
[code]

But when I get to the authorized Controller action, BootstrapContext is null. Is it being overwritten somehow? Maybe I am not using the BootstrapContext correctly?
@Tratcher

[2018-04-13 13:17] PinpointTownes commented on #1726
@blowdart do you mind re-opening this thread and putting it in the `3.0.0` milestone so it has a chance to be discussed for the next major version?

[2018-04-13 14:28] blowdart commented on #1726
I can, but as it's turning things on its head, it's going to be a hard sell :)

[2018-04-13 17:32] Eilon commented on #1695
Moving to 2.2.0 because we just don't have time to get this into 2.1.0.

[2018-04-13 19:31] jeff-bacon commented on #1716
I'm trying to fetch the access token after login and somehow instantiate a WindowsIdentity from it for the purpose of impersonation.  I can't figure out how to get the access token though.  Tried the bootstrap context and savetokens = true with no luck.

[2018-04-15 16:15] speige commented on #1695
Updated PR based on feedback.

[2018-04-15 21:38] tbaragao opened #1728 "Scopes and ClaimTypes doesn't working"
Hi guys at the first time, sorry for my bad english. Well, i'm reading the Asp.Net Identity Documentantion to learn how can i work with it. I'm trying add new Scope on Facebook External Provider and Google External Provider, but i can't get any different information then the defaults. Follow my code to configure the scopes
`services.AddAuthentication()
                    .AddFacebook(facebookOpti

[2018-04-16 13:55] PinpointTownes commented on #1718
@arndklocker this one: https://stackoverflow.com/a/49682427/542757. It should work with any authentication handler like OIDC, Google, Twitter or any aspnet-contrib social provider.

[2018-04-16 19:09] blowdart commented on #1728
Do you get any errors from Facebook or Google?

[2018-04-16 19:32] tbaragao commented on #1728
Hi Barry, i don't have got any errors, but on the permitions screen (after click on the buttons to log-in) the scopes which i've been added was not showed, and I not found the user_profile information inside of the `info.Principal` object on method `ExternalLoginCallback.`

[2018-04-16 19:35] blowdart commented on #1728
Can you capture the outbound URL for, say, facebook and check the expected scope is on it? You'd see something like

```https://www.facebook.com/v2.6/dialog/oauth?client_id=CLIENT_ID&scope=public_profile,email&response_type=code&redirect_uri=REDIRECT_URI&state=STATE_TOKEN```

[2018-04-16 19:48] tbaragao commented on #1728
Yeah, for this service configuration:

`AddFacebook(facebookOptions => {
                        facebookOptions.AppId = Configuration["Authentication:Facebook:AppId"];
                        facebookOptions.AppSecret = Configuration["Authentication:Facebook:AppSecret"];
                        facebookOptions.SaveTokens = true;
                        facebookOptions.Scope.Add("public_profile");

[2018-04-16 21:55] NinoFloris opened #1729 "SameSite default value update"
According to https://github.com/hapijs/bell/pull/355 (which I found as it links to https://github.com/aspnet/Security/issues/1231) chrome > v65 has fixed their samesite behavior to be in line with other browsers. This should allow `SameSite.Strict` in a few cases again.

I haven't tested this but I do think it's important to see if the default security can be increased again.

[2018-04-17 09:57] dsmailys commented on #1716
@Tratcher I've got some additional information.
Our team found out that if we host the application on Kestrel web server with configured https and self signed certificate, we are able to add token to the user claims and receive the modified claimsPrincipal in the action with no additional modifications.

Beforehand I tested the application by hosting it on local IIS. Might it be related to the IIS

[2018-04-17 15:53] Tratcher commented on #1716
That's odd. The only feature of IIS that would conflict with this is if you had Windows Auth turned on. The only other difference is the application pool identity.

[2018-04-17 16:35] #1695 closed

[2018-04-17 19:38] Tratcher opened #1730 "Map causes wrong ReturnUrl parameter for Cookies"
[code]

If UseAuthentication is outside of the Map, and ChallengeAsync is called inside the Map, then CookieAuth generates the wrong ReturnUrl parameter.
https://github.com/aspnet/Security/blob/2e3a1071a884de19d33daa00bbdc2b7614d73646/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L436

In the example `http://localhost:12345/hello/world?query`, it uses the OriginalP

[2018-04-17 21:25] achandlerwhite commented on #1718
I have a pretty decent solution to this based on using a custom IOptionsCache. I'm still working on the documentation, but the samples are pretty clear:
https://github.com/Finbuckle/Finbuckle.MultiTenant

Check out the AuthenticationOptions sample. The nuget pacakge to add is Finbuckle.MultiTenant.AspNetCore v1.0.0. The config code looks like this:
[code]
You could easily add another "WithPerTenan

[2018-04-18 08:37] MarcinSzyszka opened #1731 "[2.0] After successfully SignIn "IsAuthenticated" (IIdentity) property is always false even all claims are set."
Hi.

My code in ConfigureServices method in Startup.cs

`            services.AddAuthentication()
                .AddCookie(c =>
                {
                    c.LoginPath = new PathString("/User/SignIn");
                    c.ExpireTimeSpan = TimeSpan.FromDays(1);
                    c.SlidingExpiration = true;
                    c.Cookie.Name = "RodoApiAuthCookie";

[2018-04-18 08:57] HaoK commented on #1731
You need to specify an AuthenticationType in the claims identity as that's what IsAuthenticated is testing

[2018-04-18 09:04] MarcinSzyszka commented on #1731
@HaoK big up for you. Thanks. Issue can be closed.

[2018-04-18 09:33] #1731 closed

[2018-04-18 13:39] davdev82 opened #1732 ".AspNetCore.Correlation. state property not found"
I am having errors. ".AspNetCore.Correlation. state property not found" within OIDC Handler. It does not happen all the time, but when it does none of our customers can login and the page is stuck at "/signin-oidc". The only way out is to recycle app pool. We do not have multiple OIDC handlers configured.

I have noticed that the version of the OIDC middleware has been upgraded to 2.0.3, so it mig

[2018-04-18 15:54] Tratcher commented on #1732
Don't expect any changes here between 2.0 and 2.0.3. It's very suspicious that everybody would get the error at the same time. It might be a data protection error, possibly a bad key rollover. Does anything show up in the application logs?

[2018-04-18 16:26] Tratcher commented on #1732
That's odd. Have you customized the OIDC settings at all?

[2018-04-18 16:29] davdev82 commented on #1732
I have followed what the documentation says, and the fact is it works. But when it does not it throws the ASP.Net Core State Property not found error. There have been other users facing the same issue

https://github.com/IdentityServer/IdentityServer4/issues/2115

[2018-04-18 16:30] davdev82 commented on #1732
I have posted my query there as well just to see if anyone has an answer

[2018-04-18 16:40] davdev82 commented on #1732
services.AddAuthentication(options =>
                {
                    options.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                    options.DefaultChallengeScheme = OpenIdConnectDefaults.AuthenticationScheme;
                })
                .AddCookie(CookieAuthenticationDefaults.AuthenticationScheme, options =>
                {
                    option

[2018-04-18 17:09] Tratcher commented on #1732
Ok, no interesting customizations there. I don't have any other ideas at the moment except to hook into the events and add extra logging around the suspect values.
https://github.com/aspnet/Security/blob/48dceba628d4d4f15dd70b71dcdd55c4d7dad7e0/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L345
https://github.com/aspnet/Security/blob/48dceba628d4d4f15dd70b71dcdd55c4

[2018-04-19 12:55] spottedmahn commented on #1356
This looks helpful: [Policy-based authorization in ASP.NET Core -> Use a handler for multiple requirements](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.1#use-a-handler-for-multiple-requirements)

[2018-04-19 15:38] davdev82 commented on #1732
Well adding the logging to RedirectToIdentityProvider will not help as the culprit here is the **"State"**, but that is not passed in when the event is raised, The state is calculated and protected after the Redirect event is raised. So logging a before and after state cannot be done

[2018-04-19 21:00] Tratcher opened #1733 "No obvious way to call the default authz policy imperatively"
AuthorizationOptions defines a DefaultPolicy, but when you're trying to call IAuthorizationService.AuthorizeAsync there's no obvious way to ask it to use that default policy.  Today DefaultPolicy is only used by `[Authorize]`.

Workarounds:
A) Flow the policy instance through some side channel (?) and pass it directly into AuthorizeAsync. This is how `[Authorize]` works.
B) Double register the def

[2018-04-19 21:06] muratg commented on #1394
@blowdart 2.1 timeline is closing. Could you file the doc bug and close this one?

[2018-04-19 21:08] muratg commented on #1733
Should be an cheap to add API.

[2018-04-19 21:13] muratg commented on #1730
Workaround:
[code]

[2018-04-19 21:15] muratg commented on #1729
Let's reevaluate in 2.2.

[2018-04-20 01:09] John0King commented on #1394
@Eilon @Tratcher Does WebAPI use `Accept` value to detect what formate to send(json xml) ?  I have a customized `AuthoraztionFilter` that use `Accept` , and so far I'm not hitting any issue.
my check is simple:  if `accept` not contains "html" , then it is a api call , and will return 401 statuscode, if it does, then it is from browse (not ajax) , and will redirect to login page

[2018-04-20 18:14] Tratcher opened #1734 "UseAuthorization middleware"
UseAuthentication runs in the pipeline and automatically applies the default authentication handler. There is no corrilary for authorization. This would be useful for scenarios like authorized static files:
https://github.com/aspnet/AuthSamples/issues/28.

UseAuthorization should have parameters that mimic the Authorize attribute. Failing any parameters, it should run the default policy (which is

[2018-04-22 23:17] ready1 commented on #1473
@Tratcher Thank you for your response, I am running locally under debugger but it is not doing what is expected with the callback. Could this problem be caused by the endpoint? How can I pinpoint what causing the callback not to be called?

[2018-04-23 04:49] Tratcher commented on #1473
Do you have UseAuthentication in the Startup.Configure? In what order?

[2018-04-23 13:29] dsmailys commented on #1716
@Tratcher @Eilon
Could you please elaborate on the security concerns about implementing SaveTokens?
This is mainly used when a service wants to call another service that requires authentication from an authorization header. Is there something wrong with our approach and this scenario could be handled with another solution?

[2018-04-23 16:57] Eilon commented on #1394
ASP.NET Core Web API supports content-negotiation based on the client's Accept header. Read more here: https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-2.1#content-negotiation

[2018-04-23 20:46] blowdart commented on #1394
Moving to 2.2-mq, this really isn't that version dependent. @Rick-Anderson do you want to pick this up at some point?

[2018-04-24 00:44] ready1 commented on #1473
@Tratcher  We have found that the callback only triggers if the replyto ends with '/signin-wsfed' and not '/'
Thanks for your help.

[2018-04-24 22:03] ryanbuening opened #1735 "Question: Returning a 401 status instead of a 302 redirect after cookie has expired"
I'm using cookie authentication without Identity and the following Nuget packages:

[code]

I'm setting a short timeout on my cookie and wanting my API calls to return a 401 status instead of a 302 redirect when the cookie has expired. My `ConfigureServices` looks like the following:

[code]

I'm using OnRedirectToLogin, however, I'm still getting 302 response and not a 401 after the cookie has ex

[2018-04-25 00:10] brentschmaltz commented on #1703
@Tratcher @Eilon we dropped IdentityModel 5.2.2 yesterday that has a the static property JwtSecurityTokenHandler.DefaultMapInboundClaims and the instance MapInboundClaims.

[2018-04-25 14:38] TobiasBaumgarten commented on #292
I run in the same issue. I added the second options line and that solved the problem.
I think this is a better solution than the [Authorize("Bearer"] approach.
[code]

[2018-04-25 15:09] ryanbuening commented on #1735
Solution here: https://stackoverflow.com/a/50025008/1193140

[2018-04-25 15:09] #1735 closed

[2018-04-25 22:00] mikeomeara1 opened #1736 "1.1 to 2.x Upgrade - Shared ASP.NET 4x/Core Cookie"
I'm in the process of upgrading our Core 1.1 app to 2.x (using [this guide](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/?view=aspnetcore-2.1))and have hit a brick wall on configuring cookie authentication. In my use case, an ASP.NET 4x application does the sign-in (using ASP.NET Identity 2/OWIN) and provides a cookie to my Core app. This all worked swimmingly in 1.1 but after c

[2018-04-25 23:50] mikeomeara1 commented on #1736
Once again proving the quickest way to solve a problem is to open an issue on a public forum....sheesh. Just in case my pain helps someone else, it turns out that there were a couple of things that needed to happen:

1. I commented out `o.DataProtectionProvider =svc.GetDataProtectionProvider();`. Unsure why this isn't necessary anymore...but apparently it isn't.
2. I apparently didn't add `app.Use

[2018-04-25 23:50] #1736 closed

[2018-04-26 06:33] dsmailys commented on #1716
Adding some additional information.
This issue is happening when cookie size exceeds 16kb. 16kb is the default value of http system registry setting. More information about this here: https://support.microsoft.com/en-us/help/820129/http-sys-registry-settings-for-windows
Both MaxFieldLength and MaxRequestBytes by default are 16kb.

One of the solutions would be to open regedit and go to: HKEY_LOCAL

[2018-04-28 01:54] jdmichel opened #1737 "Incorrect request format when exchanging authorization_code for tokens"
Per OIDC spec 2.1.6.1 the Client Id and Secret must be encoded into the Authorization header.
http://openid.net/specs/openid-connect-basic-1_0.html#TokenRequest

I have a PR that might fix the bug, but I can't get the source to build. (version '2.1.0-preview3-26413-05' was not found.) Too much hassle to get this built. Installed VS 15.7 and latest available 2.1 preview and still errors.

I also ha

[2018-04-28 11:07] PinpointTownes commented on #1737
FYI, this was already discussed here: https://github.com/aspnet/Security/issues/1032.

[2018-04-28 11:55] jdmichel commented on #1032
This just cost our company an embarrassing amount of time and money to track down. It's mandated as optional in the OAUTH 2.0 spec, but required by the OIDC spec. Your current implementation isn't even allowed by the OIDC spec.
And you knew about this BUG a year and a half ago?
The point of having a spec is that each implementer doesn't a get a vote about what they think makes sense for one reason

[2018-04-28 16:48] ZOXEXIVO opened #1739 "CurrentUri in AuthenticationHandler is headache under load balancers"
For services under load balancers, code like this

`return Request.Scheme + "://" + Request.Host + OriginalPathBase + targetPath;`

in AuthenticationHandler is really terrible.
We can't override it and projects must be using X-Forward-Proto headers and other things.

Why you can't take this control to client-side if needed ?

[2018-04-28 16:52] Tratcher commented on #1739
Duplicate x100
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1

[2018-04-28 16:52] #1739 closed

[2018-04-28 17:02] ZOXEXIVO commented on #1739
We know about this configuration, but why we need do this, if we can take control for building url in our hands?

[2018-04-28 20:28] Tratcher commented on #1739
Because you'd have to do the same thing in a dozen other places too. Lots of components in the stack work from the request fields and depend on them being accurate.

[2018-04-30 14:57] SirwanAfifi opened #1740 "SecurityTokenNoExpirationException"
I am using JWT authentication, but I get following exception:
[code]

Here's also the JWT config in Startup file:
[code]

[2018-04-30 15:12] Tratcher commented on #1740
The error message speaks for itself, your token is invalid. This shouldn't be related to your app configuration. You could share a token (privately) for confirmation. Where are you getting the token from?

[2018-04-30 16:08] #1740 closed

[2018-04-30 19:29] blowdart commented on #1197
Yea, we should punt this to Mike Jones and the standards folks. At some point. Might was well do it as part of the identity service pieces.

[2018-04-30 22:36] makcakaya opened #1741 "Jwt - IDX10500: Signature validation failed. No security keys were provided to validate the signature."
v 2.0.1

I am trying to get Controller.User set by using JWT authentication but I don't want to validate anything (because I do it in another app already).

I am getting following exception:

[code]

[code]

What might be the problem? As I said I don't want any validation but the library throws a validation exception.

[2018-04-30 22:42] HaoK commented on #1741
You need to configure the appropriately named JwtBearer that you specified in AddAuthentication()

[code]

[2018-04-30 22:45] Tratcher commented on #1741
There are some validations that can't be turned off. @brentschmaltz

[2018-05-01 00:03] makcakaya commented on #1741
@Tratcher The other validation code is completely seperate, it is in another application (AWS Gateweay Authorizer), and yes it will run first.

[2018-05-01 02:10] makcakaya commented on #1741
This middleware seems to do the job for me. I am sharing it here in case anyone else needs it.

[code]

Then in your `Startup.cs`:
[code]

Now, in your controller you can get the User as usual:
[code]

[2018-05-01 13:59] saborrie commented on #1469
@AKlaus

I don't know much about this but while reading the code in this link, I think I might have found out how you pass on auth to other schemes: https://joonasw.net/view/creating-auth-scheme-in-aspnet-core-2

[code]

[2018-05-02 13:12] martindrlik opened #1743 "dynamically changeable authentication based on host name"
It is possible to have multiple authentications (and options) and choose relevant one let say based on host name? For instance assume several companies hosted by application and each has their own AppId and AppSecret for Facebook authentication, or event different authentication e.g. Google.
[code]
Note that AppId and AppSecret or what authentication can be used is unknown in the time when `Config

[2018-05-02 13:39] Tratcher commented on #1743
See https://github.com/aspnet/AuthSamples/pull/44

[2018-05-02 13:55] justinhelgerson opened #1744 "The oauth state was missing or invalid"
I can't seem to get past this exception when using the Salesforce OAuth package from [aspnet-contrib](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers).

My `Startup.cs` class is fairly generic:

[code]

I've been starting to dig into the source code for the OAuth handler, but I'm not sure why it's not able to read the state (or why it considers it invalid).  Salesforce is in fact

[2018-05-02 14:07] Tratcher commented on #1744
Can you share a Fiddler trace of the login flow?

The state parameter would have to be corrupted, or you've have to be having issues with data protection trying to decrypt it. Are you debugging this with a single instance of the app? Or do you have multiple instances running?

[2018-05-02 14:44] justinhelgerson commented on #1744
Thanks for the reply @Tratcher.  This is a single instance.

I haven't used Fiddler in ages, and it doesn't seem to play well with IIS Express / localhost.  I'll see if I can get it working; in the meantime, I've attached an HTTP Archive of only the relevant requests:
[OAuth-HAR.txt](https://github.com/aspnet/Security/files/1967687/OAuth-HAR.txt)

[2018-05-02 15:16] Tratcher commented on #1744
That's weird. Your request to https://localhost:44384/signin-salesforce has all of the right parameters, successfully authenticates, but then it redirects back to itself at https://localhost:44384/signin-salesforce, which fails because it's missing the required parameters. Why would it return to itself? It's supposed to return to the url that initiated the challenge unless you overwrote that when

[2018-05-02 15:38] sonichanxiao opened #1745 "Role string mapping in Role based authorization?"
I am thinking using RequireRoles() method to filter AD group user at application global level(if user's account is not in the AD group, access will be denied).

So I added this within ConfigureServices in Startup.cs:
[code]

Not sure if this is the way to specify AD group name?

[2018-05-02 18:00] justinhelgerson commented on #1744
I was able to get this straightened out.  Your comment

triggered a thought.

I assumed I had to handle the OAuth response, but the handler takes care of processing that response for you.  I was overriding the redirect, but that action had an incorrect `Route` attribute using the same route as the OAuth callback.  The OAuthHandler then takes over that request and tries to process it, but of course

[2018-05-02 18:00] #1744 closed

[2018-05-03 07:02] jamesharling opened #1746 "Add API Key authentication to this library"
Hi

I've just finished porting my Owin API key authentication project to .NET Core, and it can be found here: https://github.com/jamesharling/Microsoft.AspNetCore.Authentication.ApiKey. I wanted to upload this package to NuGet but you have a prefix reservation active, meaning I am unable to do so. The Owin version has proved popular and I've had requests to port it to .NET Core, so I wondered if w

[2018-05-03 08:42] vatanjoshi commented on #219
##Solved by using Never option for CookieSecureOption##
[code]

[2018-05-03 11:57] Tratcher commented on #219
That's concerning. You've downgraded your security. Were you able to capture a Fiddler trace of the issue?

[2018-05-03 12:00] Tratcher commented on #1746
We recommend taking projects like this over to https://github.com/aspnet-contrib and/or dropping the Microsoft naming prefix.

[2018-05-03 17:06] TheMasterPrawn commented on #219
Hi Chris.

we have since Migrated the app to Okta.

regards,

Rob

________________________________
From: Chris Ross <notifications@github.com>
Sent: 03 May 2018 12:57
To: aspnet/Security
Cc: Rob Allen; Mention
Subject: Re: [aspnet/Security] Getting into an infinite redirect loop when integrated with Azure AD (#219)

That's concerning. You've downgraded your security. Were you able to capture a Fi

[2018-05-03 18:45] blowdart commented on #1745
You shouldn't need the domain name, at least not if you're using Integrated Auth,.

[2018-05-03 18:46] blowdart commented on #1743
I'm going to assume the thumbs up means you got your answer and the issue can be closed. If this isn't the case feel free to reopen it.

[2018-05-03 18:46] #1743 closed

[2018-05-03 20:40] rakeshprabhu opened #1747 "IdentityServer4 getting 404 when accessing /.well-known/openid-configuration"
Accessing Identity Server deployed in IIS (in EC2 non-prod) getting 404 when client application is accessing "/.well-known/openid-configuration", Bellow are the startup code for your reference. I been stuck in this issue for last 3weeks. where this works well when running from VS at localhost:5000

For time being i am using AddDeveloperSigningCredential(). I have explored lot of links but solution

[2018-05-04 01:29] brentschmaltz commented on #1741
@Tratcher @makcakaya you set the delegate TokenValidationParameters.SignatureValidator to just return a JwtSecurityToken.

Why don't  you want to validate the token in the pipeline?

[2018-05-04 03:49] frankyvij commented on #1732
Hey, did you manage to solve the issue? I have the same problem. The authentication with Microsoft OpenId was working fine, but all of a sudden, it stopped working. I did not update any library (using the same version 2.0.3).

Following is the error I get:
Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler: .AspNetCore.Correlation. state property not found.

[2018-05-04 06:11] rakeshprabhu commented on #1747
Ok, I will raise this issue >IdentityServer4

[2018-05-04 06:11] #1747 closed

[2018-05-04 12:41] makcakaya commented on #1741
@brentschmaltz Thanks for the info.

Just to make my case clear, the validation of JWT is done in another application (call it application A) (AWS Custom Authorization). If only the validation succeeds, then that application (A) passes/redirects the original request to my application (application B). So there is no request from B to A for authorization.

[2018-05-04 12:55] Tobias-Gr opened #1749 "AuthorizeAsync with ConfigureAwait(false)"
Hi,

is it safe/recommended to use AuthorizeAsync with ConfigureAwait(false) in an ASP.NET Core WebAPI-project? E. g.:

if ((await authorizationService.AuthorizeAsync(User, userLogin, Operations.Read).ConfigureAwait(false)).Succeeded)
{...}

Thanks!
Tobias

[2018-05-04 14:57] sonichanxiao commented on #1745
So you are saying, as the application runs on internal network within a domain. it should be able to identify the "dev group" (AD group) by just doing this?
[code]

Do I need to connect to AD or something?

[2018-05-04 18:03] blowdart commented on #1749
Why do you think you need it? There's no SynchronizationContext in Core.

[2018-05-04 18:06] blowdart commented on #1745
You need to configure [windows authentication](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.1&tabs=aspnetcore2x).

[2018-05-04 18:08] sonichanxiao commented on #1745
Yes, I have set windowsAuthentication to be true in launchSettings.json file
[code]

[2018-05-04 18:12] blowdart commented on #1745
If you're behind IIS did you also configure IIS?

[2018-05-04 18:14] sonichanxiao commented on #1745
I am currently running the application on my local dev machine. should I also configure it under launchSettings.json->profiles->IIS Express?

[2018-05-04 18:27] blowdart commented on #1745
No there's an option in the VS project property dialog you can tick

![snip_20180504111947](https://user-images.githubusercontent.com/796298/39645683-ff7c455e-4f8d-11e8-927d-10624954f2e0.png)

[2018-05-04 18:28] blowdart commented on #1745
Uncheck Enable Anonymous and check Enable Windows Authentication.

Then in your view just output User.Identity.Name and see what you get

[2018-05-04 18:40] sonichanxiao commented on #1745
Yes, I have done that.
And it shows the current user's domain name [domain]\[username]

[2018-05-04 18:49] blowdart commented on #1745
OK cool, so you're logged in

Now try User.IsInRole("Users") and User.IsInRole("Administrators"), then User.IsInRole("Domain\Users") and User.IsInRole("Domain\Administrators"). Do they match? (Replacing domain with, well, your domain).

I believe this varies according to config. But Domain\ should always talk to the domain.

And then you can see what groups you're in via the command prompt

net us

[2018-05-04 19:01] sonichanxiao commented on #1745
User.IsInRole("Users") returns true
User.IsInRole("Administrators") returns false
User.IsInRole(@"[domain]\Users") returns false
User.IsInRole(@"[domain]\Administrators") returns false

I even tried:
User.IsInRole(@"[domain]\[group alias name]")
and it still returns false

[2018-05-04 19:33] blowdart commented on #1745
So in this because, I *think* (because Windows auth belongs to Windows and it's hard to remember the rules), because your PC is in the domain you don't need to specify the domain.

@User.IsInRole("DEVDIV_ORG_FTE_REDMOND")
@User.IsInRole("REDMOND\\DEVDIV_ORG_FTE_REDMOND")

Both return true for me.

[2018-05-04 19:43] sonichanxiao commented on #1745
I tried User.IsInRole("[group alias name]"), it still return false;

[2018-05-05 13:27] blowdart commented on #1745
Are you testing with yourself, or with someone else? And your local machine you're testing on is domain joined?

[2018-05-06 11:27] guylando commented on #1602
When just adding the following middleware before .UseAuthentication in startup.cs, it triggers the log a lot even though it probably shouldn't have:
`
public async Task Invoke(HttpContext context)
        {
            var handlers = context.RequestServices.GetRequiredService<IAuthenticationHandlerProvider>();
            FieldInfo field = typeof(AuthenticationHandlerProvider).GetField("_handlerMa

[2018-05-07 07:59] Tobias-Gr commented on #1749
We thought that using ConfigureAwait(false) might have performance benefits (like it does in other contexts). But I'm not well versed in the details of ASP.NET Core. So this idea might be wrong.

[2018-05-07 10:19] jamesharling commented on #1746
Thanks for the feedback. @Tratcher do you know how to get a repository under `aspnet-contrib`? All members are hidden in that org.

[2018-05-07 13:14] speak2san commented on #1469
I have a API which is configured to be authenticated from "Azure AD B2C" token. Now I also need to make it accept "Azure AD" token. Can someone please help with the clear direction ?

[2018-05-07 13:39] Tratcher commented on #1746
@PinpointTownes ?

[2018-05-07 13:46] PinpointTownes commented on #1746
@jamesharling not sure why the members are not public. Thanks for pointing that out, I'll take a look.

@Tratcher unfortunately, I can't accept new projects ATM (I already maintain 60 packages as part of the contrib initiative and without help, it's hard to keep up). If you guys offered to help with reviewing PRs/managing issues/fixing things, I'd certainly reconsider that (I don't mention financi

[2018-05-07 13:50] Tratcher commented on #1602
https://github.com/aspnet/HttpAbstractions/blob/816516f193afcb7ce6b564facc2a36d7e86604ea/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationHandlerProvider.cs#L42-L60
AuthenticationHandlerProvider has a scoped lifetime so it's expected to be emtpy at the start of every request. IIS Windows Auth, UseAuthentication, or an explicit call to AuthenticateAsync (or related methods) are the only t

[2018-05-07 15:28] sonichanxiao commented on #1745
I am testing myself, on my local dev box.

Some updates, I tried using this command gpresult /r in command, tried a few random groups showing there, it works. But in AD explorer, under a specific account's memberOf field, some groups showing in AD are not in the group list generated from command.

[2018-05-07 16:17] guylando commented on #1602
what do you mean by IIS Windows auth? because actually we are using iis, maybe related?

[2018-05-07 16:29] guylando commented on #1602
our Main method has:

                            .UseIISIntegration()
                            .UseKestrel()
and the versions are 2.1.0-rtm-30733

[2018-05-08 00:14] HaoK commented on #1559
We did tweak things a bit starting in preview2, we enabled the forwarding in all schemes now, so you can forward in all existing schemes (i.e. cookies, OAuth, google), AddVirtualScheme was renamed AddPolicyScheme for the scenario where you want a pure virtual scheme that isn't attached to any specific auth handler logic.

[2018-05-08 00:17] klick-barakgall commented on #1559
@HaoK Sounds amazing, can't wait to hack around with that. But I'm working on some production-bound code and need to figure out how to get something done now.

Essentially I am using `.AddCookie().AddGoogle()` on my authenticationbuilder, but when that comes back with a user I need to A) check that the email ends with a specific domain and B) ask the user to enter a user-specific password or PIN.

[2018-05-08 16:42] Tratcher commented on #1746
@PinpointTownes understood. You've done a good job to juggle that many.

@jamesharling AspNet.Security.ApiKey or AspNetCore.Authentication.ApiKey sound good.

[2018-05-08 17:31] HaoK commented on #1559
So you are basically doing two factor auth with Google + PIN/local password?  You will just need to build that flow yourself, it shouldn't look that different than what the templates do today, if you didn't want to use identity to do the password verification you would just replaces those calls to your own password verification logic

[2018-05-09 03:04] HelloKitty commented on #1043
It has been a long time and many changes from 1.x to 2.0. Is it still needed to clear the JwtSecurityTokenHandler in 2.0?

[2018-05-10 04:04] frankyvij opened #1750 "UserManager.IsLockedOutAsync is always returning false"
Hi,

I am trying to retrieve user locked out status and it seems that IsLockedOutAsync method always returns false, even if the user is locked out.

Also, please note that "summary" of the method is incorrect. It should read as: "Returns a flag indicating whether the specified user ~~his~~ **is** locked out, as an asynchronous operation."

Similarly, "summary" is incorrect for GetLockoutEnabledAsy

[2018-05-10 06:05] frankyvij commented on #1750
LockoutEnabled is set to 1 and LockoutEnd is set to date: 2018-05-10 06:09:04.571204.

I just locked the user out by entering incorrect password, so the date above is current. Also, I am using MySQL database, does it have anything to do with how this date is treated?

[2018-05-10 10:19] davidgouge opened #1751 "Why would /signin-wsfed return a 404?"
Hi,

We have an asp.net core web app using the Microsoft.AspNetCore.Authentication.WsFederation package.  When the auth has been performed by the authority and they POST to /signin-wsfed, a 404 is being returned.

What would be the reasons for this?  This app works just fine when running from my machine and Authenticating against a test authority, so I know there is probably a difference somewhere

[2018-05-10 11:35] Tratcher commented on #1751
That's odd. Have you compared Fiddler traces for the working and failing scenarios? Want to share them?

[2018-05-10 11:40] davidgouge commented on #1751
Odd is right! :)

Not fiddler, but Chrome dev tools network monitor and the requests and responses look ok.   I'm in the process of adding logging to all of the .AddWsFederation options.Events to see if that shows anything.

I'll dig out the traces shortly.

[2018-05-10 11:44] Tratcher commented on #1751
Xposted at https://stackoverflow.com/questions/50270654/asp-net-core-signin-wsfed-returning-404

[2018-05-10 11:56] davidgouge commented on #1751
This is the request and response for the working environment:

`
POST /signin-wsfed HTTP/1.1
Host: pp-**********.*******.********.gov.uk
Connection: keep-alive
Content-Length: 7940
Cache-Control: max-age=0
Origin: https://adfs.preprod.**********.******.gov.uk
Upgrade-Insecure-Requests: 1
Content-Type: application/x-www-form-urlencoded
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebK

[2018-05-10 11:56] davidgouge commented on #1751
And this is the Request and Response for the none working one:
`POST /signin-wsfed HTTP/1.1
Host: **********.*******.********.gov.uk
Connection: keep-alive
Content-Length: 7899
Cache-Control: max-age=0
Origin: https://adfs.**********.******.gov.uk
Upgrade-Insecure-Requests: 1
Content-Type: application/x-www-form-urlencoded
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (K

[2018-05-10 11:57] davidgouge commented on #1751
Nothing jumps out as different to me apart from urls etc.

[2018-05-10 12:05] davidgouge commented on #1751
And the startup config:

` services.AddAuthentication(sharedOptions =>
                {
                    sharedOptions.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                    sharedOptions.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                    sharedOptions.DefaultChallengeScheme = WsFederationDefaults.AuthenticationScheme;

[2018-05-10 12:29] davidgouge commented on #1751
Startup.Configure:

`public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            MappingStartup.AddMappings();
            if (env.IsDevelopment())
            {
                app.UseBrowserLink();
                app.UseDeveloperExceptionPage();
            }
            else
            {
                app.UseExceptionHandler("/Home/Error");
            }

[2018-05-10 12:33] davidgouge commented on #1751
Ok, thank you so much for looking at this @Tratcher, but I've just been informed that the WAF on the failing environment is probably the cause as they have blocked notifications for the signin-wsfed url. 🤕

Thanks again! 👍

[2018-05-10 12:33] #1751 closed

[2018-05-10 14:45] mjrousos commented on #1043
Regarding the original issue, JwtBearer authentication (from `Microsoft.AspNetCore.Authentication.JwtBearer`) still maps the `sub` claim to `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier` in 2.1 and @brockallen's work around (`JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear()`) still appears to work if you need a sub claim instead of a SOAP nameidentifier one.

[2018-05-10 16:14] sathiathirumal opened #1752 "AspNetCore: OpenId Cookies always show expires=1969-12-31 even with IsPersistent=true and ExpireTimeSpan set"
Using ASPNETCORE OpenId authentication middleware and Cookie middleware. I always see that cookies from OpenId authentication are set to expire at 1969-12-31 (in Chrome debugger). I assume this means the cookies are SESSION cookies; I want to make them persistent cookies so the user will be prompted to login less frequently. So I added the ExpireTimeSpan and IsPersistent=true as suggested in other

[2018-05-10 16:18] Tratcher commented on #1752
`Configure<AuthenticationProperties>` is not a thing. Where do you call challenge?

[2018-05-10 16:39] sathiathirumal commented on #1752
@Tratcher - I dont invoke the challenge directly, I am assuming it occurs indirectly via the [Authorize] attribute? re: `Configure<AuthenticationProperties>`, I couldnt find any other way to override the IsPersistent value to true as I dont invoke Sigin(...) directly.

[2018-05-10 17:29] blowdart commented on #1749
Paging @davidfowl, performance question ...

Although honestly, I wouldn't use performance as a reason to do odd things with anything security related.

[2018-05-10 19:58] skyflyer opened #1753 "Why is implicit mode the default one for OpenID Connect?"
While testing AD FS integration with OIDC middleware I (unexpectedly) found out that implicit flow is the default one. I then checked the sources and it seems that way too:

[code]

I noticed (older) discussions in #744 that the hybrid one should be the default, though I'm not sure I understand exactly why the "authorization code flow" is not the default? I suppose the `state` and `nonce` are chec

[2018-05-10 21:46] blowdart commented on #1745
Remember there are two types of groups in AD, security groups and distribution groups.  You can only acl on security groups.

[2018-05-10 22:51] brockallen commented on #1753
Implicit is for when your client app only needs user authentication. Hybrid is when your client app needs user authentication and to invoke an API on behalf of the user.

[2018-05-11 01:11] aceven24 opened #1754 "OAuthHandler issue with Docker"
So I spent a good portion of the day looking at this issue.  I'm running .NET Core 2.0 with OAuth + Facebook 2.0.4 packages.  My application is configured correctly at Facebook but here is the issue.

I terminate SSL at my load balancer and then the request gets routed to Kestrel (no, I'm not using nginx, but maybe I should have)

My first issue was that when the redirect to Facebook occured the c

[2018-05-11 02:13] Tratcher commented on #1754
Duplicate. https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1

[2018-05-11 02:13] #1754 closed

[2018-05-11 05:48] davidfowl commented on #1749
There's no need to use ConfigureAwait in ASP.NET Core as there's no SynchronizationContext, it is a no-op.  Closing this issue

[2018-05-11 05:48] #1749 closed

[2018-05-11 07:34] dallancarr commented on #1753
Browser initiated is a little different though and can actually do both.

[2018-05-11 17:08] sathiathirumal commented on #1752
Awesome, thanks @Tratcher . Your first suggestion did the trick. I also implemented a Logout page (call to `AuthenticationHttpContextExtensions.SignOutAsync(HttpContext)`) to give the user more control over cookie lifetimes.

            .AddCookie(p =>
            {
                p.SlidingExpiration = true;
                p.Events.OnSigningIn = (context) =>
                {

[2018-05-11 17:41] sathiathirumal commented on #1732
Are you all running behind a reverse proxy perhaps? I have been hitting "Correlation failed" exception during OIDC auth challenge as well BUT only when running behind Azure Application Gateway. One more sign is when running in Incognito browser mode AND azure app gateway - its a 100% repro in that case.

[2018-05-11 18:04] ppenan commented on #1344
I did the same, but in the second API (micro service) which was redirected from the authentication web project, I got Access Denied because the second API could not find the cookie which I created in the authentication web project. This problem occurs only in Windows(I assume the IIS Express is the problem) because in Mac the problem never occurred(I can consume the service normally).

[2018-05-11 21:07] sathiathirumal opened #1755 "Correlation failed. at Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler during OIDC authentication"
I am hitting this with the following combination:
1) Browser incognito mode (Chrome)
2) Application is behind Azure application gateway (no repro if it isnt). Cookie based affinity is turned OFF (default); if turned ON, seems to make repro happen more often.

Code is rather plain vanilla OIDC authN + cookies.

            services.AddAuthentication(options =>
            {
                options.

[2018-05-11 21:44] Tratcher commented on #1755
A few things that would help debug this:
a) Your whole Startup.cs
b) A Fiddler trace of the login flow (not just the last request)
c) Logs of the request as received by Kestrel. https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot or https://github.com/aspnet/KestrelHttpServer/blob/b040e33b1bbcc9719dc8e71c707a7e3fe1ff99ca/samples/SampleA

[2018-05-11 22:02] blowdart commented on #1753
Yes, but by default we're only doing user authentication, so why would we want extra privileges. Least privilege is a good principle.

[2018-05-12 08:40] skyflyer commented on #1753
I'm sorry for a late reply. Please correct me if I'm wrong in understanding, but I thought "Implicit" flow was designed for clients, which can not keep a secret (i.e. Javascript SPA, Mobile apps, etc). So it is not directly related to "authentication" per se.

From the [spec](http://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth):

With implicit flow, all I need is a correct `redir

[2018-05-12 09:39] dallancarr commented on #1753
I  think it is the lowest common denominator. Generally developers only want authentication and the need to not have to manage a client secret is imo hassle free.

[2018-05-12 09:51] skyflyer commented on #1753
That's an OK explanation. Do you think it would make sense to explicitly state that in the documentation?

Like [here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/index?view=aspnetcore-2.1) and [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.openidconnectoptions?view=aspnetcore-1.1)?

Most of the documentation mentions client id and s

[2018-05-12 12:44] brockallen commented on #1753
code flow by itself it subject to the code copy & paste attack. Adding an id_token in the front-channel (either by hybrid or implicit) response gives you a signed protocol response that's verifiable on the first leg of the response.

[2018-05-12 13:09] dallancarr commented on #1753
Agreed. But @skyflyer is right to call out the docs here. `client_secret` is related to code flow and shouldn't be confused with other grant types.

[2018-05-12 13:54] PinpointTownes commented on #1753
Hem... the same attack works against implicit and hybrid. If you manage to steal an authorization code, chances are extremely high you can also steal an identity token. The fact the identity token is directly validated by the RP instead of the IDP (unlike the code) doesn't change anything to the feasibility of this attack.

[2018-05-12 16:00] brockallen commented on #1753
Perhaps, but as you know an injected code is subject to other... mixups if not done properly (code flow by itself, for example doesn't require nonce). I'm speaking about pure protocol, but there are other things in this implementation that help mitigate various bad situations -- for example, the nonce enabled by default, the additional correlation (for the OAuth2 only providers), and using the sch

[2018-05-14 03:13] WeihanLi commented on #1699
This really helps me. Thank you.

[2018-05-14 03:43] WeihanLi commented on #1699
It works great for me.But I can not understand why I have to use the `DataProtection`?
It works well for one instance without it,why it will be a problem for more than one instance?
Hope for reply.Thank you.

[2018-05-14 11:17] hmvs commented on #872
I would double on that. Need a way to indicate the reason why policy is failed. In our case it is when user need to accept new "privacy policy".

[2018-05-14 12:36] hmvs commented on #1359
@HaoK Is it going to be a part of 2.1 release?

[2018-05-14 12:50] hmvs commented on #1359
I want to have ability to return custom json if specific policy failed. for example
403
{
"errorType": "PrivalcyPolicyAcceptRequired",
"errorMessage": "You token doesn't have PolicyAccepted claim"
}

[2018-05-14 14:10] nheath99 opened #1756 "The oauth state was missing or invalid"
I'm getting an exception when trying to use Facebook OAuth in my application:
[code]

It's being configured successfully in Startup.ConfigureServices as such:
[code]

The Challenge result is being created in my AccountController:
[code]

However the callback method is not being reached:
[code]
, and I am getting the exception. I've setup my Facebook developer account successfully and added the val

[2018-05-14 15:18] Tratcher commented on #1756
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?view=aspnetcore-2.1&tabs=aspnetcore2x

The /signin-facebook route is handled by the middleware, not by your MVC controller. Your external login should route to something like `/ExternalLoginCallback`.

[2018-05-14 15:35] nheath99 commented on #1756
Ah thanks, I read that about 1 million times and it just wasn't sinking in.

[2018-05-14 15:35] #1756 closed

[2018-05-14 16:32] HaoK commented on #1359
No the error authZ improvements didn't make it into 2.1, I'll try to get them in 2.2

[2018-05-14 16:34] spottedmahn commented on #1359
I assume that is why the title changed to 2.2 😜⁉

[2018-05-14 18:44] HaoK commented on #1359
So rough idea of some initial AuthZ improvements I've got at the top of my head for 2.2

- For errors, maybe some kind of scoped IAuthorizationErrorService, that the authZ services will report errors to with appropriate context.  This should enable apps to write an appropriate detailed authorization error.

- `UseAuthorize("policyName")` - middleware equivalent of `[Authorize("policyName")]`, woul

[2018-05-14 20:08] Hobray opened #1757 "OpenIdConnectOptions Support for Absolute URIs"
While I can appreciate the desire to simplify and abstract the OIDC configuration as much as possible, I've run into a handful of scenarios where the inability to define absolute URIs for the IDP Authorization Endpoint URI and the CallbackPath (Redirect) URI has been limiting and frankly feels a little dirty to step around.

One scenario required that my application (the relying party) point to an

[2018-05-14 20:49] Tratcher commented on #1755
@Hobray see https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#when-it-isnt-possible-to-add-forwarded-headers-and-all-requests-are-secure

[2018-05-14 20:51] Tratcher commented on #1757
Previously discussed. There are many other things broken if your request fields are not correct, this one is just more obvious. The recomended solution is https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#when-it-isnt-possible-to-add-forwarded-headers-and-all-requests-are-secure

[2018-05-14 20:51] #1757 closed

[2018-05-14 21:08] Hobray commented on #1755
@Tratcher Thanks for that solution. That feels a lot less hacky.

[2018-05-14 21:56] davidfowl commented on #1359
I think we should close this issue and revisit this in 2.2 planning so we can scope it down.

[2018-05-14 21:59] HaoK commented on #1359
Close or leave it open for planning?

[2018-05-15 07:49] hmvs commented on #1359
Have you considered to add some ability to access to the list of policies which is run and which is failed. Also I thought it could be a helpful to have overload of method `context.Fail();` with some object which can be accessed later.

[2018-05-15 16:07] xKloc commented on #872
I would also like to be able to set a response body depending on the policy that failed.  Right now I'm using the events from `AddAuthentication` but this is too generic for the solution I'd like.

[code]

[2018-05-15 17:34] aagarwal10 opened #1758 "Question: Invoke OAuth Middleware for every request with different auth endpoint"
Is it possible to invoke OAuth Middleware at every request by configuring at runtime and not at the startup time?

Is factory based middleware (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/extensibility?view=aspnetcore-2.0) an approach I can pursue?

I have my aspnet core v2.0 multi-tenant website where every tenant has its own specified Authorization endpoint and I need to

[2018-05-16 11:05] WeihanLi commented on #1699
How does it protects data in the login flow in one instance without `DataProtect` ?

[2018-05-16 11:44] Tratcher commented on #1699
Data protection has defaults that work on a single machine.

[2018-05-16 11:49] WeihanLi commented on #1699
Why not more than one? How does it work then?

[2018-05-16 12:44] iss0 commented on #1383
Thank you so much @mstrong64! You just saved me from getting completely insane here. 👍

[2018-05-16 17:51] #1752 closed

[2018-05-16 17:52] #1746 closed

[2018-05-16 22:52] #640 closed

[2018-05-17 14:13] spottedmahn opened #1760 "RequireClaim Helper for Scope Claim?"
If I want to verify 🚦 the [scope claim](https://tools.ietf.org/html/rfc6749#section-3.3) in my Web API, I can't use the helper [`RequireClaim()`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authorization.authorizationpolicybuilder.requireclaim?view=aspnetcore-2.0) as the claim value is a space delimited list.

I can do this:

[code]

---

What about helper method for this?  So

[2018-05-17 21:07] muratg commented on #1760
You'll need to write your own extension method that does the parsing. This is too specialized for us to implement and support.

[2018-05-17 21:08] #1758 closed

[2018-05-17 21:10] #1741 closed

[2018-05-17 21:12] muratg commented on #1737
Yup, this is dup of #1032. Closing.

[2018-05-17 21:12] #1737 closed

[2018-05-17 22:15] brockallen commented on #1760
Yea, and it's not that hard: https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation/blob/dev/src/IdentityServer4.AccessTokenValidation/AuthorizationPolicyExtensions.cs#L19

[2018-05-18 12:49] spottedmahn commented on #1760
Hi @muratg and @brockallen - thanks 🙏 for the replies!

Hmm... [scopes](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-scopes) seem pretty fundamental to OAuth2, no?

It would seem to me that adding an extension method to [Microsoft.AspNetCore.Authentication.JwtBearer](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer/) would be a goo

[2018-05-18 19:48] hnviradiya opened #1761 "Exception: Correlation failed."
I have seen this error at many places, at some places issue is closed. at some places issue is open. Don't know if this is similar. But I get following.

[code]

Cookies are as following.

![screenshot 13](https://user-images.githubusercontent.com/12680915/40254574-a0e646fa-5b01-11e8-9296-25527c569955.png)

Headers are as following.

![screenshot 14](https://user-images.githubusercontent.com/12680

[2018-05-18 19:53] Tratcher commented on #1761
`error=login_required` looks like one problem, but that shouldn't have failed with a `Correlation failed`.

My other suggestion is to share a Fiddler trace of the whole login flow.

[2018-05-18 22:58] hempels commented on #1559
@HaoK, I have a different scenario for combining authentication methods that I'm wondering if it can be handled via VirtualSchemes or (even better) can be achieved without them? Due to the nature of our app (education software) we can have users coming in via a wide number of auth providers, many of them using OAuth 1.0 (specifically, LTI). Rather than always creating a new user account whenever w

[2018-05-19 04:54] hnviradiya commented on #1761
[Oidc-AND-MVC-Login-Flow-Identityserver.zip](https://github.com/aspnet/Security/files/2019138/Oidc-AND-MVC-Login-Flow-Identityserver.zip)

[2018-05-19 11:29] hnviradiya commented on #1761
I am going to close this. as it is an issue with not logged in as u said. It is different that shouldn't have failed with a Correlation failed. but I don't have issue with that as I have got reason for that. i'll follow following issue.

https://github.com/aspnet/JavaScriptServices/issues/1645

[2018-05-20 08:28] hnviradiya commented on #1761
I am getting issue after successful login. So opening issue again. Might be related to following article (Which is not solving issue for me as I don't have another CallbackPath).

https://blog.headforcloud.com/2017/11/05/asp-net-core-identity-with-multiple-oidc-providers/

Following is my new fiddler log.

[Oidc-Signin.zip](https://github.com/aspnet/Security/files/2020145/Oidc-Signin.zip)

FYI: I

[2018-05-21 20:49] Tratcher commented on #1761
Something's fishy with the prior request to `GET /connect/authorize?client_id=js&redirect_uri=http%3A%2F%2Flocalhost%3A50144%2Fsignin-oidc...`. That wasn't generated by a challenge from the auth middleware. You're trying to use this with a JS Client? That's not what this OIDC component is for. You should be using JwtBearer for that.

[2018-05-21 20:58] msdkool commented on #1554
I have an issue closed to this and it's driving me nuts. I need the AddIdentity in my Startup.cs to automatically inject UserManager and RoleManager for creation of users and roles directly from the Client App. I also need the OpenIdConnect to redirect to the IdentityServer hosted Login page. Right now, I'm caught in an infinite loop. Please help

           services.AddMvc();
            string c

[2018-05-21 21:35] Tratcher commented on #1554
We do not track closed issues, please open a new issue with your details. Also, please include a Fiddler trace showing the loop. I expect your default schemes are misconfigured for this scenario.

[2018-05-21 21:48] msdkool commented on #1554
Thanks for your quick response, will do that.

[2018-05-21 22:19] msdkool opened #1763 "Infinite loop with .NetCore AddIdentity and AddOpenIdConnect"
I have an issue closed to this and it's driving me nuts. I need the AddIdentity in my Startup.cs to automatically inject UserManager and RoleManager for creation of users and roles directly from the Client App. I also need the OpenIdConnect to redirect to the IdentityServer hosted Login page. Right now, I'm caught in an infinite loop. Please help. Below is the content of my ConfigureServices

serv

[2018-05-21 22:26] Tratcher commented on #1763
Can you show us your home controller for http://gpmerchantportal.azurewebsites.net/?

[2018-05-21 22:30] msdkool commented on #1763
[Authorize]
    public class HomeController : Controller
    {
        public ITransactionService _transactionService;
        private IConfiguration _configuration;

        public HomeController(ITransactionService transactionService, IConfiguration configuration)
        {
            _transactionService = transactionService;
            _configuration = configuration;
        }

        public

[2018-05-21 22:38] Tratcher commented on #1763
Yeah, that makes sense. You Signin with "Cookies", but you Authenticate with IdentityConstants.ApplicationScheme. You need some intermediate step that either exchanges Cookies for IdentityConstants.ApplicationScheme, or replace IdentityConstants.ApplicationScheme with Cookies everywhere.

[2018-05-21 22:45] msdkool commented on #1763
So, it should change to this
         `
        options.DefaultScheme = "Cookies";
        options.DefaultChallengeScheme = "oidc";
        options.DefaultAuthenticateScheme = "Cookies";
`

[2018-05-21 22:52] msdkool commented on #1763
@Tratcher You are the best, it worked. Thank you so much. I've been on this for hours.

[2018-05-22 06:41] hnviradiya commented on #1761
There are 2 auths taking place. one is my server side (like [this](https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Clients/src/MvcImplicit/Controllers/HomeController.cs))  which redirects to Login page with authorize attribute. Second authorization is from JS Client once server side code is authorized (like [this](https://github.com/IdentityServer/IdentityServer4.Samples/blo

[2018-05-22 18:54] nrandell opened #1764 "AuthorizationPolicyBuilder ArgumentNullException when using a PolicyProvider"
I've got a situation where I'm trying to use an IAuthorizationPolicyProvider to provide a policy for the logged in user.

However I keep seeing ArgumentNullException in Authorizationpolicybuilder.Combine

[code]

As far as I can tell, the issue is caused in `GetEffectivePolicyAsync`

As the filter was created using an `IAuthorizationPolicyProvider`, Policy is null.
When it comes to combining filte

[2018-05-22 19:26] HaoK commented on #1764
This looks like a bug/regression I think, I'll investigate

[2018-05-22 19:29] HaoK commented on #1764
In the short term as a workaround, can you try turning AllowCombiningAuthorizeFilters = false in mvcOptions?

[2018-05-22 19:39] nrandell commented on #1764
Yes - that worked ok.

[2018-05-22 21:23] TimHess opened #1765 "HttpContext.GetTokenAsync fails after Upgrade to 2.1.0"
Hello,
I have some code that's calling `await HttpContext.GetTokenAsync("access_token")`. When using `Microsoft.AspNetCore.Authentication.JwtBearer` version 2.0.4 it works, but upgrading to 2.1.0-preview1-final or newer results in null being returned.

I believe this is because on line 73 in [Microsoft.AspNetCore.Authentication.Core/AuthenticationService.cs](https://github.com/aspnet/HttpAbstracti

[2018-05-22 21:45] Tratcher commented on #1765
JwtBearer Succeeds:
https://github.com/aspnet/Security/blob/e031eff146c8aad43e63cd8d32e8fe382a0c8d66/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L152-L153
Creates a ticket and HandleRequestResult:
https://github.com/aspnet/Security/blob/e031eff146c8aad43e63cd8d32e8fe382a0c8d66/src/Microsoft.AspNetCore.Authentication/Events/ResultContext.cs#L46
Stores the ticket:
https://g

[2018-05-22 22:00] HaoK commented on #1765
Yeah looks like a bug

[2018-05-23 15:25] #1765 closed, assigned to nobody

[2018-05-23 16:21] TimHess commented on #1765
@Tratcher Thanks for accepting the PR - is it possible to have this included in 2.1.0-RTM?

[2018-05-23 16:27] ajcvickers commented on #1765
@Tratcher @HaoK Is there a workaround?

[2018-05-23 16:44] HaoK commented on #1765
The information is still there via result.Ticket.Properties, so the workaround would be to use the underlying apis instead of the top level sugar...

instead of 'context.GetToken("access_token")' something like:
[code]

[2018-05-23 16:52] ajcvickers commented on #1765
Thanks @HaoK. So the workaround is easy. How common do we think it will be for people to hit this?

[2018-05-23 16:52] Tratcher commented on #1765
That workaround doesn't work, all of the Properties collections are empty. You'd have to go a step further and hook into an event and store the token yourself in HttpContext.Items.

[2018-05-23 17:00] Tratcher commented on #1765
Actually, isn't that token the same as the incoming Auth header value?

[2018-05-23 17:06] Tratcher opened #1768 "JwtBearerOptions.SaveToken tests"
SaveToken does not have any tests and it regressed in 2.1. See https://github.com/aspnet/Security/pull/1767

@HaoK

[2018-05-23 17:08] HaoK commented on #1765
I was just going by the description in the bug above: "When using JwtBearer auth, result.Properties is never set - however, the properties that are expected to be there are present on result.Ticket"

[2018-05-23 17:08] HaoK commented on #1765
Assuming that statement is correct, its there just in the wrong place

[2018-05-23 17:10] HaoK commented on #1765
RE how common this is @ajcvickers this bug has been there since 2.0, its not new in 2.1, so this is the first we've seen it, so its pretty uncommon I guess

[2018-05-23 17:11] Tratcher commented on #1765
No, I debugged it. Part of the trouble is that the ticket gets re-created and loses the Properties from the first ticket.

[2018-05-23 17:13] HaoK commented on #1765
Actually rereading the OP, this behavior is new to 2.1, let me see what changed in 2.1

[2018-05-23 17:21] HaoK commented on #1765
Can you try debugging this on 2.0.4 @Tratcher the code path looks the same to me in https://github.com/aspnet/Security/blob/2.0.4/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationResult.cs doesn't look like we changed anything other than rename the file and you tweaked the exception/error methods to include the properties

[2018-05-23 17:37] TimHess commented on #1765
For what this background is worth, this is the application I'm working on right now: https://github.com/SteeltoeOSS/Samples/tree/dev/FreddysBBQ

It uses [Steeltoe Security](https://github.com/SteeltoeOSS/Security/tree/dev/src/Steeltoe.Security.Authentication.CloudFoundryCore) for doing JWT on Cloud Foundry, via `Microsoft.AspNetCore.Authentication.JwtBearer`

I'm in the process of making sure that

[2018-05-23 17:43] HaoK commented on #1768
Are we sure this regressed in 2.1 as opposed to never working in 2.0? (given that we never had tests :)

[2018-05-23 17:44] HaoK commented on #1768
I didn't even realize save tokens was a thing for JwtBearer, I thought it was an OAuth only feature

[2018-05-23 18:10] Tratcher commented on #1765
Yes this worked in 2.0. Here's what broke it:
https://github.com/aspnet/HttpAbstractions/commit/321639b0eb2098a6fe3b0d763f48ac3ed025a688#diff-7e92f7940da0e821fc452fc9950db334
AuthentiateResult.Properties change from a pass through to a local field.

[2018-05-23 18:12] HaoK commented on #1765
Ah cool, I actually looked at the PR...just in the wrong repo doh...I looked at the security half forgot there was a matching one in Http doh

[2018-05-23 18:45] TimHess commented on #1765
I was able to confirm that pulling the token out of the auth header from the incoming request works fine in my case, so I'm a lot less worried about the extension not working in 2.1.0. We don't depend on GetTokenAsync for anything other than this one sample, so we should be fine.

Thanks again!

[2018-05-24 00:44] dennis3001 commented on #1496
Still can't get this to work. Seems that when using Identity the cookie options are ignored. The options callback is not even firing:

`services.AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme).
                AddCookie(CookieAuthenticationDefaults.AuthenticationScheme, options =>
                {
                    // The line below  never get's fired ...

[2018-05-24 01:42] achidlow commented on #901
Based on the "Scenarios to target" in the description of this issue, and the related issue that was closed in preference to this one (#872), are we supposed to be able to add data to the body in case of a failed authorization now?

I can't see any way to do that, and this change doesn't seem to enable that to happen either, since the last return point from Security to Mvc returns a `PolicyAuthoriz

[2018-05-24 02:27] HaoK commented on #901
Its not all the way there yet, the failed requirements are in the result now, but we still need to do some work to make it easy to utilize that information to generate a reasonable description for why authorization failed.

[2018-05-24 05:29] Tratcher commented on #1496
AddIdentity calls AddAuthentication and AddCookie internally. To configure the identity cookie call ConfigureApplicationCookie like this: https://github.com/aspnet/Identity/blob/85f8a49aef68bf9763cd9854ce1dd4a26a7c5d3c/src/Service/IdentityServiceServiceCollectionExtensions.cs#L63-L68

[2018-05-24 09:50] nganbread commented on #1638
I had a similar use case to @grandchamp where I need to hash the entire body to verify a webhook call

`EnableRewind()` didn't work for me within `AuthenticationHandler<>.HandleAuthenticateAsync()` so I ended up using @grandchamp's workaround instead. Not ideal, but not much else seems to get the job done

[2018-05-24 21:13] #1763 closed

[2018-05-24 21:16] HaoK commented on #1764
This is a dupe of https://github.com/aspnet/Mvc/issues/7809

[2018-05-24 21:16] #1764 closed

[2018-05-25 09:52] hnviradiya commented on #1761
But this js client woks if I use it separately. This creates issue only when i have both of them together. Server side (which is protected with Authorize attribute) as well as js client.

[2018-05-25 13:20] gianibob82 commented on #1732
I'm using AWS Cognito as OpenId and I'm having the same problem. It works fine when debugging using IIS Express but when I deploy to AWS API Gateway I get the error. Probably @sathiathirumal  is on the right track but I can't find any solution for now...

[2018-05-25 14:53] marcuslindblom opened #1770 "Use JWT token cookie in combination with Authorize attribute"
I have two web applications, one API and one MVC application. From the web application I request a JWT token from the API using Javascript and store the response in a cookie. Then in the MVC application I would like to setup authorization using the JWT token from the cookie I recieved from the API. What is the best approach if I want to add security on a `Controller` using the `Authorize` attribut

[2018-05-26 19:14] hnviradiya commented on #1761
I am closing this issue as due to below thread now I don't want to use both auth at a time. so. But may be other might have similar issue.
https://github.com/aspnet/JavaScriptServices/issues/1645

[2018-05-26 19:14] #1761 closed

[2018-05-27 17:02] herecydev commented on #1118
@HaoK Is that actually true? If I read [this](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization.Policy/PolicyEvaluator.cs#L47) right, it requires any scheme to succeed for authentication to  be a success. Obviously, only the authenticated schemes are merged into the principal

[2018-05-29 07:03] LuohuaRain commented on #1318
I have the same question, and I cannot solve it.. :(

[2018-05-29 08:09] heavenwing commented on #1755
@sathiathirumal I am hitting same problem.  Do you solve this issue?

My environment is:
- 4 nodes Service Fabric Cluster ( IP is :192.168.100.16-192.168.100.19)
- 2 nodes NLB+ARR as Load Balance, I have Virtual IP is 192.168.100.60, NLB1 IP is 192.168.100.13, NLB2 IP is 192.168.100.14
- STS web stateless service run on 4 SF nodes
- Client(a management console web) also run on 4 SF nodes

My probl

[2018-05-29 08:48] heavenwing commented on #1755
@Tratcher I have already added ForwardedHeadersOptions configuration , problem is still with me :(

[2018-05-30 12:09] elisabeth-mitton commented on #406
Using `services.AddAuthentication()` did resolve the issue for me, as I was already using `services.AddDataProtection()`.

[2018-05-30 19:42] blowdart commented on #1770
There is JWT middleware, but it's assuming you're using the JWT as a bearer token, sent in headers.  However you could use the OnMessageReceived event available in options to pick the JWT token from the cookie, rather than the header, that exposes a MessageReceivedContext which has a token property.

[2018-05-31 00:34] sathiathirumal commented on #1755
@heavenwing, no I have not resolved this yet. I increased the cookie expiration time to 30 days and so I hit this problem a bit less now, but I still do hit it. When i hit it, I execute a logout and then sleep 10 secs and then redirect to an authenticated page (which is just the homepage for me). It works 50% of the time on first such retry, and 30% on 2nd retry (20secs sleep), and 20% needs a 3rd

[2018-05-31 00:53] sathiathirumal commented on #1755
Hmmm, here's something weird I am noticing. During the POST to /signin-oidc, the **X-Original-Proto : http** - why is this? I am https everywhere upto the Application Gateway where I terminate SSL. I also don't see the X-Forwarded-Proto in this case even though I do specify the middleware explicitly to inject this header (see far below on my startup code for that).

POST https://MY.SITE.com/signin

[2018-05-31 04:59] sathiathirumal commented on #1755
OK, so @Tratcher said that X-Original-Proto: http is ok - it just means that X-Forwarded-Proto did appear and it was processed. I also verified this by 1) dumping all request headers BEFORE and AFTER the .UseForwardedHeaders() call and 2) dumping the HttpContext.Request.Scheme value BEFORE and AFTER the .UseForwardedHeaders() call [it is http before and then flips to https after]. So all seems fin

[2018-05-31 12:10] #1753 closed

[2018-05-31 12:10] blowdart commented on #1745
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-05-31 12:10] #1745 closed

[2018-05-31 13:11] webbkvalite commented on #1469
Here's the code I use to add JWT Authentication (or any other number of authentications) automatically to all controllers via an attribute to a base controller:

[code]

[2018-05-31 21:37] HaoK commented on #1750
Yeah the expectation is that the date is in UTC I believe, is there any issues with MySql and dates?

[2018-06-01 03:41] sathiathirumal commented on #1755
OK, figured out what was going on here with @Tratcher 's help.

Basically I was missing a DataProtection middleware; because of that, each of my cluster nodes uses a different encryption/decryption key for the cookies. Normally if your AG has cookie affinity enabled, the issue is masked (as all session traffic goes to the same node). However, during the OpenIdConnect login dance, the AG affinity c

[2018-06-01 03:47] sathiathirumal commented on #1755
@Tratcher Can we get this troubleshooting information added to the https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot article? It makes sense there because proxy-load-balancer is practically used only in multi-node farm situations where this issue is impactful. It would've saved me countless hours if only the word "DataProtection" was

[2018-06-01 04:33] Tratcher commented on #1755
We're getting a dedicated doc written for the multi-node scenario: https://github.com/aspnet/Docs/issues/3255.

[2018-06-01 11:51] gianibob82 commented on #1732
Thanks @KevinDockx ! That's exactly the problem. In my case I'm storing the keys in S3

[2018-06-01 17:01] #1755 closed

[2018-06-01 17:03] sathiathirumal commented on #1732
Also see https://github.com/aspnet/Security/issues/1755#issuecomment-392803709. Related to what @KevinDockx says.

[2018-06-01 17:54] Tratcher opened #1772 "Log decryption failures"
"Correlation failed" is one of the most common failures in OIDC or OAuth flows. Many of the things that can go wrong here happen on the client and can't be traced from the server. However there's one scenario where everything does flow back to the server and the server fails to decrypt the values. This can happen in a multi-node environment with misconfigured dataprotection (RE: https://github.com

[2018-06-01 20:51] tranceporter opened #1773 "ASP.NET Core 2.0 JWT Authentication works only on first request"
context.AuthenticateAsync is executed on first request and returns claims. If I execute another request with a different valid bearer token (we use auth0), the debugger refuses to step into context.AuthenticateAsync, and simply returns claims from the previous api call (thereby returning claims for the previous bearer token). What could be causing this issue? On a side note, since out of the box J

[2018-06-04 02:08] brewsoftware commented on #1469
That last post misses the point. How do you add 2 challenge schemes.

i.e. JwtBearer + SecretHeader. How they map to a user/permission is might also need to be customised.

If a request comes from a user and has a bearer token then use the JWT Bearer Auth, if it comes from a monitoring service use the SecretHeader and assign the appropriate permissions.

Currently it doesn't seem to have a way of

[2018-06-04 02:53] jay-vacc-2018 commented on #1510
Hi Shahidev,
I had a look at the code, and was wondering if you could help me with figuring out which Controller/Action will get authenticated using idservoidc1, and idservoidc2?
I am trying to validate user using Azure Active Directory, and Azure B2C. So if authentication fails in one, go the B2C. Will this be similar scenario to what you are trying to achieve?
Thanks,
Jay

[2018-06-04 14:13] avaisane commented on #1765
If AuthenticationProperties are not saved in cookie (e.g access_token) and/or able to get those after authentication/challenge flow, then it is just a deal breaker for me. You should at least give some example how to store this to enable access it on coming requests.

[2018-06-04 16:06] Tratcher commented on #1765
@avaisane JwtBearer never did store the token in a cookie. The Auth header is sent on every request and GetTokenAsync is only a shortcut for reading the header. You can read the auth header directly.

[2018-06-04 17:29] shahiddev commented on #1510
Hi Jay,
assuming your authentication flow completes it should return to the `accountcontroller` `ExternalLoginCallback` method where you can then decide what to do. There are also some events exposed by the in the openidconnect middleware if you need to make some decisions in the middleware.

[2018-06-04 17:45] Tratcher commented on #1765
Ah, have you reproduce this with OIDC? This regression happened a year ago and I've definitely used that code path in OIDC since then...

[2018-06-04 17:56] Tratcher commented on #1765
Hmm, GetTokens works fine in the 2.1 branch in the OIDC sample. https://github.com/aspnet/Security/blob/dev/samples/OpenIdConnectSample/Startup.cs

[2018-06-04 17:56] avaisane commented on #1765
@tratcher. Thats correct, oidc is having similar phenomenon. After updating
to .net core 2.1.300 functionality break up.

ma 4. kesäk. 2018 klo 20.45 Chris Ross <notifications@github.com> kirjoitti:

[2018-06-04 18:12] Tratcher commented on #1765
How are you using it? The sample linked above is working fine.

[2018-06-04 21:18] zippy1981 opened #1774 "Generating RequestTelemetry for the signin API call for OpenId"
I have an ASP.NET core using application insights and all the traces I put in in the callbacks get logged, but calls to /signin-oidc don't get logged.
 I added a call to `var telemetry = context.HttpContext.Features.Get<RequestTelemetry>();` in OpenIdConnectEvents.OnMessageRecieved and saw that I am getting a blank Request object unlike if I did that in a controller or in middleware were I'd have

[2018-06-04 23:30] Tratcher commented on #1774
It may just be an ordering issue. Where in startup do you add AI? Is it before or after Auth?

[2018-06-05 05:05] avaisane commented on #1765
@Tratcher Goosh, we did broke our own code. We implemented the header trick mentioned above into our shared accesstokenfetcher componed, which was used by APIs and Web App. Thus it bypassed previous  httpContextAccessor.httpContext.GetTokenAsync() 80) Thanks anyway for you assistance!

[2018-06-05 08:10] jamesharling commented on #1746
FYI this library is now uploaded as [AspNet.Security.ApiKey.Providers](https://github.com/jamesharling/AspNet.Security.ApiKey.Providers).

[2018-06-05 18:43] zippy1981 commented on #1774
@Tratcher I added it right at the top:

        public void ConfigureServices(IServiceCollection services)
        {
            var connectionString = Configuration.GetConnectionString("Default");
            services.AddApplicationInsightsTelemetry();

And then I have a third party logging tool called serilog that is logging ILogger<T> to application insights traces

Also, in Program.cs I have t

[2018-06-06 07:15] MrZarq commented on #1689
The policy generator works if you only have one parameter with a limited range. But what if you have multiple? Or, as is my case, a list of values. I want to do something like [HasRight A | C | F], and in some other place [HasRight X | Y]. I can't add a policy for every possible combination of values of my enum now, can I? How do you propose I solve this?

[2018-06-06 09:05] tranceporter commented on #1773
I have solved this issue now and posted the answer on the stackoverflow question above.

[2018-06-06 09:05] #1773 closed

[2018-06-06 16:42] HaoK commented on #1689
https://github.com/aspnet/AuthSamples/tree/dev/samples/CustomPolicyProvider

[2018-06-07 04:49] zippy1981 opened #1777 "Where is the code, or docs for for OpenIdConnectMessage?"
I'd like to document that as I have with #1776 . Actually I want to add examples.

[2018-06-07 04:56] Tratcher commented on #1777
Over here https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2018-06-07 12:43] zippy1981 commented on #1777
Thanks!

[2018-06-07 12:43] #1777 closed

[2018-06-07 16:30] Tratcher commented on #1774
Please move this issue to the AI repo you linked to.

[2018-06-08 09:01] ydekova commented on #1755
In our case, this was the reason https://github.com/aspnet/Security/issues/1510 It results in the same behavior.

[2018-06-08 09:55] ydekova commented on #1510
This requirement was not present in 1.1. Please, add this here https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x?view=aspnetcore-2.1

[2018-06-08 11:50] Dev123213 commented on #1755
A note to anyone tearing their hair out... I got this error because the secret I was sending was the encrypted secret, not the decrypted. I didn't anything in the logs on Identity Server saying there was a problem, and just got a correlation error on the client application (hybrid).

[2018-06-08 13:07] leastprivilege commented on #1755
I am pretty sure you would see a failed client authentication log entry - and hopefully a log entry as well from the Microsoft handler in the client app.

[2018-06-08 13:19] Dev123213 commented on #1755
[log_report_IS.txt](https://github.com/aspnet/Security/files/2084497/log_report_IS.txt)

[2018-06-08 13:20] Tratcher commented on #1510
? Yes, this was a 1.1 requirement though the error messages may have changed.

[2018-06-08 13:20] Dev123213 commented on #1755
Log config:

 Log.Logger = new LoggerConfiguration()
                .MinimumLevel.Information()
                .MinimumLevel.Override("Microsoft", LogEventLevel.Information)
                .MinimumLevel.Override("Microsoft.AspNetCore.Authentication", LogEventLevel.Information)
                .Enrich.FromLogContext()
                .Enrich.WithThreadId()
                .Enrich.WithProperty("A

[2018-06-08 14:44] leechen opened #1779 "OpenIdConnect handler single sign out doesn't delete cookie cleanly if cookie is chunked"
This is for the front-end channel implementation of OpenIDConnect single sign out.
With a sample client similar to https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Samples/tree/master/samples/Mvc/Mvc.Client
Make sure to save token and add some claims to make the result cookie to be larger than 4k. Sign out from the token server, the client auth cookie should be deleted completely. B

[2018-06-08 15:09] Tratcher commented on #1779
Hmm, remote signout isn't any different from a normal signout.
https://github.com/aspnet/Security/blob/38004ce37a6f006df950c9dcd7a566e5e1bcb631/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L148

I'd be curious to see a Fiddler trace of the signout.

[2018-06-08 16:16] leechen commented on #1779
Here is trace using chrome devtool. The response seems to have only cleared the main cookie:
[code]

[2018-06-08 16:18] Tratcher commented on #1779
I need to see both the request and response.

[2018-06-08 16:31] leechen commented on #1779
[code]
[code]

[2018-06-08 16:34] Tratcher commented on #1779
There are no cookies in that request. The server can't delete the chunks unless it knows how many there are.  Why are there no cookies being sent?

[2018-06-08 17:10] leechen commented on #1779
The flow is this:
1. User sign out from app1, app1 delete its cookie.
2. App1 redirect to token server. Token server deletes its cookie.
3. Token server render a logged out page with an iframe to contains both app1 and app2's oidc frond channel logout urls.

I am guessing the logged out page is from token server and it doesn't have access to app2's cookie. App2's openId connect handler should hand

[2018-06-08 17:15] Tratcher commented on #1779
What happens if you disable samesite (CookieAuthenticationOptions.Cookie.SameSite = SameSiteMode.None)? That may be related since the signout flow is originating from app1.

[2018-06-08 17:38] leechen commented on #1779
Wow, that fixed it! Thanks!
What puzzles me is still, why the main cookie is deleted but not the chunks using default SameSiteMode which is lax?

[2018-06-08 17:40] Tratcher commented on #1779
Because it doesn't know if there are chunks. It needs the request cookie to tell it there are chunks.

[2018-06-08 17:44] leechen commented on #1779
Ah, I see, here is the cookies tab for the successful request/response:
<img width="497" alt="screen shot 2018-06-08 at 1 42 44 pm" src="https://user-images.githubusercontent.com/3713000/41172480-fd7361de-6b21-11e8-998c-e9cb9849a92b.png">

[2018-06-08 17:46] leechen commented on #1779
Any pointer to whether this samesite mode (none) has potential security risk?

[2018-06-08 17:50] Tratcher commented on #1779
Yes it does.
https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis-02#section-5.3.7.1

[2018-06-08 18:07] #1779 closed

[2018-06-09 19:48] abatishchev commented on #1118
Any news on a built-in middleware?

[2018-06-11 06:58] ydekova commented on #1510
Interesting, we had the "/signin-oidc" endpoint configured as the callback URL for two OIDC authentications (Microsoft and Google). This was working for quite some time, and the problem occurred only after the upgrade. We also use Identity Server 4 in the same project to issue tokens, I'm not sure if it matters in this case.

[2018-06-18 00:14] natelaff commented on #1359
Is this what currently prevents something such as the ability to show a specific page when a specific policy fails. For example, when a policy fails, redirect to a page that shows how to get that particular policy? (i.e. paying for a new membership level).

[2018-06-18 19:15] apulliam opened #1784 "Provide direct access to all tokens: id_token, access_token and refresh_token"
The OpenID Connect middleware can be configured with any OpenIdConnectResponseType, i.e.:

   options.ResponseType = OpenIdConnectResponseType.IdTokenToken

However, using the above setting, the middleware doesn't appear give any way to get the access_token.  For the hyrid auth code flow, all the docs show adding a handler to manually exchange the auth code for the access_token (using ADAL or MSAL

[2018-06-18 19:20] Tratcher commented on #1784
Provide access to them where? SaveTokens?

[2018-06-18 19:53] apulliam commented on #1784
The purpose SaveTokens isn't clear.  The comment is "Defines whether access and refresh tokens should be stored in the Microsoft.AspNetCore.Http.Authentication.AuthenticationProperties after a successful authorization."  How can I get access to AuthenticationProperties in order to get access to the saved tokens?  As to where in the code I would like to access the tokens, I would like to access the

[2018-06-19 08:44] qubicaamf opened #1785 "WsFederation Token Encryption (Certificate)"
Hi,
As you can read from [WsFederation authentication doc](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-2.1):

We need this feature because of Signle-Sing-On auth system, that we want to implement in ours **public web apps** ([Azure App Services](https://azure.microsoft.com/en-us/services/app-service/) working as relying party-trust in our scen

[2018-06-19 13:42] flouk19 commented on #158
@MonDeveloper
I looked into the code provided by @PinpointTownes there is an error in the Initialize method.
If you compare the initialize method with the WriteTo method you can see that the WriteTo writes one integer more:
https://referencesource.microsoft.com/#mscorlib/system/security/claims/ClaimsIdentity.cs,1238
`writer.Write((Int32)numberOfPropertiesWritten);`
While the initialize does not re

[2018-06-19 14:55] PinpointTownes commented on #158
This issue was reported almost 3 years ago. Not sure if we should laugh or cry :trollface:

[2018-06-19 15:07] Tratcher commented on #1785
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#966

[2018-06-19 15:07] #1785 closed

[2018-06-19 15:22] qubicaamf commented on #1785
@Tratcher, we need to use it as an external login provider and [without ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-2.1#use-ws-federation-without-aspnet-core-identity).
For this reason, i don't know if Azure AD Identity model ext is  the right repo.

Everything is working good following the doc, but we need to use the to

[2018-06-19 15:24] Tratcher commented on #1785
They implement the low level protocol for us, encryption would be dealt with at that layer.

[2018-06-19 16:46] Tratcher commented on #1784
In OnTicketReceived, the context object has the AuthenticationProperties on it. You can get tokens from there by calling GetToken(name).
This sample does something similar:
https://github.com/aspnet/AuthSamples/blob/404105bd191f2e973d4befb668f1310d2fd82701/samples/Identity.ExternalClaims/Startup.cs#L48

[2018-06-19 19:07] apulliam commented on #1784
Thanks! This is really obscure :-), but exactly what I was looking for.  There are situations where letting the OpenID Connect middleware complete the OAuth flow makes more sense than including ADAL and MSAL and splitting the flow between 2 libraries.  I just needed to know how to get to the tokens!

[2018-06-19 19:39] apulliam commented on #1784
Is there also a way to access AuthenticationProperties from a Controller?  If not, what is the recommended way to pass state from middelware (OnTicketReceived) to the Controller?

[2018-06-19 19:42] Tratcher commented on #1784
Yes, you call HttpContext.AuthenticateAsync().

[2018-06-19 19:57] apulliam commented on #1784
Cool. Again, very useful but needs documentation. By the name it sounds like its possibly doing another authentication (if necessary).  Does this work like ADAL/MSAL and refresh the access token in the background?

[2018-06-19 20:01] Tratcher commented on #1784
No, it's returning cached results from prior calls to AuthenticateAsync on that request.

[2018-06-19 20:05] apulliam commented on #1784
I would suggest a different name for the method then, perhaps GetAuthenticationProperties with or without the Async suffix.

[2018-06-20 11:17] ry8806 opened #1786 "Facebook Api version exists/duplicated in code base"
just looking at the commit to bump the facebook api version to 2.12 = #1306
and this commit: https://github.com/aspnet/Security/commit/cc8acdff57a200966b6b695c7846dfde073cfe68
and there are multiple places where the version number exists, to me this feels a little dangerous/wasteful - having it defined in more than one place. This would also make sure the upgrade process is even easier 😺

I could

[2018-06-20 12:18] PilgrimViis opened #1787 "Jwt Authentication not work on Linux and Mac"
Looks like there is a compatibility issue with Jwt Authentication on Asp Net Core 2.1. On Windows my code works as expected, but under *nix system (Debian 9 and High Sierra) it throws exception while token validation.
I've configured it with the code provided below:

        private const string _privateKey = "<RSAKeyValue><Modulus>wCnmTiH/rFym9g2SSEn6f2pV6YQqFiV5ls3VqxUC3yeyk7UXFuEH/Kttbl2h4eOmXy

[2018-06-20 13:09] Tratcher commented on #1786
That's a bit overstated, half of these are tests.

Feel free to send a PR, and to check on the other providers while you're at it.

[2018-06-20 13:10] Tratcher commented on #1787
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#968

[2018-06-20 13:10] #1787 closed

[2018-06-20 15:56] tynor88 commented on #1622
@undecided2013 Have you progressed with a solution for this? I have the exact same use case.

[2018-06-21 11:10] kanadaj opened #1788 "[Regression] Role/claim changes in identity aren't persisted into the auth cookie"
When ASP.NET Core Identity tries to update the current user's claims, it updates the Principal of the current request, however the update to the claims is not persisted to the cookie.

I've also made an issue for this in aspnet/Identity before I've managed to figure out the details: https://github.com/aspnet/Identity/issues/1845

I'm not sure which repo this issue really belongs to considering thi

[2018-06-21 11:14] kanadaj commented on #1788
@Tratcher here you go. I still think the problem is that Identity modifies `context.Principal` but Security persists `context.Ticket.Principal`; a quick verification of this would be welcome since I'm running a system in production and it's causing issues for the users.

[2018-06-21 11:35] kanadaj commented on #1788
https://github.com/aspnet/Security/blob/1df139eb6d8ef1c1e74a14dd20c9dd13eb6e0e23/test/Microsoft.AspNetCore.Authentication.Test/CookieTests.cs#L958
This test doesn't cover the case where ctx.ReplacePrincipal() is used to replace the principal with a new one, since you're using the reference directly.

[2018-06-21 13:16] kanadaj commented on #1788
As a quick and dirty workaround, this seems to work
[code]

[2018-06-21 17:00] Tratcher commented on #1788
@HaoK can you take a look? If this regressed then it's a patch candidate.

[2018-06-21 19:17] HaoK commented on #1788
Sure, I wouldn't be surprised if this was a regression from the cloning change

[2018-06-21 20:47] HaoK commented on #1788
Well so this is interesting, looks like the security stamp might have been relying on the old behavior before to persist updates to the cookie:

See https://github.com/aspnet/Identity/blob/dev/src/Identity/SecurityStampValidator.cs#L80

Expectation was that ReplacePrincipal + ShouldRenew would cause the cookie to be updated for the user.  I'll add a functional test in identity confirming that this

[2018-06-21 20:50] openidauthority commented on #1469
@brewsoftware, I think in 2.1 you could do something like this (not tested):
[code]

[2018-06-21 21:22] HaoK commented on #1788
This is the regression change with the cloning, might need to just revert?  https://github.com/aspnet/Security/commit/1df139eb6d8ef1c1e74a14dd20c9dd13eb6e0e23

Since it does change the semantics of ReplacePrincipal (which Identity's SecurityStampValidator was relying on)

[2018-06-21 21:39] kanadaj commented on #1788
@HaoK Just wondering here, why not keep a reference to the ticket instead and set up `context.Principal` for the `CookieValidatePrincipalContext` to point to the ticket's Principal? Or would that break other things?

[2018-06-21 21:41] HaoK commented on #1788
So certainly we can work around the new behavior in identity, but if this broke identity, it should at least be looked at like a regression.

[2018-06-21 21:41] kanadaj commented on #1788
Or alternatively, alter ReplacePrincipal to also set the ticket's principal.

[2018-06-21 21:41] kanadaj commented on #1788
That's true

[2018-06-21 23:17] mfronczyk opened #1789 "Different claims principal for different areas of the site."
We have our main site which uses cookie authentication. We've recently added an admin area to the site with some help of an external package that uses identity, but we have problems with authentication.

There are 2 separate login forms, one for the main site and one for the admin. The problem is that when the user signs in using both forms, he can't access the admin area. When he signs out from t

[2018-06-22 09:38] mfronczyk commented on #1789
Seems like the virtual authentication schemes available in 2.1 are an answer to this.

[2018-06-22 09:38] #1789 closed

[2018-06-22 11:37] Maximys commented on #1469
Can anybody explain me next thing:
I have next ConfigureServices method:
[code]

and next Configure method:
[code]
When I trying to execute next method of controller as unauthorized user from browser:
[code]
I have only:

and 401 as result, but when I remove:

[code]

from ConfigureServices and

[code]

from Configure, I see Login page as I expected.
As I can see, my problem and this bug are linke

[2018-06-22 12:05] oliverluethi opened #1790 "[.NET STANDARD] DataProtection AuthenticatedEncryptorDescriptorDeserializer version missmatch"
Hi there...

I'm using the NugetPackages "Microsoft.AspNetCore.DataProtection 2.1.1" and "Microsoft.AspNetCore.DataProtection.Extensions 2.1.1" in a .NET Standard 2.0 library.

Initializing of the DataProtectionProvider and Protector

`var destFolder = Path.Combine(System.Environment.GetEnvironmentVariable("LOCALAPPDATA"),"myKeys");
            provider = DataProtectionProvider.Create(

[2018-06-22 12:09] Maximys commented on #1062
Chris, thank you so much for this issue. It help me so much.

[2018-06-22 13:16] #1790 closed

[2018-06-22 16:19] mingderekwang commented on #1466
@Tratcher I got same error when I add  **jwtOptions.MetadataAddress = $"https://login.microsoftonline.com/{Configuration["AzureAdB2C:TenantId"]}/v2.0/.well-known/openid-configuration";**  within jwtoption object, but if I remove it, the issue not exist any more. is this potential bug ?

[2018-06-22 16:22] Tratcher commented on #1466
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

Are you sure your Configuration is returning the correct value?

[2018-06-22 16:33] mingderekwang opened #1791 "ASP.NET Core 2 Jwt Auth with Azure B2C // IDX10500: Signature validation failed. Unable to match keys: 'egE8-_RcPdNjT_XFT6M9gNvrSoz9v7Nr6Br4wkbL1mg',"
Hi, as a reference from https://github.com/aspnet/Security/issues/1466#

I got issue when I manually set the jwtMetedataAddress, there is code

[code]

[2018-06-22 17:10] Tratcher commented on #1788
@kanadaj may be right, we should be able to fix ReplacePrincipal to allow explicit cookie updates and still clone to prevent later app contamination.

[2018-06-25 21:54] Tratcher commented on #1788
@muratg this needs triaging. It's a regression in 2.1 and may warrant a patch.

[2018-06-25 22:06] muratg commented on #1788
cc @Eilon

[2018-06-26 13:52] BruceHunter opened #1793 "SaveTokens Not working .net core 2.1.301"
To get access_token via 2.1.301 - I had to add this code because SaveTokens = true doesn't work.

[code]

It's my understanding that SaveTokens = true is to add Claims that you can have access to in your Client apps (MVC etc).

[2018-06-27 13:21] mingderekwang commented on #1791
I had not tried this sample, I had tried the sample https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapi and upgrade the project to core 2.1, it has the same issue. If I am not input MetadataAddress it is fine, so if you think it is not a common issue, maybe just leave it there.

[2018-06-27 13:31] blowdart commented on #1791
@Tratcher any ideas?

[2018-06-27 15:33] Tratcher commented on #1791
The Authority is used to create the MetadataAddress if you don't provide one.
https://github.com/aspnet/Security/blob/d8821d7eb120744f5439bcf85ad39c72537e85d3/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerPostConfigureOptions.cs#L39-L45

If that works then the format of MetadataAddress you're providing is wrong. Why provide one if it works without it?

[2018-06-28 20:47] blowdart commented on #1770
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-06-28 20:47] #1770 closed

[2018-06-28 21:20] Eilon commented on #1793
Closing as a dup of https://github.com/aspnet/Security/issues/1765, which is fixed by https://github.com/aspnet/Security/pull/1767, and will be in the 2.2 release.

[2018-06-28 21:20] #1793 closed

[2018-06-28 21:22] Eilon commented on #1786
We wrote the code this way deliberately, so we are not planning to change this.

[2018-06-28 21:22] #1786 closed

[2018-06-28 21:30] Eilon commented on #1772
Marking as up-for-grabs in Backlog.

[2018-06-28 21:36] Eilon commented on #1774
Closing because this issue seems to be external to this project. Please log a new issue in the appropriate repo. Thanks!

[2018-06-28 21:36] #1774 closed

[2018-07-01 02:10] brentschmaltz commented on #158
@PinpointTownes @flouk19 @MonDeveloper
We'll get this fixed.
https://github.com/dotnet/corefx/issues/30774

[2018-07-01 19:20] AnshulKhandelwal02 commented on #1473
I am stuck with getting auth token for webapi authentication, using wsfed.
I have achieved same with openId Connect, wherein post webapp authentication I am using context.ProtocolMessage.Code in OnAuthorizationCodeReceived event to get token for my web api silently.

[code]
I need to have both Open Id and WsFed integrated, with same behaviour. Tried with OnSecurityTokenReceived as well as OnTicket

[2018-07-02 19:41] brentschmaltz commented on #1473
@AnshulKhandelwal02 for wsfed, you will receive a token directly. The  OnTicketReceived has the details.
redeeming a 'code' is not a wsfed protocol behavior, it is an OAuth / OIDC behavior.

[2018-07-03 03:21] tohsa commented on #1359
Specifying a resource still wouldn't allow you to do something like pass a list of permissions to the attribute and there are too many possible combinations of permissions to make policies for every case. Maybe its not in the spirit of policies, but I don't understand how it is different than allowing a consumer to pass a list of roles.

All I want to be able to do is pass a list of permissions, c

[2018-07-03 16:28] davidgouldtracsis opened #1798 "Configuration has to be fixed in AddOpenIdConnect method call, before IOptions available"
The following method:

`public static AuthenticationBuilder AddOpenIdConnect(this AuthenticationBuilder builder, string authenticationScheme, Action<OpenIdConnectOptions> configureOptions)`

Requires that I know all of the values for OpenIdConnectOptions whilst configuring services; however some of these will be unavailable as I need to have progressed to be able to receive an IOptions<> class fro

[2018-07-03 20:06] blowdart commented on #1798
@Tratcher what was your magic options thing?

[2018-07-03 22:15] Tratcher commented on #1798
@haok has a sample for PostConfigureOptions.

[2018-07-04 06:28] leastprivilege commented on #1760
Problem is that up until now there was no standard claim type for scope - some use `scope`, some used `scp` and of course Microsoft uses a URI...

It seems that the IETF will settle on `scope` - but not sure if this is official yet.

[2018-07-04 14:50] EIDIVANDI commented on #1461
Is there any clear response to DI ? i have the same problem , just need be able to inject my dependency to handler , but constructor not working , and it's a bit blocked

[2018-07-05 07:47] davidgouldtracsis commented on #1798
My understanding is that this should solve the problem, following much digging yesterday:

`
            IEnumerable<ServiceDescriptor> serviceConfigurators = new List<ServiceDescriptor>
            {
                ServiceDescriptor.Singleton<IPostConfigureOptions<OpenIdConnectOptions>, [LocallyDefinedClass : IPostConfigureOptions<OpenIdConnectOptions>]>(),
                ServiceDescriptor.Sing

[2018-07-05 11:54] xrkolovos opened #1799 "Issue with set-cookie: .AspNetCore.xx in OpenId Authentication Flow"
I use all the 2.1.1 nuget packages.
I am trying to implement authentication with "Microsoft.AspNetCore.Authentication.OpenIdConnect" and Identity Server.

When i am getting redirected back from Identity server (Hybrid flow) I get this error

I used fiddler to track this down and i found out that in the 302 Redirect there are some Set-Cookie headers that are not being respected.
My Request
[code]

[2018-07-05 13:00] spottedmahn commented on #1760
Ah, really good point.  The claim type could be different... didn't know about that.  Thanks 🙏

What if that the scope type is passed in?  Thoughts? 💭

[code]

[2018-07-05 14:53] Tratcher commented on #1799
Looks like a problem with `samesite=lax;` in the cookies. We set that to None:
https://github.com/aspnet/Security/blob/d0d72782745edc41c79c501ff2210058a4eadb46/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L75
But CookieSecurePolicy may upgrade it. Are you using CookieSecurePolicy? We override that minimum in the templates:
https://github.com/aspnet/Templating/blob/

[2018-07-05 16:32] jamierytlewski opened #1800 "The oauth state was missing or invalid."
I know there's been some other questions on this, but I'm trying to use an OAuth2 client that uses a slightly older version of OAuth2 and I was wondering if there's a way to disable state and still be able to use OAuth2 middleware or am I going to have to make the calls on my own.

The other question is this seems also an older version as stated above and after I made the initial call to the /auth

[2018-07-05 16:39] tuespetre opened #1801 "CookieAuthenticationHandler.RequestRefresh does not safeguard against ArgumentOutOfRangeException for DateTimeOffset.Add"
https://github.com/aspnet/Security/blob/d0d72782745edc41c79c501ff2210058a4eadb46/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L88-L102

If the value of `expiresUtc` is very high (realistically, `DateTimeOffset.MaxValue`) then subtracting the value of `issuedUtc` to get the `timeSpan` results in `timeSpan` not being valid as an argument to `Add`: `The added or subt

[2018-07-05 17:14] Tratcher commented on #1461
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2018-07-05 17:31] Tratcher commented on #1798
Using IPostConfigureOptions is correct, but you shouldn't need TryAddEnumerable? Why not call AddSingleton directly?

[2018-07-05 19:04] #1798 closed

[2018-07-06 03:24] HangJiang opened #1802 "Can I use facebook or google oauth2 login without cookie?"
Can I use facebook or google oauth2 login without cookie to protect my restful api?
such as put the accesstoken into the autorization header？

[2018-07-06 11:58] dallancarr commented on #1802
It should be possible to craft a jwt to exchange for an access token. But it is very much dependent on what grant types these auth providers support.  I think Google only supports code grant but there is a service account option.

https://developers.google.com/identity/protocols/OAuth2ServiceAccount

[2018-07-06 15:30] justinhelgerson opened #1803 "OIDC & Custom Nonce/Correlation"
I'm using the Okta [sign-in library](https://developer.okta.com/code/javascript/okta_sign-in_widget) to add a sign in experience to my application.  I have it configured to route the response to the default `/signin-oidc` endpoint used by the middleware (an HTTP POST including a `code`, `id_token` and `state` in the body of the response).  However, this results in the following error:

From poking

[2018-07-06 16:02] Tratcher commented on #1803
No. You could change the names but it wouldn't be able to parse the state parameter.

If the Okta library is generating the challenge then it should handle the response. Can it?

[2018-07-06 16:21] justinhelgerson commented on #1803
Out of curiosity, is it because those values are wrapped around the aspnet data protection API so they wouldn't validate?

You're absolutely correct that I can get the response with the library.  I've got access to a JSON response with an `id_token` and `claims`.  However, I want to leverage the security API's of .NET (claims, authorize attributes, policies, etc).  My app isn't a single page appli

[2018-07-06 16:31] Tratcher commented on #1802
Not the ones we provide, they're designed for an interactive browser flow. What you want is a client SDK from facebook or google that gets you the JWT token, put it in the auth header, and then use the JwtBearer auth handler on the server turn that into a ClaimsPrincipal.

[2018-07-07 11:58] Caizhenyu opened #1804 "[bug].net core 2.1,Identity will throw exception while implement IdentityUser. But .net core 2.0 is Ok."
I am using asp net core Identity Framework on core 2.1, and I implement my  `ApplicationUser : IdentityUser` .Then there will throw Exception like the screenshot .
But I found that, the same code is Ok on core 2.0, or I just user IdentityUser not my own ApplicationUser is also ok while `services.AddIdentity<TUser, TRole>`.

Is it's a core 2.1 bug?
![tim 20180707194836](https://user-images.githubus

[2018-07-08 18:08] ZOXEXIVO commented on #1121
@cesarbs It's really problem.  We see this behaviour at OWIN OpenIdConnect provider.
If server long time not serving requests and IIS stop it - all requests, that need redirect to OpenIdConnect never ends.
We get 504 timeout error for all our requests! iisreset helps

[2018-07-09 04:21] agr opened #1805 "Setting up Google authentication with multiple instances of web app"
I have an ASP.NET Core 2.1 web app that uses Google authentication. Authentication bits work fine on dev machine but I was getting the following exception when moved to actual production environment:

[code]

Took me a while to realize that it's happening because prod have two instances of the app running and the reverse proxy in front of it set up to round robin between two instances. So the requ

[2018-07-09 05:00] Tratcher commented on #1805
See https://github.com/aspnet/Docs/issues/3255. For your case specifically you need to configure DataProtection.

[2018-07-09 09:01] crashsol opened #1806 ".AuthorizationPolicyBuilder.Combine(AuthorizationPolicy policy)"
**when i user permission("Users") in area  "admin" ,
it will throw
 ArgumentNullException: Value cannot be null.
 Parameter name: policy
but i controller not in area is ok**

[code]

[code]

[2018-07-09 10:37] phatcher opened #1807 "Unit testing custom AuthenticationHandler"
I'm trying to port my [HMAC authenticator](https://github.com/phatcher/Meerkat.Security.Hmac) to ASP.NET Core but I'm having trouble producing some unit tests for the authentication handler.

I know I can produce integration tests using TestServer etc but these seems overkill without being able to unit test the actual handler?

My problem is that the HandleAuthenticateAsync is never called - which

[2018-07-09 12:09] AKlaus commented on #978
Does `services.AddOidcStateDataFormatterCache();` work only for registrations added via `AddOpenIdConnect()` method or also for `AddMicrosoftAccount()`?

In my case, the code below keeps returning a too long query string on successful MS authentication with `state` parameter over 1.5KB.

[code]

Seems that adding `AddOidcStateDataFormatterCache()` didn't make any difference.
Being more prescriptiv

[2018-07-09 12:43] leastprivilege commented on #978
We only fixed it for OIDC.

[2018-07-09 12:49] leastprivilege commented on #978
But the same approach could be applies to any of the authentication handlers...

[2018-07-09 14:04] justinhelgerson commented on #1803
Isn't the JwtBearer more geared towards a single page app or API flow?  Where the client would hold onto the token and present it with each request?

I'm essentially looking for the flow provided by the `AddOpenIdConnect` extension where a cookie is set including the claims inside the token.  In this scenario, I'll be losing access to the token on the next page.

[2018-07-09 15:45] Tratcher commented on #1803
The Okta plugin you linked to is all client side, that matches the SPA scenario. If you want to transition to a normal cookie flow you could use JwtBearer as the intermediary and then call SignIn via CookieAuth.

[2018-07-09 15:52] brockallen commented on #1803
Make sure you're validating the token really well in that workflow -- if you only validate that it's from okta then possibly any other access token from okta could be presented t your api to issue a cookie. I'd think you also need to check the client_id to ensure it's an access token from your SPA. That's not a normal part of access token validation. The devil's in the details, of course, and I do

[2018-07-09 16:58] Tratcher commented on #1807
What code did you expect to call HandleAuthenticateAsync? Working at this level you need to call that directly in your tests.

[2018-07-09 20:35] bdparrish opened #1808 "Changing domain in client redirect"
I have a .NET Core application sitting behind NGINX and Keycloak is also behind NGINX.  How do I get my .NET Core application to send a domain to the client that properly redirects the client to the public domain rather than the private domain that is internal to NGINX?

This is a docker-compose setup and I am using simple NGINX proxies for the URLs.  I am looking at an event for `OnRedirectToIden

[2018-07-09 20:37] eopeter commented on #1469
@openidauthority I tried this in 2.1 and works for api (jwt) and able to view website (cookie, facebook) with [AllowAnonymous] but I cannot login to website with cookie / facebook. When i enter credentials, I get routed back to login page. Any help is appreciated

[2018-07-09 20:39] Tratcher commented on #1808
OnRedirectToIdentityProvider is not recommended for this. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1

[2018-07-09 20:54] bdparrish commented on #1808
@Tratcher - I forgot to add that I did have this in `Startup.cs`

[code]

[2018-07-09 20:56] openidauthority commented on #1469
@eopeter, maybe
[this code sample](https://github.com/leastprivilege/AspNetCoreSecuritySamples/blob/aspnetcore21/OidcAndApi/src/AspNetCoreSecurity/Startup.cs) will help?

[2018-07-09 21:21] Tratcher commented on #1808
That covers scheme and remote IP, not host.
Here's the nginx specific sample:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-2.1&tabs=aspnetcore2x#configure-nginx
`proxy_set_header   Host $host;` should be all the magic you need, and you've already got it.

[2018-07-09 21:22] Tratcher commented on #1808
Did you try removing X-Forwarded-Host?

[2018-07-09 22:31] bdparrish commented on #1808
So here are some debugging items...I am adding my OpenIdConnect configuration to see if there is something I am just configuring wrong.

Results from [Troubleshoot](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot)
[code]
Here is the configuration for the `.AddOpenIdConnect`
[code]

[2018-07-09 22:59] Tratcher commented on #1808
`Host: localhost` Are you running nginx on the local machine?

[2018-07-09 23:12] bdparrish commented on #1808
I am running it in a docker container on my local machine, so I am gonna say yes since the host is my local machine.

[2018-07-09 23:15] Tratcher commented on #1808
So what's the problem? Localhost is the expected answer in that case.

[2018-07-09 23:37] bdparrish commented on #1808
The redirect to the login URL is http://keycloak:8080/auth/<brevity>, which is what I set in the OpenIdConnect configuration.  If I change my configuration file to http://localhost/keycloak then it tries to find it on the ASP.NET Core app container.  How does the setup work for internal network communications versus external?

[2018-07-10 10:10] phatcher commented on #1807
@Tratcher I presumed the InitializeAsync would call it from the method description, also HandleAuthenticateAsync is protected so it's slight difficult to invoke from a test.

Is the intent just to perform integration tests?

[2018-07-10 10:38] davidgouldtracsis commented on #1798
Thanks for all of your help guys!  Much appreciated.

[2018-07-10 11:31] valorl commented on #1622
@blowdart Here's a managed-only implementation of Kerberos on .NET (xplat) you might wanna look at for implementing this: [Kerberos.NET](https://github.com/SteveSyfuhs/Kerberos.NET/). It uses a `ClaimsPrincipal`.

@undecided2013 This is possible to do if you install Kerberos client dependencies inside the container (e.g. `krb5-user` on debian). The tutorial from the [`vscode-mssql`](https://github

[2018-07-10 13:50] Tratcher commented on #1807
Ah, right, the public method is AuthenticateAsync:
https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L130

We usually do integration tests since the flow for most of our providers requires multiple requests (OAuth, OIDC).

[2018-07-10 15:16] Tratcher commented on #1808
Sorry, I was focusing on the wrong redirect. Usually when people are behind a reverse proxy they have issues generating the correct return url. In your case however the auth server is also behind a reverse proxy so it's the first challenge redirect that's wrong.

keycloak should be serving a metadata document to your application fetched from the Authority address. That document should be configure

[2018-07-10 15:23] bdparrish commented on #1808
It uses what looks like regex rules.  So right now it is most specific meaning I have a 1:1 routing for the postfix paths (i.e., /* routes to the ui and /keycloak/* routes to keycloak - i also have /auth/* which routes to the keycloak "auth" paths.).

I was able to fix the metadata request by adding `options.MetadataAddress = keycloakIntraHost + "/auth/realms/" + keycloakRealm + "/.well-known/open

[2018-07-10 15:38] Tratcher commented on #1808
What are the addresses listed in the metadata document? That's what you need to fix.

[2018-07-10 15:47] bdparrish commented on #1808
Response from `http://localhost/auth/realms/Cogent/.well-known/openid-configuration`

[code]

[2018-07-10 15:57] bdparrish commented on #1808
Somehow those URLs are getting converted to prefix with `http://keycloak:8080/` when the app sends the redirect to the client.

[2018-07-10 16:09] Tratcher commented on #1808
If you put a breakpoint in OnRedirectToIdentityProvider you can examine the ProtocolMessage and see what its state is. CreateAuthenticationRequestUrl derives its data from there.
https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L324-L400
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/b

[2018-07-10 17:44] bdparrish commented on #1808
So I can manually update the IssuerAddress in the OnRedirectToIdentityProvider and everything works as expected.  Your original response said not to do something like this there.  My assumption is that a response needs to come from the Keycloak server to ensure the right address is returned to OpenIdConnect?

[2018-07-10 18:00] Tratcher commented on #1808
I was focusing on the return url at the time. I recomended OnRedirectToIdentityProvider for debugging to track down where you got the wrong value, but you could use it as a workaround if you need to.

[2018-07-10 18:02] bdparrish commented on #1808
@Tratcher thanks for walking me through this.  I think the final solution will resolve itself when I get Keycloak to respond with the right URL domain.

[2018-07-10 18:22] bdparrish commented on #1732
@KevinDockx - I am seeing this with NGINX, but I only have a single server.  Any ideas what this would be coming from since the session is not being shared across multiple servers?

[2018-07-10 18:37] bdparrish commented on #1808
@Tratcher - spoke to soon.  There is an error being thrown because I am changing the IssuerAddress dynamically.

`Microsoft.IdentityModel.Tokens.SecurityTokenInvalidIssuerException: IDX10205: Issuer validation failed. Issuer: 'http://localhost/auth/realms/Cogent'. Did not match: validationParameters.ValidIssuer: 'null' or validationParameters.ValidIssuers: 'http://keycloak:8080/auth/realms/Cogent'

[2018-07-10 18:40] Tratcher commented on #1808
OpenIdConnectOptions.TokenValidationParameters.ValidIssuer(s)

[2018-07-10 18:43] profet23 commented on #1765
This is just caused me to waste a day trying to figure out why our token authentication was failing...  any chance at a hot fix release of 2.1 with this fix?

[2018-07-10 18:51] Tratcher commented on #1765
@muratg ?
+This is a regression from 2.0.
-The workaround is trivial.

[2018-07-10 18:52] Tratcher commented on #1732
@bdparrish can you share a Fiddler trace of the login flow? Also your Nginx config?

[2018-07-10 18:53] muratg commented on #1765
@Tratcher Could you file a bug for the patch candidate? Thanks.

[2018-07-10 19:00] Tratcher commented on #1793
FYI: This is not a direct duplicate, OIDC was not affected by #1765. This issue appears to be a mis-understanding of SaveTokens. The tokens are not saved as Claims, they're saved in the AuthenticationProperties collection returned along with the ClaimsPrincipal (See HttpContext.AuthenticateAsync). You can retrieve them via HttpContext.GetTokenAsync.

[2018-07-10 19:03] Tratcher opened #1809 "[Regression] SaveTokens + GetTokenAsync does not work for JwtBearer"
2.1 patch request for https://github.com/aspnet/Security/issues/1765, https://github.com/aspnet/Security/pull/1767

+This is a regression from 2.0.
+We've seen 3 customers hit this
+It's difficult for them to diagnose

-The workaround is trivial (read the value directly from the auth header). SaveTokens was only added to JwtBearer for consistency with the other providers.

[2018-07-10 19:04] Tratcher commented on #1765
Filed https://github.com/aspnet/Security/issues/1809

[2018-07-10 19:05] muratg commented on #1809
cc @Eilon

[2018-07-10 19:12] Eilon commented on #1809
Please add the necessary stuff to the shiproom OneNote.

[2018-07-10 21:37] Tratcher commented on #1809
Where's the current OneNote?

[2018-07-10 23:43] bdparrish commented on #1732
@Tratcher - disregard, seemed to be a phantom error.  I couldn't recreate it after restarting the cluster of services.

[2018-07-10 23:46] bdparrish commented on #1808
@Tratcher - i almost have everything working as expected.  i am getting a 401 back when running the asp.net core app in the docker compose, but if I run it from vscode then it works just fine and authorize users with no issue.

What's the right answer.  Am I missing something or is there some documentation that I can dig hard into to figure how this action should go?  I am getting hung up on the t

[2018-07-11 00:12] Tratcher commented on #1808
A 401 is too vague. Is there anything more specific in the app logs or response headers?

[2018-07-11 12:29] jgoyvaerts opened #1810 "Encrypted userinfo jwt not working"
I'm integrating with an identity provider who uses OpenId connect with userinfo in an encrypted jwt.

Unfortunately, OpenIdConnectHandler is unable to handle this specific case. Crashes at: https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L815-L819 because userInfoEndpointJwt.Payload is nu

[2018-07-11 13:11] PinpointTownes commented on #1810
Glad to know I was right :rofl:

More seriously: another workaround may consist in disabling the built-in userinfo retrieval support and doing it yourself using the `TokenValidated` event.

[2018-07-11 13:16] jgoyvaerts commented on #1810
Should I really be writing workarounds when integrating with a party who follows the specification? :wink:

My goal is to improve the current implementation so it supports more variants of openid connect out of the box, and hopefully this issue can help with that.

[2018-07-11 13:19] PinpointTownes commented on #1810
Workarounds are not long-term fixes, they're just meant to unblock you until a proper fix is released :smile:

Fixing the OIDC handler is certainly the right thing to do, but you'll have to wait for 2.2 to ship to benefit from your fix :smile:

[2018-07-11 14:45] amy-dredge-ps commented on #1569
Thanks for hitting your head on the wall for me and posting your solution. I ran into the same problem last night for an hour or so, but after some sleep and 13 minutes this morning I googled the right thing, found your post, and it's working now. Just wanted to say thanks.

[2018-07-11 15:17] kpietraszko commented on #1569
Love you man, I was losing my mind for 2 hours just before deadline.

[2018-07-11 15:44] bdparrish commented on #1808
Output from behind the proxy:
https://gist.github.com/bdparrish/e0abdd655a35bd41d0a7c4640f354f3a

Output from local run from vscode:
https://gist.github.com/bdparrish/5ab850b429fd81f45651fcc03b264967

The local run has an access token attached to the cookie, but the proxy output does not have the token.  This corresponds with the 401 error that says `invalid_token` response from Keycloak.

[2018-07-11 15:53] Eilon commented on #1809
I'll sent you the link.

[2018-07-11 16:12] Tratcher commented on #1808
Those logs are not very clear. None of the fields being logged are labeled, and I don't have access to the code you used to generate them.

[2018-07-11 16:46] bdparrish commented on #1808
@Tratcher - they are not clear because nothing was logged.  Here is how I captured the logs.  The only header value I captured was `Set-Cookie`.

[code]

[code]

[2018-07-11 17:22] blowdart commented on #1807
We kind of cheat, spinning up a test server in memory, and then plumbing in the auth handler, so we can test responses.

https://github.com/blowdart/idunno.Authentication/blob/master/test/idunno.Authentication.Test/BasicAuthenticationTests.cs has some examples, take a look at CreateServer()

[2018-07-11 17:23] blowdart commented on #1804
This issue was moved to aspnet/Identity#1872

[2018-07-11 17:23] #1804 closed

[2018-07-11 17:24] hiraldesai commented on #1469
Question: How do I go about using Azure Active Directory authentication & client certificate authentication side by side? Since client authentication requires enabling a flag at IIS level (IIS express or Azure app service), wouldn't that means someone trying to pass bearer auth token in Authorization header will also need to provide a certificate?

[2018-07-11 17:24] #1802 closed

[2018-07-11 18:50] HaoK commented on #1809
Tests need to be added for this before taking it as a patch imo, the fix that was merged contained no tests...

[2018-07-11 18:54] bdparrish commented on #1808
@Tratcher - research has lead to domain based cookie issue just like everything else dealing with this reverse proxy problem.  Is there a way to tell .NET Core how to set the cookie for a different domain?

[2018-07-11 18:57] Tratcher commented on #1808
The client should already be setting the cookie domain to the public host name. Which cookie is wrong?

[2018-07-11 18:58] profet23 commented on #1809
I'd argue that since this is a regression and not a new feature, the priority should be on publishing a fix. `GetTokenAsync` is commonly referenced in documentation having to do with jwt authentication. This regression leads to a bug that is very hard to track down. The fix is simple and obvious.
Other libraries like: https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation rely on

[2018-07-11 19:01] HaoK commented on #1809
Adding tests for the fix doesn't affect when the it will be available.

This is more of an engineering concern rather than anything else, there's still no test coverage for something which already has been regressed once.

[2018-07-11 19:04] profet23 commented on #1809
My concern is that the test issue #1768 has been open since May 23. I'm all for having the tests added, but I don't think it should be a blocking issue for 2.1.3. Making it a blocker for 2.2 is another story.

[2018-07-11 19:12] Tratcher commented on #1469
You're correct, cert auth on IIS doesn't stack well with other types. This would work ok with HttpSysServer since it allows you to request a client certificate lazily.

[2018-07-11 19:32] bdparrish commented on #1808
Well, this is leaving me scratching my head

If the app is behind the NGINX proxy:
`.AspNetCore.Correlation.OpenIdConnect.dPl2wvsusRZGBVIJ4IbOw16PHJhZqF3qG0Ng0jd8HP4=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/signin-oidc; samesite=lax,.AspNetCore.OpenIdConnect.Nonce.CfDJ8MEE3gpdl7VCrOF0YfkXMeMzYaOrDxZIyr3_NVGpb_Y4iyr_JxgGwWOcXbnFWGPFXVw2t3qiDPuXSXlKWNq_lr6panGv71LZ5FY3vqzvmt2ziJXr04YkvLRscs_7i

[2018-07-11 21:48] hiraldesai commented on #1469
Thanks @Tratcher for confirming. I had initially thought of doing this with 2 auth providers and adding the auth type with scheme as a controller attribute but it looks like I'll have to split my project into multiple APIs.

I wonder if this is something that can be considered as an enhancement for future. Surely this isn't the right place for it, [is this the right place to log it?](https://windo

[2018-07-12 09:38] NetTecture commented on #1592
As someone in a similar situation and workint for a customer that has to approove code changes with budgets: Thanks to tell me to fuck off because you don't care about compability. Now I have 2 choices: Write MORE code using Owin.SecurityOauth (and drop dotnet core for some time), or go through the whole nightmare of trying to get  a budget to replace that part of the system. Not that I won't get

[2018-07-12 17:35] saborrie commented on #1469
@hiraldesai

Hopefully this is helpful for thatl:
[http://dhickey.ie/2018/06/09/aspnet-core-nested-apps/](http://dhickey.ie/2018/06/09/aspnet-core-nested-apps/)

[2018-07-12 18:00] brahmb commented on #1711
Hallo Eilon and Tratcher - Refer
https://github.com/fabricejumarie/Authentication_WebApiCore2/pull/1

There suggesting of using [Authorize(IISDefaults.AuthenticationScheme)]  did not work so I had to use an alternative plan.  This pull request has a working copy of the code now.

[2018-07-12 18:53] Eilon commented on #1809
Patch is approved for 2.1.3. Please check in ASAP.

[2018-07-12 18:56] Tratcher commented on #1809
@HaoK do you have bandwidth for this?

[2018-07-12 21:12] Tratcher commented on #1768
FYI: GoogleTests covers this for the interactive OAuth flow. JwtBearer and OIDC are lacking test coverage though.

[2018-07-12 21:53] #1809 closed

[2018-07-13 08:09] AnshulKhandelwal02 commented on #1473
@brentschmaltz yes, achieved that with code.

[2018-07-13 08:54] AnshulKhandelwal02 commented on #1473
Still the issue I am facing is to get webApi authenticated with bearer token received from web authentication.
1. Created web app, Angular template of .net core 2.1. Aded WsFed authentication to it. https://demoapp
2. Created Web Api app. Added wsfed authentication to it. https://demoapp-api
3. Now target is to authenticate web app, use token from there to make calls to api, and get data.
4. In We

[2018-07-13 13:50] mananchoksi007 commented on #1744
@justinhelgerson I have the same issue. Can you please share the fix that you have made to your code?

[2018-07-13 13:54] justinhelgerson commented on #1744
@mananchoksi007 You could get this error in a few different ways depending on your configuration.  My issue is that I had an action in my controller trying to handle the callback.  This isn't necessary; the middleware will take care of it for you.

If you need more help you'd have to share more info like your configuration and HTTP flow.

[2018-07-13 14:01] mananchoksi007 commented on #1744
I am using pivotal cloud foundry service to authenticate the application. Here is my configuration.

   public void ConfigureServices(IServiceCollection services)
        {
            services.AddOptions();
            services.AddSingleton<IHttpContextAccessor, HttpContextAccessor>();
            services.AddSingleton<IConfiguration>(Configuration);

                services.AddAuthentication(op

[2018-07-13 14:15] dmichael266 commented on #1569
Dude, I can't thank you enough for posting this solution.  I spent over 4 hours trying to figure this problem out and your solution worked perfectly.

[2018-07-13 14:20] justinhelgerson commented on #1744
What endpoint in your application is handling the callback?  Is it receiving a state parameter?

[2018-07-13 14:21] mananchoksi007 commented on #1744
"authorizationEndpoint": "https://vspdev2.vsp.pp.gm.com/oauth/authorize",
        "tokenEndpoint": "https://vspdev2.vsp.pp.gm.com/oauth/token",
        "userInformationEndpoint": "https://vspdev2.vsp.pp.gm.com/userinfo",
        "tokenInfoUrl": "https://vspdev2.vsp.pp.gm.com/check_token",

[2018-07-13 14:22] mananchoksi007 commented on #1744
not sure about state parameter

[2018-07-13 20:59] Eilon commented on #1788
@HaoK - are we good to close this bug now? Is the fix in the patch and in 2.2 and in master?

[2018-07-13 21:11] HaoK commented on #1788
Yep, thx for reminding me, fixed via https://github.com/aspnet/Security/pull/1811

[2018-07-13 21:11] #1788 closed

[2018-07-16 12:29] radupopConnatix opened #1819 "v2.1 Identity authentication middleware"
As I understood there is new way for authorization in .netCore 2.1. As I created a new fresh project with the following dotnet cli command:
`dotnet new mvc -au individual`

It sets me to use identity, which I wanted, now I want to intercept the authentication so I can insert a bit more middle ware logic in there. As I need to port the info .net framework, I need to be able to do additional things

[2018-07-16 16:51] mkArtakMSFT opened #1820 "HttpContext.SignInAsync Authentication"
_From @netnr on July 16, 2018 10:8_

domain.com
www.domain.com
a.domain.com

**www.domain.com site**

**Startup.cs**
[code]

**write Authentication**
[code]

**www.domain.com site**
[code]
**a.domain.com site**
[code]

The WWW site can authorize authentication (write the site of the authorization information), while the B site can not authorize authentication (to get cookies). Why?

www站点能授权认证（写入授

[2018-07-16 16:55] Tratcher commented on #1820
If you use Fiddler to trace the request, is the expected cookie sent to site b but unable to be read?

The cookies are encrypted and cannot be shared across sites unless you also share the Data Protection settings. Here's a related doc we're almost done writing: https://github.com/aspnet/Docs/pull/7602

[2018-07-16 19:33] blowdart commented on #1819
What sort of things are you wanting to do? There might be a better way than middleware, for example events

[2018-07-16 23:48] netnr commented on #1820
**resolved**

Startup.cs
[code]

<https://www.cnblogs.com/piscesLoveCc/p/7417509.html>

[2018-07-17 00:07] #1820 closed

[2018-07-17 22:22] Eilon commented on #1810
@brentschmaltz - do  you have a tracking item for supporting this in IdentityModel?

[2018-07-17 22:29] Eilon commented on #1801
Closing because we don't feel this is important enough to fix. Hopefully the error gives a hint that some unusually large date is being used. If you feel this happened in some reasonably common case, we can take another look.

[2018-07-17 22:29] #1801 closed

[2018-07-17 22:30] Eilon commented on #1800
The state is required in ASP.NET Core's auth system to help prevent certain types of attacks. Closing this issue because we have no plans to change this behavior.

[2018-07-17 22:30] #1800 closed

[2018-07-17 22:31] Eilon commented on #1799
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-17 22:31] #1799 closed

[2018-07-17 22:31] Eilon commented on #1791
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-17 22:31] #1791 closed

[2018-07-17 22:35] Eilon commented on #1729
We should take a look to see if we can remove the cookie policy setting in the templates and get that done ASAP.

We should separately look to see if all the major browsers support SameSite in an acceptable manner and consider changing the template (or library) to even use Strict.

[2018-07-17 22:38] Eilon commented on #1172
@rynowak / @glennc  - do you feel this would be useful in 2.2 for the work we're doing for making APIs great?

[2018-07-18 05:59] tuespetre commented on #1801
@Eilon this is the case when the cookie is set to ‘not expire’ — the framework uses `MaxValue` — but there are times where we would like to cause a renewal.

[2018-07-18 07:19] fesioche commented on #1751
I had the same problem and i solved including in Startup.cs

 public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
           //Omited for clarity

			app.UseAuthentication();

			app.UseStaticFiles();

           //Omited for clarity
        }

[2018-07-18 08:14] phatcher commented on #1807
Thanks for the response guys, now working

[2018-07-18 15:51] elgerm opened #1821 "Social login redirect rewrites hostname."
Been pulling my hair out over this one:

I've got an angular app and serve identity pages for social login via an iframe. To do this in the same domain I'm using a reverse proxy in IIS (ARR).

So identityserver pages with the usual ExternalLogin and callback endpoints are running at localhost:5000 and I rewrite my site to that via 'http://example.com/myidentity'.

All is working fine (normal login

[2018-07-18 15:55] Tratcher commented on #1821
That's not coming from the OAuth provider. How are you doing your initial rewrite? IIS UrlRewrite? That can also affect responses like the redirect Location header.

[2018-07-18 15:56] Tratcher commented on #1821
Another way you can prove it's external to your app code is to turn on Kestrel connection level tracing:
https://github.com/aspnet/KestrelHttpServer/blob/a44007adfb6f88c652348621bb1466d7278bc926/samples/SampleApp/Startup.cs#L93

[2018-07-18 16:17] Tratcher commented on #1808
Those cookies are just symptoms of the same issue, it gets part way through the auth process and fails, likely when it tries to contact the identity server to exchange information. What do the logs show for that scenario?

When you showed the metadata doc above I realized there's a trick that some servers do. They generate the metadata doc dynamically based on the url used to access them. E.g. You

[2018-07-18 16:38] Eilon commented on #1801
@tuespetre can you show more about what your app code would look like such that you would run into this? We took a look and everything we thought of we felt wouldn't be common.

[2018-07-18 18:04] elgerm commented on #1821
Thank you, the connection level tracing helped. Turned out to be ARR rewriting the response headers as well. (can be turned off)

[2018-07-18 19:47] tuespetre commented on #1801
I was wrong; we *are* setting the `ExpiresUtc` to `DateTimeOffset.MaxValue` (in the call to `SignInAsync`.)

`MaxValue` *seems* like the right way to say "This cookie should be considered non-perishable", but I suppose we could use `DateTimeOffset.UtcNow.AddYears(500)` to the same effect.

[2018-07-18 19:58] kanadaj commented on #1729
I am told Strict still causes problems with iPhone.

[2018-07-18 20:15] Eilon commented on #1801
@tuespetre yeah that's what we were thinking too. I doubt any web browser that exists today will exist in 500 years 😄

[2018-07-18 20:32] Eilon commented on #1810
Got it; we'll evaluate what's needed in ASP.NET Core.

[2018-07-18 21:03] Tratcher commented on #1810
What identity servers provide encrypted tokens that we can test against?

[2018-07-18 21:13] jgoyvaerts commented on #1810
I'm afraid the one I encountered is private and I'm unable to share it for
testing.

Maybe someone can setup a IdentityServer4 repo PoC which encrypts userinfo
tokens?

On Wed, Jul 18, 2018, 23:03 Chris Ross <notifications@github.com> wrote:

[2018-07-19 11:57] ManuelHaas opened #1822 "WsFederation: Error from RemoteAuthentication: Correlation failed - Unhandled exception"
Hi,

I'm using WsFederation for Authentication. After successfully entering AD-Credentials in ADFS-"screen". I get the following unhandled exception:

[code]

Here is the code that is executed for WsFederation auth:

[code]

Note: the callback function will not be entered anymore. Only the unhandled exception is noted in the output window.

I used the following guide to configure WsFederation: htt

[2018-07-19 12:38] ManuelHaas commented on #1822
After adding the following code it works:
[code]

In previous .NET Core versions this was not necessary. Is this necessary now?

[2018-07-19 13:04] Tratcher commented on #1822
You also have UseCookiePolicy, correct? That wasn't used in prior templates either. Its default sets SameSiteMode to lax which is too high for wsfed.

[2018-07-19 14:01] ManuelHaas commented on #1822
Yes, I also added `app.UseCookiePolicy();` in Configure method. Sorry for missing that.

The strange thing was that it worked on some clients and on other clients the unhandled exception occured. Maybe regarding some browser security settings.

[2018-07-19 14:01] #1822 closed

[2018-07-19 18:57] brentschmaltz commented on #1810
@Tratcher http://testingsts.azurewebsites.net/ has a discovery endpoint and will return jwe.

[2018-07-19 22:19] bdparrish commented on #1808
@Tratcher - https://gist.github.com/bdparrish/0209446ad2893db1df610c5f02103453

Here is the gist of all the docker-compose logs that are spitting out from browsing to `http://localhost/` to receiving the 500 error.  Maybe I have been staring at all this for too long and I have lost the paths that I have tried.

the `nginx.conf` has error_log /var/log/nginx/error.log debug; to log supposedly everyt

[2018-07-19 22:30] Tratcher commented on #1808
Again, those logs are very hard to read when you don't label any of the fields you're logging.

This is the most relevant part:
[code]

Everything was fine until you tried to get extra claims from the user info endpoint and were refused. There's nothing here indicating a problem in OpenIdConnectHandler, keycloak gave you a token and then refused to accept it back. You can verify the token was corr

[2018-07-20 07:18] bdparrish commented on #1808
I agree.  At this point I don't think it is a ASP.NET issue.  Unfortunately for me this is outside my expertise as well.  Thanks for all the insight.

[2018-07-20 07:18] #1808 closed

[2018-07-20 14:55] bdparrish commented on #1808
@Tratcher - one more shot with the Keycloak debug and the ASP.NET ProtocolMessage JSON.  I finally got some extra debugging, but I missing some behind the scenes doings that is going to figure out what is going on.

https://gist.github.com/bdparrish/4409f26e01db02dc912a761b6d19177a

This gist shows three events occuring:

1. OnAuthorizationCodeReceived
2. "Redeeming code for tokens."
3. OnTokenRes

[2018-07-20 16:20] Tratcher commented on #1808
Any chance the token is encrypted? That's been known to break the user-info request. https://github.com/aspnet/Security/issues/1810

[2018-07-20 17:00] bdparrish commented on #1808
@Tratcher - I am going out on a limb here and say no, because the implicit flow works fine if the application is run outside of the private network and accesses the identity server through the NGINX proxy.  Also the token presents data appropriately but the token signature is invalid when checked on the jwt.io website.

[2018-07-20 17:46] HaoK commented on #1342
Will do this as a AuthSample, moved to https://github.com/aspnet/AuthSamples/issues/57

[2018-07-20 17:46] #1342 closed

[2018-07-21 08:29] JonPSmith opened #1823 "Clash between JWT token and RequestVerificationToken cause HTTP 400 response"
I have an ASP.NET Core application that uses JWT bearer tokens and I am having problems getting this to work with RequestVerificationToken in a Web API senario. After a number of tests I have found the following situation:

1. No RequestVerificationToken, then web app accepts the JWT bearer token
2. No JWT bearer token, then web app accepts the RequestVerificationToken
3. If I have both the JWT be

[2018-07-21 11:16] TareqNewazShahriar opened #1824 "Exception on cancelled external login"
Internal Server Error occurred when external (facebook) login is canceled and facebook redirects to the source application.
That means, you clicked on Facebook external login button and then canceled it by clicking on "Not Now" button. Facebook redirects back to your application (`https://localhost:port/signin-facebook?...`); and then voila -- exception.

[![enter image description here][1]][1]

W

[2018-07-21 14:10] Tratcher commented on #1823
Antiforgery includes the HttpContext.User when it's issued and verified. Are you sending the JWT both when the form is loaded and when it's submitted?

[2018-07-21 14:12] Tratcher commented on #1823
FYI Antiforgery issues are tracked over here: https://github.com/aspnet/Home/labels/repo%3AAntiforgery

[2018-07-21 14:13] Tratcher commented on #1824
Duplicate of https://github.com/aspnet/Security/issues/1165.

[2018-07-21 14:17] JonPSmith commented on #1823
Thanks @Tratcher for a quick response

I don't send the JWT on the from loaded (I'm trying to get the backend working for the angular guys). I'll try sending the token when I load the form. Sound like you think that will fix it.

PS. I assume you want me to post any further questions on the Antiforgery link you gave me.

[2018-07-21 17:49] TareqNewazShahriar commented on #1824
@Tratcher  Just read the mentioned issue. Used the OnRemoteLogin event to [handle the exception](https://github.com/aspnet/Security/issues/1188#issuecomment-297948047) gracefully and to redirect to the login page.

At least it worked. So I have to handle it for all the external logins, for now.

So... what will i do with this issue? Will I close it?

[2018-07-22 05:50] #1824 closed

[2018-07-24 19:20] Eilon opened #1825 "UnderstandingJwtBearerOptions RequireHttpsMetadata functionality"
_From @tker on July 24, 2018 6:12_

We would  like some help understanding the functionality set by the JwtBearerOptions RequireHttpsMetadata boolean option.

[The documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.jwtbearer.jwtbeareroptions.requirehttpsmetadata?view=aspnetcore-2.1) for this option is somewhat sparse, and I have been unable to find a mor

[2018-07-24 19:20] Eilon commented on #1825
_From @joshfree on July 24, 2018 19:7_

@Eilon could you help route this?

[2018-07-25 13:46] blowdart commented on #1825
@tker So ... generally token issuers are outside of your app, and in the case of federated services they can be outside your control (AAD, WSFed etc.), so for that most common use case we want HTTPS because then you know the request to get the signing keys for tokens isn't being intercepted or man-in-the-middled.

But sure, if you're doing everything internally I supposed it's arguably not needed,

[2018-07-26 03:16] brockallen opened #1826 "Consider resolving IAuthenticationSchemeProvider from DI in Invoke in AuthenticationMiddleware"
In short, accepting the IAuthenticationSchemeProvider as a ctor to the AuthenticationMiddleware forces it to be a singleton. I know the default is deigned that way and put in DI that way, but if someone wants to replace it (say with something that hits a DB) then it's difficult.

[2018-07-26 15:49] Tratcher commented on #1826
Interesting. You wouldn't be able to use most of the AddFacebook/OIDC extensions with that pattern as they all rely on the singleton. It would be a pretty sharp one-or-the-other divergence.

You may be better off replacing the IAuthenticationService with something that doesn't use IAuthenticationSchemeProvider at all, and IAuthenticationService is already scoped.

[2018-07-27 13:36] shatl commented on #1755
Enabling sticky sessions fixed this error for us

[2018-07-27 14:38] Tratcher commented on #1755
@shatl which means your Data Protection is not correctly configured across your nodes.

[2018-07-27 22:10] Eilon commented on #1826
Parking in backlog. We will look into this again when we eventually embark on proper multi-tenant support.

[2018-07-27 22:13] Eilon commented on #1825
Closing because no further actions are planned for this issue.

[2018-07-27 22:13] #1825 closed

[2018-07-27 22:14] Eilon commented on #1819
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-07-27 22:14] #1819 closed

[2018-07-27 22:16] Eilon commented on #1810
Thanks for the info, everyone. We will consider this in the 3.0 release.

[2018-07-30 11:12] EddieGahan opened #1828 "How to add runtime openId configuration in .net core"
After a research, I got to know that we can use SchemeProvider to use AddScheme at runtime from below links.

https://github.com/aspnet/AuthSamples/tree/master/samples/DynamicSchemes

My concern is how to add OpenIdConnectOptions at run time where all values of OpenIdConnectOptions will come from database in .net core

[2018-07-30 23:16] TobyMosque opened #1829 "JwtSecurityTokenHandler.CreateJwtSecurityToken renaming Claim Type Names."
I'm tring to secure my web tokens using Aes256CbcHmacSha512, but when i create the SecurityToken calling [JwtSecurityTokenHandler.CreateToken Method (SecurityTokenDescriptor)](https://msdn.microsoft.com/en-us/library/dn451152(v=vs.114).aspx), the claims' type names are updated.

Because of that, the role-based authorization didn't work as expected (AuthorizationAttribute.Roles didn't work and I ca

[2018-07-31 08:17] cycbluesky opened #1830 "Cannot get the original request scheme"
I have a web site use OpenIdConnect to implement Azure Ad authentication. It's deployed in AWS ECS. User will access this site via https protocol, after it pass ALB, it will be auto turned to http protocol.
This cause a problem. When user access via https, after Auzre Ad authenticated, it will redirect back to the site by http protocol.
I tried to  config OpenIdConnect CallbackPath property to ful

[2018-07-31 08:44] stevenxi commented on #1469
I have similar but not 100% same issues.
I have a project involves cookie auth and jwt token auth.
The idea is to use cookie for web page and web api, jwt for api only.

I've tried to use 2 auth schema same time in the auth policy builder. It works fine as authorization, but failed on challenge, probably because jwt auth overrides it.

So at the end, I used 2 auth policies for the project. cookie

[2018-07-31 12:59] Tratcher commented on #1830
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1