[2018-07-31 13:25] ZOXEXIVO commented on #1755
@Tratcher We use DataProtection with long-expiring keys
For 1500 clients we catch 1-3 Correlation failed errors every day and we very tired to solve it

[2018-07-31 14:34] Tratcher commented on #1755
The best way to figure it out is to capture the request headers from the failed request via a Fiddler trace or a log. It also helps if you can capture the original challenge response headers.

[2018-07-31 17:40] blowdart commented on #1829
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#982

[2018-07-31 17:40] #1829 closed

[2018-07-31 19:00] yoummr commented on #1420
I am fetching same problem. Did get any solution or anyone know the solution. Please let me know.

[2018-08-01 04:01] tker commented on #1825
Thank you for the responses received, but I am still unsure of the complete effects of this setting and precisely what it does. I had already formed the _opinion_  that in our scenario it is ok to leave false; however, I would much prefer a complete understanding of the setting's purpose, function, implementation and intent.

If this is not the appropriate place to find out not just exactly what i

[2018-08-01 04:56] Tratcher commented on #1825
Then see how it's actually used:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d771b5c3ef22b7ff065e8fad1a63d6a2937b7d7f/src/Microsoft.IdentityModel.Protocols/Configuration/HttpDocumentRetriever.cs#L69-L89

It is only checked for downloading metadata documents.

[2018-08-01 06:47] davormas commented on #1560
This one might be duplicate but it gave me dirty hack workaround that is just enough for my case. Thanks!

[2018-08-01 15:10] IlBaffo commented on #1830
Hi, I'm having the same problem and I'm having trouble finding documentation online.
The intention here is not to have any users store, just permit the signin with the oauth account and then have an application cookie to persist the session.

Back with aspnet-core 1.0 I was able to setup a login with Steam and it worked pretty well.

My setup is fairly contrived but I think that setting this up sh

[2018-08-01 15:37] Tratcher commented on #1830
Read this doc and follow the troubleshooting instructions. https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot

[2018-08-01 20:45] IlBaffo commented on #1830
Sorry but that didn't help.

- when removing the path from nginx (with the trailing slash) I need to hack the path in the middleware to make it work or else I need to put another rule in NGINX to redirect /signin-microsoft (without the base path)
- when leaving the path and using `UsePathBase` it goes in a redirect loop
- when somehow I can manage to make it work I have an error because the correl

[2018-08-02 19:38] brentschmaltz commented on #1810
@Eilon when is 3.0 planned for release?

[2018-08-02 21:08] brockallen opened #1832 "AddPolicyScheme changes the semantics of IAuthenticationSchemeProvider"
I suspect my issue here will be too subtle to do anything about, but I need some guidance on this.

My sense is that the introduction of the new virtual/dynamic policy schemes has in an odd way retroactively changed the semantics of the `IAuthenticationSchemeProvider` and it's various `GetDefault...` scheme APIs. In doing so, I'd almost call this a breaking change since the semantics are now diffe

[2018-08-02 23:04] Eilon commented on #1832
@HaoK - can you share some thoughts on this?

We do agree that this is a tricky scenario...

[2018-08-02 23:06] Eilon commented on #1830
@cycbluesky can you share any logging output when you tried to run this?

[2018-08-02 23:09] Eilon commented on #1828
There is no direct support for this at this time. We are tracking this feature request at https://github.com/aspnet/Security/issues/1826.

[2018-08-02 23:09] #1828 closed

[2018-08-02 23:09] Eilon commented on #1823
OK, closing this issue in the meantime. If you require additional assistance please post a new issue with the details. Thanks!

[2018-08-02 23:09] #1823 closed

[2018-08-02 23:52] Eilon commented on #1810
@brentschmaltz looks like next year (definitely not this year).

[2018-08-03 05:54] cycbluesky commented on #1830
@Eilon Following is my code.
Step1: I add app.UseForwardedHeaders();

[2018-08-03 06:10] cycbluesky commented on #1830
@Eilon
I tried the Microsoft.AspNetCore.HttpOverrides middle-ware solution. It does not work now.
 Step 1. Add app.UseForwardedHeaders();
[code]

Step 2: Add ForwardedHeadersOptions config
[code]
Step 3. I write some code to output the header
[code]
The result shows that the X-Forwarded-Proto has been filled as https.
=================================================================
User-Agent: Mo

[2018-08-03 15:09] SchroterQuentin opened #1833 "Shared cookie between applications with different sheme authentication"
I have follow the documentation about shared cookie between application but i think the problem is my use case.

I have one application which use wsfederation to authenticate my user. And an other applications which run on the same URL, so which can read the cookie. Now I need to know if the user is authenticated and access to some claim. But the second application doesn't read the cookie and retu

[2018-08-03 15:38] Tratcher commented on #1833
See https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-2.1&tabs=aspnetcore2x

[2018-08-03 16:10] Eilon commented on #1830
@cycbluesky thanks for the additional info.

@shirhatti - do you have any experience in this area on how to configure this type of setup?

[2018-08-03 17:40] HaoK commented on #1832
So I don't have a clear answer but this is mostly a discussion thread so I can fill in the backstory, @davidfowl can provide his thoughts as well.

The virtual/policy/forwarding scheme feature/changes is closer to what I wish we had time to do in 2.0, its definitely more aligned with our long term vision of where we are going.  We basically see schemes as named units of authentication, forwarding

[2018-08-03 17:57] HaoK commented on #1832
With respect to how complex dynamic auth should be composed in the future (long term vision), we were basically envisioning something like this where you can basically have full control based on request/method and plug in whatever handlers to do the actual work:

[code]

[2018-08-03 22:56] brockallen commented on #1832
In IdentityServer we need to know which scheme is you main cookie scheme, and we relied upon the semantics of the application wide default authN scheme for that. Now the default authN scheme can be virtual, and could map to potentially many diff schemes (say cookies and bearer). So our assumption that there's a default authN scheme is violated.

I'm not fighting for this particular API to stay, mi

[2018-08-03 23:25] HaoK commented on #1832
Why do you need to what the main application cookie is?  perhaps there's a better way to accomplish what identity server is doing

[2018-08-04 01:55] brockallen commented on #1832
Actually, since we have your ear... you might really be interested in all the stuff we need to to the authentication system. For example, we add decorators in several places to achieve what we need to. I'm happy to get on a call to show you. Perhaps you can finally convince fowler that the DI system needs modern features that all the other ones offer :)

[2018-08-05 08:33] rcladmin opened #1834 "Open ID Connect problems with Edge Browser"
I have a page that is authorized with open id connect that only opens in the Edge browser when I am using a proxy (fiddler). Without the proxy (fiddler) open and running, Edge returns the 'hmm.., can't reach this page error'. The site is hosted in a kubernetes cluster behind an nginx reverse proxy. The page works without any problems in Chrome, so I believe aspnet.core is configured properly to wo

[2018-08-05 10:11] rcladmin commented on #1834
These are the log files. Edge does not server the redirect URI and chromes does.

[09:45:01 INF] Executing ChallengeResult with authentication schemes ([]).
[09:45:01 VRB] Entering Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler's HandleUnauthorizedAsync.
[09:45:01 VRB] Using properties.RedirectUri for 'local redirect' post authentication: 'https://shopeneur.com/dashboard/'.

[2018-08-06 08:36] SchroterQuentin commented on #1833
I finally find the code and understand how it works but did not succeed to understand where was my mistake. But if I'm right :

- Each Authentification Middleware must create a cookie which is encrypted by a data protector which is instantiated with this specific combination

**CookieAuthenticationMiddleware:40**
[code]

So I think that my mistake is that the AuthenticationSheme is not the same in

[2018-08-06 16:09] Tratcher commented on #1834
The Edge F12 tools produce some strange traces, it shows what appears to be a lot of duplicate requests with different headers and different results. That said, I don't see any indication that the issue is related to authentication, the authentication steps all complete and then it fails while accessing your dashboard.

Do you get any better errors if you disable HTTP/2?

[2018-08-06 17:52] rcladmin commented on #1834
I have noticed that too. The dashboard is the called upto 4-7 times, and then crashes. Also, external sites like https://login.microsoftonline.com/kmsi for authenication are called several times, that in turn, requests the dashboard several times.

I am using asp.net core 2.1, with  app.UseHsts() and app.UseHttpsRedirection() . I have noticed that in Edge, this produces a HTTP/2 in F12 tools with

[2018-08-06 18:00] Tratcher commented on #1834
Http/2 is coming from IIS, you'd have to disable it for the whole system. There's a reg key for that.

[2018-08-06 18:19] rcladmin commented on #1834
I created a aspnet.core website from template to test Edge. When F12 tools are on, I get duplicate requests and and all the controllers are being hit twice. When , I turn off F12 tools, controllers are hit once. Will try to turn off HTTP/2 now and try again.

[2018-08-06 20:26] rcladmin commented on #1834
I disabled htt/2 in nginx. In Edge, the login works sometimes but intermittenly give a 'Correlation failed error'.

[20:22:30 VRB] Using properties.RedirectUri for 'local redirect' post authentication: 'https://shopeneur.com/dashboard/'.
[20:22:30 INF] AuthenticationScheme: OpenIdConnect was challenged.
[20:22:30 INF] Executed action shopeneurdashboard.Controllers.HomeController.Index (shopeneurda

[2018-08-06 20:28] Tratcher commented on #1834
Are you still getting double requests? That would mess with the cookies.

[2018-08-06 20:35] Tratcher commented on #1834
Wait a second, when I go to https://shopeneur.com/dashboard/ I get cookies with a path set to  /dashboard/signin-oidc, but your trace shows you returning to /signin-oidc? That would certainly mess up your cookies.

[2018-08-07 09:31] HaoK commented on #1832
@blowdart do you want to setup a call for us to see what they are doing?

[2018-08-07 12:13] blowdart commented on #1832
Horrible things probably, but sure, when I get back from hacker summer camp next week.

[2018-08-07 13:00] ZOXEXIVO commented on #1121
OWIN problem caused by deadlock in method System.Owin.Security

[code]

[2018-08-07 15:43] Tratcher commented on #1121
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

OWIN components are over here: https://github.com/aspnet/aspnetkatana

[2018-08-07 19:12] #1834 closed

[2018-08-08 08:28] tkueny-vtrax commented on #1469
@openidauthority - that worked like a charm for me! The ForwardDefaultSelector on the CookieAuthenticationOptions works as it should. It allowed me to configure both cookie & JWT authorization based off the requesting url/route. I spent days on this, this is very much appreciated!

[2018-08-08 13:27] shqu3 opened #1835 "multiple handlers for a requirement (AuthorizationHandler) HasSucceeded"
Trying to follow this tutorial for creating multiple handlers.
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-2.1#why-would-i-want-multiple-handlers-for-a-requirement

For AuthorizationHandlerContext
when there are multiple Requirements
**HasSucceeded** will be false if both requirements do not call **Succeed()**
since the only way to remove a **pendin

[2018-08-08 13:40] blowdart commented on #1835
I think you're mixing up handlers, requirements and policies here.

_Expect HasSucceeded to return true if at least one policy succeeds per documentation._

This isn't right, you can see the documentation is talking about handlers, not policies. A requirement will succeed if any of it's handlers succeeds, but if you have multiple requirements, or multiple policies, if any of them don't succeed the

[2018-08-08 13:52] shqu3 commented on #1835
Yea I was. Thank you.

[2018-08-08 13:52] #1835 closed

[2018-08-10 00:46] ccm1st opened #1836 "all the samples are in .net framework 4.6.1"
all the samples are in .net framework 4.6.1, can we upgrade it to dotnet core versions so that it will work for mac

[2018-08-10 00:56] Tratcher commented on #1836
? They're net461 AND netcoreapp2.2
https://github.com/aspnet/Security/blob/47c9141527b417ae41543534852aced5db1d9f58/samples/OpenIdConnectSample/OpenIdConnectSample.csproj#L4

[2018-08-11 04:18] WinterWoods opened #1837 "The custom OnAuthenticationFailed has an exception."
[code]
Custom authorization error information, but exception occurs.
[code]
What should I do?

[2018-08-11 04:45] Tratcher commented on #1837
There was a breaking change in 2.0 where JwtBearer OnAuthenticationFailed can no longer generate responses. You can store the information in HttpContext.Items and then use OnChallenge to send a response.

[2018-08-11 06:01] WinterWoods commented on #1837
Thank you. I have implemented this function with OnChallenge.

[2018-08-11 06:02] #1837 closed

[2018-08-16 14:39] Tratcher commented on #1109
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2018-08-16 15:20] WayneCBarker opened #1838 "Share cookies & tokens between asp.net core and legacy .net framework application."
I have a custom identity provider (IP-STS) and several (RP) applications written in .net framework 4.6.2 implementing WS-Federation. We make use of reference mode for our token to reduce the size of our cookies and as such have a shared token cache in Redis.

We recently implemented an asp.net core website which need to participate in SSO to allow the user to have a seamless experience when naviga

[2018-08-17 10:41] jaydubal opened #1839 "Correlation failed error"
After upgrading to .net core 2.1 from version 2.0 it breaks the Google OIDC middleware, if cookie option is set as `SameSite = SameSiteMode.Strict` it throws this error: Correlation failed.

Error goes away if above cookie options is not set. It used to work in .net core 2.0

[2018-08-17 12:11] Tratcher commented on #1839
Which cookie did you set that on? SameSite is not compatible with oath.

[2018-08-17 12:14] jaydubal commented on #1839
[code]

[2018-08-17 12:15] jaydubal commented on #1839
The above code (without the comment line) worked fine with .net core 2.0

[2018-08-17 14:10] Tratcher commented on #1839
Hmm, little or nothing has changed for SameSite in 2.1. Also the SameSite policy is enforced by the client/browser, not by the server.

The next step would be to compare a Fiddler trace of 2.0 vs 2.1 to make sure the content is the same.

[2018-08-17 17:04] jake-brandt commented on #1592
Dropping this here for anyone coming along this thread. Certainly not the only solution; but one of the more OEM ones:

https://long2know.com/2017/05/sharing-cookies-and-tokens-between-owin-and-net-core/

[2018-08-18 16:41] sguryev commented on #1449
`JsonKeyClaimAction` is in the Microsoft.AspNetCore.Authentication.OAuth v2.1.1 out of the box
Usage: `options.ClaimActions.Add(new JsonKeyClaimAction(JwtClaimTypes.Role, null, JwtClaimTypes.Role));`

I just can't understand why they pass `"role"` value to the `valueType` parameter. Like here: https://github.com/aspnet/Security/issues/1449#issuecomment-332767846
I expected something like "String".

[2018-08-18 17:12] dazinator opened #1840 "Microsoft.AspNetCore.Authentication.Core code?"
Hello.
I am trying to diagnose an issue in my asp.net core 2.0 application, and I noticed that `services.AddAuthenticationCore()` is called which lives in a `Microsoft.AspNetCore.Authentication.Core` assembly - however I can't find the source code for this.. Could someone point me in the right direction?

Cheers

[2018-08-18 18:05] HaoK commented on #1840
https://github.com/aspnet/HttpAbstractions/blob/master/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationCoreServiceCollectionExtensions.cs#L20

[2018-08-18 18:05] #1840 closed

[2018-08-20 08:05] zhangtingwz opened #1841 "CookieAuthenticationDefaults and JwtBearerDefaults can be together？"
[code]

I hope in my code use cookie to Authen my pc use ,JwtBearerDefaults to for my api,but they are conflict，how can i do

[2018-08-20 08:51] ccm1st opened #1842 "Wreply url in WS-Federation starts with http instead of https"
Hi,

I am using WS-Federation Url and for some reason, when I test the code with Kestral server, the wreply url is fine and the reply url starts with HTTPS. However, when I tested in IIS, the url starts with http instead of https, which request looks like following:

GET https://xxx.com/example HTTP/1.1
Host: xxx.com
Connection: keep-alive
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (Wind

[2018-08-20 16:48] freaktoe commented on #1480
Given all of the good things being done with .net standard and .net core, this is a disappointing stance.  These libraries do not being in the ASP namespace for the reasons listed above and failure to address it is just lazy.  Asking the community to trust that, just because there's no asp dependency now you will never add them, is asking a lot.

[2018-08-20 17:56] Eilon commented on #1832
@blowdart it's next next week now 😄

[2018-08-20 17:57] blowdart commented on #1832
And they're both on vacation :p

[2018-08-20 18:46] blowdart commented on #1842
What version of ASP.NET core are you using? What does your program.cs and startup.cs look like? (Please remove any secrets in either of these files)

[2018-08-20 18:51] blowdart commented on #1841
When you say conflict what do you mean here?

One thing I notice immediately is you're calling add.Authentication() twice, and changing the default in the second call, so it's wiping out what you set for the default in cookies. You could do

[code]

And then, when you apply Authorize you [specify the scheme](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybysche

[2018-08-21 13:09] ccm1st commented on #1842
@blowdart  thanks for the reply. I figured out it wasn't the problem of the framework. It was actually the load balancer forwarding request to port 80 of the instance that app seats on.

This means app will always seeing traffic coming from an http request. The request schema in WS-Federation is used to generate the reply URL, which in this case it will always be http. Is there anyway to override

[2018-08-21 13:11] blowdart commented on #1842
There's [middleware](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1) that understands load balancers, and WS-FED should pick that up if it's in play. If that's in the pipeline and configured correctly then we have a bug.

[2018-08-21 13:25] ccm1st commented on #1842
Looks great will give that a try. Thanks for the help @blowdart !

[2018-08-21 13:25] #1842 closed

[2018-08-21 19:14] blowdart commented on #773
https://docs.microsoft.com/en-us/windows-server/security/token-binding/introducing-token-binding
https://cloudblogs.microsoft.com/enterprisemobility/2018/08/21/its-time-for-token-binding/

Windows is pretty much ready to go.

[2018-08-22 13:27] blowdart opened #1843 "X509SecurityKey validation failed. The associated certificate is not yet valid."
_From @pauloevpr on August 22, 2018 0:35_

I have had an issue with X509 certificate validations. Whenever a new certificate is issue, Authentication middleware fails to valid the certificate reporting that the certificate is not yet valid.

Here is how I am setting up authentication:

[code]
This is the exception I find when using a recently issued certificate:

`Microsoft.IdentityModel.Tokens.Se

[2018-08-22 13:28] blowdart commented on #1843
@Eilon We should update the dependency for preview 2.

[2018-08-22 13:34] Sharor opened #1844 "Correlation failed, despite Redis cached DataProtectionKeys and forwarded headers"
I was hoping to avoid making an issue, but I have run out of options and documentation to try, and [my stackoverflow post](https://stackoverflow.com/questions/51771111/c-sharp-dotnet-core-correlation-failed-behind-ingress-glbc-loadbalancer-on) has not gotten any comments either.

I would be extremely grateful for help, as I've been stuck on this correlation failed problem for a month almost.

My p

[2018-08-23 00:26] blowdart commented on #1844
@Tratcher

When are you seeing this? Is the user already logged in and trying to connect to google or outlook to get the rights? If they're already logged in then how are they logged in? With an ASP.NET identity cookie, or with an external auth cookie (for example, they just logged in with google, and now they're doing facebook).

Can you grab a fiddler trace we can look at of the flow that causes

[2018-08-23 08:40] zhangtingwz commented on #1841
Dear blowdart
I thank you very much ，sorry today ，i can see it，i  have done it ，i create a new Authorize ， then
[code]
then use my create other Author ,that is ok.
At last thank you very much again

[2018-08-23 08:42] #1841 closed

[2018-08-23 12:01] blowdart commented on #1844
Oh, darn, I had thought this might be when you login to both, one after the other.

[2018-08-23 14:56] Sharor commented on #1844
No but there is something odd going on, since when I log out of Google it takes me to the Azure endpoint - which I was gonna figure out after the correlation problem :slightly_smiling:

[2018-08-23 18:28] blowdart opened #1845 "Can I use External Logins with JWT approach but without Identity stack?"
_From @alexsandro-xpt on August 22, 2018 13:14_

I'm would like to setup my JWT ASPNet Core with Facebook External Login but a don't like to install all Identity stack dependence at my project.

Can I do that? How?

_Copied from original issue: aspnet/Identity#1935_

[2018-08-23 18:32] Eilon commented on #1843
OK, we'll triage this afternoon.

[2018-08-23 19:49] mathiasbl opened #1846 "OpenId: private_key_jwt authentication method support"
Are there plans to support the 'private_key_jwt' authentication method for OpenId?

[2018-08-23 20:55] DerAlbertCom commented on #1480
Now with 3.0 on the horizon there is a chance for the breaking change. Together with a Shim Assembly to maintain compile time compatibilty with current source code.

[2018-08-23 21:05] Eilon commented on #1846
@brentschmaltz is this something in here or something in your area?

[2018-08-23 21:07] Eilon commented on #1845
@alexsandro-xpt can you provide more info on the scenario? A solution such as Identity Server can help process the Facebook auth and provide the JWT token. There shouldn't be an actual direct connection between the Facebook auth and the JWT.

[2018-08-23 21:10] Eilon commented on #1844
If you do everything on a single instance (i.e. without web farm stuff), does everythign work?

[2018-08-23 21:11] Eilon commented on #1839
@jaydubal can you provide the additional trace information so that we can continue investigating?

[2018-08-23 21:12] Eilon commented on #1838
@blowdart can you follow up on this with any guidance?

[2018-08-23 21:12] #1836 closed

[2018-08-23 21:14] Eilon commented on #1833
The answer to this question:

Is yes.

We're closing this issue because it appears all the issues have been resolved.

[2018-08-23 21:14] #1833 closed

[2018-08-23 21:15] Eilon commented on #1830
@shirhatti - ping?

[2018-08-23 21:16] blowdart commented on #1838
Just my sample https://github.com/blowdart/idunno.CookieSharing

[2018-08-23 22:58] Sharor commented on #1844
It works on local, with a local redis and a local db. The issue started already with just one deployed docker container however. I found that odd but figured it was due to the container being reassigned to a different node sometimes - but it seemed to happen also on a single node cluster.

[2018-08-24 00:38] shirhatti commented on #1830
@cycbluesky Looks good to me. Maybe try logging `context.Request.Scheme` to ensure you've correctly configured the forwarded headers middleware?

[2018-08-24 09:30] jaydubal commented on #1839
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:44331/signin-google?state=CfDJ8GOHKAnratFDtqjP8iyIsPeT8PlV2yxalsquIFqLCCFfbxx3AB5z7ankbLYyGZc7YtdXaKC1J2o8WfuxhH969WW9jEi6V-k2_7VbvlRd7C2K_DcsSZyQ4fQIUIoUlAhP81BWmSd5ESAdXudCocTF9HvRd18iqJU-usIQ0qH-nyCeNTXpOF8y1CodCyPVCnfjokvFao6oq1yXDCIz3ADq4Z4EKXyY3vtrDsv06jKZQJTix0tLLu-k7L_oFT7dNXPX6Q&code=

[2018-08-24 09:56] mathiasbl commented on #1846
I started implementing this and I am having issues to create the client assertions.
I have publics keys in json format and when trying to create a jwt token I get ''IDX10638: Cannot create the SignatureProvider, 'key.HasPrivateKey' is false, cannot create signatures. Key: Microsoft.IdentityModel.Tokens.RsaSecurityKey.''

[code]

Any idea what I'm missing? According to OpenID Connect you should sig

[2018-08-24 13:32] blowdart commented on #1846
We rely on libraries provided by AAD for our JWT support, you might want to ask them - https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2018-08-24 13:33] blowdart commented on #1846
This issue was moved to AzureAD/azure-activedirectory-library-for-dotnet#1223

[2018-08-24 13:33] #1846 closed

[2018-08-24 13:34] blowdart commented on #1845
Are you just wanting to login with facebook and have no other dependency? Do you plan to support other logins?

[2018-08-24 14:41] alexsandro-xpt commented on #1845
@Eilon I know Identity Server but I can't refactor all my project to work together with Identity Server right now.

Westerday I found this project https://github.com/mmacneil/VueASPNETCore2WebApiAuth and I guess it maybe could help me same with Identity dependece.

@blowdart Truly, I will need support to Google OpenID too.

I'm making a evaluation to do minimal refactor impact at my project right

[2018-08-24 14:42] blowdart commented on #1845
If you use multiple identities do you need to tie them together, i.e. I am Facebook user 1 and also Google user 2?

[2018-08-24 15:36] alexsandro-xpt commented on #1845
Yes @blowdart both should tie them together, support to external login with Facebook or Google was only a user's options login.

I'm seeing, I have no choose, I guess I should make my own stack of aggregate `IdentityDbContext` class to give support my legacy users and permissions SQL Tables.

[2018-08-24 16:36] blowdart commented on #1845
What you want is possible. You'd use cookie auth to persist the user, then oauth/oidc to trigger the external logins (remembering to protect against CSRF), and then have a link table of external identities to local identities, then on return from the oauth/oidc logins lookup the user, if one doesn't exist, create it (now you have to ask for usernames, and passwords etc), then write the local user

[2018-08-24 17:16] Eilon commented on #1839
@jaydubal do you have a Fiddler or similar network trace so that we can see the headers, including cookies and values?

[2018-08-24 17:19] #1838 closed, assigned to blowdart

[2018-08-24 17:46] Sharor commented on #1844
I'll go double check, but I'll need a day or two due to some personal things - sorry. :slightly_smiling_face: it may be that "single node" is not actually single node on GKE and I didn't verify at the time.

[2018-08-24 17:57] Eilon commented on #1844
@Sharor thanks for following up. The more info we can get about the environment in which it's failing will help us get to the bottom of this.

[2018-08-24 18:46] HaoK commented on #1843
Dupe of https://github.com/aspnet/Universe/issues/1098

[2018-08-24 18:46] #1843 closed

[2018-08-24 18:46] HaoK commented on #1843
Well not a dupe, but will be fixed with the update to Identity Model

[2018-08-24 18:52] alexsandro-xpt commented on #1845
:P alright @blowdart thank you! all of those simply because about my legacy tables.

[2018-08-24 19:00] blowdart commented on #1845
:) Why not import the tables? You could use a custom hashing algorithm so people wouldn't even have to update their passwords.

[2018-08-24 21:27] blowdart commented on #1622
OK folks, give me survey love :)

https://microsoft.qualtrics.com/jfe/form/SV_9LvT1hbZ2nHHcFv will help us understand what you want, you might even get followup calls to discuss it in greater detail. Free feel to spread the survey link around.

@evil-shrike @undecided2013 @tynor88 @valorl

[2018-08-25 10:03] yashvit commented on #716
This issue with OAuth happens on MVC5 as well. So thought I would leave a note here on how to fix this for MVC 5.

        app.Use(async (context, next) =>
        {
            if (string.Equals(context.Request.Headers["X-Forwarded-Proto"], "https", StringComparison.InvariantCultureIgnoreCase))
            {
                context.Request.Scheme = "https";
            }
            await next.In

[2018-08-25 14:59] alexsandro-xpt commented on #1845
I can't for incredible as it may sound, those table is shared with another web app. We need replace all that for a SSO like Identity Server ASAP.

And talking about hashing algorithm, I should find one like Django password algorithm implementation to C# because one of those another web app is in Django Python. :expressionless:

[2018-08-25 21:04] blowdart commented on #1845
Oh lord. Well it's possible, see https://stackoverflow.com/questions/46753437/external-login-without-using-identity-asp-net-core-2-0, that gets you to the without identity point. https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.1&tabs=aspnetcore2x will guide you in how to use the cookie middleware without identity, it's just wiring together that's left,

[2018-08-26 10:59] OneCyrus commented on #1689
we have the same issue as @MrZarq. The solution from @HaoK with string concatenation only works with one parameter (and still limited)

[2018-08-26 11:12] MrZarq commented on #1689
@OneCyrus, we have resolved this problem using the solution from this StackOverflow answer: https://stackoverflow.com/a/40824351/812483

It works, but I have my questions regarding the efficiency seeing as how it uses reflection.

[2018-08-26 11:27] OneCyrus commented on #1689
thanks! i'll have a look

[2018-08-27 13:56] blowdart opened #1847 "Support for multiple authorities for the same JWT bearer scheme"
_From @jimmy3912msncom on August 24, 2018 16:8_

We recently started moving our applications from our legacy ASP.NET owin web hosted web API to ASP.NET Core. Our application supported JWT Bearer authentication for various clouds: the Azure global cloud, Azure China cloud, the Azure German cloud, and the Azure US government cloud.

The way we did this was having multiple configurations for each clo

[2018-08-27 15:03] alexsandro-xpt commented on #1845
No problem @blowdart thank you so much!!!! You was amazing!!!

[2018-08-27 17:41] twsouthwick commented on #1598
@Eilon Could a cancellation token be handed in via the `AuthorizationHandlerContext` similar to how you can access a cancellation token from the `HttpContext`?

[2018-08-27 17:48] Eilon commented on #1598
A *binary* breaking change could very well be avoided by adding a new property to an existing type, but it would still likely be a *functional* breaking change because all existing components out there would not be checking the new property.

[2018-08-27 17:49] Mertsch commented on #1666
I have found a way to do this without impacting my production code
[code]
and
[code]

[2018-08-27 18:11] Sharor commented on #1844
Sorry for the delay in answering, wife went into labour :stuck_out_tongue:

@Eilon I really appreciate the help, it's been killing me the last month :slightly_smiling_face:
So, I've looked at GKE:
[code]

And it's only one node it gets scheduled on.

And initially I was running one replica (git history) of my deployment, and later added it to 2. The problem was happening already on only one replic

[2018-08-27 19:18] twsouthwick commented on #1598
It's kind of a chicken and egg problem, then, it seems. If it were added, over time people would add support for it and functionality would light up as it becomes more pervasive. I understand what you're saying, but isn't this the kind of argument that could be made for adding any new features that add more control to a type/framework?

[2018-08-27 19:56] Eilon commented on #1844
@Sharor congrats!

We'll take a look at this and see what we can come up with. Just also wondering if there's any way to get a simple repro for this to try to isolate which component(s) are acting up.

[2018-08-27 20:02] Eilon commented on #1598
@twsouthwick yeah it is but the question is how much value is there compared to the cost. In this circumstance we felt the value was low compared to the cost.

[2018-08-28 09:33] Someguyatwork opened #1848 "JwtBearerHandler And keys rollover management. How to do it properly."
I'm trying to understand what is happening and what to do when the jwt signing keys must be updated.

Let's say we have a simple jwt server. And we also have several api configured with the MetadataAdress of JwtBearer pointing to a JWK endpoint (All this in .net core 2.1)

JwtBearerHandler (https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHa

[2018-08-28 15:04] Tratcher commented on #1848
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#1010

[2018-08-28 15:04] #1848 closed

[2018-08-28 15:05] Tratcher commented on #1848
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#1011

[2018-08-28 15:50] Tratcher commented on #1844
A Fiddler trace and the debug output from https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot are the next things to collect. We need to see the state of the failing request to understand what's going on.

[2018-08-28 16:05] Tratcher commented on #1847
"Bearer" as specified in the request headers is independent of "Bearer" used internally to identify different authentication providers.  Start by calling the overload of AddJwtBearer that lets you specify a provider name: https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerExtensions.cs#L20

The next challenge

[2018-08-29 08:36] MarcusKohnert commented on #1086
Eagerly awaiting this feature, too. 🙌

[2018-08-29 18:02] Tratcher commented on #1839
That log says "Request Starting" twice with the same url. The first one succeeded and the second failed. That failure is expected as it resembles a replay attack. What was the client doing that caused /signin-google to be invoked twice?

[2018-08-29 21:44] Sharor commented on #1844
@Eilon thank you - you guys are being fantastic in regards to this correlation issue, hugely appreciated.

@Tratcher
The logging troubleshooting returned the following on all requests:
[code]

As for Fiddler, apologies if this isn't the right one (never used Fiddler before) but I think this is what you want?
[code]

Please just let me know if the Fiddler trace is not what you were looking for. 🙂

[2018-08-29 21:47] Tratcher commented on #1844
You can save the fiddler session as a saz file and share the whole thing.

[2018-08-29 22:18] jimmy3912msncom commented on #1847
@Tratcher When you say provider name I assume you mean authentication scheme. I've tried calling the overload you mentioned before but since each config option ties to the same scheme it fails with the same error: System.InvalidOperationException: 'Scheme already exists: Bearer' e.g.

            var authenticationConfiguration = this.configuration.GetSection("AuthenticationConfiguration").Get<Aut

[2018-08-29 22:47] jimmy3912msncom commented on #1847
@Tratcher If I understand what you are saying correctly, out of box there isn't support to do this so I will need to introduce custom logic to do what I want?

[2018-08-29 23:30] Tratcher commented on #1847
To authenticate multiple providers? No, but it's a common question and there are several examples in this issue tracker. I'll see if I can find one.

[2018-08-29 23:51] jimmy3912msncom commented on #1847
@Tratcher Thanks. It would be great if you can share 👍

[2018-08-30 09:36] jaydubal commented on #1839
All code works fine in .net 2.0, change to .net 2.1 and code will fail, comment "options.Cookie.SameSite = SameSiteMode.Strict" and code again works in 2.1 also.

[2018-08-30 09:36] #1839 closed

[2018-08-30 18:00] Sharor commented on #1844
Alright, cheers - here you are 🙂

This session goes from :
- Visit root
- Choose which login to use (outlook or google, here I use google)
- Login
- Redirect (successfully, as I have not been able to make the error myself) back to root now logged in with a google (or microsoft) account.

[totalFiddlerSession.zip](https://github.com/aspnet/Security/files/2337314/totalFiddlerSession.zip)

[2018-08-30 18:11] Tratcher commented on #1844
Ah, a trace of a successful login is only interesting if you can also capture a failed login to compare to.

[2018-08-31 09:07] Sharor commented on #1844
I'll reach out to the user who consistently gets the error and ask if I can guide him through how to get the failing trace :slightly_smiling_face:

I haven't been able to make it fail myself which is quite frustrating.

[2018-08-31 15:44] Tratcher commented on #1847
See https://github.com/aspnet/Security/issues/1708#issuecomment-376567491

[2018-08-31 18:45] abatishchev opened #1849 "Microsoft.Extensions.Http.Polly.dll is code signed but Polly.Extensions.Http.dll and Polly.dll"
My Service Fabric + ASP.NET Core (API) application refers package Microsoft.Extensions.Http.Polly which contains Microsoft.Extensions.Http.Polly.dll which is code signed by Microsoft.

It refers two more packages: Polly.Extensions.Http -> Polly. Which respective dlls are not anyhow code signed. What raises an alerts when my application binaries are reaching our Test (PPE) environment.

How should

[2018-08-31 19:38] Tratcher commented on #1849
This issue was moved to aspnet/HttpClientFactory#170

[2018-08-31 19:38] #1849 closed

[2018-09-01 11:11] dazinator commented on #1179
For anyone looking for a multi-tenant authentication sample - please check out this dotnettency sample:
https://github.com/dazinator/Dotnettency.Samples/tree/aspnetcore20/src/Sample.Authentication

[2018-09-03 11:09] Sharor commented on #1844
Okay, here is the same steps as before but where the correlation error happens 😉 Sorry for the additional session things, we had a google hangouts open to guide him through the process w/Fiddler

[fiddler_with_correlation_error.zip](https://github.com/aspnet/Security/files/2345279/fiddler_with_correlation_error.zip)

[2018-09-04 06:20] AbhiShetti opened #1850 "ASP.NET core 2.0 using wsfederation authentication application is in endless loop when logging in"
Hi , i have implemented the wsfederation auth with pingfederate identity , but after loggin my application is
in endless loop. I am stuck at this point . can anyone please help me out from this.
I am attaching the startup.cs
[Startup.txt](https://github.com/aspnet/Security/files/2347384/Startup.txt)
Also the wsfederation extenstion
[AddWsFedAuthenticationExtensions.txt](https://github.com/aspnet/S

[2018-09-04 10:57] huysentruitw opened #1851 "Add a DelegatedAuthenticationHandler abstract class"
I'm currently creating a custom authentication scheme based on `System.DirectoryServices` (Active Directory) for authenticating a user, so I essentially need a scheme that looks up a user identity in the Challenge method and than Signs in to f.e. Cookie middleware (determined by SignInScheme options).

A large part of the code I need for this is already in [`RemoteAuthenticationHandler`](https://g

[2018-09-04 12:07] Tratcher commented on #1850
The code samples are incomplete, please share a full project on GitHub that demonstrates the issue.

A Fiddler trace and application logs are useful for debugging loops like this.

[2018-09-04 12:30] Tratcher commented on #1851
Since this is the first custom use case we've seen like this we are unlikely to factor out a special base class for it. RemoteAuthenticationHandler is the base class for dozens of providers.

It's a little odd for Challenge to directly call sign-in, Challenge is expected to produce an http response that the client needs to act on to sign in. This sounds more appropriate as an MVC controller that C

[2018-09-04 12:50] huysentruitw commented on #1851
Yeah, having a controller action that creates a `ClaimsPrincipal` and passes it to `SignIn` directed to the Cookie scheme also works of course, and that's where we've started. However, the code looks cleaner now I've refactored it to an `AuthenticationHandler`. But I agree, it's a very special use-case 🙂

[2018-09-04 12:50] #1851 closed

[2018-09-04 16:07] marcrib commented on #1723
@Necronux What is your conclusion?

Have you implemented OpenIddict or Identity Server?
I have a similar application, I only have authentication for SPA and Mobile

[2018-09-04 16:26] dmositecore commented on #1575
I am also looking for this handler. Thanks

[2018-09-04 17:45] Sharor commented on #1844
@Tratcher I also just tested properly that indeed it is also happening with a cluster where there is one container, and one node and nothing else.

Does it matter that the cluster is rebooted over night? I figured it shouldn't - the data protection keys are just appended, correct? 🙂 So when a new container joins, it just adds its machine key to the redis cache or reuses the existing one?

[2018-09-04 18:11] Tratcher commented on #1844
Ah, I think I see the problem. You're initiating the login flow from an HTTP endpoint but returning to an HTTPS endpoint. You need to redirect to HTTPS prior to starting your login flow. This code is wrong:
[code]

You're lying to the application, it thinks all requests are HTTPs but some aren't.

You start by requesting `HTTP | www.justdroppingby.com | /Account/ExternalLogin`. This returns `Set-C

[2018-09-04 19:41] Sharor commented on #1844
@Tratcher  Oh! What a fantastic finding, I did not even consider that Kestrel would look at its own request in that way.

Do you have some documentation you can direct me to that would solve this problem or does it need to be sorted out on loadbalancer level?

I would like to solve it both on application level (ie not allow http traffic, which I thought these lines in y startup were already doing:

[2018-09-04 19:43] Tratcher commented on #1844
Start here:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1
https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.1&tabs=visual-studio

[2018-09-04 22:03] Necronux commented on #1723
@marcrib I still generate JWT tokens myself(I have only 1 type of token that is access token, no refresh tokens), I only have one desktop application now that needs to communicate with the API. I didn't see any reason to use OpenIddict/IdentityServer. My API is used only internally (not by third parties). Nobody can really precise why should you use OpenIddict or identity server especially when al

[2018-09-04 23:53] marcrib commented on #1723
@Necronux  thanks
check https://github.com/aspnet/Announcements/issues/307

"Authorization Server"

[2018-09-05 01:01] rasitha1 opened #1852 "AddJwtBearer with MetadataAddress does not use the correct Issuer value on ADFS 2016"
If I want to use ADFS 2016 OIDC with JWT tokens, is .AddJwtBearer() the right option? If so, there's an issue where the framework uses the value from "issuer" property (from /adfs/.well-known/openid-configuration) while JWT tokens issued by ADFS uses "access_token_issuer" as the "iss" value.

- My app is .NET Core 2.1.1
- This is only an issue when using MetadataAddress and let the framework disco

[2018-09-05 15:58] Tratcher commented on #1852
Prior discussion: https://github.com/aspnet/Security/issues/673

[2018-09-06 20:34] intrico commented on #1711
@Tratcher [Authorize(IISDefaults.AuthenticationScheme)] does not even compile.

[2018-09-06 21:08] Eilon commented on #1852
If you can try the suggestions mentioned in #673, that would be great. If that doesn't work, we'll try to come up with a Plan B.

[2018-09-06 21:09] #1847 closed

[2018-09-06 21:09] #1845 closed

[2018-09-06 21:10] #1830 closed

[2018-09-06 21:15] Eilon commented on #1730
Won't Fix because there is not enough demand for this.

[2018-09-06 21:15] #1730 closed

[2018-09-06 21:16] Eilon commented on #1724
Closing because we are not planning to implement this.

[2018-09-06 21:16] #1724 closed

[2018-09-06 21:19] Eilon commented on #1606
Closing this because we don't see this as a significant improvement to the current implementation.

[2018-09-06 21:19] #1606 closed

[2018-09-06 21:30] Eilon commented on #1165
Would be nice to use Exception.AdditionalData to have some additional key in there that has *our* dictionary (or data structure) or stuff that the remote provider sent us back as part of the flow.

[2018-09-06 21:31] Eilon commented on #1165
Duh, looks like we said this in https://github.com/aspnet/Security/issues/711. So, closing this because whatever we do for this would be in https://github.com/aspnet/Security/issues/711.

[2018-09-06 21:31] #1165 closed

[2018-09-06 22:16] rasitha1 commented on #1852
That didn't work...at least not with what I'm trying to do.

I'm trying to utilize the OIDC Discovery information so I don't have to manually retrieve/manage keys and any other metadata. Looks like if I initialize `options.Configuration = new OpenIdConnectConfiguration{ Issuer = "http://adfs.myco.com/adfs/services/trust" };` then configuration is not retrieved from the discovery endpoint and I hav

[2018-09-07 07:12] Jenan opened #1853 "How to combine the windows authentication and JWT with .Net Core 2.1"
I have tried to use the windows authentication and JWT together with .NET Core 2.1.

I have following startup settings of the authentication:

[code]

IIS settings:
[code]
I have tried following code snippet to create the JWT token with windows authentication:

[code]

And in another controller I need use only JWT authentication:
[code]

If the JWT token is expired then I correctly received the re

[2018-09-07 16:33] Tratcher commented on #1852
Your best option in the short term might be to customize the options.ConfigurationManager in a way that lets you transform the metadata before it's passed to the JwtBearer handler.

Here's the base implementation you may be able to wrap:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationMan

[2018-09-07 16:55] Tratcher commented on #1853
This may not be possible in IIS. IIS will add Windows Auth challenges to any response with a 401 status code, triggering the login prompt. This happens outside of ASP.NET and your application, you don't have much control at that point.

It should work with HttpSysServer because it's all controlled in process.

[2018-09-08 07:38] Sharor commented on #1844
@Tratcher So I have finally solved it with your help, thank you so very much your help has been invaluable. Also your work/issues left around this repo and other places helped a lot, truly appreciated before I made this issue.

The full solution in the end was a bit different then I thought, but nonetheless:
- Enable https only (redirect http to s) on loadbalancer level, and keep container (.NET c

[2018-09-08 07:38] #1844 closed

[2018-09-08 18:16] Jenan commented on #1853
@Tratcher - it makes sense, thanks for your help!

[2018-09-08 18:16] #1853 closed

[2018-09-09 22:59] rasitha1 commented on #1852
Thanks for the input. It seems like there's no clean way to do this. If I create a custom IConfigurationManager I have to duplicate the logic in JwtBearerPostConfigureOptions. And it seems like the best place to account for this difference in ADFS discovery info is in the IConfigurationRetriever per the current setup.

Does it make sense to allow overriding IConfigurationRetriever by having a prop

[2018-09-10 08:52] drauch opened #1854 "OpenIdConnect authentication doesn't use PathBase"
Hi!

We migrated from ASP.NET Core 1.1.x to 2.1.x and run into problems with our OpenIdConnect middleware.

Before we hosted our application at `https://server/WebApp/`, which is no longer possible in ASP.NET Core 2.1.x. We must host it at `https://server/` now and use `UsePathBase("/WebApp")`. Unfortunately, OpenIdConnect now changed the return URL parameter from `https://server/WebApp/signin-oid

[2018-09-10 12:40] drauch commented on #1854
UsePathBase() is the very first entry in the pipeline

[2018-09-10 13:58] Tratcher commented on #1854
Can you share Startup.Configure?

What component requires authentication? MVC? Then the order should be:
UsePathBase
UseAuthentication
UseMvc

[2018-09-10 14:17] drauch commented on #1854
I cannot share my `Startup` as it is proprietary code and moreover it is distributed amongst multiple files. But I can definitely confirm that the order is UsePathBase/UseAuthentication/UseMvc

[2018-09-10 16:59] Tratcher commented on #1854
I just re-verified this is working in our tests and samples. There's not much else we can do for you without an app that can reproduce your issue.

[2018-09-10 18:30] quintonn opened #1855 "JwtBearerHandler does not correctly use Scheme used when adding JwtAuthentication"
When adding JwtAuthentication inside Startup.cs class like this:
`services.AddAuthentication().AddJwtBearer("NewBearer", options =>`
The class **JwtBearerHandler** does not correctly use the provided scheme to find the token when authenticating an access token.

The code seems to have hard-coded "Bearer".
See line 73 of [JwtBearerHandler.cs](https://github.com/aspnet/Security/blob/beaa2b443d46ef8a

[2018-09-10 18:38] Tratcher commented on #1855
No, this behavior is intentional. The "NewBearer" is uses as an internal identifier of the authentication handler, this is independent of the header value. You can use JwtBearerEvents.OnMessageReceived and OnChallenge to override the header value.

[2018-09-11 06:36] quintonn commented on #1855
Ok, it seems somewhat confusing.
What i was trying to achieve when i discovered this was to have 2 separate token endpoints on the same web server instance which use different signing keys. But only the first one is registered and used.
Is there a way to achieve something like this?

[2018-09-11 11:17] Tratcher commented on #1854
UseUrls behaved the same with prior versions of Kestrel, it did not reject requests based on path.

Consider using the Map example in the linked issue as an exclusive alternative.

[2018-09-11 14:37] Jenan opened #1856 "How to implement the option - "Login as another user" with windows authentication using .NET Core"
I have tried to implement the option like "Login as another user" with Windows authentication - I have used the code snippet from SO - (https://stackoverflow.com/questions/17871816/login-as-another-user-mvc-4-windows-authentication/25672345#25672345):

[code]

Is it possible to use following code snippet with .NET Core? I have tried to rewrite this snippet with methods in .NET Core but there are m

[2018-09-11 15:06] Tratcher commented on #1856
What a weird example. The only part that looks related to windows auth is the 401 status code and maybe the connection close.

[2018-09-11 17:07] Jenan commented on #1856
OK, I think it is inspired from the SharePoint - there is a feature - "Sign in as a Different User", I need achieve same thing in my intranet ASP.NET Core app.
Any ideas how to implement it? - We have the users with more accounts and I'd like to solve it.
Thx.

[2018-09-13 19:38] rasitha1 commented on #1856
Here's how you can do that with ADFS + OIDC:

1. Trigger SignOut with a redirect uri pointing to an anon endpoint in your AccountController
2. In that SignOutCallback method, set a flag using AuthenticationProperties and trigger Challenge()
[code]
3. In your OIDC config setup events and adjust the protocol message to set Prompt="login";
[code]

[2018-09-14 09:17] michaelkrog opened #1857 "Unable to make external login work"
I am unable to get external login to work(Facebook and Google) behind our Edge Proxy.
The issue I see is that Google/Facebook says our `redirect_uri` is wrong.

Our proxy(nginx) terminates the SSL and forwards via HTTP. However, it forwards the `X-Forwarded-Proto` and original `Host` header which I understand should be enough for it to generate the correct redirect_uri.

**X-Forwarded & Host heade

[2018-09-14 09:46] LindaLawton commented on #1857
I can verify that the Redirect URI added in Google is correct for our servers.

We have added both

When we test with those it fails with the exception my co-worker has posted above.

![image](https://user-images.githubusercontent.com/6592543/45542951-9d6f3300-b813-11e8-8646-16f91021ca31.png)

 If I remove those from the google developer console.   We get the normal Google redirect URI exception.

[2018-09-14 19:10] blowdart commented on #1856
Yea, sharepoint if it shows this option is not using Integrated Authentication, it's using OIDC.

[2018-09-14 22:55] Tratcher commented on #1857
Side notes:
- remove `http://<our server>/signin-google`, you should not authenticate over http.
- Why do you use ExternalCookieAuthenticationScheme for Google and ExternalScheme for Facebook?

Can you share a Fiddler trace of the login flow?

Here are some troubleshooting steps for reverse proxies:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.

[2018-09-15 01:04] mattdone01 opened #1858 "Has the behaviour changed for AllowAnonymous in 2.1"
Hi,
  I recently upgrade from core 2 to core 2.1 and my AllowAnonymous attribute on a controller method is now not working.

I am using the following references
[code]
**Here is part of my Configure Service Method**
[code]
**Here is my Configure Method**
[code]
**And my Controller Method is**
[Route("config/tenantinfo")]
[code]
Previously before upgrading to 2,1 this was working perfectly. Has som

[2018-09-17 04:41] rasitha1 commented on #1856
Our legacy intranet apps (before ADFS) had this requirement and the way we handled this was by having a `<location>` tag in the web.config and just for that location enabled windows auth. Rest was anonymous. So when a request came in, the application (auth filters) would see if user can do WIA and then redirect to that special endpoint. That endpoint would then use the windows identity and create

[2018-09-17 13:58] rasitha1 commented on #1856
Found the answer [here ](https://stackoverflow.com/questions/46084851/windows-and-anonymous-authentication-in-net-core-2-0)which points to an example [here](https://github.com/aspnet/ServerTests/blob/e155b814349f8ff9dd563480d784c38837b0b59f/test/ServerComparison.TestSites/StartupNtlmAuthentication.cs#L34-L59)

[2018-09-17 14:08] syska commented on #1752
@sathiathirumal

Did this work for you? I have an issue where users it being logged out halvway though the session ( Expiration from ADFS is 8 hours ) and then OnSignedIn is being called again ...

So a little in doubt if "false" here is default ... and I hope setting this to "true" will fix my problem ...

[2018-09-17 15:58] syska commented on #1648
@joshbartley

Did this work for you? Is it just renewed with the information or does this actually call 'DefaultChallengeScheme' set ?

@Tratcher

I'm not sure what the default value is here? ... I would guess it's false by default ... Could this be added to the documentation for the property? Would this just renew the coockie or redirect to the default challenge scheme?

[2018-09-17 16:17] joshbartley commented on #1648
I decided to set the cookie to expire in one hour, and set my JS code to check for inactivity in 30 minutes. I also have some extra code to do a Heartbeat back to the server for long running SPA like pages.

ShouldRenew(true) creates a new cookie with a signed claims which gets pushed to the user through Set-Cookie just like if it went past the half way mark.

[2018-09-17 16:47] sathiathirumal commented on #1752
@syska

Yes this does work for me. IsPersistent is false as per Tratcher. I am using the exact block of code as i pasted above, everything else is default values.

[2018-09-17 16:58] syska commented on #1648
@joshbartley

Thank for the information.

I guess I will need to add more logging to see what going on.

I can see the ShouldRefresh and the usage of it, it actually still looks at the Tickt and sets the expiration from what time is actually left ... unless I looked the wrong place.

This is still better than right now ... since the users gets redirected to the ADFS and then logged in again as it

[2018-09-17 18:38] blowdart opened #1859 "ClientId is used by default instead of Audience Id in file AzureAdAuthenticationBuilderExtensions.cs in .Net core 2.0"
_From @jatingandhi28 on September 17, 2018 9:38_

File name - AzureAdAuthenticationBuilderExtensions.cs
[Note this code has moved [here](https://github.com/aspnet/AADIntegration/blob/28e81276582af23f4c616d9db900664960682074/src/Microsoft.AspNetCore.Authentication.AzureAD.UI/JwtBearerOptionsConfiguration.cs#L33)].

            public void Configure(string name, JwtBearerOptions options)

[2018-09-18 06:54] LindaLawton commented on #1857
@Tratcher thanks for the response.

- remove http://<our server>/signin-google, you should not authenticate over http.

was a desperate guess on my part as as @michaelkrog said that it was turned into HTTP.

-  Why do you use ExternalCookieAuthenticationScheme for Google and ExternalScheme for Facebook?

The code I have been using comes directly from Identity server 4 documentation I assumed that

[2018-09-18 20:14] syska commented on #1752
@sathiathirumal

Deplyoed an update to the site yesterday including lots of logging about to see whats actually going on ... and an Expires of 8 hours ...

Should be able to see if users still gets logged out after 4 hours ...

[2018-09-19 02:06] shorbachuk opened #1860 "HTTP Basic Auth via IIS"
I understand the security problems around HTTP basic authentication.

From the README notes:

"ASP.NET Security will not include Basic Authentication middleware due to its potential insecurity and performance problems. If you host under IIS you can enable it via IIS configuration."

What does this mean? I enabled HTTP Basic in IIS and provided a Realm.  IIS is authenticating the requests and sendi

[2018-09-19 03:18] Tratcher commented on #1860
Do you already have the site working with [Windows Auth](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.1#iis-configuration)? The instructions for IIS Basic Auth aren't any different, it's only a matter of checking the Basic Auth [checkboxes](https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/authentication/basicauthenti

[2018-09-19 03:52] Tratcher commented on #1857
I'd expect the SignInScheme to be the same for Google and Facebook (ExternalCookieAuthenticationScheme). I don't see anything in the Identity Server docs that says otherwise.

[2018-09-19 03:54] Tratcher commented on #1858
@HaoK

[2018-09-19 04:15] HaoK commented on #1858
Yeah, the authorize attributes are combined by default now in 2.1, you can try turning that off to see if you get the old behavior: `mvcOptions.AllowCombiningAuthorizeFilters = false`

[2018-09-19 05:25] markrendle opened #1861 "External login redirect URIs get broken behind SSL-terminating proxies"
So, I've got an app running in K8s behind the Nginx ingress controller. That's doing SSL termination for me so the ASP.NET Core app is running on `ASPNETCORE_URLS=http://+:80` (which comes from the `aspnetcore-runtime` Docker image btw) and has no `https` endpoint. This is fine.

I add Microsoft Account authentication. Microsoft Account insists on `https` redirect URLs, as it very well should.

Be

[2018-09-19 05:40] Tratcher commented on #1861
Have you looked at the reverse proxy [troubleshooting](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot) doc yet?

For containers we've seen a few reports of issues with IPv6 mapped IPv4 addresses confusing the [forwarder](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#configurati

[2018-09-19 06:45] LindaLawton commented on #1857
@Tratcher I have changed the code to

[code]
There is no change.  I have mostly been testing with Google and nothing on that has changed.

I have also tried to add [troubleshoot](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot)  to the startup.cs.  I was unable to get this to work.   I tried running the code ad written and it just l

[2018-09-19 12:07] shorbachuk commented on #1860
Yes, Windows Auth is working.

I couldn't find any documentation that says IIS Basic Auth uses the same instructions. Are you saying that IIS passes the MS-ASPNETCORE-WINAUTHTOKEN header to Kestrel even when using IIS basic auth?

[2018-09-19 16:18] Tratcher commented on #1860
Correct, IIS processes the Basic credentials, converts it to a windows identity, and passes that to ASP.NET via MS-ASPNETCORE-WINAUTHTOKEN. Digest auth works the same way.

[2018-09-19 17:02] Eilon commented on #1858
Hi @mattdone01 , sorry you ran into this problem. We do have some release notes on the 2.1 release here: https://docs.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-2.1?view=aspnetcore-2.1

And that points to additional info on MVC-specific compatibility changes here: https://docs.microsoft.com/en-us/aspnet/core/mvc/compatibility-version?view=aspnetcore-2.1

If you want to quickly update

[2018-09-19 17:02] #1858 closed

[2018-09-19 18:05] Tratcher commented on #1857
If you change ` app.Run(async (context) =>` to ` app.Use(async (context, next) =>` and then call `await next();` at the end then the middleware will not block requests from running.

[2018-09-19 20:13] shorbachuk commented on #1860
Thank you, that is good info. Is there a way to debug to see if this is working?

Here are some of the relevant bits:

`services.AddAuthentication(IISDefaults.AuthenticationScheme);
services.AddMvc(options =>
	{
		options.Filters.Add(new ResponseCacheAttribute { NoStore = true, Location = ResponseCacheLocation.None });
	})
	.AddJsonOptions(options => options.SerializerSettings.ContractResolver = n

[2018-09-20 04:13] shorbachuk commented on #1860
I created some middleware to log the headers on the request coming from IIS.
MS-ASPNETCORE-WINAUTHTOKEN is not present on a request coming from IIS authenticated with basic auth.
`Connection:Keep-Alive
Content-Type:application/json
Authorization:Basic <REDACTED>
Host:redacted.com
User-Agent:Mozilla/5.0 (Windows NT; Windows NT 6.1; en-US) WindowsPowerShell/5.0.10586.117
MS-ASPNETCORE-TOKEN:a9b04e04

[2018-09-20 05:01] shorbachuk commented on #1860
I think this tracks back to this line:
https://github.com/aspnet/IISIntegration/blob/b6c311c14d3c3cf89b1b28d52efa0088a580213e/src/AspNetCoreModuleV2/OutOfProcessRequestHandler/forwardinghandler.cpp#L895

[2018-09-20 05:08] Tratcher commented on #1860
@pakrym can you confirm this for V1 and V2? I thought this worked for Basic as well. Does it work for in-proc?

[2018-09-20 06:18] LindaLawton commented on #1857
[code]

Results in

[code]

I have also added some events to the Google third party settings.   Note: I have copied this from a tutorial.   I just wanted to see if i could catch what it was doing wrong.   As i have still not found a way to debug the exception that is being thrown in  `Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler`.

[code]

I appreciate your assistance with this

[2018-09-20 11:29] Tratcher commented on #1857
I'd meant that app.Use to be combined with your modified version that logged instead of wrote to the response.

[2018-09-20 11:44] LindaLawton commented on #1857
The logging isnt telling me much

[code]

[2018-09-20 13:18] Tratcher commented on #1857
Was that logging collected before or after UseForwardedHeaders? If it was after then UseForwardedHeaders isn't working at all.

Also, it's very odd that the first request is an OPTIONS request.

[2018-09-20 13:29] Tratcher commented on #1857
Right, I was asking about the ordering in Startup. Put your logging after UseForwardedHeaders.

[2018-09-20 13:32] LindaLawton commented on #1857
Right we are pushing a new version now with UseForwardedHeaders popped to the top.

[2018-09-20 13:46] LindaLawton commented on #1857
This is the best i can find right now.  There are to many users on the system and to much logs I cant catch it.     I will try and login tonight when most of the users should be gone see if i can catch the other line if this doesnt help

[code]

[2018-09-20 14:09] Tratcher commented on #1857
Ah, yes, that log explains it. You didn't add 10.0.0.114 as a [KnownProxies](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#forwarded-headers-middleware-options)

When forwarders are working then `X-Forwarded-Proto: https` gets removed and `Scheme` gets updated to `https`.

[2018-09-20 14:11] Tratcher commented on #1857
@guardrex can you add KnownProxies to the nginx & apache docs. Anybody not using nginx over loopback would have to set that.

[2018-09-20 15:11] guardrex commented on #1857
btw - We have a (weak) statement for it in both topics ...

I'll have a PR up shortly that will strengthen that remark and call out `KnownProxies` and `KnownNetworks`. I'll also make improvements to the Forwarded Headers topic troubleshooting.

I'll ping u on the PR shortly.

[2018-09-20 15:57] michaelkrog commented on #1857
I did ponder over that when you linked to the trouble shooting page, but it specifically states the X-FORWARDED-FOR as the only header with that limit. :)

Thanks for the help.

[2018-09-20 16:03] guardrex commented on #1857
The preceding line to that one *tried* to cover it ...

... with the asterisk there. I just fleshed that out on the PR.

I'll ping u soon on the PR ... almost done, and then you can give me feedback on all of the changes. We want to see if the revisions would have saved you.

[2018-09-21 08:58] laosandegudai commented on #1841
@zhangtingwz  how can you do it ? i met the same problem.

[2018-09-21 22:38] Eilon commented on #1861
Closing for now. Please let us know if there is still a problem after reviewing the docs.

[2018-09-21 22:38] #1861 closed

[2018-09-21 22:39] Eilon commented on #1860
Assigning to @pakrym pending an answer to the above question.

[2018-09-21 22:43] Eilon commented on #1859
Looks like even the 2.0.x templates did the same thing: https://github.com/aspnet/Templating/blob/2.0.3/src/Microsoft.DotNet.Web.ProjectTemplates/content/WebApi-CSharp/Extensions/AzureAdAuthenticationBuilderExtensions.cs#L33

And the new library is largely just a copy of the old template code.

@

[2018-09-21 22:45] pakrym commented on #1860
I don't know the answer from the top of my head, we would need to verify.

Filed: https://github.com/aspnet/IISIntegration/issues/1429

[2018-09-21 22:51] Eilon commented on #1859
@jmprieur - is using the Azure AD "ClientID" as the JWT Bearer "AudienceID" acceptable? Or do you see any issues with this?

[2018-09-21 22:52] Eilon commented on #1857
Closing because it seems like the main issue is solved. Thanx!

[2018-09-21 22:52] #1857 closed

[2018-09-21 22:54] Eilon commented on #1856
Closing because there doesn't appear to be any action remaining in the Security repo.

[2018-09-21 22:54] #1856 closed

[2018-09-21 22:54] #1855 closed

[2018-09-21 22:54] #1854 closed

[2018-09-21 22:57] Eilon commented on #1860
Closing this issue here because as long as a lower level component such as AspNetCoreModule flows the token, the components in this repo should automatically light up.

[2018-09-21 22:57] #1860 closed

[2018-09-21 22:58] #1850 closed

[2018-09-24 18:26] aspnet-hello commented on #1750
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:26] #1750 closed

[2018-09-24 18:26] aspnet-hello commented on #1732
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:26] #1732 closed

[2018-09-24 18:27] aspnet-hello commented on #1721
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:27] #1721 closed

[2018-09-24 18:27] aspnet-hello commented on #1716
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:27] #1716 closed

[2018-09-24 18:27] aspnet-hello commented on #1668
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:27] #1668 closed

[2018-09-24 18:27] aspnet-hello commented on #1638
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:27] #1638 closed

[2018-09-24 18:27] aspnet-hello commented on #1632
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:27] #1632 closed

[2018-09-24 18:27] aspnet-hello commented on #1473
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:27] #1473 closed

[2018-09-24 18:27] aspnet-hello commented on #1471
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:27] #1471 closed

[2018-09-24 18:28] aspnet-hello commented on #1467
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:28] #1467 closed

[2018-09-24 18:28] aspnet-hello commented on #1288
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2018-09-24 18:28] #1288 closed

[2018-09-24 21:20] blowdart opened #1862 "Inconsistent server response when using JWT bearer tokens to authenticate"
_From @nicklundin08 on September 20, 2018 15:30_

I have been noticing inconsistent behavior with my web api ever since upgrading it to asp.net core. The relevant components of the project are

- An asp.net core authentication server (implemented via identity server 4)
- A web api (recently migrated from .net framework 4.5.1 to asp.net core)

Use Case 1
- Client sends an unauthenticated request to

[2018-09-25 08:12] LindaLawton commented on #1857
I added  the following at the top of ConfigureServices.

     services.Configure<ForwardedHeadersOptions>(options =>
            {
                options.KnownProxies.Add(IPAddress.Any);
            });

No change

Note: There is no way of knowing what the ip address is apparently we have to just allow everything.

[2018-09-25 11:08] Tratcher commented on #1857
You don't even know the range so you could set KnownNetworks instead?

Call Clear on KnownProxies and KnownNetworks rather than adding Any.

[2018-09-25 12:31] LindaLawton commented on #1857
I asked the system admin he said it could be anything.  There is no way of knowing the range.   This is actually causing a lot of issues.  with antiforgery tokens and its now requiring that we enable dataprotection.   Redis appears to no logger be able to run multiple instances.

[2018-09-25 13:28] blowdart commented on #1575
@Eilon I'm putting this into 3.0, it shouldn't take that much time, I already have tests, we'd just need to do the reassignment, because this was done out of work hours.

[2018-09-25 13:30] blowdart commented on #1862
@Tratcher

[2018-09-25 15:13] Tratcher commented on #1862
Can you share a minimal project on github that reproduces this? Preferably without IdentityServer.

[2018-09-26 08:04] xucito commented on #1086
+1 for this functionality.
@guillerglez88 thanks for the workaround.

[2018-09-26 11:36] khonsari commented on #1318
Just Call app.UseAuthentication() before app.UserMvc(...) in ConfigureServices Method.

[2018-09-27 19:10] joaco-espinosa commented on #1476
@brockallen Isn't PKCE **also** useful for clients **using hybrid**, when these include "code" in the response_type? (which later on will be used to obtain refresh tokens)

[2018-09-27 21:10] Eilon commented on #1852
@brentschmaltz / @jmprieur - any ideas on this and how to work with ADFS in this scenario?

[2018-09-27 21:17] Eilon commented on #99
Closing because the demand for this feature is very low.

[2018-09-27 21:17] #99 closed

[2018-09-27 21:21] #102 closed, assigned to nobody

[2018-09-27 21:28] Eilon commented on #430
@brentschmaltz do you have a recent example of how to get the keys to set on the options?

[2018-09-27 21:31] Eilon commented on #500
Closing because no further action is planned on this issue.

Please log a new issue with details if there are any remaining questions.

[2018-09-27 21:31] #500 closed

[2018-09-27 21:33] Eilon commented on #551
Closing because we are not planning to make this a public API at this time. However, people are free to grab the code per the license and ship a library that way.

[2018-09-27 21:33] #551 closed

[2018-09-27 21:36] Eilon commented on #581
@HaoK can you show the 2.0+ way of doing this?

[2018-09-27 21:37] Eilon commented on #589
Closing because no further action is planned on this issue.

[2018-09-27 21:37] #589 closed

[2018-09-27 21:40] Eilon commented on #699
Closing this because no specific action is planned for this issue. But we do plan to make some bigger improvements to auth that are tracked in this issue: https://github.com/aspnet/Security/issues/1359

[2018-09-27 21:40] #699 closed

[2018-09-27 21:43] Eilon commented on #991
Closing because we are not planning to implement this.

[2018-09-27 21:43] #991 closed

[2018-09-27 21:45] Eilon commented on #1026
Closing because we are not planning to add support for SAML.

[2018-09-27 21:45] #1026 closed

[2018-09-27 21:47] Eilon commented on #1086
Closing because we are not planning to implement this pattern. We recommend that the app's auth rules should handle this behavior on its own.

[2018-09-27 21:47] #1086 closed

[2018-09-27 21:48] Eilon commented on #1105
Closing because no further action is planned on this issue.

[2018-09-27 21:48] #1105 closed

[2018-09-27 21:49] Eilon commented on #1118
Closing this because we have https://github.com/aspnet/Security/issues/1575 logged for the 3.0 milestone.

[2018-09-27 21:49] #1118 closed

[2018-09-27 21:52] Eilon commented on #1139
This should now be possible in ASP.NET Core 2.1: https://github.com/aspnet/Security/issues/1575

Tagging @poke because he did all the great work to make this happen.

[2018-09-27 21:52] #1139 closed

[2018-09-27 21:53] Eilon commented on #1169
Closing because there are no plans to implement this.

[2018-09-27 21:53] #1169 closed

[2018-09-27 21:53] #1189 closed

[2018-09-27 23:01] HaoK commented on #581
You should be able to just do
[code]

[2018-09-27 23:01] #581 closed

[2018-09-28 01:35] zerda commented on #581
I must missed some imports, @HaoK 's comment is not working for me.

In .Net Core 2.0, I'm using
[code]

[2018-09-28 01:44] HaoK commented on #581
This overload only works in 2.1, in vanilla 2.0 you would have to implement an `IConfigureOptions<CookieAuthenticationOptions>` and have the constructor take `ITicketStore` and use the store in the implementation of Configure

[2018-09-28 09:57] fschmied commented on #336
@brentschmaltz @PinpointTownes Could you quickly confirm if the workaround in https://github.com/aspnet/Security/issues/336#issuecomment-119304342 is still the way to go with ASP.NET Core 2.1.x? Or has the situation improved so that the original issue (differentiating access denied and unauthenticated scenarios with OpenIdConnect) should be solved in a different way?

[2018-09-29 20:58] Tratcher commented on #1862
@EddieEt that's the Authentication setup, but the problem you describe sounds like it's happening at a higher level with the Authorization logic. Can you share a minimal project on github that reproduces this?

[2018-09-30 00:01] EddieEt commented on #1862
@Tratcher I found the issue, it was in the IoC library I was using which wasn't handling scopes correctly. This caused AuthenticationHandlerProvider to be registered as a pseudo-singleton, re-using the same handler and authentication result for every request.

[2018-09-30 02:34] Tratcher commented on #1862
Makes sense, glad you figured it out.

[2018-09-30 02:34] #1862 closed

[2018-10-01 03:00] jmprieur commented on #1859
@Eilon : this is what ASP.NET Core have been doing for a while, indeed. ASP.NET used to propose the "Application Id URI". Ideally we might want to accept both (audienceId and if it's null clientId?)
@brentschmaltz  what do you think?

[2018-10-01 05:59] jatingandhi28 commented on #1859
@jmprieur  - If you use ClientID then it doesn't get authenticated. I have tested it calling from an APP with clientId and it didn't work.

[2018-10-01 06:50] Jehoel opened #1865 "Documentation issue: clarify JwtBearerOptions.Audience's summary comment"
The current XML documentation for `JwtBearerOptions.Audience` does not explain why this property exists when `JwtBearerOptions.TokenValidationParameters.ValidAudience` is also an Audience property.

I had to look into the source code to find `JwtBearerPostConfigureOptions` and I see that it simply copies `JwtBearerOptions.Audience` into `JwtBearerOptions.TokenValidationParameters.ValidAudience` -

[2018-10-01 13:44] AlexandrSimonov opened #1866 "One rule from several rules in AuthorizationPolicyBuilder"
Hello, all

Now, If AuthorizationPolicyBuilder have several rules, all rules should be fulfilled.
But in our project we have use case when need to resolve only one rule from several rules.
As example:
/* Adding policy */
options.AddPolicy("UserOrClient",
                    policy => policy.AddRequirements(
                        new UserAccessRequirement(),
                        new ClientAcce

[2018-10-01 16:09] Eilon commented on #1866
@blowdart do we have guidance on this?

[2018-10-01 16:35] blowdart commented on #1866
We don't support ORs with the handler helpers. Instead you're going to have to write your own filter. @HaoK did you have a sample?

[2018-10-02 00:08] devnull opened #1867 "OpenIDConnect Correlation Error Amazon Cognito"
- Did you read the documentation?
  - Yes
- Did you include the snippet of broken code in the issue?
  - Yes. GitHub repository as well.
- What are the EXACT steps to reproduce this problem?
  - See below
- What package versions are you using (you can see these in the .csproj file)?
  - Microsoft.AspNetCore.App 2.1.1
- What operating system are you using?
  - Windows 10
- What version of IIS are y

[2018-10-02 02:01] jmprieur commented on #1859
@Eilon @jatingandhi28 @dallancarr: sorry if I was not clear:
What matters is that the representation of the resource for which you request the access token (I'm assuming you are using ADAL.NET) is exactly the same as the audience. The validation will fail if they are different (even if a / is missing at the end).

For instance the following sample (written before the auth code was included in the

[2018-10-02 03:03] Tratcher commented on #1867
Can you share a Fiddler trace of the success and failure scenarios? That's the best way to track down what's missing and why.

[2018-10-02 04:19] devnull commented on #1867
Yeah sure! Please find them attached.

[Captures.zip](https://github.com/aspnet/Security/files/2436463/Captures.zip)

[2018-10-02 04:40] Tratcher commented on #1867
That failure trace seems to be skipping a step. Here's what I see:
1. localhost logout, 302 to auth server
2. Auth server logout, 302 to auth server login
3. Auth server log in page, 200
4. POST to Auth server login, 302 to localhost signin-oidc
5. Localhost signin-oidc failure

Step 4 is invalid. The OIDC middleware does not support sign-in requests initiated from the identity server, all sign-in

[2018-10-02 08:42] devnull commented on #1867
Thank you very much for looking at this.

At first when I read your answer, I was confused because I thought the redirection was happening between my app, not at the IdP! As you pointed out, the failure exists when AWS Cognito redirects **itself** back to the logout endpoint.

The bit that caught me out was: If the Logout_URI does not match exactly what is configured in AWS Cognito app client sett

[2018-10-02 10:15] dallancarr commented on #1859
But the resource/audience pairing can be any string....so i
imagine somewhere along the line the client id has been used in the sample. But i could be wrong.

[2018-10-02 22:17] kevinlo opened #1868 "Setting up DataProtectionProvider for cookie authentication"
After some debugging, I finally find out there are two ways to set the DataProtectionProvider to the Cookie Authentication that I can use for sharing the cookie for different app in web farm case:

1)  AddDataProtection to the Services and it will be injected into PostConfigureCookieAuthenticationOptions  e.g.

[code]
2) Setting it at the CookieAuthenticationOptions and the PostConfigureCookieAuth

[2018-10-02 22:31] kevinlo commented on #1868
@Tratcher Ok.  I don't know the history and I am wondering why the options one is there and the use case of it.   If it is old pattern for backward compatibility, I won't use it.

[2018-10-02 22:31] #1868 closed

[2018-10-02 22:32] brentschmaltz commented on #1852
@rasitha1 You may get some help from TokenValidationParameters.IssuerValidator
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L420

In our 5.3.0 release we added a PropertyBag that may also help.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev

[2018-10-02 22:43] brentschmaltz commented on #430
@PinpointTownes @Eilon Are we speaking about inbound and outbound?
Inbound, TokenValidationParameters has three ways to find keys for decryption:

delegate:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L113

set keys directly:
https://github.com/AzureAD/azure-activedirectory-identitymod

[2018-10-02 22:49] brentschmaltz commented on #1859
@dallancarr @jmprieur 'clientId' has multiple aliases (in AzureAD). One is a guid, others are urls. That is one of the reasons for the 'ValidAudiences' property.

All are fine and represent the same service. The issue is, given the guid form, how can the runtime deduce the others?
The user should know the others, but I have seen a few people get tripped up by this.

[2018-10-02 23:05] brentschmaltz commented on #336
@jmprieur do you have a sample we can use to test this out?

[2018-10-03 04:14] rasitha1 commented on #1852
@brentschmaltz thanks for the reply. I'm not clear on how I can use these in my case.

The issue is that ADFS is using **two different Issuer** values depend on which endpoint we use to get the token. (/authorize vs /oauth2/token) and that seems to [be by design](https://msdn.microsoft.com/en-us/library/mt758322.aspx).

Both issuer values are available in the `.well-known/openid-configuration` pag

[2018-10-03 19:22] hempels opened #1869 "Authentication middleware prevents UseStatusCodePages middleware from handling Access Denied responses"
I must be missing something because everything I've read seems to indicate that I can use app.UseStatusCodePages(..) in my MVC app to handle 401 responses. However, the application cookie middleware is handling it first and forcing a page redirect which loses the original request context,

I have tried overriding OnRedirectToAccessDenied in ConfigureApplicationCookie to set the Response.StatusCode

[2018-10-03 19:36] Tratcher commented on #1869
CookieAuth does not intercept 401 responses, it's invoked directly by calls to Challenge or Forbid. When a user that is authenticated but not authorized the authorization system calls Forbid. That invokes cookie auth which redirects the user to the AccessDenied page.

What context do you need from the original request that you are trying to display?

[2018-10-03 20:41] hempels commented on #1869
Thanks Chris .. While I guess I understand what you're saying, I don't see the practical difference. The net effect is that cookie auth is redirecting to access denied and I can't see a means to prevent that.

Ultimately I need to determine why authorization failed and display custom pages for different scenarios plus a default. The best I'd come up with is using some custom status code middleware

[2018-10-03 21:08] Tratcher commented on #1869
@HaoK you've got a couple of issues tracking detailed AuthZ failure responses?

[2018-10-03 21:10] Tratcher commented on #1869
You can also go the preventative route, hiding links to resources you know the user does not have access to.

[2018-10-04 21:06] Eilon commented on #1869
We do plan to revisit this in the 3.0 release as part of https://github.com/aspnet/Security/issues/1359 (see under `Make it easier to be able to display authZ failure reasons in an error page etc #1530`).

[2018-10-04 21:06] #1869 closed

[2018-10-04 21:09] Eilon commented on #1867
Closing because no further action required on this issue.

[2018-10-04 21:09] #1867 closed

[2018-10-04 21:12] Eilon commented on #1865
For reference, here's the code: https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerPostConfigureOptions.cs#L24-L27

[2018-10-04 21:12] Eilon commented on #1865
@Jehoel thanks for the find. Would you be interested in sending a PR for this?

[2018-10-04 21:17] Eilon commented on #1852
@brentschmaltz , anything else to add?

[2018-10-04 22:46] ggirard07 commented on #1847
@Tratcher here a use case where you could have 2 providers relying in fact on the same Azure AD B2C https://stackoverflow.com/questions/35072371/headless-authentication-azure-ad-b2c/49036907#49036907

[2018-10-04 23:07] Tratcher commented on #1847
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2018-10-05 08:46] phatcher opened #1870 "Provide MSAL token cache implementations"
If you are authenticating your .NET Core app against Azure AD the suggested path is to use the MSAL library.  This requires code to load/serialise the TokenCache before/after every access and sample code is provided [here](https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-v2/blob/master/WebApp/Models/MSALSessionCache.cs)

The code is not great as it uses the Session to

[2018-10-05 21:59] blowdart commented on #1870
MSAL caches are, I believe, ACLed. A cache we'd implement would have to take authentication and encryption into account, and we'd still end up requiring session too. We'll have a think, but I just want you to be aware it's not simple, and thus not a no-brainer.

[2018-10-05 22:34] brentschmaltz commented on #1852
@rasitha1 @Eilon a solution is in "your" issuer validator, you recognize that the issuer == what you got from config + "/services/trust"

OR

you can make use of our 5.3.0 release (just dropped) where TokenValidationParameters has a property bag that you can set an issuer you trust OR the whole configuration object.

[2018-10-06 04:58] rh1984 opened #1871 ""Correlation Failed" error even after successful login via AzureAD"
Hi, all,

I have a perplexing issue and it's difficult for me to determine if it's a bug with my code or a bug in the authentication layer.

Long story short, we have a multi-tenant setup where different tenants might opt-in to using OpenID via AzureAD. The rest usually just use a cookie-based setup where we handle the users. We are using ASP.NET Core 2.1 on Service Fabric with Kestral.

So, as su

[2018-10-06 05:27] Tratcher commented on #1871
For a multi-tenant setup do you have more than one instance of OpenIdConnect configured? If so, did you give them unique CallbackPath's? That's required to disambiguate.

[2018-10-06 05:50] rh1984 commented on #1871
I only have one openidconnect configured. The multi tenant logic is kept in the events for that scheme since those configurations are contextual to the tenant using the portal. Again though, we DO have a cookie scheme configured as well, but that shouldn't make a difference right?

[2018-10-06 06:09] Tratcher commented on #1871
Using cookie auth is fine.

The ordering of that error doesn't make sense, the [correlation](https://github.com/aspnet/Security/blob/564d53641ddba29f502d350cd4a95484b313acd9/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L515) cookie is checked long before any of those other events. Are you sure it's the same request? Is it possible that the request is finishing but

[2018-10-06 09:43] phatcher commented on #1870
@blowdart I had a go at generalising this a bit using the sample code and the [ADAL token cache](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/token-cache) implementation.

Here a [gist](https://gist.github.com/phatcher/fdcf6041560bdd8d60ec0225e3ec29b6) with the code...
1. We need different persistence mechanisms, so split out as an interface
2. We might want to encrypt

[2018-10-06 23:03] rh1984 commented on #1871
You're right that the behavior and order seems to indicate that it's redirecting back to /signin-oidc twice. I had that in mind, but couldn't find anywhere in the code that would be happening. I put a breakpoint in the signin-oidc method in the MVC controller and it didn't hit it even the "first" time it would have happened after the successful auth.

I'll troubleshoot it in Fiddler, though, to co

[2018-10-07 13:37] yucelakpinar opened #1872 "sourceLink doesn't work for Microsoft.AspNetCore.Authorization.dll"
Hello,
I'm trying to debug the code of Microsoft.AspNetCore.Authentication.AuthenticationMiddleware class with using the sourceLink feature, visual studio successfully download the .pdb of the .dll from Microsoft Symbol Server but on debug session I'm getting following error:

Source information is missing from the debug information for this module

package that I used in my project
Microsoft.AspN

[2018-10-07 17:57] rasitha1 commented on #1852
@brentschmaltz thanks for your feedback. My current workaround is your second suggestion. However I'm using the **ValidIssuers array** to add the /services/trust identifier so at runtime, both issuers are considered valid issuers. (i.e. the other one is pulled in via discovery page)

I'm worried about doing your first solution because I'd rather not have to worry about "how" to properly do issuer

[2018-10-08 12:30] plazav commented on #1765
@Tratcher, even after updating to 2.2.0-preview2-35157 I still can reproduce this issue.

[2018-10-08 17:18] blowdart commented on #1872
@natemcmaster is sourcelink configured for any asp.net core build?

[2018-10-08 17:19] natemcmaster commented on #1872
Yes.

[2018-10-08 19:36] brentschmaltz commented on #430
@Tratcher AAD doesn't have JWE's yet so nothing for AAD. I'll leave this issue open until we have a public sample.

About acquisition for outbound, i believe that would be related to what @PinpointTownes has pointed out, we need to obtain a public key from metadata.

[2018-10-08 19:56] brentschmaltz commented on #1852
@rasitha1 I opened https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1030 as that's where a fix could show up. I have pinged some folks on the ADFS team to see what they were thinking.

@Eilon left the issue open for now.

[2018-10-08 21:08] rh1984 commented on #1871
Aha. It looks like what I was doing was incorrectly setting the "RedirectUri" to /signin-oidc in the ChallengeResult() call of the signin method. I had confused that with the CallbackPath in the configuration. So, it was calling back /signin-oidc, and then redirecting to /signin-oidc, resulting in the error.

And, yes, I've removed the signin-oidc handler from the MVC controller. That was a misund

[2018-10-08 21:08] #1871 closed

[2018-10-08 21:21] blowdart commented on #1872
Can you check it's working for the package mentioned?

[2018-10-09 08:46] yucelakpinar commented on #1872
Its now working, I don't why it wasn't work before.

[2018-10-09 11:02] debchy commented on #716
I have solved the problem. This problem is happening for proxy address which is not resolving with OIDC connection.
So, Instead of
`options.Authority = "http://app.mycompany:5959/";`
I am now using IP address.
`options.Authority = "http://41.4.40.41:5959/";`

[2018-10-10 21:09] GoFightNguyen opened #1873 "WS-Federation remote login failure ASP.NET Core 2.1+"
## Context
ASP.NET Core 2.1
ASP.NET Core 2.2 Preview

The app is configured to use cookie authentication through WS-Federation. It is remote authentication.  In the Startup.ConfigureServices I have this configuration

[code]
## Problem

The first time `context.ChallengeAsync()` is invoked, the app flashes the remote authentication screen but then immediately directs to the default WsFederationOpti

[2018-10-11 13:14] yucelakpinar opened #1874 "Two authentication schema doesn't work together"
Hello,
I want to use AspNet Identity for storing user accounts locally to my app, and also want them to login/logout to my app.
I also want to use an openId provider for not storing user accounts locally, only want them to login/logout my app.

So that I setup my app like below;

[code]
With that configuration I can login to app with openId provider, but local users can't login to the app.

Accord

[2018-10-11 15:35] Tratcher commented on #1874
The more common pattern is to connect OIDC to a local identity (no local password required). To do that remove `.AddAuthentication(IdentityConstants.ExternalScheme)` and `options.SignInScheme = IdentityConstants.ExternalScheme;`. Is there a reason you want them to be completely separate?

How do you have users choose which login approach to use?

[2018-10-11 16:04] yucelakpinar commented on #1874
I see on the internet(blogs, msdn) that OIDC is implemented like below (but without AspNet Identity, oidc is always used alone on examples), so that I write it like above.
On my login page I have inputs for username&password with login button and also a link if client want to use OIDC login type.
So you want me to store a local identity for this user, is there any example?
And also I don't want to

[2018-10-11 16:06] Tratcher commented on #1874
OIDC can be used with Identity just like any other remote provider. See these examples for [Facebook](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?view=aspnetcore-2.1&tabs=aspnetcore2x#configure-facebook-authentication).

[2018-10-11 16:31] GoFightNguyen commented on #1873
Regarding the initial auto redirect, I do see a difference in the remote authentication requests.
The first request flows as follows:

- Request to my Web API. The response is a 302 that includes the Location of the remote authentication
- Request for the metadata
- Request for the remote authentication redirect indicated in the first request's response. This response is 200
- Request for the /sig

[2018-10-11 19:29] aspnet-hello opened #1875 "Test failure: ChallengeRedirectIsIssuedCorrectly"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=575714&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC

[2018-10-11 19:29] aspnet-hello commented on #1875
This comment was made automatically. If there is a problem contact ryanbrandenburg.

Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failur

[2018-10-11 19:29] aspnet-hello commented on #1875
This comment was made automatically. If there is a problem contact ryanbrandenburg.

There were 1 failures [with about the same error](http://aspnetci/viewLog.html?buildId=575714&buildTypeId=Releases_22xPublic_HighSierraOsxUniverse) on 2.2 at 10:17:09 AM:
- SignOutSettingMessage

[2018-10-11 20:00] Eilon commented on #1875
@Tratcher can you take a look?

[2018-10-11 20:49] Tratcher commented on #1875
We need to react to https://github.com/aspnet/Universe/commit/06e9531d50f80d834decdf2a6696df4618bfcba5, or at least make the test less strict about these fields.

[2018-10-11 21:10] Eilon commented on #1873
@GoFightNguyen if you can provide Fiddler (or similar) traces, that would be most helpful for us to investigate.

[2018-10-11 21:12] Eilon commented on #1852
Thanks @brentschmaltz , since there doesn't appear to be further action here, I'm closing the issue.

All - please refer to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1030 to track the status of a potential fix.

[2018-10-11 21:12] #1852 closed

[2018-10-11 21:15] Eilon commented on #1768
We feel this is a low churn area, so no strong need to add tests for this.

[2018-10-11 21:15] #1768 closed

[2018-10-11 21:19] Eilon commented on #772
Let's spend 2-3 days adding a basic Hello World type of test that goes through a full successful login flow.

Also tagging @javiercn because of the work he did with Web Application Factory, and that could help in doing this.

[2018-10-11 21:31] Eilon commented on #1317
Closing because we don't feel this would add sufficient information to aid in most debugging scenarios that we've seen people run into.

[2018-10-11 21:31] #1317 closed

[2018-10-11 21:33] Eilon commented on #1377
Closing because we are not planning to implement this.

[2018-10-11 21:33] #1377 closed

[2018-10-11 21:39] Eilon commented on #1383
Let's improve the error here to at least say what property didn't match what was expected per the spec (and maybe info about the mismatched types).

[2018-10-12 06:49] SanderDeclerck commented on #1772
Would it perhaps be possible to have a more specific Exception type for this as well? Then it would be easier to handle this kind of issue in an application.

I am investigating a "correlation failed" issue in one of my applications, and in order to add extra logging when this exception occurs, I needed to add a check on the Exception message. Wouldn't it be nicer if we could check for a specific

[2018-10-12 16:16] Eilon commented on #1875
@Tratcher does your fix address the 2 more recent failures?

[2018-10-12 16:16] Eilon commented on #1875
Oh sorry just realized they're the same. So hopefully yes 😄

[2018-10-12 18:38] GoFightNguyen commented on #1873
I was working with our IdP and discovered it is rejecting the remote authentication request because it does not contain a wct field. Here is the request
`https://passportdev.domain.com/login/?wtrealm=urn%3Asp.Realm&wa=wsignin1.0&wreply=https%3A%2F%2Flocalhost%3A44399%2Fsignin-wsfed&wctx=CfDJ8PvrOyMP_WpGklq96IQEtSCkD_3VKjV7xhO8lsZa0ROi9BTDcPJFXyVBSQ2LnPF--5yAnza3iUGnbjt4HSLFgV_02ySGV06o9TZk74UXc_e9

[2018-10-12 18:43] blowdart commented on #1873
Hmm, wct is, by the spec, optional. @brentschmaltz can we get the identity model WSFed support to include a timestamp somehow?

[2018-10-12 19:35] Tratcher commented on #1873
Something like this, though you'd need to work out the correct date format.
[code]

[2018-10-14 05:14] kevinlo opened #1879 "DataProtection with ProtectKeysWithCertificate for Cookie Authentication shared by multi-apps."
I have App1 and App2 that need to shared cookie authentication.   App1 is the first access application that will create the cookie to be shared by App2.   I put the following codes in both apps and it works fine.  I can see the key.xml with the encryptedSecret tag.

[code]

Then , I remove the ProtectKeysWithCertificate(myCertificate) call in App2 like this

[code]

I expect the App2 cannot decryp

[2018-10-14 15:14] Tratcher commented on #1879
That's expected. When App2 can't read any keys it will create its own. Is the concern that it wiped out the first one?

[2018-10-15 00:54] kevinlo commented on #1879
@Tratcher Could you explain how it works in this case?   App2 read the encrypted key file, it cannot decrypt it so it creates its own unencrypted one.   Is that key same as the one used by the App1 so it can use it to decrypt the cookie?

In that case, why does it need to ProtectKeysWithCertificate, any app that knows the DataProtectionPath and ApplicationName can create the same key to decrypt th

[2018-10-15 03:46] Tratcher commented on #1879
@natemcmaster to confirm.

[2018-10-15 06:48] swlasse commented on #1577
@bogdan-s I stumbled upon this the other day, and was a bit surprised to see the same behavior as you. Do you know why this has been closed? It sure looks like a behavior that is worth reconsidering - using the AllowAnonymous attribute as a short-circuit and ignore all other authorization rules seems fair, but I might be missing something?

[2018-10-15 09:55] bogdan-s commented on #1577
@swlasse I will reopen it for you. I didn't want to spend too much time on this, since they've designed it like this and it was not blocking me.

[2018-10-15 13:33] ricsierics commented on #1405
@Tratcher , may I ask if you are referring to .Net Core 1.1 and 2.0? If so, I would like to ask how to solve this in .Net standard (4.6.1)? My solution/project cannot resolve the type "TwitterOptions", only "TwitterAuthenticationOptions"

[2018-10-15 15:02] Tratcher commented on #1405
ASP.NET Core 1.1 and 2.0, which supports .NET Standard.

[TwitterAuthenticationOptions](https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Security.Twitter/TwitterAuthenticationOptions.cs) is a much older version. What package are you using, Microsoft.Owin.Security.Twitter? No, it does not have this feature.

[2018-10-15 15:37] swlasse commented on #1577
Thanks @bogdan-s. It might very well be that it is designed like this on purpose, but in any case, I think it is good observation which deserves some attention. Would be great to understand why it is like this.

[2018-10-15 18:31] kevinlo commented on #1879
@natemcmaster

App2 does not have the myCertificate.  Why can it decrypt the key?   That is the main question I have why the App2 can decrypt the cookie even it does not have the myCertificate.  Does it read the certificate from the store?

[2018-10-15 18:37] natemcmaster commented on #1879
Yes, DataProtection will use certificates installed in the cert store, even if you did not programmatically call `.ProtectKeysWithCertificate` or `.UnprotectKeysWithAnyCertificate`.

Can you clarify the exact behavior you are seeing, and what you're expecting? I'm not sure what the problem is. Is App2 using the exact same key as App1 and shouldn't? Is the certificate used to encrypt the key for Ap

[2018-10-15 20:52] estet commented on #1793
But still closed...

[2018-10-15 21:41] kevinlo commented on #1879
Ok.  I just test it more.   I create the myCertificate in my testing server.   It does add the certificate to the Personal store.  After I delete that certificate in the store and now App2 has

[code]
After I add ProtectKeysWithCertificate back to App2 using the same myCertificate, the exception is gone.

That is what I expect.

@natemcmaster  I think you have answered my question

Could you pleas

[2018-10-15 22:40] natemcmaster commented on #1879
The class which decrypts the key is here: https://github.com/aspnet/DataProtection/blob/2.1.0/src/Microsoft.AspNetCore.DataProtection/XmlEncryption/EncryptedXmlDecryptor.cs. It uses [System.Security.Cryptography.Xml.EncryptedXml](https://github.com/dotnet/corefx/blob/v2.1.0/src/System.Security.Cryptography.Xml/src/System/Security/Cryptography/Xml/EncryptedXml.cs) which finds certs in the CurrentUs

[2018-10-16 02:56] kevinlo commented on #1879
Got it.  The Utils.BuildBagOfCerts in System.Security.Cryptography.Xml read the certificates from the LocalMachine and CurrentUser store.

Thanks all answering my questions.   I''ll close this issue.

[2018-10-16 02:56] #1879 closed

[2018-10-16 03:17] John0King opened #1880 "authentication/authorization other than cookie in websocket"
for example JwtBearer token authentication in websoket , how we impiliment ?
(can not set header with `WebSocket` in browser)

this is my thought of a flow:
1. client connect to server, and server response to tell client not authenticted  [optional]
2. client do the authentication process and get an `access_token`.
3. client send the token to server via websocket
4. server get the token and do the

[2018-10-16 04:03] Tratcher commented on #1880
The SignalR docs give an [example](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.1#bearer-token-authentication) where the access_token can be read from the query string.

[2018-10-16 04:06] Tratcher commented on #1880
To your other question, yes, all the token validation [libraries](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/) we use in the auth handler are available to you to call directly.

[2018-10-16 04:14] ricsierics commented on #1405
Yes, I'm using **Microsoft.Owin.Security.Twitter**. I tried to use the **TwitterOptions** by adding the **Microsoft.AspNetCore.Authentication.Twitter** in my MVC 5 project using Nuget. There's now compilation error "_cannot convert from Microsoft.AspnetCore.Authentication.Twitter.TwitterOptions to Microsoft.Owin.Security.Twitter.TwitterAuthenticationOptions_".

This code block is under **Startup.A

[2018-10-16 05:41] John0King commented on #1880
I see, by using querystring , it  become a regular http request again.
I previously write a websocket program with authentite via websocket is self， and faild to do token validation and get user info from access_token (Id4 jwtbearer) .  at the end  I submit the subject Id inside websocket communication. that's why I ask

[2018-10-16 05:41] #1880 closed

[2018-10-16 06:00] ricsierics commented on #1405
Thanks @Tratcher , will do this. Sorry for commenting on an already closed thread

[2018-10-16 11:30] Sigvaard commented on #292
but why `services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)` doesn't work like above? is this a bug?

[2018-10-16 12:02] Tratcher commented on #292
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

And yes @Sigvaard, your example should work the same as the one given by @TobiasBaumgarten.

[2018-10-16 12:06] Sigvaard commented on #292
@Tratcher I've just realized `AddIdentity` calls `AddAuthentication`

https://github.com/aspnet/Identity/blob/329eed9e8d14243d0b36385bb1adc9fc85df0e41/src/Identity/IdentityServiceCollectionExtensions.cs#L38

And I call it before `AddAuthentication` so that was causing the problem.

[2018-10-16 13:47] rasitha1 commented on #1852
@Eilon @brentschmaltz once (if?) OpenIdConnectConfiguration gets this [new property](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1030#issuecomment-428386485) are you planning on changing [JwtBearerHandler ](https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandl

[2018-10-16 14:03] Tratcher commented on #1852
@rasitha1 It sound possible, but let's revisit that question once OpenIdConnectConfiguration gets sorted out.

[2018-10-16 23:19] brentschmaltz commented on #1852
@rasitha1 @Tratcher We have to be careful when we would use this value. The user would have to 'opt in' otherwise we could introduce an issue when someone (although unlikely) overloaded that value. Particularly OIDC should not use that value.

[2018-10-18 19:59] GoFightNguyen commented on #1873
By setting the Wct, and having the IdP correct a couple of other issues, problem 1 is now resolved.

I believe problem 2, cancelling the login on step 2 of the multi-factor authentication, is also something specific with how this IdP handles a cancellation.

In other words, both problems were actually because of nuances with the IdP; neither issue was because of the WsFederation middleware. Thanks

[2018-10-18 19:59] #1873 closed

[2018-10-18 20:30] GoFightNguyen opened #1882 "Ws-Federation remote signout not working ASP.NET Core 2.1"
# Context
ASP.NET Core 2.1

The app is configured to use cookie authentication through WS-Federation. It is remote authentication. In the Startup.ConfigureServices I have this configuration
[code]

The default page a user is routed to is the Index Razor Page. This Razor Page contains an OnPostAsync method, which is invoked by a simple form containing a button for logout.

[code]

# Problem
Signout

[2018-10-18 21:14] Tratcher commented on #1882
if you put a breakpoint in OnRedirectToIdentityProvider, does it get invoked when you call SignOutAsync?  https://github.com/aspnet/Security/blob/4dd9c6deefba64aa7721430e7d1dc72d6e002416/src/Microsoft.AspNetCore.Authentication.WsFederation/WsFederationHandler.cs#L364-L373

Is OnPostAsync overwriting the response with some kind of default 200 response?

[2018-10-19 09:45] benmccallum opened #1883 "RequireClaim method signature is a little confusing"
[code]

"requiredValues" is a confusing name as the method in reality only checks for the presence of one of these values, not all. The parameter description is perfect, but I'm not sure if that's enough. I certainly got confused until I confirmed it in the docs/saw comment.

It's a petty thing I know, but maybe something more generic like "values" would suffice? Or go super explicit like "anyOfTh

[2018-10-19 18:27] GoFightNguyen commented on #1882
OnRedirectToIdentityProvider is being invoked.

Using a Fiddler trace, I do not see the OnPostAsync overwriting the response with a 200 response.

[2018-10-19 18:34] hvanbakel opened #1884 "Make _configuration protected for OpenIdConnectHandler"
When deriving from the handler it's useful for an implementer to have access to the retrieved configuration for the openid connect provider (for example to get the token endpoint).

[2018-10-19 18:38] Tratcher commented on #1882
Can you share the fiddler trace?

[2018-10-19 18:40] Tratcher commented on #1884
We've long written off deriving from OpenIdConnectHandler (and others) as a useful extensibility model. The methods are not nearly granular enough. We provided events instead.

What are you doing in your derived handler?

[2018-10-19 18:46] hvanbakel commented on #1884
I use the derived handler so I can inject a type which I can then use to generate a private_key_jwt as described in https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

I guess my biggest problem is the lack of injection in the events.

[2018-10-19 18:52] Tratcher commented on #1884
@blowdart and @HaoK are writing an example for event injection as we speak.

[2018-10-19 18:52] hvanbakel commented on #1884
In the current setup? Or is that with changes to the API?

[2018-10-19 18:53] blowdart commented on #1884
It should be current. If I can figure it out.

[2018-10-19 18:54] hvanbakel commented on #1884
[code]

this is my current workaround, I then just await that one task whenever I need a bit of configuration

[2018-10-20 20:16] GoFightNguyen commented on #1882
My employer isn't ok with me sharing the fiddler trace.

When I invoke the OnPostAsync method, there are no HTTP requests going to the remote authenticator despite OnRedirectToIdentityProvider being invoked.

At the end of the OnPostAsync method, I added a call to the OnGet method. The response from the post request is now a 302 redirect to the remote Authenticator for signout. Any ideas why this

[2018-10-22 07:18] amitsharma2912 opened #1886 "No token validator was found for the given token WS-FED"
System.Exception: An error was encountered while handling the remote login. ---> Microsoft.IdentityModel.Tokens.SecurityTokenException: No token validator was found for the given token.
   at Microsoft.AspNetCore.Authentication.WsFederation.WsFederationHandler.<HandleRemoteAuthenticateAsync>d__9.MoveNext()
   --- End of inner exception stack trace ---
   at Microsoft.AspNetCore.Authentication.Remo

[2018-10-22 14:46] Tratcher commented on #1886
It doesn't like the token format. What software is providing you with the token? Can you share a Fiddler trace?

[2018-10-22 14:59] Tratcher commented on #1882
Can you at least share the response headers as seen by the client? Is it a 200 response with a Location header set?

[2018-10-22 16:13] GoFightNguyen commented on #1882
The response was a 500. I discovered it was an issue with my Razor Page.
Here is the cshtml
[code]
The problem was the OnPostAsync method was not initializing the PageModel.Claims property...it was only being set on the OnGet method. Thus, the response would create a 500 response because Model.Claims was null.

After resolving this issue, I see the 302 redirect to the remote authenticator for sign

[2018-10-22 16:13] #1882 closed

[2018-10-22 18:10] HaoK commented on #1883
Sure, do you want to submit a PR for this change?

[2018-10-23 10:42] benmccallum commented on #1883
Sure thing. Any preference on a new param name?

[2018-10-23 23:31] SilasReinagel commented on #977
Marker interface do not prevent usage of incorrect types. Any type can implement a marker interface.

[2018-10-24 10:17] AdamRiddick opened #1889 "Question: Is it possible to update OpenIdConnectOptions at runtime?"
Hi,

We have a situation where the values passed into OpenIdConnectOptions are user configurable, as we have multiple providers.

This works great when configuring the options on startup with AddOpenIdConnect(), but we have the situation where the configuration has been changed and requires updating, or a new configuration needs adding.

Is it possible to add new providers, or update an existing p

[2018-10-24 12:06] austvik opened #1890 "AuthorizationPolicyBuilder.RequireUserName requires Name - not UserName in Google authentication type"
https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authorization/AuthorizationPolicyBuilder.cs#L192

See that we require on the user name, but a NameAutorizationRequired requirement is added.

NameAutorizationRequired checks Identity.Name

When using tokens from Google, the name is the real name (e.g. "Eva T"), and not the user name - and real

[2018-10-24 16:03] Tratcher commented on #1889
Yes, see the sample at https://github.com/aspnet/AuthSamples/tree/master/samples/DynamicSchemes for adding and removing schemes.

[2018-10-24 16:07] Tratcher commented on #1890
FYI: here is the current claim map for google:
https://github.com/aspnet/Security/blob/32177cad1eb1eb6be8ad89a7dba1a1637c0d0786/src/Microsoft.AspNetCore.Authentication.Google/GoogleOptions.cs#L29-L30

You can remove/clear this and remap as you see fit.

[2018-10-24 16:15] PinpointTownes commented on #336
@fschmied it's still the way to go. That said, I opened a new PR to introduce some built-in support for `access_denied` handling: https://github.com/aspnet/Security/pull/1887. If it's accepted, the next ASP.NET Core version might offer a better story for that.

[2018-10-24 16:44] GoFightNguyen opened #1891 "WS-Federation OnRemoteFailure - is this the best way to challenge for authentication again"
ASP.NET Core 2.1

My app has remote authentication configured with WS-Fed. I don't want any part of the app to be accessible to an unauthenticated user.
[code]
If the user cancels the authentication, then the remote authenticator redirects to the default WsFederationOptions.CallbackPath, which is /signin-wsfed. It displays the following exception
[code]

I know an issue with my IdP is causing this

[2018-10-24 16:45] #1875 closed

[2018-10-24 16:51] Tratcher commented on #1891
That works but is likely to cause an infinite loop. We have a similar discussion going on at https://github.com/aspnet/Security/pull/1887 where the recommendation is to redirect the user to an Access Denied page and give them the option to retry from there.

[2018-10-24 17:29] HaoK commented on #581
This one? https://github.com/aspnet/Options/blob/release/2.1/src/Microsoft.Extensions.Options/OptionsBuilder.cs#L57

[2018-10-24 17:52] geirsagberg commented on #581
Yeah I'm using that one, but that is used like Zerda showed:
[code]
Not like the example you suggested:
[code]
No worries though, the former version is plenty good enough for me :)

[2018-10-25 06:42] fschmied commented on #336
@PinpointTownes Thanks for the confirmation! And for the PR :)

[2018-10-25 08:08] austvik commented on #1890
Thank you for the workaround. In this area I think the defaults should be correct, though.

The NameAutorizationRequirement uses Name:

https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authorization/Infrastructure/NameAuthorizationRequirement.cs#L44

For me it looks like GoogleOptions are doing the reasonable thing (display name to name, id

[2018-10-25 10:40] AdamRiddick commented on #1889
Perfect - Thank you.

[2018-10-25 10:40] #1889 closed

[2018-10-25 18:10] blowdart opened #1892 "OpenID Connect - Sign Out - AADSTS90015: Requested query string is too long."
_From @xenalite on October 13, 2018 7:11_

I am using this sample:
https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore

I made 1 modification in the code - added `SaveTokens` flag:
[code]

I also made another modification in the AAD app manifest:
`"groupMembershipClaims": "SecurityGroup",`

This gives me a longer ID token with group claims as I need them, but w

[2018-10-25 18:11] blowdart commented on #1892
@jmprieur The token_id_hint looks like it's based on the whole identity, including roles. What should we be building the token_id_hint from?

[2018-10-25 19:49] brockallen commented on #1892
https://openid.net/specs/openid-connect-session-1_0.html#RPLogout

[2018-10-26 15:28] jrt324 commented on #1569
I spent over one day to this problem , and lucky i found your solution saved my life ,thank you @ghstahl

[2018-10-26 17:45] blowdart commented on #1892
Oh dear;

"Previously issued ID Token passed to the logout endpoint as a hint about the End-User's current authenticated session with the Client."

Which is what we're doing.

[2018-10-27 08:12] justlearntutors opened #1898 "Multiple refresh for authentication on server"
Authentication works on localhost. I have to refresh the site 1-4 times on remote server, when I login and logout. We use await HttpContext.SignInAsync and HttpContext.SignOutAsync. Working website is www.justlearn.com.

#### Is this a Bug or Feature request?:
Bug

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project):
Startup:

[code]

HomeController.cs

[code]

#### V

[2018-10-29 03:29] HeMinzhang opened #1893 "About policy in Multiple Schemes 403 problem"
My web app have Multiple Schemes and 403 error occurred. Can you help me?

BlogControler if used Authorize is no problem.
`[Authorize(AuthenticationSchemes = OpenIdConnectDefaults.AuthenticationScheme)]`
But used FounderAuthorize 403 error occurred.
[code]

**In AddAzureAdB2C(this AuthenticationBuilder builder, Action<AzureAdB2COptions> configureOptions)**
[code]

**In Startup ConfigureServices(IS

[2018-10-29 03:55] HeMinzhang commented on #1893
**class AzureAdB2CAuthenticationBuilderExtensions**
[code]

[2018-10-29 12:12] HeMinzhang commented on #1893
Sorry,This is my problem.
Because the policy is configured incorrectly.

Must be removed options.AddPolicy.
removed this code:

[code]

[2018-10-29 12:12] #1893 closed

[2018-10-30 05:17] brentschmaltz commented on #1859
@Tratcher @jmprieur I think the confusion comes from OAuth and OIDC specs both use the term 'client_id'. Both are sent on the request, but the result is different.
@blowdart is AudienceId a new property?

When asking for an id_token (OICD), the 'aud' claim will equal the 'client_id' sent.
When asking for an access_token, the 'aud' claim could be related to the 'scope' in the request. The receiver

[2018-10-30 06:45] leastprivilege commented on #1892
Which is correct - maybe dumping everything and the kitchen sink into id_token wasn't a very good idea to start with ;)

[2018-10-30 07:47] jmprieur commented on #1892
would it be possible to compress the IDToken ?

[2018-10-30 16:01] Tratcher commented on #1859
@brentschmaltz AudienceId is not an existing property. I think it was a proposed rename.

[2018-10-31 15:44] dgarciarubio commented on #1883
How about "possibleValues"? just "values" seems vague, but "anyOfTheseValues" sounds too informal to me.

[2018-10-31 16:13] Tratcher commented on #1859
Moved to https://github.com/aspnet/AADIntegration/issues/50

[2018-10-31 16:13] #1859 closed

[2018-10-31 16:54] HaoK commented on #1883
acceptedValues maybe?

[2018-10-31 17:08] blowdart commented on #1892
That would require support for decompression on the other side, and throwing the standards out the window. So .. no.

Could you hydrate the groups as part of claims transformation instead via the graph apis?

[2018-10-31 17:52] xenalite commented on #1892
Do all claims have to be present in a hint?

[2018-10-31 18:08] blowdart commented on #1892
_Previously issued ID Token passed to the logout endpoint as a hint about the End-User's current authenticated session with the Client._

Yes, because you've put them all in the ID token the server issued.

[2018-10-31 19:15] benmccallum commented on #1883
How about valuesAllowed? Or along the lines of auth, valuesAuthorized?

[2018-10-31 19:37] ashuthinks opened #1895 "AVRO serialization error - Could not find any matching known type for 'Newtonsoft.Json.Linq.JToken' using c#"
I'm using nuget Microsoft.Hadoop.Avro2 for avro serialization.

I'm using below code -

public byte[] ReadAsAvroWithHeader(string messageType,JObject obj)
        {
            Encoding encoding = new System.Text.UTF8Encoding();
            string header = $"{messageType},{Guid.NewGuid().ToString()}";

            byte[] headerBytes = Encoding.UTF8.GetBytes(header);
            byte[] avroBytes =

[2018-10-31 19:51] Tratcher commented on #1895
I expect you're having a version conflict with Newtonsoft.Json. Microsoft.Hadoop.Avro2 uses 9.0.1 but ASP.NET Core uses 11.0.2.

You'll want to find the owners of Microsoft.Hadoop.Avro2, it's unclear if that package will work with later versions of Newtonsoft.Json.

[2018-11-01 06:20] ashuthinks commented on #1895
i have tried using other version nuget also now i do not get any error but when I pass Jobject it is not creating message properly :( like when i use RootObject
I can verify data using this statement.
            string avAvro = encoding.GetString(avroBytes);

[2018-11-01 17:51] UMANGAWASTHY opened #1897 "How to Validate AccessToken in WebAPI core 2.0 getting from IdentityServer3"
Hi I  amusing ASP.NET CORE WEB API 2.0 project.
and my Identity solution build on IdentityServer3. While validating access token, identityServer3.AccessTokenvalidation not supported in .NET Core 2.0 platform. How to rectify this issue.

[2018-11-01 21:33] muratg commented on #1886
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-11-01 21:33] #1886 closed

[2018-11-01 21:34] muratg commented on #1884
We're not planning to do this.

[2018-11-01 21:34] #1884 closed

[2018-11-01 21:36] muratg commented on #1577
@swlasse Yes, this is by design.

[2018-11-01 21:38] blowdart commented on #1890
So history time, require user name was there to support migration from older systems like webforms, where the auth was against an AD/domain where the check was against a SID.

In all honesty it's there for back compat, no-one should be hardcoding usernames into their code any more, and certainly not against social providers where multiple providers where an account name or other identifier may not

[2018-11-01 22:56] hvanbakel commented on #1884
@blowdart I'm assuming you're still writing something up how to do DI here, right?

[2018-11-01 23:18] blowdart commented on #1884
Oh lord apologies, I forgot to update you on that. So, we had a bunch of discussions about it and the devs slapped me with a clue stick. The context passed through to every delegate has the ability to access the DI container, so rather than mess around with having derived classes which creates problems if you have multiple instances of an authentication type (you'd need separate derived classes pe

[2018-11-02 01:53] hvanbakel commented on #1884
Agreed that this works, this and DI however are 2 separate things, agreed?

This logic all happens in AddServices, which is problematic in a net core world. I want to be able to inject things like options/different services all with different dependencies that are valid at runtime.

The current setup requires me to resolve things every single time when a method executes which I feel is very contra

[2018-11-02 05:54] yucelakpinar commented on #1874
I updated my code to create a local account for external users, than sign-in them with local user account. With this way my problem is looks solved.

[2018-11-02 05:54] #1874 closed

[2018-11-03 19:14] Fosol opened #1900 "Oauth MicrosoftAccount Token Request Issue"
I'm trying to figure out how to configure oauth with a MicrosoftAccount.

Within the `Microsoft.AspNetCore.Authentication.OAuth` project, in the `OAuthHandler.ExchangeCodeAsync(...)` function it creates a `tokenRequestParameters` Dictionary.

[code]

My application on Azure requires that I include a `resource` parameter  with my application Id.  It would appear that your code doesn't allow modifyi

[2018-11-03 21:48] Fosol commented on #1900
I was able to configure the app on Azure to by-pass this issue.  Microsoft is no longer requesting the `resource` parameter.

While I no longer require the ability to do this at this time, I do see an issue with the implemented design if there is no way to include Oauth parameters when making token requests.

[2018-11-04 04:10] jarrettv opened #1901 "OAuth redirect_uri using http instead of https on Azure App Service Linux"
I believe this is a problem with https being handled up to the nginx layer and kestrel getting http traffic. It confuses the `BuildRedirectUri` and it uses the scheme (http) resulting in the wrong redirect_uri sent to the OAuth provider.

For providers that allow http redirect, it is no problem but some require https like facebook.

It doesn't look like you can easily fix the redirect_uri because

[2018-11-04 04:54] Fosol commented on #1900
Well just my luck...  Azure is asking for the `resource` parameter again.  Not sure why, or what changed.

[2018-11-04 05:01] Fosol commented on #1900
It appears to be related to which authorization and token endpoints are used.  There are two available.
[code]
These require a `resource` parameter below;
[code]

[2018-11-04 05:39] Tratcher commented on #1900
We switched to the v2 endpoints a long time ago. Why are you using the v1 endpoints?
https://github.com/aspnet/Security/blob/32177cad1eb1eb6be8ad89a7dba1a1637c0d0786/src/Microsoft.AspNetCore.Authentication.MicrosoftAccount/MicrosoftAccountDefaults.cs#L13-L15

[2018-11-04 05:41] Fosol commented on #1900
First time hooking the Oauth up to Microsoft.  Just copied the values from the Azure Portal.  They have both there.

[2018-11-04 05:43] Tratcher commented on #1900
Are you not using the pre-built Microsoft.AspNetCore.Authentication.MicrosoftAccount? It handles these things for you.

[2018-11-04 05:45] Tratcher commented on #1901
There's middleware for dealing with x-forwarded-proto. See [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#other-proxy-server-and-load-balancer-scenarios).

[2018-11-04 05:48] Fosol commented on #1900
I was not using it originally no.  When I did, it was not working for me (for other reasons).  So I was manually setting things up.  Had copied the endpoints from Azure Portal and got to the `resource` issue.  Which I was able to resolve by setting the parameter manually.  I do have the pre-built one now working though.

Might be useful to highlight the old endpoints don't work.  While it might be

[2018-11-04 05:51] #1900 closed

[2018-11-04 13:55] jarrettv commented on #1901
@Tratcher thanks for the reply. i've already tried the forward headers middleware. Perhaps it is an issue with the nginx side in Azure.

This seems like something that should work out of the box on Azure.

If I try to fix the redirect_uri on the fly, it breaks since it is protected. But i captured the headers from the exception in case that helps.

[code]

[2018-11-04 16:00] Tratcher commented on #1901
Do you have XForwardedFor turned on? That's usually what trips people up as it requires extra configuration in some setups. If you reverse proxy is not on the same box then you need to set KnownProxies or KnownNetworks.

[2018-11-04 16:00] swlasse commented on #1577
@muratg Thanks for confirming this. It would be great to understand why it is like this though. Why not short-circuit immediately without invoking any AuthenticationHandlers?

[2018-11-04 16:01] Tratcher commented on #1901
Yeah, we're working on that... https://github.com/aspnet/AzureIntegration/issues/176

[2018-11-04 16:14] Tratcher commented on #1577
@HaoK the description here is the opposite of what we discussed AllowAnonymous _isn't_ overriding Authorize like it's supposed to.

[2018-11-04 16:18] muratg commented on #1577
@Tratcher isn't this what we want?

You don't want to accidentally allow anonymous access to a random API method if you have Authorize at the class level IMO.

Opposite sounds fine to me... i.e. class is anonymous, and you add additional Authorize requirements at the method level.

[2018-11-04 16:21] Tratcher commented on #1577
AllowAnonymous has always trumped, but what they bring up here is that Authorize runs anyways and they gets discarded. Why does Authorize run at all?

[2018-11-04 17:06] jamirais8 opened #1902 "jamirais8"
All to me

[2018-11-04 17:08] jarrettv commented on #1901
I do have XForwardedFor. Here is my startup file, in full:
[code]

[2018-11-04 18:05] HaoK commented on #1577
Oh this is the bug where multiple filters were running, that's why we added the new flag that was turned on by default in 2.1, CombineAuthorizeFilters

https://github.com/aspnet/Mvc/pull/7129

[2018-11-05 04:18] jarrettv commented on #1901
here is what i landed on that seems to work. I'd need an Azure engineer to tell me what the known proxies or known networks are.

[code]

[2018-11-05 10:10] justlearntutors commented on #1898
I see a response with a new cookie after a sign in call always. The cookie does never change. Sometimes, the authentication is not working. It seems like the server is not reading the cookie.

When I restart the application pool, the authentication is working fine.

If the application pool run for <4 hours, the authentication is becoming buggy.

[2018-11-05 10:20] justlearntutors commented on #1898
Video with example. https://drive.google.com/file/d/1zxsp-N_PeuQSPGgXWB75MNJDSgsBsnN3/view

[2018-11-05 16:02] Tratcher commented on #1901
Note RequireHeaderSymmetry = false has been the default for several releases.

[2018-11-05 16:02] Tratcher commented on #1901
Closing as a duplicate of https://github.com/aspnet/AzureIntegration/issues/176

[2018-11-05 16:02] #1901 closed

[2018-11-07 07:36] amitsharma2912 opened #1904 "Is there a way to Decrypt encrypted SAML token??"
IDX30011: Unable to read XML. Expecting XmlReader to be at ns.element: 'urn:oasis:names:tc:SAML:1.0:assertion.Assertion', found: 'http://www.w3.org/2001/04/xmlenc#.EncryptedData'.

 at Microsoft.IdentityModel.Xml.XmlUtil.CheckReaderOnEntry(XmlReader reader, String element, String namespace)
   at Microsoft.IdentityModel.Tokens.Saml.SamlSerializer.ReadAssertion(XmlReader reader)
   at Microsoft.Ide

[2018-11-07 13:43] blowdart commented on #1904
@brentschmaltz ?

[2018-11-07 13:54] rajeshaz09 opened #1905 "Session's IdleTimeout - User based setting"
As of now Session middleware works like singleton. Is there a way to set/update session idletimeout after user login?  I would like to match this with cookie-auth token's sliding expiration.

[2018-11-08 10:33] justlearntutors commented on #1898
How can I troubleshoot the issue?

[2018-11-08 10:46] justlearntutors commented on #1898
The issue is session. View video: https://www.youtube.com/watch?v=cLUuDNxeYYw

[2018-11-08 11:02] justlearntutors commented on #1898
What is the default IOTimeout for session? https://docs.microsoft.com/de-de/dotnet/api/microsoft.aspnetcore.builder.sessionoptions.iotimeout?view=aspnetcore-2.1

[2018-11-08 13:42] rasitha1 commented on #1904
Looks like [SamlSecurityTokenHandler.ValidateToken](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/236bf92594832bc6393aa9f34be3a0dc370bae8b/src/Microsoft.IdentityModel.Tokens.Saml/Saml/SamlSecurityTokenHandler.cs#L1111) is expecting a plain text token(?). It doesn't seem to have any decryption support.

Maybe you have to override that and provide your own

[2018-11-08 22:11] Eilon commented on #1898
@justlearntutors thanks for sharing the videos, we will take a look and let you know what we find.

[2018-11-08 22:15] justinhelgerson opened #1906 "Set redirect from authorization handler"
I'm creating an `AuthorizationHandler`  to handle authorization to one of my controllers.  If the requirement isn't met, I'd like to redirect the user based on route data in the request.  I can achieve this with some ugly code in the cookie `OnRedirectToAccessDenied` method, but I'd like to define it as part of my handler since it seems like a natural place to define this.

I tried putting somethi

[2018-11-08 22:18] Eilon commented on #1892
Closing because no further action is planned on this issue. This is how OIDC works and it is best to try to keep tokens to a smaller size.

[2018-11-08 22:18] #1892 closed

[2018-11-08 22:20] Eilon commented on #1577
This issue should be addressed in 2.1 based on the previous comment.

[2018-11-08 22:20] #1577 closed

[2018-11-08 22:29] blowdart commented on #1906
Authorization policies are completely separate from UI concerns. If policy evaluation fails we flow up to the authentication handler which takes care of the response, be it a redirect (for web pages), a 401 or 403 for apis or redirects for things like ADFS/OIDC.

So this isn't the right place to do this, you'd set the forbidden action on the authN handler.

[2018-11-08 22:30] HaoK commented on #1883
allowedValues is fine

[2018-11-08 22:36] u-abramchuk opened #1907 "AspNet.Identity doesn't respect LowercaseUrls"
Hi,

I have an application base on IdentityServer4 and AspNet.Identity. I use the following configuration to make all URLs lowercase:
[code]
But after the latest update (from Microsoft.AspNetCore.Identity v2.0.1 to v2.1.1) URL pointing to login page '/account/login' started to appear in pascal case like '/Account/Login'.

After some investigation I found that exact place where this string comes fr

[2018-11-08 22:56] justinhelgerson commented on #1906
Thanks @blowdart.  That separation makes sense.

Is the `OnRedirectToAccessDenied` event of the cookie authentication handler really the best spot for this then?  It felt a little clunky with not having access to the `IActionResult` implementations.

[2018-11-08 22:57] blowdart commented on #1906
Yea, we've had that feedback, finding a better way to flow information out is on the backlog.

[2018-11-08 23:05] blowdart commented on #1906
Linking to https://github.com/aspnet/Security/issues/1359

[2018-11-08 23:43] Tratcher commented on #1907
These components don't use routing to generate urls (yet, @JamesNK), so there's no expectation that the route options would apply.

[2018-11-09 00:04] justinhelgerson commented on #1906
Got it, thanks for the info.  I'll stick with my string parsing event handler then.  Hopefully this will bubble up to a release in 2019.

[2018-11-09 00:04] #1906 closed

[2018-11-09 14:13] benmccallum commented on #1883
PR up with allowedValues. Cheers!

[2018-11-09 17:46] OndeVai commented on #1175
@BizarroDavid This will work for securing the API, but not for the hybrid flow for and MVC client described above ---this is because the MVC client needs to triple hop:
1) Make a server-side request to the Discovery endpoint
2) Make a server-side request to the JWKS endpoint
3) Make a client-side request to the Authorization endpoint
All need 3 need to happen using the same domain for auth to be s

[2018-11-09 19:38] brentschmaltz commented on #1904
@blowdart @amitsharma2912 @rasitha1 we only support signed saml tokens in 5.3.0.
@GeoK is working on allowing encrypted tokens.

[2018-11-10 14:01] blowdart commented on #1904
As this is currently "by design", or really "we don't support this yet", I'm closing the issue.

[2018-11-10 14:01] #1904 closed

[2018-11-11 08:41] justlearntutors commented on #1898
https://stackoverflow.com/questions/39588718/how-to-keep-user-login-in-to-system-and-logout-only-after-user-clicks-on-logout

I had the same problem and I was really confused because without any reason user was redirected to login page means that he wasn't authorized. I had changed the timeout to more than 8 hours but nothing was changed. After reading many pages such as Aspnet unexpected logout o

[2018-11-11 10:38] HaoK commented on #1898
Cool so the issue was one of your machine keys was not the same as the rest of your machines?

[2018-11-11 10:55] justlearntutors commented on #1898
The issue is still there. I copied the answer from Stackoverflow. Have not tried to change the machine key yet. Do you have any ideas for solution?

[2018-11-11 10:57] justlearntutors commented on #1898
I use 1 server for entire website. The session data is stored in remote redis.

[2018-11-12 07:45] amitsharma2912 commented on #1904
Any idea when this functionality will be available ??? What else can i do to support this for now??
As this is the only functionality hindering our migration.

[2018-11-12 16:55] Tratcher commented on #1904
@amitsharma2912 https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/ is a better place for that question, that's where the implementation will happen.

[2018-11-12 17:47] patrick-hampton-avalara opened #1909 "chunkingcookiemanager leaks unused chunks"
There seems to be a bug in Microsoft.AspNetCore.Authentication.Cookies.ChunkingCookieManager when used in conjunction with CookieAuthentication.  What I've seen is that as the size of the Authentication cookie changes the number of chunks needed to the accommodate the cookie data will change as well.  If the number of cookies needed decreases, then chunks that are no longer needed are not being cl

[2018-11-12 17:53] Tratcher commented on #1909
What triggers the resize, a direct call to SignIn? The workaround would be to preceed that with a call to SignOut.

[2018-11-12 19:13] patrick-hampton-avalara commented on #1909
I haven't actually been able to diagnose that yet, because it doesn't happen consistently.  What I can say is that it's not tied to a SignIn or SignOut action because the users are in the middle of an active session using the application.  This leads me to believe/fear, that something else in one of the middle-ware's is manipulating and dropping some of the claims in the Authentication Ticket, but

[2018-11-13 17:13] yngndrw-sage commented on #1598
@Eilon Sorry to bump this issue, but I'm unsure about this being a functional breaking change.

As it stands right now an `AuthorizationHandler` implementation will not be aware of a cancelled request and therefore will continue processing regardless. With the proposed change of adding the cancellation token to the `AuthorizationHandlerContext`, an implementation which does not check this property

[2018-11-13 17:50] swlasse commented on #1577
I might be missing something here, but I am curious to know what is the answer to what @Tratcher points out?

I see there is pull request referenced, but I am not entirely sure how that relates to this?

[2018-11-13 18:41] patrick-hampton-avalara commented on #1909
I've figured out why the Authentication Cookie is changing size.  We're using OIDC and OAuth in our application, OIDC to manage login, and OAuth to call services outside the application.  For this to work, we had to implement code to perform sliding expiration on the Access Token used in the OAuth flow so that we would always have a valid access token during a valid application session.

The servi

[2018-11-13 21:15] patrick-hampton-avalara commented on #1909
As far as I know SignIn doesn't come into play.  The refresh logic happens in the OnValidatePrincipal event of the CookieAuthenticationOptions.  The tokens are then updated on the AuthenticationProperties of the CookieValidatePrincipalContext using the StoreTokens method.

[2018-11-13 22:00] Tratcher commented on #1909
Ah, you set CookieValidatePrincipalContext.ShouldRenew?

[2018-11-13 22:06] HaoK commented on #1883
Merged into master for 3.0, thanks @benmccallum !

[2018-11-13 22:06] #1883 closed

[2018-11-13 22:28] patrick-hampton-avalara commented on #1909
No.  We're not explicitly renewing the cookie in the event because we set SlidingExpiration to true when we setup the Cookie Authentication Middleware.  Keeping in mind that we're using OIDC to log in via an identity provider then using the AccessToken provided by that identity provider to call Api's that are external to the application, but secured by the same IdentityProvider.  The application i

[2018-11-14 02:47] Tratcher commented on #1909
Updating properties is fine, but those changes arn't saved anywhere unless you call SignIn or ShouldRenew. You could get lucky and make this change on a request that naturally triggers a sliding refresh, but don't count on it.

[2018-11-14 09:10] Abrynos opened #1910 "JWT payload "unique_name" not mapped correctly"
Currently i'm writing a project for university using JWT-Authentication. When creating JWTs in my TokenManager i add a claim with the type `JwtRegisteredClaimNames.UniqueName` which is just `"unique_name"` . In my Controllers now i try to get the unique name of the user sending the JWT with `HttpContext?.User?.Claims?.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.UniqueName)?.Value` which

[2018-11-14 14:05] ChrisSwinchatt opened #1911 "Core 2.1 PolicyScheme - What to do if there is no matching scheme?"
Hi all,

Loving ASP.Net Core so far but run into an issue I don't know how to solve. I'm using a PolicyScheme ForwardDefaultSelector to catch the "Bearer" scheme and delegate to other schemes dynamically, which works when there's a match, but I haven't been able to find out what to do if none of the schemes match and I want to say "this can't be authenticated". As a workaround I created a "Null" h

[2018-11-14 15:06] patrick-hampton-avalara commented on #1909
Ah, I did find where we're calling ShouldRenew, it's just one layer up in the stack from where the code above was.  Anyway, I think we've gotten a little side tracked.  Thinking about the SingOut + SignIn workaround you mentioned, I assume SignOut will expire the old cookie followed by SignIn to issue a new one.  Are there other side effects we should be aware of if we go that route?

[2018-11-14 16:03] Tratcher commented on #1909
Note SignOut will apply a redirect in some [scenarios](https://github.com/aspnet/Security/blob/42dd66647dd389c242ff796a530b880c7b9d7a90/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L369).

I guess you could also call DeleteCookie directly:
https://github.com/aspnet/Security/blob/42dd66647dd389c242ff796a530b880c7b9d7a90/src/Microsoft.AspNetCore.Authentication.Cooki

[2018-11-14 18:24] Tratcher commented on #1910
That mapping is configured here:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d2361e5dcd1abbf6d0ea441cdb2e7404166b122c/src/System.IdentityModel.Tokens.Jwt/ClaimTypeMapping.cs#L61

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d2361e5dcd1abbf6d0ea441cdb2e7404166b122c/src/System.IdentityModel.Tokens.Jwt/JwtSecur

[2018-11-14 18:49] Abrynos commented on #1910
Thanks for pointing it out, although it doesn't make sense having to do that in the first place IMHO

[2018-11-14 18:49] #1910 closed

[2018-11-15 10:46] fabercs opened #1912 "."
.

[2018-11-15 10:47] fabercs opened #1913 "HttpContext.SignInAsync sets null to Identity claims data"
### Describe the bug
In my project, I want to make use of the cookie based authentication without using the identity infrastructure. I have my own user,role and claim tables. So I was following [this](https://docs.microsoft.com/tr-tr/aspnet/core/security/authentication/cookie?view=aspnetcore-2.1#create-an-authentication-cookie).

Our project is in a tfs repo. When any member in the team tries to r

[2018-11-15 11:18] #1912 closed

[2018-11-15 11:38] fabercs commented on #1913
I guess the User in HttpContext is not being set yet in ongoing request.  It is filled up on subsequent requests, I saw that by changing the last line in UserSessionMiddleware
`await _next.Invoke(context);`
to
`context.Response.Redirect("Home")`

If this is the case, is above approach a sensible way to make this work (making a 302 request) for my case?

[2018-11-15 15:59] Tratcher commented on #1913
Indeed, SignIn only affects future requests. You could set HttpContext.User yourself for the current request.

[2018-11-15 16:09] MSAppsDev opened #1914 "angular client and aspnet core api ws-federation"
Hi,
Anyone implemented WS-Federation authentication with Angular client and aspnet core api? I have on-prem ADFS with WS-Federation sign in protocol returning JWT. I am planning to authenticate the user in aspnet core api and return accesstoken to angular, then pass token on each call to api.

I am able to login thru adfs sign on page but not getting the token back. How to get the token in api onc

[2018-11-15 17:07] fabercs commented on #1913
got it, simply solved, thank you!!

[2018-11-15 17:07] #1913 closed

[2018-11-15 22:20] Eilon commented on #1914
Unfortunately at this time that scenario is not directly supported. You can probably use IdentityServer in the middle to handle this flow, but it isn't built-in to ASP.NET Core at this time.

@blowdart - feature request. Can discuss more when you're back.

[2018-11-15 22:32] Eilon commented on #1909
This certainly sounds like a bug. It would make sense for the cookie manager to clean up unnecessary cookies as part of setting the new cookies.

[2018-11-15 22:51] patrick-hampton-avalara commented on #1909
Quick follow up.  For a workaround I did try using DeleteCookie prior to calling AppendCookie, I actually ended up wrapping ChunkingCookieManager in a new implementation to do this inside the new classes AppendCookieMethod and setting the new class as the CookieManager in startup.  Anyway, This worked great locally, but when we deploy to our AWS env's it caused issues.  It appears the order in whi

[2018-11-16 03:32] treborgero commented on #1853
t

[2018-11-16 09:32] ChrisSwinchatt commented on #1911
@Eilon

The health check is an MVC controller endpoint rather than a separate middleware. I tried adding the MVC middleware before the authentication middleware, but it was still trying to authenticate them. IIRC JWT bearer authentication doesn't even require a(n explicit?) call to `IApplicationBuilder.UseAuthentication()`.

[2018-11-16 13:54] MSAppsDev commented on #1914
@Eilon, thanks for looking into this. Currently i am stuck on getting the accesstoken in api after user is successfully logged in, AD FS is redirecting to my api/singin-wsfed then its erroring out. I tried to set the callbackpath and also wreply but its not going in there, not sure whats wrong here. Any pointers or examples on how to use identityservers to achieve this scenario will be of great he

[2018-11-17 09:04] justlearntutors commented on #1898
Are there any updates?

[2018-11-17 09:32] justlearntutors commented on #1898
I think that the bug is aspnet/Session. I tried to save data using HttpContext.Session.SetString("test", "343"). When I view a page, string TestData = HttpContext.Session.GetString("test"). Displayed 343. When authentication was not working, displayed empty.

[2018-11-17 09:36] justlearntutors commented on #1898
Is the order correct?

public void Configure(IApplicationBuilder app, IHostingEnvironment env)
{
    if (env.IsDevelopment())
    {
        // app.UseBrowserLink();
        app.UseDeveloperExceptionPage();
    }
    else
    {
        app.UseExceptionHandler("/Home/Error");
    }

    app.UseCookiePolicy();

    app.UseAuthentication();

    app.UseSession();

    app.UseResponseCompression();

[2018-11-17 23:36] jjkesinger commented on #1755
I'm having the same issue and tried these fixes but no luck. The problem I see is the correlation cookie is not being set (tried in IE, Edge, Chrome, Firefox) even though the forward response to the oauth provider does have the set-cookie header. I've set the DataProtection to a static location so the same key is used, tried, the cookie policy, https redirection, but nothing seems to set the cooki

[2018-11-18 02:43] DwaynesWorld commented on #1755
@jjkesinger, could it be related to the samesitemode of the cookies. I see the same site mode is set to strict.

[2018-11-18 03:43] jjkesinger commented on #1755
@DwaynesWorld that was it. Thanks.

[2018-11-19 08:57] blowdart commented on #1914
This would be a question best aimed at the ADFS folks, configuring this is very version dependent and honestly I have no knowledge here. If you're getting a JWT then you should be able to configure the JWT middleware to point to ADFS to get the keys in much the same way we do for AAD, but we can't do any autodiscovery it'd all be manual. You wouldn't be using WS-FED here, not really, you'd should

[2018-11-19 11:31] ChrisSwinchatt commented on #1911
@blowdart

They are being logged as info-level so we would have to set the log level to warning to filter them out, which is no good, even in production.

[2018-11-19 11:34] blowdart commented on #1911
Well it is an information message :) You could create an anonymous scheme I guess and default to that, we didn't really consider not having any matching schemes at all

[2018-11-19 12:05] ChrisSwinchatt commented on #1911
@blowdart

I (think I) did that, if I'm not mistaken. I created an authentication scheme with the key "Null" and have my policy scheme return "Null" to redirect to that scheme. It always returns `AuthenticationResult.NoResult()` but this results in the message "Null was not authenticated".

Thank you anyway. I'm using Ocelot to select the scheme so don't need the policy scheme at the moment, just

[2018-11-19 15:28] karthik25 opened #1917 "Handling incomplete remote signouts"
I have an identity server which supports multiple open id providers one of which is B2C. After I upgraded the application from .net core 1.1 to .net core 2.1, the signout redirects have stopped working. The application reaches the `signout-callback-oidc` handler and stops there with an empty page with no information about what went wrong.

The production instance that uses .Net 1.1 instance still

[2018-11-19 16:10] Tratcher commented on #1917
Can you share a Fiddler trace file showing the signout flow?

[2018-11-19 17:11] karthik25 commented on #1917
@Tratcher Thanks for responding. Can I send the fiddler traces privately?

[2018-11-19 17:15] Tratcher commented on #1917
Yes

[2018-11-19 17:37] Tratcher commented on #1917
Hmm, it looks like it doesn't redirect because it's missing the RedirectUri within the state field. Oddly that hasn't changed between [1.1](https://github.com/aspnet/Security/blob/45d7edc7c76a5f4a63cd9a93e89eec548afe5fc3/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L264-L278) and [2.1](https://github.com/aspnet/Security/blob/7e14b052ea9cb935ec4f5cb0485b4edb5d41297a

[2018-11-19 18:08] karthik25 commented on #1917
I did try out the following too as a last resort earlier. Interestingly the callback was never invoked.

[code]

Even more interesting fact is that this does not happen in my development environment. That makes it more difficult to debug.

[2018-11-19 19:02] karthik25 commented on #1917
@Tratcher I was also wondering if the state query parameter passed to b2clogin.com had the redirect uri. `post_logout_uri` is plain text, so that seems fine. Is it getting lost when its passed on to `https://our-id-server/signout-callback-oidc?state=` ?

Is there an online utility where this state can be decoded? May be a naive question, I did not find one online and never had had to decode it unt

[2018-11-19 19:12] Tratcher commented on #1917
No, it's encrypted. It's only readable as the AuthenticationProperties collection in your OIDC events.

[2018-11-19 19:34] karthik25 commented on #1917
@Tratcher Makes sense, I am adding more logging to see if I can figure out what's happening. While I am doing that I was wondering about the following:

* Any ideas as to why `OnSignedOutCallbackRedirect` never gets invoked? Since its a new event, google is not of much help
* Can I override the behavior (of the signout-callback-oidc handler) if the `state` parameter does not have the redirect uri

[2018-11-19 19:36] Tratcher commented on #1917
- No, you'd have to figure out who else handled it, or debug through it. Do you have more than one OIDC instance?
- Yes, in OnSignedOutCallbackRedirect.

[2018-11-19 19:55] karthik25 commented on #1917
@Tratcher Yes, I tried hooking in to OnSignedOutCallbackRedirect for another provider that works fine and that did not get called either. I will have to see why. And regarding the 2nd question, I was hoping for something else apart from that since OnSignedOutCallbackRedirect is not getting invoked. But let me keep investigating. Let me leave the issue open until I know more. Thanks!

[2018-11-19 21:49] karthik25 commented on #1917
@Tratcher Okay, I still have no idea why the callback is not invoked. Also I am sure the redirect uri is set before the external sign out is initiated as shown below:

[code]

I can see the redirect url in the log, its about **988 bytes**. Is that causing issues may be? After this step the `oauth/v2.0/logout` endpoint is called. So I am sure the state includes it. Wondering why `signout-callback-o

[2018-11-19 22:08] #1631 closed

[2018-11-19 22:22] HaoK commented on #1898
@Tratcher does authentication affect session at all?  After watching the vids, did you rename the application cookie to be jluserid or is that your own custom thing?

What's your ConfigureServices look like?

[2018-11-19 22:51] Tratcher commented on #1898
Auth and session have no connection.

[2018-11-20 12:47] JohnGalt1717 commented on #1132
Where's this at? Is this now possible? Is there documentation on how to do it? I need to be able to add/remove these via a UI without having to restart our api layer every time.

Thanks!

[2018-11-20 12:53] JohnGalt1717 commented on #1179
All I want to do is be able to remove an openidconnect endpoint that was added with .AddOpenIdConnect and then do another .AddOpenIdConnect in a controller based on a secured request from admin. That's it.

Same for .AddWsFederation for SAML2.

I don't think it needs to be any more complex than that. Let us add/remove at runtime not just during setup and life would be good because we wouldn't have

[2018-11-20 13:53] Tratcher commented on #1179
@JohnGalt1717 you can do that. See this sample: https://github.com/aspnet/AspNetCore/tree/5a6b6c90b6e32ecab4975c546228cc63199f168b/src/AuthSamples/samples/DynamicSchemes

[2018-11-20 13:54] Tratcher commented on #1132
Here's a sample: https://github.com/aspnet/AspNetCore/tree/5a6b6c90b6e32ecab4975c546228cc63199f168b/src/AuthSamples/samples/DynamicSchemes

[2018-11-20 15:39] justlearntutors commented on #1898
"After watching the vids, did you rename the application cookie to be jluserid or is that your own custom thing?"
- Tried to rename the application cookie. It did not solve the problem.

"What's your ConfigureServices look like?"
public void ConfigureServices(IServiceCollection services)
{
    services.AddLocalization(options => options.ResourcesPath = "Resources");

    services.AddMvc();

    se

[2018-11-20 16:37] JohnGalt1717 commented on #1179
@Tratcher how would one add standards WsFederation or OpenIdConnect without having to implement the whole thing themselves?

From what I can tell from the sample which doesn't implement anything really, is that I'd have to do the entire thing manually this way.

Any help would be greatly appreciated.  Basically I need to be able to do exactly what AddWsFederation and AddOpenIdConect do on the Auth

[2018-11-20 18:24] MSAppsDev opened #1918 ".net core api authentication using ws-federation"
My .net core api is calling on-Prem ADFS (WS-Federation sign-in protocol) for authentication but context.User is always null after successful login. Below is my Startup.cs
[code]
I see that IDP is redirecting to my api and returning wresult with the token value but when i try to access context.User, it is null.

Any pointers on whats wrong here?

[2018-11-20 19:32] HaoK commented on #1898
Everything looks fine there, at this point we really need a minimal repro that we can actually run ourselves to debug the behavior, but its likely something else that's causing unexpected users to show up in your cookies.

The authentication logic is pretty straight forward, it just decodes the cookie it gets and sets the result into HttpContext.User.

But If you are seeing weird behavior with you

[2018-11-20 20:15] Tratcher commented on #1918
Can you share the Fiddler trace file?

Note WsFed is not appropriate for most API usage, JwtBearer is much better here.

[2018-11-20 20:19] Tratcher commented on #1917
I was not able to decode the contents of the state field, I only inferred the missing field from the code. Since you have multiple OIDC providers you'll want to give them different SignedOutCallbackPath value. Otherwise they will conflict and the first one registered will handle the requests.

[2018-11-20 20:35] Tratcher commented on #1179
It is a little lower level code than you do in Startup, but you can re-use all of the implementation code.
Compare the [sample](https://github.com/aspnet/AspNetCore/blob/5a6b6c90b6e32ecab4975c546228cc63199f168b/src/AuthSamples/samples/DynamicSchemes/Controllers/AuthController.cs#L32) here.

For OIDC it would be something like this:
[code]

[2018-11-20 21:19] karthik25 commented on #1917
The callback gets called now! I am setting the `SignedoutCallbackPath` for all of my open id providers now. Did not face any issue in .net core 1.1 where I only was setting the `CallbackPath`. So this never occurred to me! I cannot thank you enough, really, was about to go mad. If at all you are in Baltimore beer is on me :)

[2018-11-20 21:19] #1917 closed

[2018-11-20 22:41] ryno1234 opened #1919 "JWT Bearer middleware support for error_description other than built-in."
The current `JwtBearerHandler` creates an error description that can be returned via the `WWW-Authenticate` HTTP header as `error_description`. Currently this is provided via the following function

	private static string CreateErrorDescription(Exception authFailure)
	{
		IEnumerable<Exception> exceptions;
		if (authFailure is AggregateException agEx)
		{
			exceptions = agEx.InnerExceptions;
		}

[2018-11-21 03:14] mscrivo commented on #1666
Thanks @Mertsch that helped a lot.  Here's my condensed version that works with NUnit, if it helps anyone at all:

[code]

[2018-11-21 11:58] justlearntutors commented on #1898
Unexpected users have not been a problem for <3 weeks.

Auth and session is working randomly. When auth and session is not working, I refresh the page multiple times. Sometimes it works and sometimes it does not work.

I tried to use a redis server from Azure. It did not solve the problem. I tried to use in-memory storage. It did not solve the problem.

How can I look into app.UseSession?

[2018-11-21 13:49] justlearntutors commented on #1898
I use a web farm for the website

[2018-11-21 14:10] justlearntutors commented on #1898
Session and auth does not use the DistributedRedisCache?

[2018-11-21 16:08] Tratcher commented on #1898
Web Farm instructions:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/web-farm?view=aspnetcore-2.1

[2018-11-23 23:51] PrefixAM opened #1920 "AuthenticationProperties object is not passed to ChallengeAsync / ForbidAsync"
AuthenticationProperties object is not passed to ChallengeAsync / ForbidAsync.
AuthorizationMiddleware calls policyEvaluator.AuthenticateAsync method that returns AuthenticateResult object. That object has a property AuthenticationProperties that can be populated with the authentication data (AuthenticationProperties.Items, AuthenticationProperties.Parameters, AuthenticationProperties.RedirectUri

[2018-11-24 20:32] rasitha1 commented on #1918
@MSAppsDev  fyi your code sample works just fine for me on ADFS 2016.

[2018-11-24 20:45] MSAppsDev commented on #1918
@rasitha1, i am trying it on adfs 2012.

[2018-11-24 22:14] rasitha1 commented on #1914
If you are on ADFS 2016, use OIDC and everything should work as expected and a lot easier. And you have the option to do pure client-side auth as well.

If you are on ADFS 2012 or below, did you try the default AddWsFederation() setup? Since you can't use client-side auth, whether you use a JWT or the default SAML/RSTR makes no difference. Once the user is signed in, you might be able to create a

[2018-11-26 18:40] Tratcher commented on #1920
What information are you flowing in this scenario? It's not clear that the AuthProperties from a prior sign-in apply to a new challenge.

[2018-11-26 23:41] PrefixAM commented on #1920
1. AuthenticationHandler.HandleAuthenticateAsync
    {
      //properties.Items or properties.Parameters are populated with authentication errors
      return AuthenticateResult.Fail( ex, properties );
    }
2. AuthorizationHandler.HandleRequirementAsync
    {
      // evaluate requirements, if requires authenticated user then
      return context.Fail()
    }
3. AuthenticationHandler.HandleChalle

[2018-11-26 23:54] Tratcher commented on #1920
What kind of auth are you using this with? JwtBearer? That's likely the only scenario where the flow you describe makes sense. For other flows like OpenIdConnect or OAuth the sign-in happens on an independent series of request and the end result is an authenticated user stored in the auth cookie. Any errors there would never reach the Authorization middleware.

[2018-11-27 08:47] jan-inimco opened #1921 "AzureADB2CBearer scheme and JwtBearer scheme"
Hi,

I want to add 2 JWT bearer authentication schemes to my authentication pipeline, one using azure B2C generated tokens and one using locally generated tokens.

If I add the 'b2cBearer' scheme **BEFORE** I add the 'localBearer' scheme I **CAN** use _PostConfigure<JwtBearerOptions>("jwtB2cBearer")_ to configure the JwtBearerOptions for the 'b2cBearer' scheme. The correct JwtBearerOptions instanc

[2018-11-27 09:52] justlearntutors commented on #1898
I added the codes below to ConfigureServices.

[code]

The authentication and session data has been working perfectly.

[2018-11-27 11:45] dallancarr commented on #1921
Looking at the code it already configures JwtBearer, so you only need to align the scheme and place the logic in the PostConfigure.

https://github.com/aspnet/AADIntegration/blob/master/src/Microsoft.AspNetCore.Authentication.AzureADB2C.UI/AzureAdB2CAuthenticationBuilderExtensions.cs#L49

[2018-11-27 12:01] jan-inimco commented on #1921
Thank you for the reply. But I think I do exactly what you say, no?

If I add the 'b2cBearer' scheme **BEFORE** I add the 'localBearer' scheme then in the PostConfigure delegate the JwtBearerOptions.ValidAudience property **IS** set correctly (as expected because info is passed via AzureADB2COptions).

If I add the 'b2cBearer' scheme **AFTER** I add the 'localBearer' scheme then in the PostConfigu

[2018-11-27 12:44] dallancarr commented on #1921
Try using `JwtBearerOptionsConfiguration`

[2018-11-27 12:46] jan-inimco commented on #1921
I'd love to but the class is internal

[2018-11-27 12:49] dallancarr commented on #1921
Ha. Didn't notice. This is slightly awry.  🙄

[2018-11-27 13:31] dallancarr commented on #1921
Just check ordering around for the call to `AddAzureADB2CBearer`

[2018-11-27 15:31] MSAppsDev commented on #1918
unfortunately i cannot use ad fs 2016, our Ops team setup ws-federation sign-in emitting jwt on ad fs 2012. Here is the response i am getting after entering credentials in login page.
 <t:RequestSecurityTokenResponse xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">
<t:Lifetime><wsu:Created xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">2018-11-

[2018-11-27 18:10] PrefixAM commented on #1920
OIDC \ OAuth are already implemented protocols, they implement RemoteAuthenticationHandlers that handle responses and throw errors if needed.

In my case it's just a custom token based authentication. I implement an AuthenticationHandler, define my own authentication rules and return AuthResults. So yes, that issue applies to the cases when someone implements their own authentication.

[2018-11-27 18:54] Tratcher commented on #1920
Ok. Aside from the auth error scenario we have to consider what impact this would have for users that were successfully authenticated but not authorized. There may be quite a bit of state in there that's not applicable to a new login flow, or worse would conflict with it.

E.g. cookie auth stores timeout information in the auth properties. If you pre-set some of that it may confuse it.

[2018-11-27 18:55] Tratcher commented on #1920
@HaoK has a broader issue tracking how to cleanly report authN and authZ errors.

[2018-11-27 19:20] HaoK commented on #1920
I don't think it generally makes sense to flow properties like this, as @Tratcher mentions, they are meant as a way to flow additional properties for an individual auth operation.  In case of a custom handler that wants this behavior, it seems like a reasonable workaround to require the user to write their own custom AuthorizationMiddleware that flows the AuthenticationProperties if they so desire

[2018-11-27 20:31] dallancarr commented on #1921
Looking deeper I think depending on which bearer auth is successful will depend on whether the post config will flow. Hence the ordering maybe a side effect of this.

[2018-11-27 20:52] PrefixAM commented on #1920
@Tratcher If I understand you correct, the flow you described leads straight to Forbid. I personally don't see any issues there.
@HaoK  So are you saying that the fact that both methods always receive "new AuthenticationProperties()" as an argument:
        protected virtual Task HandleChallengeAsync( AuthenticationProperties properties );
        protected virtual Task HandleForbiddenAsync( Authe

[2018-11-27 20:59] Tratcher commented on #1920
There are specific scenarios for passing auth properties to Challenge such as overriding return url or scopes. Just because Challenge accepts auth properties doesn't mean it's appropriate to pass in the ones from Authenticate.

[2018-11-27 21:11] PrefixAM commented on #1920
These specific scenarios are implemented through:
    OAuthChallengeProperties : AuthenticationProperties
and
    OpenIdConnectChallengeProperties : OAuthChallengeProperties
by handling these objects in the corresponding inherited methods. It doesn't change the fact that default implementation does not pass AuthenticationProperties. IMHO.
Feel free to close this issue.

[2018-11-27 22:26] HaoK commented on #1920
yes this behavior is by design, the semantics of authentication properties is specific to each handler, think of it as a bag of arbitrary metadata that you can pass to each handler, its definitely not something that you can always flow from handler to handler or scheme to scheme in general.  It likely to cause bad side effects too, as they are not meant to be reused automatically.

[2018-11-27 22:26] #1920 closed, assigned to nobody

[2018-11-28 00:21] rasitha1 commented on #1918
Looks like WsFederationOptions is [initialized with Saml and JWT token handlers](https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authentication.WsFederation/WsFederationOptions.cs#L26) however that's the wrong JWT token handler for this `RequestedSecurityToken`.

`JwtSecurityTokenHandler` expects a plain JWT string and not this `BinarySecur

[2018-11-28 00:22] Tratcher commented on #1918
@brentschmaltz

[2018-11-28 19:29] tdmboro opened #1922 "[Net Core 2.0] AccessDeniedPath ignored in cookie authentication"
When using cookie authentication, the AccessDeniedPath config parameter seems to be ignored.  This has worked previously (though I haven't done the testing to determine if the behavior changed in 2.0 or 2.0.x).  It's always possible that I'm not doing it right, and I welcome correction if that's the case.

I've also noticed that the current cookie sample project exhibits this same problem (configu

[2018-11-28 20:37] tdmboro commented on #1922
Recreated this issue in the active aspnetcore repo and will close it here.

[2018-11-28 20:37] #1922 closed, assigned to nobody

[2018-11-29 14:36] rynnova opened #1923 "Docker Swarm + nginx + WS-Federation: multiple redirection issue"
I have a [repo](https://github.com/ryakstis/docker-swarm-nginx-dotnet-wsfederation-issue) as an example for this, but essentially: under Docker Compose/Swarm with Linux Containers and using nginx, I've had trouble getting the ASP .NET Core WS-Federation library to function.

Remove nginx, serve the application from https Kestrel only, and it works fine.  Use nginx as the https proxy with Kestrel u

[2018-11-29 15:27] terafil commented on #1923
I believe the cause is that you are using too many technologies that were not intended to work together.  Perhaps you should look for a simplified solution that someone with common sense would use and stop trying to over engineer everything.  In fact you could probably use this as a life lesson and take a hard look at how you run your life and the choices you have made.  In fact if this is the kin

[2018-11-29 15:35] rynnova commented on #1923
@terafil Hi Rob. XD

[2018-11-29 16:22] Tratcher commented on #1923
Friend of yours?

It's likely a config issue with the x-forwarded-proto or related headers. Start by sharing the troubleshooting output from [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.1#troubleshoot) and a Fiddler trace file.

[2018-11-29 17:50] rynnova commented on #1923
Yeah, a co-worker.

I'll check on the headers, but I couldn't output any troubleshooting information before using that same code block.  I'll see if that was because of a logging setup.

[2018-11-29 18:13] Tratcher commented on #1923
You can always write it to the response body instead.

[2018-11-29 18:27] rynnova commented on #1923
I made the changes in that article, and still only see the below in the Compose logs.

The responses from localhost only send back 302s to the ADFS server, so it never has a response body in Chrome.  I have updated the repo to include the forwarded headers implementation as well as writing to responses.

[code]

[2018-11-29 18:50] Tratcher commented on #1923
Did you put that troubleshooting middleware at the top of Startup.Configure right after UseForwardedHeaders?

`&wreply=http%3A%2F%2Flocalhost%2Fsignin-wsfed` in the generated auth url is wrong, it's not getting the correct scheme or port.

[2018-11-29 19:01] rynnova commented on #1923
I implemented the middleware here: ryakstis/docker-swarm-nginx-dotnet-wsfederation-issue@5188e9b

It's in the Configure block, but there's a separate ConfigureServices block.

**EDIT**: Interesting, I'll see if the auth URL is anything on the ADFS side.

[2018-11-29 19:19] Tratcher commented on #1923
Move `app.Use(Middleware);` right before `app.UseAuthentication();`

[2018-11-29 19:29] rynnova commented on #1923
It did this the moment I moved it:

[code]

It makes sense why it happened, but what's the right approach here, then?

By the way, that line is this one: https://github.com/ryakstis/docker-swarm-nginx-dotnet-wsfederation-issue/blob/master/Startup.cs#L140

[2018-11-29 19:57] Tratcher commented on #1923
Ah, I hadn't read the contents of Middleware. Either convert it back to logs or do not call next().

[2018-11-29 20:13] rynnova commented on #1923
It's no problem, it still posted a response, which actually led to an interesting piece of information:

Looking at the `KnownProxies`, I assumed that the `nginx` container would send its own `X-Forwarded-For` IP address back to ASP .NET Core.  However, it sends the Docker network's IPAM gateway IP address instead, `172.21.0.1`.  `KnownProxies` has `172.21.0.3` instead for the `web` service.

Here

[2018-11-29 20:19] Tratcher commented on #1923
Note the `::ffff:` prefix, we didn't add extra support for that until 2.2. You'll need to include it in your KnownProxies registration.

[2018-11-29 21:04] rynnova commented on #1923
Okay, I tried using:

[code]

...and that hasn't helped to resolve anything yet.  Same redirects.

[2018-11-29 21:11] MSAppsDev commented on #1918
Finally made it work, here is the custom tokenvalidator if someone needs, this parses BinarySecurityToken from Base 64.
[code]

[2018-11-29 21:11] #1918 closed

[2018-11-29 21:50] Tratcher commented on #1923
If the proxy is reporting as `::ffff:172.21.0.3` why are you adding `172.21.0.1`?

Alternatively you could use the KnownNetworks option and accept the range `127.21.0.0/8`.

[2018-11-30 08:20] WayneCBarker opened #1924 "/signin-wsfed slow under load"
Hi, we are load testing our application and the call to https://domain/signin-wsfed is a bit slow coming in at  2.7 sec avg with 100 concurrent users.

As I understand this requests is a virtual request and there is no actual resource with that name. What code executes on this request? Is there any custom user code that gets executed as part of this code that we can look at optimizing?

Thanks

Wa

[2018-11-30 11:28] rynnova commented on #1923
Just to be safe.  I'll try out `KnownNetworks`.

**EDIT**: Details.  The reason I added `172.21.0.1` is because that's what nginx reports as the forwarded IP: `X-Forwarded-For: 172.21.0.1`.

[2018-11-30 12:07] rynnova commented on #1923
I used:

[code]

...and it did not change the redirect issue.

[2018-11-30 15:59] Tratcher commented on #1924
This is handled by UseAuthentication() in your pipeline and it runs this code:
https://github.com/aspnet/AspNetCore/blob/e785437288e81649138bb5b7bd878c6540b7e2cc/src/Security/src/Microsoft.AspNetCore.Authentication.WsFederation/WsFederationHandler.cs#L139-L316

Customer user code set up in WsFederationOptions.Events in Startup gets run here. What does your Startup code look like?

[2018-11-30 16:04] Tratcher commented on #1923
X-Forwarded-For is the client, not the proxy. What does the diagnostic output look like now?

[2018-11-30 18:12] muratg commented on #1292
@HaoK forgot to close this one? :)

[2018-11-30 18:12] muratg commented on #1221
@HaoK forgot to close this one? :)

[2018-11-30 21:33] #1221 closed

[2018-11-30 21:34] #1292 closed

[2018-12-01 17:20] kandarp1993 opened #1925 "SSO for Microsoft Outlook using auth0"
I am using auth0 to perform SSO for Microsoft Outlook.   When I click on button it gives error like
https://login.live.com/err.srf?lc=1033#error=invalid_request&error_description=The+provided+value+for+the+input+parameter+'redirect_uri'+is+not+valid.+The+expected+value+is+'https://login.live.com/oauth20_desktop.srf'+or+a+URL+which+matches+the+redirect+URI+registered+for+this+client+application.&st

[2018-12-01 21:35] Tratcher commented on #1925
We're going to need more information like:
- The names and versions of nuget packages you're using.
- How you configured this in code.
- Steps to reproduce this error.

[2018-12-01 23:12] kandarp1993 commented on #1925
@Tratcher
So what I have done is client side SSO. I have used auth0. We have to create an app in Auth0. There we have to select type of application. In my case it is Single page application.  Once you create app over there they will provide you sample code. Download that code and they will tell you to perform some command to install and run that sample code. So when you run npm start command, samp

[2018-12-01 23:46] Tratcher commented on #1925
If this is all about Auth0 then why are you reporting it here?

[2018-12-01 23:52] kandarp1993 commented on #1925
Oh sorry. I was looking for solution and found out that many people have posted same issue and I tried the solution but did not work out for me. So I thought this would be place where I can post. It is not about auth0. Gmail login is working perfectly, but when I try with microsoft it gives me error.

[2018-12-01 23:54] Tratcher commented on #1925
We can only help you here if you're using the Microsoft.AspNetCore.Authentication.MicrosoftAccount [nuget package](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.MicrosoftAccount) (.NET web applications).

[2018-12-01 23:55] kandarp1993 commented on #1925
Oh Ok. Sorry for that.

[2018-12-01 23:55] #1925 closed, assigned to nobody

[2018-12-03 11:19] rynnova commented on #1923
[code]

The Compose logs look the same as before.

[2018-12-03 16:38] petersladek commented on #1714
For SAML tokens using SHA1 signatures there is one implementation over here https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/973#issuecomment-418359214

[2018-12-03 17:00] Tratcher commented on #1923
And if you change your IPNetwork to `::ffff:172.21.0.0, 120`, then what happens?

[2018-12-03 18:58] rynnova commented on #1923
Same thing.  6 redirects, then "an error occurred" served by the ADFS server to the browser, with no valuable information at that page.  Same headers.

[2018-12-03 20:22] Tratcher commented on #1923
The ForwardedHeadersMiddleware has its own logging, it should tell you what's wrong. You may have to turn the logs up to Debug.
https://github.com/aspnet/BasicMiddleware/blob/1de636cd18309070792b68888ca29c8b85fac98b/src/Microsoft.AspNetCore.HttpOverrides/ForwardedHeadersMiddleware.cs#L236

[2018-12-04 09:21] hem-sharma commented on #1879
Using services.AddDataProtection().PersistKeysToAzureBlobStorage(Microsoft.WindowsAzure.Storage.CloudStorageAccount.Parse(connectionString), keyPersistentPath) doesn't resolves private key, results "Keyset not exists" error, can anyone shed some light on it?

[2018-12-04 11:44] rynnova commented on #1923
Aha!

[code]

So WS-Federation expects that port open in nginx.  Unfortunately, that port changes every time I run `docker-compose up`.  It also doesn't help that the moment I removed the Compose network, the second octet in the subnet changed.

So we can't hard-code an IP network because of Docker Swarm/Compose, and we have to have some kind of common port in the nginx configuration, since nginx

[2018-12-04 16:07] Tratcher commented on #1923
It's not checking the port, only the IP. You say the IP keeps changing? If it's the second octet then you can adjust the network range to allow for that. I think that would be 104.

[2018-12-04 22:27] elukash opened #1926 "Redirect URI is ignored"
Hi.

I'am trying to run google auth challenge with callback url

[code]

But error occurs

Seems like default redirect URI has been used, is not it?

[2018-12-04 22:39] Tratcher commented on #1926
The redirect uri specified in your sample code is where you want the app to return to after the authentication is complete. `/signin-google` handles an intermediate response to complete the authentication and then redirect to the redirect uri you specified. `/signin-google` is what you should register with google.

[2018-12-05 07:56] elukash commented on #1926
Now it works fine. Thanks!

[2018-12-05 07:56] #1926 closed, assigned to nobody

[2018-12-05 08:40] seven1986 opened #1927 "How do I change client_id & client_secret in Middleware"
As before,I have config Google OAuth Client_ID & Client_Secret in Startup.cs.
Then, I want change google oauth Client_ID  & Client_Secret at my customer Middleware.
How can I do that?

[2018-12-05 16:21] Tratcher commented on #1927
Do you want to change it once in a while, or do you want to change it per user?

Here's a sample for adding and removing a provider for occasional updates:
https://github.com/aspnet/AspNetCore/tree/master/src/AuthSamples/samples/DynamicSchemes

However, customizing client_id and client_secret per request is not supported.

[2018-12-05 17:21] rynnova commented on #1923
It only changes the IP when I remove the Docker network, like when I run `docker-compose down`, not every time.  Generalised the Known Network:

[code]

And still, multiple redirects with `Unknown proxy: [::ffff:172.18.0.3]:33150`. `33150` is the part that changes on restart of the Swarm services.

I'll push these changes up just to have the progress made so far.

[2018-12-05 19:18] Tratcher commented on #1923
Might I suggest simplifying until you have a working scenario? Even if that means hardcoding addresses. I think your network ranges are wrong (try 8 instead of 16). I also don't see anything in your code that handles the ::ffff: prefix. Note 2.2 released yesterday and it includes handling for this.

[2018-12-05 19:43] rynnova commented on #1923
I had the `:ffff:` prefix implemented as of [this comment](https://github.com/aspnet/Security/issues/1923#issuecomment-442992613), but removed it since.

I changed `return new IPAddress(octets);` to `return new IPAddress(octets).MapToIPv6();`.  The proxy network address read `::ffff:172.18.0.0`.  The error still persisted.

I then changed `private IPNetwork Network => _network ?? (_network = new I

[2018-12-06 01:11] seven1986 commented on #1927
OK.... But I want to know why that as u say.
Can not Inject OAuthOptions, Like IOptionsMonitor<GoogleOptions>, IOptionsMonitor<MicrosoftOptions> in custom Middleware then change Options client_id & client_secret. what is the reason?

[2018-12-06 01:13] ischultz opened #1928 "Wctx parameter getting overridden, breaking functionality"
**Issue**
The _WsFederationHandler.HandleChallengeAsync_ method is completely overriding the existing _Wctx_ parameter with the encrypted authentication properties. This completely breaks functionality that we currently utilize. That is, we can no longer use the _Wctx_ parameter to send our own, custom contextual values to our federation server as these values are no longer sent in the clear. In o

[2018-12-06 01:51] Tratcher commented on #1928
There is an extensibility point at WsFederationOptions.Events.OnRedirectToIdentityProvider.

Copy and modify the code from [here](https://github.com/aspnet/Security/blob/26d27d871b7992022c082dc207e3d126e1d9d278/src/Microsoft.AspNetCore.Authentication.WsFederation/WsFederationHandler.cs#L111-L132) and then call redirectContext.HandleResponse() to prevent the normal code from running.

[2018-12-06 01:53] Tratcher commented on #1928
Hmm, you may need to do some juggling on the other end using AllowUnsolicitedLogins and OnMessageReceived to unpack the auth properties again.
https://github.com/aspnet/Security/blob/26d27d871b7992022c082dc207e3d126e1d9d278/src/Microsoft.AspNetCore.Authentication.WsFederation/WsFederationHandler.cs#L170-L198

[2018-12-06 03:21] ischultz commented on #1928
Right, that's what I was planning on doing as a workaround. However, this felt like a bit of a hack, so I was hoping for a cleaner API to be introduced for this instead. In my opinion, our custom event-handling layer shouldn't necessarily be responsible for the encryption/decryption of the authentication properties and all that jazz, especially considering the code already exists in this library.

[2018-12-06 03:31] ischultz commented on #1928
Bah, ignore the proposal in my last post. I just realized that we don't really have a way of extending/replacing the WsFederationHandler class. Hrmm..

[2018-12-06 12:16] devendracivica commented on #179
![image](https://user-images.githubusercontent.com/40286801/49583412-26fb5080-f97e-11e8-9ed6-34331e4ccb6b.png)
==========================================================
![image](https://user-images.githubusercontent.com/40286801/49583479-5b6f0c80-f97e-11e8-8e42-8b6a1edc268a.png)

We can We Can Make Custom Cookie Manager and Override the existing Nonce Cookie Provider. To Check the Cookie Collecti

[2018-12-06 12:49] rynnova commented on #1923
I have made the following changes:

* Upgrade to 2.2 as of https://github.com/ryakstis/docker-swarm-nginx-dotnet-wsfederation-issue/commit/0761c7aff57a81ffa8f667de55bae7270f240be8;
* Created a [hardcoded](https://github.com/ryakstis/docker-swarm-nginx-dotnet-wsfederation-issue/tree/hardcoded) branch;
* Hard-coded the IP as of https://github.com/ryakstis/docker-swarm-nginx-dotnet-wsfederation-issue

[2018-12-06 16:06] iSatishYadav opened #1929 "Unable to use OpenId Connect and Jwt Bearer together in ASP.NET Core 2.1. Error The authentication handler registered for scheme 'Bearer' is 'JwtBearerHandler' which cannot be used for SignInAsync"
I have a scenario where:

1. I have some API endpoints which for I need to use JWT Bearer Token.
2. For other MVC UIs I need to use OpneId Connect.

The API part is working, however I'm getting following error when I hit the MVC action method which has `[Authorize]` attribute on it.:

[code]

Here's my start up:

[code]
I assumed `options.ForwardSignIn` whould forward the `SignInAsync` to OpenId b

[2018-12-06 17:57] blowdart commented on #1929
Your problem is here

`AddAuthentication(JwtBearerDefaults.AuthenticationScheme)`

You're telling the authentication layer to use JWT for everything, signin, signout, etc. JWT doesn't have an interactive signin or signout.

So, switch it around, the default should be OpenID, and then for your API areas either forward from the ODIC pieces, or use the Scheme parameters in the authorize attribute, or

[2018-12-06 22:39] Eilon commented on #1928
@Tratcher - can you read up more on the WCTX field to see if we're not following specs well enough?

[2018-12-06 22:42] Eilon commented on #1927
@seven1986 can you provide more info on the scenario? Do you want to change it per request (e.g. multi-tenant)? Or just change it once in a while to roll secrets?

[2018-12-06 22:44] Eilon commented on #1924
Can you enable logging in ASP.NET Core with timestamps to see where time is being spent? There are many moving parts here so it's hard to say where the time is being spent without more info.

[2018-12-06 22:46] Eilon commented on #1923
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` tag.

[2018-12-06 22:46] #1923 closed, assigned to nobody

[2018-12-06 22:52] Eilon commented on #1921
@javiercn - do you have any thoughts on this issue?

[2018-12-06 22:59] Eilon commented on #1919
@Tratcher - can you show a workaround for this?

[2018-12-06 23:26] ischultz commented on #1928
I don't believe there's an issue with how you're using the wctx parameter with exception to perhaps the length of the information you're storing in it (i.e. the encrypted auth properties). The spec states the following:

The issue I've run into is that you're not allowing the wctx field to be used for any other purposes outside of this library. As mentioned above, we utilize this field to pass our

[2018-12-07 00:12] HaoK commented on #1898
Cool sounds like you have got everything working now

[2018-12-07 00:12] #1898 closed

[2018-12-07 00:26] Tratcher commented on #1928
The spec says the wctx field is opaque and only intended for round trip app info, so why is the federation server reading information out of it? If you wanted to send extra data to the federation server why use this field as opposed to defining your own? Are you also relying on that info being round tripped?

[2018-12-07 12:31] rynnova commented on #1923
@Eilon I had issues signing up with Stack Overflow this morning, but they finally let me create an account.

I've re-posted the question [here](https://stackoverflow.com/questions/53669607/docker-swarm-nginx-ws-federation-multiple-redirection-issue) at Stack Overflow and will await a response.

[2018-12-07 15:35] ischultz commented on #1928
That's correct - we use the wctx parameter as that's the only one guaranteed to be round-tripped. But you're right, we should be utilizing custom query parameters for our needs instead. Our system has evolved from what it once was, so this is somewhat of a legacy issue at this point.

I'm going to close this issue since we're currently using the wctx parameter in an unorthodox manner and because a

[2018-12-07 15:35] #1928 closed, assigned to Tratcher

[2018-12-07 18:31] JohnGalt1717 commented on #1179
@Tratcher Sorry for the delay in trying this. What I'm not understanding is how to pass the options (_optionsCache) to the handler.

I.e. I set it up as above but the _schemProvider.AddScheme doesn't get passed the options so I don't know how it looks them up based on the name of the AuthenticationScheme and since every one of the OpenIdConnectHandlers will be different I'm at a loss.

Thanks!

[2018-12-07 18:33] Tratcher commented on #1179
That will get mapped internally based on the scheme name ("OIDC" in this example).

[2018-12-07 19:40] JohnGalt1717 commented on #1179
Ok, but then I get this:

InvalidOperationException: Provide Authority, MetadataAddress, Configuration, or ConfigurationManager to OpenIdConnectOptions
Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectOptions.Validate()
Microsoft.AspNetCore.Authentication.RemoteAuthenticationOptions.Validate(string scheme)
Microsoft.AspNetCore.Authentication.AuthenticationHandler<TOptions>.Initialize

[2018-12-07 19:59] Tratcher commented on #1179
@HaoK ?

[2018-12-07 20:31] HaoK commented on #1179
Usually errors like this where you have configured things but its not finding them are due to issues with the name of the options being specified, make sure you are specifying the same name everywhere, some of the overloads that don't take a scheme name are using a default scheme which is probably not the one you are configuring.

[2018-12-07 20:34] JohnGalt1717 commented on #1179
@HaoK I checked and I'm passing it everywhere the same way.

Note that my OpenIdConnectOptions.Validate() throws the same error before it is ever tried to be used and it appears that it's failing because of ConfigurationManager = null which I don't know what it should be set to and clearly it isn't being set when the optionsCache.TryAdd is being called nor later in the process as a result of me do

[2018-12-07 20:40] HaoK commented on #1179
Oh its probably because the Configurationmanager is given a default value here normally: https://github.com/aspnet/AspNetCore/blob/master/src/Security/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectPostConfigureOptions.cs#L71

You would need to do something similar when you are manually adding your own schemes

[2018-12-07 20:45] Tratcher commented on #1179
Wait, PostConfigure doesn't run? That's pretty broken.

[2018-12-07 20:46] HaoK commented on #1179
Not sure what you mean, post configure is only registered when you use the built in methods on the scheme you register, its not going to run on all names since there would be no way to turn it off then.  You have full and total control when you are adding your own schemes like this.

[2018-12-07 20:50] Tratcher commented on #1179
He's right, this experience is very incomplete if we can't even produce working sample code for a real auth handler.

[2018-12-07 20:53] HaoK commented on #1179
To be fair, there is no experience, we only added the extensibility points to make it possible to implement multi-tennant scenarios completely on your own via wholesale replacement.  We never targeted actually supporting it with our higher level apis, because its just not something most of the current code can easily support

[2018-12-07 21:32] JohnGalt1717 commented on #1179
OK, well this should be a to-do to make this usable in the real world and expand out the example code so that it actually would work (as it is right now it doesn't)

Now I've added this:

`oidcOptions.ConfigurationManager = new ConfigurationManager<OpenIdConnectConfiguration>(oidcOptions.MetadataAddress, new OpenIdConnectConfigurationRetriever(), new HttpDocumentRetriever(oidcOptions.Backchannel)

[2018-12-07 21:37] JohnGalt1717 commented on #1179
And if I use the overload that doesn't pass the HttpDocumentRetriever I get the following error:

{"Errors":[{"Description":"Object reference not set to an instance of an object.\r\n   at Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler.WriteNonceCookie(String nonce)\r\n   at Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler.HandleChallengeAsync(Authentic

[2018-12-07 21:56] Tratcher commented on #1179
@JohnGalt1717 you're right, this approach is unusable.

@HaoK we should take that sample down.

[2018-12-07 22:02] HaoK commented on #1179
The sample is demonstrating the ability to add and remove schemes per request, and how to plug in options for those.  Its goal was not to be a working multitenant sample for the OIDC handler, there's a separate issue talking about multi-tenant, but not necessarily OIDC here https://github.com/aspnet/AspNetCore/issues/4126

[2018-12-07 22:10] JohnGalt1717 commented on #1179
@haok the sample doesn't work and never could work and doesn't actually demonstrate what you'd actually have to do to make it work.

Thus it is worse than useless.  I'd suggest the people responsible for this pr actually go and use that sole to create an azure openidconnect endpoint and make it work. Don't you can't .

[2018-12-07 22:26] HaoK commented on #1179
So there's a mismatch of expectations I think here, the existing auth handlers and related stack in Security (including OIDC/OAuth) are not built at all to make it easy to do multi-tenant.  The only goal for the 2.0 auth changes was to preserve the ability to do it yourself via replacing most of the options + potentially the core authentication pieces as well.

This sample was only meant to demons

[2018-12-07 22:28] HaoK commented on #1179
I'll add a paragraph in the readme stating that this sample isn't meant to be a solving the entire multi-tenant auth scenario (and point at the relevant other issues for those approaches).

[2018-12-07 22:38] JohnGalt1717 commented on #1179
That's fine and all and yet I still can't make this work.  Please advise what needs to happen in my code to make this actually work.

And your sample again can never work because of bugs and because of incompleteness.  And I suspect if you actually flushed out the sample you'd see how woefully inadiquate the work that's been done on this is.

[2018-12-08 08:17] dazinator commented on #1179
Hello. I was wondering, instead of making Api changes, why not solve multitenancy by forking the middleware pipeline, and container / IServiceProvider, per tenant. That approach allows all api's to remain the same, as it solves the multitenancy problem at a higher level. For example: https://github.com/dazinator/Dotnettency/blob/develop/README.md
Do you think forking middleware pipeline and contai

[2018-12-08 09:06] HaoK commented on #1179
We aren't planning on addressing multitenancy for 3.0, we were just adding a more fleshed out multi-tenant auth sample that uses some of the Security stack, there was a PR open in AuthSamples and it will eventually get checked into once Mondo repo is in a good place again, its here:

https://github.com/aspnet/AuthSamples/pull/44/files