[2015-07-07 18:58] HaoK commented on #334
Pinpoint wins

[2015-07-07 19:00] blowdart commented on #334
Or you stop using a limited path string. Its an unwelcome surprise for users.
________________________________
From: Hao Kung<mailto:notifications@github.com>
Sent: ‎7/‎7/‎2015 11:58
To: aspnet/Security<mailto:Security@noreply.github.com>
Cc: Barry Dorrans<mailto:Barry.Dorrans@microsoft.com>
Subject: Re: [Security] You can't set querystrings on Login/AccessDenied/LogoutPaths (#334)

Pinpoint wins

[2015-07-07 19:01] GuardRex commented on #336
Outstanding ...
[code]
works perfectly and allows me to use the ordinary `[Authorize]` and `[Authorize(Roles ="<list_of_roles>)]` controller decorations.

I'll leave the proposal open and let the team close it if it's decided that `AccessDeniedPath` isn't going to make the cut. Thanks again for your help!

@PinpointTownes I think I disagree ... apparently you can't use the cookie middleware `Acces

[2015-07-07 19:02] HaoK commented on #334
And seriously no matter how confusing this may or may not be. This isn't a security issue. Feel free to file an issue in http

[2015-07-07 19:10] PinpointTownes commented on #334
Semantic wins :smile:

@blowdart @brentschmaltz if you really find this behavior confusing, the best option would probably be to remove the implicit `string` operators introduced in April: https://github.com/aspnet/HttpAbstractions/pull/283/files#diff-0f73e24b2a5cfe9e8842fd60242fe26bR240

This way, `options.LoginPath = new PathString("/Home/PickIdentity/").Add(new QueryString("?unauthorized=true")

[2015-07-07 19:12] PinpointTownes commented on #336
If that's true, then we have a terrible bug somewhere, as the OIDC provider is not supposed to catch 403 responses and thus, shouldn't prevent the cookie middleware from handling them.

[2015-07-07 19:22] GuardRex commented on #336
One thing occurs to me though: Even if for convenience, `AccessDeniedPath` were put into OIDC middleware, it gets thorny around the idea that either the access is denied because the user is not authenticated and access is denied because the user is not authorized.

My problem was that the user has been authenticated to the app, one or more role claims have been established via Graph API, but they

[2015-07-07 19:25] GuardRex commented on #336
@PinpointTownes I see ... yeah ... I didn't know that under the covers that the provider was using 403 when authorization (i.e., `[Authorize]` decoration on controllers) was a problem. Well ... if it doesn't work out, no worries. I like what @brentschmaltz gave me. I'll still let the team close this, since it might be under discussion.

[2015-07-07 20:11] blowdart commented on #334
If it's a problem with path string then stop using PathString and simply use string.

[2015-07-07 20:39] brentschmaltz commented on #336
@PinpointTownes @GuardRex I opened #338 #337 while trying to figure Challenge calls AuthenticateAsync, because if AuthenticateAsync returns a ticket with a principal in it then HandleForbiddenAsync is called. Which I don't follow. I don't understand why AuthenticateAsync would every need to be called from Challenge.

@PinpointTownes  What is the special relationship with cookiemiddleware and 403?

[2015-07-07 20:55] PinpointTownes commented on #336
With the new authentication middleware design, `ChallengeAsync` has been completely revamped: it is now responsible of determining whether a 401 or a 403 response should be returned (`AuthorizeAttribute` always returns a 401 response, even if you're already connected).

To determine that, `AuthenticationHandler` relies on the following assumption: if the user is connected using the scheme used by

[2015-07-07 20:55] PinpointTownes commented on #328
@brentschmaltz https://github.com/aspnet/Security/issues/336#issuecomment-119336570

[2015-07-07 20:57] PinpointTownes commented on #336
The cookie middleware is the only one that implements `HandleForbiddenAsync`: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Cookies/CookieAuthenticationHandler.cs#L387-L420

[2015-07-07 21:05] PinpointTownes commented on #334
Using a string would have different implications (should we tolerate absolute URIs? Even for a different domain? How should we treat duplicate query string parameters? How to combine that with `PathBase`?)

[2015-07-07 21:08] blowdart commented on #334
Oh indeed, but all redirects should be relative etc. You wouldn't fix query strings either, you'd append to, and so on.

[2015-07-07 23:11] HaoK commented on #337
Some of the confusion might be due to the naming fail we have today where we have two AuthenticateAsync methods which differ by access/parameters and return type only.

1. The public non virtual one which is used by Http/Auth which handles caching/calling into the second abstract one.

2. The protected abstract one that actually creates the AuthenticationTicket.

I'll rename these so its not so in

[2015-07-07 23:12] HaoK opened #341 "Need to rename the protected AuthenticationTicket AuthenticateAsync to not clash"
public async Task AuthenticateAsync(AuthenticateContext context)
protected abstract Task<AuthenticationTicket> AuthenticateAsync();

Just a little confusing...

[2015-07-07 23:13] HaoK commented on #337
The caller of Authenticate says what scheme he wants before calling authenticate.

Rename issue is here: https://github.com/aspnet/Security/issues/341

[2015-07-07 23:13] #337 closed

[2015-07-07 23:17] HaoK commented on #341
Leaning towards CreateTicketAsync (which happens to be the same name @PinpointTownes used for the OAuth stuff, which is good)

[2015-07-07 23:31] PinpointTownes commented on #341
And I'll also use it for the future OpenID 2.0 generic middleware: https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/pull/2/files#diff-5cf36d7a3098ef19627e2a76097ca8b6R255 :smile:

That said, I'm not sure that renaming `AuthenticateAsync` to `CreateTicketAsync` is actually a good idea:

1. It would clash with the `CreateTicketAsync` method we use in the OAuth2 base handler (the tw

[2015-07-07 23:35] HaoK commented on #341
Well Authenticate and AuthenticateCore might as well both be Authenticate in my book.  I was trying to tease apart what the base method does (which is deal with the Http IAuthenticationHandler stuff), and name the abstract "Core" something else, I guess to follow my own naming scheme, this could just be:

`public Task<AuthenticationTicket> HandleAuthenticateAsync()'

[2015-07-08 00:05] HaoK commented on #338
Fixed in https://github.com/aspnet/Security/pull/343

[2015-07-08 00:05] #338 closed

[2015-07-08 00:05] HaoK commented on #341
Fixed in https://github.com/aspnet/Security/pull/343

[2015-07-08 00:09] PinpointTownes commented on #341
:+1: `HandleAuthenticateAsync` seems a good option (though `HandleAuthenticationAsync` seems more natural).

[2015-07-08 00:19] HaoK commented on #341
Yeah the naming pattern I used was simply adding a Handle prefix in front of the non virtual public method name (as opposed to the old Core suffix which I strongly disliked :)

[2015-07-08 00:42] GuardRex commented on #336
Doesn't MVC handle the role claims matches? Why couldn't I get this to work?
[code]
with
[code]
on controllers.

It doesn't stop the OIDC middleware from throwing the user to the IDP (AAD in my case).

[2015-07-08 00:47] HaoK commented on #284
Suggestion was to remember if claims transformation has been run for a particular auth scheme and only do it once (i.e. HashSet("scheme")

[2015-07-08 02:37] brentschmaltz commented on #336
@PinpointTownes Thanks for confirming why I didn't understand it :-(
I agree it seem in appropriate with ExternalProviders, because they only will return non-null when a message arrives that they can handle, so calling them doesn't make sense on the way out.

I still don't see how the runtime can make the 401 <-> 403 determination. It's an application / AuthorizationPolicy decision.

[2015-07-08 04:17] Tratcher commented on #334
FYI: You can customize the redirects today using the redirect notification.

I also have not heard any requests yet for query strings in these properties.

[2015-07-08 05:12] Tratcher commented on #179
No, there's no verbose cookie cleanup in either Katana or Asp.Net 5. OIDC only deletes the cookie for the redeemed nonce, not for any of the unredeemed ones. We don't know if the others will eventually be redeemed (e.g. in another tab). If you want to keep discussing Katana please go back to http://katanaproject.codeplex.com/

[2015-07-08 06:13] vibronet commented on #322
This is a key feature. Developers should be able to find the identity of the caller in the same property regardless of host type and past/present/future Dev stack. The manipulation of claims should not be coupled to how the claims themselves were obtained, which is the promise that .net made from 4.5 onward.

[2015-07-08 06:16] davidfowl commented on #322
@vibronet Totally agree its just the implementation in .NET 4.5 doesn't have everything required to make this work properly.

[2015-07-08 06:49] leastprivilege commented on #322
Really? Are we reviving that?

I thought you gonna deprecate global mutable statics in favour of modern techniques like DI and better testability.

Are you also planning to bring HttpContext.Current back? :p

[2015-07-08 08:02] davidfowl commented on #322
This is about compatibility on .NET 4.x. It's also not going to work on .NET core AFAIK. I generally hate the statics but its the pattern the identity team has been pushing. There's actually a problem with the implementation in NET 4.x that makes it hard to implement this properly thats why it's not working right now.

HttpContext.Current isn't coming back as a static :smile:

[2015-07-08 08:14] leastprivilege commented on #322
Right - as you are saying -

* it does not work reliably right now.
* It won't go forward in .NET Core.
* It is bad style

So why care at all in ASP.NET 5?

[2015-07-08 13:26] blowdart commented on #334
Why would I want to hook into something outside of the security settings to do this?

And consider this a request for query strings.

[2015-07-08 14:45] brentschmaltz commented on #322
@leastprivilege can you be specific as to what doesn't work reliably right now?
@davidfowl there is a solution that would work in most scenarios
Let's separate this into parts:
* ClaimsPrincipal.Current
  * The Identity Team is encouraging ClaimsPrincipal.Current which worked fine with previous runtimes.
* Implementation
 * The Identity Team is not pushing statics or any other implementation.
Curr

[2015-07-08 19:01] leastprivilege commented on #322
Thread.CurrentPrincipal (and thus ClaimsPrincipal.Current) comes from a time where

* people did not care about unit tests and global static mutables
* where the mental model was that a principal is assigned/attached to one thread of execution

Both has clearly changed.

There have been a couple of of consistencies with using Thread.CurrentPrincipal and async/await in the past - e.g. with russian

[2015-07-08 19:11] damianh commented on #322
Mutable static state :gun:

Sure, may as well bring in CommonServiceLocator while we're at it.

Sorry for the sarcastic tone but I strongly feel this is a Bad Idea.

[2015-07-08 20:43] HaoK commented on #339
Splitting securityhelper into shared sources so MVC can remove dependency on Auth

https://github.com/aspnet/Mvc/pull/2792

[2015-07-08 20:52] brentschmaltz commented on #322
@leastprivilege Interesting observations, I agree with most of them.
@damianh The identity of the caller is fixed one authentication is complete w.r.t. a call.

Some history.
Back in 2010 when we started the move of putting ClaimsPrincipal in .Net 4.5. I argued that Thread.CurrentPrincipal was not the right model. So I invented ClaimsPrincipal.Current that contains a settable delegate, ClaimsPrinc

[2015-07-08 21:03] blowdart opened #345 "Override default ClaimsPrincipal.PrimaryIdentitySelector"
In the case of multiple identities on a principal Principal.Identity returns the first one added (with no guarantee of this. Bad back compat decision, but what can you do?). I

If an unauthenicated identity is added first, followed by an authenticated one then User.Identity.IsAuthenticated will be false, which is probably not what people expect.

We should either override the identityselector to e

[2015-07-08 22:05] HaoK commented on #339
@rynowak @davidfowl AuthZ doesn't bring in much so with AuthN dependency broken is this sufficient?

[2015-07-08 22:10] rynowak commented on #339
The extra reference that we're getting here is `Microsoft.AspNet.Http.Features`

[2015-07-08 23:07] Tratcher commented on #314
Bearer doesn't call SignIn. The resulting ticket is available from context.Authentication.AuthenticateAsync().

[2015-07-09 05:42] GuardRex commented on #336
@PinpointTownes I follow you on [RFC2617](http://tools.ietf.org/html/rfc2617) and  [#273 (comment)](https://github.com/aspnet/Security/issues/273#issuecomment-108536290). I'm satisfied that this request is a bad idea based you comments, posts, and references.

I think I see why things turned out this way though. As soon as you want 403-like behaviors by adding some roles (e.g., `[Authorize(Roles =

[2015-07-09 05:42] #336 closed

[2015-07-09 14:10] brentschmaltz commented on #345
Good idea, we could then leave the Identities in the order that the Authentication Middleware placed them

[2015-07-09 14:20] brentschmaltz commented on #336
@PinpointTownes @HaoK If you have time to read my latest comment in https://github.com/aspnet/Security/issues/323 we are going to have issues with role claims.

@PinpointTownes >>> "OIDC should be the ...", we need to consider any external IDP. WsFed, Samlp, etc... I think there should be a Authorization Decision Point, that makes the decision for authorization, on roles and other requirements.
It

[2015-07-09 14:24] brentschmaltz commented on #334
Just paraphrasing what @blowdart is seems to be saying, if it doesn't seem natural OR requires some tweak (hack) in an un-related area: there is room for improvement (there I said it nicely).

[2015-07-09 14:31] leastprivilege commented on #322
ASP.NET 5 is DI enabled all over - the current principal should be injectable.

[2015-07-09 15:45] blowdart commented on #345
There are disadvantages

1) It's global over all principals. Which could be crappy if users create principals outside of the identity flow.
2) This would have performance issues, if it's called multiple times on a single identity. We should look at what's quicker in normal flow.

Alternatively an extension method on principal of `IsAuthenticated()` might be clearer, and would steer people away fro

[2015-07-09 16:09] leastprivilege commented on #345
oh it is global? really? ;P

[2015-07-09 16:29] brentschmaltz opened #347 "TokenValidationParameters.Clone is called for each method in OpenIdConnectAuthenticationHandler"
TokenValidationParameters.Clone() model was designed to solve a race condition when config was updated during the processing of a request.
If we push the config update into OpenIdConnectAuthenticationMiddleware, we can clone only when necessary and not on each method.

[2015-07-09 16:30] markrendle commented on #322
Is it even possible to create a `static ClaimsPrincipalSelector` which is able to extract the "current" `ClaimsPrincipal` from the active `HttpContext`, given that there is no `HttpContext.Current`.

[2015-07-09 16:34] brentschmaltz commented on #345
global, yes. This one could should been instance.
Would the extension method be global?

[2015-07-09 16:57] brentschmaltz opened #348 "Multiple OIDC handlers will get in each others way."
Considering the case where a user has two OIDC Middleware each with a different authority and hence different config (keys, issuer, etc).

One will fail, possibly triggering an update to the IDP for new config, throw, add error logs, etc.  The other will succeed. Depends on who gets the message first.

We need a way for a MW to know it should handle the signin message.
Solutions could be as simple

[2015-07-09 17:00] blowdart commented on #345
How do you mean global? Extension methods are added to the type, but act upon an instance of that type.

[2015-07-09 19:24] HaoK commented on #322
Well the IHttpContextAccessor services already basically provides this via context.User being the ClaimsPrincipal that should be used

[2015-07-09 19:26] HaoK commented on #348
Isn't each oidc MW instance having is own authenticationScheme sufficient?

[2015-07-09 19:27] HaoK commented on #348
This is handled fine by all the other middlewares today, this should just work...

[2015-07-09 19:41] Tratcher commented on #348
It's fine for challenges, the collision occurs on the (optional) callback path. The other middelware would have the same problem. You either need to set unique callback paths or implement the MessageReceived and manually filter them.

[2015-07-09 19:43] PinpointTownes commented on #348
@brentschmaltz out of curiosity, why not using `CallbackPath` (or setting an explicit `RedirectUri`) to make sure your multiple OIDC middleware don't collide?

@HaoK fine is probably not the most appropriate term :smile:
I realized there were actually a few traps when working on the new OpenID 2.0 middleware for ASP.NET 5 yesterday.

Consider this snippet:

[code]

It will work just fine (`GetAuth

[2015-07-09 19:55] HaoK commented on #348
Yeah that pain point is well known to me since I ran into (and is what prompted named options in the first place).  If you have any suggestions on how to improve that scenario, definitely willing to make it better.  Its super hard to discover today, even if you were to look at identity code which is the only one that relies on this, its super subtle and easy to miss...

[2015-07-09 19:57] HaoK commented on #348
The issue is actually in the sugar methods, they are implicitly providing "Google"/option names which is why if you don't specify the name, they collide.

[2015-07-09 19:59] PinpointTownes commented on #348
@HaoK, actually, I wonder if we shouldn't simply stop retrieving the options from the DI when using the `app.Use*Authentication` extensions that take an explicit delegate. Why not simply instantiate the options in the extension and manually flow it to the middleware's constructor?

[2015-07-09 20:02] HaoK commented on #348
We could certainly stop using IOptions for middlewares, as not all of them do, but there's a consistency issue there where Options are sometimes singletons then, and sometimes instances...  Probably should rename them to be Settings and not options just to disambiguate that they aren't like the rest of the options in the framework...

[2015-07-09 21:47] brentschmaltz commented on #348
@Tratcher yes the issue is on the way in. In fact un-initiated login updates may occur.
@PinpointTownes it has been my experience that forcing users to have a separate path is a non-starter for some as the IDP may already have registered the redirect_uri.

[2015-07-09 21:53] brentschmaltz opened #349 "Split OIDC tests into there own project"
OIDC is starting to have a lot of tests and more are on the way.
I propose a new project under test - Microsoft.AspNet.Authentication.OpenIdConnect.Tests.

Also I propose renaming (types and files):
OpenIdConnectHandlerTests-> OpenIdConnectAuthenticateTests
OpenIdConnectMiddlewareTests-> OpenIdConnectChallengeTests

[2015-07-09 22:09] Eilon commented on #231
@brentschmaltz can you add some info here on how to achieve this in user code?

[2015-07-09 22:23] Eilon commented on #334
Discussed in triage and this is by-design. We recommend using URL path segments to indicate this type of information.

[2015-07-09 22:23] #334 closed

[2015-07-09 22:33] Eilon commented on #215
@brentschmaltz is this cleanup that can be moved to beta7?

[2015-07-09 22:34] Eilon commented on #214
This should be done as part of the recent PR that was merged.

[2015-07-09 22:34] #214 closed

[2015-07-09 22:38] #333 closed

[2015-07-09 22:39] Eilon commented on #332
There are no current plans to port this to Katana 3.x.

[2015-07-09 22:39] #332 closed

[2015-07-09 22:42] Eilon commented on #295
Marking as up-for-grabs in case anyone wants to do it.

[2015-07-09 22:48] Eilon commented on #31
@blowdart

[2015-07-09 22:53] Eilon commented on #27
Remove this behavior in Cookies.DefaultBehavior.

[2015-07-09 22:58] brentschmaltz opened #350 "Change OIDC log messages to be in sync with new method naming."
OIDCH_0026_ApplyResponseChallengeAsync should be named HandleUnauthorizedAsync
OIDCH_0000_AuthenticateCoreAsync -> the new name when it shows up (https://github.com/aspnet/Security/pull/343)

[2015-07-09 22:59] PinpointTownes commented on #295
@Eilon I'm rather busy these days, but I'm your man if nobody wants to do it :smile:
That said, I'll probably need @brentschmaltz's help to add the appropriate tests (the logging testing is a bit cryptic for me).

@brentschmaltz out of curiosity, does AAD support POST authorization requests?

[2015-07-09 23:00] blowdart commented on #31
Given multiple implementations, including nwebsec from @klings I don't feel providing a more limited middleware is that useful.

[2015-07-09 23:00] #31 closed

[2015-07-09 23:06] sblackler commented on #31
@blowdart thanks for the info about nwebsec. Didn't realise that existed (don't know if it did a year a go when I started this). I think it would be good to raise awareness for stuff like this, maybe through a blog post or something? :)

[2015-07-09 23:06] brentschmaltz opened #351 "OpenIdConnectHandler.AuthenticateAsync should not throw SecurityTokenException"
If message.Error is ! null, the OIDC handler throws SecurityTokenException, it should throw OpenIdConnectProtocolException. Other SecurityTokenExceptions should be considered as well.

[2015-07-09 23:07] blowdart commented on #31
That would be a good idea. I'll find someone that blogs and poke them with a stick.

[2015-07-10 00:02] HaoK commented on #27
cd237445ec49f7def7978db5a6e1a44e691450da

[2015-07-10 00:02] #27 closed

[2015-07-10 02:43] marcosph commented on #336
Hi, Breatsschmltz.
I have an MVC6 intranet application that uses roles. The admin users can manage all the user roles. However any changes made to a users' roles are only effective when the user logs on (this makes sense as the roles are stored as claims in a cookie). The requirement is for role changes to take effect immediately, like they did in the older asp.net membership and role managers. Ho

[2015-07-10 05:39] Eilon commented on #295
@PinpointTownes I'm out of town all next week but maybe we could sync up the week after that to see how this could be arranged.

[2015-07-10 15:25] brentschmaltz commented on #322
@HaoK the idea was to create a selector the mimic'd IHttpContextAccessor.
@markrendle there has to be a way to get to the 'context' that represents the associated inbound message.  Otherwise how would IsInRole("admin") work?

[2015-07-10 15:28] brentschmaltz commented on #345
Right, I was thinking all users would get the same experience, but only if they make the IsAuthenticate() call.
This seems better that overloading the PrimaryIdentitySelector which would affect all users.

[2015-07-10 16:30] brentschmaltz opened #354 "Add notification for AuthorizationCode Redeemed"
As part of the 'codeflow' signin, the authorization code will be exchanged at the token endpoint. This notification will be fired when that occurs.

[2015-07-10 18:40] jods4 opened #355 "StackOverflowException with invalid cookie"
I can get to crash my website consistently with a stack overflow by sending an invalid auth cookie.

Of course the stack trace is huge but I think the key points in the infinite loop are as follows:

1. My app has Auth enabled with Cookies, so although I can't see the bottom of the stack trace (too long), I guess it should start with a legitimate call to `Microsoft.AspNet.Identity.SecurityStampVal

[2015-07-10 18:46] Tratcher commented on #355
@HaoK

[2015-07-10 19:39] HaoK commented on #355
Doh I'll fix today

[2015-07-10 21:43] GuardRex opened #356 "AuthenticationManager.SignOutAsync is not signing out with the IDP (AAD in my case)"
When `.SignOut` was in use, the behavior (which I think is correct) is that the app redirects to the IDP (AAD in my case), where the user is signed out, then they are returned back to the app ... and the cookie/claims are dropped in the process. If a challenge is issued again, the user is redirected to AAD and must provide valid credentials in order to log back in to the app.

I just upgraded an a

[2015-07-11 16:57] GuardRex commented on #313
Might be related: https://github.com/aspnet/Security/issues/356

At some point, there was a breaking change, right? ... The method went from `Context.Response.SignOut()` to `Context.Authentication.SignOutAsync`. I'm also getting a redirect to "/" ... but not so much "instead of session end" as instead of the normal AAD IDP logout redirect that used to occur with `.SignOut()`. The user remains sign

[2015-07-11 19:26] HaoK commented on #313
I will take a look

[2015-07-11 22:25] GuardRex commented on #313
@HaoK Cool - Thanks.

The behavior can be seen in my test apps:

dnx451 version that uses the old `SignOut()` method: https://www.console.guardrex.com:8003/
Use login: bjones@guardrex.onmicrosoft.com
Password: passWord1!

You'll notice the redirect to AAD on `SignOut()` that then redirects back to the app. On the next Log In, the redirect to ADD **does** require fresh credentials.

dnxcore50 versi

[2015-07-11 22:44] HaoK commented on #313
Yeah let me see the repo for the controller action that calls sign out.

[2015-07-11 23:00] GuardRex commented on #313
I can put the full app up, but if you just wanted to see the controller, it just goes like this. I think I copied the format from the ADAL for .NET 5 sample project:
[code]
I also tried a version that went like this, but I had the same outcome:
[code]

[2015-07-11 23:09] HaoK commented on #313
Yeah so try retuning empty result instead. That is the issue I think. You are overwriting the sign out

On Jul 11, 2015, at 4:00 PM, Luke Latham <notifications@github.com<mailto:notifications@github.com>> wrote:

I can put the full app up, but if you just wanted to see the controller, it just goes like this. I think I copied the format from the ADAL for .NET 5 sample project:

// GET: /Account/Log

[2015-07-11 23:10] HaoK commented on #313
The new behavior is sign out redirects immediately rather than later so before the sign out would win. Now the redirect to home wins which is why you need to return empty result.

[2015-07-11 23:11] GuardRex commented on #313
Ok ... I'll give that a shot ... testing now ... brb

[2015-07-11 23:15] GuardRex commented on #313
Got IT! Thanks ... that did the trick. I'll put the answer over on the issue I opened at https://github.com/aspnet/Security/issues/356 and close that out.

Have a great weekend! ... and I'll raise a Beck's to you tonight! :beer:

[2015-07-11 23:21] GuardRex commented on #356
@HaoK provided the answer to this in https://github.com/aspnet/Security/issues/313#issuecomment-120668602.

I was using this controller for the sign out, which I think I obtained from the ADAL sample for .NET 5 (back when the method was `.SignOut(...)`:
[code]
@HaoK explains:

Therefore, this is what I needed:
[code]
Three cheers to @HaoK ... this was the last thing I needed for a full story on AD

[2015-07-11 23:21] #356 closed

[2015-07-13 03:40] heavenwing opened #357 "AuthorizeAttribute with OpenIdConnect don't redirect to external login page"
I've added [Authorize] to the controller action and app.UseCookieAuthentication();app.UseOpenIdConnectAuthentication(); to Startup.cs.When I hit the controller action marked with [Authorized] attribute error 401 occurs but no redirection.

[2015-07-13 07:10] mikeandersun commented on #357
I have the same issue.

[2015-07-13 10:30] PinpointTownes commented on #357
Make sure you're using the `automatic authentication mode`:

[code]

http://stackoverflow.com/a/31322496/542757

[2015-07-13 10:39] PinpointTownes commented on #356
@GuardRex glad you sorted it out :smile:

IMHO, you should `await` `Task`-returning methods to avoid race conditions.

[code]

(related comment: https://github.com/aspnet/Security/pull/257#discussion_r33391477)

[2015-07-13 12:23] GuardRex commented on #356
@PinpointTownes Will do. I was wondering about that, but I had it in the format without `await` because I thought that those `SignOutAsync()` methods were returning void ... such that I thought that they might be executed in an asynchronous way regardless of adding `await` here. Anyway ... yes, I changed the code as you suggested. Thanks.

[2015-07-13 12:33] GuardRex commented on #313
@PinpointTownes recommends in [#356 (comment)](https://github.com/aspnet/Security/issues/356#issuecomment-120887762) to go with an `await` version, like this:
[code]

[2015-07-13 16:54] StefanOssendorf commented on #31
Or https://github.com/StefanOssendorf/SecurityHeadersMiddleware/ ;-)

[2015-07-13 17:35] muratg commented on #357
Thanks @PinpointTownes! @heavenwing if this doesn't solve your issue, please re-open.

[2015-07-13 17:35] #357 closed

[2015-07-13 22:54] brentschmaltz commented on #323
It is up to the asp.net team to make the call here. Said all I can say about this.

[2015-07-14 18:47] tushargupta51 opened #358 "Extension point to give users access to user info endpoint json response"
OpenIdConnectAuthenticationHandler.GetUserInformationAsync goes to UI endpoint to retrieve user claims. response is parsed into a json object. We should provide users access to this json response in case they want to retrieve some additional information.

[2015-07-14 19:10] eqbalsajadi commented on #83
Hi guys,

How to login to ASP.NET 5 Web Api by WebClient class in a .NetFramework 2 Windows Forms?
I have already done that for ASP.NET 4.5 using this article http://www.asp.net/web-api/overview/security/individual-accounts-in-web-api
But don't know how to do it for ASP.NET 5. It seems Authorization Server is not supported by it.
Is there any alternative? In a nut shell, what is your solution to s

[2015-07-14 19:29] eqbalsajadi opened #359 "Secure ASP.NET 5 Web Api"
Hi guys,

How to login to ASP.NET 5 Web Api by WebClient class in a .NetFramework 2 Windows Forms?
I have already done that for ASP.NET 4.5 using this article http://www.asp.net/web-api/overview/security/individual-accounts-in-web-api
But don't know how to do it for ASP.NET 5. It seems Authorization Server is not supported by it #83.
Is there any alternative? In a nut shell, what is your solution

[2015-07-14 20:22] HaoK commented on #355
Fixed in ab4ba794e546074a573fbf76d9150ffcf9752c89

[2015-07-14 20:22] #355 closed

[2015-07-14 20:22] HaoK commented on #341
ab4ba794e546074a573fbf76d9150ffcf9752c89

[2015-07-14 20:22] #341 closed

[2015-07-15 17:07] #217 closed

[2015-07-15 18:01] #354 closed

[2015-07-15 18:46] HaoK commented on #313
Moving to beta 7 as this is just a test update

[2015-07-15 18:47] HaoK commented on #174
Moving to beta 7 will do as part of API review PR

[2015-07-16 18:58] HaoK commented on #325
ab4ba794e546074a573fbf76d9150ffcf9752c89

[2015-07-16 18:58] #325 closed

[2015-07-16 19:48] HaoK commented on #174
Renamed 5a2499eb2210f20b7618aedaecff4ddecb7af15a

[2015-07-16 21:34] Tratcher commented on #339
@rynowak It's expected that middleware reference Microsoft.AspNet.Http.Features. Microsoft.AspNet.Http.Abstractions depends on Features anyways.

[2015-07-16 22:24] HaoK commented on #313
Opened issue in music store to track this, there doesn't appear to be any regression on the functional side.

https://github.com/aspnet/MusicStore/issues/511

[2015-07-16 22:24] #313 closed

[2015-07-16 22:50] csunali commented on #35
This is definitely a show stopper for many of us with many customers requiring us to support multiple websites using shared code bases.

I have already create a similar issue (before seeing this one) at aspnet/Home#743

[2015-07-16 22:55] PinpointTownes commented on #35
Moved from https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/107:

----------------------------

Multi-tenancy has always been a thorny topic, even back to the Katana era :smile:
Sadly, it's still not implemented in ASP.NET 5: https://github.com/aspnet/Security/issues/35

In theory, you should be able to create a custom `IOptions<OpenIdConnectServerOptions>` and return

[2015-07-16 22:56] PinpointTownes commented on #35
/cc @blowdart @brentschmaltz @HaoK @Tratcher

[2015-07-16 23:31] HaoK commented on #163
Smushed 73d4440a25adb1f3ad72d8c0dd43f2dd6e0262c5

[2015-07-16 23:31] #163 closed

[2015-07-16 23:46] csunali commented on #35
It seems that this issue has been marked as an "enhancement". I cannot agree with that. I would say that for the new ASP.NET to rock, it is a "requirement" and a "show stopper". The issue is open for almost a year now.

I am an architect/developer with more or less 16 years of web development background and have been awarded as Microsoft MVP for ASP.NET for 4 times. With that experience in my past

[2015-07-16 23:48] blowdart commented on #35
It's an enhancement simply because it's never been like this. It's a new feature, an enhancement to the existing feature set.

[2015-07-17 00:07] csunali commented on #35
I did not literally mean "it is not an enhancement" and imho, it was not the most important thing in my previous comment.

Thank you for your explanation but I am rather looking for feedback regarding at which milestone you are planning to release the support for multi tenant applications if you plan to support it at all and if not, how do you propose us to solve the maintenance issues I shared pr

[2015-07-17 00:07] blowdart commented on #35
There is currently no milestone attached to it.

[2015-07-17 00:17] csunali commented on #35
I can clearly see that on the right side of the original post where it says "Milestone: Backlog".

Does not really answer any of my concerns I shared or questions I asked above.

[2015-07-17 00:18] tushargupta51 commented on #215
@Eilon @brentschmaltz moved this to beta7

[2015-07-17 00:25] PinpointTownes commented on #35
@blowdart's secret name is "Captain Obvious" :smile:

[2015-07-17 20:05] ycrumeyrolle opened #364 "Authorization : AddAuthorization() method do not use the configureOptions parameter"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authorization/ServiceCollectionExtensions.cs#L22

[2015-07-17 20:52] PinpointTownes commented on #364
This overload shouldn't even exist, actually :smile:

[2015-07-20 10:43] bchavez opened #365 "Facebook.UserInformationEndpoint + access_token make Invalid Backchannel URL"
When the back-channel URL graph call is constructed [here](https://github.com/aspnet/Security/blob/9bb8b6114697f14a42e747acd1d1a41e6eed5af1/src/Microsoft.AspNet.Authentication.Facebook/FacebookAuthenticationHandler.cs#L54) it is possible for `Options.UserInformationEndpoint` to already contain `?`. However, as-is currently `?access_token` is appended to the endpoint without checking if `?` already

[2015-07-20 21:04] HaoK commented on #364
Why shouldn't this overload exist?  Its just sugar to add/configure in one line (assuming it was implemented :)

[2015-07-20 21:08] PinpointTownes commented on #364
Because it's actually the only **Add** method in aspnet/Security that accepts a delegate to configure the options :smile:

This pattern is fine, but it should be used everywhere or nowhere, for consistency :smile:

[2015-07-20 21:13] HaoK commented on #364
If you are talking about AddAuthentication(), that's because its fake, and is only adding other things like DataProtection.  All of the other AddXyz follow this pattern.  The difference its there is no master AuthenticationOptions to configure.

I'm probably going to prototype nuking using IOptions from all of the auth middlewares soon, and having them go back to taking concrete instances in UseGo

[2015-07-20 21:27] PinpointTownes commented on #364
I guess it could/should be updated to configure SharedAuthenticationOptions, which must currently be configured with the hardly-discoverable generic services.Configure<SharedAuthenticationOptions>() :smile:

There are a few places where Add doesn't take a delegate: https://github.com/aspnet/Session/blob/dev/src/Microsoft.AspNet.Session/SessionServiceCollectionExtensions.cs

https://github.com/aspn

[2015-07-20 21:29] PinpointTownes commented on #364
I'm probably going to prototype nuking using IOptions from all of the auth middlewares soon, and having them go back to taking concrete instances in UseGoogle etc...

Does that mean we won't be able to use Configure*Authentication anymore?

[2015-07-20 21:30] HaoK commented on #364
Yeah those are probably bugs in those repos, I made a pass through to fix these once

Yeah AuthOptions will basically no longer go in DI, and only can be configured via UseXyz.

[2015-07-20 21:33] PinpointTownes commented on #364
I protest then, because it's a great way to configure per-environment options: https://gist.github.com/PinpointTownes/c2096cd2cbf812f8d500

[2015-07-20 21:34] HaoK commented on #364
I don't think that argument holds much water, since you can just switch to using the ConfigureXyz methods instead and still have something similar

[2015-07-20 21:35] HaoK commented on #364
Both ConfigureXyzServices and ConfigureXyz can be per environment today

[2015-07-20 21:45] ycrumeyrolle commented on #364
@HaoK I asked the question around the differents ways to "configure" the Options on stackoverflow:
http://stackoverflow.com/questions/31485311/configure-a-component-in-asp-net-5
If you have the answer of what should be done and what should not, it would be great!

[2015-07-20 21:48] PinpointTownes commented on #364
Using `IHostingEnvironment.EnvironmentName`? It seems less handy than the Configure*Services approach.

You would remove it from the security middleware, but not from the other ones?

[2015-07-20 21:51] HaoK commented on #364
Yes, the motivation is mostly around nuking named options.  Security middleware (unlike frameworks) doesn't lend itself to the singleton style of options that frameworks use.  Many of the other middlewares today aren't actually using IOptions for their options anyways, so this would make everything consistent, and clean up options as well by nuking the whole named complexity that I had to create j

[2015-07-20 21:55] PinpointTownes commented on #364
Understood :smile:

Related question: do you have plans for multi-tenant scenarios? (https://github.com/aspnet/Security/issues/35). `IOptions<>` seemed to be a nice first step in that direction.

[2015-07-20 21:57] HaoK commented on #364
For once I'll reply with a @blowdart -ism:  no plans

[2015-07-20 23:02] HaoK commented on #297
@leastprivilege Can you elaborate a bit more about what you wanted?  We aren't quite clear what you had in mind for the IPermissionRepository?

Can you outline the usage?

[2015-07-20 23:04] HaoK opened #367 "Remove usage of IOptions from Auth middlewares"
Named options are being removed.  Middleware should use instances of Options instead of IOptions

[2015-07-20 23:14] HaoK opened #368 "Remove sync versions of AuthZ apis"

[2015-07-21 00:43] PinpointTownes commented on #158
@brentschmaltz I just took a look at the new `ClaimsIdentity.WriteTo` and `ClaimsIdentity.Initialize` methods on Reference Source and I have the weird sensation that serialization and deserialization formats differ: if `WriteTo` supports the `HasLabel`, `Actor` and `UserData`, `Initialize` doesn't seem to have any code to handle them at the deserialization stage. Am I missing something obvious? :s

[2015-07-21 04:47] leastprivilege commented on #367
Just curious- why?

Sent from my iPad

[2015-07-21 05:48] HaoK commented on #367
We found that it didn't work perfectly and it was fairly hard to discover/understand compared to the more straight forward old way of each middlewares getting their own separate instance of options to work with.

Singleton `IOptions` works great for frameworks but it didn't ever really feel like a great fit with middlewares.  I tried to papered over it with as much sugar as I could via extension m

[2015-07-21 06:20] eqbalsajadi commented on #359
@PinpointTownes

[2015-07-21 06:49] leastprivilege commented on #367
I think you are right!

This is more or less the outcome of our discussion three months ago ;)

[2015-07-21 06:52] leastprivilege commented on #359
Well - MVC 6 supports OAuth2 bearer tokens (typically JWTs) - so nothing has really changed here.

The thing that has changed is that nothing is built-in anymore to produce those tokens. From my point of view the answer is identityserver which is an OAuth2 and OpenID Connect frameworks that supports all you are asking for and more. Start here: https://identityserver.github.io/Documentation/docs/ov

[2015-07-21 06:55] leastprivilege commented on #297
So in a nutshell - it would be great if policies could go into DI.

The current design injects the user's claims as the only data source - which encourages people to treat claims as permission/authorization data (which they are not). Being able to inject other dependencies like a repository over a permission system would improve that situation.

Right now you have to new up the policies explicitly

[2015-07-21 08:39] PinpointTownes commented on #359
@leastprivilege well, I think we already said everything in the previous tickets: https://github.com/aspnet/Security/issues/39 https://github.com/aspnet/Security/issues/83 :smile:

To sum up: IdentityServer is still your best option if you're looking for a turnkey solution/ecosystem, that natively integrates with ASP.NET Identity 2 (Katana's version, not vNext one) or MembershipReboot and that wil

[2015-07-21 08:47] leastprivilege commented on #359
yep that's a good summary.

Our samples are here: https://github.com/IdentityServer/IdentityServer3.Samples/tree/master/source/Clients

..and yes we are not running on the CoreCLR right now. But we will by the time ASP.NET will be released ;)

[2015-07-21 08:57] PinpointTownes commented on #359
Ah, it gives me far enough time to create new companion projects to make AspNet.Security.OpenIdConnect.Server a turnkey solution then :smile:

[2015-07-21 09:19] leastprivilege commented on #359
Good luck! :)

[2015-07-22 07:40] leastprivilege opened #372 "[OIDC ]Transforming AuthenticationTicket in SecurityTokenValidated notification - and nonce checking bypass bug?!"
Looking at beta5 but seems to be also the case for dev branch -

In Katana I was able to transform the contents of the authN ticket in the SecurityTokenValidated event - especially the claims. Typically I want to strip things like iss, nonce, exp, nbf etc - because I don't want these claims in my cookie.

In the current bits - I can only do that if I call HandledResponse() in the notification - ot

[2015-07-23 00:48] csunali commented on #364
@HaoK, that is sad.

[2015-07-23 01:42] IDisposable commented on #35
Admittedly I haven't tried anything code-wise, but why can't you build a concrete implementation that doesn't STORE the credentials it is given, rather it proxies the properties as context-specific values that get computed using the in-flight context?  I did something like this for view models in a multi-tenant app a while back.

[2015-07-23 09:45] HaoK commented on #297
Are you just asking for something like this where you can plug in your own PolicyManager which maps names to requirements in way that doesn't necessarily involve the mechanical PolicyBuilder calls?

[code]

The default AuthZ service would use the IPolicyManager to resolve policies instead of directly via the AuthZOptions.  Although, our default PolicyManager would continue to do this

[2015-07-23 16:01] brentschmaltz commented on #231
@emanoelxavier we don't want to add http info into TokenValidationParameters because it is currently  transport neutral.
You could, use a derived TokenValidationParameters that exposes a property for the headers. the methods IssuerValidator etc take TokenValidationParameters as a parameter. You will need to override Clone().

If you setup your OIDCOptions using your derived type you could assign t

[2015-07-23 16:16] brentschmaltz commented on #372
@leastprivilege we defined setting HandledResponse as telling the runtime to step aside and the ticket has been created, just use it.

Here are some options
JwtSecurityTokenHandler has a static (yes we have a work item to have instance and a static default), InboundClaimFilter. It is currently empty, any values in that set will be filtered if they match claim.Type.

OIDCAOptions.SecurityTokenValid

[2015-07-23 16:48] leastprivilege commented on #372
Yea - I don't like any of these options.

I want to be able to replace the authN ticket in SecurityTokenValidated - but after the token is actually *fully* validated (and the nonce cached is cleaned up).

Simply move the nonce handling before firing the notification and everything is fine.

[2015-07-23 21:00] muratg opened #373 "React to Wilson package refactoring"
https://www.myget.org/gallery/aspnetrelease vs https://www.myget.org/gallery/azureadwebstacknightly

[2015-07-24 00:55] brentschmaltz commented on #372
Ok, well then we might have a bug.  If you set the ticket in the SecurityTokenValidated notification we should continue on using that ticket unless you call Handled or Skipped.

[2015-07-24 00:57] brentschmaltz commented on #373
@muratg We just closed on the naming today and should get the packages up next week. For now just use the beta6 packages.

[2015-07-24 00:58] muratg commented on #373
:+1:

[2015-07-24 04:38] leastprivilege commented on #372
Yes - that's one part to it.

The other part is that i don't get why there is an event called SecurityTokenValidated - when the token is not validated yet. And exiting there leaves protocol artifacts that cannot be easily cleaned up manually.

[2015-07-24 09:11] eqbalsajadi commented on #359
Thank you for your answers,
Finally I decided to write my own middleware  that handles WebApi authentication like this code:

[code]

[2015-07-24 09:18] PinpointTownes commented on #359
[code]

:smile:

[2015-07-24 09:25] eqbalsajadi commented on #359
It is a temporary, I'll change it to solve that issues :)

[2015-07-24 15:06] brentschmaltz commented on #372
The design behind exiting after notifications such as SecurityTokenReceived / Validated was to give users the ability to take over validation. It gives one a place to take complete control.
Having just reviewed HandleUnauthorizedAsync, it looks like we write the cookie nonce before calling RedirectToIdentityProvider, that needs to be adjusted for this to be symmetric and address artifacts lying ar

[2015-07-26 15:54] joeaudette commented on #35
I would like to add my voice and my vote in support of this issue. I need to be able to implement multi-tenancy configurable as either per hostname or based on the first folder segment of the url and I need to be able to configure different authentication settings for each tenant. If it is going to be impossible or very very difficult to do that with asp.net 5 that will be a big problem and certai

[2015-07-26 19:34] taori opened #374 "Removal of AuthorizeCore may be too restrictive"
http://stackoverflow.com/questions/31464359/custom-authorizeattribute-in-asp-net-5-mvc-6

When researching how some things are done in MVC 6 i ran into this question, which i had the same issue with and ran into 2 issues regarding the new authorization.

Issue 1:

Seeing how this question got plenty of attention (9 days, 1040 views) the question asker and me are obviously not in a minority. While

[2015-07-26 23:56] blowdart commented on #374
As the person who pushed for the new system I'm rather biased, but no-one has ever given me a concrete example of something they cannot express in code as an authorization policy. The only mix-ups I've seen is when folks combine authentication and authorization, which we are now more strict about keeping apart.

There's no need at all to use the identity system as the basis for authorization, and

[2015-07-27 13:24] alaeddinegallas opened #375 "Override error code on AuthorizationCodeProvider.CreateAsync"
Hi,

I was trying to handle some error that might happen on my AuthorizationCode code creation. Apparently i can't redirect my self to the Client Redirect URI with he correct error code which is "server_error"

The following is my code :
[code]

But I get redirected by the framework to the redirect Uri with `https://redirecturi?error=unsupported_response_type` !

Is this a normal behavior ? Or may

[2015-07-27 19:41] HaoK commented on #368
5bb5662e749440de3ac862c96e006ea204ab60c1

[2015-07-27 19:41] #368 closed

[2015-07-27 19:42] taori commented on #374
You seem like a reasonable person to me, so i doubt you'd struggle putting bias aside. That being said i will point out a common case i've (ab)used overloading this method in the old attribute:

Check if Identity is present ->
Ajax call? -> Execute javascript
Normal call ? -> Redirect to login page.

While this certainly does not strictly have to do with authorization itself it is a perfect hook t

[2015-07-27 19:46] blowdart commented on #374
So how are you triggering the JS to run? With a specific value returned?

Cookie auth has redirection, as does OpenID. Other types don't because it doesn't make sense. For example a bearer token middleware would just return status codes.

[2015-07-27 20:00] blowdart opened #376 "Enable default policy for MVC authorize attribute"
This would make the multiple identities scenarios easier, as a dev could set the default behaviour to use Cookie auth, which in turn would mean you wouldn't have to set cookie auth to be automatic, and filtering would work as expected when you limit to bearer.

[2015-07-27 20:05] HaoK commented on #376
Looks like this behavior actually comes from Policy.Combine, where we add RequireAuthenticatedUser by default.

How about we just add a default policy to the options which we use for this instead?  The default behavior would be the same, just requiring any authenticated user.

You could replace it via

```services.ConfigureAuthorization(options => options.DefaultPolicy = new PolicyBuilder().AddWha

[2015-07-27 20:20] blowdart commented on #376
Might work - can you give it a shot?

[2015-07-27 20:24] taori commented on #374
Until now i do it like this:

public class Sample : AuthorizeAttribute
	{
		public override void OnAuthorization(AuthorizationContext filterContext)
		{
			filterContext.RequestContext.HttpContext.Response.Write("<script type='text/javascript'>alert('do something');</script>");
			filterContext.RequestContext.HttpContext.Response.End();
			base.OnAuthorization(filterContext);
		}
	}

MVC 5 cookie

[2015-07-27 20:29] blowdart commented on #374
That makes me shudder a little.

I've opened issue #376. What we've tried to do, and it still isn't easy enough, is allow you to filter identities. So if you had a webapi endpoint you could limit it to bearer middleware and ignore cookieauth. This would then enable spa/bearer auth as it should be, and close a bunch of CSRF loop  holes.

However right now everything still goes haywire if you have a

[2015-07-27 20:57] taori commented on #374
#376 Looks exactly like something one can (ab)use for that yes.

"But still, writing out a response, rather than a status in auth middleware seems wrong to me".

From an architect point of view - i absolutely agree - yes, certainly not quite the right place

From a "i need to stop my colleagues from copy pasting redirects/javascripts everywhere" point of view - i am just looking for a convenient w

[2015-07-28 11:00] PinpointTownes commented on #158
Fears confirmed: this new stuff doesn't work AT ALL, even with simple identities that expose no `Actor` and have no `Properties`:

  HResult=-2147024858
  Message=Impossible de lire au-delà de la fin du flux.
  Source=mscorlib
  StackTrace:
       à System.IO.BinaryReader.ReadByte()
       à System.IO.BinaryReader.Read7BitEncodedInt()
       à System.IO.BinaryReader.ReadString()
       à System.Se

[2015-07-28 16:44] Tratcher opened #378 "AuthenticationManager.SignOutAsync broken in beta6?"
_From @r2musings on July 28, 2015 15:29_

In beta4, I was able to logout a user with Context.Response.SignOut(..).  This method did not appear exist in beta6.  So, I switched over to Context.Authentication.SignOutAsync(..) and instead of logging the user out and dropping them on the Office 365 login page as I was expecting, it just throws them back to the Home page still logged in.

Is SignOut bro

[2015-07-28 17:21] #365 closed

[2015-07-29 01:48] r2musings commented on #378
Based on the answer to the Stack Overflow referenced in my original question, I am no longer calling RedirectToAction in the LogOut of my Controller.  This resolves the issue for me.

[2015-07-29 14:55] #339 closed

[2015-07-29 19:24] Tratcher commented on #92
FYI: Facebook is up to v2.4: https://developers.facebook.com/blog/post/2015/07/08/graph-api-v2.4/
https://katanaproject.codeplex.com/workitem/417
https://github.com/aspnet/Security/issues/365

[2015-07-29 19:31] blowdart opened #379 "Announcement Discussion: AuthenticationHandler<T> is now only async, AuthenticateCore() renamed to HandleAuthenticateAsync()"
Authentication handlers have now dropped their synchronous methods and are fully async

In addition to this there has been method renames;

1)

    protected override AuthenticationTicket AuthenticateCore()

has now become

    protected override async Task<AuthenticationTicket> HandleAuthenticateAsync()

2)

    protected override void ApplyResponseChallenge()

has been split and now becomes

[2015-07-29 19:34] kspearrin commented on #379
You might want to point out that `ApplyResponseChallenge` was also dropped in favor of methods like `HandleUnauthorizedAsync` and `HandleForbiddenAsync`.

[2015-07-29 19:42] PinpointTownes commented on #379
@blowdart you should try to make shorter announcements :smile:

The fact authentication handlers are now `async` is clearly not the most important change. The most important thing to note is that `ChallengeAsync`/`SignInAsync`/`SignOutAsync` are now immediate and not deferred like they used to be in Katana 3, which has different implications in everyday's code: https://github.com/aspnet/Security/p

[2015-07-29 19:43] blowdart commented on #379
SignInAsync is not a middleware issue, it's a separate announcement.

[2015-07-29 19:44] PinpointTownes commented on #223
I suggest reopening this ticket as this bug mysteriously reappeared in `>beta6-12256` and `beta6 release` (but not in the `beta7` bits): https://github.com/dotnet/corefx/issues/1888#issuecomment-126067822

[2015-07-29 19:46] PinpointTownes commented on #379
True, but it has a **direct** impact on how `AuthenticationHandler`'s methods are invoked.

[2015-07-29 19:46] PinpointTownes commented on #379
BTW, there's an awful typo in the title... `aynsc` -> `async` :smile:

[2015-07-29 20:03] #378 closed

[2015-07-29 20:07] HaoK commented on #367
Small change in plans, instead of removing usage of IOptions, the new pattern for options is simply to make each options instance implement IOptions of itself, so they can be directly passed in, which will bypass whatever shared options were in DI.  Still working through the details of exactly how the new UseXyzAuth methods will be most likely:

[code]

[2015-07-29 20:13] GuardRex commented on #223
I can report it seems to be working ok with
[code]

[2015-07-29 20:41] PinpointTownes commented on #223
@GuardRex and what's your DNX runtime version?

[2015-07-29 20:45] GuardRex commented on #223
@PinpointTownes 1.0.0-beta6-12234

[2015-07-29 20:58] GuardRex commented on #223
@PinpointTownes Let me see if I can see if I can repo this with `beta6 release`. brb

[2015-07-29 21:16] GuardRex commented on #223
@PinpointTownes No, I'm not seeing it. Seems to be ok with ...
[code]
and
[code]

[2015-07-29 22:15] jods4 commented on #379
Just saying: the naming of `HandleUnauthorizedAsync` and `HandleForbiddenAsync` is not great. To me `Unauthorized` is pretty much a synonym of `Forbidden` so I'm clueless as to what the difference between the two might be (I guess I'll have to read the documentation -- then the issue becomes remembering which is which).

[2015-07-29 22:18] blowdart commented on #379
We're using the same names as HTTP uses, and the wording are the generally accepted industry terms.

Unauthorized = There is no identity
Forbidden = There is an identity already, but it doesn't meet the requirements of the system.

The wording is unlikely to change.

[2015-07-29 23:53] PinpointTownes commented on #223
That's really weird then... :scream:

![image](https://cloud.githubusercontent.com/assets/6998306/8972800/9af24a4e-365d-11e5-8b41-76f03ab2ecd9.png)

I'm using the x86 version, but I'll try with the x64 bits.

[2015-07-29 23:56] PinpointTownes commented on #223
Same thing with x64:

![image](https://cloud.githubusercontent.com/assets/6998306/8972849/328a7430-365e-11e5-9771-6e975fe61b7f.png)

[2015-07-30 05:10] artganify commented on #379
@blowdart +1

There is a clear difference between 'Unauthorized' and 'Forbidden' though I agree that the names can be confusing - but that's the fault of the HTTP standard. ASP / any other http-related platform have always made that distinction so thank you for providing both seperatetly.

[2015-07-30 14:36] Fosol opened #380 "Configure Redirect to Login View"
How do we configure what the default login view will be in MVC 6?  I've looked high and low and can't find anyone talking about it.  I am not using the out-of-the-box solution.

Any help is appreciated.

[2015-07-30 15:30] Tratcher commented on #380
I think you're looking for this:
https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L45

MVC just does Authorization. When it rejects a request the cookie authentication middleware can pick it up and redirect it to a login page.

[2015-07-30 16:37] Fosol commented on #380
First of all thanks for your response!

However I can't figure out how the sample as the following method; ChallengeAsync and SignOutAsync.

I'm sure they're probably extension methods, but they don't show up.

This new model is overly complex in comparison to adding the default login page.  I'm a big fan of middleware and extensibility, however I'm getting lost in the details.  Is there any docum

[2015-07-30 16:42] Fosol commented on #380
I found the Async methods.  they're in the new beta7.  So that leads to the next question/problem.  So far I haven't had much luck mixing beta version of the various nugget packages.

What's the general rule about mixing versions?  The user/developer experience so far with the new nugget package versioning is horrible.  It's only great when you don't do anything outside the default...

[2015-07-30 16:45] Fosol commented on #380
As soon as you mix versions you get 500 errors where it can't even resolve system objects...

[2015-07-30 16:48] Fosol commented on #380
I've attempted to update as many nuget packages to the latest builds.  I get the following error;

Method 'Start' in type 'Microsoft.AspNet.Loader.IIS.RuntimeHttpApplication' from assembly 'Microsoft.AspNet.Loader.IIS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.

[2015-07-30 17:09] Fosol commented on #380
So you can't trust the NuGet Package Manager or the intellisense within the project.json file.

If you manually search at Nuget.org you can find that Microsoft.AspNet.SErver.IIS has a new beta6.

Now I simply get a 403 status.  It should have redirected to the login view I choose...

[2015-07-30 17:12] Fosol commented on #380
With the latest Microsoft.AspNet.Server.IIS it doesn't even get to my Startup class.  It just throws a 403...

[2015-07-30 17:20] Fosol commented on #380
In an attempt to ensure all my assemblies and DNX are the latest I now get a runtime error.  I upgrade to DNX beta6.

Could not load file or assembly 'Microsoft.Dnx.Host.Clr' or one of its dependencies. The system cannot find the file specified.

[2015-07-30 17:35] Tratcher commented on #380
It sounds like you're using beta7 dnx with beta6 packages. Use dnvm to go back to beta6 dnx.

[2015-07-30 17:39] Fosol commented on #380
I could only get my hello world app up and running with the following;
dnx "1.0.0-beta5"
      "Microsoft.AspNet.Identity": "3.0.0-beta5",
      "Microsoft.AspNet.Authentication.Cookies": "1.0.0-beta5",
      "Microsoft.AspNet.DataProtection": "1.0.0-beta5",
      "Microsoft.AspNet.Mvc": "6.0.0-beta5",
      "Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-beta5",
      "Microsoft.AspNet.Server.IIS": "1.

[2015-07-30 17:44] Fosol commented on #380
Essentially all I want is to be able to control the redirect when I place an Authorize attribute on an MVC controller.  The example you provided has no MVC and thus I think I don't even get down that far in the pipeline.

[2015-07-30 17:46] Fosol commented on #380
Cheer!

I moved the order of things in my Startup.Configure(...) method.

Put this at the top;
            app.UseCookieAuthentication(options =>
            {
                options.AutomaticAuthentication = true;
                options.LoginPath = new PathString("/authorize/login");
                options.LogoutPath = new PathString("/authorize/logoff");
            });

Looks like I need to

[2015-07-30 17:46] #380 closed

[2015-07-30 22:30] Eilon commented on #278
@blowdart by when should we get this done?

[2015-07-30 22:32] Eilon commented on #231
We should build a sample that shows how to do this. If it's not possible (e.g. there's no 'bag' of data), we should look at plumbing one in.

[2015-07-30 22:40] Eilon commented on #375
`AuthenticationTokenCreateContext` no longer exists. Can you try this on a more recent build and let us know what isn't working?

[2015-07-30 22:54] #328 closed

[2015-07-30 22:57] blowdart commented on #278
Before the next beta

[2015-07-31 13:04] PinpointTownes commented on #375
@Eilon I'm not sure trying a newer build will be really helpful since @alaeddinegallas's question is all about the OAuth2 authorization server that was part of Katana 3 :smile:

Given that it won't be ported to ASP.NET 5 (see https://github.com/aspnet/Security/issues/83 for more information), this repository is probably not the best place to post this issue, but...

Normal, I dunno. But expected,

[2015-07-31 16:05] Eilon commented on #375
@PinpointTownes ah yeah we were in a rush to get through these issues and we suspected it was Katana as well :smile:

[2015-07-31 16:05] Eilon commented on #278
@blowdart got it.

@Tratcher putting this on your beta7 plate.

[2015-07-31 16:11] jraadt opened #382 "Bearer token authentication no longer returns 401 on unauthorized request"
I have an API that authenticates with an IdentityServer.  My API controller has an [Authorize] attribute.  In beta 5 if I didn't pass up a bearer token it would return a 401.  In beta 6 it returns a 200 blank response.  Also, in beta 5 I noticed it has a WWW-authenticate header, while beta 6 does not.  How do I get it to return a 401 in beta 6?  Here's part of my sample Startup.cs:

        public

[2015-07-31 16:44] danroth27 opened #383 "How to access DBContext from CookieAuthenticationNotifications"
Originally posted as https://github.com/aspnet/Mvc/issues/2892 by @ponsaravanan

I am trying to access db context from  CookieAuthenticationNotifications.OnValidatePrincipal for populating some properties from db. But couldn't access it.

Searched for online documents on how to do the same. But no luck so far.

MVC6, Beta5. I am using.

Any inputs to guide me will be greatly appreciated.

[2015-07-31 16:44] danroth27 commented on #383
@HaoK Could you please help out here?

[2015-07-31 16:55] jraadt commented on #382
After some experimenting, I got it to return a 401 by adding this block of code before the api.UseMvc(); line.  Is this the right way to do it?  Seems like something like this should just work without me having to manually check if the user is authenticated for returning a 401.

                api.Use(async (context, next) =>
                {
                    if (context.User == null || conte

[2015-07-31 17:37] PinpointTownes commented on #367
Really glad to see you changed your mind concerning `IOptions`, removing it from authentication middleware would have been a real mistake :smile:

[2015-07-31 17:43] ponsaravanan commented on #383
Ok it was me who overlooked the OnConfiguring with the parameter DbContextOptions in beta5 and couldnt use the DbContext. later after searching the internet came to know that it is changed to EntityOptionsBuilder and again changed back to DbContextOptions  beta6,

Unfortunately I was using beta5 and no samples on internet highlights much about the changes in the parameter.After on configuring work

[2015-07-31 21:48] Tratcher commented on #382
[Authorize] calls HttpContext.Authentication.ChallengeAsync() . This used to set the status code to 401 and then invoke the registered auth handlers. Now it relies on the auth handlers to set the appropriate status code when invoked. Unfortunately the old OWIN components do not set the status code.
@HaoK

[2015-07-31 23:58] HaoK commented on #382
Doh, I knew that change was scary...  I'll take a look at this next week

[2015-07-31 23:59] HaoK commented on #382
ping @lodejard for his thoughts

[2015-08-01 00:01] HaoK commented on #367
Well this just means I have another battle to fight now which is changing all middlewares to use IOptions consistently...

[2015-08-01 00:08] PinpointTownes commented on #367
Don't worry, Captain HaoK, I'll cover you :smile:

[2015-08-01 03:33] jraadt commented on #382
@HaoK - thanks for looking into it.

I spent some more time trying all sorts of things and I actually got it to work with the following code in Startup.cs.  I basically had to include cookie authentication, which seems strange because I don't do anything with cookies.  But for some reason it triggered the right parts of the security to work.  Hopefully this helps you guys figure it out.

        p

[2015-08-01 22:03] leus opened #384 "Response.SignIn not available"
Where is the "SignIn" method added to the Context.Response object? I've trying to find out what package or assembly adds it, to no avail. I'm using beta5.

Impressed so far with this, but it's confusing with all the available documentation for older versions :-)

[2015-08-02 15:30] Tratcher commented on #384
Try HttpContext.Authentication.SignIn/Async

[2015-08-02 17:35] PinpointTownes commented on #278
I guess this part depends on https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/53?

The rest sounds like a job for `OpenIdConnectProtocolValidator` (specially `at_hash` validation), which is part of Wilson. I'd be curious to know what needs to be added/changed in the OIDC middleware itself.

[2015-08-02 17:40] PinpointTownes commented on #295
@Eilon I guess you've found nobody to implement it? :cry:

[2015-08-02 17:48] Eilon commented on #295
@PinpointTownes can you email me (you already have my email) and we can figure this out with @Tratcher ?

[2015-08-03 18:49] Tratcher commented on #382
@HaoK Shouldn't ChallengeAsync("") have thrown !Accepted when called from [Authorize]?

[2015-08-03 19:38] HaoK commented on #382
Cookie picks it up since its automatic

[2015-08-03 19:39] HaoK commented on #382
Oh, and we never throw for the empty/null scheme since that's meant for the automatic middlewares to pickup...

[2015-08-03 19:43] HaoK commented on #382
Double checking the code again since its been a while just to make sure though :)

[2015-08-03 19:43] HaoK commented on #382
Yah, we explicitly never throw for empty or null in DefaultAuthenticationManager:

[code]

[2015-08-03 19:48] Tratcher commented on #382
Hmm, that may be considered a bug now. Auto middleware should Accept and set the status code.

[2015-08-03 19:54] HaoK commented on #382
So basically its a misconfigured app if they don't have any automatic and have authorize with nothing setup to listen to it?  That sounds reasonable @blowdart thoughts?

[2015-08-03 20:03] blowdart commented on #382
If by nothing set up to listen you mean there's no automatic middleware they're not specifying a scheme that does feel like a misconfiguration.

[2015-08-03 20:55] Tratcher commented on #278
@PinpointTownes's right, almost all of this validation will take place in the identitymodel dependencies. Our OIDC code only needs to be updated if/when there are API changes to pass the needed fields.

[2015-08-03 20:56] Tratcher commented on #278
See also https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/164

[2015-08-03 21:00] brentschmaltz commented on #278
see also #372

[2015-08-03 22:59] anurse commented on #47
@HaoK We need to do design on this. @glennc can assign an existing design meeting slot for this.

[2015-08-03 23:47] PinpointTownes commented on #223
This bug is really mysterious: https://github.com/dotnet/corefx/issues/1888#issuecomment-126997705

[2015-08-05 05:02] Tratcher commented on #55
Related: http://katanaproject.codeplex.com/workitem/419

[2015-08-05 05:41] gruntster commented on #382
I think I have the same issue since updating to beta 6.

I'm using a custom middleware class to authenticate the user and assign appropriate claims, etc.

[code]
I've also registered an authorization policy with an authorization requirement.

[code]
Beta 6 is now returning a status code of 200 instead of 401 when authorisation fails.  However if I enable cookie authentication with AutomaticAuthent

[2015-08-05 19:03] HaoK commented on #382
So to summarize the current thinking.  It sounds like we are leaning towards changing the behavior to throw instead of return a 200.

Basically if you have an [Authorize] and no authentication handler is configured in automatic mode, this will throw instead of 200 today.  The workaround with cookies works because it does this.

@Tratcher Do we need to do anything to support the old owin components

[2015-08-06 13:51] mikeandersun opened #386 "Where is Microsoft.IdentityModel.Protocols.OpenIdConnect ?"
After update to  Microsoft.AspNet.Authentication.OpenIdConnect version1.0.0-beta7-12747  I get the following error in project compilation!!!!
The dependency Microsoft.IdentityModel.Protocols.OpenIdConnect >= 2.0.0-beta7-207310921 could not be resolved.
 Thanks to any helps

[2015-08-06 14:08] Tratcher commented on #386
https://github.com/aspnet/Security/blob/dev/NuGet.Config#L6

[2015-08-06 15:51] Fosol opened #387 "Cookie sharing between applications"
I've attempted to implement cookie sharing between applications.

I followed the sample here - http://docs.asp.net/en/latest/security/data-protection/compatibility/cookie-sharing.html

It however doesn't appear to work.  I'm using beta5.

Essentially when I log in a cookie is created and stored in the specified location, however my other application (which lives within the same domain under a path

[2015-08-06 17:49] alandevos opened #388 "AuthorizationContext.Resource in an AuthorizationRequirement"
When trying to work with the AuthorizationContext.Resource object in an AuthorizationRequirement, the object is surprisingly missing all members at compile time.

Won't compile:
[code]

However, the expected members do exist at runtime.

Will compile and allow access to members:
[code]

Bug?  Is there another preferred way to access HttpContext/RouteData within a requirement?

[2015-08-06 20:31] Fosol commented on #387
I've attempted to upgrade my project to beta6 so that I can step through your shared cookie example code.  All I get is continual dependency issues.  The build says no errors, but if I go to the output tab it has errors.  When I look at the errors it says it can't figure out what my objects are.  I look at the code and the objects have intellisense and are in my dependency configuration.

I'm exha

[2015-08-06 20:49] HaoK commented on #388
Can you include a more detailed repro and I'll take a look?  Perhaps just the entire controller action method and the relevant authZ policy/requirement classes?

[2015-08-06 20:50] #383 closed

[2015-08-06 22:35] Eilon commented on #386
Please use the feed specified in the file that @Tratcher linked to.

[2015-08-06 22:35] #386 closed

[2015-08-06 22:36] Eilon commented on #386
These packages will eventually be on NuGet.org, but not the daily builds.

[2015-08-06 22:36] #384 closed

[2015-08-06 22:37] #375 closed

[2015-08-06 22:38] #373 closed

[2015-08-06 22:40] #367 closed

[2015-08-06 22:41] #174 closed

[2015-08-06 22:46] Eilon commented on #46
Will be covered by https://github.com/aspnet/Security/issues/47.

[2015-08-06 22:46] #46 closed

[2015-08-06 22:57] alandevos commented on #388
Thanks!

[](https://github.com/alandevos/AuthRequirementExample)

[2015-08-06 23:31] Tratcher opened #389 "Cookies should not Accept a Challenge (or anything else) unless it does something"
Right now the CookieAuthHandler will Accept a Challenge (Unauthorized or Forbidden) even if it doesn't have the associated LoginPath or AccessDeniedPath configured. This appears to be a configuration error and should throw.

[2015-08-07 16:15] vladimirlapacek commented on #179
@Eilon you mention that the cookies expire in an hour and get cleared, but I am not convinced that it is the case. The current source code suggests that the cookies are only cleared when you close the browser. The expiration seems to be only taken into account when validating the Nonce in OpenIdConnectProtocolValidator. That means that the cookies can stack up over long period of time in case the

[2015-08-07 16:23] Tratcher commented on #179
@vladimirlapacek Ah, you're right, the cookie itself does not expire. https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectAuthenticationHandler.cs#L589-L596
All told I think using Options.NonceCache is a better solution than using cookies.

[2015-08-07 16:39] Eilon commented on #179
@Tratcher should we add any additional expiration logic then?

[2015-08-07 16:50] Tratcher commented on #179
I don't think it would help, users are most likely hit this in the first few minutes (redirect loop) so an expiration wouldn't have time to remove old cookies.

Can we remove cookie support and require server side nonce caching?

[2015-08-07 16:57] Eilon commented on #179
@Tratcher can you log an issue specifically on that and we can discuss in the next mtg?

[2015-08-07 17:14] Tratcher opened #390 "[OIDC] Redesign or remove nonce cookie support"
The nonce used during the OIDC login can be stored in a cookie or in a server side cache. The cookie support is buggy and needs to be redesigned or removed.

A simple cookie name cannot be used because it will overwrite the existing cookie if a login flow is in progress in another browser tab. To address this a unique cookie name was used per login.

Now the problem is knowing when to clean up sta

[2015-08-07 17:14] Tratcher commented on #179
https://github.com/aspnet/Security/issues/390

[2015-08-07 20:05] vladimirlapacek commented on #179
@Eilon, @Tratcher thanks for the quick response and considering the options. Let me just add that the problem can surface after a longer time if the user does not finish the login here and there for whatever reason. It does not necessarily need to be a quick loop due to misconfigured server.

The CacheNonces sounds promising. I suppose that there won't be a 3.x.y version of the OIDC middleware add

[2015-08-07 20:34] Tratcher commented on #179
How many incomplete logins do you need before you start getting 400s? I expect it to be many.

Correct, the nonce cache is not in v3.

[2015-08-08 04:57] Daniel15 opened #395 "Extremely simple auth?"
What's the simplest way of doing authentication? I have a site where there'll only ever be one user (me) and I'm happy editing a config file to change my password. The 'regular' auth options (database as well as third-party services like Facebook and Twitter) seem like overkill for this particular use case, I just some something small and light.

Currently with ASP.NET 4 and MVC 4, I use Forms aut

[2015-08-08 05:06] Eilon commented on #395
Let's start out with the difference between *identity* and *authentication*. Identity is about remembering who is who. Authentication is about deciding whether somebody is really who they say they are. (And lastly, authorization is saying whether someone has access to a particular resource or operation.)

I think in you case it sounds like you still want forms authentication with cookies. But perh

[2015-08-08 05:15] Daniel15 commented on #395
My current setup (on ASP.NET 4) is that I have the username and password in an `Authentication.private.config` file, and my `.gitignore` has `*.private.config` in it. This is what I have checked in to source control:
[code]

I import that into Web.config via `<authentication configSource="Authentication.private.config" />`. My deployment script ignores all *.private.config files, and I just edit t

[2015-08-08 05:32] Eilon commented on #395
Yeah you could certainly have a source-control-ignored file where you store it.

For identity you could certainly have a custom storage provider that is in-memory or reads from a disk.

Or, use the built-in store that uses Entity Framework 7 and at app startup create the new user with the password.

[2015-08-08 05:34] Daniel15 commented on #395
Is there an example in-memory provider (or does ASP.NET 5 come bundled with one)?

I'm still using EF6 since I use MySQL (which doesn't have an EF7 provider yet).

[2015-08-08 05:54] Eilon commented on #395
There's some stuff in the [Identity repo](https://github.com/aspnet/Identity). Check out the [Startup](https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/Startup.cs#L96-L97) code, which uses a [sample data](https://github.com/aspnet/Identity/blob/dev/samples/IdentitySample.Mvc/Models/SampleData.cs) helper class.

[2015-08-08 07:35] Daniel15 commented on #395
Thanks for your help :+1:

[2015-08-08 07:35] #395 closed

[2015-08-08 07:45] Daniel15 commented on #395
@Eilon - Is there an identity package that doesn't depend on Entity Framework 7? All the examples I'm finding reference `Microsoft.AspNet.Identity.EntityFramework`, and `Microsoft.AspNet.Identity.Core` doesn't look like an ASP.NET 5 package.

[2015-08-08 07:47] Daniel15 commented on #395
Never mind, it was just NuGet's search being broken again:
![screen shot 2015-08-08 at 12 46 12 am](https://cloud.githubusercontent.com/assets/91933/9149621/015563ba-3d67-11e5-863f-29c29ef4f6fd.png)

I found `Microsoft.AspNet.Identity` and just installed it via the Package Manager console instead.

[2015-08-08 14:30] joeaudette commented on #35
I have to back-pedal my previous comment. While it would be nice if the middleware supported multi-tenancy by default, I have to admit I did not find it that difficult implementing my own multi tenant cookie middleware especially since the single tenant cookie middleware is open source. It was wrong of me to say it is indicative of a flaw in the framework, I really like the framework.

[2015-08-08 16:51] PinpointTownes opened #396 "React to System.Security.Cryptography.* changes in CoreFX"
https://github.com/dotnet/corefx/commit/ce0506baea623efdb74707aee0e4aa169d6f468c

![image](https://cloud.githubusercontent.com/assets/6998306/9151283/543630a0-3dfd-11e5-9d66-d5b3e0d73dbd.png)

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Facebook/project.json#L17

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Twitter/project.json

[2015-08-08 17:21] Eilon commented on #395
There's ASP.NET Identity for ASP.NET 4.x, and ASP.NET Identity for ASP.NET 5.x - the two are not compatible - just make sure you're using the right one.

[2015-08-09 01:42] Daniel15 commented on #395
Thanks for your help, I put together something extremely simple for my use case: https://github.com/Daniel15/SimpleIdentity

[2015-08-10 17:32] Tratcher commented on #396
Yes, we're expecting the AzureAD changes today.

[2015-08-10 22:04] PinpointTownes commented on #47
Do we finally have an agreement on the definitive notification pattern?

(related topic: https://github.com/IdentityServer/IdentityServer3/issues/1437)

[2015-08-10 22:26] Tratcher commented on #47
Nope...

[2015-08-10 23:59] PinpointTownes commented on #396
Wilson was just updated by @tushargupta51 with the packages changes I mentioned:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/213

Has someone been assigned to add the required changes in the different ASP.NET repositories?

[2015-08-11 00:05] Eilon commented on #396
@Tratcher can you own this?

[2015-08-11 17:43] #396 closed

[2015-08-11 21:45] lfoust opened #398 "Consider changing AuthorizationHandler.Handle from void to return a result"
The current signature of ```AuthorizationHandler```.Handle is:

[code]

and to implement this method, you are expected to call either ```context.Succeed``` or ```context.Fail``` to indicate the result of the ```AuthorizationHandler```. This feels like a very awkward API and allows for people to implement Handle without ever signaling a result.

A much clearer approach would be to make the Handle m

[2015-08-11 22:03] HaoK commented on #398
This was considered and the reasoning was basically that we wanted to allow handlers that did nothing potentially.  The current design gives full control to the handlers as they are called with every requirement, and they don't necessarily handle every requirement.  But they are always given the option.

[2015-08-11 22:41] HaoK commented on #259
As discussed in https://github.com/aspnet/Security/issues/363, what we have today with overriding the TicketDataFormat is enough for cookie sharing

[2015-08-11 22:41] #259 closed

[2015-08-11 23:51] HaoK commented on #389
We decided to always do something (redirect) b883920befce4afaac89ec031d30d868a48df666

[2015-08-11 23:51] #389 closed

[2015-08-11 23:51] #382 closed

[2015-08-12 00:05] HaoK commented on #376
3294de14f43108f11af682b4d30090a131be0d71

[2015-08-12 00:05] #376 closed

[2015-08-12 00:05] HaoK commented on #364
3294de14f43108f11af682b4d30090a131be0d71

[2015-08-12 00:05] #364 closed

[2015-08-12 01:47] jraadt commented on #382
I'm unsure how to resolve this in my original situation with IdentityServer.  I believe they are using the old owin components you are referring to.

        public static IApplicationBuilder UseAppBuilder(this IApplicationBuilder app, Action<IAppBuilder> configure, string owinHostAppName)
        {
            app.UseOwin(addToPipeline =>
            {
                addToPipeline(next =>

[2015-08-12 17:59] Tratcher commented on #382
@jraadt  The OWIN security components/patterns are not directly supported by the UseOwin adapter (they were never part of the OWIN spec, just something Katana cobbled together). The only reason this used to work was that Challenge would set the status code to 401 and the OWIN middleware would see that on the way out and react. To preserve this behavior you now need something to react to the Challe

[2015-08-12 21:13] HaoK commented on #388
Resource is typed as object, so you have to cast it to what you expect it to be.

[2015-08-12 21:13] #388 closed

[2015-08-13 19:02] #98 closed

[2015-08-13 22:22] Eilon commented on #55
@lodejard @Tratcher @HaoK some notes to consider:

1. Look at all the places we have a try/catch and either remove them entirely, or "tighten them up" to be more constrained, log the error (maybe), and then rethrow.
2. Consider scenarios such a login failure loops and how an app developer can fall into the pit of success (i.e. don't have infinite loops by default).

[2015-08-13 22:56] PinpointTownes opened #399 "Add missing Roslyn/CoreFX MyGet repositories"
[code]

https://github.com/aspnet/Mvc/blob/dev/NuGet.Config

[2015-08-13 23:06] Tratcher commented on #399
@troydai has a different fix and is removing these references.

[2015-08-13 23:13] PinpointTownes commented on #399
Nice, let's close this issue then :smile:

[2015-08-13 23:13] #399 closed

[2015-08-14 18:44] Fosol opened #400 "AuthorizationHandler - Current HttpContext + Route Information?"
Is it possible to get the current HttpContext and Route information within the AuthorizationHandler?

I need to be able to have dynamic policies which check the current request (route) to determine whether the user has authorization.

[2015-08-14 18:57] blowdart commented on #400
Nope, all you get is the authorization context. You could, I suppose, do it imperatively by using resource based authorization and mapping the route information to a resource class.

[2015-08-14 19:01] Fosol commented on #400
I don't follow your suggestion.

Do you mean a configuration that contains resources and mapping the route information to an entry within the configuration?  If so, that is what I'd like to do.

I however don't know how to capture the current route information within the Authorization framework.  The AuthorizationHandler & AuthorizeAttribute don't pass any information about the current route reque

[2015-08-14 19:08] blowdart commented on #400
We took a deliberate decision not to send route information to attribute based authorization, because by applying the attribute at the controller method you have the route, unless you're doing something strange like mapping multiple routes to the same controller.

Instead we have resource/operation based auth. Normally this would be aimed at something like "I have this document, a resource, and I

[2015-08-14 19:43] Fosol commented on #400
The use case I'm commonly dealing with is as such;

1) I have endpoints (MVC Controller Action).
2) A request is made (from a 3rd party or user).  Authentication occurs as per normal.
3) I have a dynamically configured role base system which roles can be created and then granted access to specific endpoints (operation).  I can't go [Authorize(Roles = "somerole")] because the roles are dynamically

[2015-08-14 19:50] blowdart commented on #400
Can you give me a concrete example? What out of the request or route information are you wanted to make decisions about?

You could, perhaps, user claims transformation to add the information from the current request as claims to the current authenticated identity. Authorization is aimed at identities and resources, not request properties.

[2015-08-14 19:58] Fosol commented on #400
I'm dealing with hundreds of endpoints that the client has control over what their users are able to perform.

Basic Structure
Operation (Endpoint) -> Role(s)/Claim(s)

Reality
Endpoint -> I don't know what role will be assigned access

I have a few options.
1) I can create claims for every endpoint/operation and apply them to the user.  Lots of claims.  Then I need to create policies for every en

[2015-08-14 20:00] blowdart commented on #400
Are you wed to doing this as an attribute, as opposed to an if Authorize() in code?

[2015-08-14 20:01] Fosol commented on #400
I don't have a preference.  An attribute would allow me to pass the current route id (something that can be mapped to a configuration).  But that attribute would need to be known by the authorization implementation so that it could then do the check with the current user.

[2015-08-14 20:02] Fosol commented on #400
I have to I'll add a method to every single endpoint.  Boilerplate code I guess.

[2015-08-14 20:03] Fosol commented on #400
But this would mean the AuthorizeAttribute is mostly useless.

[2015-08-14 20:13] blowdart commented on #400
For your purposes yes it is because you want a single policy over every route. That's not what this is designed for. You're at the CMS/multitenancy point and that's where people start rolling their own custom pieces because everyone's requirements vary. You'd also wanting MVC specific information in a policy system that is meant to apply to more than just MVC.

What you could do is approach it wit

[2015-08-14 20:16] HaoK commented on #400
I haven't read this thread in its entirety since its quite long, but basically what Barry said is what I suggest as well.  The Resource parameter is meant for you to flow whatever specific info is necessary for your authorization logic.  If you need the Route data, that is where you would flow it in...

[2015-08-14 20:18] Fosol commented on #400
Essentially I was hoping to have that logic in the AuthorizationHandler.  It looked like it would be so nice and clean that way.  Then my developers could write [CustomAuthorize(nameof(route))] and it would do it all for them.

Looks like I'll have to apply your suggestion of boilerplate code to authorize the operation.  I like your suggestion, I just wish I could have moved it up the chain.

[2015-08-14 20:29] Fosol commented on #400
What would be nice is AuthorizeAttribute could automatically insert Resource information into the AuthenticationService.Authorize() method.  Then I could set what the Resource would be as an attribute value.

[2015-08-14 20:30] blowdart commented on #400
But the attribute doesn't/can't know what the resource is, you need to load it first, from your service/database/whatever, hence it being imperative only.

[2015-08-14 20:32] Fosol commented on #400
Technically I'm treating the resource as the operation/endpoint.  I have additional security/authorization that needs to be applied to what is actually done once they're allowed to use the endpoint/operation.

[2015-08-14 20:33] Fosol commented on #400
Security Model
1) Can this user use the system?
2) Can this user use this endpoint?
3) What data/resource can this user perform an action on?

[2015-08-14 20:39] Fosol commented on #400
Your framework is separating the connection between endpoint/operation and authorization.  You've essentially made authorization on the endpoint/operation static, or in other words the developer knows who can perform that operation.  Thus the develop can apply a static policy to the endpoint/operation that looks for a static claim definition.

I'm living in a dynamic world where I can't control th

[2015-08-14 20:39] blowdart commented on #400
Taking a concrete example then, a health care invoicing system

1) Can a user use the system? Plain old auth
2) Can a user use this endpoint (i.e. access inovices)? Does the user have any value for the InvoiceAccess claim - at the controller level.
Optional 3 - Can a user perform that action? Then yes, you'd have a policy for each endpoint/action. Still only a single claim though.
4) Can the user

[2015-08-14 20:43] Fosol commented on #400
Your #2 goes back to my earlier comment.  I would have to create a policy and claim pair for every endpoint/operation.

I'm not against that solution.  I was looking for input and confirmation that I understand the framework.

I just worry about how many policies I'm going to have.  Which means a user would have tons of claims so that they would have configurable access for all the endpoints.

[2015-08-14 20:55] blowdart commented on #400
Why would you have to have tons of claims? Endpoints go to a resource and an operation? So you'd have a single "Invoice" claim, with a value detailing their access, for example "CRUD". Now you have a single claim that applies to all resources of that type.

[2015-08-14 21:04] Fosol commented on #400
Does a policy apply an OR or and AND to the required claims?

[Authorize(Policy = "InvoiceAccess")]
public IActionResult InvoiceAccess() {
}

The InvoiceAccess policy checks to see if the user has an InvoiceAccess claim.

One policy definition, one claim definition per endpoint.

I think you're saying a claim would be applied to the whole controller rather than the specific endpoint.  And then the

[2015-08-14 21:12] blowdart commented on #400
Multiple policies would be ANDed together.

[2015-08-14 21:17] Fosol commented on #400
I really appreciate your feedback.  I think I have a working plan to go forward with Policies and Claims.

I still would have preferred for a more flexible AuthorizeAttribute.  If only to be able to pass additional information to it for authorization logic.  I realize you want that logic to be placed in policies and authorization handlers.  Pity they aren't self aware of what operation/endpoint ca

[2015-08-14 21:18] #400 closed

[2015-08-18 04:12] amattie opened #401 "redirect_uri param is incorrect when SSL termination happens upstream of server running service"
When putting servers behind a device that handles SSL termination and makes requests to the server via HTTP, the context's Request.Scheme is "http". Request.Scheme is used in [BuildRedirectUrl in AuthenticationHandler.cs](https://github.com/aspnet/Security/blob/ab4ba794e546074a573fbf76d9150ffcf9752c89/src/Microsoft.AspNet.Authentication/AuthenticationHandler.cs#L88). It's also used in [CurrentUri]

[2015-08-18 04:25] Tratcher commented on #401
Overriding Request.Scheme is the recommended approach and should be fully supported as of beta6. There's even a middleware built to do this for you if your front end sets standard headers: https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNet.HttpOverrides/OverrideHeaderMiddleware.cs

[2015-08-18 12:41] loctanvo commented on #179
@Tratcher Since the nonce cookie is set on the client application's domain, it really depends on which other cookies already exist on that domain. When the sum of the cookie sizes are large enough, it will exceed the header limit (regardless of a redirect loop/misconfiguration or not). Just as a comment on your previous comment.

[2015-08-19 04:50] amattie commented on #401
Ah, that's cool. We were using beta5, so I guess that's why it wasn't working.

[2015-08-19 04:50] #401 closed

[2015-08-19 16:04] brentschmaltz commented on #278
In addition, careful reading of the spec ( http://openid.net/specs/openid-connect-core-1_0.html ) reveled that validation requires the 'state' sent on the request must be passed available for complete OIDC response validation.

[2015-08-19 21:28] HaoK commented on #297
Blocked until @leastprivilege is back from holiday

[2015-08-19 22:25] shawnwildermuth opened #402 "Authorize attribute/filter should return 401 when called from JavaScript"
In prior versions of MVC, the Authorize attribute would return a 401 if the header "X-Requested-With: XMLHttpRequest" was included. Either I don't know how to make this magic happen in MVC6 or it's poorly documented. It looks like there is no checking for that in the ChallengeResponse class.

Please close if this can be addressed with a policy (which i'm happy to do if someone can point me in the

[2015-08-19 22:32] HaoK commented on #402
Can you try adding a policy that lists your scheme in ActiveAuthenticationSchemes to see if that fixes things?

[2015-08-19 23:05] PinpointTownes commented on #402
@shawnwildermuth which middleware are you using for authentication? The cookies middleware?
Katana used to return 200 responses (instead of 302) for unauthenticated AJAX calls, but this behavior was removed from ASP.NET 5.

https://github.com/aspnet/Security/issues/27

http://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin.Security.Cookies/Provider/DefaultBehavior.cs

[2015-08-19 23:20] shawnwildermuth commented on #402
@HaoK,

Can you elaborate what you mean?

[2015-08-20 22:47] HaoK commented on #402
What does your startup.cs look like, in terms of Auth?  Specifically Cookies/Bearer configuration is important along with any AuthZ configuration

[2015-08-21 06:21] shawnwildermuth commented on #402
My Startup.cs looks like this currently:

https://gist.github.com/shawnwildermuth/87cbf15772ec511e4985

Of note, is that I'm trying to use MapWhen to configure Cookie Auth differently for Api and non Api

[2015-08-21 08:32] shawnwildermuth commented on #402
Ok, I think I figured out how to make this work. If so, I'm happy with this workaround and we can close the issue as 'not fixing'. Any reason why I shouldn't recommend this:

      services.Configure<CookieAuthenticationOptions>(opt =>
      {
        opt.LoginPath = PathString.FromUriComponent("/Auth/Login");
        opt.Notifications = new CookieAuthenticationNotifications()
        {

[2015-08-21 13:49] Tratcher commented on #402
Be careful that there are no calls to Map after this middleware, they will update Path and PathBase. Also note that OnApplyRedirect is called for different kinds of redirects (sign-in, sign-out, unauthorized, forbidden, etc.), so you may want to check where you're going before you send a 401.

[2015-08-21 19:28] Tratcher opened #404 "Flow 'state' independently of the OIDC message for validation"
To fully validate an incoming OIDC message we need to make sure the 'state' parameter matches the one we sent. Can this be flown similar to the nonce (which already has issues)?

RE:
#278
#390

[2015-08-21 19:34] jods4 opened #405 "Blank response when cookies need renewing"
I have a problem that I can't solve with authentication middleware.

My pipeline is like that:

[code]

After a while and/or rebooting the server, I *think* that the Cookie middleware wants to renew my ticket. All I can say for sure is that in `app.Run` the `User` is set properly, so the cookie ticket was readable.

But the end result is that no matter what the request is, the browser receives an

[2015-08-22 10:37] jchannon opened #406 "Unable to resolve Microsoft.AspNet.DataProtection.IDataProtectionProvider"
Using the `app.UseTwitterAuthentication();` on dnx451 on OSX on Mono I get the following error:
[code]

I think this is a mono issue but not sure. If it is would you like a PR to add a mono compliant `IDataProtectionProvider` ?

[2015-08-22 12:59] PinpointTownes commented on #406
The new data protection block works fine on Mono. Are you sure you registered the data protection services?

`services.AddAuthentication()` should do that for you.

[2015-08-22 13:46] jchannon commented on #406
I didn't do that. It I'm not using webapi or mvc so is that an issue?

On Saturday, 22 August 2015, Kévin Chalet <notifications@github.com> wrote:

[2015-08-22 14:41] PinpointTownes commented on #406
Well, MVC registers the data protection services for you when you call `services.AddMvc()` (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.ViewFeatures/DependencyInjection/MvcViewFeaturesMvcCoreBuilderExtensions.cs#L49), so if you're not using it, you'll have to manually call `services.AddAuthentication()` or `services.AddDataProtection()` :smile:

[2015-08-22 15:45] jchannon commented on #406
I've only ever used a pure owin approach. Will have to look into what the
"services" thing means
Thanks

On Saturday, 22 August 2015, Kévin Chalet <notifications@github.com> wrote:

[2015-08-22 16:07] PinpointTownes commented on #406
Here's a minimal sample on how to use `ConfigureServices`:

[code]

[2015-08-22 17:45] jchannon commented on #406
Result :

[code]

[2015-08-22 17:50] PinpointTownes commented on #406
Update Mono: https://github.com/aspnet/DataProtection/issues/68 :smile:

2015-08-22 19:45 GMT+02:00 Jonathan Channon <notifications@github.com>:

[2015-08-22 17:54] jchannon commented on #406
I would but no 4.1 version :( https://github.com/mono/docker

Thanks for the help

On 22 August 2015 at 18:50, Kévin Chalet <notifications@github.com> wrote:

[2015-08-22 17:55] #406 closed

[2015-08-24 17:38] Tratcher commented on #405
Which server are you running on? Can you give the full stack trace of the exception in FinishResponseAsync and the callstack for FinishResponseAsync at that time?

FinishResponseAsync should be called before the response is sent, so something is definitely in the wrong order.

[2015-08-24 21:08] Tratcher opened #407 "[OIDC] GetUserInformationAsync needs to fail if the subjects do not match"
OpenIdConnetHander…
protected virtual async Task<AuthenticationTicket> GetUserInformationAsync(AuthenticationProperties properties, OpenIdConnectMessage message, AuthenticationTicket ticket)

The protocol requires that the subject from the UI endpoint must equal the subject of the id_token received from redeeming the code for an ‘access_token + id_token’.
Our code logs and returns original the tic

[2015-08-25 08:26] vladimirlapacek commented on #179
@Tratcher I just discovered 2 interesting aspects of the Chrome browser (which now has the biggest market share). By default it does not clear the session cookies upon closing window (Continue where you left off) and I have also noticed that it sometimes duplicates requests, which may yield two nonces instead of just one. Only one gets deleted upon completing the login. The point is that reaching

[2015-08-25 08:41] loctanvo commented on #179
@vladimirlapacek I can confirm your findings regarding session cookies. Chrome does not clear session cookies before you have exited all chrome processes. So, if you have something running in the background, eg. Hangout, you'll keep the session cookies for quite some time.

Regarding chrome duplicating requests: I've noticed that when typing in a url, chrome will automatically make the request bef

[2015-08-25 08:52] vladimirlapacek commented on #179
@loctanvo let me go even further. Chrome does not recycle the cookies even if you terminate the process. The *Continue where you left off* setting makes them essentially persistent. That really confused me.

As for the cookie duplication, I am experiencing random request duplication hitting my server at the very same time. Not sure how that works internally, but it seems to stop if I turn off the

[2015-08-25 16:34] nenadvicentic commented on #390
Regarding one of the issues with Nonce cookie:

There is a case where cookie does not get written in the HTTP response at all. And it's easy to reproduce.

In MVC controller's action (ex `/account/login`), I have 2 lines of code:

    httpContext.Session.Abandon(); // Cause of the problem!

    context.Authentication.Challenge(
    	new AuthenticationProperties(),
    	OpenIdConnectAuthenticationD

[2015-08-25 16:40] Tratcher commented on #390
@nenadvicentic that is only applicable to Asp.Net 4 / MVC 4 / Katana. Session.Abandon() no longer exists in Asp.Net 5. See http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues&referringTitle=Documentation

[2015-08-25 17:45] brentschmaltz commented on #404
Additionally, http://tools.ietf.org/html/rfc6819#section-5.3.5 specifies that the 'state' should be tied to the user-agent session.

[2015-08-25 18:32] Tratcher commented on #404
https://github.com/aspnet/Security/issues/278#issuecomment-132656395

[2015-08-25 18:33] #278 closed

[2015-08-25 18:40] brentschmaltz opened #410 "Consider modifying OpenIdConnectAuthenticationOptions to use a single ISecurityTokenValidator"
Currently OpenIdConnectAuthenticationOptions.SecurityTokenValidators is a collection of validators, given that the specification requires a JWT, a collection here is not necessary.

Suggest change from ICollection<ISecurityTokenValidator> -> ISecurityTokenValidator.

[2015-08-25 18:49] PinpointTownes opened #411 "Revisit the OIDC/OAuth2 bearer middleware to stop re-throwing exceptions for invalid tokens"
By default, both the OIDC and the OAuth2 bearer middleware throw a bunch of security exceptions when a token is invalid. These exceptions are caught but the catch handler always re-throw them if you don't override the `AuthenticationFailed` notification and explicitly call `HandleResponse()` or `SkipToNextMiddleware()`, which is - obviously - a very bad thing, as you don't want to get a 500 respon

[2015-08-25 18:54] Tratcher commented on #411
RE: https://github.com/aspnet/Security/issues/55

[2015-08-25 19:01] PinpointTownes commented on #411
Alzheimer... :scream:

Let's close this one then :smile:

[2015-08-25 19:34] PinpointTownes commented on #410
Covered by https://github.com/aspnet/Security/pull/276#issuecomment-134710037

[2015-08-25 20:55] #407 closed

[2015-08-25 21:54] HaoK opened #412 "Add a cookie only interop sample"
Identity will have the full MVC + Identity + EF + cookie 4.5/5 interop sample.

We should try and add a lite smaller Cookie sample that only demonstrates cookie sharing without everything else

[2015-08-26 19:42] Tratcher commented on #307
Design review: declined. Revert the change in OIDC that did this.

[2015-08-26 20:05] Tratcher commented on #47
Notes:
- Rename *Notifications -> Events
- Change OIDC notifications -> use the I*Notifications pattern (see cookies)
- Move all of the OIDC base notification objects from Authentication/Notifications to ODIC/Notifications, squash the <TMessage> generic. Rename to *Context.
- Rename OAuthBearer to OAuthJWTBearer or something similar? Its not generic bearer, it’s JWT IdentityModel bearer.

I’ll fil

[2015-08-26 20:56] Tratcher opened #413 "Consider renaming OAuthBearer"
The OAuthBearer middleware is not a generic bearer token handler, it only supports JWT's. Consider renaming this one to something more specific (JWTBearer? OAughJWT?) so that we can create a more generic one later.

[2015-08-26 20:58] Tratcher commented on #47
Filed https://github.com/aspnet/Security/issues/413 for OAuthBearer. The others are all interrelated and can be handled together as part of this #.

[2015-08-27 04:29] Eilon opened #414 "Remove log codes from log messages"
Need to be consistent in all the middlesware.

[2015-08-27 16:05] BrennanConroy opened #415 "WinHttpHandler is being used which is not cross-plat friendly"
MusicStore uses a lot of the Auth methods and when hosting on Linux or Mac trying to sign-in with one of these causes the server to crash because it is trying to use a windows dll.

See below for an example
https://github.com/aspnet/Security/blob/f3e03fbf2605da7d41bea2f346d9a33d608a3f8a/src/Microsoft.AspNet.Authentication.Twitter/project.json#L21

[2015-08-27 16:06] kennyrulez opened #416 "Microsoft.AspNet.Authentication.Facebook 1.0.0-Beta6 and Web.Api"
Hello everyone!

I Created a project using Asp.net 5 web.api template.
In order to mimic the authentication process via web.api, I adapted the methods I took from another MVC6 project.
When I raise the method **ExternalLogin** (via angularjs, httpost) to login with Facebook, after the ChallengeResult call the browser (chrome or firefox equally) return this error
`XMLHttpRequest cannot load https:/

[2015-08-27 20:32] HaoK opened #417 "Rename ConfigureXyzAuth => AddXyzAuth"
Standarization across frameworks is no more ConfigureXyz, and instead expose:

 `AddXyz(option => options.YeahSureWhatever)`

[2015-08-27 22:13] Eilon commented on #372
This should probably go through claims transformation, but there might be some limitations there in the current code.

@Tratcher might have some thoughts on how this is already improved a bit, but perhaps not yet entirely. The last few commits in this repo help address this.

[2015-08-27 22:16] Eilon opened #418 "Change log messages to use string literals instead of resources"
Logs aren't localized.

[2015-08-27 22:16] #350 closed

[2015-08-27 22:18] Eilon commented on #340
Could be done as part of the notifications cleanup work.

Also need to fix this in the cookies middleware.

[2015-08-27 22:21] Eilon commented on #330
The approach we recommend for this is to enable compatibility by replacing the serializers in either the "old" app to support the "new" format, or to replace them in the "new" app to support the "old" format.

[2015-08-27 22:21] #330 closed

[2015-08-27 22:30] Eilon commented on #215
Will be covered by https://github.com/aspnet/Security/issues/340.

[2015-08-27 22:30] #215 closed

[2015-08-27 22:34] Eilon commented on #58
@Tratcher can you check if the APIs we need are there? If not, we'll have to ping some folks.

[2015-08-27 22:40] Eilon commented on #416
The Facebook authentication package (and indeed all other auth packages, except for Bearer) are designed for interactive browser applications, rather than APIs.

We recommend using a Facebook JavaScript SDK to acquire a token for the client interactively and then use validation code from Facebook to validate the token in the API.

[2015-08-27 22:40] #416 closed

[2015-08-27 22:45] Eilon commented on #413
Let's go with `JwtBearer`.

[2015-08-27 22:47] Eilon commented on #410
Close when the PR goes in.

[2015-08-27 22:52] #402 closed

[2015-08-27 22:59] PinpointTownes commented on #413
The OAuth2 bearer middleware is not tied to JWT since it only requires a `ISecurityTokenValidator` (well, a list of `ISecurityTokenValidator` to be exact), which is also implemented by `SamlSecurityTokenHandler` or `Saml2SecurityTokenHandler` (though I'm pretty sure they are still non-finalized things ATM).

Not to mention that you can also use your own token format using the `MessageReceived` or

[2015-08-27 23:00] PinpointTownes commented on #47
Nice! :+1:

[2015-08-27 23:07] PinpointTownes commented on #413
Related (old) comments about `OAuthBearerAuthenticationMiddleware`'s name:

-----

I agree with @Tratcher: we really need a basic "token validation" middleware that behaves exactly like the OAuth2 bearer token middleware built in Katana, taking no dependency on the OIDC extensions.

Making `SecurityTokenHandler` the first class citizen in the base bearer middleware is not necessarily a bad thing,

[2015-08-28 07:23] leastprivilege commented on #372
Well - claims transformation is for changing the claims for the current request. The notification is for changing the claims before the get persisted into the cookie...

[2015-08-28 15:28] Tratcher commented on #372
This should help with some of the validation concerns:
https://github.com/aspnet/Security/commit/86962ab12cee49209e9b9c1a87687ad11b6f9628

As for the claims transformation, I think the claims transformation middleware should hook into the SignIn code path to modify the principal before the cookie is generated.

[2015-08-28 15:35] leastprivilege commented on #372
And how do you want to distinguish between the "initial" transformation and per-request?

[2015-08-28 16:34] Tratcher commented on #372
I was thinking CT would have two different events, sign-in and authenticate. However, thinking about it more I realize there may be an ordering issue. For CT to intercept sign-ins and authenticates, your ordering would have too look like this:
CookieAuth
Bearer
ClaimsTransformation
OIDC
OAuth (FB, MS, Goog, Twit)

This could probably work, but I bet a lot of people would get it wrong.

[2015-08-28 22:37] jods4 commented on #405
Sorry for not coming back earlier, I really had no time for that. I will try to produce a stack trace next week.

I am running on IIS (Express, from VS).

I can say with high confidence that it's the `.Run()` part of my pipeline (shown above) that creates a problem. Since that part doesn't required authentication, I moved it before `.UseIdentity()` in my pipeline (as a `.Use()` of course and with

[2015-08-31 11:25] henninga opened #419 "Reissue/refresh claims"
Hi

When updating the user details, the clients does not automatically get the updated claims. How can I tell the idserver that I want to refresh the claims?

Using Cookie auth along with OpenId Connect.
Using version 3.0.1.0 of both client libraries.

Currently I'm attempting a dirty hack using AutenticationManager.AuthenticateAsync and AuthenticationManager.SignIn.

[2015-08-31 23:32] #410 closed

[2015-09-01 03:30] #295 closed

[2015-09-01 03:53] davidfowl opened #420 "Remove usage of shouldly"
We should just be using xunit

[2015-09-01 03:55] Eilon commented on #420
And Shoudly doesn't run on DNXCore, either.

[2015-09-01 16:34] Tratcher commented on #415
@blowdart Can we remove the BackchannelCertificateValidator's since they won't be supported on CoreCLR? Or just leave them ifdef'd for desktop?

[2015-09-01 16:36] blowdart commented on #415
I'd prefer the ifdef. Just in case someone wants to do the right thing.

[2015-09-01 19:07] Tratcher commented on #413
@PinpointTownes I'm told SAML can't be used for bearer auth because the tokens are too long. As for hooking MessageReceived and reading your own token, you'd still have to override most of the validation notifications as well so at that point you might as well use a different middleware.

[2015-09-01 19:26] PinpointTownes commented on #413
True, but this limitation is caused by the headers length limits configured by the host, not by the OAuth2 bearer middleware. The same error may occur with a JWT access token containing too many claims.

[2015-09-01 22:32] Tratcher commented on #58
@brentschmaltz What package is the BootstrapContext type available in for CoreCLR?

[2015-09-01 22:36] PinpointTownes commented on #58
`BootstrapContext` no longer exists.

`JwtSecurityTokenHandler` sets `ClaimsIdentity.BootstrapContext` with the serialized token (as a string).

[2015-09-02 17:06] Tratcher opened #423 "Support distributed sign-out"
When another site triggers a sign-out at the IDP, the client may be redirected to us with a sign-out message. We need to detect sign-out messages and allow the application to take meaningful action. The default could be just calling signout with the SignInScheme, but you also need to allow for the case where Identity has issued their own cookie.

[2015-09-02 17:51] PinpointTownes commented on #423
Definitely a must-have :+1:

[2015-09-02 18:39] #413 closed

[2015-09-02 18:58] Tratcher commented on #47
Related: https://github.com/aspnet/Security/issues/307

[2015-09-02 22:16] HaoK commented on #417
bf2b771eabcccfd6317e50366d4869f66090b23c

[2015-09-02 22:16] #417 closed

[2015-09-02 23:33] Tratcher commented on #415
I've updated the code to use the generic HttpClientHandler, but we still need packages that actually contain the linux binaries. @davidfowl?

[2015-09-03 15:25] BreeeZe opened #426 "Cookies now always redirects to Login/AccessDenied Paths"
This commit broke a pretty nice feature : https://github.com/aspnet/Security/commit/b883920befce4afaac89ec031d30d868a48df666?_pjax=%23js-repo-pjax-container , why was this changed?

I created an angular app which calls my mvc api and if it was not authenticated the cookie authentication automatically returned a 401 and my angular app recognised this so it displayed a login dialog. Now the api call

[2015-09-03 16:36] Tratcher commented on #404
Design: Use the same flow as the OAuth middleware's correlation ID, plus OIDC's unique cookie name.

[2015-09-03 16:36] Tratcher commented on #390
Recommendation: Mitigate by setting a default cookie timeout for 15 minutes.

[2015-09-03 17:15] Tratcher commented on #426
Yeah, it was broken. That 401 was being sent without a www-authenticate challenge which is invalid.

That said, Cookies shouldn't be used with WebApi anyways. You should be using Bearer or some other non-interactive login.

[2015-09-03 18:54] HaoK opened #428 "Consider dropping Authentication from all of the classes"
Since all of the Auth stuff lives under the Microsoft.AspNet.Authentication namespace already.  Why do we use Authentication in the class name everywhere?  It seems extra verbose and redundant.  Can we strip them across the board on the class names and only leave them on the Use/Add methods?

[2015-09-03 18:56] blowdart commented on #428
Hurrah a grand renaming which breaks the world.

Actually not a bad idea.

[2015-09-03 19:03] Tratcher commented on #428
Like this?
TwitterOptions
TwitterMiddleware
TwitterHandler
TwitterDefaults
ITwitterEvents
TwitterEvents
UseTwitterAuthentication

How about the base classes? I think we'd have to leave those or else we'd end up with:
Handler
Middleware
Options
etc..

[2015-09-03 19:26] PinpointTownes opened #429 "Consider making all the authentication events asynchronous"
There are multiple events that are still synchronous in the current code base.
Since we're no longer blocked by synchronous OSH callbacks, there's no reason not to make everything async.

[2015-09-03 19:44] HaoK commented on #428
Yeah so basically I think the general rule should be to only add Authentication when its needed to be clear, as opposed to just always tacking it on everywhere.

For the base classes I agree that those make sense to have the prefix as the names would be meaningless without it :)

[2015-09-03 19:45] HaoK commented on #428
I'm willing to be the sacrificial lamb for this work if your plate is full, since this has always been a pet peeve of mine :)

[2015-09-03 19:46] HaoK commented on #429
The async virus continues to spread :)

[2015-09-03 19:47] PinpointTownes commented on #429
![ASYNC ALL THE THINGS!](http://cdn.meme.am/instances/500x/63126868.jpg)

[2015-09-03 19:58] PinpointTownes opened #430 "Offer a built-in JWKS endpoint to support encrypted tokens"
Wilson doesn't support JWE yet, but at this moment, we'll probably want to offer a JWKS endpoint directly in the OIDC middleware to allow the identity provider to retrieve the public key(s) used to encrypt the identity/access tokens.

Related specs:

* JWK/JWKS: http://tools.ietf.org/html/draft-ietf-jose-json-web-key-31
* OIDC dynamic registration (though dynamic registration is not directly neede

[2015-09-03 20:39] BreeeZe commented on #426
That's too bad..

Why do you state "cookies should not be used in a webapi anyways"?
I agree that they should not be used for anything that involves retaining state on your api by means of a session or anything, but I am using claimbased authentication which uses cookies to communicate the claims to the server : https://msdn.microsoft.com/en-us/library/ff423674.aspx?f=255&MSPPError=-2147217396 , a

[2015-09-03 20:47] leastprivilege commented on #426
because of XSRF

[2015-09-03 21:17] Tratcher commented on #428
We'll take it up with Triage.

[2015-09-03 21:29] #47 closed

[2015-09-03 21:31] #307 closed

[2015-09-03 22:10] Eilon commented on #430
@blowdart are you familiar with this at all?

[2015-09-03 22:13] Eilon commented on #430
Talked to @blowdart and we're not too eager to support another draft spec right now.

[2015-09-03 22:19] #426 closed

[2015-09-03 22:21] Eilon commented on #419
The only way to do this is to log out and log back in. There is no general notification from auth servers to get updated claims.

[2015-09-03 22:21] #419 closed

[2015-09-03 22:22] PinpointTownes commented on #430
JWK specs are now an official standard (RFC 7517: http://tools.ietf.org/html/rfc7517), but since OIDC specs have been released before JWK, they explicitly target an older draft. Waiting won't change anything :smile:

More info at http://openid.net/specs/openid-connect-core-1_0.html#PreFinalIETFSpecs

[2015-09-03 22:23] #398 closed

[2015-09-03 22:25] Eilon commented on #374
We are not planning to change this design.

[2015-09-03 22:25] #374 closed

[2015-09-03 22:26] PinpointTownes commented on #430
BTW, JWK is already implemented by IdentityModel, since it's required to retrieve the provider metadata of an OIDC server :+1:

[2015-09-03 22:32] Eilon commented on #345
Not planning on doing this. Apps can work around this if needed.

We also believe that there is no correct way to solve this out-of-the-box, so we'd rather err on the side of doing nothing.

[2015-09-03 22:32] #345 closed

[2015-09-03 22:34] Eilon commented on #331
Both ASP.NET 5 components and Wilson can (or will be able to) write to EventSource, and that is the best way to get unified logs.

[2015-09-03 22:34] #331 closed

[2015-09-03 22:36] Eilon commented on #324
The more reliable serializers for this are not available until future versions of .NET 4.6, so we cannot consume these from ASP.NET 5. When those become available, we can reconsider this.

[2015-09-03 22:37] Eilon commented on #323
Custom claims principals are not supported in ASP.NET 5.

[2015-09-03 22:37] #323 closed

[2015-09-03 22:39] PinpointTownes commented on #324
@Eilon luckily, we don't need to wait for >.NET 4.6 since we can easily extend the existing serializer to support both `ClaimsIdentity.Properties` and `ClaimsIdentity.Actor` (AspNet.Security.OpenIdConnect.Server has one that replaces the default one).

[2015-09-03 22:40] Eilon commented on #322
We will revisit this when an appropriate facility exists to set the current thread's principal.

[2015-09-03 22:41] Eilon commented on #321
This is behaving as designed.

[2015-09-03 22:41] #321 closed

[2015-09-03 22:46] Eilon commented on #318
The current plan is to use a consistent expiration time for everything, which is 15min.

See also: https://github.com/aspnet/Security/issues/390

[2015-09-03 22:46] #318 closed

[2015-09-03 22:50] Eilon commented on #317
We're not sure how this could be a problem - how can the same nonce be generated more than once?

Closing because we don't think this can happen.

[2015-09-03 22:50] #317 closed

[2015-09-03 22:52] #314 closed

[2015-09-03 22:55] Eilon commented on #147
We believe the default of `true` is overall the safest:

* When using ASP.NET Identity, it will replace the cookie with its own cookie that has its own expiration rules
* When using OIDC is the primary authentication, the value of `true` is presumably what people want.

[2015-09-03 22:59] PinpointTownes opened #431 "Authentication middleware collision when registering multiple instances"
Sometimes, I wonder if you really take my remarks into consideration: https://github.com/aspnet/Security/pull/377#issuecomment-129647531 :smile:

As expected, removing the named options without introducing an appropriate workaround resulted in a total mess, that you can easily reproduce with the `SocialSample`:

![image](https://cloud.githubusercontent.com/assets/6998306/9672994/fb687eda-529f-11e5

[2015-09-03 23:00] PinpointTownes commented on #431
/cc @Eilon @HaoK @Tratcher

[2015-09-03 23:08] HaoK commented on #431
Oh I hear you, it was just buried in the avalanche of things that were broken.  The fix for this will probably be similar to Cookies and requires a new overload to be used when registering them multiinstance that takes an an instance of the options.  Thanks for bringing this up though :)  sounds like we have a sample for the generic OAuth but no real test coverage or usage!

[2015-09-03 23:51] PinpointTownes commented on #317
Actually, nonce collision is not the problem here. The whole point of ensuring nonce cookies are unique is to avoid replay attacks. With the design we have (that involves no locking and is in 2 parts), we can't really guarantee that 2 requests using the same nonce and arriving at the same time won't both allow their respective user (a legit user and a bad guy) to be correctly logged in.

[2015-09-04 00:37] #58 closed

[2015-09-04 01:20] PinpointTownes opened #433 "Port SaveTokensAsClaims to the OpenID Connect middleware"
In one of my recent PRs, I added a new `SaveTokensAsClaims` option for the OAuth2 generic middleware: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OAuth/OAuthAuthenticationOptions.cs#L111-L117.

Having a similar option for the OIDC client middleware would be great! :smile:

[2015-09-04 02:43] brockallen commented on #147
I think the 3 people here on this issue were disagreeing with that default. Default to `true` is what might work best with Azure AD, but it somewhat shields developers (in a bad way) from thinking about the issue and deciding for themselves. I guess since the issue is closed, it's moot.

[2015-09-04 07:20] BreeeZe commented on #426
Got a point there... :)

Well, I guess I have some work to do then, thanks for your time.

[2015-09-04 10:14] jods4 commented on #405
Here's the callstack on first throw:
[code]

[2015-09-04 11:07] henninga commented on #419
It seems to work using the SignIn method. Probably not what it was supposed to do, but it reissues a new token and cookie.

[2015-09-04 11:27] leastprivilege commented on #372
so beta7 has still the same bug?

[2015-09-04 12:03] Tratcher commented on #372
? https://github.com/aspnet/Security/commit/86962ab12cee49209e9b9c1a87687ad11b6f9628 is in beta7.

[2015-09-04 12:08] leastprivilege commented on #372
OK - but i still need to call HandleResponse - otherwise the new authentication ticket is discarded. Is that by design now?

[2015-09-04 12:30] Tratcher commented on #405
Found it. This is a bug in our IIS host where it does not fire the OnStarting event from SendFileAsync, only response stream writes. The cookie would have been renewed in the OnStarting event before the headers were sent, but since it didn't fire it tries to renew the cookies on the way out (thinking there was no body). I'll move this issue to our IIS host repo (currently private).

[2015-09-04 12:31] Tratcher commented on #405
This issue was moved to aspnet/Helios#199

[2015-09-04 12:34] jods4 commented on #405
Could you keep this issue open for public tracking purposes please?
I would like to know when it's fixed so that I can clean up my code and as you said the Helios repo is private.

[2015-09-04 12:39] Tratcher commented on #372
The flow is somewhat ambiguous there. We should change it to flow the value you set.

[2015-09-04 13:54] briandonahue commented on #147
For posterity, what I found most confusing about this was that I can set a cookie lifetime in my cookie options:
[code]
But if I don't know to override the OIDC defaults, that `ExpireTimeSpan` is ignored/overwritten.

[code]
That behavior seems incredibly opaque to me.  Not sure if it could be helped by different naming, or what, but it *seems* like it will be a common misunderstanding in practice

[2015-09-04 17:31] Tratcher commented on #317
The code referenced above is from HandleUnauthorizedAsync when the nonce is initially generated and sent. In theory you shouldn't be generating duplicate nonces, so the Get check is more of an assert.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectAuthenticationHandler.cs#L203-L215

The nonce validation code https://github.com/aspnet/Secu

[2015-09-04 17:42] PinpointTownes commented on #317
I agree, `ProtocolValidator.GenerateNonce()` is supposed to offer enough entropy to avoid collisions when generating a new token and since we have no way to use locking with `IDistributedCache`, we can't really prevent a race condition when validating the nonce.

I was just reacting to the fact this ticket was closed with the "invalid" label - implying @brentschmaltz's question was not correct - a

[2015-09-04 18:33] Tratcher opened #434 "Remove the nonce distributed cache"
OIDC has two different ways of tracking out of band nonces, via cookies or IDistributedCache. Recent changes have reduced the value of the cache approach (e.g. we need a cookie anyways for state validation, so now it can just be used to reduce response sizes). Rather than trying to toggle between cookies and cache in the middleware, consider factoring out an INonceManager and provide separate impl

[2015-09-04 20:31] MikeWasson opened #435 "Can't get email claim from Facebook"
Using beta7 packages. In my startup:

            services.Configure<FacebookAuthenticationOptions>(options =>
            {
                options.AppId = Configuration["Authentication:Facebook:AppId"];
                options.AppSecret = Configuration["Authentication:Facebook:AppSecret"];
                options.Scope.Add("email");
            });

However, inside AccountController.ExternalLogi

[2015-09-04 20:42] Tratcher commented on #435
Related?
https://github.com/aspnet/Security/issues/365
https://github.com/aspnet/Security/pull/366

[2015-09-04 20:51] MikeWasson commented on #435
I don't think so? It's sending a well-formed request to FB:

    https://graph.facebook.com/v2.2/me?access_token=blah&appsecret_proof=blah

But I don't see the middleware asking for email anywhere, and FB is just returning id and name. I'm not familiar enough with FB graph API to know if FB should be returning email by default, or if the middleware needs to ask for it specifically.

[2015-09-06 08:35] neurospeech opened #436 "Enhancement - Introduce cache to Cookie Authentication"
In previous ASP.NET, we were caching Authentication module to improve speed, e.g.

This is psedo code.

         context.User = HttpRuntime.Cache["FA-" + cookie.Value] as IPrincipal
         if(context.User == null){
               .. decrypt ticket... validate it etc.. renew ticket if required..
              IPrincipal user = DecryptAndValidateAndRenewTicket(cookie.Value);
              HttpRunt

[2015-09-06 18:41] davidfowl commented on #436
Do you mean you wrote your own AuthenticationModule that did caching?

[2015-09-06 19:35] Tratcher commented on #436
Do you mean something like this?
https://github.com/aspnet/Security/blob/dev/samples/CookieSessionSample/Startup.cs#L26
https://github.com/aspnet/Security/blob/dev/samples/CookieSessionSample/MemoryCacheSessionStore.cs

[2015-09-06 23:58] PinpointTownes commented on #436
IMHO, that's actually a very good idea.

The same caching concept should/could also apply to the bearer middleware. I remember the Thinktecture guys implemented a similar thing in their validation middleware, and it's definitely a great feature.

@Tratcher I guess it would be similar, but with a major difference: the session store you're mentioning is meant for reference cookies, which means that

[2015-09-07 00:33] Tratcher commented on #436
@PinpointTownes I know they aren't the same, but the reference mode could be another way of avoiding the crypto overhead.

Another way of adding this would be as a wrapper around the ISecureDataFormat used in CookieAuthOptions.TicketDataFormat

[2015-09-07 00:38] PinpointTownes commented on #436
Sure, you can always implement that yourself, but I guess the OP was looking for a built-in thing.

[2015-09-07 12:26] aredfox opened #437 "Is there any news on the feature yet? As it's holding back porting our older business aplications, and starting work in ASPNET5 for new projects."

[2015-09-07 12:26] #437 closed

[2015-09-07 12:27] aredfox commented on #43
Is there any news on the feature / roadmap for this feature, as this is now holding back starting new applications in ASPNET5 for our organisation.

[2015-09-07 16:39] PinpointTownes commented on #431
This fix is too fragile, IMHO. Having an overload taking no parameter (and retrieving the options exclusively via DI) and a second one taking a delegate (that wouldn't extract the options from DI) would be far less surprising.

[2015-09-08 19:45] Eilon commented on #147
Will discuss again in our next Security repo mtg.

[2015-09-08 20:17] briandonahue commented on #147
Cool, thanks!

[2015-09-09 04:22] HaoK commented on #428
Note to self, need to rename ConfigureJwtBearer => AddJwtBearer to match the new naming pattern

[2015-09-09 13:51] videege opened #439 "Unable to generate JSON web tokens using a symmetric key"
Sorry if this is the wrong repo for reporting this issue, but I couldn't find any other repo that seemed more suited.

I am encountering an issue when trying to write a JWT to a string using a `JwtSecurityToken` and `JwtSecurityTokenHandler` when utilizing a `SymmetricSecurityKey`.  When writing the token, an error occurs that says `IDX10640: Algorithm is not supported: 'http://www.w3.org/2001/04/

[2015-09-09 14:25] Tratcher commented on #439
You want https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2015-09-09 14:25] #439 closed

[2015-09-09 16:13] HaoK commented on #431
I went with a single UseOAuth that requires an options instance to make things simpler.  Do you feel strongly that we need the DI default overload?

[2015-09-09 18:57] #390 closed

[2015-09-09 19:17] #404 closed

[2015-09-09 22:26] HaoK commented on #431
We are going to fix this once and for all by standardizing on UseXyz(XyzOptions options) with middlewares not taking IOptions for now.

[2015-09-09 23:21] Tratcher opened #443 "Certificate verification tests do not work on Mono"
All of the custom certificate verification code fails on Mono.
https://travis-ci.org/aspnet/Security/builds/79531362
CertificateSubjectKeyIdentifierValidator
CertificateSubjectPublicKeyInfoValidator - uses PInvokes
CertificateThumbprintValidator

The public key validator won't ever work because it PInvokes. The other two might work if we had appropriate certs to test with.

Consider removing these

[2015-09-10 02:11] blowdart commented on #443
This makes me sad, but I won't stand in its way.

[2015-09-10 02:13] davidfowl commented on #443
@blowdart wrote this code right?

[2015-09-10 02:14] blowdart commented on #443
Yes I did. It's horribly windows centric, and I doubt there's a way to make it cross platform as neither mono or core will expose wrappers for the cert structures I need without us producing X509Certificate3.

[2015-09-10 05:38] davidfowl commented on #443
Let's nuke it then.

[2015-09-10 16:11] #443 closed

[2015-09-10 20:15] brockallen commented on #431
So does this mean that middleware config in general will be moving away from ConfigureServices? I think this is a good idea (and hopefully MVC does the same).

[2015-09-10 22:30] Eilon commented on #430
Is it really JWE we're talking about here or JWK/JWKS? We believe that JWK/JWKS are already supported, but that JWE would require more work.

[2015-09-10 22:35] Tratcher commented on #434
Recommendation: Remove the distributed cache and go back to the cookie approach. We can add the extensibility later if required.

[2015-09-10 22:40] Eilon commented on #433
@PinpointTownes do you want to send a PR for this?

[2015-09-11 10:31] PinpointTownes commented on #433
Yep, you can count on me. I'll start working on it when @Tratcher is done with his PR.

[2015-09-11 10:37] PinpointTownes commented on #430
Actually, we're talking about both ones :smile:

JWK/JWKS is already implemented in Wilson, but is only used by the OIDC middleware to retrieve the certificates/keys exposed by the identity provider. I'm actually suggesting the opposite: adding a JWKS endpoint to the OIDC middleware to expose a certificate/public key registered by the user and used by the identity server to encrypt the tokens.

Of

[2015-09-11 13:03] mzagel opened #445 "AuthorizationCodeReceived event won't get called, if RedirectUrl has no final slash!?"
Hi there,

I've created a sample MVC OWIN Client using an OpenId Server for authentication. The initial setup is quite simple:

[code]

During our first implementation steps we've used IIS Express. Locally (with IIS Express) when we are logged in, the AuthorizationCodeReceived event gets fired as expected. Everything worked quite fine, until we tried to test the stuff on our servers with real IIS

[2015-09-11 14:33] whoever123 commented on #179
Is there a solution to this yet?  The issue was closed but I can't find any

[2015-09-11 16:02] Tratcher commented on #179
We added a 15 minute timeout to the nonce cookie to help mitigate the issue.

[2015-09-11 16:14] whoever123 commented on #179
Thank you so much for the follow up.  Is there any particular version, step or configuration I need for this to apply?  I run into this issue a few month ago when going through IdentityServer3 MVC walkthrough sample.  I think already have all the latest nuget packages this time around by starting from scratch.

Nothing too complicated, just one Identity Server and two sample MVC apps sitting on 3

[2015-09-11 16:46] Eilon commented on #433
Awesome, thanks!

[2015-09-11 17:03] Tratcher commented on #179
You need beta8-15599 or later, from Sep 9th. You'll also want to clear your old cookies because the fix isn't retroactive.

[2015-09-11 17:37] whoever123 commented on #179
Upon further inspection, there's a chance that my nounes were piled up through a constant redirect during logon.  Here's a link describing the issue of conflict between .NET and OWIN session.

http://stackoverflow.com/questions/20737578/asp-net-sessionid-owin-cookies-do-not-send-to-browser/21234614#21234614

I'm not 100% sure yet but it's very likely, since one of my test app is "hello mvc" and th

[2015-09-11 17:43] Tratcher commented on #179
See here: http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues&referringTitle=Documentation
However, that only applies to Katana. ASP.NET 5 isn't affected by that session issue.

[2015-09-11 18:35] whoever123 commented on #179
I have been waiting for that next big thing since PC DOS 1.1 ^_^

One of the hack is just to add a dummy session variable on Session_Start.  Seems a lot less work to go around.  Do you see any potential issue with that approach?

[2015-09-11 18:42] Tratcher commented on #179
Should be fine so long as that doesn't happen on the same request where any Katana cookies are issued.

[2015-09-11 18:44] whoever123 commented on #179
Really appreciate the help.

[2015-09-12 02:31] Sharpiro opened #448 "SecurityTokenValidator Error when deploying to Azure/IIS 10"
I created an ASP.net 5 application that uses bearer authentication through "OpenIdConnectServer".

I have a working example where the application will work when debugging on a local instance through VS.  But once I deploy to either Azure or IIS, I receive 500 errors upon response, "No SecurityTokenValidator available for token:" despite being 100% sure that the token is valid.

I also talked to th

[2015-09-12 18:41] Sharpiro commented on #448
Figured out it was a different issue.

[2015-09-12 18:41] #448 closed

[2015-09-14 03:23] davidfowl commented on #431
@brockallen definitely not. First, MVC isn't even a middleware :smile: . Secondly it has a ton of services that need to be added to the container.

[2015-09-14 14:22] brockallen commented on #431
Why is MVC not middleware?

[2015-09-14 22:04] HaoK commented on #429
e8090a3176de5e6fc84be829be3a98f1e5ee8a5d

[2015-09-14 22:04] #429 closed

[2015-09-14 22:05] HaoK commented on #428
e8090a3176de5e6fc84be829be3a98f1e5ee8a5d

[2015-09-14 22:05] #428 closed

[2015-09-14 22:12] mikeandersun opened #450 "How to get UserName or user information from an OpenIdConnect server?"
I use IdentityServer 3 v2 as server.

[2015-09-14 23:06] #415 closed

[2015-09-15 15:37] Tratcher commented on #445
This is all with the old Katana packages. Have to tried it with the new ASP.NET 5 framework and packages?

In IIS is your application root at `http://localhost/` or `http://localhost/MvcOwinHybridClient/`? If it's the second one IIS may be generating an extra redirect to add the trailing slash, and this extra redirect may be interfering with your login flow.

[2015-09-15 16:17] #434 closed

[2015-09-15 17:10] jmloeffler commented on #420
If it's ok with everyone, I think that I might be able to tackle this.  I'm looking for ways to contribute and this one seems low-risk.

[2015-09-15 17:41] Eilon commented on #420
@jmloeffler go for it. Removing Shoudly is mostly a matter of writing clever regex's in VS search & replace to convert to a regular xUnit assert.

Here's an example where I've previously done it: https://github.com/aspnet/StaticFiles/commit/9c5e78b9dc05ea384db4a59ea0e9e0d26da7ef59

That should show the general pattern of conversions.

[2015-09-15 17:45] jmloeffler commented on #420
Yep, that was my plan.  Thanks for the cheat sheet @Eilon!

[2015-09-15 17:49] Eilon commented on #420
And BTW most important is changing the project.json to of course remove Shouldly, but more importantly, to add `dnxcore50`.

[2015-09-15 18:00] PinpointTownes commented on #320
@Tratcher you can close this ticket, since the nonce cache no longer exists.

[2015-09-15 18:02] PinpointTownes commented on #324
@Eilon is this ticket open to external contributions? I'm tired of having to embed by own serializer because the official one lacks `ClaimsIdentity.Actor` and `Claim.Properties` support.

[2015-09-15 18:05] #320 closed

[2015-09-15 18:10] Eilon commented on #324
@Tratcher thoughts on this? I have no particular problem but if we think it's not a good fit for v1 we should wait.

[2015-09-15 19:36] jmloeffler commented on #420
@Eilon It appears that Moq is also a blocker for targeting `dnxcore50`.  Do we have a replacement for Moq (different version or mocking framework) or is that as far as I can take this?

[2015-09-15 19:47] jmloeffler commented on #420
FYI - in case we have to do this again somewhere, the following regex replacements in VS2015 converted most (but not all) of the statements for me.  I'll submit a PR with the changes after I spend some time looking into the Moq thing.

`(\s*)(.*)\.ShouldBe\(null\) => $1Assert.Null($2)`
`(\s*)(.*)\.ShouldNotBe\(null\) => $1Assert.NotNull($2)`
`(\s*)(.*)\.ShouldBe\((.*)\) => $1Assert.Equal($3, $2)`

[2015-09-15 19:52] Eilon commented on #420
No Moq on CoreCLR yet. If the usage of Moq is trivial, you could just remove it. If it's more involved, just leave it and don't enabled CoreCLR.

We're working on Moq for CoreCLR so once that's available we can enable `dnxcore50` for this project.

[2015-09-15 21:12] Tratcher commented on #324
@PinpointTownes can you share a link to your custom serializer?

[2015-09-15 21:16] PinpointTownes commented on #324
Minor a few changes needed to make the serializer work with `ClaimsIdentity.Actor`/`Claim.Properties`, it's the same as the one used in aspnet/Security, but it doesn't include the recent changes (since BootstrapContext support was not needed):

[code]

[2015-09-15 21:19] Tratcher commented on #324
Seems reasonable, go ahead and send a PR.

[2015-09-15 23:35] PinpointTownes opened #451 "When an external login (e.g. Google) is denied, how do I recognize this?"
I was toying around with your library on ASP.NET 5 (beta 8-ish on nightlies) with little experience there so far, however the sample server project seems to works fine in general. I stripped out the Entity Framework part, as I'm planning to use a different data store later on.

Maybe I'm missing something obvious, but when I try to login with Google by doing a little

    http://localhost:51497/si

[2015-09-15 23:36] PinpointTownes commented on #451
@HaoK @Tratcher I was sure we have a ticket tracking new hooks for the OAuth2 generic middleware but I can't find it. I guess we'd need an `OnAuthenticationFailed` equivalent here.

[2015-09-16 02:00] Tratcher commented on #451
Yeah, the failure path for these is terrible.

[2015-09-16 02:01] Tratcher commented on #451
RE: https://github.com/aspnet/Security/issues/55

[2015-09-16 09:55] mzagel commented on #445
ASP.NET 5 is a nice hint, will try that, but as long as it's still in beta phase, it's not an option for production...

Yes, the root is `http://localhost/MvcOwinHybridClient/`. Your explanation sounds quite reasonable:-)
So, do you think, it's a feature and not a bug?

[2015-09-16 13:08] Tratcher commented on #445
Try it with Fiddler and see.

[2015-09-16 17:16] #420 closed

[2015-09-16 17:22] jmloeffler opened #454 "Enable dnxcore50 in Microsoft.AspNet.Authentication.Test"
In #420 I identified a number of items that are incompatible with `dnxcore50`.  We should address these so that the project supports coreclr.

* remaining Moq reference in OpenIdConnectMiddlewareTest
* XmlTextWriter reference in CookieMiddlewareTest
* Uri.GetLeftPart(...) in FacebookMiddlewareTest, GoogleMiddlewareTest, and MicrosoftAccountMiddlewareTest
* UriPartial in FacebookMiddlewareTest, Goo

[2015-09-16 18:53] Tratcher opened #455 "Consider requiring callback path"
OIDC is the only middleware with an optional callback path, and it's not set by default.

HandleAuthenticateAsync:
`if (Options.CallbackPath.HasValue && Options.CallbackPath != (Request.PathBase + Request.Path))`

This results in it reading every query string or form body and trying to authenticate.

WsFed needed this this because it could accept logins without first sending a challenge. OIDC does

[2015-09-16 19:24] Tratcher opened #456 "Implement the hybrid flow, unify code and authorization flows"
We don't really implement the hybrid flow, we just do the implicit flow and then fire AuthorizationCodeReceived at the end and let you do it yourself.  Using AuthorizationCodeReceived here is confusing as it fires in a different order than it would in the code flow, and means something different. It looks like we should just implement the hybrid flow, and do so before doing all of the token valida

[2015-09-16 21:36] #340 closed

[2015-09-16 21:36] #358 closed

[2015-09-16 21:36] #327 closed

[2015-09-16 21:36] #372 closed

[2015-09-17 03:38] Eilon commented on #25
@Tratcher I don't see any mentions of "Windows" in the codebase anymore. Is this good to close? Or do we need to hold on to this to protect some future work?

[2015-09-17 03:41] Eilon opened #457 "Make CookieAuthenticationDefaults and FacebookDefaults fields static readonly"
Many of them are currently `const`, which seems wrong.

[2015-09-17 03:43] Eilon opened #458 "Split CookieAuthenticationEvents "ApplyRedirect" into multiple events"
Split the current "ApplyRedirect" into multiple events depending on what is being redirected to. New names shouldn't have the word "Apply" in them, they should use the pattern RedirectToXyz.

[2015-09-17 03:44] Eilon opened #459 "Rename CookieAuthenticationEvents sign in/out events"
Change these to:
* SignedIn
* SigningIn
* SigningOut

Also need to change the properties/method names, and the context types they use.

[2015-09-17 03:46] Eilon opened #460 "Change all the XyzOptions.SystemClock properties to be EditorBrowsable(Never)"
And update all their doc comments to clearly say the are "For testing purposes only." (Some already make similar comments but aren't as clear.)

[2015-09-17 03:47] Eilon opened #461 "Delete BaseValidatingContext<T> and BaseValidatingTicketContext<T> types"
They are dead code that we forgot to delete.

[2015-09-17 03:48] Eilon opened #462 "Rename MS.AspNet.Authorization's ServiceCollectionExtensions to AuthorizationServiceCollectionExtensions"
It needs a specific name so that it won't conflict with all the other extension method types.

[2015-09-17 15:09] jods4 commented on #458
:+1:
I have just been bitten by this design change (initiated when CookieMiddleware started to always redirect in b883920).

A few comments:

Although I'm watching the Notifications repo, I didn't see an announcement about that and beta-7 was a breaking (at runtime) change for me because redirect would still happen when `options.LoginPath` was set to `null` (until beta-6 that's how you prevented r

[2015-09-17 15:39] Tratcher commented on #458
@jods4 as for 2, the recommended way to override it is:
[code]

[2015-09-17 15:49] jods4 commented on #458
@Tratcher thanks for the tip!

[2015-09-17 15:56] jods4 commented on #458
BTW it would be nice if the _default_ behaviour when `OnApplyRedirect` does nothing was to return 401 / 403. I mean: currently the default `Events.OnApplyRedirect` sends an HTTP redirect to `LoginPath` but if you remove it then the server returns a plain 200 with no content.

My thinking is: the request was unauthorized, so it should start as a 401. That makes sense.
Now if ASP.NET wants to set a

[2015-09-17 16:02] Tratcher commented on #458
Cookie/forms auth only defines redirects and should not produce 401s or 403s, those are defined by standard HTTP auth (e.g. basic, bearer, etc.).

The guideline for WebApi scenarios is to challenge for something specific like bearer, bypassing cookie auth entirely.

[2015-09-17 16:10] Tratcher commented on #25
This was tracking future ports, but it doesn't look like we're going to do any of those.

[2015-09-17 16:10] #25 closed

[2015-09-17 18:46] jods4 commented on #458
I am not talking public internet-style web API here. I am talking private, secure, intranet web API that is back-end for a web application. Users have to log in the application using username and password. Server calls are limited by their personal rights and must be revokable when they log out or close their browser.

If by bearer you mean (from RFC 6750):

      A security token with the propert

[2015-09-17 18:52] Tratcher commented on #458
username and password API login is commonly handled by 'Basic' auth or Windows auth (NTLM).

[2015-09-17 19:20] jods4 commented on #458
Windows auth is great for that kind of scenarios and I use it whenever I can. But sometimes (like my current case) it is not feasible.

Basic auth is an option but it's not great. Username and password must be sent and verified on each requests, logging out is hacky. The web app must manage the credentials (and keep the username in JS memory) because it has to manipulate each request to include au

[2015-09-17 19:23] Tratcher commented on #458
@blowdart Want to pick this one up?

[2015-09-17 19:27] blowdart commented on #458
For pit of success we try to steer away from cookie auth for apis because of CSRF.

Maybe the old effect could be configurable though, for back compat if you really want and understand the risk.

[2015-09-17 19:29] jods4 commented on #458
@Tratcher @blowdart Please note that the discussion went off on a tangent a bit.
At first I was just commenting on the new APIs design to configure cookie auth. middleware.
In the end, I can make everything work as I want to, so no blocker here.

The point I was making initially was:
- Yes, splitting `ApplyRedirect` or making its cause easily identifiable is required (this ticket basically);
- It

[2015-09-17 19:30] Tratcher commented on #458
The old effect is already achievable by setting the status code in OnApplyRedirect.

[2015-09-17 19:30] jods4 commented on #458
@blowdart
A web API for an internal application can easily include a CSRF token, can't it? I intend to do that but haven't configured ASP.NET 5 to achieve that. I was thinking of sending the CSRF token to the application at startup and then put it in every AJAX request header.

[2015-09-17 19:35] jods4 commented on #458
BTW thanks for the tips, I will think about Basic Auth and maybe reconsider a bit.
It is true that it removes CSRF requirements and I could just keep the user+password base64 string in the app and send it in a header with every http request.
Only downsides I see is 3rd party components who make their own requests and having to validate the password each time, which is (by design) expensive.

[2015-09-17 19:39] blowdart commented on #458
CSRF for webapi involves embedding a form, yanking the token out of it and sending it with every request. At that point you may as well have switched to bearer :)

[2015-09-17 19:39] blowdart commented on #458
(And basic is just as vulnerable to CSRF, as once the browser has logged it it'll flow automatically like cookies)

[2015-09-17 19:46] jods4 commented on #458
@blowdart

Are you serious?
Bearer does not identify the user. Username + password does.
The point of CSRF token is not sending it in the URL to prevent crafting links or img sources or whatever.
Did I miss something here?

Indeed. I was mislead  when Tratcher said recommendation for APIs were Win or Basic and you said

I kinda assumed that Basic was better than Cookie in this regard, but indeed i

[2015-09-17 19:48] HaoK commented on #431
Routing is the middleware that UseMvc actually is registering in the pipeline

[2015-09-17 19:48] HaoK commented on #431
This is similar to how UseIdentity actually is registering several instances of Cookies middleware, but there's no identity middleware either

[2015-09-17 19:50] blowdart commented on #458
I'm not saying bearer identifies the user (although if you used a jwt it could, validate signature instead of password). In middleware you'd validate and exchange the bearer token for a principal.

CSRF tokens go into a form and are linked to the user, or the browser by a secondary cookie. They are there to stop someone crafting a form and hosting it on another web site, then submitting the form t

[2015-09-17 20:01] jods4 commented on #458
That's more or less what the cookie is/does, isn't it? Except cookies are managed by the browser.

I think that I understood your previous statement incorrectly:

I thought you meant that sending a CSRF token in a HTTP header with every request was no more secure than authentication with a bearer token. Did you in fact mean that in the situation I describe sending a constant bearer token in a HTTP

[2015-09-17 20:07] blowdart commented on #458
Yes, that's exactly what the cookie middleware does.

ah no, what I'm saying is the effort to write script to pull a CSRF token out, put it into a header, and then check it on the other end is close to the effort needed to write a bearer token issuance and parser that with very little effort you could go the bearer token route.

[2015-09-17 20:13] jods4 commented on #458
I see.
Thanks again, I'll stop here because I think we have moved rather far away from the issue topic. <_>

[2015-09-17 20:14] blowdart commented on #458
:)

[2015-09-17 22:04] Eilon commented on #435
Need to try to repro this. It might be due to the user marking their email address as hidden data, so even if you request it, it won't be available.

[2015-09-17 22:05] Eilon commented on #433
@PinpointTownes let us know if you are getting close to submitting this - we have 1 week until the end of this release.

[2015-09-17 22:11] PinpointTownes commented on #433
@Eilon nope, I haven't started working on it, but in my defense, @Tratcher merged his PR yesterday :smile:

Unless you want to assign it to someone else, I'll try to submit a first prototype tomorrow.

[2015-09-17 22:13] Eilon commented on #147
We have decided to change the default value to `false`!

[2015-09-17 22:16] briandonahue commented on #147
Great - thanks for reconsidering, sorry I wasn't as clear in the initial description.

[2015-09-17 22:18] Eilon commented on #450
The user name/info is presumably in the claims returned by the server, isn't it?

Can you provide more information about the scenario?

[2015-09-17 22:31] Eilon commented on #456
After discussion it sounds like this is important to support.

[2015-09-17 22:54] Eilon commented on #147
:smile:

[2015-09-17 22:54] Eilon commented on #433
Oh no hurry at all. Just wanted to let you know our schedule!

[2015-09-17 23:25] Tratcher commented on #423
Design:
- The browser sends a GET to an address pre-configured in the IDP.
- The middleware listens for GETs on this exact path. There is no default value, so if it's not set then the feature is disabled.
- The AAD implementation does not currently include any validation parameters, but there will eventually be some validation required on the request. @blowdart, is this going to be a problem?
- Fi

[2015-09-17 23:43] PinpointTownes commented on #423
Heh, no.

There's an official draft for this feature, don't try to reinvent the wheel: http://openid.net/specs/openid-connect-backchannel-1_0.html :smile:
Of course it's a draft, but it's probably better than trying to follow the AAD-specific implementation.

The middleware listens for GETs on this exact path. There is no default value, so if it's not set then the feature is disabled.

Only POST i

[2015-09-18 00:15] PinpointTownes commented on #423
I updated my post to include the older `logout` draft: http://openid.net/specs/openid-connect-logout-1_0.html#RPLogout.

That said, this draft offers a less flexible approach than the one described in the `backchannel` draft as it requires the participation of the user, since the logout request is necessarily flowed by the user agent itself in this case. Implementing the other would be much approp

[2015-09-18 03:46] Eilon commented on #423
We were indeed worried about griefing users by logging them out of other sites. Having a token would be great.

[2015-09-18 05:53] leastprivilege commented on #423
Definitely agree not to implement anything AAD specific.

The back-channel spec is pretty new (1-2 weeks old) and will change **for sure**.
The front-channel one is more mature and generally more applicable since it does not require book keeping on the authentication session and no direct connection between IdP and RP. And it is also closest to what people have been doing with WS-Fed.

That said -

[2015-09-18 05:57] leastprivilege commented on #423
For completeness - there is actually a third spec (the original one):

http://openid.net/specs/openid-connect-session-1_0.html

This is generally considered to be the "best" (technically speaking) - but harder to implement (especially in existing applications).

Here's a "middleware-ish" approach to it that does not require explicit coding (Apache module)
https://github.com/pingidentity/mod_auth_o

[2015-09-18 05:58] leastprivilege commented on #147
yay

[2015-09-18 06:51] PinpointTownes commented on #423
Yeah :+1:
I didn't mention this one because it feels - IMHO - really tricky to implement in a generic ASP.NET 5 middleware (you'd have to "automatigically" inject an iframe in the HTML pages or ask the user to add it himself).

[2015-09-18 13:05] XplMarcel opened #466 "Improve error message for when AuthenticationScheme is not recognized"
If AutomaticAuthentication is disabled through:
services.ConfigureCookieAuthentication(c => c.AutomaticAuthentication = false);
requests to controllers with an Authorize attribute give a 500 Internal Server Error with the following error:

System.InvalidOperationException
The following authentication scheme was not accepted:

There is no authentication scheme at all.
It can be reproduced using the

[2015-09-18 13:15] sandorfr commented on #439
Thanks for link @Tratcher. If you still have that need @videege I can share my workaround with you.

[2015-09-18 13:22] dvdcrr77 commented on #466
I have recognised this behaviour also.

[2015-09-18 14:52] Tratcher commented on #466
By design. You must have an automatic auth middleware or your Authorize attribute must name specific auth middleware to use. Otherwise Authorize wouldn't have any effect.

[2015-09-18 18:12] PinpointTownes commented on #457
The cookie middleware and the FB provider are not the only ones using constants: Google, JWT/Bearer, MSFT, OIDC, Twitter also all use constants.

I'm not saying constants are more appropriate, but they have at least one merit for the default schemes: you can use them with `AuthorizeAttribute`:

[code]

[2015-09-18 19:44] HaoK commented on #466
We could re-purpose this issue to be: experience (sucks)/errors are not clear when missing authentication handlers...

[2015-09-18 19:45] Eilon commented on #457
Is the attribute scenario a common one?

The problem with these consts is that they are logically *not* constant, so that bugs me :smile:

[2015-09-18 19:46] HaoK commented on #462
Did this as part of my sweep 081577e4f4996082a4fc28ef77c84f54c7d04183

[2015-09-18 19:46] #462 closed

[2015-09-18 19:47] HaoK commented on #431
081577e4f4996082a4fc28ef77c84f54c7d04183

[2015-09-18 19:47] #431 closed

[2015-09-18 21:05] Eilon commented on #457
Ah, we can keep the schemes `const` for this scenario. We should change just about everything else, though.

[2015-09-18 21:35] PinpointTownes opened #467 "Invalid/missing configuration shouldn't allow starting a new authorization request"
If the authentication server is offline, when I start the **client** sample on Windows or using a `1.0.0-beta8-15618` docker image (e.g. `sunside/aspnet:1.0.0-beta8-15618` from today), the client application renders the home page, but fails as soon as the `sign in` button is clicked.

This does a `GET /signin` which results in a `500 Internal Server Error`. On Kestrel, no exception output is given

[2015-09-18 21:39] PinpointTownes commented on #467
@Tratcher the `Location` header (`Location: ?client_id=myClient...`) missing the issuer address seems to indicate the OIDC configuration was not correctly retrieved (as expected if the server is offline)... but surprisingly, this doesn't prevent the OIDC middleware from trying to create a new authorization request on subsequent calls.

Has something changed in Wilson that could allow a null config

[2015-09-18 23:24] Eilon opened #468 "Fix package descriptions with proper casing"
For this project: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.JwtBearer/project.json

Change from:

To:

And for this project: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/project.json
Change from:

To:

[2015-09-18 23:45] Eilon opened #469 "Clean up Authentication namespace's encoder/serializer types/APIs"
- Remove `Base64TextEncoder`, `Base64UrlTextEncoder`, `ITextEncoder`.
- Remove `TextEncodings`
- Remove `DataSerializers`. Move its defaults to the one place where they're used.
- `SecureDataFormat<TData>` ctor: remove `ITextEncoder` parameter

[2015-09-18 23:47] Eilon opened #470 "Merge EndpointContext and ReturnEndpointContext into ReturnEndpointContext"
The `EndpointContext` intermediate base class isn't used or needed.

[2015-09-18 23:47] Eilon opened #471 "Remove unused SubjectPublicKeyInfoAlgorithm type"

[2015-09-18 23:48] Eilon opened #472 "Rename cookie IAuthenticationSessionStore to ITicketStore"

[2015-09-18 23:49] Eilon opened #473 "Rename JwtBearer types/APIs to OpenIdConnectBearer"
Rename the namespace, package, types, properties, methods, doc comments, etc.

[2015-09-19 00:07] Eilon opened #474 "Rename OpenIdConnect JWT bearer events"
* `ApplyChallenge` --> `SetAuthenticationHeader`
* `MessageReceived` --> `ReceivingToken`
* `SecurityTokenReceived` --> `ReceivedToken`
* `SecurityTokenValidated` --> `ValidatedToken`

Also need to rename methods/contexts/etc.

[2015-09-19 00:09] Eilon opened #475 "Make OpenIdConnectBearerHandler (nee JwtBearerHandler) internal"

[2015-09-19 00:10] Eilon commented on #460
Also need to check if `JwtBearerOptions.SystemClock` is even needed.

[2015-09-19 00:13] Eilon opened #476 "Rename OAuthEvents and ITwitterEvents"
* `ApplyRedirect` --> `RedirectToAuthorizationEndpoint`
* `Authenticated` --> `CreatingTicket`
* `ReturnEndpoint` --> `SigningIn`

Also need to change the properties/method names, and the context types they use.

Related:
* https://github.com/aspnet/Security/issues/474
* https://github.com/aspnet/Security/issues/459

[2015-09-19 00:20] Eilon opened #477 "Rename Caption properties to DisplayName"
In the following types:
* `OAuthOptions`
* `OpenIdConnectOptions`
* `TwitterOptions`

Need to update HttpAbstraction's `AuthenticationDescription` APIs and also fix template usage in the template repo.

[2015-09-19 00:22] Eilon opened #478 "OpenIdConnectOptions API cleanup"
* Rename `AuthenticationMethod` to `RedirectBehavior`
* Investigate why `DefaultToCurrentUriOnRedirect` is needed at all
* Remove `HtmlEncoder` property and use the service instead. Need to ensure that the service is registered when the OIDC services are registered.

[2015-09-19 00:24] Eilon opened #479 "Remove Twitter.Serializers type"
Get rid of this class and just use the request token serializer in the place where it's used.

[2015-09-19 00:26] Eilon opened #480 "Authorization API cleanup"
* Rename `AuthorizeAttribute.ActiveAuthenticationSchemes` to `AuthorizeAttribute.AuthenticationSchemes`
* Move all Requirements types to a `.Infrastructure` namespace
* Move all `PassThroughAuthorizationHandler` to a `.Infrastructure` namespace

[2015-09-19 02:10] GuardRex opened #481 "Trouble getting the redirect_uri into the challenge in a new Azure B2C app"
I tried asking in the [AzureAdQuickStarts/B2C-WebApp-OpenIdConnect-DotNet](https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIdConnect-DotNet) repo, but it doesn't look like the issues there are being monitored/answered.

I got into Azure B2C today ... and with my fav framework, Core CLR (beta7) and `Microsoft.AspNet.Mvc.Core: 6.0.0-beta7`.

I took a look at the sample we have, but it uses ...

[2015-09-19 03:49] Tratcher commented on #481
RedirectUri on the challenge is where you would like to have the user returned to after the all of the authentication is complete. redirect_url is the local url where the OIDC middleware will be listening for requests. You can set it via OpenIdConnectOptions.RedirectUri https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L163

[2015-09-19 04:57] GuardRex commented on #481
Yes, but I should be able to set it in the challenge as well (I thought) so that challenges issued in different places in the app can return the user to the view where the challenge was issued or to some other destination on return. Whatever the case on setting the `redirect_uri` in a challenge, I did set it as you suggested in the `OpenIdConnectAuthentation` options ...
[code]
... which does work

[2015-09-19 05:40] leastprivilege commented on #455
Shouldn't the callback not just default to the redirect URI? IOW - the MW should only listen to the redirect URI (then callback path is redundant)

[2015-09-19 17:47] GuardRex commented on #481
Nevermind ... I give up. AD B2C was put into Preview **WAY TOO EARLY!** It's the buggiest service Azure execs have ever put into Preview IMO. The least they could have done is get the service signoff bits working.

[2015-09-19 17:47] #481 closed

[2015-09-19 21:01] PinpointTownes commented on #478
FYI, this property was added with the POST authorization requests support. I opted for a specific property in the options to allow the developer to replace the global encoder - for instance, to support Russian chars in Razor :smile: - while still being able to use a custom one for the OIDC middleware, where you probably prefer applying a very strict encoding.

________

On a related note, we shoul

[2015-09-19 21:49] Eilon commented on #478
Yeah we understood the place where the HtmlEncoder property is used, but felt that having a unique customization for it isn't necessary at this time. That options class has already, what, let's say, 500 different options on it? :smile: We figured removing a very unlikely extensibility scenario would be a good thing (for now). We felt it's far more common to replace it for the entire app.

Re: The

[2015-09-19 21:56] PinpointTownes commented on #478
Yeah, it needs a good diet :smile:

[2015-09-20 23:22] RonniePitts commented on #179
Hi Guys,
I've just experienced the HTTP 400 - Bad request issue around the various nonce cookies. First time I've seen this since moving to 3.0.0.1 Open ConnectID.
Is this now fixed?
Yes I'm using chrome.
I've seen some looping issues (login.microsoftonline.com) as well which  probably doesnt help.

[2015-09-21 01:18] Tratcher commented on #179
@RonniePitts You need beta8-15599 or later, from Sep 9th.

[2015-09-21 03:15] RonniePitts commented on #179
OK Thanks @Tratcher.
I'm assuming this is rolled into ASP.NET 5 dev branch at the moment?

Not a simple nuget package update :-)

[2015-09-21 08:33] XplMarcel commented on #466
I agree that automatic auth middleware should be in place, but in this case it was in place since i was using Identity, where app.UseIdentity() clearly adds CookieAuthentication.
So personally i think the problem occurs in Identity if AutomaticAuthentication is disabled.
I wanted to disable AutomaticAuthentication, because redirects are useless in a pure WebApi.
It can easily be solved using Cooki

[2015-09-21 13:24] Xacron commented on #206
For anyone still looking for the original OAuth Authorization Server in ASP.NET 5, I have ported the code and the original sample here:
https://github.com/XacronDevelopment/oauth-aspnet

The port includes backwards compatibility to allow ASP.NET 4.x resource servers to read the access tokens created by the authorization server.

The nuget packages are here:
https://www.nuget.org/packages/OAuth.Asp

[2015-09-21 13:24] Xacron commented on #83
For anyone still looking for the original OAuth Authorization Server in ASP.NET 5, I have ported the code and the original sample here:
https://github.com/XacronDevelopment/oauth-aspnet

The port includes backwards compatibility to allow ASP.NET 4.x resource servers to read the access tokens created by the authorization server.

The nuget packages are here:
https://www.nuget.org/packages/OAuth.Asp

[2015-09-21 13:45] videege commented on #439
@sandorfr That would be great - I could use a workaround.

[2015-09-21 13:53] sandorfr commented on #439
@videege https://gist.github.com/sandorfr/4039d540b6b552154522

[2015-09-21 16:45] eqbalsajadi commented on #83
Thank you.
On Sep 21, 2015 5:54 PM, "Xacron" <notifications@github.com> wrote:

[2015-09-21 16:51] Xacron commented on #83
I'm updating the source and packages now to remove explicit references to Microsoft.Framework.NotNullAttribute.Sources(Internal)

[2015-09-21 17:03] Tratcher commented on #466
@HaoK is UseIdentity even relevant for a pure WebApi scenario?

[2015-09-21 17:08] Xacron commented on #39
For anyone still looking for the original OAuth Authorization Server in ASP.NET 5, I have ported the code and the original sample here:
https://github.com/XacronDevelopment/oauth-aspnet

The port includes backwards compatibility to allow ASP.NET 4.x resource servers to read the access tokens created by the authorization server.

The nuget packages are here:
https://www.nuget.org/packages/OAuth.Asp

[2015-09-21 18:00] Tratcher commented on #467
@tushargupta51?

[2015-09-21 18:02] HaoK commented on #466
Not really, as all UseIdentity does is add a bunch of cookie middlewares.  So if the cookies are not needed, best to just not call UseIdentity

[2015-09-21 19:23] Tratcher commented on #55
Design recommendation:
- Remove catch-all exception handling from all the middleware. Let the ExceptionHandler middleware catch and deal with the exceptions.
- Handle known errors as granular as possible. (e.g. g+ login not enabled.)
- For OAuth/OIDC/Twitter protocol errors (e.g. we get back an "error" response when the use hits cancel), add a new ProtocolError event, where the default behavior is

[2015-09-21 19:25] blowdart commented on #55
Depending on the error detail we may need to squash the error into something more generic, e.g. crypto errors. Can someone draw up a list of the errors thrown for review?

[2015-09-21 19:28] Tratcher commented on #55
The ProtocolError redirect would only be for error messages the 3rd party sent to us, e.g. the user pressed cancel. These were already sent to us via a client side redirect, so the client had the chance to see them. Crypto errors would be exceptions handled by the ExceptionHandler middleware.

[2015-09-21 19:32] blowdart commented on #55
I mean in reference to the the remove catch-all exception handling comment, and the as granular as possible recommendation

[2015-09-21 19:39] vijayantkatyal commented on #206
@Xacron thanks, will try.

[2015-09-21 21:46] HaoK commented on #478
Eww, no don't want to do this now :)

[2015-09-22 10:09] AlexTo commented on #435
Yes I have the same issue, can't get email from Facebook if I just add

services.Configure<FacebookAuthenticationOptions>(options =>
        {
            options.AppId = Configuration["Authentication:Facebook:AppId"];
            options.AppSecret = Configuration["Authentication:Facebook:AppSecret"];
            options.Scope.Add("email");
        });

I could see that Facebook asks me for permis

[2015-09-22 15:18] muratg commented on #468
@Tratcher feel free to move to RC1 if you're not touching said projects for other bugs.

[2015-09-22 16:32] Tratcher commented on #179
Yes, its in dev and should be out on https://www.myget.org/F/aspnetwebstacknightly/

[2015-09-22 16:43] Eilon commented on #468
I think @HaoK is fixing one of these in his current PR. Feel free to poach this issue.

[2015-09-23 03:36] GuardRex opened #484 "SuppressUnmanagedCodeSecurity MIA"
`SuppressUnmanagedCodeSecurity` didn't make it into `System.Security`? My PInvoke's are fully trusted (and speed is important). Is there a workaround for a dnxcore50 app?

![capture](https://cloud.githubusercontent.com/assets/1622880/10037303/d87c5908-6179-11e5-8cee-a8f5ac6c59bc.PNG)

[2015-09-23 04:06] GuardRex commented on #484
Ooops! Asked in the wrong place.

[2015-09-23 04:06] #484 closed

[2015-09-23 15:04] PinpointTownes opened #485 "Add a RequireHttps property when migrating to Wilson beta8"
In a recent change in Wilson, `HttpDocumentRetriever` was updated to reject non-HTTPS metadata addresses. Overriding the default configuration manager to allow HTTP for testing scenarios is possible but a real PITA from a usability perspective: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/vNext/samples/Mvc/Mvc.Server/Startup.cs#L50-L57

I suggest adding a new `Requir

[2015-09-23 15:20] leastprivilege commented on #485
I really don't understand why this HTTPs by default requirement was added - there are some valid scenarios where HTTP is OK - and it is up to the developer to set the right URL.

lol for `AllowInsecureHttp` ;)

Please don't start to do the same for redirect_uri or authority.

[2015-09-23 15:26] leastprivilege commented on #485
but anyways - please make that at least easily configurable.

[2015-09-23 15:27] tstojecki opened #486 "Azure AD - AADSTS90014: The required field &#39;nonce&#39; is missing."
Hi,
We're running web api backend with a spa client. Web api has been configured with OpenId Connect middleware

[code]

This results in a challenge request being issued
[code]
that eventually ends up redirecting to Azure login page

After a successful login fiddler shows the following response being sent back

AADSTS90014: The required field &#39;nonce&#39; is missing.

Any idea what we're missin

[2015-09-23 16:10] Eilon commented on #485
Yes, ASP.NET beta8 will use Wilson beta8. If this is what I think it is, I recall seeing some spec verbiage around the requirement of HTTPS.

@brentschmaltz @Tratcher @blowdart do any of you recall what this was about?

[2015-09-23 16:31] blowdart commented on #485
Pinpoint pretty much explains it. The OIDC spec requires HTTPS return points. That's a PITA for dev. So add a "DisableHttpsRequirement" property. This would then be checked when the URLs are configured, and an exception thrown as appropriate to the settings.

[2015-09-23 19:46] Tratcher commented on #486
The OWIN components are maintained here: http://katanaproject.codeplex.com/.

You should use Fiddler or Netmon to get details about what's happening.

OIDC is a poor fit for WebApi as it requires user interaction and cookie flowing. Bearer may be more appropriate.

The most common nonce issue is http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues&

[2015-09-23 19:46] #486 closed

[2015-09-23 20:46] tushargupta51 commented on #467
@PinpointTownes @Tratcher I ran a quick test on ConfigurationManager trying to retrieve configuration from https://login.windows.net/throw.onmicrosoft.com/.well-known/openid-configuration (which does not exist), it threw the expected error: IDX10803: Unable to obtain configuration....

[2015-09-23 20:51] HaoK commented on #479
https://github.com/aspnet/Security/pull/482

[2015-09-23 20:51] #479 closed

[2015-09-23 20:51] HaoK commented on #476
https://github.com/aspnet/Security/pull/482

[2015-09-23 20:51] #476 closed

[2015-09-23 20:51] HaoK commented on #475
https://github.com/aspnet/Security/pull/482

[2015-09-23 20:51] #475 closed

[2015-09-23 20:52] HaoK commented on #473
Flip flop we are keeping JwtBearer for now

[2015-09-23 20:52] #473 closed

[2015-09-23 20:53] HaoK commented on #472
https://github.com/aspnet/Security/pull/482

[2015-09-23 20:53] #472 closed

[2015-09-23 20:53] HaoK commented on #471
https://github.com/aspnet/Security/pull/482

[2015-09-23 20:53] #471 closed

[2015-09-23 20:57] HaoK commented on #469
https://github.com/aspnet/Security/pull/482

[2015-09-23 20:57] #469 closed

[2015-09-23 20:57] HaoK commented on #470
https://github.com/aspnet/Security/pull/482

[2015-09-23 20:57] #470 closed

[2015-09-23 21:01] #461 closed

[2015-09-23 21:07] HaoK commented on #459
https://github.com/aspnet/Security/pull/482

[2015-09-23 21:07] #459 closed

[2015-09-23 21:08] HaoK commented on #458
https://github.com/aspnet/Security/pull/482

[2015-09-23 21:08] #458 closed

[2015-09-23 21:11] Banashek opened #487 "TwitterAuthenticationOptions.BackchannelCertificateValidator unavailable on core 5.0"
Apologies in advanced if this is filed in the wrong project. If it is, let me know where it should go and I'll close it here and open it in the appropriate location.

I'm on windows 10 with vs2015 community with beta-7 currently.

Was attempting to set up twitter login and ran into the following issue:
http://stackoverflow.com/questions/25011890/owin-twitter-login-the-remote-certificate-is-invalid

[2015-09-23 21:20] Tratcher commented on #487
Cert pinning was never enabled for CoreCLR, so you can just `#if !DNXCORE50` around that code.

In beta8 we removed the default cert pinning and BackchannelCertificateValidator. If you want to still do cert pinning then you would set BackchannelHttpHandler directly with the required config.

[2015-09-23 21:27] Banashek commented on #487
Ah perfect.

I had assumed that the issue was present in both frameworks, and therefore needed to be handled in both.

Thanks for the prompt and helpful response!

[2015-09-23 21:29] #487 closed

[2015-09-23 21:42] #433 closed

[2015-09-23 22:11] HaoK commented on #477
e091bceaa8ed468f8a50754c8ea84d52ce59ec50

[2015-09-23 22:11] #477 closed

[2015-09-24 00:10] PinpointTownes commented on #467
Make sure you call the configuration manager a second time since it only appears on subsequent calls.

I just tried the built-in OIDC sample and the bug is exactly where I thought:

![image](https://cloud.githubusercontent.com/assets/6998306/10062281/37e7ed84-6261-11e5-904e-51ff8403d4d3.png)

[2015-09-24 01:06] rynowak opened #491 "Add Logging to Authn and Authz"
From offline logging discussion:

- Add Verbose logging where it can be useful for debugging
- Time box to 2 dev-days maximum
- Use EventIds at each logging statement
- Update any existing logging to include an EventId

Relevant logging points we want to include for sure:
[code]

[2015-09-24 01:06] rynowak commented on #491
/cc @divega @HaoK

[2015-09-24 01:33] PinpointTownes commented on #467
@Eilon this bug is critical. Can we prioritize it for beta8?

[2015-09-24 02:58] Eilon commented on #467
@PinpointTownes yeah we have a bug triage meeting tomorrow afternoon and we'll discuss this one as well.

[2015-09-24 05:27] muratg commented on #491
FYI @rynowak

[2015-09-24 05:27] muratg commented on #491
FYI @Tratcher

[2015-09-24 06:27] tushargupta51 commented on #467
@PinpointTownes I was able to reproduce the issue when calling twice, it was because of the configuration manager trying to return stale configuration (which was null). I fixed it, it will make it in beta8. The fix is in beta8fixes2 branch.

[2015-09-24 10:50] tstojecki commented on #486
Hi @Tratcher,
I did use fiddler,which is where I got AADSTS90014: The required field 'nonce' is missing.

Any pointers on where we would be able to control how the nonce is set before the request goes out to AAD?

[2015-09-24 15:59] Tratcher commented on #486
See http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues&referringTitle=Documentation

[2015-09-24 16:01] Tratcher commented on #467
Closing as external.

[2015-09-24 16:01] #467 closed

[2015-09-24 16:05] PinpointTownes commented on #467
The root cause is indeed external, but I'm convinced we should add new checks in the middleware itself to avoid redirecting to a null/invalid issuer address.

[2015-09-24 17:12] #324 closed

[2015-09-24 17:28] #147 closed

[2015-09-24 18:37] Tratcher opened #493 "Update wilson dependency to beta8"

[2015-09-24 19:15] muratg commented on #491
@HaoK Will you be able to tackle this early in RC?

[2015-09-24 19:34] MikeWasson opened #494 "resource-based AuthorizationHandler is invoked for other resource types."
I have two authZ handlers that derive from `AuthorizationHandler<TRequirement, TResource>` with different resource types:

    services.AddInstance<IAuthorizationHandler>(new FooAuthorizationHandler());
    services.AddInstance<IAuthorizationHandler>(new BarAuthorizationHandler());

The AuthorizationService runs both handlers, passing in null when the resource type does not match. Is this the inte

[2015-09-24 19:41] HaoK commented on #491
Yep

[2015-09-24 19:58] Eilon commented on #491
We have security repo triage this afternoon.

[2015-09-24 22:04] HaoK commented on #474
852f44a3691c02c379b586fe7ef3dc0cb4cea6ab

[2015-09-24 22:04] #474 closed

[2015-09-24 22:08] Eilon commented on #445
There's no bug per se in the auth stuff, but we'll update the documentation to mention that a trailing slash is required when hosting on IIS.

[2015-09-24 22:08] #450 closed

[2015-09-24 22:16] Eilon commented on #455
Let's require it and have a default value of `/oidc` (or similar).

[2015-09-24 22:18] Eilon commented on #466
Though we're not planning to change the behavior, we will improve the error message experience.

@HaoK - you had mentioned there might be a dup in HttpAbstractions, so feel free to dup it against that.

[2015-09-24 22:20] Eilon commented on #485
@Tratcher can you take a look at this?

[2015-09-24 22:35] Eilon commented on #405
We are moving away from using Helios to a new hosting model, which you can read about here: https://github.com/aspnet/Announcements/issues/69

As such, the bug related to Helios will not be fixed.

[2015-09-24 22:35] #405 closed

[2015-09-24 22:41] #298 closed

[2015-09-24 22:48] Eilon commented on #204
@HaoK please double check that we have an issue specifically about the claims transformation preservation.

[2015-09-24 22:48] #204 closed

[2015-09-24 22:48] Eilon commented on #158
Looks like we already did this another way.

[2015-09-24 22:48] #158 closed

[2015-09-24 22:56] HaoK commented on #204
https://github.com/aspnet/Security/issues/284

[2015-09-25 11:11] stephenstroud commented on #485
+1

[2015-09-25 20:07] HaoK commented on #55
I'll send out the PR for this today, but got sucked into a config rename :/

[2015-09-27 23:59] MaximBalaganskiy opened #496 "Using [Authorize] with API calls"
I'm mixing API and view actions in my controller. How do I tell MVC to not redirect API calls when a user is not authorised?

Is custom OnApplyRedirect delegate the only way?

[2015-09-28 16:54] Tratcher commented on #496
Specify the auth scheme in the attribute to something appropriate to WebApis, e.g. Bearer.

[2015-09-29 00:42] MaximBalaganskiy opened #499 "Returning 403 does not redirect to AccessDeniedPath"
Returning `new HttpStatusCodeResult(StatusCodes.Status403Forbidden)` from an action does not redirect to a "forbidden" url. I am using cookie authentication in beta7.

[2015-09-29 01:26] #493 closed

[2015-09-29 14:54] XplMarcel opened #500 "AuthorizationOptions.DefaultPolicy"
I'm trying to replace the DefaultPolicy with my own Policy like this:

[code]

To my opinion the Authorize attribute should only use the requirements from that policy. (Correct me if i'm wrong). The TenantRequirement is used to make sure the a user has a claim for a route which uses a TenantId.

If i change the Authorize attribute to [Authorize(Roles = "Administrator")] it looks like the RolesAuth

[2015-09-29 15:27] dvdcrr77 commented on #500
I am not sure overriding the default policy. There could be an easier way.  Does your auth handler have complex logic.

The sample code here as example.
https://github.com/aspnet/MusicStore/blob/master/src/MusicStore/Startup.cs#L118-L121

[2015-09-29 15:40] georgiosd commented on #248
How does one have multiple auth schemes? I've added the default OAuth policy (beta7) plus my own ApiKey policy but I get the `System.InvalidOperationException: The following authentication scheme was not accepted` problem.

Any ideas?

Code:
[code]

[code]

[2015-09-29 15:40] georgiosd commented on #248
(I want one method to use the ApiKey policy and the rest to use the default)

[2015-09-29 17:09] XplMarcel commented on #500
@dvdcrr77 I know how to add Requirements by name and use them in an Authorize attribute like [Authorize(policy = "tenant"). What i'm basicly looking for is a way to add a policy requirement with parameters, which i don't think is currently supported.
For example:
A user can have different roles for each tenant he belongs to.
I add these tenants to the claims of the user (tenantId, name, roles).
Wh

[2015-09-29 17:29] PinpointTownes opened #501 "Fix OpenIdConnectTokenEndpointResponse to return the actual OpenIdConnectMessage"
`OpenIdConnectTokenEndpointResponse` manually creates an incomplete `OpenIdConnectMessage` by extracting a few parameters from the JSON object instead of extracting all the parameters. It should be fixed to flow the complete message.

Currently, this prevent the new `SaveTokensAsClaims` feature from correctly storing the refresh token: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspN

[2015-09-29 17:30] Tratcher commented on #501
:+1:

[2015-09-29 17:32] PinpointTownes commented on #501
Ideally, we should kill (or at least internalize) `OpenIdConnectTokenEndpointResponse` and directly expose both `OpenIdConnectMessage` and `JObject` in the context classes where it is currently used.

[2015-09-29 17:37] dvdcrr77 commented on #500
Looks like you would have to derive from AuthorizeAttribute

[ClaimsAuthorization(ClaimType="FTE", ClaimValue="1")]

[2015-09-29 18:07] dvdcrr77 commented on #500
You may have to derive from  https://github.com/aspnet/Security/blob/3a8ea672eae590785a78d74777abb76bb9664130/src/Microsoft.AspNet.Authorization/AuthorizeAttribute.cs

or ,maybe look at some of the examples provided by https://github.com/blowdart

[2015-09-29 18:18] XplMarcel commented on #500
@dvdcrr77 I think in this case that would be the only possible solution yeah.
Maybe it would be a good idea for the future to support parameters on policies in Authorize attributes instead of only a policy name. Then you don't have to introduce a custom authorize attribute and Authorization policies can simply be configured on startup.

[2015-09-29 19:07] dvdcrr77 commented on #500
But to answer your question if you remove RequireAuthenticatedUser from the policy it will ignore this DenyAnonymousAuthorizationRequirement

[2015-09-29 19:25] dvdcrr77 commented on #500
@XplMarcel Your right of course regards your original question.

https://github.com/aspnet/Security/blob/3294de14f43108f11af682b4d30090a131be0d71/src/Microsoft.AspNet.Authorization/AuthorizationPolicy.cs#L73-L76

[2015-09-29 20:30] HaoK commented on #248
Do you have any auth middleware configured with AuthenticationScheme ApiKey?

[2015-09-29 23:17] easyt opened #502 "401 and 403 Behavior in CookieAuthenticationHandler"
The CookieAuthenticationHandler class always redirects a user on unauthorized and forbidden. It doesn't seem like there is a way to tell it to use the base implementation of sending back a 401 and 403. Is there a way to get that behavior (without a hack) or is there another auth implementation we should be using?

[2015-09-29 23:28] Tratcher commented on #502
I assume this is for a WebApi or similar? You should be using Bearer, Windows Auth, Basic, etc.. Cookie auth is for user-interactive flows.

[2015-09-30 01:38] MaximBalaganskiy commented on #502
It would be a waste of a good cookie :) to use tokens just for that.  This achieves the goal.

[code]

[2015-09-30 01:42] #496 closed

[2015-09-30 05:38] georgiosd commented on #248
I think the problem was I wasn't setting the `AuthenticationScheme` property for the middleware options

[2015-09-30 07:25] XplMarcel commented on #500
Personally i think this is a bug. In my opinion a developer should be able to define his own Authorization policy (DefaultPolicy) using the Requirements he wants.
All those requirements should be handled unless 1 of them fails.
I removed the DenyAnonymousAuthorizationRequirement, but when an Authorize attribute has Roles the rest of the requirements or simply ignored (even when the role requiremen

[2015-09-30 10:17] dvdcrr77 commented on #500
Yes this could be construed as a bug. But you can combine policies so there should be a work around.

[2015-09-30 11:50] easyt commented on #502
Thanks, guys. I'm going to go with @MaximBalaganskiy on this one.

[2015-09-30 11:50] #502 closed

[2015-09-30 13:30] XplMarcel commented on #500
Eventually i solved the problem by deriving (like you proposed) from AuthorizeAttribute (basicly reintroducing it within my own namespace.) That way i can simply use the Authorize attribute with extended properties and still take advantage of the AuthorizationPolicies.

The only problem was to get the custom properties from the (new) Authorize attribute, but an Extensionmethod on the Authorization

[2015-09-30 13:48] dvdcrr77 commented on #500
@XplMarcel  Very good but doesn't feel quite right. You label this issue it might get picked up by someone.

[2015-09-30 13:54] XplMarcel commented on #500
@dvdcrr77 I totally agree, but i didn't want to reinvent/rewrite the Authorization Middleware to suit my needs. ps.. i have no idea how to label an issue here.

[2015-09-30 21:54] glatzert opened #504 "AuthZ Namespace"
Perhaps I do not see "the big picture" or my understanding of the naming is not that good, but looking into ASP.NET and especially Logging and DependencyInjection makes me assume that features, which are not "Web-only" get a namespace like Microsoft.Framework.Logging.
Now I am wondering about Microsoft.AspNet.Security.Authorization: since I'd assume that authorization is something which is probabl

[2015-09-30 23:14] HaoK commented on #466
https://github.com/aspnet/HttpAbstractions/pull/421

[2015-09-30 23:39] HaoK commented on #500
So can you summarize the issue?  Is it that you expect the default policy to be applied even when specifying roles?  The current logic basically only applies the default policy if neither the Roles nor the Policy name is specified.

[2015-10-01 10:02] XplMarcel commented on #500
@HaoK I was under the assumption that i could override the DefaultPolicy with the Requirements i need.

      services.AddMvcCore()
        .AddAuthorization(options =>
        {
          options.DefaultPolicy = new AuthorizationPolicyBuilder().RequireAuthenticatedUser().AddRequirements(new TenantRequirement()).Build();
        })
        .AddFormatterMappings()
        .AddJsonFormatters()

[2015-10-01 10:42] michaelbudnik opened #505 "Cannot set null LoginPath in CookieAuthenticationOptions to prevent redirect."
Hi.

There is no way of setting the `LoginPath` to null or empty to get the 401 response code rather then redirect.

The null value gets ovverriden in the `CookieAuthenticationMiddleware` constructor [here](https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNet.Authentication.Cookies/CookieAuthenticationMiddleware.cs#L42) with the default one taken from `CookieAuthenticationDefaults`.

[2015-10-01 22:05] Eilon commented on #499
@HaoK can you log a bug in MVC to create a forbidden result that sends a forbid response + 403?

[2015-10-01 22:18] Eilon commented on #504
The authorization types are indeed intended for ASP.NET scenarios only.

[2015-10-01 22:18] #504 closed

[2015-10-01 22:25] HaoK commented on #499
https://github.com/aspnet/Mvc/issues/3242

[2015-10-01 22:25] #499 closed

[2015-10-01 22:38] tushargupta51 opened #506 "Update the call to OpenIdConnectProtocolValidator.ValidateUserInfoEndpointResponse"
There will a small OM change in wilson: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/263. Update the API to react to that.

[2015-10-02 16:05] dvdcrr77 commented on #505
https://github.com/aspnet/Security/issues/502

[2015-10-02 23:38] HaoK commented on #500
@blowdart thoughts?

[2015-10-02 23:57] blowdart commented on #500
Interesting.

If you override the default policy would users expect to be applied everywhere, as it's the default? Even where there's no authorize attribute?

I wonder if by exposing the request in policy you could do the tenant check (assuming the tenant is in the path)

[2015-10-02 23:58] HaoK commented on #500
Yeah so the current behavior is more of a fallback policy (where if nothing else is specified, we use the default policy)

[2015-10-05 07:16] XplMarcel commented on #500
@blowdart That's what i was thinking with regards to the default policy, but i don't think requirements added to the default policy should be hard-coded in case developers want to use their own requirements.
Or make it at least make possible to override the default policy during startup.
If (options.DefaultPolicy == null) { AddDefaultPolicy(); } would be the easiest fix i guess.

I can already do

[2015-10-05 18:19] blowdart commented on #400
Just to follow up with this @Fosol. It was pointed out in another issue you can get to the route data and more in the Handle() if it's called from MVC (I apologise for not realising this)

      var controllerContext = context.Resource as Microsoft.AspNet.Mvc.AuthorizationContext;

The MVC AuthorizationContext contains RouteData and more.

[2015-10-06 15:08] Haythem opened #507 "External login info is always null with GitHub"
I'm trying to implement GitHub login within Owin. Everything is good until the `ExternalLoginCallback` on the `AccountController` gets hit. The `_signInManager.GetExternalLoginInfoAsync()` always returns null.

Here's my implementation of the provider in the `Startup` class :
[code]

Any ideas ?

[2015-10-06 15:20] Tratcher commented on #507
(No OWIN here... just ASP.NET 5.)
Start with our sample here: https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L118
And don't forget these:
https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L23
https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L30

[2015-10-06 16:41] Haythem commented on #507
First of all, I want to thank you for this fast reply.
I added the missing configuration and still not working. The `_signInManager.GetExternalLoginInfoAsync()` returns null.

The weird thing here is that I can't find the OAuthOptions class (and some other classes and properties that belong the the Asp.Net.Security namespace). I'm using the beta7 version. I upgraded to beta8 and rc1 with no luck.

[2015-10-06 17:54] PinpointTownes commented on #507
The error you're seeing is typically caused by the fact your identity has no `ClaimTypes.NameIdentifier` claim, which seems to be the case here since you're not using the `CreatingTicket` event to add one using the user information retrieved from GitHub's API (see https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L145-L151).

ASP.NET Identity 2/3 will always return null i

[2015-10-06 21:14] kpocza opened #508 "Cookies: HTTP 401 always turns into 302"
When using cookie authentication the HTTP 401 response always turns into HTTP 302 Redirect to Accounts/Login.
I setup the authentication this way:

[code]

I've tried to set the LoginPath to empty, since the engine redirects only when there is a valid login url. However it's already empty.

As I see the CookieAuthenticationMiddleware class updates the LoginPath with the default value when it's emp

[2015-10-06 21:19] Eilon commented on #507
@PinpointTownes yeah we'd be happy to have links to good 3rd party projects such as your auth stuff. I use your GitHub auth and am quite happy with it! :smile:

[2015-10-06 21:45] Alxandr commented on #35
I'm currently working on creating a multi-tenant app in DNX as well. And apparently, (according to @PinpointTownes :P), this is one of the problems WRT that. So +1 from me.

[2015-10-06 21:52] PinpointTownes commented on #508
(duplicate of https://github.com/aspnet/Security/issues/505)

+1. I completely understand it's a way to deter us from using cookies authentication for Web API endpoints, but not being able to disable these redirects is evil.

/cc @HaoK

[2015-10-06 22:28] Haythem commented on #507
@PinpointTownes Thanks for your help on this.

What I wanted to do is something similar to your library. But it appears to be that the `Microsoft.AspNet.Security.OAuth` does not contain some classes and seems to be outdated (for some reason that I don't know at this point).

I'm closing this issue because your library just saved my day. Thanks one more time.

[2015-10-06 22:28] #507 closed

[2015-10-06 22:34] PinpointTownes commented on #507
@Haythem you're welcome :clap:

FYI, `Microsoft.AspNet.Security.OAuth` was renamed to `Microsoft.AspNet.Authentication.OAuth` many months ago, so if you're still the first package, you're probably referencing really old bits.

In beta8, most of the security classes have been renamed (basically, `Authentication` was removed from their name), so don't be surprising if you see a breaking change betwe

[2015-10-06 22:35] PinpointTownes commented on #507
@Eilon nice, thanks. I'll try to submit a PR for that :+1:

[2015-10-07 15:43] djanosik opened #509 "Authorization based on action parameters"
I like the new `AuthorizeAttribute`, authorization policies and requirements. But there is one thing I find impossible to implement. Consider the following action method:
[code]
It serves to attach values to an account with the given ID. I want to create a requirement where I can check whether the authenticated user has access to this account. But I can't find a way to access action method paramet

[2015-10-07 16:07] DAllanCarr commented on #509
This was posted in another issue by @XplMarcel
https://github.com/aspnet/Security/issues/500

  var controllerContext = context.Resource as Microsoft.AspNet.Mvc.AuthorizationContext;
  return controllerContext?.RouteData?.Values["paramValue"]?.ToString();

[2015-10-07 16:18] djanosik commented on #509
Well, it's an ugly solution and is not really helpful. What I mean is to have access to argument values after model binders do their job.

[2015-10-07 16:24] DAllanCarr commented on #509
@djanosik  I agree that was not really helpful.

[2015-10-07 20:07] kpocza commented on #508
I've created a workaround for beta7.

New middleware based on the built-in cookieauth middleware:
+++
    public class WorkaroundCookieAuthenticationMiddleware : CookieAuthenticationMiddleware
    {
        public WorkaroundCookieAuthenticationMiddleware(RequestDelegate next, IDataProtectionProvider dataProtectionProvider, ILoggerFactory loggerFactory, IUrlEncoder urlEncoder, IOptions<CookieAuthen

[2015-10-07 20:14] brentschmaltz commented on #423
@leastprivilege @PinpointTownes

The intent here is to provide support for: http://openid.net/specs/openid-connect-logout-1_0.html

http://openid.net/specs/openid-connect-session-1_0.html
the push back I have had here, is that this requires the User-Agent to communicate with the Client AND code on each page.

Agree with this.

[2015-10-07 21:48] Tratcher commented on #508
@kpocza Your new middleware is redundant, you could have set Options.Notifications.OnApplyRedirect from app.UseCookieAuthentication like this in OAuth: https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L131

[2015-10-07 21:59] Tratcher commented on #445
We need to re-test this with the new HttpPlatformHandler.

[2015-10-07 23:20] blowdart commented on #508
So hopefully we're are aware of why using cookie authentication for webapis is a bad idea, right? It's obvious however that making a leap to a non-automatic auth like bearer tokens is too much to bear (no pun intended) for some situations.

I propose the following compromise.

We won't go back to the very weird Katana behaviour, instead if we detect a local ajax request, i.e. something with an X-R