[2017-10-12 19:00] reicher001 commented on #1473
@Tratcher Looks like I am getting the same parser issue too.

[2017-10-12 19:15] MeikelLP commented on #1451
To actually kick out a user instantly?

[2017-10-12 19:18] Tratcher commented on #1451
How? You have to verify the cookie against something. That something is currently the user database which is too expensive to access on every request.

[2017-10-12 19:25] MeikelLP commented on #1451
Yes, I know that it's too expensive by now. But I want something like:
Make a specific user/identity have to reverify its cookie on the next request. Is that possible or is my thinking just to simple?

[2017-10-12 19:37] Tratcher commented on #1451
The user database is the source of true for that kind of information. To verify any user you have to verify all users because you don't know which ones need to be verified without accessing a central list.

[2017-10-12 21:10] Eilon commented on #1480
Given that this comes down to choice of namespace, and changing the namespace is a breaking change, I'm closing this issue.

[2017-10-12 21:10] #1480 closed

[2017-10-12 21:11] Eilon commented on #1479
@javiercn can you take a look?

[2017-10-12 21:13] Eilon commented on #1476
@javiercn can you share your thoughts on this?

[2017-10-12 21:17] Eilon commented on #1472
This is a good suggestion but the best way to fix it would be a breaking change, so we will consider this in the 3.0 milestone. For now we recommend using a workaround, such as trying to catch the exception.

[2017-10-12 21:18] MeikelLP commented on #1451
Okay still not satisfied, even if I understand the situation now, I am not amused about this :(
Is there any best practice for my scenario? Like what if you have an admin who u want to instantly degrade but not blocked? Or will this never be an scenario?

[2017-10-12 21:19] Eilon commented on #1471
@blowdart can you update your awesome sample that everyone wants?

[2017-10-12 21:21] Eilon commented on #1470
The resource can be any type, depending on the resource being authorized. For example, in typical MVC scenarios it's one of these: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Filters/AuthorizationFilterContext.cs

This allows the code to get access to whatever MVC was doing to make its decision.

And of course in other scenarios it could be other types of objec

[2017-10-12 21:21] #1470 closed

[2017-10-12 21:22] Eilon commented on #1469
Closing this issue because we're using https://github.com/aspnet/Security/issues/1359 as the main discussion (and there's a linked PR as well). If there's anything not covered there, please comment in the other thread. Thanks!

[2017-10-12 21:22] #1469 closed

[2017-10-12 21:24] Eilon commented on #1468
@javiercn can you update this issue?

[2017-10-12 21:24] Eilon commented on #1458
Closing because there is not enough information to reproduce this problem.

[2017-10-12 21:24] #1458 closed

[2017-10-12 21:24] Eilon commented on #1444
Closing because there is not enough information to reproduce this problem.

[2017-10-12 21:24] #1444 closed

[2017-10-12 21:25] Eilon commented on #1437
Closing because there is not enough information to reproduce this problem.

[2017-10-12 21:25] #1437 closed

[2017-10-12 21:25] Eilon commented on #1433
Closing because there is not enough information to reproduce this problem.

[2017-10-12 21:25] #1433 closed

[2017-10-12 21:28] javiercn commented on #1468
This was done in Universe (and Common)
https://github.com/aspnet/BuildTools/tree/5153bbdfa98dcc27a61d591ce09a0d632875e66f
https://github.com/aspnet/Universe/commit/f6bb10696084174ed1726c71b4645cc8976e7361

[2017-10-12 21:28] #1468 closed

[2017-10-12 21:32] HaoK commented on #1451
You should always check that the user has proper authorization on the server, not rely on cached claims.

[2017-10-12 21:33] blowdart commented on #1471
But it's horrible and clearly marked "Not for production". It is kind of updated, when I feel like writing horrible insecure code.

Fine, I'll take a lot when I have some free time.

[2017-10-12 21:36] javiercn commented on #1476
PKCE is meant to be used mainly by mobile/native clients.

That said, nothing should prevent you from configuring the existing OpenIdConnectMiddleware to do PKCE yourself. You need to hook into the OpenIdConnectEvents OnRedirectToIdentityProvider and OnAuthorizationCodeReceived, set the challenge on the first one and send the verifier on the second one.

That said,  **I don't think this adds any s

[2017-10-12 21:36] #1476 closed

[2017-10-12 22:57] Tratcher commented on #1407
@glennc @rynowak this could be an interesting use of your new client factory.

[2017-10-12 23:11] vanillajonathan commented on #1470
I see. I thought it was always a `PathString`. I can use `.ToString()` on it.

[code]

[2017-10-13 02:53] brockallen commented on #1476
Not true. PKCE is great at mitigating against the code copy and paste attack for clients that don't use hybrid flow and only use code flow.

[2017-10-13 07:24] BlackBackground opened #1487 "[Authorzie] doesn't work published on Debian .net Core 2"
Hay,

we write a .net core 2.0 application how will be used on a iis or a linux server.

Important controller actions gets the tag [Authorize]. If we debug and publish the application on iss, they work. After sign in with this command line:

`_signInManager.PasswordSignInAsync(`

the User is authenticated and can use the controller actions with the tag [Authorize]. If the application published on

[2017-10-13 08:34] ben-foster-cko opened #1488 "AllowAnonymous is ignored since migrating to ASP.NET Core 2.0"
Hi,

Since migrating to ASP.NET Core 2.0 `[AllowAnonymous]` is being ignored. I am however using a custom security handler so it's possible this is the issue.

### Api Key Handler

[code]

### Startup (relevant sections)

[code]

### Packages installed

[code]

Am I missing anything?

[2017-10-13 08:38] Jenan commented on #1476
@javiercn Please, what is the property in `RedirectContext` for setting codeChallenge? Thank you.

[2017-10-13 11:59] Jenan commented on #1476
I have tried something like this:

[code]

It get an error:

`OpenIdConnectProtocolException: Message contains error: 'invalid_grant', error_description: 'error_description is null', error_uri: 'error_uri is null'.`

An authorization request contains - `code_challenge `and `code_challenge_method `correctly but request for getting access token - doesn't contain in request body `code_verifier`.

The

[2017-10-13 13:22] js82 commented on #1338
@Tratcher

Previously in this discussion I asked about returning status codes instead of redirecting when encountering 401 and 403 errors while using the built-in cookie authentication in a WebAPI project. On August 23rd you mentioned that JWT might be more appropriate. I was hoping you (or anyone else) could list the reasons for that recommendation. I'm simply trying to learn as much as possible

[2017-10-13 15:18] Tratcher commented on #1488
Looks fine. What does your controller look like?

[2017-10-13 15:20] Tratcher opened #1489 "[Authorize] on both Controller and Method won't work with ASP.Net Core 2.0"
_From @sadjadbp on October 13, 2017 7:55_

Using ASP.Net Core 1, I had this this controller that had [Authorize] attrib so it would go to default schema which is Cookie in my case and then on some of its methods I would go [Authorize("Bearer")], so those specific ones would have Jwt Authentication enabled.

Now that I upgraded to ASP.Net Core v2, for those JWT enabled methods I'll get 302 even if

[2017-10-13 15:20] Tratcher commented on #1489
@HaoK

[2017-10-13 15:38] Tratcher commented on #1487
A Fiddler trace may help show the problem. The application logs may also help.

[2017-10-13 15:58] MeikelLP commented on #1451
So for critial (rare) admin functionality can you recommend doing this?

[2017-10-13 15:59] Tratcher commented on #1338
Here's an interesting reference for JWT vs Cookies:
https://auth0.com/blog/cookies-vs-tokens-definitive-guide/

[2017-10-13 16:07] Eilon commented on #1470
@vanillajonathan it could sometimes be, it depends on what the component that calls Authorize passes in. Components can choose to pass in whatever type of resource they want so that the policies can process it to make a decision.

[2017-10-13 16:19] Zoxive commented on #1473
Any timeline for wsignoutcleanup1.0 support?

[2017-10-13 16:24] Tratcher commented on #1473
@Zoxive this one? https://github.com/aspnet/Security/issues/1425.
We're considering it but there's no specific timeline. The current focus is porting over existing functionality from Katana.

[2017-10-13 17:27] vanillajonathan commented on #1470
I see. I just foolishly assumed it was always a `PathString` because that is what I passed into it and what was passed into it from the example code I've seen in documentation I've read.

Thanks for the explanation. 👍

[2017-10-13 17:29] js82 commented on #1338
That article is actually what led me to come back and ask the questions I did. I suppose I wanted to verify what I read; which you've done by linking back to it.

Thank you!

[2017-10-13 17:53] fabiano commented on #1466
@VSDekar Thanks! Helped me with a similar bug.

[2017-10-13 18:31] Zoxive commented on #1473
@Tratcher Kinda, when our single signon provider wants to sign out all the sub applications each application gets a SignoutCleanup action

For now im doing something like this inside the WsFederationHandler HandleRemoteAuthenticateAsync

[code]

You could do something similar with middleware etc, but we already have a custom WsFederation fork to support dotnetcore. (soon as all features are met we

[2017-10-13 18:34] Tratcher commented on #1473
@Zoxive how is that different from #1425? That sounds like what we'd implement. OIDC has something similar.

[2017-10-13 19:06] MichalJankowskii commented on #1463
No this is not a problem. AaaInstance contains following string "https://login.microsoftonline.com/{0}"

I have the same configuration in WebApp and it works there fine.

[2017-10-13 19:08] Tratcher commented on #1027
@PinpointTownes any thoughts on adding an additional event here:
https://github.com/aspnet/Security/blob/824539f47ac7f57a824092b04795e25198e1438f/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L666-L673
As described in https://github.com/aspnet/Security/issues/1027#issuecomment-263073109

See https://github.com/aspnet/Security/issues/1028 about reconciling the two to

[2017-10-13 19:21] PinpointTownes commented on #1027
Sounds like a good idea, fairly cheap to implement and with no chance of breaking existing apps, no?

[2017-10-13 19:23] Tratcher commented on #1027
Yes, it should be easy enough. The main question is how useful is that second token.

[2017-10-13 19:32] PinpointTownes commented on #1027
Currently, the access/refresh/identity tokens returned from the token endpoint are always preferred to the ones directly extracted from the authorization response. It makes sense in the hybrid flow because the access token retrieved from the token endpoint potentially grants access to more resources than the first one (because you can perform client authentication with backchannel calls, so you're

[2017-10-13 19:36] Tratcher commented on #1027
This is an item I filed because we know there's a gap. There haven't been any external requests for it. That's why I asked.

[2017-10-14 09:20] michael-freidgeim-webjet commented on #839
@qvsmith
I've created a simple extension and can use it to pass an array/list of scopes:
` options.Scope.AddRange(new[] { "openid", "profile", "offline_access", "MyApi"});`

[code]

[2017-10-14 13:27] ben-foster-cko commented on #1488
Found the issue - needed to call `AddAuthorization` on the MvcBuilder not service collection. Second time this has caught me out :(

[2017-10-14 13:27] #1488 closed

[2017-10-15 01:59] brentschmaltz commented on #983
@nickkhan are you asking for a creation sample?

[2017-10-15 14:31] jmezach commented on #1473
Is there any guidance on how we could share FedAuth cookies between existing ASP.NET full framework applications and ASP.NET Core apps? As far as I can see this just enables an ASP.NET Core application to authenticate against a WSFed STS. We are looking for a way to re-use existing FedAuth cookies so that we can move part of our applications to ASP.NET Core without having to rewrite existing code.

[2017-10-16 03:55] Tratcher commented on #1473
@jmezach It depends on what components your ASP.NET apps were using.  If it was the Microsoft.Owin WsFederation provider then there is a way to share cookies.
https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing

[2017-10-16 07:26] Jenan opened #1490 "OpenIdConnect Middleware doesn't send the code_verifier in params for getting access token"
Hello,

I have tried to use PKCE with OpenIdConnect middleware - something like this:

Startup:
[code]

Events:
[code]

In method `OnAuthorizationCodeReceived` I have tried add the `code_verifier` but in POST request doesn't contain this parameter.

It get an error:

An authorization request contains - `code_challenge` and `code_challenge_method` correctly but request for getting `access token` -

[2017-10-16 12:38] PinpointTownes commented on #1490
You add your `code_verifier` to the wrong `OpenIdConnectMessage` instance. Use `authorizationCodeReceivedContext.TokenEndpointRequest` instead of `authorizationCodeReceivedContext.ProtocolMessage` and it should work.

[2017-10-16 12:53] Jenan commented on #1490
@PinpointTownes You are awesome - works perfectly!
Thank you for your reply. :)

[2017-10-16 12:53] #1490 closed

[2017-10-16 12:58] PinpointTownes commented on #1490
Glad I coud help! :call_me_hand:

[2017-10-16 14:38] Jenan commented on #1490
@PinpointTownes I am still wondering about if it is correct solution store the code_verifier in temp cookie like above - what do you think about it? Thank you.

[2017-10-16 15:20] PinpointTownes commented on #1490
You don't have many options.

You could store the code verifier in the authentication properties (that are later encrypted and are serialized in the `state` parameter), but this would almost defeat the whole purpose of using PKCE... because if an attacker managed to steal the `code`, changes would be very high he'd also be able to steal the `state` (containing the correct code verifier) and use it

[2017-10-16 19:52] jesomm commented on #1447
Closing the loop here with our own solution. Since the sign in changes suggested by @HaoK would have involved updating all our controllers and extending some base one, we ended up adding our own handler middleware to bring back something more like the auth 1.0 flow. The following code allowed us to keep all the controllers unchanged and auth against multiple cookies with just the `[Authorize]`.

i

[2017-10-16 23:26] upta opened #1492 "Middleware ordering changes when specifying AuthenticationSchemes in [Authorize]"
### Title
*Middleware ordering changes when specifying AuthenticationSchemes in [Authorize]*

### Functional impact
*Adding a custom middleware.  When using .AddAuthentication( ... ), it fires Auth -> Middleware (as expected).  When using  [Authorize( AuthenticationSchemes = ... )], it fires Middleware -> Auth*

### Minimal repro steps
https://github.com/upta/AspNetCore-MiddlewareIssues

### Expec

[2017-10-16 23:32] upta opened #1493 "Specifying AuthenticationSchemes on [Authorize] attribute behaves very differently than using a default scheme"
### Title
*Specifying AuthenticationSchemes on [Authorize] attribute behaves very differently than using a default scheme*

### Functional impact
*There are several, but the underlying issue is that the two means of specifying a scheme behave differently.  I ran into issues both trying to override an authentication scheme as well as trying to use [AllowAnonymous] when AuthenticationSchemes is used

[2017-10-17 07:25] Jenan commented on #1490
@PinpointTownes Thank you for your ideas. :) I appreciate that. For now I stay in the cookie and maybe later I'll try implement another solution as you mentioned.

[2017-10-17 07:33] homam1 opened #1494 "Trying to open a protected resource, it is redirect to issue/wstrust/mixed/certificate in my IdP instead of /issue/wsfed"
I am trying to new package with identityserver2 but still not succeeded to pass.

When I am trying to open a restricted path, It is redirected to the follownig endpoint in my IdP issue/wstrust/mixed/certificate
However, it works usually with this endpoint
/issue/wsfed

Any idea?

[2017-10-17 16:09] iamsoorya opened #1495 "AspNetCore2 Web App : OpenIdConnect error"
I am still getting below error as of today 17-Oct-2017

InvalidOperationException: No authenticationScheme was specified, and there was no DefaultChallengeScheme found.
Microsoft.AspNetCore.Authentication.AuthenticationService+<ChallengeAsync>d__11.MoveNext()

I see post https://github.com/IdentityServer/IdentityServer4/issues/1466 which claims that it is closed. Even after I follow instructions f

[2017-10-17 17:03] Tratcher commented on #1495
Please share your current Startup code. I see mistakes in the linked code.

Also, where are you checking auth? With an [Authorize] attribute on MVC controllers?

[2017-10-17 17:17] Tratcher commented on #1494
What is the metadata url? Or the metadata contents? That's what dictates where we redirect to.

[2017-10-17 17:24] Tratcher commented on #1493
I don't quite follow the comments in your repro. This one for example:
https://github.com/upta/AspNetCore-SchemeIssues/blob/7ff1f5a2b7c4b8a67afffdab08addef0270115a6/SchemeIssues/Anonymous/NoScheme/OnClass.cs#L13
You refer to an [Authorize] attribute without schemes, but there are no Authorize attributes in this file. There is a similar mismatch between the comments and code in the remaining files.

[2017-10-17 17:29] plsft commented on #1219
AddCookieAuthentication() doesn't seem to work for me. I thought i added the correct packages. any thoughts? gettting:

InvalidOperationException: No IAuthenticationSignInHandler is configured to handle sign in for the scheme: Cookies

with following code:

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddAuthorization(o =>
            {

[2017-10-17 17:49] Tratcher commented on #1492
This is intentional. The UseAuthentication middleware authenticates the default scheme if specified so that the User is available on the HttpContext for the rest of the pipeline. If no default scheme is specified then auth does not run until you reach your controller with [Authorize] attributes.

[2017-10-17 17:52] plsft opened #1496 "net core 2.0 -- cookie authentication not working"
AddCookieAuthentication() doesn't seem to work for me. I thought i added the correct packages. any thoughts? getting:

InvalidOperationException: No IAuthenticationSignInHandler is configured to handle sign in for the scheme: Cookies

with following code:

    public void ConfigureServices(IServiceCollection services)
    {
        services.AddAuthorization(o =>
        {
            o.AddPolicy("

[2017-10-17 17:53] upta commented on #1493
They use a base class with [Authorize] on it (https://github.com/upta/AspNetCore-SchemeIssues/blob/7ff1f5a2b7c4b8a67afffdab08addef0270115a6/Shared/BaseNoScheme.cs)

Sorry, that really should have ended up in the same project (did the middleware one first and it was useful there to have it in a "Shared" project; not so much for this one, but I'd copied it over ;)

[2017-10-17 17:55] Tratcher commented on #1219
Your scheme names don't match. That should be
[code]

[2017-10-17 17:55] upta commented on #1492
So it's basically "default scheme or nothing" if you want User available to your middleware?

[2017-10-17 18:04] Tratcher commented on #1496
Your scheme names don't match. That should be
[code]

[2017-10-17 18:12] Tratcher commented on #1492
Or your middleware can invoke the auth service itself.

[2017-10-17 18:21] upta commented on #1492
How would I go about doing that? (sorry, total noob with .Net core stuff, didn't start really even looking at it until 2.0 came out).

Thanks for your help!

[2017-10-17 18:27] Tratcher commented on #1492
`HttpContext.AuthenticateAsync("MyAuthScheme");`

[2017-10-17 19:10] plsft commented on #1496
I removed the follow code
,options =>
            {
                options.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                options.DefaultAuthenticateScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                options.DefaultChallengeScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                options.DefaultScheme = CookieAu

[2017-10-17 19:23] plsft commented on #1496
OK, this works.

 public void ConfigureServices(IServiceCollection services)
        {
            services.AddAuthorization(o =>
            {
                o.AddPolicy("Users", p => p.RequireClaim("Users"));
                o.AddPolicy("SuperUsers", p => p.RequireClaim("SuperUsers"));
                o.AddPolicy("PlatformUsers", p => p.RequireClaim("PlatformUsers"));
            });

[2017-10-18 04:48] Daniel15 commented on #1471
I have a project for simple username/password auth via the regular cookie-based authentication: https://github.com/Daniel15/SimpleIdentity. It works on ASP.NET Core 2.0 (I just pushed an update, but it worked fine even before).

Since I built it for forms auth, it's likely not a good fit for a REST API. Fine for a regular site though.

[2017-10-18 06:50] homam1 opened #1497 "Trying to use the library with IdentityServer IdP / WS-Federation, and getting the following error"
Trying to use the library with IdentityServer IdP / WS-Federation, and getting the following error

[code]
Using JWT Token.

Any idea ?

[2017-10-18 06:54] homam1 commented on #1494
Here's the metadata
`
<EntityDescriptor ID="_378e4391-c3a4-4fe1-9cc2-aca2776c057a" entityID="https://website.com" xmlns="urn:oasis:names:tc:SAML:2.0:metadata"><Signature xmlns="http://www.w3.org/2000/09/xmldsig#"><SignedInfo><CanonicalizationMethod Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#" /><SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" /><Reference URI="

[2017-10-18 06:59] leastprivilege commented on #1497
The current public preview is missing support for WS-Trust 1.3. This is supposed to be fixed in RTM.

In the dev branch
https://github.com/IdentityServer/IdentityServer4.WsFederation

I switched to an older version of WS-Trust to make it work.

[2017-10-18 07:39] homam1 commented on #1497
I am using Identity Server 2. Any work around in the client .net core library I can do ?

[2017-10-18 07:42] leastprivilege commented on #1497
No.

[2017-10-18 07:58] homam1 commented on #1497
Thanks alot for your answers. Any idea when will it be released?
As I can see, the workaround is to use a [library ](https://github.com/chrisdrobison/aspnetcore-wsfed)made by chrisdrobison. And this is ASP.Net core with .Net Framework.

[2017-10-18 08:09] leastprivilege commented on #1497
I am not working for Microsoft..

[2017-10-18 12:16] iamsoorya commented on #1495
Thank you for your reply. I appreciated it.

Yes, I have enabled [Authorize] attribute on the controller like below

[Authorize]
        public IActionResult Index()
        {
            return View();
        }

Here is my start up code

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.

[2017-10-18 15:38] iamsoorya commented on #1495
Where should I signin-oidc UI page for login prompt?

I am not getting "Is it already defined in IdentityServer4?" or I need to add it to my MVC application?

[2017-10-18 16:15] Tratcher commented on #1494
The PassiveRequestorEndpoints are used for the redirect.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/f10a045459e7cb07548806561a47ecdb3471f5f6/src/Microsoft.IdentityModel.Protocols.WsFederation/Configuration/WsFederationConfigurationRetriever.cs#L113
https://github.com/aspnet/Security/blob/7b0dca3636131ab9c6960b7d84d84b5799f89dcd/src/Microsoft.AspNetCor

[2017-10-18 16:15] Tratcher commented on #1494
@brentschmaltz

[2017-10-18 16:18] Tratcher commented on #1497
See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/739#issuecomment-337341650

[2017-10-18 18:08] blowdart commented on #1471
OK, my implementation of [Basic Auth](https://github.com/blowdart/idunno.Authentication) has been fixed for 1.1, and also updated for 2.0.

The caveat of don't use this in production still stands though :)

[2017-10-18 18:11] Tratcher commented on #1495
This:
[code]
Can be simplified to:
[code]

[2017-10-19 10:52] Matthew-Bonner opened #1498 "Bikeshedding but please call this project Authentication"
Bikeshedding but please call this project Authentication instead of Security. This won't break anything but helps people find the code they are looking for.

[2017-10-19 15:35] drauch commented on #1467
@Tratcher : Thanks, you're right. Identities contains both, the windows identity and the cookie identity. Unfortunately, there is no easy way to tell the principal to use the cookie identity as "first" identity and a lot of ASP.NET infrastructure simply uses the primary Identity.

We are now working with a wrapper around the principal which returns the cookie identity as the primary identity.

[2017-10-19 17:20] tstojecki commented on #1449
I know this has been closed, but JsonKeyArrayClaimAction solved my problem too and I could see that added to Claims extension inside the middleware.
//cc: @Tratcher

[2017-10-19 18:14] Tratcher commented on #1449
@tstojecki feel free to open a new issue for that and/or send a PR.

[2017-10-19 20:13] #1483 closed

[2017-10-19 21:09] Eilon commented on #1498
It would actually break some scenarios because the redirects don't work for everything.

But, this repo contains more than just authentication features, so it does cover a broader set of security features.

[2017-10-19 21:09] #1498 closed

[2017-10-19 21:10] Eilon commented on #1497
Indeed, please follow the AzureAD repos for the latest on those features.

[2017-10-19 21:10] #1497 closed

[2017-10-19 21:10] #1496 closed

[2017-10-19 21:11] Eilon commented on #1495
This should resolve the issues you're having. Please let us know if you're still having an issue.

[2017-10-19 21:11] #1495 closed

[2017-10-19 21:17] Eilon commented on #1493
All the `[Authorize]` attributes are unioned to get the full set of requirements, and then that new set is what gets used to determine the state of the request. If there are either too many or not enough, then the data in the attributes need to be modified to create the right result.

[2017-10-19 21:19] #1492 closed

[2017-10-19 21:23] upta commented on #1493
Honestly, I've completely given up on trying to support multiple authentication schemes for a given request.  It's too awkward and behaves too strangely compared to the single, default setup.

Thanks anyway for looking at it!

[2017-10-19 21:25] Eilon commented on #1489
@HaoK can you try to repro this based on what we think the scenario is?

@sadjadbp can you provide a complete repro app and upload to GitHub? That will make it easier for us to make sure we're looking at the exact problem you're having.

[2017-10-19 21:27] Eilon commented on #1487
Closing because there is not enough information to reproduce this problem.

[2017-10-19 21:27] #1487 closed

[2017-10-19 21:29] Eilon commented on #1493
@HaoK can you work with @blowdart to describe what the combination behavior is so that we can get a doc published on this?

[2017-10-19 21:31] Eilon commented on #1407
Closing because there are no plans to make changes in this scenario.

[2017-10-19 21:31] #1407 closed

[2017-10-19 22:02] ghstahl opened #1500 "Programmatically build the redirectUri that HandleChallengeAsync does in OpenIdConnect"
Feature Request:

I am using the Microsoft.AspNetCore.Authentication.OpenIdConnect provider configured against Google.
I have this angular app that wants to make an Ajax call to get google uri that was built as a result of HandleChallengeAsync being called.
The uri looks something like this.

https://accounts.google.com/o/oauth2/v2/auth?client_id=1096301616546-edbl612881t7rkpljp3qa3juminskulo.apps

[2017-10-20 06:21] nickkhan commented on #983
@brentschmaltz sure, it be nice if you want to/can create a sample showing JWE specifically.

[2017-10-20 06:26] davidfowl commented on #1219
@Tratcher @HaoK can we list out the all registered schemes in the exception message?

[2017-10-20 07:01] sadjadbp commented on #1489
I'll try to create a repo to contain the whole code, but gist of the question is that the code below used to work in ASP.Net Core 1.1 and now that I've updated to V2 calling from an authorized user with Role="Services" will 302 me to login page. But if I remove that class attrib and put it on Method1 everything works fine. Make sense?

`    [Authorize]
    public class MyController : Controller

[2017-10-20 09:27] tstojecki commented on #1449
PR sent #1501

[2017-10-20 16:54] Tratcher commented on #1500
The OpenIdConnect handler is not designed for Rest APIs, it's for user interactive flows.
JwtBearer is designed for Rest APIs, but it requires the addition of a token server to issue you JWTs.
This looks promising: https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow

[2017-10-20 17:04] Tratcher opened #1502 "Missing scheme error should enumerate available schemes"
It's pretty common for users to mismatch their schemes and get errors like:
`InvalidOperationException: No IAuthenticationSignInHandler is configured to handle sign in for the scheme: Cookies`
https://github.com/aspnet/Security/issues/1219#issuecomment-337306377

We could help guide them in the right direction by enumerating the registered (compatible?) schemes. e.g.
`, registered schemes: Cookie1

[2017-10-20 17:05] Tratcher commented on #1219
It's possible, and may help people that keep mismatching their scheme names. https://github.com/aspnet/Security/issues/1502

[2017-10-20 19:59] arc2018 commented on #1473
I get this error when start the application. it is not able to complete the configuration from Federation Metadata. if I enter the metadata url on the browser I am able to see the xml, but only issue I see is that there is  a certificate error, which I override on the browser. would that be an issue causing this?

my config:
` public void ConfigureServices(IServiceCollection services)
        {

[2017-10-20 20:13] ghstahl commented on #1500
@Tratcher My first thoughts were hoping that the code that the OpenIdConnect handler is using was just a library anyone could call.  The OIDCHandler uses it one one, I use it another by front-ending the result with a REST API.  Arguable simplistic and I can see you guys just telling me to copy the code and have at it, as it isn't something that is going in the framework.   Before I do that...is it

[2017-10-20 20:22] brentschmaltz commented on #983
@nickkhan I dropped a sample here of JWE with symmetric and asymmetric keys.
https://github.com/brentschmaltz/Wilson5x/blob/master/src/CreateTokens/CreateTokens/Program.cs#L39

[2017-10-20 20:22] #983 closed

[2017-10-20 20:22] sadjadbp commented on #1489
Seems like the above code works unless Roles = "Services" are coming from Bearer.

The situation is I have dual authentication "Cookie and Bearer". Cookies have a default Role and Bearer ones have Services role. So now I want all my controllers to have that [Authorize] attrib so I know it's secure and some methods should be called only from Services roles. Now this used to work in ASP.Net Core 1.1

[2017-10-20 21:24] ghstahl commented on #1500
@Tratcher I just stepped the code, and see what you mean.  I can't just blindly get the google login url and use it, because there is some nonce cookie you are dropping.  When it comes back it rightly fails in the context I would use it as.
So yeah, I am going to abandon this request ;)

[2017-10-20 21:26] #1500 closed

[2017-10-20 21:27] Tratcher commented on #1500
I suspect you have the entire flow wrong, not just that you're missing a library. Check out that sample I linked.

[2017-10-20 22:43] Tratcher commented on #1473
@arc2018 yes https cert errors are expected to fail the metadata download. However, that's a strange inner exception. I've ask @brentschmaltz about it on your other thread:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/804

To ignore cert errors you need to hook into the backchannel like this:
options.BackchannelHttpHandler = new HttpClientHandler() {

[2017-10-20 23:03] Tratcher opened #1503 "Create an AuthSamples repo"
This will be like Entropy, but focused on Authentication, Authorization, Identity, and Identity Service.

This should help us keep track of the wide variety of customer scenarios we encounter, and our recommendations for each.

[2017-10-20 23:09] Tratcher opened #1504 "Implement ClaimActions and cull WsFed claims"
WsFed does not currently implement ClaimActions. Add it.

Also, review what claims WsFed provides by default. In OIDC we opted to cull the claims referring to protocol details and not user specific information. Purging these will reduce cookie sizes.
Compare to OIDC:
https://github.com/aspnet/Security/blob/794e9c79fd15ccd550737c6ee41dc96722a303f2/src/Microsoft.AspNetCore.Authentication.OpenIdConne

[2017-10-21 13:02] arc2018 commented on #1473
@Tratcher  thank you for your response.
I added the BackchannelHttpHandler,  but that did not make any difference, I get the same error.
this is the new code:
`public void ConfigureServices(IServiceCollection services)
        {
            services.AddMvc();
            services.AddAuthentication(sharedOptions =>
                        {
                            sharedOptions.DefaultScheme =

[2017-10-21 13:14] Tratcher commented on #1473
Please reopen you AzureAd bug then. They can investigate the exception.

[2017-10-21 14:47] arc2018 commented on #1473
@Tratcher thank you. I reopened it.

[2017-10-22 13:26] brockallen commented on #1504
I know we discussed this already, but at a customer last week they specifically need step up authN for a user and depend on amr and acr for this. Please consider not stripping these (or the equivalents for ws-fed) by default.

[2017-10-23 07:27] drauch commented on #1467
It looks like with `ClaimsPrincipal`s you can set a static `Func<IEnumerable<ClaimsIdentity>, ClaimsIdentity>` called `PrimaryIdentitySelector` which you can use in order to select the primary identity to work with. Just FYI.

[2017-10-23 08:26] Ahmad-Magdy commented on #1479
@Tratcher @Eilon @javiercn  Any news ?

[2017-10-23 11:16] lzandman commented on #1473
I'm getting a similar issue as @arc2018. Is it possible to bypass the metadata XML file retrieval and configure this thing manually?

[2017-10-23 13:55] Tratcher commented on #1473
Yes you can set the options.Configuration property, but building it by hand is non trivial. If you manage please share a sample.

[2017-10-23 14:29] Zoxive commented on #1473
@Tratcher
Not to bad for us. This is what we use.
[code]

[2017-10-23 15:10] lzandman commented on #1473
Thanks @Tratcher @Zoxive. Will try!

[2017-10-23 16:46] Eilon commented on #1479
Ping @javiercn .

[2017-10-23 18:06] HaoK commented on #1356
@blowdart are we happy here?  You can get OR like behavior via handlers that succeed a requirement based on OR logic, but no support at the policy level.

[2017-10-23 18:07] blowdart commented on #1356
I guess given the lack of response we'll take this as "Works for me"

[2017-10-23 18:07] #1356 closed

[2017-10-23 18:11] spottedmahn commented on #1356
Hey @HaoK - sorry I haven't been able to spend enough time thinking about this.  We implemented a functioning solution and moved onto the next project.

My gut says ORing at the policy level would help.  I don't live in this world like you guys do though.

For the door example, it works.  But for my real-world example, I don't think it addressed my issue.  I'll have to circle back one day.

[2017-10-23 21:18] Eilon commented on #1435
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-24 04:21] sirajmansour opened #1505 "Does loading the openid configuration happen on every request ? And if not, is it thread-safe ?"
https://github.com/aspnet/Security/blob/442df16e265ab1955d7b8468cf1d8b38b8d915c7/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L175

[2017-10-24 10:44] iamsoorya commented on #1495
I took the latest version of identity server from Github dev branch. It is
working now. I am taken to login page.

Thank you for helping.

On Fri, Oct 20, 2017 at 2:41 AM, Eilon Lipton <notifications@github.com>
wrote:

--
Kind Regards
Sooryanarayan Hegde

[2017-10-24 11:03] efrainmejiasc opened #1506 "How to get jwt from my asp client application?"
Hello ...
I need to develop an application that requests a JWT and I do not know how to do it I only have the authentication data that the client gave me ... I need a good tutorial or example code.

OpenId Connect Data :
Access Token URL = https: // unsitio / web / token
Grant Type = zzzzz
Authorization Grants = xxxxxx
Client Id = nnnnnnnn
Client Secret = [Empty]
Scope = [Empty]
Username = hhhhhh@

[2017-10-24 13:52] rmarskell opened #1507 "Twitter authentication throws exception when user cancels the login"
I set up Twitter authentication and everything works fine if the login is successful. However, if I hit the cancel button on Twitter's login page (and the subsequent "Return to web app" button), it hits the callback URL (site.com/signin-twitter) with a "denied" query string parameter instead of the expected "oauth_token" parameter. This causes the page to throw an exception. The code that causes t

[2017-10-24 15:39] Tratcher commented on #1507
Yes, we should handle this better. There's a proposal in this issue: https://github.com/aspnet/Security/issues/1165#issuecomment-321692471

In the meantime you can hook into the OnRemoteFailure event and handle it as you like.
https://github.com/aspnet/Security/issues/1165#issuecomment-289522941

Closing as a duplicate.

[2017-10-24 15:39] #1507 closed

[2017-10-24 15:47] waldo2188 opened #1508 "OpenId Connect Authentication doesn't work when behind a reverse proxy with an url prefix"
Hello,

I use An OpenId Connect Authentication in an ASP.NET Core 2 project. I use a custom `CallbackPath`.
During development everything work fine (like ever). When I reach the protected page, the OpenId Connect middleware redirect me to the right URI with the good redirect url.

But on my production server…
My App is host inside a Docker behind a reverse proxy and has an url prefix. The app is r

[2017-10-24 15:59] Tratcher commented on #1508
This is not an OIDC specific issue, it's a general reverse-proxy issue. All link generation in your app depends on knowing the proper scheme, host, and pathbase.

The UseForwardedHeaders middleware is used to process x-forwarded-for, host, and proto. There's no built in support for x-fowarded-prefix. If this is a constant value you can hard code it in your app with app.UsePathBase("/api/app1"). If

[2017-10-24 15:59] #1508 closed

[2017-10-24 16:31] HaoK commented on #1489
The code you have listed is exactly what we expect you would need for 2.0.  Method1 is using cookie authentication via the inherited attribute.  The second Method2 is using Bearer via Policy, and also requires the Services role.

What are you hoping the code looks like instead?

[2017-10-24 17:02] Tratcher commented on #1504
What are the equivalents for WsFed?

[2017-10-24 20:24] wyle-e-coyote opened #1509 "Authentication: OpenIdConnect + IdentityServer (Bearer)"
I've read almost every post I can find on the new updates to the authentication in 2.0.  I'm 98% of the way there, I just can not seem to get the last 2% working.

Setup: We have a service that is used for user authentication (OpenIdConnect) and has some API endpoints secured with JWT (IdentityServer/Bearer).  We are using an identity server for all of our token creation/validation.

Issue: OpenId

[2017-10-25 05:02] sadjadbp commented on #1489
@HaoK the problem is once Method2 is called, using Bearer it used to work in v1 but now that moved to .net core v2 it won't work and will return 302 to login page.

[2017-10-25 06:59] waldo2188 commented on #1508
Thanks for your answer.

`app.UsePathBase("/api/app1")` doesn't work for me, but `context.Request.PathBase` did the trick!

You save my day ;)

[2017-10-25 09:36] lzandman commented on #1473
Using a nightly build I got things partially working. After succesful authentication in ADFS the browser is redirected to ".../signin-wsfed". This returns a 302 response, where I see the ".AspNetCore.Correlation.WsFederation..." cookie is being removed and a new cookie ".AspNetCore.Cookies" is set. Then the browser is redirected to the initial controller endpoint (a web API with Authorize attribut

[2017-10-25 10:39] poke commented on #1473
@lzandman Unless the WsFed authentication handler does something completely different (which I don’t expect it to do), the authentication stack works as follows in ASP.NET Core:

1. You hit an authorized route without proper authentication.
2. The challenge authentication scheme is executed (this would be WsFed)
3. WsFed does its thing my redirecting to the ADFS, that then posts back to `/signin-w

[2017-10-25 11:43] lzandman commented on #1473
I hadn't set an explicit policy. I just wanted the caller of my controller to be authenticated. So I used the Authorize attribute without specifying a policy.

I then tried to implement authorization based on the beginning of [this article](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data) (the RequireAuthenticatedUser policy). That that also doesn't seem to work. St

[2017-10-25 12:15] lzandman commented on #1473
@poke Fixed it! Turns out the problem was that ordering seems to matter in the Configure() method in Startup.cs. My code originally was like this:

[code]
But the UseMvc() call needs to be at the end (or at least below the UseAuthentication() call.
[code]
Now it seems everything is working fine!

[2017-10-25 12:19] poke commented on #1473
@lzandman Yes, the `UseAuthentication` should be very early in your `Configure` to make sure that the authentication middleware runs very early. Having it *after* MVC would mean that it will never run for MVC routes (since the MVC middleware *terminates* the request), so the user will never be authenticated there. Glad you could resolve this :)

[2017-10-25 12:30] Tratcher commented on #1489
Sounds like it's challenging both the default (Cookies) and the explicit (Bearer). It was probably doing the same in v1 but in the reverse order so you didn't notice, as Bearer's 401 would overwrite Cookie's 302.

[2017-10-25 13:05] rmarskell commented on #1507
@Tratcher Thanks! I searched all over for this Twitter cancel issue but never came across that thread. That was super helpful.

For anyone else that finds this, this is what I ended up with for my `Startup.cs` `services.AddTwitter` method:
[code]

[2017-10-25 14:20] lzandman commented on #1473
Got another question. In our regular .Net web apps that use WS-Federation we specify a certificate thumbprint. The certificate itself is not installed in the store on the machine. The metadata file or the manual method of configuring this new WS-Federation package (as presented by @Zoxive code sample above)  both require the actual X509Certficate2 data to be present. Am I missing something here? I

[2017-10-25 14:36] wyle-e-coyote commented on #1509
This can be closed.

The reason I was getting 404 was due to the ```app.Map``` ending the pipe (from what I read).  By updating this to ```app.UseWhen``` the pipe would continue on to MVC and everything worked as expected.

[2017-10-25 14:36] #1509 closed

[2017-10-25 14:37] arc2018 commented on #1473
@lzandman can you share me the nightly build download link?

[2017-10-25 14:43] lzandman commented on #1473
@arc2018 I got it from [this website](https://www.myget.org/feed/azureadwebstacknightly/package/nuget/Microsoft.IdentityModel.Protocols.WsFederation/5.2.0.408171133-pre). You can also add their NuGet feed to Visual Studio's Package Manager (be sure to check preview builds):

https://www.myget.org/F/azureadwebstacknightly/api/v3/index.json

[2017-10-25 16:47] Tratcher commented on #1509
To clarify, httpContext.User is always initialized to the default by the UseAuthentication middleware. However, this should be overridden by `[Authorize(AuthenticationSchemes...`
Were you seeing the wrong user on httpContext.User in your MVC Controllers?

[2017-10-25 16:50] Tratcher commented on #1473
@brentschmaltz https://github.com/aspnet/Security/issues/1473#issuecomment-339346039 ?

[2017-10-25 16:53] wyle-e-coyote commented on #1509
This was a problem for me.  Even though I was specifying the AuthenticationScheme in the Authorize attribute, it would always use the default authentication scheme (OpenIdConnect).  This is the only reason I wrote the middleware -- which did end up working.

[2017-10-25 17:43] shahiddev opened #1510 "Multiple OpenIdConnect providers causes correlationId error if not using first provider in list"
(first time submitting issue to aspnet so hopefully everything is in order).
Slightly weird issue I'm finding using OpenIdConnect with brand new aspnet.core 2.0 web app.

 `<TargetFramework>netcoreapp2.0</TargetFramework>`
[code]
OS: Windows 10 FCU
IIS Express (defaults from new project template)
Steps:
Create brand new asp.net core MVC application with Individual accounts.
In `startup.cs` configu

[2017-10-25 20:39] HaoK commented on #1489
Hrm seems like there's something weird going on with MVC.  I debugged/stepped thru all of the combine tests, and the behavior at those layers is correct.

But it appears that in a controller, when `[Authorize]` and `[Authorize(AuthenticateScheme = "Bearer")]` are combined, that is resulting in a challenge to both Cookies and Bearer.  I can't repro this at unit test level using just the attributes

[2017-10-25 20:51] Tratcher commented on #1510
When you have multiple AddOpenIdConnect's they each need a unique CallbackPath. The default is "/signin-oidc".

[2017-10-25 21:32] HaoK commented on #1489
Okay looks like there's a mismatch in expectations here.

@rynowak It appears that if you have `[Authorize]` on a Method, and a Controller, you end up with an AuthorizationFilterContext with two `AuthorizeFilters`.  While the authorize filter was written with the assumption that `AuthorizeData` property would contain all of the attributes.  Was there any changes in this stuff since 1.x?  (Its also

[2017-10-25 21:40] HaoK commented on #1489
Filed https://github.com/aspnet/Mvc/issues/6995 in MVC to track

[2017-10-25 22:09] rynowak commented on #1489
No, I was told that it was always this way and that it was cool and good.

[2017-10-25 23:28] shahiddev commented on #1510
Thank you @Tratcher! That's resolved it, I didn't see this in the docs anywhere  :(
I'll close the issue now

[2017-10-25 23:28] #1510 closed

[2017-10-26 00:25] javiercn commented on #1479
@Ahmad-Magdy Are you trying to use B2C for production and AAD for local development or do you intend for both to work at the same time?

[2017-10-26 11:02] Ahmad-Magdy commented on #1479
@javiercn i intend to work with both of them at the same time

[2017-10-26 11:56] Compufreak345 opened #1511 "Optionally disable certificate check?"
Hi,

for development purposes we use a self-signed certificate for the WsFederation-server. Is it possible to disable the verification of the certificate, like if I add --insecure to a curl-command?

I get this error:
[code]

Thanks & best regards,
Christoph

[2017-10-26 13:27] ruchanb opened #1512 "After migrating to 2.0.0 from 1.0.1 getting 404 not found on signin-oidc"
The challege request successfully goes to the OpenId Server. But after login is complete, redirecting from openId server to http://localhost/signin-oidc gives 404 not found. I looked into logs and there are no error.
Log
[code]

Target Framework
`<TargetFramework>net461</TargetFramework>`
References
[code]

Configuration code
[code]

[2017-10-26 14:05] smatsson opened #1513 "context.Properties.Items no longer contains key after upgrading to 2.0.0"
Hi!

I'm not really an expert on OpenId so please forgive if I mess up the terminology :)

We are using OpenIdConnect from a ASP.NET Core web app. The authority is Auth0 but the login is done through our Azure AD.

Before redirecting to Auth0's login page we set a "connection" parameter to the protocol message. This tells Auth0 to redirect to our Azure AD login page.

After upgrading to ASP.NET Co

[2017-10-26 14:41] user1336 opened #1514 "Authorization in Middleware"
Imagine some Middleware setup like this and that you want to protect some other middleware from unauthorized users.
[code]
In the `UseAuthorizationMiddleware` we inject the `IAuthorizationService` and `IAuthorizationPolicyProvider` and see if the Users matches the policy and return if that's not true:
[code]
Basically we want to do the same thing in MVC with `[Authorize(Policy = "SomePolicy")]`

I

[2017-10-26 15:20] ieligio commented on #1338
I have a current issue using Authentication in Core 2.0.
My requirement is to login users only one browser at a time, for example, I logged into Chrome but if I open a new Firefox browser and login with the same user into my web application then the session in Chrome must be logged out, leaving only the Firefox session on.
I started my tests with a project template as New ASP.NET Core Web Applicat

[2017-10-26 15:38] Tratcher commented on #1338
@ieligio Your code from UseCookieAuthentication moves to ConfigureApplicationCookie, something like this:
[code]

Note a validateInterval of 0 severely impacts your application performance. The default is 30 minutes, but you should go no lower than 30 seconds.

[2017-10-26 15:42] Tratcher commented on #1514
Directly calling the IAuthorizationService is the expected pattern for a middleware scenario like this.

[2017-10-26 15:45] Tratcher commented on #1513
Can you show your code where you start the challenge for OIDC and set Properties.Items["connection"]? If you're using a simple `[Authorize]` you won't get the chance to set it properties.

[2017-10-26 15:47] Tratcher commented on #1512
Sounds like you're missing `app.UseAuthentication()` in Startup.Configure. That's what handles callback paths.

[2017-10-26 15:57] brentschmaltz commented on #1473
@lzandman you need the certificate. The thumbprint would need additional information pointing to a cert store.

[2017-10-26 16:22] celeste-pu commented on #1511
I may be misunderstanding what you're looking for, but would this work for you?
jwtOptions.TokenValidationParameters.ValidateIssuerSigningKey = false;

alternately, implement your own validator:
jwtOptions.TokenValidationParameters.IssuerSigningKeyValidator = mySigningKeyValidator;

[2017-10-26 16:39] Tratcher commented on #1511
`options.BackchannelHttpHandler = new HttpClientHandler() { ServerCertificateCustomValidationCallback = HttpClientHandler.DangerousAcceptAnyServerCertificateValidator }`

[2017-10-26 17:46] ieligio commented on #1338
@Tratcher Hi, first thanks for your time answering me, but unfortunately the OnValidateIdentity property it's unkown for CookieAuthenticationEvents.
Is any library missing? I think it is not supported in this Auth version.

![validateidentity](https://user-images.githubusercontent.com/33127222/32068352-b7a2c88e-ba4b-11e7-91f5-6c7343c84c99.jpg)

[2017-10-26 18:08] Tratcher commented on #1338
Ah, it's OnValidatePrincipal now.
https://github.com/aspnet/Security/blob/794e9c79fd15ccd550737c6ee41dc96722a303f2/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvents.cs#L20

[2017-10-26 18:13] PinpointTownes commented on #1338
@ieligio out of curiosity, why do you want to do that yourself? Identity already does it for you. If you want to change the default interval, don't use the events model. Instead, you can do that:

[code]

[2017-10-26 18:23] ieligio commented on #1338
@PinpointTownes  I have successfully changed the default interval, what I have not acomplished is to prevent duplicate active logins on different browsers (or computers) at the same time.

[2017-10-26 18:24] ieligio commented on #1338
@Tratcher The **OnValidatePrincipal** have no overloads or parameters to change the validateInterval or regenerateIdentityCallback.

[2017-10-26 19:30] javiercn commented on #1479
Are you trying to protect an API or login in users in a web application? (Are you validating access tokens or stamping a cookie after a successful login flow).

In any case, something along the lines of the PR below should work for your scenario:
You can do something along the lines on this PR https://github.com/aspnet/Security/pull/1486/files.

[2017-10-26 21:09] #1514 closed

[2017-10-26 21:10] #1512 closed

[2017-10-26 21:16] Eilon commented on #1511
BTW please be extremely careful to set this **only** for development purposes, for example, by guarding it in a check for `environment.IsDevelopment()` (with environment being an IHostingEnvironment instance) to make sure that this code doesn't make it into production.

You can get the `IHostingEnvironment` by adding a parameter `IHostingEnvironment hostingEnvironment` to your app's Startup.Config

[2017-10-26 21:16] #1511 closed

[2017-10-26 21:20] Eilon commented on #1489
@HaoK @Tratcher @rynowak @javiercn - can you guys meet to figure out the best way to fix this?

[2017-10-26 21:21] Eilon commented on #1506
@efrainmejiasc can you provide more info about what you're trying to do?

[2017-10-26 21:24] Eilon commented on #1505
The current implementation loads it once when the app starts, and then it's cached, and it will expire once per day.

There should be no particular threading concerns here.

[2017-10-26 21:24] #1505 closed

[2017-10-26 21:29] Eilon commented on #1235
Moving to Backlog because this isn't in our current plans.

[2017-10-26 21:42] Eilon commented on #1503
Done: https://github.com/aspnet/AuthSamples

[2017-10-26 21:42] #1503 closed

[2017-10-26 23:24] sirajmansour commented on #1505
For those interested, the caching and refresh of the configuration is handled by the class [ConfigurationManager\<T\>](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.protocols.configurationmanager-1?view=azure-dotnet)

[2017-10-27 06:22] smatsson commented on #1513
Hi @Tratcher !

Thanks for your reply. It got me in the right direction. Our challenge is initiated in our Login action in our Account controller. This action was never hit as we had set OpenIdConnect as the default scheme for authentication. Changing the default scheme to `CookieAuthenticationDefaults.AuthenticationScheme` fixed the issue.

Do you know if this is a common setup? It seems a bit we

[2017-10-27 11:38] Tratcher commented on #1513
That sounds fine.
Does connection have a dynamic value? Why not hard code it in the redirect event rather than passing it from the login page?

[2017-10-27 11:57] ThatDeveloper commented on #1338
@HaoK I have a problem with the AddAuthentication Method.
I am doing this:

[code]

The only configuration that is taken from the snippet above, is the CookieName. But the paths are the default ones when I get the options myself.
Whenever I get a Service (GetService<IOptions<CookieAuthenticationOptions>>) I get a default instance with default values. (/Account/Login, etc)

[2017-10-27 11:58] smatsson commented on #1513
Cool thanks for the help. Connection is a constant value. Not really sure why it's done this way as I inherited the code base. I guess we could just remove the entire controller and use the new functionality in ASP.NET Core 2.0 for sign in/sign out instead.

[2017-10-27 12:06] #1513 closed

[2017-10-27 12:10] brockallen commented on #1235
Your new vistual scheme system, I think, would address some of these.

[2017-10-27 12:40] multic0r3 commented on #1338
@ThatDeveloper @HaoK I have a similar problem. I can get my values by using
[code]
 but the middleware / framework uses the default options. Please help me.

[2017-10-27 13:36] Tratcher commented on #1338
Why are you calling `GetService<IOptions<CookieAuthenticationOptions>>`?
Note it's using named options now. That call returns a default instance rather than the specific named instance you configured. Try IOptionsMonitor instead.

[2017-10-27 13:38] Tratcher commented on #1338
Trying to resolve `IConfigureOptions<CookieAuthenticationOptions>` is even more bizar. Try IOptionsMonitor instead.

[2017-10-27 14:03] multic0r3 commented on #1338
@Tratcher Thanks for your answer, but unfortunately I still get the default values with `GetService<IOptionsMonitor<CookieAuthenticationOptions>>()`

[2017-10-27 14:05] Tratcher commented on #1338
call `monitor.Get(authScheme)` to get the right options instance.

[2017-10-27 15:36] multic0r3 commented on #1338
Thanks, it works. I thought CurrentValue is the right instance if I only added one

[2017-10-27 18:32] opnarius commented on #1383
I ran into this exception while connecting my application to IdentityServer4 with AzureAD as external authentication provider. My application is using Hybrid flow to connect to IdentityServer4. I get properly redirected to Azure, login, and `code` and `id_tokens` are properly issued. This exception is raised in my application when `userInfo` endpoint is invoked.

[code]
If I configure my applicati

[2017-10-28 08:34] leastprivilege opened #1517 "Change log level of Cookie handler authentication message"
Right now the cookie handler is using information level for this:

[10:31:24 Information] Microsoft.AspNetCore.Authentication.Cookies.CookieAuthenticationHandler
AuthenticationScheme: [scheme] was successfully authenticated.

This happens way too often (at least once per request) and fills up the log file with unnecessary information. Can we move that to debug level?

[2017-10-30 16:22] DeanMachine commented on #1383
Yep, thanks to this post, I figured out that is was the 'name' claim that was a string[] instead of a string.

I confirmed that AAD sends two name claims: one is issued by AAD provider the other is LOCAL AUTHORITY. Our identity server has always stored and passed on interesting claims like name, phone, etc. as part of the profile. Seems like the latest changes to .NET Core are enforcing the types

[2017-10-30 18:52] anurse opened #1518 "Add EventSource/EventCounter tracing and metrics for Authentication"
Note: A separate issue will be filed for Authorization

This is part of the larger EventCounter/EventSource effort across the platform. Specific events and counters are suggested below. Let the discussions begin! :)

`Start`/`End`/`Failure` events will all have `Duration` event counters associated with them that will time the duration between `Start` and `End`. `End` events occur even in the case

[2017-10-30 19:15] HaoK commented on #1518
What's the general idea/goal behind what we choose to expose as events/counters?  Is this going to be a subset of everything we log/trace?

[2017-10-30 19:24] anurse commented on #1518
@HaoK yes, it is likely a subset of the things we log. In theory, we could make every log message an Event as well, but I think in practice that's a lot of work. Authentication isn't the highest priority area for this work, but I wanted to log what I've found so far and start tracking it since I was exploring this area already to sketch out the patterns we'd use for `EventSource`/`EventCounter`s.

[2017-10-31 08:35] Ahmad-Magdy commented on #1479
@javiercn i'm trying to "login in users in a web application",
sorry but i didn't understand anything from this PR

[2017-10-31 12:12] lzandman commented on #1473
Another question: In our regular Asp.Net MVC apps we've implemented custom sliding session logic that works by hooking into the FederatedAuthentication.SessionAuthenticationModule.SessionSecurityTokenReceived event. Based on some logic either nothing happens, a new session security token is created or the user gets signed out. This SessionSecurityTokenReceived event is triggered for every request.

[2017-10-31 14:00] poke commented on #1473
@lzandman As per [my explanation above](https://github.com/aspnet/Security/issues/1473#issuecomment-339288683), the WSFed authorization handler won’t run if the cookie authentication scheme is able to reconstruct the claims identity from the stored cookies. So hooking into WSFed here will not work since it simply won’t run at all. You would have to hook into the cookie authentication scheme here.

[2017-10-31 14:02] lzandman commented on #1473
Update: using [this Microsoft document](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#reacting-to-back-end-changes) I found out the OnValidatePrincipal event seems like the proper location to put our custom stuff. However, when our custom logic decides a new cookie should be created, I call the HttpContext.SignInAsync() extension method. This results

[2017-10-31 14:10] Tratcher commented on #1473
@lzandman You're calling SignIn with the wrong scheme, you should be using the cookie auth scheme.

[2017-10-31 14:14] izzyonstage commented on #581
If your `MyCustomDatabaseTicketStore` is registered for DI then you could use something similar to what is described here [https://andrewlock.net/access-services-inside-options-and-startup-using-configureoptions/]. This would allow options to be configured that use other DI entities rather than trying to wrap the options yourself.

Personally I have never liked adding `IOptions<T>` things to DI us

[2017-10-31 14:26] lzandman commented on #1473
@Tratcher Yes, that was the problem. Originally I had put that code inside a WsFederation event handler. There I figured I had to use the WsFederation scheme. Now that I'm working from a cookie auth event handler, I had to use that scheme. Thanks :-)

[2017-10-31 15:25] lzandman commented on #1473
So, it seems I've got everything working. Except for signing out. I use the following code:

[code]
The browser is redirected to the ADFS server, to the following URL:

`https://myadfsserver.com/adfs/ls/?wtrealm=https%3A%2F%2Flocalhost%3A44304%2F&wa=wsignin1.0&wreply=https%3A%2F%2Flocalhost%3A44304%2Fsignin-wsfed&wctx=...`

 Then it's sent to the "/signin-wsfed" url and it's authenticated again. T

[2017-10-31 15:52] Tratcher commented on #1473
`SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);` only removes the local cookie. If you also want a remote sign-out then you should add a second call to sign out for the WsFederation scheme.

[2017-10-31 16:01] lzandman commented on #1473
@Tratcher That sounds plausible. But do you have any sample code? I tried this:
[code]

But that didn't do anything...

[2017-10-31 16:10] Tratcher commented on #1473
You're right, that's beyond the capabilities of that event. The problem is that the request continues to execute normally (e.g. it proceeds to process /foo/bar). To cause a remote signout you'd have to call signout like above And terminate the request. For that level of control you're going to need to move the logic to your own middleware.

[2017-10-31 16:58] poke commented on #1473
@Tratcher I assume the short-circuiting behavior for authorization doesn’t work there because we only have access to the HTTP context instead of the authorization filter context? A real shame that we cannot terminate the request early there then. I have something very similar implemented with custom MVC filters but moving it into authentication events would have made a lot of sense (to decouple it

[2017-10-31 17:00] Tratcher commented on #1473
It's a control flow problem, the event does not have a flag that lets you terminate the request.

[2017-10-31 23:07] lzandman commented on #1473
@Tratcher So when writing custom middleware, how would I get access to certain values that are available inside authentication events? E.g. I need the values of context.Properties.IssuedUtc and context.Properties.ExpiresUtc.

[2017-10-31 23:12] Tratcher commented on #1473
`HttpContext.AuthenticateAsync()` returns a result object with both user and properties.

[2017-11-01 17:08] brentschmaltz commented on #1473
@Tratcher what happens when you call HttpContext.AuthenticateAsync() inside MiddleWare. What does the calls graph look like?

[2017-11-01 17:19] poke commented on #1473
@brentschmaltz `HttpContext.AuthenticateAsync()` gets the `AuthenticationService` from DI and calls `AuthenticationService.AuthenticateAsync()`. That then gets the handler for the default authentication scheme and calls `AuthenticateAsync` on that handler.

This is basically the same thing that happens when the MVC `AuthorizeFilter` runs.

And btw. calling `AuthenticateAsync` early in a middleware

[2017-11-01 19:48] Eilon commented on #1235
Ah, I've heard only a little bit about it. @HaoK / @Tratcher - thoughts?

[2017-11-01 19:55] HaoK commented on #1235
I'm not exactly sure I understand the specifics of what's being asked for.  But the general idea for the virtual scheme is the ability to reuse other scheme handlers easily.

So if they just wanted to authenticate using the exact JwtBearer logic, but do something different for challenge/forbid etc, the virtual schemes will be making that easier.

Basically virtual schemes won't give you any more e

[2017-11-01 23:23] Tratcher commented on #1504
This might not be a good fit. The ClaimActions were designed for OAuth and OIDC user information which is Json based. WsFed doesn't have a user info endpoint and only gives you the claims from the frontchannel. You'd be restricted to actions that delete claims, and the default list of AAD claims isn't that bad:
[code]

[2017-11-02 04:50] Tratcher commented on #1502
Closing as dupe of https://github.com/aspnet/HttpAbstractions/issues/955

[2017-11-02 04:50] #1502 closed

[2017-11-02 10:11] lzandman commented on #1473
@Tratcher Thanks! I've got it working now. The only issue I'm seeing now is that there's a wsignoutcleanup1.0 request on /signin-wsfed that returns a 500 status. I think @Zoxive messages above imply that this functionality hasn't yet been implemented, right?

[2017-11-02 10:20] lzandman commented on #1473
@Zoxive You mention that you've implemented custom wasignoutcleanup1.0 handing inside WsFederationHandler HandleRemoteAuthenticateAsync. How did you do that? Is that an event I can hook into?

[2017-11-02 13:17] lzandman commented on #1473
Another potential issue: I've placed custom cookie authentication events inside a custom class that inherits from CookieAuthenticationEvents and specify that class using the EventsType property of CookieAuthenticationOptions as specified in [this Microsoft document](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#reacting-to-back-end-changes).

I tried

[2017-11-02 13:22] Tratcher commented on #1473
Good catch. Open a new issue for the events class please.

[2017-11-02 13:33] #1504 closed

[2017-11-02 13:41] lzandman opened #1520 "WsFederationOptions.EventsType pattern unusable because WsFederationEvents class is missing virtual members."
I've placed my custom cookie authentication events inside a custom class that inherits from CookieAuthenticationEvents and specify that class using the EventsType property of CookieAuthenticationOptions as specified in [this Microsoft document](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore2x#reacting-to-back-end-changes).

I tried to apply the same pat

[2017-11-02 14:14] Zoxive commented on #1473
@lzandman There doesnt appear to be a good event hook for wsignoutcleanup1.0. The best place for this is probably custom middleware till its implemented in the WsFederationHandler itself.

Heres a quick example.. I did not test it as im using a custom wsfederationhandler (Till preview 2 comes out) and have it directly in there instead.

[code]

[2017-11-02 14:20] PinpointTownes commented on #1520
Actually, the missing virtual methods are not the only issue: `WsFederationHandler` directly uses `Options.Events`, which means the `EventsType` option is never used.

/cc @Tratcher

[2017-11-02 14:46] lzandman commented on #1473
@Zoxive Thanks. It seems to work.

[2017-11-02 14:48] lzandman commented on #1473
@Tratcher I've opened an issue for the WsFederationEvents class: https://github.com/aspnet/Security/issues/1520

[2017-11-02 16:05] lzandman commented on #1473
For a different scenario I had to disable the automatic redirect to ADFS signin. I did this by handling the RedirectToIdentityProvider event and calling HandleResponse(). It now returns a 401 status. The calling client then acts on that 401 by calling a different controller action and this controller action has to do the actual redirection to ADFS. For this it has to determine the full ADFS URL. I

[2017-11-02 17:31] Tratcher commented on #1473
@lzandman there is no equivalent, and I don't expect that flow to work with the current implementation. At a minimum you'd be missing the state and correlation cookie. See AllowUnsolicitedLogins above.

Are you trying to use this for an API endpoint / SPA application?

[2017-11-02 18:28] mjnorman opened #1521 "OpenID middleware defaulting to http"
Given the following config in ConfigureServices--

[code]

And the following ChallengeAsync call--

[code]

When I run from localhost on https, I have no issues.  However when I run from a cloud foundry instance, the middleware is sending a redirect using the http address instead of https which is what the current browser session is using.  Any ideas?

[2017-11-02 18:36] Tratcher commented on #1521
Duplicate. See prior discussions linked from https://github.com/aspnet/Docs/issues/2384

[2017-11-02 18:36] #1521 closed

[2017-11-02 21:20] Eilon commented on #1517
Agreed. Leaving it up-for-grabs for anyone to fix, or we'll get to it when we can.

[2017-11-02 21:21] Eilon commented on #1506
Closing because there is not enough information to reproduce this problem.

[2017-11-02 21:21] #1506 closed

[2017-11-02 21:24] Eilon commented on #1518
Also adding @leastprivilege @brockallen and @PinpointTownes for any additional thoughts on this based on what you have seen in the community and problems that customers have run into.

[2017-11-02 21:25] Eilon commented on #1518
Parking on @Tratcher 's plate to noodle on this and come up with a final list.

[2017-11-02 21:30] Eilon commented on #1494
@brentschmaltz can you take a look with some of your colleagues and see what's up here?

[2017-11-02 21:32] Eilon commented on #1489
Issue moved to https://github.com/aspnet/Mvc/issues/6995 because MVC is where the fix would be.

[2017-11-02 21:32] #1489 closed

[2017-11-02 21:34] Eilon commented on #1027
Closing because there doesn't seem to be sufficient consensus on how to fix this and also whether it's even super important.

[2017-11-02 21:34] #1027 closed

[2017-11-02 21:37] Eilon commented on #43
Closing because the bulk of the work is done and in the public preview. We'll track any additional features and bugs as separate issues.

[2017-11-02 21:37] #43 closed

[2017-11-03 01:12] brentschmaltz commented on #1494
@homam1 @Eilon We have a bug in IdentityModel preview1. It has been fixed and is in our nightlies. Those packages do not have signed assemblies, so it is hard to test.
I see TokenEndpoint == "https://website.com/issue/hrd" with current bits.

On a side note, the X509Certificate cannot be hydrated into an X509Certificate2.

[2017-11-03 15:56] leastprivilege commented on #1517
Done https://github.com/aspnet/Security/pull/1522

[2017-11-03 16:41] EricMKaufman opened #1523 "OpenIdConnectOptions validate exception"
Calling validate throws an exception even when Authority is provided:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L102

[2017-11-03 16:55] PinpointTownes commented on #1517
It's worth noting that this change doesn't only affect the cookies handler, but all the handlers inheriting from `AuthenticationHandler` (third-party providers included).

[2017-11-03 17:03] PinpointTownes commented on #1518
I'm all for adding ETW tracing/metrics support but it's not super clear how this would concretely help customers with the problems they run into when using the security stack (except maybe... perf issues?).

`EventSource` is one of those super low-level things that are incredibly hard to configure and use, unlike most of the sinks offered by the logging stack. If you want to make the security comp

[2017-11-03 17:03] Tratcher commented on #1517
True, but only handlers that can directly produce an identity like cookies, bearer, basic, etc... None of the remote providers are affected.

[2017-11-03 17:05] Tratcher commented on #1523
Please share your relevant Startup code and the full exception.

[2017-11-03 17:13] EricMKaufman commented on #1523
[code]

Looks like line 102 of OpenIdConnectOptions should be:
[code]

[2017-11-03 17:17] Tratcher commented on #1518
@PinpointTownes this is about tracking trends in your application, not diagnosing individual issues. There is an open question on what data would be meaningful in that context, the counters listed above are only suggestions to start the discussion.

For example a single error log from a remote callback is only noise, but when you see that suddenly 20% of logins result in errors then that alerts yo

[2017-11-03 17:31] anurse commented on #1518
@PinpointTownes The main goal of this effort is EventCounters, which don't have an analog in logging right now. But EventCounters run on top of EventSources so they end up coming in together. Also EventSource != ETW and we've been looking at ways to make EventSource data more accessible. There are also APM tools that already use it and libraries like [EventFlow](https://github.com/Azure/diagnostic

[2017-11-03 17:42] Tratcher commented on #1523
Why do you use different values for `options.DefaultScheme = "Cookies;` and `.AddCookie(SsoServiceConstants.AuthenticationSchemes.Cookies`?

Also, are you sure configuration.BaseUrl has a value at runtime? Inspect it in the debugger or write it to the logs.

This code runs before Validate makes sure ConfiguraitonManager gets set if possible:
https://github.com/aspnet/Security/blob/bd8ecd02684d490e

[2017-11-03 18:51] PinpointTownes commented on #1518
Ah, I guess it changed recently 'cause when it was released a few years ago, it was pretty much tied to ETW (tho' you could register your own listeners, the internal APIs made direct calls to ETW and PerfView was the only tool able to collect the traces).

Thanks for clarifying. I think I got confused when @Eilon mentioned customers problems but your remarks made clearer the fact it's mainly used

[2017-11-03 18:54] EricMKaufman commented on #1523
Sorry, I was replacing the constants with string literals and missed that one. The value is also "Cookies"
BaseUrl is set correctly. The exception I am receiving is:

Perhaps I am not calling Validate() in the correct spot?

The code works fine authenticating with an OP (IDSRV4). I just noticed the exception when adding a call to Validate()

[2017-11-03 19:00] PinpointTownes commented on #1517
That's not exact actually, as you can call `AuthenticateAsync("Facebook")`. Currently, it logs an `Information` message in both the sign-in scheme handler AND the remote handler.

I have no particular opinion about that, 'tho I think it will make debugging harder for beginners. I just wanted to point out that it may be considered as a functional breaking change (probably an acceptable one, though)

[2017-11-03 19:00] Tratcher commented on #1523
You should not be invoking Validate directly. The handler will call that when it reads the options.

[2017-11-03 19:28] EricMKaufman commented on #1523
Okay that clears it up. I thought maybe I could given the public access modifier. Thanks.

[2017-11-03 19:28] #1523 closed

[2017-11-03 19:31] karthik25 opened #1524 "TypeLoadException for AuthenticationTokenExtensions - Incorrect assembly resolution by the runtime"
Hello,

I have an issue and I am wondering what it could be (bug?) and also if there is a way to work around this. I have a library that is referred by other projects. This library has the following code (_accessor is an instance of (I)HttpContextAccessor, injected by the .net core DI framework):

[code]

I have no issues with the netcore 1.1 part - I can add the library to a .net core 1.1 project

[2017-11-03 19:36] HaoK commented on #1523
There's nothing particularly wrong with calling Validate yourself, but it will fail if do it before PostConfigure runs if you are relying on some of the default inference logic that's built in.

[2017-11-03 19:59] mjnorman opened #1525 "Passing additional parameters to OpenID connect remote auth"
My instance of Ping Federate allows passing of a parameter to specify which instance they should authenticate with (kerberos, etc).  How do I go about passing this parameter via OpenIDConnectOptions?

[2017-11-03 20:08] mjnorman commented on #1525
I was able to solve this by adding an event handler during configuration like so--

`    Events = new OpenIdConnectEvents
    {
        OnRedirectToIdentityProvider = context =>
        {
            context.ProtocolMessage.SetParameter("<parameter>", "<value>");

            return Task.FromResult(0);
        }`

[2017-11-03 20:08] #1525 closed

[2017-11-03 20:40] anurse commented on #1518
Not much has changed here, but the in-proc stuff is the place we plan to do some work improving. The API still directly writes to ETW but also to the in-proc listeners and it works fine on Linux (just not calling ETW). The thought here is that we can provide a better in-proc story for gathering and shipping this data.

[2017-11-03 20:40] anurse commented on #1518
Catching up with ASP.NET 4.x perf counters is indeed the primary driving force behind this. The rest is nice-to-have :)

[2017-11-05 01:58] karthik25 commented on #1524
I just discovered about `extern alias` and I believe it would help me in this scenario too (https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/extern-alias). Will update if it works. May be there is a better way?

[2017-11-05 19:50] samdzirasa opened #1527 "OpenIDConnect error 500"
I get this error after authenticating.
This page isn’t working

**localhost is currently unable to handle this request.
HTTP ERROR 500**

It seems to me the OpenIDConnect Middleware is not handling the the providers POST to "https://localhost:44359/signin-oidc"

I thought the middleware is supposed to handle this endpoint automatically.

I am using Microsoft.AspNetCore.Authentication.OpenIdConnect

[2017-11-05 21:59] Tratcher commented on #1527
500 usually means an exception was thrown while processing the request. Run it under the debugger or enable logging to see the exception.

[2017-11-05 22:22] miroslavsiska opened #1528 "Azure AD B2C- read options from appsettings.json not load properly"
Hi,
I develop service fabric app:
This line of code do not load all options from appsettings.json properly:
Returned error: CallbackPath must be defined...

[code]

 appsettings.json:

[code]

[2017-11-06 08:32] lzandman commented on #1473
@Tratcher Yes. We have an Angular client app that calls Web API endpoints. When it hasn't yet been authenticated, the endpoints will redirect to ADFS. We don't want that. We want to handle login from the Angular client itself. So the endpoints should return a 401, on which the client can act and handle the login. For this we have a separate login controller and in this controller we need to determ

[2017-11-06 11:09] Tratcher commented on #1473
WsFed is not intended for direct use with WebApis. Look up JwtBearer + Identity Server samples.

[2017-11-06 12:08] Glebby opened #1529 "Custom absolute login redirect URL"
Is it possible to specify an absolute redirect login URL in ASP.NET Core 2? The standard method does not accept absolute URLs

[code]

Produces a runtime error as the URL is expected to start with "/".

The initial problem is that my app service is served over HTTPS, which terminates at CloudFlare, so when user is not authorised, ASP.NET redirects the user to HTTP address, rather than to HTTPs.

[2017-11-06 12:36] ycrumeyrolle commented on #1235
Agree with @leastprivilege for the support of reference token.
Maybe an abstract bearer authentication handler, with a JWT bearer handler and a reference token bearer handler.

We are using from the same way both token (JWT within a secure environment, reference token for hostile environment like the Internet). As we have to audit security events, a common layer of events would avoid out of synch

[2017-11-06 12:52] lzandman commented on #1473
@Tratcher I know. But we have a working app using regular .Net. We're first trying a direct port of it to AspNetCore. Exploring other, more relevant/future-proof solutions later.

[2017-11-06 14:01] leastprivilege commented on #1235
Our middleware is basically a decorator over the MS JWT and our introspection one. In lack of better options.

[2017-11-06 15:42] Tratcher commented on #1473
Then this new handler won't help you much as you've already implemented most of it as a controller. To get the APIs you need you need to go down one layer to IdentityModel. Look and the handler implementation and see what it's calling.

[2017-11-06 17:49] karthik25 commented on #1524
Okay, looks like I cannot try to combine .net core 1.1 and 2.0 packages, removed netcoreapp1.1 and it started working. Closing it out.

[2017-11-06 17:49] #1524 closed

[2017-11-06 17:57] Tratcher commented on #1529
Closing as a duplicate of https://github.com/aspnet/Docs/issues/2384.

[2017-11-06 17:57] #1529 closed

[2017-11-06 22:52] #1520 closed

[2017-11-07 11:05] Ponant commented on #1338
Hi,
I am porting our app from Core 2.0 preview 2 to Core 2.0; what is the difference between
[code]
and the one we currently use

[code]
Is the latter a convenience extension? Cheers

[2017-11-07 14:16] niemyjski commented on #500
So I've been assuming that when I set a default policy that it would be used when I didn't have any authorize attributes used... But This doesn't seem to be this case is this correct? I've been having lots of authorization issues.

[code]

Basically was understanding that I could set user role requirement for every end point and then I could override each one specifically (much cleaner). @blowdart

[2017-11-07 14:18] blowdart commented on #500
That's how I understood it, @HaoK ?

[2017-11-07 14:19] niemyjski commented on #500
I can't get it to work (haven't committed the changes to (https://github.com/exceptionless/exceptionless/tree/feature/core) where I updated to use a default policy and removed a bunch of attributes... I've been scratching my head for a week.

[2017-11-07 14:20] blowdart commented on #500
Oh wait, no. Default policy is the one applied when you don't specify one. You still need the authorize attribute.

[2017-11-07 14:21] niemyjski commented on #500
@blowdart yeah, so if you look at my controllers I'm not specifying any authorize attributes, only on the routes I want to override.. So you are saying that I need to add an empty [Authorize] attribute to each of my controllers?

[2017-11-07 14:28] niemyjski commented on #500
@blowdart so that appeared to be the missing peice but I think I found a bug, need to look into it more. Basically I have three roles (client, user, admin) and I want everything to be default to user role (client is very restricted). I then added the `[Authorize]` attribute to my controllers and put `[Authorize(Policy = AuthorizationRoles.ClientPolicy)]` on my specific controller actions with the

[2017-11-07 14:31] blowdart commented on #500
Yes. The default policy is the one the authorize attribute uses if one isn't specific.

If you want a policy on every request then you need to do something like

[code]

And build the policy there.

All policies end up additive.

[2017-11-07 15:15] niemyjski commented on #500
Thanks for the help.. I really don't think that having default policy is additive is straight forward. The default keyword to most developers states that it should be used if one isn't specified. When I add an explicit authorize attribute with a policy it should only be that policy that is applied and not combined with the default.. There really needs to be a way to override the default policy or

[2017-11-07 17:06] Ponant opened #1530 "Question: How to retrieve the reason for an Authorization Policy Failure?"
.Net Core 2.0
Take https://github.com/blowdart/AspNetAuthorizationWorkshop/tree/core2
and consider the case where the user has claims, but no Administrator Claim, in which case he is redirected to the Forbidden View when he hits `[Authorize(Policy = "AdministratorOnly")]`
. Is there a way I can retrieve in the forbidden view (or elsewhere) the reason why he has been redirected, i.e.
"You do not sa

[2017-11-07 18:16] blowdart commented on #500
That'd be a breaking change and you wouldn't see it until 3.0, and it makes sense, at least to me. The default policy is "Require authentication". Then everything adds on top, because that makes sense, you want the default to be "Require authentication".

If you feel it's something you want to argue for please create a new issue. Honestly it was only you tagging me on this issue that made me see i

[2017-11-07 18:21] Tratcher commented on #1338
@Ponant Here's the src for ConfigureApplicationCookie:
https://github.com/aspnet/Identity/blob/8136fc5306df052c4afd22ad6707e845a1755307/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L39-L40
See that it uses IdentityConstants.ApplicationScheme rather than CookieAuthenticationDefaults.AuthenticationScheme, and it doesn't set the default scheme to anything (where AddAuthent

[2017-11-07 19:51] HaoK commented on #1530
In 2.0, IAuthorizationService.Authorize was changed to return https://github.com/aspnet/Security/blob/rel/2.0.0/src/Microsoft.AspNetCore.Authorization/AuthorizationResult.cs instead of only a bool, when a failure occurs the Failure contains the failed requirements or if `Fail()` was called, but you will need to explicit authorization (use the service in the controller action manually) (as opposed

[2017-11-07 19:52] HaoK commented on #1530
cc @blowdart @scottaddie we should add this to the docs somewhere as this was a commonly asked for scenario that we enabled in 2.0

[2017-11-07 19:57] Ponant commented on #1338
@Tratcher , thanks for providing info on something I should be aware of. However, I am a bit confused at which one I should use if I am already using asp.net identity; `ConfigureApplicationCookie(...) `or `AddAuthenticaion(...).Addcookie(...)`?
Thanks

[2017-11-07 20:05] Tratcher commented on #1338
If you're using Identity then use ConfigureApplicationCookie. The others are for scenarios that are not using Identity.

[2017-11-07 20:54] Ponant commented on #1530
.@Haok, do you have some code where I can check out explicit injection of the service with check ups for Fail etc?

[2017-11-07 21:09] HaoK commented on #1530
Sure you can look at https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?tabs=aspnetcore2x

I believe the docs for 2.0 are being updated still, the 2.0 PR is here: https://github.com/aspnet/Docs/pull/4715#discussion_r149468638

Right now there's no example code around using the new failures, but basically its up to you to generate the appropriate error message based o

[2017-11-07 21:33] Ponant commented on #1530
I saw this page already but thought that was for resource based stuff, whereas you seem to say the `IAuthorizationService.Authorize` can be used beyond this .

[2017-11-08 00:01] #1425 closed

[2017-11-08 14:28] flatproject opened #1532 "Web Api Bearer JWT Token Authentication with Api Key fails on successive calls after successful token authentication"
I have posted my question on stackoverflow here [https://stackoverflow.com/questions/47168452/web-api-bearer-jwt-token-authentication-with-api-key-fails-on-successive-calls-a](url) and i would really appreciate it if someone could help me work out what the issue is. My question includes sample code for reproducing the issue. It is made up of two projects, one mvc core 2 web api and a console app.

[2017-11-08 18:36] Tratcher commented on #1532
I don't see anything obvious. Here are a few things to try:
a) Use the same token for Get() and GetAll()
b) Share a Fiddler trace of the full repro so we can compare the requests
c) Share the full repro as a github repo so it's easy to clone and debug

[2017-11-08 18:36] Tratcher commented on #1532
I don't see anything obvious. Here are a few things to try:
a) Use the same token for Get() and GetAll()
b) Share a Fiddler trace of the full repro so we can compare the requests
c) Share the full repro as a github repo so it's easy to clone and debug

[2017-11-08 19:00] flatproject commented on #1532
@Tratcher Thanks for coming back to me.
a) I'm already storing the token for reuse instead of generating a new one in the method

b) I'm really struggling to get this trace. Fiddler doesn't seem to capture anything. I will try a few more times and see if i can get it.
c) done. Its here: [https://github.com/flatproject/1532](url)

Again thanks for your help.

[2017-11-08 22:36] Tratcher commented on #1518
- CookieExpired is potentially very noisy, the client may keep sending the same expired cookie, we don't preemptively delete it for them. I'm not sure this provides value beyond a counter for anonymous requests.
- HandleRequest will directly overlap with all events that happen during a callback such as the OAuth and OIDC events. It may be redundant.

[2017-11-09 14:19] flatproject commented on #1532
I have resolved the issue. Apologies for any time wasted. The issue was that `TryAddWithoutValidation("Authorization", $"Bearer {token}");` doesn't clear the header before adding the new one. As a result when you call methods in success it keeps adding the bearer token in the header ending up with more than one value e.g. `Bearer xyz Bearer xyz`

[2017-11-09 14:19] #1532 closed

[2017-11-09 14:25] Jenan opened #1533 "Question: Register/Configure OpenIdMiddleware at runtime"
Hello,

is it possible register/configure the OpenIdMIddleware at runtime from application? I am wondering about register new external provider like facebook or twitter from application? If is it necesarry change some parameters in the middleware and is it required go to the code and re-deploy/restart app?

Thank you.

[2017-11-09 22:08] #1527 closed

[2017-11-09 22:13] Eilon commented on #1528
Notes: We thought this might have to do with not binding to PathString, but that was fixed in 2.0: https://github.com/aspnet/Configuration/issues/666

[2017-11-09 22:16] Eilon commented on #1530
@HaoK per our discussion, can you add this to the discussion about auth improvements and then close this bug as a dup of it?

[2017-11-09 22:18] Eilon commented on #1533
@HaoK can you provide a sample of how to do this?

[2017-11-09 22:29] Eilon commented on #1517
Fixed in https://github.com/aspnet/Security/pull/1522.

[2017-11-09 22:29] #1517 closed

[2017-11-09 22:32] Eilon commented on #1172
What are our thoughts on this for 2.1?

cc @rynowak @DamianEdwards @danroth27 @davidfowl

[2017-11-10 02:15] rynowak commented on #1172
Antiforgery by default was cut for 2.1 so I dunno

[2017-11-10 12:26] KANekT opened #1534 "Not working Roles"
I reed https://docs.microsoft.com/en-us/aspnet/core/security/authorization/roles
But if i use 2 roles anf more - not working
`[Authorize(Roles = AuthConstants.Realtor)]`
`[Authorize(Roles = AuthConstants.Administrator)]`
`[Authorize(Roles = AuthConstants.Agency)]`
`[Authorize(Roles = AuthConstants.CentralAgency)]`
`[Authorize(Roles = AuthConstants.Developer)]`

working only `[Authorize(Roles = "Ad

[2017-11-10 17:41] mjnorman opened #1536 "Question: Why so many cookies created?"
Using openid authentication + cookies, I see a total of 5 cookies created.  Is that normal and what is the use for each?

[code]

.AspNetCore.Antiforgery.0XStZnTEh0M
.AspNetCore.Cookies
.AspNetCore.CookiesC1
.AspNetCore.CookiesC2
.AspNetCore.CookiesC3

[2017-11-10 17:52] Tratcher commented on #1536
The C1, C2, etc... cookies are what we call cookie chunks. When your primary cookie (.AspNetCore.Cookies) gets larger than 4kb some browsers may not accept it. We work around that by slicing it up into 4kb chunks and adding numbering the pieces C1, C2, etc..

Usually this means you have too many claims in your identity, most commonly role claims. Enumerate your claims and see what's taking up all

[2017-11-10 19:41] mjnorman commented on #1536
Thanks for the reply, yes I have a lot of bloat right now, but did not occur to me it would split it up into separate cookies.  Makers perfect sense, thanks!

[2017-11-10 19:41] #1536 closed

[2017-11-13 21:23] eddyekofo94 commented on #1224
I am having the same error also:
`Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[0]
      An unhandled exception has occurred while executing the request
System.ArgumentException: Options.ClientId must be provided
Parameter name: ClientId`

[2017-11-13 21:52] Tratcher commented on #1224
@eddyekofo94 what does your Startup code look like?

[2017-11-13 23:37] danroot commented on #1473
My understanding from the thread above is that MetadataAddress parsing newer ADFS metadata xml is broken until some other libraries come in sync.  I was able to get this working by doing my own parsing, and thought I'd share a [gist based on that code](https://gist.github.com/danroot/0189c16a0296f8c65c83863f0f00aff5) and a few notes for others having issues with this:

- WReply must end in /signin

[2017-11-14 10:54] eddyekofo94 commented on #1224
My fault, I didn't set my OpenID ClientID nor ClientSecret.
@Tratcher Thanks.

[2017-11-14 20:33] HaoK commented on #1533
You can do this but it is a bit involved:

Basically you will need to implement a custom `IOptionsMonitor<OpenIdConnectOptions>` which is able to resolve the named options dynamically since the built in implementation requires things to be configured in `ConfigureServices`.

There's not much to implement, you basically will just need to implement `Get(string name)` to return the appropriately conf

[2017-11-14 20:35] Tratcher commented on #1533
Move to AuthSamples for a new sample?

[2017-11-14 20:36] HaoK commented on #1530
Linked to #1359 and will be tracked as part of that

[2017-11-14 20:36] #1530 closed

[2017-11-14 20:37] HaoK commented on #1533
Sure https://github.com/aspnet/AuthSamples/issues/3

[2017-11-14 20:37] #1533 closed

[2017-11-14 21:41] HaoK commented on #1528
This doesn't appear to be path string related, as the AzureAd options are defined as a string, I tried this using the templates which have this code in the repro and was unable to reproduce the issue.

How are you verifying that the callback path is set?

What's going on is actually the AzureAdOptions are bound to the config section, and then OpenIdConnectOptions are copying those over, you can tr

[2017-11-15 08:41] patsadow2 opened #1537 "[Authorize] [Antiforgery] and SPA"
Hello,

Is there any good solution to make [Authorize] [Antiforgery] and SPA work together ?

There is a bunch of article and people with that error:
" the provided anti-forgery token was meant for a different claims-based user than the current user"

Could anyone from .net support could tell how to do it correctly ?

BR

[2017-11-15 14:13] vnextcoder commented on #1370
in my Case, i had this `SigninScheme` set in the Appsettings which was causing various kind of issues.

once I removed that `SigninScheme` and it worked fine.
[code]
I also removed `AddCookie` call and it works still . Could somebody shed some light if `AddCookie` is called automatically somewhere during `AddAuthentication` calls ?

the below is working code.

[code]

[2017-11-15 18:52] HaoK commented on #1493
The behavior that's confusing is actually this bug: https://github.com/aspnet/Mvc/issues/6995

[2017-11-15 20:14] ghstahl opened #1538 "SignInManager.IsSignedIn(User) == false, yet User.Identity.IsAuthenticated == true"
https://github.com/ghstahl/P7.Core-2.0/blob/master/src/A.OIDC/Startup.cs

I would like to have an example that shows how to get OIDC tokens using the following method;
[code]
When I do the following, I can log in, the user gets authenticated, and I can get the access_tokens when logging in to Google using OpenIdConnect.  However, then calling  SignInManager.IsSignedIn(User) == false.
When I play a

[2017-11-15 20:20] dallancarr commented on #1538
Check your auth flow maybe.

https://github.com/aspnet/Identity/issues/1452

[2017-11-15 20:21] Tratcher commented on #1538
SignInManager is part of the Identity framework. The configuration you're showing is now using the Identity framework, it's only using the Authentication components.

[2017-11-15 20:28] HaoK commented on #1538
Yeah, SignInManager is looking specifically for the identity application cookie, you only want to use that method if you are using SignInManager to sign in typically.

[2017-11-15 21:18] brockallen commented on #1538
I think this is the first time I've ever heard anyone at Microsoft delineate the two. It's refreshing :)

But seriously, the docs don't make this distinction -- perhaps that leads to this type of confusion.

[2017-11-15 22:28] ghstahl commented on #1538
@Haok,
So if I do this, I should trash all the SignInManager stuff and just use User.Identity.IsAuthenticated for decisions in _LoginPartial.cshtml.   That cshtml file is where I first saw that it didn't show I was logged in.

Saying that, what do I do if I want Identity and still want those access tokens.  I stepped the OpenIdConnect handler and it was definitely saving the Tokens in that AuthTic

[2017-11-15 22:42] ghstahl commented on #1538
@dallancarr
` string accessToken = await HttpContext.GetTokenAsync(IdentityConstants.ExternalScheme,"access_token");`
doesn't work for me, when I changed my config to the following;
[code]
Now SigninManager.IsSignedIn == true.

[2017-11-15 22:55] dallancarr commented on #1538
You need swap out your defaults...mixture of oidc and cookies should do it. Then the token get should work without specifying scheme.

[2017-11-16 03:58] ghstahl commented on #1538
@dallancarr
I am using asp.net core 2.0.1, which doesn't have AddCookieAuthentication().  I used .AddCookie().  I got the same result though, where I get the access_token but SignInManager.IsSignedIn is still false.

Can you guys to tell me if I am wrong?
I decided to manage the OIDC tokens myself where I harvested them from the OnTicketReceived, and stuffed them into the session.

here is my code

[2017-11-16 04:33] yshpakov commented on #1103
How about
authorizationService.AuthorizeAsync(user, **(MyResource)null**, "policy")
?
It will never trigger HandleRequirementAsync
You know
null is SomeClass
will always be false.

[2017-11-16 12:39] evil-shrike opened #1539 "Cookie auth doesn't work with an app running on root (localhost:xxx/) and subfolder (localhost/app) at the same time"
I have an aspnetcore app with cookie auth.
Registered like:
[code]
Then `app.UseAuthentication();` in `Startup.Configure`.
It works fine both when I run from VS with F5 (on localhost:40386) and under IIS (publish to a folder registered as app in IIS).

But. If I first run the app on localhost:40386 (from VS), authenticate in it (get a cookie) and then do the same in app under IIS I'll get another

[2017-11-16 13:41] Tratcher commented on #1539
Can you share a Fiddler trace with all three requests? The two that created the cookies and the third that be authenticated.

[2017-11-16 13:53] mjnorman opened #1540 "callback path /signin-oidc fails with 502 bad gateway"
I currently have the app loaded on our cloud foundry instance which uses nginx.  I have worked through all of the redirect issues with http/https by enabling forwarders etc as discussed here in other threads.

I have a working application for me personally, but when anyone else attempts to access the site, the redirect works correctly to the openid provider, but the callback to `https://<url>/sign

[2017-11-16 13:54] Tratcher commented on #1540
Check the application logs.

[2017-11-16 14:08] mjnorman commented on #1540
Are you looking for anything specific?  It looks like everything is dandy but user receives 502.

[code]

[2017-11-16 14:27] mjnorman commented on #1540
Update-- it's not all users just some users.

[2017-11-16 14:52] Tratcher commented on #1540
Hmm, I was expecting an error in the logs. Is it possible the response headers are too large for some users due to an egregiously large identity/cookie? The AspNetCoreModule reverse proxy uses WinHttp and you may be hitting a limit there.

Try logging the response headers by putting something like this at the start of your pipeline:
[code]

[2017-11-16 14:53] evil-shrike commented on #1539
@Tratcher are HARs from DevTools ok?

[dotnet-cookieauth-issue-1539.zip](https://github.com/aspnet/Security/files/1478920/dotnet-cookieauth-issue-1539.zip)
* app on localhost:40386/ :
localhost-root-1-login.har - login api
localhost-root-2-confirm.har - 2nd phase of 2F-auth - actually returns a cookie (for "/" path)
localhost-root-3-api-authenticated.har - successfully accessing an api-controller

[2017-11-16 15:13] mjnorman commented on #1540
Sorry I didn't have them logging to console, only Serilog so was missed in the output above.  They are:

[code]

[2017-11-16 15:48] Tratcher commented on #1540
Those are request headers, not response headers.

[2017-11-16 18:13] ihavenonickname opened #1541 "Do not redirect to login page with Cookie Authentication"
My `ConfigureServices` method have the following code:

[code]

And my controllers have

[code]

On top of them, which redirects to `/Login` when user is not authenticated.

This behaviour is fine for my regular mvc controllers.

The problem is for my rest-like endpoints (their responses should be json-only). When user is not logged in it automatically sends the raw html of the login page but the

[2017-11-16 18:27] dallancarr commented on #1538
It looks like your using third party google so Identity + Google is an option.

[2017-11-16 18:35] mjnorman commented on #1540
I am not seeing any Response headers at all.  However I did trim down the claims which seems to have led to some success.

Middleware is configured as so--

[code]

[2017-11-16 18:38] Tratcher commented on #1540
Show the full middleware code? Where is the call to next?

[2017-11-16 20:26] mjnorman commented on #1540
[code]

[2017-11-16 20:41] ghstahl commented on #1538
@dallancarr I am using google as a placeholder for other OpenIdProviders.  I have always had Identity + a bunch of external OIDC providers, but then all of a sudden there was a need to get a hold of those tokens.  As it is, it looks like when I configure "SaveTokens", the only thing that does for me is allow me to harvest them via OnTicketReceived.  I was hoping to use what the asp.net team provid

[2017-11-16 21:14] krishnasingh1818 opened #1543 "JwtBearerEvents -> TokenValidated method"
Hi,

am overriding TokenValidated Method for JwtBearerEvents class to check value of a specific claim and if that value is false i want to return 401 status code with some error message to user "authentication failed"

right now am doing
context.Response.StatusCode = 401;

but this does not terminate the request and it allows execution to flow till controller methods and results are returned.

if

[2017-11-16 21:32] HaoK commented on #1538
@ghstahl so this is a fairly common ask, where you want to get something on the external identity (which lives in the "Identity.External" cookie, which gets cleared out when the "Identity.Application" cookie is signed in.

https://github.com/aspnet/Identity/issues/628 is a similar issue which you can read for context.

But the gist of it is, you will need to harvest the token via HttpContext.GetTo

[2017-11-16 21:36] HaoK commented on #1543
Try calling context.Fail("authentication failed") after setting it to 401.

[2017-11-16 21:38] krishnasingh1818 commented on #1543
I don't see fail method on context.. looks like in core 2..  I have core
1.1..  thks

On Nov 16, 2017 3:36 PM, "Hao Kung" <notifications@github.com> wrote:

Try calling context.Fail("authentication failed") after setting it to 401.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/aspnet/Security/issues/1543#issuecomment-

[2017-11-16 21:40] HaoK commented on #1543
In 1.1, you can call context.HandleResponse()

[2017-11-16 22:09] #1543 closed

[2017-11-16 22:11] Eilon commented on #1541
This is essentially a dup of https://github.com/aspnet/Security/issues/1394

To use APIs we recommend using bearer authentication instead of cookies. The cookie auth flow is designed for interactive web apps only.

[2017-11-16 22:11] #1541 closed

[2017-11-16 22:15] Eilon commented on #1539
We suspect this might be because the same cookie name(s) are used between the two sites, and ASP.NET Core can't know which of the two cookies to use.

If that's the case, we recommend adjusting the cookie name to be specific for each site.

[2017-11-16 22:19] Eilon commented on #1538
We logged https://github.com/aspnet/AuthSamples/issues/6 to track creating a sample for this.

[2017-11-16 22:21] Eilon commented on #1537
@patsadow2 can you show more info about your scenarios? Does your app redirect to a plain HTML page after logging in?

[2017-11-16 22:21] evil-shrike commented on #1539
I believe it should use the one which has most relevant path ("/survey.netcore.deploy" in my case) and only then try root's cookie...

[2017-11-16 22:22] ihavenonickname commented on #1541
Thank you for your response.

I am aware JWT is the best fit for my use case... but cookie auth is what's already implemented and I would like to keep as much of the working code as possible.

Do you know some reliable workaround or should I really refactor the application in order to use JWT? I am going to follow your recomendation anyway.

[2017-11-16 22:24] Eilon commented on #1534
Hi @KANekT , the docs do specify that if you specify multiple `Authorize` attributes it is an "AND" operation, but if you specify multiple roles within a single attribute it is an "OR" operation.

[2017-11-16 22:24] #1534 closed

[2017-11-16 22:24] #1528 closed

[2017-11-16 22:26] Eilon commented on #1494
@brentschmaltz thanks. If this made it into preview2, we're good to go because we've already updated to that. We have a new preview of our WsFed middleware that we're about to release, and it uses IdentityModel preview2.

[2017-11-16 22:26] #1494 closed

[2017-11-16 22:35] Eilon commented on #1541
Using JWT is recommended. We plan on getting some documentation on these scenarios but we haven't gotten to it yet.

[2017-11-16 22:40] ihavenonickname commented on #1541
Docs on this will be **really** appreciated! I'm having a hard time with this because I have no experience with web applications.

Thank you for your guidance!

[2017-11-16 22:51] krishnasingh1818 commented on #1543
context.HandleResponse() allows request to go till controller and returns actual results from api call..  thats why for now i had to throw exception to stop execution ..

[2017-11-16 23:37] krishnasingh1818 commented on #1543
if i do context.SkipToNextMiddleware(); then it worked fine.
but if i do  below. it sends status as 401 and also sends api result (customerList)
context.Response.StatusCode = 401;
context.HandleResponse();

[2017-11-16 23:52] Tratcher commented on #1540
[code]

[2017-11-17 00:08] Tratcher commented on #1539
The path information is not present in the request cookie, only the browser maintains that.

[2017-11-17 00:20] mjnorman commented on #1540
Ah I see.  Can you elaborate on this a bit?  I see now that if I change to async and await next() as you have described, I run into other issues, such as the app hanging during the OIDC redirect process.

Right now I have this, and when I click Login I get the redirect to OIDC but then it just hangs.  Where should the await next statements be in relation to the logging and header replacements?

[c

[2017-11-17 00:24] Tratcher commented on #1540
Request operations should be before 'next', while response logging should be after.

[code]

next refers to the remainder of the application pipeline such as your auth middleware, MVC, etc.. You get to see the request before it's processed and the response after it's done.

[2017-11-17 01:25] Eilon commented on #1539
Right, the path info is just an instruction to the browser client to know when to send the cookie, and when not to. It's not part of the cookie itself.

[2017-11-17 03:02] Tratcher commented on #1543
That's strange.
This might be easier to get working if you separate your authentication from your authorization. The JwtBearer does authentication and produces a user, it's not usually responsible for doing authorization and deciding if that user has access to your site.

Try adding a separate middleware for authorization that calls HttpContext.Authentication.AuthenticateAsync, checks the desired

[2017-11-17 07:19] patsadow2 commented on #1537
I use

[code]

And after login the first request in redirected page doesn't replay correctly. After redirect to another page it validate it.

[2017-11-17 07:47] #1537 closed

[2017-11-17 09:37] evil-shrike commented on #1539
I see. Could you tell me why cookies from root isn't suitable for path-based app? Is there some unique identification used during encoding cookie value which prevents from reusing cookies from other app instances?

[2017-11-17 13:39] mjnorman commented on #1540
Ok this makes sense.  I can now see the headers.  As I mentioned above the problem seems to have gone away since I trimmed down the claims to only what I need.  Below are the headers, let me know if you see anything that looks off.

[code]

[2017-11-17 14:36] ghstahl commented on #1538
@HaoK  As usual it always turns out to be the most simple thing.  Verified your gist of it.

I get to keep my Identity.
[code]
And harvest the tokens before they get cleared out after signin.,
[code]

Thanks

[2017-11-17 16:20] Tratcher commented on #1540
Great. Out of curiosity how big did the cookie get before it caused your 502 failure? You're the first one I've seen hit that size limit.

[2017-11-17 17:57] mjnorman commented on #1540
So if I total all cookies for me it is 9k.
For this user I undid my fix for trimming cookies down and this is the response header.

[code]

[2017-11-17 17:59] #1540 closed

[2017-11-17 18:01] Tratcher commented on #1540
That looks like 16kb worth of data. No wonder it was rejected.

[2017-11-17 18:21] mjnorman commented on #1540
Thanks so much for all the information and help!

[2017-11-17 19:10] herbat73 commented on #1412
check if you do not have 2x  `services.AddIdentity...` it caused this problem in my code

[2017-11-18 14:29] locutus80 commented on #1473
So auth is working (using a nightly build), when I hit my site directly. We have a portal, using the same WSFed endpoint, that loads my site in an IFRAME. Using Fiddler, I can see that our STS sees I'm signed in (to the portal) and the IFRAME redirects back to my site
[error.txt](https://github.com/aspnet/Security/files/1484664/error.txt)
 /signin-wsfed but then in my site's logfiles I can see the

[2017-11-18 16:34] Tratcher commented on #1473
Can you share the fiddler trace?

[2017-11-18 17:19] locutus80 commented on #1473
Working on getting the Fiddler trace - the behaviour I described earlier is inconsistent. I've attached my ConfigureServices method's code [ConfigureServices.txt](https://github.com/aspnet/Security/files/1484829/ConfigureServices.txt)

The code drops into the OnRemoteFailure event and the exception I'm getting is `SecurityTokenException: No token validator was found for the given token.`

 I appre

[2017-11-19 10:16] yadavvineet commented on #976
As of today i am still getting this issue. Is there some workaround or approach changed. Using IdentityServer4 with AspNetCore 2.0.

From: OnUserInformationReceived event in IdentityServer4
`options.Events = new OpenIdConnectEvents()
                 {
                     OnUserInformationReceived = context =>
                     {
                         //context.User.Remove("address");

[2017-11-19 11:21] yadavvineet commented on #976
I found another workaround for this using a custom ClaimAction derived class suggested by @Tratcher
in another thread. But i do believe that a system claim action should be provided in base asslembly to support this type of operation.

[2017-11-19 21:24] kuseku opened #1545 "How do I add a custom claim value to be part of cookie ?"
I am using **Microsoft.AspNetCore.Authentication.MicrosoftAccount** and it works great. Question I have is as a part of Cookie values I would like to add some values from the database regarding user. This is to avoid querying DB every-time page loads. In earlier versions I would keep the redirect URL to a Action method and perform this operation. I dint see any examples of how I can do this in ASP

[2017-11-19 23:30] Tratcher commented on #1545
You can do this in the OnTicketReceived event.
https://github.com/aspnet/Security/blob/34083584a6593b636ed507c1b8e50570197ec2ad/src/Microsoft.AspNetCore.Authentication/Events/RemoteAuthenticationEvents.cs#L13
See this for hooking events:
https://github.com/aspnet/Security/blob/34083584a6593b636ed507c1b8e50570197ec2ad/samples/SocialSample/Startup.cs#L153

[2017-11-21 00:05] #1538 closed

[2017-11-21 18:08] Tratcher commented on #1473
Update: 2.0.0-preview2 is now available and includes several fixes for reported issues.
https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation/2.0.0-preview2

We anticipate this will be the last prerelease, please try it and let us know if everything is working as expected. If all goes well we'll release the final build in a few weeks.

[2017-11-21 20:13] HaoK opened #1546 "VirtualScheme review changes"
Per review with @davidfowl @Tratcher @DamianEdwards @ajcvickers

- Roll VirtualScheme functionality into base AuthenticationSchemeOptions
- Add new top level methods that combine the social OAuth/OIDC auths and cookies with default configuration into `AddAuthentication().AddGoogle/FacebookScheme()` that will take care of everything needed (ensuring only a single cookie is configured, and setting S

[2017-11-21 22:05] danroot commented on #1473
I'm able to confirm this update fixes the issue I had parsing metadata xml.  It also removed the need to set o.TokenValidationParameters.NameClaimType and o.TokenValidationParameters.RoleClaimType

[2017-11-22 00:02] HaoK commented on #1546
I did a quick prototype of what a higher level "Add[Social]Scheme" method would look like, but I went with a fully explicit name: AddXyzSignInCookie.

[code]

I verified with the social example that this works as expected when you target the new "GoogleSignIn" (virtual) scheme.

So startup basically will go from:

old:
[code]

New:
[code]

Also any additional AddFacebookSignInCookie calls would sh

[2017-11-22 13:38] ycrumeyrolle opened #1547 "[Question] Authentication V2 - How to specify a proxy settings for the BackchannelHttpHandler for development environment only ?"
I have to specify a proxy settings on the BackchannelHttpHandler, but only on the development environment.
Is there any way to achieve this? Or should I set a configuration flag like `enableProxy`?

[code]

[2017-11-22 14:07] Tratcher commented on #1547
That's doable, you can inject IHostingEnvironment into the Startup constructor and store it in a field/property.

[2017-11-22 16:22] Tratcher commented on #1370
SignInScheme should almost always be Cookies, it should never refer to itself (e.g. Google).

[2017-11-22 16:23] Tratcher opened #1548 "TestServer and OIDC/MSAL"
_From @dmcweeney on November 15, 2017 15:39_

Hi,

I've an ASP.Net Core 2 web app/api that is protected using OIDC and MSAL.

For our unit and functional tests, I want to be able to test the routing, model binding, etc
using the TestServer class.

Any ideas on the best way to bypass the authentication layer for this kind of testing?

Thanks

Donal

_Copied from original issue: aspnet/Hosting#1271_

[2017-11-22 17:46] ycrumeyrolle commented on #1547
That's working like a charm.
I tried to inject the `IHostingEnvironment` into the `ConfigureServices()` method, I did not think about the `Startup` constructor.

[2017-11-22 17:54] ycrumeyrolle commented on #1547
Any reason for having a `Configure()`  method & `Startup` constructor supporting dynamic IoC and a `ConfigureServices()` method that does not?

[2017-11-22 18:10] Tratcher commented on #1547
Complexity, and the constructor has access to all of the same services. Configure is different because it needs access to the services added in ConfigureServices.

[2017-11-22 21:59] HaoK commented on #1546
Looks like we can't completely combine the VirtualSchemeHandler and normal AuthenticationHandler due to SignIn/SignOut not being implemented in the base AuthenticationHandler.

That said, we can still roll the VirtualSchemeOptions into the base AuthenticationSchemeOptions so all handlers will be able to forward authenticate/challenge/forbid using the new option settings.

But the over load for a '

[2017-11-23 10:20] zejafo commented on #1473
Hi everyone! Could someone post a full example of using this lib with sample .net core 2.0 app with ws-fed authorization?

[2017-11-23 15:40] dallancarr commented on #1548
Subclass startup is one solution ive seen out there. At least you can overrride the bits you need. But im not a real advocate of that.

[2017-11-23 15:41] dmcweeney opened #1551 "TokenValidated question"
Hi,

We have an asp.net core 2 web app/api which uses oidc and msal.

I've implemented a whitelist/blacklist and this checking is done in the TokenValidated event. If the user fails the access checks I throw a SecurityTokenValidationException().
Which results in my forbidden page being rendered to the client.
That is ok but if I hit the endpoint again from the same browser instance there is no log

[2017-11-24 04:18] winnicki opened #1552 "Validate external login access token, provision / get app user, and issue JWT to API client"
I'm going to ask this again because it's somewhat addressed [here](https://github.com/aspnet/Security/issues/900) in tinchou's comments, but, I have what should be a very common scenario however I can't seem to find any resources on how to leverage the framework to accomplish this.

I'm familiar with the external login support for Facebook / Google using MVC login redirect, and it's awesome how ea

[2017-11-24 19:49] #1552 closed

[2017-11-24 19:55] winnicki commented on #1552
I figured how to modify the existing MVC template, and this is the solution I came up with. I added an ExternalLoginToken action that implements steps 2.1 and 2.2, then leverages the framework for the rest (note: I still need to add the JWT issuing but I know how to do that).

I was going to add the snippets here, but there are 3 methods and a few model classes that are required to show, so I thin

[2017-11-26 14:17] qibucloud opened #1553 "options.ClientId options.ClientSecret Configuration information I want to run in the process of assignment how to achieve?"
[code]
options.ClientId options.ClientSecret    Configuration information I want to run in the process of assignment how to achieve?
I tried a lot of ways does not work, I do not know how to get, can help me think about it?

[2017-11-26 15:39] Tratcher commented on #1553
Sorry, I don't understand the question. Try rephrasing it.

[2017-11-27 06:25] Tratcher opened #1554 "Infinite Loopback between asp.net core 2.0 controller and login.microsoft.com inside office addins"
_From @Petermarcu on November 27, 2017 4:46_

@vskeid opened this here: https://github.com/dotnet/core/issues/1075

hi,
    We have migrated our application to asp.net core 2.0  from 1.1.   Before migration the application used to work in the browser and within word office 365 app task pane.

After asp.net core 2.0 migration the oidc flow and the cookie authentication is working fine in chrome and

[2017-11-27 06:25] Tratcher commented on #1554
Can you share a Fiddler trace of the infinite loop?

[2017-11-27 09:43] a-patel opened #1555 "Login with External Providers (Microsoft, Facebook, Google, Twitter) in Asp.Net Core (2.x) Web API"
I am using,

Asp.Net Core (2.x) + Web API
Identity User
OpenIddict for Authentication
SPA (Angular) app for Front End.
Created Google and Facebook Application (for App Id/Key and Secrets)
Not using Identity Server (4).

[2017-11-27 10:16] a-patel commented on #1453
Any update?

[2017-11-27 10:18] a-patel commented on #1453
I also want to sign in with External Privideers (e.g. Facebook, Google) in Asp.Net Core (2.x) + Web API + OpenIddict

[2017-11-27 12:38] icistrate opened #1556 "Wrong value retrieved from JwtClaimTypes.UpdatedAt claim"
Hi,

I have a strange behavior that the value retrieved from `JwtClaimTypes.UpdatedAt` claim is `\"2017-03-27T13:10:05\" `instead of `2017-03-27T13:10:05 ` (note extra quotes).

I initially thought is a bug in `IdentityServer4.AccessTokenValidation`, so I posted this issue there [https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation/issues/96](https://github.com/IdentityServer/Id

[2017-11-27 12:53] altair256 commented on #1453
@a-patel Yes, I solved this problem. As say @PinpointTownes:

So, I use access token.
I create custom identity token in **appsettings.json**
[code]
Then I register his in **Startup.cs**
[code]
And finally I add in **AuthorizationController.cs**
[code]
Now this works. I apologize for taking so long to answer. It was necessary to write this much earlier.

[2017-11-27 13:00] MonDeveloper commented on #158
+1
EndOfStreamException is thrown every time you try to call the ctor with the same data obtained by the WriteTo.
WEIRD !

[2017-11-27 13:20] a-patel commented on #1555
It will be better if someone can give me the,
"Sequence of events which will take place during external login"

[2017-11-27 17:12] ycrumeyrolle opened #1557 "[OIDC] State is lost in hybrid flow"
Sample here:
https://github.com/ycrumeyrolle/OpenIdConnectSamples

Got the following error message:
[code]

Tried with my own Authorization Server and with https://demo.identityserver.io/.

When receiving the [protocol message](https://github.com/ycrumeyrolle/OpenIdConnectSamples/blob/master/src/OidcWebApp/Startup.cs#L79), the state property is set to the `state` parameter .
When [validating the t

[2017-11-27 17:34] Tratcher commented on #1473
There's minimal sample in the branch: https://github.com/aspnet/Security/blob/rel/2.0.0-ws-preview2/samples/WsFedSample/Startup.cs

From the application's perspective this provider works the same way as OpenIdConnect or Facebook. You can use it with either the "Work or School Accounts" or "Individual User Accounts" templates.

[2017-11-27 17:37] Tratcher commented on #1551
You're mixing Authentication and Authorization. @HaoK @blowdart where are the Authorization samples for something like a user filter?

[2017-11-27 17:39] blowdart commented on #1551
I don't think we have any, and, honestly, hitting an api in browser is *odd*. We're back to, presumably, wanting two methods of auth on an endpoint, jwt and cookie, and that's never a good idea.

@dmcweeney what authentication are you using here?

[2017-11-27 18:46] Tratcher commented on #1556
This was with JwtBearer? Can you share an expired JWT token?

@brentschmaltz

[2017-11-27 18:48] Tratcher commented on #1555
You should refer to OpenIddict samples for this scenario.

[2017-11-27 19:27] PinpointTownes commented on #1556
I agree it's a bit weird to see these extra quotes but I don't think it's an IM bug,

The OIDC spec explicitly says that the `updated_at` profile claim is a "JSON number representing the number of seconds from 1970-01-01T0:0:0Z as measured in UTC until the date/time". Yet your OIDC server seems to return it as a stringified date, which is invalid and non-standard (and proves once again that the OI

[2017-11-27 19:30] PinpointTownes commented on #1555
You may want to give @asadsahi's project a try. It does exactly what you're looking for: https://github.com/asadsahi/AspNetCoreSpa

[2017-11-27 19:37] Tratcher commented on #1557
The handler validates State itself, RequireState is not required:
https://github.com/aspnet/Security/blob/a9482d1d03fc22f62e42cf31b8adb32c5550835e/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L507-L544

[2017-11-27 21:40] ycrumeyrolle commented on #1557
The RequireState in the sample is commented out and is used as workaround for the described issue.

[2017-11-27 21:52] Tratcher commented on #1557
OpenIdConnectOptions sets up its own validator that disables state validation. You are overwriting this default.
https://github.com/aspnet/Security/blob/a9482d1d03fc22f62e42cf31b8adb32c5550835e/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L179-L183

[2017-11-27 23:37] ycrumeyrolle commented on #1557
I see my mistake. I had overridden the ProtocolValidator because my AS was bogus with the nonce, and it brings a new bug due to the default value of the RequireStateValidation property.

Is is a desired behavior that RequireStateValidate=true and RequireState=true is not supported and produce an exception ?

[2017-11-28 05:57] qibucloud commented on #1553
I saas application, different site configuration is not the same, I do not know how to configure @Tratcher

[2017-11-28 09:21] a-patel commented on #1555
Thanks @Tratcher  and @PinpointTownes

[2017-11-28 10:32] dmcweeney commented on #1551
Hi @blowdart, @Tratcher, we are authenticating using the AzureAD V2 endpoint.

I should have clarified the "asp.net core 2 web app/api" as it is a SPA that talks back to its own WebAPI. The idea of putting the whitelist/blacklist check in the TokenValidated event is I don not even want to spool the SPA if user does not pass that authorization check.

The idea of putting the check in TokenValidated

[2017-11-28 11:20] icistrate commented on #1556
@PinpointTownes @Tratcher As already said in the other post, it seems only the API side is affected. In Identity Server and javascript client I see no issue.

Just for reference, I used dt.ToString("s", InvariantCulture) when creating the claim in IDS; but when reading the value with DateTime.ParseExact(dt, "s", InvariantCulture); this always fails because of extra quotes.

JwtBearer lib version:

[2017-11-28 12:33] PinpointTownes commented on #1556
@icistrate IdentityModel doesn't support stringified dates. I opened a new ticket on your behalf to track possible improvements: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/842.

**But as I already said, the real issue is in your own code: with JWT, dates are expected to be number values, not strings.**

[2017-11-28 14:54] weitzhandler commented on #292
I'm unable to find `LoginPath` in ASP.NET Core 2.0.
Any ideas?

[2017-11-28 17:05] Tratcher commented on #1551
You still don't need to mix it in with the Authentication code. A second middleware for authorization would suite you. Something like:
[code]

[2017-11-28 17:15] Tratcher commented on #1553
For your SAAS application do you deploy separate instances for each customer? If so then then the customer specific information should be read from Configuration like in this sample:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?tabs=aspnetcore2x#configure-facebook-authentication

If you're running multiple customers in one instance and want to select

[2017-11-28 17:44] weitzhandler commented on #292
@Tratcher that did the trick.

[2017-11-28 20:22] deckerbl commented on #978
@HadeelElbitar.  I know this is a closed issue but I am still having this same problem with live accounts as @brockallen mentioned in his prior post.  How can we get this addressed with live?

[2017-11-28 22:10] HaoK opened #1558 "AddXyzSignIn(): new auth startup API"
Consolodated review of tentitive plans around startup changes

Related PRs: https://github.com/aspnet/Security/pull/1550
https://github.com/aspnet/Identity/pull/1442

[code]

[code]

Thoughts? @Tratcher @davidfowl @DamianEdwards @ajcvickers

[2017-11-28 22:17] Tratcher commented on #1558
Use OIDC for your single provider sample, that's the only one that has a stand-alone template.

What is the content of GoogleDefaults.Policy?

Splitting up Identity is nice.

[2017-11-28 23:24] HaoK commented on #1558
All the social policies will look similar, with default to cookies and challenge to the external auth, the caveat is that only one of these sign in methods should be called in startup, since it only works well as the default
[code]

[2017-11-28 23:27] Tratcher commented on #1558
Wait, what object is .Policy?

[2017-11-28 23:37] HaoK commented on #1558
its just a string that is the name of the auth scheme that is to be the default, which we could choose to be either "Google", or we could choose to use the default cookies everywhere as well.

so we could always have `AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)` for all of the social providers instead.

[2017-11-28 23:39] Tratcher commented on #1558
Keeping Cookies as the default is less fragile when you start changing or adding providers.

[2017-11-28 23:43] HaoK commented on #1558
Yeah I agree, updated the example to just do that

[2017-11-29 08:21] leastprivilege commented on #978
We fixed this problem when you use IdentityServer as the federation gateway.

http://docs.identityserver.io/en/release/topics/signin_external_providers.html?highlight=StateFormatter#state-url-length-and-isecuredataformat

[2017-11-29 10:20] icistrate commented on #1556
@PinpointTownes Oops.. get it now. Don't know why I thought the claims are just some serialized key/value strings. Thank you for your support!

[2017-11-29 12:42] dmcweeney commented on #1551
I do agree with you guys on mixing authentication and authorization code being a bad idea and I will definitely play with this.
However if I am to understand this correctly this whitelist/blacklist checking middleware will run for every request for users that pass this check?

Thanks

Donal

[2017-11-29 15:17] deckerbl commented on #978
Thanks @leastprivilege !  I didn't catch that in the documentation.

[2017-11-29 17:18] Tratcher commented on #1551
Yes this approach will run for every request. If you're using JwtBearer then the validation is always per-request.

[2017-11-30 09:38] johnkors opened #1559 "Multiple authentication schemes and global filters (ASP.NET Core 2)"
Hi,

I'm struggling to get the following auth working in an OK manner, which of I find a quite common use case. I want to co-host a API and a UI within the same ASP.NET Core MVC 2 host, but keeping the authorization setup separate.

* `/api`
Every route starting with `/api`should have JWT bearer auth requiring the tokens to contain a specific scope.

* `/anyotherurl` :
Any other URI should use coo

[2017-11-30 09:42] abcplex commented on #551
@blowdart still not done?

[2017-11-30 11:21] dmcweeney commented on #1551
Ok thanks...

[2017-11-30 11:21] #1551 closed

[2017-11-30 13:49] Tratcher commented on #1557
Yes, that's the current design.

[2017-11-30 16:33] choudeshell opened #1560 "AuthorizationPolicy should allow a custom failure message and failure status code"
In ```Microsoft.AspNetCore.Authorization, Version=2.0.0.0```,  a non-successful ```AuthorizationPolicy``` always returns a 403-Forbidden status code with an empty response body/empty result.

It would be useful to have ```AuthorizationHandlerContext``` expose a ```AuthorizationRequirementResult``` that is passed through the pipeline so that the resulting response allows a custom message and status

[2017-11-30 22:25] Eilon commented on #1560
There are two separate concerns here:
1. Deciding what to do when a policy/auth rule fails
2. Implementing some code that is framework-specific that handles that result

Mixing both of those into the Auth Handler is somewhat problematic because it assumes that the result will be processed by MVC (i.e. `AuthorizationFilterContext`)

We agree there isn't currently a great built-in story for this but

[2017-11-30 22:29] Eilon commented on #1559
Hi @johnkors , this is indeed an area that is not very easy to work with in 2.0. We are working on some improvements that should make this better in the 2.1 milestone, which you can follow via this issue: https://github.com/aspnet/Security/issues/1546

[2017-11-30 22:29] #1559 closed

[2017-11-30 22:31] HaoK commented on #1560
This is a probably a dupe of https://github.com/aspnet/Security/issues/1530 which is tracked as part of https://github.com/aspnet/Security/issues/1359 (AuthZ improvements for 2.1)

[2017-11-30 22:38] Eilon commented on #1558
@javiercn can you also take a look at @HaoK 's PR because you've had similar ideas before?

[2017-11-30 22:39] Eilon commented on #1558
Tentatively placing in the 2.1.0-preview1 milestone in case we reach an agreement on the design. If not, we should move it later.

[2017-11-30 22:39] #1557 closed

[2017-11-30 22:39] #1556 closed

[2017-11-30 22:41] #1555 closed

[2017-11-30 22:45] Eilon commented on #1553
@HaoK , I believe you are working on a sample that shows how to do multi-tenancy of auth configuration (that is, different settings used for different requests, based on tenants).

[2017-11-30 22:47] Eilon commented on #1548
@javiercn I believe you have examples of exactly how to do this. Can you give a pointer?

[2017-11-30 22:49] #1547 closed

[2017-11-30 22:49] #1545 closed

[2017-12-01 00:29] javiercn commented on #1548
Subclassing Startup and using that to change the dependencies used for testing is a good start. You can change your auth to use a very simple handler that just looks at the Authorization header and set a principal based on that.

Then you can just put that payload on the HTTP request you make using HTTP Client.

[2017-12-01 01:08] Eilon commented on #1560
Ah, you're right, we thought there was a dup somewhere.

[2017-12-01 01:08] #1560 closed

[2017-12-01 01:24] brockallen commented on #1548
Here's how we do it: https://github.com/IdentityServer/IdentityServer4/blob/dev/test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs#L188

[2017-12-01 05:41] glennc opened #1561 "Cookie consent feature"
In order to help customers implement cookie compliance policies, like GDPR, we want to introduce a few concepts:

* Cooke Reason when creating a cookie
* Middleware that detects if consent for cookies of non-essentialreasons has been granted
* IFeature to allow code to reason about the consent status
* Modify CookieBuilder so that non-essentialcookies can be blocked unless consent has been granted

[2017-12-01 05:41] glennc commented on #1561
# Cookie Policy Tracking Consent

* The name "consent" is problematic (Barry doesn't like it)
* We're reusing CookiePolicy to do this.
* CookiePolicy changes:
  * Add [ITrackingConsentFeature](https://github.com/aspnet/new.dot.net/blob/master/src/NewDotNet.Tracking/ITrackingConsentFeature.cs) to request
  * Add `WithdrawTrackingConsent` method to `ITrackingConsentFeature`
  * Merge [TrackingCookie

[2017-12-01 06:54] johnkors commented on #1559
Not sure I follow how #1546 handles this scenario. #1546 looks like just an helper overload for doing cookies+social. That's not what I'm concerned about here.

[2017-12-01 07:05] johnkors commented on #1559
Is it not possible to create something that makes a policy only applicable for provided set of routes? In the Katana world, one could at least just use middleware to accomplish seperation.

[code]

[2017-12-01 11:13] dmcweeney commented on #1548
Guys thanks for the info and pointer to the sample code. Its a good base to start working off.

Thanks again

Donal

[2017-12-01 16:03] jspetit commented on #673
The Configuration property of the type JwtBearerOptions is a OpenIdConnectConfiguration type:

            app.UseJwtBearerAuthentication(new JwtBearerOptions
            {
                AutomaticAuthenticate = true,
                AutomaticChallenge = true,
                TokenValidationParameters = tokenValidationParameters,
                Configuration = new OpenIdConnectConfiguration

[2017-12-01 16:08] jeszulc commented on #1473
Running into an issue parsing Saml tokens with empty `AttributeValue` nodes using preview 2.
Filed an issue over at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/847

[2017-12-01 16:46] johnkors commented on #1546
Hi, @HaoK ! @Eilon mentioned that this issue here might solve the problems I mention in #1559, but I don't follow. Could you shed some light on the subject..?

[2017-12-01 17:48] blowdart commented on #1561
Bah, the GDPR uses consent everywhere, so i acquiesce to Consent being the name.

Consent is wider than tracking cookies, it's "personal data processing", but as here we're limiting ourselves to cookies, and they are not necessarily tracking cookies, how about "IdentifyingCookie(s)", because they identify the user in some manner?

[2017-12-01 18:14] Tratcher commented on #1546
@johnkors look at the currently checked in version of this feature:
https://github.com/aspnet/Security/blob/e69d9e20635abcc8ae46970f819397b717b2527a/src/Microsoft.AspNetCore.Authentication/VirtualAuthenticationHandler.cs
It provides dynamic scheme selection based on a DefaultSelector action. That code isn't using anything new from 2.1, so you could copy it as is into a 2.0 app.

[2017-12-03 01:58] Tratcher commented on #1559
See https://github.com/aspnet/Security/issues/1546#issuecomment-348567748. Map almost worked with Core 1.x, but it won't work at all with the 2.0 design.

[2017-12-03 17:56] Daniel-TZS commented on #219
@TheMasterPrawn were you able to resolve your problem?  I have a similar problem

[2017-12-04 11:51] icistrate commented on #1556
@PinpointTownes Do you mind having a look at below code? Do I set correctly the DateTime inside a Claim? Do I understand correctly that I was missing the `ClaimValueTypes.DateTime`?

[code]
When I look at the available API for `System.Security.Claims.Claim` I don't see anywhere a parameter to accept an object, but only strings! Any explanation?

[2017-12-04 13:09] TheMasterPrawn commented on #219
I implemented the web.config as above. I had the same problem, so I implemented the change detailed in http://katanaproject.codeplex.com/wikipage?title=System.Web%20response%20cookie%20integration%20issues&referringTitle=Documentation to manage cookies. The app has been working fine for a few months now with no complaints.

[2017-12-04 16:30] Daniel-TZS commented on #219
Thanks for replying @TheMasterPrawn.  My problem turned out to be that I had the authentication cookie set to SameSite = SameSiteMode.Strict, I changed it Lax and all is good.  And, my problem occurred with Chrome.

[2017-12-05 04:43] reicher001 commented on #1473
Thanks Chris.

I was able to get the WSFedSample working.  We will continue to work
through this implementation and report any issues we run into.

Are we still on track to have the final release out in the next few weeks?

Rick

Richard Eicher II

PwC | Director
Office: +1 214 754 5485 | Mobile: +1 214 801 3879
Email: richard.eicher@pwc.com
PricewaterhouseCoopers LLP
2001 Ross Ave. Dallas,TX 7520

[2017-12-05 04:53] Tratcher commented on #1473
Yes, especially if we get more positive feedback.

[2017-12-05 11:34] zulq opened #1563 "Claims Transformation Upgrade issues."
We have an application which uses Windows authentication and in 1.1, was using `ClaimsTransformer ` and this was working fine. Now we upgraded the app to 2.0 and below is the new claims transformation we trying to use.
[code]
And in `Startup.cs` `services.AddTransient<IClaimsTransformation, MyAppClaimsTransformer>();`. However this is causing 500 server error. It works fine on debug. We were tryin

[2017-12-05 12:35] #1453 closed

[2017-12-05 13:24] Tratcher commented on #1563
What error do you get in the application logs?
I suspect the lifetime of AppDbContext is wrong.

[2017-12-05 13:34] zulq commented on #1563
No error at all. The `AppDbContext` is correct. I did removed it to test if it was the problem, but nope.
I enabled stdout logs but no logs written as well.

[2017-12-05 14:37] redowl3 opened #1564 "SignInManager.SignInAsync and HTTPs"
Not sure if this covered elsewhere but why does SignInManager.SignInAsync now only work with https sites?  I had identity working perfectly fine on a live site but now it's stopped working?  It's not a problem to run SSL locally but how do I get this working when in Azure?

[2017-12-05 15:00] DeluxZ commented on #1564
First of all, I'm glad the SignInManager.SignInAsync works with HTTPS sites only.

If you want to run your website on a webapp with the default _*.azurewebsites.net_ URI, just use _https://*.azurewebsites.net_. If you want a custom domain to be binded to your webapp see the docs [here](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain)

[2017-12-05 15:07] redowl3 commented on #1564
Thanks for the response, not sure I'm against SignInManager working with HTTPS sites either but surely this is a breaking change isn't it?

[2017-12-05 19:45] dallancarr commented on #1563
Post your startup config.

[2017-12-06 09:02] zulq commented on #1563
Here's my `Starup` config:

[code]

[2017-12-06 09:59] DeluxZ commented on #1564
I don't know if it's a breaking change. The SignInManager is part of the [aspnet/Identity](https://github.com/aspnet/Identity/blob/eb3ff7fc32dbfff65a1ba6dfdca16487e0f6fc41/src/Microsoft.AspNetCore.Identity/SignInManager.cs) repository.

[2017-12-06 10:06] redowl3 commented on #1564
But previous projects (not pointing at https) were working using aspnet/Identity and now they've stopped, but I will leave that for MSFT to answer, thanks again for your help.

[2017-12-06 17:40] spottedmahn commented on #769
I forgot to inject my `IAuthorizationHandler` and that caused this same error:

---

Custom policy-based authorization documentation -> [Handler Registration](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies#handler-registration)

[code]

---

Shouldn't I been told "Hey, there are no handler for your policy?"

[2017-12-07 09:46] Edward-Zhou opened #1565 "Custom AuthorizeAttribute under Asp.net Core"
I know current Authorize supports elements like below:

`        [Authorize(Roles = "XX", Policy = "XX")]`
I want to add more elements enums like below:

`[Authorize(Roles = "XX", Policy = "XX", Permission="Read")]`
How to implement my own Authorize attribute and add new function for Permission? I have tried to inherit AuthorizeAttribute like below, but I do not know how to invoke Permission valid

[2017-12-07 17:16] Tratcher commented on #1565
The Authorize attribute itself is not extensible. The recommended extensibility is through authorization policies.
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies

[2017-12-07 20:18] blowdart opened #1566 "Core CLR crashes when using Authorize attribute and OpenIdConnect"
_From @Liero on December 6, 2017 15:5_

I've described my problem here: https://stackoverflow.com/questions/47674101/asp-net-core-2-0-app-crashes-when-role-based-authorization-faild

Basically, when I use `[Authorize(Roles = "Administrator")]` AND I use OpenIdConnect to authenticate agains AAD:

    services.AddAuthentication(sharedOptions =>
    {
        sharedOptions.DefaultScheme = CookieAuthe

[2017-12-07 20:23] Tratcher commented on #1566
This was patched in 2.0.1 by https://github.com/aspnet/Security/issues/1435
https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.OpenIdConnect/

The workaround is to set
`sharedOptions.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;`

[2017-12-07 20:23] #1566 closed

[2017-12-07 20:48] arc2018 commented on #1473
I am using preview2 and I followed @Zoxive  sample. I am able to set the configuration correctly and am able to get the idp server's login page. But after authentication and redirect from idp to my localhost, it throws this error:
Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureException: IDX10503: Signature validation failed. (full message attached)
[error.txt](https://github.com/aspn

[2017-12-07 20:59] Tratcher commented on #1473
@brentschmaltz can you take a look?

[2017-12-07 22:05] #1565 closed

[2017-12-07 22:06] Eilon commented on #1564
There aren't any protocol restrictions that we're aware of. Did you set the cookie policy for your app to be Secure only? If so, the cookies won't transport over HTTPS.

Having said that, we highly recommend using HTTPS for all requests - especially authenticated requests.

[2017-12-07 22:06] #1564 closed

[2017-12-07 22:08] Eilon commented on #1563
Can you post a complete app to GitHub so that we can take a look?

[2017-12-07 22:11] Eilon commented on #1554
Closing because there is not enough information to reproduce this problem.

[2017-12-08 16:28] rchowe commented on #1554
I've been having the same problem.

I was able to do a Fiddler trace, though it's my first time using Fiddler. Notably, when the user clicks on our O365 login button, triggering AccountController#ExternalLogin (which is close to the same code as the default AccountController) the login works fine, but when they click on something that redirects to a path with an `[Authorize]` attribute, the auto-l

[2017-12-08 17:55] Eilon commented on #1554
@Tratcher any ideas?

[2017-12-08 18:10] Tratcher commented on #1554
@rchowe can you also share your startup code? The presence of the Identity.External cookie without a login page is suspicious.

[2017-12-08 18:12] Tratcher commented on #1554
[Authorize] returns users to the initial page when the base flow is complete, but if you're using Identity then you need to return to a specific endpoint and exchange the External cookie for an App cookie. Your login button likely sets a specific callback path?

[2017-12-08 19:43] rchowe commented on #1554
Here's the contents of `ConfigureServices`:

[code]

There are a bunch of `.AddSingleton` and `.AddTransients` in the RegisterApplicationServices method and there are a few other extension methods too.

[2017-12-08 21:45] Tratcher commented on #1554
AddIdentity and AddAuthentication don't mix like that. Are you using Identity or not? It's setting DefaultSignInScheme which is messing with your flow.

[2017-12-09 05:20] rchowe commented on #1554
We are using a number of the role-based features of identity.

I don't understand what's different from the [docs](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x) where they have both `AddIdentity` and `AddAuthentication` as well with Facebook login.

[2017-12-09 07:13] Tratcher commented on #1554
More specifically, you're setting conflicting defaults. AddIdentity sets DefaultScheme, DefaultSignInScheme, and DefaultChallengeScheme. Then you are replacing DefaultScheme and DefaultChallengeScheme. Note that sample you linked to does not override the default schemes when adding Facebook.

The defaults you're using are from the Organizational Auth configuration, they don't work with Identity.

[2017-12-09 14:30] rchowe commented on #1554
After removing DefaultScheme and DefaultChallengeScheme the user is sent to `/Account/Login` when they go to an action with `[Authorize]`. Thanks!

[2017-12-11 06:00] withinoneyear opened #1567 "JwtBearerHandler will make authentication successful as long as any SecurityTokenValidator passes??"
I was expecting this class to execute each SecurityTokenValidators and mark it as failed once any of them fails, but from the source code apparently it's working in the other way. That doesn't sound correct to me. Why is it implemented in this way?

[2017-12-11 10:40] philip-reed opened #1568 "ASP.NET Core with Windows Authentication not returning 403"
Hi,

I am trying to set up a MVC project to use windows authentication & authorization but I am struggling with the correct setup.

The app should only allow users of a particular AD group: "PlatformUser", but whenever I try to implement this, I get the error below.

Here's my startup:

        public void ConfigureServices(IServiceCollection services)
        {

            services.AddAuthorizat

[2017-12-11 11:02] philip-reed commented on #1568
Looks like I was simply missing a Nuget Package.  After adding Microsoft.AspNetCore.Server.IISIntegration, the application appears to be behaving as expected.

[2017-12-11 11:02] #1568 closed

[2017-12-11 11:14] philip-reed commented on #1396
I have been battling with a similar issue, not sure if it is what you need, but adding Microsoft.AspNetCore.Server.IISIntegration from Nuget got rid of the error `No authenticationScheme was specified, and there was no DefaultChallengeScheme found`.  Might be worth a try.

[2017-12-11 15:26] itslittlejohn commented on #1473
I am also using preview2, and have followed he preceding discussion. Many of your comments were helpful, especially @lzandman 's. But I'm still having an infinite loop redirect issue and want to make sure I've configured things correctly on my side.

Startup.cs
[code]
Request/Response loop
[code]

The first and last requests have the same basic response, though I was expecting the last response to

[2017-12-11 15:41] Tratcher commented on #1473
@itslittlejohn what do you have in Startup.Configure? You may be missing UseAuthentication, or it may be in the wrong order.

[2017-12-11 15:44] itslittlejohn commented on #1473
That was it! I positioned `app.UseAuthentication();` to the top and it's working. Thanks!

[2017-12-11 15:49] redowl3 commented on #1564
Thanks for the response.  I'm confused, I created a ASP.NET MVC Core project using VS2017 a couple of months ago and authorisation was working without needing to use https.  I've since updated my version of  .net core (2.0.3) and authorisation has stopped working unless I use https?  That to me by definition is a breaking change isn't it?

[2017-12-11 16:10] redowl3 commented on #1564
When I publish to Azure, I don't need to use https so I'm assuming that Azure is still using .Net Core 2.0?

[2017-12-11 16:55] ghstahl opened #1569 "CORS Cookies not being sent, even if credentials:"include""
I have a CORS enabled asp.net core 2 app [SOURCE](https://github.com/ghstahl/P7.Core-2.0/tree/master/src/ReferenceWebApp.CookieAuthApi) that I am trying to use Cookie Authentication.

Same-Domain works;
[sign-in](https://p7-referencewebapp-cookieauthapi.azurewebsites.net/api/Identity/sign-in?username=herb&password=1235)
[check-authentication](https://p7-referencewebapp-cookieauthapi.azurewebsites.

[2017-12-11 17:06] itslittlejohn commented on #1473
One follow up question. Say you want to access the saml token from an MVC action method once the user has been authenticated? I've been looking for a way to do that, but
[code]
is returning `null`.

[2017-12-11 17:41] Tratcher commented on #1473
@brentschmaltz are you setting the BootstrapContext for WsFed?

[2017-12-11 17:46] itslittlejohn commented on #1473
No, I'm not. Now that I think about it, in our old ASP.NET WebForms app we're migrating from, we are setting `<identityConfiguration saveBootstrapContext="true">` in the web.config. Is this even the right approach for .net core? Essentially we would use the bootstrap context to get the `Token` string in order to make some REST calls.

[2017-12-11 17:47] Eilon commented on #1564
HTTPS isn't required, it's just highly recommended.

[2017-12-11 17:51] redowl3 commented on #1564
Seems like it is now.  I've just created a new ASP.NET Core MVC app and it now opens by default in https and as previously mentioned, my app created a few months ago has stopped working?

[2017-12-11 19:25] Eilon commented on #1564
In ASP.NET Core 2.1 we changed the default templates to all use HTTPS instead of HTTP because it is more secure and more reliable. But, you can certainly disable all the HTTPS features and go back to HTTP.

However, none of this would affect any existing apps, it would affect only new apps created with ASP.NET Core 2.1.

[2017-12-11 21:20] redowl3 commented on #1564
Thanks for the response.  I can assure you it did affect an existing project, the only way I could get authorisation to work was by enabling SSL.

[2017-12-11 22:35] Eilon commented on #1564
@redowl3 hmm ok that's very surprising.

@Tratcher any idea what could have caused such a change in an existing app?

[2017-12-11 23:42] Tratcher commented on #1564
No. There were very few patch changes for Identity and Security, and none that touched on the protocol restrictions.

Did you also update VS? What VS version are you using now?

What template are you using? I was not able to reproduce this using ASP.NET Core 2 on .NET Core 2 with MVC and Individual User Accounts. Yes it has https enabled by default for IIS Express, but http works fine with or with

[2017-12-12 05:11] ghstahl commented on #1569
This was a painful 2 days....

So it turns out that the cookie needs to be set as SameSiteMode.None. The hint I got was that that ARRAfinity cookie from azure as set to non and it was being sent where mine was not.

In my app I had to set it as follows;

public class Startup
{
    ...

    // This method gets called by the runtime. Use this method to add services to the container.
    public void

[2017-12-12 16:41] Liero commented on #564
@blowdart: I would also like to hear some reasoning and philosophy behind the design of the authorization APIs - Policies, Requirement, RequirementHandlers.  It sounds ok when working with abstract scenario, but it seems like I'm not the only one confused here.

My problem is, that in real world scenarios it does not feel natural at all, just like @cherrydev stated. Requirement, called `EditDocume

[2017-12-12 18:02] Mardoxx opened #1570 "Resource based auth -- return errors."
I guess this is a bit of a mixed concern between authZ and validation...

How can you return errors from resource based auth without ending up with a spaghetti of if..elif.. statements checking individual policies?

Contrived example: User belongs to several groups. Super user of a group can add users to its group. How can I relay to the user that they don't have access to a particular group?

[2017-12-12 18:09] blowdart commented on #564
You can call them permissions if you like, it's a semantic thing. It's the same sort of argument around claims versus permissions - you don't put permissions in an identity, but people treated roles like permissions anyway. However they're not, permission is a combination of the identity, the action it's going to take, and the thing it's going to act on. It's a requirement because it's something t

[2017-12-12 19:45] HaoK commented on #564
I don't think its that weird for an AdminHandler to succeed all requirements if the user is an admin, that's clearly a special purpose handler who skips all other requirements.

[2017-12-12 19:47] HaoK commented on #564
The current design lets you have as granular requirements as you like, something like MinimumAge is a simple requirement, if you want to have one mega CanAccessDocument and complex handlers that deal with that, you are free to go that route as well.

[2017-12-13 08:14] Liero commented on #564
@HaoK: no, I like simple granular requirements, but granularity means that I can combine the peaces. If I'm not able to combine them with OR operator, which is common business requirement, I'm forced to use mega requirements.

[2017-12-13 09:59] HaoK commented on #564
Using your stack overflow example, I think you can just have a policy per action

- ReadPermission
- EditPermission

And multiple handlers:

- Single AuthorHandler that succeeds all requirements for the author.
- Concrete resource based handlers `AuthenticationHandler<TResource>` that are specific to each resource type which are all registered in DI, each would run on every authorization but they

[2017-12-13 14:08] niemyjski commented on #1517
@Eilon Is there any reason why I'm still seeing this even if my min level was info but I had an override for System and Microsoft for min level of warning? Looking at the extension methods I don't see where it's getting the log source from.

[2017-12-13 14:28] Liero commented on #564
@HaoK:

Ok, let's say particular resource has its Owner and Sponsor and I have 2 actions:

1. Read: I want to authorize user who is Owner or Sponsor (custom term, it means basically reviewer) of the resource.

2. Edit:  In the second I want to authorize Sponsor only.

-  `ReadPermission : IAuthorizationRequirement`

- `IsSponsorResource1ReadPermissionHandler: AuthorizationHandler<ReadPermission, R

[2017-12-13 19:21] jbagga opened #1571 "No remoteError propagated to auth template's ExternalLoginCallback action"
The code path is not hit with a remoteError as an exception gets thrown before it reaches the endpoint

See comment: https://github.com/aspnet/templating/pull/186#issuecomment-351233747

cc @HaoK

[2017-12-13 19:43] HaoK commented on #564
If you want to reuse the logic, can't you just have reusable `IsOwner(user, resource)` and `IsSponser(user, resource)` methods that each of the handlers call.  The handlers aren't meant to be reusable, they are really supposed to be a concrete instance of authorization logic.

[code]

You only need one owner handler, assuming you can write a `IsOwner(ClaimsPrincipal user, object resource)` method.

[2017-12-13 19:46] HaoK commented on #564
Actually you can just have a single handler with those helper:
[code]

[2017-12-13 21:04] Liero commented on #564
Ok, it makes sense. I think I was actually right - in real wold scenarios requirements should be defacto permissions. Requirements like MinimumAgeRequirement resp IsSponsorRequirement, IsOwnerRequirement are just theoretical options, but not very usable. In order to combine the rules with OR, they I have to combine then into one requirement, that becomes de facto  permission..

Honestly, I'm not c

[2017-12-13 22:43] blowdart commented on #1567
Because that way you can load up multiple issuers and multiple signatures to be checked.

What are you trying to achieve?

[2017-12-14 13:46] lollisoft commented on #1473
Hi, I have been monitoring this issue for a while and am waiting for the final release. But as of the new preview 2 version, I tend to give it a try.

My questions are:

Is this used in ASP.Net Core 2.0.0 API clients and in the IdentityServer4?

Or is this only used in the client code?

I am interested into integrating that into IdentityServer4 running in a Docker image on .Net Core 2.

And are th

[2017-12-14 14:50] johnkors commented on #1559
Right, thanks. I ended up with something working setting it up like this.

[code]

[2017-12-14 15:16] Compufreak345 commented on #1473
@lollisoft
I am currently working on what you describe. Using it as an identity provider you consume it is not that hard if you find out how to configure it. You can get to a pretty good solution if you do it like I described in [this StackOverFlow-Post](https://stackoverflow.com/questions/47790174/identityserver4-multiple-wsfederation-providers-cause-an-exception/47798431#47798431) - use the OnTi

[2017-12-14 15:53] lollisoft commented on #1473
Why do I need the full framework for a WSFederation-server?

I have read that there are two components (XmlEncrypt and XmlDSig) missing in .Net core.
(https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/500)

Why is that so complicated to provide equivalent code for these missing functionalities?

In the above topic, I read that it is blocked because they wa

[2017-12-14 16:20] Tratcher commented on #1473
@lollisoft this is not suitable for WebApi clients, it's for interactive clients similar to the OpenIdConnect and Facebook providers. It should be interchangeable with those types of providers in IdentityServer4 samples.

[2017-12-14 16:49] lollisoft commented on #1473
@Tratcher I don't speak about WebApi clients that run on the client machines. I meant WebApi's that use ws federation as clients, if they came from a ws federated scenario (like login from sharepoint). But I may have an understanding issue about all the auth and federation stuff. I think, the ws fed way is only for applications that do not have OAuth capabilities, such as Sharepoint.

I want to be

[2017-12-14 17:21] jhudsoncedaron commented on #1412
Got here with "Scheme already exists: Windows" with an empty Configure. I have just converted Startup to IStartup so I can pass arguments to it.

[2017-12-14 17:22] Tratcher commented on #1412
@jhudsoncedaron please share your Startup code.

[2017-12-14 17:27] jhudsoncedaron commented on #1412
using System;
    using System.Collections.Generic;
    using System.Linq;
    using System.Threading.Tasks;
    using Microsoft.AspNetCore.Builder;
    using Microsoft.AspNetCore.Hosting;
    using Microsoft.Extensions.Configuration;
    using Microsoft.Extensions.DependencyInjection;
    using Microsoft.Extensions.Logging;

    namespace Cedaron.Login.Windows
    {
        public class Startup :

[2017-12-14 17:32] Tratcher commented on #1412
There's no auth in that Startup. What's the full stack trace of the exception?

[2017-12-14 17:43] jhudsoncedaron commented on #1412
System.InvalidOperationException occurred
      HResult=0x80131509
      Message=Scheme already exists: Windows
      Source=<Cannot evaluate the exception source>
      StackTrace:
       at Microsoft.AspNetCore.Authentication.AuthenticationSchemeProvider.AddScheme(AuthenticationScheme scheme) in C:\b\w\f92f3e96777ec37d\.r\HttpAbstractions\src\Microsoft.AspNetCore.Authentication.Core\Authenticati

[2017-12-14 18:05] #1569 closed

[2017-12-14 18:25] Tratcher commented on #1412
Ah, HttpSys cannot be used with IIS, you must use Kestrel with IIS.

[2017-12-14 18:26] Tratcher commented on #1412
As for your server.urls issue, see https://github.com/aspnet/MetaPackages/issues/226

[2017-12-14 18:38] JoshuaBelden commented on #1338
I'm hoping someone can give me some guidance with a question I posed here, https://stackoverflow.com/questions/47804064/what-is-the-equivalent-of-useoauthbearerauthentication-in-an-asp-net-core-2-appl.

I have a resource server using ASP.NET Core 2 that needs to be configured to read an access token that's an encrypted AuthenticationTicket. Previously, I could configure bearer auth with `.UseOAuth

[2017-12-14 18:54] jhudsoncedaron commented on #1412
I'm reading server.urls out of appsettings.json.

Back to the main issue; commenting out .UseIISIntegration() doesn't change anything.

[2017-12-14 18:55] Tratcher commented on #1412
Are you trying to run this application in IIS/Express?

[2017-12-14 19:04] Eilon commented on #1479
@javiercn can you provide an update on this?

[2017-12-14 19:39] blowdart opened #1572 "IdentityServer3 based SSO server does not connect with ASP.net Core 2.0 based client"
_From @abhishekchouksey on December 11, 2017 23:26_

IdentityServer3 based SSO server does not work with ASP.net CORE based client, we have been migrating our product from MVC 5 to ASP.net core 2.0 and have noticed that SSO server failed to provide login page.

This is request i have got from MVC 5 based application, which uses OWIN middle ware

[code]

This is request from ASP.net CORE 2.0

[code

[2017-12-14 19:44] jhudsoncedaron commented on #1412
Nope. It wouldn't work anyway.

[2017-12-14 19:57] blowdart commented on #1572
@Tratcher the response type is different, could you take a look?

[2017-12-14 19:58] blowdart opened #1573 "WinHttpException: A security error occurred"
_From @aous77 on December 9, 2017 1:29_

asp.net core 2 external authentication is throwing the following exception on production server only:
[code]
this is occurring after a successful authentication on the external site (ALL of them google,facebook,linkedin).

did anyone encounter this? or know how to fix this?

thank you

_Copied from original issue: aspnet/Identity#1523_

[2017-12-14 20:08] blowdart opened #1574 "Detect if an external authentication provider was used at sign in or not"
_From @gabosistvanpwc on December 12, 2017 14:33_

Hi,

Is there any way to tell after login if the current user was signing in by using the regular authentication flow or an external authentication provider?

Thank you

_Copied from original issue: aspnet/Identity#1530_

[2017-12-14 20:08] blowdart commented on #1574
_From @grahamehorner on December 12, 2017 14:54_

the claims for the user identity should have the login provider information?

[2017-12-14 20:08] blowdart commented on #1574
_From @gabosistvanpwc on December 12, 2017 15:12_

Unfortunately it doesn't.

I'm using the basic ASP.NET Core Web Application project template with the Individual User Accounts authentication option. As the external provider I have configured the WsFederation middleware as follows:

services.AddAuthentication()
.AddWsFederation(options =>
{
options.Wtrealm = "xxxx";
options.MetadataAddress = "xxx

[2017-12-14 20:09] blowdart commented on #1574
@Tratcher Does WS-Fed not embed this info like OIDC does? Can we ensure it matches?

[2017-12-14 20:32] grahamehorner commented on #551
I too would like this as it seems to be a very useful library without needing identity, also looking at the identity source the computation of the timestep is duplicated in a couple of areas when IMHO it should be a configurable parameters, I’ve created a proof of concept that I registered with DI IRFC6238 and updated identity to use the DI implementation seems to work for my needs 🤪

[2017-12-14 20:37] Tratcher commented on #1573
See https://stackoverflow.com/questions/42746190/https-request-fails-using-httpclient

[2017-12-14 20:39] Tratcher commented on #1574
They're dropping all provider specific information at step 3 above. This is more of an identity / template question on how to preserve external claims when transitioning to a local user.

[2017-12-14 20:45] jhudsoncedaron commented on #1412
On further probing I found the failure happens only when starting under Visual Studio. I'm not going to say I understand this because I definitely don't.

[2017-12-14 20:52] Tratcher commented on #1412
VS runs the IIS Express profile by default, you have to change your launch profile in the dropdown to launch as a console app.

[2017-12-14 21:11] jhudsoncedaron commented on #1412
Ok I managed to work everything else out from there. VS appears pretty broken after changing the setting but that might be my fault.

[2017-12-14 21:24] abhishekchouksey commented on #1572
Just a small correction, it was state which is different
This state from Asp.net core 2.0
`
state=CfDJ8AqnlI2Cn3FJtTEVow2y5i5Kt7x-JhPHvqlWGUu6jOxJQQiBB53rtgKV7_nXM4zY0MbzFPQUuONdoyEmX61bexqlAmbTmpEnVC5CHkr41q4b6e3_JtWTBaCOa3vT1_vCNNnIS6lQW3RH4nV-SQ5PUyVr2IzMO3feVRrkS-NLnLAuUXyKSR3gk0LtuzESq_xQ0dtdrjnWr5-dbCyOvG0p3vFhlaQeKyT55q2jZyM4sO0T7B524l6ICz2cKEVLdR6VU2RpjqV_UAlwM7i9Mm7yo_kbCBbtaOOZDWjDVj6XDo

[2017-12-14 21:51] Tratcher commented on #1573
googleOptions.BackchannelHttpHandler
https://github.com/aspnet/Security/blob/bd3c202fcd707fdb7ac583d466463007bd9137df/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationOptions.cs#L73-L78

[2017-12-14 21:54] Tratcher commented on #1572
Scope is a list now, you should be adding to separate values there.

The state differences aren't an issue, state is opaque to the server.

[2017-12-14 21:59] abhishekchouksey commented on #1572
I have tried that too, there is no difference.  is it possible that encryption method of nonce or state may be different?
[code]

[2017-12-14 22:20] Tratcher commented on #1572
Any encryption is not relevant as those are all opaque to the server.

[2017-12-14 22:20] Eilon commented on #1572
@javiercn can you take a look?

[2017-12-14 22:23] Eilon commented on #1571
This will be handled by https://github.com/aspnet/Security/issues/1165, so closing as dup.

[2017-12-14 22:23] #1571 closed

[2017-12-14 22:25] Eilon commented on #1570
This is a dup of https://github.com/aspnet/Security/issues/1530, which we plan to handle as part of https://github.com/aspnet/Security/issues/1359.

[2017-12-14 22:25] #1570 closed

[2017-12-14 22:29] jbagga commented on #1571
See https://github.com/aspnet/templating/pull/186#issuecomment-351265832

[2017-12-14 22:30] #1554 closed

[2017-12-14 22:33] Eilon commented on #1539
There are two "requirements" to get this to work:
1. Make sure there is only one cookie. ASP.NET Core does not support having two cookies for the same purpose.
2. Make sure that both apps share the same configuration for Data Protection, or otherwise one app won't be able to see/verify data from the other app. You can learn more about this in the docs: https://docs.microsoft.com/en-us/aspnet/core/

[2017-12-14 22:33] #1539 closed

[2017-12-14 22:34] Eilon commented on #1427
Closing because there is no further action on this issue. We don't have any new info from the Easy Auth experts.

[2017-12-14 22:34] #1427 closed

[2017-12-14 23:51] abhishekchouksey commented on #1572
I started looking Source code for OpenIdConnectOptions it is by default adding "profile" and "openId" as scope..  though i am not even adding in my scope it was anyways added.

So remove "profile" scope  from URL  and resubmitted the form.. request went through successfully.

modified code as below..  now it works fine.
[code]

After all it is underlying implementation change.  could not find any

[2017-12-15 01:12] brockallen commented on #1572
Ugggg, more reason to remove "profile" from the defaults.

[2017-12-15 17:26] 616b2f commented on #1473
@lollisoft I have an fork where I try to port the example of WsFederation Implementation from @leastprivilege to aspnet core 2.0. (see here https://github.com/616b2f/IdentityServer4.WsFederation).

It's not ready but it's a starting point, any help wellcome.

[2017-12-15 21:55] bungeemonkee commented on #1338
Maybe this is a dumb question but can I ask why? It seems this new design adds complexity while removing the ability to gracefully handle several use cases the previous design handled well. The only arguable improvement seems to be the introduction of the unified auth middleware. But providing an abstract auth middleware base class for implementors to inherit could have encapsulated that shared fu

[2017-12-15 22:19] Tratcher commented on #1338
@bungeemonkee because maintaining the token server was costly and the old bearer middleware primarily interfaced with that token server. Also, JWTs and OpenIdConnect have gained broad adoption.

See https://github.com/aspnet/Security/issues/1235 for tracking this request.

[2017-12-16 14:44] leastprivilege opened #1575 "Add support for X509 client certificate "authentication""
It's important for a number of enterprise and financial API / OAuth scenarios.

@blowdart already has 85% of it done - please include that in ASP.NET itself.

[2017-12-16 15:13] brockallen commented on #1338
In addition, there are several commercial and open source token servers that are feature rich and are being maintained. Here's one such open source token server that's even recommended by the ASP.NET team: http://identityserver.io/

[2017-12-17 08:13] lollisoft commented on #1473
I'll try to help where I can. I just have setup a new Windows 10 Pro machine in a VM, well licensed. Until an official release is made, I'll use a full framework, but test out aspnet core 2.0 in paralell.

First I have a look at your code and I'll give it a first test to compile and get it running here.

[2017-12-18 18:54] blowdart commented on #1572
And when we remove it we get complaints. The defaults are frankly are huge argument no-one can win.

[2017-12-18 19:36] brockallen commented on #1572
IMO, only because it was added by default.

[2017-12-20 06:36] seven1986 opened #1576 "How can I change MicrosoftAccountOptions/GoogleOptions/FacebookOptions/TwitterOptions in controller"
This's in Startup.cs ConfigureServices how I config the OAuth providers
[code]
Then, for some requirements, I need to update AppId/AppSecret in controller action, How I can do that?

[2017-12-20 15:23] bogdan-s opened #1577 "[Authorize(AuthenticationSchemes = Custom)] on Controller takes precedence over [AllowAnonymous] on Action"
I have created a new custom AuthenticationHandler. On the controller I have put the attribute Authorize with this new Authentication Scheme. On the action I have put AllowAnonymous. When I call the action, the AuthenticationHandler.HandleAuthenticateAsync gets called first, it will fail with a AuthenticateResult.Fail result, but then the action will get called. I would expect the AllowAnonymous to

[2017-12-20 22:16] HaoK opened #1578 "Harden auth handlers against stack overflow (re-entrance)"
There are quite a few paths today which result in stack overflows:
1. Events can call Context.Authenticate or any other action which results in calling back into the same handler code path.
2. RemoteAuth handlers creating a sign in loop, Google.SignInScheme => Facebook.SignInScheme => "Google"
3. Virtual handler forwarding cycles. (A.DefaultTarget => B.DefaultTarget => A), or setting an unconfigur

[2017-12-22 05:02] kausett commented on #1418
if someone is still looking for the solution to this issue.
the problem is from  AspNetCore Identity @codeprefect  you right. i took a look at the `httpContext` and check the Authentication parameter and i saw some `AutomaticSchema` on there. the value was set to `Identity.Application ` if you use that instead `CookieAuthenticationDefaults.AuthenticationScheme` it will work as intended other wise

[2017-12-22 08:07] javiercn commented on #1572
@abhishekchouksey Just to make sure I understood it correctly, was your issue that the profile scope was being sent by default and Identity Server v3 having trouble with it?

Nothing else on the issue seems to point to an actual problem. Nonce and state are opaque as @Tratcher mentioned and the constant for TokenIdToken is correct.

Are you able to repro this? (I am not)

[2017-12-22 08:58] leastprivilege commented on #1572
The problem is different expectations ;)

The OIDC spec defines only one mandatory scope and that is `openid` - hence all other scopes are optional in IdentityServer.

The MS handler adds profile by default - which I think is wrong as a default value.

If a client asks for a scope that does not exist in IdentityServer, we error.

[2017-12-22 11:05] bogdan-st commented on #1577
I just checked the source (Microsoft.AspNetCore.Mvc.Authorization,AuthorizeFilter) and it seems this is the desired behaviour.

         var policyEvaluator = context.HttpContext.RequestServices.GetRequiredService<IPolicyEvaluator>();

            var authenticateResult = await policyEvaluator.AuthenticateAsync(effectivePolicy, context.HttpContext);

            // Allow Anonymous skips all author

[2017-12-22 12:13] bogdan-s commented on #1577
I just checked the source (Microsoft.AspNetCore.Mvc.Authorization,AuthorizeFilter) and it seems this is the desired behaviour.

     var policyEvaluator = context.HttpContext.RequestServices.GetRequiredService<IPolicyEvaluator>();

        var authenticateResult = await policyEvaluator.AuthenticateAsync(effectivePolicy, context.HttpContext);

        // Allow Anonymous skips all authorization

[2017-12-22 16:56] abhishekchouksey commented on #1572
@javiercn I was able to reproduce.. and I think @leastprivilege  is right about MS implementation.

[2017-12-22 22:04] javiercn commented on #1572
I’m asking specifically for the error where the response type is set to id_token token and the request has response_type=code instead. @abhishekchouksey can you reproduce that behavior? (That would be a bug) if so, can you provide a simple repro project?

As per the defaults I leave that to @blowdart.

[2017-12-22 22:06] blowdart commented on #1572
@Eilon How do you feel about making a breaking change?

[2017-12-23 21:31] Eilon commented on #1572
@blowdart that's up to @DamianEdwards . Depends on how "breaky" it is.

[2017-12-23 22:20] leastprivilege commented on #1572
@davidfowl once told me that if you are fixing a bug, it’s not a breaking change....

[2017-12-24 01:32] Tratcher commented on #1572
I'd expect the Org Auth template to break.

[2017-12-24 01:40] leastprivilege commented on #1572
Then add it there explicitly.

The default is the problem. Not the usage.

[2017-12-24 03:27] Tratcher commented on #1572
Not quite that easy, all prior apps created with that template also break and have to make changes.

[2017-12-24 14:06] PinpointTownes commented on #1572
The fact you don't like a default doesn't mean it's a bug :open_mouth:

There's a sensible reason for having `profile` added by default in the OIDC handler: all the Katana/ASP.NET Core social providers tend to add some basic data by default (like a display name or a username). Yet, if you don't request the `profile` scope, chances are high you'll only get the `sub`.

If the `profile` scope was rem

[2017-12-24 15:08] brockallen commented on #1572
But `profile` isn't always the scope to model those things, and OIDC is less about social and is more about enterprise.

Disagree, since all the other providers are custom anyway.

[2017-12-24 18:50] javiercn commented on #1572
As @tratcher says this would be a massive breaking change for existing apps, so we can’t just change it.

[2017-12-24 20:22] brockallen commented on #1572
Well, we tried to warn about it prior to 2.0 shipping.

And since you use semver, at least it can be done in 3.0.

[2017-12-26 12:33] MV10 commented on #1338
@HaoK Maybe this isn't the right place to ask, but I keep seeing statements like this (in this thread and elsewhere):

What I can't figure out is why ASP.NET works so hard to avoid a principal with multiple identities -- that's the whole point of separating the principal from its identities. I'm new to Identity, but as I dig into it, I've begun to think that Identity persistence is completely brok

[2017-12-26 17:35] tanyado opened #1579 "Basic authentication works on Mac. Does *not* on Windows"
The code can be found here: https://stackoverflow.com/questions/45417337/httpclient-with-networkcredential-returns-401-for-net-core-200-for-net-framewo

We have determined the issue to the linked problem was a combination cookie handling and basic authentication not being part of .Net Core.

However, it seems strange that the same code that works on a Mac OS, does *not* work on a Windows OS.

----

[2017-12-26 18:04] HaoK commented on #1338
Not sure what you are specifically talking about.  When we say 'identity' we are typically referring to the ClaimsPrincipal for the user.  Both the authentication stack and asp.net core identity are about producing claims principals as the core responsibility of the authentication system is having named 'authentication schemes' producing ClaimsPrincipals.

For Identity, there's a IUserClaimsPrinci

[2017-12-26 19:20] MV10 commented on #1338
In the real world, everyone has lots of different identities:

* Principal: John Doe (person)
  * Identity: Driver's License
    * Claims: name, address, birthdate
  * Identity: Passport
    * Claims: name, birth location, passport number

If I build a site that has site-specific user information (maybe a local username, an account type, join-date, that kind of thing), that information is the site

[2017-12-26 20:18] HaoK commented on #1338
I already gave you the link to the interface that's responsible for building the ClaimsPrincipal in identity, if your app wants to build multiple ClaimsIdentities in the principal, just plug in your own UserClaimsPrincipalFactory and you are in full control.

[2017-12-26 21:29] HaoK commented on #1338
Identity is mostly focused on saving user data, you can build whatever authentication data structure you want from that via the ClaimsPrincipalFactory.  Identity is not designed around persisting ClaimsIdentity/Principals, its about storing user data, which is typically used along with other things to produce the ClaimsPrincipals used for authentication.

[2017-12-26 22:33] davidfowl commented on #1338
@MV10 you know IdentityServer uses ASP.NET Core Identity to store user information?

[2017-12-27 11:37] MV10 commented on #1338
@davidfowl It _can_, yes ... but we're also avoiding EF dependencies, so neither out-of-the-box implementation was an option for us.

@HaoK Thanks. Mostly I wanted to confirm I wasn't overlooking something. The docs about this stuff are kind of all over the place (probably another reason we're going with Identity Server, their start-from-empty Quickstart walk-throughs make it a breeze to understan

[2017-12-27 12:05] Tratcher commented on #1579
Note HttpClient bugs go over here: https://github.com/dotnet/corefx

HttpClient uses a different implementation based on the operating system so there are some expected behavioural differences between Mac and Windows.

I'm going to close this as external, and it looks like you've already got an answer on StackOverflow.

[2017-12-27 12:05] #1579 closed

[2017-12-27 17:30] Tratcher commented on #1576
You can remove and re-register the providers with new options using the IAuthenticationSchemeProvider service.
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Authentication.Abstractions/IAuthenticationSchemeProvider.cs

Note this is not an atomic operation so you'll have a small race condition that may cause active login requests to fail.

[2017-12-27 21:43] #1561 closed

[2017-12-28 04:17] #1548 closed

[2017-12-28 18:01] VictorioBerra opened #1580 "AddOpenIdConnect and signing key rollover"
I am implementing [signing key rollover in my IdentityServer4](https://identityserver4.readthedocs.io/en/release/topics/crypto.html#signing-key-rollover). The docs state this:

So my question is when using `AddOpenIdConnect()` does the middleware periodically update their local copy of the discovery document so when I add new signing keys it will now accept both the old and the new key material an

[2017-12-28 18:07] Tratcher commented on #1580
Yes, it refreshes once per day.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/af5e5c2b0100e8348c63e2d2bb45612e2080841e/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs#L49
It may also refresh if it sees unrecognized keys (this is throttled):
https://github.com/aspnet/Security/blob/b3e4bf382c9676e2d912636b7ee0255cad244e11/src/Mi

[2017-12-28 18:11] brockallen commented on #1580
Unfortunately only after it fails the request with the unrecognized key.

[2017-12-28 18:15] #1580 closed

[2017-12-29 16:41] Tratcher opened #1581 "WsFed remote signout doesn't work with ADFS4"
@brockallen reported that singout cleanup messages don't work with ADFS4 because you can't configure both CallbackPath and RemoteSignOutPath to the same value. We may have to redesign how these are routed in HandleRequestAsync.

"ADFS has an odd requirement that the redirect URL after SLO must be beneath the URL used for signin response (for example "/wsfed" for wreply and for redirect after signo

[2017-12-30 02:14] javiercn commented on #1572
@blowdart I give this back to triage, I suggest we close this bug and open a new one  to change the default scopes in the future if we choose to do so.

[2018-01-01 23:10] blowdart commented on #1426
Closed as not applicable.

[2018-01-01 23:10] #1426 closed

[2018-01-02 13:35] Nasicus opened #1583 "Infinite loop with .NET Core 2.0 OpenId- and Cookie Authentication when in "Iframe" (office 365)"
##  Problem / Scenario
I'm trying to access my Web API via an IFRAME ( and later AJAX) from Office 365 so that the user DOES NOT have to login again (note that this is an offical pattern which I saw [here](https://github.com/SharePoint/sp-dev-docs/blob/master/docs/spfx/web-parts/guidance/connect-to-api-secured-with-aad.md#secure-the-api-using-openid) => the whole post concerns different approaches

[2018-01-02 17:16] Tratcher opened #1584 "Set-Cookie shouldn't return secure cookies on http request"
_From @jchannon on January 2, 2018 17:15_

When using ASP.Net Cookie auth and the `CookieSecure` property is set to `CookieSecurePolicy.Always` and a request is made via http to login the `Set-Cookie` header is returned with a `secure` suffix.  I don't think it should do this if the request is made via `http`, it should only return that header if made via `https`

There is nothing stopping a clien

[2018-01-02 17:25] Tratcher commented on #1584
This is a misconfiguration. Using CookieSecurePolicy.Always and logging in over HTTP is nonsensical. The guidance is to force your restricted / login endpoints to use HTTPs via the RequireHttps attribute. In the 2.1 templates we're taking this a step further and requiring HTTPs for all requests by default via a new middleware.

[2018-01-02 17:27] PinpointTownes commented on #1584
Exactly what I said to @jchannon. That said, since it's fundamentally an unsafe operation, the framework/server should at least log a warning indicating that the developer is doing something terribly wrong (there's no point marking a cookie as HTTPS-only if you return it from a HTTP endpoint).

[2018-01-02 17:45] blowdart commented on #1583
As an addition why would you do it in an iframe anyway? You're hiding the URL so people cannot validate it. Sharepoint's recommendation is *weird*.

But yea, it's probably the cookies, because by default we're not going to allow iframes in other domains to get them.

[2018-01-02 17:48] PinpointTownes commented on #1584
Yep... pretty much the reason why I said @jchannon aspnet/HttpAbstractions was a good place for this ticket :trollface:

[2018-01-02 17:49] jchannon commented on #1584
Interestingly we had it as SameAsRequest but when behind nginx and the `x-forwarded-proto` header was set it didn't work. I assume Scheme doesnt look for that header to determine if its https?

[2018-01-02 17:55] Tratcher commented on #1584
Scheme does not look at any headers, we use the forwarded headers middleware to map those headers to Scheme instead.

[2018-01-02 17:56] jchannon commented on #1584
Have you got a link to that code?

Can you think why cookies weren't set to `secure` when we had https on nginx and the `X-Forwarded-Proto` header provided

[2018-01-02 17:57] Nasicus commented on #1583
@PinpointTownes
The whole tenant is only a test tenant :)

The configuration is obviously only for testing / devlopment - I'm just trying to get a very basic function to work.

@blowdart
How else could you even do it? Without having the users to must click somewhere or log in again?

I will try your guys approaches tomorrow and write the results.

[2018-01-02 17:58] Tratcher commented on #1584
This middleware is included by default for IIS, but not for nginx. https://github.com/aspnet/BasicMiddleware/blob/8f0cc61808e09d646ba6c32e8785a6cd8f56be29/samples/HttpOverridesSample/Startup.cs#L13

[2018-01-02 18:04] jchannon commented on #1584
Thanks

![Imgur](https://i.imgur.com/gVWDykg.gif)

[2018-01-02 23:13] Tratcher commented on #1165
[Clearing the milestone for re-triage]

I've investigated adding an error redirect but found that it creates an overall worse experience than the current templates. (See https://github.com/aspnet/Security/pull/1582#issuecomment-354890441).

We should instead document the custom error handling process.

[2018-01-03 07:55] Nasicus commented on #1583
You guys were right!

Setting `SameSiteMode.None` did the trick!

Final code:

[code]

[2018-01-03 07:57] #1583 closed

[2018-01-03 15:00] smcl commented on #1473
We've done a bit of testing against `2.0.0-preview2 and things seemed to be OK for us. Does anyone have any idea when we might be able to expect the final version released?

[2018-01-03 17:26] Tratcher commented on #1165
@PinpointTownes noticed this is a duplicate of https://github.com/aspnet/Security/issues/710

[2018-01-03 21:24] slaneyrw opened #1586 "OpenIdConnect authentication handler doesn't support POST to authorize endpoint"
As per spec (http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), the Authorize endpoint can support a POST request.

However the OpenIdConnect authN handler only supports a GET redirect when issuing a challenge to the remote identity provider.

Please consider adding a POST implementation.  This will help alleviate issues with very long state parameter that is causing issues with UR

[2018-01-03 21:42] Tratcher commented on #1586
Is this the setting you're looking for?
https://github.com/aspnet/Security/blob/e13ceb690bfe2a534fa11720d75fd87b4e07d6b0/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L423

[2018-01-03 22:33] slaneyrw commented on #1586
Yeah, I over looked this one... my bad.  I'm migrating from AspNetIdentity 3 on net 46 and that phrasing has a different meaning

[2018-01-03 22:33] #1586 closed

[2018-01-03 23:11] Tratcher opened #1588 "Add CookiePolicy logging"
Any changes the policy makes to a given cookie should be logged as Debug, especially if an cookie is ever suppressed by the new consent feature.

[2018-01-03 23:13] Tratcher opened #1589 "Raise the CookiePolicy consent cookie lifetime"
Current lifetime: 90 days
Suggested: 'forever' for some value of forever?

[2018-01-03 23:41] Tratcher opened #1590 "Add API to the ITrackingConsentFeature to generate the cookie for javascript use"
Damian wants to set the consent cookie from a javascript action, but wants to honor all of the middleware settings for it. Add an API to the feature interface that generates the full cookie for you.

[2018-01-04 13:59] selvendiranj commented on #1473
we are also eagerly waiting for the final release. we are working on a POC, we are planning to switch to different SSO provider if the final release is going to be available soon. The Ws federation authentication/authorization feature works very well in asp.net core. it would be great if you release the final version soon. thank you

[2018-01-04 16:20] Tratcher commented on #1473
We're almost ready but you all keep sending us feedback 😄 . The new signout cleanup feature isn't working with ADFS so I'm re-designing that (https://github.com/aspnet/Security/issues/1581). The IdentityModel folks have also gotten a lot of feedback and need another week or two to address it.

[2018-01-04 18:09] blowdart opened #1592 "Microsoft.Owin.Security.OAuth Version=3.0.0 Tokens support"
_From @horbel on January 4, 2018 9:56_

Hi all. I have Authorization server which built on .NET 4.5.1 and use Microsoft.Owin.Security.OAuth Version=3.0.0
http://prntscr.com/hvwhl4
Tokens protected via machinkey (OAuthAuthorizationServerOptions.AccessTokenFormat is null). I also have few application-consumers(resource servers) on .NET 4.5.1 which validate these tokens via custom AuthorizeAttribute

[2018-01-04 18:09] blowdart commented on #1592
_From @horbel on January 4, 2018 17:14_

I think I find a kind of solution. I use AspNet.Security.OAuth.Validation assembly: http://prntscr.com/hw1u5m

But I still don't find out how to use machine key to "decode" bearer token from my Auth server

[2018-01-05 07:15] smcl commented on #1473
Cool, thanks for the update! We'll keep our eyes peeled for the announcement.

Keep up the good work 👍

[2018-01-05 19:56] varcario opened #1594 "System.ServiceModel.Web"
I'm migrating a Web API app from .NET Core RC1 to .NET Core 2.0 and having trouble finding a good replacement for one line of code.  The project is an ASP.NET Web API that calls a SOAP service, the SOAP service requires my app to send request headers

`System.ServiceModel.Web.WebOperationContext.Current.OutgoingRequest.Headers.Add("key", "value");`

Does anyone know how to perform the above functi

[2018-01-05 20:40] Tratcher commented on #1594
I think you're looking for https://github.com/dotnet/wcf

[2018-01-05 22:04] reft commented on #1207
@Tratcher How do I replace _signInManager.GetExternalLoginInfoAsync(await _userManager.GetUserIdAsync(user));?

Please see: https://stackoverflow.com/questions/48120508/net-core-external-authentication-without-asp-net-identity

[2018-01-05 22:23] varcario commented on #1594
Closed this issue and moved it to wcf project.
https://github.com/dotnet/wcf/issues/2473

[2018-01-05 22:23] #1594 closed

[2018-01-05 22:46] #1590 closed

[2018-01-06 19:14] InDieTasten commented on #1288
Is there any hope to get an answer. It's been a while and this is still relevant to me

[2018-01-08 16:28] Swazimodo opened #1596 "Empty policy support"
I am trying to build a .NET Core application which uses .NET Framework references. Currently if you set up your application policies in a way that allows them to be configurable, it will cause runtime errors if you want to remove all access from one of them.

On the controller you would have a hard coded policy name that is needed for access
`[Authorize(Policy = "View")]`

Then in the startup.cs f

[2018-01-08 17:01] DomZZ commented on #1471
@blowdart, does your implementation can works together with [AllowAnonymous] attribute ?
I would like to have Basic Auth on all actions except one which need to be anonymous and I've read that it isnot possible to do that with a Middleware.

Thanks

[2018-01-08 17:08] blowdart commented on #1471
It'd work just fine. However there's a caveat, with basic auth once you're auth-ed you stay auth-ed, so even if you hit the anonymous end point it'd still send credentials and parse them.

[2018-01-08 19:18] Eilon commented on #1288
@InDieTasten I sent another email to see if we can get someone to help with this.

[2018-01-08 20:09] HaoK commented on #1493
We added a new CombineAuthorizeFilters option to MVC which will fix this issue, should start showing up in 2.1-preview1 73bd09dc1c8abe2ff71cd33679fa17ebd04ff189

[2018-01-08 20:09] #1493 closed

[2018-01-08 20:11] HaoK commented on #1493
I believe the plan is to turn this on by default using the compatibility switches in MVC, so this should just start working automatically starting in 2.1

[2018-01-08 21:49] #1581 closed

[2018-01-08 22:11] Eilon opened #1598 "Add support for CancellationTokens in AuthorizationHandler"
_From @symlynk on January 7, 2018 12:43_

The following methods are missing CancellationToken parameters in Microsoft.AspNetCore.Authorization.AuthorizationHandler:

[code]
Microsoft.AspNetCore.Authorization Version 2.0.1.0

_Copied from original issue: aspnet/Home#2746_

[2018-01-09 00:53] gabosistvanpwc opened #1599 "How to define the key (symmetric or asymmetric) used for validating the issuer authority (the signer of the token)"
In previous versions the following configuration was used to define the token validation sequence and to make sure that signer of a token and the token issuer are as expected.

[code]

What properties should be set in the WsFederationOptions object to define the keys (thumbprint and symmetricKey tags) for validating the issuer authority?

Thank you

[2018-01-09 00:59] gabosistvanpwc commented on #1574
Any updates?

[2018-01-09 01:40] brockallen commented on #1574
Why not just issue an `idp` claim to indicate the provider used.

[2018-01-09 11:30] nftleaddev opened #1600 "aspnet core"

[2018-01-09 12:49] #1600 closed

[2018-01-09 20:25] #1448 closed

[2018-01-09 20:28] blowdart commented on #1599
@Tratcher this is WS-Fed, so you :)

[2018-01-09 20:29] blowdart commented on #1596
Why not check the configured database rules inside the policy handler, rather than create a policy from scratch at runtime?

[2018-01-09 20:32] Tratcher commented on #1599
@brentschmaltz ?

[2018-01-09 20:35] HaoK commented on #1596
You can still have a deny all for testing purposes, just by having a Policy with a single requirement with no handlers.

[2018-01-09 22:47] Swazimodo commented on #1596
@blowdart that may have been a better approach but I still think it should have allowed a policy to be created without any access. I think this would be a bug.

[2018-01-09 22:47] Swazimodo commented on #1596
@HaoK Could you elaborate? When I have tried to remove the groups from a policy it is not created which causes run-time exceptions instead of a 401 or 403 response.

[2018-01-09 22:49] blowdart commented on #1596
@Swazimodo I disagree it's a bug, A missing handler is a serious thing, it indicates a pretty bad problem, which is why we error. Otherwise a simple spelling mistake could mean unauthorized access.

[2018-01-09 23:00] HaoK commented on #1596
Just to clarify, its by design that we don't allow empty policies because that's always an error since it will never succeed, you might as well just return false for that policy.  So a policy must have at least one requirement.  But there's nothing that requires any handlers being added to the system, which by default means no authorization requirements will ever succeed.

[2018-01-09 23:02] HaoK commented on #1596
@Swazimodo I think your confusion is the difference between requirements (stuff like RequireRole/Claim) is sugar for adding requirements.  And auth handlers (which are things that handle requirements), the sugar hides this distinction as those requirements typically handle themselves.

[2018-01-09 23:19] Swazimodo commented on #1596
Is there any examples you can point me to then which would allow you to define AD groups for application roles? It would have to be possible to remove all groups and have that remove all access without breaking the application.

[2018-01-09 23:26] blowdart commented on #1596
That's kinda specific for an example, especially as it'd rely on having an AD present, which most people don't. I could knock up something which uses a mock service and a Dictionary during the week.

What I would do is, in your [custom policy](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies) you'd take the policy name and go off to your database and say "Hey give me th

[2018-01-10 03:32] Swazimodo commented on #1596
Thanks for your comments here. I'll see what I can do to make this work.

[2018-01-10 05:46] EvAlex commented on #1469
Thank you, @davidfowl ! Your comment helped me to solve another issue, that I stumbled upon while implementing IdentityServer4 with REST API controllers in the same app. Existing samples show how to implement this as separate apps: one with IdentityServer4 for auth and other apps with authentication based on JWT in request headers via AuthorizeAttribute. The problem arose because using `services.A