[2017-02-09 06:34] atpyk commented on #1121
I forget to remove "OnMessageReceived" section, thanks for your mention.

[2017-02-09 07:30] ErezSavir commented on #1120
:) OK. Did not know that.
Thank you.
Can be closed.

[2017-02-09 08:29] atpyk commented on #1121
The error still have.

[2017-02-09 09:47] mikeesouth commented on #1116
I'm also having this problem and I'm not sure if and how the above discussions affects me since I'm not using `app.UseOpenIdConnectAuthentication()`, `app.UseCookieAuthentication()` or even `services.AddAuthorization()`. I'm using the auth0 framework for authentication (auth0.com). It has a guide for .NET Core Web API authentication here: [ASP.NET Core Web API Authentication](https://auth0.com/doc

[2017-02-09 14:57] Tratcher commented on #1116
Are any of you targeting .NET 4.6? We've had several issues with System.Net.Http on 4.6.

Some of the dependency chains involved:
Kestrel -> Hosting -> DiagnosticSource
OIDC -> Authentication -> System.Net.Http -> DiagnosticSource

[2017-02-09 16:09] snickler commented on #1116
@Tratcher - Yeah, the DiagnosticSource issue came up on my .NET 4.6.2 targeted project. Kestrel still blows up on .netcoreapp also.

[2017-02-09 16:34] daboul commented on #967
So basically, if I have an [Authorize] tag on some of my controller action, it will behave differently between IIS and Kestrel, unless I set AutomaticChallenge to true + set the OnRedirectToLogin event to make sure I'm returning 401 (if that's what I want). I did that, it's working, but I'm not fully happy with it, hence a few more questions.

Let's say I want to stick to AutomaticChallenge = fals

[2017-02-09 17:15] Tratcher commented on #967
@daboul if you really want an auth middleware that just sets 401, why not use it with IIS as well? It shouldn't conflict.

[2017-02-10 08:55] daboul commented on #967
@Tratcher Thank you for the suggestion, I guess I could do it this way, that's right. But it still doesn't feel right to add an extra layer of middleware when using IIS, while I don't need it. So if you happen to know a way do know whether I'm being IIS or not, I would still be interested. I discovered as well that the exception was due to the fact that I was using [Authorize] without specifying a

[2017-02-10 09:57] FelschR commented on #1046
Is it right to assume that 1.1.1 will be published before/alongside VS2017's release in March?

[2017-02-10 13:59] Tratcher commented on #1046
https://github.com/aspnet/Home/wiki/Roadmap Feb, with 1.0.4

[2017-02-10 17:35] Eilon commented on #1046
@FelschR we're still figuring out the details on exactly when the two releases will go live, but it'll certainly be close!

[2017-02-10 20:11] Eilon commented on #1115
The definition of "resource" is somewhat arbitrary - that is, you can define a "resource" to be whatever you want. So, given that, you could define a resource as a "collection of documents" and authorize based on that.

If you meant something else, it would be great if you could provide additional details and examples.

[2017-02-10 20:17] Eilon commented on #1116
@snickler we've definitely seen a few issues around this but so far nothing we've seen is exactly the same as what you're running into.

Would it be possible for you to upload a sample repro to GitHub so that we can debug it?

[2017-02-10 20:18] #1119 closed

[2017-02-10 20:19] #1120 closed

[2017-02-10 20:20] HaoK commented on #1114
We do have a test for this scenario simulating what the authorize attribute does, can you try replacing the authorize attribute with the equivalent logic that's going on behind the covers that the filter is doing:

See https://github.com/aspnet/Security/blob/dev/test/Microsoft.AspNetCore.Authentication.Test/JwtBearer/JwtBearerMiddlewareTests.cs#L380

First turn off automatic challenge/authenticate

[2017-02-10 20:22] Eilon commented on #1121
@atpyk we recommend enabling logging so that it'll be easier to see at what point the server is taking too long. If you could do that and share your logs we can investigate further.

[2017-02-10 20:24] Eilon commented on #1066
Closing because we don't think there's any further action required in the ASP.NET Core security libraries.

[2017-02-10 20:24] #1066 closed

[2017-02-10 20:38] Eilon commented on #1056
Closing this issue because as far as we can tell it is possible to implement all scenarios.

If the client sends the appropriate "Is AJAX request" header, then for the most part the right thing will happen. Even if some clients don't send that header, it seems that it is fairly easy to add that custom header to the request.

If the default behavior is insufficient, there are events to customize th

[2017-02-10 20:38] #1056 closed

[2017-02-10 21:25] emirhosseini commented on #1046
What do you mean by Asp.Net Core 1.1.1?  There's no such NuGet package.  There's "Microsoft.AspNetCore.**Mvc**" which is already on 1.1.1.  Please clarify exactly what you're talking about.

[2017-02-10 21:47] Tratcher commented on #1046
@emirhosseini 1.1.1 is the version of the upcoming patch for this repo.

[2017-02-11 11:24] PinpointTownes commented on #1089
Why not. Removing it and redirecting the user to the root when no `AuthenticationProperties.RedirectUri` is specified could be another option.

Yeah, that would be ideal.

[2017-02-11 11:57] codefactorydevelopment commented on #1114
Thanks for your response.
So, i can confirm that when i remove Authorize attribute and put those lines into my action, i do get 403.

Now, what does that mean?

[2017-02-11 17:25] HaoK commented on #1114
Looks like it might be an issue with automatic challenge, try setting the scheme explicitly in your Authorize

either

`[Authorize(Roles = "whatever", ActiveAuthenticationScheme = "Bearer")]`

Or setting it via the default policy:

[code]

For more details see https://github.com/aspnet/Announcements/issues/210

[2017-02-11 17:44] HaoK commented on #901
As part of this work, we can consider revisiting the automatic challenge / 401 vs 403 logic that currently is baked into authN.

See https://github.com/openiddict/openiddict-samples/issues/33#issuecomment-279161524

cc @Tratcher @blowdart @PinpointTownes

[2017-02-11 19:53] codefactorydevelopment commented on #1114
Thank you.

I can confirm that setting a scheme explicitly worked and now returns 403 as expected.

Now, i am not familiar with publish process, so what does this mean? Should we use it this way with explicit setting? And, what is usual time to expect some real fixes for things like this?

Thanks

[2017-02-11 20:00] Tratcher commented on #1114
Can you share your project.json file? This is similar to an issue caused by mixing 1.0 and 1.1 packages

[2017-02-11 20:06] codefactorydevelopment commented on #1114
Sure. Here it is:

`{
  "dependencies": {
    "Microsoft.NETCore.App": {
      "version": "1.0.1",
      "type": "platform"
    },
    "Microsoft.AspNetCore.Mvc": "1.0.1",
    "Microsoft.AspNetCore.Routing": "1.0.1",
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCore.Server.Kestrel": "1.0.1",
    "Microsoft.Extensions.Configuration.EnvironmentVariables": "1.0.0",

[2017-02-11 20:29] Tratcher commented on #1114
Yup, don't mix 1.0 and 1.1. there's a known issue here with IISIntegration 1.0

[2017-02-11 20:36] codefactorydevelopment commented on #1114
oh, had now idea about that. thank you very much for that finding!

you are talking JwtBearer 1.1, right?
what do you suggest to do?

[2017-02-11 20:38] Tratcher commented on #1114
Update everything to 1.1 (or highest available)

[2017-02-11 20:40] codefactorydevelopment commented on #1114
Great, i will do that.

Thank you very much!

[2017-02-12 07:31] codefactorydevelopment commented on #1114
Ok, just to post a final confirmation for the case someone else run into this situation.

I can confirm that upgrading to Asp.Net Core 1.1 and upgrading all packages to latest versions did the job. Now 403 is return when expected.

Instructions on how to upgrade to 1.1 are here:
https://blogs.msdn.microsoft.com/webdev/2016/11/16/announcing-asp-net-core-1-1/

Thanks one more time!

[2017-02-13 09:39] atpyk commented on #1121
I report this issue to IdentityServer4 too: [https://github.com/IdentityServer/IdentityServer4/issues/730](url)

No error log in Idsvr side, the client portal side's log is:

fail: Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectMiddleware[17]
Exception occurred while processing message.
Microsoft.IdentityModel.Tokens.SecurityTokenExpiredException: IDX10223: Lifetime validation fail

[2017-02-13 10:53] PinpointTownes commented on #1121
Current time: '01/22/2017 01:05:59'

I'm really tempted to say that @leastprivilege already gave you the right answer: https://github.com/IdentityServer/IdentityServer4/issues/730#issuecomment-274463452.

That said, you likely have another issue (with your proxy?), as the request is not supposed to hang when it's rejected by the OIDC middleware.

[2017-02-14 13:24] marianosz commented on #1046
When will be released?

[2017-02-14 13:53] Compufreak345 commented on #43
I want to sign this as well - we need the support for WS-Fed because we need to use a customers old version of ADFS - upgrading to Windows Server 2016 is not an option. Full .NET would be completely OK for us, we already need to use it for other features.

[2017-02-14 17:57] Eilon commented on #1046
@marianosz the plan is to have it out later this month. We're just nearly done with all the fixes, and we're working on getting the final builds put together and doing additional testing.

[2017-02-14 19:25] marianosz commented on #1046
Thanks for the info!

[2017-02-14 21:34] snickler opened #1123 "Manually setting cookie via header fails on new connections / sessions"
I have a web application running version 1.1 of all libraries that is configured with `UseCookieAuthentication` and `UseOpenIdConnectAuthentication` (Although I've commented it out for sake of troubleshooting this issue). I have a login method used for Forms Auth for use with legacy applications that we don't want on our third party IdP at the moment. The Login method creates a ClaimsIdentity usin

[2017-02-14 21:42] Tratcher commented on #1123
Shouldn't that be `var cookie = signinResult.Headers.GetValues("Set-Cookie");`? Also, the response Set-Cookie header has a different format from the Request Cookie header. Here's a parser you can use to get the values:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/SetCookieHeaderValue.cs#L244

[2017-02-14 21:44] snickler commented on #1123
Sorry about that. I was trying to format the code. I've changed it around numerous times testing things. That's correct, it should be `var cookie = signinResult.Headers.GetValues("Set-Cookie")`. Basically, I DO get that cookie back in the format of `AspNetCore.Cookies=encryptedtext`. That gets passed along to a new HttpClient and it fails.

[2017-02-14 21:45] Tratcher commented on #1123
Is this .NET or .NET Core? HttpClient cookie management is different on the two. I suspect HttpClientHandler inside HttpClient is managing the cookie for you and your `client.DefaultRequestHeaders.Add("Cookie",cookie);` isn't actually doing anything. Try removing it.  The handler probably overwrites the Cookie header.

[2017-02-14 21:46] snickler commented on #1123
.NETCore. I'll post the LinqPad output if that'll help.

[2017-02-14 21:47] Tratcher commented on #1123
You can capture the traffic with fiddler to isolate if the problem is the client or server.

[2017-02-14 22:15] snickler commented on #1123
Thanks for the Fiddler suggestion. I feel VERY stupid now, forgetting that HttpClient requires a HttpHandler that sets a CookieContainer. This can be closed due to user error :).

[2017-02-14 22:18] #1123 closed

[2017-02-15 03:15] aagarwal10 opened #1125 "Issue using Redis to Store Shared Cookie from ASP.NET 4.x & AspNet Core App"
Hi,

I have used this link [https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing](url) to share aspnet core cookie with my ASP.NET 4.x  Katana (Web Forms) application successfully. However, I am not getting the single sign experience when I implement the Redis Ticket Store on aspnetcore side and Redis Session Store on ASP.NET 4.x side, to store the sha

[2017-02-15 04:05] danroth27 commented on #605
This looks like a dup of #43

[2017-02-15 06:52] Lutando opened #1126 "InvalidOperationException when trying to do SignInAsync"
I am trying to sign a user in, in a normal controller. I have something along the lines of:

[code]

And I get an exception saying `InvalidOperationException: name claim is missing`

In the constructor of the ClaimsIdentity I specified my name claim to be `JwtClaimTypes.PreferredUsername` (which is "preferred_username")

If I do add a name claim to my claims list, then sign in works fine with the

[2017-02-15 11:26] PinpointTownes commented on #1126
`InvalidOperationException: name claim is missing` is not an exception thrown by the security stack.

It sounds like an IdSrv exception: https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/IdentityServerPrincipal.cs#L81

[2017-02-15 11:42] Lutando commented on #1126
Thanks seems like it is, I could not find where this would be thrown. Thanks for the pointer.

[2017-02-15 11:42] #1126 closed

[2017-02-15 21:48] HaoK commented on #1103
I can't repro this, here's the unit test I added to double check your scenario:

[code]

Feel free to reopen this if you can tweak this test to fail in the way you are seeing.

[2017-02-15 21:48] #1103 closed

[2017-02-15 23:01] HaoK commented on #901
So lets start brainstorming how we want the new AuthorizeFilter to look with the idea being it will have logic that explicitly calls either Challenge (401), or Forbid (403) instead of relying on the current Automatic behavior that the base auth handler has today:

See https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L128
[code]

@PinpointTow

[2017-02-15 23:08] HaoK commented on #901
Regarding the 'friendly' error reporting part of this, we could make it possible to associate a specific error message per requirement via something like an `IAuthorizationErrorDescriber` which would map `IAuthorizationRequirement` to failure strings for display purposes.

[2017-02-15 23:22] Tratcher commented on #901
The normal flow for Forbidden would be A) The user is Authenticated, B) With an auth type I accept (optional?), but C) lacks a permission/claim. If we challenged the user in this situation it may cause an infinite loop (though Windows Auth usually aborts if it keeps getting challenged). If it was just A or B then challenging would be appropriate. Are A, B, and C separate or combine requirements? I

[2017-02-16 00:46] HaoK commented on #901
Yeah so the idea is, when to only challenge when A fails, C would result in a Forbid.

Scenario B is likely a hole/flaw with the proposed design, where you are Authenticated but not with one of the passive schemes the policy asks for.  That looks the same as C in this design because the principal will just be missing the claim.

[2017-02-16 07:57] atpyk commented on #1121
We use the nginx to deploy the Idsvr4 and webportal on the same sever, and just to do the easy setting for mapping to the corresponding ports, Idsvr4 is 5000; webportal is 5005.
Did you guys reproduce this issue by nginx. That's a very tough issue.

[2017-02-16 11:10] PinpointTownes commented on #901
That was my initial approach, but it would prevent a few interesting scenarios like allowing an authorization handler to force a user to **re-authenticate**, which is not well supported in the current bits, due to the automatic `Challenge -> Forbidden` conversion.

(in sensitive apps, it's quite common to ask users to re-enter their password when accessing critical areas if the authentication cook

[2017-02-16 15:05] xaviergxf opened #1129 "Authorize attribute caching"
I have changed the role of a user to something that he shouldn't have access and i get a 403 code after some minutes. Is this cached somehow?

[2017-02-16 15:34] #1129 closed

[2017-02-16 16:08] aagarwal10 commented on #1125
Figured out that the SessionIdClaim is not same between two CookieAuthenticationHandlers (AspnetCore & Microsoft.Owin.Security) is not same, which causes the above issue.

[2017-02-16 18:10] vetras commented on #219
I had the same problem and my solution was this:
[code]

Thanks @tugberkugurlu you saved my day! I would never have though the problem would be on this line!!

[2017-02-16 18:24] Tratcher commented on #219
That said, authenticating over HTTP is a terrible idea...

[2017-02-16 18:41] vetras commented on #219
yes @Tratcher .
I forgot to mention that HTTP is "runs on my machine". I'm still setting up the authentication code.

[2017-02-16 23:22] Eilon commented on #1121
@atpyk can you try changing the `OnRemoteFailure` handler to check for an additional exception type?

Currently it checks `context.Failure is OpenIdConnectProtocolException`, but in this case you might want to also handle a `Microsoft.IdentityModel.Tokens.SecurityTokenExpiredException`.

Also, please check the `else` class of the `OnRemoteFailure` where it currently has these two lines:

[code]

A

[2017-02-16 23:24] #1114 closed

[2017-02-16 23:26] Eilon commented on #605
Yup, dup of https://github.com/aspnet/Security/issues/43.

[2017-02-16 23:26] #605 closed

[2017-02-17 04:11] cc-john commented on #357
Try setting options.ClientSecret to an appropriate guid value. The VS2015 template leaves this out.

[2017-02-17 13:43] poke commented on #43
Adding my voice here as well. WS-Fed support on full .NET Framework would be enough for us.

Since this keeps getting mentioned, why is everyone referring to “*old* versions” of ADFS? We are using a *current* version of ADFS running on Windows Server 2016. Is there a way we can integrate that into ASP.NET Core? (We need ADFS for compatibility with certain legacy applications)

[2017-02-17 16:37] danroth27 commented on #43
@poke With Windows Server 2016 you should be able to use OpenID Connect instead of WS-Fed.

[2017-02-17 19:01] poke commented on #43
@danroth27 Do you happen to have any example on how to configure that properly?

[2017-02-17 19:35] danroth27 commented on #43
Does this article help?: https://technet.microsoft.com/en-us/windows-server-docs/identity/ad-fs/development/enabling-openid-connect-with-ad-fs-2016

[2017-02-17 21:24] hempels opened #1130 "GoogleMiddleware: Correlation failed"
We have significant numbers of users are unable to login using Google auth because whenever they try, they fail with messages logged like:

Microsoft.AspNetCore.Authentication.Google.GoogleMiddleware[15]
      '.AspNetCore.Correlation.Google.dP7ln8REPkhVI0h1NeWykBU3ev5Msy0hIuAxAyfgP3I' cookie not found.
Microsoft.AspNetCore.Authentication.Google.GoogleMiddleware[4]
      Error from RemoteAuthentic

[2017-02-17 22:31] poke commented on #43
@danroth27 Took me a while to transfer that over to ASP.NET Core, but yes, that article did help me, especially on the ADFS side. I’ve got it working now, thanks a lot!

[2017-02-18 22:53] christiandelbianco opened #1131 "HttpContext.Authentication.SignInAsync() does not set User.Identity.IsAuthenticated to TRUE"
I have this simple code:

[code]
It is used **async** by this page:

[code]
After  HttpContext.Authentication.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, principal) execution, the User.Identity.IsAuthenticated is **false.**

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/13263017/23097461/bd04a530-f634-11e6-994c-d4ff0a5ad9ee.gif)

The Authentication cookie

[2017-02-18 23:01] davidfowl commented on #1131
Nothing is wrong, the sign in operation doesn't change the current request user principal. That only happens on incoming requests once the cookie or bearer token (or whatever thing the type of auth requires to create an identity).

[2017-02-19 04:53] Tratcher commented on #1131
Right, SignIn and SignOut persist (or de-persist) the user for future requests, not this one. You can set HttpContext.User if you want to.

[2017-02-19 09:01] #322 closed

[2017-02-20 01:22] atpyk commented on #1121
Guys, I found the root cause, so far it took our lots of time. So tough.
We use the .net core 1.1 to develop and deploy the Idsvr4 and Webportal, all the version of packages are >= 1.1.0.
Eventually we had to downgrade these 2 packages to 1.0.1, it has been fixed:
   "Microsoft.AspNetCore.Authentication.OpenIdConnect": "1.1.0",
    "Microsoft.AspNetCore.Authentication.Cookies": "1.1.0",
    "Micro

[2017-02-20 01:24] atpyk commented on #1121
Many thanks for @Eilon and @PinpointTownes  and @Tratcher 's help. :)

[2017-02-21 00:29] Eilon commented on #1121
@atpyk ah, yes, mixing versions like that is not supported, so that could definitely be the cause of weird behavior.

Given that this issue appears to be resolved, I'm closing it. Thanks!

[2017-02-21 05:31] atpyk commented on #1121
Let me clarify it. Not mixed versions lead to this issue; this issue will happen when use the same version for all packages. The above solution that is the way to work around.

[2017-02-21 11:31] windischb opened #1132 "Add/Remove/Configure Authentication Middleware at Runtime"
Hi!

Is it possible to add and remove AuthenticationMiddleware at Runtime?
I wan't to configure/add/remove OpenIdConnectAuthenticationProviders inside a WebGui.

I was thinking about storing the ProviderOptions in a Database, with the AuthenticationScheme as GUID.

In my special case i wan't to use IdentityServer4 for multiple Customers.
If an new Customer arrives, i will add a new "Provider" to t

[2017-02-21 13:46] Tratcher commented on #1132
Not today, @hoak is building this feature right now: https://github.com/aspnet/Security/pull/1113, your feedback would be appreciated.

[2017-02-21 15:01] henkmollema commented on #1121
@Eilon it looks like @atpyk means that mixing version _does_ resolve this issue. This can't be the correct solution, can it?

[2017-02-21 17:22] Tratcher commented on #1121
Certainly not, but it does hint that the actual problem is in one of the packages you downgraded.

[2017-02-21 17:22] Tratcher commented on #1121
@cesarbs

[2017-02-21 17:29] Eilon commented on #1121
Oops, I missed that. This is definitely bizarre.

[2017-02-21 17:40] hempels commented on #1130
We finally found a reproducible scenario.

In our implementation, we pass ?prompt=select_account which forces Google to take the user to their Account Chooser page on every authentication. While there, if the user clicks on their account multiple times (not a double-click, but multiple single clicks) then multiple requests are sent through RemoteAuthentication. Because the first such request delet

[2017-02-21 17:54] Tratcher commented on #1130
When the user clicks twice does it cause the first request to be canceled (or the response ignored) in favor of the second one?

[2017-02-21 17:56] hempels commented on #1130
The first response is ignored, the second one goes through and fails.

[2017-02-21 17:59] Tratcher commented on #1130
That's problematic, it makes it look like a replay attack. Let's pursue this with Google first. Please link to your Google bug report so we can follow along.

[2017-02-21 18:30] cesarbs commented on #1121
@atpyk Did you downgrade both packages at once? Do you still have the issue when downgrading only one of them?

Can you share the relevant bits of your nginx config?

[2017-02-21 18:30] Tratcher commented on #908
@blowdart has requested this be re-triaged.

[2017-02-21 18:31] Tratcher commented on #908
Depends on https://github.com/aspnet/HttpAbstractions/issues/710

[2017-02-21 18:44] windischb commented on #1132
Thanks!

[2017-02-21 18:47] hempels commented on #1130
Replay attack concern understood, but difficult to pull off. There's already a potential attack during the time the cookie is set and waiting for the callback redirect. Shortening the default cookie expiration time from 15 minutes to something like 2 minutes would help with both cases. Also you could add a flag (AllowReplay) to RemoteAuthenticationOptions which would make it the consumer's choice

[2017-02-21 19:50] HaoK commented on #1132
I'll add a unit test today to make sure we support adding and removing schemes dynamically works in the new stack

[2017-02-22 05:57] atpyk commented on #1121
Yes, both. If I only downgrade either, it cannot work.
Below is our config of nginx:

server {
  listen 443;

  ssl on;
        ssl_certificate /etc/ssl/xxx_chain.crt;
  ssl_certificate_key /etc/ssl/xxx.key;
  server_name account-test.xxx.com;

  location / {
    proxy_pass http://localhost:5000;   //IdentityServer4
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_

[2017-02-22 09:08] daboul commented on #1132
Hi. I was wondering the exact same thing and just asked about it on SO.

http://stackoverflow.com/questions/42365743/installing-a-new-middleware-at-runtime-in-asp-net-core

I'll definitively give it a try when it's out.

Thanks.

[2017-02-22 21:59] snickler commented on #1116
@Eilon @Tratcher  - I think my issue was a mix of different ones.

- The Kestrel 1.1 is definitely one that breaks with the OpenId metadata file for me. Downgrading to the latest 1.0.x build fixes that
- The Data protection error was because I also downgraded the Microsoft.AspNetCore.Server.IISIntegration with Kestrel by accident and not realizing it. Upgrading Microsoft.AspNetCore.Server.IISInteg

[2017-02-22 22:15] Tratcher commented on #1116
That's not what CallbackPath is for. CallbackPath should point to a unique address and the middleware will handle those requests, it should not be pointed at an MVC controller or app root. I recommend keeping the default value "/signin-oidc".

[2017-02-22 22:40] HaoK commented on #1132
See https://github.com/aspnet/Security/pull/1113/commits/d92d92384f7f6cf2e5e17c975efaa0bd6ab299c0 for what it currently looks like, basically its just associating a schemeName with a handlerType in a new service.

[2017-02-22 23:13] snickler commented on #1116
Gotcha. That's good to know. So ill have to make some /signin-oidc endpoint then? Or will it automatically deal with it?

[2017-02-22 23:15] snickler commented on #1116
Also, what is the reason behind keeping the CallBackPath a relative path instead of allowing for external urls?

[2017-02-22 23:22] Tratcher commented on #1116
The CallbackPath is the address where the middleware performs all it's auth work internally. I think the field you're actually looking for is the one used to specify the address to return to after auth is complete, correct? The default return address is the one that initially issued the challenge. If you want to override that you can do it in the challenge call. See https://github.com/aspnet/Templ

[2017-02-22 23:31] snickler commented on #1116
Yeah. I was essentially looking for modifying the redirecturi that gets passed to the IdP as a query string parameter when a challenge kicks off.

[2017-02-23 00:02] jjvainav commented on #1116
I just ran into a similar error (see below), adding the Microsoft.ApplicationInsights.AspNetCore v2.0.0 package fixed it for me. I haven't dug into why this fixed it but hopefully this helps.

FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The located assembly's

[2017-02-23 20:15] snickler commented on #1116
@jjvainav - Are you using ApplicationInsights? Are you on v1.1 of all libraries?

[2017-02-23 22:32] Tratcher commented on #1116
This appears to be an issue caused by the System.Net.Http 4.3.0 package and should be fixed in the System.Net.Http 4.3.1 package. Can you try referencing that directly?

[2017-02-23 23:09] Eilon commented on #1132
We need to carefully consider threading scenarios such as:

1. Reader/writer scenarios to ensure no unusual exceptions get thrown during normal operations
2. Consistency within a request to ensure that during a request the state doesn't change (could cause very weird side-effects)

[2017-02-23 23:10] #1131 closed

[2017-02-23 23:19] Eilon commented on #1130
Unfortunately given how the protocol works there isn't a way for this to be fixed within ASP.NET Core. Once the cookie is used up, both the cookie and all the data in it are "used up" and cannot be replayed. We considered ways of extending the duration of the cookie but that wouldn't work due to single-use codes.

But, you can handle the AuthenticationFailed event to detect this case and redirect

[2017-02-23 23:19] #1130 closed

[2017-02-23 23:22] Eilon commented on #1116
To those affected, please try adding a reference to this fixed NuGet package: https://www.nuget.org/packages/System.Net.Http/4.3.1

We believe that this will fix the issue you are seeing.

Please let us know if you updated to that version and it doesn't work. If you're still seeing issues, please share your CSPROJ or project.json file so that we can investigate further.

[2017-02-23 23:23] Eilon commented on #1121
@cesarbs I'm parking this on your plate to investigate in case there's some Kestrel issue here.

[2017-02-23 23:43] hempels commented on #1130
There's the Microsoft we love: "Not our problem."

There's no reason you can't add an option to allow replays. I understand that arguably violates the OAuth protocol, but allowing consumers to opt in to that to work around a problematic provider seems very reasonable.

Meanwhile I'll be forced to continue to run my own build of the Authentication libraries to do just that. And those not able to fi

[2017-02-24 03:33] snickler commented on #1116
I honestly don't know what's changed as I haven't touched the original project I had the issues with, but upgrading Kestrel back to 1.1 doesn't give me the metadata errors anymore.

The only thing I can think of is that I did update my VS2017 and installed .NET Core 1.0.3 at some point after I got this working.  I don't know exactly what made it work again and I'm fully grasping at straws for tryi

[2017-02-24 04:15] Tratcher commented on #1116
That's the wrong value for CallbackPath, see my comments above.

[2017-02-24 04:23] snickler commented on #1116
I know. I just happened go figure out the condition in which it works. I wondered what I changed to make that error message appear, and it only occurs when accessing the web root. It won't happen if you're accessing another relative url.

[2017-02-24 12:51] jjvainav commented on #1116
@snickler - I am on v1.1 for all the libraries and ran into the issue while removing the ApplicationInsights package as I wasn't using it for the project.

@Eilon - Adding the System.Net.Http v4.3.1 package fixed the issue.

[2017-02-24 13:04] snickler commented on #1116
Awesome! That must mean I may have had a package that used an older version of the Http library at some point? Who knows. I think this can be closed if anyone else was able to resolve this problem by using the updated Http library. I know I’m not receiving this issue anymore, at least.

Thanks for all the help guys! I truly appreciate it (especially dealing with my 9,000 replies)

[2017-02-24 17:27] Eilon commented on #1130
@hempels allowing replays of the tokens is potentially a serious security vulnerability. There are good reasons why the protocols don't allow this.

We certainly realize this is unfortunate, but risking compromising the security of the system is not ideal.

Our recommendation is two things:
1. The app can handle the specific error case where the token has been used up and ask the user to sign in a

[2017-02-24 17:29] Eilon commented on #1116
That sounds great, thanks everyone!

[2017-02-24 17:29] #1116 closed

[2017-02-28 22:45] klings commented on #43
What @leastprivilege and @brockallen said. WS-Fed MW would give us a path to ASP.NET Core. ADFS is part of the problem.

[2017-03-01 19:34] #969 closed

[2017-03-01 19:34] #1024 closed

[2017-03-02 11:14] pierslawson commented on #1101
I have tried to find a good way to use the events to prevent the access_token and refresh_token being saved into the cookie as I don't need them there. I can set the Refresh Token to null in the OnTokenResponseReceived handler and it doesn't get saved to the cookie. However, if I do the same with the Access Token, the ValidateTokenResponse method raises an error:

Because there are no more events

[2017-03-02 18:32] Tratcher commented on #1101
@pierslawson rather than trying to remove the ones you don't want, how about turning off SaveTokens and then adding the tokens you do want? SaveTokens isn't doing anything special.
https://github.com/aspnet/Security/blob/ad425163b29b1e09a41e84423b0dcbac797c9164/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L833

[2017-03-02 23:13] Eilon commented on #908
Need to also make sure we update the Cookie Policy middleware to allow setting this.

[2017-03-02 23:14] Eilon commented on #908
And Security-related cookies from this repo, plus also Antiforgery cookies would have SameSite enabled by default. We'd have to evaluate all other cookies created by ASP.NET Core to see what they should have by default.

[2017-03-02 23:15] Eilon commented on #908
Antiforgery work tracked here: https://github.com/aspnet/Antiforgery/issues/127

[2017-03-02 23:43] Eilon commented on #1039
@HaoK can you close this because this should be taken into account in the Big Auth Redesign of 2017.

[2017-03-02 23:50] brockallen commented on #1039
But despite the Big Auth Redesign of 2017, the existing authentication infrastructure will remain, no? So, IMO, this should still be fixed.

[2017-03-03 00:25] javiercn opened #1133 "Consider limiting the cookies we use for nonce and correlationId to the paths that we use them on"
Currently the handle of /, if there are incomplete logins they cause trouble and they stay on the browser cookie cache incrementing the size of each request. We should look into setting their path to the sign-in callback endpoint so that incomplete login flows don't increase the size of requests sent to the server.

[2017-03-03 08:14] pierslawson commented on #1101
@Tratcher That would be a good idea except there doesn't seem to be an event to hook into around the point that SaveTokens is executed... I can see a call to run an event on authentication failure (RunAuthenticationFailedEventAsync) but no equivalent for a success.

[2017-03-03 17:27] Eilon commented on #1039
@brockallen given the redesign stuff, we don't have plans to do a further release of the current design (aside from patches, which are non-breaking).

[2017-03-03 20:18] HaoK commented on #901
Updated the issue summary to add background, I'll start add the explicit scenarios we want to support next, if anyone has any scenarios they want considered as we try to redesign this, please add a comment.

[2017-03-03 21:55] HaoK commented on #1039
So we do have the opportunity to pick the new behavior for the new stack.  @blowdart @Tratcher throw or no throw in the RemoteAuthenticationHandler for SignIn/SignOut (as it stands the code ported from 1.0 still throws NotSupportedException).  Personally I could go either way on this

[2017-03-04 00:50] kampilan opened #1134 "AuthenticationMiddleware and dependency injection"
Why does AuthenticationMiddleware take it's dependencies on the constructor and not on Invoke? Very hard to build handler with dependencies. Why would TearDownAsync be internal!?!? This prevents me from writing my own AuthentionMiddleware and using proper DI pattern for Middleware.

[2017-03-04 04:05] HaoK commented on #1134
Yeah we are aware of the issues with the current design, we working on addressing these in the next version, you should be able implement a handler with normal dependencies on the new stack, see https://github.com/aspnet/Security/pull/1113

[2017-03-07 07:40] Ponant opened #1135 "ValidateUserInternal could be called prior to UpdatePasswordHash?"
When `CreateAsync ` a user, `UpdatePasswordHash` is called prior to checking `ValidateUserInternal` , whereas one could reverse the order such that, e.g. if UserName is already taken `ValidateUserInternal` will return an error without the need to go through `UpdatePasswordHash.`

[2017-03-07 18:46] HaoK commented on #1135
The general pattern for identity is to update the user with all the changes, and then run validation as the last step before saving changes.  There's nothing preventing a validator from wanting to inspect the password hash which it would not be able to do if it ran before the password hash was updaated.

[2017-03-07 18:46] #1135 closed

[2017-03-08 23:50] javiercn opened #1137 "Revisit DisplayName in Auth 2.0"
The display name is mostly used for displaying the list of available authentication options in Identity.

OpenId is a very generic protocol, unlike other middlewares like Google, Twitter, Facebook, etc, so usually you configure the name to be the one of the specific provider you are talking to.

It makes it show up in the identity portion of your app if for some reason you are using open id connec

[2017-03-09 17:49] PinpointTownes opened #1139 "Update the OAuth2 generic handler to allow setting the scope when calling ChallengeAsync"
_Moved from https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/146:_

___________

I'm currently working with the EVEOnline provider and I want to let the user choose what scopes to use due to it giving access to sensitive information and the functionality it opens up on my site being entirely optional.

So is there an easy way to set different scopes for every authentication

[2017-03-09 17:51] PinpointTownes commented on #1139
@Gronsak not directly, but you can use the `RedirectToAuthorizationEndpoint` event to dynamically update the authorization request: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OAuth/Events/IOAuthEvents.cs#L25

Ideally, the OAuth2 generic handler could be updated to allow setting the scope dynamically using a specific authentication property, that could be se

[2017-03-09 23:01] Gronsak commented on #1139
@PinpointTownes Thanks for the response,
I was looking for just that kind of property so it currently not working that way explains why I couldn't find anything. It would most certainly be the best solution to the problem.

I'll do a monkey patch, or solve it using the event, for now since I really don't want to carpet bomb the scopes. But it would have been nice to see this actually be officially

[2017-03-09 23:59] vishpriya commented on #1006
Is this resolved?
I am having the same issue what is the solution?

[2017-03-10 08:49] Gillardo commented on #1006
Mine is now working but cant remember how i "fixed" the issue.  I am also using JWT.  Have you got the settings above set?  If you can make a small example, i can take a look if needed?

[2017-03-10 16:38] danroth27 opened #1141 "ASP.NET Web API Authentication Using HMAC"
_From @Xavierh95 on October 10, 2016 12:47_

Hi everyone,

I want to secure an ASP.NET Web API project with HMAC auth.

This REST API project will be used by third-party developers to access my application's data.

I'm trying to adapt [this post](http://www.codeguru.com/csharp/.net/net_asp/learn-to-secure-an-asp.net-web-api-using-hmac.html)  in .NET Core without success...

Some of the class / int

[2017-03-10 16:38] danroth27 commented on #1141
_From @Petermarcu on November 4, 2016 6:45_

@danroth27 Whats the best place to ask this question where some ASP.NET folks can help?

[2017-03-10 16:38] danroth27 commented on #1141
I don't think we have a good built-in solution for this today in the framework.

@leastprivilege @brockallen Is this something you can setup with [IdentityServer](http://identityserver.io)?

[2017-03-10 16:38] danroth27 commented on #1141
_From @blowdart on November 4, 2016 15:10_

@danroth27 No - it's something entirely different. It's signing the request, with a preshared key. It's not something we support out of the box, but you should be able to do it with authorization middleware.

[2017-03-10 16:38] danroth27 commented on #1141
_From @blowdart on November 4, 2016 15:17_

@Xavierh95 Do you mean something like https://github.com/blowdart/Idunno.WebApi.SharedKeyAuth, except for core?

[2017-03-10 16:38] danroth27 commented on #1141
_From @Xavierh95 on November 4, 2016 17:41_

@blowdart Yes, or something like : http://www.codeguru.com/csharp/.net/net_asp/learn-to-secure-an-asp.net-web-api-using-hmac.html

[2017-03-10 16:38] danroth27 commented on #1141
_From @blowdart on November 4, 2016 17:55_

I could look at porting my one.

[2017-03-10 16:38] danroth27 commented on #1141
_From @richlander on March 10, 2017 8:7_

Please re-activate if this is still an issue.

[2017-03-10 16:52] brockallen commented on #1141
We had some HAWK support a while back. Perhaps as a reference it might be useful. https://github.com/IdentityModel/Thinktecture.IdentityModel/tree/master/source/Hawk.

[2017-03-13 17:02] #1035 closed

[2017-03-13 17:10] BorisWilhelms opened #1147 "Consider removing of "profile" scope as a default in OpenIdConnectOptions"
The OIDC Core Specc states the "profile" scope as an optional scope (http://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims). Therefor it should not be added by default to the scope hashset of the OpenIdconnectOptions.
The specc only states only the "openid" scope as a required scope.

[2017-03-13 17:27] leastprivilege commented on #1147
Yes. Absolutely agreed.

[2017-03-13 17:45] Tratcher commented on #1139
The Google provider has something like this and there's a bug somewhere to explore generalizing that feature.

[2017-03-14 13:48] OskarKlintrot opened #1149 "UTC in the JwtBearer"
When validating the JWT with `ValidateLifetime = true` in `TokenValidationParameters` it won't work if the timestamps (iat, exp, nbf) in the JWT is based on UTC (`var now = DateTimeOffset.UtcNow;`) but it will work if the timestamps  is based on the servers time (`var now = DateTimeOffset.Now;`) since both my issuer and consumer runs on the same machine.

This code is working but the validation fa

[2017-03-14 17:44] HaoK commented on #901
Related: https://github.com/aspnet/Security/pull/1148

[2017-03-14 18:33] Eilon commented on #1035
Thanks @PinpointTownes !

[2017-03-14 19:09] Tratcher commented on #1149
JwtSecurityToken and related components are over here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2017-03-14 23:59] AngelKyriako commented on #901
Hello, I have a problem authorizing users in an simple app I am started at.

I use JWT. The authentication in the default filter & [Authorize] tag without a specified policy work properly.

However, I get problems with authorizing a particular policy, even when I add only a single claim from the policy builder.

Here is my authorization warning log.
`
info: Microsoft.AspNetCore.Hosting.Internal.We

[2017-03-15 02:32] jusbuc2k commented on #581
I'm running into the same issue trying to use a database connection, entity framework, etc. in my ticket store implementation. It seems like the setupAction parameter on the AddIdentity() service collection needs to provide an instance of IServiceProvider in a similiar manner to AddScoped(), AddTransient(), etc. does when using a function to create the service instance.

[2017-03-15 02:57] jusbuc2k commented on #581
After looking at this more, it occurred to me that you can just register an IOptions<IdentityOptions>> *before* the call to AddIdentity() in order to get services as part of configuring identity options. For example:

[code]

This works because internally all the identity classes use the DI container/service provider to get IdentityOptions via dependencies on IOptions<IdentityOptions>.

[2017-03-15 06:54] OskarKlintrot commented on #1149
Is JwtBearer just using JwtSecurityToken for the validation?

[2017-03-16 02:03] JeanCollas opened #1152 "How to get Facebook access_token after login?"
I can't find any way to get the access token received by the authentication process, in order to use it during the 1st login (to pre-fill a registration form by calling the graph api). I can't use the claims as if the user doesn't allow some permissions, the login fails.

Is there a way to do that? Or how should I do?

Thanks

[2017-03-16 08:53] hempels commented on #1130
Link to multi-click issue report on Google Product Forums:
https://groups.google.com/a/googleproductforums.com/d/msgid/apps/92a9fa1a-4bbb-4c93-9e71-2554d7490498%40googleproductforums.com

[2017-03-16 10:52] JeanCollas commented on #1152
Ok, I was missing the savetoken in options:

            FacebookOptions fo = new FacebookOptions()
            {
                SaveTokens=true,
            };

Then you can get the token during the request:

                var t = await ControllerContext.HttpContext.Authentication.GetTokenAsync("Facebook", "access_token");

[2017-03-16 10:52] #1152 closed

[2017-03-16 16:23] Tratcher commented on #1039
Just no-op then.

[2017-03-16 20:18] kyschouv opened #1153 "Fail authentication from events through BaseControlContext"
I have a situation where I'm using MessageReceived in JwtBearerMiddleware to unwrap a JWT token (it's compressed and encrypted). Unfortunately, I have no way to fail the request if the decryption fails, I can only skip or handle it. The failure is analogous to the SecurityTokenValidators all failing in the JWT middleware, which ends up calling AuthenticateResult.Fail.

Could BaseControlContext add

[2017-03-16 21:23] onedevteam opened #1154 "Can't set Response.StatusCode to 401 in JwtBearerEvents"
I have following code in my Startup.Auth.cs partial:

[code]

Goal is to intercept unauthorized requests and return 401 code instead of login form for API requests.

Problem is, when i set c.response.statuscode to 401, i get runtime exception

`System.InvalidOperationException: 'StatusCode cannot be set, response has already started.'`

Every other response works (200, 201, 202, 300, 400, 402, 403

[2017-03-16 23:09] Eilon commented on #1154
@onedevteam can you show us the entire stack trace? This is definitely quite odd. It would be even more helpful if you can upload your app to GitHub so we can see what's going on.

[2017-03-16 23:11] Eilon commented on #1149
@brentschmaltz can you take a look and see if we need to move this bug to another repo?

[2017-03-16 23:15] Eilon commented on #1139
This sounds like a good feature to add and we will consider it in a future version.

[2017-03-16 23:18] Eilon commented on #1153
From triage discussion, it seems like @brentschmaltz might have some ideas on how to plug in the decryption/decompression, and then once that's plugged in correctly, the rest should work. That is, once plugged in correctly, a failure in that event would bubble up as a proper failure in the system.

[2017-03-16 23:19] PinpointTownes commented on #1139
@Eilon IMHO, this work item sounds like a good candidate for the "up for grabs" label :smile:

[2017-03-16 23:23] Eilon commented on #1137
Talked to @HaoK and @Tratcher and this will be accounted for in the Great Auth Redesign of 2017.

Assigning to @HaoK to track this.

[2017-03-16 23:25] Eilon commented on #1134
Closing because this is a key part of the Great Auth Redesign of 2017.

[2017-03-16 23:25] #1134 closed

[2017-03-16 23:29] Eilon commented on #1133
@javiercn any chance you want to send a PR for this? @Tratcher believes the code change is quite simple, but it requires a bit of testing.

[2017-03-16 23:32] Eilon commented on #1147
The Great Auth Redesign of 2017 should make it easier to remove/control the scopes, but we are not planning on changing the default list of scopes because we've seen from customer feedback that it's very commonly used.

[2017-03-16 23:32] #1147 closed

[2017-03-17 11:28] onedevteam commented on #1154
Can't post whole project.

I'm following stormpath tutorial to implement jwt.

After some research, i managed to make it work by returning     `return Task.FromResult(c);`. When i return  `c.Response. WriteAsync`, OnAuthenticationFailed handler execute's 3 times and crash on 3rd attempt.

Here's exception:

[code]

[2017-03-17 16:12] Eilon commented on #1154
@onedevteam thanks for posting the stack trace.

@Tratcher any ideas?

[2017-03-17 16:36] Tratcher commented on #1154
Ok, that makes a bit more sense. The endpoint/controller has executed and set a 401 (with a body) and returned. As the pipeline unwinds then the middleware calls
- FinishResponseOnce: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L137
- HandleAutomaticChallengeIfNeeded: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCo

[2017-03-17 17:21] onedevteam commented on #1154
@Tratcher  It's your OnAuthenticationFailed event that sets the 401, correct?

Yes. I have checked it in step-by-step debugger, and on first pass, before i set it to 401, value of c.Response.StatusCode is 200. Then, on second pass, it's 401 (set manualy, in 1st pass), and in 3rd pass it throws an error...

I also tested with JwtBearerOptions.AutomaticChallenge, off, and it passed.

[2017-03-17 17:21] javiercn commented on #1133
Yeah, I will talk to @Tratcher and look into it next week.

[2017-03-17 21:45] Eilon commented on #1139
@PinpointTownes if someone wants to offer up a design proposal for this we'll definitely take a look. Sometimes we're a bit hesitant to mark non-trivial bugs as up-for-grabs if we think it's a bigger design item 😄

[2017-03-17 22:06] brockallen commented on #1139
Does this mean you are accepting new modifications for the security stack (or [not](https://github.com/aspnet/Security/issues/1039#issuecomment-284016681))?

[2017-03-17 22:09] brockallen commented on #1137
Related: I'd like a way to know the difference between middleware/auth services that are external (google, OIDC) vs. local (cookies, JWT). Windows is special, unfortunately. // @HaoK

[2017-03-17 22:09] HaoK commented on #1139
The OAuthHandler still exists in the new stack so any features done to any actual handlers like this will still flow into the new 2.0 stack.

[2017-03-17 22:19] HaoK commented on #1137
Are you asking for the ability to distinguish this by yourself (i.e. via iteration on all of the AuthenticationSchemes, and look at whether the handler is IAuthenticationHandler or IAuthenticationRequestHandler which is the way currently as things stand now in the PR), or are you asking some kind of API that is equivalent to that basically...

[2017-03-17 22:22] brockallen commented on #1137
Again, I don't know what's in the 2.0 new stuff, but I need to have a way to list all the authentication schemes that require a user to "go somewhere else" (IOW, external IdPs), vs the ones that are "local" like cookies and 2fa cookies and external temp cookies. I know this might be more appropriate on the new 2.0 feature issue for discussion. In short, local schemes should be distinguishable from

[2017-03-17 22:25] Tratcher commented on #1137
That's pretty clear for providers like Facebook, but it's ambiguous for others like OIDC because you could host the server within your app.

[2017-03-17 22:29] brockallen commented on #1137
Well, we can debate how good of an idea this is (and I know you plan to push this in the next version). Having said that, my point still stands: I'd like to have something that knows if this scheme is one that might need to trigger redirects or not (and for IdentityServer scenarios that doesn't necessarily mean it's shown to the user). Perhaps the ask is beyond what the base plumbing should suppor

[2017-03-17 22:36] Tratcher commented on #1137
I don't mind having metadata on the providers, I just want to make sure is generic (but still useful) data rather than tailored to a specific consumer. The question the templates need to answer is "Should I show this provider as its own login button/flow". Is that the same question you're trying to answer?

[2017-03-17 23:00] brockallen commented on #1137
Yea, essentially. And to make it more tricky: for windows the two should be collapsed into one (NTLM and Negotiate).

[2017-03-17 23:10] HaoK commented on #1137
Is this always used for the list of schemes that are used for login, we just need a good name for this set of things?  And then we can just add some kind of IsUsedForAppSignIn option, and then a corresponding GetAppSignInSchemes metohd on the IAuthenticationSchemeProvider

[2017-03-18 01:03] brockallen commented on #1137
Hmm. Feels overly specific.

*shrug*

On Fri, Mar 17, 2017 at 7:10 PM Hao Kung <notifications@github.com> wrote:

--

-Brock

[2017-03-20 18:05] renaudcalmont commented on #1154
Hi, we just tried to analyse a similar issue today.
The root of the problem is in Security/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvents.cs where a method line #104 tries to guess wether the request is AJAX or not.
Since the MVC and WebAPI request now follow the same path, this (I imagine legacy) class catches and modifies the response just as it were a normal w

[2017-03-20 20:44] Tratcher commented on #1101
@pierslawson Which flow are you using? Code, Code&IdToken, IdToken? You should be able to use TokenValidated or TokenResponseReceived.

[2017-03-21 17:07] pierslawson commented on #1101
@Tratcher I'm using Code&IdToken. My impression from reading the code was that those events might be called too early in the process. I wasn't sure that the information that I want to save into a cookie (the IdToken) and the data I want to save server side (the RefreshToken) would be available and correctly be populated. I have to admit, it started to get too hard to figure out by just following t

[2017-03-21 17:18] Tratcher commented on #1101
TokenResponseReceived should work then, or UserInformationReceived if you have GetClaimsFromUserInfoEndpoint turned on.

[2017-03-21 17:26] chrisdrobison commented on #43
For those of you who are interested, I ported the Katana WsFederation middleware over to ASP.NET Core. It has a hard dependency on the full .NET Framework. I have yet to build the Nuget package and publish it, but I'd love for anyone who wants to give it a go to see if it will be sufficient until something is put in place officially by Microsoft.

https://github.com/chrisdrobison/aspnetcore-wsfed

[2017-03-21 17:41] Tratcher commented on #43
Nice work @chrisdrobison. We have something in the works that will use the latest version of IdentityModel to avoid dependency version conflicts. It will similarly be restricted to the full .NET Framework for now.

Side note: please don't use `Microsoft` in your package names if you intend to publish it (see https://github.com/aspnet-contrib).

[2017-03-21 17:47] chrisdrobison commented on #43
@Tratcher Sounds good, I'll remove the name.

[2017-03-21 18:51] leastprivilege commented on #1101
;) or - or - or... that's exactly the point.

Persisting those artifacts is such a common thing to do - maybe there should be an event where they are all available at the same time.

[2017-03-22 00:18] pranavkm opened #1156 "Stop cross-compiling Microsoft.AspNetCore.Authentication.JwtBearer and Microsoft.AspNetCore.Authentication.OpenIdConnect"
These target netstandard1.4 which should suffice when we bump up samples and tests to net461. Currently cross-compiles to net46 to workaround issues in NS.Library 2.0.0-*

[2017-03-22 00:56] pranavkm opened #1158 "Investigate System.Security.Claims reference added to projects \ test"
I did not need this reference when I build all of Universe, but it's required when building Security separately.

[2017-03-22 11:28] leastprivilege commented on #43
@chrisdrobison nice! I have some real world usage for that. I can help you with review, testing and automated builds.

[2017-03-22 12:11] chrisdrobison commented on #43
@leastprivilege Thanks! That would be much appreciated.

[2017-03-22 12:33] Compufreak345 commented on #43
@chrisdrobison
Thanks for your work as well, I (probably misconfigured something and) created your first issue ;)

[2017-03-22 15:39] leastprivilege commented on #43
@Tratcher do you have an ETA? the version conflict is icky.

[2017-03-22 15:42] Tratcher commented on #43
Not quick, we're just beginning the work at the IM layer.

[2017-03-22 15:54] chrisdrobison commented on #43
Do you happen to know if there is going to be a package newer than this published?

https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.WsFederation/2.0.0-beta8-305061149

I could attempt to upgrade the work I've done, but I fear all the other packages that one depends on are much newer now and this one has kind of been left behind.

[2017-03-22 16:32] Tratcher commented on #43
Yes, that package will get updated/replaced.

[2017-03-22 16:33] chrisdrobison commented on #43
Do you know when that will happen?

[2017-03-22 16:33] Tratcher commented on #43
https://github.com/aspnet/Security/issues/43#issuecomment-288440812

[2017-03-22 16:43] chrisdrobison commented on #43
I guess I could ILMerge the dependencies to get rid of the version conflict while you guys are working on that.

[2017-03-22 16:43] Tratcher commented on #43
That's problematic as they are exposed as public API

[2017-03-22 17:13] brentschmaltz commented on #43
@chrisdrobison current POR is for an April refresh of M.IM.Protocols.WsFederation. Currently this topic branch is used to piece it together.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/WsFed

[2017-03-22 17:25] chrisdrobison commented on #43
@brentschmaltz I literally just ran into that right before you posted. Looking forward to that .

[2017-03-22 18:56] dougbu opened #1160 "Track recent breaking changes in `exceptions.net*.json` files"
This repo contains untracked breaking changes. To find and address them
1. Revert 75a4d00
2. Run `.\build.cmd /t:Pack` in projects 75a4d00 touched or `.\build.cmd /t:Package` in the repo root
3. Update `exceptions.net45.json` and `exceptions.netcore.json` to track the changes
4. If not already announced, suggest filing issues at https://github.com/aspnet/Announcements

[2017-03-23 09:33] ben-foster-cko opened #1161 "Authorization Policy ignores AllowAnonymousAttribute"
I added the `AuthorizeFilter` globally to make my app secure by default. It does not however seem to honour the AllowAnonymousAttribute on specific actions, still returning a 401:

[code]

[2017-03-23 09:49] AxelAndersen opened #1162 "netstandard1.6"
Hi

Will this be ported to be able to run on netstandard1.6 instead of the old netstandard1.3?
I tried it my self, but ran into a lot of problems.

[2017-03-23 10:04] davidfowl commented on #1162
Why would you want to target a higher netstandard? What APIs are you trying to use? What capabilities are you trying to enable?

[2017-03-23 10:09] ben-foster-cko commented on #1161
You can ignore this - since I'm using MVC Core only, I was missing the call to `AddAuthorization` on the MVC builder.

[2017-03-23 10:09] #1161 closed

[2017-03-23 10:17] AxelAndersen commented on #1162
Actually I was trying to use the dlls from these projects in a .NETCoreApp 1.1 project and that failed.
I then read that the 2 frameworks could not be used together in that version.

Is there another way of doing it?¨

[2017-03-23 18:15] Eilon commented on #1162
Anything that runs on netstandard1.3 will run on all platforms that support any higher netstandard.

.NET Cor App 1.1 supports netstandard1.6 just fine.

Can you share your project and the error you're seeing?

[2017-03-23 18:15] Eilon commented on #1149
Ping @brentschmaltz .

[2017-03-23 18:16] Eilon commented on #1153
Ping @brentschmaltz

[2017-03-24 07:48] atpyk opened #1163 "No Correlation and Nonce cookies generated when consumers adjust their system clock"
Test Environment: IOS 10.1 (IPad)
Reproduce steps:
1. Let system clock a day late.
2. Open browser and access website that base on the oidc authentication.
3. Open the browser monitor.

Except: The Correlation and Nonce cookies will be generated.
Actual: Nothing in the cookie list.

This issue will lead to login failed, client server side always receives the error message "Correlation failed.", ev

[2017-03-24 11:07] Tratcher commented on #1163
By design. The cookies have a default expiration on them, and if the client's clock is off by to much then those cookies will be considered expired as soon as they're issued. IM has a clock skew option that defaults to five minutes (which wouldn't help the cookies), so being off by a whole day is way outside expected norms.

[2017-03-24 11:29] kchanlee opened #1164 "Consider supporting WeChat OAuth"
[WeChat](http://www.wechat.com/en/) is a free messaging and calling app owned by Tencent, China. As of September 2016, it has [768 million daily active users](http://www.zdnet.com/article/wechat-daily-active-users-top-768-million/) which is more than twice as Twitter ([313 million/monthly](https://about.twitter.com/company)). Almost all Chinese have it installed in their smart phones. Meanwhile, i

[2017-03-24 11:38] Tratcher commented on #1164
We recomend adding additional OAuth providers to https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers.

That said, the base class is often adequate for standard OAuth providers. See https://github.com/aspnet/Security/blob/75a4d006aa7e53c110b3c71c66473adbd45becd6/samples/SocialSample/Startup.cs#L202-L238.

[2017-03-24 12:06] kchanlee commented on #1164
@Tratcher Thanks for you timely response!

[2017-03-26 18:09] JeanCollas opened #1165 "Support automatic redirect on remote failures"
From time to time when people try to log in using Facebook, I get this error, what does it mean exactly? How to handle it?

	Unhandled remote failure. (Correlation failed.)
	Microsoft.AspNetCore.Authentication
	Correlation failed.

	--------
	--------
	-------- Exception --------
	System.AggregateException: Unhandled remote failure. (Correlation failed.) ---> System.Exception: Correlation failed.

[2017-03-27 01:12] atpyk commented on #1163
I repeat the steps on windows, it works.

[2017-03-27 17:22] Tratcher commented on #1165
There's a correlation cookie issued with each challenge to limit XRSF issues. Under some conditions this cookie gets lost before the authentication is complete. If it does the best thing that you can do is restart the auth flow. You can handle this error by hooking the RemoteFailure event.
https://github.com/aspnet/Security/blob/75a4d006aa7e53c110b3c71c66473adbd45becd6/samples/SocialSample/Startup

[2017-03-27 19:30] JeanCollas commented on #1165
Thanks @Tratcher, as it happens quite regularly (more than 10% of registrations), I feel like I must address the issue.
Restarting the auth flow from there does not risk to get into an infinite loop?

[2017-03-27 19:38] AxelAndersen commented on #1162
Hi again, yes .NET Core App 1.1 does support netstandard1.6, but it does not support netstandard1.3 as this is build with.
I am having a lot of difficulties moving this to netstandard1.6, is that why it has not been done yet?

[2017-03-27 19:42] brockallen commented on #1162
I suspect his issue is that he wants to build a netstandard1.3 library so he only has to target one thing and be able to run on both .NET Core and .NET Framework 4.6, but he has a dependency on MVC which requires netstandard1.6.

[2017-03-27 19:50] davidfowl commented on #1162
I'm sorry, I still don't understand.

[2017-03-27 19:57] Eilon commented on #1162
@AxelAndersen can you show us what your project looks like, and what error(s) you're getting? This should all work, regardless of .NET Standard 1.3, 1.6, etc. All .NET Standard 1.x should run just fine on .NET Core App 1.x.

If it's what @brockallen is saying, then that's a different story - MVC requires .NET Standard 1.6 so if you need that, you have to target .NET Standard 1.6 or higher - there'

[2017-03-27 20:45] nhwilly commented on #1165
It seem this - or something related - is happening to me.  FB seemed to be working fine.  Now it's not.

    `Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware:Error: An unhandled exception has occurred while executing the request

    System.AggregateException: Unhandled remote failure. (Message contains error: 'server_error', error_description: 'AADB2C: An exception has occured.

[2017-03-27 20:45] Tratcher commented on #1165
It does risk an infinite loop, so it should include an error page that says "Something went wrong trying to log you in, click here to try again."

[2017-03-27 20:48] nhwilly commented on #1165
I just tried running this is the policy section of the B2C portal.

Got this:

   AggregateException: Unhandled remote failure. (OpenIdConnectAuthenticationHandler: message.State is null or empty.)

Does that help any?

[2017-03-28 00:39] JeanCollas commented on #1165
Thanks @Tratcher for the confirmation, I will try to handle it in the `OnRemoteFailure` as suggested.

The Facebook login is a bit tricky when not everything goes well, for example if I:
- try to log-in via Facebook,
- accept everything on Facebook,
- arrive on the confirmation where a password is required to create the account
- go back to the login page (so do not create the account)
- try again

[2017-03-28 04:37] AxelAndersen commented on #1162
Hi all

Thank you for your feed back and interest.

Due to your suggestions that it should work just fine, I cleaned my solution for all dependencies and started all over. And you were right, it does actually build with a netstandard1.3 version.
However, in my solution under Dependencies/Nuget i have 3 referenced dll's that get a yellow triangle, why is that?
I will upload an image showing it:

![

[2017-03-28 07:41] siberianguy opened #1166 "Recommended approach for Web Api authentication"
Visual Studio doesn't have a scaffolding for Web Api authentication (I"ve heard it's planned for release 1.2) but as I know IdentityServer will be a recommended approach. Does it mean IdentityServer4 samples is pretty much what we eventually will see as part of Visual Studio scaffolding?

[2017-03-29 00:28] cesarbs commented on #1121
@atpyk I am currently investigating this issue, but so far I haven't been able to reproduce it.

I noticed from your screenshots that you seem to be running behind Squid. Do you have access to its configuration? Authentication takes a while in my environment, and I could see a proxy timing that out.

But most important, can you try changing this line in your `nginx.conf`:

[code]

To:

[code]

And

[2017-03-29 04:47] fcoury commented on #406
Which module do I need to add (`using XXX`) to make `services.AddAuthentication()` available on a AspNetCore app?

[2017-03-29 11:34] Tratcher commented on #406
Microsoft.AspNetCore.Authentication
https://github.com/aspnet/Security/blob/2b8a9378282089feb29100d11d8dfd3e648ef2f5/src/Microsoft.AspNetCore.Authentication/AuthenticationServiceCollectionExtensions.cs#L19

[2017-03-29 12:33] mdurling opened #1168 "Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerMiddleware StackOverflowException on MacOS"
This exception only occurs when running on MacOS. I have verified that the identical code does not produce and exception when running on Windows or in Docker.

[code]

[2017-03-29 13:29] Tratcher commented on #1168
JwtBearer was the last thing to log, but that doesn't mean it caused the stack overflow. You can see earlier in the trace where it logged the same thing just before running your controller. The stack overflow occurs on your first access to api/accounts, so maybe the issue is in there?

[2017-03-29 14:00] mdurling commented on #1168
This happens on different endpoints/controllers and the exception is happening before the controller even runs. While the routes below all begin with `api/accounts` they are in fact two different controllers. Here is another example:
[code]

[2017-03-29 14:47] Tratcher commented on #1168
Turn your log level up to debug to get a better idea of what's happening when it fails.

[2017-03-29 16:21] Eilon commented on #1162
@AxelAndersen do you see anything in the "Output" window of VS and select "Package Manager Output"? If there are NuGet restore failures, that's usually where they'd be.

If the errors are already gone, you could try closing VS, run `git clean -xdf` to reset your Git repo (or whatever source control you're using), then open the project again in VS, and that should show the errors again.

[2017-03-29 17:01] mdurling commented on #1168
The exception is happening before my controller is called, but I do see some additional Routing/MVC messages with the additional logging enabled. Thanks for your suggestions.

[2017-03-29 17:01] #1168 closed

[2017-03-29 17:11] brentschmaltz commented on #1153
This is going to take a two pronged solution.
1. Add decryption keys to the TokenValidationParameters on the options.
2. Set a derived JwtSecurityTokenHandler with ValidateSignature overridden that will perform the deflate and then return base.ValidateSignature.

[2017-03-29 17:55] cesarbs commented on #1121
@atpyk I am now able to reproduce your issue. The change to the `Connection` header on nginx works for me - let me know if it works for you.

And indeed, downgrading to Kestrel 1.0.1 makes things work, even with nginx always sending `Connection: upgrade`. I'm currently trying to get to the bottom of it.

[2017-03-29 23:09] cesarbs commented on #1121
The reason this only repros on Kestrel 1.1.x and not in Kestrel 1.0.x is due to a subtle difference in how it handles requests with a `Connection: upgrade` header.

In Kestrel 1.0.x, a request with a `Connection: upgrade` AND a `Content-Length` header is handled as if its body's content length is known (internally uses `MessageBody.ForContentLength` to read the request body).

In Kestrel 1.1.x tho

[2017-03-29 23:12] cesarbs commented on #1121
I will close this issue and open a new one on Kestrel to consider the change in behavior on how to handle the request body.

[2017-03-29 23:12] #1121 closed

[2017-03-29 23:12] cesarbs commented on #1121
@atpyk Please re-open if you still have issues with OIDC after changing your nginx configuration.

[2017-03-30 08:04] TomGroeneboer opened #1169 "Make IsAjaxRequest overridable or configurable"
Hi guys,

We are using the Cookie authentication in our application. This application makes use of API requests (as you do) and therefore the redirect to a login page is silly on these requests. However, we do not use jquery in our front-end. This causes the non-standard header `X-Requested-With` not to be set and that causes the API calls to redirect to the login page.

If we want our API request

[2017-03-30 08:04] davidfowl commented on #1169
Can you set the header?

[2017-03-30 08:07] devatwork commented on #1169
Making this configurable sounds good to me. One cannot always control the client and the header was never standardized. Also I've seen wild proxies eating this header.

The API change can be made non-breaking right?

[2017-03-30 08:08] devatwork commented on #1169
Note: If you're likely to approve this change, we'll be happy to create a PR.

[2017-03-30 08:16] davidfowl commented on #1169
@devatwork What would you make configurable?

[2017-03-30 08:24] devatwork commented on #1169
The logic in https://github.com/aspnet/Security/blob/rel/1.1.1/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvents.cs#L104

I can see two ways of doing this:

1. Make `IsAjaxRequest` `protected virtual` allowing a subclass to override this.
2. Encapsulate the logic in a `Func<HttpRequest, bool>` which is set by default but allow overriding via a property. Similar to h

[2017-03-30 11:23] Tratcher commented on #1169
If `IsAjaxRequest` were overridable, what would you change it to for your scenario?

[2017-03-31 06:41] devatwork commented on #1169
Depends on the application. A few months back we had to sniff the `User-Agent` header in order to correctly recognize a legacy application.

For another application we want the 'IsAjaxRequest' for all requests that run within the `/api` path. We currently solved this by overriding all the `On*` methods of `CookieAuthenticationEvents` with the exact same behavior as the ASP.NET Core impl but with t

[2017-03-31 15:49] Tratcher commented on #1169
Makes sense. That said, this is not going to be a high priority for us any time soon. You can already get the behavior you need by overriding the events, and we have several critical items we need to get done first.

[2017-04-01 02:10] mjrousos opened #1171 "Cookie authentication does not work when host URL includes a path"
Repro Steps
-------------

1. Create new ASP.NET Core web application from the new project template in VS 2017. Use 'individual accounts' authentication.
2. dotnet ef database update, if needed.
3. Add `.UseUrls("http://localhost:5000/testapp")` in program.cs to set the URL for the host to listen on.
4. Switch to Kestrel host, F5, and navigate to http://localhost:5000/testapp

_Actual behavior_:
T

[2017-04-01 03:47] Tratcher commented on #1171
It should be noted that Kestrel has removed support for application root paths (e.g. `/testapp` in UseUrls). https://github.com/aspnet/Announcements/issues/230

That said, the application root path should not have anything to do with the data protection context. The path is set on the response cookie, but it's not part of the protection. https://github.com/aspnet/Security/blob/305ccf9cc5d2ce777e5f

[2017-04-01 04:13] mjrousos commented on #1171
Ah, I didn't realize that application root paths weren't supported in `UseUrls` anymore; thanks for the pointer!

For what it's worth, I just tried `UsePathBase` and everything works as expected when I go that route. So, this is probably lower priority since the recommended scenario is working. Still would be interesting to understand why it didn't work with an application root path in `UseUrls`,

[2017-04-02 10:41] martincostello commented on #1165
I've just had an instance of this error pop-up in my server logs, and there's this [SO Q/A](http://stackoverflow.com/questions/39218665/facebook-oauth-unhandled-remote-failure-correlation-failed) which mentions it being something to do with clock-sync.

[2017-04-03 08:47] devatwork commented on #1169
I understand this is not a high priority: noone is blocked because there is a workaround. So we are just talking about ergonomics here. I also understand that exposing a new public API needs careful evaluation.

Having said that, if I, or someone else, were to send a PR, are you likely to accept it? Of course assuming the quality requirements are met. Also I'm not saying it should be merged before

[2017-04-04 03:04] Tratcher commented on #1169
You can send a PR after https://github.com/aspnet/Security/pull/1170 is complete, it's a major overhaul that would cause conflicts.

[2017-04-04 04:51] Tratcher commented on #1165
@JeanCollas If you've logged in with the external provider but not completed the local login then you still have the External cookie. If you then restart the auth flow the facebook auth provider will see that you're already signed in and trigger AccessDenied to avoid an infinite login loop. If you want to restart the login process you need to clear the state from the prior attempt, including the e

[2017-04-04 04:52] Tratcher commented on #1165
@nhwilly are you still having Facebook B2C issues? There was an outage on Monday due to a Facebook API change, but that should have been resolved later that day.

[2017-04-04 10:49] aejmelaeus commented on #1069
We had this same exception and found out that it can be caused when a user presses the back button in FF. Chrome seems to work ok.

[2017-04-04 15:04] rynowak opened #1172 "Add metadata which says whether or not the type of authentication was persistent"
For **Antiforgery by default** in MVC - we need a way to know that the type of authentication used was a persistent auth.

This should be implemented such that the non-persistent auth schemes (bearer) make a declaration that they **are not persistent**. The antiforgery infrastructure in MVC will look for confirmation that the scheme is **not persistent**.

[2017-04-04 15:15] Tratcher commented on #1172
What are you going to do with the information?

What auth types qualify as persistent? Is it just cookies?

[2017-04-05 19:27] Tratcher commented on #1171
@mjrousos there shouldn't have been any difference between what kestrel was doing and what UsePathBase does. But since the feature is now removed then I'll close this.

[2017-04-05 19:27] #1171 closed

[2017-04-05 21:44] brentschmaltz commented on #1149
Validation is preformed by JwtSecurityTokenHandler.ValidateToken

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L735

[2017-04-06 00:39] aiampogi commented on #872
I was able to send a custom authorization failure message by adding a custom error handling Middleware and let the AuthorizationHandler throw the exception (with the proper message) I am expecting in the Middleware and write to the httpContext.Response.

[2017-04-06 17:31] xavierjohn commented on #400
What if I want to authorize based on a ClientCertificate? I need the HTTP Request to get the ClientCert.

[2017-04-06 22:04] Eilon commented on #1162
Closing because we are unable to repro this.

[2017-04-06 22:04] #1162 closed

[2017-04-06 22:14] #1164 closed

[2017-04-06 22:16] Eilon commented on #1166
cc @danroth27

[2017-04-06 22:24] Eilon commented on #1165
We should consider the following:

1. Add an error redirect URL to the Remote Auth middleware
2. Update the project templates to use this feature and redirect to a page w/ some explanation about how to resolve the issue (because it is generally ultimately a problem on the site visitor's machine, not a server issue)

cc @DamianEdwards  for item (2).

[2017-04-06 22:26] Eilon commented on #1163
This is indeed by design because the cookies would appear to be expired before they're used.

We suspect you might not be seeing the issue on Windows if the same Windows machine is both the client and the server, because both the server and client times would match.

[2017-04-06 22:26] #1163 closed

[2017-04-06 22:29] Eilon commented on #1160
@HaoK we should do this *before* your mega-change to see what existing breaking changes we have (and making sure they're all deliberate), and then you'll of course need to run it and update again *after* your mega-change.

[2017-04-06 22:40] Eilon commented on #1154
Closing for the following reasons:

1. The response body should not be written to from an auth event because there is no way to know what code will run after that - such as some other code that also wants to set a header, status code, etc.
2. With the mega-change that @HaoK is working on, much of this behavior will be changing (such as no automatic challenges caused by a 401 status code), so this

[2017-04-06 22:40] #1154 closed

[2017-04-06 22:43] Eilon commented on #1153
Closing because there's no action here. Whatever gets added as part of https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/593 will be available from ASP.NET Core via its options.

[2017-04-06 22:43] #1153 closed

[2017-04-06 22:47] danroth27 commented on #1166
IdentityServer4 is certainly a great option if you're looking for flexible solution with very complete protocol support. We link to their docs from here: https://docs.microsoft.com/aspnet/core/security/authentication. We don't plan to ship IdentityServer4 with VS, but in the future we plan to enable integration of [dotnet new](https://blogs.msdn.microsoft.com/dotnet/2017/04/02/how-to-create-your-o

[2017-04-06 23:47] grahamehorner commented on #35
@blowdart any update now v1 is out the door 🤔 I also have a need of this type of feature

[2017-04-07 02:42] Tratcher commented on #35
This is in progress for 2.0: https://github.com/aspnet/Security/pull/1170

[2017-04-07 03:05] Tratcher commented on #1172
Offline notes: Only Bearer qualifies as non-persistent, so we can mark that on explicitly as opting out of anti-forgery. This metadata can be carried in the AuthProperties.

@HaoK The Antiforgery filter has some trouble retrieving the AuthProperties. The AuthZ filter does its work and then sets HttpContext.User, but it does not persist the AuthProperties anywhere. You'll want to look at this when

[2017-04-07 05:57] leastprivilege commented on #1166
To expand on that - both libraries will promote the "right" authentication architecture style which is the logical (and maybe also physical) separation of authentication and the business application.

IdentityServer is a full [featured](https://identityserver4.readthedocs.io/en/release/), officially [certified](https://openid.net/certification/) implementation of OpenID Connect and OAuth 2 (and th

[2017-04-07 11:17] siberianguy commented on #1166
Thanks for the clarification. Seems like IdentityServer4 is the way to go for now.

[2017-04-08 13:05] brockallen commented on #1172
What makes an authentication middleware persistent or not?

[2017-04-08 15:12] Tratcher commented on #1172
It's persistent If the browser will send it on your behalf. E.g. Cookies, Windows Auth, and sometimes even Basic. These need to be protected against misuse by injected scripts, etc..

[2017-04-08 15:32] brockallen commented on #1172
Ah, ok. Persistent seemed like an odd term for that. Usually I call that an implicit credential. As always, naming is a challenge. Thx for the insight.

[2017-04-10 15:55] tomasherceg opened #1173 "OpenIdConnect - add extensibility point for custom redirect behavior"
We are using `OpenIdConnect` and we need to customize the redirect behavior. In our scenario, the redirect is a reaction to AJAX request and instead of returning HTTP 302, we need to return HTTP 401 with the `Location` header specifying the target URL.

We cannot use the `OnRedirectToIdentityProvider`, becasue it is called too early.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet

[2017-04-10 16:49] Tratcher commented on #1173
You could set the state in OnRedirectToIdentityProvider:
https://github.com/aspnet/Security/blob/2d7cd6038fea34b84084685648ac9d0c97be610b/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L365

Using JwtBearer would likely be better though.

[2017-04-10 22:00] darxis opened #1174 "Middleware for handling HTTP 401 unauthorized response"
1. I have an `AuthenticationHandler<>` that I would like to apply to only a single controller. How do I do that using Attributes? I tried using `[MiddlewareFilter(typeof(MyCustomAuthHandlerPipeline))]` but it does not seem to work when also using an `AuthorizeAttribute`.
2. On the same controler I use an `AuthorizeAttribute` (`[Authorize(Policy = "SomePolicy")]`). When this authorization fails I w

[2017-04-10 23:02] Tratcher commented on #1174
You're looking for `[Authorize(ActiveAuthenticationSchemes = "MyAuthScheme")]`

Then you can override AuthenticationMiddleware.HandleUnauthorizedAsync to set the status code you want.

[2017-04-11 08:06] tomasherceg commented on #1173
I know, that's what I did in my application. But I am not a fan of copy pasting pieces of code from library in such cases. The implementation can change any time and the code can stop working.

I think that there should be a simple extensibility point. Additionally, the way how redirects work is different in the `Cookie` authentication package, which could also be unified.

[2017-04-11 13:43] JoshYaxley opened #1175 "Allow for a separate "RedirectAuthority" URL in OpenIdConnectOptions"
I think it would be useful to be able to have separate authorities defined for internal HTTP communication and browser redirects.

## My scenario

I'm setting up a dockerised Identity Server with example APIs and clients, for me to get to grips with the technology and provide a base for future projects.

For example, my MVC client middleware can be set up like this:

[code]

Because both my client

[2017-04-11 15:44] Tratcher commented on #1175
I think the field you're looking for is the MetadataAddress. This defaults to the authority, but you can replace it to directly point at your identityserver.

[2017-04-11 16:06] darxis commented on #1174
@Tratcher I assume that I also need to remove `[MiddlewareFilter(typeof(MyAuthenticationPipeline), Order = int.MinValue)]`.

How do I register `MyAuthenticationHandler` as an AuthenticationHandler with SchemeName = "MyAuthScheme"?

Thanks!

[2017-04-11 16:10] Tratcher commented on #1174
MiddlewareFilter may work, but you can also move it to Startup.Configure.

AuthenticationOptions.AuthenticationScheme
https://github.com/aspnet/Security/blob/2d7cd6038fea34b84084685648ac9d0c97be610b/src/Microsoft.AspNetCore.Authentication/AuthenticationOptions.cs#L21

[2017-04-11 16:27] darxis commented on #1174
@Tratcher But I would like to use this AuthenticationHandler only for this specific controller.

I forgot to said that my `MyAuthenticationOptions` looks like:
[code]

Even with the `MiddlewareFilter` applied to this specific controller, I got the "No authentication handler is configured to authenticate for the scheme" exception.

[2017-04-11 17:06] darxis commented on #1174
Ok, I got this:

- `app.UseMiddleware<MyAuthenticationMiddleware>()`
- `AutomaticAuthenticate = false` in the MyAuthenticationOptions
- `[Authorize(ActiveAuthenticationSchemes = "MyAuthScheme")]`

The configuration above will trigger the MyAuthHandler only for controller actions where `[Authorize(ActiveAuthenticationSchemes = "MyAuthScheme")]` is used.

Thanks

[2017-04-11 17:06] #1174 closed

[2017-04-11 17:18] JoshYaxley commented on #1175
I also thought that MetadataAddress might be my solution, so I played with it a bit.

If I use the following configuration in my middleware:

[code]

And then navigate to a secured page, the internal HTTP call to grab the metadata seems to work, but the browser is then redirected to the following URL:

I can manually get past this by replacing "identity" to "localhost:5000" in the URL bar, but thi

[2017-04-11 17:25] Tratcher commented on #1175
Check what the metadata doc actually contains, that controls the initial redirect uris. You may have to fix that on the identityserver side.

[2017-04-11 17:33] JoshYaxley commented on #1175
Performing a curl command to `http://identity/.well-known/openid-configuration` inside of the client docker container results in the following JSON:

[code]

In this case, I suppose I want the URLs to contain "localhost:5000" rather than "identity".

However, in other cases (for example, a console application client that lives inside of the docker network and has no concept of what "localhost:5000

[2017-04-11 17:42] Tratcher commented on #1175
So your identity server is dynamically generating the metadata based on your request url. Too smart for its own good...
You may just have to create your own metadata, or intercept and update theirs. The Configuration or ConfigurationManager Option will help with this.
https://github.com/aspnet/Security/blob/2d7cd6038fea34b84084685648ac9d0c97be610b/src/Microsoft.AspNetCore.Authentication.OpenIdConn

[2017-04-11 18:30] brockallen commented on #1175
Isn't this the same situation as using a reverse proxy? If this is an issue, put middleware in front to correct the request host to suit your custom deployment scenario.

[2017-04-11 18:31] JoshYaxley commented on #1175
Would this still not result in the issuer mismatch?

I will try it before trying a custom Configuration object.

[2017-04-11 18:35] brockallen commented on #1175
That I do not know -- I didn't quite follow all of the context of how your container deployment mechanics and DNS aliases work.

[2017-04-11 19:36] JoshYaxley commented on #1175
I'm not entirely sure how I can put middleware in front to correct the host value of a redirect: if the host value of a redirect is incorrect then it won't come anywhere near my web application, and hence is completely out of my control at that point.

I've hacked together an experiment using a custom `OpenIdConnectConfiguration` object, which looks like this:

[code]

As you can see, I just copie

[2017-04-11 20:41] brockallen commented on #1175
Perhaps I'm not understanding the issue. I thought the problem was that in your container environment you want to use a non-public DNS entry to refer to IdentityServer? This is the same situation if you have a proxy server in front of web server that that web server needs to render absolute URLs back to itself. If this is the problem, then the general approach for this is to put middleware in fron

[2017-04-11 22:31] rposener opened #1176 "Add IAuthorizationHandlerProvider interface"
Is it possible to Map Policies to Requirements at Runtime?  E.g. I would like to secure parts of an app using policies ("Job Maintenance") but allow administrative user in my app to map them to certain requirements (stored in DB) and updated during runtime.  For example ("In Partners Group" or "Is Manager of Job") might be mapped to the "Job Maintenance" policy.

Is there a way to provide this kin

[2017-04-12 08:59] JoshYaxley commented on #1175
Thanks, it hadn't occurred to me to change the headers of the incoming request.

I added the following middleware to my identity server:

[code]

And used the following configuration in my client middleware:

[code]

The call to grab the metadata is internal, so needs to reference "identity".
The host header on this request is changed to "localhost:5000", so the desired metadata is returned.
The n

[2017-04-12 13:18] brockallen commented on #1175
Yea, sounds like your original workaround with docker-compose feels better.

[2017-04-12 15:45] rposener commented on #1176
Looks like I can just implement my own IAuthorizationPolicyProvider and register it.  Will give this a shot.  Would be good to see this updated on docs.microsoft.com

[2017-04-12 15:45] JoshYaxley commented on #1175
In which case, I'm still stuck in the same place I was on [this comment](https://github.com/aspnet/Security/issues/1175#issuecomment-293376825).

i.e.

I'm using the TemporarySigningCredential, but I don't think it's because of that. I have noted the comment made in the IdentityServer docs [here](http://docs.identityserver.io/en/release/quickstarts/3_interactive_login.html):

The "kid" from the JW

[2017-04-12 15:51] blowdart commented on #1176
For your example you wouldn't need to head down that route, you'd just go off to your database during the evaluation of the policy, and pull down the group members, and the job manager during HandleRequirementAsync().

[2017-04-12 16:06] rposener commented on #1176
Not sure I follow - how do I allow an admin user change what the requirements are to meet a certain policy?  E.g. I secure an area of the app to "Job Maintenance" policy.  But don't want to hard code that it's always the "Manager of the Job" or the "Partners in the Group".  I want the Administrative User of my app to make those decisions for their company.

[2017-04-12 16:14] blowdart commented on #1176
So you still apply the Job maintenance policy to the area.

Then have a single requirement for that policy.

In that requirement go off to the database, figure out what the actual requirements are, and evaluate them.

[2017-04-12 16:35] rposener commented on #1176
If I'm following - why use the AuthorizationService at all?  What's the point if I'm create my own policy, requirement, and mapping them together myself.  Guess I'm missing the point here.  The IAuthorizationPolicyProvider is registered to the services with TryAdd for a reason is it not?

Seems that what you are suggesting violates SRP - a requirement that then has to act as a policy and map which

[2017-04-12 16:40] blowdart commented on #1176
You could go either way. The Provider was there because people weren't happy with just have policies. It gives the somewhat limited ability to, for example, build policies based on policy name, replacing the parameters in custom attributes folks used before.

As for SRP, well that's a choice :) But unless you're restricting to a preset list of requirements in your database you're going to have to

[2017-04-12 17:31] rposener commented on #1176
Ok - so I could implement multiple handlers - each needing to check the database to see if it's an enabled handler for the policy.  Sees a bit useless to have them check if they are even needed though.  I guess I'm expecting that to be able to be configured in the overall security configuration.

Just thinking about this...
If I go the handler route, I will have a Handler to Every Requirement for

[2017-04-12 17:37] HaoK commented on #1176
I would recommend the IAuthorizationPolicyProvider, while it was added for the specific scenario @blowdart refers to, its intent is to do exactly what you describe (dynamically map a policy name to requirements at runtime)

[2017-04-12 17:42] rposener commented on #1176
So, what I think I will try is the following:

- Multiple Policies, all using 1 Requirement "Has Access"
- Custom AuthorizationService which injects  IAuthorizationHandlerProvider.
- The HandlerProvider will operate over an injected mapping to determine which Handlers are enabled for the Policy.

That way I can map which handlers are available to check for access to a specific area (secured by a s

[2017-04-12 17:45] rposener commented on #1176
@HaoK the difference from IAuthorizationPolicyProvider and creating a IAuthorizationHandlerProvider going to be that I will end up having to meet all requirements (AND) instead of giving my user many ways to meet the requirement (OR).

Per my requirement, I'm looking for the OR (Job Manager) or (Partner Role) can satisfy the policy.

[2017-04-12 17:52] HaoK commented on #1176
Ah yes, if you want OR behavior, that's a concern for how a particular requirement is handled.  Implementing your own custom service implementation seems fine for filtering which handlers get executed to prevent hitting the db.

This doesn't seem like an unreasonable abstraction for us to add in 2.0 actually, we should consider adding that ourselves @blowdart

[2017-04-12 17:52] blowdart commented on #1176
Fair enough, make it so Mr @HaoK :)

[2017-04-12 18:14] rposener commented on #1176
Thanks @HaoK and @blowdart - I will go this route.  Appreciate the input and look forward to seeing where it ends up in 2.0.

[2017-04-12 18:16] HaoK commented on #1176
@rposener there's also another option you can consider.

You can have each requirement also be a handler, and if they are all really HasAccess where if any of them ever succeed you want to pass, then you can have that implementation succeed EVERY requirement in the the request, then you would just need to implement Success short circuiting in your custom authorization service.

Basically execute e

[2017-04-12 18:25] rposener commented on #1176
@HaoK I see what you mean - just have the handler go ahead and mark the other requirements as succeeded.  Effectively turning the AND to an OR.  Only down side is that it will break in the event I did need to add a AND to the policy.  Not sure I like that either.

[2017-04-13 11:09] DineshMuralitharan opened #1177 "Azure AD session expires after one hour"
I have used Azure AD login using openid connect authentication in my website. The session expires every one hour, and the user is logged out. I saw a solution in the below link to use

https://github.com/aspnet/Security/issues/147

Will this fix my issue? or is there any other way to increase expiration time of the session?

[2017-04-13 16:39] danroth27 opened #1178 "OnAuthenticationFailed should be called when the OIDC authorization request returns an error"
When I make an OIDC authorization request and the response is an error (ex. a post back with an error property) I expect the OnAuthenticationFailed event to be fired so that I can see the protocol message and potentially handle the event. Currently I have to handle this case using the OnRemoteFailure event, which only gives you the failure exception, and not the actual protocol message details.

I

[2017-04-13 20:50] HaoK opened #1179 "The Grand Auth Redesign of 2017"
### Latest PRs:
- [x] Options https://github.com/aspnet/Options/pull/179
- [x] HttpAbstractions: https://github.com/aspnet/HttpAbstractions/pull/798
- [x] Security: https://github.com/aspnet/Security/pull/1170
- [x] MVC: https://github.com/aspnet/Mvc/pull/6131
- [x] Identity: https://github.com/aspnet/Identity/pull/1119
- [x] Music Store: https://github.com/aspnet/MusicStore/pull/780
- [x] SignalR

[2017-04-13 23:35] HaoK commented on #1132
Tracked via https://github.com/aspnet/Security/issues/1179

[2017-04-13 23:35] #1132 closed

[2017-04-13 23:35] HaoK commented on #35
Tracked via https://github.com/aspnet/Security/issues/1179

[2017-04-13 23:35] #35 closed

[2017-04-13 23:36] HaoK commented on #1061
Tracked via https://github.com/aspnet/Security/issues/1179

[2017-04-13 23:36] #1061 closed

[2017-04-13 23:36] HaoK commented on #1039
Tracked via https://github.com/aspnet/Security/issues/1179

[2017-04-13 23:36] #1039 closed

[2017-04-14 13:21] Tratcher commented on #1177
Yes, you should use that option. Did you try it?

[2017-04-14 13:48] DineshMuralitharan commented on #1177
yes i tried it.

Please find the following cases,
1. When i navigate between the pages, everything works fine.
2. When i work on the same page for 1 hour or leave the page idle , then the session is expired and redirects me back to my login page.

This is the code i have used,

[2017-04-14 14:25] Tratcher commented on #1177
Oh, you're using the old Microsoft.Owin stack. That shouldn't change the expected behavior. When you're active you benifit from CookieAuth's default SlidingExpiration option (https://github.com/aspnet/Security/blob/2d7cd6038fea34b84084685648ac9d0c97be610b/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L92-L96).  However disabling UseTokenLifetime should extend you t

[2017-04-14 14:52] DineshMuralitharan commented on #1177
![image](https://cloud.githubusercontent.com/assets/18349782/25046619/0fe059ca-2150-11e7-8e0e-5379421b268a.png)

As a side note, I do not recommend UseKentorOwinCookieSaver - Thanks for letting me know. i will consider this.

[2017-04-16 12:38] arpit-nagar commented on #1108
Any plans to support .csproj (.net core) type of projects in VS15?

[2017-04-16 14:23] Tratcher commented on #1108
No

[2017-04-17 20:30] HaoK opened #1181 "Auth 2.0 Cleanup: Revisit cleanup events/context"
Sharing context for core IAuthenticationHandler and the events might be a bit awkward, also see if there's any improvements that can be made for the events as a whole

[2017-04-17 22:50] Tratcher opened #1182 "Add ASP.NET Core 1 and 2 cookie auth interop tests"
Cookie auth between ASP.NET Core 1 and 2 should inter-operable. Add some functional tests to verify. If at any point they diverge then we should provide an interop package like we did for Katana.

Note this almost regressed in https://github.com/aspnet/Security/pull/1170

[2017-04-18 15:45] dkrooke opened #1183 "External Provider Authentication"
Hi, I appologise if this is the wrong place to post this question.

I have created a project in VS 2017 and setup external authentication for Facebook, Google & Microsoft.  When testing this feature from within VS using IIS Express it works as expected.  However, I am getting issues when I publish my project to a test environment which is hosted by IIS.

e.g. When I click on my Facebook login link

[2017-04-19 14:44] herecydev commented on #1175
I'm also completely stuck on this situation. Browser redirection is fine for localhost, but within docker it can't route localhost (as this refers to the container).

@JoshYaxley did you get anywhere with this?
@brockallen does the proposed solution seem reasonable?

[2017-04-19 15:17] brockallen commented on #1175
Isn't this a DNS issue? It's logically a separate machine, so the fact that they're hijacking localhost is somewhat deceptive. I'd ask the docker folks (which is certainly not me).

[2017-04-19 16:01] RickBlouch commented on #1179
I have read through the history for much of the Auth 2 issues and have browsed the code in the hoak/auth2 branch trying to get an early understanding of the new system.  I realize it's still a work in progress so I may be too early and if that's the case just let me know, but since the "Named/multi tenant options #35 " is marked as close I'm hoping you can point me in the right direction.

Right n

[2017-04-19 17:32] HaoK commented on #1179
There won't be any way to fork things since there's only a single service collection, but you should be able to register each using the tenant specific name similar to how the cookie name is being set in that post you mention, if you don't know the tenants at startup, can add dynamically schemes via the `ISchemeProvider.AddScheme` https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.A

[2017-04-19 18:23] CoskunSunali commented on #1179
I have a scenario where I implement the things exactly the way @RickBlouch does.

The multiple-schemes solution does not sound like the best scenario - if I don't get it wrong.

The way @RickBlouch and I implement the things makes each tenant able to access only the services specific to itself but the way you suggest by schemes solving the issue requires each tenant to have access to all schemes e

[2017-04-19 18:30] HaoK commented on #1179
So far we have only enabled dynamically adding/removing schemes since its is the first building block needed for multi-tenancy.

To keep each tenant's ability to challenge "Google"/"Facebook" with the new stack, you should be able to accomplish this by replacing some combination of IAuthenticationService/IAuthenticationSchemeProvider/IAuthenticationHandlerProvider to resolve the appropriate tenant

[2017-04-19 19:50] RickBlouch commented on #1179
Forking the pipeline was a pretty clean way to do things so I'm sad to see it go; this feels like a step backwards in that regard.  From top to bottom, my pipeline could be unique per tenant which was great in terms of isolation.  We deal with PCI and HIPAA so the more isolation the better.  It's also not realistic to load all tenants at startup time, I can't imagine that would be the case for ver

[2017-04-19 19:55] HaoK commented on #1179
That sounds right at this point, that said, we will likely spend some cycles to have a 'blessed' way that we encourage for multi-tenancy, so things should get better.  Make sure to be involved in that issue/PR when we start on that work.  cc @blowdart

[2017-04-19 20:03] HaoK commented on #1179
Initial wave of PRs pushed to security/MVC/Identity/MusicStore, tests all passed locally so hopefully no 💥

[2017-04-19 20:43] PinpointTownes commented on #1179
@CoskunSunali haha, thanks!

Multi-tenancy was indeed mentioned a few times during the "Auth 2.0" design: @HaoK was in favor of a "multiple scheme handlers" approach while I was more inclined to think that it was not really scalable and that the best approach would be to have a single scheme handler with potentially an infinity of options, resolved dynamically (per request):
https://github.com/asp

[2017-04-19 20:58] RickBlouch commented on #1179
@PinpointTownes I would be interested to know your findings with the approach you mentioned in that link.  I also believe a single scheme approach with options resolved per request is the cleanest option all around.  Please let me know where I can follow your progress / results of your testing.  I'm not in position right now to be able to play with the 2.0 bits unfortunately.

[2017-04-19 21:04] HaoK commented on #1179
@PinpointTownes I think it should be easier with the new 2.0 stack to implement single handler with infinity options resolved per request if you desire.  Its also possible we end up there for the built in auth handlers as well

[2017-04-19 21:31] CoskunSunali commented on #1179
@HaoK Do I get that right that you the `AuthorizeAttribute` of MVC will iterate through the scheme collection and return `true` as soon as one of the schemes is able to validate the principle/identity?

https://github.com/aspnet/Mvc/pull/6131/files#diff-fbf649a01b0521186bc5d75f07c20d8f

If I am wrong, how do you imagine the `AuthorizeAttribute` working in a multi-tenant scenario?

Apart from that,

[2017-04-19 21:45] HaoK commented on #1179
Well the long answer for authorize is it is evaluating a policy's requirements against a ClaimsPrincipal, which is assembled using a union of all of the ClaimsPrincipals returned from the schemes specified in the policy.

So for multi-tenant scenarios, the question really is what does the policy look like there, and that depends on how the authentication schemes are setup.  If there's a single log

[2017-04-19 22:41] CoskunSunali commented on #1179
@PinpointTownes, @HaoK

I certainly agree. You cannot really initialize the whole tenant instances as part of the first incoming request in an enterprise environment. Imagine having 200 tenants on a server and the server just getting up. Consider the server getting its first request made by a random visitor. Making him wait to initialize 200 tenants all at once and then serving him his request doe

[2017-04-19 22:57] blowdart commented on #1179
@davidfowl @DamianEdwards so they can have a read.

[2017-04-19 22:59] blowdart commented on #1179
@CoskunSunali So how are you identifying tenants in your setup? Host name? path? Something else. I think part of the problem (aside from Hao being limited to identity here) is that everyone wants different ways to identify tenants, so a list of some concrete ones in use would be a good start.

[2017-04-19 23:28] RickBlouch commented on #1179
@blowdart I can't speak for @CoskunSunali but we are doing hostname tenant resolution.  That being said, isn't that just be an implementation detail that should be an abstraction?

You should take a look at [SaasKit ](https://github.com/saaskit/saaskit)which cleanly allows for container and pipeline isolation.  [this](https://github.com/saaskit/saaskit/tree/master/samples/AspNetMvcAuthDemo) sample

[2017-04-19 23:28] CoskunSunali commented on #1179
@blowdart Thanks for your attention! I can certainly agree that this goes beyond identity and that is exactly why I kept repeating that my words should not be taken personally by @HaoK at all. Should I actually create a new issue in the MVC repo and post my loooong comment as a new issue there?

Regarding your question, it is the host name 100% of the time. I have, personally, never heard of anyon

[2017-04-19 23:32] HaoK commented on #1179
I can respond a bit to the auth 2.0 specific pieces, so we definitely are going to support the ability to dynamically add/remove auth schemes, so at a minimum tenants will be able to add/remove specific auth schemes during their load/unload.

I also wouldn't be surprised if some of the default Auth services would need to be tweaked/replaced as well.

[2017-04-19 23:33] CoskunSunali commented on #1179
@RickBlouch and I posted at the same time and wrote the same things.

The resolution of the tenant is just an implementation detail. The problem here is the built in service container and request pipeline being too tied to the startup (bootstrapping?) of the application.

[2017-04-20 02:43] PinpointTownes commented on #1179
@RickBlouch sure! I'll post more details here.

@CoskunSunali let me guess... @blowdart ? :trollface:

What you describe is what I personally call "_heavy multi-tenancy_". It definitely has interesting pros - it doesn't require supporting multi-tenancy in every component because everything is strongly isolated at the service and middleware level and nothing is shared between tenants - but also con

[2017-04-20 02:46] PinpointTownes commented on #1179
/cc @sebastienros

[2017-04-20 02:53] Tratcher commented on #1183
That doesn't look like a publish error. Your server does not appear to have outgoing internet access to exchange the oauth code for an auth token. You can use Microsoft Message Analyzer or similar to examine the server's incoming and outgoing traffic.

Note IIS runs as a different user, so if you require proxy settings it can't get those from your profile.

[2017-04-20 02:54] blowdart commented on #1179
What I want to make clear is the scope here is _just identity_. We're trying to not make things worse in identity 2.0, and still enable you to use it to build whatever multi-tenancy scenarios you already have. This is _not_ about making all of ASP.NET Core suitable for multi-tenancy with little to no work on the developer's part. You are not going to get a per tenant pipeline out of this. The ASP.

[2017-04-20 02:57] HaoK commented on #1179
Well, you don't really mean identity, you mean the Auth (Security repo) stack in AspNet Core :)

[2017-04-20 02:57] blowdart commented on #1179
Oops, yea. Editing :)

[2017-04-20 03:00] PinpointTownes commented on #1179
![image](https://media.giphy.com/media/pwhHdS6Keg9A4/giphy.gif)

[2017-04-20 03:06] HaoK commented on #1179
Yup, I agree, the Security stack should support both resolving different options in the same service, and adding/removing auth services per tenant.  Its probably going to be somewhat interesting getting to the point where its "not too painful"...

[2017-04-20 03:11] CoskunSunali commented on #1179
@PinpointTownes

Not pointing any fingers. Past is in the past :)

Nice term!

Right, if you don't design it carefully and share what can be shared. The setup I have allows me to share singleton services in between tenants if the instance has nothing to do with the tenant itself. For transient and scoped services, well the service container only contains a reference to the `ServiceDescriptor` (was

[2017-04-20 05:32] DamianEdwards commented on #1179
Hi all. Multi-tenancy is a feature that I agree is useful for many customers and applications, and it's an area we intend to investigate for ASP.NET Core as a first-class concern. However, we will do that holistically rather than in a piecemeal fashion across our various components and sub-systems, and it is not in scope for the 2.0 release. That said, where components can make design choices that

[2017-04-20 12:51] RickBlouch commented on #1179
While I look forward to the day when multi-tenancy is baked into the framework as a whole, it was not my intent with the original post to spawn this into an overall framework issue.  I just wanted to understand the go forward strategy that would replace the functionality we're losing in 1.1 specifically with the auth stack.  @HaoK and @PinpointTownes have communicated two such possibilities which

[2017-04-20 19:47] PinpointTownes commented on #1181
@HaoK now that the authentication scheme is not longer stored in the options, retrieving it from the events is next to impossible. What do you think of introducing a `Scheme` property in `BaseContext`?

[code]

If `BaseContext` was moved to this repo, we could even expose it as a strongly typed property:

[code]

[2017-04-20 20:45] PinpointTownes commented on #1179
@CoskunSunali @RickBlouch @HaoK FYI, I just tested the "one scheme, multiple options on demand" multi-tenancy approach with my ASOS 2.0 port and I can confirm it works like a charm, as expected. All you have to do is create a custom `IOptionsSnapshot<T>` and register it in the DI container:

[code]

[code]

[2017-04-21 02:31] CoskunSunali commented on #1179
@PinpointTownes Thank you for the code sample! I am sure it will be of great use for me as soon as the new versions of the packages are released!

Cheers.

[2017-04-21 08:19] JoshYaxley commented on #1175
I managed to hack a solution for the problem by using a custom `Configuration` object where I hard-coded the correct URLs into it (see [this](https://github.com/aspnet/Security/issues/1175#issuecomment-293376825) comment).

Unfortunately, I then ran into a security validation error [here](https://github.com/aspnet/Security/issues/1175#issuecomment-293620896), and I don't know if it is because of t

[2017-04-21 08:23] herecydev commented on #1175
Yep that's exactly the approach I've taken. It kind of makes more sense from a SSO perspective.

[2017-04-21 08:27] JoshYaxley commented on #1175
Does it work? Was there anything noteworthy that I should keep in mind when attempting it myself?

[2017-04-21 10:56] herecydev commented on #1175
Haven't tested fully yet, but yer I see no reason. The `identitydomain.com` is accessible because it lookup this domain from any dns server (like 8.8.8.8).

[2017-04-21 15:57] PinpointTownes commented on #1181
@HaoK another question: do you remember why you've decided to rename `BaseControlContext.SkipToNextMiddleware()` to `Skip()`? The new name is not as clear as the old one, and doesn't really reflect what happens in practice.

[2017-04-21 21:23] HaoK commented on #1181
For events, we have: https://github.com/aspnet/Security/issues/1181 to revisit exactly that question.

The whole Skip/Handled thing is a bit weird, and what makes sense in some uses (SkipToNextMiddleware) makes sense when its being run in the HandleRequest of a callback for an auth request, but doesn't make sense anywhere else.  We can use the same events issue to track revisiting that as well.

[2017-04-22 01:43] John0King commented on #1179
[code]
I don't like this change, what's the benefit of this Change ?

[2017-04-22 04:04] HaoK commented on #1179
More detailed pros and cons of are found in the summary of: https://github.com/aspnet/Security/pull/1151

[2017-04-22 18:45] PinpointTownes commented on #1181
So this is the right place? :trollface:

Weird... but insanely powerful :sweat_smile:

Sure, but doesn't the `BaseControlContext` name imply that the event should be used only where we have flow control (i.e from `HandleRequestAsync`) and where `Skip` really means "skip the default logic and invoke the rest of the pipeline"?

[2017-04-22 19:00] HaoK commented on #1181
Possibly, I think we were using it in a variety events, not just ones that are invoked through the request processing pipeline.

[2017-04-23 01:48] danroth27 opened #1185 "Remove display name for OIDC"
Is there really a good reason to specify a display name for OIDC? Can we make the default extension method for adding OIDC not do that and specify null? I don’t think a generic display name of OpenIdConnect is all that useful. You really need to know which authority you are talking to.

[2017-04-23 02:00] Tratcher commented on #1185
It's better to show a generic name than to not show up at all, no?

[2017-04-23 02:01] HaoK commented on #1185
Why don't you use the authority name as the scheme instead of the default so it doesn't show up as openidconnect.

[2017-04-23 04:51] danroth27 commented on #1185
In my case I don't want it to show up at all because the OIDC provider is in the app.

When would the display name "OpenIDConnect" ever be helpful?

[2017-04-24 18:23] HaoK opened #1186 "Revisit SchemeBuilder/AddScheme"
We probably need some more sugar around adding schemes today, namely:

`authOptions.AddScheme<handlerType>(schemeName, displayName)`

which today looks like:

[code]

In fact, now that we don't have settings in the scheme anymore, we can probably just remove the scheme builder and only have this api.

Thoughts @Tratcher ?

[2017-04-24 18:50] Tratcher commented on #1186
The current one is more future proof, but adding the sugar on top wouldn't hurt.

[2017-04-24 18:54] HaoK commented on #1186
Yeah I guess knowing how auth usually goes, the ability to add stuff later will probably be nice :)

[2017-04-25 19:38] Tratcher opened #1188 "Provide AuthenticationProperties from state in OnRemoteFailure"
https://github.com/IdentityServer/IdentityServer4/issues/1087#issuecomment-297140577
When an remote login error occurs you may need to examine the state that flows with that challenge to understand how to handle it. For error scenarios we don't currently deserialize the state for you, and doing it yourself is pretty awkward.

[2017-04-25 21:41] HaoK opened #1189 "More granular schemes for hosting."
Currently we are just adding one "Windows" auth handler for IISIntegration/HttpSysServer, this is to see if we can support more granular schemes.

[2017-04-25 21:52] Tratcher commented on #1189
With https://github.com/aspnet/AspNetCoreModule/issues/82 IIS will tell us which kind of auth is enabled. Then we can figure out how to register more granular schemes. This would be useful if you have stricter security requirements for some endpoints (e.g. Basic vs Negotiate).

For HttpSys we could register one scheme per auth type, but then you have to specify what the default is in AuthOptions.D

[2017-04-27 06:42] HaoK opened #1190 "Auth 2.0 Part II: Revenge of AuthZ"
Sequel to: https://github.com/aspnet/Security/issues/1179

### Authentication:

### Host Wave PRs:
- [x] HttpSys: https://github.com/aspnet/HttpSysServer/pull/325
- [x] IISIntegration: https://github.com/aspnet/IISIntegration/pull/338
- [ ] AspNetCoreModule: https://github.com/aspnet/IISIntegration/issues/371
- [x] ServerTests

### Cleanup PRs/Issues:
- [x] Options Initializer support: https://git

[2017-04-27 06:47] HaoK commented on #1179
To be continued: https://github.com/aspnet/Security/issues/1190

[2017-04-27 06:47] #1179 closed

[2017-04-27 06:58] anitchanana commented on #1188
I am trying authentication with google as external provider but it is not asking for permissions and directly logging me in.
Earlier it used to ask for the permissions and i had the option to Allow/Deny.

Do you know if there are any changes in that process ?

[2017-04-27 07:12] HaoK opened #1191 "Standardize services.AddXyz() behavior with default config"
Should `AddXyz(o => o = { })` also register the default configuration binding?  The complication is each auth can be called multiple times with the name overload, so one possible soln is to have an AddXyz that takes a name, and binds to the named section.

Examples:
[code]

We also should add more support in the binder for things like PathString which cannot be bound today.

@glennc @ajcvickers @d

[2017-04-27 07:18] anitchanana opened #1192 "Offline access window not displaying"
I am using asp.net core and i have integrated external authentication with google oauth.
When i am trying to login with google,it directly logs me in once i provide the crendentials.

Earlier it was asking me for the permission with Deny/Allow button. I had the option to do either of the two and i was working on the process of handling the case when a user deny permissions to app.

Have there been

[2017-04-27 16:40] Eilon commented on #1191
Interesting problem. How do I add stuff without using any config? Presumably that's also important.

[2017-04-27 18:43] HaoK commented on #1191
Good question, when you say 'without using any config'.  There's two ways to interpret that question.

1. If you mean when there's no config section specified, the binding would be a no-op. But there is a change that all AddXyz's require a IConfiguration to be in DI.
2. If you are asking how to explicitly ignore a default section, that becomes problematic if we unify all AddXyz() overloads to impl

[2017-04-27 20:47] Eilon commented on #1191
Yeah I think (2) is what I'm saying: I happen to have some config sections in config, but I don't want them to be used.

But maybe that's not a problem?

[2017-04-27 20:53] HaoK commented on #1191
Yeah I'm not sure how big a problem this would be, I guess it depends on how much we end up putting in the config for templates by default, but I'm guessing it's mostly going to be strings, which you could just override in the action.

[2017-04-27 21:48] Eilon commented on #1185
Talked to @danroth27 and this shows up in the IdentityService side of the house (the code that's in the MVC Area) because it "leaks over" from the main app's usage of OIDC to connect *to* the IdentityService.

Ideally we would make the OIDC auth provider visible to only the main app and not to the IdentityService, but there might not be a good way to do that.

Right now this is just worked around

[2017-04-27 21:55] Eilon commented on #1191
Yeah maybe it's fine.

@DamianEdwards - thoughts on having *all* the various AddXyz() ServiceCollection extension methods dig up config? I'm not crazy about that, but I'm not sure when it's problematic...

[2017-04-27 22:26] DamianEdwards commented on #1191
I think there's some wider questions to ask here about how we want "convention based configuration" to work, but in the scope of those services that support named options for the purposes of (faux) multi-tenancy/instances, I think @HaoK proposal looks like a fair place to start (we'll likely tweak as we go of course, e.g. I wouldn't use the full type name but rather a nice short name).

[2017-04-27 22:55] Eilon commented on #1191
So we should probably get together and discuss this along with @davidfowl and whoever else ought to be there.

[2017-04-28 07:15] divega commented on #1191
Agreed this is a good starting point and that shorter names could be nicer. Should we group the keys in sections per area rather than putting dot separated namespaces in the keys? The convention also needs to be predictable when there are not named and named things. E.g. Named could always bind to sub keys nested under the key of the not named one:

[code]

[2017-04-28 08:43] HaoK commented on #1191
Well right now auth is the only thing with names, and luckily there's always a name for auth, even in the default case(its the name of the auth scheme), i.e. Cookies, Google, Facebook, so we don't have to do anything special for the default section from any other named section.

An example config for auth + identity might look something like:

[code]

[2017-04-28 09:06] anitchanana commented on #1188
@Tratcher ,
thanks for the help earlier.
I am trying to integrate twitter now, but when i deny app the permission , it returnes with
url?denied=mmHukAAAAAAA0Yp2AAABW7PLTo

how can i get return url from there ?

I am using this code :

twitterOptions.Events = new TwitterEvents()
{
OnRemoteFailure = ctx =>
{
var authProperties = twitterOptions.StateDataFormat.Unprotect(ctx.Request.Query["denied"]);

[2017-04-28 12:58] Tratcher commented on #1188
Twitter is special as it's still using OAuth1a. The AuthProperties aren't serialized into the url, they're only stored in the cookie.
https://github.com/aspnet/Security/blob/cccfbb7957d8bd132a2eceb362a98304d34b28f1/src/Microsoft.AspNetCore.Authentication.Twitter/TwitterHandler.cs#L134-L152

You get them back like this:
https://github.com/aspnet/Security/blob/cccfbb7957d8bd132a2eceb362a98304d34b28f

[2017-04-28 13:39] anitchanana commented on #1188
Thanks
Thats unusual but for last couple of days, with google authentication, they are not displaying consent screen to Allow/Deny app. Have there been any changes to this process. ?

Anything that you have got to know ?

[2017-04-28 13:45] Tratcher commented on #1188
The consent screen is only show the first time you use/approve an app. To see it again you have to revoke the app's privileges from your account. There is also a `prompt` parameter you can add.
https://github.com/aspnet/AspNetKatana/blob/b850cd8b4de61e65bbd7127ce02b5df7c4cb6db5/tests/Katana.Sandbox.WebServer/Startup.cs#L219
https://developers.google.com/identity/protocols/OpenIDConnect#re-consent

[2017-04-28 13:47] anitchanana commented on #1188
Thanks
I logged in using twitter . The cookies set are below.
There is no _Twittercookie .
Is there anything i am missing ?

![twitter-cookie](https://cloud.githubusercontent.com/assets/6780356/25531442/52612778-2c47-11e7-859d-aae97f25f2da.png)

[2017-04-28 13:52] Tratcher commented on #1188
Was that for a success or failure? The cookie gets deleted if you succeed.

[2017-04-28 13:55] anitchanana commented on #1188
It was a success
so mean i will have to try for a failure so check for that .
and the fact that when it succeed , it basically comes back to client whereas , in error it stays at Identityserver app.

[2017-04-28 13:56] anitchanana commented on #1188
For google authentication and consent screen,

i have been using it like

   var googleOptions = new GoogleOptions
            {
                AuthenticationScheme = "Google",
                DisplayName = "Google",
                SignInScheme = "Identity.External",
                //SignInScheme = IdentityServerConstants.ExternalCookieAuthenticationScheme,

                ClientId = ''

[2017-04-28 13:59] Tratcher commented on #1188
It's per challenge:
https://github.com/aspnet/AspNetKatana/blob/b850cd8b4de61e65bbd7127ce02b5df7c4cb6db5/tests/Katana.Sandbox.WebServer/Startup.cs#L219

[2017-04-28 15:11] Tratcher commented on #1191
So you'd have that compose with AddFacebook(options => ...)? E.g. I could define the events in code and the secrets in config?

[2017-04-28 20:18] HaoK commented on #1191
Yeah the idea is that all the AddXyz's will compose

[2017-04-28 23:11] harisbotic opened #1194 "Can't Authenticate JWT Token"
I am using IdentityServer4 running locally on .net core 1.1 and another server running .net core 2.0

Whatever I tried I couldn't authenticate my server, and the console output is following

[code]

And here is piece of code that I use to setup this
[code]

and in Configure method (Startup.cs) I also have `app.UseAuthentication();` before `app.UseMvc();`

[2017-04-29 08:47] alvaradojl opened #1195 "Unable to process openid connect response as fragment"
Hello!
I'm developing a web endpoint protected by a legacy openid connect server,
the configuration on the client website (startup.cs) is the following:

[code]

I'm obliged to set response_type as "token id_token" only.

After requesting an edpoint protected with the [Authorize] attribute, I correctly get redirected to the authorization server which provides a form for the user to login.
Once the

[2017-04-29 13:54] brockallen commented on #1195
fragments aren't sent to the server by the browser, so of course the middleware can't see the values. the use of fragment response mode in OIDC is most common with SPA/JavaScript-based clients, not server-side ones.

[2017-04-29 23:17] harisbotic commented on #1194
@brockallen , @HaoK please...

is it possible that my settings are overridden by some default??

[2017-04-30 06:42] alvaradojl commented on #1195
Hi Brock, thanks for identityserver4 by the way! I use it whenever is possible :) so coming back to the question, what's the point of allowing to set ResponseMode to fragment if there is no way the middleware can intercept it? and the same goes for the option RequireStateValidation, if those options are not possible then they should not be there in the first place, should they?

[2017-04-30 07:29] harisbotic commented on #1194
had to give a name to my JwtBearerAuthentication and then use `services.AddAuthenticationCore` and set default scheme to use that name...

Does it have to be done in this way?

[2017-04-30 07:29] #1194 closed

[2017-04-30 12:47] brockallen commented on #1195
You could use query or form_post for server-side code, although the spec prohibits using query with id_tokens, so it's unclear why they added this to the middleware for OIDC.

[2017-04-30 16:01] PinpointTownes commented on #1195
Since [I'm the guy who's added it](https://github.com/aspnet/Security/pull/279), I can answer that: to support the good old code flow with servers that don't implement the form post extension :sweat_smile:

[2017-04-30 16:02] brockallen commented on #1195
Oh yes, good point -- I had forgotten about code only flow.

[2017-05-01 17:06] marc3lsk commented on #1125
How did you solve SessionIdClaim problem please?

[2017-05-01 17:11] aagarwal10 commented on #1125
SessionIdClaim is hard coded in both AspNet Core & Owin Cookie Library. Since there is no parameter in Cookie Options to configure it, hence I left cookie to be serialized version of Authentication Ticket and not use Redis at all as TicketStore.

[2017-05-01 17:11] #1125 closed

[2017-05-03 12:11] anitchanana opened #1196 "Asp.net core web api with JWT throwing No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access"
Hi
I have implemented JWT in my asp.net core web api. When i try to call url/token from my jquery application, JWT middleware in api works fine as far as checking credentials and generating token. But when it reaches this point
 await context.Response.WriteAsync(JsonConvert.SerializeObject(response, new JsonSerializerSettings { Formatting = Formatting.Indented }));

it returns to my jquery app wit

[2017-05-03 14:01] leastprivilege opened #1197 "Certify OIDC middleware?"
Wouldn't that be useful??

https://openid.net/certification/

[2017-05-03 16:20] Tratcher commented on #1196
@rynowak @blowdart

[2017-05-03 16:24] blowdart commented on #1196
How did you start the app? Templates? Which version?

[2017-05-03 21:26] AlexandreOuellet opened #1198 "aspnetcore : UseGoogleAuthentication throwing "System.Exception: The oauth state was missing or invalid""
Essentially this.

When running on my machine and using a dns wildcard (xip.io), I am able to authenticate through google, and everything seems fine.

When I take the exact same code, and deploy it to a docker container under linux (aspnetcore), I suddenly get errors about "The oauth state was missing or invalid".  At first, I thought it was about related to the redirectURL, but it seems to work j

[2017-05-03 21:31] Tratcher commented on #1198
What does a network/fiddler trace of the requests look like?

[2017-05-03 22:12] AlexandreOuellet commented on #1198
The initial load of the page, I see a http 302 redirect :
HTTP/1.1 302 Found
Date: Wed, 03 May 2017 22:10:26 GMT
Content-Length: 0
Server: Kestrel
Location: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=58661652085-9rql92o8is2u2a793p7u4cqv768vfm3k.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Fsem-armory-dev.eidos.com%2Fsignin-google&scope=openid%20profile%20email&st

[2017-05-03 22:19] Tratcher commented on #1198
That request has the state, we need to see the next request.

[2017-05-03 22:33] AlexandreOuellet commented on #1198
Er...that's about it.

The order is as follow :

1. Initial request to the website with the 302 (the copy/pasted one)
2. Traffic to host accounts.google.com/o/auth2/auth with status 302
3. Traffic to host accounts.google.com/AccountChooser with status 200
4. Traffic to host accounts.google.com/AccountChooser with status 302
5. Traffic to host accounts.google.com/ServiceLogin with ttus 302
6. Traff

[2017-05-03 22:38] AlexandreOuellet commented on #1198
derp me...forgot to include the actual value :
state	CfDJ8MnVEDswM59EnvWrEtgmAPh9UOvefAXWsNe5njsitdirLkRP9a_zF-ORKWI2CD3zGbHu-jy0DY-smHg0sFXAywAI5Xp9WLpnhnlL8yT8SOrVpXMwBEcNiKAJaeOQ8lzshlyVjfnqO3nZdBODFITuZWqZuGW3yta6l_aS7U3GtfLw4Qpi3KXuYRrrgjfyS_EXt5h3SJ57qtxikqSvoIfKsSoKToxIXZcOdFW9cPIugGLtpBvqAoOoXniJ8-rO7iH_wQ

[2017-05-04 05:34] anitchanana commented on #1196
I have implemented JWT middleware in my ASP.NET Core Web API.
Now from my JS application, i am calling url/token url with username and password .
This is the process i have been following .

[2017-05-04 17:54] HaoK commented on #591
We can revisit this now in 2.0, since Auth 2.0 has moved everything over to DI, ISystemClock for example is now a service.  We could do something similar for ITicketStore.  Clearing backlog for re-triage

[2017-05-04 17:57] HaoK commented on #901
For the 401/403 issue, what about if we just make it explicit which schemes are required vs optional on IAuthorizeData/Attribute (today they are all basically optional) i.e.

[code]

This logic would be in some kind of IAuthorizationPolicyEvaluator service that would encapsulate/replace the existing AuthorizeFilter code since it needs to do the authentication as well.

Thoughts @Tratcher @blowdart

[2017-05-04 17:59] blowdart commented on #901
This seems, well, ugly and confusing. What would optional be used for? Are you expecting two concurrent schemes at any point? Like Integrated and Bearer?

[2017-05-04 18:00] HaoK commented on #901
Yeah well so the complication today is that we already support concurrent schemes today, if we were to eliminate that, then we'd be able to just determine 401/403 based on whether AuthenticateAsync succeeded or not.

[2017-05-04 18:02] HaoK commented on #901
I don't remember anymore what scenario exactly it was that required support for multiple authentication schemes, was it mixing cookies + bearer and having a single endpoint that worked against either one?

[2017-05-04 18:09] blowdart commented on #901
That's not concurrent it's either or :) So in that scenario I'd expect [Authorize(Schemes = "Cookie, Bearer")] and it'd work with either. What I can't understand  is what you want to do with OptionalSchemes = "D,E" in your example.

[2017-05-04 18:15] PinpointTownes commented on #901
No, it's additive. All the scheme handlers listed in `ActiveAuthenticationSchemes` are invoked and the resulting identities are merged into a single principal, that is attached to `HttpContext.User`. When returning a challenge, all the specified handlers are invoked and can alter the response.

[2017-05-04 18:15] HaoK commented on #901
That's to have functional equivalence to what we have with today's Schemes = "Cookie, Bearer" where we'd return a 401 if authorization fails.  If we make them schemes 'required', then you'd have to have Cookie AND bearer.

[2017-05-04 18:23] blowdart commented on #901
This still doesn't make sense.

Right now we have Schemes = Cookie, Bearer. Which means it'll run through both, and if either produce an identity we're good, right?

But

[Authorize(RequiredSchemes = "A,B,C", OptionalSchemes = "D,E"]

Required indicates, to me,  "You have to have all of these, no matter what", and optional is just weird. It doesn't say what it means. Does optional also run that mi

[2017-05-04 18:25] HaoK commented on #901
Not quite requirements can be satisfied from either scheme, and today we wouldn't challenge for either of them unless we didn't find a claim we were looking for.

The split is to control the 401 vs 403 behavior.

So you'd use Optional when you want to call authenticate on those schemes but don't want them to trigger a 403 if there's no information for that scheme.

[2017-05-04 18:27] PinpointTownes commented on #901
No need to end up with something complicated.

If at least one of the authentication handlers returns an identity, assume that a `Forbidden` result should be returned by default (i.e the existing behavior), but allow people to override the default "policy evaluator" to force returning a `Challenge` if they prefer requiring multiple schemes.

[2017-05-04 18:32] HaoK commented on #901
Sure, I'm ok with that, we do something sane by default, and have the new interface for the logic so people can override and do their own thing.

[2017-05-04 18:35] HaoK opened #1199 "Consider dropping Active in AuthorizeAttribute.ActiveAuthenticationSchemes"
The active was removed everywhere else, but left in the attribute property.  Would be nice to cleanup if possible.

[2017-05-04 18:36] PinpointTownes commented on #591
Which would necessarily imply that you couldn't use a different store per scheme. A better approach would be to have both an option property and DI injection if the option property is null.

[2017-05-04 18:40] PinpointTownes commented on #1199
Ideally, you should consider removing the authentication part from `AuthorizeAttribute` and move that to a separate attribute, which would allow doing things like that:

[code]

[2017-05-04 18:41] blowdart commented on #901
Yea, the attribute wording doesn't make your desired intent clear at all I'm afraid. The attribute isn't the right place to put this :)

[2017-05-04 18:41] PinpointTownes commented on #1199
/cc @sebastienros you might want to chime in as the outcome of this discussion will impact how things will work in OrchardCore when moving to 2.0.

[2017-05-04 18:45] HaoK commented on #1199
That doesn't sound unreasonable to me, @rynowak @blowdart @Tratcher thoughts?

[2017-05-04 18:46] HaoK commented on #1199
Would we keep the existing semantic today of [Authorize] => [Authenticate] implied?

[2017-05-04 18:46] blowdart commented on #1199
And what would happen if you put Authorize against a method without Authenticate anywhere near?

[2017-05-04 18:47] PinpointTownes commented on #1199
It would use the default authentication scheme handler, as specified in the authentication options. If no is specified, an exception would be thrown, exactly like what already happens in the 1.0 bits.

[2017-05-04 18:48] blowdart commented on #1199
That's not what it looks like.

Consider the average dev.

I want authentication, so I'm going to put authenticate on my controller. What happens now when there's no authorize attribute? Do we assume one on every method? This looks confusing.

[2017-05-04 18:48] PinpointTownes commented on #1199
Yeah, the default authorization policy should still use `RequireAuthenticatedUser()`.

[2017-05-04 18:51] PinpointTownes commented on #1199
Authentication = determining who's the caller.
Authorization = determine whether the caller is allowed to perform a given action (which may or may not imply requiring authentication).

This design is exactly the same as the one that Web API + OWIN used to have (with `HostAuthenticationAttribute`), and I don't think people have ever found that confusing.

[2017-05-04 18:51] HaoK commented on #1199
I'd imagine `[Authenticate]` would be somewhat akin to DefaultAuthenticateScheme, where it will control what's on httpContext.User for the request.  It'd affect how Authorize works since it controls what's the user being authorized against, but that's it.

[2017-05-04 18:52] Rick-Anderson opened #1200 "OnRedirectToIdentityProvider - improve /// comments"
See [this tweet](https://twitter.com/jdpearce/status/859697730305875968)
Does #1173 provide enough information to understand this API?

[2017-05-04 18:55] PinpointTownes commented on #1199
Yep, that's the idea: decoupling the authorization policy evaluation from the authentication schemes.

[2017-05-04 18:55] blowdart commented on #1199
I'd put to you that the average developer doesn't know, or care about the differences here.

[2017-05-04 18:59] PinpointTownes commented on #1199
The average developer is not as stupid as you think. And if you really cared about that, you'd have named `AuthorizeAttribute` `RequireAuthenticationAttribute`, which is a more descriptive name (at least for the default authorization policy) :trollface:

Note: as I said, the design I suggest was already present in Katana and didn't cause any confusion.

[2017-05-04 19:00] Tratcher commented on #901
I think this is getting sidetracked. Challenge is for when I don't know who you are (e.g. Authenticate("RequiredScheme") failed). Forbidden is for when I know who you are, but you don't have sufficient permissions/claims.

[2017-05-04 19:06] PinpointTownes commented on #901
It's a bit more subtle, actually. There are cases where you know who the user is (because you retrieve a valid identity) but want him to re-authenticate anyway (e.g when you to force your users to have a fresh cookie to access sensitive parts of your app): in this case, returning a `Challenge` is the right thing to do, even if the user is already authenticated.

[2017-05-04 19:07] Tratcher commented on #901
Sure, but is that something you'd be implementing from an authz policy, or manually in a controller?

[2017-05-04 19:11] PinpointTownes commented on #901
Ideally, one should be able to do that in an authorization policy. Looks like Hao's API proposal already takes my scenario into account, as it allows flowing a `RequiresAuthentication` flag from the authorization stack to the higher layers (e.g MVC/SignalR's filters):

[code]

[2017-05-04 19:16] blowdart commented on #901
In the subtle case I'd expect that to be in a policy, and policies to have the ability to re-kick off auth; for example "I login and can see my bank account list, but if I need to transfer I must login again", you'd check for a claim saying "I did it a second time"

[2017-05-04 19:20] PinpointTownes commented on #901
@blowdart that's precisely what I'm asking for... for more than 2 years now :trollface:

[2017-05-04 20:03] HaoK commented on #901
As part of this change, all the logic in the higher layers will get absorbed into the new AuthorizationPolicyEvaluator, so the idea is the filters will become very simple and just invoke the service and do something based on the result.

[2017-05-04 20:12] HaoK commented on #901
So to summarize where I think we have landed?

- Nuke ChallengeBehavior
- If any of the authentication schemes were successfully authenticated, and authorization fails, we will return AuthorizationResult.Forbidden.  Otherwise we will return AuthorizationResult.RequiresAuthentication.  AuthZ handlers should also have a way to explicitly toggle requiring authentication which would override the forbi

[2017-05-04 20:14] PinpointTownes commented on #901
Oh yeah, kill it, kill it, KILL IT! :fire:

Sounds good. Any particular reason not to name `RequiresAuthentication` `Challenge` (to match the other result name: `Forbidden`)?

[2017-05-04 20:31] HaoK commented on #901
We can hash out names in the PR, its Challenged right now which is kinda meh.

[2017-05-04 22:28] Tratcher opened #1201 "Bring back Microsoft.Owin.Security.Interop and tests"
These got removed during the netcoreapp2.0 conversion due to complicated dependencies. Figure out how to bring them back.

[2017-05-04 22:51] blowdart commented on #901
Summarising from a meeting this afternoon.

The scenario for two auth schemes is for people who want to expose an API and use it both from 3rd party clients with bearer, and their own app with cookies, because that's easiest for them. The fun part in this is choosing which challenge to send back, because it's client dependent. Traditionally we had the IsAjax test, looking for a header which, if pr

[2017-05-05 04:48] leastprivilege commented on #901
And how do you protect against CSRF in such a scenario?

[2017-05-05 14:19] DaleMckeown commented on #43
This is a blocking issue for us too. We need to be able to use WS-Fed as our ADFS server is running on 2012 r2 and cannot be upgraded without causing widespread issues.

[2017-05-05 14:20] martincostello opened #1204 "Amazon login support?"
I recently implemented support for [Amazon login](http://login.amazon.com/website) in a project by building on top of the OAuth NuGet package.

Would there be any interest in accepting a PR to make an implementation of that available in this repo like there is for Facebook, Twitter etc.?

[2017-05-05 14:29] brockallen commented on #1204
This seems like a more appropriate place: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers

[2017-05-05 14:33] martincostello commented on #1204
Ah, interesting. I wasn't aware of that.. It does indeed look like a sensible place for it.

[2017-05-05 14:38] martincostello commented on #1204
Moved to aspnet-contrib/AspNet.Security.OAuth.Providers#156.

[2017-05-05 14:38] #1204 closed

[2017-05-05 16:35] blowdart commented on #901
Well yea, $64,000 question. And the answer is "Don't do that, use separate endpoints". But people keep doing it anyway. At some point I have to just accept that some folks want to shoot themselves in the foot.

[2017-05-05 18:30] Tratcher commented on #1201
Offline discussion:
- Bring this back for preview1
- DataProtection goes to netstandard2.0 (not netcoreapp2.0)
- Invert the dependency between Hosting and DataProtection by moving the one extension method to the Extensions.Hosting.Abstractions package.

[2017-05-05 19:16] PinpointTownes commented on #1201
On a related note, have you considered moving the DP core APIs to `Microsoft.Extensions.*` and having the hosting adapter in a `Microsoft.AspNetCore.*` package, so OWIN/Katana apps using the interop packages wouldn't have to reference all the ASP.NET Core primitives, that are not used at all in this case?

[2017-05-05 19:19] Tratcher commented on #1201
In hindsight the DataProtection packages should have been named MS.Extensions.DP, but renaming them is not a break we're planning to make right now.

[2017-05-05 21:10] Eilon commented on #1198
@AlexandreOuellet can you share with us a more complete trace, such as from Fiddler, which includes the full set of request/response for this authentication?

[2017-05-05 21:12] Eilon commented on #1197
We should talk to @vibronet to see what they did.

[2017-05-05 21:13] Eilon commented on #1196
@blowdart - can you take another look?

[2017-05-05 21:15] Eilon commented on #1195
For the reasons described above, closing this.

[2017-05-05 21:15] #1195 closed

[2017-05-05 21:17] Eilon commented on #1192
In general the provider (such as Google), will only ask allow/deny the first time, unless either the prompt is *forced* (which it isn't by default), or the list of scopes has changed.

We're not aware of any behavior change in ASP.NET Core that would cause this. Perhaps something in Google's auth flow changed?

[2017-05-05 21:25] Eilon commented on #1185
Given that in https://github.com/aspnet/Security/issues/1186 we will make it easier to clear out the name, we feel it isn't worth adding anything special here. This is a slightly unusual scenario to begin with because the OIDC client and server are one and the same.

[2017-05-05 21:25] #1185 closed

[2017-05-05 21:27] Eilon commented on #1183
This seems like the likely case:

There might be some proxy configuration or firewall setup that is preventing the web server from contacting Facebook's endpoints.

[2017-05-05 21:27] #1183 closed

[2017-05-05 21:47] blowdart commented on #1196
OK, so you started with File New Project "ASP.NET Core Web Application", then you choose WebApi?

What's in your ConfigureServices?

[2017-05-05 22:23] brockallen commented on #1198
Including your google password, please :)

[2017-05-05 22:37] HaoK commented on #901
PR has been updated with the new behavior: https://github.com/aspnet/Security/pull/1193/commits/ecdcf2d539e2b47d07b0c9daf8e117baa19e2d44

[2017-05-06 01:34] brentschmaltz commented on #43
@DaleMckeown we committed an early beta to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet so progress is being made in this area.

[2017-05-06 05:28] Eilon commented on #1198
A fair point 😄 Please redact any tokens that are in there!

Or, in the future... we will all have token binding!

[2017-05-06 14:15] Yves57 commented on #1118
@blowdart Sorry for the question, but because the middleware is (currently?) missing, I need to create a simple version myself :-).
The client certificates that I need to verify are from an self-signed root certificate. Is it enough to check the client certificate validation date and the thumbprint, or more verifications are needed (check if the parent is the same root, or anything else)?
Thank yo

[2017-05-06 16:31] blowdart commented on #1118
Certificate thumbprint is based on SHA1 (We're looking at adding a new property to make it SHA256 based, but changing classes is hard compat wise). Although there's not been any demonstrations that you can generate an X509 certificate with a SHA1 collision yet it's probably going to happen at some point. So I'd look at the thumbprint, the expiration date, the valid from date, the lack of a signing

[2017-05-08 19:50] Tratcher commented on #1201
Problem: We can bring back the interop package now, but the test project doesn't work anymore because it targets both Core and net46 scenarios.
Proposal: Postpone to preview2 and split the test to two full functional tests apps, one for Katana/net46 and one for Core/netcoreapp2.0 and an orchestration test project that sends cookies from one to the other.

[2017-05-08 21:26] PinpointTownes commented on #1201
What's the problem, exactly? This test project used to target `net451` (`net452` would be required with the new xUnit version), so why would it be suddenly impossible to run it?

[2017-05-08 21:28] Tratcher commented on #1201
It was pulling in MS.A.A.Cookies to make sure it could round trip the cookies, and that project no longer supports net451.

[2017-05-08 21:29] PinpointTownes commented on #1201
Arf... :disappointed:

[2017-05-08 21:45] Eilon commented on #1201
We'll get it out for Preview2, there just wasn't time for Preview1. Preview2 isn't very far out 😄

[2017-05-08 21:51] PinpointTownes commented on #1201
That's fine, I had not planned to start using 2.0 before preview2 anyway (and with the recent events, I'm not sure it's even worth it, TBH).

[2017-05-08 21:55] PinpointTownes commented on #1201
Curious: will the RTM version of this package target Katana 3 or Katana 4?

[2017-05-08 21:58] Tratcher commented on #1201
I'm targeting Katana 3.0.1 right now (same as before). None of these features are affected by the changes in Katana 4, so I don't see the need to raise the dependency.

[2017-05-08 22:00] PinpointTownes commented on #1201
Good. As long as there's no API change, binding redirects should allow using it with Katana 4.

[2017-05-08 22:01] Tratcher commented on #1201
yeah. Katana 4 primarily affects OIDC, WsFed, Bearer, & AAD.

[2017-05-09 11:21] borgdylan opened #1207 "Question: Using Oauth Provider without Asp.Net Core Identity"
I implemented authentication manually without core identity and issue cookies. I wanted to allow the user to login with an oauth compatible site such as facebook with using core identity. Is there some customization hook that allows me to implement a handler so that I can handle facebook's return callback myself so that I can link in the new identity with my existing identity system?

[2017-05-09 13:59] Tratcher commented on #1207
The flow for associating multiple logins wasn't built into the Identity framework, it's in the templates:
https://github.com/aspnet/Templates/blob/c91664a01f6b429b9ff3ac17cacd906037f11b19/src/Rules/StarterWeb/IndividualAuth/Controllers/ManageController.cs#L305-L342
You just need to replace the SignInManager and UserManager with your own identity system.

[2017-05-09 15:49] Tratcher opened #1208 "Review Jwt vs OIDC handling of TVP.ValidIssuer vs ValidIssuers"
Inspired by: https://github.com/aspnet/AspNetKatana/issues/55
Jwt and OIDC don't use the same logic for dealing with Issuers:
https://github.com/aspnet/Security/blob/99aa3bd35dd5fbe46a93eef8a2c8ab1f9fe8d05b/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L136-L150
https://github.com/aspnet/Security/blob/99aa3bd35dd5fbe46a93eef8a2c8ab1f9fe8d05b/src/Microsoft.AspNetCore.Authent

[2017-05-09 15:49] Tratcher commented on #1208
@brentschmaltz

[2017-05-10 15:11] corruptmem opened #1209 "Expiring cookies not renewed if exception is thrown"
It seems that if you're using cookie authentication with `SlidingExpiration = true`, and the next middleware throws an exception, the new Set-Cookie will not be sent.

I have written a minimal test case here: https://gist.github.com/corruptmem/9b88e4a9c658e9d6243dcc6aa6fa8231

## Steps to reproduce
1. Request /login to set auth cookie
2. Request /exception every 20 seconds or so

## Actual behavio

[2017-05-10 16:26] Tratcher commented on #1209
If you have unhandled exceptions blowing out your stack on every request then sliding refresh is the least of your worries. Also, even if the cookie middleware refreshed itself here, the server would clear all response headers when dealing with the unhandled exception.

Note the sliding refresh policy kicks in when the cookie is half way to being expired so if you have an occasional unhandled exce

[2017-05-10 17:45] pamanes commented on #219
I am also having this issue when trying to access an MVC app written in the full .net framework 4.6 on azure websites (XXX.azurewebsites.net) with Azure AD auth. I published a web forms app instead and it works just fine. :(

[2017-05-11 00:18] marianosz commented on #1046
I'm still facing the same issue with all the packages updated using net462... Any workarounds?

[2017-05-11 10:02] Halofreak1990 opened #1211 "Is there a way to disable the post-login redirect?"
For our web application, the user needs to perform an optional, custom post-login action, for which we return another view from our login action. However, the user never gets to see this view, because the authentication middleware always redirects to the returnUrl, regardless of whatever result is returned from the Login action.

Is there an easy way to circumvent this automatic post-login redirec

[2017-05-11 10:23] corruptmem commented on #1209
Of course, and I've fixed the underlying unhanded exception. It just happened to notice because it was a failing endpoint that was repeatedly called as part of a very long running process

However, it is still behavior that I didn't see documented anywhere or expect, given that it has the error handling middleware and was correctly returning a friendly error response.

[2017-05-11 15:52] danroth27 opened #1212 "Add a help extensions for setting up OIDC with Cookie sign in"
To setup OIDC with cookie sign in you have to do three things: 1. add OIDC, 2. add Cookies, 3. configure default auth schemes. We should add an help extension that does these three things for you.

Currently we have this code in the template that we should replace with an API in the framework:

[code]
Alternative names: `AddOpenIdConnectWithCookies`, `AddOpenIdConnectWithCookieSignIn`, `AddDefault

[2017-05-11 16:00] PinpointTownes commented on #1212
Doesn't sound like a good idea to me.

If you do that for OIDC, people will want the same thing for all the OAuth1/OAuth2 providers (Facebook, Google, Twitter, MS Account, etc.) and you'll end up with multiple extensions that all update the shared authentication options and replace the schemes set by the previous calls, which won't have the result you expect.

[2017-05-11 16:00] danroth27 opened #1213 "Add a helper extension for setting up JWT bearer authentication"
To setup JWT bearer authentication you have to: 1. add JWT bearer, 2. setup the default auth schemes. We should add a helper extension that does this for you:

The templates currently have this code that should be in the framework:

[code]

Alternative names: `AddDefaultJwtBearerAuthentication`, ...

[2017-05-11 16:02] brockallen commented on #1213
Shared options should die in a tire fire, with all due respect :)

[2017-05-11 16:09] danroth27 commented on #1213
@HaoK @davidfowl

@brockallen Could you please file a separate issue with that feedback (if you haven't already) and add some more details on what you'd like to see changed?

[2017-05-11 16:11] danroth27 opened #1214 "Add a helper extension for setting up authentication with Azure AD"
We should provide some extensions that simplify setting up authentication with Azure AD for both web apps and web APIs. Here is what the templates current do:

https://github.com/dotnet/templating/tree/rel/vs2017/3-Preview2/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Extensions/AzureAd

https://github.com/dotnet/templating/tree/rel/vs2017/3-Preview2/template_f

[2017-05-11 16:11] danroth27 commented on #1214
@vibronet

[2017-05-11 16:13] danroth27 opened #1215 "Add a helper extension for setting up authentication with Azure AD B2C"
We should provide some extensions that simplify setting up authentication with Azure AD B2C for both web apps and web APIs. Here is what the templates current do:

https://github.com/dotnet/templating/tree/rel/vs2017/3-Preview2/template_feed/Microsoft.DotNet.Web.ProjectTemplates.2.0/content/StarterWeb-CSharp/Extensions/AzureAdB2C

https://github.com/dotnet/templating/tree/rel/vs2017/3-Preview2/tem

[2017-05-11 16:15] PinpointTownes commented on #1214
Pretty much what I suggested in November when the AzureAD-specific/non-standard telemetry stuff was added directly in IdentityModel:

https://github.com/aspnet/Security/issues/1035#issuecomment-260133984
https://github.com/aspnet/Security/issues/1035#issuecomment-261291374

[2017-05-11 16:36] HaoK commented on #1213
So shared options are basically a sugar/hack that allow not specifying the scheme for things like Authorize and automatically getting a httpContext.User from cookies, and having remote OAuth providers automatically create an 'Application' cookie.  That said, I'm not sure most people want to see or understand all that complexity, which is why we've always sort of hidden them with default 'shared' o

[2017-05-11 16:41] HaoK commented on #1212
Well the better way to think of this is probably more like AddIdentity which does a lot of opinionated auth setup as well that you have to override if you don't like.  i.e. Identity sets the DefaultSIgnInScheme to its External cookies scheme.  Its an extension for the templates to use, where we don't have that with the other Oauth providers.

That said, Identity is being refactored a bit into Micr

[2017-05-11 16:45] HaoK commented on #1212
In terms of naming, I think something like AddDefault[Something]Authentication is good since the default will help signal that its opinionated.

[2017-05-11 16:45] PinpointTownes commented on #1212
I'm not sure adding more magical stuff is the right answer. The fact Identity does this in a totally non-obvious way is already problematic. Since you can't combine 2 automatic handlers, people will have to find how they can combine cookies + bearer authentication in their applications. If they have to override the default schemes in multiple places, it will be a total mess.

[2017-05-11 16:48] HaoK commented on #1212
Sure, this isn't solving that problem (shared options being used), this is just the equivalent/replacement for AddIdentity's auth logic for the new templates that aren't using AddIdentity to setup auth.

We can certainly revisit that if you have any specific ideas for improvement to include in Auth 2.0 for this, but there's only a single default authenticate (automatic) scheme in 2.0 now, last one

[2017-05-11 16:50] brockallen commented on #1213
Thus the ask :) I see them as analogous to shared/static state that we've all been trying to move away from.

[2017-05-11 16:51] HaoK commented on #1212
Also specifically for "combine cookies + bearer authentication". shared options and defaults can pick either cookies or bearer, but in reality those apps should fully specify the schemes so there's no magic or confusion.

[2017-05-11 16:53] PinpointTownes commented on #1212
True, it just makes the situation worse :smile:

A possible approach would be to stop relying on automatic authentication in the templates and make that something devs would have to explicit enable by registering themselves the right schemes in the shared options. At least, it would make the "am I using cookies or bearer authentication when I register both?" answer way more obvious.

[2017-05-11 16:57] HaoK commented on #1213
Yeah well, templates need to be simple/pretty/clean is the other argument, and in many apps, there really is a good candidate for 'default' authentication scheme (usually a cookie), and if you don't like the sugar, you don't have to use it anyways.

But I'll grant you the fact that the sugar is there has hidden the fact that you can explicitly set a lot of these things...

[2017-05-11 17:00] brockallen commented on #1213
Yea, it's just a reminder about magic am ambient stuff not helping people understand things. As said elsewhere, we already have enough issues about people not knowing how any of this works.

[2017-05-11 17:38] Tratcher commented on #1212
How much of this is an attempt to squash template/sample code? How often do developers actually write this vs have it handed to them?

[2017-05-11 17:41] Tratcher commented on #1213
Isn't this a non-issue for bearer since you only have to set the defaults if there's more than one?

[2017-05-11 17:43] Tratcher commented on #1214
@danroth27 AzureAdOpenIdConnectOptionsSetup has code that looks intended to be customized.

[2017-05-11 17:46] HaoK commented on #1213
Yeah so if this method is the only AddXyzAuthentication called for that template, you should just call AddJwtBearerAuthentication directly and avoid setting the defaults

[2017-05-11 17:58] HaoK commented on #1214
Well customers can just tweak the resulting options with a normal `services.Configure<OpenIdConnectOptions>` instead of editing the setup class too

[2017-05-11 19:03] farshid3003 commented on #553
now there is no return_uri but you did not think to this case
when you code works behind an proxy server like nginx with http protocol and from out you have https (ssl) now when you go to authority server your client redirect_uri is not valid as it will post with http not https.

[2017-05-11 20:20] farshid3003 opened #1216 "removing returnuri from OpenIdConnectOptions cause some problems"
when you code works behind an proxy server like nginx with http protocol and from out you have https (ssl) now when you go to authority server your client redirect_uri is not valid as it will post with http not https.
it is now automatically set my current uri which is not correct for authentication

let explain more
I have a client application which is running on linux on 5000 port : http://127.0

[2017-05-11 20:35] Tratcher commented on #553
@farshid3003 the recomendation for reverse proxies is to use x-forwarded-proto headers and the ForwardedHeaders middleware to apply them to the request fields. Then the redirects can be built correctly.

[2017-05-11 20:39] Tratcher commented on #1216
See my comment on your other post: https://github.com/aspnet/Security/issues/553#issuecomment-300909604

[2017-05-11 20:52] farshid3003 commented on #553
I did it actually  the problem is that when you go to ids with http//* and ids is wating for https.
in the app middle ware set the return_url automatically and set it to http
now I solve it by using events

` Events = new OpenIdConnectEvents
                {
                    OnRedirectToIdentityProvider = OnRedirectToIdentityProvider
                },

and in the method
arg.Properties.Redirec

[2017-05-11 20:52] farshid3003 commented on #1216
I did it actually  the problem is that when you go to ids with http//* and ids is wating for https.
in the app middle ware set the return_url automatically and set it to http
now I solve it by using events

` Events = new OpenIdConnectEvents
                {
                    OnRedirectToIdentityProvider = OnRedirectToIdentityProvider
                },

and in the method
arg.Properties.Redirec

[2017-05-11 22:09] Eilon commented on #1216
@Tratcher - can you show how to specifically set the URL to HTTPS without specifying the entire URL?

[2017-05-11 22:11] Eilon commented on #1211
We think this should be possible. The AccountController's Login method for handling the POST operation typically returns a `Redirect` result. You should be able to change that to return something else, if you like, such as a View. You can then handle the Redirect however you want (if at all).

If this doesn't work for you, please show us your Login method for the POST operation.

[2017-05-11 22:13] Eilon commented on #1209
In this type of "fatal" error condition the only safe thing to do is to reset the request as much as possible and show the error page. The error handler can't by default do anything such as let cookies go through because it can't know what's safe or not. If you have a custom error handler you could certainly customize it to have more advanced or custom behaviors.

[2017-05-11 22:13] #1209 closed

[2017-05-11 22:18] Eilon commented on #1173
Closing because there seems to be little demand for this feature.

[2017-05-11 22:18] #1173 closed

[2017-05-11 22:19] Eilon commented on #1175
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-11 22:19] #1175 closed

[2017-05-11 22:20] #1177 closed

[2017-05-11 22:39] Eilon commented on #83
Closing because there are no plans to do this specific feature.

[2017-05-11 22:39] #83 closed

[2017-05-11 22:40] #240 closed

[2017-05-11 22:42] farshid3003 commented on #1216
you nees to set entie url

[2017-05-11 22:44] Eilon commented on #591
It's not clear which items can really be services because some of them are auth-handler-specific, so resolving them from DI would prevent that. We'll have to see for which specific items this is actually possible.

[2017-05-11 22:45] #1192 closed

[2017-05-11 22:45] Eilon commented on #1192
Closing because there is not enough information for the investigation.

[2017-05-11 22:45] Eilon commented on #1198
Closing because there is not enough information for the investigation.

[2017-05-11 22:45] #1198 closed

[2017-05-11 22:48] Eilon commented on #1191
@HaoK - can you set up a mtg for this?

[2017-05-11 23:21] PinpointTownes commented on #83
@Eilon it's worth noting that community projects are now listed here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/community (people looking for the same low level experience as with the OAuth2 authorization server middleware shipped with Katana should probably try ASOS).

[2017-05-11 23:32] Eilon commented on #83
Ah, of course! I added a link to that doc from the readme as well: https://github.com/aspnet/Security/blob/dev/README.md

[2017-05-12 00:51] danroth27 commented on #1214
Right, all the places where we want to point customers to customize the code we would recreate in the template using a call to `services.Configure<OpenIdConnectOptions>`

[2017-05-12 00:57] danroth27 commented on #1212
I think Cookies, JWT Bearer and OIDC are special in that they are the three most common active authentication schemes. We wouldn't provide extensions that set the default schemes for things like social logins.

[2017-05-12 00:59] danroth27 commented on #1213
Ah, I didn't realize that. I'll try that out, but it sounds like we don't need this one then.

[2017-05-12 01:06] brockallen commented on #1212
In all the projects I consult on, I'm configuring all this stuff manually so they can see what's what. Perhaps I'm in the minority, and they might not know what all the little settings do, but they see that there are all these settings so they know it's all in front of them and they see what properties they might need to go read up on.

[2017-05-12 06:13] farshid3003 commented on #1216
Now I have
`            app.UseForwardedHeaders(new ForwardedHeadersOptions
            {
                ForwardedHeaders = ForwardedHeaders.XForwardedFor | ForwardedHeaders.XForwardedProto
            });
 `
in my code and in nginix config ihave
`        proxy_set_header   X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
`
and also set return_url in event

but af

[2017-05-12 09:01] farshid3003 commented on #1216
I solve 502 after oaut2
the problem is by nginx buffer size
` proxy_buffer_size   256k;
        proxy_buffers   4 256k;
        proxy_busy_buffers_size   256k;`

but this issue does not change any thing microsoft should re open return_url

[2017-05-12 17:32] Tratcher commented on #1216
If you're trying to require HTTPS for some or all of your app then consider using the rewrite components to enforce it. MVC has a similar RequireHttps attribute that you can put on your endpoints that require/initiate auth.

https://github.com/aspnet/BasicMiddleware/blob/08a8493ecc2681668b5a1fff49add9c4c0d8dde0/samples/RewriteSample/Startup.cs#L20

[2017-05-12 18:00] farshid3003 commented on #1216
thank you, you are right but i did it in nginx. connection to nginx is https and it redirects http requests to https and connection from nginx to app is http

[2017-05-12 21:37] HaoK opened #1218 "Consider making Auth handlers public"
They are internal today (prior to 2.0 they weren't really easy to extend/reuse).  There's no reason they can't be public today.  Before events used to be the sole extensibility points, but handlers should now be able to be extended/replaced.

[2017-05-14 08:01] RickStrahl opened #1219 "Example for how to configure CookieAuthentication in ASP.NET Core 2 Preview"
Is there an example somewhere on how to configure Cookie Authenticaiton in the preview?

The [old configuration mentioned in the documentation ](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie) now breaks, and so is no longer valid.

Any examples on how to configure Cookie authentication would be useful. In the meantime app's broken which is kind of sad given that this

[2017-05-14 08:08] davidfowl commented on #1219
https://github.com/aspnet/Security/blob/bdd4d219962201907393734d9fab2903921fec9d/samples/CookieSample/Startup.cs#L16-L21

[2017-05-14 08:10] davidfowl commented on #1219
The gist of the changes are that things were moved from middleware into services.

[2017-05-14 09:32] damienbod commented on #1219
How would you do something like this?

https://github.com/damienbod/AspNetCoreMvcAngular/blob/master/AspNetCoreMvcAngular/Startup.cs#L91-L112

[2017-05-14 11:26] Tratcher commented on #1219
https://github.com/aspnet/Security/blob/bdd4d219962201907393734d9fab2903921fec9d/samples/OpenIdConnectSample/Startup.cs

[2017-05-14 16:40] damienbod commented on #1219
Hi @Tratcher

The new way is more complicated than before. Why was this changed?

Greetings Damien

[2017-05-14 17:30] HaoK commented on #1219
The startup changes for any individual auth aren't really that different except that they have moved to ConfigureServices as opposed to Configuring a middleware.  You can see https://github.com/aspnet/Announcements/issues/232 for more details.

The main things that are different in startup is moving the concept of AutomaticChallenge/Authenticate out of each options into a shared place eliminating

[2017-05-14 18:38] RickStrahl commented on #1219
Thanks for some of the links but neither of those show how to set specific values for the cookie authentication.

My old code used this to specify custom login path:

[code]

I can't find the place (or whatever replaced them) where I can apply these options.

[2017-05-14 18:45] HaoK commented on #1219
[code]

[2017-05-14 19:05] RickStrahl commented on #1219
Aaargh - yes thank you. This is a case where Visual Studio Intellisense didn't show the AddCookieAuthenitcation() and tried working off AddAuthentication() only which didn't have the right settings to set.

This gets me a little further:

[code]
and `app.UseAuthentication()` in `Configure()`.

However this gets me:

So there's something else missing here.

+++ Rick ---

[2017-05-14 19:28] Tratcher commented on #1219
Stack trace? The calling methods also changed. See the announcement.

[2017-05-14 19:44] RickStrahl commented on #1219
The announcement doesn't give much info. I'm not sure what I can't figure out what this is trying to say:

       context.Authenticate|Challenge|SignInAsync("scheme"); // Calls 2.0 auth stack

Here's what I have in my existing auth method that works in 1.1:

[code]

Stacktrace:

[code]

I also tried this in addition to `AddCookieAuthentication()` in `ConfigureServices()`:

[code]

but no luck. Som

[2017-05-14 19:51] HaoK commented on #1219
HttpContext.Authentication.SignInAsync is the old  auth 1.0 stack. Drop the authentication. We will depreciate the old apis in preview2 so it will be more obvious in the future.

[2017-05-15 00:44] RickStrahl commented on #1219
I'm not sure what you're saying? What do you mean drop the authentication? I have an API that needs to create a signin cookie.

Are you saying this isn't implemented in this preview?

[2017-05-15 01:11] dotnetchris commented on #1219
The authentication system of ASP.NET CORE is nightmarishly over-engineered.

What in the world happened to the simplicity override the Authorize method that used to exist in ASP.NET MVC?

I get that Microsoft is trying to do everything possible to eliminate people from rolling their own auth by making it pretty much impossible to roll your own, but that one size fits all is a very naive end produc

[2017-05-15 02:03] HaoK commented on #1219
@RickStrahl I mean you need to call `httpContext.SignInAsync` instead to call the 2.0 authentication stack.

[2017-05-15 04:04] RickStrahl commented on #1219
LOL! Sure enough that's it!

Miscommunication. So this now works:

[code]

I'll write that up tonight for my own sanity.

Thank you.

[2017-05-15 04:04] #1219 closed

[2017-05-15 04:07] RickStrahl commented on #1219
@dotnetchris It doesn't have to be all difficult. The code I use here is an example of a very simple auth implementation that's no more complicated than Forms Auth in classic ASP.NET. You still need the config stuff, but the new config that's mentioned here is actually less than 10 lines of code, so not exactly difficult.

I do agree if you go full bore with the entire identity system then things

[2017-05-15 12:42] piolo94 opened #1220 "EditProfile page doesn't load Azure AD B2C"
Hi everyone! I'm trying to use the authentication service given by Azure AD B2C with the new AspNetCore 2.0 template, but I'm having a little issue. I've build a new WebApp application from the given template in Visual Studio 2017 15.3 Preview and I've configured the Signup, Signin and EditProfile policies, but while the first twos are working perfectly, the last one's giving me some problems: in

[2017-05-15 15:07] Halofreak1990 commented on #1211
@Eilon I've pasted some of the code below:
[code]

So, what happens here, is that our SignInManager implementation has set a 'Person' object in the session, which contains a bunch of properties. A Person can be connected to multiple companies, but can only act for one company at a time. If the user does not yet have a 'preferred' company, then this code will return a view that will allow the perso

[2017-05-16 19:39] Tratcher commented on #1220
@javiercn @danroth27

[2017-05-16 20:01] danroth27 commented on #1220
@gsacavdm @vibronet

@piolo Could you please share the Azure AD B2C configuration in your appsettings.json file?

[2017-05-17 07:38] piolo94 commented on #1220
Sure! Here you are:
`"Authentication": {
    "AzureAdB2C": {
      "AzureAdB2CInstance": "https://login.microsoftonline.com/tfp",
      "ClientId": "<MyClientId>",
      "CallbackPath": "/signin-oidc",
      "Domain": "<MyDomain>.onmicrosoft.com",
      "SignUpSignInPolicyId": "B2C_1_SignIn",
      "ResetPasswordPolicyId": "B2C_1_ResetPassword",
      "EditProfilePolicyId": "B2C_1_Edit"
    }
  }`

[2017-05-17 15:51] danroth27 commented on #1220
When you browse to https://login.microsoftonline.com/tfp/<MyDomain>.onmicrosoft.com/B2C_1_Edit/v2.0/.well-known/openid-configuration and https://login.microsoftonline.com/tfp/<MyDomain>.onmicrosoft.com/B2C_1_ResetPassword/v2.0/.well-known/openid-configuration do you get back a JSON configuration document? I'm just trying to check that the Policy IDs are correct.

Also, can you look at the network

[2017-05-17 16:13] piolo94 commented on #1220
When I check the two policies with the urls, I get back the corrects Json files, containing the configuration.
When I run the project and after login i try to open the profile page, the authorize response contains valid "state" value and "id_token", without any error. Right after. the browser calls signin-oidc passing "state" and "id_token" but the response is a redirect to the localhost home page

[2017-05-17 22:50] HaoK commented on #1191
New tracking issue with current POR: https://github.com/aspnet/MetaPackages/issues/117

[2017-05-17 22:50] #1191 closed

[2017-05-18 11:32] NikasZalias commented on #1165
I am getting this error:

`System.AggregateException: Unhandled remote failure. (Code was not found.) ---> System.Exception: Code was not found.
   --- End of inner exception stack trace ---
   at Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler`1.<HandleRemoteCallbackAsync>d__6.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runt

[2017-05-18 11:38] martincostello commented on #1165
@NikasZalias The middleware doesn't seem to nicely handle permission being denied by the end user, so you end up with an error page. I've worked around this by wrapping the `OAuthEvents` and adding a custom handler for `OnRemoteFailure`, which then does a custom redirect if the user denied permissions.

For example:

[code]

There might be more conditions that indicate this, but these three all ha

[2017-05-18 16:45] Eilon opened #1221 "Remove obsolete AuthorizeAttribute.ActiveAuthenticationSchemes property"
See https://github.com/aspnet/Security/issues/1199 where we marked it as obsolete, and added a new, better-named property.

[2017-05-18 16:46] Eilon commented on #1199
After some discussion about breaking changes, we feel it would be better for 2.0.0 to:

1. Add the new property that has the new name we want
2. Keep the old property, but mark it as obsolete and point people to use the new property. The old property would just call into the new property.
3. In 3.0.0 delete the old (obsolete) property: https://github.com/aspnet/Security/issues/1221

[2017-05-18 16:49] PinpointTownes commented on #1199
So the plan only consists in renaming `ActiveAuthenticationSchemes` to `AuthenticationSchemes`? :open_mouth:

I really doubt it's worth introducing a breaking change for such a trivial/pointless thing.

[2017-05-18 20:53] gsacavdm commented on #1220
Hey @piolo94 , as @danroth27 indicated, the best way to help debug this is by looking at the network trace (F12 in the browser) to see the request sent to Azure AD B2C and the response from it.

Generally, those redirects are a result of B2C dealing with a bad request and redirecting back to the app with error details embedded in the query string or the post body.

[2017-05-18 21:42] Eilon commented on #1199
@PinpointTownes we think that trying to have more consistent names has advantages, especially when the cost is very low.

[2017-05-18 21:46] Eilon commented on #1189
No current plans to do this. Will revisit based on feedback.

[2017-05-18 21:50] Eilon commented on #1172
@rynowak - putting this on your plate.

[2017-05-18 21:55] Eilon commented on #1137
@danroth27 - is there anything here you are still expecting to change? If so, can you clarify the scenario?

[2017-05-18 22:02] rynowak commented on #1172
Discussed this with @HaoK - for now what we're talking about is adding this metadata to https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Authentication.Abstractions/AuthenticationScheme.cs

We were talking about adding another property, but I think I like better the idea of having a property bag. @HaoK @Tratcher @davidfowl thoughts?

[2017-05-18 22:06] PinpointTownes commented on #1199
@Eilon I'm not saying that name changes are bad (I'm looking at you, `AuthenticateResult`...), but if you decide to break things, then maybe you should go further and revamp this part a bit.

In 2.0, there'll be no way to do per-request authentication middleware selection using pipeline branching (see https://github.com/openiddict/openiddict-samples/blob/master/samples/CodeFlow/AuthorizationServer

[2017-05-18 22:17] HaoK commented on #1172
There used to be a property bag on the Scheme called Settings, so I'm not opposed to adding it back.

Yeah we'll need to invent a way to round trip the scheme, its usually the User.Identity.AuthenticationType but that's more of a convention than any requirement.

[2017-05-18 22:56] danroth27 commented on #1137
What's the resolution on this ask? How are we supposed to determine which schemes to use for external logins?

[2017-05-19 00:23] HaoK commented on #1137
Same as today, set DisplayName to null to signify that it shouldn't be shown.

[2017-05-19 03:23] rynowak commented on #1172
Alright, I'm going to schedule some time tomorrow where we can review this part since it sounds like I'll need to implement this

[2017-05-19 03:27] rynowak commented on #1172
Digging a little deeper into this, it looks like the place to do this is in your new PolicyEvaluator code. This is the one that actually is invoking authN policies and has both the schemes and the identities that are produced. https://github.com/aspnet/Security/pull/1193/files#diff-2626d1375c0611c39e43c0391a927bfaR41

[2017-05-19 04:57] HaoK commented on #1172
Yeah, so the policy evaluator definitely can check if all schemes are not persistent, does antiforgery run after the authorize filter?

[2017-05-19 05:03] rynowak commented on #1172
I guess I was imagining that the evaluator would attach the schemes to the principal, and we could check if the are persistent or not in the antiforgery filter.

Yes, it already has to because the token is only valid for the identities we used to generate it in the first place.

[2017-05-19 05:24] Eilon commented on #1199
@PinpointTownes - we've been doing some thinking around modular applications (e.g. tenants) so there might be a story for this. I agree it's not easy at all with what we are working on.

[2017-05-19 05:33] HaoK commented on #1172
Ok that makes things a lot easier if the antiforgery filter runs after the authorize filter, I'm assuming there's a way for us to pass information from the authorize filter to the antiforgery, so then its just a matter of having the new policy evaluator figure out whether its authentication result is persistent.

Soo looking at https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspN

[2017-05-19 05:34] HaoK commented on #1172
Altho there is the code path where context.User has already been set and the policy is relying on that ambient user.  Normally that means the DefaultAuthenticateScheme set the user, but I don't think we can rely on that, I'm not exactly sure what the soln is there, we'll have to figure that out tomorrow...

[2017-05-19 06:15] ryanelian commented on #1190
Hello, I've been reading the threads from https://github.com/aspnet/Announcements/issues/232

I have a question, let's say I have an authentication setup like below:

[code]

The goal of above code is to prevent API-type endpoints (that returns JSON) to redirect user to login page when authentication fails. (Instead just return 401 Unauthorized or 403 Forbidden)

How can I do this using the new au

[2017-05-19 06:17] NikasZalias commented on #1165
@martincostello how to call this method in controller? because when I go to ExternalLogin action which looks like this:
`       [HttpGet]
        [AllowAnonymous]
        public IActionResult ExternalLogin(string provider, string returnUrl = null)
        {
                var redirectUrl = Url.Action("ExternalLoginCallback", "Account", new {ReturnUrl = returnUrl});
                var properties

[2017-05-19 06:24] martincostello commented on #1165
@NikasZalias You need to hook up a handler for `RemoteFailure` to the `Events` property of an instance of `FacebookOptions` when registering Facebook for use, so you'll need to use one of the overloads of `UseFacebookAuthentication()` that takes an instance of `FacebookOptions` as a parameter.

[2017-05-19 06:26] bhlee90 opened #1223 "Issues with NuGet packages "Microsoft.AspNetCore.Authentication.Cookies" and "Microsoft.AspNetCore.Authentication.OpenIdConnect""
There seem to be issues with NuGet packages "Microsoft.AspNetCore.Authentication.Cookies" (1.1.2) and "Microsoft.AspNetCore.Authentication.OpenIdConnect" (1.1.2). After I logged in with my work or school account and logged out, I was ultimately redirected to "https://localhost:44353/signout-callback-oidc", but I should have been redirected to "https://localhost:44353/" because my "config.json" is

[2017-05-19 06:35] bhlee90 commented on #1223
One key difference that I noticed between the 1.1.2 and 1.0.2 logs is that the 1.1.2 log has the following line:

`Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker:Information: Executing action method WebApp_OpenIDConnect_DotNet.Controllers.AccountController.Login (WebApp-OpenIDConnect-DotNet) with arguments ((null)) - ModelState is Valid`

The 1.0.2 log has the following line:

`Microsof

[2017-05-19 07:55] NikasZalias commented on #710
@PinpointTownes your answer saved me! I was looking for an answer to this question for a week! :))

[2017-05-19 08:22] piolo94 commented on #1220
Hey everyone! Thank you very much for your patience! We've tried to find any message of error in the network trace, but none was found. We tried to call directly the request URL  to EditProfile policy and we got an error page. So we've put a break point in the AzureAdB2COpenIdConnectOptionsSetup class and we found that the OnRemoteFailure method was called. The failure message contains "Correlatio

[2017-05-19 11:30] piolo94 commented on #1220
Ok guys! Now everything is working! I've recreated several times each single policy and I've found that probably there's a problem with the cases: when the request in local is prepared, the name of the requested policy is always passed in lowercase and everything works only when also on Azure a policy is written in lowercase. Is that possible, or I should check for another problem? Thanks!

[2017-05-19 12:37] PinpointTownes commented on #1223
This is a deliberate (breaking) design change, explained in this "announcement": https://github.com/aspnet/Security/issues/1087.

[2017-05-19 12:59] PinpointTownes commented on #1181
@Eilon I see you moved this item to preview3. If it can help make it happen sooner, I'd love to work on it and come up with a formal API change :sweat_smile:

[2017-05-19 14:20] Tratcher commented on #1190
@ryanelian The Policy recommendations in https://github.com/aspnet/Security/issues/1062 still work for your scenario.

[2017-05-19 14:43] ryanelian commented on #1190
I just read that link. I don't understand.

If I'm not mistaken, I'm supposed to put a policy in my Authorize attributes so it take effect, like: `[Authorize("ApiPolicy")]`. But I don't see how **that** is relevant for branching my authentication middleware. Besides,

- I do not wish to pollute my Authorize attributes with policy just for doing this...

- If you have seen my above example, both mi

[2017-05-19 16:18] Eilon commented on #1181
@PinpointTownes we'd certainly be open to that. If you can share a concrete proposal then we can start the discussion! I don't recall the exact background of this issue, so I'm not entirely in the loop on what the requirements/proposals are here.

[2017-05-19 16:23] HaoK commented on #1190
You can't do that anymore, each scheme is now unique, and since they are no longer middleware you can't branch your app to use the same logical scheme for different middleware.  You will need to setup two schemes, "Api", "Cookies"

[2017-05-19 16:24] HaoK commented on #1181
Yeah feel free to submit a PR @PinpointTownes, I'm just slammed right now

[2017-05-19 16:34] ryanelian commented on #1190
I have a mixed feeling about this. I feel that the change unnecessarily complicates the development. The service-based authentication feels like 10 steps backward to me, idk.

There should be a simple way to define schemes used for routes condition...

But okay, let's say I can just explicitly tell the API Controller to use `Api` scheme, I'll just need to set the `CookieName` to the same name as t

[2017-05-19 17:13] PinpointTownes commented on #1181
@HaoK will do, thanks!

Quick question: do you recall why the context classes derived from `BaseAuthenticationContext` class (i.e `SignIn/SignOut/Challenge/ForbidContext`) need to expose both the `HttpContext` and the authentication scheme?

It seems a bit weird, because both the context and the scheme are already injected into the handler via `Task InitializeAsync(AuthenticationScheme scheme, Htt

[2017-05-19 17:15] Eilon commented on #1213
Closing this issue because it ends up being a one-liner anyway.

[2017-05-19 17:15] #1213 closed

[2017-05-19 17:40] Eilon commented on #1212
We should add a new `AddOpenIdConnectCookieAuthentication` method, but we need to figure out where it can go.

The purpose of this API it to have a scenario-focused helper API. It's higher-level than the low-level "atom" methods that are needed by more complex scenarios.

[2017-05-19 17:45] Tratcher commented on #1181
They were on there because the base class is shared with the events (which it shouldn't be).

[2017-05-19 17:48] PinpointTownes commented on #1181
So it's really just a side-effect of sharing the same base class when you shouldn't be, not an intentional decision to enable some sort of edge scenarios?

I this case, I guess we can remove all the context classes from aspnet/HttpAbstractions, right?

[2017-05-19 17:51] PinpointTownes commented on #1212
Not in the core packages, please.

It's so "scenario-focused" that it can't be used to configure an OIDC provider as an external provider in an app using ASP.NET Core Identity (it will spawn an additional cookies handler instead of using the external cookies handler configured by Identity). Yet, it's an extremely frequent scenario, and not low-level at all.

[2017-05-19 18:09] HaoK commented on #1190
If there was a way to specify services per route/request/context that would just work, but there isn't today...

I'm not sure what you are asking about with the cookie name, but you can keep using the cookies as the DefaultAuthenticateScheme for your non API requests, if your API controller is going to explicitly ask for the API.

[2017-05-19 18:10] HaoK commented on #1181
Yeah I was feeling that way as well, the context classes were needed when we were doing the accept dance, but they have basically no value now, I can do that as part of my change to removing ChallengeBehavior

[2017-05-19 18:17] PinpointTownes commented on #1181
FYI, I already revamped the `IAuthenticationHandler` methods signatures locally, but feel free to go ahead :smile:

[2017-05-19 18:22] HaoK commented on #1181
You want to rebase and push your changes into the haok/forbid branch in https://github.com/aspnet/HttpAbstractions/pull/842

[2017-05-19 18:22] HaoK commented on #1181
I haven't updated any of the downstream repos for that change yet, so I might as well update them with this change at the same time

[2017-05-19 19:23] danroth27 commented on #1220
@Tratcher Does the OIDC auth handler mess with the casing of the Issuer URI?

[2017-05-19 19:52] Tratcher commented on #1220
No

[2017-05-19 21:30] danroth27 commented on #1220
@piolo94 I just tried creating a new ASP.NET Core 2.0 app that uses policy IDs with mixed casing and it worked fine. Can you help me out with the exact steps need to reproduce this issue?

@gsacavdm Any ideas on where this casing issue might be happening?

[2017-05-19 21:58] gsacavdm commented on #1220
If @piolo94 shares the Correlation ID from that correlation error he mentioned we should be able to take a look from our end, or even the tenantID might suffice. As @danroth27, policy names aren't case sensitive.

@piolo94 , out of curiosity, was this using built-in policies or custom policies?

[2017-05-20 04:48] bhlee90 commented on #1223
Right, I read that [announcement](https://github.com/aspnet/Security/issues/1087) before I created this issue. I forgot to mention that I read it in my original comment.

However, I still don't understand why my web app does not redirect me back to https://localhost:44353/ after logging in and out of my work or school account. Also, after I log in and out of a Microsoft account,  I am not redirect

[2017-05-20 09:37] ryanelian commented on #1190
Let's say in 1.1, I make a cookie authentication scheme called `MyAppIdentity`.

Apparently ASP.NET will make a cookie for that scheme named `.AspNetCore.MyAppIdentity`.

Now you're advising me to make 2 separate authentication schemes, 1 = cookie for UI, 1 = cookie for API. Let's say I do that,
- Authentication scheme for UI-type Controller = `Cookie`
- Authentication scheme for API-type Controll

[2017-05-20 14:39] vRITHNER opened #1224 "AddOpenIdConnectAuthentication doesn't work with 2.0.0-preview2-25108"
Hi,
Any app I try to create with aspnetcore 2.0.0-preview2-25108 doesn't work because

Even your sample
`OpenIdConnectSample`
doesn't work

[2017-05-20 16:50] HaoK commented on #1190
I don't think there should be any issues targeting the same cookie name with different schemes, you might have to make sure to configure the TicketFormat for both schemes to be the same if you are going to read the same cookie in either scheme.

[2017-05-20 17:06] ryanelian commented on #1190
Awesome.

So setting the same `CookieName` is not enough?

Sorry, I haven't heard about TicketFormat before. I saw https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing but I don't really get what I am supposed to configure.

Mind providing code sample for this? Thanks again.

[2017-05-20 17:27] Tratcher commented on #1190
Just CookieName should be enough.

That said, with AutomaticAuthenticate and AutomaticChallenge removed from CookieAuthOptions, why do you still need two auth middleware? Nulling out the paths has never had any effect.

[2017-05-20 17:37] ryanelian commented on #1190
Oh did they in 1.1? TIL.

I thought if you don't set them as false / nulled out , they'll kick you to login / access denied path, which is not preferable for API-type Controllers. (You'd want instead just a status code response indicating that the request is unauthorized / forbidden)

I don't know, I've been using that technique since forever, never noticed if they don't have any effects anymore o

[2017-05-20 17:50] Tratcher commented on #1190
No, that behavior was caused by AutomaticChallenge = false, the middleware was being bypassed for challenges. Null paths were always set to defaults by the middleware.

I suspect that 401 status code was being set by the IISIntegration middleware, which always assumed windows auth was enabled (AutomaticChallenge = true). This is going away soon: https://github.com/aspnet/IISIntegration/issues/371.

[2017-05-20 17:59] ryanelian commented on #1190
[code]

Ohhh yesss, that's what I'm talking about. 👍 🌶 🔥

Will that behavior be enabled by default on the 2.0.0 Authentication Cookie?
So I don't need 2 authentication schemes after all?

[2017-05-20 18:24] Tratcher commented on #1190
The Location header does not trigger redirects, the status code does.

[2017-05-20 18:37] ryanelian commented on #1190
Oh okay.

So to recap, the new cookie authentication scheme will not redirect when it's AJAX request, by default, but instead returns 401 when not authenticated, or 403 when access denied.
Therefore I don't need 2 different authentication schemes just to handle that behavior in 2.0.0.

Am I understanding that correctly?

Alrighty then, thank you guys. Great job over there, keep it up. 👍

[2017-05-20 18:42] Tratcher commented on #1190
Note 1.0 behaved the same way.

[2017-05-20 18:45] ryanelian commented on #1190
Huh... Now that's curious. I wonder why I did that in the first place then.

I vaguely remembered long ago that it bounced me to other page when my Angular service hits an unauthorized / access denied controller.

Oh well. Thanks for info.

[2017-05-22 07:14] agc93 commented on #1026
Has there been any movement on this?

My customer uses SAML for SSO and it looks like I'm going to have to move away from ASP.NET Core as I can't find a working SAML 2.0 provider for ASP.NET Core.

[2017-05-22 08:22] ry8806 opened #1225 "Sharing Cookies between Web Applications"
Hi, I've been following the Documentation on Sharing Cookies between Web Applications here: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing

I have it working, however, instead of doing the following (like the docs mention):

[code]

I've actually implemented it in the following way:

[code]

I chose this way of implementing because I do not have

[2017-05-22 08:36] Gillardo commented on #1026
I am using saml with dotnet core... but I had to pur cu ase the software... although it was very cheap. If u want to PM me I will let u know details

[2017-05-22 10:13] piolo94 commented on #1220
Ok guys, I've done some tests and I think that I've found something. My SignIn/SignUp policy on Azure is named "B2C_1_Customer-Web-Access". If I copy this string in the appsettings.json, I am able to login but the other polcies doesn't work at all. If I let this name on Azure and in the appsettings.json I refer to this policy with the same string, but in lowercase ("b2c_1_customer-web-access"), ev

[2017-05-22 11:54] Tratcher commented on #1224
While I did find a number of other issues with the samples (https://github.com/aspnet/Security/pull/1226), I'm not reproducing your issue in the latest dev branch. It sounds like a legitimate configuration error. OpenIdConnectSample does not include the ClientId config, it needs to be added on your own machine. I have mine set as an environment variable.

[2017-05-22 15:09] gsacavdm commented on #1220
Ah, great catch @piolo94 , this is due to the `.Replace(defaultPolicy, policy)` statement in the `OnRedirectToIdentityProvider`.

@danroth27, can you fix this in the template, we should just add a .ToLower() where we retrieve the policies.

[2017-05-22 15:39] Eilon commented on #1212
@PinpointTownes do you have some thoughts on what would be a useful scenario-focused helper, but wouldn't be too restrictive? It's always a challenge to balance out the two. I think for a lot of developers having a nicely-named method that "does exactly what I want" is very useful. And, I also agree that we want to make sure it isn't a "pit of failure" where the moment you want to do something eve

[2017-05-22 15:57] PinpointTownes commented on #1212
@Eilon I don't believe adding generic helpers is the right answer to this problem, because there's really no "unique way" to use OIDC in ASP.NET Core. Adding new extensions would also make the situation more confusing than it is already (most people have no idea if/when/how they should use `app.UseJwtBearerAuthentication()` or `app.UseOpenIdConnectAuthentication()`).

IMHO, it would be much better

[2017-05-22 16:17] danroth27 commented on #1220
Ugh, yeah, we should probably do a case insensitive replace:

[code]

[2017-05-22 16:18] danroth27 commented on #1215
We should fixe https://github.com/aspnet/Security/issues/1220 as part of this

[2017-05-22 18:14] vRITHNER commented on #1224
Hi,
Thanks for the tip.

I've a request about the other sample with Azure AD connect; it could be great to have access (read-only) to a Azure sample instance to see all settings; I tried to replicate the sample with my own Azure instance and I surely made a mistake somewhere because when I click login, nothing happen...

Txs
-Vince

[2017-05-23 02:06] Tratcher commented on #1224
Have you tried these docs?
https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/

[2017-05-23 03:35] Tratcher commented on #1225
You're better off configuring DataProtection centrally in DI as shown here:
https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview

Having a single shared string is very weak, and breaks users if you ever have to change it. Check out https://github.com/aspnet/DataProtection for some samples, alternate sharing sources, etc..