[2016-10-21 13:47] coddo opened #1010 "External Login SignInManager problem"
Hi,

I have an issue with using external authentication methods, more precisely, I'm trying to sign in using Google. I always get `null` when calling `await _signInManager.GetExternalLoginInfoAsync()`. The application appears as authorized in my google account and requests seem to have no errors in the developer console.

I am using the latest .NET Core Web Application templates, with Individual A

[2016-10-21 21:20] Tratcher commented on #978
@brentschmaltz says this is due to some browsers having a 2kb limit and AAD reserving a little room for itself.

[2016-10-21 21:34] brockallen commented on #978
And by "some browsers" we're talking about IE which is out of support. So it needs to be expanded somewhat on the azure side IMO, or optimize on the OIDC MW side to reduce the state size.

[2016-10-21 21:49] Tratcher commented on #978
Re-opened for triage.

[2016-10-22 18:22] atuzovic opened #1011 "Allow access to PolicyMap in AuthorizationOptions"
This request is related to AuthorizationOptions class in Microsoft.AspNetCore.Authorization library.

Due to architectural reasons, we need to access registered policies that are stored in AuthorizationOptions class as:
`private IDictionary<string, AuthorizationPolicy> PolicyMap { get; } = new Dictionary<string, AuthorizationPolicy>(StringComparer.OrdinalIgnoreCase);
`

This class has method allow

[2016-10-22 19:04] Tratcher commented on #1009
I'm starting to wonder how much of this has to do with using cookie auth for WebApi scenarios. This is not recommended, JwtBearer is more appropriate.

[2016-10-23 18:29] 01binary opened #1012 "Microsoft Account Authentication not working"
Following basic steps below, Microsoft Account Authentication is returning the following:

`We're unable to complete your request
Microsoft account is experiencing technical problems. Please try again later.`

with this URI:

`https://login.live.com/err.srf?lc=1033#error=invalid_request&error_description=The provided value for the input parameter 'redirect_uri' is not valid. The expected value is

[2016-10-23 19:13] 01binary commented on #1012
Tried entering a different email address, and this time got a different error:
<img width="566" alt="screen shot 2016-10-23 at 12 10 16 pm" src="https://cloud.githubusercontent.com/assets/19985964/19628763/d1d4fa32-9919-11e6-9df1-515e188d36ac.png">

Turns out it is something wrong with the middleware. I don't have `https://localhost:5001/signin-microsoft` configured in my app, since I don't have a

[2016-10-23 19:22] alobakov commented on #1009
Based on the logic that is apparently causing this error, I'd think that it could easily manifest itself in a regular web controller as well, and the user would see the "400 - Bad request" message in their browser after trying to refresh a protected page left idle for a long time. And I'm guessing any further attempts to refresh the window would keep failing until the auth cookie (expires:session)

[2016-10-23 20:23] 01binary commented on #1012
Allright, so the default CallbackPath was set to a value that didn't match what was going on in my app.

Two questions here:

- Would it be better not to supply a default for CallbackPath so calling `UseMicrosoftAccountAuthentication` will throw an error telling you this param is required must be provided?

- When I did supply CallbackPath, the setting didn't work correctly. It sent `https://local

[2016-10-23 20:23] #1012 closed

[2016-10-23 21:21] Tratcher commented on #1012
Check out the docs comments:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationOptions.cs#L31-L35

CallbackPath is used for the middleware to receive the results of the remote auth. You do not need a route/controller/action for this path. Once it has processed the results and generated the sign-in identity/cookie, then it will redirect back to

[2016-10-24 01:36] 01binary commented on #1012
Confirmed, that works. Does anything in the docs mention that to make this work:

- You need to register root site Uri with the login provider. For example, `https://localhost:5001`
- You also need to register the provider-specific middleware listen route. For example, `https://localhost:5001/signin-providerName`

This was not a straight-forward thing to figure out at all. I don't recall anything

[2016-10-24 02:32] Tratcher commented on #1012
Here's the doc we have on setting these up, however it does not mention this issue.
https://docs.asp.net/en/latest/security/authentication/sociallogins.html
Feel free request clarification here: https://github.com/aspnet/Docs/issues/727 (or a new bug there).

Why did you need to register the root url? You should have only needed to register `https://localhost:5001/signin-providerName` with the pro

[2016-10-24 03:44] NickAb opened #1013 "Can I call AuthorizeAsync with existing policy inside resource based HandleRequirementAsync?"
Is it possible to call registered policy authorization from inside of document based auth handler. So that I do not have to duplicate requirements for attribute and resource based auth.
Injecting `IAuthorizationService _authorizationService` into handler does not work as it creates circular dependency.

Something like that:

[code]

[code]

[2016-10-24 08:29] HaoK commented on #1013
The requirements are supposed to be what you use to reuse handler logic, is there a reason that doesn't work for you?

[2016-10-24 10:36] coddo commented on #1010
It seems that the problem for OIDC was that I was setting the DisplayName and AuthenticationScheme to "Google". Cutting out those to lines from the code, made it work.

The authentication scheme seems logic now why it didn't work, but if I try to change the DisplayName it still silently breaks (get null as described above). Is this how it should really behave?

[2016-10-24 16:28] #998 closed

[2016-10-24 16:33] PinpointTownes commented on #772
... and also userinfo :smile:

[2016-10-25 22:14] Tratcher commented on #1010
Changing DisplayName shouldn't affect anything. @HaoK, is DisplayName recorded in the user database?

Changing AuthenticationScheme should be fine, but you may need to change it in multiple places.

[2016-10-25 22:53] HaoK commented on #1010
The display name should only controls what is shown for the text.  See: Account/Login.cshtml is where these are used.  DisplayName is not stored in the database by default

[2016-10-26 10:04] coddo commented on #1010
Clearing the browser cache and removing the cookies for the domain seems to have fixed the DisplayName issue also.

Something must have been cached from my previous configurations and attempts to make this work.
The OIDC is now fully functional with Google provider now.

Thanks!

[2016-10-26 10:04] #1010 closed

[2016-10-26 12:42] MaximRouiller commented on #43
Just bouncing this again. I'm still seeing people trying the Katana bits with .NET Core.

I'll refer them to this issue.

[2016-10-26 15:04] leastprivilege commented on #43
Maybe it is just me - but I see a lot of companies using ADFS via WS-Fed. They are all blocked to move forward to ASP.NET Core (let alone .NET Core).

Is this a way to push adoption of Windows Server 2016 ;) (I am afraid this does not work that way)

[2016-10-26 19:15] 01binary commented on #1012
I really want to get to this in next few days. Going to attempt a PR for:
https://github.com/aspnet/Docs/blob/master/aspnet/security/authentication/sociallogins.rst

- Split Facebook into its own section
- Add sections for Twitter, Microsoft, Google+
- Recommend https://github.com/aspnet-contrib and add sections for Github, Reddit, LinkedIn and Yahoo
- Document special considerations for supportin

[2016-10-26 19:36] Tratcher commented on #1012
Sounds promising.

The callout to aspnet-contrib should be fine, but the asp.net docs should not include instructions for components in contrib (e.g. Yahoo). It's up to contrib to provide their own documentation.

Login flows should always use HTTPS, even if it's not required. FYI: https://docs.asp.net/en/latest/fundamentals/servers.html is in the process of being updated and will include basic ke

[2016-10-26 21:51] blowdart opened #1015 "No authentication handler is configured to handle the scheme: Linkedin"
Copying from https://github.com/aspnet/Identity/issues/994 @pedrommuller

I'm trying to follow[ this tutorial ](https://auth0.com/blog/authenticating-a-user-with-linkedin-in-aspnet-core/) and when I click the button to do the external authentication with LinkedIn I get the following error:

the code:

[code]
I've tried to add the route manually but it didn't work

[code]
The other external authent

[2016-10-26 21:58] PinpointTownes commented on #1015
The `AuthenticationScheme` comparison is case-sensitive, so `LinkedIn` != `Linkedin`.

[2016-10-26 22:13] PinpointTownes commented on #1012
We can't reasonably provide a tutorial for every provider supported (~35 IIRC), at least not without some help :trollface:

The good news is that all the aspnet-contrib OAuth2 providers work exactly like their built-in ASP.NET Core friends, so the instructions to configure them shouldn't differ much (thanks to the lovely OAuth2 base middleware).

That said, you might want to create a list of links

[2016-10-27 00:02] Tratcher commented on #1012
@PinpointTownes  No need for full tutorials for each provider, just links to each provider's setup pages/docs.

[2016-10-27 01:29] 01binary commented on #1012
Of the extra providers I mentioned, Yahoo does not behave like the others and cannot be run from localhost (would love to be proved wrong on this). I would say that was 80% of the reason I wanted to call it out, the other 30% being more likely for someone to try to implement because they want to support the top X popular providers. So perhaps a PR into @PinpointTownes about the Yahoo special case

[2016-10-27 06:36] marc-mueller commented on #43
I fully agree with @leastprivilege. There are so many large companies with their ADFS via WS-Fed setup and they won't change that fast. On the development side we are faster then on the infrastructure side and this would allow us to push ASP.NET Core.

[2016-10-27 12:12] JagadishaBS opened #1016 "Add Claims (ASP.NET CORE MVC Open-ID connect OWIN Katana Authentication )"
I am following [this tutorial](https://github.com/aspnet/Security/tree/dev/samples/OpenIdConnect.AzureAdSample). I am able login with azure ad user. but once the user gets authenticated. we want to store it into Identity claims for authentication.
We are migrating Asp.net MVC application into asp.net core MVC 1.0. In Asp.net MVC application we are adding the claims like this

`
       context.Auth

[2016-10-27 16:13] nathannoble commented on #322
@davidfowl, @dougbu  That worked. Thanks!

[2016-10-27 16:50] Tratcher commented on #1016
We do not recommend storing tokens as claims. In the above sample `AuthPropertiesTokenCache.ForCodeRedemption(context.Properties)` already stores the tokens in the Properties collection. There is code later in the sample to retrieve the tokens: https://github.com/aspnet/Security/blob/dev/samples/OpenIdConnect.AzureAdSample/Startup.cs#L173-L176

[2016-10-27 22:19] Eilon commented on #1009
@ryanbrandenburg can you try to get a repro for this and we can discuss how to proceed after that?

[2016-10-27 22:35] Eilon commented on #1015
Yup, it seems that the wrong case is being used.

[2016-10-27 22:35] #1015 closed

[2016-10-27 22:37] Eilon commented on #1011
@atuzovic can you share more info about why you need to list them? This is probably something we can implement, but the more we know about the scenario we can make sure we offer the right solution.

[2016-10-27 22:38] Eilon commented on #1003
Closing for now because we don't have enough information to reproduce this. Please re-open if you have more information. Thanks!

[2016-10-27 22:38] #1003 closed

[2016-10-28 16:29] frostymarvelous opened #1017 "How to show message when cookie expires"
I am trying to show a message to the user when the Authorization Cookie expires.

I'm not sure exactly where this happens, but when I checked, I found

`ApplicationCookie.Events` which is an instance of `Microsoft.AspNetCore.Authentication.Cookies.ICookieAuthenticationEvents`. I suspect this might be what I need, but I don't know which event to hook up to.

Any help will be greatly appreciated.

[2016-10-28 17:23] Tratcher commented on #1017
For most purposes the system does not distinguish between an anonymous user and a user with an invalid/expired cookie. Cookie expiration also isn't a one-time event. On each request the client can send a valid cookie, an invalid/expired cookie, or no cookie. The client can keep sending an invalid cookie as long as they like. The cookie middleware only takes action for valid cookies.
https://github

[2016-10-28 17:58] frostymarvelous commented on #1017
Thanks a lot.

I've been digging through the code and noticed what you said.

Your workaround will work fine enough for me. Thanks.

On Fri, Oct 28, 2016, 17:23 Chris R <notifications@github.com> wrote:

[2016-10-28 19:06] frostymarvelous commented on #1017
I can't seem to find out what the "signInScheme" is.

I've tried "Cookie", "Cookies", "cookie", "cookies" and even "Bearer".

I keep getting `No authentication handler is configured to authenticate for the scheme: cookie`.

[2016-10-28 19:14] Tratcher commented on #1017
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationDefaults.cs#L16 if you're only using cookie auth. If you're using Identity then it assigns it's own.

[2016-10-28 19:15] Tratcher commented on #1017
https://github.com/aspnet/Identity/blob/5480aa182bad3fb3b729a0169d0462873331e306/src/Microsoft.AspNetCore.Identity/IdentityCookieOptions.cs#L17

[2016-10-28 19:20] frostymarvelous commented on #1017
Thanks so much. I am using Identity.
This solves my problem.

[2016-10-28 19:20] #1017 closed

[2016-10-28 20:43] Eilon commented on #978
I've contacted the AAD team about this. I'll report back when I have an update.

[2016-10-28 22:23] ryanbrandenburg commented on #1009
@imranbaloch I was able to get this working as expected by setting the order to a number greater than 0 on `ValidateAntiForgeryToken`. I have my example [here](https://github.com/ryanbrandenburg/AjaxAntiForgeryValidation), if you make a request against Home/Antiforgery you'll get redirected rather than getting a 400. Please review that sample and let us know either how your code differed to make o

[2016-10-28 22:58] Tratcher commented on #983
There are several more scenarios to consider. If they keys are retrieved from metadata (directly or indirectly) then OIDC will have to pass them down to TVP like it does with signing keys.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L1127

[2016-10-29 12:22] turbotmy commented on #987
i have the same concern with custom message with different policy aren't compliance, how can i write back to custome message type if different policy aren't meet ?

[2016-10-29 22:23] ajtowf opened #1018 "AuthorizeAttribute for roles only work if role claims are in an array"
When using [AspNetCoreIdentity](https://github.com/aspnet/Identity) if the user only has one role the claim will look as:

[code]

and if they have several:

[code]

Decorating a controller with one of following lines:

[code]

where the policy is defined as:

[code]

we'll get access denied for the case where the user only has the Administrator role. As soon as the user role claims are in an arra

[2016-10-31 20:58] #884 closed

[2016-11-01 15:31] qvsmith commented on #839
From a consumer's point of view I really hope this changes in the future...

A settable scope is nice but, if ICollection had AddRange or some fluent Add method that would have been an improvement over what exists right now imho.

[2016-11-01 20:09] Tratcher commented on #903
Note there is an existing check for this in HandleUnauthorizedAsync:
[code]
Note it only logs. This was because Katana did not apply challenges immediately, it waited until OnSendingHeaders or pipeline-unwind so any exception thrown would not be visible to user code. Core applies challenges immediately when called from user code. While pipeline unwind automatic challenges are still supported, they

[2016-11-01 20:15] PinpointTownes commented on #903
:+1: for throwing an exception (an InvalidOperationException, maybe?)

[2016-11-01 21:11] HaoK commented on #284
There's only one situation where claims authentication is run more than once, that's when AutomaticAuthentication = true, the claims transformation middleware will also run on context.User.

@blowdart this makes things a bit tricky to fix since context.User is mutable, so unless we take a general stance where if any AutomaticAuthentication = true triggered claims transformation, we will skip the m

[2016-11-01 21:12] HaoK commented on #284
Given that we don't have an obvious way to distinguish between the automatic authentication and a passive call to Authenticate, maybe we should just leave the behavior alone, and update the documentation to say that this may be called more than once (cookies, automatic = true by default)

[2016-11-01 21:17] blowdart commented on #284
Ugh. That kinda sucks, what was wrong with recording which middleware triggered it already?

[2016-11-01 21:44] HaoK commented on #284
That doesn't help, the first transformation is cookie applying it as part of its automatic authentication.  The second application is by the direct claims transformation middleware, the two aren't related in any way today, so we'd have to event logic to stop both of them running

[2016-11-01 21:47] blowdart commented on #284
Darn it. OK caveats it is then.

[2016-11-01 23:46] Eilon commented on #1009
FYI I moved this bug to MVC here: https://github.com/aspnet/Mvc/issues/5483

And we will include it in the next 1.0.x patch release.

[2016-11-01 23:46] #1009 closed

[2016-11-02 13:15] guybartal opened #1021 "OpenIdConnectAuthenticationHandler: message.State is null or empty.;"
Hi,

I used the following article as reference:
https://azure.microsoft.com/en-us/documentation/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore-v2/

deployed it to azure web app, and I got the following error upon signing in:

here's my startup.cs code:
[code]

[2016-11-02 14:30] Tratcher commented on #1021
Your CallbackPath is wrong. See https://github.com/aspnet/Security/issues/1012

[2016-11-02 15:08] andreymir opened #1022 "Different login pages for different claims"
To do some actions on the web site user should be authenticated. Different actions require different claims. For example, to make an order user is authenticated by phone number only, to view the purchase history user should be authenticated by phone number and password, and to change the phone number user should be authenticated using two-factor authentication.

I create a login page for each of t

[2016-11-02 15:19] Tratcher commented on #1022
Given the multiple overlapping kinds of auth it may be appropriate to have three instances of the cookie auth middleware. On Authorize you'd specify the appropriate scheme.

Or you could store that information somewhere and override OnRedirectToLogin.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvents.cs#L41

Or you store t

[2016-11-02 15:52] andreymir commented on #1022
Thanks! `OnRedirectToLogin` looks promising.

[2016-11-02 15:52] #1022 closed

[2016-11-02 16:29] HaoK commented on #284
Actually maybe there's one other thing I can try, we can put something into the metadata that lives with the authentication ticket, that should be a safe place for a run once marker.

[2016-11-02 19:27] HaoK commented on #284
Nope, doesn't work with the same issue, unless we put something visible into the ClaimsPrincipal, we have no way to mark the context.User as transformed unless we jam things into HttpContext.Items or something which doesn't seem worth it?...  caveats it is I guess

[2016-11-02 19:29] HaoK commented on #284
I think this is fine since they always have an workaround to make claims transformation only run once by adding a marker claim themselves.

[2016-11-03 17:34] HaoK commented on #284
@blowdart before I close this bug, do we want to update any docs to point this potential issue out?  It does affect how we setup cookies by default so its going to be fairly common (even if the impact is relatively small duplicate claims probably don't really matter)

[2016-11-03 17:59] blowdart commented on #284
Yea, we do want to update the docs. In fact creating a doc on claims transformation might be a good idea :D

[2016-11-03 22:11] HaoK commented on #284
Created https://github.com/aspnet/Docs/issues/2097, which we can use to track the doc updates

[2016-11-03 22:11] #284 closed

[2016-11-03 22:19] #1021 closed

[2016-11-03 22:21] Eilon commented on #1018
@ajtowf where are the roles actually defined? The issue shows some JSON-like syntax but without knowing where it comes from it's hard to say how to fix it.

[2016-11-04 11:57] ajtowf commented on #1018
@Eilon the roles are defined with [AspNetIdentity](https://github.com/aspnet/Identity), and persisted with EntityFramework Core.

[2016-11-04 15:19] chrisdrobison opened #1023 "Bring back OAuth bearer authentication"
In the Katana implementation, there was a middleware piece that allowed for authenticating OAuth 2 bearer tokens, whether from the Authorization header, query string or form body. Although, that implementation seemed to be tied to having the token generated from the companion OAuth 2 server. ASP.NET Core has a Jwt bearer midddleware option, but that is too specific for OAuth 2 access tokens. Acces

[2016-11-04 17:59] brockallen commented on #1023
If your token is backed by the OAuth2 introspection spec, then there is already a middleware for that: https://github.com/IdentityModel/IdentityModel.AspNetCore.OAuth2Introspection

[2016-11-04 18:15] #903 closed

[2016-11-04 18:45] brentschmaltz opened #1024 "Reduce claims in ClaimsIdentity after completing OIDC protocol legs"
OIDC is a multi-leg protocol that can have three legs ( code -> access_token -> user_info) flowing through the three endpoints. Authorize, Token and UserInfo. The IdentityProvider uses the payload to provide links between the legs. Once the sequence of messages is complete and deemed valid, some of those claims have little value, such as: nonce, at_hash, c_hash. These could be removed from the Cla

[2016-11-04 18:49] Tratcher commented on #1024
why are those things even claims? They're not consumed as claims in the ODIC middleware are they?

[2016-11-04 19:52] brockallen commented on #1024
These things are part of the id_token payload (which are co-mingled with the user's claims) and have been expressed as claims ever since katana.

[2016-11-04 20:01] PinpointTownes commented on #1023
@chrisdrobison if you're looking for an `OAuthBearerAuthenticationMiddleware` equivalent in the vNext world, you can look at the [aspnet-contrib validation middleware](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/tree/dev/src/AspNet.Security.OAuth.Validation).

[2016-11-04 20:03] PinpointTownes commented on #1024
Because essentially, they are, as the JWT format doesn't make any distinction between protocol claims (nonce, expiration date, access token/code hashes, etc.) and user claims.

[2016-11-04 20:05] brockallen commented on #1024
Which is exactly what this issue is requesting. :)

[2016-11-04 20:11] HaoK commented on #1024
Would hooking up a claims transformation to strip out the unwanted claims be enough for this scenario?

[2016-11-04 20:17] PinpointTownes commented on #1024
@HaoK wouldn't claims transformation come too late? The OIDC/remote middleware immediately calls the cookie middleware via `SignInAsync`, so I'm not sure you can plug the CT middleware here.

Personally, I'm not sure the OIDC middleware is the best place for this change. I think it would be better to handle that directly in the JWT middleware, using a specific validation options.

[2016-11-04 20:19] HaoK commented on #1024
It's probably a gap right now that we don't have any claims transformation involved in the remote authentication handler flows before sign in passes the claims to another scheme...

[2016-11-04 20:20] HaoK commented on #1024
claims transformation is always needing love :(

[2016-11-04 20:23] PinpointTownes commented on #1024
We all need love :love:

That said, if it's a feature you like, it should be quite easy to add it. We just need to call the transformer here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/ClaimsTransformationHandler.cs#L67

[2016-11-04 20:30] Tratcher commented on #1024
@PinpointTownes that only works if you put the CTM in the pipeline between cookies and OIDC.

[2016-11-04 20:47] PinpointTownes commented on #1024
@Tratcher yeah, it's not ideal. That's why such a feature might be better directly in IM.

[2016-11-04 22:21] HadeelElbitar commented on #978
Correct, the chains of middlewares cause the state parameter size to increase. The 2k limit is due to a set of limitations, but we are reconsidering it. Will update when we finalize a better experience :)

[2016-11-05 22:15] chrisdrobison commented on #1023
Those are some good suggestions. I will try those.

[2016-11-05 22:15] #1023 closed

[2016-11-07 08:04] JagadishaBS commented on #1016
@Tratcher Thanks for your reply. But we are storing tokens,domain name ( Getting it from DB), Tenant Info for middle layer Authentication. Like in very controller action methods, we are getting the stored info from claims.
Something like that(Old Asp.net MVC Application code)..
In Startup.Auth.cs class

![capture34](https://cloud.githubusercontent.com/assets/9428654/20050211/eafe4baa-a4ed-11e6-991

[2016-11-07 16:46] Eilon commented on #1018
@ajtowf got it. In what place are the roles then represented as either an array or a string? I'm not aware of any place in the ASP.NET Core libraries where roles are represented in multiple ways - it's generally fairly consistent.

[2016-11-07 18:59] brentschmaltz opened #1025 "OIDC response messages should remain unchanged during processing"
When OIDC is flowing messages through events such as: RunTokenValidatedEventAsync the values obtained from the wire should be sent to the OIDCProtocolValidator as they are received. Currently the runtime can modify what is passed to the user.

[2016-11-07 19:10] axelheer opened #1026 "SAML-P Authentication"
Any plans for a SAML authentication middle-ware?

I know, it's not the shiny new thing, but it's still out there. Any guidance on how to use a SAML Identity Provider for a ASP.NET Core application would be very much appreciate as well.

[2016-11-07 20:36] #1007 closed

[2016-11-07 20:46] Tratcher opened #1027 "OIDC TokenValidated event fires in a different order depending on the flow"
The OIDC TokenValidated event fires in a different order based on the flow you're using.
1) for id_token it fires  first / alone
2) for code flow it fires after TokenResponseReceived
3) for code+id_token it fires before the code is redeemed, but then there's no event fired after the second id_token from token endpoint is validated

Proposal (Breaking):
Rename TokenValidated to something authorizat

[2016-11-07 20:52] Tratcher opened #1028 "OIDC: reconcile claims from multiple endpoints"
OIDC may receive claims from the Authorization Endpoint (id_token), the Token Endpoint (id_token), and the UserInfoEndpoint. In the code+id_token Hybrid flow it's possible to receive all three of these on the same login. Currently in this flow claims from the Token Endpoint are ignored in favor of those from the Authorization Endpoint. The UserInfoEndpoint claims are then added on top (how does it

[2016-11-07 21:28] Tratcher opened #1029 "Consider backporting OIDC validations to LTS"
See https://github.com/aspnet/Security/commit/415055ebabcee656475e1f22e65045851641701c

[2016-11-07 21:33] Tratcher commented on #1026
You mean WsFederation? https://github.com/aspnet/Security/issues/43

[2016-11-07 21:34] Tratcher commented on #1025
All of the events do this, this is part of the extensibility. For better or worse all of the properties on the event context objects are settable. If the dev decides to override these values we want to make sure they flow through the remainder of the auth processing and events. One reason they may want to replace the value is that it's the only way to inject a message object that derives from Open

[2016-11-07 21:59] Tratcher commented on #1016
tokens and other information stored in the auth properties can be retrieved almost as easily as claims as shown in the already linked sample.

[2016-11-07 22:00] PinpointTownes commented on #1007
@Tratcher FYI, the fix works as expected :clap:

[2016-11-07 22:12] PinpointTownes commented on #1026
@axelheer if by SAML you mean the SAML 2.0 protocol (SAMLP), then you can find a community implementation here: https://github.com/KentorIT/authservices/blob/aspnetcore/Kentor.AuthServices.AspNetCore

It's still a WIP and it doesn't work on .NET Core, but it's pretty much your best chance (AFAIK, SAMLP has never been officially supported on ASP.NET/OWIN/Katana, so I doubt it will ever be)

[2016-11-08 05:46] javiercn opened #1030 "[Breaking change] Parameter was renamed on OpenIdConnectHandler.HandleSignOutAsync"
V1:
`protected override async Task HandleSignOutAsync(SignOutContext signout)`
V2:
`protected override async Task HandleSignOutAsync(SignOutContext context)`

https://github.com/aspnet/Security/blob/1.0.0/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L143
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectH

[2016-11-08 05:46] javiercn commented on #1030
@Eilon

[2016-11-08 06:12] davidfowl commented on #1030
We might want to relax this one...

[2016-11-08 12:31] JagadishaBS commented on #1016
The Code

                 context.Ticket = new AuthenticationTicket(
                     claimsPrincipal,
                     context.Ticket.Properties,
                     context.Ticket.AuthenticationScheme);

TransformClaims method Something like that

    {
        if (principal.Identity.IsAuthenticated)
        {
           // get this from cache or db
            var nickname = "Nanu";

[2016-11-08 12:31] #1016 closed

[2016-11-08 17:17] Eilon commented on #1030
Eh, let's fix the breaking change. The old parameter name wasn't awful.

[2016-11-08 19:09] #1030 closed

[2016-11-08 19:50] rlondner opened #1032 "Any plans to support Basic (aka header) authentication for the /token endpoint in the OIDC middleware?"
Hello,

At this stage, POST authentication seems to be hardcoded in the OIDC middleware (cf. https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L713), even though the OAuth 2.0 spec mentions at https://tools.ietf.org/html/rfc6749#section-2.3.1 that

"The authorization server MUST support the HTTP Basic authentication scheme for

[2016-11-08 22:10] Tratcher commented on #1032
Are there any specific servers that actually support basic auth on the token endpoint? We haven't seen any requests for this before now.

[2016-11-08 23:38] raphaellondner-okta commented on #1032
At the very least, identityServer3 seems to support it: https://github.com/IdentityServer/IdentityServer3/blob/93bc6bc9b536146b9e3fa0bed21d77283d07f788/source/Core/Endpoints/Connect/DiscoveryEndpointController.cs#L147

And I wouldn't be surprised that many other OAuth-compliant providers do support it as well (after all, it's mandatory as per the OAuth 2.0 spec)

[2016-11-09 00:00] PinpointTownes commented on #1032
If you like numbers: of the 36 OAuth2 providers we have in aspnet-contrib, 3 only support basic authentication: FitBit, Yahoo and Reddit.

[2016-11-09 00:03] Tratcher commented on #1032
Thanks @PinpointTownes, do any of them require it?

Any idea why a server would want to support/require basic? So it could validate the request without reading the body?

[2016-11-09 00:04] PinpointTownes commented on #1032
@Tratcher woops, sorry, maybe I wasn't clear: FitBit, Yahoo and Reddit only support basic authentication (if you try to flow the client credentials in the request body, it will fail).

[2016-11-09 00:06] raphaellondner-okta commented on #1032
@Tratcher maybe because the OAuth spec makes it mandatory? (cf. https://tools.ietf.org/html/rfc6749#section-2.3.1).

@PinpointTownes Thanks for the clarification. I gues the interesting question is: out of those 32 OAuth providers, are there any that don't support basic authentication?

[2016-11-09 00:08] Tratcher commented on #1032
@raphaellondner-okta that wasn't the question. What is the benefit of using basic over putting the credentials in the body?

[2016-11-09 00:16] raphaellondner-okta commented on #1032
@Tratcher It seems that you asked why an authorization server would want to support basic auth on the token endpoint, and my answer is the spec's answer: because it MUST do so.

Furthermore, the spec clearly mentions that it should be the recommended method, when available, to exchange the auth code for the OIDC and/or OAuth tokens. So a spec-compliant library should at the very least implement Ba

[2016-11-09 00:28] PinpointTownes commented on #1032
@raphaellondner-okta good question, I don't remember the exact number, but I'll take a look.

Though it's the client authentication mode recommended by the OAuth2 spec (and the "default" mode in OIDC), basic authentication has important downsides: many HTTP servers treat the request headers as ASCII-encoded strings so you can't use "special chars" in your client credentials and you can't can't use

[2016-11-09 00:30] PinpointTownes commented on #1032
Speaking of client authentication modes, here's a related ticket: https://github.com/aspnet/Security/issues/701.

[2016-11-09 09:04] ajtowf commented on #1018
For some reason I have the roles added as two different role claim types, I've issued a claimsidentity from an identityserver with only "role" as claimtype for roles, but for some reason when debugging from the RP I have "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" as claimtype as well. Nevertheless, it's clear that the roleclaimtype is "role", so I'm guessing this should work an

[2016-11-09 09:48] ajtowf commented on #1018
Oh my god, just added the following line to the MVC app and everything looked fine and worked as expected after that.

    JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();

![image](https://cloud.githubusercontent.com/assets/3427270/20133967/f0cbef56-a669-11e6-9046-81b5c30cc345.png)

Sorry for wasting your time!

[2016-11-09 09:48] #1018 closed

[2016-11-09 11:35] axelheer commented on #1026
I mean the SAML 2.0 protocol (SAMLP), not WsFederation.

The Kentor repository says "The build is not working yet", so I didn't look any further.

There are also:
https://github.com/i8beef/SAML2
https://github.com/elerch/SAML2

But both don't seem to make any progress towards .NET Core.

Maybe I try to invest some work into one of these, but right now I'm just interested if there will be some kind

[2016-11-09 17:36] Eilon commented on #1018
No worries, glad you got it figured out!

[2016-11-10 12:30] devJ0n opened #1033 "Changing name of correlation and nonce cookie in OpenID Connect middleware"
I'm using the two ASP.NET Core middlewares for OpenID Connect and cookie authentication like below:

[code]

During login in the web application this results in some default cookies related to nonce and correlation which look like this (exported from my browser developer tools):

[code]

I would like to change the CookieName of these cookies in order to make my web applications more anonymous. Why

[2016-11-10 15:40] obryckim opened #1034 "UseCookieAuthentication with Distributed Cache Ticket Store removing cache entries before set timetout"
I have an asp.net core application where I am configuring cookie authentication and OpenID Connect authentication. I am also using Session and a distributed SQL server cache.

In the cookie authentication configuration, I am setting the SessionStore property to use my distributed cache ticket store. I have my session timeout set to 60 minutes. When I put items into session directly, it uses the sq

[2016-11-11 00:10] PinpointTownes opened #1035 "Provide an easy way to disable telemetry in the OpenID Connect middleware"
A (**really intrusive**) form of telemetry is [about to be added to `OpenIdConnectMessage`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/529) so that all authorization and logout requests will now expose the IdentityModel assembly version to the remote OIDC server and to the end users (which has security implications, but whatever...).

Please consider

[2016-11-11 06:16] Tratcher commented on #1035
@blowdart?

[2016-11-11 13:06] blowdart commented on #1035
Should happen, yes.

[2016-11-11 14:24] leastprivilege commented on #1035
Opt-in. Not opt-out. 

Get Outlook for iOS

On Fri, Nov 11, 2016 at 1:06 PM +0000, "Barry Dorrans" <notifications@github.com> wrote:

Should happen, yes.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-11 17:01] manbearwiz opened #1036 "Support Client Credentials Grant Access Token Request"
I am attempting to implement the Client Credentials Flow for server to server communication as outlined in the [OAuth 2.0 standard](https://tools.ietf.org/html/rfc6749#section-4.4) and do not see a way to easily do this using OAuthHandler/OAuthMiddleware.

[2016-11-11 18:04] leastprivilege commented on #1036
If you need token issuance capabilities, you can use identityserver for that. See here:
http://docs.identityserver.io/en/release/quickstarts/1_client_credentials.html

On Fri, Nov 11, 2016 at 6:01 PM +0100, "Kevin Brey" <notifications@github.com> wrote:

I am attempting to implement the Client Credentials Flow for server to server communication as outlined in the OAuth 2.0 standard and do not see

[2016-11-11 19:45] manbearwiz commented on #1036
I already have the auth server set up and I can successfully get a bearer token by forwarding the credentials passed in from the basic authorization header. I just would like to move this code into middleware so it is invoked by the AuthorizeAttribute rather then having to do it manually on each call. Maybe I'm way off-base here.

[code]

Extending TokenClient so it can take credentials that have

[2016-11-11 20:09] brentschmaltz commented on #1035
@blowdart @Tratcher is there time to put in a DisableTelemetry feature before 1.1 OR do you feel as
@leastprivilege telemetry should be off by default? If so the identity layer could be off by default.

[2016-11-11 20:29] PinpointTownes commented on #1035
FYI, I started an email thread with Scott Guthrie, Scott Hunter and Stuart Kwan about telemetry in general and this specific PR was mentioned. @polita kindly emailed me back and shared more info about this feature:

[2016-11-11 20:31] Eilon commented on #1035
@brentschmaltz @polita is the IdentityModel telemetry feature even in the 1.1 release? I thought we had final builds of it already?

[2016-11-11 20:35] PinpointTownes commented on #1036
@manbearwiz IMHO, the client credentials grant type is not a very good fit for the OAuth2 or the OIDC middleware, that are specially designed to handle interactive flows involving user agents (= user's browser).

[2016-11-11 21:23] polita commented on #1035
@Eilon The PR https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/531 is to put it in 5.1.1, which is what we would like to have available on the day .NET 1.1 is available. We are done with our 5.1 bits.

[2016-11-11 21:26] Tratcher commented on #1035
OK, so there's no chance for us to add APIs for this in 1.1.

[2016-11-11 21:28] polita commented on #1035
I want to clarify exactly what we've added here: on authorization request and logout URIs, if DisableTelemetryParameters is false, we add "x-client-SKU=ID_NET&x-client-ver=2.1". There's no additional info in the request. If DisableTelemetryParameters is true, we don't add anything.

Since we're making private emails public :), here's my response to @PinpointTownes:

[2016-11-11 21:29] blowdart commented on #1035
As we're in escrow now we cannot add a feature to disable this, it's simply too late. @polita what's the possibility of you punting this to 5.1.2, or 5.2, whatever comes next?

[2016-11-11 21:31] polita commented on #1035
To be clear, there's a way to turn it off. App developers can handle RedirectToIdentityProvider and set DisableTelemetryParameters on the ProtocolMessage. Do we need an additional way to turn it off before we can ship it?

[2016-11-11 21:32] Tratcher commented on #1035
Most devs do not know about or hook RedirectToIdentityProvider. Adding a first class way to turn it off on the middleware options would be a much better experience.

[2016-11-11 21:36] PinpointTownes commented on #1035
Your answer was of public interest and didn't contain anything confidential so I thought it wouldn't be an issue (sorry if it was).

I agree with @Tratcher: events are for advanced flow control. I'm personally not opposed to this feature being opt-out, as long as there's a trivial way to disable it.

[2016-11-11 21:36] polita commented on #1035
Ok. We will punt it to the next release. Is it worth re-releasing Katana to add a switch in the middleware options for Katana apps as well?

[2016-11-11 21:38] Tratcher commented on #1035
We can open an issue over in Katana.

[2016-11-11 21:38] manbearwiz commented on #1036
Yah that is the impression I was getting the more I dug into the OAuth middleware. I had assumed that the OAuth middleware was attempting to support all of the OAuth grant types but it seems to mostly be meant for redirection-based flows. Any guesses as to the easiest way to implement client credentials using aspnet auth?

[2016-11-11 21:40] PinpointTownes commented on #1036
Yep, the OAuth2 base middleware only supports the authorization code flow.

Your approach seems fine (it's also how I'd personally implement it)

[2016-11-11 21:43] brentschmaltz commented on #1035
@polita @PinpointTownes @Tratcher We could introduce a static bool DefaultSendTelemetryOn property on OpenIdConnectMessage. We could then have the instance pattern of initializing to the static default. This would give users a one line control that could be used in startup.cs.

[2016-11-11 22:38] polita commented on #1035
@brentschmaltz Can you share the line of code developers would have to write to turn off telemetry in startup.cs? I assume it's...
`OpenIdConnectMessage.AddTelemetryParametersToMessages = false;'
or something similar...

[2016-11-11 23:02] brentschmaltz commented on #1035
I am thinking two properties to OpenIdConnectMessage.
One static: AddTelemetryParametersToMessagesDefault (true by default)
One instance: AddTelemetryParametersToMessages set to the Default  { get; set;} = AddTelemetryParametersToMessagesDefault

[2016-11-11 23:38] skwan commented on #1035
We definitely need this feature to be opt-out, not opt-in.  With that said I'm all for making it easy to opt-out.

From the perspective of someone running an IdP, we must have a means via telemetry of identifying and notifying relying parties that are using library versions that have a serious issue.

[2016-11-12 00:04] polita commented on #1035
@brentschmaltz I like the idea of a static. Figuring out how the two settings interact might be complicated. Should we have just the static and no instance setting? You could always still handle RedirectToIdentityProvider to set it just-in-time. I can't think of a real scenario for when you'd want to turn it on and off for messages individually, really.

[2016-11-12 00:31] brentschmaltz commented on #1035
@polita I can only think of working with multiple IDP's as a scenario for the instance and static. A switch in the asp.net runtime would allow telemetry on / off on an IDP basis.

[2016-11-12 15:37] PinpointTownes commented on #1035
@skwan @polita @brentschmaltz since this is an Azure AD-specific thingy (I personally don't expect any other provider to use these non-standard parameters), why not rolling your own "Azure AD OpenID Connect" extension/middleware instead of adding this feature directly in IdentityModel?

[2016-11-12 16:43] leastprivilege commented on #1035
Last time I checked, the identitymodel repo was called: "azure-activedirectory-identitymodel-extensions-for-dotnet"

[2016-11-12 16:56] polita commented on #1035
@leastprivilege We address questions wherever they come up. :)

@PinpointTownes I'm not sure a couple parameters are a good reason to spin up a completely different middleware. Extra parameters are generally ignored by providers. Is a switch to turn it off globally not adequate?

[2016-11-12 17:01] PinpointTownes commented on #1035
I'm not suggesting using a completely different middleware, but an extension wrapping the OIDC middleware and doing exactly what you want.

That's not the first you're (= your team) trying to add AAD-specific features that impact the OIDC middleware (the last time, [it was to integrate ADAL](https://github.com/aspnet/Security/pull/258#r30331659)), so maybe it's time to have your own extension, no?

[2016-11-12 17:03] PinpointTownes commented on #1035
Well, it's fine. But OWIN/Katana users will have to explicitly disable it using ugly statics when updating their IdentityModel version (and frankly, that sucks).

[2016-11-12 17:10] leastprivilege commented on #1035
@polita you misunderstood me, my point was that identitymodel is an MS/AAD specific implementation already (hence the name of the repo, and the org it belongs to).

You always mapped to your proprietary claim types and always had first class support for your proprietary protocol parameters (and always ignored any feedback saying you shouldn't).

I am not surprised that you are continuing on that r

[2016-11-12 17:19] brockallen commented on #1035
Why not just code it to enable telemetry when using Azure as the IdP, and have it disabled otherwise? I think that's what we all want.

[2016-11-14 07:50] muziekklas commented on #605
This is a total blocker for us to migrate our apps to .Net Core. Any timeline yet on release?
Thanks!

[2016-11-14 15:32] manbearwiz commented on #1036
My issue with that is that it requires code in each api method. I would much prefer to just stick `[Authorize]` on the controller and be done. I had originally planned on writing a custom authorization filter until I read the below in the documentation.

Would this still be a case to implement a custom authorization filter?

[2016-11-14 17:29] leastprivilege commented on #1035
@PinpointTownes why don't you fork System.IdentityModel and make it right - then move on the OIDC MW. We would use it!

"Make System.IdentityModel great again" ;)

[2016-11-14 18:13] blowdart commented on #1035
Please don't even suggest a static. We don't do statics, just like we don't do Context.Current. We do options. Options are sent to instances that are used.

[2016-11-14 19:00] PinpointTownes commented on #1035
@leastprivilege @brockallen :trollface:

![Trolling hard](http://s2.quickmeme.com/img/d6/d62f35e7e8996d9a796638d1a0d66a14a3555caa717088d2de26da7daee2f444.jpg)

[2016-11-14 19:02] brockallen commented on #1035
Actually, he was very serious.

[2016-11-14 19:35] leastprivilege commented on #1035
Brock's right.

[2016-11-14 20:45] brentschmaltz commented on #1035
@blowdart about the static. It really is just defining the default of the instance telemetry variable on OIDCMessage. The value that is acted on is the instance variable. What is the issue.

[2016-11-14 20:47] brentschmaltz commented on #1035
@PinpointTownes @leastprivilege @brockallen Now that we have 1.1 out of the box. I would really like to get some feedback on S.IM moving forward.  Maybe on the other repo, perhaps.

[2016-11-14 22:28] PinpointTownes commented on #1035
@leastprivilege @brockallen to be honest, it's something I've considered... but it's a huge task, as I'd also have to fork the OpenID Connect client middleware and the JWT middleware to use the forked IM bits instead of the official ones. I'm not saying this won't happen, but I clearly don't have enough spare time to do that at this moment.

[2016-11-14 22:55] mclark1129 opened #1037 "OpenIdConnectMiddleware: Claims from UserInfo endpoint are not properly mapped to the ClaimsPrincipal"
I am trying to build my ClaimsPrincipal by using profile claims from the UserInfo endpoint (`GetClaimsFromUserInfoEndpoint = true`), rather than providing them in the `id_token`.  For some reason, it seems like when you have a collection of claims that are the same type these get parsed out differently when they are provided in a JWT vs a simple JSON object from the UserInfo endpoint.  This causes

[2016-11-14 23:02] brockallen commented on #1037
perhaps dup: https://github.com/aspnet/Security/issues/976

[2016-11-14 23:39] mclark1129 commented on #1037
@brockallen I think you're right, seems like the same issue.  I think that #976 was closed as being fixed, so if thats true any idea when the fix might get released?

[2016-11-14 23:42] Tratcher commented on #1037
@mclark1129 it was fixed in 1.1.0-preview1 which is already available on nuget.org. The final release should be available shortly.

[2016-11-14 23:47] mclark1129 commented on #1037
@Tracher sounds good, thanks!

[2016-11-14 23:47] #1037 closed

[2016-11-15 08:02] leastprivilege commented on #1035
Well - up to you. Microsoft needs competition, and the community needs choices.

You would be the right guy to maintain a JWT/OIDC library. Just sayin'. We would support it.

[2016-11-15 17:03] mclark1129 opened #1038 "OpenIdConnectMiddleware: Not redirecting to Identity Provider"
After upgrading from 1.0.0 to 1.1.0-preview1-final my client is no longer being redirected to the Identity Provider on initial challenge.  The result is that any request to an action secured by `[Authorize]` fails immediately with a 401.  I see that the handler is getting configuration from the discovery endpoint, and building the correct redirect URI to the authorize endpoint.  However, when it c

[2016-11-15 17:39] PinpointTownes commented on #1038
Just to be sure: have you set `AutomaticChallenge` to `true` in the OpenID Connect options?

[2016-11-15 17:48] mclark1129 commented on #1038
I did not have that there already, but even after setting that property the result is the same.  Regardless of whether or not I specify it I see the middleware execute the challenge for my `oidc` scheme.  I did not have to specify this property in 1.0.0 either.

It looks like the code is behaving almost exactly as before, but just that the call to `Response.Redirect(redirectUri)` just fails silent

[2016-11-15 17:59] Tratcher commented on #1038
Please share your relevant startup code. In fiddler what does the response look like? Is there a Location header?

There was a regression here with IIS that should have been fixed for preview1. https://github.com/aspnet/IISIntegration/commit/3181c3f2e39fdf49a38bae6ea1dc606b884236e9

[2016-11-15 19:04] mclark1129 commented on #1038
@Tratcher Looks the IISIntegration issue is the problem.  I only upgraded the relevant Authentication libraries from this repository to 1.1.0-preview1-final.  I did not realize I would have to upgrade any other packages.  After upgrading IISIntegration my issue is resolved, are there any other packages beyond Authentication that I should upgrade for my MVC application?  Right now I have:

**Authen

[2016-11-15 19:07] Tratcher commented on #1038
Avoid mixing versions when possible, update everything to 1.1.0-preview1.

[2016-11-15 19:12] mclark1129 commented on #1038
Ok my mistake, I didn't realize all packages across aspnet were in the same release cycle.  Will keep that in mind for future upgrades!

Thanks again.

[2016-11-15 19:12] #1038 closed

[2016-11-15 20:12] brentschmaltz commented on #1024
@PinpointTownes @Tratcher @HaoK IM has support for claims filtering when creating the ClaimsIdentity. See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L120 . This was the whole idea for this feature. By default, I had originally removed nonce, etc... but pushback during beta 1 (i think)

[2016-11-15 20:16] PinpointTownes commented on #1024
@brentschmaltz sounds like a good idea. Now, the hard part is listing the "protocol claims" that should be ignored and determining if they should be excluded by default and if it represents a breaking change or not.

[2016-11-15 20:20] brentschmaltz commented on #43
@leastprivilege @marc-mueller @MaximRouiller @helmsb the roadmap to make this happen is fully understood. Everytime I bring it up, the beancounters ask who really cares, if you do contact your contacts here at MSFT directly.

@Tratcher dotnet/corefx#4278 is the start of it. CoreFx is the rightfull owner of SignedXml. Once that is in place, IM can re-introduce EnveopledSignatureReader (which should

[2016-11-15 20:28] brentschmaltz commented on #1024
@PinpointTownes nonce, c_hash, at_hash are the obvious contenders to be dropped on the floor. I can't think of any obvious ones. SAML has separate sections (statements) for such artifacts making such calls easier.

[2016-11-15 20:42] MaximRouiller commented on #43
@brentschmaltz Right now, I don't. I just see a confusion around the packages.

I'll talk to my beancounter if I ever need it urgently.

[2016-11-15 20:45] PinpointTownes commented on #1024
What about `iat`/`exp`/`nbf`, `iss`, `azp` and `aud`?

[2016-11-15 20:46] brentschmaltz commented on #43
@MaximRouiller I was referring my Microsoft beancounters who want to ensure the number 1 priorities are what we are focused on. So they need to hear from you.

[2016-11-15 20:49] brentschmaltz commented on #1024
@PinpointTownes those are good candidates. The iss is in every Claim as the Issuer property.

[2016-11-15 21:08] brockallen commented on #1024
nonce?

[2016-11-15 21:14] brockallen opened #1039 "Signout for google throws"
In Katana when you called Signout for social providers, it no-op'd. In Core, it now throws since the default base class has no implementation (not supported exception). Perhaps it should not throw. // @blowdart

[2016-11-15 21:36] Tratcher commented on #1039
This was an intentional change to highlight that signout is not supported for some providers. Cookies and OIDC are the only ones that support sign-out right now.

[2016-11-15 21:38] brockallen commented on #1039
Yea, sucks for writing a generic logout logic then. It needs to be wrapped in try/catch for NSE.

[2016-11-15 22:21] brentschmaltz commented on #1024
@brockallen yes we should kick 'nonce' to the curb.

[2016-11-16 05:02] blowdart commented on #1039
Funny I was talking to Dominick about this last night. I'm actually with Brock and Dominick on this one, because it's a horrible shock to folks upgrading from Katana. I'd lean towards no-op, with logging as a warning, rather than throwing an exception

[2016-11-16 05:12] Tratcher commented on #1039
But why are you calling SignOut on random providers? Challenge is the only API directly supported by all providers. For 1.0 we also made Authenticate pass through the OAuth providers so it looks like it works. But SignIn and SignOut? Cookies is the only one that really supports either, and we re-purposed SignOut on OIDC for remote sign-out.  I don't see how SignOut can make sense for Windows auth,

[2016-11-16 12:40] brockallen commented on #1039
Because in our token service, all we track the middleware used for external authentication as a claim. At signout time we need to trigger it, but we don't know if it was social or otherwise (such as AAD, ADFS, etc) See here:  https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/Controllers/AccountController.cs#L192

[2016-11-16 13:44] danroth27 commented on #967
@eilon @blowdart This seems really confusing. Why would I need to add authentication middleware to get a 401? Returning a 500 in this situation seems wrong.

[2016-11-16 17:07] Tratcher commented on #967
HTTP requires a 401 be accompanied by headers telling the client how they can authenticate. If you're not going to tell the client how to log in you may as well use a 403 Forbidden. 401 is also a specific flow of auth, most of our providers use 301s instead. As such [Authorize] doesn't pick the status code at all, the middleware do that.

We added this check to catch common errors like the one abo

[2016-11-16 19:23] danroth27 commented on #967
Sure, I can see how returning a 403 makes more sense in this case.

[2016-11-16 22:17] Tratcher commented on #1039
Ok, so you're trying to trigger the remote sign-out which is only implemented for OIDC right now. WsFed had this as well(?), but none of the other providers implement it.  Then you follow up by deleting the auth cookie which makes sense.

You never do this for the persistent auth types correct? Windows, Bearer, Basic, etc?

[2016-11-16 22:21] Gillardo commented on #1026
Did you manage to implement this or find a working project to implement SAML2?

[2016-11-16 22:21] brockallen commented on #1039
There is no UI for Bearer. Windows wouldn't make sense, since logging out would mean signing out of the OS. Basic... no idea. That's not terribly relevant for IdentityServer (in the UI at least).

[2016-11-17 00:23] polita commented on #1035
We (Identity and ASP.NET) talked through the goals and design for these parameters today. We need to be able to alert vulnerable apps if ever there is a security issue in Wilson, so we feel this is an important security feature. Of utmost importance was a way for the developer to turn it off easily, so the design allows for one line of code to switch it on/off.

We have no way of knowing if a requ

[2016-11-17 16:16] PinpointTownes commented on #1035
There's something I don't understand: if this feature is only about security (and doesn't have statistical purposes), why not using servicing to replace vulnerable versions like any other .NET Core/ASP.NET Core library?

Also, you didn't say why an `app.UseActiveDirectoryAuthentication()` extension wouldn't work in this case.

Here's what I have in mind:

[code]

IMHO, it would be much better than

[2016-11-17 16:46] polita commented on #1035
It's certainly something I've mulled over. I see a difference between security features and security fixes. If something is broken and presents a security hole, it's appropriate to service it. If something is presenting a new security feature, it's less clear that it's appropriate for servicing. I'm open to the conversation for servicing though. That would help more people get it faster.

In the s

[2016-11-17 19:46] axelheer commented on #1026
@Gillardo the Saml2 library by @ITFoxtec works with ASP.NET Core, although you have to stick with the full .NET Framework as the runtime -- .NET Core does not work!

I've now a working prototype for my project using that library, but maybe I'm going to implement something on my own. But I only need to support one specific Identity Provider, which shouldn't be that hard without the whole ceremony..

[2016-11-17 19:59] PinpointTownes commented on #1026
@Tratcher any chance you could remove the duplicate flag from this ticket? SAML-P and WS-Fed are two separate protocols, so the other ticket is not a duplicate.

[2016-11-17 22:16] Eilon commented on #1039
From @blowdart

We discussed this and this seems reasonable.

Would it make sense for the social providers to pass through and call SignOut on the cookie auth provider?

And then what should Windows auth (throws) and Bearer auth (throws) do for SignOut?

[2016-11-17 22:21] Eilon commented on #1033
We should also add this to the OAuth providers.

[2016-11-17 22:30] brockallen commented on #1039
I'd say no, as apps today are already aware that they are expected to clear their own cookie, plus it's hard to know what cookie middleware was ultimately used. In short, leave this up to the app (as it already is today).

[2016-11-17 22:30] Eilon commented on #1032
Closing because this seems to have limited usefulness and we are not planning to implement this.

[2016-11-17 22:30] #1032 closed

[2016-11-17 22:30] brockallen commented on #1039
Nop as well, I'd imagine, for the same reasons the social ones do.

[2016-11-17 22:40] Eilon commented on #1029
Discussed with @Tratcher and @vibronet (actually they just talked amongst themselves and the rest of us watched) and this doesn't seem critical for a patch.

[2016-11-17 22:40] #1029 closed

[2016-11-17 22:52] Eilon commented on #1027
For case (3) we should fire the event twice, and on the second time add the additional info.

[2016-11-17 23:01] Eilon commented on #1028
Looks like we'll do https://github.com/aspnet/Security/issues/1027 instead of this so that the app developer can handle this.

[2016-11-17 23:01] #1028 closed

[2016-11-18 00:23] raphaellondner-okta commented on #1032
It's interesting that Microsoft is not willing to implement something mandated by the OAuth 2.0 spec (and which, quite frankly, shouldn't be that difficult), but so be it.

That being said, what is your recommendation to use this library with FitBit, Reddit and Yahoo?
https://dev.fitbit.com/docs/oauth2/#access-token-request
https://github.com/reddit/reddit/wiki/OAuth2#retrieving-the-access-token
h

[2016-11-18 00:26] Tratcher commented on #1032
There are implementations available for those over here:
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Fitbit/FitbitAuthenticationHandler.cs#L66

[2016-11-18 02:39] PinpointTownes commented on #930
Outch, looks like this thread was muted and I didn't see your replies :scream:

Yes, you actually generalized the "bad behavior" I was trying to fix, which has a very negative impact when you have 2 automatic middleware in the same pipeline (e.g Identity + JWT), as the two challenges collide.

Unfortunately, it does pretty much the opposite :face_with_head_bandage:

[2016-11-18 11:45] muena opened #1042 "RemoteAuthenticationTimeout and Correlation Failed"
Hi,
I know it's not a bug but a question, but can someone please explain me how it is designed to work?

I have a client using oidc. When the user stays on the logon page (longer than the configured RemoteAuthenticationTimeout) and then submits it, a RemoteFailure event gets triggered on the client with a "Correlation failed" message. But it is authenticated.

AFAIK the correlation cookie prevents

[2016-11-18 18:42] blowdart commented on #1039
@Eilon Yea, what brock said, because you have no idea if cookie middleware is even there.

[2016-11-18 18:55] Eilon commented on #1039
Yep this makes sense.

[2016-11-18 20:30] Tratcher commented on #1042
If the login takes too long such that the temp state like the correlation cookie are discarded then you should ask the user to re-start the login flow.

[2016-11-18 22:36] mjrousos opened #1043 "UseJwtBearerAuthentication and UserManager disagree one where the user ID claim is stored"
I'm trying to use `JwtBearerMiddleware` (from `Microsoft.AspNetCore.Authentication.JwtBearer`) to authenticate with a bearer token. I then use `UserManager.GetUserAsync(HttpContext.User)` in one of my controller actions to map the user from the token back into an ASP.NET Core Identity user.

I'm running into issues, though, because those two components (JwtBearerMiddleware and UserManager) don't a

[2016-11-21 13:23] brockallen commented on #1043
The JWT bearer middleware is converting the JWT claim types into the antiquated SOAP claim types (you can thanks the AAD team for that one). You can disable this by adding this one line of code to your startup code (somewhere):

[code]

[2016-11-21 15:09] PinpointTownes opened #1044 "Consider reverting https://github.com/aspnet/Security/pull/982"
https://github.com/aspnet/Security/issues/930#issuecomment-261433813

[2016-11-21 21:38] mlbiam opened #1045 "Unable to process token"
I'm writing an identity provider.  It works with mod_auth_openidc (Ping's project for Apache) and Kubernetes.  I'm trying to integrate it with the asp.net core openid connect provider 1.1.  It will trigger an authentication without issue but when it tries to process the access token I get the following error:

[code]

Here's the access token returned from the code token exchange:
[code]

here's th

[2016-11-21 22:04] brockallen commented on #1045
What does a response from `"jwks_uri": "https://oidcidp.tremolo.lan:8443/auth/idp/OidcIdP/certs",` look like?

[2016-11-21 22:06] mlbiam commented on #1045
@brockallen

[code]

[2016-11-21 22:08] mlbiam commented on #1045
@brockallen its actually never calling the userinfo endpoint.  It calls /token then fails

[2016-11-21 23:25] Tratcher commented on #1045
If the user-info request isn't sent then the null ref is coming from this range:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L758-L775

There are very few things that could null-ref there. One way to debug this is to checkout the Security code (rel or master branch) and add a global.json reference to it in your repo. The

[2016-11-21 23:27] brockallen commented on #1045
Perhaps this issue illustrates that there could be more logging here.

[2016-11-22 06:37] jkells opened #1046 "Depending on Microsoft.AspNetCore.Authentication 1.1.0 causes a failure to resolve System.Net.Http when targeting the full framework."
### Depending on Microsoft.AspNetCore.Authentication 1.1.0 causes a failure to resolve System.Net.Http when targeting the full framework.

### Minimal repro steps
*I have attached a project that reproduces the issue.*
[SystemNetHttpClientIssue.zip](https://github.com/aspnet/Security/files/605636/SystemNetHttpClientIssue.zip)
1. Create a NetCore library project and NetCore console project targeting

[2016-11-22 08:49] FredrikK opened #1047 "Correlation cookie expire date and invalid client time"
When creating the correlation cookie an absolute expire date is set:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationHandler.cs#L193
If Options.RemoteAuthenticationTimeout is 0 then the expire date will be set to now.

If the clients computer time is not correct and is set to sometime in the future that is greater than Options.RemoteAuthentic

[2016-11-22 11:09] mlbiam commented on #1045
PRBKAC - I had implemented userinfo as post instead of get.  Once I added the source to my project and set some break points this became obvious.

great library, very easy to get everything working!

[2016-11-22 11:35] glatzert opened #1048 "Proposal: Allow the OpenIdConnectHandler to care about refreshTokens"
My website is communication with a web-API, which is accessed via OAuth-Bearer-Authentication.
To cope with the AccessTokens and RefreshTokens, I pulled ADAL into my project, which has a rather impractical interface for it's Token-Caching and manipulation of that cache - espacially for webserver <-> webserver scenarios.

So I'd propose to pull the RefreshToken Handling into the OpenIDConnectHandle

[2016-11-22 13:04] RaviDesai commented on #1046
I'm having this issue on a aspnetcore 1.1 app in VisualStudioCode (on my mac) targeting dotnet 5.6 and portable-net45+win8.  Just upgraded this app from aspnetcore 1.0, where the reference to System.Net.Http worked fine.

[code]

It sounds like you have some kind of work-around, but I'm not sure I understand it.  Can you elaborate?

[2016-11-22 13:47] Tratcher commented on #1045
What line caused the null ref? That shouldn't happen regardless of the response.

[2016-11-22 14:16] Tratcher commented on #1047
FYI: This timeout was added to limit the buildup of stale cookies on the client due to incomplete auth flows.

I agree this is a problem in theory, but how frequently have you seen clients fail because of it in production? This is the first report we've had for this issue. Most computers sync their time automatically.

[2016-11-22 15:10] mjrousos commented on #1043
Thanks, @brockallen, very helpful! It looks like `DefaultInboundClaimTypeMap` changes need to be made before `UseIdentity()` is called. After doing that, my app works as expected.

The claim type mapping of `JwtSecurityTokenHandler` is not very well documented or discoverable. This seems like something that should be included in ASP.NET Core security/identity docs.

[2016-11-22 15:11] brockallen commented on #1043
+1, or they should just not do the mapping by default, but that's an uphill battle

[2016-11-22 15:20] FredrikK commented on #1047
Yes, we understand the need of not leaving a lot of dead cookies behind.
Even a session cookie could be quite ugly, especially on Chrome you could build up a lot of old cookies that are not deleted until you reboot your computer.

Our quick analyze shows that 0.1% of the users are experiencing this. Not that many, but for them it's a show stopper as they will not be able to log in.

Is it possible

[2016-11-22 15:25] Tratcher commented on #1047
Timeout.InfinateTimeSpan (-1 s) would be more conventional.

[2016-11-22 15:43] FredrikK commented on #1047
Yes. That would work.

[2016-11-22 18:09] Tratcher commented on #1048
The handler can't do automatic token refresh because it only runs during the initial login. The handler also doesn't have a direct reference to the stored tokens, they're stored in the auth cookie.

There are two ways to do auto refresh:
1) as a background task on the server. This requires storing the tokens in a persistent store that the server always has access to even without active requests (a

[2016-11-22 19:01] JeanCollas commented on #1044
Please consider, as it breaks some 3rd party security libraries.
It breaks the openiddict's workflow, by falling into error even before reaching the controller.

[2016-11-22 19:06] PinpointTownes commented on #1044
/cc @Tratcher

[2016-11-22 19:23] PinpointTownes commented on #1044
@sebastienros FYI, this "by design" issue will likely impact Orchard 2's OpenID module when moving the `oauth2` branch to ASP.NET Core 1.1.0, as the JWT bearer middleware will now collide with the cookies middleware set up by Identity.

[2016-11-22 19:39] HaoK commented on #1044
@PinpointTownes your mileage might be better if you call it a breaking change (I had a bad feeling about that one :()

[2016-11-22 20:05] guybartal commented on #1021
thanks!

[2016-11-22 21:25] FredrikK commented on #1047
If this is an acceptable solution, would you like a pull request or will this do?

[2016-11-22 23:09] Eilon commented on #1048
There are no plans at this time to implement automatic processing of refresh tokens in ASP.NET Core.

[2016-11-22 23:09] #1048 closed

[2016-11-22 23:18] Eilon commented on #1043
@brentschmaltz can you open a new bug in the AAD repo and we'll close this?

[2016-11-22 23:24] Eilon commented on #1047
We are not planning to change this behavior, so the recommended workaround is to set the default timeout to a higher value (e.g. 2 hours, or even 2 centuries 😄 ).

[2016-11-22 23:24] #1047 closed

[2016-11-22 23:30] Eilon commented on #1046
@anurse, @muratg will come talk to you about this.

[2016-11-23 05:49] patrickCode commented on #701
Any update to this? When can we expect the CertificateAssertion to be in place?

[2016-11-23 19:29] anurse commented on #1046
This appears to be a packaging issue with our Authentication package. I've updated @muratg and @pranavkm with some information on it, and we'll investigate how best to fix this issue. Unfortunately I haven't been able to find a good workaround, short of downgrading back to `net451` which should not exhibit this issue.

[2016-11-24 00:12] Eilon commented on #701
Hi @patrickCode ,

Here are some comments from @vibronet from an email exchange we just had:

Plus, as far as we know this isn't yet ratified in an OIDC spec.

So for those reasons we have no plans to implement this and so I'm closing the issue for now.

Thanks,
Eilon

[2016-11-24 00:12] #701 closed

[2016-11-24 02:08] LeandroPT opened #1049 "signin-oidc callback fails with 502 Bad Gateway at Azure/IIS with cookie session store"
Hey guys,

I don't know what you have done in 1.1.0 but openid does not seem to be working at all at Azure.

I have upgraded my webapp from 1.0.1 to 1.1.0, and besides the nag about the automatic[Challenge/Authenticate] between cookie and openid it works just fine on local machine.

However in Azure, when processing the callback for /signin-oidc i just get "The specified CGI application encountere

[2016-11-24 08:20] hikalkan opened #1050 "Extract classes to use social login infrastructure independently"
I suggest you to extract classes to use social login infrastructure independently.
I'm creating an Angular2 SPA which will have social login feature. But I can not use ASPNET Core's built-in social login middlewares, since this is a SPA. On the other hand, ASPNET Core has already contains code to get user information (name, email...) from facebook, google, twitter... but highly mixed with the midd

[2016-11-24 09:10] Webbanditten commented on #1050
Yes the social login middleware would be awesome to have decoupled.

[2016-11-24 15:55] LeandroPT commented on #1049
Found out some more things...

Because of cookie size restriction in IOS i used to store cookie info on azure... apparently there is an issue there i did not yet discovered..

Any thoughts?

[2016-11-26 16:43] Tratcher commented on #1027
I'm still concerned that firing the same event for two different scenarios will confuse and break people. The first time it fires it's primarily a chance for people to do additional validation and claims transformation. The new case we're considering is very different, it's about reconciling a secondary token/principal.

New proposal:
Keep TokenValidated as is for the first token processed, the ap

[2016-11-28 07:27] kierenj opened #1051 "FileLoadException with Microsoft.AspNetCore.Authentication.JwtBearer"
I get the following exception when I try to create an instance of `JwtBearerOptions`:

[code]

My project.json:

[code]

Adding `"Microsoft.IdentityModel.Tokens": "5.1.0",` as a dependency results in the same exception.

In VS at least, I don't get any underlines in project.json, `dotnet restore` doesn't give any warnings/errors.  I'm happy to help debug, but fuslogvw is a mess (which version do I

[2016-11-28 07:33] davidfowl commented on #1051
This is a single `project.json` and I'm assuming you didn't run a library project. Where is the application? Can you also post the lock files?

[2016-11-28 07:41] kierenj commented on #1051
Ok sure, like I say, happy to help.  There's quite a graph of projects, and I wasn't sure what would be most useful to diagnose.  I'll prep a bundle of this stuff.

[2016-11-28 07:42] davidfowl commented on #1051
Best would be a github repository.

[2016-11-28 07:59] kierenj commented on #1051
It will take a little longer to get a buildable repro project together, but here's a repo with the appropriate structure, `project.json` and lock files.

https://github.com/RedRiverSoftware/netcore-repros/tree/aspnet_security_1051_repro

Startup project is at https://github.com/RedRiverSoftware/netcore-repros/tree/aspnet_security_1051_repro/src/myproj .

[2016-11-28 12:03] levilxw opened #1052 "Microsoft.AspNetCore.Authentication.JwtBearer not working for Bear reference tokens"
I use IdentityServer3 aithority and token type use reference tokens, can I use Microsoft.AspNetCore.Authentication.JwtBearer middleware to do the authentication?

[2016-11-28 14:10] brockallen commented on #1052
If you're using reference tokens you need to use this: https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation

[2016-11-28 15:03] dazinator opened #1053 ".NET 2 / Asp.net 3.5 forms auth cookie compat"
Not sure if this is the best place to raise this.

I had a need to be able to encrypt and decrypt a Forms Authentication ticket that is compatible with .NET 2 / asp.net 3.5 forms authentication.

I created this library in the end, using reference source to help me work out what was going on:

https://github.com/dazinator/AspNetCore.LegacyAuthCookieCompat

Usage looks like:

[code]

To Decrypt: (We

[2016-11-28 18:47] Tratcher commented on #1044
We've known for a long time now that having multiple active challenge middleware will cause conflicts, especially incompatible ones. The multiple auth types ambiguity can only be properly resolved by naming the desired type when issuing the challenge. I don't see how else the conflict can be deterministicly resolved in the short or long term.

[2016-11-28 19:39] Tratcher commented on #1049
What cookie session store are you using? We don't actually ship any implementations. Does your app work if you disable the cookie session store?

[2016-11-28 20:04] LeandroPT commented on #1049
Hello,

Yep, i made a custom one using REdis Cache.

If i turn it off it works, apparently it is a "hack" like this:

`public class RedisCacheTicketStore : ITicketStore
    {
        private const string KeyPrefix = "AuthSessionStore-";
        private IDistributedCache _cache;

        public RedisCacheTicketStore(IServiceProvider serviceProvider)
        {
            this._cache = serviceProvid

[2016-11-28 21:35] JaPawel commented on #1051
Same here:
`Unhandled Exception: System.TypeInitializationException: The type initializer for 'System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler' threw an exception. ---> System.IO.FileLoadException: Could not load file or assembly 'Microsoft.IdentityModel.Logging, Version=1.1.0.832, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The located assembly's manifest definition does not match

[2016-11-28 21:43] PinpointTownes commented on #1044
I've always thought that the whole point of returning a boolean from `HandleUnauthorizedAsync` was to allow a middleware to prevent the other middleware higher in the pipeline from applying their own challenge when unwinding the pipeline (that's why the bearer middleware returns `false` - because multiple schemes are allowed - while the cookies or the OIDC middleware return `true`).

Obviously, th

[2016-11-28 21:45] Tratcher commented on #1051
@kierenj  There was an issue with the 1.1 packages when we first uploaded them where we had built against the wrong version of the IdentityModel packages. We quickly deleted the affected packages and uploaded a corrected version. If you delete your local package cache and then run restore you should get the correct package.
Go to `C:\Users\[username]\.nuget\packages` and delete `Microsoft.AspNetCo

[2016-11-28 22:00] Tratcher commented on #1044
That bool prevented the downstream handlers from being called during that specific call to Challenge, not for the whole response. As your original bug reported (#930) this didn't affect automatic unwind challenges. They never observed the original Challenge so they didn't know that someone else handled the response already. We "fixed" the automatic unwind challenge issue by enabling all the middle

[2016-11-28 22:09] PinpointTownes commented on #1044
But technically, what prevents us from extending that concept to automatic challenges (applied via the OSH callback).

IMHO, here's how it should ideally work:

  - When `Challenge` is manually called:

    - Invoke the corresponding middleware when schemes are specified.
    - Invoke the automatic challenge middleware when no scheme is specified (= `AutomaticScheme`) until one of the middleware r

[2016-11-28 22:18] JaPawel commented on #1051
@Tratcher tried that before but as I suppose I was removing wrong files (not those you listed). Now to be sure, removed whole .nuget\packages and everything works fine. Awesome thanks!

[2016-11-29 00:49] Eilon commented on #1044
Hi @PinpointTownes , we discussed this at length with @Tratcher @blowdart @HaoK and some others and we have plans on how to mitigate this in the future, but we're not planning on changing this behavior in 1.1.

The mitigation plans are to do one of these:

* Try to detect this scenario at runtime and alert the developer that this is an unsupported scenario (having more than one “automatic” challen

[2016-11-29 00:50] Eilon opened #1054 "Make it harder (or impossible) to have more than one auth provider have "automatic" challenges"
From discussion with @HaoK @Tratcher @blowdart and others, we suggest either:

* Try to detect this scenario at runtime and alert the developer that this is an unsupported scenario (having more than one “automatic” challenge registered).
* Or change how automatic challenges are registered so that only one auth provider per app pipeline can be automatic. For example, instead of each provider having

[2016-11-29 00:50] Eilon commented on #1044
Tracking the vNext proposals here: https://github.com/aspnet/Security/issues/1054

[2016-11-29 01:13] PinpointTownes commented on #1044
@Eilon hey.

That's extremely unfortunate because it's really an annoying regression that impacts everyone, specially ASOS/OpenIddict and IdentityServer users (using a bearer middleware + Identity is extremely frequent in apps that use the code/implicit flow, which includes a lot of SPA apps).

Since there's nothing planned to revert it, I guess the most sensible option we have is to keep using 1.

[2016-11-29 02:07] JeanCollas commented on #1044
I still don't understand how this specific change has been an improvement as compared to previous versions...

[2016-11-29 05:26] Eilon commented on #1044
The problem that existed both before this change as well as after it was that it wasn't very meaningful to have more than one auth provider that was "automatic." That configuration simply didn't make sense because the auth providers weren't design to coordinate with each other about any "hands-off" behavior if one provider already did a challenge. The fix should be easy: don't set more than one au

[2016-11-29 05:27] Eilon commented on #1044
BTW I don't think there should be a reason to stick to 1.0.0 because of this (because it wasn't supposed to work on 1.0.0 either!).

[2016-11-29 05:56] levilxw commented on #1052
Yes, it is working to use IdentityServer4.AccessTokenValidation. Thanks, @brockallen
Then I use IdentityServer3 as IDP but use IdentityServer4.AccessTokenValidation as authentication middleware, do you have concern for this?

[2016-11-29 05:59] Tratcher commented on #1054
Design details:
- There is a small subset of auth providers that can collaborate in automatic challenge mode because their challenges can stack without conflicting. E.g. Basic, Bearer, and Windows auth.
- Whatever we do should take into account Windows auth as provided by IISIntegration and WebListener. They don't directly derive from the Auth base classes in this repo, only the raw HttpAbstractio

[2016-11-29 07:38] kierenj commented on #1051
@Tracher, for whatever reason, this didn't solve the issue for me.  I deleted the folders, and after a restore, they were re-created.  The exception remained however.  I then tried clearing out the entire package folder, and using `dotnet restore --no-cache` just in case.  I get the same exception, unfortunately - both from commandline and running under VS.

What else can I try / do to diagnose?

[2016-11-29 12:17] PinpointTownes commented on #1044
We're obviously not living in the same world. In the real world, nothing is as easy as you imagine, I'm afraid :smile:

There are basically 2 options to work around this breaking change/regression in a mixed bearer middleware/cookie middleware scenario:

  - Set `AutomaticChallenge` to `false` in one of the two middleware. Since the default Identity templates rely on automatic challenge to work co

[2016-11-29 12:29] leastprivilege commented on #1044
Oh - how I miss the times when I had the energy to write such long and passionate emails...now I mostly have the feeling that I am getting to old for this shit ;))

[2016-11-29 17:07] HaoK commented on #1044
FWIW I agree that this is a breaking change and probably shouldn't have been made in a .1 release...

That said, this scenario was one of the earliest ones as @blowdart ran into this almost immediately
`[Authorize(ActiveAuthenticationSchemes = "Bearer")]` or something equivalent where you move the scheme into a policy [Authorize("Bearer")] is what was intended for this scenario.

See https://docs.

[2016-11-29 21:39] Tratcher commented on #1051
Try closing everything and doing
`nuget.exe locals all -clear`
https://docs.nuget.org/ndocs/tools/nuget.exe-cli-reference#locals

Also clean your project (git clean -xdf if it's a git repo) before running restore again.

[2016-11-30 00:03] Tratcher commented on #1046
Yes, I was able to work around this in the given repro app by downgrading the Lib project from net46 to net452.

[2016-11-30 06:16] HaoK commented on #1054
We could try moving from the `AutomaticChallenge` bool on each options, to a single `AutomaticChallengeScheme[s?]` on `SharedAuthenticationOptions`, which would effectively make it impossible to mave multiple defaults by accident.  We could even allow this to be an ordered list by priority to support firing off multiple challenges (Basic/Bearer/Windows) where it would stop once any 'succeeded'

Th

[2016-11-30 06:55] Tratcher commented on #1054
The most common scenario where people run into this is when their apps have both interactive and API controllers. Right now we tell people they should specify Bearer on all of their API controllers, but what if MVC could allow for two separate default policies, one for each kind of controller? Then you just put Authorize everywhere and not worry about the two crossing.

[2016-11-30 07:07] kierenj commented on #1051
Thanks for the suggestion, cleaned everything with NuGet and the repo, then it took a long while to restore, then:

[code]

It's not `.Tokens`, but `.Protocols`, now.

[2016-11-30 09:45] HaoK commented on #1054
This is already the guidance I thought, when mixing interactive and API, you have a Bearer policy for the API controllers, and a Cookie policy for the interactive, Authorize("Bearer") on one with Authorize("Cookie") on the other.

[2016-11-30 14:16] Tratcher commented on #1054
I meant that we could make [Authorize] smart enough to pick a policy based on the controller type so you didn't have to specify it everywhere, only in one central location.

[2016-11-30 14:24] leastprivilege commented on #1054
Yes please add more "automatic magic" - didn't that bring us here in the first place?

[2016-11-30 15:05] Tratcher commented on #1054
@Eilon does the combine WebApi/MVC still make a clear distinction between API controllers and interactive controllers?

[2016-11-30 15:34] leastprivilege commented on #1054
no.

[2016-11-30 16:33] c-s-n commented on #930
Underlining the "bad feeling about this change" from @HaoK , I now have to report one use case that most likely got broken due to this questionable change, noted when upgrading from ASP.NET Core 1.0.1 to 1.1.0.

**Background**
I use the IISIntegration with `IISOptions.AutomaticAuthentication = true` and `IISOptions.ForwardWindowsAuthentication = true`. Furthermore I use the Cookie Authentication (

[2016-11-30 17:56] HaoK commented on #1054
I don't think it makes sense for Authorization to have any notion of interactive/API, once you have something like two 'default' policies, that doesn't seem 'default' at all.  Name them if you want specific behavior i.e. [Authorize] + [Authorize("Interactive")]

[2016-11-30 18:06] Tratcher commented on #1054
That's our current guidance and it clearly isn't working for people.

[2016-11-30 18:15] HaoK commented on #1054
That's because our defaults are 'bad' and make it easy to do the wrong thing.  When everything used to be false by default, it was much harder to get into this state.  I believe for templates, we flipped JwtBearer's AutomaticChallenge = true, so now its very easy to hit, just by using Identity and JwtBearer together with their defaults.

Hence they wouldn't even look for guidance, it would just 'w

[2016-11-30 18:22] Tratcher commented on #930
@c-s-n Please open a new issue for this so it doesn't get lost. We have test coverage for this scenario and it appears to be working. Are all of your packages 1.1? It won't work if you mix 1.1 cookies with 1.0 IISIntegration.

[2016-11-30 21:11] Tratcher commented on #1051
That doesn't make much sense, Microsoft.IdentityModel.Protocols is what depends on System.IdentityModel.Tokens.Jwt and Microsoft.IdentityModel.Tokens. You don't have any other nuget feeds configured do you? Like our nightly feeds?

My only other idea is to clear all your caches and use Fiddler or a network trace to verify where you're pulling the package from. I wonder if the bad packages are cach

[2016-11-30 21:23] kierenj commented on #1051
Yes indeed as per my final line there (and demo repo), I have the nightly feeds too.  I feel like that should be an "aha" moment based on your last comment, but it doesn't quite all add up just yet - no package restore warnings, is it just that the nightlies still have the 'wrong' versions, or refer to something not publicly published, but that wouldn't cause a package restore error?

[2016-11-30 21:32] Tratcher commented on #1051
It's not a package restore issue per say, it's the fact that we published a bad JwtBearer 1.1 package, deleted it, and then published a new JwtBearer 1.1 package. Nuget can't tell the difference, so it may be picking up the bad version from a cache somewhere. We initially had this issue with the CDN but we got that fixed pretty quickly.

Even the nightly feed shouldn't cause a problem if you refer

[2016-11-30 22:02] kierenj commented on #1051
Humm OK, I see.  I've tried this from the coffee shop I was in the first time around, then the office, and at home.   I tried a fiddler trace, but nuget doesn't like the HTTPS interception (failed to establish connection..) even after trusting the cert, and specifying http in the nuget.config didn't change anything - it still tried https.
Anything else I can do - with the debugger, with ilspy, or

[2016-11-30 23:03] cheesemacfly opened #1056 "Can AccessDeniedPath be optional?"
Refering to this proposal: https://github.com/aspnet/Announcements/issues/40 and the explanation for the `AccessDeniedPath` property in `CookieAuthenticationOptions`:

As of right now, when not setting the `AccessDeniedPath` option it is defaulted to '/Account/AccessDenied'. So if the browser makes a call that is [not Ajax](https://github.com/aspnet/Security/blob/rel/1.1.0/src/Microsoft.AspNetCore

[2016-12-01 10:16] c-s-n commented on #930
Yes, there are all on 1.1.0. I will open a new ticket, thanks.

[2016-12-01 10:31] c-s-n opened #1057 "Automatic Cookies challenge overridden by Windows Authentication since 1.1.0"
### Background
I use the IISIntegration with `IISOptions.AutomaticAuthentication = true` and `IISOptions.ForwardWindowsAuthentication = true`. Furthermore I use the Cookie Authentication (without Identity) with `CookieAuthenticationOptions.AutomaticAuthenticate = true` and `CookieAuthenticationOptions.AutomaticChallenge = true`. This should be fine in combination (see e.g. also [this comment](http

[2016-12-01 21:13] Tratcher commented on #1057
Needs investigation. We have tests for this scenario in MusicStore and nobody else has reported this yet. Something this fundamental would have broken anyone using Cookies on IIS.

Please share your project.json and Startup.cs, or a whole repro app pushed to github.

[2016-12-01 22:38] Anton987 commented on #605
Any news on this?

[2016-12-01 23:54] Tratcher commented on #605
No news. Everything is blocked on this dependency: https://github.com/dotnet/corefx/issues/4278. Feel free to prod them.

[2016-12-02 07:13] kierenj commented on #1051
Well, ignoring the connection errors, it does still seem to download the JwtBearer package.

First request to regular feed:

[code]

This yields the main release versions, including 1.1.0.

Next it tries the nightlies:

[code]

This gives only preview versions.  So, it decides to download 1.1.0 proper:

[code]

Fiddler response:

[code]

Anything we can do with this?

[2016-12-02 07:49] kierenj commented on #1051
This seems wrong? -

dotnet nuget download, https://dotnetmyget.blob.core.windows.net/artifacts/aspnetcore-dev/nuget/v3/flatcontainer/microsoft.identitymodel.tokens/5.1.0/microsoft.identitymodel.tokens.5.1.0.nupkg is 5.1.0.832

Manual download, https://api.nuget.org/packages/microsoft.identitymodel.tokens.5.1.0.nupkg is 5.1.0.0

[2016-12-02 08:29] cuiliang opened #1058 "‘AutomaticChallenge = false’ cause exception：No authentication handler..."
Hi,
I am using custom cookie authentication, and want no redirection to login page when no cookie presented,
so I set AutomaticChallenge to false followed by document :
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie
`
AutomaticChallenge - this flag indicates that the middleware should redirect the browser to the LoginPath or AccessDeniedPath when authorization fails.
`

[2016-12-02 08:54] HaoK commented on #1058
`[Authorize]` with is basically syntax sugar for not specifying a scheme (using the automatic challenge)

You need to either create an AuthorizationPolicy that lists your Schema, or directly ask for it via `[Authorize(ActiveAuthenticationSchemes = Schema)]`

[2016-12-02 21:31] Tratcher commented on #1051
Ah, so the bad package is on our nightly myget feed. The good news is you can remove the nightly feed for now. We'll get it cleaned up. @pranavkm @muratg

[2016-12-02 21:38] kierenj commented on #1051
Wahey! https://youtu.be/q-Rqdgna3Yw .  Thank you :)

[2016-12-03 11:51] atuzovic commented on #1011
Scenario that we want to support is to implement visibility management on certain components in AngularJS based on server-side policies.

When the user logs in, names of the policies that are satisfied are returned in the response.

On the client side, AngularJS components are secured like this:
`<some-component policy="RequiredPolicyName"></some-component>
`

In order for us to return policies th

[2016-12-04 13:04] HongyanShen opened #1059 "After authentication fails,the state code of response is still 401 but not 302,it happens when the version of Microsoft.AspNetCore.Authentication.Cookies is above 1.0.0"
I compared **Microsoft.AspNetCore.Authentication.Cookies 1.0.0** and **Microsoft.AspNetCore.Authentication.Cookies 1.1.0**.I found the **ChallengeAsync** of **AuthenticationHandler,cs** makes this difference.
The end of **ChallengeAsync 1.0.0** is:
`if (!handled && PriorHandler != null)
            {
                await PriorHandler.ChallengeAsync(context);
            }`
however the end of **Ch

[2016-12-04 14:43] PinpointTownes commented on #1059
FYI, this design change was discussed here: https://github.com/aspnet/Security/issues/1044.

[2016-12-05 02:59] cuiliang commented on #1058
thanks

[2016-12-05 02:59] #1058 closed

[2016-12-05 04:43] Tratcher commented on #1058
If you want a 401 then you should be using something like JwtBearer rather than cookies, and specify the scheme in Authorize like Haok said.

[2016-12-05 06:03] cuiliang commented on #1058
Thanks @Tratcher
Tokens bring much more complexity.
People need to handle generating tokens, keeping tokens, sending tokens, validating tokens, dealing with token expiration and much more.

For OAuth Implicit Flow which is recommended for browser apps,  the access token should have minimal expiration time. But the client have no  refresh token and have to redirect to somewhere to regenerate a new

[2016-12-05 06:41] Tratcher commented on #1058
Trying to use cookies for APIs opens a range of security vulnerabilities. Yes, tokens can be harder for a basic site, but they're still the right answer.

It's our responsibility as framework authors to give you the right tools and guidance, both of which are clearly lacking in this scenario. I'll see about putting together some proper guidance for starters.

[2016-12-05 06:45] cuiliang commented on #1058
Thank you 👍

[2016-12-05 12:57] kierenj commented on #1051
Sorry to turn it around and be a pest so quickly, but would it be possible to guess an ETA for the fix?

I changed the priority order of feeds in my NuGet.configs, but when pushing to Azure it's proving a lot of hassle and keeps grabbing the bad package.  I need the nightly feed in there for some other dependencies. Thanks

[2016-12-05 13:16] SteveSandersonMS commented on #1046
@anurse Might this also be the underlying cause for https://github.com/aspnet/JavaScriptServices/issues/487? Please let me know if this is likely to be fixed in 1.1.1.

[2016-12-05 14:17] ehvattum commented on #978
The problem is also experienced when using OIDC with Auth0 as a "wrapper" provider. If the state parameter is too large, a step in the redirection chain from Auth0 sets a cookie that sometimes is too large for some browsers.

[2016-12-05 14:20] brockallen commented on #978
It would be great to have an ASP.NET Core provided solution for this, even if it's optional.

[2016-12-05 14:20] leastprivilege commented on #978
oh yes - that would be great!

[2016-12-05 15:44] pranavkm commented on #1051
Try it now. I removed the bad packages from the feed.

[2016-12-05 20:17] anurse commented on #1046
It certainly could be related. I don't know exactly what the plan is for fixing the issue in 1.1.1, since I've been OOF for a week, but in theory there are a few cases in our repositories where this issue could arise.

[2016-12-06 05:52] Tratcher commented on #1056
Is this for an API endpoint? If so you should probobly be using something like JwtBearer. Otherwise sending a user an empty 403 response is not recommended.

[2016-12-06 07:29] kierenj commented on #1051
That solved it, thank you.

[2016-12-06 07:29] #1051 closed

[2016-12-06 08:24] #1052 closed

[2016-12-06 21:54] cheesemacfly commented on #1056
Hey @Tratcher, thanks for your answer.

I get your point but this is an issue in our configuration because we actually use [github/fetch](https://github.com/github/fetch) on the frontend which [does not set the X-Requested-With header](https://github.com/github/fetch/issues/17). So in this case `IsAjaxRequest(context.Request)` will return false. And we rely on the status code we get back from the

[2016-12-07 02:29] brockallen commented on #1044
I have a headache from walking thru the code, but I have a feeling this change is related to another breaking change I came across today in 1.1: https://github.com/aspnet/Templates/issues/686#issuecomment-265329808

In short, can you please test account linking in 1.1 in the ASP.NET Identity templates to confirm if it's broken or not?

[2016-12-07 03:00] HaoK commented on #1044
That bug is the bug tracking the work to fix linking for templates, basically the manage controller actions need to explicitly clear the cookie, see https://github.com/aspnet/Templates/pull/726

[2016-12-07 03:00] HaoK commented on #1044
But yeah, those template breaks are related to: https://github.com/aspnet/Announcements/issues/201

[2016-12-07 03:00] brockallen commented on #1044
So then my comment at the end should be a new topic? In essence, the bug is somewhat across all 3 projects: templates, identity, and security.

[2016-12-07 03:02] HaoK commented on #1044
Identity isn't really involved directly, its a change in behavior at the auth layer (so security/templates)

[2016-12-07 03:02] brockallen commented on #1044
So... what would you like me to do?

[2016-12-07 03:03] HaoK commented on #1044
Is there something you feel isn't currently captured by this bug and the templates issues?

[2016-12-07 03:04] brockallen commented on #1044
Well, this issue is closed and it's a breaking change in 1.1 and prevents the linking behavior. So, AFAICT it's still an issue.

[2016-12-07 03:06] HaoK commented on #1044
The linking/external break actually was part of 1.0 (breaking change was made in RC unfortunately), there's no direct templates update related for 1.1, but the PR I referenced should fix it for the next templates update that goes out with VS.

[2016-12-07 03:07] brockallen commented on #1044
I don't think so. I has working code in 1.0 that did account linking, and by upgrading to 1.1 it doesn't work anymore.

[2016-12-07 03:09] HaoK commented on #1044
Oh right, there was this change as well that is what broke the linking :/  https://github.com/aspnet/Security/commit/25f39dd0f5f9a9199b720c2a53a2002cad26a8c4

[2016-12-07 03:10] brockallen commented on #1044
So... are you saying this is a bug and it's news to you?

[2016-12-07 03:20] HaoK commented on #1044
Well I will concede that we certainly didn't have enough test coverage to detect just how breaking they were for templates. That said these were design changes intended to fix other issues. @tratcher thoughts?

[2016-12-07 03:23] brockallen commented on #1044
Well, this removes the possibility of account linking regardless is you're using the templates or ASP.NET Identity. That's why it's a big deal, IMO.

[2016-12-07 03:59] Tratcher commented on #1044
Something's odd with that bug description, there should be two different cookie middleware involved, the app cookie and the external cookie. The access denied issue should have only happened for an existing external cookie, not an app cookie. Let me repro it and get back to you.

[2016-12-07 08:07] barynov commented on #322
I agree. I used Web API 2 on my previous project and it was quite convenient to have identity as an ambient dependency. I used asyncs a lot and did not experience mentioned problems with identity loss. On a new project I tried to apply the same pattern using ASP.NET Core and faced this issue. Yes, it is certainly possible to pass the identity as a parameter to the core, but that would only pollute

[2016-12-07 08:29] barynov commented on #322
After all, `Thread.CurrentPrincipal` already exists in BCL, it is worse not to keep it up to date. Those, who decide to pass the principal explicitly, can do that anyway.

[2016-12-07 12:40] c-s-n commented on #1057
Essential information I actually missed to mention in the issue is that we use a **hybrid approach of self-hosting and IIS-hosting**, selectable via a configuration option. In the one case the standalone WebListener is used, in the other IISIntegration with Kestrel.

The issue at least **occured in the self-hosting/WebListener scenario** - and maybe I mixed it up and it didn't even occur in the II

[2016-12-07 16:04] Tratcher commented on #1057
Interesting, WebListener Auth + Cookies is probobly not a scenario we have test coverage for. You're right, WebListener does not have a switch to disable AutomaticChallenge. If you want to use the two together you'd have to disable automatic challenge on CookieAuth only challenge it by name. Though I have to wonder why you have windows auth and cookie auth enabled together.

I'm going to move this

[2016-12-07 16:05] Tratcher commented on #1057
This issue was moved to aspnet/WebListener#284

[2016-12-07 16:25] atrauzzi opened #1060 "Provide an implementation of `IAuthenticationHandler` targeting `ISession`"
Bit of a mouthful, but it would be nice to just have a default implementation between your interfaces rather than having to come up with my own and risk getting it wrong.
Ideally I'd like to be able to store my authentication state in my session, backed by a distributed cache, backed by SQL.

A package like `Microsoft.AspNetCore.Authentication.Session` maybe?

I guess this can also get confusing b

[2016-12-07 19:03] Tratcher commented on #1044
New proposal: Revert this in 1.1.1 and re-design AutomaticChallenge in 2.0.

[2016-12-07 19:06] PinpointTownes commented on #1044
That sounds MUCH more reasonable, IMHO :+1:

[2016-12-07 19:12] blowdart opened #1061 "Redesign automatic authentication choice mechanism"
The current mechanism for choosing which authentication middleware runs by default has been fragile and caused pain when more than one middleware has been set to automatically run, leading to what is, at best, undefined behaviour. The undefined behaviour changed in 1.1, but [some folks were relying on it.](https://github.com/aspnet/Security/issues/1044)

The basic idea behind automatic challenging

[2016-12-07 19:14] blowdart commented on #1044
https://github.com/aspnet/Security/issues/1061 contains the discussion for the 2.0 way of doing stuff, which will be a breaking change. So start commenting :)

[2016-12-07 19:15] blowdart commented on #1061
Tagging interested parties: @PinpointTownes @leastprivilege @brockallen
MSFT: @davidfowl @DamianEdwards @HaoK @Eilon @Tratcher

[2016-12-07 19:28] leastprivilege commented on #1061
https://www.youtube.com/watch?v=GvtGVoS0ObQ

[2016-12-07 20:00] brockallen commented on #1061
After a bit of experience and reflection how how all of the authentication middleware works today, my sense is that the whole authentication middleware design that was done for katana is not generally appropriate here in ASP.NET Core. IOW, the whole linked list wireup per-request seems unnecessary given that we have DI and that we could inject the main logic (the handlers). There would still be th

[2016-12-07 20:19] blowdart commented on #1054
https://github.com/aspnet/Security/issues/1061 (oh look a PM type spec)

[2016-12-07 20:30] atrauzzi commented on #1060
Here's a little bit of discussion on the idea: https://gitter.im/aspnet-contrib/AspNet.Security.OpenIdConnect.Server?at=58485a570da034021b7f84ed

Based on the discussion above, I've made this:

[code]

However I don't like it because it piggybacks a key as a second cookie rather than just resorting to using the current session for all identity information.  I might still try my hand at writing my

[2016-12-07 20:46] HaoK commented on #1054
Maybe its because I am bleary eyed with 4 hours of sleep after failing to stack a donkey at a poker table until 6 am...but looks like you just filed a dupe to me :)

[2016-12-07 21:48] blowdart commented on #1054
Because @davidfowl was so determined a PM should do it :p

[2016-12-08 05:23] davidfowl commented on #1061
I wasn't involved in the original design but would be fine re-thinking it for 2.0 now that we have a DI enabled system. The decorator pattern we use in the authentication manager wouldn't work in DI either so we'd need an alternate pattern for chaining auth handlers.

Not sure, we'd need to look at both the consumers and implementors of the interface to see who would need to implement it and how i

[2016-12-08 08:41] davidfowl commented on #322
@barynov then inject it as a dependency into your components.

[2016-12-08 09:14] barynov commented on #322
@davidfowl I ended up with an action filter that sets `Thread.CurrentPrincipal` correctly.

[2016-12-08 13:03] brockallen commented on #1061
The reason I suggest explicit interfaces for certain types of functionality is because sometime the generic gestures (Challenge for example) doesn't really work. Should it mean show the access denied page, or should it mean go login to google. Having the framework guess hasn't worked in some cases, so an explicit API might just be easier.

[2016-12-08 15:19] johnkors commented on #1044
Might want to unlist that breaking 1.1.0 in nuget.org as well. Not that I don't mind reading github issues, but took a while to understand why my app stopped working after that minor update.

[2016-12-08 18:23] davidfowl commented on #1061
**Disclaimer: I'm a bit behind here as I wasn't involved here so bare with me as I get up to speed.**

@brockallen Easier for who? What are the actors in the system that would have to know about each interface?

I don't think the framework was guessing anything. Challenge targeted a specific middleware or thing that looked like middleware. The biggest complication besides the auth handler being a

[2016-12-08 18:36] Tratcher commented on #1061
DI is a non-starter when common apps have 2+ instances of cookie auth. Many of the other auth middleware can be duplicated too. I don't see how coming up with a custom interface per scenario helps when you have to somehow associate those with specific middleware instances.

[2016-12-08 18:42] davidfowl commented on #1061
Don't dismiss DI it just yet. There might be more DI friendly ways of composing the system. Let's just draw out the components and interactions we currently have.

[2016-12-08 20:44] HaoK commented on #1061
Yeah I think we can maybe end up with something more similar to authZ.  Which has a similar problem of configuring multiple named policies. The only real difference between Authentication is that the handlers aren't global and are per scheme. But I think something maybe?

ConfigureAuthentication(options => {
  options.AddCookies("cookie1", o => o.Handler.OnRedirect = someMethod)(
  options.AddCook

[2016-12-08 21:36] danroth27 commented on #1049
@LeandroPT Any update on your investigation?

[2016-12-08 23:20] LeandroPT commented on #1049
Hello,

Yeah, i found it was caused by incorrect runtime and build.

I am using the build on Team Services online, and despite i changed the en var for dotnet path it was building incorrectly.

Changed back to the RC2 build script  with the correct version and it works like a charm.

[2016-12-08 23:24] Tratcher commented on #1025
By design. This is intentional extensibility.

[2016-12-08 23:24] #1025 closed

[2016-12-08 23:27] danroth27 commented on #1049
OK. Are we ok to close this issue then? It sounds like you've resolved your own issue. Let us know though if there is more here for us to investigate. We want to ensure that 1.1 is as compatible as possible with 1.0.

[2016-12-08 23:29] LeandroPT commented on #1049
Hey,

Yes, it can be closed. The major issues i am facing now is the change in .Net framework Core behavior change.

[2016-12-08 23:30] #1042 closed

[2016-12-08 23:30] Tratcher commented on #1043
@brentschmaltz *Ping*

[2016-12-08 23:31] #1045 closed

[2016-12-08 23:32] #1049 closed

[2016-12-08 23:33] Tratcher commented on #1050
These providers all have SDKs that you should be using for this.

[2016-12-08 23:33] #1050 closed

[2016-12-08 23:36] Tratcher commented on #1053
Thanks for doing this. https://github.com/aspnet-contrib may be a good home for this.

[2016-12-08 23:36] #1053 closed

[2016-12-08 23:40] #1059 closed

[2016-12-08 23:41] HadeelElbitar commented on #978
The size limit has been updated from 2K to 8K, this change has been released for couple of weeks now, please let us know if you are still seeing the issue :)

[2016-12-08 23:41] Tratcher commented on #1060
@blowdart

[2016-12-08 23:52] brockallen commented on #978
wow, very cool. thanks @HadeelElbitar

[2016-12-08 23:55] blowdart commented on #1060
When ASP.NET was started we very specifically made the decision to split authentication from session due to session hijacking and enumeration attacks. We won't be stepping back from that protection.

[2016-12-08 23:55] #1060 closed

[2016-12-08 23:56] HaoK commented on #1011
@atuzovic feel free to submit a PR for this if you like as a starting point for discussion

[2016-12-09 00:07] #978 closed

[2016-12-09 03:44] danroth27 commented on #1049
Which changes are you referring to? As I said previously our intent is that 1.1 should be fully compatible with 1.0. If you are seeing that this is not the case then please let us know.

[2016-12-09 06:29] hikalkan commented on #1050
We know that we can find some libraries to do that (while some of them are outdated and not official) but it would be nice to get basic user information with a given access key and this is already done in aspnet core social login provider packages.

[2016-12-09 07:07] davidfowl commented on #1061
@HaoK Ohhh, nice. What do you think the auth service would look like? I think we would nuke the IAuthenticationManager from `HttpContext` as well.? Seems like we just need a service with Challenge and Forbid (if we stick with that approach on the calling side).

[2016-12-09 07:28] HaoK commented on #1061
@davidfowl Yeah we can finally get rid of that weirdness with half of Auth living in HttpAbstractions, and have `IAuthenticationManager` just be a normal serivce.  At security triage today we also discussed briefly how it might make sense to split apart the cookie/session specific SignIn/SignOut from the Challenge/Forbid as well, so maybe we need something like `IAuthenticateManager` and some kind

[2016-12-09 07:36] HaoK commented on #1061
Also solving the active problem should be fairly straightforward with a central single AuthenticationOptions:

[code]

With the only magic being, if no default is specified, the default is only implied when there's a single auth scheme configured.

[2016-12-09 07:53] HaoK commented on #1061
Yeah we definitely should nuke the weird `GetAuthenticationSchemes()` method from the `IAuthenticationManager`, since that would be available from `IOptions<AuthenticationOptions>` directly:

We should also revisit the weird AuthenticationProperties/Description legacy stuff we carried over as that seems way more complicated than it should be...

[code]

[2016-12-09 08:18] davidfowl commented on #1061
Who implements the interface?  Today it's possible for non middleware components to implement an auth handler (IIS Integration does it as well as WebListener). How would those change as a result?

Some implementations outside of the security middleware:
- https://github.com/aspnet/IISIntegration/blob/587ed4cd617983a176587d6ba31a2741f9901e5a/src/Microsoft.AspNetCore.Server.IISIntegration/Authentica

[2016-12-09 08:24] davidfowl commented on #1061
/cc @PinpointTownes

[2016-12-09 09:25] HaoK commented on #1061
Today the manager is an abstract class, so there probably would just be our default implementation.

I'm not super familiar with the host auth handlers, @Tratcher will have to chime in with how these might work...

I'm guessing maybe these would look like this?
[code]

Also since we want to get away from the singleton lifetime that middleware forces on us, we can
use the pattern from: https://gith

[2016-12-09 10:58] LeandroPT commented on #1049
The changes i am referring to is the change of behavior on left Joins, Outer Joins, Contains, etc.

Bu i kind of expected those, the issue is that the same query in EF1.0 does not behave same way on 1.1.

And since, it is much faster now, a mis-written/mis-parsed query will eat all CPU in a snap, since it will execute on "client side".

But all is good, almost there :)

[2016-12-09 13:17] brockallen commented on #1061
Hao, we should have a meeting where we can show you how we use this stuff in a real app today.

[2016-12-09 15:59] HaoK commented on #1061
That seems reasonable, @blowdart can you set something up?

[2016-12-09 17:09] danroth27 commented on #1049
@rowanmiller @divega Are these expected changes?

[2016-12-09 17:09] blowdart commented on #1061
@danroth27 is already on it.

[2016-12-09 17:27] muratg commented on #1061
cc @Eilon

[2016-12-09 17:38] divega commented on #1049
@danroth27 @leandropt we made several improvements to EF Core 1.1 that are expected to change SQL generation and in the majority of cases move more of the query processing to the database server.

If you hit unexpected changes in behavior that break your applications please report those to the EntityFramework repo.

[2016-12-09 17:50] davidfowl commented on #1061
@HaoK forcing the use of the IHttpContextAccessor makes me sad, especially because it's not in by default. We'll need to revisit that.

[2016-12-09 18:57] PinpointTownes commented on #1061
Sorry for the late feedback (I'm sick and stuck in my bed... :cry:)

To be honest, I'm not a huge fan of the "full DI" approach suggested by @HaoK and @brockallen as it will likely introduce a whole new set of issues without really solving the initial one.

First issue: how do you control when the authentication handler is invoked if it's automatically registered for you by the security stack? In

[2016-12-09 19:07] HaoK commented on #1061
@PinpointTownes we still have a single instance of UseAuthentication that would be required, so you'd still be able to place that middlewhere in the proper location (after static files, etc) so I don't think this affects that the ability to skip auth for some requests.

Also if there an equivalent way of splitting your configure services similar to the app.useWhen, you could just configure the ser

[2016-12-09 19:08] davidfowl commented on #1061
That's pretty vague. The current approach was inherited from katana with tweaks that happened along the way to make it ASP.NET Core ready. I absolutely think we should consider the alternative design and look at the 2 things side by side and decide if we should do anything for the next major release or not. There would still be an authentication middleware in the pipeline that would use these serv

[2016-12-09 19:23] PinpointTownes commented on #1061
I gave you 2 concrete samples :trollface:

Sure. My point is that this design change should be an improvement, not a regression. And I'm not sure to understand how involving DI here is a positive change 😄

Then why is this automatic authentication/challenge thingy needed at all? Its whole point is to make things easier for everyone. If you force them to use passive authentication, then there's no

[2016-12-09 19:28] PinpointTownes commented on #1061
So you couldn't do things like `app.UseJwtBearerAuthentication()` -> `app.UseSignalR()` -> `app.UseIdentity()` -> `app.UseMvc()`?

Instead, all the authentication middleware would be registered at the same place?
`app.UseAuthentication()` (JWT + Identity) -> `app.UseSignalR()` -> `app.UseMvc()`.

[2016-12-09 19:29] davidfowl commented on #1061
Which basically works around using the system the way it was designed to be used.

I think passive/active auth are overcomplicated. The intent was to make the [Authorize] attribute and a naked 401 *just work* but clearly it doesn't. Especially when multiple things want to be active. It might be better to let all `IAuthenticationHandler`(s) see all things and have enough in the context to determine

[2016-12-09 19:33] HaoK commented on #1061
@PinpointTownes what does SignalR do that requires it to be in front of the identity cookies?

[2016-12-09 19:41] davidfowl commented on #1061
SignalR requires cookies today.

[2016-12-09 19:44] HaoK commented on #1061
Other than relying on multiple automatic challenge = true weirdness, having multiple cookies in any order shouldn't matter at all, as long as they occur before you try to use them...

[2016-12-09 19:48] PinpointTownes commented on #1061
@HaoK perf? There's no reason to invoke the cookies middleware/handler for a SignalR request (which also has XSRF concerns).

My 2 cents: the existing authentication stack is pretty good as-is (ASOS uses it **extensively** and it's a pleasure to use), but I think the "binary" automatic authentication could be improved.

What about keeping the authentication handler/middleware as-is (minus the auto

[2016-12-09 19:50] PinpointTownes commented on #1061
Really? My old SignalR-Server 0.1 sample worked fine with bearer tokens. Did that change in the recent bits?

[2016-12-09 19:52] davidfowl commented on #1061
For non websockets? Sure. Or maybe if you're shoving the token into a query string, then yes.

[2016-12-09 19:54] HaoK commented on #1061
@PinpointTownes if all you want to do is change the default behavior of `[Authorize]`, you can already accomplish that with the AuthZ: DefaultPolicy, just configure that to target the auth scheme you want.

[2016-12-09 19:55] HaoK commented on #1061
And that should would even with AutomaticChallenge disabled once a scheme is specified.

[2016-12-09 19:55] PinpointTownes commented on #1061
Well, it's almost a "must" in practice when dealing with stoopid JS clients, as we can't control the request headers. It's not really SignalR-specific, tho'.

The good thing is that it's completely standard, so it's not really a problem.

[2016-12-09 20:02] davidfowl commented on #1061
@PinpointTownes except AFAIK, our middleware doesn't read from the query string (does it?). Also query string limits with JWT tokens.....

[2016-12-09 20:13] Tratcher opened #1062 "[Announcement] AutomaticChallenge Usage"
In ASP.NET Core each of the authentication middleware have an option named [AutomaticChallenge](https://github.com/aspnet/Security/blob/1.0.0/src/Microsoft.AspNetCore.Authentication/AuthenticationOptions.cs#L39). This option is used to indicate which middleware will be the default for issuing authentication challenges to un-authenticated users. This automatic challenge can be triggered either by t

[2016-12-09 20:19] PinpointTownes commented on #1061
@HaoK sure, but 1. you can't set the scheme per-path. 2. it's tied to the authorization stack, so you can't implement "optional authentication" actions like you could with Web API 2 and its OWIN/Katana `HostAuthenticationFilter`, where authorization and authenticated were clearly separated:

[code]

@davidfowl it does not... by default, but it's super easy to change thanks to the events model. Her

[2016-12-09 20:33] PinpointTownes commented on #1062
Note: you can add the aspnet-contrib validation and introspection middleware to the list, 'cause they also enable automatic challenge by default (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/blob/dev/src/AspNet.Security.OAuth.Validation/OAuthValidationOptions.cs#L18 / https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/blob/dev/src/AspNet.Security.OAuth.Introsp

[2016-12-09 20:33] Tratcher commented on #1061
See #1062 for updated guidance regarding the current APIs. With a little more sugar around AddPolicy I think we could completely remove `AutomaticChallenge` and `ChallengeAsync()`.

[2016-12-09 20:36] Tratcher commented on #1062
@PinpointTownes I saw those but wasn't sure if they were just diagnostic tools or something that would be used in a production app.

[2016-12-09 21:13] PinpointTownes commented on #1062
@Tratcher no no, those are real production middleware:

  - The [validation middleware](https://www.nuget.org/packages/AspNet.Security.OAuth.Validation/1.0.0-alpha3-final) is Katana's `OAuthBearerAuthenticationMiddleware` equivalent in the vNext world (except it uses the ASP.NET Core Data Protection stack). It's primarily meant to be used with ASOS and OpenIddict.

  - The [introspection middlewar

[2016-12-09 21:46] Tratcher commented on #1062
@PinpointTownes Updated

[2016-12-09 21:49] Tratcher commented on #1061
In fact, we could even update the VS templates for 1.0.x to use AuthPolicies rather than AutomaticChallenge.

[2016-12-10 02:09] brphelps opened #1064 "Very weird issue, one machine (out of many) unable to match "kid""
I'm stumped, so I figured an issue was a good place to start. We UseJwtBearerAuthentication to configure our ASP Core 5 app, and generally have been doing so without a hitch so far. Our deployed environments and local environments are able to validate tokens, at least, until we got a new hire. This new hire's machine seems to be giving validation errors where other machines (including PROD machine

[2016-12-10 18:06] brockallen commented on #1061
One thing to recognize here is that really there's only the need one for cookie handler, and one google handler, and one oidc handler. What we need multiple of  is settings. IOW, we just need one instance of the code, and then possibly multiple named settings.

Decoupling the code from the config would be useful, especially for OIDC. I had a customer that used Katana that needed hundreds of the ws

[2016-12-10 18:31] HaoK commented on #1061
@brockallen yup that's where I was at too, with a single instance of each type of handler, and a named configuration/settings for each "scheme" in DI.

Once we have that, it would be fairly easy to load the config/settings from another source, since the settings are just normal options, so this would already more or less work with options/config binding.

[code]

But we might need to spend some cy

[2016-12-10 23:02] davidfowl commented on #1061
@HaoK @brockallen That's where we were all at but @PinpointTownes isn't on the same page. At this point I think we need to prototype the other system and show key scenarios in both of them, including the ones @PinpointTownes feels strongly about.

Then we can weigh the pros and cons of each.

[2016-12-10 23:39] brockallen commented on #1061
Yep... who knows -- this all might just prove that what's already here is good enough (with some adjustments). But it's still worth the exercise.

[2016-12-10 23:55] HaoK commented on #1061
Ok I will start a PR next week with some real working code.

[2016-12-11 00:09] PinpointTownes commented on #1061
@davidfowl I'm always skeptical when hearing that DI is involved in multi-instances scenarios. Last time you did that, it was to bring back the `ConfigureXYZAuthentication` extensions without named options support, which led to a very confusing pattern (I've avoided it in all the aspnet-contrib projects because a few people have emailed me to tell me they didn't understand how it was working). :tr

[2016-12-11 00:15] davidfowl commented on #1061
Take 3, well try it again and all party on the PR.

[2016-12-11 00:18] Tratcher commented on #1061
@Haok, this thread has wandered quiet a bit, care to summarize the issues you plan to address in your PR?

[2016-12-11 01:16] HaoK commented on #1061
I was going to start from the public service area first.

Starting with something like:

ConfigureAuthentication() => AuthenticationOptions + AuthenticationScheme[Builder] to represent how we would register the name scheme/handler which would be the replacement for today's events + AuthenticationDescription.

IAuthenticationSchemeProvider which would be responsible for resolving named schemes and

[2016-12-12 00:51] HaoK commented on #1061
Sneak preview of what I've distilled from this thread so far, in case there's any early feedback: https://gist.github.com/HaoK/0197141b932bcf45d99dcb5e6eb70374

[2016-12-12 18:22] BrandonClapp commented on #967
I have written a middleware that will redirect the user to their token issuer depending on if MVC sets the HTTP status code to 401. Essentially this will take the 401 and change it to a 302 and redirect the user (which is what I believe is what you're referring to as the challenge).

It looks like MVC is short circuiting the response by attempting to issue the challenge (when debugging through Kes

[2016-12-12 20:46] HaoK commented on #1061
Started the PR here: https://github.com/aspnet/Security/pull/1065

[2016-12-12 22:44] Tratcher commented on #1064
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#545

[2016-12-12 22:44] #1064 closed

[2016-12-12 23:05] Tratcher commented on #967
I assume your MVC app is using the `[Authorize]` attribute? Authorize does not just set a 401 because 401s are specific to one kind of auth. Authorize instead calls `HttpContext.Authentication.ChallengeAsync()` which calls into the authentication handlers in the pipeline. If no handlers respond then the above exception is thrown.

If you want to plug into Authorize as an authentication handler the

[2016-12-13 02:36] atrauzzi opened #1066 "Framework appears to be missing a way to remove identities"
I've created my own `AuthenticationHandler` which is working nicely.  Once my authentications are complete however, I'd like to clear the created identity from my ticket store.  Mainly for two reasons:

 - To transparently handle subsequent authentications as currently I get a "not authorized" when a duplicate identity is already present _(see https://github.com/aspnet/Security/issues/1067)_
 - Ov

[2016-12-13 07:50] arjasepp commented on #1044
Hi guys, I was suggested to add this issue here, so I am doing this now.
I am using openiddict on my project and when I was upgrading from older version to newer version, which had OpenIddictUser class removed. I had to make some changes and so on. Now I also was using asp.net core 1.0.1 and I upgraded this as well to 1.1.0.

As you can see here in a code later, then Microsoft.AspNetCore.Mvc and M

[2016-12-13 12:30] obryckim commented on #1034
The update that fixed the RemoteAuthenticationTimeout in the OpenIdConnectOptions seemed to fix the issue.

[2016-12-13 12:30] #1034 closed

[2016-12-13 12:58] atrauzzi opened #1067 "Allow an identity to be received multiple times"
If I successfully authenticate as a specific identity and I attempt another log in through the same provider again, I end up getting redirected to the access denied route.  This prevents me from creating an idempotent single signin flow.

 - Because the handler remains in control for the entirety of the flow, I'm unable to preempt it in any way.
 - Even if I could preempt, I then run into this iss

[2016-12-13 13:15] obryckim opened #1068 "UseOpenIdConnectAuthentication fails when updated to 1.1.0"
I have an asp.net core application that was running on 1.0.1 that I have updated to 1.1.0.  Once the app was updated and Microsoft.AspNetCore.Authentication.OpenIdConnect was updated from 1.0.0 to 1.1.0, my authentication started hitting the OnAuthenticationFailed event.
The message received is **_Unable to validate the 'id_token', no suitable ISecurityTokenValidator was found for: ''."_**

If I r

[2016-12-13 14:18] imperugo opened #1069 "Unhandled remote failure"
Hi,
I've an application that is using `UseOpenIdConnectAuthentication` with [IdentityServer 4](https://github.com/IdentityServer/IdentityServer4) and sometimes I get this weird error:

[code]

Unfortunately I didn't find a way to replicated the problem, it just comes up into the log randomly.

Here my configuration

[code]
I'm running the app on Azure AppService with fw46.
Do you have any hint on

[2016-12-13 14:34] imperugo commented on #1069
Moreover, sometimes I get also this (message.State is null or empty):

[code]

[2016-12-13 15:04] Tratcher commented on #1069
The 'Correlation failed.' is from a missing cookie. This usually means that the login process took too long (more than 15min), or that the client's cookie store was too full and one got discarded.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationOptions.cs#L57

The missing State is a little stranger. That implies the IDP (IdentityServer4) didn

[2016-12-13 15:17] Tratcher commented on #1068
This may be related to https://github.com/aspnet/Security/commit/415055ebabcee656475e1f22e65045851641701c. In the CodeIdToken scenario additional validation was added for the id_token received from the TokenEndpoint. If you hook up the TokenResponseReceived event and examine the TokenEndpointResponse what do you see?

[2016-12-13 15:30] BrandonClapp commented on #967
Ah I see! It appeared that the MVC Authorize attribute was setting my response code to 401 because I only noticed the response status code change once MVC was invoked, but in reality because I was debugging with IIS Express, the IISMiddleware was handling the challenge request and setting it to 401 behind the scenes.

Thanks for the help, @Tratcher, I'll have a look at the middleware that you link

[2016-12-13 17:04] obryckim commented on #1068
@Tratcher

It looks like the TokenEndpointResponse has nothing set:

    {
        "AccessToken": null,
        "AcrValues": null,
        "AuthorizationEndpoint": null,
        "ClaimsLocales": null,
        "ClientAssertion": null,
        "ClientAssertionType": null,
        "ClientId": null,
        "ClientSecret": null,
        "Code": null,
        "Display": null,
        "DomainHint": null

[2016-12-13 18:00] h3smith opened #1070 "Cookie Middleware CookieAuthenticationHandler not redirecting correctly"
Out solution is sitting behind a load balancer that terminates the SSL connection. .NET Core app just handles the HTTP request.

When this is an SSL connection on a non-standard port `https://something:8443`, when the redirect occurs, it is pushing to `http://something:8443`, disregarding the HTTPS scheme.

The CookieAuthenticationHandler is not looking to validate the scheme before performing the

[2016-12-13 19:16] Tratcher commented on #1070
Duplicate: https://github.com/aspnet/Security/issues/929

[2016-12-13 19:46] Tratcher commented on #1044
@arjasepp It seems like you've added an Authorization filter or attribute to MVC requesting the Bearer policy. You likely meant to request the Bearer auth scheme. See https://github.com/aspnet/Security/issues/1062

What do your Authorize attributes look like on your controllers / actions?

[2016-12-13 20:01] Tratcher commented on #1067
This check was added to prevent infinite loops that people often found themselves in due to authorization issues. Why are you issuing a challenge for an already authenticated user? This seems like an issue in your authorization policy.

[2016-12-13 20:19] Tratcher commented on #1068
Seems like something is going wrong here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L709
Any logs? Or failing that a fiddler trace of the token endpoint response would help.

[2016-12-13 21:36] h3smith commented on #929
@Tratcher
[code]

Seems to do the trick. We assume TLS by default, so we disable it with an environment variable if necessary. (Docker -> AWS ECS behind an AWS ELB)

Works fine now.

[2016-12-13 21:36] #1070 closed

[2016-12-13 21:37] h3smith commented on #1070
For anyone else with the issue,

[code]

Fixes the problem. We disable this with an environment variable if we need to use port 80.

[2016-12-13 22:28] atrauzzi commented on #1067
I'm not the one issuing the challenge, the user comes in from an external system.  It's plausible that they could authenticate from the external system as different users, so even though I may already have my own user established for them, the scheme could be used multiple times.

[2016-12-14 00:34] shobman commented on #1068
I was having this same problem since upgrading to 1.1.0.  First thing I had to do was change thre ResponseType from Code to CodeIdToken.

[code]

Next i added a call to tell the OIDC middleware that the response was handled.

[code]

I don't know if there will be any side effects of this, but at least I can login again.

[2016-12-14 02:37] arjasepp commented on #1044
I use plain Authorize attribute, no additions.
Basically all most my controllers contain these attributes.
`[Route("api/[controller]")]
    [Authorize]`

[2016-12-14 04:27] shobman commented on #1068
I found another issue when deploying to an Azure Web App after updating to 1.1.0.  The website fails with the error:

[code]

And the trace files came up with this warning...
[code]

My issues was the home page had an [Authorize] attribute.  This was working fine in 1.0.1 with the redirect to login happening on the first page request.  So with 1.1.0 this appears to be broken.

The work around for

[2016-12-14 04:29] Tratcher commented on #1068
Sounds like an unhandled exception in the app. Turning on logging would be a good start.

[2016-12-14 04:31] shobman commented on #1068
I'll do a bit more digging into the logs.

[2016-12-14 06:15] leastprivilege commented on #1069
We are always returning state correctly. Maybe a URL length issue?

[2016-12-14 08:54] imperugo commented on #1069
@leastprivilege I don't think it is related to the url length. When it happens I get a specific error into the log, in this case I've just this message.

I've added also the dataprotection to use a shared key for decryption but nothing changes.

[2016-12-14 14:58] Tratcher commented on #1069
It will be hard to tell without some fiddler traces and logs.

[2016-12-14 15:22] imperugo commented on #1069
I know.
Do you have any suggestion where to add some useful log?

[2016-12-14 15:34] atrauzzi opened #1071 "Data protection system is far too onerous by default"
https://github.com/aspnet/Home/issues/466

https://github.com/aspnet/DataProtection/issues/115

I've just had my hands forced into the data protection system with something I'm working on and I absolutely cannot believe how complicated this has been made and how many assumptions have been dumped on developers.

Why can't I just put a string in my environment and be done with it?

I know what the s

[2016-12-14 16:07] Tratcher commented on #1071
This issue was moved to aspnet/DataProtection#192

[2016-12-14 16:07] #1071 closed

[2016-12-14 16:18] Tratcher commented on #1069
How about in the MessageReceived event? That's just before the state exception.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L473

[2016-12-14 16:25] atrauzzi commented on #1071
Thank you 👍

[2016-12-14 16:33] imperugo commented on #1069
ok, what exactly should I check into the `OnMessageReceived` event (`Skipped` property?) and what should I log to provide more information (response body)?

[2016-12-14 17:03] obryckim commented on #1068
@Tratcher

There is nothing being logged that I can see.  I did a fiddler trace and the call to microsoft to receive the token succeeds.  The response has the full token in there.  Right after that call, I see the redirect to my auth-error page.

Note, I tried, just for the heck of it, putting "context.HandleResponse();" at the end of my OnAuthorizationCodeReceived method, and I no longer get that

[2016-12-14 18:01] Tratcher commented on #1068
Ah, I see the problem.
[code]
You call HandleCodeRedemption but don't give it the results, so when it tries to validate the the response it fails. Either give it the results or call HandleResponse to bypass further processing.

[2016-12-14 18:19] Tratcher commented on #1069
Request.Form
ProtocolMessage
Is the state there?

[2016-12-14 18:23] Tratcher commented on #1044
@HaoK ?

[2016-12-14 18:28] Tratcher commented on #1067
For example you want them to be able to authenticate with multiple AAD accounts at the same time?

[2016-12-14 18:39] Tratcher commented on #1066
I don't understand enough of your scenario. AuthenticationHandlers and their state have a lifespan of one request. No idea what your ticket store is and how it's related.  A flow chart may help explain what you're trying to do.

[2016-12-14 18:45] HaoK commented on #1044
The exception shows that something is looking for a "Bearer" authorization policy, typically this is from `[Authorize("Bearer")]`, if not there, do you have a global authorization filter?  Look for any references to "Bearer" in your code, that isn't a magic value from the framework so that is coming from your code somewhere, or possibly OpenIddict

[2016-12-14 19:25] atrauzzi commented on #1066
Well, I'm referring to the ticket store.

I'm not talking about `AuthenticationHandler` internal state.

[2016-12-14 19:39] Tratcher commented on #1066
What ticket store? CookieAuthenticationOptions.SessionStore?

[2016-12-15 03:49] atrauzzi commented on #1066
Using this one here: https://github.com/atrauzzi/praxis/blob/master/Praxis/Authentication/SessionTicketStore.cs

Not sure that matters in this case though.  I'm talking about removing an identity from the current `ClaimsPrincipal`.

[2016-12-15 03:52] atrauzzi commented on #1067
Really it could be any account multiple times.  So imagine:

`bob.red@gmail.com` and `bob.blue@gmail.com`

If he signs in with `bob.red@gmail.com`, he'll at some point establish an identity belonging to my site as I'll have maintained associations of `@gmail.com` users to my internal domain users.

If he signs out of `bob.red@gmail.com` google-side and then signs into `bob.blue@gmail.com`, he'll s

[2016-12-15 07:01] StummeJ commented on #969
@hempels do you remember what sample code explained how to do this custom mapping?

[2016-12-15 07:04] StummeJ opened #1072 "Google provider does not populate GivenName or Surname claims on request"
When you break in the middle of a request I noticed that the `GivenName` and `Surname`, which are there when logging in with google, are not in the `context.User.Claims` list.  I also notice that `Name` is set to the email instead of the full name as it is when logging in.

Is this by design?  Is there any way to get the name from the google oauth provider?

[2016-12-15 09:15] imperugo commented on #1069
ok cool.
Adding log now, news when it happens again.

thx

[2016-12-15 18:27] Tratcher commented on #1072
Related: https://github.com/aspnet/Security/issues/969

[2016-12-15 18:35] PinpointTownes commented on #1072
Does your application use Identity? If so, consider reading https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/issues/26 and https://github.com/aspnet/Identity/issues/628.

[2016-12-15 18:52] PinpointTownes commented on #1044
Nah, it doesn't do that (it doesn't even reference the authorization stack).

The only place where the "Bearer" scheme is used is in the JWT/validation/introspection middleware, but none of them will register a magic authorization policy for you.

[2016-12-15 23:06] Eilon commented on #1072
Closing as dup of https://github.com/aspnet/Security/issues/969.

[2016-12-15 23:06] #1072 closed

[2016-12-15 23:26] brentschmaltz commented on #1043
Opened IdentityModel
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/550

[2016-12-15 23:26] #1043 closed

[2016-12-16 00:21] Tratcher commented on #1024
Proposal: IM won't change it's defaults, so have Asp.Net use IM's claims filtering to prevent these extra claims from being added.

[2016-12-16 02:58] arjasepp commented on #1044
I dont have any custom filters from my side of code. And as I have said, the exception occurs even before any request can go through anywhere. And I dont know where the "Bearer" comes in or why it occurs, but it is somewhere. It works fine when I change my Microsoft.AspNetCore.Mvc and Microsoft.AspNetCore.Mvc.Cors like this 1.1.0 -> 1.0.1. Then it just works fine. So the way I see it, is that some

[2016-12-16 05:00] leastprivilege commented on #1024
Introduce a setting - `FilterProtocolClaims` - and make the list of protocol claims configurable. That's how we do it in our client libraries.

I wouldn't use the JWT handler built-in maps/filters.

[2016-12-16 12:11] luis-goncalves-bold opened #1073 "ChunkingCookieManager is not honoring the "secure" flag when deleting cookies"
The [`ChunkingCookieManager`](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.ChunkingCookieManager.Sources/ChunkingCookieManager.cs) class is not honoring the `CookieOptions.Secure` flag on the [`DeleteCookie` method](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.ChunkingCookieManager.Sources/ChunkingCookieManager.cs#L223). Since the flag is honored whe

[2016-12-16 13:43] luis-goncalves-bold commented on #1073
The same applies to the `HttpOnly` flag.

[2016-12-16 14:29] Tratcher commented on #1073
Which browsers/clients have you tested?

[2016-12-16 14:49] luis-goncalves-bold commented on #1073
I was mislead by a security assessment tool. And by double checking the RFC, those flags aren't supposed to be part of the cookie "lookup key" that the UA uses.

Sorry about this.

[2016-12-16 14:49] #1073 closed

[2016-12-17 13:33] patsadow2 opened #1074 "AuthorizeAttribute -> JWT and Identity.Cookie"
Hello,
Could anyone explain me how [Authorize] attribute in .net core knows and validate correctly when we use

app.UseJwtBearerAuthentication -> (Authorization: Bearer ..... )
or
 app.UseIdentity -> ( AspNet.Cookie.Identity )

Thanks :)

[2016-12-17 14:08] Tratcher commented on #1074
See automatic challenge and automatic authenticate:  https://github.com/aspnet/Security/issues/1062

[2016-12-17 17:02] Tratcher commented on #1062
On a related note: [AutomaticAuthenticate](https://github.com/aspnet/Security/blob/1.0.0/src/Microsoft.AspNetCore.Authentication/AuthenticationOptions.cs#L33) Usage

This option serves two purposes:
* It indicates if the middleware should examine each request for credentials as it arrives, process them, and set HttpContext.User.
* It indicates if the middleware should respond to [HttpContext.Authe

[2016-12-20 11:23] obryckim commented on #1068
@Tratcher
Thank you for your help on this.  That solved my problem.  Here is the final piece of code:

    private async Task OnAuthorizationCodeReceived(AuthorizationCodeReceivedContext context)
    {
        var configuration = new ConfigurationOptions();
        this.Configuration.Bind(configuration);

        var request = context.HttpContext.Request;
        var currentUri = UriHelper.BuildAb

[2016-12-20 11:23] #1068 closed

[2016-12-21 14:17] leastprivilege opened #1076 "Inconsistent behavior of Windows authentication between IIS integration and WebListener"
Both add Negotiate and NTLM.

WebListener gives the schemes display names of `Windows:Negotiate` and `Windows:NTLM`.
With IIS integration the display names are empty.

Since display name is often used in generic code to populate the login page - it would be nice to always have a display name - or never. But be consistent ;)

[2016-12-21 15:51] imperugo commented on #1069
Ok, when it seems is not possible to read the `ctx.Request.Form`, when I get the error (ctx.ProtocolMessage.State null or empty) I get "Incorrect Content-Type".

here the complete stack

[code]

Any idea?

[2016-12-21 15:53] imperugo commented on #1069
Moreover, few milliseconds before, I got "System.Exception: Correlation failed."

[2016-12-21 21:27] Tratcher commented on #1076
This issue was moved to aspnet/WebListener#287

[2016-12-21 21:27] #1076 closed

[2016-12-22 19:37] furrybaer commented on #712
Barry, first of all, thanks for your videos.  Good stuff.  Helping me out a lot.  My scenario is similar, except they want to store the names of the policies in the DB and have the roles/claims stored in the db as well so when the app loads they are pulled dynamically, not hard coded.  I'm not using Repos(bad developer, I know)...can I just use an dbContext somehow to pull them and then load them?

[2017-01-03 18:26] Tratcher commented on #1069
That's interesting, you're getting a non-Form-Post request to your OIDC endpoint. How about logging all the request headers, path, and query.

[2017-01-09 09:46] imperugo commented on #1069
Back!
Adding logging now (i've updated also IDSRV to the latest version)

[2017-01-09 14:14] wdmeeste1 opened #1079 "JWT signature validation does strange things"
I have ASP.Net core project with an implemented system to request (JWT bearer) tokens. The token request works perfect and when I use the token to make an api call it works perfect aswell. But I noticed when I remove some parts of the signature the request still works.

**Example**

**Works with original bearer token:**
`curl "http://localhost:5000/Api/Sample/2" --include --header "Authorization:

[2017-01-10 14:31] mamort opened #1081 "ChunkingCookieManager bug"
There seems to be a bug in Microsoft.AspNetCore.Authentication.Cookies.ChunkingCookieManager that causes problems when sharing cookies between .NET Core and .NET 4.X projects. The problem is that .NET Core uses a separator that is different from the implementation in Katana/.NET 4.X when assigning a value to the chunk count.

In Katana the value is called "chunks:XX"
In .NET Core the value is call

[2017-01-10 14:38] Tratcher commented on #1081
This was an intentional change, there were problems with using `:` in a cookie.

There's an interoperable version of cookie manager in the interop package:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.Owin.Security.Interop/ChunkingCookieManager.cs

[2017-01-10 14:58] mamort commented on #1081
Thanks for the quick reply! That makes sense. I also notice that someone has pointed out the same solution in the comments to the article.

The article/documentation also needs to be updated to help people to avoid this issue. It is very easy to implement the cookie sharing according to the article and think everything is working correctly, only to get some very weird errors when suddenly the cook

[2017-01-10 15:39] #1081 closed

[2017-01-10 20:34] blowdart commented on #1079
Can you post your project.json? There is/was a bug in the identity model pieces, but AFAIK none of our templates used that version by default. https://technet.microsoft.com/library/security/3214296 has the details, and the instructions to update.

[2017-01-10 20:54] PinpointTownes commented on #1079
@blowdart the JWT bearer middleware indirectly references the affected package.

[2017-01-10 21:01] blowdart commented on #1079
Ah, then you need to follow the package update instructions to get the fixed version

[2017-01-10 23:18] Tratcher opened #1082 "Update IdentityModel dependencies to 5.1.2"
@blowdart @muratg recommended for 1.1.1

[2017-01-10 23:21] muratg commented on #1082
Putting this in 1.1.1 for the patch release triage.

[2017-01-11 18:12] blowdart commented on #1082
Not just recommended. Mandatory.

[2017-01-11 22:27] Tratcher commented on #1082
https://technet.microsoft.com/library/security/3214296

[2017-01-12 00:14] liquidboy commented on #903
thought id add this in here for histories sake ...
On my project we just upgraded to netcore 1.1.0  and suddenly our SignOut's were failing ...   Traced it to the changes implemented here around checking if IssuerAddress was null or empty ...

https://twitter.com/josefajardo/status/819329380421804032

I still haven't worked out how to fix it BUT atleast I know what caused it ..

[2017-01-12 08:20] wdmeeste1 commented on #1079
Alright validation works now (after updating the token package to 5.1.2)! Thought I was going crazy there for a moment :)

Initial project.json file:
`"System.IdentityModel.Tokens.Jwt":` "5.1.0"

Update to:
[code]

Thxs for the quick reply and the help!

[2017-01-12 08:20] #1079 closed

[2017-01-13 08:50] imperugo commented on #1069
Here we go.

## Request

Path:
* /signin-oidc

Query:
* empty

Headers:
* Connection: Keep-Alive
* Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
* Accept-Encoding: gzip, deflate, br
* Accept-Language: it-IT,it;q=0.8,en-US;q=0.5,en;q=0.3
* Cookie: _ga=GA1.2.90480637.1483525358; _gat=1
* Host: www.bmwucportal.it
* Max-Forwards: 10
* User-Agent: Mozilla/5.0 (Macintosh; Intel

[2017-01-13 09:43] qvsmith opened #1084 "Microsoft.AspNetCore.Authentication.OpenIdConnect 1.1.0 does not redirect to identity provider"
### Functional impact
Cannot log in (blank page displayed).

### Minimal repro steps

1. Get repro project - https://github.com/qvsmith/IdentityServer4.Samples
2. Open /Quickstarts/3_ImplicitFlowAuthentication solution.
3. Start QuickstartIdentityServer and MvcClient project.
4. On MvcClient project's home page click 'Secure' link.

### Expected result
User should be redirected to login page.

###

[2017-01-13 12:05] Tratcher commented on #1084
See https://github.com/aspnet/Security/issues/1062

[2017-01-13 21:08] HaoK commented on #300
Covered as part of https://github.com/aspnet/Security/issues/1061

[2017-01-13 21:08] #300 closed

[2017-01-14 19:31] tokadu opened #1085 "UseOpenIdConnectAuthentication: Signature validation failed"
I'm using OpenAM Forgerock with the following options:

[code]

The Jwt oken validation fails with:

IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.RsaSecurityKey , KeyId: zhBofbZw+jkZZjXs28fGfzxZgM8=
'.
Exceptions caught:
 ''.
token: '{"alg":"HS256","typ":"JWT"}.{"at_hash":"YKNtDasu4WqJCpjN333MIg","sub":"q_00890","auditTrackingId":"53be3f0c-7663-47ba-84b2-29ce9

[2017-01-14 20:36] PinpointTownes commented on #1085
Your token is "signed" using a "symmetric signature" algorithm (_to be exact, it's not signed, it's HMACed_).

In this case, since there's no way for the OpenID Connect middleware to retrieve the signing key from the JWK endpoint, you have to register it manually via `OpenIdConnectOptions.TokenValidationParameters.IssuerSigningKey`.

Alternatively, you could (**and even should**!) update your Open

[2017-01-16 13:45] nth-commit opened #1086 "IAuthorizationService/Requirement/Handler workflow - recursive authorization handling"
I think you should be able to defer authorization for a requirement inside a handler. Having consumed the IAuthorizationService for well over a year, I can think of a lot of use-cases where this would work well.

For example, you want to authorize access to a resource, but access to that resource depends on checking the access to another resource. The caller shouldn't need to know the implementati

[2017-01-17 18:52] Tratcher opened #1087 "[Announcement] Functional changes to OpenIdConnectOptions.PostLogoutRedirectUri"
Milestone 1.1.0, RE: https://github.com/aspnet/Security/pull/925

PostLogoutRedirectUri defines the default address clients are directed to after they sign out of the remote identity provider. The AuthenticationProperties.RedirectUri from the SignOut call takes precedence over this option. Relative uris are resolved against the current scheme, host, and PathBase.

In 1.0.0 the client was sent dire

[2017-01-17 18:57] hopitas opened #1088 "Adding custom authorize claim based on local database for Azure user .net core"
I am trying to recognize database user with Azure AD email address, and then add custom claim to azure AD authenticated user, based on property from local database user. In startup.cs I got:

      public void ConfigureServices(IServiceCollection services)
        {
    ...
                 services.AddScoped<IClaimsTransformer, ClaimsTransformer>();
    ...
        }

    ...
            public v

[2017-01-17 19:44] PinpointTownes opened #1089 "Consider revisiting OpenIdConnectOptions.PostLogoutRedirectUri in 2.0.0"
https://github.com/aspnet/Security/pull/925#issuecomment-237384461

Now that the OIDC middleware has a dedicated "post logout endpoint", this property doesn't make much sense. I suggest removing `PostLogoutRedirectUri` in 2.0.0 to re-align the signout logic with the login flow (i.e honor `AuthenticationProperties.RedirectUri` when it's specified by the dev' and fall back to the current URL when it

[2017-01-17 19:49] Tratcher commented on #1089
Returning to the current url doesn't make sense as a fallback, it would likely cause a signout redirect loop.

[2017-01-17 19:54] PinpointTownes commented on #1089
That's what the OIDC middleware does in the 1.1.0 bits when `PostLogoutRedirectUri` is set to `null`:

[code]

That said, you have a valid point. Maybe it would be better to simply rename `PostLogoutRedirectUri` to a less confusing name (i.e that doesn't conflict with the OIDC parameter name).

[2017-01-17 22:43] aagarwal10 opened #1090 "Cannot open this source code in VS 2015, throws error related to MSBuild Format for 2003."

[2017-01-17 22:45] Tratcher commented on #1090
VS 2017 RC is required for the new csproj format. All of our repos will require this soon.

[2017-01-18 01:11] aagarwal10 commented on #1090
Thanks for pointing this out.

[2017-01-18 15:48] hopitas commented on #1088
I was just trying to call  string  sposti = ((ClaimsIdentity)ctrans.Principal.Identity).Name;  before it was set. Works now, thanks and sorry.

[2017-01-18 18:27] #1088 closed

[2017-01-19 18:29] Eilon commented on #1046
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 18:29] Eilon commented on #1082
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 18:29] Eilon commented on #1044
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 20:06] #1044 closed

[2017-01-19 21:16] aagarwal10 opened #1093 "CookieAuthenticationHandler returns authentication ticket in the cookie value instead of sessionKey"
I have defined a Redis implementation of ITicketStore to CookieMiddleware. Is my assumption not right that when SessionStore is defined for the cookiemiddleware that middleware needs to return the SessionKey in the cookie value instead of value of AuthenticationTicket. Please help me understand this little more.
[code]

[2017-01-19 21:16] #1090 closed

[2017-01-19 21:19] Tratcher commented on #1093
Scroll up a few lines:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L189-L197

[2017-01-19 21:27] aagarwal10 commented on #1093
I saw these lines before, my question is should we be sending the sessionKey as "cookieValue"instead of whole Authenticket if SessionStore is not null??

[2017-01-19 21:30] Tratcher commented on #1093
We do it this way because the serialization logic only understands auth tickets. We could bypass it but it would require divergent code paths. It would also make the serializer less pluggable.

[2017-01-19 21:37] aagarwal10 commented on #1093
OK, make sense.

[2017-01-19 21:37] #1093 closed

[2017-01-19 21:53] aagarwal10 opened #1094 "Here in the code "DataProtectionProvider.Create" is not found in any nuget libraries from AspNetCore"
app.UseCookieAuthentication(new CookieAuthenticationOptions
   {
       DataProtectionProvider = **DataProtectionProvider.Create**(new DirectoryInfo(@"c:\shared-auth-ticket-keys\"))
   });

I am trying to share cookies between applications and the above code where create method is called throws red on "DataProtectionProvider" not defined.

I am trying to follow this article to share cookies betwee

[2017-01-19 22:39] #1082 closed

[2017-01-19 22:40] #1094 closed

[2017-01-19 23:06] Eilon commented on #1085
What @PinpointTownes said.

[2017-01-19 23:06] #1085 closed

[2017-01-19 23:08] Eilon commented on #1084
This is a known issue, which we are fixing in the upcoming 1.1.1 patch. You can refer to https://github.com/aspnet/Security/issues/1062 for more details, plus workarounds.

[2017-01-19 23:08] #1084 closed

[2017-01-19 23:08] #1074 closed

[2017-01-19 23:10] Eilon commented on #1069
Yeah this looks like it's just some random client making a call to your site, so it might just be an innocuous error. You might want to look at the calling IP address to see what/who it is.

[2017-01-19 23:13] Eilon commented on #1086
Putting in backlog for now, but this sounds like a good feature that we'll consider in a future version.

[2017-01-19 23:18] Eilon commented on #1089
How about the property setter for `PostLogoutRedirectUri` should throw if it is set to null-or-empty?

I don't think we'd get rid of this property entirely because it has some use. And renaming it would be a minimal improvement with high cost. We could certainly update the doc comments on the property if what we have now is misleading.

[2017-01-19 23:56] Tratcher commented on #1046
Note the frameworkAssemblies references were removed from dev as part of the xproj->csproj conversion. We only need to clean this up in the patch branches.

[2017-01-20 08:21] qvsmith commented on #1084
@Eilon Tx! I tried some of those workarounds mentioned in #1062 but, I couldn't get them to work. The workaround with custom middleware that I mentioned above at least does the trick... Fortunately this is not critical for me at this stage... just wanted to log it :)

[2017-01-20 08:56] imperugo commented on #1069
Really I found a way to replicate it.
Here the steps:

1) Go to the website on a protected page
2) You get redirect to the login page (IDSRV on another domain)
3) Wait till the cookies release on the website (step1) expires, or delete it
4) Login
5) and you get the redirect to the /signin-oidc (client application not IDSRV) getting the error.

Is it normal?
Is there a way to prevent it?

Thanks

[2017-01-20 09:28] nth-commit commented on #1086
@Eilon
Hey, thanks a lot. I'll send you guys a PR for you to peruse over at your leisure. I've got another feature request as well - I'm so demanding ;)

Love the API btw, kutgw.

[2017-01-20 12:57] karyaevsm commented on #880
@PinpointTownes how about obeying the new .NetStandard versioning for those packages in nuget? Don't you think your answer is rather unfair?

[2017-01-20 13:32] PinpointTownes commented on #880
@karyaevsm unfair? Not sure I understand what you mean...

[2017-01-20 14:27] ngonzalezromero opened #1098 "Sharing cookie distributed system"
If possible, sharing the cookie between distributed systems?
I have many app running in different machines (in dockers containers) and I'd like  get the authentication from the login system

[2017-01-20 14:33] Chrissx commented on #1098
Maybe you can take a look for this documentation : https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/cookie-sharing

[2017-01-20 14:39] ngonzalezromero commented on #1098
@Chrissx I saw it, but it doesn't work for me because the  cookie is saved in the same host.
and my apps are saved in different host

[2017-01-20 17:19] Eilon commented on #1086
@nth-commit thanks! If you send a PR we'll certainly review it. We've got a pretty big set of features for 2.0 already so we can't commit to accepting the feature in this 2.0 release, but we'll certainly consider it for a 2.x update or similar.

[2017-01-20 17:20] Eilon commented on #1069
@imperugo thanks for the update. Can you perhaps send more info such as a network trace so that we can see the series of redirects, etc.? E.g. on Windows using Fiddler, or using your browser's dev tools?

@Tratcher does this make sense to you? Any idea how the client would end up there?

[2017-01-20 20:52] cheesemacfly commented on #1056
@Tratcher should I propose a pull request? (haven't done anything yet just wondering if that'd help)

[2017-01-20 21:03] Tratcher commented on #1056
Honestly I've never seen a good explanation for why CookieAuth special cases ajax requests. Sending a 401 with a location header doesn't make much sense.

[2017-01-20 22:01] cheesemacfly commented on #1056
Agreed. Maybe @HaoK who added the special cases for ajax can shade some light? (commit: https://github.com/aspnet/Security/commit/1d2c6ba1223748df02a879622e8deb6ac23db5b7)

[2017-01-20 22:09] Tratcher commented on #1056
That was just a refactor, the behavior has been there since Katana: http://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin.Security.Cookies/Provider/DefaultBehavior.cs

[2017-01-20 22:30] cheesemacfly commented on #1056
Well the original commit message is rather short so not sure it's gonna help:

http://katanaproject.codeplex.com/SourceControl/changeset/572641551a2ca1ed27f0b639d6c4bf8e29cf4966

Is this something that is going to need further investigation or can the decision to ditch the condition be made at this point? (I have to admit I'm not too familiar with how decisions are taken here)

[2017-01-20 22:33] Tratcher commented on #1056
I don't understand the client end of this enough to make a decision yet. I'll need to consult a few client side devs to see what makes sense here.

[2017-01-21 07:56] testaco23 commented on #1067
Any news on this? Just came across the same issue.

[2017-01-21 16:07] atrauzzi commented on #1067
Yeah, the middleware is making an assumption that really should be up to me. The assumption being one identity per scheme. Which isn't correct or helpful.

[2017-01-22 12:28] dustinmoris opened #1099 "AuthorizeAttribute and other attributes outside of MVC"
Hi,

It seems that the `AuthorizeAttribute` and `AllowAnonymousAttribute` are both part of the `Microsoft.AspNetCore.Authorization` NuGet package, which is AFAIK independent from MVC.

How can I use these attributes in an ASP.NET Core application without MVC? Is it possible to include this to the [official documentation](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/simple) o

[2017-01-22 12:42] Tratcher commented on #1099
The attributes are just a marker for any web framework to use. SignalR also uses them.
https://github.com/aspnet/SignalR/blob/cd9ed9228ae2b27980ddda7d5cd5f127aaad366a/samples/ChatSample/Hubs/Chat.cs#L12

[2017-01-22 12:56] dustinmoris commented on #1099
Thank you that makes sense.

[2017-01-23 00:10] damienpontifex opened #1100 "TestServer guidance to mock/replace auth services"
I am currently using the `JwtBearerAuthentication` middleware and was looking at integration my controllers and logic there with `TestHost`. My current issue is testing such that I could bypass the actual authentication and set appropriate mock claims that my app uses to identifier the user in these tests.

I currently setup the `IWebHostBuilder` instance as below.

[code]

And the bearer auth is

[2017-01-23 03:52] CrustyJew commented on #260
Just like to add my voice to the desire for this feature as well. I think the implementation for overriding properties as defined in the Google Handler would work perfectly for my needs.

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Google/GoogleHandler.cs#L88

[2017-01-23 04:33] Eilon commented on #1084
@qvsmith got it, thanks for the info!

[2017-01-23 09:03] AntonioComiGaia commented on #1069
Hi @Eilon
this is the network trace using Fiddler (all sensible data cleaned)

[1_Full.txt](https://github.com/aspnet/Security/files/723048/1_Full.txt)

[2017-01-23 13:09] akamud opened #1101 "Allow controlling which tokens are saved when SaveTokens is true on OpenIdConnectMiddleware"
Some browsers limit the cookie size (related to #830), so we have to be very picky on what gets stored in cookies. In my case, the most size consuming values were the `id_token` and `access_token`. I wanted to store the `refresh_token` and the `access_token`, but I did not want to store de `id_token`, doing this would exceed the 4k cookie size limitation.

So I stopped using the `StoreTokens` opti

[2017-01-23 18:23] Eilon commented on #1069
@Tratcher can you review the trace and see what's going on here?

[2017-01-23 22:37] Tratcher commented on #1067
Our template (e.g. Identity framework) uses two cookies to manage scenarios like this. The first is a temporary cookie that stores the external login data during the signin flow. Once you've completed the external login then you cross reference the external id with a local id and issue an 'application' cookie for the local id. At this point the temporary cookie can/should be deleted. Then you can

[2017-01-23 23:02] Tratcher commented on #1069
These are two different issues. The one in your original post was a GET request to /signin-oidc, which there's still no explanation for why the client sent. The one from your manual repro is a POST to /signin-oidc which is intentionally missing cookies. This does not explain the first issue, but we can show you ways to mitigate it.

If you hook into the OnRemoteFailure event you can override the d

[2017-01-23 23:06] Tratcher commented on #1101
At a certain point there are just too many knobs. Using the events for fine grained control is your best option.

[2017-01-23 23:08] Tratcher commented on #1101
Have you tried using the cookie ITicketStore to mitigate client cookie size issues? https://github.com/aspnet/Security/blob/dev/samples/CookieSessionSample/Startup.cs

[2017-01-24 01:14] akamud commented on #1101
We were thinking about using `MemoryCache` but I did not know that it was so simple to change the Cookie store mechanism.

About the original subject, even though we fixed this problem using the Events, it was just a suggestion/request for change.

Do you think it can get too complicated for a small win? I'm not sure how many people would actually need that.

[2017-01-24 01:45] atrauzzi commented on #1067
I'm not sure what you described speaks to the issue here.

The problem isn't about not being able to use two separate authentication schemes.  The problem is about not being able to use the same one twice.

[2017-01-24 02:57] Tratcher commented on #1067
The multiple cookies approach allowes you to hold onto one identity while processing a second one, from the same or different provider.

@haok, this ask is similar to the discussion we had about moving the challenge vs forbid logic to the authorization layer so it could be a policy decision.

[2017-01-24 03:06] HaoK commented on #1067
Challenge vs Forbid is not an authorization concern, the authorization service is given the claims principal and requirements to authorize against, it doesn't know how to get a principal at all (that's authentication).  Today its the MVC authorization filter that has the logic to build the principal to pass into the actual authorization service, certainly we can make adjustments in the filter's lo

[2017-01-24 18:23] Tratcher commented on #1100
TestHost is not well set up to sub out pieces of your pipeline for you. In the test environment you either need to hook into the JWT events and override the identity, or you need to replace the JWT middleware completely.

[2017-01-24 18:40] alexidsa commented on #900
Could anyone please explain me why keeping OAuth token and working with it without  JWT layer was never considered as an option in this thread?

[2017-01-25 20:16] karelz commented on #43
Just to close the loop and to clarify: https://github.com/dotnet/corefx/issues/4278 is making progress towards being .NET Standard 2.0 extension, **however it is not the dependency blocking WS-Fed**.
More technical details are posted here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/500#issuecomment-275218749.

[2017-01-26 23:16] Eilon commented on #1101
Given that there are some ways to do this today, we are not planning to add new functionality for this specific behavior.

[2017-01-26 23:16] #1101 closed

[2017-01-26 23:17] Eilon commented on #1100
`TestServer` is largely just for the ASP.NET team to test its own features and is not meant as a general purpose testing harness. As such, we are not planning to add this kind of behavior to it.

[2017-01-26 23:17] #1100 closed

[2017-01-26 23:21] Eilon commented on #1098
Is the scenario here that there are multiple servers on different sub-domains? E.g. `web1.example.com`, `service1.example.com`? Can you give us examples of the layout of the app?

If it's just sub-domains then you can set the cookie path to be `.example.com`.

[2017-01-26 23:28] damienpontifex commented on #1100
That's surprising @Eilon Why do they have the docs on controller and integration testing then if it's just for the team to test features? I've found the `TestServer` to be a great tool to extend tests past unit tests and I thought similarly existed back in OWIN/Web API 2. I'll raise the issue on the Hosting repo if I need further assistance. Thanks

[2017-01-26 23:30] Eilon commented on #1066
It seems that the way to achieve this is to create a new `ClaimsPrincipal` with the identities you want (if any) and set it on the current request. There doesn't appear to be a way to remove identities from a `ClaimsPrincipal` (this might be for security reasons - different components holding onto the same instance might make assumptions about its behavior).

[2017-01-26 23:31] Eilon commented on #993
We are not able to reproduce this. Setting the cookie domain should just work.

[2017-01-26 23:31] #993 closed

[2017-01-26 23:32] Eilon commented on #1098
Closing because this appears to be a duplicate of https://github.com/aspnet/Security/issues/993.

[2017-01-26 23:32] #1098 closed

[2017-01-27 00:47] atrauzzi commented on #1066
Is that disingenuous given that a `ClaimsPrincipal` can be represented by multiple transient `ClaimsIdentities`?

[2017-01-27 02:29] FramnkRulez opened #1103 "HandleRequirementAsync not called for resource based authorization"
I've been attempting to get resource based authorization working following the examples online but for some reason when I do this I cannot get the HandleRequirementAsyc override to get called on my AuthorizationHandler.

I defined a requirement and handler as follows:

[code]

I inject the handler into my services in Startup.cs:

`services.AddSingleton<IAuthorizationHandler, MyAuthorizationHandler

[2017-01-27 03:48] HaoK commented on #1103
Is your resource null?

[2017-01-27 12:08] FramnkRulez commented on #1103
No, as I mentioned I can see both the requirement and the resource (non-null) as members of the context if I override the HandleAsync() method.

[2017-01-30 00:09] Eilon commented on #1066
@atrauzzi sorry, I'm not sure exactly what you mean by this - can you provide more details?

[2017-01-30 00:15] atrauzzi commented on #1066
I'm not sure I can put that any other way.  Combined with what I've said already, I think this is pretty clear.

[2017-01-30 00:53] Eilon commented on #1066
@atrauzzi if this is specifically about suggesting a change to the `ClaimsPrincipal` type then please log a new issue in https://github.com/dotnet/corefx/issues because that's where that type is implemented (https://github.com/dotnet/corefx/blob/master/src/System.Security.Claims/src/System/Security/Claims/ClaimsPrincipal.cs). Any additional information you can provide about the scenario would be h

[2017-01-30 03:12] jerriep opened #1104 "Validating Issuer for RS256"
I have a token which is signed using RS256, and I have my JWT middeware configured as follows:

[code]

with the following config values:

[code]

My token validation passes, but I have a concern about the validation of the issuer. It would appear that the Issuer is validated based on my `Authority`, but I am not sure where and how this happens.

I hooked up the `OnTokenValidated` event to be able

[2017-01-30 03:18] PinpointTownes commented on #1104
Exactly here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L78-L86

[2017-01-30 03:21] jerriep commented on #1104
Hey Kevin, thanks for the link. I looked at that source code before, but it is still not clear where and how it gets the value from the `Authority`?

[2017-01-30 03:23] PinpointTownes commented on #1104
It doesn't. At least, not directly. Instead, it retrieves the `issuer` property from the discovery document, which, in practice, coincides with the `Authority` setting.

[2017-01-30 03:24] jerriep commented on #1104
Aah, that explains it. Thank you!

You're a genius as always ;)

[2017-01-30 03:24] #1104 closed

[2017-01-30 08:42] Pikhulya opened #1105 "The purpose of RefreshOnIssuerKeyNotFound"
The file Security/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs
contains the following code in the lines 106-111:

[code]
Which looks like it will force configuration refresh but only for the *next* request rather than for *this* current one which means that the current one would fail, is that really by design? If so, what is the rationale behind that if there is a chance t

[2017-01-30 09:09] leastprivilege commented on #1105
Yes - I don't like this behavior as well.

Unless there is some really good reason for this design - I would also prefer that the current request succeeds - and not the next one.

[2017-01-30 18:39] Tratcher commented on #1105
There are a couple of issues here:
1. There's no guarantee that SecurityTokenSignatureKeyNotFoundException was caused by out of date config, though that may be the most common scenario.
2. The middleware has no way of knowing how long it will take config to refresh, or if a config refresh is even supported. Blocking all requests in the pipeline during a non-deterministic external resource access i

[2017-01-30 19:05] HaoK commented on #917
From: http://benjamincollins.com/blog/practical-permission-based-authorization-in-asp-net-core/

He added a few nice concepts we can consider:

[code]

A better base (enum maybe?) than OperationRequirement, with a grouping `PermissionsRequirement` which took an `IEnumerable<Permission>`.  We could bake something like this in, and then update MVC's AuthorizeFilter to understand the new attribute so

[2017-01-30 23:27] HaoK commented on #917
I prototyped this pattern a bit, and we could make it easy to do something like this:

[code]

Then to extend this to MVC with a new attribute for actions:
[code]

[2017-01-30 23:33] HaoK commented on #1013
This is a dupe of https://github.com/aspnet/Security/issues/1086 which will track this feature request

[2017-01-30 23:33] #1013 closed

[2017-01-30 23:38] HaoK commented on #1103
HandleAsync does this by default, you can put this into your handler and debug it to see whats going on exactly:
[code]

[2017-01-31 06:15] Pikhulya commented on #1105
1. May be, at the same time an attempt to recover from hypothetically stale keys by re-reading them from the JWKS document seems like not a bad idea if that re-read would really took place in *this* current request.
2. There are legitimate cases when the code would eventually need to re-read those keys (once they are expired by the ConfigurationManager's definition) from external resource, so, I a

[2017-01-31 15:35] carlos-sarmiento opened #1106 "How to customize the OpenIdConnect Url when Redirecting To an IdentityProvider?"
We are building a SaaS application in which we are using IdentityServer4 as our IdentityProvider.

Something we want to do is that every tenant gets its own vanity subdomain, including login/logout functionality. We have IdentityServer4 configured to issue all tickets with the same issuer regardless of which domain was used to access it.

The problem we are facing is on how we can change the Url t

[2017-01-31 17:07] leastprivilege commented on #1105
@Tratcher I understand. thanks for the explanation.

[2017-01-31 18:16] Tratcher commented on #1106
Have you tried using the RedirectToIdentityProvider Event on OpenIdConnectOptions?
http://www.jerriepelser.com/blog/adding-parameters-to-openid-connect-authorization-url/

[2017-01-31 21:28] bm2yogi commented on #322
@nathannoble @dougbu @davidfowl

Is there any concern that the `HttpContext` created by the `HttpContextAccessor` might also be a singleton, or is the `HttpContext` certain to be scoped to each request?

[2017-01-31 21:45] Tratcher commented on #322
HttpContextAccessor does not create the HttpContext, it only stores the current one for a given request.

[2017-01-31 23:42] Tratcher commented on #1105
2. In a normal key roll there will be an overlap period so a periodic refresh is sufficient. It's only emergency key rolls that hurt you, and honestly if you're doing an emergency key roll then a few failed requests are the least of your worries.

I haven't seen any scenarios where RefreshOnIssuerKeyNotFound would need to be turned off. @brentschmaltz?

[2017-02-01 00:15] carlos-sarmiento commented on #1106
I was trying to use it to do another kind of redirect, but when the Event gets called, the Location Header isn't set yet, so I thought it wasn't useful.

That blog post was a lifesaver. Thanks

[2017-02-01 00:15] #1106 closed

[2017-02-01 03:24] Pikhulya commented on #1105
@Tratcher Yeah, thanks, after reading the book I mentioned in the first post I had the same understanding that the purpose of the flag is to help with Emergency Key Rollover only.
As for

 - could you please provide an example on why my application would experience any additional issues if **an Identity Provider** initiated Emergency Key Rollover? Per my understanding that rollover could only affe

[2017-02-01 04:33] Tratcher commented on #1105
I meant that if an identity provider initiated an emergency key rollover it's because they feared their keys were compromised (e.g. a security breach). At which point you have to start wondering if that breach transitively affects you too and if you should freeze your site to investigate. Uptime is far less relevant in the face of a potential security breach.

[2017-02-01 05:22] Pikhulya commented on #1105
Ahh, OK, I see your point, hard to disagree with that but at the same time I don't think that middleware/application should just "give up" if something else went wrong - every part of the system still has to behave as much ideal as possible instead of "saying": if one part of the system has failed it is OK for me to not do my best with my responsibilities.

[2017-02-01 11:05] Misiu opened #1107 "Use same naming convention for all returned values (errors) in all places"
I'm not sure if this is correct place, so please excuse me if I'm posting this issue in wrong place.
I've found this issue building WebAPI 2.2 application, not sure if this is an issue, but probably is.

Inside my custom `OAuthAuthorizationServerProvider` inside `GrantCustomExtension` I'm setting errors using:
[code]
this is returned as below JSON:
[code]
as You can see error and error_details are

[2017-02-02 02:53] alokshriram opened #1108 "[Question] Opening the soution in VS2015 Community Edition"
I just cloned this project, and wanted to look/step through some of this code.  However when I open this in VS 2015, I see the following fpr all the projects.

[code]

I have 2015 Update3 which I just installed and Download .NET Core 1.0.1 tools Preview 2. Any hints as to what dumb thing I am missing ?

![notopening](https://cloud.githubusercontent.com/assets/2653351/22535366/871f8d32-e8af-11e6-96

[2017-02-02 03:01] Tratcher commented on #1108
VS2017 RC is now required for ASP.NET Core projects.

[2017-02-02 03:14] aagarwal10 opened #1109 "Sharing Cookie between Aspnet core and legacy .NET app using Cookie Middleware"
I am trying to share cookie between Aspnet Core App (using 4.6.1 framework) and Aspnet WebForms (using 4.6.1 framework) using above documentation. I am using Redis implementation of  ITicketStore for Aspnet Core Cookie Middleware and have Redis implementation of IAuthenticationSessionStore for Webforms CookieMiddleware. Now my question, is it possible to share cookie between my two .NET apps using

[2017-02-02 06:00] alokshriram commented on #1108
@Tratcher  Thanks !

[2017-02-02 06:06] #1108 closed

[2017-02-02 12:34] unjello opened #1110 "Two consecutive calls to SystemClock can result in smaller values."
SystemClock substracts milliseconds to get integral values, but it does not change UtcTicks, because UtcTics have 100-nanoseconds resolution, they are left behind. `636216354734678439` becomes `636216354730008439`. That can in turn cause undefined behavior:

(from Immediate Window, _clock is Microsoft.AspNetCore.Authentication.SystemClock instance)
[code]

[2017-02-02 19:56] #1046 closed

[2017-02-02 21:40] danroth27 commented on #43
For folks looking for WS-Fed support in ASP.NET Core could you please chime in with:
1. What identity providers do you need to integrate with that require WS-Fed? We've heard from folks who want to use WS-Fed with older ADFS installations, but are there other identity providers you need to integrate with?
2. For folks wanting to use WS-Fed with ADFS is updating to Windows Server 2016 and using OID

[2017-02-02 21:46] onovotny commented on #43
I need this to be an IdP to SharePoint IaaS as it only supports WS-Fed 1.1.

[2017-02-02 21:55] brockallen commented on #43
This is not an option for most of my customers. If they could then they'd just use the OIDC support in 2016.

For now the full .NET framework would be sufficient, but I'd argue that eventually .NET Core will also be desirable.

[2017-02-02 21:58] vsimonian commented on #43
At least in my use case, it's really just older ADFS installations.

This is not an option for many reasons, be they bureaucratic or technical.

Absolutely would need it on .NET Core - the application server is running RHEL.

[2017-02-02 22:30] danroth27 commented on #43
@vibronet

[2017-02-02 23:27] Eilon commented on #1109
You should be able to use the [`Microsoft.Owin.Security.Interop`](https://github.com/aspnet/Security/tree/dev/src/Microsoft.Owin.Security.Interop) package in your Katana / ASP.NET 4.x (e.g. Web Forms) application, which will make its cookies be compatible with ASP.NET Core.

You can use the serializer in this package for both the ticket store and the session store.

[2017-02-02 23:27] #1109 closed

[2017-02-02 23:36] Eilon commented on #1105
Given the rarity of this event we are putting this in the backlog for now.

[2017-02-02 23:38] Eilon commented on #1069
We are not able to find any issues in the middleware, so we are closing this issue.

[2017-02-02 23:38] #1069 closed

[2017-02-02 23:44] Eilon commented on #1067
@HaoK in our meeting you thought there might be a way to do this with a custom auth filter - can you share some pointers?

[2017-02-02 23:46] HaoK commented on #1067
You can try replacing the default authorize filter with one where: instead of returning the build in challenge result, you return a result that explicitly passes in the challenge behavior:

https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L160

Use the overload of context.Authentication.Challenge that specifies the ChallengeBehavior.Unauthor

[2017-02-02 23:46] #1067 closed

[2017-02-02 23:48] Eilon commented on #1054
Closing as dup of https://github.com/aspnet/Security/issues/1061 even though I OPENED THIS BUG FIRST!!!!!!!!!!!!!!!

[2017-02-02 23:48] #1054 closed

[2017-02-03 05:39] Pikhulya commented on #1105
Thanks for looking into this.

[2017-02-03 07:09] marc-mueller commented on #43
Our main scenario is also to support older versions of ADFS which cannot be upgraded in the near future.

Concerning the target frameworks: Our target is to use the library cross platform, so .NET framework is not an option in our projects.

[2017-02-03 07:18] leastprivilege commented on #43
We are talking about the WS-Fed MW - not IdP functionality.

But anyways - WS-Fed IdP support for IdentityServer4 is coming soon.

[2017-02-03 07:22] leastprivilege commented on #43
FTR

It is about older ADFS/ADFS proxies which cannot be easily upgraded (after all that's what you get for hard coupling ADFS with the Windows Server version).

While .NET Core support would be nice - I think full .NET is good enough for now and would be an easy port.

[2017-02-03 09:19] sm-g commented on #1046
@anurse your commit in `rel/1.1.1` branch, does that mean that AspNetCore 1.1.1 nuget packages will contain it soon? If yes - when?

[2017-02-03 12:52] onovotny commented on #43
@leastprivilege good to know -- misread the context then, thought it was for Ws-Fed all-up for the underlying signed xml libraries.

[2017-02-03 19:09] Eilon commented on #1046
@sm-g we're working on the 1.1.1 release right now (obviously 😄 ) and we hope to have the official release out within 1 month.

[2017-02-03 21:32] Eilon commented on #1107
Hi @Misiu , the difference in casing/style here is due to different requirements of the data. The MVC BadRequest data uses a style that is more similar/compatible to what JavaScript frameworks use, whereas the Security data doesn't have that requirement. It would also be a breaking change to switch the style.

As such, there are no plans to change this behavior.

[2017-02-03 21:32] #1107 closed

[2017-02-03 21:43] HaoK commented on #863
Will be handled as part of the big auth 2.0 change, ClaimsTransformation will become a pure service, tracked via https://github.com/aspnet/Security/issues/1061

[2017-02-03 21:43] #863 closed

[2017-02-04 05:13] Misiu commented on #1107
@Eilon thanks for reply. I wasn't proposing changing the style by default, but allowing us (developers) to specify style and (if possible) name of properties.
In my case, I'd like returned value to have same property names (not error and message). I'd like to unify that, bus as I wrote that's just my personal preference, but framework should allow that.

[2017-02-05 18:44] codefactorydevelopment opened #1114 "JwtBearerHandler always returning 401 (even when 403 expected)"
When using JwtBearerToken in the following way:

[code]

and then checking user roles on controller action like:

`[Authorize(Roles="whateverrole"]`

for a valid token that does contain roles claim (and claims are correctly mapped to roles which is confirmed by checking User.IsInRole("whateverroleisinJWT") being true for all roles assigned in JWT) but does not assign specific "whateverrole" to use

[2017-02-06 08:35] Tobias-Gr opened #1115 "Resource based authorization: Multiple resources"
Hi,
does resource based authorization aim only at securing a single resource per call (e. g. GetDocument)? Or does the mechanism cover securing multiple resources (e. g. GetDocuments ->all documents that I am allowed to read), too? I didn't find any samples for the second scenario.
Thanks!

[2017-02-06 16:16] snickler opened #1116 "Unable to obtain OpenID Configuration when running ver 1.1 of the OpenIdConnect/Kestrel libraries"
When I'm running version 1.1 of the Microsoft.AspNetCore.Authentication.OpenIdConnect and Microsoft.AspNetCore.Kestrel libraries, I'm unable to kick off the auth flow when hitting a WebAPI endpoint that uses the Authorization attribute. I can continually reproduce this. Downgrading to 1.0.2/1.0.1 of the libraries and dependencies allows the redirection to the OpenID provider to occur, and the full

[2017-02-06 16:25] snickler commented on #1116
If I upgrade all AspNetCore libraries to 1.1, but leave Kestrel to version 1.0.2, I get the following:

System.IO.FileLoadException: Could not load file or assembly 'Microsoft.AspNetCore.DataProtection, Version=1.0.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRES

[2017-02-06 16:28] blowdart commented on #1116
@pakrym

[2017-02-06 16:37] snickler commented on #1116
My Configure Method in Startup.cs;

[code]

[2017-02-06 17:16] Tratcher commented on #1116
Not directly related:
Update all dependencies to 1.1.
See https://github.com/aspnet/Security/issues/1062 reguarding using JwtBearer and OpenIdConnect together.

[2017-02-06 17:33] pakrym commented on #1116
It's the same issues as https://github.com/aspnet/DataProtection/issues/187 we are thinking about a better solution but for now you can try adding a binding redirect from `Microsoft.AspNetCore.DataProtection` `1.0.0.0` to `1.1.0.0` to make it work

[2017-02-06 18:15] snickler commented on #1116
@Tratcher - This happened WHEN I updated everything to 1.1. I was just trying to see what would happen if I just left certain things on 1.1 and left Kestrel on 1.0.2. If I downgrade everything back to 1.0.2/1.0.1, it all works again.

[2017-02-06 18:17] snickler commented on #1116
@pakrym  - I'll try that out and see if it works.

[2017-02-06 18:24] snickler commented on #1116
@Tratcher, I see what you mean now after re-reading #1062. I'll try that out. @pakrym, by itself the bindingredirect "worked" as in no more errors, but I think I'm going to have to integrate what @Tratcher directed me to in order for the flow to kick off.

[2017-02-06 18:32] snickler commented on #1116
@Tratcher - I went ahead and updated everything to the 1.1, set AutomaticChallenge to false for the Jwt and Cookie middleware and left it default for OpenIDconnect. After doing that, I needed to add in services.AddDataProtection() and services.AddWebEncoders, then the

[code]
Now I see:

If I change the AuthorizationPolicyBuilder to a blank constructor, I'm back to the original error from this iss

[2017-02-06 18:55] Tratcher commented on #1116
You're not using Identity, replace `"Identity.Application"` with `CookieAuthenticationDefaults.AuthenticationScheme`

[2017-02-06 18:56] snickler commented on #1116
So, I did notice that I set a custom AuthenticationScheme on the CookieAuthenticationOptions that was set to CookieAuthenticationDefaults.AuthenticationScheme. I changed the variable constructor parameter in the AuthorizationPolicyBuilder to be the same scheme. All that did was try to log me in to Forms Auth. I then decided to change it to OpenIdConnectDefaults.AuthenticationScheme and I'm back to

[2017-02-06 18:58] Tratcher commented on #1116
The original error is tangential to all of these other things. Can you access 'https://myserver.domain/realm/.well-known/openid-configuration' directly in the browser?

[2017-02-06 18:59] snickler commented on #1116
Yup. I can access it directly in the browser. That's why I thought it was weird I was receiving this error. As I noted above, when everything is on version 1.0.2/1.0.1, it works flawlessly. It's only with the 1.1 libraries that I'm receiving this error.

[2017-02-06 18:59] Tratcher commented on #1116
Follow up on aspnet/DataProtection#187

[2017-02-06 19:08] snickler commented on #1116
Hmm..... So I was able to get the flow working with a combination of having everything on the 1.1 libraries, EXCEPT for Kestrel. I downgraded Kestrel to 1.0.2. After that, I didn't need to put in a policy. Weird @Tratcher @pakrym .

[2017-02-06 19:30] snickler commented on #1116
Actually.. The more I'm testing, the whole issue was with both Kestrel and IISIntegration packages downgraded from 1.1. I removed the AddWebEncoders and AddDataProtection methods and it still works. O_o

[2017-02-06 22:32] Tratcher commented on #1114
Hmm..
The Challenge vs Forbid code is in the base class.
https://github.com/aspnet/Security/blob/da4730a3922dd885fdda013f5efa72010a7d0170/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L353
Jwt doesn't implement HandleForbidAsync, so it should inherit it from the base class:
https://github.com/aspnet/Security/blob/da4730a3922dd885fdda013f5efa72010a7d0170/src/Microsoft.AspNetCore.

[2017-02-06 22:36] #1110 closed

[2017-02-07 11:28] codefactorydevelopment commented on #1114
Could the problem be the following:

1) in ChallengeAsync it calls:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L353

with parameter context.AuthenticationScheme which, for JWT, should be 'Bearer' (set in JWTBearerOptions constructor)

2) in
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/Authentic

[2017-02-07 18:02] Tratcher commented on #1114
@codefactorydevelopment I don't think that's it, you missed the prior line https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L209

[2017-02-07 18:30] blowdart opened #1118 "Create Client Certificate Authentication middleware"
Spawning from https://github.com/aspnet/KestrelHttpServer/issues/1344

1) By default should reject revoked certs and certs without a client auth EKU (note a cert without any EKUs at all means it's valid for every EKU).
2) Expose X509 Chain so users don't have to recreate it, as this is expensive once CRLs get involved.
3) Have a method where users get the cert and the chain, and can then make deci

[2017-02-07 18:37] Tratcher commented on #1118
Additional research: How can you define an Authorization Policy that requires multiple concurrent auth types? E.g. Client Cert & Bearer.

Also, what should Callenge/Forbid do for this middleware?
https://support.microsoft.com/en-us/help/186812/-403.7-forbidden-client-certificate-required-error-when-you-open-an-iis-webpage
Nginx has a few status codes that may be useful for this:
https://en.wikiped

[2017-02-07 19:35] HaoK commented on #1118
Just list multiple schemes and the filter will authenticate/challenge for both at the same time.

[2017-02-07 20:26] codefactorydevelopment commented on #1114
hm...right.

would be great if someone could try to reproduce this and confirm what is it about.

[2017-02-08 10:59] waqaskhan540 opened #1119 "How facebook authentication middleware validates facebook access token"
I wonder how the facebook authentication middleware is validating the access token generated by facebook , if it is actually validating it.

Because I don't see the debug_token endpoint listed in the code.? can u guide me that how are you validating the facebook access token in your middleware?..

thanks..

[2017-02-08 11:52] leastprivilege commented on #1119
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use StackOverflow for that. This has the advantage that questions and answers can be easily found by search engines, and that there are more people answering questions than just us.

For IdentityServer3
https://stackoverflow.com/questions/tagged/?tagnames=identityserver3&sort=newest

For IdentityServer

[2017-02-08 14:40] ErezSavir opened #1120 "Cannot redirect to the end session endpoint on HandleSignOutAsync"
Hello,

I'm trying to configure OpenIDConnect authentication and I think I configured something wrong.

My Startup class:

On ConfigureServices:
`            services.AddAuthentication(options =>
            {
                options.SignInScheme = "ClientCookie";
            });`

On Configure:
`

    app.UseCookieAuthentication(new CookieAuthenticationOptions
            {
                Automa

[2017-02-08 15:15] PinpointTownes commented on #1120
Google doesn't have an end session endpoint.

[2017-02-08 17:43] Tratcher commented on #1119
The middleware doesn't perform any validation on the token, it forwards the token to facebook's user-info endpoint and they perform the validation.

[2017-02-09 03:31] atpyk opened #1121 "signin-oidc is pending when authorize is finished [ubuntu16.04]"
Everything work fine on my local(windows platform). When I deploy them onto **linux(ubuntu16.04)**, the issue raised.

![](https://raw.githubusercontent.com/atpyk/LinksOutside/master/signinoidc_pending.png)

I can't get any response after I sign in successfully, it always loading until receive  a blank page.

[2017-02-09 04:02] Tratcher commented on #1121
What's the status code and headers for that 'blank page'? If it's a 500 then you should check your server logs for an error.

[2017-02-09 05:45] atpyk commented on #1121
Snapshot1: It takes too long time that is about 15mins.
![](https://raw.githubusercontent.com/atpyk/LinksOutside/master/gatewaytimeout.png)

Snapshot2:
![](https://raw.githubusercontent.com/atpyk/LinksOutside/master/gatewaytimeout2.png)

[2017-02-09 05:49] atpyk commented on #1121
It's my configuration for OpenId middle ware:

` app.UseOpenIdConnectAuthentication(new OpenIdConnectOptions
            {
                AuthenticationScheme = "oidc",
                SignInScheme = CookieAuthenticationDefaults.AuthenticationScheme,
                AutomaticAuthenticate = false,

                Authority = Settings["AuthorityUrl"],
                RequireHttpsMetadata = false,

[2017-02-09 05:55] Tratcher commented on #1121
Likely unrelated, but
[code]
is a nonsensical combination. You should use HandleResponse() with Redirect.

[2017-02-09 05:56] Tratcher commented on #1121
Also, don't re-throw the exception in OnRemoteFailure.