[2014-04-11 17:43] Praburaj opened #2 "NotImplemented exception when doing a challenge for cookies middleware"
Looks like K10 has a IdnMapping class stub with no implementation.

An unhandled exception occurred while processing the request.

NotImplementedException: The method or operation is not implemented.
Microsoft.AspNet.Abstractions.HostString.IdnMapping.GetAscii(String unicode, Int32 index, Int32 count)

Stack Query Cookies Headers Environment
NotImplementedException: The method or operation is not

[2014-04-11 18:00] #2 closed, assigned to nobody

[2014-04-11 19:14] Praburaj opened #3 "On Helios Cookies middleware does not do a 302 on Challenge"
On Helios doing a Challenge - Cookies middleware does not automatically redirect (HTTP status 302) to the registered login path.

Repro code below:

[code]

[2014-04-11 19:16] Praburaj opened #4 "Cookies middleware should not enforce need for ILoggerFactory"
Currently when ILoggerFactory is not registered in the IoC container the Cookies middleware throws a null reference exception as this is a compulsory parameter. This has  to be an optional parameter if the app does not want to do any logging.

[2014-04-14 16:25] davidfowl opened #5 "Convert to use the new tooling"
Because you should

[2014-04-15 21:30] #4 closed, assigned to nobody

[2014-04-15 21:41] #3 closed, assigned to nobody

[2014-04-16 21:43] #5 closed, assigned to nobody

[2014-04-29 20:42] victorhurdugaci opened #9 "AuthorizeAttribute(IEnumerable<Claim>) doesn't make sense"
The constructor overload for AuthorizeAttribute taking an IEnumerable<Claim> as argument doesn't make sense because .NET expects all attribute arguments to be compile time constants.

cc @sebastienros

[2014-04-29 21:22] victorhurdugaci opened #10 "IAuthorizationService.Authorize should have an overload that accepts a single claim"
There is no overload that accepts a single claim. Most of the times, in my code, I only check for a single claim. It would be nice to have an overload that doesn't require a collection (or at least make it params).

Same applies for AuthorizeAsync

Today's overloads:

[code]

cc @sebastienros

[2014-05-01 16:32] victorhurdugaci opened #11 "Some methods in IAuthorizationService should be moved to extension methods"
As @Eilon suggested, the overloads without a resource should be extension methods rather than methods on the interface. In most of the cases, whoever implements this service will just call the overload with the resource parameter with a "null" value.

[code]

[2014-05-01 16:35] victorhurdugaci opened #12 "Provide an empty/default implementation of IAuthorizationPolicy"
In my code, I had to create my own empty implementation of the IAuthorizationPolicy because most of my policies need only 1-2 methods from that interface. It would be so much easier and the experience would be so much better if there would be a default implementation of that interface. Something like:

[code]

[2014-05-05 21:34] #12 closed, assigned to nobody

[2014-05-05 21:35] #10 closed, assigned to nobody

[2014-07-17 21:45] Tratcher opened #25 "Don't use the 'Windows' brand in the name of any APIs or packages"
When we port over the security middleware from Katana, rename WindowsAzureActiveDirectoryBearerAuthenticationOptions/Extensions to not use 'Windows'.
Ported from: https://katanaproject.codeplex.com/workitem/284

[2014-07-17 22:00] Tratcher opened #26 "Update metadata retrieval patterns"
The older ADFS uses one pattern to download the metadata synchronously in the constructor. The newer WsFed middleware uses an updated ConfigurationManager to download and refresh the metadata during requests. When porting from Katana, update the ADFS middleware to use the new ConfigurationManager.
Ported from: https://katanaproject.codeplex.com/workitem/94

[2014-07-22 23:01] Tratcher opened #27 "Revisit Cookie's custom AJAX redirect"
The cookies middleware has custom redirect logic for AJAX requests, where it sends a 200 and embeds the real status code and location header inside a custom response header.  Everybody I've asked says this was done to support the first version of templates, but I can't find any reference to it there. The templates have since been modified. Do we still need this strange custom behavior?
RE: https:/

[2014-07-24 20:17] Praburaj opened #28 "Cookies middleware fails on mono as it depends on GZipStream"
Cookies middleware does not work on mono as the TicketSerializer it uses compresses the cookie response using GZipStream.

[code]

[2014-07-25 01:32] Praburaj opened #29 "[Work around for mono]: ClaimsIdentity constructor used by TokenSerializer.Read is broken in mono"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Security/DataHandler/Serializer/TicketSerializer.cs#L89

[code]

[code]

When this constructor is used to pass in the claims, the claims are lost on mono. Until this bug is fixed in Mono can we apply a temporary work around for mono conditionally like below?

[code]

[2014-07-29 12:32] sblackler opened #31 "Add support for HTTP Strict Transport Security"
*Continuing discussion from https://github.com/aspnet/Mvc/issues/744#issuecomment-49768062*

I would like to propose adding an HTTP Strict Transport Security (HSTS) attribute into the core of ASP.NET. According to [OWASP](https://www.owasp.org/index.php/HTTP_Strict_Transport_Security), HTTP Strict Transport Security (HSTS) protects users from a number of threats, in particular man-in-the-middle at

[2014-08-02 15:46] #29 closed, assigned to nobody

[2014-08-06 22:22] Tratcher opened #32 "Port Katana CookieMiddleware changes"
Everything since Katana SHA a2c810d30a2946b2e064091e013781e56016df94

[2014-08-20 13:48] kingdango opened #35 "Middleware Extensibility: Support "Multi-tenancy" In AuthenticationOptions (and more)"
Copied from https://katanaproject.codeplex.com/discussions/561673 as I was advised this project is moving from CodePlex to GitHub.

Hello Katana team,
# Problem

I've been unable to cleanly extend the "built-in" authentication middleware because of its dependency on a concrete instance of AuthenticationOptions (and subclasses per implementation).

Presently the auth middleware is initialized at st

[2014-08-21 17:53] Tratcher opened #36 "Port the Facebook middleware from Katana"

[2014-08-21 17:58] Tratcher opened #37 "Port the Google middleware from Katana"
Only bring the OAuth2 provider, not the depreciated OpenID provider.

[2014-08-21 17:58] Tratcher opened #38 "Port the Twitter middleware from Katana"

[2014-08-21 18:05] Tratcher opened #39 "Port the OAuth middleware from Katana"
Do not port the OAuth authorization server, @blowdart says we should use the Thinktexture server instead.

[2014-08-21 18:09] Tratcher opened #40 "Port the JWT & AAD middleware from Katana"
Depends on https://github.com/aspnet/Security/issues/39 (OAuth) and System.IdentityModel.Tokens.Jwt.

We'll need to re-work the IIssuerSecurityTokenProvider to use the new ConfigurationManager for retrieving metadata (See WsFederation).

For AAD, also fix https://github.com/aspnet/Security/issues/25

[2014-08-21 18:13] Tratcher opened #41 "Port the MicrosoftAccount middleware from Katana"

[2014-08-21 18:15] Tratcher opened #42 "Port the OpenIdConnect middleware from Katana"
Depends on System.IdentityModel.Tokens.Jwt and Microsoft.IdentityModel.Protocol.Extensions.

[2014-08-21 18:15] Tratcher opened #43 "Port the WsFederation middleware from Katana"
Depends on System.IdentityModel.Tokens.Jwt and Microsoft.IdentityModel.Protocol.Extensions.

[2014-08-25 16:25] Tratcher opened #46 "Rationalize notification context patterns"
The original batch of social auth middleware (Facebook, Twitter, etc.) all used notification contexts derived from `BaseContext`. The second round (WsFed, ODIC) tried to provide more direct shared context objects (`AuthenticationFailedNotification`). These should be rationalized.

[2014-08-25 16:34] Tratcher opened #47 "Clean up notification extensibility model"
The original batch of social auth middleware (Facebook, Twitter, etc.) all used three different extensibility models for their notifications (formerly Providers).  There was an `I*AuthenticationProvider` interface with methods and a *AuthenticationProvider class defining both virtual methods to be overridden and `On*` settable delegates. The second round (WsFed, ODIC) got rid of the interface and

[2014-08-25 17:33] Tratcher opened #48 "Define central claims transformation point"

[2014-08-25 18:00] Tratcher opened #49 "Extract common OAuth2 middleware base class"
Facebook, MicrosoftAccount, Google, all use OAuth2 and should derive from an OAuth package with shared base classes for middleware, notifications, notification contexts, etc..

Specific items of concern: Shared base class for *AutehnticatedContext with shared OAuth fields like AccessToken, RefreshToken, Id, etc.. See @blowdart for specific fields.

Stretch: Can this work for Twitter also? They use

[2014-08-25 18:48] suhasj opened #50 "Have social provider middlewares return subset of claims from external providers"
In case of OAuth providers with external scopes requested, the additional claims are not present in the ClaimsIdentity object read from the external cookie in the request callback. This is the most common scenario for users currently and we could think about adding a subset of these claims in the individual providers when setting the external cookie.

[2014-08-26 17:40] Tratcher opened #52 "Middleware backchannels should set User-Agent"
Many of the security middleware have HttpClient instances they use for back-channel communication. Each middleware that does this should set the User-Agent header to facilitate tracking and debugging.

Recommended pattern: "ASP.NET Security (Twitter)"

[2014-08-27 19:03] HaoK opened #53 "Google: Need better way to discover when google+ api not enabled"
It would be helpful for the google middleware to handle the situation where just the google+ me request fails.  Currently today this results in a 403, which is caught and swallowed.  OnAuthenticated isn't called, and I had to debug into sources to see that it was the google plus me request failing here:

                // Get the Google user
                HttpRequestMessage request = new HttpRe

[2014-09-04 17:45] Tratcher opened #55 "Rationalize error handling"
The original batch of social auth middleware (Facebook, Twitter, etc.) all swallowed exceptions. The second round (WsFed, ODIC) notified you (AuthenticationFailedNotification) and threw them. These should be rationalized.

Also, consider getting rid of EnsureSuccessStatusCode and offering a more useful error reporting by trying to build an exception using the JSON error payload when content type=a

[2014-09-05 18:59] #41 closed, assigned to Tratcher

[2014-09-05 18:59] #38 closed, assigned to Tratcher

[2014-09-05 18:59] #37 closed, assigned to Tratcher

[2014-09-05 18:59] #36 closed, assigned to Tratcher

[2014-09-08 18:13] Praburaj opened #57 "Filter out empty scope parameters to social providers"
For example if I don't configure any scopes in facebook (which does not have a default scope), we send an empty scope query url parameter to facebook. This does not bring an functionality issues, but just wondering if we can avoid sending empty scopes?

Note: This is not a regression from katana, but just a cleanup

[2014-09-09 00:43] PinpointTownes opened #58 "Port serialization for BootstrapContext. Make sure to increment TicketSerializer.FormatVersion."
Recent changes made in Katana to support `BootstrapContext` have not been ported yet to vNext. When porting them, make sure to increment `TicketSerializer.FormatVersion` to avoid this kind of issue: https://katanaproject.codeplex.com/workitem/347

[2014-09-09 17:57] Tratcher opened #59 "Replace any Task.Result calls with Task.GetAwaiter().GetResult()"
There are several places where the auth handler has a sync and an async code path, but the sync path must call the async path and block (Task.Wait/Result).

"One last remark: you should avoid using Task.Result and Task.Wait as much as possible as they always encapsulate the inner exception in an AggregateException and replace the message by a generic one (One or more errors occurred), which makes

[2014-09-10 18:01] ChengTian opened #61 "Eliminate unnecessary async operations when parsing JSON"
Suggestion from @PinpointTownes regarding the change at https://github.com/aspnet/Security/commit/13adde63fa2bf2c8b8ec8c253a5a9c18d01a1156#commitcomment-7735513

My 2 cents: these  Task -returning methods have been removed for a reason: they were not really asynchronous and used  Task.Factory.StartNew / Task.Run  internally. Offloading pure CPU-bound operations to the thread pool is generally not

[2014-09-16 16:39] brockallen opened #63 "Consider using PathBase for CookiePath"
"/" is used to by default in the CookieAuthenticationOptions ctor, but this causes issues (cookies exposed unnecessarily to other parts of the server). Can we get this to use the PathBase instead by default (which needs to be done dynamically)? This is hard to do now in Katana v2/v3. And then if people want "/" that's very east to then assign in the app startup.

[2014-09-18 23:34] HaoK opened #64 "Use more DI for Cookie options"
ICookieManager, IAuthenticationSessionStore, INotifications should all provide something like:

[code]

Also Consider wrapping this pattern in some sugar struct

[2014-09-22 17:10] Praburaj opened #65 "Authentication middleware fails on CoreCLR"
While trying to authenticate a user using Google authentication, the Google middleware throws this exception. This seems like an issue with HttpClient which is possible to happen with all external middlewares.

[code]

@Tratcher

[2014-09-24 06:45] saravanandorai opened #66 "Google Authentication returns access_denied"
Can anyone comment on the following Issue posted in SO
http://stackoverflow.com/questions/25998057/google-authentication-via-owin-returns-access-denied?noredirect=1#comment40717485_25998057

This is really a time killer

[2014-09-24 09:16] saravanandorai opened #67 "How can I set up a log file for the logger that is used in the google authentication middleware"
How can I set up a log file for the logger that is used in the google authentication middleware for the purpose of debugging and seeing what is going on during the authentiation and troubleshoot the reason for authentication failure.

[2014-09-24 10:25] #67 closed, assigned to nobody

[2014-09-25 18:00] Praburaj opened #69 "__TwitterState cookie not deleted after authentication"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Security.Twitter/TwitterAuthenticationHandler.cs#L107

Probably needs to pass in cookie options while deleting here.

[2014-10-03 17:46] #65 closed, assigned to nobody

[2014-10-08 20:07] #64 closed, assigned to nobody

[2014-10-09 16:22] borgdylan opened #72 "Exception when using the new DI activated options style cookie auth"
After updating to newest security packages, I get the following exception:

[code]

[2014-10-09 17:23] #72 closed, assigned to nobody

[2014-10-10 19:23] GrabYourPitchforks opened #74 "Security should get the data protection provider from the environment"
Currently Security creates its own protection provider (see https://github.com/aspnet/Security/blob/2e65a405552395f6e742906b574405a6a5003e05/src/Microsoft.AspNet.Security/DataProtection/DataProtectionHelpers.cs#L16) in certain cases. This doesn't work in farms or across resets. The project should instead get the protection provider from the services collection.

[2014-10-13 22:48] Tratcher opened #76 "Re-evaluate sync vs async extension points in AuthenticationHandler"
AuthenticatoinHandler has several abstract/virtial APIs where it has both a sync and async overload, and the developer can choose to implement one or the other.  It's very common for the sync implementation to call the async method and block.  The base handler calls the sync and async overloads in different circumstances, such as sync calls from OnSendingHeaders.

Theory 1: Get rid of the sync cal

[2014-10-16 18:05] #69 closed, assigned to Tratcher

[2014-10-17 22:10] GrabYourPitchforks opened #79 "Auth cookies should not be compressed by default"
Compression allows for chosen plaintext attacks against the cryptosystem.  See http://www.iacr.org/cryptodb/archive/2002/FSE/3091/3091.pdf for an example.

[2014-10-20 18:36] #52 closed, assigned to Tratcher

[2014-10-20 18:36] #32 closed, assigned to Tratcher

[2014-10-20 22:23] #59 closed, assigned to Tratcher

[2014-10-20 22:23] #61 closed, assigned to Tratcher

[2014-10-20 22:24] #39 closed, assigned to Tratcher

[2014-10-20 22:25] #49 closed, assigned to Tratcher

[2014-10-20 22:25] #28 closed, assigned to Tratcher

[2014-10-23 18:51] #74 closed, assigned to Tratcher

[2014-10-24 07:24] Badrinarayanan-Lakshmiraghavan opened #81 "Abstract ApplyResponseGrant and ApplyResponseChallenge in AuthenticationHandler"
ApplyResponseGrant and ApplyResponseChallenge methods in AuthenticationHandler are abstract and this means the derived authentication handler is forced to implement them, regardless of the usage. I'm overriding ApplyResponseCoreAsync and to me, these two methods are not needed. Even otherwise, every authentication handler need not implement these. Virtual methods with a default implementation will

[2014-10-25 12:52] BadriL opened #82 "AuthenticationHandler.TeardownCoreAsync - Not getting called on exception"
In my derived authentication handler, I'm taking some action during request processing and it requires a compensating action during response processing. I would like to do this compensating action in `TeardownCoreAsync`. But then the problem is `TeardownCoreAsync` is not guaranteed to be called. For example, if a downstream middleware throws an exception, `TeardownCoreAsync` does not get called. I

[2014-10-25 16:03] #81 closed, assigned to nobody

[2014-10-26 12:18] tugberkugurlu opened #83 "Port OAuth Authorization Server from Katana"
I saw the discussion about this on #39. @Tratcher suggested to open up a new issue for this and here it is :smile:

I personally want to see `OAuthAuthorizationServerMiddleware` ported here because of my selfish reasons :smile: as I used this inside a project which we consider porting over to vNext. I also see questions, feedback, etc. for `OAuthAuthorizationServerMiddleware` which indicates that

[2014-10-26 21:20] kevinchalet opened #84 "Provide a default value for OAuthAuthenticationOptions.Notifications to avoid NRE exceptions"
This commit introduced a regression: https://github.com/aspnet/Security/commit/3426034bcb0f5ab114031cee74a528d8fe163ab5

Now, if you don't explicitly provide an instance for `OAuthAuthenticationOptions.Notifications`, none is automatically created by `OAuthAuthenticationExtensions` and a NRE occurs when the MW tries to trigger a notification.

https://github.com/aspnet/Security/blob/51c3dc98dc08a1

[2014-10-27 16:12] Tratcher opened #85 "Update Facebook API usage"
As of 30-Apr-2015 Facebook is deprecating the version of their graph API that we use. See:
https://developers.facebook.com/docs/apps/changelog

Update to use the new endpoint:
https://graph.facebook.com/v2.1/me ...

Make sure there aren't any related changes to their object model.

Cross posted from https://katanaproject.codeplex.com/workitem/363. Katana will need similar changes.

[2014-10-27 18:23] BadriL opened #86 "ApplyResponseCoreAsync vs ApplyResponseCore"
This is related to issue #76 but don't think this is same as that. `ApplyResponseCoreAsync` and `ApplyResponseCore` are named so that it gives an impression that one is async and the other is blocking version. That is true but then these two methods are called by the base class in response to different events. `ApplyResponseCore` is called when response headers are sent while `ApplyResponseCoreAsy

[2014-10-27 23:26] #84 closed, assigned to Tratcher

[2014-11-12 05:24] peymanmortazavi opened #91 "Samples don't work with Mono on Mac"
Mono 3.10
Here is my project.js
{
  "dependencies": {
    "Microsoft.AspNet.Diagnostics": "1.0.0-_",
    "Microsoft.AspNet.Security.Cookies": "1.0.0-_",
    "Microsoft.AspNet.Security.Facebook": "1.0.0-_",
    "Microsoft.AspNet.Security.Google": "1.0.0-_",
    "Microsoft.AspNet.Security.MicrosoftAccount": "1.0.0-_",
    "Microsoft.AspNet.Security.Twitter": "1.0.0-_",
    "Microsoft.AspNet.Server.I

[2014-11-13 18:44] Tratcher opened #92 "Verify external providers are using latest APIs"
RTM milestone.

External login providers routinely update their APIs and deprecate the old ones. Before we ship RTM we need to verify that each of our implementations is targeting the latest provider API versions to ensure our packages have the longest useful lifespan.

Example: #85

[2014-11-14 23:10] #85 closed, assigned to Tratcher

[2014-11-15 06:32] Tratcher opened #94 "Provide the HttpContext to the IAuthenticationSessionStore methods"
IAuthenticationSessionStore is used to store identities rather than serialize them into a cookie. The implementation may want additional information from the request, services, etc., so consider passing in the HttpContext.

[2014-11-15 18:49] PinpointTownes opened #95 "Review the purposes used by OAuthBearerAuthenticationMiddleware for AccessTokenFormat"
In __Katana 3__, `OAuthBearerAuthenticationMiddleware` and `OAuthAuthorizationServerMiddleware` shared the same static purposes for the data protector used by `Options.AccessTokenFormat`: `Microsoft.Owin.Security.OAuth`, `Access_Token` and `v1`.

This was rather handful because you didn't have to explicitly roll your own `TicketDataFormat` for the OAuth2 bearer middleware to use use access tokens

[2014-11-19 20:41] Tratcher opened #98 "OAuthAuthentication* naming concerns"
The `UseOAuthAuthentication` naming may be misleading because by default all it does is ask the user to _authorize_ your app to access their remote service (e.g. Github). Derived classes or extenders may choose to take the resulting access token and use that to _authenticate_ by retrieving user information.

The `GetUserInformationAsync` notification may be more generally named as `AccessTokenRece

[2014-11-19 22:36] Tratcher opened #99 "Support additional authentication request parameters"
[Ported from https://katanaproject.codeplex.com/workitem/325]

Support additional authentication request parameters as defined in [3.1.2.1. Authentication Request] of the OIDC Core Spec.

Keep in mind that some parameters need to be configured per challenge request (e.g. prompt, login_hint). It makes no sense to set those parameters in OpenIdConnectAuthenticationOptions! It would be good to have a

[2014-11-20 19:58] Tratcher opened #100 "Support XSRF mitigation in the CookieAuth middleware"
Form Posts are vulnerable to XSRF attacks because they can be sent without user interaction and automatically include the users cookies.

Proposal: Have the cookie auth middleware check for the anti-forgery token in form posts. If it's missing then do not set the user on the request.
Flow:
- Check for an auth cookie
- Deserialize and valid the cookie
- Check if it is a POST request with a form con

[2014-11-20 23:29] Tratcher opened #101 "OAuth: Expose the result of the token request to the notification"
When the code is exchanged for a token there may be additional data returned from the provider. Expose the whole `TokenResponse` in the `GetUserInformationAsync/Authenticated` notifications.

Example: Google OpenId -> Oauth2 migrations
https://katanaproject.codeplex.com/workitem/359
https://katanaproject.codeplex.com/SourceControl/network/forks/suhasj/Katana/contribution/7719

[2014-12-01 17:29] Tratcher opened #102 "Consider an AzureAD middleware? (Multi tenant)"
_From @mbeckenbach on November 22, 2014 19:44_

An azure ad middleware (that supports also multi tenant or mixed mode with local users) should be as important as the facebook login.

.Net is still mostly used in enterprise. Enterprises need something made for enterprises. not facebook.

Please extend your development, documentation and support for your own authorization technologies.
On MyGet ther

[2014-12-08 17:05] Tratcher opened #105 "Claims density"
Since compression was removed from the cookie serializer (https://github.com/aspnet/Security/issues/79) there's some concern that claims are too large.

Consider using more terse claim types such as these: http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

[2014-12-08 17:05] #79 closed, assigned to Tratcher

[2014-12-11 22:16] anurse opened #106 "The DataProtectionHelpers.CreateDataProtector extension method should be renamed"
IDataProtectorProvider already defines a `CreateProtector` method, this extension method appears to be attempting to provide an overload, but because it has a different name, it results in slightly odd intellisense:

![image](https://cloud.githubusercontent.com/assets/7574/5403258/3d60c388-8140-11e4-9a3b-a061fb5f1f4f.png)

The purpose of the extension method appears to be to add an overload that t

[2014-12-12 22:40] suhasj opened #107 "Move ServiceCollection extension methods under different DependencyInjection namespace"
Need to check it for all methods. Example culprit, `ConfigureCookieAuthentication` which is defined in `Microsoft.AspNet.Builder`. All the extensions method should be defined under `Microsoft.Framework.DependencyInjection`

[2014-12-23 21:26] #91 closed, assigned to nobody

[2014-12-23 21:44] #9 closed, assigned to nobody

[2014-12-23 23:48] #63 closed, assigned to Tratcher

[2014-12-24 05:51] #66 closed, assigned to nobody

[2015-01-07 18:07] #82 closed

[2015-01-13 21:46] PinpointTownes commented on #40
@brentschmaltz started working on a (lightweight) `aspnetcore50` port of `System.IdentityModel`: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/K

The nightly builds are available on the Azure AD team MyGet repository: https://www.myget.org/gallery/azureadwebstacknightly

The weird thing is that this package also provides an implementation for `aspnet50`,

[2015-01-15 00:28] Praburaj opened #113 "Provide a way to inject OpenId options like other middlewares"
Like this:
https://github.com/aspnet/MusicStore/blob/dev/src/MusicStore/Startup.cs#L61

[2015-01-15 01:56] HaoK opened #114 "[AuthZ] Support chaining policies"
Tracking bug so we add additional sugar around modifying a policy slightly with extra requirements

[2015-01-15 01:57] HaoK opened #115 "[AuthZ] Operation support"
OperationRequirement : string operation
base class for OperationHandler

[2015-01-15 01:57] HaoK opened #116 "[AuthZ] Revisit whether we can get rid of HttpContext on AuthService"

[2015-01-15 01:58] HaoK opened #117 "[AuthZ] Add sync overloads"

[2015-01-15 02:38] HaoK commented on #114
Need overload to make Authorize able to chain policy + roles easily in one call

[2015-01-15 17:07] Tratcher opened #118 "Integrate cookie chunking APIs with new strongly typed header values"
See: https://github.com/aspnet/HttpAbstractions/issues/167
Microsoft.AspNet.Security.Cookies.Infrastructure.ChunkingCookieManager could also benifit from using the SetCookieHeaderValue.

[2015-01-15 17:12] Tratcher opened #119 "Consolidate identities in AuthenticationTicket"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Security/AuthenticationTicket.cs

https://github.com/aspnet/Security/commit/49e66f03110b486f8dd9959dd2cee802d676c28f added a ClaimsPrincipal in addition to the ClaimsIdentity. These need to be reconciled because most code paths do not check for both.

[2015-01-15 19:53] PinpointTownes commented on #95
`Options.AccessTokenFormat` has been removed in the last version of the OAuth2 bearer authentication middleware, which now uses a completely insane security token handler approach. Given that this ticket became useless, I'll simply close it.

Guys, go luck if you try to use opaque tokens.

[2015-01-15 19:53] #95 closed

[2015-01-15 19:57] Tratcher commented on #26
Fixed: https://github.com/aspnet/Security/commit/49e66f03110b486f8dd9959dd2cee802d676c28f

[2015-01-15 19:58] #26 closed

[2015-01-15 19:59] Tratcher commented on #40
Done. See https://github.com/aspnet/Security/commit/49e66f03110b486f8dd9959dd2cee802d676c28f
Note this was merged with the OAuth Bearer middleware.

[2015-01-15 19:59] #40 closed

[2015-01-15 20:00] Tratcher commented on #42
Done: https://github.com/aspnet/Security/commit/49e66f03110b486f8dd9959dd2cee802d676c28f

[2015-01-15 20:00] #42 closed

[2015-01-15 22:45] brentschmaltz opened #120 "From Pinpoint: OAuthBearer crashes if header is null."
This line is totally bugged: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Security.OAuthBearer/OAuthBearerAuthenticationHandler.cs#L63

2:40:28 PM

It crashes if there's no Authorization header.

[2015-01-16 02:32] tushargupta51 commented on #120
Fixed and Created pull request.

[2015-01-16 08:09] HaoK opened #122 "[AuthZ] add configurePolicy sugar"
`options.AddPolicy("name", policy => policy.RequireClaims())`

[2015-01-16 13:39] PinpointTownes commented on #120
That would be cool if you could also fix the regression I mentioned here: https://github.com/aspnet/Security/pull/112/files#r22966020

[2015-01-16 21:42] tushargupta51 opened #123 "OpenIdConnect: delegate for hooking up custom openIdConnect message"
In AuthenticateCoreAsync, we retrieve openIdConnect message from the form passed in the request. It  would be useful to provide a delegate so that users can hook up their own custom message.

[2015-01-16 22:46] PinpointTownes commented on #123
Supporting `response_mode=query` OTB would also be great :+1:

[2015-01-18 01:11] #122 closed

[2015-01-18 01:12] HaoK commented on #114
Merged 123065c0ae9e069714c08b8511aa7ea9a6ccbde5

[2015-01-18 01:12] #114 closed

[2015-01-21 19:30] xytyx commented on #43
Any news on WsFederation in ASP.NET 5 ?

[2015-01-21 19:33] blowdart commented on #43
The dependency still stands and that work has not yet been completed by the team that owns the IdentityModel pieces.

[2015-01-21 19:53] brockallen commented on #43
Any plans to add signoutcleanup support? That was missing in Katata v3's implementation. It's nice to have single sign-on, but single sign-out is also nice :)

[2015-01-22 11:31] jeroenslor opened #126 "Help: How to build the solution"
I just forked the repo and tried to build the solution (using visual studio) but it seems to fail.The first of the 2407 errors is about the HttpClient type not being found for the .net core CLR in the SocialSample project. Is there something I'm missing / doing wrong?

[2015-01-22 12:13] jeroenslor commented on #126
When manualy restoring (by saving the project.json files) some referenced packages the solution seems to build.

[2015-01-22 12:13] #126 closed

[2015-01-23 00:08] halter73 opened #127 "Shared AuthorizeAttribute"
We should create a new metadata-only `AuthorizeAttribute` in `Microsoft.AspNet.Security` that will be respected by both MVC and SignalR.

This attribute will implement an interface (`IAuthorizeMetadata`?) that will have a single `Policy` property. We are considering whether or not this attribute should be sealed.

Optional framework-specific metadata can be attached to separate interfaces. For exa

[2015-01-26 09:13] Desislav opened #128 "OpenIdConnectAuthenticationMiddleware initialization issue"
Hello,

I was looking at the OpenIdConnectAuthenticationMiddleware and i found some strange lines of code inside its constructor:

[code]

[2015-01-26 16:34] Tratcher commented on #128
I agree it's not the clearest logic, but I think it's technically correct. Let me try writing it in English to see if it makes any more sense.

First:
If the user has specified MetadataAddress and/or Authority
And then:
If the user did not specify metadata address, but did specify Authority

So specifying MetadataAddress gets you into the first if but skips the second one, where specifying Authori

[2015-01-26 17:40] Desislav commented on #128
Oh i missed the first bracket after the "!" operator. Sorry about that.  Actually your second aproach is what i had in mind.

Anyway what i meant is that the second aproach that you wrote is way more better in terms of readability.

[2015-01-26 17:40] #128 closed

[2015-01-26 17:51] Praburaj opened #130 "OpenIdConnect sign in flow throws nullreference on mono"
@brentschmaltz @Tratcher

After work around for https://github.com/aspnet/XRE/issues/1129 is applied, the browser gets redirected to IDP for login. After entering credentials it gets 302'd to the application where it runs into this exception on mono.

[code]

[2015-01-26 18:47] HaoK commented on #11
While this was talking about the old iteration of Auth service, it still applies to the new overloads we are going to add, so I'll keep this bug around until the next iteration moves some of the new methods to extension methods

[2015-01-26 18:50] HaoK opened #131 "Consider split Security into AuthZ/AuthN assemblies?"
Its a bit confusing today with AuthZ and AuthN classed mixed together and its hard to tell them apart quickly since the file names look similar unless you look closely

Consider maybe:

Security Auth related stuff ->
- Microsoft.AspNet.Authentication,
- Microsoft.AspNet.Authentication.Cookies|Google|Facebook,

Security AuthZ related stuff -> Microosft.AspNet.Authorization

[2015-01-26 19:00] brentschmaltz commented on #130
Does this only happen on Mono?

[2015-01-26 19:01] Praburaj commented on #130
yes.

[2015-01-26 19:36] PinpointTownes commented on #128
Mouahahaha, I told you this condition was too hard to read: https://github.com/aspnet/Security/pull/112#discussion_r22963831 :laughing:

[2015-01-26 19:38] PinpointTownes commented on #120
@brentschmaltz @tushargupta51  I just gave it a try and it works like a charm, thanks! :ghost:

[2015-01-26 23:22] harshgMSFT opened #132 "[Exploratory Testing] Add Operation based extension methods/Overloads for the Authorization service and Options."
Today there is no simple way of registering requirements based on operations and then authorizing based on whether a particular user satisfies the requirement for an operation on a resource.
For instance, an admin(The identity) is allowed to edit (The operation based requirement) the price of an album (The resource).
The suggested experience should be something like :
This will add a policy called

[2015-01-26 23:27] HaoK commented on #132
I chatted with @lodejard and here's what where we ended up for current proposal for the next iteration:

cc @blowdart @yishaigalatzer

Updated service interface:
[code]

Example of what operations would look like
[code]

[2015-01-26 23:37] harshgMSFT opened #133 "[Exploratory Testing] Cannot add authz for apis in a single app."
Currently if there is a thick client which targets the same service as the browser, with a custom authorization middleware,  even in case of authorization failure, the client receives a 200.(instead of a 401 or 403).

The reason is that there is no way of specifying the authentication type within the authz service. Since to enable browser based authz, cookie middleware has to be added, even if a c

[2015-01-26 23:41] harshgMSFT opened #134 "[Exploratory Testing] No way of distinguishing 401 vs 403 for apis."
Since we do not have a separate authentication phase, we do authentication and authorization while doing authorization. Since the current overloads only return a bool, there is currently no way of distinguishing between an authentication failure ( 401 ) vs an authorization failure ( 403 ).
Also read #133.

[2015-01-27 00:38] HaoK commented on #115
Tracking with https://github.com/aspnet/Security/issues/132

[2015-01-27 00:38] #115 closed

[2015-01-27 01:32] Praburaj opened #136 "OpenIdconnect throws MissingManifestResourceException on exceptions"
An unhandled exception occurred while processing the request.

MissingManifestResourceException: Could not find any resources appropriate for the specified culture or the neutral culture. Make sure "Microsoft.Owin.Security.OpenIdConnect.Resources.resources" was correctly embedded or linked into assembly "Microsoft.AspNet.Security.OpenIdConnect" at compile time, or that all the satellite assemblies

[2015-01-27 01:32] Praburaj commented on #136
@brentschmaltz @Tratcher

[2015-01-27 07:48] leastprivilege commented on #134
Back in november we discussed this, that this time we want to get it right - so please do.

http://leastprivilege.com/2014/10/02/401-vs-403/

[2015-01-27 10:29] PinpointTownes commented on #136
I've also seen this weird exception. Any chance it could be related to https://github.com/aspnet/XRE/issues/668?

[2015-01-27 10:32] PinpointTownes commented on #134
Related issue (in MVC): https://github.com/aspnet/Mvc/issues/634 :dancers:

[2015-01-27 14:29] Praburaj commented on #136
I see the `.resx` file missing in OpenIdc project where as the others have it. May be that's causing the issue?

[2015-01-28 17:56] brentschmaltz opened #139 "[Authorize] fails for OpenIdConnect"
There are two problems:
1. OpenIdConnectHandler always expects 'Challenge' to be non-null. A change in the runtime requires that this cannot be expected.
2. OpenIdConnectHandler sets the AuthenticationTicket.Principal property. Later, the runtime should check if AT.Identities OR AT.Principal is set.

Without these fixes
1. [Authorize] attribute will have no effect for OIDC code.
2. Users who manag

[2015-01-28 17:59] blowdart commented on #139
Why on earth does AuthorizeTicket have both an identities and a principal property?

[2015-01-30 16:07] brentschmaltz commented on #130
What is the easiest way to repo this on a windows machine OR is there a machine I can connect to?

[2015-01-30 16:11] brentschmaltz commented on #123
response_mode == query has been deemed weak since it is susceptible to back-button. With proper nonce management, we should be able to provide a reasonably secure solution with 'query'. We would still need to warn users (and log) if nonce is OFF and mode == query.

Let's put it back on the table.

[2015-01-30 16:12] brentschmaltz commented on #120
thanks Pinpoint and Tushar!

[2015-01-30 16:12] #120 closed

[2015-01-30 16:14] brentschmaltz commented on #119
The underlying layer that receive tokens produces ClaimsPrincipal. Since a user can plug in any ISecurityTokenValidator they choose, we should using what they return.

[2015-01-30 16:15] brentschmaltz commented on #113
Can you add some detail, perhaps a code snippet?

[2015-01-30 16:23] brentschmaltz commented on #105
The size has a potential to increase as the industry is moving to adding 'role' claims to tokens.
The ClaimsIdentity creation algorithms attempt to normalize between SAML and Jwt tokens. Where a claim type was used in first in SAML, the JWT token handler maps the 'terse' name to a long name.

The goal is to allow: IsInRole('admin') to be independent of protocol or tokentype . If a user is ONLY usi

[2015-01-30 16:27] Tratcher commented on #113
See https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Security.Facebook/FacebookAuthenticationExtensions.cs#L26

[2015-01-30 16:28] brentschmaltz commented on #99
I agree. Is '0 - Backlog', the highest priority? This should be a high priority.

[2015-01-30 16:30] brentschmaltz commented on #92
What is the definition for an 'External login provider'?

[2015-01-30 16:31] Praburaj commented on #92
Like Google, Facebook, Twitter, MicrosoftAccount etc.

[2015-01-30 16:32] Praburaj commented on #130
Can't reproduce on a windows machine. You need a mac/linux with mono.

[2015-01-30 16:37] Tratcher commented on #99
Backlog is the lowest priority.

[2015-01-30 16:37] brentschmaltz commented on #48
I agree we need a single point to evaluate what the 'user' should look like when all of the AuthenticationMiddleware (s) have completed. Since the ISecurityTokenValidator returns a ClaimsPrincipal and is configurable by the user, we need to maintain the object the user returned.

The AuthenticationHandler returns an AuthenticationTicket, if this is preserved and accessible then this would allow co

[2015-01-30 16:39] brentschmaltz commented on #43
signoutcleanup is on the map.

WsFed in on the map also, no time frame yet.

[2015-01-30 18:00] brockallen commented on #105
"f a user is ONLY using jwt's, then the JwtSecurityTokenHandler.InboundClaimTypeMap (static) can be cleared and only the short names will be used."

@brentschmaltz it seems odd that if you're only using JWTs that one must change the default behavior to the JWT security token handler to use the actual claim types that are in the JWT. Of course it's too late (and this thread is probably not the righ

[2015-01-30 18:21] blowdart commented on #105
And the more "correct" fix would be reference tokens, with an in memory or in database store. That would work for everything, rather than just caring about JWT or SAML.

[2015-01-30 18:22] #105 closed

[2015-01-30 18:22] blowdart commented on #134
As this came up again yesterday @HaoK, @loudej

[2015-01-30 18:55] blowdart commented on #119
Which underlying layer are you talking about here?

Facebook auth produces an identity. Google auth produces an identity. Cookie auth produces an identity.

ISecurityTokenValidator is only used by a limited number of scenarios around JWT and OIC.

[2015-01-31 11:31] lodejard commented on #133
When authorization fails, are you calling Challenge(authtypes) with the bearer authentication type? If you do so then only the named types will participate in the response, and the cookie middleware will not redirect.

Having the authtypes on the policy connected to an authorize attribute will have the same effect.

[2015-01-31 11:39] lodejard commented on #134
Please file a bug stating for both the cookie and bearer authn middleware: If the middleware is processing an outgoing 401, and the middleware has produced an identity for the current request, then it should change the status code to 403 and should not redirect.

[2015-01-31 20:21] PinpointTownes opened #140 "OAuthBearerAuthenticationNotifications.SecurityTokenValidated is never triggered"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Security.OAuthBearer/OAuthBearerAuthenticationHandler.cs#L134-L148

/cc @brentschmaltz @Tratcher

[2015-02-01 07:27] HaoK commented on #134
I can take a look at making this change as part of the security auth changes, gives me an excuse to dig deeper into guts of the cookie/bearer code

[2015-02-01 09:18] PinpointTownes commented on #134
@lodejard @HaoK hum, this change seems really weird. Why do you think the cookies or bearer middleware should be responsible of setting the response status code?

IMHO, the component responsible of doing the authorization stuff should set the 403 status code when needed. In MVC, you should change that line to use 403 when the user has been correctly authenticated: https://github.com/aspnet/Mvc/blo

[2015-02-01 12:11] Tratcher commented on #134
This is an odd place to implement this. It is at the very least incomplete since something like Facebook or OIDC could convert the 401 to a redirect before getting to the cookie auth middleware, so you'd still be stuck in a loop.

Doing this centrally in the authorization layer would be less error prone than trying to handle it in the individual authentication components.

[2015-02-01 17:31] HaoK commented on #134
To be honest I agree with you as well. We know exactly in the authorize filter when to return a 403 (only after the authorize policy fails) and it's much simpler than sprinkling this 401 to 403 logic all over the various auth middlewares.

But @loudej feels strongly that this is how it should work. Perhaps we can get some insight into why this approach is better?

[2015-02-02 16:31] brentschmaltz commented on #140
Thanks.

[2015-02-02 16:46] PinpointTownes commented on #140
@brentschmaltz I'm preparing a PR for that. The fix is really trivial but I realized that the OAuth2 Bearer middleware tests weren't not totally effective (they just check if the response status code is 200).

[2015-02-02 17:39] PinpointTownes commented on #140
Here we go: https://github.com/aspnet/Security/pull/142

[2015-02-02 19:11] harshgMSFT commented on #133
I tried adding the auth type to the policy and that did not work.
[code]
I think the issue is that ```AuthorizeAttribute``` does not call challenge today.

[2015-02-02 21:40] Praburaj opened #144 "OpenIdConnect flow does not set the SignInAsAuthenticationType cookie"
Checkin : https://github.com/aspnet/Security/commit/3483842ab76d4198fc230c7a1905b0ada9b4bf89#commitcomment-9535319 seems to break openIdconnect flow as it does not set the external cookie.

Test failure here : https://github.com/aspnet/MusicStore/commit/7783c368569fbaf267121eff8eedefbd05cb974d is due to this.

[2015-02-03 15:13] briandonahue opened #147 "Change UseTokenLifetime default to false in OIDC Middleware"
I find this really confusing.  If you've configured your cookies auth MW to have a timeout with sliding expiration, and are using OIDC, by default your cookies settings overwritten by the OIDC Identity Token's lifetime.  It seems to me this would be much clearer to default to false.  But maybe there is a valid reason?

[2015-02-03 15:16] Praburaj commented on #147
The token issued by the identity provider carries a `expires at` field. When this is true (which is by default) the cookie issued after successful authentication aligns with this timeout which makes sense as we honor the expiry time of the IDP. When this is false it takes what ever configurations on the cookie middleware.

[2015-02-03 15:22] brockallen commented on #147
I think the complaint is that with OIDC, id_tokens tend to use a very short expiration (like 5-15 minutes) which is just enough time to deliver the id_token to the client. It's then up to the client to determine how long to issue a cookie for based upon the authentication. Some apps might choose 1h, others 20 mins sliding expiration.

Point being, it's somewhat painful to have to configure the exp

[2015-02-03 15:29] briandonahue commented on #147
:+1:

[2015-02-03 15:37] briandonahue commented on #147
I am new to OIDC and relatively new to OWIN, but everything I heard was that id token is independent of client auth cookies/lifetimes, so I spent two painful days trying to figure out exactly what was going on in the MW pieces that was causing the auth session to expire, and finally found this.  Fully admitting it may not take *everyone* as long as it took me :) I still think it is very confusing

[2015-02-03 23:14] PinpointTownes commented on #144
On a side note, `OpenIdConnectAuthenticationMiddleware` doesn't use a correct value for `TokenValidationParameters.AuthenticationType`: it should use `Options.AuthenticationType` instead of `externalOptions.Options.SignInAsAuthenticationType` to make sure that the `ClaimsIdentity` returned by `AuthenticateCoreAsync` has the same `AuthenticationType` as the middleware itself.

https://github.com/as

[2015-02-03 23:30] Praburaj commented on #144
@brentschmaltz

[2015-02-06 18:25] blowdart commented on #134
And to underscore one thing;

The 401 (Unauthorized) status code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource. **The server generating a 401 response MUST send a WWW-Authenticate header field (Section 4.1) containing at least one challenge applicable to the target resource.**

[2015-02-06 20:22] Tratcher commented on #134
Having Cookie Auth generate a 403 is even stranger than I originally thought. To be consistent with the 401 scenario that redirects to LoginPath, it should redirect to a similar AccessDeniedPath if set.

[2015-02-06 21:05] brockallen commented on #134
Yes, a new [HandleForbidden] might be in order:

https://github.com/IdentityModel/Thinktecture.IdentityModel/blob/master/source/Owin.ResourceAuthorization.Mvc/ForbiddenFilterAttribute.cs

[2015-02-10 00:54] HaoK commented on #134
Summary of current thinking:
-MVC Filter will always return ChallengeResult when either AuthN or AuthZ fails.
- All security auth middlewares will have logic which knows whether it has generated an identity, on the way out, if a 401 is seen with a challenge for the identity it has generated, it will convert the 401 to a 403, and skip any other logic (redirects etc)

[2015-02-10 09:17] PinpointTownes commented on #134
@HaoK the more I think about it, the more I realize that it's semantically incorrect:

[code]

It actually corresponds to a different scenario, where the user has been correctly authenticated but you want him to re-authenticate anyway. In this case, you can't alter the 401 response to return a 403 one, because the client is not supposed to try to re-authenticate.

[2015-02-12 12:48] vncastanheira opened #153 "UseOAuthAuthentication ignores configureOptions parameter"
Current implementation ignores your `Action<OAuthAuthenticationOptions<IOAuthAuthenticationNotifications>>` parameter. For example, if you call  `UseOAuthAuthentication`, like in:
[code]
it will raise an exception saying that `ClientId` was not defined. These lines
[code]
could be changed to
[code]
so it won't replace the user-defined `configureOptions` variable.

[2015-02-12 14:31] PinpointTownes commented on #153
:scream_cat:

Your first snippet doesn't correspond to the way the extension method should be used (see https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L45-L55 for a sample) : you simply create a new options instance instead of updating the existing one (represented by your `o` parameter), and that's why you get an exception for the mandatory `ClientId` parameter.

(BTW

[2015-02-12 15:40] vncastanheira commented on #153
Well, this is confusing. I thought it would create an OAuth service provider. :disappointed:
But that clarified a bit.

[2015-02-12 15:40] #153 closed

[2015-02-13 00:10] HaoK opened #154 "Revisit AuthN (switch to AuthenticationScheme/ClaimsPrincipal)"
Summary of plan:
- AuthenticationType will be renamed AuthenticationScheme which represents a particular authentication middleware.
- Auth Middleware will now produce a ClaimsPrincipal instead of a ClaimsIdentity with authentication type set
- Active/Passive removed from base auth middlware and opt in functionality pushed into a new base class dervied from AuthMiddleware that has an Automatic = tr

[2015-02-13 02:59] HaoK commented on #119
Will address as part of https://github.com/aspnet/Security/issues/154

[2015-02-13 03:01] HaoK commented on #76
Yup, identity is fully async, I'm not a huge fan of having sync and async overloads either, +1 for eliminating sync if possible

[2015-02-13 03:04] HaoK commented on #48
Discussed as part of the AuthN changes, going to go with a ClaimsTransformationMiddleware which uses a ClaimsTransformationOptions to:

1: Apply transformation to the HttpContext.User as part of the pipeline
2. Also hooks any calls to HttpContext.AuthenticateAsync to apply transformation before returning the resultant identity

[2015-02-13 06:51] leastprivilege commented on #154
Why the move to ClaimsPrincipal? What about multiple authN middlewares - e.g. cookies and client certificates?

[2015-02-13 06:59] HaoK commented on #154
The behavior is going to be pretty similar as today for multiple authN middlewares, each one generates a ClaimsPrincipal, and at the end, HttpContext.User will be the aggregate of all of the authN principals

The big change is to allow Auth middlewares to produce more than one ClaimsIdentity and leave the authenticationType on the identities untouched, authenticationScheme will be how you refer to

[2015-02-13 07:04] leastprivilege commented on #154
So the claims transformation will see a list of ClaimsPrincipal and be able to normalize to one?

sounds good.

[2015-02-13 07:41] lodejard commented on #154
Yeah, key difference will be the `identity.AuthenticationType` strings must no longer be used to determine which authn mechanism delivered the identity to the current request. Those AT strings will now be considered arbitrary data, serialized back and forth with the cookie, bearer token, etc.

A new string named AuthenticationScheme will be used to associate a set of identities with the-way-they-a

[2015-02-13 08:26] PinpointTownes commented on #154
So we won't be able to automatically redirect users to an IDP without relying on an explicit `Challenge`? This was particularly useful on applications using a single external provider (now, we'll need a controller or a middleware to trigger the challenge stuff).

Is it going to be included as a claim?

[2015-02-16 23:04] #11 closed

[2015-02-16 23:04] #116 closed

[2015-02-16 23:04] #117 closed

[2015-02-16 23:04] #132 closed

[2015-02-17 00:53] Praburaj opened #156 "Move IServiceCollection extensions in this repo to Microsoft.Framework.DependencyInjection namespace"
Like other services like `Mvc`, `SignalR` or `EF`. Currently its in `Appbuilder` namespace.

@HaoK

[2015-02-17 11:26] HaoK commented on #127
Added in 5094b85ac92df0035f15e94b87d72cd4bc716905, still need to update SignalR to consume

[2015-02-17 11:26] #127 closed

[2015-02-17 11:28] #119 closed

[2015-02-17 11:29] HaoK commented on #156
Dupe of https://github.com/aspnet/Security/issues/107

[2015-02-17 11:29] #156 closed

[2015-02-17 19:29] Praburaj commented on #130
@brentschmaltz - our linux and mac runs are failing due to this issue. Will you be able to have a look?

/CC: @muratg

[2015-02-17 19:34] Praburaj commented on #130
/CC @suhasj

[2015-02-17 20:46] HaoK commented on #113
I'll do this as part of fixing https://github.com/aspnet/Security/issues/107

[2015-02-19 02:11] HaoK opened #158 "Switch to ClaimsPrincipal.WriteTo when available"

[2015-02-19 18:15] HaoK opened #159 "[AuthZ] AuthN Scheme filtering by policy"
need to figure out how policies can pick which schemes they care about, should it manually call authenticate for the schemes it cares about and build its own principal?

[2015-02-20 17:35] borgdylan opened #160 "Feature Request: RequireUser"
Considering the ```AuthenticationPolicyBuilder```, currently there is a ```RequireRole``` method that uses ```RequireClaim``` to require a ```Role``` claim having any of a set of specific values. For orthogonality purposes, can a ```RequireUser``` method be added that does the same with ```Name``` claims?

[2015-02-22 00:43] GrabYourPitchforks opened #161 "Prefer the new encoders over Uri.EscapeDataString"
There are some call sites in this repo that invoke Uri.EscapeDataString. Instead of calling this static API, the caller should make an effort to use the IUrlEncoder that has been configured by the application developer, as it could have more permissive or restrictive logic than that of Uri.EscapeDataString.

If you have access to an IServiceProvider instance, import the `Microsoft.AspNet.WebUtilit

[2015-02-23 01:37] HaoK commented on #160
Sure sounds reasonable, I'd probably go with RequireUserName to be a little more explicit

[2015-02-23 08:39] borgdylan commented on #160
I agree on RequireUserName

[2015-02-24 07:02] HaoK opened #163 "[AuthN] Revisit/Rename Authentication sub namespaces?"
Now that we've are renaming Security -> Authentication, do the current sub namespaces still make sense?

*Microsoft.AspNet.Authentication:*
  **.DataHandler -> [Ticket]Serialization?** Since this looks like the serialization interfaces for tickets
  **.Infrastructure -> [Delete]** - Where the AuthenticationHandler/Middleware base classes live, can we just move to the top level and get rid of Infra

[2015-02-24 14:33] blowdart commented on #163
Happy for infrastructure to go. Not sure about .Serialization - where are the other ticket pieces?

[2015-02-24 17:17] HaoK commented on #163
@blowdart  Everything involving ticket serialization seems to live in the .DataHandler namespace.
This itself has Encoder and Serializer sub namespaces, along with ISecureDatFormat and 3 implementations of that.  The AuthenticationTicket itself lives in the base namespace

https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNet.Security/DataHandler
See

[2015-02-24 17:29] HaoK commented on #163
DataHandler looks to be more than just Ticket Serialization, and generally deals with "Data stuff" Encoding/Serialization/Formatting.

Maybe we just keep the leaf namespaces and drop the DataHandler entirely?
Authentication.Encoder
Authentication.Serializer
Authentication.DataFormat

But there's only one interface and 3 implementations of in each of these namespaces, so another option is we should

[2015-02-24 17:32] blowdart commented on #163
I'm ok with flattening altogether.

[2015-02-24 22:20] rmacfie opened #165 "Multiple use of Cookies middleware"
I'm trying to use two different cookie configurations in parallel, but I get an exception when signing in as the second one. Bug or by design?

It works in the Owin.Security.Cookies library.

Startup.cs:

    app.UseCookieAuthentication(options =>
    {
        options.AuthenticationType = "type1";
        options.CookieName = "type1";
    });

    app.UseCookieAuthentication(options =>
    {

[2015-02-26 20:30] HaoK commented on #165
You need to name the cookie options using the namedOptions, currently your second option is getting ignored, UseCookieAuth(options => { }, "type2"), UseCookieAuth(options => { }, "type1")

[2015-02-26 20:30] #165 closed

[2015-02-28 00:13] HaoK opened #166 "Add support for Cookies Access Denied"
In CookieAuthenticationHandler.ApplyResponseChallenge, add this logic

[2015-03-03 00:16] HaoK commented on #163
Removed Infrastructure, left the others alone for now

[2015-03-03 00:17] HaoK commented on #160
Added in 775eb5ece452e10a27aa166f52b58a6c0b615d18

[2015-03-03 00:17] #160 closed

[2015-03-03 00:18] HaoK commented on #154
Merged 775eb5ece452e10a27aa166f52b58a6c0b615d18

[2015-03-03 00:18] #154 closed

[2015-03-03 00:18] HaoK commented on #134
Merged 775eb5ece452e10a27aa166f52b58a6c0b615d18

[2015-03-03 00:19] HaoK commented on #131
Merged 775eb5ece452e10a27aa166f52b58a6c0b615d18

[2015-03-03 00:19] #131 closed

[2015-03-03 12:21] PinpointTownes opened #167 "Incorrect handler delegation in OpenIdConnectAuthenticationHandler.InvokeReplyPathAsync"
Looks like your new monster has been released too quickly in the wild :smile: :laughing:

An invalid scheme is used in `OpenIdConnectAuthenticationHandler.InvokeReplyPathAsync` and makes the OIDC client middleware totally buggy because it cannot delegate the principal persistence to the cookie middleware. You should use `Option.SignInScheme` instead.

https://github.com/aspnet/Security/blob/dev/sr

[2015-03-03 23:36] HaoK opened #169 "[AuthZ] Revisit Authorize default RequireAuthenticatedUser behavior"
Currently its looking for User.Identity.IsAuthenticated, this probably needs to be changed to look for ANY Identity in the ClaimsPrincipal where IsAuthenitcated is true.

cc @blowdart @lodejard

[2015-03-03 23:40] blowdart commented on #169
Yup. Worth considering is what we do for claims checks. Do we limit to authenticated identities or not? That's probably what people expect.

[2015-03-03 23:45] HaoK commented on #169
I still need to revist (and reimplement) what ActiveAuthenticationTypes means on a policy, when set, we still further filter the user's identities?  We certainly can't have Schemes at this point unless we are going to rebuild the user entirely using only the principals from the policy

[2015-03-03 23:52] HaoK commented on #167
Thanks fix is pushed, I'll fix the file name in a different commit 0577454f13f6ec0e82a424225729ccb57e2911ac

[2015-03-03 23:57] PinpointTownes commented on #167
Sadly, your fix is incomplete: it doesn't support setting the `SignInScheme` property via `ExternalAuthenticationOptions.SignInScheme`.

See https://github.com/aspnet/Security/pull/168/files#diff-960390b7edd1b3a479fbd7fcfd07fbe8R48

[2015-03-04 00:08] HaoK commented on #167
Yeah I know, I'm just trying to get MusicStore unblocked for now, the test coverage for OpenidConnect is...fairly lacking right now obviously, once all the existing tests are fixed, I'll look into adding some more coverage so we can catch this sort of failure before checkin...

[2015-03-04 00:12] PinpointTownes commented on #167
You should maybe re-open this ticket to make sure this new issue is correctly tracked.

[2015-03-04 01:41] HaoK commented on #106
@GrabYourPitchforks since the extension methods have been moved to DataProtection, I'll leave this one to you

[2015-03-04 05:46] #106 closed

[2015-03-05 19:15] PinpointTownes commented on #154
The fact social/OIDC/WS-Fed authentication middleware can't now be configured in active mode (or automatic, according to the newest terminology) is a bit annoying and make things more complicated when you only need to support a single external provider, because you now need to add a middleware/controller to handle the challenge part and explicitly call `HttpResponse.Challenge`.

I do think that ch

[2015-03-05 22:10] HaoK opened #173 "Need more OIDC test coverage"
Currently there is not enough coverage to ensure that OIDC works, recently it was regressed completely and the only functional coverage today is in MusicStore.  There needs to be enough coverage to ensure basic functionality/flows are working in the Security repo itself

[2015-03-05 22:29] HaoK opened #174 "Rationalize SignInScheme in options"
Oauth2/OIDC/ExternalAuthenticationOptions all define this, should see if we can consolidate these at all.

[2015-03-05 23:06] #166 closed

[2015-03-06 00:05] #107 closed

[2015-03-06 00:05] #113 closed

[2015-03-06 01:31] muratg commented on #130
@brentschmaltz are you able to look into this now?  should be straightforward to setup a linux on hyperv.

[2015-03-09 14:19] loctanvo opened #179 "OpenIdConnect nonce cookies - overflow handling"
This issue was originally posted on CodePlex in the Katana issue tracker. Since the OIDC middleware has been moved to this project, I'm now opening an issue here instead.

Please read the conversation there before adding comments here.

http://katanaproject.codeplex.com/workitem/402

[2015-03-09 21:54] muratg commented on #179
@brentschmaltz @Tratcher @Praburaj

[2015-03-11 06:55] HaoK opened #181 "AuthZ switch to interfaces references"

[2015-03-11 07:14] HaoK opened #182 "Need more authN social auth tests"
Facebook/Twitter don't seem to have any tests that actually verify Authentication returning a claims identity that's useable.  Google seems to be the only one.  I noticed this since there was no obvious place for me to add verification for claims xformation

[2015-03-15 03:31] HaoK opened #190 "Need to do a doc pass for new AuthZ/AuthN changes"

[2015-03-15 03:32] HaoK commented on #190
@blowdart Do you want to take a stab at this and help validate that our design is sane and understandable by someone that didn't write the code :)

[2015-03-15 21:56] HaoK commented on #159
After discussion schemes on policy will not be used by AuthZ service automatically, the caller can choose to use this property to build a ClaimsPrincipal with the identities assembled from the schemes listed in policy

[2015-03-15 21:57] #159 closed

[2015-03-15 21:58] HaoK commented on #133
This should be working now

[2015-03-16 17:29] jmickael commented on #179
this problem started for me when I upgraded to OWIN 3.0.1   The only way I can clear the error is to restart my Azure website.( NOT an option in production).  Has anyone found a workaround or is there an ETA on a patch for this problem?

[2015-03-16 17:59] Praburaj opened #191 "Review if a package description is required for these packages"
[code]

[2015-03-16 18:36] loctanvo commented on #179
@jmickael We have just temporarily downgraded the OpenID Connect Middleware to 3.0.0, and the problem disappears. You can still use OWIN 3.0.1 though, just keep the OIDC one on 3.0.0. Just curious; how can you solve the problem by restarting the Azure website? The cookies are kept in the client. Just clear those, and you should be fine.

The actual fix should not be too difficult (have not looked

[2015-03-16 21:23] HaoK opened #192 "Review usage of Uri.EscapeDataString vs UrlHelpers.EncodeUrl"
Some tests were failing due to differences here, not sure what the correct behavior/usage pattern is, should ensure we are doing the right thing

[2015-03-16 21:42] harshgMSFT opened #193 "Add IAuthorizeAttribute as a marker for AuthorizeAttribute."

[2015-03-16 22:13] HaoK commented on #192
Look slike this is dupe of https://github.com/aspnet/HttpAbstractions/issues/231

[2015-03-16 22:13] #192 closed

[2015-03-17 14:10] brentschmaltz commented on #179
@loctanvo if you have filled out the 'paper work' we are happy to take PR's. In fact we encourage it.
I agree this is an issue.

The fix is a bit trickery than it seems, there are some corner cases.

[2015-03-17 21:14] #169 closed

[2015-03-17 21:14] #181 closed

[2015-03-18 07:50] #133 closed

[2015-03-19 23:14] borgdylan opened #196 "Regression: Cookie Auth Principal Validation routine not being called"
I am giving a delegate when I configure cookie authentication so that the incoming principal gets validated. Using the latest nightly bits, this delegate is not getting invoked. Also ASP.NET is ignoring auth cookies that have been freshly made.

[2015-03-20 00:06] #144 closed

[2015-03-20 06:48] HaoK commented on #196
The change made recently is that cookie auth middleware is not automatically authenticating anymore, AutomaticAuthentication = false by default, can you try setting the option to true and seeing if that restores the old behavior

[2015-03-20 06:51] borgdylan commented on #196
Is the options in the CookieAuthOptions?

[2015-03-20 06:52] HaoK commented on #196
Its in the base AuthenticationOptions so yes

[2015-03-20 06:58] borgdylan commented on #196
Yes, using the following settings made it work for me:
[code]

[2015-03-20 06:59] HaoK commented on #196
Cool this behavior is by design

[2015-03-20 06:59] #196 closed

[2015-03-23 23:52] Praburaj opened #197 "OpenId connect can use Request.HasFormContentType property to check for appropriate content type"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenidConnectAuthenticationHandler.cs#L233

@brentschmaltz

[2015-03-24 00:52] Praburaj commented on #197
oh no. This is not valid. HasFormContentType will also permit if content type is `multipart/form-data`.

[2015-03-24 00:52] #197 closed

[2015-03-24 17:40] #191 closed

[2015-03-25 17:21] Praburaj opened #200 "OpenIdConnect is broken on coreclr due to token validation issues"
On Coreclr token validation fails with the following error:
[code]

[2015-03-25 17:22] Praburaj commented on #200
@brentschmaltz @tushargupta51 @muratg

[2015-03-25 18:24] tushargupta51 commented on #200
looking into it.

[2015-03-26 06:19] loctanvo commented on #179
@brentschmaltz Sorry for not giving any update on this. I've been very busy lately, and have not had time to look into this. If time allows (looking bad the next weeks, though), I will give it a go. I'll definitely give you a heads up before I start looking into it. In other words, don't wait for me if you have capacity to look into this issue in the near future.

[2015-03-26 17:19] AdamDotNet commented on #179
Hi, I came here from the issue @loctanvo referenced. I am not sure how to do a formal pull request, but for now, my app's solution is to extend the middleware so I can setup an extended OpenIdConnectAuthenticationHandler.

My ultimate solution was to delete all nonce cookies that weren't the current one upon calling RememberNonce.

Here's the handler code:

[code]
Note that `OpenIdConnectAuthentic

[2015-03-26 18:21] brentschmaltz commented on #179
I can't think of a reason that we shouldn't clean up all the cookies after validation. Not sure about deleting them before the user is validated.

[2015-03-26 18:46] brockallen commented on #179
The only possible concern is multiple tabs -- not sure if that's a scenario you guys want to allow/support.

[2015-03-26 18:52] AdamDotNet commented on #179
@brockallen makes a valid point about potentially deleting cookies from other tabs. I thought of deleting the extra nonces before sign in because in my app, it is an eventual possibility that users could generate so many nonces so as to get a Request Too Long error, all before actually signing in.

I just tried multi tabs on my solution and Identity Server returns the message:
"There is an error d

[2015-03-26 22:27] muratg commented on #200
@tushargupta51 any updates on this? If you want to fix this, we'll need to have a PR soon (and also email Dan & Eilon to ask if you can check-in, but @Praburaj can do that)

[2015-03-26 22:30] muratg commented on #200
FYI /cc @Eilon @danroth27

[2015-03-26 22:31] Praburaj commented on #200
@muratg I guess the fix for this bug will be in Wilson. The middleware should automatically work when that's fixed. I filed a bug here as this is a better place to track.

[2015-03-26 22:37] muratg commented on #200
Cool, so no code change in this repo then.

[2015-03-26 22:39] Praburaj commented on #200
yeah. that's right.

[2015-03-30 18:29] Praburaj opened #201 "Update Wilson package versions to beta4"
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/project.json#L7
https://github.com/aspnet/Security/blob/bd7f07052ec9d50f7712068979eed4814ee2a304/src/Microsoft.AspNet.Authentication.OAuthBearer/project.json#L7

@tushargupta51 @brentschmaltz

[2015-03-31 18:03] Praburaj commented on #201
merged : https://github.com/aspnet/Security/commit/1a37bf17475ce64bb4664aa7fb96b07cbf28eb92

[2015-03-31 18:03] #201 closed

[2015-03-31 22:44] HaoK opened #204 "[Design] Next authN iteration discussion"
Lets discuss what potential changes we might want for the next iteration of Auth.

1. Revisit/rename the sugar/packaging around the current set of Authentication data: (need new names)
[code]

2. Consider storing the original AuthenticationResult for use as part of ClaimsTransformation (need to introduce a Context for claims transformation potentially?)

3. Consider renaming AuthenticaitonScheme t

[2015-04-01 20:36] vijayantkatyal opened #206 "how to create OAuth Authorization Server"
e.g.

var OAuthServerOptions = new OAuthAuthorizationServerOptions
{
    AllowInsecureHttp = true,
    TokenEndpointPath = new PathString("/token"),
    AccessTokenExpireTimeSpan = TimeSpan.FromMinutes(30),
    Provider = container.Resolve<IOAuthAuthorizationServerProvider>(),
    RefreshTokenProvider = container.Resolve<IAuthenticationTokenProvider>()
};
// Token Generation
app.UseOAuthAuthorizat

[2015-04-01 23:35] PinpointTownes commented on #206
You can't, the OAuth2 authorization server has not been (and won't be) ported to ASP.NET 5: http://stackoverflow.com/questions/29055477/oauth-authorization-service-in-asp-net-mvc-6

[2015-04-02 00:35] mdekrey opened #207 "OAuthBearerAuthenticationHandler does not call SecurityTokenValidated"
It looks like `OAuthBearerAuthenticationHandler` doesn't call the `SecurityTokenValidated` handler in the `Options.Notifications`.

In addition, logic goes on to use `securityTokenReceivedNotification` - `securityTokenValidatedNotification` is not checked after being instantiated, but is used once, hiding it from any Treat Warnings as Errors flags.

Starting with line 133:

[code]

[2015-04-02 05:17] leastprivilege commented on #206
IdentityServer3 works fine on ASP.NET 5 (but not on the CoreClr)

https://github.com/IdentityServer/IdentityServer3.Samples/tree/master/source/AspNet5Host

[2015-04-02 05:18] davidfowl commented on #206
@leastprivilege This line of code is busted:

https://github.com/IdentityServer/IdentityServer3.Samples/blob/master/source/AspNet5Host/src/IdentityServer3/Startup.cs#L21

It should be using IApplicationEnvironment

[2015-04-02 05:19] leastprivilege commented on #206
thanks! Will update.

[2015-04-02 10:54] PinpointTownes commented on #207
Duplicate of https://github.com/aspnet/Security/issues/140

I already submitted a PR to fix it: https://github.com/aspnet/Security/pull/168

/cc @brentschmaltz @HaoK @Praburaj @Tratcher

[2015-04-02 18:23] #206 closed

[2015-04-03 17:57] brentschmaltz commented on #179
Multiple tabs may mean different apps using the same IdentityProvider. In this case some IDP's cache a sesson with the browser. User is not required to re-auth at the IDP but receives a fresh token.

@AdamDotNet what IdentityServer were you using?

[2015-04-03 18:10] AdamDotNet commented on #179
@brentschmaltz I'm using https://github.com/IdentityServer/IdentityServer3

The message quoted was more related to the SignInMessage cookie missing than the nonce though, now that I think about it more.

[2015-04-04 11:50] mdekrey commented on #207
@PinpointTownes Somehow didn't find your issue when searching for it. Thanks for pointing it out!

[2015-04-04 11:50] #207 closed

[2015-04-05 00:19] Bartmax opened #209 "Basic auth"
Is there an auth middleware for Basic auth ? I know it's for Active Directory and OAuth but I always end up writing my own basic one.

Can this will be implemented in the aspnet packages ? Maybe I'm missing it. think I would be a good addition to current auth middlewares.

[2015-04-05 00:59] blowdart commented on #209
We've considered it, but as it's such an awful standard from a security perspective, and can only be made safe by use of SSL we're not inclined to provide one as it's a route to failure.

[2015-04-05 01:03] Bartmax commented on #209
why don't make it fail or warning when there's no SSL ? Is it really that bad even with SSL ?

[2015-04-05 01:04] davidfowl commented on #209
This are the sorts of questions that make us not want to provide it out of the box :smile:

[2015-04-05 01:07] blowdart commented on #209
Shipping something that fails by default generally upsets everyone.

Even if we limited it to SSL only you end up having to hash and then compare the password against a source with every request. If your password database is doing it's job well that's not a speedy operation, and so with relatively few basic auth requests compared to cookie auth you're filling the machine's CPU with hashing.

[2015-04-05 01:28] davidfowl commented on #209
Every http stack has this. Maybe we should as well. The limitations are well known.

[2015-04-05 01:35] blowdart commented on #209
If every HTTP stack threw itself off a bridge would you want DNX to follow?

We made a specific decision not to support basic auth last year. My attitude has not changed.

[2015-04-05 01:36] davidfowl commented on #209
Sample then?

[2015-04-05 01:36] blowdart commented on #209
Sample works. With huge caveats all over the place of "Using this for any sort of production site will make blowdart cry".

[2015-04-05 01:44] davidfowl commented on #209
Should we put it in the security repository or entropy?

[2015-04-05 01:45] blowdart commented on #209
Entropy => Elsewhere ? (I don't think put it here, because that's more of a blessing than I'd feel comfortable with)

[2015-04-05 04:38] Bartmax commented on #209
looks like very emotional response @blowdart, you are assuming that the app will have multiple request, you assume that I will have multiple calls per user, you assume the password is hashed on a database, sounds like you are assuming a lot of things actually.

I'm not security expert, but if you assure that basic auth isn't an option for any of the wide range of web apps usecase, then I trust you

[2015-04-05 18:51] Kukkimonsuta commented on #209
It would be nice if it was supported out of the box, since there are still real world cases where it's useful (like protecting staging environments), but I guess we can live without it since it's pretty easy to implement anyways - I gave it a shot taking cookie auth as template, so if anyone's interested: [Odachi.Security.BasicAuthentication](https://github.com/Kukkimonsuta/Odachi/tree/master/src/

[2015-04-06 17:22] Praburaj commented on #200
This is fixed now.

[2015-04-06 17:22] #200 closed

[2015-04-06 17:22] Praburaj commented on #130
This magically works now. So closing.

[2015-04-06 17:22] #130 closed

[2015-04-06 21:17] Praburaj commented on #136
This is fixed now.

[2015-04-06 21:17] #136 closed

[2015-04-07 21:09] HaoK commented on #204
Would be good to address this issue as part of this work: https://github.com/aspnet/Identity/issues/185

[2015-04-08 17:27] ninety7 opened #211 "How to use OpenIdConnect with ASP.NET Identity?"
I am writing a new MVC 6 app and cannot find a way to use ASP.NET Identity along with OpenIdConnect as an external provider (same way as Google or Twitter examples). Does anybody know if this is even possible? I want to be able to create a local account for each user and store his settings but provide a way for them to sign on using OpenId Connect.

[2015-04-08 17:31] blowdart commented on #211
That's not what we're currently targeting OpenID connect at. As we we get closer to release we could examine treating it like any other social auth, but the templates and documentation, such as they are, are focusing on using it for authenticating to Azure Active Directory.

[2015-04-08 17:37] ninety7 commented on #211
Thanks for the super-fast response. Will using OAuth authentication work as a social authentication?

[2015-04-08 17:38] blowdart commented on #211
It should do yes, I just can't point you at a sample for it :)

[2015-04-08 19:17] PinpointTownes opened #212 "Replace INonceCache by IDistributedCache"
https://github.com/aspnet/Security/pull/202#discussion_r27964163

[2015-04-09 14:05] brentschmaltz opened #214 "[Design] OpenIdConnect needs a definition for agumenting the 'state' parameter on request."
If a users wants to add to the 'state' parameter when sending a request, there is no easy way to do this.

[2015-04-09 14:33] brentschmaltz opened #215 "OpenIdConnect: OpenIdConnectMessage.RequestType shouldn't be needed."
A user needs to know the purpose of the RedirectToIdentityProviderNotification is it: SignIn or SignOut?
A property was added to OIDCMessage for this purpose. It seems a better place would be on the notification since this is not related to the OIDC message.

[2015-04-09 18:42] HaoK commented on #211
Oath sample is here https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L51

[2015-04-11 09:34] PinpointTownes commented on #214
Adding custom properties to `AuthenticationProperties` when calling `HttpResponse.Challenge` sounds rather easy for me. Do you have something particular in mind?

[2015-04-13 21:42] HaoK commented on #140
Merged 4a2a742ad5e52b2f9e0529b8c6f5f9decd3e80f0

[2015-04-13 21:42] #140 closed

[2015-04-13 21:42] HaoK commented on #167
Merged 4a2a742ad5e52b2f9e0529b8c6f5f9decd3e80f0

[2015-04-13 21:42] #167 closed

[2015-04-15 17:15] ninety7 commented on #211
@blowdart I hope you consider treating openID connect as social auth in the future. For now, you can close the issue.

[2015-04-15 17:15] #211 closed

[2015-04-16 11:16] PinpointTownes opened #217 "OpenID connect: support response_mode=query"
`response_mode=query` support has been a recurrent demand on JabbR, given that the optional `response_mode=form_post` is not implemented everywhere.

Even if authorization servers should make sure they don't return `token` or `id_token` when using `response_mode=query`, we should reject such requests in the middleware itself.

https://github.com/aspnet/Security/pull/202#discussion_r28379573

/cc @

[2015-04-16 13:57] brentschmaltz opened #218 "OIDC - should allow 'code' only response_types"
OIDC middleware requires code as part of id_token + code.
Code should be processed by itself so that sign-in can occur using the UserInfo endpoint.
Code -> AccessToken -> UserInfo -> ClaimsPrincipal.

[2015-04-16 14:47] PinpointTownes commented on #218
I think that userinfo is orthogonal here: it's useful, but not necessary - and not sufficient, as it doesn't help mitigating token substitution attacks - to correctly/safely authenticate the user. On the other hand, given that an `id_token` is always returned when you exchange the authorization code, it would be easier and safer to use it and apply the existing `id_token` validation process.

[2015-04-16 14:48] PinpointTownes commented on #217
@brentschmaltz if you agree with the general idea, I'll submit a PR when yours is merged.

[2015-04-16 14:57] brentschmaltz commented on #218
Perhaps I left out too many details.:
The flow is:
1. id_token + code
2. code - > accessToken (where accessToken gives access to UserInfo endpoint)
3. accessToken presented to UserInfo endpoint -> id_token

The id_token returned when obtaining an accessToken may or may not contain a comprehensive set of information.

[2015-04-16 15:02] PinpointTownes commented on #218
Not sure to understand:

1. id_token + code __-> how can you get an id_token here if you only ask for a code?__
2. code - > accessToken (where accessToken gives access to UserInfo endpoint)
3. accessToken presented to UserInfo endpoint -> id_token __-> hum, IIRC, you can't get an id_token via the userinfo endpoint: of course, similar parameters are returned (like `sub`), but others are not mandato

[2015-04-16 15:02] brentschmaltz commented on #217
It's not entirely my call, other folks involved have indicated that 'query_mode' should not be supported by default.

[2015-04-16 15:04] PinpointTownes commented on #217
You should maybe ping them so they can participate to this conversation :construction_worker:

/cc @selfissued

[2015-04-16 15:14] brockallen commented on #218
As a side note, it might be worthwhile setting up and testing with IdentityServer to ensure the new OIDC middleware is working well with the protocol (beyond just azure's implementation).

[2015-04-16 18:51] Tratcher commented on #118
@muratg

[2015-04-17 00:42] brentschmaltz commented on #218
Yes I agree.  With Katana we interop'd with Ping and Salesforce.  Which led to a couple of fixes.
We also found issues with http://wso2.com/products/identity-server/ ( https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/100 ).

We don't have a formalized interop program which admittedly takes a lot of energy along with commitment.

[2015-04-17 00:53] brentschmaltz commented on #214
That works fine with Challenge(...). I am thinking about a user that is hooking the RedirectToIdentityProviderNotification. The runtime sets OpenIdConnectMessage.State with protected AuthenticationProperties before the call. How would a user add to the state. I am thinking that it maybe we may want to pass the AuthenticationProperties to the notification and protect afterwards.

[2015-04-17 01:07] brockallen commented on #218
Okies -- that's all refreshing to hear. Thanks.

[2015-04-17 10:17] tugberkugurlu opened #219 "Getting into an infinite redirect loop when integrated with Azure AD"
I am getting into a very interesting state when I try to integrate with Azure AD in an ASP.NET 5 application. I have it working locally but when I deploy to azure web sites, it goes into an infinite redirect loop. It is a single instance Azure Web App and running on DNX 1.0.0-beta4-11532.

I am looking at the azure web app logs and it seem this (roughly, not the whole log):

My guess is that this

[2015-04-17 17:47] brentschmaltz commented on #219
We just added some logging that may help. Can you turn on logging and show what is going on?

[2015-04-17 17:49] brentschmaltz commented on #218
I'll close for now, since the middleware will allow 'code' response_type. We can open separate issues as needed.

[2015-04-17 17:49] #218 closed

[2015-04-17 17:49] tugberkugurlu commented on #219
Does the latest work on the runtime I am on: 1.0.0-beta4-11532?

[2015-04-17 17:51] brentschmaltz commented on #219
It's checked into the dev branch, I can build and run against that.

[2015-04-17 17:52] tugberkugurlu commented on #219
Cool, thx for this! I will give this a go shorthly.

[2015-04-18 15:15] tugberkugurlu commented on #219
@brentschmaltz I figured out what was going wrong and didn't have try logging (but logging is always good! :smile:)

I was only getting into this redirect loop when I visited the application without HTTPS. I am guessing it has something to do with cookie and its secure flag. I could be mistaking.

I forced HTTPS on my application through an IIS URL Rewrite rule an the problem is solved. I would sa

[2015-04-18 15:15] #219 closed

[2015-04-18 16:58] brockallen commented on #219
@tugberkugurlu that's one of the the most reasons for the redirect loop (also with the katana middleware)

[2015-04-18 21:28] brentschmaltz opened #220 "Add property to RedirectToIdentityProviderNotification to indicate purpose of redirect"
RedirectToIdentityProviderNotification can be called for signin or signout. OpenIdConnectMessage.RequestType is currently being used to define the purpose. This pattern requires each additional protocol message to have this property.

[2015-04-18 23:44] brentschmaltz commented on #105
@brockallen @blowdart  there seem to be two issues: size and why should mapping even happen. The mapping could be off by default and a simple switch turns it on.

We could co-ordinate on the two fixes for a simpler model.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/95

[2015-04-18 23:53] PinpointTownes commented on #220
Duplicate of https://github.com/aspnet/Security/issues/215?

[2015-04-19 00:44] brockallen commented on #105
I find myself typing this far too often:
[code]
So I'd love for the OIDC claim types to take precedence. Rather, I'd just prefer for whatever claims a token contains to be the claims presented.

[2015-04-19 06:43] leastprivilege commented on #105
Yea - just give me the claims in the token and not some Microsoft/legacy representation.

[2015-04-19 08:47] davidfowl opened #221 "Remove dependency on DataProtection in Authentication"
It should only need the interfaces

[2015-04-19 17:23] brentschmaltz commented on #220
it is a dup

[2015-04-19 17:23] #220 closed

[2015-04-21 04:25] ctolkien commented on #209
For what it's worth, we often use basic auth for things that are a "little" bit secret (like the above mentioned staging sites).

[2015-04-21 19:47] Praburaj opened #223 "OpenId connect fails with SecurityTokenInvalidSignatureException on latest coreclr"
[code]

[2015-04-21 19:49] Praburaj commented on #223
@Tratcher @tushargupta51 could you guys re-enable this scenario once the bug is fixed?

https://github.com/aspnet/MusicStore/commit/cedfd88254678dd91190636eaf6e7cdf3ed7475f

[2015-04-21 19:49] Praburaj commented on #223
@brentschmaltz

[2015-04-21 21:26] Praburaj commented on #223
@suhasj

[2015-04-22 15:40] brentschmaltz commented on #223
@Praburaj I was out yesterday.  When did this start happening?

[2015-04-22 15:57] #118 closed

[2015-04-22 17:43] #221 closed

[2015-04-22 19:16] #48 closed

[2015-04-22 19:17] HaoK commented on #50
ClaimsTransformation can be used to do this now

[2015-04-22 19:17] #50 closed

[2015-04-23 15:44] HaoK commented on #174
Current thinking is ExternalAuthenticationOptions => SharedAuthenticationOptions

[2015-04-23 16:40] brentschmaltz opened #226 "AuthenticationHandler.SignIn sets SignoutContext to null, SignOut sets SignInContext to null"
This looks like an unexpected side effect and may surprise users. If it is by design, why is it necessary?

[2015-04-23 16:42] brentschmaltz opened #227 "AuthenticationHandler.SignInContext property should be ISignInContext"
ChallengeContext, SignOutContext both are interfaces. Should all three properties be interfaces?

[2015-04-23 16:45] brentschmaltz opened #228 "Public method null checks missing in AuthenticationHandler"
Many public method in AuthenticationHandler assume parameters are not null. They should be checked for null or use the [NotNull] attribute.

[2015-04-23 16:45] Tratcher commented on #226
Yes this is by design. The most common scenario we see at the moment is that cookies get periodically renewed via sign-in, but the user may request to sign-out on the same request as the renewal. The sign-out should win in that case.

[2015-04-23 16:47] Tratcher commented on #227
I'm actually about to remove the interfaces. See https://github.com/aspnet/HttpAbstractions/pull/282

[2015-04-23 20:35] brentschmaltz commented on #226
This seems non-deterministic for the user, essentially a race condition.

[2015-04-23 20:38] brentschmaltz opened #229 "public class SignContext is defined in Microsoft.AspNet.Authentication and Microsoft.AspNet.Http.Authentication"
Is this by design?
SignOutContext and ChallengeContext are only in Microsoft.AspNet.Http.Authentication.

[2015-04-23 21:07] Tratcher commented on #226
It has worked well in practice. Have you seen something break due to this?

That sounds like a whole new flow we'll have to investigate. I recommend tracking it separately.

[2015-04-23 21:10] Tratcher commented on #229
This has already been addressed in the following PR:
https://github.com/aspnet/HttpAbstractions/pull/282

[2015-04-23 21:25] brentschmaltz commented on #229
Nice, when that is merged I will close this.

[2015-04-23 21:39] brentschmaltz opened #230 "DefaultHttpResponse.SignOut has different guard logic than SignIn or Challenge"
SignOut:

[code]

SignIn, Challenge:

[code]

Is the check for NullOrWhiteSpace significant for just SignOut?

Sorry, I should have put this in HttpAbstractions.

[2015-04-24 00:04] brentschmaltz commented on #227
Good I personally prefer Abstract Base classes.

[2015-04-24 00:05] brentschmaltz commented on #226
I am designing SignOut and am studying solutions and noticed this issue.

[2015-04-24 00:06] brentschmaltz commented on #223
Has the CLR team been contacted? This worked fine before

[2015-04-24 00:06] brentschmaltz commented on #217
@PinpointTownes I don't think there is much support for query mode.

[2015-04-24 00:15] brentschmaltz commented on #204
I am trying to understand why signing is two parts. An AuthenticatationHandler (WSFed, OIDC), recognizes a signin message, processes it, returns a ticket, then it is called again to SignIn.
What are we designing for by requiring the return trip.

[2015-04-24 05:55] HaoK commented on #161
87c31c5526edee557997f03c7b13d46cb5d1d893

[2015-04-24 05:55] #161 closed

[2015-04-24 16:01] brentschmaltz commented on #204
To further that thought, the oidc handler creates a ticket only when it recognizes a signin response that it knows its instance sent (by validiating nonce, state). Validating the response and creating a ticket is signing in. WsFed, Samlp, OAuth signin work the same way.

[2015-04-24 17:44] PinpointTownes commented on #229
@brentschmaltz done: https://github.com/aspnet/Security/commit/63fc18b945bb30b217de20d2aec7c042f70a68ae#diff-e87cbbc77b6641c451cf43aeb823bcb0L1 :dancer:

[2015-04-24 17:49] #229 closed

[2015-04-27 14:19] brentschmaltz commented on #227
https://github.com/aspnet/HttpAbstractions/pull/282
Was merged

[2015-04-27 14:19] #227 closed

[2015-04-27 15:29] emanoelxavier opened #231 "Accessing customer headers from TVP delegates"
It seems that there is no direct way to access customer headers (potentially getting it through the Owin Context) from within the delegates exposed by the TokenValidationParameters (IssuerValidator, AudienceValidator and IssuerSigningKeyResolver). The scenario where this would be useful is when there are things that could come in the request context (i.e.: a custom header) that will be used to ret

[2015-04-28 20:01] suhasj commented on #223
This started on Jan 21 with `Microsoft.IdentityModel.Protocol.Extensions 2.0.0-beta4-03310920` I am not sure if that package is the reason but bought it up as an FYI

[2015-05-01 23:42] HaoK opened #234 "OAuthMiddlewares should use Options.ClaimsIssuer"
Google, and probably the other auth middlewares are currently not respecting this setting.

[2015-05-01 23:42] HaoK opened #235 "Make ClaimsTransformation Async?"
Requested by customers

[2015-05-01 23:44] HaoK opened #236 "Add standard sugar to enable configuring ClaimsTransformation via Use"
Consistency with other authN middlewares

[2015-05-02 07:55] leastprivilege commented on #235
Chances are high you want to interact with a data store and / or cache.

[2015-05-04 17:51] blowdart opened #238 "Add sugar to make Authorize model parameter optional"
As it's not needed for in view checks.

[2015-05-05 06:09] HaoK opened #240 "Finish test refactoring"
- See if Cookie/OAuthBearer can also switch to new shared TestExtensions/Transaction (need to tweak to address differences from the OAuth middleware tests)
- Move common oauth social auth tests to a base shared common tests to reduce duplication of code/tests

[2015-05-05 16:44] Tratcher opened #242 "Remove sample's dependency on Diagnostics"
This is only used in the sample and it adds an unnecessary CI dependency.  Update the CI dependencies when completed.

[2015-05-05 22:01] HaoK commented on #234
ce48c1fc7dabe0315b18eda378586ec169542b9c

[2015-05-05 22:01] #234 closed

[2015-05-06 08:16] leastprivilege opened #245 "Hardcoded claim types for role and name"
You are using hard coded values for roles (ClaimTypes.Role) and Name (ClaimTypes.Name)

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authorization/AuthorizationPolicyBuilder.cs#L81-91

The ClaimsIdentity ctor allows mapping those claims to different types. I don't want to use 90ies style XML namespaces - and the external IdPs that send you those claims don't want to either.

Cl

[2015-05-06 08:24] leastprivilege opened #246 "Failed authorization for an authenticated user redirects to login page instead of access denied page"
A failed role check with the Authorize attribute redirects an authenticated user back to the login page. I haven't checked the internals, but that seems to indicate you are emitting a 401.

My assumption was that in that situation a 403 should be emitted and the cookie middleware will use the AccessDeniedPath instead.

[2015-05-06 15:28] Tratcher commented on #246
See https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Cookies/CookieAuthenticationHandler.cs#L319

[2015-05-06 15:30] brockallen commented on #246
Yes, that API is very easy to read :)

[2015-05-06 15:31] leastprivilege commented on #246
OK - but I am returning a 403 for an authenticated user - and this code path does not seem to get hit..

[2015-05-06 17:50] Tratcher commented on #246
You'd think that 403 would be the appropriate thing to return, but what they eventually settled on is returning a 401 and having the auth middleware that produced the user identity (cookies) change it to a 403 OR redirect to AccessDeniedPath.

[2015-05-06 18:50] HaoK commented on #245
This is really just meant to be sugar for the common case.  If apps are using different claim types for role/name.  They can simply use the Requires overload directly for their authZ policies.  @blowdart thoughts?  We haven't spent a lot of time looking at this area yet, so we can certainly discuss this more

[2015-05-06 18:51] HaoK commented on #246
Yep, need to convince @lodejard if you want to change this behavior...

[2015-05-06 18:53] brockallen commented on #245
"Common" is relative, no? It's common in all the apps I work on that the ClaimsTypes class is never used.

[2015-05-06 18:54] blowdart commented on #245
Well you could use claims transformation to map :) But, yea, Dominick is right here we should be using the Identity property rather than the claim name,

[2015-05-06 18:56] HaoK commented on #245
Fair enough, just needs two new specialized requirements for this I guess, I can add this today

[2015-05-06 18:58] #242 closed

[2015-05-06 18:58] blowdart commented on #245
Not really, we just need to map that claim requirement to not an actual claim name, but to a property.

So, for example,

RequireClaim("urn:mstidentity.super.hao.name", userName);

And then when we encounter that, instead of looking for that actual claim, check the identity's Name property to discover the valid claim name for Name.

OK, that's given me a headache to type.

[2015-05-06 18:59] blowdart commented on #245
Or, hmm, yea, specialized might be better, heh, now I think on how bad that was to explain.

[2015-05-06 19:00] HaoK commented on #245
Yep, I took one look at the current requirement, and there was no way we were going to shoehorn that logic into it :)

[2015-05-06 20:23] PinpointTownes commented on #246
Related ticket: https://github.com/aspnet/Security/issues/134

[2015-05-08 18:13] HaoK commented on #245
Fixed 434d158c7620fd75492ea5d03b6885246745b26c

[2015-05-08 18:13] #245 closed

[2015-05-08 20:43] sandorfr opened #248 "Breaking changes in Authentication / Authorization"
There are a lot of breaking changes in that area. They look amazing but I'm really struggling with them. Is there any design notes about how it works.

Here is some details about what I'm struggling with ( http://forums.asp.net/t/2048628.aspx?Struggling+with+the+beta4+Authentication+Authorization+changes )

--

Here what I currently have :
* A Middleware which is overriding CreateHandler and retur

[2015-05-08 21:23] HaoK commented on #248
Not really any notes, I'll take a look and reply to your post in this issue.  Do you want to edit this issue and include the context from your asp.net forum post?

[2015-05-08 21:23] davidfowl commented on #248
@HaoK can you write up something so we can put it on Announcements?

[2015-05-08 21:41] blowdart commented on #248
@davidfowl How much do you want written? We're overhauled *everything*. A quick announcement won't do anyone any good, as announcements are a couple of lines. It's going to need proper documentation to expose all the changes we made, especially the authz overhaul. Whilst that's slowly coming along in the shape of a powerpoint, its going to take a good number of days to turn it into proper usable d

[2015-05-08 21:59] sandorfr commented on #248
Thanks @HaoK, I just updated my post to include my current status on this subject.

On the documentation area let me know if I can be of any help.

[2015-05-08 22:01] davidfowl commented on #248
@blowdart Anything would suffice at this point. Even if it's to say that there were a ton of breaking changes. That's the entire purpose of that repository.

[2015-05-08 22:02] blowdart commented on #248
Saying a ton is hardly helpful. "We changed authz to use Policy" doesn't say much at all. It's not breaking in that case anyway, it's new.

[2015-05-08 22:05] HaoK commented on #248
@sandorfr I'm assuming you have something like [Authorize(Policy = "JWT")] or something like that?

Can you include your entire startup.cs (or at least the Configure that's up your middlewares?)

[2015-05-08 22:08] HaoK commented on #248
For your first issue about the policy names / AuthScheme being correlated, that's because of how you setup your policy:

This should work fine.
[code]

[2015-05-08 22:11] sandorfr commented on #248
Yes I have that :
[code]

Here my UseJWTAuthentication implementation :
[code]

[2015-05-08 22:21] blowdart commented on #248
Announcements done. They're not detailed, because they're announcements. Proper documentation will follow in a few weeks.

https://github.com/aspnet/Announcements/issues/21
https://github.com/aspnet/Announcements/issues/21
https://github.com/aspnet/Announcements/issues/22

[2015-05-08 22:43] sandorfr commented on #248
@HaoK that's fixed for the policy naming part. Thanks. Now I just need to understand why the `ApplyResponseChallenge` is called despite my `AuthenticationTicket`being set.

@blowdart I think your announcements are helpful, at least they would have helped me save time earlier this week :), so I guess that might help other developers.

[2015-05-08 22:48] HaoK commented on #248
Can you include the rest of your middleware configuration?  Do you have cookies or any other auth middlewares involved?

[2015-05-08 22:52] sandorfr commented on #248
No I don't have any other Auth middleware atm (I plan to do so but this is not a priority)

[code]

[2015-05-08 22:58] sandorfr commented on #248
there is one thing I'm not sure of. should my authentication middleware use or not use `AutomaticAuthentication` and why.

[2015-05-08 23:01] HaoK commented on #248
Automatic is intended for your current scenario where there's only one primary auth middleware, try turning this on, and removing the authentication scheme from the policy.  The HttpContext.User should automatically be the principal from your middleware on the request after sign in.

[2015-05-08 23:08] sandorfr commented on #248
Ok, thanks I'm going to do some test following that path and triple check everything again :). I'll keep you updated.

[2015-05-08 23:11] HaoK commented on #248
Thanks for trying this out, definitely feel free to share any thoughts/feedback you have as most of this has changed recently and we are trying to tweak things to be more intuitive...

[2015-05-08 23:51] sandorfr commented on #248
Does not work either :(. I must be missing something obvious...
Is there any prerequisites over the principal/claims I return in my ticket?
One good thing which might actually ease those scenario would be an easy way to get the reason of the 401.

[2015-05-09 01:05] sandorfr commented on #248
Eureka ! It looks like a policy without any requirement will never authorize the request. I had to add  `RequireAuthenticatedUser()` to get it to work. It also work if I add any RequireClaim.

[2015-05-09 01:08] HaoK commented on #248
Ah yes, that funky edge case... @blowdart what do you think about removing this weirdness?  We could just throw whenever we register a policy with no requirements on startup...  Instead of either always failing or always succeeding an empty policy...?

[2015-05-09 01:15] sandorfr commented on #248
My personal opinion is that the exception is the right way. The always failing does not have any sense to me (and it will drive others than me completely crazy) but the always succeeding might lead to the same issue :), plus a potential security breach.

[2015-05-09 02:25] blowdart commented on #248
Exception it is. This caught me too :)

[2015-05-09 19:26] leastprivilege commented on #246
OK - fair enough.

But still it does not work.

I authenticate using cookie MW and hit a Authorize attribute with a role check - role check fails and I get redirected to login page. I have an access denied page set on the cookie MW.

Am I doing something wrong?

[2015-05-11 18:29] HaoK commented on #238
Unfortunately this causes issues with the params...

        Task<bool> AuthorizeAsync(ClaimsPrincipal user, object resource, params IAuthorizationRequirement[] requirements);

So we can't really do this easily since resource is untyped...

[2015-05-11 20:06] HaoK commented on #238
Replacing params with IEnumerable so we can add sugarz

[2015-05-11 21:57] Tratcher commented on #246
@HaoK ?

[2015-05-11 22:33] sandorfr commented on #248
Do you have any idea why the ApplyResponseChallenge is called twice?

[2015-05-12 14:31] StenPetrov opened #251 "Samples don't run in VS 2015 RC"
I downloaded this sample and ran it in VS 2015 RC. When the browser opens up there's an error message there:

Server Error in '/' Application.

No service for type 'Microsoft.Framework.Runtime.ILibraryManager' has been registered.

Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and whe

[2015-05-12 16:46] Tratcher commented on #251
It sounds like your version of dnx is out of sync with your version of Microsoft.AspNet.Server.IIS. Verify that everything is beta4 without any build numbers attached. Check your project.json and also run `dnvm list` from the command line.

[2015-05-12 16:48] Tratcher commented on #251
@suhasj

[2015-05-12 17:17] suhasj commented on #251
@StenPetrov I have updated the master branch. Can you clone the repo again and try ?

[2015-05-12 17:52] StenPetrov commented on #251
I tried again with latest code, still the same error.

dnvm list returns

Active Version     Runtime Architecture Location                    Alias
------ -------     ------- ------------ --------                    -----
       1.0.0-beta4 clr     x64          C:\Users\Sten\.dnx\runtimes
       1.0.0-beta4 clr     x86          C:\Users\Sten\.dnx\runtimes default
       1.0.0-beta4 coreclr x64

[2015-05-12 20:31] jraadt opened #253 "API authentication not available in templates"
When I go to create a Web API project in VS 2015 RC I'm unable to choose an authentication method and the template created has no authentication.  I couldn't find anything in the samples either.  What's the recommended method of security for Web APIs in MVC 6?

[2015-05-12 20:54] HaoK commented on #236
bb2e12a8e611e0f7a2f54ee2fab15373c02d6fca

[2015-05-12 20:54] #236 closed

[2015-05-12 20:58] HaoK commented on #238
17deab142da56b656bb2cd84dce294ca15135397

[2015-05-12 20:58] #238 closed

[2015-05-13 11:31] cleftheris commented on #83
@Tratcher  IMHO IdentityServer v3 is fills all the nedded scenarios plus more. You can opt out of an advanced configuration if one is not deeded. BUT there is no indication that the project has event started to port to a aspnet core compatible version. That said we need something to work with until this happens.

[2015-05-13 11:50] PinpointTownes commented on #83
@cleftheris you should give AspNet.Security.OpenIdConnect.Server (https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server) a try, it now fully supports __dnxcore50__ :smile:

[2015-05-13 12:38] cleftheris commented on #83
@PinpointTownes I am already on this track. Having a bit of a trouble managing all the dependency chaos of beta5* (Abstractions/interfaces stuff) plus the shortcomings of the EF7 current status. But will eventually make it work.

[2015-05-13 13:16] leastprivilege commented on #83
No we haven't started porting to CoreClr - don't see the need for that right now. It runs fine in ASP.NET 5 DNX451 and Mono.

On related news - IdentityServer3 is as of today a fully certified OpenID Connect implementation. So it depends on where your priorities are.

http://openid.net/certification/

[2015-05-13 13:23] alikor commented on #83
DNX451 will not work on the Microsoft Nano Server or within a docker
container or even run on a mac/linux box so i can see a very strong reason
to port the application

On Wed, May 13, 2015 at 2:16 PM, Dominick Baier <notifications@github.com>
wrote:

[2015-05-13 13:25] leastprivilege commented on #83
It runs fine on Mac/Linux using Mono.

But yeah - we will port at some point. That's not the question.

[2015-05-13 16:54] suhasj commented on #251
I am a still stumped since I was able to run all the four samples in this repo. My steps
- Clone latest master branch
- Open in VS 2015 RC
- Press F5

I was able to run them successfully. What branch are you cloning ? Can do a clean clone and try ?

[2015-05-13 17:18] StenPetrov commented on #251
I'm downloading the zip from github, running it in vs2015 rc

Sent from my iPhone

[2015-05-14 23:46] suhasj opened #259 "Have an UseCookieAuthentication overload that takes in instance of DataProtectionProvider"
Based on the discussions to make the cookie compatibility between v4.5 and v5.0 apps, we need to have `UseCookieAuthentication` method take an instance of DataProtectionProvider which is shared among the apps.

[2015-05-15 03:41] Tratcher commented on #259
Or put it on the options.

[2015-05-15 08:55] HaoK commented on #259
+1 to options, I can do this together with the identity changes

[2015-05-15 09:11] PinpointTownes commented on #259
IMHO, the best option would be to provide an extension method around `CookieAuthenticationOptions`, that would internally set the ticket data format using a given data protector.

[code]

[2015-05-15 09:20] HaoK commented on #259
Well, today looks like there's the TicketDataFormat which takes the DataProtector in its ctor.

So if we leave cookies alone as is, identity could simply configure things via

`options.TicketDataFormat = new TicketDataFormat(dataprotector);`

This doesn't look unreasonable, maybe we should just leave things be?

[2015-05-15 11:12] guigobavaresco commented on #43
Hi,
how about it, now?

[2015-05-15 12:41] blowdart commented on #43
We're still awaiting support from the WAAD team, they're the ones driving it.

[2015-05-15 14:49] Tratcher commented on #259
We have a token binding feature coming that may require us to work directly with the DataProtection classes on a per request basis. In that case I think we'd want it on the options.

[2015-05-15 20:09] bahrens opened #260 "Allow more extension points for GoogleAuthenticationMiddleware"
Currently, the `GoogleAuthenticationMiddleware` only allows the requested the claims to be set once for all requests via the `GoogleAuthenticationOptions`. We are implementing a "multi-tenant" solution which requires us to request different scopes per tenant. It would be nice if there were hooks to allow for more control over scopes on a per request basis. In addition to requesting scopes per tena

[2015-05-15 21:26] Tratcher commented on #260
There is some support for dynamic scopes. You can set them in the AuthenticationProperties collection used with the Challenge. See https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Google/GoogleAuthenticationHandler.cs#L88

[2015-05-15 22:47] levicui opened #261 "Microsoft.Owin.Security.OAuth should provide an extension point for exception handling/rethrowing"
Hi there,

Our team is currently working on the error handling feature in the Owin OAuth MiddleWare, specifically we are calling the WindowsAzureActiveDirectoryBearerAuthenticationExtensions and JwtBearerAuthenticationExtensions to feed in the oauth related BearerAuthenticationOptions into the Owin authentication middleware for the authentication.

The authentication and logging logic works as exp

[2015-05-16 01:27] bahrens commented on #260
Can the AuthenticationProperties collection be set somewhere? The GoogleAuthenticationHandler is internal, so it can't be inherited from in order to override the BuildChallengeUrl method.

[2015-05-16 02:53] Tratcher commented on #260
It is set per request via HttpContext.Authentication.Challenge:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Abstractions/Authentication/AuthenticationManager.cs#L33
Are you working with MVC or some other component?

[2015-05-16 03:48] edwinf commented on #260
@Tratcher we're working with IdentityServer 3, which doesn't allow us to set any additional Authentication Properties before issuing the challenge.  (I'm going to try to put a PR out to change that).  A delegate / interface as mentioned in #44 would allow us to access the options without having to modify the layer sitting on top of this middleware, thus making it more plug and play.

Besides the s

[2015-05-16 05:24] Tratcher commented on #260
It wouldn't be enough to make the handler public for extensions. You'd also have to extend the middleware class to create your new handler, and copy the IApplicationBuilder extensions to create your new middleware. At that point you'd almost be better off forking the code and modifying it rather than trying to extend the existing one.

Another approach would be to try exposing more extension hooks

[2015-05-16 15:41] edwinf commented on #260
Good point,

what if , based on [this comment | https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Google/GoogleAuthenticationHandler.cs#L78] the query string parameter dictionary was refactored into the OAuthAuthenticationHandler base class, and then an extension hook was added to allow you to modify the dictionary before it was returned as the fully formatted uri.

S

[2015-05-17 10:55] PinpointTownes commented on #223
Ding dong. Any progress regarding this issue?

[2015-05-18 14:35] mojtabakaviani opened #262 "AuthorizeAttribute with Groups for Group-Based Permissions"
Next version of Asp.Net Identity will be Implementing ['Group Based' Permissions Management](https://github.com/aspnet/Identity/issues/184) for large numbers of users please add groups named parameters to AuthorizeAttribute that easy authorize groups every where.

[2015-05-18 15:25] hishamco commented on #262
@mojtabakaviani  You asking for something like ```[Authorize(Roles = "Administrators")]``` this is already implemented have a look https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authorization/AuthorizeAttribute.cs#L21

[2015-05-18 16:05] blowdart commented on #262
Groups are an ease of administration concept.

Group = collection of users.

You authorize on permissions.

Roles = collection of permissions.

Groups are not suitable for authorization.

[2015-05-18 16:43] brentschmaltz commented on #223
Was on vacation, anyone know of a clean repro?

[2015-05-18 16:45] brentschmaltz commented on #261
@levicui can you have a look at the OpenIdConnectMW model and see if that fits?

[2015-05-18 16:45] brentschmaltz commented on #43
Yep, it is on our plates and radar. No promises till we drop OIDC.

[2015-05-18 16:56] PinpointTownes commented on #223
It depends on what you mean by "clean repro" :smile:
You should be able to reproduce this issue by trying to validate any JWT token.

(this samples crashes on CoreCLR if you don't use the `UnsafeJwtSecurityTokenHandler` class: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/vNext/samples/Mvc/Mvc.Server/Startup.cs#L205)

[2015-05-18 17:10] Tratcher commented on #261
See https://github.com/aspnet/Security/issues/55

[2015-05-18 17:40] Tratcher opened #263 "[Cookies] Consume ITlsTokenBindingFeature"
ITlsTokenBindingFeature represents a new TLS extension where clients can use their TPM to generate a stable machine ID and include that on each TLS handshake. The server can then use this to bind encrypted cookies to that machine ID (across TLS sessions), preventing them from being exported by malware for use on another device.  WebListener, IIS, and IE currently support this on Win10+.

Logic: Pe

[2015-05-18 19:05] mojtabakaviani commented on #262
Right, but if can add groups to Authorization mechanism so
```[Authorize(Groups = "Administrators")]```

[2015-05-18 19:07] blowdart commented on #262
It won't happen. Groups are not meant for, nor designed for authorization.

[2015-05-19 00:48] HaoK opened #265 "[AuthZ] Consider new sugar for adding auth handler"
@divega suggested something like this to make it easy to register a handler/requirement all at once without implementing a new class/interface (the sugar only would exist for the sync scenario):

[Need a new name other than Magic...]

[code]

[2015-05-19 00:48] HaoK commented on #265
cc @blowdart thoughts?

[2015-05-19 00:52] HaoK opened #266 "[AuthZ] Investigate if we can turn policyName overloads into extension methods"
@divega suggested we could potentially tease apart IAuthorizationService to split out the overloads that take policy map and introduce a IPolicyMap or the like and turn them into extension methods?

[2015-05-19 01:39] blowdart commented on #265
They'd have to be very simple requirements then if you wanted to specify them like that, but, meh, I have no objections, as long as the existing methods still work for more "grown up" requirements

[2015-05-19 22:06] HaoK opened #268 "[AuthZ] Consider short circuiting when a handler fails?"
@blowdart @divega @lodejard

For our default authorization service implementation, should we short circuiting running any more handlers if any handler fails the context?  Do we care about any side effects of the handlers running?  They won't be able to undo the failure, so Authorize will definitely fail even if they run.

[2015-05-19 23:22] blowdart commented on #268
I had suggested this before, I can't remember why there were objections.

[2015-05-20 16:59] brentschmaltz commented on #223
thanks

[2015-05-20 17:20] brentschmaltz commented on #223
OH my, this is not good. Thanks.

[2015-05-20 17:29] bojanrajkovic commented on #246
So, according to @lodejard, they should already be acting like this: https://twitter.com/loudej/status/601074953836834816

In my tests with 1.0.0-beta5-12413 versions of AuthN/AuthZ packages, this isn't working -- an authenticated, but not authorized, user is still getting a 302 redirect to the login page.

[2015-05-20 17:38] blowdart commented on #134
Re-opening and linking to #246

[2015-05-20 19:22] dolly22 opened #270 "Cookie MW null reference exception"
I'm getting null reference exception from cookie authentication middleware when protecting authentication ticket. This happens when the following conditions occur on request:

1. Sliding expiration is enabled and enough time passed so middleware tries to refresh authentication ticket (setting `_shouldRenew = true`)
2. Principal is rejected in `Options.Notifications.ValidatePrincipal` notification

[2015-05-20 19:38] brentschmaltz commented on #217
@PinpointTownes did you ping MikeJones (selfissued)?

[2015-05-20 19:42] PinpointTownes commented on #217
@brentschmaltz I mentioned him in my last post, so he probably received a notification from GitHub.

I'll ping him via Twitter :smile:

[2015-05-20 19:47] PinpointTownes commented on #217
Tweet sent: https://twitter.com/PinpointTownes/status/601111713853890560

[2015-05-20 19:49] amattie opened #271 "Consider factories / interfaces within OAuthAuthenticationHandler to support additional access token properties"
[1.0.0-beta4]

Currently in [OAuthAuthenticationHandler](https://github.com/aspnet/Security/blob/1.0.0-beta4/src/Microsoft.AspNet.Authentication.OAuth/OAuthAuthenticationHandler.cs), [TokenResponse](https://github.com/aspnet/Security/blob/1.0.0-beta4/src/Microsoft.AspNet.Authentication.OAuth/TokenResponse.cs) and [OAuthGetUserInformationContext](https://github.com/aspnet/Security/blob/1.0.0-beta4/

[2015-05-20 19:58] selfissued commented on #217
First, response_mode should only be used when a non-default response mode is being requested for the response_type, per http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#ResponseModes and http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest.  Given that it's never safe to use the query response_mode when fragment encoding is the default, this means that it is only ever

[2015-05-20 20:01] PinpointTownes commented on #217
@selfissued by `response_mode=query`, I mean GET callbacks (the last being the result of the explicit response_mode or implied from the `response_type` used), that are currently NOT supported by the OIDC client middleware.

[2015-05-20 20:17] PinpointTownes commented on #217
Meh, given that the "fragment encoding" you mention corresponds to `response_mode=fragment`, I don't even think this sentence has much sense :smile:

[2015-05-20 20:34] PinpointTownes commented on #271
Duplicate of https://github.com/aspnet/Security/issues/101

I'll fix it as part of this PR: https://github.com/aspnet/Security/pull/257

[2015-05-20 20:36] PinpointTownes commented on #271
FYI: having a Salesforce-specific provider is on our radar for aspnet-contrib: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/14

Feel free to participate if you want to :smile:

[2015-05-20 21:02] selfissued commented on #217
The default response modes are specified for each response type in http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html.  For instance, about the four combination response types defined in http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#Combinations, you'll see this language "The default Response Mode for this Response Type is the fragment encoding and the query enco

[2015-05-20 21:07] PinpointTownes commented on #217
Meh, the thread is not about adding an explicit `response_mode=query` parameter to the OIDC or not when using `response_type=code` but about SUPPORTING GET REQUESTS ON THE CALLBACK ENDPOINT FOR THE CODE FLOW, WHICH IS NOT CURRENTLY THE CASE.

(you know we're not illiterate, right? :smile:)

[2015-05-21 12:17] egorpavlikhin commented on #251
I get the same exception just after installing VS 2015 RC, upgrade dnvm and creating a new empty ASP .Net 5 MVC project.

[2015-05-21 17:38] suhasj commented on #251
@egorpavlikhin is `dnvm upgrade` installing beta5 dnx and the projects still reference beta4 packages ? In that case this error is expected. You can use beta5 packages for the project and it should work fine

[2015-05-21 17:44] suhasj commented on #251
@StenPetrov : Downloading the zip and running it worked for me. One question, when you do `dnvm list`, is there an asterisk (*) next to 1.0.0-beta4 ?

[2015-05-21 22:12] brentschmaltz commented on #55
If a handler throws, will the next handler be called?  I think not. Given that we need sites to handle multiple providers for the same protocol, throwing may not be the right thing say if the signature fails, since the next handler using different signing key would succeed.

[2015-05-21 22:13] brentschmaltz commented on #261
@Tratcher @PinpointTownes I put a comment in #55 wondering about throwing in general from a handler.  thoughts?

[2015-05-21 22:19] HaoK commented on #246
Looks like the issue is 401->403 not working for automatic authentication, which is always the case for the Authorize(Roles = "Foo").   Things seem to work via an explicit policy where ActiveAuthenticationScheme includes the Cookie...  Still investigating

[2015-05-21 22:21] brentschmaltz commented on #217
wow, that took a while. thanks for pushing through.
@tushargupta51 will need to have a look at this since he is working on the 'code' only flow.

[2015-05-21 22:26] HaoK commented on #246
Yup, confirmed this workaround should work @leastprivilege @bojanrajkovic can you try this and see fixes the issue?

[code]
And then an addition `[Authorize("Cookies")]` in your controllers, all this does is explicitly force the cookie middleware to get authenticate called before authorization happens.

[2015-05-21 22:31] bojanrajkovic commented on #246
@HaoK Confirmed, that works! I added that configuration snippet and added `[Authorize("Cookie")]` in addition to my existing role-based authorize attribute, and now I get a 403 instead of endless redirects.

[2015-05-21 22:32] HaoK commented on #246
Awesome thanks, just wanted to make sure this is the same root issue, I'll work on the fix shortly...

[2015-05-22 13:25] sakopov commented on #251
I am also having the same issue running solution downloaded as zip. `dnvm list` looks like that of @StenPetrov.

[2015-05-22 13:55] egorpavlikhin commented on #251
@suhasj steps 1-6 here do the trick https://github.com/aspnet/dnx/issues/1912#issue-78482547

[2015-05-22 20:21] HaoK opened #273 "[AuthN] Clean up 401-403 AuthenticateCalled"
Currently for 401-403 to work, the AuthenticateCalled flag must be set.  This is a pretty obscure thing for subclasses to be required to do and is very easy to miss.  Cookie was missing this and as a result broke 401-403.  We should revisit this and see if there's anyway to make this more seamless...

@blowdart

[2015-05-22 21:49] HaoK commented on #246
e54d088c462b18c76a8f218b11ea2614e41622b6

[2015-05-22 21:49] #246 closed

[2015-05-26 08:07] HaoK commented on #262
@blowdart can we just close this since you won't fixed?

[2015-05-26 08:09] HaoK commented on #248
I think the exception behavior was the main issue for this, please file a new issue if you are still seeing issues with ApplyResponseChallenge

[2015-05-26 08:09] #248 closed

[2015-05-26 08:11] HaoK commented on #134
@blowdart did you want this issue to track something different than #246 or are you just creating dupes for me to hunt down?

[2015-05-26 08:16] HaoK commented on #76
@Tratcher is this something you think we can/should do?  It definitely would make things a lot cleaner

[2015-05-26 08:18] HaoK commented on #76
Note: We will have to convince @lodejard but I think we should try if you agree that this is the 'right' thing to do...

[2015-05-26 08:27] sandorfr commented on #248
I'm going to double check but last time I checked this point I had the issue. I'll open an issue if needed.

-----Message d'origine-----
De : "Hao Kung" <notifications@github.com>
Envoyé : ‎26/‎05/‎2015 01:09
À : "aspnet/Security" <Security@noreply.github.com>
Cc : "Sandor" <cyprien.autexier@gmail.com>
Objet : Re: [Security] Breaking changes in Authentication / Authorization(#248)

I think the exc

[2015-05-26 11:50] janna173 commented on #251
I cannot run the samples either, running SKD beta4.
But `<dnvm upgrade>` is not working. Seems to be the same issue as [aspnet/dnvm/issues/190] (https://github.com/aspnet/dnvm/issues/190) although this is marked as closed.

[2015-05-26 12:37] blowdart commented on #134
I'm creating more work now, because it's fun for me :D

[2015-05-26 12:37] blowdart commented on #262
Closed, by design.

[2015-05-26 12:37] #262 closed

[2015-05-26 14:53] Tratcher commented on #76
@HaoK I tried working through it once without much success. It's hard to get around the OnSendingHeaders code path. Take a look and let me know if you agree/disagree.

[2015-05-26 22:45] psidebotham opened #277 "OAuthBearerAuthentication Regression Between 1.0.0 beta 3 and beta 4"
I'm updating to 1.0.0-beta4, with an application that uses OpenIDConnect with Windows Azure for browser authentication, and OAuthBearerAuthentication for native client auth.

OAuthBearer was chosen for compatibility with ADAL.

After upgrading to beta 4, I was able to make a few changes and got OpenIdConnect working again.
The OAuthBearer middleware seems to be completely ignored, regardless of wh

[2015-05-27 10:36] PinpointTownes commented on #277
@psidebotham set `options.AutomaticAuthentication` to `true` in `app.UseOAuthBearerAuthentication`.

/cc @blowdart

[2015-05-27 16:05] psidebotham commented on #277
Thank you, that was it.

[2015-05-27 16:05] #277 closed

[2015-05-27 20:43] brentschmaltz opened #278 "OpenIdConnect needs additional validation of the response."
Currently OIDC handler needs to consider the entire message when validating if a message is protocol compliant. Several areas need addressing.

Some are easy: id_token + access_token arrives, the at_hash needs to be evaluated, similar to c_hash. The nonce claim is required in the 'code' and 'token' hybrid flows.

Some are more subtle (from spec):
If the auth_time Claim was requested, either throug

[2015-05-27 23:03] brentschmaltz commented on #217
@PinpointTownes @selfissued @tushargupta51
ok, so I think we all agree OIDC handler needs to support a 'code' response returned as a 'query' parameter. We will have to do some work, since OIDC handler only looks at post. I assigned the bug to myself, since tushargupta51 doesn't seem available now.

[2015-05-28 03:33] bojanrajkovic commented on #246
This should be in builds now, right? We don't need that workaround from earlier?

[2015-05-28 16:57] PinpointTownes commented on #217
@brentschmaltz if you want me to, I can submit a PR and ping you to make sure we're adding the right checks to reject unsafe OIDC payloads.

[2015-05-28 19:10] PinpointTownes commented on #217
@brentschmaltz https://github.com/PinpointTownes/Security/commit/4125595f89efa3c485c3dff16d770813369515a6

I'll test it with `AspNet.Security.OpenIdConnect.Server` and send a PR if everything works fine :smile:

[2015-05-28 19:12] PinpointTownes commented on #223
@brentschmaltz no news from the CLR team? :cry:

[2015-05-29 11:29] erikbra commented on #179
I might be daft, but, what is really the use-case for the issue mentioned in https://katanaproject.codeplex.com/workitem/344 ? You want to login to the same application with two different users in the same browser? How on earth can the web application separate the two sessions server-side once you're finally logged in? Or do I misunderstand the use-case?

Another concern is the use of "session" co

[2015-05-29 12:27] jmickael commented on #179
Erik,

Thanks for the feedback.

The problem I am experiencing is when users are accessing my application after they log out or in some cases use a different Microsoft account.  Our organization uses Office 365 E3 and all our users will “signon” to office 365 using the web clients.  We developed a custom application that uses the same Office 365 AD Tenant to authenticate users.  When the user firs

[2015-05-31 13:35] jkljajic opened #280 "Problem with Token FormatVersion(TicketSerializer) from Owin .net 4.5 and new aspnet .net 4.6|5"
Really do not know if here is good to ask question like this or write notice of my problem but i will try.

Looking how to implement security for current application that we do not want to change to much on old application. i have notice that some protection will be different. But after some time i make some
custom IDataProtector and IDataProtectorProvider that works on old apps and new beta .net.

[2015-06-01 19:00] HaoK commented on #193
@harshgMSFT Is this what you needed?

https://github.com/aspnet/Security/blob/haok/5-19authz/src/Microsoft.AspNet.Authorization/IAuthorizeData.cs

[2015-06-01 19:12] harshgMSFT commented on #193
Yes. I think if you are okay with the name it can be closed. (IMO `IAuthorizeAttribute` is better than `IAuthorizeData`)

[2015-06-01 21:20] levicui commented on #261
@brentschmaltz @Tratcher Thanks for commenting. I go over that thread, and I was thinking because our scenario is designed to use "UseWindowsAzureActiveDirectoryBearerAuthentication" and JwtBearerAuthentication MWs, which don't have an extension for notification handling, is there anyway to customize those two MWs to handle the notification similarly as OpenIdConnectMW?

[2015-06-02 16:56] Tratcher commented on #280
@HaoK Where is that compat shim and docs you were working on for this?

[2015-06-02 17:27] blowdart commented on #280
http://docs.asp.net/en/latest/security/data-protection/compatibility/cookie-sharing.html

Note that this needs you to switch data protectors in the asp.net 4.0 app. It's not just a matter of compression, it's also a matter of keys.

[2015-06-02 20:25] jkljajic commented on #280
Tanks
I have found that link (and it help me to much) but like you see in that docs you need to install BETA apps (Microsoft.AspNet.DataProtection) that is not possible in my case.
About compression i have solve that part. make my own IDataProtectionProvider.

But my is question it is plane to left like that (2 different version old one and new one ) and use some third party software or we just ne

[2015-06-02 22:02] blowdart commented on #280
We're currently exploring compatibility options. Is your beta concern you have to install beta libraries in a release 4.5 app to support a beta 5.0 app?

[2015-06-03 07:11] HaoK commented on #273
# Summary of plan:

## HttpAbstractions:
[code]

## AuthenticationHandler changes:

- AuthenticationScheme is required for SIgnIn/SignOut, no more overloads that sign in/sign out all automaticAuthentication middlewares (this setting now only affects ApplyResponseChallenge automatically getting called on the way out, and Authenticate getting called on the way in)

- Immediately change status codes/

[2015-06-03 07:26] HaoK opened #282 "[AuthN] API Review - Changing Authenticate signature"
- Signature on AuthenticationManager becomes, with AuthenticationResult absorbed by the context
[code]

New sugar extension method to directly return the ClaimsPrincipal (accessing AuthenticationProperties means no sugar[not common, identity would use this])
[code]

cc @lodejard @davidfowl @blowdart @Tratcher @divega

[2015-06-03 07:33] HaoK commented on #230
I'll take a look

[2015-06-03 07:36] HaoK commented on #139
I'm assuming this is fixed now?

[2015-06-03 07:38] HaoK commented on #134
Proposed changes are here https://github.com/aspnet/Security/issues

Closing as dupe

[2015-06-03 07:38] #134 closed

[2015-06-03 07:43] HaoK commented on #76
Sounds like this is DOA since we can't get any traction...closing

[2015-06-03 07:43] #76 closed

[2015-06-03 07:45] HaoK commented on #47
@PinpointTownes does your PR address everything here?

[2015-06-03 08:27] erikbra commented on #179
I'm starting to think this is a bigger issue. I've tried to solve this looking at the Katana source code, I've tried to google it, and it seems many people have this issue, with very different applications, not all using Microsoft.Security.OpenIdConnect (not that I know, at least).

### Examples (found by googling IDX10301):

BizTalk service portal SSO: https://social.msdn.microsoft.com/Forums/sql

[2015-06-03 10:41] PinpointTownes commented on #47
@HaoK not really. This ticket was about unifying `I*AuthenticationProvider` and `*AuthenticationNotifications`, but `I*AuthenticationProvider` has since been replaced by `I*AuthenticationNotifications`.

The question is now: do we want to have...
* an `I*AuthenticationNotifications` interface and a default `*AuthenticationNotifications` class exposing `Func` properties like the OAuth2 client middl

[2015-06-03 17:22] Tratcher commented on #47
I recommend the second approach. It's much cleaner and I have never seen anyone utilize the extensibility provided by the first approach.

[2015-06-03 17:28] PinpointTownes commented on #273
Kewl, another totally insane design for 403 handling :smile:

I'll probably repeat myself, but authentication middleware are __NOT__ the right place for that. The weirdest thing with this new approach is that you (= the ASP.NET team) don't seem to realize that it is semantically aberrant: a "challenge" operation (or whatever you call it) cannot result in a 403 response (like your snippets suggest)

[2015-06-03 17:33] PinpointTownes commented on #47
@Tratcher here's a sample of subclassing a default `*AuthenticationProvider` class: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/vNext/samples/Mvc/Mvc.Server/Providers/AuthorizationProvider.cs#L11

Overriding a method is much cleaner that assigning a delegate.

[2015-06-03 17:38] PinpointTownes commented on #76
Any idea why this suggestion was not easy to implement?

[2015-06-03 17:44] Tratcher commented on #76
OnSendingHeaders was the big blocker. It needs to be sync (due to Stream.Write), but we wanted everything else to be async, so we're left with dual code paths.

[2015-06-03 17:49] PinpointTownes commented on #76
And calling `Wait()`/`GetAwaiter().GetResult()` in `Stream.Write` was not an option?
Of course, it's not perfect but it has one merit: only developers using the sync write method would pay the price of the blocking OSH callbacks.

[2015-06-03 19:08] PinpointTownes commented on #273
@HaoK FYI, I'm prototyping a new authorization middleware that reuses the (excellent) CORS approach and offers a far better way (at least, IMO) to handle authorization: https://github.com/PinpointTownes/Security/commit/7ac1a2515015a98dc6f4919f28baa9db33beb50a#diff-7bf20fd130932f29f2028b7126281f84R58

(it doesn't build as I haven't updated the tests but you should get the idea)

[2015-06-04 22:15] Eilon commented on #139
This is now fixed (as confirmed via the templates).

[2015-06-04 22:15] #139 closed

[2015-06-04 22:20] #173 closed

[2015-06-04 22:31] Eilon commented on #179
We think the case of solving extra cookies isn't super important because it's a symptom of a larger problem of a mis-configured auth system. The cookies will expire after an hour anyway and be cleared out. We are concerned that any attempt to clean up bad cookies from the server is too dangerous because of the multiple-browser-tabs scenario.

[2015-06-04 22:31] #179 closed

[2015-06-05 02:59] brockallen commented on #179
_the case of solving extra cookies isn't super important because it's a symptom of a larger problem of a mis-configured auth system_

Disagree. People open tabs. There's nothing you can do to configure how people use their browsers.

[2015-06-05 22:44] HaoK opened #284 "[AuthZ] ClaimsTransformation can run multiple times"
Looks like today we sometimes run claims transformation more than once (i.e. once via Authenticate), and then again when it hits the ClaimsTransformationMiddleware (AutomaticAuthentication = true with Cookies scenario).

This doesn't seem ideal...

cc @blowdart

[2015-06-06 10:08] PinpointTownes commented on #282
Out of curiosity, why not keep the current API and simply providing an extension method directly returning `ClaimsPrincipal`?

Personally, I'm not a huge fan of exposing `AuthenticateContext` for the reasons pointed out by Darrel on the PR.

[2015-06-06 16:12] HaoK commented on #282
AuthenticateContext was actually already exposed in http features. Since we can only have one authenticate method that takes a single authentication scheme, it seems reasonable to have that method be the most commonly used one.

[2015-06-06 16:31] PinpointTownes commented on #282
You mean that *Microsoft.AspNet.Http.Abstractions* will now depend on *Microsoft.AspNet.Http.Features*? It seems a bit odd, no?

I'm not sure changing this API will be really useful anyway: you have no reason to use *Authenticate* with authentication middleware configured in active mode, except to retrieve the *AuthenticationProperties*, as it's far easier to use *HttpContext.User* to get the prin

[2015-06-06 16:42] HaoK commented on #282
So I get where you are coming from. This is indeed harder for people who are writing auth middleware (so you and I suffer a bit). But the vast majority of people when calling authenticate are only looking for the claims.

It's really ONLY auth middleware authors who don't want to pollute the claims identity with extra internal data that use the properties. And I think this extra burden isn't too b

[2015-06-07 07:46] PinpointTownes commented on #223
FYI, a ticket has been opened on **dotnet/corefx** by @bartonjs: https://github.com/dotnet/corefx/issues/1888

[2015-06-07 09:14] PinpointTownes commented on #282
Actually, I have never used this API in an authentication middleware (I don't even see why I'd use it), so my opinion is not that biased :smile:

I just think that this unnatural (and anti?) pattern - that consists in...
* creating a "context" object yourself...
* flowing it to a method that may alter it...
* and getting the result from the "context" object...

... shouldn't be used for a public A

[2015-06-08 15:50] Eilon commented on #179
@brockallen perhaps we missed something when we reviewed this issue. It's not that we don't want to support multiple-tabs - that's a super common scenario, obviously.

Our conclusion was this:
* With a *properly* configured auth system, the cookie will get set, and then later consumed, and go away when the authentication completes, because there are no errors.
* With an *improperly* configured aut

[2015-06-08 16:13] brockallen commented on #179
I just want to ensure that a person opening 2 tabs will be able to login to both. If one tab sets one nonce cookie and the other sets a different value in the same named cookie then one will no longer work because it was overwritten. This is ideal for both end-app, as well as frameworks (such as IdentityServer) that's built with the cookie middleware.

[2015-06-08 16:23] Tratcher commented on #179
That's what the feature we did in Katana 3.0.1 was for. Nonce's now have a unique identifier in their name, so two browser tabs can log in independently of one another. One possible side-effect is that if the user never completes the login flow in one of those tabs, you'll be left with that stale nonce cookie for an hour until it expires. There's no way for us to know if the user has closed that o

[2015-06-08 16:28] brockallen commented on #179
Ok, so just so I'm clear -- the Katana 3.0.1 behavior was rolling into ASP.NET 5's cookie MW? If so, then I'm happy.

[2015-06-08 16:59] Tratcher commented on #179
The nonce cookie was never set via cookie middleware, OIDC sets it directly. The Katana OIDC 3.0.1 behavior was rolled forward into K's OIDC 1.0.0-beta*.

[2015-06-08 17:01] brockallen commented on #179
Excellent -- then that's all I was trying to ensure. Apologies for misunderstanding the above comments then. Thanks.

[2015-06-08 17:13] blowdart commented on #284
Yea, kinda weird. Not sure where it should be ran, probably after all potential auth middlewares have ran.

[2015-06-08 18:16] leastprivilege commented on #284
That's what you get for inventing passive authentication middleware ;)

[2015-06-09 09:12] RickyLin opened #285 "the `Identity.IsAuthenticated` is still `false` after `SignIn` in Cookie Sample"
Run the cookie example and check the `IsAuthenticated` of Identity, it is still `false`.
![screen shot 2015-06-09 at 5 06 02 pm](https://cloud.githubusercontent.com/assets/1393989/8054306/3a9af020-0eca-11e5-9a04-404c6b31064a.png)

[2015-06-09 09:17] leastprivilege commented on #285
Because AuthenticationType is not set.

Sent from my iPhone

[2015-06-09 10:36] RickyLin commented on #285
@leastprivilege yes, you are right. Thank you.
It would be great if cookie example could has a comment to clarify this.

[2015-06-09 10:36] #285 closed

[2015-06-09 18:17] PinpointTownes commented on #285
@RickyLin it's definitely a bug in the sample, that doesn't set `authenticationType` when initializing the identity.

You can fix it easily:

[code]

Note that you can replace `CookieAuthenticationDefaults.AuthenticationScheme` with any other value if you want to.

[2015-06-10 21:12] TheBreadmanWalking commented on #76
bit of a noob, here. but, I'm messing with auth middleware. on googling i came to here so thought id post.

On my handler,  it is asking for AuthenticateCore as it is abstract, I already have async method, so slightly unsure what to do with it right now.  Right, now, some other things are not compiling, so i cant test but once I will let you know happens.

I expect I am doing something completely

[2015-06-10 21:55] Tratcher commented on #76
AuthenticateCore is required, AuthenticateCoreAsync is an optional overload if you need to do anything async. See https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication/AuthenticationHandler.cs#L242

[2015-06-11 22:10] Eilon commented on #223
@brentschmaltz can you try to repro this? If it's no-repro on the latest bits, close.

[2015-06-11 22:24] Eilon commented on #259
Related to https://github.com/aspnet/DataProtection/issues/85

[2015-06-11 22:28] Eilon commented on #209
@blowdart do you want to write a sample for this?

[2015-06-11 22:33] brockallen commented on #209
https://github.com/leastprivilege/BasicAuthentication.AspNet5

[2015-06-11 22:34] Eilon commented on #280
Closing this because we'll track the product work in https://github.com/aspnet/Identity/issues/457.

[2015-06-11 22:34] #280 closed

[2015-06-11 22:37] Eilon commented on #271
Yup, basically a dup of https://github.com/aspnet/Security/issues/101.

[2015-06-11 22:37] #271 closed

[2015-06-11 22:40] Eilon commented on #268
@lodejard do you have thoughts on whether it's ok to short-circuit authZ providers after one already rejected the person?

[2015-06-11 22:42] Eilon commented on #261
Let's track the error handling improvements in https://github.com/aspnet/Security/issues/55.

[2015-06-11 22:42] #261 closed

[2015-06-11 22:45] Eilon commented on #253
@rustd can you track this as part of the templates work? I think then we can close this.

[2015-06-11 22:46] Eilon commented on #251
Hi everyone, we're still unable to reproduce this. Please make sure you're matching the right dnx with the build/branch you're using.

[2015-06-11 22:46] #251 closed

[2015-06-11 22:51] Eilon commented on #226
The behavior of SignIn/SignOut itself is by design in that the last one wins, so it's deterministic.

If there's another flow we need to consider, please do log an issue with that particular scenario.

[2015-06-11 22:51] #226 closed

[2015-06-11 22:53] Eilon commented on #212
@PinpointTownes do you want to take a stab at this?

[2015-06-11 23:01] PinpointTownes commented on #212
@Eilon yup, feel free to assign me this issue :smile:

[2015-06-11 23:02] PinpointTownes commented on #223
@Eilon the ticket on dotnet/corefx has not been closed yet, so I guess it has not been fixed :smile:

[2015-06-11 23:18] Eilon commented on #212
Can't actually assign to you because you have to be in our GitHub org, but we know it's you :smile:

[2015-06-11 23:19] Eilon commented on #223
From @Tratcher and @HaoK it sounded like the issue that affects us might be fixed, but that's why we want @brentschmaltz to verify it for real.

[2015-06-12 00:20] PinpointTownes commented on #212
Actually, that's a strong sign I should be in this organization :smile:

[2015-06-12 00:53] blowdart commented on #209
@Eilon or we just link to a couple of the community implementations ...

[2015-06-12 01:07] Eilon commented on #209
Anything is fine with me :smile:

Should we link from the readme?

[2015-06-12 01:08] blowdart commented on #209
Yea sure, make it so number 2

[2015-06-12 01:09] Eilon commented on #209
Riker is vacationing on Risa, so this issue is assigned to you, @blowdart .

[2015-06-12 01:10] blowdart commented on #209
I shall deal with it during airport layovers tomorrow then. I suppose you're more of a Troi anyway

[2015-06-12 05:31] lodejard commented on #268
I'd suggest letting them run. We don't know what the user might be trying to do in them, like log denials, or even something simple like setting a breakpoint in their code. It would seem like the their condition wasn't being tripped based on the order the rules were being evaluated.

[2015-06-12 19:28] HaoK commented on #209
Ouch

[2015-06-12 22:10] rustd commented on #253
This is already tracked as template work. Closing this out.

[2015-06-12 22:10] #253 closed

[2015-06-13 17:57] PinpointTownes commented on #223
I just tried with the latest packages, and I still get the same exception.
It shouldn't be long though, the `corefx` ticket was closed a few minutes after my last message :smile:

[2015-06-14 16:53] PinpointTownes commented on #76
@Tratcher no remark concerning my last question? :smile:

[2015-06-15 04:23] GuardRex commented on #223
Can I ask if my issue is related? Using the following to access AAD ...
[code]
... works fine under 1.0.0-beta4 clr x86 but failed under 1.0.0-beta6-* coreclr x64 with ...
[code]

[2015-06-15 04:47] GuardRex commented on #223
Yes ... must be the same issue ... using `UnsafeJwtSecurityTokenHandler` bypassed signature validation.

[2015-06-15 06:40] GuardRex opened #288 "The type initializer for 'Microsoft.IdentityModel.Clients.ActiveDirectory.Authenticator' threw an exception"
In `OnAuthorizationCodeReceived`, getting a context for Graph API this way ...
[code]
works with dnx451 1.0.0-beta4 clr x86 but fails for dnxcore50 1.0.0-beta6-* coreclr x64 with
[code]
Values for ClientId, AppKey, Authority, notification.Code, and BaseAddres should be ok ... they weren't changed between the two runtimes. Dependencies are ...
[code]

[2015-06-15 11:31] PinpointTownes commented on #288
`Microsoft.IdentityModel.Clients.ActiveDirectory` is not part of ASP.NET 5 so I doubt you'll get an answer here. Instead, you should have a look at the repository managed by the Azure AD team: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/

That said, I'm pretty sure this issue is related to this other one: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/i

[2015-06-15 15:26] GuardRex commented on #288
Thanks ... I'll take it up elsewhere then.

[2015-06-15 15:26] #288 closed

[2015-06-15 16:09] Eilon commented on #223
I think @brentschmaltz is planning to take a look at this today.

[2015-06-15 16:09] Eilon commented on #209
Not possible. My empathy for you is... not there :smile:

[2015-06-15 18:51] Tratcher commented on #76
We don't want to have Wait's hidden in the server code, we want them to be a conscious choice at the middleware layer.

[2015-06-15 19:01] PinpointTownes commented on #76
Like that? :smile:

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/KestrelEngine.cs#L102
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/FrameResponseStream.cs#L63
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/Listener.cs#L112

[2015-06-15 19:02] Tratcher commented on #76
Citing kestrel code isn't going to help your argument, we already know it's broken :-).

[2015-06-15 19:07] PinpointTownes commented on #76
Well, I don't have access to aspnet/WebListener or aspnet/Helios, so... :smile:

The best argument I have is that currently, everybody is paying the price of a `Wait()` call when having an authentication middleware in an ASP.NET 5 app, even the ones who use `WriteAsync`. With this change, only the ones using the synchronous `Write` would pay for that. And ideally, everybody should be encouraged to

[2015-06-16 19:15] PinpointTownes commented on #212
I got two questions concerning the general design we should adopt for this PR:
* Should the nonce cache be used by default? Currently, there's absolutely no `INonceCache` implementation offered by the OIDC package, which means that it's turned off by default. Should we change that?

* Where should the distributed cache be retrieved from?
  * Directly from the DI container: in this case, it will ne

[2015-06-16 19:34] Tratcher commented on #212
This needs to be under developer control. I don't think the presence or absence of an IDistributedCache in DI is sufficient to turn this on or off since the cache may be used for other components as well. Maybe just a bool that toggles nonce cache vs nonce cookies? I would still default to cookies, as cache requires dependencies and setup.

Check how we use IDistributedCache in Session. It may not

[2015-06-16 20:02] PinpointTownes commented on #212
Yup, that's what I had in mind.

True. But on the other hand, storing nonces in a server-side cache is definitely safer, as "nonce cookies" cannot really protect your app against replay attacks.

Am I allowed to submit a prototype using sessions instead of directly using a distributed cache?

[2015-06-16 20:58] Tratcher commented on #212
Stay away from session.  Using the memory cache implementation of IDistributedCache (LocalCache) should be adequate for development.

[2015-06-18 15:11] lomithrani commented on #43
Is there any alternative to authentify using wsfederation or salm2 meanwhile ?

[2015-06-19 01:16] kspearrin opened #290 "Customize AuthorizeAttribute"
I want to customize the AuthorizeAttribute a bit to add another property that is checked. I am using Identity. In MVC5 I would just inherit the `AuthorizeAttribute` and override `AuthorizeCore` returning `true`/`false` after checking the property. Example:

    public class AuthorizeUserAttribute : AuthorizeAttribute
    {
        public bool Foo { get; set; }

        protected override bool Auth

[2015-06-19 01:21] HaoK commented on #290
Authorization is now policy based, so you would register a policy and tweak that to do the appropriate auth checks that you want...

https://github.com/aspnet/Security/blob/dev/test/Microsoft.AspNet.Authorization.Test/DefaultAuthorizationServiceTests.cs#L63

[2015-06-19 03:42] kspearrin commented on #290
Got it. Thanks.

[2015-06-19 03:42] #290 closed

[2015-06-22 10:00] YZahringer opened #292 "AuthorizeAttribute return 404 Not Found instead of 401 Unauthorized"
Hello,

When anonymous request on action with AuthorizeAttribute, it's return 404 Not Found.

It should return 401 Unauthorized? How to change the current behavior to return 401?

Best regards,
Yann

[2015-06-22 16:34] PinpointTownes opened #294 "Remove AuthenticationTokenProvider and AuthenticationToken*Context"
`IAuthenticationTokenProvider`, `AuthenticationTokenProvider`, `AuthenticationTokenCreateContext` and `AuthenticationTokenReceiveContext` are not used in ASP.NET 5 since @brentschmaltz removed `AccessTokenProvider` from the OAuth2 bearer middleware.

I personally stopped using this stuff in `AspNet.Security.OpenIdConnect.Server` when @brentschmaltz removed `DeserializeTicket` from `AuthenticationT

[2015-06-22 16:45] PinpointTownes opened #295 "Support POST OpenID Connect authentication requests"
Supporting POST authentication/authorization requests is not mandatory for clients, but would be a nice addition to support heavy OIDC payloads.

http://openid.net/specs/openid-connect-core-1_0.html

Implementing this thing will require much carefulness to make sure we don't create deadlocks on critical async/sync paths (@Tratcher already knows everything about this issue, but you can take a look

[2015-06-22 17:10] #209 closed

[2015-06-22 22:59] Tratcher commented on #295
Right now we use redirects to send the client over to the auth server (as a GET). What would we send to the client that would result in them doing a POST?

[2015-06-22 23:29] PinpointTownes commented on #295
An auto-post HTML form pointing to the authorization endpoint, similar to the one an OIDC server returns for a **response_mode=form_post** response.

[2015-06-22 23:34] Tratcher commented on #295
Ah, yes that's a challenge.  This might be easier with @HaoK's new prototypes where Challenge takes effect immediately rather than during OnResponseStarted, it could write the body directly. This would definitely have to be opt-in though.

[2015-06-23 17:27] muratg commented on #284
@HaoK is there a big impact? Backlog OK?

[2015-06-23 17:29] HaoK commented on #284
It's probably ok as backlog yes

[2015-06-23 17:47] muratg commented on #270
@HaoK Could you have a look?  We can move it out of Beta 6 based on your workload.

[2015-06-23 17:59] muratg commented on #263
Who'll do this? @HaoK or @Tratcher?

[2015-06-23 18:00] HaoK commented on #263
I don't have much context to this one, perhaps this one would be better for @Tratcher

[2015-06-23 18:15] leastprivilege opened #297 "[AuthZ] Middle ground between Requirement and Resource Handler"
I like the resource handler. well done.

I am not much of a fan of the plain requirements since it encourages you to source the authZ data solely from the claims (CanUpdateTableB and other "funny" stuff).

Requirements would be much more useful if they would support DI - so we could inject our IPermissionRepository into it.

@blowdart  liked the idea and told me to open an issue.

[2015-06-23 23:43] HaoK opened #298 "[AuthN] Revisit bool return for AuthHandler"
Bit of smell today with Invoke/HandleXyz returning bool as a way to signal whether to call the prior handler/chain.  Perhaps switch to contexts?

[2015-06-23 23:45] HaoK opened #299 "[AuthN] Revisit base AuthHandler behavior"
Should SignIn/SignOut/HandleForbidden/Unauthorized all throw  NotSupportedException by default or be pure abstract instead of no-op?

Facebook/OAuth/Bearer will typically never support SignOut/Forbidden etc.

[2015-06-24 14:11] Tratcher commented on #299
Provider | Authenticate | Unauthorized | Forbidden | SignOut | SignIn
---------- | ---------------- | ----------------- | ------------- | ---------- | --------
Cookie | x | x | x | x | x
Bearer | x | x | x |  |
Windows | x | x | x |  |
ODIC | (callback only) | x |  | x |
OAuth | (callback only) | x |  |  |

[2015-06-24 17:51] muratg commented on #230
Does this need to change in Beta 6?

[2015-06-24 18:02] HaoK commented on #230
It shouldn't be an issue after my changes go in

[2015-06-24 18:31] muratg commented on #230
:+1: feel free to close this one after. :)

[2015-06-24 21:34] HaoK opened #300 "[AuthZ] Review authorize filter behavior again"
So with the new PR going in, there's no way for AuthorizeFilter to end up with a 403 unless it either asks for an scheme explicitly, or relies on an automatic one being populated (i.e. cookie).

Perhaps this ok, but we should review just to be certain @blowdart

[2015-06-24 22:22] blowdart commented on #300
We came to the conclusion that the filter must demand an identity, and wasn't suitable for non-identity based decisions.

So if there's no identity then 401 is suitable.

If there is one (either automatic, or we've asked for, say, bearer), and it fails then it's 403. So this feels ok, but we should probably sit down and go through all the routes in and out.

[2015-06-24 22:24] HaoK commented on #300
Yep that's how its implemented today.  The issue is for the a policy that doesn't demand any particular schemes, it relies on the HttpContext.User.  If there was no automatic cookie middleware, you never get a 403, you just get a 401 always...

[2015-06-24 22:24] HaoK commented on #300
But if you think this behavior makes sense, I can just close this bug out...  and I guess add a test to verify the current wonkiness we have :)

[2015-06-24 22:25] blowdart commented on #300
Which makes sense, as there's no identity on the thread to evaluate, so 401 go away and come back with an identity.

@PinpointTownes / @leastprivilege / @lodejard for opinions :)

[2015-06-24 22:28] HaoK commented on #300
I think I'm just failing to articulate the wonkiness well if you think this makes sense :)

[2015-06-24 22:29] HaoK commented on #300
Basically if policy.ActiveAuthenticationScheme is not set, we rely on there being an automatic authentication setup to ever get a 403.  Its basically impossible for it to ever return a 403 otherwise

[2015-06-24 22:29] blowdart commented on #300
Yea, you seem hesitant here :) Shall we sit down in person tomorrow?

[2015-06-24 22:29] HaoK commented on #300
The normal case with a cookie middleware in automatic mode works great...  As soon as you remove that, things get weird...

[2015-06-24 22:30] blowdart commented on #300
Well don't do that then :)

More seriously, you think if someone wired up multiple auths, but none automatic a 401 would be hard to debug?

[2015-06-24 22:35] HaoK commented on #300
Well, so the test that is weird is you have a policy that fails because a claim is missing, you don't get a 403 saying you don't have permission, you get a 401.  There's a user, with claims set, just not the one requested...and you get a 401

[2015-06-24 22:36] blowdart commented on #300
Oh I didn't get that from the initial issue wording at all. Ok, that's definitely wrong IMO

[2015-06-24 22:38] HaoK commented on #300
Again, this is only if there's no automatic authentication setup(like cookies), because that handler is the guy who will kick the 403 on the naked Challenge()...

[2015-06-24 22:38] HaoK commented on #300
So there's an edge case where you fall into the pit of doom

[2015-06-24 22:41] PinpointTownes commented on #300
Ahahahahaha, that's what you get for mixing authorization and authentication :smile:

[2015-06-24 23:37] HaoK commented on #268
Ok leaving this behavior unchanged for now

[2015-06-24 23:37] #268 closed

[2015-06-24 23:37] HaoK commented on #265
https://github.com/aspnet/Security/pull/283

[2015-06-24 23:37] #265 closed

[2015-06-24 23:37] HaoK commented on #273
https://github.com/aspnet/Security/pull/283

[2015-06-24 23:37] #273 closed

[2015-06-24 23:38] HaoK commented on #282
https://github.com/aspnet/Security/pull/283

[2015-06-24 23:38] #282 closed

[2015-06-24 23:38] HaoK commented on #235
https://github.com/aspnet/Security/pull/283

[2015-06-24 23:38] #235 closed

[2015-06-24 23:38] HaoK commented on #228
https://github.com/aspnet/Security/pull/283

[2015-06-24 23:38] #228 closed

[2015-06-24 23:39] HaoK commented on #86
All async now, please reopen if there's any more issues once this PR https://github.com/aspnet/Security/pull/283 is in

[2015-06-24 23:39] #86 closed

[2015-06-24 23:40] HaoK commented on #230
Fixed as part of https://github.com/aspnet/Security/pull/283

ShouldHandle consolidates all the checks

[2015-06-24 23:40] #230 closed

[2015-06-25 17:37] muratg commented on #193
@HaoK should this be renamed, or his this one good to close?

[2015-06-25 18:53] Tratcher opened #302 "[OAuth] Move GenerateCorrelationId and ValidateCorrelationId from base class"
GenerateCorrelationId and ValidateCorrelationId were put in the AuthenticationHandler base class back when Facebook, Google, etc directly derived from it. Then we created the OAuthAuthenticationHandler base class for all the providers to derive from. The OAuth base class is now the only caller of these methods.

Proposal: Move these methods from AuthenticationHandler to OAuthAuthenticationHandler.

[2015-06-25 21:55] HaoK commented on #302
I can do this as part of my current PR if you want

[2015-06-25 22:02] Tratcher commented on #302
No, it's a trap

[2015-06-25 22:25] Eilon commented on #294
If these types are truly unused, please go ahead and send us a PR. Thanks!

[2015-06-25 22:28] Eilon commented on #292
@YZahringer can you send some more info on this? One common case is that after authorization fails that the redirect then point to a page that doesn't exist, and that returns a 404. Can you check the `LoginPath` property of the cookie options?

[2015-06-25 22:31] Eilon commented on #163
We'll have to do API reviews and take some of this into account.

[2015-06-25 22:40] Eilon commented on #101
@HaoK please work with @PinpointTownes on his PR so we can try to get it in by end of next week.

[2015-06-25 22:43] Eilon commented on #100
We're not planning to do any further work to do here because all the antiforgery features are now in a reusable component located here: https://github.com/aspnet/AntiForgery

It would still be up to a developer to hook this up themselves, but we do have all the right utilities to make it fairly easy to implement.

[2015-06-25 22:43] #100 closed

[2015-06-25 22:47] #94 closed

[2015-06-25 22:50] Eilon commented on #58
We think the type is now available on Core CLR, so we should be able to do this now.

[2015-06-25 22:51] #57 closed

[2015-06-26 02:29] HaoK commented on #193
I called it IAuthorizeData for now

[2015-06-26 02:29] #193 closed

[2015-06-26 02:41] HaoK commented on #302
19d026268b80ad7a2299c4366fbc717e6b7bd9eb

[2015-06-26 02:41] #302 closed

[2015-06-26 02:46] HaoK commented on #294
I went ahead and deleted the 4 files rather than wait for a PR, since its a trivial change, and @PinpointTownes will be busy rebasing all of his prs anyways...

[2015-06-26 02:47] HaoK commented on #294
6ae37717e819b047b10421e997e9704601d9fbd9

[2015-06-26 02:47] #294 closed

[2015-06-26 07:43] PinpointTownes commented on #294
@HaoK ah ah, thanks :smile:

[2015-06-26 08:29] YZahringer commented on #292
Hello,

Thank you, LoginPath of cookie options contains "/Account/Login" by default. When set PathString.Empty, it returns 401 unauthorized.

Best regards,
Yann

[2015-06-26 08:29] #292 closed

[2015-06-26 17:21] HaoK commented on #266
Not going to happen for beta 6

[2015-06-26 19:54] HaoK opened #305 "[AuthN] app.Map + challenge redirects = busto"
Repro:

                app =>
                {
                    app.UseFacebookAuthentication();
                    app.Map("/login", signoutApp => signoutApp.Run(context => context.Authentication.ChallengeAsync("Facebook", new AuthenticationProperties() { RedirectUri = "/" })));
                },

Old behavior (with challenge on teardown) was that the challenge url would be

            "e

[2015-06-26 22:45] HaoK commented on #305
Fixed by https://github.com/aspnet/Security/pull/306

[2015-06-26 22:45] #305 closed

[2015-06-29 16:34] muratg commented on #212
Thanks @PinpointTownes for the PR!  @HaoK, @Tratcher can one of you guys merge in Beta 6?

[2015-06-29 16:35] marcosph commented on #248
I'm doing some test with MVC 6 ("Microsoft.AspNet.Mvc": "6.0.0-beta4").
I made a Roles Manager (CRUD), however, when I remove a related roles with a User, it is still accessing the Controller, which in this case has [Authorize (Roles = "Admin")].

[2015-06-29 16:40] #212 closed

[2015-06-29 17:23] brentschmaltz opened #307 "Remove default tasks for OIDC notifications, perform null check before any work."
The constructor sets no-op notifications.
[code]
This results in the handler doing a bunch of work for nothing. Wrap the whole thing in:
`if (... != null ) { do work }`
instead of:
[code]

[2015-06-29 17:29] blowdart commented on #248
@marcosph  - this is a long closed issue. Unless you are seeing something related to the original issue (and it doesn't appear you are) you would be better served opening a new issue and actually providing some of your code to help us diagnose the problem

[2015-06-29 18:12] PinpointTownes commented on #307
Hum, I'm not sure about this change: is the perf gain worth it, compared to the noise it will add to the code?

If we decide to bring back an `IOpenIdConnectAuthenticationNotifications` interface with good old methods, you won't have to care about null delegates in the handler.

[2015-06-29 18:28] HaoK commented on #240
Test cleanup todo, moving out

[2015-06-29 18:42] HaoK commented on #299
This is mostly just cleanup tidying up the base implementation, not urgent, bumping to beta 7

[2015-06-29 18:49] HaoK commented on #46
Don't think we'll have time to finish the full rationalization/cleanup, pinpoints PR needs to go in first which should happen this week.  Bumping to beta7

[2015-06-29 19:17] HaoK opened #309 "[Cookies/Identity] ValidateIdentity => SignIn => ValidateIdentity infinite loop"
Looks like the new design of immediate sign in breaks the old way that identity checking the security stamp.  It was registering a Identity validator, and then calling sign in with the new identity.  SignIn is applied immediately now so this triggers an infinite loop...weee

@Tratcher

[2015-06-29 21:17] brentschmaltz commented on #307
What does IOpenIdConnectAuthenticationNotifications change look like?

[2015-06-29 21:18] PinpointTownes commented on #307
Exactly like the OAuth2 client middleware: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OAuth/Notifications/IOAuthAuthenticationNotifications.cs

[2015-06-29 21:20] brentschmaltz commented on #307
What is the reason for it?
How does it address this performance issue?

[2015-06-29 21:26] brentschmaltz commented on #307
@Tratcher you added a 'need-design' tag. Does that indicate some type of deliverable? If so what does it look like?

[2015-06-29 21:27] PinpointTownes commented on #307
I never said it was supposed to address a performance issue :smile:

It will only be changed for consistency: https://github.com/aspnet/Security/pull/257#issuecomment-115818763

[2015-06-29 21:32] brentschmaltz commented on #307
@PinpointTownes on the performance issue, I want to be able to determine if a notification was set by the user.
Will that change will require a specific interface for each middleware?

[2015-06-29 21:37] PinpointTownes commented on #307
Cookies, OAuth2 and Twitter already have their own interface:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Cookies/Notifications/ICookieAuthenticationNotifications.cs
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OAuth/Notifications/IOAuthAuthenticationNotifications.cs
https://github.com/aspnet/Security/blob/dev/src/Microsoft.Asp

[2015-06-29 21:51] brentschmaltz commented on #307
Yes each having it's own interface was something we tried to avoid when we introduced WsFed and OIDC into Katana.

Either way, I would not set a default no-op.

[2015-06-29 23:30] Tratcher commented on #307
`needs-design` means that there are open questions to answer before coding.

[2015-06-30 19:09] HaoK commented on #270
d7ce42dacc226c74056a6c0883f9b3e2be7828d7

[2015-06-30 19:09] #270 closed

[2015-06-30 22:52] HaoK opened #313 "[OIDC] Investigate Music store failure with SignOut"
Something regressed with OIDC sign out, we are seeing a redirect to "/" instead of the session end from the music store test

[2015-07-01 05:14] brentschmaltz opened #314 "AuthenticationOptions.AuthenticationScheme and SigninScheme"
What is the correct way to think about these two properties?
Why would I use one over the other?

[2015-07-01 15:33] Tratcher commented on #314
AuthenticationScheme is the identifier of the current auth middleware. SigninScheme matches the AuthenticationScheme of a down-stream middleware. When the current middleware produces an identity, it calls SignInAsync(claimsPrincipal, SignInScheme).

In all current examples SignInScheme is set to match the AuthenticationScheme of the cookie auth middleware.

[2015-07-01 19:53] brentschmaltz commented on #307
@Eilon @davidfowl
this issue is blocking our Code Flow check in that is very important.
Can you help me out with a ruling here.
Thanks.

[2015-07-01 20:10] PinpointTownes commented on #307
I'm not sure to understand how this thing can be blocking for the code flow support.

[2015-07-01 20:42] brentschmaltz commented on #307
@PinpointTownes there is another PR to follow.

[2015-07-01 20:45] PinpointTownes commented on #307
That doesn't tell me why not being able to have `null` notifications is blocking for code flow :scream:

[2015-07-01 20:48] brentschmaltz opened #317 "Possible Race condition in when checking nonce cache"
The nonce checking is in two parts:
It is possible that multiple GetAsnyc occur before the Set.

[code]

[2015-07-01 20:52] brentschmaltz opened #318 "OIDC expiration time when adding nonce may not accuratly reflect the validity of the nonce"
The following code seems to assume the message.Nonce should be equal to NonceLifetime.
This may not always be true.
1. The nonce may not have a prefix of a time
2. The NonceLifetime while usually is the same as the nonce prefix, is not guaranteed.

await Options.NonceCache.SetAsync(message.Nonce, new byte[0], new DistributedCacheEntryOptions
 {
     AbsoluteExpirationRelativeToNow = Options.Protoc

[2015-07-01 20:53] brentschmaltz opened #319 "INonceCache has been replace but the file still exists."
The file should be removed.

[2015-07-01 20:55] brentschmaltz opened #320 "There are no tests for IDistributedCache added to OpenIdConnectAuthentication"
There should be a set of tests to ensure the product functions correctly.

[2015-07-01 20:58] brentschmaltz opened #321 "Nonce caching should not require two properties on OpenIdConnectAuthenticationOptions: CacheNonces and NonceCache"
By default NonceCache is null.
It seems reasonable to me if the user set it that should be an indication to use it.

[2015-07-01 21:03] brentschmaltz opened #322 "ClaimsPrincipal.Current does not return the ClaimsPrincipal of the caller."
In previous runtimes ClaimsPrincipal.Current returned the ClaimsPrincipal that was created by the authentication layer. This provided a consistent programming model.

[2015-07-01 21:05] brentschmaltz opened #323 "The ClaimsPrincipal created by the Authentication Layer is not preserved as created to the Application Layer."
The ClaimsPrincipal that is created by an Authentication Middleware is not preserved as created. Users who are developing using CustomPrincipals will loose any context.

[2015-07-01 21:05] PinpointTownes commented on #319
@brentschmaltz erf, that's my fault ; nice catch! :smile:

@HaoK do you want me to send a PR to fix that or is this something you can remove in a commit?

[2015-07-01 21:05] Tratcher commented on #321
The CacheNonces bool is also used in the constructor to request the cache from DI:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectAuthenticationMiddleware.cs#L132

[2015-07-01 21:07] brentschmaltz opened #324 "CookieMiddleware serialization of the ClaimsPrincipal is lossy."
The AuthenticationTicket serialization is lossy. Not all of the ClaimsIdentities and Claims properties are serialized.

[2015-07-01 21:08] PinpointTownes commented on #317
This is not new: the same race condition could occur with `INonceCache`.
And AFAIK, there's no way to prevent it, specially in a distributed environment.

[2015-07-01 21:10] brentschmaltz commented on #307
More correctly, blocking to get in the beta6 release.

[2015-07-01 21:12] brentschmaltz commented on #314
That describes the mechanics, thanks.
Why is the design as such? Is there a different middleware that will preform the signin?

[2015-07-01 21:18] PinpointTownes commented on #324
This issue is not specific to cookies and affects everything using `TicketSerializer`.
+1 for `Claim.Properties`, I had to create my own serializer to fix that.

Anyway, these issues will likely disappear when migrating to your new `WriteTo` gem: https://github.com/aspnet/Security/issues/158
That said, I guess this change will have to wait until .NET 4.6 is supported by dnx.

[2015-07-01 21:20] Tratcher commented on #314
Other middleware could implement signin, but so far only the cookie auth middleware has.

[2015-07-01 21:21] HaoK commented on #319
Don't worry about it, I can nuke it in one of my check ins, not a big deal

[2015-07-01 21:22] PinpointTownes commented on #318
/cc @Tratcher, as he suggested to use ``Options.ProtocolValidator.NonceLifetime`: https://github.com/aspnet/Security/pull/293#discussion_r33092864

That said, I'm not sure to understand why a nonce should live longer than its expiration date.

[2015-07-01 21:23] PinpointTownes commented on #322
/cc @davidfowl, as we chatted about this specific feature on JabbR.

[2015-07-01 21:23] HaoK opened #325 "[Cookies] Reject/throw null principal authentication tickets"
Also make serializer throw if principal is null instead

[2015-07-01 21:43] PinpointTownes commented on #319
@HaoK thanks!

https://github.com/aspnet/Security/commit/6e67b1c9b1354a565afe55a52ddb99bffdd99b0d

[2015-07-01 21:53] #319 closed

[2015-07-01 22:02] brentschmaltz commented on #314
So the act of creating an authenticationticket is only a hint that the ticket should be used to be signed in.
What is the criteria / flow required for a successful signin (User.Authenticate == true) once an AuthenticationHandler has produced an AuthenticationTicket?

[2015-07-01 22:06] brentschmaltz commented on #324
A possible solution is for the runtime could flow the AuthenticationTicket in it's entirety,  rather than chop it up and flow parts then rehydrate them. The claimstransformation point could take action on all of the tickets that are available.

[2015-07-01 22:10] brentschmaltz commented on #321
This is different than the pattern for IDataFormatter.  Could we have a default NonceCache that uses cookies, have users override as they do with the formatter.

[2015-07-01 22:12] HaoK commented on #101
Merged 9bb8b6114697f14a42e747acd1d1a41e6eed5af1

[2015-07-01 22:12] #101 closed

[2015-07-01 22:13] brentschmaltz commented on #318
ProtocolValidator.NonceLifetime is not guaranteed to == epoch time on the nonce.
Also, the nonce need not have a prefix that is a Epoch time.

That said I grappled with this concept over ReplayTokenCache and came to the conclusion that unless a token had an expiration there was no way we could guarantee detecting replays unless we were able to hang onto all tokens.

[2015-07-01 22:16] brentschmaltz commented on #317
With a single atomic call, you can guarantee that only one will succeed. Which is why I originally designed it with a single sync call.
That is how distributed databases work. From the runtimes POV, there is no difference between the first and subsequent calls. Important thing is only on will succeed.

[2015-07-01 22:46] PinpointTownes commented on #317
`INonceCache` had no default implementation, so it's very theoretical :smile:
And even if you have only one method, you can't guarantee that the implementer designed it to be really atomic.

I wouldn't be that general: it depends on whether the database supports ACID transactions and on the specific isolation level you choose. To support atomic transactions, I guess aspnet/Caching would have to be

[2015-07-01 22:48] Tratcher commented on #314
It's up to the middleware to decide if it should call SignIn. Most look like this: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectAuthenticationHandler.cs#L605

[2015-07-01 22:51] Tratcher commented on #321
IDataFormatter? Do you mean ISecureDataFormat?

[2015-07-01 22:54] Tratcher commented on #318
Well we clearly can't hold onto all the tokens. Is NonceLifetime a reasonable default timeout even for nonce's that don't have an embedded expiration?

[2015-07-02 03:16] brentschmaltz opened #327 "Add additional Notification: AuthenticationComplete"
This would be fired just before returning from AuthenticateAsync and would be symmetric to OnMessageReceived. It would take the AuthenticationTicket that was produced.

[2015-07-02 03:41] Tratcher commented on #327
Something like this?
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Twitter/TwitterAuthenticationHandler.cs#L172

[2015-07-02 04:47] Eilon commented on #307
So why is this blocking? Both patterns can work... it's just a matter of a null check, no?

[2015-07-02 04:54] HaoK commented on #309
b9f152ebb1c37845a89889ab7ae80a1395a40455

[2015-07-02 04:54] #309 closed

[2015-07-02 05:49] leastprivilege commented on #324
Why would you want to serialize the properties? The claims classes are already way to complicated and should be really onyl name/value pairs

[2015-07-02 05:55] PinpointTownes commented on #324
I could find 10 examples to legitimate serializing `Claim.Properties` but I can't find a reason not to do that.

[2015-07-02 06:08] leastprivilege commented on #324
That makes it clearer.

[2015-07-02 06:15] PinpointTownes commented on #324
You want a concrete example? Okay, here's one: In `AspNet.Security.OpenIdConnect.Server`, I use `Claim.Properties` to store a marker indicating whether a claim should be included in the identity token, in the access token or in both.

[2015-07-02 06:19] PinpointTownes commented on #324
And BTW, the same remarks applies to `ClaimsIdentity.Actor`, which is currently not serialized.

[2015-07-02 06:23] leastprivilege commented on #324
Fair enough - If someone (sensible) would re-create the Claims / CI / CP classes today most of these things would probably not exist. They were included back then to accommodate some of the WS*/SAML features they needed.

I am not saying the none of them are useful - but the classes are bloated and I am not sure that full fidelity in round-tripping them makes sense.

Same goes for custom principal

[2015-07-02 06:42] PinpointTownes commented on #324
Are you saying that the guys who introduced claims support in .NET were/are not sensible? :smile:
I don't always agree with @brentschmaltz but I'm convinced that this claims stuff is the right mix between easiness, completeness and extensibility. There are definitely things that don't make sense as claims and are good candidates for `Claim.Properties`.

Even the `ClaimTypes` class you hate (and I

[2015-07-02 06:51] leastprivilege commented on #323
Custom principals should not be supported. Identities are made up of a collection of claims - and nothing else. Any OOP sugar you want to add to it should be done at the application level - not the framework level.

[2015-07-02 06:55] leastprivilege commented on #324
I am not opposed to serializing claims properties - I was mainly curious why you want to do it. I would be opposed to guarantee full fidelity round tripping of the CLR types. As I said they are already bloated.

btw - I don't hate the ClaimTypes class - just the fact the libraries think everything should be mapped to it by default. ;)

[2015-07-02 16:16] brentschmaltz commented on #327
@Tratcher It is not clear what you are suggesting.
Line 172 is: var model = await AuthenticateAsync();

[2015-07-02 16:33] brentschmaltz commented on #324
@leastprivilege @PinpointTownes There is some truth to the statement: "They were included back then to accommodate some of the WS*/SAML features they needed." At that time all of this was new. Brock Allen and others convinced us to remove mapping to long ClaimTypes in Wilson (S.IM.Tokens.Jwt, renamed to M.IM.Tokens.Jwt) by default.

https://github.com/AzureAD/azure-activedirectory-identitymodel-ex

[2015-07-02 16:44] brentschmaltz commented on #323
@leastprivilege Some users have made use of custom principals, I am curious as to why you think CustomPrincipals are not important.

I am bringing up for discussion that after an AuthenticationHandler has created a CP and returned an AuthenticationTicket, the runtime breaks apart the AuthenticationTicket and merges the contents of the CP into a new CP, sometimes dropping things.

Assuming the Auth

[2015-07-02 16:45] brentschmaltz commented on #321
Yes, ISecureDataFormat.

[2015-07-02 16:49] brentschmaltz commented on #318
I debated this for long periods with many people and came to the conclusion that if a user want to have a 'replay' type cache, the items in the cache need to have an expiration associated with them.
This led to the runtime behavior with .Net: If you specify "Detect Token Replay" and a token arrives without a expiration time, .Net faults.

Otherwise, you are making a false promise.

[2015-07-02 16:51] brentschmaltz commented on #317
@PinpointTownes the point is the design allowed for a ACID implementation. I don't think a two step async model can.

[2015-07-02 16:54] brentschmaltz commented on #314
Ok, so it's possible for an AuthenticationMiddleware to create a ticket, but not signin. What happens with the ticket?

[2015-07-02 17:21] brentschmaltz opened #328 "Why does AuthenticationHandler.ChallengeAsync call AuthenticateAsync()?"
I noticed that if I make the code:
await context.Authentication.ChallengeAsync(OpenIdConnectAuthenticationDefaults.AuthenticationScheme, new AuthenticationProperties { RedirectUri = "/" })
AuthenticationHandler.AuthenticateAsync() is called if context.Behavior ==ChallengeBehavior.Automatic.
If a ticket is returned, then the runtime calls  HandleForbiddenAsync().

How should I be thinking about thi

[2015-07-02 17:22] PinpointTownes commented on #323
Personally, I've always considered that creating extension methods around `ClaimsPrincipal`/`ClaimsIdentity` was easier and more flexible when everything they were doing was formatting a specific claim value (e.g `GetUserId()`, `GetAccessToken()`), but this is a fact we can't deny: a non-negligible number of users WANT to create their custom `ClaimsPrincipal` (the question has been asked many time

[2015-07-02 17:23] brentschmaltz opened #329 "Why was virtual removed from AuthenticationHandler.ShouldHandleScheme."
It caught me by surprise writing tests.

[2015-07-02 18:18] brentschmaltz opened #330 "CookieMiddleware serialization of AuthenticationTicket should be Version neutral"
The current design for deserializing an AuthenticationTicket is fixed for a particular version.
This will impact users when updating servers.

Servers updates are sometimes performed in stages resulting in heterogeneous environments. Some servers will now start to fail to handle the tickets.

Users that have a valid application session will experience some type of failure (depends on the app). For

[2015-07-02 18:30] brentschmaltz commented on #325
Can you be more specific on what you are proposing?
Thanks.

[2015-07-02 20:11] leastprivilege commented on #323
@brentschmaltz I am not saying ClaimsPrincipal is not important - but in my mind the (claims) principal is simply a container for claims (plus some metadata like properties if need be ;)) and thats what should be serialized / round tripped - not type information. Anything else can be built on top of that.

One of the design goals behind claims principal was to create the "one principal to rule the

[2015-07-02 20:34] HaoK commented on #323
@lodejard and @blowdart should probably chime in on this one too.

My thinking has pretty much been along the lines of @leastprivilege where the authentication handler contract is primarily the collection of claims identities being provided (with the principal really just being a container), with no guarantees on anything else.  I don't think instance/type preservation is worth the complexity sinc

[2015-07-02 20:52] tushargupta51 opened #331 "Integrated logs for aspnet and wilson"
`Microsoft.Aspnet.Authentication.OpenIdConnect` uses `ILogger` to log events whereas Wilson uses `EventSource` based logging. Currently, there is no easy way for a user using OIDC to get an integrated log from both aspnet and wilson (OIDC takes a hard dependency on Wilson). They have to configure both the loggers separately and it is very difficult to debug using the separated logs.

[2015-07-02 20:55] leastprivilege commented on #331
Oh really - why is that? Must be an artifact from the Katana version.

[2015-07-02 21:14] PinpointTownes commented on #331
@leastprivilege `ILogger` is part of the new logging block and has nothing to do with Katana: https://github.com/aspnet/Logging :smile:

[2015-07-02 21:16] leastprivilege commented on #331
Oh really? ;) So who is using EventSource then - and why?

[2015-07-02 21:18] PinpointTownes commented on #331
`EventSource` is used by Wilson for its internal logging.

Why? I dunno: https://github.com/aspnet/Security/pull/258#discussion_r30331835

[2015-07-02 21:27] brockallen commented on #323
Isn't this what claims transformation should do? In short, it should be kept simple.

[2015-07-02 21:58] blowdart commented on #323
My chime is that custom principles is so much work for an edge case that no-one can actually give me numbers on. I don't know if it's .01% of users or 1% and frankly, even at 1% I'm not sure I care, when extensions are cleaner and easier to maintain and more in the asp.net way of doing things.

[2015-07-02 22:04] damianh commented on #323
Composition > Inheritance trumps just about every time.

:-1: from me on the concept of `CustomPrincipals`

(current status: unwinding an ICompanyPrincipal in an app.)

[2015-07-03 03:25] brentschmaltz commented on #331
Because ILogger is not available for some of the customers of Wilson.

[2015-07-03 07:55] leastprivilege commented on #323
+1 for @brockallen , @blowdart and @damianh

[2015-07-03 07:57] leastprivilege commented on #324
As per our other thread (custom principals) - I advise against doing that. Serializing a DTO that represents a claims principal is fine. serializing a custom principal implementation has not benefit IMO and adds unneeded complexity.

[2015-07-03 08:30] PinpointTownes commented on #324
@brentschmaltz ahah, true :smile:

@leastprivilege I'm not sure this ticket is about serializing custom principals.

@brentschmaltz except `ClaimsIdentity.Actor` and `Claim.Properties`, do you see any other property that is not currently serialized?

[2015-07-03 08:34] davidfowl commented on #324
@leastprivilege +1 to that.

[2015-07-03 08:47] PinpointTownes commented on #323
Except that currently, if you set a custom principal from one of the notifications we offer or if you return a custom principal from an authentication handler (from the claims transformation middleware for instance), it MAY silently disappear in the middle of the pipeline (mainly because of `SecurityHelper.MergeUserPrincipal`, but it's not the only culprit: the authorization layer will also replac

[2015-07-03 08:49] PinpointTownes commented on #324
There's a difference between guaranteeing `full fidelity round tripping of the CLR types` and `loosing critical properties during serialization/deserialization`, which is currently the case.

[2015-07-03 08:52] PinpointTownes commented on #331
Then it might be a good idea to list those targets and add them to aspnet/Logger.

/cc @Eilon

[2015-07-03 16:34] brentschmaltz commented on #324
Round tripping of CLR types is possible but not necessary by default. Will require custom coding.
Full fidelity of the contents of a ClaimsIdentity should be the default.

[2015-07-03 18:17] brentschmaltz commented on #323
Couple of things we should probably consider.

1. Do we want to support IsInRole and Integrated Windows Auth?
IsInRole is interesting because of the dynamic nature of determining if a user is in a 'role'. Currently, .Net RolePrincipal uses a RoleProvder to help resolve the IsInRole question.

Plain-Jane, ClaimsPrincipal queries each ClaimsIdentity for a 'roleClaim' match.
Not all IsInRole queries

[2015-07-04 13:12] blowdart commented on #323
Leave Windows Auth alone. It stays as is.

It's too late to start trying to entirely rearchitect something that is part of CoreCLR anyway.

[2015-07-04 21:58] HaoK commented on #182
Dupe of https://github.com/aspnet/Security/issues/240

[2015-07-04 21:58] #182 closed

[2015-07-04 23:02] PinpointTownes commented on #223
Issue fixed :sunglasses:

[2015-07-05 01:12] GuardRex commented on #223
I'm still getting this with
[code]
Is this a fix that just went in such that I just need to wait on the next build for MyGet?

[2015-07-05 01:15] PinpointTownes commented on #223
You need the latest `System.Security.Cryptography.RSA` package (`4.0.0-beta-23029` works fine on my machine). Also, make sure you have the latest DNX CoreCLR version.

[2015-07-05 02:26] GuardRex commented on #223
Ah! I see. Thanks. I was using an older runtime (12081). I'll upgrade and try again.

[2015-07-05 14:34] manfredsteyer opened #332 "Authority in OAuthBearer-Middleware"
Hi,

I really like the fact, that the OAuthBearer-Middleware can read the OpenId-Connect-Metadata following the Link in the Property Authority.

Are there plans to port this behavior back to 4.x ?

Wishes,
Manfred

[2015-07-05 18:10] GuardRex commented on #223
@PinpointTownes Went to 12170 ... Fix confirmed here, too. Thanks for the heads up.

[2015-07-05 19:56] PinpointTownes commented on #332
You mean Katana 3? :laughing:
It's really unlikely to happen, as it's not developed anymore (http://katanaproject.codeplex.com/SourceControl/list/changesets).

You should maybe have a look at the extension package developed by @leastprivilege: it's specifically designed for IdSrv but I don't see why it wouldn't work with another OpenID Connect server:

https://github.com/IdentityServer/IdentitySer

[2015-07-06 02:48] aggieben opened #333 "Would like a description of "AuthN and AuthZ API changes (Async, Challenge)""
I have authored an OAuth1 middleware, and when I pulled a recent package everything was broken.  I can kind of see what's happening in the code (3a8ea672eae590785a78d74777abb76bb9664130), but it would be helpful if someone could go through the design choices involved as well as their motivations.  "Async and challenge" kinda-sorta tell me where to look, but there was already support for async in t

[2015-07-06 02:49] davidfowl commented on #333
/cc @HaoK @loudej @Tratcher

[2015-07-06 17:26] HaoK commented on #223
Closing since you guys verified things are fixed, thanks!

[2015-07-06 17:26] #223 closed

[2015-07-06 19:00] HaoK commented on #333
Sure, I'll give short brief overview, feel free to ask for more details:

1. Why Async?  Prior to making all of auth Async, there was a separate callstack for both Sync/Async, with parallel methods and virtual methods in the auth handlers.  This was both cumbersome and error prone so we decided to just eliminate the sync path for simplicity.

2. ChallengeBehavior: this was basically where we lande

[2015-07-06 19:01] HaoK commented on #329
Duping against https://github.com/aspnet/Security/issues/333, point 3 addresses this

[2015-07-06 19:01] #329 closed

[2015-07-06 19:01] HaoK commented on #328
See https://github.com/aspnet/Security/issues/273

[2015-07-06 19:02] HaoK commented on #325
Rather than the serializer handling nulls as it does today, it will throw instead, and cookie middleware will reject/not support storing tickets with no principal.

[2015-07-06 19:36] blowdart opened #334 "You can't set querystrings on Login/AccessDenied/LogoutPaths"
I'd have expected

    options.LoginPath = new PathString("/Home/PickIdentity/").Add(new QueryString("?unauthorized=true"));
    options.AccessDeniedPath = new PathString("/Home/PickIdentity/").Add(new QueryString("?forbidden=true"));

to work; but you end up with a URL like

http://localhost:12612/Home/PickIdentity/%3Funauthorized%3Dtrue?ReturnUrl=%2FProtected%2FAdministratorsOnly

You can see th

[2015-07-06 20:03] PinpointTownes commented on #334
That's because `new PathString("/Home/PickIdentity/").Add(new QueryString("?unauthorized=true"))` actually returns a `string`, which is implicitly converted back to a new `PathString` when you assign it to `LoginPath`:

And because `/Home/PickIdentity/?forbidden=true` is considered as a path string, the whole string is encoded by `ToUriComponent` when you use `PathString.Value`... and boom, fail.

[2015-07-06 20:05] HaoK commented on #334
Which is a nice way of saying, user error: @blowdart

[2015-07-06 20:06] PinpointTownes commented on #334
Yeah, @blowdart is a noob! :smile:

[2015-07-06 20:08] blowdart commented on #334
I'll bet I won't be the only person who wants to do this, noob or not. So it should be addressed somehow :p

[2015-07-06 20:09] PinpointTownes commented on #334
Well, these primitives are not really different compared to their Katana equivalent... and I never heard someone trying such a crazy thing, so... :smile:

[2015-07-06 22:13] tushargupta51 commented on #331
Aligning the logging experience of Wilson with ADAL is one reason. ADAL uses EventSource.

[2015-07-06 22:29] blowdart opened #335 "Populate returnURL on Forbidden mapping for cookie auth"
This way a forbidden page could prompt for a new login and redirect back to the previous resource, in much the same way a login/unauthorized page does now.

[2015-07-06 23:00] GuardRex opened #336 "Proposal: Add AccessDeniedPath for OpenIdConnect middleware"
`AccessDeniedPath` has been added for cookie middleware ([aspnet/Announcements#40](https://github.com/aspnet/Announcements/issues/40)). Could we have that for OpenIdConnect middleware?

As it stands, unauthorized requests result in a redirect to AAD. I'd like to be able to direct to my own view in the app. I'm currently using some custom attribute role processing ([aspnet/MVC#2698](https://github.

[2015-07-07 01:29] brentschmaltz commented on #328
I looked at 273 and still do not understand why AuthenticateAsync needs to be called.
Authenticate looks for a message to process.
What am I missing?

[2015-07-07 01:57] brentschmaltz commented on #307
@Eilon I removed the change in https://github.com/aspnet/Security/pull/315 so that this issue is not blocking #315. We should consider it on it's own merit.

CodeFlow only, builds on #315.

[2015-07-07 02:39] brentschmaltz opened #337 "Why does AuthenticationHandler.AuthenticateAsync(...) call ShouldHandleScheme"
If OIDC handler AutomaticAuthentication == false, then context.AuthenticationScheme must == options.AuthenticationScheme for OIDC.AuthenticateAsync to be called.

How does AuthenticationContext.AuthenticationScheme get set, before the call to AuthenticateAsync(...)?

[2015-07-07 02:44] brentschmaltz opened #338 "AuthenticationHandler.BaseInitializeAsync calls ShouldHandleScheme with string.Empty"
The comment says: // Automatic authentication is the empty scheme
This does not match the logic in ShouldHandleScheme

[code]

1. What is the purpose of BaseOptions.AutomaticAuthentication if the comment is true?
2. The comment says string.IsEmpty, but null, and any whitespace will be true.

[2015-07-07 06:33] rynowak opened #339 "Create an Authorization.Abstractions package for frameworks to reference"
API review feedback. MVC is taking a reference on Authorization+Authentication just to use the attribute to call into the authorization service.

Basically the hope is that the code in the MVC `AuthorizeFilter` would only need this dependency.

We want to create a slim package with minimal surface area.
- AuthorizeAttribute
- IAuthorizationService

[2015-07-07 06:34] rynowak commented on #339
/cc @HaoK @davidfowl

[2015-07-07 14:33] jmickael commented on #179
Brock,

Thanks for all your effort on this nonce cookie issue.  It looks like issue https://github.com/aspnet/Security/issues/179 is closed.  When do you think the release might happen with this change?

Thanks again

From: Brock Allen [mailto:notifications@github.com]
Sent: Monday, June 08, 2015 12:02 PM
To: aspnet/Security
Cc: jmickael
Subject: Re: [Security] OpenIdConnect nonce cookies - overfl

[2015-07-07 16:39] brockallen commented on #179
This is Microsoft's repo, not mine. So I don't know the answer.

[2015-07-07 16:42] Eilon commented on #179
@jmickael what change are you referring to?

[2015-07-07 17:01] brentschmaltz commented on #336
@GuardRex While waiting on a decision on this issue. Can you try hooking OnRedirectToIdentityProvider and setting Handled or Skipped property on the notification?
This may give you what you need.

[2015-07-07 17:07] GuardRex commented on #336
@brentschmaltz Thanks ... I'll give that a try.

[2015-07-07 17:57] GuardRex commented on #336
@brentschmaltz In my `options.notifications`, I provided this:
[code]
then added
[code]
If the user is not authenticated this will bypass and redirect to AAD for a Sign in ... it does, so that's cool.

If they are already authenticated but authorization to a resource fails and this gets hit, they will get a redirect Home and an error message will tell them that they can't have that resource ... it

[2015-07-07 18:01] jmickael commented on #179
I've seen a couple posts including this one where a recommendation to clean up nonce cookies was made.  I had issues upgrading the Microsoft.Owin.Security.OpenIdConnect to version 3.0.1.  I was told to roll back to 3.0.0 to stop getting the "header too big" exception.  I was wondering if version 3.0.1 has cookie cleanup added and put on NuGet yet?

            foreach (KeyValuePair<string, string>

[2015-07-07 18:24] Eilon commented on #179
@Tratcher can you help answer this?

[2015-07-07 18:41] brentschmaltz commented on #334
@PinpointTownes I am with @blowdart on this one. He was confused, I was also confused.
Not sure why .Add returns a string and not a PathString.

[2015-07-07 18:44] brentschmaltz commented on #336
We set the OpenIdConnectMessage.RequestType to OpenIdConnectRequestType.LogoutRequest in HandleSignOutAsync. You can check for that.

[2015-07-07 18:45] GuardRex commented on #336
Cool ... thanks again!

[2015-07-07 18:46] brentschmaltz commented on #336
It would be clearer if we had a different notification.

[2015-07-07 18:48] GuardRex commented on #336
It seems like `AccessDeniedPath` for this middleware would be super convenient. However, this is turning into a good exercise to work through this with the workaround you've suggested ... I'm learning a lot.

[2015-07-07 18:48] brentschmaltz opened #340 "Create new notification for SignOut"
RedirectToIdentityProvider has a dual purpose: Redirect to IDP for signin or signout.
How about we have another notification for signout.  We may want to rename RedirectToIdentityProvider.

[2015-07-07 18:49] brentschmaltz commented on #336
Glad to help.

[2015-07-07 18:53] PinpointTownes commented on #334
@brentschmaltz `PathString.Add(QueryString)` cannot return a `PathString` simply because you can't have a query string in a path string (it's named `PathString`, not `PathAndQueryString` :smile:)

[2015-07-07 18:57] PinpointTownes commented on #336
Oh no, please no `AccessDeniedPath` on the OIDC middleware, it would be a total non-sense :scream:
Social/external authentication providers should only have one behavior on challenge: redirecting the user agent to the identity provider.

If you want to redirect your users to an intermediate path/view, nothing prevents you from using the cookie middleware and its `AccessDeniedPath` property for tha