[2015-10-08 20:30] kpocza commented on #508
I'd definitely suggest introducing some config switch. Most of the times it's true that for AJAX request 401 may be better than 302. But it's not even obvious that 302 is the best way for other resource requests in every case.
I could imagine to have a flags enum for 401 with values like: None, Ajax, NonAjax, All. With default None. There might be cases when the situation cannot be decided based o

[2015-10-08 20:35] davidfowl commented on #508
We used to have this in the cookie middleware in katana. What happened to it?

[2015-10-08 20:46] HaoK commented on #508
We decided to remove this functionality during design review a while ago

[2015-10-08 20:59] Tratcher commented on #508
@davidfowl Not quite, Katana returned 200.
http://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin.Security.Cookies/Provider/DefaultBehavior.cs

[2015-10-08 21:10] PinpointTownes commented on #508
IMHO, removing these checks would be enough since you'd just have to set `LoginPath` to `PathString.Empty` to disable the 401 -> 302 conversion:

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Cookies/CookieAuthenticationMiddleware.cs#L64-L75

[2015-10-08 21:33] blowdart commented on #508
Here's the other problem; what scheme do you expect in the 401? To match the HTML spec it needs one. Cookie in this case isn't actually valid.

[2015-10-08 21:37] brentschmaltz commented on #501
@PinpointTownes @Tratcher perhaps a solution here is to add a constructor to OIDCMessage that takes a JObject and 'retire' OIDCTEResponse.  OIDCMessage, unknown or new properties could be surfaced in the dictionary from the Parameters property.

[2015-10-08 21:46] brentschmaltz commented on #485
@PinpointTownes @leastprivilege @blowdart This is a 'secure by default' change. Unlike, fed metadata which can be signed, normally OIDC metadata is not signed. Hence, https required by default. I agree we need to make it easier to turn off.

[2015-10-08 22:01] brentschmaltz commented on #456
@Tratcher @Eilon I agree the branching logic could be improved.
I think about the order slightly different since we should fault before firing the code received notification on a bad id_token.

1. If a token is received, validate
2. If a code is received, redeem code for accessToken validate,
3. if redeem flag is on, hit UserInfoEndpoint, validate
4. merge claims into claimsIdentity.

It is not cl

[2015-10-08 22:22] Tratcher commented on #501
Sounds good.

[2015-10-08 22:42] Eilon commented on #505
Dup of https://github.com/aspnet/Security/issues/508.

[2015-10-08 22:42] Eilon commented on #502
Dup of https://github.com/aspnet/Security/issues/508.

[2015-10-08 22:42] #505 closed

[2015-10-08 22:57] PinpointTownes commented on #508
I suggest `Interactive` (though the actual value doesn't really matter) :smile:

[2015-10-08 22:58] PinpointTownes commented on #501
@brentschmaltz really nice :+1:

[2015-10-08 23:00] Eilon commented on #508
In the default implementation of the Challenge event handler it should detect an AJAX request and return the original status code. Detecting an AJAX request involves checking the `X-Requested-With` header value to see if it is `XMLHttpRequest`.

The response for AJAX calls should not modify the body, but should have a header indicating the login page in case a client wishes to do a browser redirec

[2015-10-08 23:02] Eilon commented on #509
@blowdart

[2015-10-08 23:02] Eilon commented on #509
@blowdart

[2015-10-08 23:02] Eilon commented on #509
@blowdart

[2015-10-08 23:59] MaximBalaganskiy commented on #508
@blowdart Consider a scenario when web api is only consumed from a dynamic web page which was served under cookie authorization. Why is it bad, could you please be more specific? Everything just works in this case except that redirect which is fixable in 10 lines of code. I definitely don't want to write tons of code (since, surprise, we don't have token server anymore). And then there is a proble

[2015-10-09 00:36] blowdart commented on #509
Binding doesn't happen till long after authorization, and parameters don't exist when authorization happens, they are only available inside the actual controller method. So declarative authorization simply will not work for you.

For this sort of situation we have resource based authorization. The scenario here is you're getting a model sent to you, or a reference to a resource, which you then loa

[2015-10-09 00:38] blowdart commented on #508
@MaximBalaganskiy it's bad because you are wide open to Cross Site Request forgery calls. There's nothing to stop an attacker doing a simple form submit to your webapi, unless you're writing tons of code to pull the csrf token out of a form, put it into a header, then check it in the controller.

Your dynamic web page is a SPA, it's just one with lots of pages.

[2015-10-09 00:43] MaximBalaganskiy commented on #508
@blowdart That is exactly what I am doing. And it's not a lot of code actually - all ajax requests come through a class which is pulling a verification token from a page. Some frameworks - Telerik for one - even do the same for you.

[2015-10-09 00:45] blowdart commented on #508
And then how are you verifying it? It's ugly manual labour which you end up having to write, and people don't *know* to write it, which is why we recommend bearer, it's *safe* by default. We like safe by default, even if it is more work.

[2015-10-09 00:48] MaximBalaganskiy commented on #508
MVC verifies it when I put ValidateAntiForgeryToken on an api action

[2015-10-09 03:29] blowdart commented on #508
MVC won't pick it out of a header though, which should be where it ends up in an ajax call. For forms, sure, that attribute works. Bearer protects against CSRF because it is explicit.

[2015-10-09 03:35] MaximBalaganskiy commented on #508
I just checked. It does look for the verification token and returns "The required antiforgery form field \"__RequestVerificationToken\" is not present.". Why wouldn't it? These actions are same as view actions.

[2015-10-09 03:45] blowdart commented on #508
Ah sorry, I meant it won't succeed! Which means you need to remove the check for ajax calls, and lo, CSRF :)

[2015-10-09 03:58] MaximBalaganskiy commented on #508
Sure, if an action is going to be called from browser AND mobile then it's not that simple.

[2015-10-09 04:13] blowdart commented on #508
Indeed. Or from the browser via ajax. Which is why we tend to say use bearer, because it's safer.

[2015-10-09 10:56] sulhome opened #510 "Question: Authorize attribute with policy requirement throwing: The following authentication scheme was not accepted"
I have this simple setup for policy requirement. I am assuming that this should return 401 but instead it is throwing an exception

**Startup.cs**

    public class Startup
    {
        public Startup(IHostingEnvironment env)
        {
        }

        public void ConfigureServices(IServiceCollection services)
        {
            services.ConfigureAuthorization(options =>
            {

[2015-10-09 12:04] Tratcher commented on #510
You need at least one authentication middleware in your pipeline. The system won't send just a 401, it also needs to send info about how to log in. Enabling windows auth in the server would also satisfy the check.

[2015-10-09 12:23] sulhome commented on #510
What would be a simple implementation for authentication middleware? I guess I had to implement certain interface. Do you have an example?

[2015-10-09 12:26] DAllanCarr commented on #510
Excellent article from @leastprivilege outlining supported middlewares.
http://leastprivilege.com/2015/07/21/the-state-of-security-in-asp-net-5-and-mvc-6-claims-authentication/

[2015-10-09 12:36] blowdart opened #511 "Need a nicer error when no authentication middleware is registered but you try to authorize"
https://stackoverflow.com/questions/33035833/authorize-attribute-with-policy-requirement-throwing-the-following-authenticati has details; if you call authorize with no authentication middleware you end up with the following exception and stack trace.

[code]

A specific "NoAuthenticationMiddlewareRegisteredException" would be a better experience :)

[2015-10-09 12:42] sulhome commented on #510
How can I implement my own authentication provider? what interface/configuration I need to do? do you have an example

[2015-10-09 12:44] davidfowl commented on #511
NoAuthenticationMiddlewareRegisteredException thats the wrong exception though. Anything can implement `IAuthenticationHandler` right?

[2015-10-09 12:45] blowdart commented on #511
NoAuthenticationHandlersRegisteredException() then.

[2015-10-09 12:45] davidfowl commented on #511
:smile:

[2015-10-09 12:47] davidfowl commented on #511
But I'm curious now, how do you end up with a 401 vs this exception?

[2015-10-09 12:52] blowdart commented on #511
It would depend on the middleware that's responding to the failed request. In this case Authorize isn't finding anything to call. If, for example, cookie was registered and set to be automatic the authorization failure ends up in that middleware which responds accordingly (a redirect, because it's cookie). If you bearer was the default (or you specified that scheme in the Authorize attribute with

[2015-10-09 12:57] davidfowl commented on #511
There's no good default in absence of those right?

[2015-10-09 12:58] blowdart commented on #511
Correct. There can't be, we don't want to decide for a developer, they need to choose which, and each needs infrastructure, like what you're authenticating against.

[2015-10-09 13:02] davidfowl commented on #511
and the 401 status code is illegal without `WWW-Authenticate` ....bah. Seems unfortunate.

[2015-10-09 13:02] blowdart commented on #511
Yup, the registered middlewares give us the schemes we can add

[2015-10-09 13:46] blowdart commented on #510
Question a dupe from stack overflow, where it was answered. Link to https://github.com/aspnet/Security/issues/511 to improve error messages.

[2015-10-09 13:46] #510 closed

[2015-10-09 20:36] HaoK commented on #466
Duping against https://github.com/aspnet/Security/issues/511

[2015-10-09 20:36] #466 closed

[2015-10-09 20:37] HaoK commented on #511
Do we really want to add a new exception type for this instead of just fixing the text to not be so unintelligible?

I already had a PR open that was starting to reword these

https://github.com/aspnet/HttpAbstractions/pull/421

[2015-10-09 20:38] PinpointTownes opened #512 "Update the OAuth2 handler to log error_description and error_uri when receiving an error"
https://github.com/aspnet/Security/pull/495#discussion_r41671366

FYI: the OIDC handler already does that: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L382-L383

[2015-10-09 20:48] Tratcher commented on #511
No, they're just mocking us. Better wording is more than enough.

[2015-10-09 23:08] Tratcher opened #513 "Consider splitting AutomaticAuthentication"
AuthenticationOptions.AutomaticAuthentication actually covers two concepts, authenticate (set the user) and challenge (handle 401s).
[code]
Cookie, Bearer, etc. support both, but facebook, OIDC, etc. only support automatic challenges.

Note that if we did separate the flags it would mean you could auto-authenticate (which is non-invasive) without auto-challenging, possibly alleviating some of the

[2015-10-12 13:20] leastprivilege opened #514 "[Authorization] Evaluating a non-existent policy returns "false""
When doing this:

[code]

I get back false.

Doing the same in an Authorize attribute - it throws an exception.

[2015-10-12 13:22] blowdart commented on #514
@HaoK can you slip this into beta8? I'd agree with throwing the exception in imperative checks too

[2015-10-12 16:54] Tratcher commented on #514
No @blowdart, beta8 is 'done'.

[2015-10-12 17:25] muratg commented on #514
Moving to RC1 per internal discussion.

[2015-10-12 19:30] brentschmaltz commented on #512
As long as the handler is sure the message is for itself this is fine, otherwise handlers will get in each others face. I have seen handlers where the param 'f' => failure.

[2015-10-12 19:34] brentschmaltz commented on #506
Change is in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/2b2969149fb73f0cdde07a2064eaa2f8744fd312

[2015-10-12 19:35] PinpointTownes commented on #512
@brentschmaltz no risk: unlike the OIDC middleware (though it may change in the future: https://github.com/aspnet/Security/issues/455), the OAuth2 base middleware only listens on its own callback path, so unless you use the same one for multiple handlers, you shouldn't see any issue :+1:

[2015-10-12 19:51] brentschmaltz commented on #478
@Eilon DefaultToCurrentUriOnRedirect was added automatically set the OIDC message.RedirectUri to the CurrentUri. This controls where the user-agent sends the post back.

[2015-10-12 19:57] brentschmaltz commented on #460
@Eilon the comment suggest this is just used for testing.

[2015-10-12 19:59] brentschmaltz commented on #457
@Eilon @PinpointTownes const => will not change over time, readonly => fixed for this instance. Is this the reason to change to readonly?

[2015-10-12 20:01] brentschmaltz commented on #455
@leastprivilege are you suggesting Options.RedirectUri? If so, we need to account for DefaultToCurrentUriOnRedirect (if we keep this property #478).

[2015-10-12 20:06] Eilon commented on #506
Need to update Wilson dependencies to RC1.

[2015-10-12 20:11] Eilon commented on #454
@jmloeffler I'm asking @Tratcher to follow up on anything remaining in this PR. Sorry for the delay in getting back to you!

[2015-10-12 22:47] HaoK commented on #297
Working idea is enabling something like this which would activate the requirement using services from DI and pass in any additional arguments to the ctor

[code]

[2015-10-13 04:55] leastprivilege commented on #297
looks good!

[2015-10-13 07:36] BadriL opened #515 "Multiple resource-based authorization handlers in ASP.NET MVC 6"
I want to have two resource-based authorization handlers like so.

    public class FooAuthorizationHandler :
               AuthorizationHandler<OperationAuthorizationRequirement, Foo>
    {
       protected override void	Handle(AuthorizationContext context,
                      OperationAuthorizationRequirement requirement, Foo foo)
       {
           // Do something here using context.User an

[2015-10-13 07:37] leastprivilege commented on #455
Either Callback path is not needed (when you have a single middleware of the same type) - or you need to set it because you have e.g. two OIDC MWs (or WS-Fed) - in this case the Callback is always the same as the redirect URI (or wreply).

That's why I don't see the purpose of this property at all.

Am I missing something?

[2015-10-13 07:38] leastprivilege commented on #478
So can someone explain the purpose of DefaultToCurrentUriOnRedirect ?

[2015-10-13 08:11] leastprivilege commented on #515
I can re-produce that as well - I have to handlers (one for customer, one for product) - and the authorize call for product also triggers the Handle method of the customer handler.

My rep(r)o is here:
https://github.com/leastprivilege/AspNet5AuthorizationPlayground

[2015-10-13 13:12] Anderman commented on #451
I have looked to the code and I think there are two problems. If the state is invalid you will get a 404 error. The case of the google URL could be resolved by changing some lines but there is no way to return to the callbackurl if the state variable is invalid

[2015-10-13 15:25] Tratcher commented on #455
I think it's the redirect uri that we should consider removing. We only had both because it was said IDPs had very strict requirements for it, but we've observed similar requirements for the OAuth providers and they haven't had any trouble using just callback path and generating the redirect uri on demand.

In the worst case if the default generation isn't adequate then we have events you can hook

[2015-10-13 15:35] leastprivilege commented on #455
but redirect URI is part of the protocol - callback path a historical leftover because the ws-fed MW "listened" to all incoming requests (to not break backwards compat with WIF FAM).

[2015-10-13 17:24] jmloeffler commented on #454
No problem.  I think people were waiting on me anyway.  There was some concern over one of the test changes I made and I got a bit discouraged about the whole thing when I saw this commit af14c99b465ef79bea85edd38421f7d08f7d371e.  But I'm happy to put more time into this one if having dnxcore support in the test projects is still desired.

[2015-10-13 17:35] Eilon commented on #454
Yes, we definitely want the tests to run on `dnxcore50`!

[2015-10-14 04:41] leastprivilege commented on #478
I don't get that - the redirect_uri (as in the oauth or oidc protocol) or wreply (in ws-fed) is a fixed value. This is as fixed as the client_id.

What's the purpose of the new option? Also - do you handle deep links corectly now (like persisting them in a state protected cookie)?

[2015-10-14 04:58] leastprivilege commented on #515
This makes it pretty much un-usable. Any comment?

[2015-10-14 06:46] PinpointTownes commented on #478
`DefaultToCurrentUriOnRedirect`'s purpose is to control whether the address of the current request will be used to determine the final location of the user agent if `AuthenticationProperties.RedirectUri` is null. Despite the name, it has nothing to do with the `redirect_uri` used when communicating with the OP.

That said, the OIDC middleware is the only one having such an option: the other middle

[2015-10-14 07:40] leastprivilege commented on #478
OK - then I misunderstood that. Maybe because the naming is so confusing ;)

[2015-10-14 09:06] PinpointTownes commented on #478
I guess renaming `AuthenticationProperties.RedirectUri` to `AuthenticationProperties.ReturnUrl` would help a bit :smile:

[2015-10-14 13:21] geertendoornenbal commented on #508
It would be nice if the documentation on security could be extended on how to include Bearer tokens and use that for authorization. I want to change the current cookie authentication for our WebApi, but I can't find any proper explanation on how to do it easily in ASP.NET 5.

[2015-10-14 21:45] HaoK commented on #511
d28c6e1dbbd6156a6168e331ec8137044cd05ee9

[2015-10-14 21:45] #511 closed

[2015-10-15 02:29] muratg opened #518 "Move Microsoft.AspNet.CookiePolicy to BasicMiddleWare repo"

[2015-10-15 06:11] HaoK commented on #513
Done as part of 409b50269a9d85618a31f84a3ffc2868abb3eeea

[2015-10-15 06:11] #513 closed

[2015-10-15 22:00] #509 closed

[2015-10-15 22:03] Eilon commented on #515
@HaoK we think this is a dup, can you find it and close this against that one?

[2015-10-15 22:05] Eilon commented on #515
Found it: Dup of https://github.com/aspnet/Security/issues/494

[2015-10-15 22:05] #515 closed

[2015-10-15 22:34] HaoK commented on #478
@PinpointTownes File a new bug for the RedirectUri => ReturnUrl rename if you feel strongly about that.  I'm not opposed :)

[2015-10-15 22:35] HaoK commented on #478
I'm nuking DefaultToCurrentUriOnRedirect as we just do this everywhere else without a flag

[2015-10-15 22:52] HaoK commented on #455
@Tratcher Do we have consensus on what the plan for this bug is?  Callback logic has been pushed into the new RemoteAuthentication base so OIDC is now consistent with the other remote middlewares

[2015-10-15 23:02] HaoK commented on #299
RemoteAuthHandler takes care of this now 409b50269a9d85618a31f84a3ffc2868abb3eeea

[2015-10-15 23:02] #299 closed

[2015-10-15 23:04] HaoK commented on #55
Closing this since we have the main changes/design in.  Will use the other bugs to track resolving specific flows for each error condition.  409b50269a9d85618a31f84a3ffc2868abb3eeea

[2015-10-15 23:04] #55 closed

[2015-10-15 23:05] HaoK commented on #500
@blowdart Are we happy with the current behavior or are we considering any changes?

[2015-10-15 23:07] blowdart commented on #500
I have no opinion either way, but judging by your workload, this should probably go on the backlog to be reexamined after rtm :)

[2015-10-15 23:07] PinpointTownes commented on #411
Reopening this issue, since the bearer middleware still needs to be reworked to avoid throwing exceptions for invalid tokens, despite https://github.com/aspnet/Security/issues/55 being merged.

/cc @HaoK

[2015-10-15 23:08] Tratcher commented on #455
We still need to rationalize CallbackPath vs RedirectUri. CallbackPath is a mechanical requirement where RedirectUri is a protocol field. I think we could default to deriving CallbackPath from RedirectUri, but that will break if PathBase is not empty (e.g. vdirs, map, etc.).

[2015-10-15 23:13] HaoK commented on #455
Do you want to take this issue back since its now an OIDC specific thing it sounds like

[2015-10-15 23:14] HaoK commented on #500
Sold!  Moving to backlog for now

[2015-10-15 23:16] HaoK commented on #266
Moving to backlog as this isn't high priority

[2015-10-15 23:53] HaoK commented on #478
835903892771b9e833985c43bc3b967f66f31892

[2015-10-15 23:53] #478 closed

[2015-10-15 23:53] HaoK commented on #460
835903892771b9e833985c43bc3b967f66f31892

[2015-10-15 23:53] #460 closed

[2015-10-15 23:53] HaoK commented on #457
835903892771b9e833985c43bc3b967f66f31892

[2015-10-15 23:53] #457 closed

[2015-10-16 05:36] Eilon commented on #468
Fixed in 3c925fc4bf4ae831ee85093dd738adf172b9e704.

[2015-10-16 05:36] #468 closed

[2015-10-16 19:14] #506 closed

[2015-10-16 19:18] Tratcher commented on #501
Depends on https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/276 which was just merged today.

[2015-10-16 19:21] PinpointTownes commented on #501
Note that the new `JObject` support in `OpenIdConnectMessage` is limited to simple properties (it won't work with array or object properties)

[2015-10-16 19:42] Tratcher commented on #454
https://github.com/aspnet/Security/commit/42cba79e01872a69165ffc957ddcb7d79adf63da

[2015-10-16 19:42] #454 closed

[2015-10-16 20:09] tushargupta51 commented on #501
@PinpointTownes All the properties in OpenIdConnectMessage are strings (except RequestType). The array properties like acr_values or ui_locales are returned as space separated string from the endpoint. I tested with this json string and it worked:
            string json2 = @"{
                    ""tag"":""value1"",
                    ""tagObj"": {
                            ""tag3"": value3,

[2015-10-16 20:14] PinpointTownes commented on #501
@tushargupta51 sure, but most people won't expect having to manually deserialize the parameter value using `JObject` or `JsonConvert`. This obviously makes complex claims (like `address` in a userinfo response) harder to use from the final developer's perspective.

[2015-10-16 20:20] tushargupta51 commented on #501
@PinpointTownes  With the current state of OpenIdConnectMessage, I don't think one can store arrays or objects directly, right? The dictionary that is available maps a string key to string value. I am trying to understand the issue that you are hinting is with the JObject ctor or with the class itself?

[2015-10-16 20:25] PinpointTownes commented on #501
Yup, and it works great (I'm a huge fan of this `OpenIdConnectMessage` primitive :smile:)

Issues come when you want to play with arrays or objects properties. Have you considered switching to object (rather than string) values or directly exposing the `JObject` for more flexibility?

[2015-10-16 20:59] tushargupta51 commented on #501
I see it now. Haven't yet thought about switching to objects. It seems most values returned in response are strings. Between exposing the JObject and using the OpenIdConnectMessage.GetParameter(string) method, the difference is that user has to convert the string to JToken or something in latter. But the conversion to actual object type from json object is still needed.

[2015-10-16 21:01] Tratcher commented on #445
This actually isn't a problem anymore due to changes for https://github.com/aspnet/Security/issues/455. Now that we require CallbackPath and it defaults to /signin-oidc, this scenario just works because redirecturi is now  http://localhost/MyVirtualApp/signin-oidc.

[2015-10-16 21:01] #445 closed

[2015-10-16 23:34] #263 closed

[2015-10-17 01:14] francischeung opened #524 "OAuth Bearer Authentication and Multi-tenancy"
I have a multi-tenant MVC app that authenticates against AAD. I generate access tokens (that I use to authorize calls to my WebAPI) using the AAD tenant each user belongs to.

When I configure my WebAPI with OAuth Bearer Authentication, how do I support multiple tenants?

When I configure OAuthBearerAuthentication with a specific tenant, it works fine:

            app.UseOAuthBearerAuthentication

[2015-10-18 13:27] leastprivilege opened #526 "SaveTokensAsClaims defaults"
Storing the expires_in is not very useful. I'd rather store an expires_at claim and add the seconds to the current time.

I am also not sure if the SaveTokensAsClaims should default to true.

[2015-10-18 20:04] Eilon commented on #414
https://github.com/aspnet/Security/commit/121e6891e71801ed54da8637aa79fb86c1d0c384

[2015-10-18 20:04] #414 closed

[2015-10-18 20:04] Eilon commented on #418
https://github.com/aspnet/Security/commit/121e6891e71801ed54da8637aa79fb86c1d0c384

[2015-10-18 20:04] #418 closed

[2015-10-19 18:52] Tratcher commented on #351
This was already fixed by https://github.com/aspnet/Security/issues/55 where we changed many of these exceptions to AuthenticationResult.Failed.

[2015-10-19 18:52] #351 closed

[2015-10-19 18:59] Tratcher commented on #455
The more I think about this the less I like how much we differentiate between OIDC and OAuth. The OIDC protocol is doing the same thing as OAuth here so we should use the same middleware mechanics. In this case I think we can just remove RedirectUri and generate it per request like we do for all of the other providers. That makes one less thing for applications to configure, and it's more portable

[2015-10-19 19:06] cesarbs opened #527 "Microsoft.AspNet.Authentication.Test failures on Linux"
info: Exec
    info:   program: dnx
    info:   commandline: test -parallel none
    info:   workingdir: test/Microsoft.AspNet.Authentication.Test
    xUnit.net DNX Runner (64-bit DNX 4.5.1)
      Discovering: Microsoft.AspNet.Authentication.Test
      Discovered:  Microsoft.AspNet.Authentication.Test
      Starting:    Microsoft.AspNet.Authentication.Test
          Assert.Equal() Failure

[2015-10-19 19:07] Tratcher commented on #527
@HaoK @Eilon

[2015-10-19 19:17] HaoK commented on #527
Is this after my fix to the test code?

[2015-10-19 19:18] HaoK commented on #527
835903892771b9e833985c43bc3b967f66f31892 added explicit encodes which is what fixed things on travis which had these failures

[2015-10-19 19:20] HaoK commented on #455
:+1: totally agree that we should try to make them look/feel as similar as possible

[2015-10-19 19:23] Tratcher commented on #501
There's a missing dependency for `"System.Dynamic.Runtime": "4.0.11-beta-*",`, waiting for the next build.

[2015-10-19 19:35] cesarbs commented on #527
Indeed, I did not have the latest sources. Closing.

[2015-10-19 19:35] #527 closed

[2015-10-19 21:46] francischeung commented on #524
With some help from my colleague Carlos, we figured it out:

        app.UseOAuthBearerAuthentication(options =>
        {
            options.Audience = Audience;
            options.Authority = "https://login.microsoftonline.com/common";
            options.TokenValidationParameters = new TokenValidationParameters
            {
                ValidIssuers = myListOfValidIssuers;
            }

[2015-10-19 21:46] #524 closed

[2015-10-20 05:10] leastprivilege commented on #455
I am not opposed to that - if it works like this

* callback path defaults to some well-known string e.g. "oidc"
* redirect uri derives from "current URL + / + callback path"
* you can have multiple OIDC middlewares with different callback paths

that would be an improvement over today where redirect URI must be hardcoded AND a callback path must be set if you have multiple MWs. Especially since t

[2015-10-20 13:17] ewyll opened #531 "Principal issue"
This piece of code works differently on 1.0.0-beta7-15532 in Windows and Debian.
dnx --version:
Microsoft .NET Execution environment
 Version:      1.0.0-beta7-15532
 Type:         CLR
 Architecture: x64
 OS Name:      Windows
 OS Version:   6.1.7601.65536

Microsoft .NET Execution environment
 Version:      1.0.0-beta7-15532
 Type:         Mono
 Architecture: x64
 OS Name:      Linux

Code:
[code

[2015-10-20 13:42] jods4 commented on #105
What is the status of this?
The issues related to cookie size have been closed but I don't think the issue is actually fixed and there's no plan/ticket we early adopters can publicly track?

We're using Cookies auth. and this is becoming an issue very fast. We use lots of roles to give fine grain access to features. The repeated serialized Claim type (for Roles) makes our cookies grow quickly. And

[2015-10-20 14:46] Tratcher commented on #105
@jods4 he was referring to an existing feature where you can store the principal on the server and only send a small reference cookie to the client. See https://github.com/aspnet/Security/blob/dev/samples/CookieSessionSample/Startup.cs#L26. This isn't enabled by default as you need somewhere to store them, and where you store them depends on how many servers you're running.

[2015-10-20 14:57] jods4 commented on #105
@Tratcher ah ok, some misunderstanding here.

I like my servers stateless, so it would be nice to be able to avoid that.

From the code I have the impression that if the ticket is not in the session anymore the user would have to log in again? Same thing if the server is restarted?

What I thought was that @blowdart suggested replacing the long, repeated claim type strings by tokens. It would be e

[2015-10-20 15:23] Tratcher commented on #531
@brentschmaltz?

Your Linux demo is probably failing with an exception that it can't print before the process exits. Try wrapping it in a try/catch to print the exception.

[2015-10-20 17:22] jods4 commented on #105
Thinking about this on my way back home:
Having to declare tokens for custom claims types is not convenient nor elegant.

The serialization could simply benefit from having a dictionary at its start. It's a basic but effective compression method (but not subject to the attacks mentioned in the compression issue):
1. Write the number of claim types, for each claim type it's name (index is implicit)

[2015-10-20 19:58] Eilon opened #532 "Replace hard-coded logging event ids with a class of consts"

[2015-10-20 20:58] HaoK commented on #491
e0464c950853909aa3491c65b519db47bb22679f

[2015-10-20 20:58] #491 closed

[2015-10-20 21:38] SonOfSam opened #535 "ConfigureAuthorization Breaking change"
Beta 8 breaking change ConfigureAuthorization is no longer an extension of `IServiceCollection`

[code]

[2015-10-20 22:27] HaoK commented on #451
We added a new OnRemoteError event:

Here's an example using the redirects putting the error message in the query string.
[code]

[2015-10-20 22:27] #451 closed

[2015-10-20 22:29] HaoK commented on #53
@Tratcher So I tried this again with our new changes, the main problem is we only get a 403 back with no other error when things are misconfigured, so we currently just blow up when we try to EnsureSuccessCode.  The best we can do is special case 403 to say "failed, Forbidden by OAuth provider"?  Any other ideas?

[2015-10-20 22:38] Anderman commented on #451
Thanks. That's was missing!.

 I didn't have time to test your lastest build. But I did a quick scan a few days ago and I was missing this solution.

[2015-10-21 01:49] HaoK commented on #535
Yeah all the ConfigureXyz methods for frameworks have been collapsed into AddAuthorization overloads which have the same behavior

[2015-10-21 01:49] #535 closed

[2015-10-21 12:01] ewyll commented on #531
I did wrap it in try/catch and it produced no different output than the previous one.
[code]

[2015-10-21 13:52] SonOfSam opened #537 "[Announcement] OAuthBearer renamed to JwtBearer"
I was able to do this in beta7 but it change on beta8, please point how this change

[code]

[2015-10-21 16:13] Tratcher commented on #537
This was renamed to JwtBearer:
https://github.com/aspnet/Security/blob/1.0.0-beta8/src/Microsoft.AspNet.Authentication.JwtBearer/
[code]

[2015-10-21 17:24] Tratcher commented on #531
@BrennanConroy This looks suspiciously like your null ref coreclr bug. Can you repro this?

[2015-10-21 17:25] BrennanConroy commented on #531
He isn't running on CoreCLR

[2015-10-21 17:41] BrennanConroy commented on #531
I don't know what the correct behavior is, but if the windows behavior is correct then its a mono bug, see https://github.com/mono/mono/blob/b7a308f660de8174b64697a422abfc7315d07b8c/mcs/class/corlib/System.Security.Principal/GenericPrincipal.cs#L46-L58 they don't do anything if you pass null for roles

[2015-10-21 17:41] #531 closed

[2015-10-21 19:27] #501 closed

[2015-10-21 20:23] HaoK commented on #494
defc9faac06958b89ad3bf8fa28a135265cef46f

[2015-10-21 20:23] #494 closed

[2015-10-21 20:44] SonOfSam commented on #537
thanks that did the trick

[2015-10-21 20:49] Tratcher commented on #537
[Leaving open for discussion]

[2015-10-21 22:19] PinpointTownes commented on #411
Any chance we could prioritize this item?

[2015-10-21 22:20] HaoK commented on #387
e72a5639024eba48a021960f2bc141372c337afc

[2015-10-21 22:20] #387 closed

[2015-10-21 22:21] Tratcher commented on #411
I'd rather get a TryValidateToken from IdentityModel. @brentschmaltz?

[2015-10-21 23:45] HaoK commented on #514
0eaec216b10981fc4b55b5539cf9768526826043

[2015-10-21 23:45] #514 closed

[2015-10-21 23:46] HaoK commented on #480
0eaec216b10981fc4b55b5539cf9768526826043

[2015-10-21 23:46] #480 closed

[2015-10-22 00:32] SonOfSam opened #539 "IDX10211: Unable to validate issuer. The 'issuer' parameter is null or whitespace"
When doing this code in the start up file

	app.UseJwtBearerAuthentication(options =>
	{

		options.AutomaticAuthentication = true;
		options.TokenValidationParameters.IssuerSigningKey = key;
		options.TokenValidationParameters.ValidAudience = audience;
		options.TokenValidationParameters.ValidIssuer = issuer;
		options.TokenValidationParameters.ValidateAudience = false;
		options.Events = new Jwt

[2015-10-22 21:12] muratg commented on #92
We'll attempt to do this during RC1 sign-offs.

[2015-10-22 21:15] muratg commented on #508
POR: Detect if AJAX for all redirects, and if it is, we'll leave it the status code appropriate code(401/403) and the appropriate location header.

[2015-10-22 21:19] muratg commented on #53
POR: do not throw, give the status code 403.  We should also consider documenting why this may be happening.

[2015-10-22 21:23] muratg commented on #539
Can you check if `issuer` is `null` or `""`?  Would hard coding `options.TokenValidationParameters.ValidIssuer` resolve your issue?

[2015-10-22 21:26] muratg commented on #411
@brentschmaltz can we stop throwing and return false?

[2015-10-22 21:43] SonOfSam commented on #539
No they are not empty values, they are constants on my startup class, I debug the application and in the controller when is doing the signature the jtwbaeroptios does not have those values, looks like the middle ware is not honoring the setup in startup

[2015-10-22 22:17] #455 closed

[2015-10-22 22:17] HaoK opened #542 "Cookies rename LoginPath/LogoutPath => SignIn/OutPath?"
Have some naming clashes here still I think

[2015-10-23 01:50] unt1tled opened #544 "Organizational account authentication broken in beta8? Forces relogin on every request."
I'm able to File-New-Project a new Web Application with Organizational Account authentication and successfully login. But ever since beta8, I'm unable to navigate to any page other than Home/Index. It seems as though each [Authorize]d request redirects to the OpenId login page, which in turn redirects me back to the Index Page.

[2015-10-23 05:34] rasitha1 opened #545 "Cookie Authentication for sub apps under IIS site"
re: CookieAuthentication - Is there a way to change the default behavior to handle the following scenario?

Example: I have two apps hosted under the same site in IIS:
https://apps.mydoamin.com/app1
https://apps.mydomain.com/app2

Since there's only one cookie (.AspNet.Cookies), and it's at the site (/) level, when users switch between app1 and app2 they have to get re-authenticated. (In my scenar

[2015-10-23 13:03] brockallen commented on #545
Why not set the cookie path in the config?

[2015-10-23 16:01] unt1tled commented on #544
I tried creating a simple workaround by setting a session variable when I log in, then accessing that in a custom AuthorizeAttribute. I see that the pipeline gets to my attribute, grabs the username from my session and doesn't raise the unauthorized result, but afterwards it has the same behavior: redirecting me to the openid page.

In Startup.css:

    app.UseOpenIdConnectAuthentication(options =

[2015-10-23 17:17] rasitha1 commented on #545
That didn't work because if the user types in the URL different than what I've set (case wise), browsers don't send the cookie with the request. So users will get redirected to authentication.

If that wasn't an issue, that's my first preference too because then only the cookie that is specific for the app goes with the request. With the current approach in the worst case (where a user is accessin

[2015-10-23 17:19] brockallen commented on #545
The other option is to change the cookie name :)

One thing I'm confused on -- do you want to share the cookie or not?

[2015-10-23 17:57] rasitha1 commented on #545
My workaround right now is to set the cookie name. That's why I open the question here asking if that should be done by default in the framework or if there are better ways. We have many small apps that make up our ERP system and we have a layer of code shared in all apps that is filling the gaps such as these and also using some of the internal conventions.

In this case, I don't want the cookie

[2015-10-23 18:20] PinpointTownes commented on #539
You can't simply use `app.UseJwtBearerAuthentication(options => { ... })` and expect the JWT options to be retrievable using `IOptions<JwtBearerOptions>` since `app.UseJwtBearerAuthentication` no longer relies on `IOptions` (nor injects it) in beta8.

[2015-10-23 19:20] MikeWasson opened #546 "AuthenticationProperties is not available from OpenIdConnectAuthenticationNotifications.RedirectToIdentityProvider"
For OpenID Connect, we want to pass some information to the `RedirectToIdentityProvider` notification.

The `ChallengeResult` constructor takes an `AuthenticationProperties`, which includes an “Items” dictionary. But in the `RedirectToIdentityProvider` notification, there’s no way to get back the `AuthenticationProperties`.

[2015-10-23 19:53] unt1tled commented on #544
Turns out that the generated template code was incorrect. You must explicitly set AutomaticAuthentication = true in the Configure function for your UseCookieAuthentication, but the default template has this set in the ConfigureServices function. My issue was resolved after moving it.

    public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)
    {

[2015-10-23 19:53] #544 closed

[2015-10-23 21:18] Tratcher commented on #544
This issue was moved to aspnet/Templates#255

[2015-10-23 21:40] HaoK commented on #508
1d2c6ba1223748df02a879622e8deb6ac23db5b7

[2015-10-23 21:40] #508 closed

[2015-10-23 22:39] #485 closed

[2015-10-24 18:13] jgsousa opened #548 "OpenIDConnect Scope became read-only"
I'm trying to use OpenID on ASP.Net Beta8 but the scope option is read-only unlike it was previously. On startup.cs, Configure:

            app.UseOpenIdConnectAuthentication(options =>
            {
                options.Authority = "XXX";
                options.ClientId = "XXX";
                options.ResponseType = "id_token token";
                //options.Scope = "openid email profile a

[2015-10-24 18:19] #548 closed

[2015-10-26 16:00] kennyrulez opened #549 "CookieAuthenticationNotifications replacement"
Hello Everyone!
in order to superseed the identity redirect for my web.api project, in beta7 I used
[code]

Now in Beta8 ConfigureIdentityApplicationCookie does not exists anymore.

I struggle to find a replacement for this. I tried
[code]
How I can restore this behavior?

Thanks in advance!
Valerio

[2015-10-26 17:31] Tratcher commented on #549
@HaoK?

[2015-10-26 17:47] HaoK commented on #549
[code]

[2015-10-26 17:47] #549 closed

[2015-10-26 18:59] kennyrulez commented on #549
@HaoK thanks for your response.
I digged in your suggestion and I discovered:
ApplicationCookie contains CookieAuthenticationEvents in ApplicationCookie.Events

I think that OnRedirectToLogin will be suitable for me.
Could you please provide a snippet on how I can use it, because the code in
https://github.com/aspnet/Security/blob/204ab0b860d0c97f77373310becdff5f1c95103b/src/Microsoft.AspNet.Authe

[2015-10-26 20:02] HaoK commented on #549
Well these changes are pretty new, its possible that these aren't in the bits you are consuming yet?

[2015-10-26 20:29] kennyrulez commented on #549
I'm using 1.0.0-beta8 received via embedded package manager in visual studio 2015, using project.json file. I haven't specified any revision number.
If these changes aren't already available as nuget package, what can I do? Can i mimic the behavior with the package I have or it's better to rollback to beta7?

Thanks!

[2015-10-26 20:35] HaoK commented on #549
Yeah the code you are looking at is in rc1 builds.  You probably should just mimic the behavior with existing code for now, unless you like playing with fire and upgrading to rc1 bits :)

[2015-10-26 21:19] kennyrulez commented on #549
I'll mimic :+1:

[2015-10-27 00:11] diolive opened #550 "LoginPath override doesn't work for CookieAuthentication"
I have a MVC 6 beta 8 web application based on default MVC template. I have renamed default `AccountController.cs` to `Auth.cs` and then I've tried to replace login path to `/Auth/Login`, but unsuccessfully. I've tried two different cases: override `CookieAuthenticationOptions.LoginPath` in `ConfigureServices` or in `Configure`, but there's no effect: `[Authorize]` attribute redirects me to /Accou

[2015-10-27 14:37] abcplex opened #551 "Rfc6238AuthenticationService should be in Security repository and make him public?"
Rfc6238AuthenticationService class at https://github.com/aspnet/Identity/blob/85012bd0ac83548f7eab31f0585dae3836935d9d/src/Microsoft.AspNet.Identity/Rfc6238AuthenticationService.cs look like very useful. But I think it should in Security repo. Also it will be great if you guys can make this class public.

[2015-10-27 19:17] pranavkm opened #552 "Update project.json to pull in the latest build of OpenIdConnect packages"
To workaround an issue with gating, we're using a fixed version of OpenIdConnect packages:

* https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/project.json#L13
* https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.JwtBearer/project.json#L13

These need to be floated again. In addition, if OpenIdConnect packages target dotnet*

[2015-10-27 22:03] HaoK commented on #551
@blowdart thoughts?

[2015-10-27 22:05] HaoK commented on #550
If you are using the default templates, the application cookie is using the options configured via Identity, you can access these via `IdentityOptions.Cookies.ApplicationCookie`

[2015-10-27 22:05] #550 closed

[2015-10-27 22:14] PinpointTownes commented on #551
FWIW: https://github.com/aspnet/DataProtection is also a good candidate for that.

[2015-10-28 00:50] blowdart commented on #551
Not data protection, no no no. It's a reasonable idea, it won't break anything as it's internal right now.

[2015-10-28 11:10] michaelbudnik commented on #508
@HaoK How does this solve #505 ?

I think there should be an option to completely disable redirects regardless of AJAX or not.

[2015-10-28 11:12] PinpointTownes commented on #508
Can't agree more :+1: : https://github.com/aspnet/Security/pull/543#issuecomment-150376689

[2015-10-28 14:00] lszomoru opened #553 "OpenIdConnectOptions.RedirectUri guidance"
Please feel free to redirect me in case this is not the correct repo for this issue.

I have created a new WebApplication (beta8) that uses Azure AD for authentication and it looks like out of the box after the Azure AD auth dance, the request is always redirected to "/". Is that expected behavior? I would have expected that by default, if RedirectUri is not specified, after the auth dance I would

[2015-10-28 16:51] PinpointTownes commented on #553
To change the final location of the user agent (the "return URL", not the OAuth2/OIDC `redirect_uri`), you can use `AuthenticationProperties.RedirectUri` when calling `ChallengeAsync`: https://github.com/aspnet/Security/blob/dev/samples/OpenIdConnectSample/Startup.cs#L44

[code]

[2015-10-28 16:59] lszomoru commented on #553
Thanks for your response. The issue is that I do not want to hard code the RedirectUri to a particular Uri but I want it to be dynamic depending on the page that the user tried to access when the authentication challenge has happened. I was hoping that not explicitly specifying a RedirectUri will do the trick but that does not seem to be the case.

[2015-10-28 17:02] PinpointTownes commented on #553
Nothing prevents you from determining the return URL dynamically (for instance, via a specific `returnUrl` parameter in the query string: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/vNext/samples/Mvc/Mvc.Server/Controllers/AuthenticationController.cs#L42) :smile:

[2015-10-28 17:08] PinpointTownes commented on #553
BTW, the OIDC middleware should automatically use the current URL when `AuthenticationProperties.RedirectUri` is null as the final destination. That said, I remember the Azure AD guys were doing crazy things in their code samples. Could you please post the sample URL?

[2015-10-28 17:15] lszomoru commented on #553
Thanks for your help and for the link to your code. To make things more interesting in my case the auth challenge is happening due to the AuthorizeAttribute that I have on a controller and not through an action (ex: SignIn) on a particular controller (ex: AccountController).

As you say, I was also hoping that by not specifying the RedirectUri, I will get the default behavior for free and that is

[2015-10-28 17:16] PinpointTownes commented on #553
Sorry, I thought you were using one of the Azure AD samples :smile:

Then, could you please share your Startup.cs?

[2015-10-28 17:16] Tratcher commented on #553
This was probably caused by Options.DefaultToCurrentUriOnRedirect defaulting to false in beta8. https://github.com/aspnet/Security/blob/1.0.0-beta8/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L124

We've removed this property in rc1 so you should get this behavior by default now.

[2015-10-28 17:17] PinpointTownes commented on #553
Doh, I had not realized this property was `false` by default :scream:

[2015-10-28 17:44] lszomoru commented on #553
Yep, setting Options.DefaultToCurrentUriOnRedirect to **true** did the trick!!!
Glad to hear that this will be removed in rc1. Thank you both for your help!

[2015-10-28 17:44] #553 closed

[2015-10-28 19:12] Tratcher commented on #552
Continue to use a hardcoded version in release, just update it.

Also, when we update this we should try to switch to the generations dependency model. They should be ready for this later this afternoon.

[2015-10-28 23:29] dapug opened #554 "Breakpoint in Controller.OnAuthentication() results in catastrophic failure of OpenIDConnect"
**Evil Problem:**
If you override **OnAuthentication** in your MVC controller, AND you happen to simply set a **breakpoint** in that method, your OpenIDConnect notifications will NOT fire!  **Authentication fails** despite the server returning the code and tokens.  Remove the breakpoint, and suddenly OpenIDConnect works again.

**Set up:**
 - Create a simple hello-world MVC client with "hybrid" fl

[2015-10-28 23:36] PinpointTownes opened #555 "Stop using AuthenticateResult.Success(ticket: null)"
The whole new `AuthenticateResult.Success(ticket: null)` is used in multiple places (e.g https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L397 or https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L437)

Sadly, this doesn't seem to be a legal operation, as `Succes

[2015-10-28 23:37] HaoK commented on #555
Yeah we should definitely be phasing those out...

[2015-10-28 23:40] HaoK commented on #555
In the OIDC case, what does it actually mean to Skip a message, is that really a failure now in the new sense that no ticket is produced?

[2015-10-28 23:42] HaoK commented on #555
Note: JwtBearer also has this usage still.

[2015-10-28 23:45] PinpointTownes commented on #555
Ahah, I just had the same concern when updating ASOS. I simply decided to return null :smile:

I'm really tempted to say no. Actually, it wouldn't be an issue if the authenticate result wasn't a binary thing.

The cookies middleware suffers from the same symptom: I don't think returning a "failure" is semantically appropriate when no cookie was received: https://github.com/aspnet/Security/blob/dev

[2015-10-28 23:53] HaoK commented on #555
Well we don't actually treat a "Failure" any differently than a success.  It just means there was no Ticket.  Its up to the caller to use the exception if desired.  In the cookies case, it doesn't care about errors, so it just calls context.Failed instead of the old NotAuthenticated, which is pretty much the same thing in that you get a result with no ticket.  Perhaps Success/Failure isn't the rig

[2015-10-28 23:54] HaoK commented on #555
Previously we used to just return null or non null, which maps to Success/Failure, except we used to have a 'success' with no ticket which was a bit ambiguous.

[2015-10-29 16:27] tillig opened #557 "Enable both sliding and absolute expiration for cookie authentication"
The current Microsoft.Owin.Security.Cookies middleware lets you select from either sliding or absolute expiration. It would be nice to allow for both - a short sliding expiration to handle timing out inactive users, but also an absolute expiration to handle maximum allowed session length before requiring re-authentication.

The only way to handle this currently is [outlined in this blog article](h

[2015-10-29 16:39] brockallen commented on #557
This would be great to have.

[2015-10-29 21:23] HaoK opened #558 "Should NTLM/Negotiate show up as External Auth Types in Templates"
[Also they don't currently work when clicked on, so if the answer is yes, we need to make them work :)]

cc @rustd @Tratcher @blowdart

[2015-10-29 21:34] Tratcher commented on #558
I think this is mostly a template issue.

[2015-10-29 21:38] HaoK commented on #558
Identity has some glue for this too, I'll move it to that repo for tracking

[2015-10-29 21:38] #558 closed

[2015-10-29 22:44] Tratcher commented on #554
It would help if you pushed your repro project to a github repo.

[2015-10-29 22:47] Tratcher commented on #551
@blowdart Should we do this, and if so, where?

[2015-10-29 22:51] Tratcher commented on #545
Other workaround: write a middleware that redirects if the path casing is incorrect. E.g. redirect to lower case.

[2015-10-29 22:53] Tratcher commented on #545
This is an inherent limitation of cookies, there's nothing we can do about it from the server side.

[2015-10-29 22:53] #545 closed

[2015-10-29 22:54] Tratcher commented on #542
Login != SignIn

[2015-10-29 22:54] #542 closed

[2015-10-29 23:07] Tratcher commented on #539
@PinpointTownes is right, IOptions is no longer populated in services for this. You're getting a new options instance with a new TVP without any config. You probably need to configure these separately.

[2015-10-29 23:07] #539 closed

[2015-10-30 16:26] blowdart commented on #551
Yes, and the Security namespace I feel.

[2015-11-01 09:52] mikeandersun opened #559 "How to I can do what does DefaultToCurrentUriOnRedirect=true with IdentityServer3 ?"
It seems DefaultToCurrentUriOnRedirect property has been removed from OpenIdConnectOptions.
How to I can return to a secure route different than what id set for CallbackPath?
IdentityServer3 return request to the CallbackPath only.
Needs to handle it in the callbackPath route?

[2015-11-01 19:40] PinpointTownes commented on #559
`DefaultToCurrentUriOnRedirect` has been removed but the default behavior is based on what `DefaultToCurrentUriOnRedirect=true` used to do, so no change should be required.

[2015-11-01 20:09] mikeandersun opened #560 "Specified method is not supported when return from IdnSrv to the callbackPath."
An unhandled exception occurred while processing the request.
NotSupportedException: Specified method is not supported.
Microsoft.AspNet.Authentication.RemoteAuthenticationHandler`1.HandleSignInAsync(SignInContext context)

[2015-11-01 20:12] mikeandersun commented on #559
I visit `/securedroute` redirect to IdentityServer and return to `/` !
What what is my mistake?
rc1-16048 breaks me :)

[2015-11-01 20:16] PinpointTownes commented on #559
Without seeing any code, it's hard to help you. At least, share your Startup class :smile:

[2015-11-03 06:51] mikeandersun commented on #560
[Here](https://github.com/mikeandersun/experimental/tree/master/source/OpenIdExperinces) is my experimental repo.

[2015-11-03 06:55] mikeandersun commented on #559
https://github.com/aspnet/Security/issues/560

[2015-11-03 16:22] Tratcher commented on #560
Issue 1, OIDC's Options.AuthenticationScheme should not match the one specified in Cookies. Auth middleware instances need to be identified using unique authentication schemes.
https://github.com/mikeandersun/experimental/blob/master/source/OpenIdExperinces/Startup.cs#L69

[2015-11-03 18:34] blowdart commented on #335
Adding scenario - if a user needs extra auth for sensitive operations you could, for example, check for a 2FA claim, get forbidden and then prompt for a login, redirecting back once complete.

[2015-11-03 20:46] HaoK commented on #53
238fdf24e8b0e3c5e84cd8dc7f7324502a439429

[2015-11-04 01:52] cherrydev opened #564 "Policies that allow ANY requirement instead of ALL"
From the examples and code that I've read, I don't see a straightforward way to make a policy that will pass if one of two (or several) requirements pass.  I figure I must be missing something fundamental.

The behaviour that I'm seeing is that if I have two requirements that are `AuthorizationHandler`s A and B where either one should satisfy the policy and one of them calls `context.Succeed(requi

[2015-11-04 02:25] cherrydev commented on #564
This seems to work, but feels wrong to me.

[code]

[2015-11-04 18:26] Tratcher opened #565 "Update facebook provider to v2.5 APIs"
We're currently using v2.2 which will be supported until March 25, 2017, where v2.5 will be supported until at least until April 2018.

https://developers.facebook.com/docs/apps/changelog

RE: https://github.com/aspnet/Security/issues/92

In the process we should verify we're exposing the needed APIs for these scenarios: https://github.com/aspnet/Security/issues/365,

[2015-11-04 19:23] rsantosdev commented on #548
+1

[2015-11-04 20:30] Tratcher opened #566 "Update Google API endpoints"
RE: https://github.com/aspnet/Security/issues/92
https://developers.google.com/identity/protocols/OAuth2WebServer
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Google/GoogleDefaults.cs
`TokenEndpoint = "https://accounts.google.com/o/oauth2/token";` -> `https://www.googleapis.com/oauth2/v3/token`

The others look ok. https://developers.google.com/+/web/api/rest/lat

[2015-11-04 21:05] TJSoftware opened #567 "Trouble getting authentication to work"
### Summary
I downloaded the samples from https://github.com/aspnet/Security/tree/dev/samples.  Using DNVM I restored each project individually using `dnu restore`.  In each case I was unable to restore the DNXCore dependencies.  See NotFound list below.  I then tried a project from scratch.  When doing this I am able to get past the dependency restore however I run into an error that seems to be

[2015-11-04 21:55] Tratcher commented on #567
When you say you downloaded the samples, do you mean that you downloaded them as a zip or something?  Using git clone is a much more reliable way to get the sources and keep them in sync. From there, try running build.cmd in the root of the repo.

[2015-11-04 21:55] HaoK commented on #335
dc6e916bd465628c3e6441925cdb16239a0b82b9

[2015-11-04 21:55] #335 closed

[2015-11-04 21:58] HaoK commented on #564
A policy is a collection of requirements which must ALL be satisfied.  But you can certainly have a single requirement that can succeeds in several different ways.

[2015-11-04 22:18] TJSoftware commented on #567
I did a download of the zip due to issues with GitGui working with local merge (I am still working that out).  I did download the zip today though.

[2015-11-04 22:24] cherrydev commented on #564
Yes, of course you can.  The question is if that approach leads to design patterns that are practical for real-world applications.

For example, a common concern in a lot of applications is to allow an action to occur if the user is EITHER a sysadmin/superuser OR the owner of a resource.

The AuthorizationPolicyBuilder provides very tidy and expressive configuration methods that handle most common

[2015-11-04 22:45] TJSoftware commented on #567
I gave up on GitGui and used Bash.  Once I did that and repeated the steps I went through my same steps again and saw 'Hello First Timer' then refreshed and I saw 'Hello old timer'.  I see how this is what the code is programmed to do now, however I am still looking for something that would restrict me from seeing 'Hello First Timer' till they entered a user/pass in a form.  Is this the appropriat

[2015-11-04 22:48] Tratcher commented on #567
The best examples of form login are in the VS templates (beta8 tooling). In VS create a new ASP.NET 5 Web Application project.

[2015-11-04 22:50] TJSoftware commented on #567
Ahh, ok, thanks for the tip and getting me past the errors I was seeing.

[2015-11-04 22:50] #567 closed

[2015-11-04 23:10] blowdart commented on #564
We view this somewhat differently.

We view access as a single requirement, for example Edit. The Edit requirement has multiple ways to fulfill it, This user is an administrator or this user owns the resource.

So you write multiple handlers for the resource/operation; e.g.

[code]
This checks for an admin

Then you have the following to check the resource owner (here I'm assuming there's an owner

[2015-11-04 23:51] HaoK commented on #297
@leastprivilege After playing around with this some, I actually think this is no longer the right thing to do.  The intent of the current design is for the requirements to be basically data and simple.  The handlers are the consumers of the requirements and already live in DI and can depend on services.  So if you need a service to process a particular policy/requirements.  You can do that today a

[2015-11-04 23:56] cherrydev commented on #564
Thanks for having this discussion with me and I understand that documentation is in the process of being written.

In your example, I assume that `EditRequirement` is just an empty class with the `IAuthorizationRequirement` marker interface on it.  Correct?

This sounds like you're treating the `IAuthorizationRequirement` (let's just call it a requirement) as an abstract requirement: "The requirem

[2015-11-05 00:03] HaoK commented on #564
I think you have summarized everything correctly above.  The PolicyBuilder is how you register policies.  It has some sugar for the common operations like including simple requirements that look for particular claims, but in general you will be directly adding your own `IAuthorizationRequirements` mostly.

To clarify the split.  You can think of the requirement as the operation that was requested.

[2015-11-05 00:05] HaoK commented on #564
At the end of the day policies are just a convienent package of requirements, that must all be fulfilled together.  The core authorizaion services interface is

`Task<bool> AuthorizeAsync(ClaimsPrincipal user, object resource, IEnumerable<IAuthorizationRequirement> requirements)`

[2015-11-05 04:18] cherrydev commented on #564
Okay, you've described what a requirement is.  So what's a policy, then?  How fine-grained are policies envisioned as being?  One per app, containing a requirement for every single operation that might happen?  One per controller, dealing with a single resource?  Every single requirement in a policy is checked and has to explicitly pass whenever an action is protected by a policy, therefore I don'

[2015-11-05 04:18] cherrydev commented on #564
(whoops, hit "Close and comment accidentally")

[2015-11-05 08:22] HaoK commented on #564
The intent was to make everything flexible and compose-able.  Policies are just meant to be a collection of requirements which must be satisfied together, nothing more.  Its literally meant to be sugar for doing a logical AND across requirements, and also hangs the ability to filter which authentication schemes take part in producing the identity.  You are free to build an uber requirement if you

[2015-11-05 16:09] TJSoftware commented on #567
For others that install VS you may be using older templates.  In my case I had beta5 templates and they did not run correctly even after running `dnvm update-self` and repointing all the dependencies.  There are also changes in the class files.  I am sure it is possible to manually upgrade the beta5 templates to work, but save yourself a headache and just upgrade to the new templates.

To upgrade

[2015-11-05 21:15] HaoK opened #569 "Consider making AutomaticAuthenticate true by default for Cookies"
Now that we split the automatic flags, cookies can probably default to true in most cases, as its almost always the desired behavior when using only a single application cookie.

[2015-11-05 22:01] slaneyrw commented on #551
If it is moved then I'll get able to build a TOTP token provider to support the standard authenticator apps, like Google Authenticator.  It is currently not possible to use the base provider that the Email and Phone token provider uses (TotpSecurityStampBasedTokenProvider) as it adds additional entropty ( UserModifier ) that I cannot easily override, but it also hardcodes the timestep at 3 minutes

[2015-11-06 05:57] hajjat commented on #435
Hi, I'm hitting the same issue. Were you guys able to find any workarounds? Thanks!

[2015-11-06 17:46] #552 closed

[2015-11-06 18:31] Tratcher commented on #569
Is Identity the odd one out where it uses multiples? Or is this safe even with multiples?

[2015-11-06 18:34] HaoK commented on #569
Yeah, identity and templates use multiples for TFA and external login cookies.  Even there, nothing stops working even if all of the cookies got mushed into the claims principal.  But it just bloats the cookie, so we would still turn it off there.  I think we are okay flipping back now with challenge split.  @davidfowl had some concerns that we made this too complicated with the additional flag, s

[2015-11-06 20:10] PinpointTownes commented on #569
Personally, the biggest concern I have with that is the risk of seeing a subtle XSRF attack in apps mixing both "Web API" and "MVC" controllers, since a Web API controller would accept both cookies and bearer authentication.

[2015-11-06 23:13] MikeWasson commented on #548
@rsantosdev Scope is now a list. The property itself is read-only but you can add/remove scopes from the list.

    options.Scope.Add("phone");
    options.Scope.Add("address");

[2015-11-07 00:22] bcbeatty opened #571 "I would like Security to support a N-Tier or Onion Architecture via Data Access Layer and Domain Layer"
I architect my solutions using an Onion Architecture or N-Tiered, where I want all data access performed in an Infrastructure or data access layer/assembly. Domain data or data transfer objects are POCOs in a Domain layer or assembly. Business logic is in business layer/assembly and a client layer.

How do I fit Aspnet security into a model such as this?
A use case could be data store for security

[2015-11-07 09:33] jgsousa commented on #548
Sorry for not putting the answer, but yes it became a List. I found just after opening the issue.

[2015-11-07 15:48] Jayman1305 commented on #435
@hajjat @AlexTo @MikeWasson   I got it to work in beta8 by changing the configuration to
app.UseFacebookAuthentication(options =>
            {
                options.AppId = "xxx";
                options.AppSecret = "yyyyy";
                options.Scope.Add("user_about_me");
                options.Scope.Add("user_location");
                options.Scope.Add("email");
                options.

[2015-11-09 20:25] dynamiclynk opened #572 "beta 7 > beta 8 - JWT SecurityTokenValidators"
So prior to Beta 8 in Beta 7 I had the below code in my StartUp.ConfigureServices method, but since the Bearer configuration was moved to the Configure method, the **ValidateToken** in my Custom JwtTokenValidator no longer fires.

**This is what I had prior to beta 8**

        public static void ConfigureTokenValidation(IServiceCollection services, string appName)
        {
            services.C

[2015-11-09 20:29] Tratcher commented on #572
Have you tried calling `config.SecurityTokenValidators.Clear()` first to remove the default validator. https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.JwtBearer/JwtBearerOptions.cs#L103

[2015-11-09 20:33] dynamiclynk commented on #572
@Tratcher You are my hero :) Yep all good now. closed.

[2015-11-09 20:33] #572 closed

[2015-11-10 22:44] #297 closed

[2015-11-11 11:13] sunsided commented on #555
It is also in all of the JWT Token validation events where it absolutely doesn't matter if you call `context.HandledResponse()` with no ticket set (crashes due to `null` ticket) or call `context.SkipToNextMiddleware()` where it crashes because the caller code passes a `null` ticket explicitly.

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.JwtBearer/JwtBearerHandl

[2015-11-11 20:42] chris02031 commented on #435
@Jayman1305 Thanks for posting your solution, works a treat.

[2015-11-12 12:28] janpieterz opened #574 "Consider adding a sample using the JWT authentication"
I've been trying to implement this and am currently basing the implementation on some loose issues that show code of people implementing this. It would be very helpful if either the docs or this repository had a valid way of handling JWT tokens.

I realize it's probably an extensive topic, but a minimal implementation could be linking to a couple of good explanatory articles and then pointing towa

[2015-11-12 22:44] brentschmaltz commented on #430
We are trying to get JWE on the schedule, no timeline yet.

[2015-11-12 23:13] HaoK commented on #564
If you have any further questions feel free to reply here

[2015-11-12 23:13] #564 closed

[2015-11-12 23:14] #560 closed

[2015-11-12 23:15] #559 closed

[2015-11-12 23:16] HaoK commented on #554
Please reopen if you can reproduce this.

[2015-11-12 23:16] #554 closed

[2015-11-12 23:23] blowdart commented on #571
So I've re-read this a bunch of times and cannot understand the question.

Are you asking about using Authorization with identity data sourced in a database somewhere? Are you asking about authentication from from custom source? When you say "security" what do you actually mean? What does "data store for security" mean?

[2015-11-12 23:23] HaoK commented on #411
Please file an issue

[2015-11-12 23:25] #518 closed

[2015-11-12 23:32] HaoK commented on #348
This is no longer an issue because we require a callback path now, so each middleware can have its own path.

[2015-11-12 23:32] #348 closed

[2015-11-12 23:50] brentschmaltz commented on #526
Since expires_in is a relative term, it is difficult to determine when the item has expired. expires_at is easier to work with.

[2015-11-12 23:51] brentschmaltz commented on #574
@janpieterz  https://github.com/AzureADSamples have many samples showing how to validate a JWT.

[2015-11-13 15:58] bcbeatty commented on #571
I would like to see Authentication Authorization and Identification (AAI) to be in a Business assembly/project and/or a Cross Cutting Assembly, so that I can incorporate business rules for AAI.
An ApplicationUser subclass to be in my Domain assembly.
**All** data access to be in a Data Access or Infrastructure assembly so that IdentityDbContext<ApplicationUser> would only referenced within in my d

[2015-11-13 19:28] HaoK commented on #569
de107ffe61d15c7074fc56fa1da6428e3c0e7de1

[2015-11-13 19:28] #569 closed

[2015-11-13 19:42] blowdart commented on #569
This needs to tie into MVC work around not binding form POST to webapi controllers. @rynowak

[2015-11-13 19:51] HaoK commented on #569
So just to be clear, identity was already turning this to true today.  So this doesn't really have much practical effect except for changing the default when directly using cookie middleware

[2015-11-15 20:16] brockallen opened #575 "[Authorization] Consider base class to make building custom policies/requirements easier"
The authorization system is quite nice, but complex given the type checking for authorization handlers and authorization requirements. When building custom authorization handler/requirement logic, it's a tad complex/confusing to be required to build a class such as this:

[code]

I'd like to see a easy base class to encapsulate this policy based approach in some way (with the assumption this class

[2015-11-16 14:43] mikeandersun opened #576 "The dependency Microsoft.AspNet.Authentication.OpenIdConnect 1.0.0-rc2-16009 does not support framework .NETPlatform,Version=v5.4"
I add this dependency to my project and get this error:
Error NU1002	The dependency Microsoft.AspNet.Authentication.OpenIdConnect 1.0.0-rc2-16009 in project xyz does not support framework .NETPlatform,Version=v5.4.

[2015-11-16 17:01] Tratcher commented on #576
Are you using an RC2 DNX?

[2015-11-16 19:52] mikeandersun commented on #576
Yes

[2015-11-16 22:02] HaoK commented on #575
That sounds reasonable to me, we started without the requirement/handler split initially, and I agree that it simpler in many situations and worth a little additional sugar...  I'll take a look

cc @blowdart @lodejard @divega

[2015-11-18 06:32] dotnetshadow commented on #435
you can't get user_birthday using the same technique

[2015-11-18 08:15] chris02031 commented on #435
@dotnetshadow

First and last name come in as a single, combined field... it's just called 'name' if I remember - check the returned claim object. It's already there.

You only get an age range by default. You've gone through the review process with Facebook to have your app specifically granted access to request birthdays right? (even this may not include year).

[2015-11-18 10:40] Jayman1305 commented on #435
@dotnetshadow You won't get birthday without additional authorisation. Test out the data you want in the graph explorer to see what you can get. https://developers.facebook.com/tools/explorer/
If it try it on my apps for the field, i get a expiation like this. Note the oath exception if i try access me?fields=id,name,user_birthday. Always try check in GraphExplorer first to see permissions.
{
  "e

[2015-11-18 21:35] Fosol opened #580 "Documentation / Tutorial Request"
I'm working on a project where I need to authenticate and authorize users so that they have access to numerous MVC applications and APIs.

I was planning to use Oauth, however I'm running into a wall trying to figure out how to implement it.  The solution is internal and can not use 3rd party Oauth providers.

I need to create a simple Oauth Server that validates user credentials using Microsoft.A

[2015-11-18 22:01] blowdart commented on #411
I'm actually OK with SecureDataFormat swallowing exceptions.

[2015-11-18 22:03] Tratcher commented on #411
Yes, but I suppose it could also use a Try pattern as failures are expected.

[2015-11-18 22:25] rustd opened #581 "Question about ITicketStore and ApplicationCookie.SessionStore injection"
Moving this bug from https://github.com/aspnet/Identity/issues/624
@Schlurcher FYI

[2015-11-18 22:38] PinpointTownes commented on #580
Unlike OWIN/Katana, ASP.NET 5 offers no native authorization server (you can take a look at http://stackoverflow.com/questions/29055477/oauth-authorization-service-in-asp-net-mvc-6/29144031#29144031 for more information).

You basically have 2 ways to achieve what you're looking for:
* You can roll your own authorization server. Of course, it's not the recommended approach, but some people like th

[2015-11-18 22:40] Fosol commented on #580
Does ASOS allow me to plug in my implementation of Microsoft.AspNet.Identity?

[2015-11-18 22:41] PinpointTownes commented on #580
Sure, it's absolutely not tied to any membership implementation (it's even up to you to implement that part :smile:)

[2015-11-18 23:21] dotnetshadow commented on #435
@chris02031 @Jayman1305 The only way I've been able to get these fields is by using the Facebook SDK nuget package and passing the access token then I can read the fields. The only issue with this is that it's not supported in dnx core 5

[code]

Controller:
[code]

[2015-11-18 23:21] Fosol commented on #580
In your sample project Mvc.Server it appears all AuthenticationController endpoints use a 3rd party provider?  Is there an example of in-house signin validation?

[2015-11-18 23:24] PinpointTownes commented on #580
Since you're using Identity, I'd suggest using the (horrible :smile:) `AccountController` that comes with the default template. it will handle local/external authentication for you (this is exactly how the Mvc.Server sample in OpenIddict works: https://github.com/openiddict/core/tree/dev/samples/Mvc.Server).

[2015-11-18 23:47] Fosol commented on #580
1) User makes request to MVC App
2) MVC App redirects to Oauth Server /login
3) Oauth Server returns /login View
4) Oauth Server validates POST
5) Oauth Server creates token
6) ??  This is where I get lost.  I can't get the Oauth Server to correctly respond to the original MVC App.  I can redirect back to it, but it has no authentication information.

[2015-11-18 23:48] chris02031 commented on #435
Looks like you've got the .Scope additions, but you've missed extending the UserInformationEndPoint.
Does this make a difference?

options.UserInformationEndpoint = "https://graph.facebook.com/v2.5/me?fields=id,name,email<b>,birthday</b>";

[2015-11-18 23:52] dotnetshadow commented on #435
@chris02031 what I mean is when I use the facebook client I don't even have to add birthday to the userinformationendpoint because I'm able to grab it through the facebook client. But if I wanted to eliminate the Facebook client and just try reading say the first_name, last_name or birthday I haven't found a way of doing this.

[2015-11-18 23:55] PinpointTownes commented on #580
Well, the flow is a bit more complicated:

1. The client app initiates the OAuth2/OIDC request and redirects the user agent to the authorization server.

2. The authorization endpoint (`AuthorizationController.Authorize` in the default sample) detects you're not logged in and returns a 401 response, which is caught and replaced by a 302 redirect to the login controller (`AccountController` in your

[2015-11-19 16:15] muratg commented on #92
Let's have a look in RC2.

[2015-11-19 17:27] dynamiclynk opened #582 "beta8 -> rc1-final jwt signature validation fails"
I have been utilizing this same jwt signature validation code since beta6 and it has worked without issues.

Once I upgraded to rc1-final. Signature validation fails, because the payload is different on the consumer end and I can not determine why, before I start posting the Generation and Consumer code were their any rc1-final changes that could have potentially cause this issue I am encountering

[2015-11-19 19:36] TJSoftware commented on #567
Something else useful for others, [MVA](https://www.microsoftvirtualacademy.com/) taught me that you can change the authentication types on the template that you create.  When creating an MVC project the default log on type is an individual logon.  I strongly suggest going to MVA for more information.

![image](https://cloud.githubusercontent.com/assets/4823412/11281897/ed3381ec-8eb9-11e5-86f5-9f0

[2015-11-19 19:40] Tratcher commented on #582
@tushargupta51 I think this belongs in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2015-11-19 23:07] HaoK commented on #512
620622f260ba235c864d753262c0e6e923db93a5

[2015-11-19 23:07] #512 closed

[2015-11-20 00:11] Eilon commented on #526
Is this about changing the default value of `SaveTokensAsClaims` to `false` only for the OIDC provider? But perhaps leaving it `true` for the other providers (e.g. OAuth)?

As an aside, we also need to promote this property into `RemoteAuthenticationOptions` because all the current sub-classes of that type independently add the property.

[2015-11-20 00:17] Eilon commented on #576
@pranavkm looks like we missed updating the TFMs in this repo. Can you update this repo and also check if we missed any other repos? Basically scan all the NuGet packages we ship and see if `dnxcore50` show up in them.

[2015-11-20 05:26] dynamiclynk commented on #582
I was able to resolve the issue using following code. I will validate this works using the JwtSecurityToken ctor, and if so I will close this.

 private static SecurityToken SignatureValidator(string token, TokenValidationParameters validationParameters)

    {

            var authRepo = new AuthModelRepository();
            var authClient = authRepo.GetAuthClientByOAuthClientID(validationParame

[2015-11-20 20:23] louislewis2 commented on #411
Guys, having an issue like this one present for RC seems terrible. We are in preview with customers and due to this error, we are receiving a lot of flack. Can we please prioritise this fix?

[2015-11-23 03:57] airomero opened #583 "Question about Claims Transformation and CookieAuthentication"
Hi, until MVC5 i used to get and refresh the user's claims like this:

             app.UseCookieAuthentication(new CookieAuthenticationOptions
            {
                SlidingExpiration = false,
                CookieName = "xxxx",
                ExpireTimeSpan = TimeSpan.FromHours(2),
                Provider = new CookieAuthenticationProvider
                {
                    OnRespon

[2015-11-23 22:25] Fosol commented on #580
@PinpointTownes I was hoping you could help me out.

I've create a example solution and posted it on GitHub - https://github.com/Fosol/Example.OauthServer

This of course doesn't work yet.  Essentially I want to have a MVC client application redirect logins to the MVC server application which will use our custom Identity implementation to login and provide tokens.

My experience with Oauth is on t

[2015-11-23 23:49] PinpointTownes commented on #580
@Fosol I took a look at your solution and TBH, I can't understand what you're trying to do.
If you don't feel comfortable with the protocol, why rolling your own OAuth2 server instead of using a ready-to-use solution?

[2015-11-24 00:02] Fosol commented on #580
Good question.  Sometimes it's not so much about comfort and more about requirements.

There is a lot of configuration in the Startup that I can't find any documentation or tutorials on to fully understand.  I'm spending a lot of time stepping through the code (which is fine, but time consuming).

I was reviewing some of the examples you have provided.  I found the code useful but I didn't see how

[2015-11-24 00:35] PinpointTownes commented on #580
Yes. Btw, that's exactly how the default Mvc.Server/Mvc.Client samples work. Don't hesitate to give them a try to see how they work :smile:

[2015-11-24 15:04] Fosol commented on #580
@PinpointTownes When I open up the example solution it displays tons of errors.  I think they're all to do with DNX Core 5.0.

1) Is there a way to disable DNX Core 5.0 temporarily?
2) Is there a way to possibly resolve all the errors VS is displaying?

Lots of errors are saying they don't support Core 5.0.

[2015-11-24 15:07] Fosol commented on #580
@PinpointTownes Will your example solution work in beta8?

[2015-11-24 15:19] PinpointTownes commented on #580
@Fosol you need the latest DNX runtime to open ASOS (RC2). Which version are you currently using?

The samples coming with the main project require the latest runtime/packages. They won't work with beta8. That said, you can clone the samples and use the official release for beta8: https://www.nuget.org/packages/AspNet.Security.OpenIdConnect.Server/1.0.0-beta3. It will probably need some tweaking t

[2015-11-24 16:18] Fosol commented on #580
@PinpointTownes Regrettable all I get is a lot of red underlining in your code.  Not sure if there is a quick bit of advice that might help me actually step through your code.

[2015-11-24 16:21] Fosol commented on #580
@PinpointTownes Regrettably I can only get red lines under nearly every file.

I've installed DNVM 1.0.0-rc1-final.

[2015-11-24 16:24] PinpointTownes commented on #580
You need the **latest DNX RC2 nightly build** (from https://www.myget.org/gallery/aspnetvnext) :smile:
Just run `dnvm upgrade -u -r clr` and it will install that for you.

[2015-11-24 16:42] Fosol commented on #580
@PinpointTownes I hate to be a constant bother, but dependency issues with the new DNX structure have been a constant nagging problem over here.  I'm sure lots of these issues are the direct result of a unreleased product that is constantly change.  I however haven't figured out how to resolve many of them consistently.

I've installed DNVM 1.0.0-rc2-16177 clr x86.
I've run dnu restore.
I get a lo

[2015-11-24 16:56] PinpointTownes commented on #580
These errors are often transient. Have you tried running dnu restore again?

[2015-11-25 00:24] Tratcher commented on #555
This is on me to create a sample and test for Skip so we can properly implement it across the stack.

[2015-11-25 16:04] #580 closed

[2015-11-26 17:26] adrianhara opened #586 "Request email from Facebook auth"
Hi,

I noticed that the Facebook call in CreateTicketAsync doesn't return the user's email. The code in CreateTicketAsync does try to get the email from the payload, but it's not there.

I think the problem could be solved by specifying the "fields=email,..." in the query to the UserInformationEndpoint. I'd be happy to submit a PR for this, but before I try I wanted to ask if maybe I'm missing som

[2015-11-26 17:33] GuardRex opened #587 "Broken going to rc1-final but can't find matching breaking change annoucement"
I broke going to `rc1-final`. This used to work ...

![capture](https://cloud.githubusercontent.com/assets/1622880/11428445/5933e90c-9420-11e5-9d81-0a3a367206c9.PNG)

... but I seem to have lost the `Notifications` extension method, and I can't find `OpenIdConnectAuthenticationNotifications`, which might just be due to a wrong package ref (but there is no potential fix package recommendation by VS

[2015-11-26 17:58] davidfowl commented on #587
/cc @Eilon @HaoK @Tratcher

AFAIK it was renamed to Events

[2015-11-26 18:00] GuardRex commented on #587
I'll give that a shot.

[2015-11-26 18:05] GuardRex commented on #587
Yes ... Events ... I guess it was supposed to be obvious so it didn't make the announcements. Next, I just need to get `IOpenIdConnectConnectEvents` in there, and I should be ok.

[2015-11-26 18:38] GuardRex commented on #587
Looks like this is the new way ...
[code]
Also,
[code]
... has become ...
[code]
Maybe an announcement for these changes? That's rather different from before, and searching for `Notifications`, `OpenIdConnectAuthenticationNotifications`, or `OpenIdConnectAuthenticationDefaults` didn't help.

[2015-11-26 18:38] #587 closed

[2015-11-26 23:18] Fosol commented on #580
@PinpointTownes I was finally able to get everything up and running.

Is there an example of how to turn on NTML?

[2015-11-26 23:49] PinpointTownes commented on #580
@Fosol nope, sorry.

That said, it shouldn't be really different from adding any other external provider. I'm sure @Tratcher has a sample demonstrating how to use Windows authentication :smile:

[2015-11-26 23:59] Fosol commented on #580
If I turn on "Enable Windows Authentication" on the project property wizard page the program crashes.  When I leave it off the program runs.

[2015-11-27 00:07] PinpointTownes commented on #580
@Tratcher is definitely the right person to ask :smile:

I guess you're using the RC1 tooling?

[2015-11-27 15:49] Fosol commented on #580
@PinpointTownes I've posted a new Github repository with a running version of AspNet.Security.OpenIdConnect.Server.

GitHub - https://github.com/Fosol/Example.Oauth

In the AuthenticationController I've added a way to Login using the default implementation of Microsoft.AspNet.Identity.

What I don't understand is how ASP.NET 5 is expecting to submit the appropriate oauth token and return it to the

[2015-11-27 17:47] PinpointTownes commented on #580
The authorization response (with the access token) is applied when calling `SignInAsync`: https://github.com/Fosol/Example.Oauth/blob/master/src/Example.Oauth.Server/Controllers/AuthorizationController.cs#L172-L174

FYI, cloning the repository and using it as-is is strongly discouraged. Instead, you should reference the official beta4 release (for ASP.NET 5 RC1): https://www.nuget.org/packages/Asp

[2015-11-27 18:39] jods4 opened #588 "Cookie auth always returns 302 Found"
I upgraded from beta-7 to rc1.
Following the work done in issue #458 I rewrote my code like this:
[code]

But when sending an HTTP request without the auth cookie, I receive a 302 found that has Location set to login page rather that 401.

Putting a breakpoint in my delegate, it seems it is not called at all (makes sense then...).

What am I doing wrong?

[2015-11-27 18:39] Fosol commented on #580
I'm trying to step through the code to understand it all, that's the reason I've copied the code into the project.  I also needed it to run in RC1, all I had reference to was your earlier post on GitHub which was using the most recent nightly builds.

[2015-11-27 19:58] jods4 opened #589 "More efficient Authentication ticket serialization"
Serialized auth tickets can grow fairly large very quickly, even in basic scenarios. If you have moderately many roles, they all get serialized with the long claim type name and that's how your tickets becomes several Ko in size before you even know it.

In the common scenario where a ticket has a few of roles, today each one is adding more than 60 bytes just for its name (unencoded, actually more

[2015-11-27 23:38] brockallen commented on #589
Where did you see this guidance?

As to your issue -- I think the general consensus is that if you're putting that many claims into the cookie, then you might be designing your system incorrectly. Claims in the cookie should be identity data, not permissions data. You then use the identity data at runtime to locate additional data you at need for authorization. Additionally, you can always add cla

[2015-11-28 00:03] Tratcher commented on #589
@brockallen I assume by session he's referring to this: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Cookies/CookieAuthenticationOptions.cs#L156-L160

[2015-11-28 00:18] jods4 commented on #589
@Tratcher yes, this is what I was referring to.

@brockallen
At the extreme you can say that "identity data" should just be an id and I should cache everything and we're at the `SessionStore` solution. No need for more, right?

I'm doing what ASP.NET makes me do naturally. So maybe there's a design issue here?

- ASP.NET loves to handle permissions with roles. That's how it's been historically don

[2015-11-28 00:19] brockallen commented on #589
Yea @Tratcher, if that's what he's referring to then it's misguided to think that means session state.

[2015-11-28 00:22] brockallen commented on #589
Well, I write lots of ASP.NET code and it doesn't make me do that :)

Perhaps you mean the templates? If so, then you may be onto something...

But as for roles -- look into the new policy-based and resource-based authorization systems. They've put good effort into helping you properly separate identity from permissions.

ASP.NET and the [Authorize] attribute still supports roles for backwards com

[2015-11-28 00:26] brockallen commented on #589
Also, as for why session state is so bad, here's some of it: http://brockallen.com/2012/04/07/think-twice-about-using-session-state/. Again, I think there's general consensus that the traditional session state is not an ideal mechanism for state management.

The session interface @Tratcher linked is unrelated (but could be implemented in terms of session state, I suppose... I shudder at the though

[2015-11-28 00:35] tugberkugurlu opened #590 "JwtBearer projects targets dnx451 and dnxcore50"
I believe it should target net451 and dotnet5.4.

[2015-11-28 00:35] jods4 commented on #589
@brockallen `SessionState` can make you think about session, right?
But indeed the default implementation is a `MemoryCache` which is not that bad, I agree.

No, I mean the 3 bullets points I wrote above.

Yes, and it's convenient. I know a role is just a basic "you have it or not" claim and that's fine by me. Is it an official MS message that they're for migrating old project and should be obsole

[2015-11-28 00:56] brockallen commented on #589
Well done authorization has always been a challenge. Also, you have to keep in mind that the original design of the role-based system was really .NET 1.0's doing back in ~2002 (and no so much ASP.NET pushing you info any particular way) when active directory users and groups was the assumed security model. The world has changed since then -- apps need more than just roles to make authorization dec

[2015-11-28 09:10] leastprivilege commented on #589
That's not poorly explained at all. I wish the docs would express that as clearly as you did. Maybe Microsoft should copy that explanation

Sent from my iPad

[2015-11-28 14:03] jods4 commented on #589
@brockallen Thanks for your time writing all of this but (no disrespect) you didn't really answer my question and are out of topic. This issue is about serialized size of auth tickets.

I know well enough the various models and as I mentioned briefly previously (because it's irrelevant to this ticket) I'm not using the "Roles" directly in the way you think. I called them "Roles" in the ticket beca

[2015-11-28 14:14] brockallen commented on #589
Nope, none taken. It's a good conversation. Half of what I'm saying is tacitly directed at Microsoft (but I'm sure they know that -- they're smart folks).

Well, I think I did -- the suggestion was to not put as many claims into the cookie/ticket. That's not an infinite resource, so don't treat it like one.

So I guess all the stuff I've posted on this thread wasn't directly addressing how to make

[2015-11-28 21:43] Eilon commented on #590
@pranavkm any chance you can do a scan of all `src/**/project.json` files in the org and see if others need fixing?

[2015-11-29 19:41] jods4 commented on #589
But you have to store the information somewhere, right? Even if you switch your mental model, for the same amount of flexibility the same amount of information is required. And then you have to persist it somewhere.

So unless I miss the point, _"not put as many claims into the cookie"_ translates to "recompute permissions at each request" or maybe "fetch them from a cache".

Which are fine option

[2015-11-29 21:36] tugberkugurlu opened #591 "Obtain dependencies through RequestServices, not through options"
I can see that dependencies like [`ITicketStore`](https://github.com/aspnet/Security/blob/409b50269a9d85618a31f84a3ffc2868abb3eeea/src/Microsoft.AspNet.Authentication.Cookies/ITicketStore.cs), [`ISystemClock`](https://github.com/aspnet/Security/blob/409b50269a9d85618a31f84a3ffc2868abb3eeea/src/Microsoft.AspNet.Authentication/ISystemClock.cs) are [being set through the options](https://github.com/a

[2015-11-30 10:51] PinpointTownes commented on #591
:-1: for `ITicketStore` (as resolving it from the DI container would affect every instance of the cookies middleware in a same application) but :+1: for `ISystemClock` :smile:

[2015-11-30 11:38] tugberkugurlu commented on #591
@PinpointTownes you have hit my second frustration: https://github.com/aspnet/HttpAbstractions/issues/492

To me, that should be the part that needs fixing too and `ITicketStore` should be retrieved from `RequestServices` unless there is another compelling reason.

[2015-11-30 11:57] PinpointTownes commented on #591
This part is far trickier to "fix" than you might think :smile:

We had a very interesting discussion with @MartinJohns a while ago about this specific question and we ended up creating a new set of extensions to support such scenarios (`Isolate` and `IsolatedMap`). https://github.com/aspnet-contrib/AspNet.Hosting.Extensions/blob/dev/src/AspNet.Hosting.Extensions/HostingExtensions.cs

We use `Isol

[2015-11-30 12:02] tugberkugurlu commented on #591
@PinpointTownes yes, it's not easy to change this right now, I get that but it doesn't mean it shouldn't.

[2015-11-30 18:47] Fosol commented on #580
@PinpointTownes Is there any documentation on the following;
1) How ChallengeResult works?
2) How to implement custom login form?

I'm having a hard time understanding the technical flow within ASP.NET 5.

[2015-11-30 18:59] Fosol commented on #580
[code]
The request after a custom login form always null since all the original request information containing client_id and other details is no longer in scope.  I'm not sure how to ensure this gets reattached after the post with the users credentials.

[2015-11-30 19:28] PinpointTownes commented on #580
1) How ChallengeResult works?
2) How to implement custom login form?

I'm not sure the documentation for these 2 things is ready yet. (/cc @Rick-Anderson)

The best approach is to flow the OIDC request parameters directly in the request form. If your authentication process is too complex for that, consider using `unique_id` to retrieve the OIDC request from the distributed cache: https://github.co

[2015-11-30 20:01] #411 closed

[2015-11-30 21:28] Fosol commented on #580
@PinpointTownes Any example on how to use retrieve the OIDC request parameters with the unique_id?

In your sample it's at this point that I lose the OIDC since it redirects to my custom login page: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/vNext/samples/Mvc/Mvc.Server/Controllers/AuthorizationController.cs#L53

My custom login controller now needs to get the OIDC

[2015-11-30 23:21] Tratcher opened #593 "[Samples] Extract IDP settings to config / user-secrets"
Currently all the samples hardcode app specific IDs like clientId, client secret, etc..
[code]
Consider moving these to config / user-secrets. Compare to:
https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect/blob/master/WebApp-OpenIDConnect-DotNet/App_Start/Startup.Auth.cs#L42

[2015-11-30 23:39] Fosol commented on #580
@PinpointTownes I've been able to get an example working, which is great.  Thanks to all the work in your example.

Question - How do I support a resource server on a different domain?

[2015-11-30 23:47] PinpointTownes commented on #580
It's transparent: simply call `GetOpenIdConnectRequest()` and it will return the request from the cache (assuming the current request path corresponds to the authorization endpoint, of course).

Fantastic. Glad you sorted it out! :clap:

In the current version, simply create a new app and add the JWT bearer middleware to your pipeline. In the next version, we'll stop using JWT access tokens and go

[2015-12-01 16:29] latvalam opened #594 "OpenIdConnect middleware does not create a pricipal after successful authorization"
### Functional impact
Authorized user cannot access resources.

### Minimal repro steps
1. Create a simple MVC application that authenticates against an idP. I'm using IdentityServer3 v2.1.
2. Open the app. It should redirect to the authority
3. Authenticate

### Expected result
A principal with IsAuthencticated set to true is created and OpenIdConnect raises (among others) the SecurityTokenValida

[2015-12-01 18:10] Tratcher commented on #594
Uploading your full repro project to a github repo would help.

Side note: UseDeveloperExceptionPage should be put first in Configure.

[2015-12-01 18:40] #576 closed

[2015-12-01 18:40] pranavkm commented on #590
Fixed in https://github.com/aspnet/Security/commit/0db9a16c915ba5e686f6e001af82853edca63e09

[2015-12-01 18:40] #590 closed

[2015-12-01 19:12] Eilon commented on #582
@tushargupta51 have you had a chance to take a look at this? Does this issue belong in the AzureAD repo?

[2015-12-01 19:21] PinpointTownes commented on #594
My first guess: you're manually setting `context.ProtocolMessage.RedirectUri` with a value that differs from the default callback path (`/default` vs `/signin-oidc`), which prevents the OIDC middleware from handling the OIDC response returned by IdSrv.

Try removing that or set `CallbackPath` with the appropriate path (`/default`), and it should work :smile:

[2015-12-01 21:27] tushargupta51 commented on #582
@Eilon sorry I was out for last couple of weeks, didnt get a chance to look at this. This seems to belong  to azuread repo. @dynamiclynk can you move this issue here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet? Also, can you share the token generation and validation code?

[2015-12-02 08:05] latvalam commented on #594
D'oh! Setting the CallbackPath did the trick. :flushed:

How are dynamic redirect uris handled now? Before the rc1 they used to work by simply setting DefaultToCurrentUriOnRedirect = true. Do I need to somehow resolve tenant already in the middleware options? In our implementation the tenant is resolved from the request by matching to an uri template like `http://notarealserver.com/{tenant}` or `h

[2015-12-02 16:04] Fosol commented on #580
@PinpointTownes I've attempted to pull down the NuGet package you referenced here (https://www.nuget.org/packages/AspNet.Security.OpenIdConnect.Server/1.0.0-beta4) into a project I want to now test with.  There however appears to be an extension method missing "AddOpenIdConnectServer".

Is it no longer needed?

[2015-12-02 16:10] PinpointTownes commented on #580
Hum, not sure where you've seen this extension, as it has never existed :smile:

Just ensure that both the authentication and the caching services (`services.AddAuthentication()` + `services.AddCaching()`) are added and it should work.

[2015-12-02 16:12] Fosol commented on #580
Thanks!

[2015-12-02 17:09] Tratcher commented on #565
"[Oauth Access Token] Format - The response format of https://www.facebook.com/v2.3/oauth/access_token returned when you exchange a code for an access_token now return valid JSON instead of being URL encoded. The new format of this response is {“access_token”: <TOKEN>, “token_type”:<TYPE>, “expires_in”:<TIME>}. We made this update to be compliant with section 5.1 of RFC 6749."

[2015-12-02 18:26] Tratcher commented on #435
https://developers.facebook.com/docs/apps/changelog

[2015-12-02 18:48] #565 closed

[2015-12-02 18:48] #435 closed

[2015-12-02 19:48] Tratcher opened #600 "Update Twitter AuthenticationEndpoint"
https://github.com/aspnet/Security/issues/92
http://katanaproject.codeplex.com/workitem/434

The authentication endpoint for Twitter is currently:

    https://twitter.com/oauth/authenticate

As per [Twitter's docs](https://dev.twitter.com/oauth/reference/get/oauth/authenticate), it should be:

    https://API.twitter.com/oauth/authenticate

The current endpoint causes mobile devices to incorrectl

[2015-12-02 20:40] Fosol commented on #580
@PinpointTownes I'm not sure what I changed to break the resource request, but now it only returns a 500 when I attempt to get /api/message.  Is there a way to debug the issue on the server side?  I can't seem to find a spot to place a breakpoint.

[2015-12-02 21:02] Fosol commented on #580
It's related to the AuthorizeAttribute because if I remove it the endpoint can be hit successfully.

[2015-12-02 21:13] Fosol opened #602 "Exception is getting buried"
I'm attempting to get an oauth server running and at one point it was working.  I however did the vs2015 updates and a lot of stuff changed.

Essentially I have an endpoint that has the AuthorizeAttribute.  If I remove the attribute I can get to the endpoint.  However with the attribute the server returns a useless 500 exception.

Everything else appears to be working.  I can login and receive tok

[2015-12-02 21:21] PinpointTownes commented on #580
Try enabling logging to determine the exception causing the 500 response.

[2015-12-02 21:26] PinpointTownes commented on #602
FYI, the JWT bearer middleware shouldn't throw in the latest bits: https://github.com/aspnet/Security/issues/411 for more information.

[2015-12-02 21:36] Fosol commented on #602
I'm gathering something is wrong with the token since it's throwing a 500.  Which means I've configured something wrong most likely.

Client
[code]
Server
[code]
I've been able to debug up to and past "InvokeCryptographyEndpointAsync" but after that it disappears into the DNX void and throws the 500.

[2015-12-02 21:39] PinpointTownes commented on #602
I guess you're using RC1 (and not the nightly builds)? Try enabling logging.

[2015-12-02 21:40] Tratcher commented on #602
UseOpenIdConnectAuthentication isn't setting SignInScheme = CookieAuthenticationDefaults.AuthenticationScheme

[2015-12-02 21:49] Fosol commented on #602
The issue was in the Accept method.
[code]
I figured it was configuration.  I'm happy to hear in the future it will send a 401 instead of a 500!

[2015-12-02 21:49] #602 closed

[2015-12-02 21:53] Fosol commented on #602
Logging helped me figure it out.  Thanks again!

[2015-12-03 18:22] Tratcher commented on #594
DefaultToCurrentUriOnRedirect's behavior is now always enabled and the flag has been removed.

[2015-12-03 18:42] #600 closed

[2015-12-03 18:44] #566 closed

[2015-12-03 23:04] #594 closed

[2015-12-03 23:08] Fosol opened #603 "Default Login Route Issue"
I've set the LoginPath and it's ignored.  It continues to use the default "/account/login".
[code]
Did something change in 1.0.0-rc1-final?

[2015-12-03 23:09] Eilon commented on #591
`ISystemClock` is for internal testing purposes only and so we'll ignore that for now.

Regarding DI support in general, that's a good idea, but it's a very large change so we'll revisit this in a future release.

[2015-12-03 23:13] Eilon commented on #588
@HaoK can you try to repro this?

[2015-12-03 23:15] Tratcher commented on #586
This was just fixed: https://github.com/aspnet/Security/issues/565

[2015-12-03 23:15] #586 closed

[2015-12-03 23:20] #582 closed

[2015-12-03 23:20] tushargupta51 commented on #582
@dynamiclynk I moved this issue here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/326

[2015-12-03 23:23] dynamiclynk commented on #582
@tushargupta51 thanks.

[2015-12-03 23:26] Eilon commented on #526
We're going to change the default back to `false` because having it on by default causes too many problems. In reality, many common scenarios also need to use something like claims transformation to limit the tokens that get saved anyway, so a one-stop action often won't work anyway.

[2015-12-03 23:28] Eilon commented on #603
@HaoK can you respond to this?

[2015-12-03 23:48] HaoK commented on #603
Yeah cookies no longer share their options.  So the application cookie configuration actually live inside of IdentityOptions.Cookies.ApplicationCookie...

[code]

[2015-12-03 23:48] #603 closed

[2015-12-03 23:58] Fosol commented on #603
Is there a way to use services.Configure<MyConfigClass>(this.Configuration)?

I'd like to have these settings in an environment specific configuration file?

Is there a way to get the results of a services.Configure<MyConfigClass>(this.Configuration) immediately?

[2015-12-04 00:08] #574 closed

[2015-12-04 00:30] PinpointTownes commented on #526
Interesting. Do you have a concrete example in mind?

Personally, I'm fine changing the default value to `false` for both the OIDC middleware and the OAuth2 base middleware (all the social providers already use `false` by default: https://github.com/aspnet/Security/pull/257#discussion_r30621030), as long as `SaveTokensAsClaims` remains a first-class citizen :+1:

[2015-12-04 00:58] HaoK commented on #603
yes you can configure directly against IdentityOptions using the overload the binds to configuration

[2015-12-04 01:15] brockallen commented on #526
Perhaps some of the problems are the bloat from the protocol claims (nonce, etc). Those, most likely, can be always filtered from the claims.

[2015-12-04 14:30] Fosol commented on #603
@Haok I'm not following how to get the immediate results of the configuration.
[code]
You mention configure directly against IdentityOptions using the overload.  Do mean something like this?
[code]

[2015-12-04 18:45] Eilon commented on #526
The bloat was the main problem. Serializing the full set of claims from OIDC can be huge, and most often breaks Safari. Having different defaults amongst different providers could also be a bit confusing. We talked about filtering out certain claims but I have a feeling that might also be confusing.

[2015-12-04 21:04] HaoK commented on #603
Why do you need the immediate results of the configuration?  That's not possible, as you are just setting up the DI container here,  you can get it out in the Configure method after services are built.  Or you can directly access config and read whatever you want at this point too.

[2015-12-04 21:07] Fosol commented on #603
There are a number of things that need to be configured for DI.  Configuration often requires configuration files.

I suspect you want the middleware to use DI to get the configuration rather than get setup during the ConfigureServices method.  However I noticed that some of the middleware requires configuration in ConfigureServices and others requires in Configure.

[2015-12-06 05:51] airomero opened #605 "aspnet5 and ADFS 2"
Hello, is supported authentication with ADFS 2? I haven´t found any sample. I need to authenticate using dnxcore. If it´s not supported i think it´d be a must have since not everyone have adfs > 2 or Azure AD. Thanks!

[2015-12-06 20:17] PinpointTownes commented on #605
ADFS 2 only supports WS-Federation, which is not currently implemented in ASP.NET 5.
I will be [eventually supported] (https://github.com/aspnet/Security/issues/43), but AFAIK, there's no timeline yet.

[2015-12-06 20:24] airomero commented on #605
Thanks for the answer, i think that it´d be nice to have it before the RTM release since is a feature that the framework must have to live into the microsoft ecosystem. ADFS 2 was released years ago, yes, but the protocols it supports are standards so i think a lot of people would be very happy to have it. Thanks!!

[2015-12-06 23:18] danielcrenna opened #606 "RC1 regression for DNX5"
Hello,

Beta8 worked with moniker `DNXCORE5` but under the new moniker `DOTNET5_4` the RC1 bits are no longer compatible. The error is:

Severity	Code	Description	Project	File	Line
Error	NU1002	The dependency Microsoft.AspNet.Authentication.JwtBearer 1.0.0-rc1-final in project MyProject.Auth does not support framework .NETPlatform,Version=v5.4.	middleware.auth	C:\src\MyProject\project.json	26

[2015-12-06 23:21] davidfowl commented on #606
@danielcrenna What do you mean? Can you show the project? Are you referencing the newer versions of the packages?

[2015-12-06 23:40] Tratcher commented on #606
Duplicate https://github.com/aspnet/Security/issues/590

[2015-12-06 23:40] #606 closed

[2015-12-07 16:49] ddotlic opened #607 "[RC1] Cookie Authentication returns 401 and does not redirect to LoginPath"
I'm seeing the regression in rc1 - instead of being redirected to the `LoginPath`, cookie auth simply returns 401 and my web app "sits" there doing nothing.

This worked in beta 7 and 8.

To repro, you need to install rc1, make a new project, add `[Authorize]` attribute to the `HomeController`, then simply add `app.UseCookieAuthentication(options => options.LoginPath = "/Account/Login");` (assumin

[2015-12-07 16:51] ddotlic commented on #607
Forgot to say but of course one needs to add `Microsoft.AspNet.Authentication` and `Microsoft.AspNet.Authentication.Cookies` as dependencies to `project.json` (both version `1.0.0-rc1-final`).

I also tried switching to version `1.0.0-*` but this results in _HTTP 500 Internal Server Error_ and I can't even debug this :disappointed:

[2015-12-07 16:58] PinpointTownes commented on #607
Try setting `AutomaticAuthenticate` and `AutomaticChallenge` to `true`:

[code]

[2015-12-07 17:06] Tratcher commented on #607
This should only happen for AJAX requests. Unless you have some other auth middleware in the pipeline?

[2015-12-07 17:49] ddotlic commented on #607
We actually had `AutomaticAuthenticate` in our project, I noted it was default and did not put it in the repro project, but the thing which does the trick is actually `AutomaticChallenge` - thanks!
FYI, there was no need to put in `AutomaticAuthenticate`, nor is it necessary to set `LoginPath` (as long as `/Account/Login` is what you have), I just tried.

Weird, I did not find this (`AutomaticChal

[2015-12-07 17:49] #607 closed

[2015-12-07 19:58] Tratcher commented on #583
There are two events, OnSigningIn and OnSignedIn. Try using OnSigningIn instead.

[2015-12-07 20:23] Fosol commented on #580
@PinpointTownes I'm having difficulty signing off after I introduced my custom Identity implementation.  I was wondering if you could point me in the right direction.  I suspect it has something to cookie or authentication schema names.

Using Fiddler to watch the traffic I get the following;
1) After successful login form
Response Cookies

2) Redirects back to Client Application
Response Cookies

[2015-12-07 21:39] HaoK commented on #526
f24c35f1a93ed0d6de3cda2b4ab15906f5f6d56b

[2015-12-08 02:16] theonlylawislove opened #609 "Google Authentication "Have offline access" when it isn't required."
I am migrating a ASP.NET 4.5 MVC5 app to ASP.NET 5 MVC6.

In the old project, I was using the "Microsoft.Owin.Security.Google" NuGet package with the following code.

[code]

This worked, and Google didn't demand the "Have offline access" permission.

Now, in the new upgraded app, using the same secret and client id, it demands this non-required "Have offline access" permission. All I need is "Bas

[2015-12-08 02:26] theonlylawislove commented on #609
Turns out that I had to add at least one scope.

[code]

[2015-12-08 07:48] ddotlic commented on #607
Since I reproduced in an empty ASP.NET project, it is safe to assume that there is no other middleware in the pipeline.

Unless the default template added it, which I checked it did not :smiley:

I'll just chalk this one up to the maturity (or lack of) of the framework at this point in time.

[2015-12-08 08:54] vincez commented on #448
Sharpiro, what was the issue? I'm hitting the same error.

[2015-12-08 17:41] Sharpiro commented on #448
i think i just had an issue where i wasn't updating my token authority URL when deploying to Azure.  So it was still trying to use the localhost address.

[2015-12-09 00:35] brentschmaltz commented on #158
I'll take a peak.

[2015-12-09 11:06] thomius commented on #179
What workaround and how to apply when using .NET 4.6 (or .NET 4.5)?

@loctanvo mentioned on March 16 that downgrading to 3.0.0 fixed the issue - but does this only mean the nonce cookies? @erikbra commented on June 3 that also 3.0.0 would suffer from the redirect loops.

[2015-12-09 12:23] loctanvo commented on #179
@thomius: there are two (if not more) problems described in this issue discussion:

1. Nonce cookies are not cleared properly if the authentication requests are not completed, resulting a `Request too long` problem.
2. Eternal redirect loop due to cookie not being found.

My suggestion to downgrade to 3.0.0 will only fix the first problem, while problem 2 is somewhat unrelated.

[2015-12-09 19:35] PinpointTownes opened #611 "Split Microsoft.Owin.Security.Cookies.Interop into 2 packages"
We'd like to use the ticket serializer and the data protector adapter in the OWIN/Katana version of ASOS, but having a dependency on the cookies middleware is something we'd like to avoid. Separating the cookies extension from the rest of the package would be ideal.

https://github.com/aspnet/Security/pull/408#discussion_r38157266

https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Se

[2015-12-09 21:05] DamianEdwards commented on #478
This should've had a corresponding announcement issue created as it's a breaking change.

[2015-12-09 23:35] #555 closed

[2015-12-10 23:04] Eilon commented on #583
Closing for now. Please let us know if you still have any issues.

[2015-12-10 23:04] #583 closed

[2015-12-10 23:05] #609 closed

[2015-12-10 23:06] Eilon commented on #611
We are not planning on doing this; we recommend just copying the code as needed.

[2015-12-10 23:34] PinpointTownes commented on #611
TBH, this doesn't seem like a good idea, as the ticket serializer adapter must exactly match the one used by ASP.NET 5, which is an easy task when using an official package but rather fragile when rolling your own version.

[2015-12-10 23:53] Tratcher commented on #423
http://openid.net/specs/openid-connect-logout-1_0.html sends a sid query parama with the signout request. This needs to be cross-checked against ticket.Properties.Items[OpenIdConnectSessionProperties.SessionState] from the original sign-in.

[2015-12-11 00:24] PinpointTownes commented on #423
Attention, `sid` and `session_state` are two different things (defined by two separate specs): while `session_state` is retrieved directly from the authentication response, `sid` is flowed in the JWT identity token, as a claim.

The biggest problem will be adding Identity in the equation, as the claims and properties are not automatically flowed when converting an external cookie to an application

[2015-12-11 11:03] tmm360 commented on #588
I've no events, some calls return me 200 (how should be), others return me 302 Found.

[2015-12-11 16:11] PinpointTownes commented on #611
@Eilon if you don't like the idea of having a new package, maybe we could simply make the new `Microsoft.Owin.Security.Interop` I guess a sources package?

[2015-12-11 16:12] Fosol commented on #580
@PinpointTownes Another question for you regarding tokens and claims.

After I login through the Oauth server I can confirm that my Identity implementation has added the appropriate claims to the user.  However once it gets back to the client it no longer contains the claims associated with my Identity implementation.

I've tried to include my Identity library in both the client and the server app

[2015-12-11 16:15] MonkeyJamboree commented on #611
@Eilon out of curiosity, why is copying the code recommended over actually separating out `Microsoft.Owin.Security.Interop` into its own package? It seems to me since the namespace and code is assumed to be for interoperability, it should be consumable by others easily. If not, is there a package that's explicitly for this purpose instead? Creating unneeded dependencies in code or duplicating code

[2015-12-11 16:17] PinpointTownes commented on #580
Are you specifying a destination for your claims?

See http://stackoverflow.com/a/32299781/542757 for more information.

[2015-12-11 16:17] Tratcher commented on #611
This package was built specifically for interop with Microsoft.Owin.Security.Cookies.

One way to pull the  src is via git submodule.

[2015-12-11 16:18] PinpointTownes commented on #611
True, but the ticket serializer and the data protector shim are not specific to the cookies middleware. Sounds like a bad layering IMHO.

[2015-12-11 16:20] Fosol commented on #580
@PinpointTownes does this mean I need to edit the AuthorizationController.Accept method to include the claims with the new identity?

[2015-12-11 16:20] blowdart commented on #611
The ticket serializer was for Forms auth. Which became cookie auth, Arguably it is for the cookie middleware.

Data Protection has a 4.5.2 implementation which you can bring in as a normal nuget package.

[2015-12-11 16:22] PinpointTownes commented on #611
That would be a valid argument if the ticket serializer was not HEAVILY used by Katana's OAuth2 middleware...

[2015-12-11 16:24] blowdart commented on #611
It's not any more though is it? And the interop package itself wasn't for OAuth either. It was designed for forms authentication, nothing more.

[2015-12-11 16:24] PinpointTownes commented on #580
Yes. You can see the MVC server sample for an example.

[2015-12-11 16:29] Fosol commented on #580
I noticed the claims from my Identity implementation are issued by "LOCAL AUTHORITY".  Where is this value set?  I've scanned the source code and can't find that value anywhere.

[2015-12-11 16:38] PinpointTownes commented on #611
Of course, since there's no OAuth2 middleware in vNext :trollface:
But people (like me) might want to use the new ticket serialization format and the new data protection stack with Katana's authorization server.

There's absolutely no difference between cookies and access tokens as they use the same exact serialization format (which explains why the OAuth2 authorization server/bearer middleware an

[2015-12-11 16:40] PinpointTownes commented on #580
It's ClaimsIdentity's default issuer when you don't set it. But it's not really important as the issuer is not used by the OIDC server.

[2015-12-13 22:30] brockallen opened #614 "Discussion for Scope being a list and not a string?"
Was there ever any discussion as to why `Scope` on the OIDC middleware is a collection and not a string? `ResponseType` is still a string. It feels cumbersome. Anyone else feel the same way?

[2015-12-13 22:48] PinpointTownes commented on #614
No discussion, but since [I'm the guy who replaced the `Scope` property by a list] (https://github.com/aspnet/Security/pull/276/files#r31257639), I can shed some light on the subject :smile:

The most important reason was for consistency: the OAuth2 generic middleware used a list of strings and the OIDC client middleware a single string. I opted for `IList<string>` because it was the most appropri

[2015-12-14 00:41] brockallen commented on #614
Well, screw all of that, IMO. The katana OAuth2 MW is dead. And you know exactly what the OIDC and OAuth2 specs say for the scope. If the aberrant implementations needs something different, then do it in their own implementation.

The job of frameworks is to make the life of the consumer easier, not the life of the implementer.

[2015-12-14 00:49] PinpointTownes commented on #614
There was no OAuth2 generic middleware in Katana, so not sure to understand what you mean.

Both specs only state that `scope` is space-separated string, they don't mention anything about how we should implement it internally.

That's exactly what we do in the virtual `FormatScope` method. But it seems you totally missed my point. If we used a list, consumers would have to use different scopes pat

[2015-12-14 00:59] brockallen commented on #614
I was referring to the Katana OAuth2 authorization server middleware. Is that not what you mentioned above when you said that the point was for consistency? Perhaps we're not talking about the same thing.

Other complaints:

* It's not obvious what the defaults are (probably something that is AAD focused).
* It's not consistent with the other settings (again, response_type)
* Most people that use

[2015-12-14 01:11] PinpointTownes commented on #614
Hell no. By "OAuth2 generic middleware", I meant [this thing] (https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OAuth/OAuthHandler.cs). It's a whole new middleware, designed to support virtually any OAuth2 server. You can either subclass it or use the generic notifications. All the social providers inherit from `OAuthMiddleware`, [including the 24 providers developed

[2015-12-14 01:21] brockallen commented on #614
As I said I already feel it's the aberrant implementation's fault if they don't follow the RFC/specs. This is the point of OIDC -- the fix the crap people did with OAuth2 and then called it authentication. But I digress.

The reason for opening the issue stands: I think the design is more important for the consumer (for clarity and simplicity) rather than the implementer.

[2015-12-14 01:37] PinpointTownes commented on #614
One could argue that `response_type` has only predefined (standard) sets that allow no customization (unlike `scope`, whose values are totally implementations-specific).

There are many things that have been updated in vNext. This change is relatively explicit IMHO.

True. But on the other hand, it allows customers to only focus on the provider-specific scopes, without having to re-specify the sta

[2015-12-14 02:42] brockallen commented on #614
Fair enough. I'd just like someone at Microsoft to spend some time thinking about it. I know it's late, and I know this is a nitpicky request, but I wanted some attention spent on it.

[2015-12-14 05:03] airomero commented on #583
Thanks! It worked. So now i will use OnSigningIn instead of OnSignedIn to modify the principal claims. Thanks again.

[2015-12-14 12:49] endink opened #615 "about RC2 assembly"
when i upgrade my project to rc2 , there is a complie error:

[code]

this is my project.json file

[code]

and globle.json：

[code]

[2015-12-14 14:12] muratg commented on #615
Could you paste your project.lock.json?

[2015-12-14 14:13] muratg commented on #615
Could you also paste your nuget.config?  I assume you're taking bits from aspnetvnext feed on myget?

[2015-12-14 14:27] PinpointTownes commented on #615
@muratg FYI, we saw exactly the same thing with the *aspnet-contrib* social providers and we had to specify an explicit `System.Security.Claims` dependency to "fix" it: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/dev/src/AspNet.Security.OAuth.Fitbit/project.json#L29

[2015-12-14 14:35] muratg commented on #615
@PinpointTownes I see... I think it's possible that some CoreCLR package dependency has changed and this package is no longer being brought transitively.

@Tratcher have you seen this?

[2015-12-14 14:36] muratg commented on #615
@endink Could you try @PinpointTownes's workaround (i.e. explicitly adding a reference to `System.Security.Claims` to your project json to see if that fixes your issue?

[2015-12-14 14:40] endink commented on #615
@muratg @PinpointTownes

thanks , it worked!

[2015-12-14 14:42] muratg commented on #615
Reactivating to find out the offending package.

cc @HaoK

[2015-12-14 18:42] PinpointTownes commented on #611
So, wouldn't a new `Microsoft.Owin.Security.Interop` sources package be a good compromise?

[2015-12-14 18:48] #593 closed

[2015-12-14 20:07] Tratcher commented on #614
A) I prefer the List approach as it lets us worry about the formatting. It's even defined as a list in the spec https://tools.ietf.org/html/rfc6749#section-3.3.
- The response_type comparison is interesting. It appears to be primarily single-value except for extensions. We only support `code`, `id_token`, and `code id_token`, and we use constants for those (OpenIdConnectResponseTypes).

B) I agree

[2015-12-14 20:18] Tratcher commented on #614
We have two different ways to do defaults right now.
1) Add them on the Options by default, then you need to clear them:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L163
vs
2) Only add them in the MW constructor if none were specified:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Google/Goo

[2015-12-14 20:22] PinpointTownes commented on #614
Personally, option 1) has always been my favorite approach (https://github.com/aspnet/Security/pull/257#discussion_r32473302).

[2015-12-14 20:41] brockallen commented on #614
The only default that makes sense to me is "openid" (since it's the OIDC MW). I don't think it matters where -- either in options ctor, or in MW ctor.

Also, you should consider calling Distinct() on the scopes list before sending them to the OP -- currently they're duplicated in the authorization request if they're in the list multiple times. That's what apps will do when they don't know what the

[2015-12-15 01:46] brockallen opened #616 "[OIDC] In OnMessageReceived, calling SkipToNextMiddleware causes error"
Perhaps there's something new in RC2 due to the comments here: https://github.com/aspnet/Security/issues/555

But as of RC1, this code:

[code]

Always causes this exception/stack trace:

[code]

Perhaps I'm handling errors incorrectly. But in any event, it seems I should be able to do what I'm trying do to (even if it's not the best way).

[2015-12-15 01:50] Tratcher commented on #616
Yes this was regressed in rc1. It was fixed by https://github.com/aspnet/Security/pull/610 in rc2.

[2015-12-15 01:50] #616 closed

[2015-12-15 01:52] brockallen commented on #616
Ok, thanks. Sorry I didn't find that while searching (I missed looking in PRs).

[2015-12-15 03:48] endink commented on #615
@muratg Oh, if use adding a reference to  System.Security.Claims  , an error has occurred :
System.MissingMethodException: :“Void Microsoft.AspNet.Http.CookieOptions.set_Expires(System.Nullable`1<System.DateTime>)”。

stack ：
Microsoft.AspNet.Authentication.Cookies.CookieAuthenticationHandler.<FinishResponseAsync>d__12.MoveNext()
   在 System.Runtime.CompilerServices.AsyncTaskMethodBuilder.Start[TSt

[2015-12-15 04:40] Tratcher commented on #615
That change just went in this afternoon. What myget feed are you pointing at, aspnetcidev? I recommend getting rc1 from nuget or rc2 from aspnetvnext.

[2015-12-15 05:04] endink commented on #615
@Tratcher i use myget for my feed, aspnetvnext is not aspnetcidev?

[2015-12-15 05:17] Tratcher commented on #615
Use aspnetvnext instead of aspnetcidev. aspnetcidev is unstable and only intended for our own usage.

[2015-12-15 05:21] endink commented on #615
@Tratcher
OK, thanks i will changed to aspnetvnext

[2015-12-15 08:16] thomius commented on #179
@loctanvo ok. In our MVC application the nonce errors were caused by the redirect loop (as probably with many others)

1. TempData is used somewhere in the application (TempData["Your changes were saved!"])
2. Current user thinks everything went fine / doesn't see any problems...
3. ... but now every other user who tries to sign on gets into an eternal redirect loop! OWIN 3.0.1 generates a nonce c

[2015-12-15 15:37] jeffa00 commented on #219
I'm late to this party, but thought I'd add for anyone else who happens along that this isn't an ASP 5 issue. The same thing happens with the current shipping version of MVC.

[2015-12-15 18:12] Tratcher commented on #615
Back to your original issue....

I created a new project with the dependencies you listed above and it worked fine. It's hard to troubleshoot dependency issues when there are wildcards involved. Here is my output from `dnu list`. Can you compare it to yours? Especially for the Claims package. You can also use `dnu list --details` to track down what packages reference the conflicting versions of Cl

[2015-12-15 18:19] PinpointTownes commented on #615
@Tratcher have you tried calling/using `Claim`/`ClaimsIdentity`/`ClaimsPrincipal` in your own code? IIRC, simply referencing (directly or indirectly) the `System.Security.Claims` package was not enough to cause the dependency bug.

[2015-12-15 18:26] Tratcher commented on #615
Yes, it works fine. Would you try the dnu list test as well?

[2015-12-15 19:18] PinpointTownes commented on #615
Surprisingly, I can't reproduce it on my main machine, I'll try with another one.

That said, there's definitely a bug somewhere: I created [a PR] (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/76) to remove the transient `System.Security.Claims` dependency from the social providers and both Travis and AppVeyor were unable to build the PR:

https://ci.appveyor.com/project/

[2015-12-15 22:42] ryanwischkaemper commented on #611
+1

[2015-12-15 22:43] DovydasNavickas commented on #611
+1
Yeah, that'd be great. And I really don't see any logical arguments why not... I understand you don't want to support multiple packages, but essentially it's splitting same code that you have. Not much of a difference for you, a whole lot benefits for us.

[2015-12-16 09:24] yuezhongxin opened #617 "Share ASP.NET MVC 5 Forms authentication?"
My question: There are two projects, one project is old (ASP.NET MVC 5), it is a login site, write code like `FormsAuthentication.SetAuthCookie("xishuai", false);`, another project ASP.NET 5 is rewritten, the site needs to obtain verification of the identity of another site, such as this code: `var name = User.Identity.Name;`, but I can not get found, here is my test.

### ASP.NET MVC 5

Web.confi

[2015-12-16 18:39] blowdart commented on #617
The cookie format and the encryption pieces changed between MVC 6 and ASP.NET 5

Right now there's an unsupported compatibility package - it will become more official in the RC2 timeline.

There is documentation at https://docs.asp.net/en/latest/security/data-protection/compatibility/cookie-sharing.html

[2015-12-16 18:48] artemgrygor opened #618 "Correct usage of AntiForgery token in ASP.NET 5 in SPA application?"
In previous version of ASP.NET during SPA application the idea of AntiForgey token was following:

* add `@Html.AntiForgeryToken();` on the page
* add `__RequestVerificationToken` to the request
* override AuthorizeAttribute as ValidateJsonAntiForgeryTokenAttribute.

I don't really understand the authorization requirements (is there some good information source?) in ASP.NET 5 but looks like new be

[2015-12-16 18:49] Tratcher commented on #617
That compat package only helps if you were using Katana v3. It doesn't go all the way back to Asp.Net 4 forms auth.

[2015-12-16 19:08] artemgrygor commented on #618
Looks like I need to create custome middleware and check if it's json to use my way or use standard ` await _antiforgery.ValidateRequestAsync(context);`
But still not sure about it.

[2015-12-16 19:10] blowdart commented on #618
The idea would not use cookie authentication in your SPA app - it's only persistent authentication mechanisms such as cookie or basic auth that create CSRF problems.

This question doesn't belong here though, there's an AntiForgery repo. https://github.com/aspnet/AntiForgery - you should open a discussion there.

[2015-12-16 19:10] #618 closed

[2015-12-16 19:14] artemgrygor commented on #618
@blowdart thanks, will move to the AntiForgery repo.

[2015-12-16 23:04] tmm360 commented on #588
I've identified the root cause for my problem: https://github.com/aspnet/KestrelHttpServer/issues/365

[2015-12-17 03:39] yuezhongxin commented on #617
The above test is not no solution?

My real problem is that there are a lot of old projects (WebForms, MVC 3/4/5, etc.), and now we want incremental improvements to ASP.NET 5, so the process of transformation on the emergence of the above problems.

I read this blog: [Sharing authentication cookies between ASP.NET 4.x and ASP.NET 5 applications.] (Https://docs.asp.net/en/latest/security/data-prote

[2015-12-17 07:13] yuezhongxin commented on #617
@blowdart I understand what you mean, about how long it can be compatible? and about RC2 timeline I can see it?

[2015-12-17 07:17] yuezhongxin commented on #617
@Tratcher 😭

[2015-12-17 10:13] yuezhongxin commented on #617
In ASP.NET 5, and I am trying to rewrite `FormsAuthentication.Decrypt(cookieValue)` [code](http://referencesource.microsoft.com/#System.Web/Security/FormsAuthentication.cs,21ad8e6b6f1681a2), using ` web.config-machineKey-validationKey` decryption, I just want to get `FormsAuthenticationTicket.Name`, but it feels more difficult.

[2015-12-17 12:27] mikes-gh opened #619 "External Providers negotiation eg Facebook Login via proxy server"
It doesn't appear that I can set a client proxy server via web.config anymore in the System.Net section.
I wanted to allow my app to access the external authentication providers without drilling out through my firewall.

Is this possible?
I know I could create an HttpClient and set the proxy on that but I don't have access to that object for the Facebook middleware. I thought I could use the BackH

[2015-12-17 13:31] blowdart commented on #617
There is not FormsAuthentication.Decrypt(). The cookie format and the encryption methods got greatly improved. What you want to do simply won't work. We provide a back compat package, but as Chris says it's only going back one version.

[2015-12-17 14:07] blowdart commented on #619
@Tratcher - worth investigating, although global might be painful.

[2015-12-17 14:10] eriksendc opened #620 "Not seeing FacebookOptions.Fields collection?"
Hi all,

I'm using ASP.NET 5, MVC 6 RC1 (including Microsoft.AspNet.Authentication.Facebook). When I use the standard, built-in pages for account management, I noticed that when the user selects to authenticate with Facebook, the email field on the /Account/ExternalLoginCallback page is empty. I was just looking at FacebookOptions and there's a Fields property (and in the code there's a link to ht

[2015-12-17 14:13] yuezhongxin commented on #617
@blowdart Ok, what this version is?

[2015-12-17 14:18] blowdart commented on #617
I'm afraid I don't understand your question.

If your project was a new project from vs2013 the shim package will work.

If you upgraded a previous project to the katana platform which came with 2013 it should work.

[2015-12-17 14:24] PinpointTownes commented on #620
Hey,

FYI, `FacebookOptions.Fields` was added recently and is not part of RC1: https://github.com/aspnet/Security/commit/a18181d363f5cc659b7ae324dbf52668022e9307. To use it, you need to migrate to the RC2 nightly builds.

That said, you should be able to specify the fields directly in `Options.UserInformationEndpoint` (e.g `Options.UserInformationEndpoint = "https://graph.facebook.com/me?fields=em

[2015-12-17 14:39] yuezhongxin commented on #617
@blowdart Sorry, my English is very bad.

Once again, I describe my problem, I have a lot of old sites (such as using WebForms), now I need to rewrite these sites to ASP.NET 5, but the login site has not been rewritten (using the Forms Authentication), now I rewrote a project to ASP.NET 5, need to verify the identity of a user (such as using User.Identity.Name), it is the beginning of what I do th

[2015-12-17 14:39] PinpointTownes commented on #619
:+1: for directly exposing the `HttpClient` instead of a `HttpMessageHandler` :clap:

[2015-12-17 14:40] blowdart commented on #617
The version would be Katana v3. So you need to upgrade your existing sites to that first. Katana shipped with VS2013.

[2015-12-17 14:42] Tratcher commented on #619
You should be able to set it like this:
[code]

[2015-12-17 15:17] eriksendc commented on #620
Hi there,

Thanks for writing back. The default value of UserInformationEndpoint seems to be just the URL without the query string. I think that the code expects to append the query string itself.

I did find a post that gave me a little direction (http://stackoverflow.com/questions/20378043/getting-the-email-from-external-providers-google-and-facebook-during-account-ass). Adding

    facebookOpti

[2015-12-17 15:20] #620 closed

[2015-12-17 15:46] eriksendc opened #621 "Not getting email address back from Facebook"
Hi All,

After clicking Facebook on my application's `/Account/Login` page to register using Facebook, the Facebook OAuth page wasn't acknowledging that my app was asking for email:

**myapplicationname** will receive the following info: your public profile.

After reviewing this posting (http://stackoverflow.com/questions/20378043/getting-the-email-from-external-providers-google-and-facebook-duri

[2015-12-17 15:48] Tratcher commented on #621
The answer you got on the prior bug really was the right answer.
https://github.com/aspnet/Security/issues/620#issuecomment-165464501

[2015-12-17 15:48] #621 closed

[2015-12-17 15:53] eriksendc commented on #621
Sorry. Thanks for the help!

[2015-12-17 16:13] mikes-gh commented on #619
Great
Just confirmed it works .

Looking at the object hierarchy and hadn't appreciated that an HttpClientHandler is actually an HttpMessageHandler.

I also tried it with a class that inherits form HttpClientHandler for my own custom handler and that works aswell

Thanks for your help

[2015-12-17 17:44] eriksendc commented on #620
Hi Kevin,
Thanks for the ointer. Can you give me a pointer on how to migrate to the RC2 nightly builds? I'd love to be using the latest and greatest, and then hopefully contribute if I find any bugs. 
Anyways, I've been trying hard to figure out how to get to RC2 easily. I've found https://www.myget.org/gallery/aspnetvnext and I've put https://www.myget.org/F/aspnetvnext/api/v3/index.json in to Vi

[2015-12-17 17:48] Tratcher commented on #620
Open project.json and change `rc1-final` to `*`

[2015-12-17 20:57] eriksendc commented on #620
Hi Chris,
Thanks. Did that and I can build but not run. When IIS Express starts running my web application I get ERR_TOO_MANY_REDIRECTS
 Is there anything in global.json that I need to change (like "sdk" "version")?
Thanks,-Brian

      From: Chris R <notifications@github.com>
 To: aspnet/Security <Security@noreply.github.com>
Cc: eriksendc <eriksendc@yahoo.com>
 Sent: Thursday, December 17, 2015

[2015-12-17 21:34] Tratcher commented on #620
Yes you should change your sdk version to rc2-something, or just remove it and use the dnvm default. You'll need to use `dnvm upgrade -u` to install rc2 dnx.

[2015-12-17 21:52] #619 closed

[2015-12-18 01:13] yuezhongxin commented on #617
@blowdart Ok, but now I use VS2015 Update1, and some packages using rc2 version, if to solve the above problem, I can not use ASP.NET 5 is not it?

[2015-12-18 01:18] blowdart commented on #617
I'm sorry, I'm not sure what you're asking again?

So, let's imagine you start a new project in .NET 4.5.2 from scratch. In VS2015. That ends up using Katana 3. That will accept the forward compat packages. There's more about Katana at http://www.asp.net/aspnet/overview/owin-and-katana/an-overview-of-project-katana

FormsAuthentication.SetAuthCookie() isn't part of Katana. You must bring your logi

[2015-12-18 01:30] yuezhongxin commented on #617
@blowdart 😂

I think I know what you mean, I need to first upgrade login system to Katana v3, and other systems using ASP.NET 4.x or ASP.NET 5 is possible, is not it?

[2015-12-18 01:41] blowdart commented on #617
It should be possible yes, but it may be a lot of work for you. In all honesty you might want to look at some sort of OAuth system, using Identity Server https://identityserver.github.io/Documentation/

This means rather than drag everything up you would use whatever OAuth code is appropriate for each version of .NET, MVC, WebForms or whatever that you're using.

[2015-12-18 02:02] yuezhongxin commented on #617
@blowdart Ok, I understand.

Now log into the system is not good upgrade, because it involves other systems, if a start using OAuth, this problem may not occur, and I really appreciate your patience, thank you very much.

However, if the ASP.NET 5 is compatible with Forms Authentication just fine.👻

[2015-12-18 02:03] blowdart commented on #617
Forms Authentication comes in many versions.

To be precise we are only compatible with Katana 3.0's cookie middleware, which is used by forms authentication

[2015-12-18 02:08] yuezhongxin commented on #617
@blowdart Ok, Thanks again.

[2015-12-18 18:56] JunTaoLuo opened #623 "SocialSample does not run on IIS Express"
SocialSample runs fine when using the web profile in VS or via the command line. When running with the IIS Express profile, the following exception occurs and the sample crashes:
[code]

Need to investigate further to see what the underlying issue is.

[2015-12-18 19:07] Tratcher commented on #623
Hmm, it appears to work before your changes.

[2015-12-18 19:45] JunTaoLuo commented on #623
Port conflict in our settings thanks @Tratcher .

[2015-12-18 19:45] #623 closed

[2015-12-19 13:19] yuezhongxin opened #624 "Multiple web servers CookieAuthentication does not work"
Startup.cs code:

[code]

Login code:

[code]

`"Microsoft.AspNet.Authentication.Cookies": "1.0.0-rc2-16160"`

I publish the site on a single server, it works, but I now use SLB(Server Load Balancer), the site published on two servers, login is not working, how do I solve this problem?

[2015-12-21 15:29] Muchiachio opened #626 "Dynamic cookie authentication LoginPath"
Is there a way to make cookie authentication `LoginPath` dynamic? Because I'm always losing all the routing data from which unauthenticated request was called. E.x., given `LoginPath = "accounts/login"`:
`http://localhost:8547/private-section/b/items/1` redirects to `http://localhost:8547/accounts/login`
I would like to get `http://localhost:8547/private-section/b/accounts/login`
or
`http://localh

[2015-12-21 15:53] Tratcher commented on #626
You can use options.Events.OnRedirectToLogin to customize the login path on a per request basis.

[2015-12-21 15:54] Tratcher commented on #626
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.Cookies/Events/CookieAuthenticationEvents.cs#L40

[2015-12-21 16:32] Muchiachio commented on #626
Hmm, but it's not available from `ICookieAuthenticationEvents`, should I extend `CookieAuthenticationEvents` and set it to options?

[code]

[2015-12-21 16:37] phenixdotnet opened #627 "The values of Roles property in AuthorizeAttribute aren't trimmed"
Hi.

Actually in the asp.net 5 (1.0.0-rc1-final) the values of the Roles property in Authorize attribute aren't trimmed before using it.
This lead to the situation where if for any reason you have this code:
[code]
Users with the admin role will never be authorized because the role name will be evaluated to " admin" and not "admin".

I can work on a patch and submit it if you want.

Regards

[2015-12-21 17:06] Tratcher commented on #626
[code]

[2015-12-21 21:12] Tratcher commented on #624
See http://docs.asp.net/en/latest/security/data-protection/compatibility/cookie-sharing.html

[2015-12-21 23:59] fredgate opened #628 "Authentication cookie is badly renewed when the security stamp has been validated"
The authentication cookie can be renewed in these two cases :
- the elapsed expiration time is more halfway expiration window
- the security stamp has been validated and a new identity is rebuilt

In the FinishResponseAsync method of the CookieAuthenticationHandler class (namepsace Microsoft.AspNet.Authentication.Cookies), a new ticket is built with optionally setting the properties IssuedUtc and

[2015-12-22 00:49] yuezhongxin commented on #624
@Tratcher I read this blog, but my situation is two of the same applications.

[2015-12-22 00:57] Tratcher commented on #624
The same approach applies to two instances of the same app. @haok

[2015-12-22 01:02] HaoK commented on #624
The main thing you need to do for two apps to share cookies is to have them share the same keys for dataprotection, try something like this:

[code]

[2015-12-22 01:34] yuezhongxin commented on #624
@HaoK I modified the code:

[code]

And I installed this package `"Microsoft.AspNet.DataProtection.Extensions": "1.0.0-rc2-15942"`, but the application can not be started.

This is all my packages:

[code]

[2015-12-22 03:37] yuezhongxin commented on #624
I modified the `Microsoft.AspNet.DataProtection.Extensions` version `1.0.0-rc2-15832`, applications can be started, and in the two web servers `c:\shared-auth-ticket-keys\` directory, generates two files:

key-1c672d4e-0ce2-4c0f-95e4-35635be2e021.xml:

[code]

key-847a86d5-33b0-4309-b86b-4e6fee5abea6.xml:

[code]

But the login does not work.

[2015-12-22 16:45] cda-1 commented on #508
For OP's scenario, you can do the following, which I learned from [the awesome Pluralsight course "Building a Web App with ASP.NET 5, MVC 6, EF7 and AngularJS"](https://app.pluralsight.com/library/courses/aspdotnet-5-ef7-bootstrap-angular-web-app/table-of-contents).

[code]

[2015-12-23 09:43] digiseller commented on #565
facebook oauth2 email problem fix

http://stackoverflow.com/a/32636149/4594225

[2015-12-23 09:44] alisherdavronov commented on #565
facebook oauth2 email problem fix

http://stackoverflow.com/a/32636149/4594225

[2015-12-23 18:42] brockallen opened #630 "AuthorizationHandler: where TResource : class requirement"
Is this necessary? I want it to be an `int`.

[2015-12-23 18:45] brockallen commented on #630
For more info, I want to build this:

[code]

[2015-12-23 18:59] brockallen opened #631 "Reminder to look at sugar for AuthorizationContext.Succeed"
For these scenarios:

[code]

and this:

[code]

[2015-12-23 20:05] leastprivilege commented on #83
Since this issue gets referenced every time somebody asks about token issuance in ASP.NET 5 - here's a small walkthrough how to do it with identityserver:

http://leastprivilege.com/2015/07/22/the-state-of-security-in-asp-net-5-and-mvc-6-oauth-2-0-openid-connect-and-identityserver/

[2015-12-23 20:05] leastprivilege commented on #359
Since this issue gets referenced every time somebody asks about token issuance in ASP.NET 5 - here's a small walkthrough how to do it with identityserver:

http://leastprivilege.com/2015/07/22/the-state-of-security-in-asp-net-5-and-mvc-6-oauth-2-0-openid-connect-and-identityserver/

[2015-12-27 02:42] SHAGGAR opened #632 "TwitterHandler doesnt save all tokens as claims when SaveTokensAsClaims is true"
TwitterHandler only adds the AccessToken to the list of claims and does not add the AccessTokenSecret.
Current:
[code]

Should this not be
[code]
Instead?

A workaround for this is to use the OnCreatingTicket event to add the claims yourself after authentication, but it would be way more convenient if all the claims were there when SaveTokensAsClaims is true.

Also would it be worthwhile to add so

[2015-12-28 07:22] theonlylawislove opened #633 "Changing roles (claims) for a user during a session doesn't update the claim."
If I implement the identity interfaces ```IUserRoleStore<User>``` and return a valid set a roles for a user, they get added to the user's ```ClaimsPrincipal``` for authentication.

If I update this user's role "live", the ```ClaimsPrincipal``` doesn't get reflected for the user until he/she logs out and back in.

User roles change dynamically in my application from background services. Is there a

[2015-12-28 10:55] HaoK commented on #633
SignOut/SignIn is the recommended way to clear the cookie/refresh the claims, this behavior is intentional, as by default you don't want to hit the database on every request.

[2015-12-28 10:55] #633 closed

[2015-12-28 11:01] HaoK commented on #627
Sure, if you want to submit a PR to fix this, that would be great :)

[2015-12-28 13:52] phenixdotnet commented on #627
Hi.

PR submitted (#634)

Regards

[2015-12-28 14:16] PinpointTownes commented on #611
No Christmas gift for us? :smile:

[2015-12-28 14:33] blowdart commented on #624
You need to point the key directory to a *shared* directory which both applications can access. Putting it in c:\shared-auth-ticket-keys\ isn't enough in multiple server scenarios, as it's still going to create a key ring *local* to each machine.

You need to create an UNC share somewhere that both applications can access, and use that, for example \\keystore\keystore

Or you implement a key store

[2015-12-28 21:42] HaoK commented on #630
@blowdart So the class constraint was mostly to allow us to do a comparison against null and not call through to the handler if no resource was provided.  We could switch the check to be against the default(TResource), but that would block int 0 which isn't good.  Or we could just always call through again, but then resource would potentially be null again which was something we fixed previously..

[2015-12-28 21:43] blowdart commented on #630
0 could be a valid id I guess. Ouch, Is there no way to check if the resource is, in fact, nullable? Or is a value type?

[2015-12-28 21:46] HaoK commented on #630
That's what the class constraint was for, but it blocks using value types as resources...

[2015-12-28 21:49] blowdart commented on #630
https://msdn.microsoft.com/en-us/library/ms366789.aspx ? Then can block null on nullable types. Or am I missing something?

[2015-12-28 21:54] brockallen commented on #630
Well, if it's a reference type then do the null check and short circuit the handler. If it's a value type, I'd say call thru with whatever resource value was provided. Or am I missing something?

[2015-12-28 21:55] HaoK commented on #630
Meh, this is pretty gross to use reflection, yes this works but I'd almost rather let a null resource request go through, its not technically wrong is it?  Resource is an optional parameter for us in general, its up to us to define the contract for this sugar, so its valid for us to just say the resource can be null when we call the abstract method...

[2015-12-28 21:56] HaoK commented on #630
Basically our check will simply be call the handler if `resource is TResource` as opposed to being a TResource AND not null

[2015-12-28 21:58] HaoK commented on #630
@brockallen I'm not convinced we shouldn't call through even with a null resource is my main question

[2015-12-28 21:58] brockallen commented on #630
Ok, i'm cool with that :)

[2015-12-28 22:07] blowdart commented on #630
Yea null works for me, it'd be nicer than having to new up an instance of a class if you wanted to use it in views.

[2015-12-28 22:11] HaoK commented on #630
Actually looks like the is check blows nulls still :)  So I guess that's sufficient then...

ints always flow through... and nulls are blocked by the is check...

[2015-12-28 22:54] Eilon commented on #611
Re-opening, moving to Backlog, and marking as up-for-grabs. If someone wants to take a crack at this then we can publish the package with the code.

However, be warned: source packages have very few guarantees around them: stuff can change at any time. This is a use-at-your-own-risk type of scenario.

[2015-12-28 22:57] PinpointTownes commented on #611
Ahhhhhhhhhh, thanks! :gift: :dancers:

I'll prepare a PR and send it ASAP :smile:

Would you prefer a standard package, with just the ticket serializer and the data protector?

[2015-12-28 23:10] Eilon commented on #611
I think the audience for this package is super tiny, so I'd rather do something very un-fancy, if possible :smile:

[2015-12-28 23:24] PinpointTownes commented on #611
As long as this package is managed by the ASP.NET team and published on NuGet, I'm fine :smile:

Question: the Interop package doesn't have its own `PropertiesSerializer` and relies on the properties serializer developed for Katana, Currently, it's not really a big deal as Katana's `PropertiesSerializer` and vNext's `PropertiesSerializer` are identical, but it might cause weird issues if vNext's `

[2015-12-28 23:53] Eilon commented on #611
Would need @HaoK and/or @Tratcher to answer that. They might both be on vacation, though.

[2015-12-29 03:03] danielcrenna commented on #606
@Tratcher Respecting that this is fixed, how can we get it? The regression means JWT in RC1 is unusable. I checked the nightly feeds and didn't see this.

[2015-12-29 04:52] HaoK commented on #631
cc @blowdart

So we don't have many great options here, the issue is that at the lowest level, handlers are working against a context, which have arbitrarily many requirements.  Its only the handler 'sugar' that we've added that starts passing around specific requirements.

Its perfectly valid for a handler to succeed more than the specific requirement that was asked for.

One example would be may

[2015-12-29 04:55] HaoK commented on #631
cc @divega @lodejard for thoughts on whether this is sugar overkill...

To summarize: Should we add overloads to register a `Func<AuthorizationContext, TRequirement, resource, bool>` in general to paper over the context.Succeed(requirement) mechanic...

[2015-12-29 12:52] blowdart commented on #631
So calling context.Succeed() to pass everything is, to my mind, going to be a pretty rare case. @brockallen what's your opinion? Would you use that anywhere?

I'm actually a little concerned that someone would forget to pass in the requirement and succeed everything. To my mind it'd be better to make the default "Succeed the current requirement" and then have a specific way to do the "backdoor" sc

[2015-12-29 12:59] brockallen commented on #631
First of all, being a Microsoft employee I'd recommend against using an example like `BackdoorRequirementHandler`. Who knows how it would be taken out of context. :)

As for the sugar, maybe it gets too confusing to have too many different ways to do it. If it starts to feel too contrived to do it, then I'd skip it -- no worries.

[2015-12-29 15:25] blowdart commented on #631
Yea, we should use nsakeyRequirementHandler instead :D

[2015-12-29 18:59] HaoK commented on #631
Ok I will skip this for now we can always add more sugar later if we get more feedback about this.

[2015-12-29 21:28] blowdart commented on #631
I think you should do something about .Succeed() overriding everything. That is too easy to screw up. People will do that by default and wonder why things are succeeding when other requirements don't.

[2015-12-29 21:41] HaoK commented on #631
There's no such thing as succeed that takes nothing today.

[2015-12-30 19:32] HaoK commented on #631
Moving this to backlog for now

[2015-12-31 23:50] jimnorth55 opened #637 "OpenIdConnectOptions Event Handler Question"
Is there an example anywhere in this repository that shows how to wire up a custom OpenIdConnect authentication event handler.  In particular, I want to add a AuthorizationCodeReceived handler for the purpose of implementing the hybrid flow.

I see that there is an open issue (#456) regarding out-of-the-box hybrid flow support--looks like in RC2.  However, I was hoping to get something working soo

[2016-01-01 02:48] timmydo opened #638 "BuildRedirectUri does not work easily when under proxy"
#540
@Tratcher

Here is my situation: I have a pre-rc2 web app that runs on kestrel under azure web app (IIS) using HttpPlatformHandler. I think this means basically IIS is proxying all requests to my webserver, which is listening on a random internal port (using http).

So basically, when under a proxy, BuildRedirectUri()'s Request.Scheme is not the same as what the user is seeing. So my google o

[2016-01-01 05:27] davidfowl commented on #638
Are you using the platform handler middleware? (Assuming you're on RC1)

[2016-01-01 05:52] timmydo commented on #638
Yes as far as I can tell, startup code here (currently using pre rc2 referencing Microsoft.AspNet.IISPlatformHandler/1.0.0-rc2-16069 though):

https://github.com/timmydo/gearup/blob/sf/GearUp/Startup.cs#L98

[2016-01-01 06:19] davidfowl commented on #638
If you use bleeding edge bits then you have to keep up with the announcements https://github.com/aspnet/Announcements/issues/123. Also that middleware should be further up the stac

[2016-01-01 20:00] timmydo commented on #638
Thanks. Got it working. Knowing what I did last week, that announcement wouldn't have made sense to me. Makes sense now though!

Note to self, this code doesn't throw any errors but also doesn't do anything:

[code]

for people finding this thread online, this is the correct version (put it at the top of the Configure method) :

[code]

[2016-01-01 20:00] #638 closed

[2016-01-01 22:31] davidfowl commented on #638
/cc @JunTaoLuo

[2016-01-03 10:28] leastprivilege opened #639 "SaveTokenAsClaim for JwtBearer"
For consistency - the JwtBearer MW should also have a `SaveTokenAsClaim` setting - this would make it easier to get to the token e.g. for contacting user info in claims transformation - or "delegation"

[2016-01-04 04:30] yuezhongxin commented on #624
@blowdart I tried, but there were following errors:

[code]

[2016-01-04 07:33] yuezhongxin commented on #624
I solved this problem, thank you very much!

[2016-01-04 07:33] #624 closed

[2016-01-04 12:10] blowdart commented on #624
@yuezhongxin Could you share what the solution was, so I can update the docs to make it clearer? I assume it was a permissions problem at this point?

[2016-01-04 13:22] yuezhongxin commented on #624
I am using this way you say:

Above that exception solution, you can see this [article](http://www.cnblogs.com/xishuai/p/aspnet-access-shared-folder.html).

[2016-01-04 13:33] yuezhongxin commented on #617
@blowdart Now, I can not rewrite the login system code(Forms Authentication), but other systems rewritten ASP.NET 5, my idea is to decrypt Cookie in the new system code, I saw this project [DataProtection](https://github.com/aspnet/DataProtection) and relevant [documents](https://docs.asp.net/en/latest/security/data-protection/index.html), but I do not really understand, you think you can achieve?

[2016-01-04 14:00] marc-mueller commented on #43
Is there any update so far? Not being able to support SAML within our ASP.NET 5 application is currently a showstopper for our project since we have some dependencies with existing systems.

[2016-01-04 17:41] Tratcher commented on #43
This is not happening for v1.0. We'll follow up afterwards.

[2016-01-04 18:12] davidfowl commented on #617
As @blowdart says, that will be very hard to do but if you can't possibly change the other application then you'd need to write a separate middleware and component that understands the older cookie format. Basically porting FormsAuthentication.Decrypt https://github.com/Microsoft/referencesource/blob/master/System.Web/Security/FormsAuthentication.cs#L128 (which is a beast :smile:). And a bunch of

[2016-01-04 18:41] Tratcher commented on #611
We don't have any plans to fix it yet because it's not broken :-). If at some point it needs a similar interop approach then we could use a similar solution.

[2016-01-04 19:37] Tratcher commented on #632
https://dev.twitter.com/web/sign-in/implementing
"The token and token secret should be stored and used for future authenticated requests to the Twitter API."
Yes, it sounds like we need both of them.

[2016-01-04 19:48] Tratcher commented on #606
The RC1 packages still work if your project continues to target dnxcore50. If you want to try the RC2 packages you need Microsoft.AspNet.Authentication.JwtBearer-1.0.0-rc2-16081 or later from the nightly feed.

[2016-01-04 19:51] JunTaoLuo opened #640 "Rewrite JwtBearer TokenValidation Test"
Currently the test is using a token generated on AAD which means that the token will expire every 60 days (or some set interval). For this unit test, we should use a statically generated token that does not expire and not depend on an external authentication authority.

https://github.com/aspnet/Security/blob/bbff105e4dd5105722159fe792c17b2b39baaea3/test/Microsoft.AspNetCore.Authentication.Test/Jw

[2016-01-04 21:24] HaoK commented on #627
a8ef4df32a6ce8f47da882d34685768dafbe7c8e

[2016-01-04 21:24] #627 closed

[2016-01-04 21:32] HaoK commented on #630
f195ed3bab934aa0862a86390285c625f4e12386

[2016-01-04 21:32] #630 closed

[2016-01-04 21:33] brockallen commented on #630
Awesome, thanks

[2016-01-05 00:16] Tratcher commented on #637
Not currently, but it should look a lot like this other sample:
https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs#L102-L117

[2016-01-05 01:00] yuezhongxin commented on #617
@davidfowl Yes, you say I fully understood, some time ago, I rewrote the code about `FormsAuthentication.Decrypt` in ASP.NET 5, the same as you say it is very difficult (😭😭😭), in addition to some of the caveats you said, there is involved a lot of other code, I'll try the next.

In addition to this way, do you think there are other solution?

[2016-01-05 08:30] davidfowl commented on #617
Not that I'm aware of. Just try calling `FormsAuthentication.Decrypt` and see what breaks.

[2016-01-05 08:36] yuezhongxin commented on #617
@davidfowl Ok, thank you very much, if there is a breakthrough, then please tell me.

[2016-01-05 10:10] marc-mueller commented on #43
So this means that the development has not started yet? Is there any estimation about the release?

[2016-01-05 12:05] jimnorth55 commented on #637
Thanks Chris.  I just wasn't getting the correct syntax.  The example you
referenced did the trick.

On Monday, January 4, 2016, Chris R <notifications@github.com> wrote:

[2016-01-05 12:52] #637 closed

[2016-01-05 12:53] Tratcher commented on #43
Correct. No, we haven't scheduled any of the post-v1 work yet.

[2016-01-05 13:09] mikes-gh opened #642 "Possible dependency issue with Microsoft.AspNet.Authentication.Google 1.0.0-rc2-16148"
If I add

[code]
to my startup Configure method I get

[code]
Facebook provider works ok.
Looks like a dependency on Extensions.OptionsModel but it looks like the renames have already been done.

Probably a result of

https://github.com/aspnet/Announcements/issues/132

[2016-01-05 22:00] brentschmaltz commented on #526
@Eilon @PinpointTownes @HaoK Happy to see the default off. Was there any thought about using the BootStrapContext? I have seen multiple instances where the addition of a single claim has caused issues. The IDP never issued these claims.

[2016-01-05 22:38] HaoK commented on #546
3257a82367e946a351cc1eaa02a9bb5dae2a432b

[2016-01-05 22:38] #546 closed

[2016-01-05 23:01] Tratcher commented on #642
That's weird. Try running `dnu list --details` to see who is pulling in the old OptionsModel package.

[2016-01-06 00:04] HaoK commented on #588
I cannot repro this on current bits.  If you can repro this with RC2 bits, please reopen the issue...

I tried:

                options.Events = new CookieAuthenticationEvents
                {
                    OnRedirectToAccessDenied = context => {
                        context.Response.StatusCode = 403; return Task.FromResult(0);
                    },
                    OnRedirectToLogi

[2016-01-06 00:04] #588 closed

[2016-01-06 00:07] jods4 commented on #588
@Haok I'll try again when the RC2 bits are out and let you know.

[2016-01-06 00:14] mikes-gh commented on #642
It was an old nugget package.  I used visual studio to install (click on the red squiggle).  That installed a fixed version that was lower than 1.0.0-* which gave 1.0.0-rc2-16216 which works fine
Sorry for noise

[2016-01-06 00:14] #642 closed

[2016-01-06 16:42] leastprivilege opened #644 "GetClaimsFromUserInfoEndpoint option available for all Flows with response_type token"
OIDC spec says in "5.4.  Requesting Claims using Scope Values"

"The Claims requested by the profile, email, address, and phone scope values are returned from the UserInfo Endpoint, as described in Section 5.3.2, when a response_type value is used that results in an Access Token being issued. However, when no Access Token is issued (which is the case for the response_type value id_token), the resu

[2016-01-06 16:44] leastprivilege commented on #639
it probably should go on `AuthenticationOptions` and not `RemoteAuthenticationOptions`

[2016-01-06 16:48] leastprivilege commented on #526
So will someone also change expires_in to expires_at ??

[2016-01-06 17:13] Tratcher commented on #644
Duplicate of https://github.com/aspnet/Security/issues/456

[2016-01-06 17:13] #644 closed

[2016-01-06 17:15] Tratcher commented on #639
It wouldn't belong on the base AuthenticationOptions because it wouldn't apply to things like Cookies, Basic, etc.. If we do this I'd just duplicate the property for JWT rather than moving it up to AuthOptions.

[2016-01-06 17:24] brentschmaltz commented on #526
+1 on expires_at, as noted above, expires_in is a relative time.

[2016-01-06 18:44] PinpointTownes commented on #526
@leastprivilege you know you can send a PR? :smile:

If nobody wants to send a PR, I'll submit one to fix all the `SaveTokensAsClaims` issues.

[2016-01-06 20:17] Tratcher commented on #526
Go for it

[2016-01-07 08:51] leastprivilege commented on #526
@PinpointTownes Last time I checked, there are also paid developers at Microsoft to take care of that ;)

[2016-01-07 17:18] PinpointTownes opened #647 "Consider moving GenerateCorrelationId and ValidateCorrelationId to RemoteAuthenticationHandler"
Currently, both `OAuthHandler` and `OpenIdConnectHandler` rely on private or protected methods to generate and validate anti-XSRF tokens.

To make things DRYier, standardize the two implementations and allow `RemoteAuthenticationHandler` inheritors to use correlation checks without having to embed their own methods, moving `GenerateCorrelationId` and `ValidateCorrelationId` to `RemoteAuthenticatio

[2016-01-08 07:11] shederman opened #648 "Cors requires authorization on preflight"
The W3 spec clearly states that this should not be the case.

[code]

[2016-01-08 07:14] shederman commented on #648
services.AddCors(options =>
			{
				options.AddPolicy("CorsPolicy", builder =>
				{
					builder.AllowAnyHeader()
					.AllowAnyMethod()
					.AllowAnyOrigin()
					.AllowCredentials();
				});
			});

			app.UseCors("CorsPolicy");

[2016-01-08 08:29] davidfowl commented on #648
/cc @kichalla

[2016-01-08 16:30] vinny-Jo opened #649 "Claim Authentication (windows authentication)"
I am trying to build a webapi service using windows authentication with a custom role provider using Claim authentication. Unfortunately I am not able to find a way to use ClaimTransformationAppBuilderExtension since it is only exposed has part of Microsoft.Aspnet.Http.Abstractions. How can we reference or use from Microsoft.AspNet.Builder.Internal.ApplicationBuilder the Microsoft.AspNet.Builder.C

[2016-01-08 17:38] Tratcher commented on #649
I don't quite understand the question. UseClaimsTransformation is defined here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication/ClaimsTransformationAppBuilderExtensions.cs#L45
It's an extension method on Microsoft.AspNet.Builder.IApplicationBuilder. You need to include the Microsoft.AspNet.Authentication package and the Microsoft.AspNet.Builder namespace.

It's also

[2016-01-08 21:23] HaoK commented on #628
5bcc1bfc260978b0bea9b981056dd0beb31df400

[2016-01-08 21:23] #628 closed

[2016-01-08 21:46] #611 closed

[2016-01-08 21:50] #626 closed

[2016-01-11 08:41] vinny-Jo commented on #649
I am trying to use UseClaimsTransformation but it is not exposed from configure (startup method). Yes I included Authentication and Builder as reference but [[Internal]].ApplicationBuilder does not have the UseClaimsTransformation exposed so it can used as app.UseClaimsTransformation(o => o.Transformer = new ProspectClaimsTransformer());

[2016-01-11 10:46] tim-cools opened #650 "I get a 500 on JWT token expiration"
When I call mu api after my JWT token has expired I get a 500 with following exception:

    SecurityTokenExpiredException: IDX10223: Lifetime validation failed. The token is expired. ValidTo: '01/08/2016 17:09:45' Current time: '01/11/2016 10:40:22'.

My action is decorated with [AllowAnonymous] so I actually expect the exception to be swallowed and my user not to be authenticated. Or do I make a

[2016-01-11 12:46] PinpointTownes commented on #650
It's a known bug, that was fixed in RC2. You can read https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/191 for more information.

[2016-01-11 13:08] tim-cools commented on #650
Thanks again!

[2016-01-11 13:08] #650 closed

[2016-01-11 15:22] Tratcher commented on #649
Before:
[code]
After:
[code]

[2016-01-11 15:42] vinny-Jo commented on #649
Hi Chris,

Yes it is working…

Thanks very much.

Regards,

Vincent Jourdain

Architect/Lead Developer

D: 0800 408 1451

From: Chris R [mailto:notifications@github.com]
Sent: 11 January 2016 15:23
To: aspnet/Security <Security@noreply.github.com>
Cc: Vincent Jourdain <Vincent.Jourdain@phmg.com>
Subject: Re: [Security] Claim Authentication (windows authentication) (#649)

Before:

using Microsoft.

[2016-01-11 15:45] vinny-Jo commented on #649
Yes it is working

[2016-01-11 15:45] #649 closed

[2016-01-12 11:12] 717009629 opened #651 "rc1-final HttpContext.Authentication.SignInAsync() do not work who can help me thanks"
rc1-final  HttpContext.Authentication.SignInAsync() do not work, who can help me  thanks!!!!

[code]

[code]
![xl b p51pjy 6f3 d4swt m](https://cloud.githubusercontent.com/assets/16289643/12262331/3decb374-b962-11e5-97d7-8138b1301c1d.png)
After SignInAsync ,  the user  is not Authenticated!!!!!!!!

[2016-01-12 11:18] 717009629 commented on #624
我用的rcl-final ，执行完HttpContext.Authentication.SignInAsync之后用户并没有被认证啊 ，求大神帮忙！！！

[2016-01-12 11:24] 717009629 commented on #624
![xl b p51pjy 6f3 d4swt m](https://cloud.githubusercontent.com/assets/16289643/12262316/21cf0304-b962-11e5-915e-d0a3852f33ad.png)

[2016-01-12 11:52] yuezhongxin commented on #624
@717009629 身份验证在下个请求之后才会有效，你可以写个示例试试，比如身份验证后跳转到另外一个Aciton中。

[2016-01-12 12:00] 717009629 commented on #624
@yuezhongxin   我试了 singin之后跳转到 一个加了【authorize】的action之后 无限循环啊

[2016-01-12 12:04] yuezhongxin commented on #624
@717009629 你程序打包发我邮箱下。xishuai@cnblogs.com

[2016-01-12 12:05] blowdart commented on #651
You need to create the ClaimsIdentity with an authentication type. You've missed that out. If you check the principal you created, and the identity within it you'd also see IsAuthenticated is false.

For example

    var userIdentity = new ClaimsIdentity("SuperSecureLogin");
    userIdentity.AddClaims(claims);
    var userPrincipal = new ClaimsPrincipal(userIdentity);

[2016-01-12 12:06] blowdart commented on #648
This is a CORS bug. Please recreate the issue in the CORS repo.

https://github.com/aspnet/CORS

[2016-01-12 12:06] #648 closed

[2016-01-12 12:15] 717009629 commented on #651
@blowdart
but  i have  added an authentication type
var user = new ClaimsPrincipal(new ClaimsIdentity(new[] { new Claim(ClaimTypes.Name, "bob") }, CookieAuthenticationDefaults.AuthenticationScheme));

the code above can work？  my english is not good

[2016-01-12 12:19] blowdart commented on #651
Oh yes, so you have. Before you call signinasync is the isauthenticated property on the principal's single identity true?

[2016-01-12 12:26] 717009629 commented on #651
@blowdart  not true， but after signinasync , the next request is also not authenticated

[2016-01-12 12:29] 717009629 commented on #624
@yuezhongxin 大神我发给你了

[2016-01-12 12:29] blowdart commented on #651
OK so it needs to be true, before you call signin, because we don't change the principal, only persist it.

Could you try creating the identity in a line on its own?

[2016-01-12 12:40] 717009629 commented on #651
@blowdart   but this is the sample on github https://github.com/aspnet/Security/tree/dev/samples/CookieSample
i change the  version to rc1-release ,it does not work as expected

[2016-01-12 13:03] yuezhongxin commented on #624
@717009629 我写了个示例，测试是可以的，已经邮箱发给你了。

[2016-01-12 13:07] 717009629 commented on #624
@yuezhongxin 谷歌我上不去啊

[2016-01-12 13:10] yuezhongxin commented on #624
@717009629 http://pan.baidu.com/s/1Zd8i6

[2016-01-12 13:34] 717009629 commented on #624
@yuezhongxin  大神你给我例子在我机子上还是不行啊点击登陆 还是跳回 about界面

[2016-01-12 13:34] 717009629 commented on #624
@yuezhongxin  大神能加一下你的qq吗

[2016-01-12 14:07] yuezhongxin commented on #624
@717009629 你再试试。

![untitled](https://cloud.githubusercontent.com/assets/6800671/12265538/89bd11e8-b978-11e5-8026-68f68ef7987d.gif)

[2016-01-12 14:14] 717009629 commented on #624
谢谢大神 果然是浏览的原因 @yuezhongxin

[2016-01-12 14:14] 717009629 commented on #624
@yuezhongxin 和代码没关系 郁闷死了 ，差点抓狂了

[2016-01-12 14:17] yuezhongxin commented on #624
@717009629 😊

[2016-01-12 14:22] 717009629 commented on #651
@blowdart  thankyou  ！ I solved it !   it has nothting to do with the code , after i clear the browser cookies, it workes. thank you

[2016-01-12 15:15] blowdart commented on #651
Ah yes. The simple sample doesn't do that :D

[2016-01-12 15:15] #651 closed

[2016-01-12 18:02] Tratcher commented on #648
This issue was moved to aspnet/CORS#60

[2016-01-13 00:56] HaoK commented on #526
Unassigning for retriage

[2016-01-13 09:13] sebnema opened #652 "HttpAbstractions-DefaultAuthenticationManager Signin issue - "No authentication handler is configured to handle the scheme ...""
Hi,
I created custom IdentityRoleStore and IdentityUserStore classes, which are retrieving claims from both AD and SQL Server.

During registration of a new account, “await _signInManager.SignInAsync(user, isPersistent: false)” code block raised error even trying many different combination of cookie and identity options.
Finally, We realized Microsoft.AspNet.Http.Authentication.Internal.DefaultAut

[2016-01-13 09:33] russdaygh commented on #652
The statement in question negates the boolean so the exception is being thrown as expected.

        v
    if (!signInContext.Accepted)

[2016-01-14 19:06] Tratcher commented on #652
Sounds like a strange race condition. Something in the SignIn call stack may not be correctly flowing Tasks.  Can you also share the section of your Startup.Configure with all of your authentication middleware?

Including the the stack trace for your debug break point above would also help us check if the issue was up the stack.

[2016-01-14 19:08] Tratcher commented on #652
Uploading a repro app to a github repo is another good way to help.

[2016-01-14 21:55] jon49 commented on #209
For legacy applications what would be the best route if we can't use Oauth2. The company I work at has a server that validates the username/password and tokens that were returned on sign in. But it isn't externally facing. So, I basically need to build an Oauth2 and Bearer style authentication into my server. But Oauth2 doesn't make sense if it's the same server. Since I'm dealing with iOS apps an

[2016-01-14 23:07] Eilon commented on #284
Moving to backlog.

[2016-01-14 23:15] Eilon commented on #300
Moving to backlog as we don't think this is a major issue in the most common scenarios.

[2016-01-14 23:17] Eilon commented on #652
@sebnema please share a repro app with us (either internally or on GitHub).

[2016-01-14 23:21] Eilon commented on #640
Ideally we would mock away this logic and rewrite the test to avoid these stricter checks.

[2016-01-14 23:38] Eilon commented on #639
We're considering putting the data into the `AuthenticationProperties` instead of as claims. Would that make sense here?

[2016-01-14 23:43] Eilon commented on #605
Yup, no WS-Fed planned for the current release, but we are looking at implementing it later.

[2016-01-14 23:49] Eilon commented on #614
For the defaults we should do (1) where the defaults are initialized in the list, and it's up to the app developer to add/remove/clear/whatever.

[2016-01-14 23:55] PinpointTownes commented on #614
@Eilon now that "delegate-style" middleware extensions have all been removed, clearing/removing a property list is really ugly :smile:

Before:

[code]

Now:

[code]

[2016-01-15 00:10] mikes-gh opened #654 "Can't find working example of getting first_name claim using Facebook rc2"
I can get email and name from the authentication request But even looking through the source I can't work out how to get first_name or last_name.
I think I need to use the userendpoint.

It would be great if this could be added to the social sample.

[2016-01-15 01:46] HaoK commented on #575
@brockallen Take a look at this PR: https://github.com/aspnet/Security/pull/655

Does something like this work for you?  Basically you would just have to do something like this:

[code]

[2016-01-15 11:19] airomero commented on #605
Thanks. Do you have any idea when could it be implemented? RTM, during 2016, during 2017..... I'd like to have an idea in order to consider or not starting to migrate some projects to aspnet5 that depende on ADFS2. Thanks again.

[2016-01-15 14:14] smbecker commented on #614
You could always add an extension method to simplify this case. Something like:
[code]

With usage:
[code]

[2016-01-15 17:11] mikes-gh commented on #654
Looking at the source for

FacebookHandler

all the fields are added to the UserEndPoint request but only a few fields (hard coded) are read are read from the json.  So even if I put first_name in fields collection and I see the value in the json reponse it is not in the claims collection.
Still not sure how to proceed.

[2016-01-15 17:31] Eilon commented on #605
Hopefully this calendar year. We understand the importance of it.

I wonder if you could use the existing Katana WS-Fed middleware as auth middleware in ASP.NET 5... we do have the ability to hook up some Katana-era middleware in the pipeline. Auth middleware is a bit trickier though.

@Tratcher any idea if that has even a chance of working?

[2016-01-15 17:48] Tratcher commented on #605
No the Katana and AspNet 5 security infrastructures are not inter-operable.

[2016-01-15 18:41] airomero commented on #605
I understand, but consider that maybe some places can´t change their infrastructure (in our case migrate to a newer version of ADFS) because they want to use aspnet5. I want to take advantage of aspnet5, but it would be great not to have an overhead of work in our infrastructure. Or if you tell me that i have to use the latest version of iis to run aspnet5 it'd be also a dissapointment. It would b

[2016-01-15 18:53] PinpointTownes commented on #605
@airomero another approach would be to use a tiny OpenID Connect/WS-Federation bridge: your ASP.NET 5 could then use the official OIDC middleware and you wouldn't have to wait for the WS-Federation middleware.

FWIW, that's something that should be easy to implement with the OWIN version of ASOS and Katana's WS-Federation middleware: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.

[2016-01-15 19:33] airomero commented on #605
The investigation i made in aspnet5 has been using openid, i´ll give it a try to the bridge. But please consider this as it is very important to oficially support WS-Federation.

[2016-01-15 19:50] Eilon commented on #605
@airomero duly noted that it is important.

[2016-01-15 19:54] PinpointTownes commented on #605
@airomero both the ASP.NET team and the Azure AD team (that maintains IdentityModel) have limited resources and they had to cut many features from RTM to respect the deadline (e.g SignalR and WebPages) and WS-Federation is one of them.

The WS-Federation middleware itself will be trivial to implement, but having WS-Federation primitives/deserializers/metadata retrievers is a prerequisite: [sadly,

[2016-01-15 20:12] Tratcher commented on #654
Hook into `Options.Events.CreatingTicket` and you can add additional claims.

[2016-01-15 21:50] mikes-gh commented on #654
Ok Ill try and work that out myself are there any docs?

I think it would be useful to

Add  all the "free" Facebook fields from email and public_profile to the FacebookHelpers and FacebookHandler.

These include
#email scope
email (already mapped)

#public_profile scope
id (already mapped)
name (already mapped)
first_name (ClaimTypes.GivenName)
last_name (ClaimTypes.Surname)
age_range (urn:facebo

[2016-01-15 22:44] HaoK opened #657 "Consider adding Async version for AddAssertion sugar"

[2016-01-15 22:55] HaoK opened #658 "Consider adding Async version for AddAssertion sugar"

[2016-01-15 23:20] HaoK commented on #575
2e1a8b31cd0c520ffd69ba7818313ae9a9f688a4

[2016-01-15 23:20] #575 closed

[2016-01-16 15:42] brockallen commented on #575
Nice, thanks.

[2016-01-16 16:43] mikes-gh commented on #654
@Tratcher

Would you accept a PR for the above?
Its a very simple change.

[2016-01-16 19:32] airomero commented on #605
I hope WS-Federation will be ready this year since it is a prerequisite for us to implement aspnet5!!!!

[2016-01-16 19:36] PinpointTownes commented on #605
Repeating it again and again doesn't really help :smile:

If you absolutely need a WS-Federation middleware for your application, nothing prevents you from creating your own one.

[2016-01-17 12:18] VijayBhatter commented on #654
I am stuck in my project as there is not much documentation on how to Hook into Options.Events.CreatingTicket and add additional claims.

And code example would be of great help.

[2016-01-17 14:59] leastprivilege commented on #639
I thought this was meant to be a convenient way to get to the access token without having to implement an event. The token should be available as a property (or on the protocol message in OIDC) anyways.

[2016-01-17 15:21] Tratcher commented on #639
The auth properties flow with the ClaimsPrincipal all the way back to the app, and through the cookie.

[2016-01-17 16:15] PinpointTownes commented on #639
@Eilon @Tratcher when adding `SaveTokensAsClaims` to the OIDC middleware, I had considered using `AuthenticationProperties`, as it was the best candidate for that. Sadly, retrieving authentication properties is much harder than retrieving a simple claim (not to mention that it requires using a very strange syntax).

[code]

[code]

[2016-01-18 03:40] yuezhongxin commented on #617
@davidfowl Now what progress?

[2016-01-18 03:55] yuezhongxin opened #659 "Another way of DataProtectionProvider?"
Startup.cs code:

[code]

Web application publishing in multiple servers, I use the following method(#624):

But I do not want to use this sharing, there is no other solution? For example, using SQL Server reads the key.

[2016-01-18 04:48] davidfowl commented on #617
Nobody is working on this. Did you try one of the suggestions?

[2016-01-18 06:24] Tratcher commented on #659
This issue was moved to aspnet/DataProtection#115

[2016-01-18 06:24] #659 closed

[2016-01-18 08:06] yuezhongxin commented on #617
@davidfowl Sorry, now I do not try to do this, but in my plan, some time ago I tried the next, but the implementation is very difficult, because the code involved is very large, Chinese called "牵一发而动全身", later if there is progress, I'll get back to you Thank you. :)

In addition, about this, do you have any plans? The future will provide a compatible version?

[2016-01-18 09:31] yuezhongxin commented on #617
* [MVC6 Decrypting a forms authentication cookie from another website](http://stackoverflow.com/questions/34265117/mvc6-decrypting-a-forms-authentication-cookie-from-another-website)
* [FormsAuthenticationTicketHelper.cs](https://gist.github.com/dazinator/0cdb8e1fbf81d3ed5d44#file-formsauthenticationtickethelper-cs)

[2016-01-18 17:47] jods4 opened #662 "Server and X-Powered-By headers"
I had an internal security review on our app today, and the audit pointed out that the server identify itself in http headers:
[code]

I think that it's usually accepted that identifying the server software could lead to easier / automated exploits of known security breaches. As such, publicly disclosing it is not a best practice.

Is it a good idea to identify Kestrel by default on a new website?

[2016-01-18 18:00] davidfowl commented on #662
See https://github.com/aspnet/Hosting/issues/571

[2016-01-18 18:01] jods4 commented on #662
ah wrong repo it seems. Thanks, shall I close this ticket?

[2016-01-18 18:02] #662 closed

[2016-01-19 00:33] billboga commented on #560
@mikeandersun: see if this helps: https://github.com/IdentityServer/IdentityServer3/issues/2112#issuecomment-172692273.

[2016-01-19 14:49] sebnema commented on #652
Hi,
I created a Git repo https://github.com/sebnema/HttpAbstractions-1.0.0-rc1-NoAuthHandler

What I did is;
- Downloaded HttpAbtractions 1.0.0-rc1 sources from https://github.com/aspnet/HttpAbstractions/tree/1.0.0-rc1
- Added CookieWebAppTest test project.
- Set build configuration of all projects in the solution as "Produce outputs on build".
- Created Bootstrapper class which is an extension cl

[2016-01-19 16:02] mikes-gh opened #663 "Current build failure"
@Tratcher

I had a look at this today.
It seems there is a dependency issue with the tests

System.Threading.Tasks
Version=4.0.11.0 != Version=4.0.10.0

I don't understand enough to really know whats going on but hopefully this might help.

[code]

[2016-01-19 21:41] Eilon commented on #652
@sebnema why are you running from source code? I highly recommend using the packages from NuGet.org.

[2016-01-20 01:41] Eilon opened #664 "Add doc comments for options types, e.g. CookiePolicyOptions"
No doc comments here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.CookiePolicy/CookiePolicyOptions.cs

[2016-01-21 00:12] mikes-gh commented on #654
@Tratcher Trouble with this event is the JSON responce is no longer available and you have to construct a new request with the extra fields repeating all the logic in the handler and helper and resulting in an extra trip to the facebok userinfoenpoint.
As soon as this repo gets building again I have a change to add all the public_profile fields to the helper and handler plus a better set of defaul

[2016-01-21 04:21] yuezhongxin commented on #617
I tried again, but still failed, I was ready to give up temporarily.

[2016-01-21 12:14] Sinstraliz commented on #359
Hi guys,

I am trying to use the OAuthMiddleware to authenticate against google. I have a google token that I am sending to a ASP.NET vNext Web API and I am trying to validate this token. On previous versions of ASP.NET I have been using this code to do this:
[code]
but currently I can not find a "X509SecurityToken" implementation in the IdentityModel v 5.0. Do you have any suggestions how I can v

[2016-01-21 14:20] PinpointTownes commented on #359
@Sinstraliz `X509SecurityToken` has not been ported to IM 5. Instead, you need to use `X509SecurityKey`.

[2016-01-21 14:50] Sinstraliz commented on #359
Ok thank you for the quick response.

[2016-01-21 17:06] brentschmaltz opened #665 "Redundant mutliple local variables."
In reviewing PR 33, https://github.com/aspnet/Security/pull/653/files I notice that the code around https://github.com/aspnet/Security/blob/tratcher/feedback/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L143 has a bunch on redundant var declarations.

[code]

could be written differently to reduce GC pressure:

                var inputs = new StringBuilder();

[2016-01-21 17:30] PinpointTownes commented on #665
To quote @davidfowl... "WTF"? :open_mouth:

[2016-01-21 18:22] Tratcher commented on #665
This is just style, it has no functional or perf impact. I'd expect the same compiler output from both.

[2016-01-21 18:22] #665 closed

[2016-01-21 18:37] Tratcher commented on #654
The raw JSON should be available in OAuthCreatingTicketContext.TokenResponse.Response that's passed into CreatingTicket.

[2016-01-21 18:39] Tratcher commented on #663
Still having issues with this? dev builds fine from what I can tell. You may need to do `git clean -xdf` to update the cached build tools.

[2016-01-21 18:49] mikes-gh commented on #663
@Tratcher Thanks for coming back to me

But the CI build is failing swell so it can't just be me can it?

https://ci.appveyor.com/api/buildjobs/nal2jpgorx1talf6/log

My process for a clean build.
Delete all contents of .dnx/packages
git clone a brand new copy of the repo
build.cmd verify

Anything else I should be doing.

Last build failed after @JunTaoLuo updated the WebApplication => WebHost
I t

[2016-01-21 19:07] mikes-gh commented on #654
That only gives the JSON for the access_token not for the fields requested from the userinfoendpoint.
Those are already saved as claims by the FacebookHandler.
The only way to get more fields is by resubmitting a new request to the userinfoendpoint and parsing the response

[2016-01-21 19:10] Tratcher commented on #654
Ah, wrong field. Check OAuthCreatingTicketContext.User

[2016-01-21 19:25] mikes-gh commented on #654
Got it
Man thats obscure especially as User in HttpContext is normally a claims principal.
Very confusing.

[2016-01-21 19:46] mikes-gh commented on #654
The working code for reference

[code]

[2016-01-21 20:02] mikes-gh commented on #654
@VijayBhatter  the above should help.

[2016-01-21 20:31] DamianEdwards opened #667 "Flow for authenticated but unauthorized users with OIDC is broken (infinite redirect)"
The [live.asp.net](https://github.com/aspnet/live.asp.net) web site is configured to authenticate with OIDC (Azure AD) **only** (as emitted by the template during File -> New). The `AdminController` is configured to require authorization with a policy "Admin", which basically just [asserts that the user is signed in with one of three usernames](https://github.com/aspnet/live.asp.net/blob/dev/src/l

[2016-01-21 21:42] blowdart commented on #667
Ah, forbidden only kicks in when using cookies. @HaoK

[2016-01-21 21:44] Tratcher commented on #667
I think OIDC Challenge needs to check Authenticated(SignInScheme), and if true, call Forbid(SignInScheme).

[2016-01-21 21:58] Tratcher commented on #667
Note all the redirecting auth providers could have this issue if used stand-alone. They could all use the same fix.

[2016-01-21 22:18] muratg commented on #456
Moving this to Backlog as we will be in RC2 ask mode very soon.  If you feel strongly about this issue, please ping me.

[2016-01-21 23:17] Eilon commented on #639
Putting on Backlog for now. We will revisit the popular suggestion at a later time. (Popular == not the one I made :smile: )

[2016-01-21 23:20] Eilon commented on #667
Backlog for now.

[2016-01-21 23:20] Eilon commented on #663
This is most likely broken due to a lot of large changes going on now.

[2016-01-21 23:25] Eilon commented on #652
@Tratcher can you take a look at the repro app?

[2016-01-22 01:51] brockallen commented on #456
Yes, this is important.

[2016-01-22 05:29] leastprivilege commented on #456
yes - absolutely!

[2016-01-22 14:27] mikes-gh commented on #663
It compiles ok in visual studio its just the tests that don't run

[2016-01-23 11:03] VijayBhatter commented on #654
Thank you @mikes-gh for the help.

[2016-01-24 15:38] kwaclaw opened #670 "Authorization infrastructure does not handle "per action permissions" use case well"
In WebApi 2 we used an AuthorizationFlterAttribute to implement the following permissions based concept:
* Each controller action has a permission code associated.
* Roles are associated with a set of permissions. This set can change over time.
* A user has one or more roles.
* Authorization is determined by checking if any of the user's roles is associated with the action's permission code.

This

[2016-01-24 15:44] brockallen commented on #670
This might help (in RC2): https://github.com/aspnet/Security/issues/630

[2016-01-24 15:56] kwaclaw commented on #670
From where is the resource picked up? I don't see a change to the AuthorizeAttribute to include  a Resource property.

[2016-01-24 15:59] brockallen commented on #670
You would pass it explicitly. It's the imperative approach. You're right that it's harder to from declaratively.

[2016-01-24 16:05] kwaclaw commented on #670
I see. I would prefer the declarative option though.

[2016-01-24 20:57] davidfowl commented on #670
When you're using MVC, the resource by default is the filter's authorization context. You can use that to get information about the action being executed and that's how you can discover the attribute:

[code]

[2016-01-24 22:22] davidfowl commented on #670
Tiny improvement to get rid of the auth policy altogether:

[code]

And Startup.Configure can be changed to:

[code]

[2016-01-24 22:52] blowdart commented on #670
To be fair, creating a policy per permission is just as much work as adding a parameter onto each attribute.

[2016-01-24 22:58] davidfowl commented on #670
Possibly, it depends on what data needs to be round tripped to the Handler. You can't really pass any data besides the policy name itself. If permissions was a flags enum for example you couldn't do the same thing.

[2016-01-24 23:20] blowdart commented on #670
That's not true at all. Requirements can have parameters. That's how you pass them down. So you'd have a general permissions parameter which takes data in the constructor, and then that is passed as the requirement parameter into Handle.

[2016-01-24 23:29] davidfowl commented on #670
You'd have to enumerate all permissions up front and add a policy for each with the same name:

`Startup.ConfigureServices`

[code]

[code]

[2016-01-24 23:31] davidfowl commented on #670
That matches our pattern but does feel a bit cumbersome having to turn your permissions into a concrete class in order to round trip state. If you were trying to represent ACLs for example would you model it that way?

[2016-01-24 23:34] blowdart commented on #670
ACLs are a strange think, and don't map to web permissions easily. Instead you'd probably see a claim like "DocumentPermissions" with a CRUD value which spans the library, and then you'd use resource based auth to further drill in, just like a file ACL acts on a file, not a path.

[2016-01-24 23:35] blowdart commented on #670
Just like you enumerated all the permissions up front and put an attribute for each. It's much the same amount of work!

[2016-01-24 23:35] davidfowl commented on #670
What if we turned this:

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization/AuthorizationOptions.cs#L9 into a Policy provider (like Cors has) and the default implementation would be based on the policy map, but in this case it could be implemented by making permissions based on whatever data source you were using.

[code]

[2016-01-24 23:36] blowdart commented on #670
Well now we're changing an entire feature between RC and RTM and you already know it's way too late for that.

[2016-01-24 23:37] davidfowl commented on #670
It's not, It's adding an interface and come to think about it, it should have probably been implemented this way from the beginning.

[2016-01-24 23:38] blowdart commented on #670
If you wanted to drag the permissions from a database then add an empty requirement, and inject the repository into the Handler class. Then just apply that single policy everywhere, and act according on route data (ugh, fragile)

[2016-01-24 23:38] blowdart commented on #670
It's not just adding an interface. It's changing how we designed it. Which you signed off on :p We have a policy provider. It's the authorization service.

[2016-01-24 23:40] davidfowl commented on #670
Super hacky.

It really isn't. It's literally replacing calls to `AuthenticationOptions.GetPolicy` by a call to an interface, but that's an implementation detail.

It's not, the `IAuthorizationService` does a *LOT* more than look up policies.

[2016-01-24 23:42] blowdart commented on #670
Talk to @HaoK about it when he's back. But we've been told no more redesigns, we should *not* be changing this at such a late stage.

[2016-01-24 23:49] davidfowl commented on #670
Sounds great :smile:

For completeness, with this new interface, the above request would look like this:

[code]

[code]

Startup.ConfigureServices

[code]

Controller

[code]

[2016-01-24 23:59] davidfowl commented on #670
@kwaclaw Bottom line is that with the new authz system, there's always a bit of indirection with policies. If you need to round trip information from the callsite (the action method in this case), there's 2 options, using a policy or a resource. In the case of an MVC action, the resource will always be the an MVC specific AuthzContext, so the only thing you can do is map policy names to your permi

[2016-01-25 03:35] Tratcher commented on #526
So I went to change expires_in to expires_at

[2016-01-25 03:35] #526 closed

[2016-01-25 03:36] #632 closed

[2016-01-25 16:01] kwaclaw commented on #670
Thanks for all the discussions.

Considering that authorization is often applied to specific actions, I would have expected that I can use any action-specific information that my use case requires in the processing of the authorization.

Well, since I am using MVC I still have the old AuthorizationFilterAttribute.

[2016-01-25 16:03] davidfowl commented on #670
@kwaclaw You can. All @blowdart is saying that based on your requirements (or what we understood from them), you don't need anything specific other than the permissions decorated on the action. That's morally equivalent to a policy name. Do you do something more complex? (Even then, you can grab the Mvc AuthzContext to get more specific information about the action method).

[2016-01-25 16:46] NickAb opened #673 "Can JwtBearerSample be used with ADFS instead of AzureAD"
Hello,
I want to secure my ASP.NET 5 WebAPI using on-premise ADFS on Windows Server 2012.
Can `app.UseJwtBearerAuthentication` be used for this? If yes, how should I reconfigure JwtBearerSample to auth against local ADFS server?

[2016-01-25 17:06] kwaclaw commented on #670
Yes, I can, but I have to create one policy per permission code. In the past, I just had to attach the attribute.
Now I have to add another step that should not be necessary.
And yes, I can use reflection to auto-create those policies on startup - but that means I am hacking the design.

[2016-01-25 17:56] sebnema commented on #652
To be able to find where the error occurred, I should have debugged. I couldn't find .pdb files on nuget.org. If there is, please let me know where to find.

[2016-01-25 19:28] HaoK commented on #670
@davidfowl @blowdart RE the IPolicyProvider, that's been on my todo list for a long time but without an actual scenario to drive it, it kept getting pushed...  This was one tracking issue for it: https://github.com/aspnet/Security/issues/266

I agree that's we should have something that is only responsible for the policy mapping.  Is this something we want to try and do this week for Ask mode?

[2016-01-25 22:34] HaoK commented on #631
The RequireAssertion that returns a bool sugar addresses this I think

[2016-01-25 22:34] #631 closed

[2016-01-26 15:37] kjanshair opened #678 "ASP.NET 5 Identity with one table and 4 columns"
I creating an ASP.NET MVC 6 application which uses Identity with Entity Framework on SQL Server. By default, it creates 5 tables in the database

AspNetRoles
AspNetClaims
AspNetLogins
AspNetRoles
AspNetUsers

But I want only 1 table in the database instead of these 5 with 4 columns integer Identity Column, UserName, Email and Password (Hashed). How do I implement or create a custom user store?