[2017-05-23 09:58] george-ayris opened #1227 "alg=none for Microsoft.AspNetCore.Authentication.JwtBearer middleware"
Hi there,

I'm using the JwtBearer middleware as part of an ASP.NET Core application and I'm trying to get it to accept tokens that have the `alg` field in the JWT header set to `none`. This is primarily to make automated testing easier on non-production environments.

My understanding was that the middleware would use the configured Authority's `.well-known/openid-configuration` endpoint to retri

[2017-05-23 11:28] RickBlouch commented on #1225
I have a follow on question along the same lines and I wasnt sure if this should be a new thread or not.  It seems relevant to the OP which is why I put it here.  We are using service fabric for our web apps and based on the samples and documentation you provided, we are planning to use blob storage for the data protection keys as follows so all web servers are on the same page.
 `serviceCollectio

[2017-05-23 13:07] Tratcher commented on #1225
@RickBlouch Interesting question. Please open a new issue in https://github.com/aspnet/DataProtection about the certificate rotation process.

[2017-05-23 14:23] vRITHNER opened #1228 "Usermanager.GetuserAsync and User.IsInRole don't work with v. 2.0.0-xxxxxx"
Hi,

I don't know if I'm in right repo to speak about that but with 2.0.0-preview1-final
my web mvc app with identity individual
` services.AddIdentityServiceAuthentication();`

with 1,1.0, my controller or view used a method:
`await _userManager.GetUserAsync(User);` to get user properties

with 2.0.xxx
please find attached the result in the capture:

![image](https://cloud.githubusercontent.com/a

[2017-05-23 15:59] HaoK commented on #591
Consider making cookie validators services?

[2017-05-23 16:57] #908 closed

[2017-05-23 17:43] Jonathan34 opened #1229 "Breaking changes on asp.net core 2 middlewares - guidance"
Hi,

Is there any guide to port a asp.net core 1.x middleware to asp.net core 2 preview 1?

I know about the great auth refactoring but can't seem to find guidance/recommendation to upgrade. Will it change a lot again in preview 2, 3 etc?

For instance AuthenticationMiddleware does not take a TOptions as parameter, so i am not sure how we then retrieve the handler...

[code]

Any sample somewhere

[2017-05-23 20:43] rynowak commented on #1172
After discussing more, not doing anything here for preview2

[2017-05-23 23:03] Tratcher commented on #1227
@brentschmaltz ?

[2017-05-24 08:29] ry8806 commented on #1225
@Tratcher thanks!

@RickBlouch - I'm also interested with this and will be interested to read the comments in the issue you open

[2017-05-24 16:51] MarkPflug opened #1230 "How can you 'configure' OpenIdConnectOptions CallbackPath?"
I'm trying to set the OpenIdConnectOptions.CallbackPath through appsettings.json configuration, but it throws an exception when I attempt to access the IOptions<OpenIdConnectOptions> Value property.

[code]

I can set this value in code, because there is an implicit conversion from string to PathString. Is there a way to set it through configuration?

[2017-05-24 17:13] HaoK commented on #1230
Yeah there's no support for PathStrings in the binder yet, I'll file an issue for this in Configuration

[2017-05-24 17:19] Tratcher commented on #1230
What's dynamic about your CallbackPath such that you need to set it from config?

[2017-05-24 17:33] MarkPflug commented on #1230
I can probably get away with the default, for now. However, I would expect that all properties on "Options" types of objects to be able to be initialized via configuration. Perhaps that is a mistaken assumption on my part.

The ultimate goal, is to be able to add new OpenId auth providers purely through configuration. If I have more than one OpenId provider, can they use the same callback endpoint

[2017-05-24 17:36] Tratcher commented on #1230
OIDC providers should use unique callback paths.

[2017-05-24 17:43] Jonathan34 commented on #1229
A middleware built with 1.1 is obviously not compatible with .net core 2.0.
i saw documentation is planned and tracked via this issue: https://github.com/aspnet/Docs/issues/3054

i will wait

[2017-05-24 17:43] #1229 closed

[2017-05-24 17:48] MarkPflug commented on #1230
Right, that's what I was expecting. So, to accomplish what I'm trying to do I'll need to be able to configure the CallbackPath via configuration, which is not currently possible.
I can work around this, by creating a "configurable" OpenIdConnectOptionsEx class, that simply uses string instead of PathString, and map it at runtime back to an OpenIdConnectOptions instance, but I was hoping to avoid t

[2017-05-24 17:56] MarkPflug commented on #1230
Nevermind. I found a better solution; register a custom TypeConverter for PathString:

    TypeDescriptor.AddAttributes(typeof(PathString), new TypeConverterAttribute(typeof(PathStringConverter)));

    public class PathStringConverter : TypeConverter
    {
        public override object ConvertFrom(ITypeDescriptorContext context, CultureInfo culture, object value)
        {
            return new

[2017-05-24 18:10] MarkPflug commented on #1230
I created an issue over in HttpAbstractions to track this, I'm assuming that will be the "fix". If you guys deem this worth fixing.

[2017-05-24 18:17] HaoK commented on #1230
Yeah PathString should be fixed since its basically a string+ primitive, binding should work for it

[2017-05-24 19:11] brentschmaltz commented on #1227
@george-ayris by default we don't allow algorithm 'none'. There are know attacks.
Assuming that "none" means there will be no signature. If you leave the signature off an do not specify any algorithm in the header.
You can set BearerOptions, TokenValidationParameters.RequireSignature = false. Then if a signature is not found, IdentityModel will not fault.

Audience, Issuer, Lifetime will still be

[2017-05-24 21:53] anurse opened #1231 "OAuth authentication broken due to SameSite cookie policy"
The `SameSite=strict` cookie default added in https://github.com/aspnet/Security/issues/908 breaks OAuth handlers setting Cookies on signin because the user action was taken on a different origin.

The problem only when the user actually has to log in or otherwise interact with their OAuth provider. In that case, user action is initiated in the domain of the OAuth provider, so when the browser red

[2017-05-24 21:57] anurse commented on #1231
To clarify, I believe only Chrome is broken right now because Chrome is the only browser properly adhering to SameSite, but as other browsers come online they will be broken.

[2017-05-24 22:00] muratg commented on #1231
cc @JunTaoLuo

[2017-05-24 22:05] anurse commented on #1231
FYI: The way this manifests in the SocialSample sample is that the user is not logged in when the page first loads after a log in. If you refresh the page, you are logged in. However, if automatic challenging is on, you'll get into a redirect loop, since the cookie wasn't sent, so the handler thinks it needs to log in again.

[2017-05-24 22:14] JunTaoLuo commented on #1231
We obviously need to at least set the samesite attribute to lax to keep things working. The spec for same site does not mention redirects so I'm not sure why the origin of the last document rendered is used to determine whether to send the cookie.

[2017-05-24 22:16] anurse commented on #1231
The samesite spec refers specifically to the URL in the browser address bar, which is not updated during redirects: https://tools.ietf.org/html/draft-west-first-party-cookies-07#section-2.1

[2017-05-24 22:17] anurse commented on #1231
But yeah, using lax seems to be the best option

[2017-05-25 00:12] openidauthority opened #1233 "Add MaxAge to OpenIdConnectOptions"
In a single sign-on environment, sometimes a specific application needs to have a shorter session than the identity provider. For example, the identity provider might have a 10 hour session, but a high-security application might need to re-authenticate users after 15 minutes of inactivity. Setting a short expiration cookie on the client application is ineffective, because when the local session ex

[2017-05-25 00:56] openidauthority commented on #1233
Should this be implemented as a TimeSpan, int, or nullable int?

[2017-05-25 02:50] #1156 closed

[2017-05-25 02:51] #1158 closed

[2017-05-25 02:52] #1201 closed

[2017-05-25 04:24] blowdart commented on #1231
Yup, we had emails about this early in the week, the oauth cookies need to be lax. As does the forms auth ones probably, and maybe even session.

[2017-05-25 10:46] jwhijazi commented on #804
Yeah... your solution for setting the AutomaticChagglenge to false worked for me.

[2017-05-25 11:49] george-ayris commented on #1227
@brentschmaltz thank you very much for your help.

[2017-05-25 11:49] #1227 closed

[2017-05-25 14:49] Tratcher commented on #1229
@Jonathan34 aspnet/Docs#3054 will primarily focus on app developers consuming auth, not those implementing it.

There are more changes for preview2, but not as dramatic. What kind of auth provider are you implementing? I suggest looking at the JwtBearer or Facebook implementations for reference.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearer

[2017-05-25 16:58] anurse commented on #1231
It makes me wonder how valuable `strict` is if the main authentication cookie (which seems like the thing you'd want to protect) can't use it. I wonder if a CORS-style list of allowed origins would have been better than a simple "strict" behavior. Lax is an improvement enough I suppose, since you couldn't do a cross-site form post.

[2017-05-25 19:03] Tratcher commented on #1228
@HaoK @javiercn

[2017-05-25 19:07] danroth27 commented on #1215
@ajcvickers @Eilon @muratg

@HaoK I believe this should be assigned to you, correct? Are you going to be able to get to this by EOW?

[2017-05-25 19:07] danroth27 commented on #1214
@ajcvickers @Eilon @muratg

@HaoK I believe this should be assigned to you, correct? Are you going to be able to get to this by EOW?

[2017-05-25 19:12] PinpointTownes commented on #1214
@danroth27 now that Azure AD is going to have its own OIDC extension/wrapper, is moving the non-standard/implementation-specific "telemetry" stuff from IdentityModel to this new helper something you could consider?

[2017-05-25 19:14] danroth27 commented on #1214
@vibronet @Tratcher @brentschmaltz

@PinpointTownes I'm not familiar with the "telemetry" stuff you're referring to. Adding some folks who probably have more context.

[2017-05-25 19:26] PinpointTownes commented on #1214
@danroth27 here's the _feature_ in question: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/529/files

It was discussed here: https://github.com/aspnet/Security/issues/1035.

[2017-05-25 19:33] javiercn commented on #1228
@danroth27

[2017-05-25 19:34] HaoK commented on #1212
per discussing @danroth27 we will keep this in the template code

[2017-05-25 22:18] danroth27 commented on #1212
Let's discuss with the B2C and Org auth stuff next week.

[2017-05-25 22:26] muratg commented on #1228
This issue was moved to aspnet/Identity#1243

[2017-05-25 22:26] #1228 closed

[2017-05-26 01:32] HaoK commented on #1176
e940cdb36bc7617af3d762ff9cc853a8fef55b0a

[2017-05-26 01:32] #1176 closed

[2017-05-26 01:42] HaoK commented on #901
e940cdb36bc7617af3d762ff9cc853a8fef55b0a

[2017-05-26 01:42] #901 closed

[2017-05-26 01:43] HaoK commented on #1199
e940cdb36bc7617af3d762ff9cc853a8fef55b0a

[2017-05-26 01:43] #1199 closed

[2017-05-26 01:45] HaoK commented on #1137
Closing this as there's nothing we plan on doing for preview 2, when I'm working on templates/your other sugar methods we can discuss this again @danroth27

[2017-05-26 01:45] #1137 closed

[2017-05-26 19:37] leastprivilege opened #1235 "Improve support for bearer token authentication"
The current JwtBearer middleware is pretty limited.

We need support for scenarios where an API can accept different token formats - e.g. JWT and reference token (both would use the bearer scheme on the authorization header).

What we need is

* general purpose "bearer token authentication middleware"
   * retrieves tokens from the rfc6750 specified locations
   * all the necessary validation etc

[2017-05-26 21:56] #1231 closed

[2017-05-26 22:20] HaoK commented on #1190
e940cdb36bc7617af3d762ff9cc853a8fef55b0a

[2017-05-26 22:20] #1190 closed

[2017-05-27 10:36] bgever opened #1236 "Support for password and JWT/SAML SSO grant types in OAuthMiddleware"
Related to #1036, I'd like to see support for:

- [Resource Owner Password Credentials](https://tools.ietf.org/html/rfc6749#section-1.3.3) (password) authorization grant.
- JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants ([RFC 7523](https://tools.ietf.org/html/rfc7523))
- Security Assertion Markup Language (SAML) 2.0 Profile for OAuth 2.0 Client Authentica

[2017-05-27 10:41] bgever opened #1237 "Support token revocation on SignOut in OAuthMiddleware"
To invalidate refresh tokens when the user signs out, it would be great if the OAuthMiddleware could support OAuth 2.0 Token Revocation ([RFC 7005](https://tools.ietf.org/html/rfc7009)).

Related to #1236, I'm interested to consider a PR to add this support.

[2017-05-27 11:19] bgever opened #1238 "Support for OAuth token refresh on OnValidatePrincipal with cookie authorization"
In my apps I'm using OAuth middleware together with cookie authorization. All is hooked up and working well.

However, since the cookie may be persisted or should live for the duration of the session, the underlying access token of the OAuth middleware may expire. OAuth offers to refresh the access token with a refresh token if the server supports this.

The `OnValidatePrincipal` event of the `Coo

[2017-05-27 14:03] brockallen commented on #1236
@bgever Many of the things you're asking for (including revocation, introspection, extension grants, etc) are already supported by IdentityServer: http://identityserver.io/

[2017-05-27 14:30] PinpointTownes commented on #1236
@brockallen don't forget that `OAuthMiddleware` is the OAuth2 client base middleware used by the social providers, not the equivalent of Katana's `OAuthAuthorizationServerMiddleware` in vNext.

[2017-05-27 15:04] bgever commented on #1236
@brockallen For clarity, with "OAuthMiddleware" I mean the OAuth client (consumer) support rather than OAuth server, which base implementation is done with the [`OAuthMiddleware<TOptions>` class](https://docs.microsoft.com/en-us/aspnet/core/api/microsoft.aspnetcore.authentication.oauth.oauthmiddleware-1).

There are framework and contributed ([aspnet-contrib/AspNet.Security.OAuth.Providers](aspnet

[2017-05-27 15:10] brockallen commented on #1236
Yes, I misunderstood -- I thought you were asking Microsoft to add those features as a server feature.

[2017-05-27 15:17] bgever commented on #1236
No worries - I appreciate the input. Maybe it should have been called the OAuth**Client**Middleware in the first place. Naming stuff is hard. 😏

[2017-05-27 15:41] PinpointTownes commented on #1236
Given that IdSrv is an OIDC server, the OIDC client middleware would probably be a better choice :smile:

Haha, thanks! Feel free to submit your provider if you want to see included in the aspnet-contrib stuff :smile:

[2017-05-27 17:38] HaoK commented on #1236
@bgever we are already overbooked for 2.0 right now, so this isn't something we have immediate plans to look at, so if this is something important to you, a PR might be the best way to get the ball rolling on what you have in mind, plus I believe we got things like SaveTokens in the base OAuth implementation (from a @PinpointTownes PR)

[2017-05-28 00:54] bgever commented on #1236
@HaoK I was anticipating this as we're so close to the 2.0 release. I don't mind getting started on a PR, as I'll need to make a custom implementation anyhow. It would be great to have this eventually built into the framework, with an additional security review by your team as I'm by no means a security expert.

Should I branch of `dev`? I'm thinking whether: 1) I can expand on `OAuthMiddleware<TO

[2017-05-28 01:15] bgever commented on #1236
If OpenID Connect (OIDC) can be used in the application, then it could be a better approach than the proposed flows. However, unless I misunderstood, the OIDC client middleware doesn't support the OAuth password or JWT/SAML SSO grant flows. When this issue is closed, the OAuthMiddleware should support these grant flows, also with IdentityServer.

The scenario I'd like to support is where the appli

[2017-05-29 14:15] Zenuka opened #1239 "OpenID Connect logout with Azure AD v2 endpoint not working"
I've tried logging out with the Azure AD v2 endpoint but I always get redirected to my application on the following url: `https://localhost:5000/signout-callback-oidc`. This url gives me a 200 http status code and a blank page. I think the problem is that it's missing `?state=some-encrypted-state`. [I noticed that the open id connect nuget needs the state param to redirect back to the application]

[2017-05-30 03:07] Tratcher commented on #1239
Not really. This code path still needs events that let you customize the behavior: https://github.com/aspnet/Security/issues/956

[2017-05-30 09:58] bgever opened #1240 "Unable to build Release 1.1.2"
Release 1.1.1 works fine, however, when I check out branch rel/1.1.2 (17fa77941ddea9c50f1aef541b37965f734292ab) (note, there seems no rel/1.1.2 tag) I get an error that Microsoft.NETCore.App 1.1.2 cannot be found.

The error as mentioned in https://github.com/dotnet/cli/issues/6143#issuecomment-304789441 seems to be related to that the `build.sh` creates a new `.dotnet` folder under my home direct

[2017-05-30 20:51] fedoranimus commented on #1006
@Gillardo @vishpriya I too am having this issue. Any solutions?

[2017-05-31 16:04] danroth27 commented on #1212
We decided not to do this.

[2017-05-31 16:04] #1212 closed

[2017-05-31 17:20] Serexx opened #1242 "VS 2017 15.3 Required ?"
For me loading this solution resulted in a protracted stream of load errors and package restores. I gave up after 20 minutes thinking it must be in a loop of some kind. I did notice that one of the first errors was as follows:

The version of Microsoft.NET.Sdk used by this project is insufficient to support this package.  Please ensure you are using the .NET Core SDK 2.0 or higher, which is includ

[2017-05-31 17:34] Tratcher commented on #1242
Those are pre-release samples. VS is out of sync with pre-release runtime we're using. We have a hard time making it work on a day to day basis, even with 15.3-pre. The only guaranteed way to build the dev branch is to run build.cmd from the command line. VS can sometimes be used after a command line restore/build.

[2017-05-31 18:27] HaoK opened #1244 "Split SignIn/SignOut into IAuthenticationStore interface"
After playing around with templates a bit, the configuration of the shread default schemes still is a bit complicated.

There are basically 3 kinds of auth handlers today

Store ones (Cookies/Bearer) that handle challenge/authenticate/forbid/sign in/sign out

Remote ones (OIDC/OAuth/Twitter) basically only support challenge/forbid, with authenticate forwarding to a store

Hosts support challenge/a

[2017-05-31 19:53] brockallen commented on #1244
IIRC this is what I suggested way back when the Auth2 redesign started.

[2017-05-31 19:57] Tratcher commented on #1244
Bearer doesn't go with cookies, it goes into your Hosts category that should just be called HTTP Auth.

OIDC also implements SignOut to trigger a remote signout.

[2017-05-31 20:06] HaoK commented on #1244
@brockallen yeah it was something we considered early on but didn't find any compelling reason to do the split, assuming we get another feature milestone, this is something I'll prototype to see if it simplifies anything.

[2017-05-31 20:11] HaoK commented on #1244
@Tratcher So today cookies would be our only true 'store', that's really weird that OIDC implements SignOut but not SignIn... that messes things up if it is considered a store.  I guess we can just make it granular `IAuthenticationSignInHandler, IAuthenticationSignOutHandler` for those two optional methods.

[2017-05-31 20:16] brockallen commented on #1244
This is why they should not derive from one another. They're different semantics.

[2017-05-31 20:23] HaoK commented on #1244
Are there any examples of auth schemes that don't support Authenticate/Challenge/Forbid?  SignIn/SignOut/HandleRequest do seem like optional semantics that most handlers don't support

[2017-05-31 20:38] HaoK commented on #1244
Fair enough, can we just drop that support for remote auth and make forbid optional as well, I don't believe we have any real scenarios where people are forbidding Google/Facebook today anyways...

[2017-05-31 21:47] HaoK opened #1245 "Bind shared Default schemes to config"
i.e. Microsoft:AspNetCore:Authentication:DefaultSignInScheme = Cookies

[2017-06-01 12:00] bgever commented on #1236
@HaoK Looking at the impact of aspnet/Announcements#232, I don't think I can start working on a PR for 2.0 as we're still dependent on 1.1. However, as I was able to make a custom build of 1.1 and include that in my projects, I can start working on an implementation based on the current 1.1 OAuthMiddleware. Then, once 2.0 is out and our project switches over, I can refactor the code and make a PR

[2017-06-02 06:11] danroth27 opened #1246 "Add extension method overloads that take a specific config section to bind to"
By default the authentication components have a default config schema, but you should be able to specify a specific config section to bind to.

[2017-06-02 08:32] HaoK commented on #1246
Why do we need this?  Call `services.Configure<XyzOptions>(config.GetSection("<yourpath>")`

[2017-06-02 08:33] HaoK commented on #1245
Merged 19011fc518cef80097055b9c33c2b3b8e387fdb7

[2017-06-02 08:33] #1245 closed

[2017-06-02 08:55] frankabbruzzese opened #1247 "IAuthorizationService somehow incomplete"
I think the actual definition of `IAuthorizationService `is somehow incomplete, since the `AuthorizeAsync `method handles properly just  in-memory resources. More specifially, if the resource has already been loaded in memory from a DB it may give an answer to all needed authorization queries, but what if one would like to load and page from a DB  just all resources the current user has the permis

[2017-06-02 09:38] davidfowl commented on #1247
Can you show some examples of what type of logic you want to write int your `IAuthorizationHandler`? Returning a predicate seems awfully coupled to LINQ (which we don't really do in services at this level in the stack). What if you were using a repository or a queries that weren't LINQ based? How does the `IAuthorizationHandler` produce filters for an arbitrary `T`?

[2017-06-02 11:01] frankabbruzzese commented on #1247
@davidfowl ,
Actually, the problem is just for authorization on resources. Thus `IAuthorizationHandler ` can't contain a method specific for any T since it doesn't contain any generic. It should contain something like: Task `HandlePredicateAsync(PredicateAuthorizationHandlerContext context)`.  The abstract class AuthorizationHandler<TRequirement, TResource> that already contains a generic for the

[2017-06-02 18:29] HaoK commented on #1214
@danroth27 now that we are down to 2-3 files, are we ok with this living in the template for preview 2?  The AzureAd/B2C Options concept is just a template concern, and the OptionsInitialize (which we'll need to rename to PostConfigure once the Options PR is in), is pretty simple (sets authority using the Azure options).  And you wanted the other events code in the template anyways

[2017-06-02 18:57] frankabbruzzese commented on #1247
Maybe, the difficulty of encapsulating completely Authorizations on a resource in a presentation layer framework depends on resource authorizatins being business layer stuffs.

Maybe, Authorization on resources in asp.net is not an useful stuff. Developer should handle authorizations on resources in the business layer with the same tools they use to interact with the persistence layer. The present

[2017-06-03 00:15] danroth27 commented on #1246
That works as long as the component uses the default config binder, but not all components do. Ex. I believe the kestrel config is custom. We want a consistent pattern.

[2017-06-03 01:22] HaoK commented on #1246
Sure but was there something specific in the security repo you were asking about, because all the options for auth work reasonably well with the binder.

If you want a general pattern, I'd recommend something like this:

[code]

[2017-06-03 14:13] brockallen commented on #1188
As a side note -- I was working on something related to this today and I'm noticing when errors come back from the OP that neither the nonce or correlation cookies are being cleaned up. I don't know if this has been raised as an issue anywhere else, but I'd think it's something that should be addressed and perhaps in this issue.

[2017-06-05 20:11] #1215 closed

[2017-06-05 20:11] #1214 closed

[2017-06-06 07:17] bgever commented on #1236
I'm giving up on the PR for the 1.1 codebase, as I'm struggling for days to find my way around the poorly documented interfaces, abstractions, overrides and callback logic. The `OAuthHandler`'s current inheritance of `RemoteAuthenticationHandler` is a blocker, which would require complex switching logic to avoid a redirect.

The authentication refactor for 2.0 is much welcome and improves on these

[2017-06-06 16:45] Vakterman opened #1251 "No authentication handler is configured to handle the scheme: Automatic"
I have some issue like [this](https://github.com/aspnet/Security/issues/967), but i can't understand how to solve it for Debian.

At first, i configure my application as described below

[code]

For windows it works perfectly (I use  Host for launching this code, not IIS !), but for Debian  it fails.
Could you provide any solution?

**UPD:** I see next message in logs:  Microsoft.AspNetCore.Authen

[2017-06-07 16:15] Tratcher commented on #1251
What action caused that error message, Challenge? You have AutomaticChallenge disabled on both middleware.

It's not clear why you're mixing cookies and Jwt

[2017-06-07 16:16] Tratcher commented on #1251
Note this works in IIS/Express because IISMiddleware is present and it always assumes windows auth is enabled and sets 401s. If you were to run this on windows without IIS/Express you'd see the same error.

[2017-06-07 17:05] Vakterman commented on #1251
Hi, Tratcher!
Thank you for your answer.
Yes, that error  message caused by Challenge
I run it as host both for Windows and Linux, but i don't see this problem for windows. And it's not a problem.
I catch it on Linux virtual machine. Call stack is provided below

Microsoft.AspNetCore.Server.Kestrel Connection id "0HL5DN1G84KD7": An unhandled exception was thrown by the application. System.InvalidO

[2017-06-07 17:10] Tratcher commented on #1251
See https://github.com/aspnet/Security/issues/1062

[2017-06-07 19:05] Vakterman commented on #1251
It was very intresting, but it doesn't work for me.
Or i don't understand something.
I tried to set AutomaticChallenge to true for Coockie.
But nothing to happen

[2017-06-08 09:04] jesong opened #1252 "Correlation Cookie not found when user click link from Office application"
If you have a link in microsoft office(Excel, Powerpoint, Word), and the target linked used OpenIdConnect with automatic challenge. When you ctrl+click on the link in office application, You'll see following error from server log:

This is because the cookie is generated with the 302 redirection from challenge action. But office has following issue that caused the cookie missing in browser:

[2017-06-09 15:13] Vakterman commented on #1251
I found solution for this issue. Key cause is a settings of DataProtectionProvider. For Debian it's needed to use code below

Startup.cs :

public void ConfigureServices(IServiceCollection services)
    {
      services.AddDataProtection().SetApplicationName(ApplicationName).
               PersistKeysToFileSystem(
                    new DirectoryInfo(Configuration["/some_path_to_folder_for_keys"

[2017-06-09 19:42] Eilon commented on #1251
Closing because it looks like you got this working.

[2017-06-09 19:42] #1251 closed

[2017-06-09 19:44] Eilon commented on #1247
Moving this to discussions. We generally recommend policies and authorization to be done below the UI/presentation layer, aside from just basic visibility logic, but leaving this issue open to monitor discussions about more concrete examples.

[2017-06-09 19:46] Eilon commented on #1239
Closing because this appears to be an issue with Azure AD.

[2017-06-09 19:46] #1239 closed

[2017-06-09 19:50] Eilon commented on #1238
There is no built-in support for this. I think @Tratcher might have some further thoughts on how to achieve this with plain middleware.

[2017-06-09 19:52] Eilon commented on #1237
We generally don't implement proposed standards, but we will keep tracking this to consider for a future version. We'd certainly welcome a PR when the time comes!

[2017-06-09 19:57] Eilon commented on #1233
This seems reasonable, we are working to finish the 2.0 release, but we will take a look at it for the 2.1 release (which isn't too much later).

As to the type, a nullable Timespan would be ideal.

[2017-06-09 19:57] Eilon commented on #1230
@HaoK - can you close and link to the PR?

[2017-06-09 20:01] Eilon commented on #1218
Let's wait until 2.1 so that we can come up with the right API surface for these.

[2017-06-09 20:02] #1225 closed

[2017-06-09 20:39] Eilon commented on #1242
Yeah pretty much what @Tratcher said. Unfortunately sometimes the latest changes in the `dev` branch require features that aren't yet public in Visual Studio 2017. But, with the rapid pace of Visual Studio 2017 public updates, the wait generally isn't long. We try to avoid doing anything that prevents using the public VS2017, but sometimes it just isn't possible.

[2017-06-09 20:39] #1242 closed

[2017-06-09 20:56] Eilon commented on #1240
@pranavkm / @smitpatel - any idea if maybe we missed pinning some versions for the patch branches?

[2017-06-09 21:17] Eilon commented on #1172
We will reconsider this in 2.1.0.

[2017-06-09 22:03] Eilon commented on #571
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:03] #571 closed

[2017-06-09 22:03] Eilon commented on #705
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:03] #705 closed

[2017-06-09 22:03] Eilon commented on #703
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:03] #703 closed

[2017-06-09 22:04] Eilon commented on #913
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #913 closed

[2017-06-09 22:04] Eilon commented on #910
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #910 closed

[2017-06-09 22:04] Eilon commented on #1036
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #1036 closed

[2017-06-09 22:04] Eilon commented on #929
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #929 closed

[2017-06-09 22:04] Eilon commented on #1062
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #1062 closed

[2017-06-09 22:04] Eilon commented on #1087
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #1087 closed

[2017-06-09 22:04] Eilon commented on #900
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #900 closed

[2017-06-09 22:04] Eilon commented on #1099
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:04] #1099 closed

[2017-06-09 22:05] Eilon commented on #967
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:05] #967 closed

[2017-06-09 22:05] Eilon commented on #1115
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:05] #1115 closed

[2017-06-09 22:27] smitpatel commented on #1240
Build working fine for me. Testing failing at runtime in some assembly load failure.
Using Ubuntu 16.04.5
I had to install mono-complete

I am not seeing error with 1.1.2 of NETCore.App
The build script installs everything correctly.

[2017-06-09 22:57] Tratcher commented on #1238
OnValidatePrincipal is not the best fit. It can be invoked on every request (even for all of your static files) and may trigger overlapping refreshes.

One reason the OAuth middleware has no support for refresh is that providers are very inconsistent with how they implement it, if at all.

I'd recommend managing your token lifetimes and refresh only at points in your app where you actually use the

[2017-06-10 02:27] diggerton commented on #1238
Sometimes use of the token is needed upon refresh.  Having the ability to check it anywhere in the middleware would be nice.  Omitting the ability to check and refresh earlier in the pipeline seems counterintuitive to me.  However, the example project is fairly old and I haven't worked ASP.net since.

[2017-06-10 19:00] PinpointTownes opened #1257 "Consider removing AuthenticationSchemeOptions.Validate()"
@HaoK is there any particular reason to have a virtual `Validate()` method in `AuthenticationSchemeOptions` now that we have post configuration initializers?

[2017-06-10 20:25] HaoK commented on #1257
We wanted Validation to run on every request unlike options which are only run once or on changes.

[2017-06-10 20:28] PinpointTownes commented on #1257
@HaoK hum, what's the point of doing that? We only need to validate the options once, no? (once per options instance).

[2017-06-10 21:34] HaoK commented on #1257
Well options can certainly change between requests for example binding against config which is coming back in some form in 2.1.

[2017-06-10 21:38] PinpointTownes commented on #1257
But in this case, isn't `OptionsSnapshot` supposed to re-run the post configuration initializers?

[2017-06-10 22:00] HaoK commented on #1257
Yes but we decided to not try and tackle validation in options itself for 2.0. And while we could have tried to stick it in a PostConfigure we'd again be dealing with trying to make sure it ran last.

Plus given that our options classes are mutable it doesn't seem that harmful to validate every time as snapshots don't prevent anyone from mutating the options instances directly.

[2017-06-10 22:34] PinpointTownes commented on #1257
Well, is it really a problem? Post configuration initializers are meant to be invoked when the options are "almost" ready to be used. In a way, they should be regarded as "options validators" (which would be a way better name, but whatever :sweat_smile:).

It's not harmful, it just runs unnecessary validation routines for each handler/request :sweat_smile:

Well, the most common (bad) way to mess

[2017-06-11 01:21] HaoK commented on #1257
Well today we use them to set defaults for required things that would fail validate otherwise. So order would matter :). Most of the validations are just null checks today I believe.

Validate actually would eventually detect event driven modifications just on the next call to that scheme which should be enough to warn them that they are doing something very wrong.

[2017-06-11 09:06] vRITHNER commented on #1224
FYI, still not working with latest template

[code]

[code]

[2017-06-12 14:59] risogolo opened #1258 "A question"
Is it possible to authorize a method inside a controller which is manually instantiated with Authorize attribute, was not instantiated within HTTP pipeline. Now it looks like this part of this logic is skipped somehow. How do I have to create an instance of controller with all properties properly instantiated to make the authorization/authentication work properly.
Reason: I'm trying to reuse MVC c

[2017-06-12 16:27] HaoK commented on #1230
https://github.com/aspnet/HttpAbstractions/pull/851

[2017-06-12 16:27] #1230 closed

[2017-06-12 18:29] #1200 closed

[2017-06-12 18:40] Tratcher commented on #1258
MVC does a lot more than just new up controllers. The piece you're missing here is the authorization filter that runs before each action if the Authorize attribute is present.
https://github.com/aspnet/Mvc/blob/rel/1.1.3/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs

In 2.0 (dev) more of this has been extracted to a common source in this repo.
https://github.com/aspnet/Mvc/blo

[2017-06-12 18:44] Tratcher commented on #1224
The same error as in your first post?

[2017-06-12 21:21] HaoK commented on #591
Moving to 2.1 as this isn't critical for 2.0

[2017-06-12 21:36] mattmazzola opened #1259 "Stop logging any PII"
Currently the JwtBearerMiddleware logs success or failure of authorization and token validation as seen in the below locations:

"Authorization was successful for user: {UserName}."
https://github.com/aspnet/Security/blob/22d2fe99c6fd9806b36025399a217a3a8b4e50f4/src/Microsoft.AspNetCore.Authorization/LoggingExtensions.cs#L18
Call to: _logger.UserAuthorizationSucceeded(GetUserNameForLogging(user));

[2017-06-12 22:00] vRITHNER commented on #1224
Yep; sorry to come back with it but didn't change since I posted the first time and I try with a lot of different cli / sdk / template.

This is quite frustrating to simply open VS, create new aspnet.core mvc auth individual and press F5 to get the ClientID error.

txs
-Vince

[2017-06-12 22:23] HaoK commented on #1160
9797d4bc5f3e54ffca3487c038044990585e278c

[2017-06-12 22:23] #1160 closed

[2017-06-13 05:27] risogolo commented on #1258
No I don't think is that, I'm having all the necessary middleware registered using Identityserver4 (everything works fine for standard MVC scenario), the problem is when I created new instance of Controller manually (kind of hack) new SomeController() and that controller has decorated methods with Authorize attribute, then this attribute seems to be skipped or not evaluated.

[2017-06-13 12:21] larsw commented on #1118
Any status on this middleware?

[2017-06-13 13:30] Tratcher commented on #1258
Newing up a class and calling its methods does in .NET does not trigger any form of attribute execution. Attributes are just metadata. See that the AuthorizeAttribute contains no meaninful code to execute: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization/AuthorizeAttribute.cs

It's MVC that adds the functionality to inspect for attributes and take actions based on

[2017-06-13 18:06] softlion commented on #900
Hi there, you say there is no action planned, but a planned action could be writing a doc on how to answer the question WITHOUT using the web ui, but the native SDK ones, which IS the way to go. Actually the only answer is to create a custom endpoint which receives the provider specific data, uses the existing middlewares to validate them, store them, and exchange them for a valid app's JWT.

It i

[2017-06-14 05:30] bgever commented on #1238
Thanks @Tratcher for pointing out the challenge around handling multiple requests. That is indeed a problem in our case as we would hit OnValidatePrincipal repeatedly when loading a list of (controller generated) images on the page.

Refreshing *is* part of the OAuth spec, and it can be optionally implemented. Maybe a solution is that the Auth manager has a `RefreshAsync` that may throw a `NotImpl

[2017-06-14 05:30] jesong commented on #1252
Is there a way just omit correlation cookies? It's for security?
That's true we can have work around like
1. We can check the user agent if it's from office we give empty 200 response. This will cheat office to open the page in browser directly and the following 302 will happen in browser
2. We can create a login page that returns in 200 and redirect to real signin api with 302 in javascript

But,

[2017-06-14 11:55] martino01 commented on #322
Could the aspnet.core framework not register an HttpContext instance into the request scope when it is created? The request scope seems to me the ideal place to register instances (singletons) that are ambient to the request handling logic. The request scope guarantees the instance is per request, and all request processing logic can access it simply through DI. IMHO using a singleton with AsyncLo

[2017-06-14 19:58] HaoK commented on #1186
df5c6730f772775bfc9c14fbff050a1a56d9fef6

[2017-06-14 19:58] #1186 closed

[2017-06-14 21:05] #1089 closed

[2017-06-14 21:31] muratg commented on #1182
@mikaelm12 will verify this manually for Preview2 and in 2.0.0 we'll look into automating this. (maybe?)

https://github.com/aspnet/Security/issues/1182

[2017-06-14 22:45] danroth27 opened #1264 "Make it easier to specify a default scheme"
If I just want to use cookies I have to specify cookies as the default scheme three times:

[code]

Can we make this less verbose? Maybe add an `AddAuthentication` overload that takes a single default scheme parameter? Or maybe add a `AuthenticationOptions.DefaultScheme` property? Or add more fallback behavior?

[2017-06-14 22:51] Tratcher commented on #1264
DefaultChallengeScheme could fall back to DefaultAuthenticateScheme. DefaultSignInScheme needs to stay independent though.

[2017-06-15 00:22] Eilon commented on #1252
Yeah I am very suspicious of checking for user agents - that's kind of the number one no-no in building apps...

[2017-06-15 13:00] PinpointTownes opened #1265 "Authentication failures are not properly logged"
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/issues/73#issuecomment-308709255

The fix is simple: `AuthenticationHandler.AuthenticateAsync()` should be updated to log the authentication failure when it's not null: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L133

Note: the issue exists in both 1.0/1.1 and 2.0 bu

[2017-06-15 13:01] PinpointTownes commented on #1265
@Eilon can you please make sure it gets fixed for 2.0 by adding the appropriate milestone/label?
It makes debugging ultra painful.

[2017-06-15 18:24] #1133 closed

[2017-06-15 21:15] Eilon commented on #1264
Let's make these all ultimately fall back to `sharedOptions.DefaultAuthenticateScheme`. So, if `DefaultSignInScheme` or `DefaultChallengeScheme` are being read by a consumer (e.g. in HttpAbstractions) and they're not set, the calling code should fall back to reading `DefaultAuthenticateScheme`. This is similar to how we already do fallback for other properties.

[2017-06-15 21:20] Eilon commented on #1258
Per @Tratcher 's comment, it is not supported to manually instantiate MVC controllers. If you do, it's not MVC anymore - it's simply a class with methods on it.

To run MVC's filter attribute, such as for authorization, the controller must be created and run by MVC itself.

[2017-06-15 21:20] #1258 closed

[2017-06-15 21:25] Eilon commented on #1257
I think per @HaoK 's comments, if & when Options gains the full feature for doing this, we would start using that, but until then, we think it's valuable to have this check to prevent certain common types of errors. It certainly doesn't do all error checks for all possible cases, but we think it still has value. The current default built-in checks are quite cheap, so the cost of doing them on ever

[2017-06-15 21:25] #1257 closed

[2017-06-15 21:29] Eilon commented on #1252
Closing this because the correct fix is ultimately in Office where it needs to do the correct redirect if its initial request fails. Working around this in ASP.NET Core would just lead to other bugs.

[2017-06-15 21:29] #1252 closed

[2017-06-15 21:29] #1240 closed

[2017-06-15 21:34] Eilon commented on #1223
@bhlee90 can you confirm that you've configured the logout redirect URL in the Microsoft portal for your app? It also isn't clear to us from the information you posted as to which URL the browser ends up "stuck" on. Is it stuck on your web site's oidc signout callback URL, or is it stuck on the microsoftonline.com logoutsession URL?

[2017-06-15 21:37] Eilon commented on #1220
@cesarbs - according to @HaoK this is fixed in the Preview 2 *template* already. Can you confirm this as part of your Preview 2 verification? If it's fixed, please change the milestone to preview2 and close the bug.

[2017-06-15 21:39] Eilon commented on #1216
@farshid3003 - have you solved your problem here? If so, we will close this issue. Thanks!

[2017-06-15 21:39] cesarbs commented on #1220
@Eilon Will do.

[2017-06-15 21:42] Eilon commented on #1211
@Halofreak1990 - the code you have there in general looks fine, but it depends on which action it's part of. Can you share with us which action on your controller this is part of?

[2017-06-15 21:45] Eilon commented on #1208
@Tratcher - can you set up a few minutes with @brentschmaltz to go over this?

[2017-06-15 21:50] Eilon commented on #1178
@Tratcher let's take a look at this for 2.0.0.

[2017-06-15 21:57] Eilon commented on #1165
Handling the RemoteFailure event is the right thing to do. We should update our docs/samples to show how to handle that event and at least show a more appropriate message to the user. The error page sample could include a link to enabled the user to try logging in again.

Unfortunately it's difficult to implement this event in a very generic way that's also super useful because each remote auth pr

[2017-06-15 21:59] Eilon commented on #1149
Closing because there doesn't seem to be any further action required here. If there are further issues with this, please open a new issue in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet. Thanks!

[2017-06-15 21:59] #1149 closed

[2017-06-15 23:12] cesarbs commented on #1220
@Eilon Just confirmed that the edit profile stuff is working in the latest template.

[2017-06-16 13:11] PinpointTownes commented on #1264
Sounds dangerous for at least `DefaultSignInScheme` (and `DefaultSignOutScheme`) when there's only one handler registered (e.g OIDC):

  - If the handler doesn't override `HandleSignInAsync()` (like OIDC), the sign-in part will be basically no-op but the user will never know why his app is not working (with the current bits, you have a message telling you that something is wrong with the configura

[2017-06-16 15:22] Halofreak1990 commented on #1211
@Eilon I've decided to include the entire action (containing the previous snippet) for the sake of clarity
[code]

[2017-06-16 15:51] Eilon commented on #1220
Cool, so we can just close this bug then?

[2017-06-16 17:08] #1220 closed

[2017-06-16 18:10] brockallen commented on #1178
IIRC there's another similar issue already open related to this // @Tratcher

[2017-06-16 18:11] Tratcher commented on #1178
@brockallen https://github.com/aspnet/Security/issues/884 ?

[2017-06-16 18:16] Tratcher commented on #1264
I remembered signin throwing by default... Looks like that doesn't happen anymore, we should change that.
https://github.com/aspnet/Security/blob/879f0b7f4053a34b44e34bd22c788c6129115175/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L195
Some providers do throw:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L340

[2017-06-16 18:19] brockallen commented on #1178
Actually, this is the one I was thinking of: https://github.com/aspnet/Security/issues/1188

[2017-06-16 18:20] PinpointTownes commented on #1264
@Tratcher looks like it throws for RAH-based handlers: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/RemoteAuthenticationHandler.cs#L184

Unfortunately, it doesn't change anything to the fact that...

1. The exception message is totally useless to debug what's going on.
2. There's a real SOE risk if the handler writer overrides it to do `return Context.SignInA

[2017-06-16 18:23] Tratcher commented on #1264
@PinpointTownes but doe any handlers actually override SignIn except cookies?

[2017-06-16 18:25] PinpointTownes commented on #1264
In the built-in handlers? I don't think so. That said, you never know how people implement things. Having such a trap in place would be a very nasty surprise.

When you think about it, it doesn't make sense for a handler to have a sign-in scheme that points to itself.

[2017-06-16 18:27] PinpointTownes commented on #1264
It would even be a good idea to add a check somewhere in the RAH thing to ensure `SignInScheme`/`SignOutScheme` are never equal to `AuthenticationScheme`.

[2017-06-16 18:29] Tratcher commented on #1264
Those already throw NotImplemented, so I'm not as concerned. If we actually see people break it then we can add mitigations as needed.

[2017-06-16 18:37] PinpointTownes commented on #1264
It's not just about breaking things, it's about the user experience.

As a user, if do something like that:

[code]

... there's nothing that tells me that my configuration is totally invalid. It's very hard for beginners to figure out what's going on if they don't register the right strings here.

[2017-06-16 18:40] Tratcher commented on #1264
Except there is, Facebook throws NotImplemented when it tries to call SignIn.

This class of error has always been possible, all the way back to Katana, but we haven't seen people actually do it.

[2017-06-16 18:47] PinpointTownes commented on #1264
So when folks see a `NotImplemented` exception, they are supposed to think... "oh, I can't use the same value for `DefaultAuthenticateScheme` and `DefaultSignInScheme`"? :trollface:

That's the problem with you, guys. You're so focused on your own framework that you have no idea how people use it concretely (I don't blame you for that, it's really common).

Posted yesterday on SO: https://stackove

[2017-06-16 18:53] Tratcher commented on #1264
Fair, we primarily hear about issues reported directly to us, though we do browser SO.

[2017-06-16 20:38] HaoK commented on #1264
This has convinced me that we should just do https://github.com/aspnet/Security/issues/1244 now, if we split SignIn into IAuthenticationSignInHandler and SignOut into IAuthenticationSignOutHandler, most of this issue goes away as you will get a proper exception saying "Google" does not support SignIn.

[2017-06-16 22:52] brockallen commented on #1264
But what about SignOut?

[2017-06-16 22:57] HaoK commented on #1264
SignIn/SignOut/Forbid all throw for the remote handlers.  It's just going to change from NotImplemented in the handler to InvalidOperation from the AuthService

[2017-06-16 22:58] HaoK commented on #1264
SignOut is only valid for IAuthenticationSignOutHandlers, you can't blindly call sign out on everything.

[2017-06-16 22:58] brockallen commented on #1264
IIRC, I thought I opened an issue in 1.x on this, and it was agreed that it's probably ok to nop instead.

[2017-06-16 22:59] HaoK commented on #1264
If you really want to blindly call it, you can always just wrap it in a try/catch ignore InvalidOperationException

[2017-06-16 22:59] brockallen commented on #1264
Yea, that's what we already do now. It's not pretty.

[2017-06-16 22:59] HaoK commented on #1264
That was in 1.x, in 2.0 we are stricter

[2017-06-16 23:00] HaoK commented on #1264
Can you explain your scenario again, why don't you know what kind of scheme it is?

[2017-06-16 23:00] HaoK commented on #1264
Basically the only 2 things which support sign out are OIDC (remote sign out) and cookies.  Nothing else will work

[2017-06-16 23:01] brockallen commented on #1264
Because we've built an OIDC provider that allows arbitrary upstream IdPs and we don't know what style of IdP has been configured. I can dig out the original issue...

[2017-06-16 23:02] brockallen commented on #1264
And WS-Fed?

[2017-06-16 23:03] brockallen commented on #1264
Original issue: https://github.com/aspnet/Security/issues/1039

[2017-06-16 23:05] HaoK commented on #1264
So in 2.0 you can always just drop in your own IAuthenticationService which no-ops instead of throws if the handler doesn't exist...

[2017-06-17 00:03] HaoK opened #1268 "Add concept of Skip to BaseContext for skipping all event behavior."
We could add a top level baseContext.Skip() which would be used to turn off any behavior that would normally occur for the event.

Today this is only exposed in a few JwtBearer/OIDC context's.

[2017-06-17 00:27] mikaelm12 commented on #1182
Verified this behavior. Looks good to me.
In the future the person verifying should remember to make sure that the application discriminators in the two apps are the same or else the cookies across the apps won't be the same.
You do this in `DataProtectionOptions `like this
[code]

[2017-06-17 01:53] HaoK commented on #1264
To summarize where things look in the current PRs:

DefaultAuthenticateScheme => only defaults to a single auth handler, otherwise null
DefaultChallenge/ForbidScheme => defaults to authenticate scheme
DefaultSignInScheme => defaults to single sign in handler, otherwise defaultAuthenticateScheme
DefaultSignOutScheme => defaults to single sign out scheme, otherwise defaultSignInScheme

So its now un

[2017-06-17 01:56] HaoK commented on #1264
Another noteworthy side effect is that SignInScheme is no longer required for RemoteAuthenticationHandlers (altho we basically always used DefaultSignInScheme to set that anyways today)

[2017-06-18 00:00] bhlee90 commented on #1223
@Eilon Yes, I configured the logout redirect URL in the Microsoft portal for my app, if you mean this [website](https://apps.dev.microsoft.com/). Here is a [screenshot](https://1drv.ms/i/s!ApxZYGZ3WCe8pA2hctGYKRPAq-sT) of the "Redirect URLs" and "Logout URL" that I set for the app (dev environment).

In my app, after I log out of my **work or school** account, the browser gets stuck on https://192

[2017-06-18 03:13] Tratcher commented on #1223
Why are you using an IP address in PostLogoutRedirectUri? On a local machine you should use localhost. On a server you should use the host name.

[2017-06-18 05:18] bhlee90 commented on #1223
@Tratcher The reason that I am using an IP address is that I wanted to test my web app on other devices besides the host. I am also using SSL encryption in the app.

I believe if I change the App URL to https://localhost:44373/, I won't be able to access the encrypted version of the website on another device, from my knowledge.

[2017-06-18 12:23] Tratcher commented on #1223
Are you using IIS Express? It's only setup to listen on localhost unless you run it as admin and override the host. And if you're going to do that why not use the machine name? Also note that https requires the host name to match the certificate, and IIS Express's cert is only for localhost.

[2017-06-18 14:15] davidfowl opened #1269 "Remove top level methods on IServiceCollection that configure authentication"
`services.AddScheme` is too general of a name to put on the top level container:

![image](https://user-images.githubusercontent.com/95136/27261329-d09ab052-53f5-11e7-8bc6-a525d4841819.png)

Is it even meaningful to add a scheme without adding the authentication service? Why isn't it an extension method off on an `IAuthenticationBuilder` or something similar.

[code]

[2017-06-18 16:14] HaoK commented on #1269
Not a bad idea to switch to a builder pattern.  Do we want to move everything under, i.e.?

`services.AddAuthentication[Core]().AddScheme/Xyz()`

[2017-06-18 16:19] HaoK commented on #1269
So something like:
`Authentication.Core`  has `void services.AddAuthenticationCore()` // unchanged
`Authentication` has `AuthenticationBuilder services.AddAuthentication()`
Authentication.Xyz` => `AuthenticationBuilder.AddXyz()`

[2017-06-18 16:20] davidfowl commented on #1269
I was also thinking we should hang the services like cookie, jwt, etc off the builder.

services.AddAuthentication()
              .AddCookies(...);

[2017-06-18 16:22] HaoK commented on #1269
Yup that's what I meant with the AddXyz.

[2017-06-20 04:55] bhlee90 commented on #1223
Yes, I am using IIS Express. I don't know how to configure the web app to be accessible by a device besides localhost without configuring IIS Express to listen on an IP address. If I make it listen on localhost, I won't be able to access my website on another device.

I did not have to run IIS Express as an administrator, either. I have the following bindings in the config file in my project folde

[2017-06-21 00:11] mj1856 commented on #701
See: AzureAD/azure-activedirectory-library-for-dotnet#598

[2017-06-21 00:11] fuocor opened #1271 "JwtBearerAuthentication throwing exception on Authorize when hosted in Azure"
I have JwtBearerAuthentication (2.0.0-preview3-25813) working flawlessly in locally but it is throwing exception on Authorize when hosted in Azure.

`System.InvalidOperationException: No authenticationScheme was specified, and there was no DefaultChallengeScheme found.
   at Microsoft.AspNetCore.Authentication.AuthenticationService.<ChallengeAsync>d__11.MoveNext()
--- End of stack trace from previ

[2017-06-21 00:16] Tratcher commented on #1271
https://github.com/aspnet/Security/blob/879f0b7f4053a34b44e34bd22c788c6129115175/samples/JwtBearerSample/Startup.cs#L47-L51

[2017-06-21 02:47] fuocor commented on #1271
Thanks, but it begs the question as to why it works locally on kestrel?

[2017-06-21 09:35] #1271 closed

[2017-06-21 11:47] lousaibiao commented on #699
[code]

[2017-06-21 19:12] smichtch commented on #1252
@Eilon, I think number one no-no should be breaking apps?

But I totally agree that Office needs to fix these pre-fetch requests (which are either too clever or not clever enough, probably the former) to work with OAuth and single-signon workflows in general as those become more ubiquitous.

That said, why can't ASP.NET Core have a generic option to inject a client-side redirect to the login page

[2017-06-21 21:32] rnrneverdies opened #1272 "[WebAPI + OAuth2 + SPA] Bearer token based authentication/authorization scenario."
I'm trying to setup this simple pipeline for authorizing an incoming request in my Web API, which is built on _ASP.NET Core_. For every request, I need to verify the provided token (which comes in the Authorization header) against the proper authority service (e.g. https://graph.microsoft.com/v1.0/me for the Microsoft authority service)

I've tried to use the `AddMicrosoftAccountAuthentication` an

[2017-06-22 10:14] pwalecha commented on #699
I am also facing similar issue, what if we create a filter derived from ExceptionFilterAttribute and catching the SecurityTokenExpiredException. Inside the catch, changing the status code to 401 and calling base.OnException();

It seems it should work but not sure whether this is a good way to deal or not.

[2017-06-22 17:02] cesarbs opened #1273 "Make auth handler classes public"
So they can be dynamically added and removed.

cc @HaoK @Tratcher

[2017-06-22 17:48] HaoK commented on #1273
Yep, dupe of https://github.com/aspnet/Security/issues/1218 we are doing this in 2.1

[2017-06-22 17:48] #1273 closed

[2017-06-22 20:36] brockallen commented on #1218
@HaoK I don't recall if overriding the handler is how you suggested IdentityServer can inject the claims it needs to or not... but if it is, then delaying this to 2.1 causes an issue for us with IdentityServer.

[2017-06-22 20:37] HaoK commented on #1218
Can you point me to the relevant thread for that if we had one?

[2017-06-22 20:40] brockallen commented on #1218
Yea... might have been email... @leastprivilege might have an easier time of finding it. We'll look and get back. Thx.

[2017-06-22 20:45] HaoK commented on #1218
Sounds like you should be good, decorating the default AuthenticationService implementation to validate/add your own claims for every call to SignIn.  That's not affected this issue of not exposing our OAuth handler implementations right now.

[2017-06-22 20:47] brockallen commented on #1218
okies, thx

[2017-06-22 23:05] Eilon commented on #1272
This is essentially covered by https://github.com/aspnet/Security/issues/1235, which we will revisit in the next milestone (2.1.0).

[2017-06-22 23:05] #1272 closed

[2017-06-22 23:06] Eilon commented on #1268
Parking in backlog.

[2017-06-22 23:07] Eilon commented on #1223
Tagging @blowdart because he might have an idea on why this isn't working in Chrome. Something about SAN entry.

[2017-06-22 23:08] Eilon commented on #1216
Closing because we haven't heard back. Please re-open or log a new issue if there's still a problem.

[2017-06-22 23:08] #1216 closed

[2017-06-22 23:13] Eilon commented on #1211
Thanks for posting the complete code, this definitely looks weird.

Have you been able to step through the code in the debugger to make sure that the `return View("CompanySelect")` line is what's being executed in your case? We've looked at the code and we think that as long as that line runs that it should all work... (but perhaps not!)

@HaoK - any other ideas around what might be "forcing" a re

[2017-06-22 23:13] Eilon commented on #1196
Closing because there is not enough information to reproduce this problem.

[2017-06-22 23:13] #1196 closed

[2017-06-22 23:14] Eilon commented on #1141
There are no plans to do this in-the-box in ASP.NET Core, so moving this item to Discussions.

[2017-06-22 23:20] Eilon commented on #983
Per @brentschmaltz , JWE is implemented in IdentityModel 5.1.3.

@brentschmaltz - can you give us a sample of configuring these things at the IdentityModel layer?

[2017-06-22 23:24] blowdart commented on #1223
Chrome changed how they validate self signed certificates; https://bugs.chromium.org/p/chromium/issues/detail?id=308330

So you need to ensure your localhost cert includes a SAN with the DnsName parameter in Powershell; like;

[code]

[2017-06-23 05:47] farshid3003 commented on #1216
as İ said I solve it by event

[2017-06-23 08:20] davidfowl opened #1274 "Passing in an AuthoritizationPolicy allocates an array everytime"
https://github.com/aspnet/Security/blob/879f0b7f4053a34b44e34bd22c788c6129115175/src/Microsoft.AspNetCore.Authorization/AuthorizationServiceExtensions.cs#L65

It would be great if there was a way to avoid this allocation per call. `AuthorizationPolicy` already has an `IReadOnlyList<Requirements>` https://github.com/aspnet/Security/blob/879f0b7f4053a34b44e34bd22c788c6129115175/src/Microsoft.AspNetC

[2017-06-23 10:51] pchamakura commented on #875
Thank you. This saved the day for me!

[2017-06-23 19:11] HaoK commented on #1011
We can do this in 2.1 as its not a breaking change

[2017-06-25 06:57] bhlee90 commented on #1223
@blowdart Chrome still complains that my connection to the test website is not secure, even after specifying a SAN for DnsName.

Anyway, my issues with logout redirection still remain.

[2017-06-25 12:19] blowdart commented on #1223
Hmm, does chrome give any hint why it thinks it's insecure? It could be the IP address. IP addresses in certs are frowned on these days, so it might be barfing on that,.

[2017-06-26 16:56] brentschmaltz opened #1276 "ClaimActions.DeleteClaim in OpenIdConnectOptions"
Will an entry in DeleteClaim result in removal of the claim from the ClaimsIdentity?
If so, we may want to consider keeping, amr and acr.
Some of the claims, such as 'nonce' have little value one the OIDC message has been validated.
amr and acr are not used to validate the message and may be of interest to the application layer.

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore

[2017-06-26 17:02] brentschmaltz opened #1277 "Question about: ClaimActions.MapUniqueJsonKey("sub", "sub");"
I am wondering what the effects of MapUniqueJsonKey to understand how is will interact with mappings inside IdentityModel

[2017-06-26 17:37] Tratcher commented on #1277
MapUniqueJsonKey is used for pulling claims from the user-info endpoint but avoiding duplication with claims already added from the IdentityModel processing.

[2017-06-26 17:40] Tratcher commented on #1276
Yes, that's what it's for.  amr and acr are both optional. Are they actually implemented by AAD, ADFS, Google?

[2017-06-27 17:32] HaoK commented on #1274
80383606d3988095abb74ff726439261f168ce43

[2017-06-27 17:32] #1274 closed

[2017-06-27 22:50] shishir28 opened #1278 "Claims and HTTP 431"
Has the support for ClaimsTransformation been dropped from ASP.NET Core 2.0 ? If yes , what is the best way to maintain cookie based authentication and avoid HTTP 431?

[2017-06-27 22:57] HaoK commented on #1278
Claims transformation is still there, you just directly add it to the container:

See https://github.com/aspnet/Security/blob/dev/test/Microsoft.AspNetCore.Authentication.Test/GoogleTests.cs#L1049

[2017-06-28 01:00] shishir28 commented on #1278
Thank You. Was looking at wrong place.

[2017-06-28 01:00] #1278 closed

[2017-06-28 04:21] bhlee90 commented on #1223
@blowdart Not quite. Even when I reconfigure my website to be accessible via "localhost" and put "localhost" as the SAN for the cert, I still run into the issue of Chrome thinking that my connection to the site is not secure. I do not want to even figure out the reason for that at the moment.

The SSL cert problem can wait. I am still trying to figure out why my web app does not redirect, properly

[2017-06-28 17:25] Tratcher commented on #1208
IM will look at both the single value and the list, so we can simplify the code to always work with the list at our layer.

[2017-06-29 07:12] Halofreak1990 commented on #1211
Yes. The line is executed, and, by setting a breakpoint anywhere in the view, I can also see the view being executed properly.

[2017-06-29 16:46] grahamehorner opened #1280 "multitenancy authentication"
I'm trying to use OpenidConnect with a multitenant aspnetcore application; but I'm unable to find how I can setup the middleware properties at runtime from a repository based of the host address from with in the httpcontext ? any guidance would be great

[2017-06-29 16:52] Tratcher commented on #1280
There's no way to do this in 1.x, but it may be possible with the new infrastructure in 2.0.

[2017-06-29 20:34] AlexTeixeira opened #1281 "[Asp.net core 2 preview 2 ] macOs HttpContext.SignInAsync build error"
Hello guys,

I look a this issue #1219 to implement my a basic cookie authentication without Identity.

**Core version**  : 2.0.0-preview2-006497
**macOs Sierra version** : 10.12.5
**VS Code** : 1.13.1 (1.13.1)
** Omnisharp** : 1.11.0

So basicaly I have the same configuration in startup that show on previous issue

[code]

If I use the new code in my method

`await HttpContext.SignInAsync(Startup

[2017-06-29 20:54] HaoK opened #1282 "Should auth options be using IOptionsMonitor?"
Currently we are using IOptionsSnapshots which have scoped lifetimes, so the instances will get recreated every request via IOptionsFactory.  If we want longer lifetimes, we could switch to IOptionsMonitor, which would would leave lifetime up to the IOptionsMonitorCache.

Downside is, scoped IConfigureOptions won't be run every request for auth which was also something we wanted to support.

[2017-06-29 20:57] Tratcher commented on #1281
Namespace? Microsoft.AspNetCore.Authentication
https://github.com/aspnet/HttpAbstractions/blob/b1f92fb6bc42b2cdbb62bd930cedaebafece1e0a/src/Microsoft.AspNetCore.Authentication.Abstractions/AuthenticationHttpContextExtensions.cs#L112

[2017-06-29 21:05] AlexTeixeira commented on #1281
... You change the namespace too.

I did not think to check the namespace and the intellisense do not propose it.

Thanks.

[2017-06-29 21:05] #1281 closed

[2017-06-29 21:19] brentschmaltz commented on #1276
@Tratcher these claims {amr, acr} can be of interest to the application layer. So I wouldn't remove them by default.

The others seem fine.

[2017-06-29 22:28] muratg commented on #983
Punting because not much time left in 2.0.0.

[2017-06-29 22:28] muratg commented on #1027
We'll potentially punt this if we can't get this in by early next week.

[2017-06-29 22:55] mattvperry opened #1283 "Redeeming auth code for multiple tokens"
Currently, the `AuthorizationCodeReceivedContext` used by `OpenIdConnectEvents` only has overrides for notifying the middleware of a single redeemed token.

Unless I am totally misunderstanding something, it is possible to use the auth code to get tokens for more than one backend service if needed. For example, Graph and something else.

Are there plans for adding a `HandleCodeRedemption` override

[2017-06-29 23:09] Maritims commented on #1046
I am also experiencing this issue with everything updated and running net461

[2017-06-29 23:33] HaoK commented on #1181
ff9f145a8e89c9756ea12ff10c6d47f2f7eb345f

[2017-06-29 23:33] #1181 closed

[2017-06-29 23:35] HaoK commented on #1264
ff9f145a8e89c9756ea12ff10c6d47f2f7eb345f

[2017-06-29 23:35] #1264 closed

[2017-06-30 00:41] PinpointTownes commented on #1181
nit: I'm all for squashing PRs, but not giving public credits to folks who work on stuff you end up reusing in your own PRs and not even saying "thanks for your participation" is... meh.

[2017-06-30 01:03] HaoK commented on #1181
Yeah sorry, not sure how best to keep changes sane in a mega change like this, I did name the PR after you, I can give you credit in the announcement for the event changes section?

[2017-06-30 01:24] RickBlouch commented on #1282
Please keep in mind that this functionality is desirable for those of us doing multitenancy.  See [this comment](https://github.com/aspnet/Security/issues/1179#issuecomment-295904139) from the auth redesign issue for the specific strategy that I am referring to.

[2017-06-30 01:37] HaoK commented on #1282
What functionality is desirable?  That you want to reconfigure options for every request?

[2017-06-30 01:47] RickBlouch commented on #1280
I have this working in 1.1 with saaskit, unless I am misunderstanding your ask.

https://github.com/saaskit/saaskit

[2017-06-30 15:27] TheCloudlessSky opened #1286 "Why does RemoteAuthenticationHandler.CorrelationMarker have a value of "N"?"
According to bbcabc0212a298ec5d30ed7f25aa9ee40c511a20, the way the cookies are created for OAuth 2 CSRF protection was changed. It introduced `CorrelationMarker = "N"`. Where does the value of `N` come from? I know that the cookie needs a value, but why was this value chosen?

[2017-06-30 16:14] Tratcher commented on #1286
The unique value was moved into the cookie name to avoid collisions for concurrent flows. The N value is just a placeholder that we copied from OIDC's nonce cookie.
https://github.com/aspnet/Security/commit/bbcabc0212a298ec5d30ed7f25aa9ee40c511a20#diff-fc6866236621c72eb7137090f51af9b8R132

[2017-06-30 16:27] TheCloudlessSky commented on #1286
@Tratcher Thanks for the explanation. From your diff, I assume you're talking about `OpenIdConnectHandler.NonceProperty`? Do you know why that value was chosen to be `N` (does it just represent "**N**once")? The reason I ask is that I'm implementing OAuth 2 CSRF in an MVC 5.2.3 application and want to model it how ASP.NET Core is doing it. So, I've been digging through the source and want to make

[2017-06-30 16:28] Tratcher commented on #1286
Yes, it just stands for Nonce. Any value will do.

[2017-06-30 16:30] TheCloudlessSky commented on #1286
Great, thanks!

[2017-06-30 16:30] #1286 closed

[2017-07-02 13:00] PinpointTownes commented on #1282
WTF? This is a **HUGE** regression! In practice, this means that options configuration classes will be run for every handler+requests even when options are supposed to be static (I just confirmed this new behavior when moving my ASOS port to the latest bits including the events changes...)

Related posts:

  - https://github.com/aspnet/Security/pull/1065#issuecomment-271478610
  - https://github.c

[2017-07-02 20:19] PinpointTownes opened #1287 "Provide a way to prevent AuthenticationSchemeProvider from picking a specific scheme handler"
When there's only one authentication handler registered, `AuthenticationSchemeProvider` uses it as the default scheme handler for basically everything (authentication, challenge, forbidden, sign-in and sign-out).

Sadly, this logic makes no sense for handlers like ASOS, that throws an `InvalidOperationException` if you try to call one of the `IAuthenticationService` methods outside an OpenID Conne

[2017-07-02 20:41] PinpointTownes commented on #1287
A possible (and good) approach would consist in adding new "capabilities" properties to `AuthenticationScheme/Builder` that would be used as hints by `AuthenticationSchemeProvider` to determine whether a given scheme handler would be a good candidate for being a default scheme.

E.g:

[code]

Using this approach, we could even reunify `IAuthenticationHandler` and `IAuthenticationSignInHandler`/`IA

[2017-07-02 20:41] PinpointTownes commented on #1287
Adding more people so we can discuss it before it's too late.

/cc @Tratcher @Eilon

[2017-07-03 00:35] HaoK commented on #1287
You should be able to just plug in your own IAuthenticationSchemeProvider implementation that always returns null for DefaultAuthenticateScheme, that's the mechanism to control the defaults

[2017-07-03 01:15] PinpointTownes commented on #1287
No. I don't want to force my users to use my own `IAuthenticationSchemeProvider` or register their own one. This scenario should be supported OTB.

[2017-07-03 01:31] HaoK commented on #1287
Can you describe exactly what your ASOS is doing (why does Authenticate throw?)

[2017-07-03 01:54] PinpointTownes commented on #1287
Well, it's not just for `AuthenticateAsync()`: ASOS throws an `InvalidOperationException` if you try to use `AuthenticateAsync()`/`ChallengeAsync()`/`ForbidAsync()`/`SignInAsync()`/`SignOutAsync()` outside an OpenID Connect request, which helps prevent users from doing illegal things like returning a authorization/token response from an arbitrary/non-OpenID Connect endpoint (if we didn't do that,

[2017-07-03 02:03] HaoK commented on #1287
I'm fine with a new global option that is `AuthenticationOptions.UseSingleHandlerAsDefault` which defaults to true, then you could just turn this off and if you don't specify any defaults, they will always be null and have full control.  We could also add another one to disable all the fallbacks as well, `UseHandlerDefaultFallbacks`

[2017-07-03 02:09] PinpointTownes commented on #1287
It would work. But the downside is that users should have to manually set this flag to `false`. The per handler approach wouldn't require any particular configuration to make this scenario work, as the flags would be set by the handler writer.

Any particular reason you don't like this approach?

[2017-07-03 02:18] HaoK commented on #1287
Its not up to the handler writer to disable this or not, these are mostly meant to configure the parameterless overloads.  Its up to the app to decide what's the default handler.

The only situation where the default is required, is with the AuthenticationMiddleware, so maybe that needs a new explicit option as well which fallsback to DefaultAuthenticateScheme, something like our old favorite word

[2017-07-03 02:25] PinpointTownes commented on #1287
That's not what the flags would do with my approach. Maybe I wasn't clear enough, but the flags would only tell the scheme provider whether the handler CAN be used as a default scheme, so that handlers that declare they can't be used as default schemes wouldn't be automatically picked by the scheme provider (e.g the JWT middleware can't be used for sign-in/sign-out). The most accurate name for the

[2017-07-03 03:57] Zonciu commented on #1154
@Eilon
I want to return the error information by using response body when server fails to authenticate the jwt, what should I do?

[2017-07-03 05:22] HaoK commented on #1287
The IAuthenticationSchemeProvider is responsible for resolving the defaults, if this becomes a very common ask, we can consider adding support for it in the default implementation, but it doesn't seem worth spreading this concept into the schemes themselves.

Your users wouldn't have to set this flag, you would do it for them via AddASOS() or the equivalent, you are always adding your handler so t

[2017-07-03 12:09] PinpointTownes commented on #1287
I'm never super comfortable with changing global settings in my own libs, but if that's the only option... :sweat_smile:

One advantage with the other option is that the selection logic would be a bit smarter if one registered ASOS + another middleware (like the JWT bearer middleware). In this case, `AuthenticationSchemeProvider` would simply ignore ASOS - thanks to the flag(s) - and would use JWT

[2017-07-03 12:29] RickBlouch commented on #1282
I have not been able to follow the changes super close, but I thought IOptionsSnapshot was the go forward strategy (at least in 2.0) to switch the security settings per tenant on each request.  That's what the link I pointed to showed.  Has that changed?  If so what's the new plan?

[2017-07-03 12:38] InDieTasten opened #1288 "Retrieve PUID using MicrosoftAccount authentication"
Migrating from a legacy system that was identifying users using PUID, how can I associate users coming from the new middleware `Microsoft.AspNetCore.Authentication.MicrosoftAccount` to their respective PUID?

When I check, the nameidentifier claim is different from the old PUID, right?

I've been looking for a couple hours now and still don't have much of a clue, because the entire authentication

[2017-07-03 19:46] HaoK commented on #1282
@RickBlouch even if we switch to IOptionsMonitor, you could still get similar behavior to the IOptionsSnapshot by replacing IOptionsMontiorCache with a scoped instance, that would result in in the options being recomputed every request.

[2017-07-03 22:49] ajcvickers commented on #1282
@Eilon Copying you per discussion today.

[2017-07-04 01:04] muratg commented on #1265
Fixed with https://github.com/aspnet/Security/commit/66b939725ed6d1b4eb8ce5d4823b635990c086b4

[2017-07-04 01:04] #1265 closed

[2017-07-04 08:32] InDieTasten commented on #1288
Ok, after some more research, I think it's safe to say that PUID officially died and only RPS server can access this property/claim.

I will now migrate users using their live email address. I would still like to get confirmation for that conclusion I've drawn regarding PUID.

Thanks

[2017-07-05 05:46] Tratcher commented on #1154
@Zonciu we don't track closed issues, please open a new issue and describe your scenario.

[2017-07-05 14:56] Mardoxx opened #1291 "Can't override AuthorizationAttribute's ActiveAuthenticationSchemes"
Let's say I have two authentication schemes, one that is default `AuthenticationScheme = "Bearer"` and another is `AuthenticationScheme = "Bearer2"` with `AutomaticAuthenticate = false`

My controller is similar to this

[code]

Is there an elegant way of doing this? One solution is to decorate all my actions instead of at the controller level - but I want to avoid this -- more to forget to do whe

[2017-07-05 15:52] Tratcher commented on #1291
@HaoK @rynowak? I would expect the Action's attribute to take precedence. Or are they both running?

[2017-07-05 15:55] rynowak commented on #1291
`[Authorize]` doesn't override, they all run. AFAIK that is the legacy behavior

[2017-07-05 16:13] PinpointTownes commented on #1291
That's precisely one reason why I believe `[Authorize]` should be linked to authentication.

https://github.com/aspnet/Security/issues/1199#issuecomment-299273255

[2017-07-05 16:51] Mardoxx commented on #1291
@rynowak was this changed just for the sake of changing it?

Feels much better to look at the attributes on the actions and be like "oh this one uses Bearer and Bearer2, this other one uses just Bearer". Rather than... "this one Uses just Bearer2... oh wait no if we scroll up a few hundred lines to the controller's root it also uses Cookie scheme".

[2017-07-05 16:53] HaoK commented on #1291
Yeah the authorize attributes are all combined into one mega policy

[2017-07-05 17:05] Mardoxx commented on #1291
I'd really have expected them to override. I have my policies in their own classes and they are already in order of increasing permissivness, I wouldn't expect the code to do combination magic for me.

Poor example, if I have a SiteStats controller that is only for admins (class is decorated with Auth attr) and then there becomes a requirement for normal users to access some of these, what now? I

[2017-07-05 17:22] natemcmaster opened #1292 "Remove obsolete cookie options API"
Follow up to https://github.com/aspnet/Security/pull/1285

Remove these obsoleted API in the next major release
[code]
~~.ExpireTimeSpan~~ - https://github.com/aspnet/Security/pull/1296

[2017-07-05 17:36] PinpointTownes commented on #1291
The hard part would be convincing @blowdart that the "average developer" is not as stupid as he can imagine :trollface:

[2017-07-05 17:59] natemcmaster opened #1293 "Clarify behavior when CookieAuthenticationOptions.Cookie.Expiration is set to null"
CookieAuthenticationOptions.Cookie.Expiration (added https://github.com/aspnet/Security/pull/1285) is a nullable `TimeSpan`, but `CookieBuilder.Expiration` is a nullable `TimeSpan`. We should either ensure our handler behaves correctly when `Expiration` is null, or prevent it from being null.

cc @Tratcher

[2017-07-05 19:36] Tratcher commented on #1292
Not ExpireTimeSpan: https://github.com/aspnet/Security/issues/1293

[2017-07-05 20:00] #1269 closed

[2017-07-05 20:36] Tratcher commented on #983
From @brentschmaltz:

Sample for consuming a JWE in a asp.net core app is here: https://github.com/brentschmaltz/AspNetCore/tree/master/JweSample
One possible solution for a user is to set a key: https://github.com/brentschmaltz/AspNetCore/blob/master/JweSample/JweSample/Startup.cs#L74

Possibilities are:
1.	Set a single key: https://github.com/AzureAD/azure-activedirectory-identitymodel-extension

[2017-07-05 20:39] brockallen commented on #1181
Not sure where else to add this, and I didn't want to open a new issue. Here's the question:

Now that this has all been redone -- do you think it's better/cleaner than in 1.x? Have the problems been solved (while not introducing a lot of new ones)?

[2017-07-05 20:50] HaoK commented on #1181
Yeah, most of the problematic behaviors we were aware of have been eliminated (multiple automatic challenge, chaining) and regressions like those in: https://github.com/aspnet/Announcements/issues/210 should be much less likely going forward.

[2017-07-05 20:52] HaoK opened #1294 "Update Auth 2.0 Announcement"
Also create Options 2.0 announcement

[2017-07-05 21:05] HaoK commented on #1282
After discussing with @Tratcher we'll switch Auth back to the old behavior (meaning switching to IOptionsMonitor).  OpenIdConnect metadata + RemoteAuthentication.Backchannel both will fall over if new instances are created every request.  There will still be a way for developers to opt into per request options if they really want, they could do this by changing `IOptionsMonitorCache<TOptions>` to

[2017-07-05 21:13] PinpointTownes commented on #1282
This should have never changed in the first place, specially since [this issue had been clearly identified during the initial 2.0 design](https://github.com/aspnet/Security/pull/1065#issuecomment-271480850). I'm really surprised this change passed the review stage... :trollface:

[2017-07-05 21:29] HaoK commented on #1282
Yeah there's a test hole as there's no formal requirement in the form of tests that enforce this requirement for the auth handlers, so the options breaking change to snapshot didn't cause any issues.  But I did file this issue for followup :)

[2017-07-05 21:33] PinpointTownes commented on #1282
"hole" is an euphemism, as many aspects of the OIDC handler are not tested at all (https://github.com/aspnet/Security/issues/772) :trollface:

[2017-07-05 21:40] HaoK commented on #1282
Yup, I've pointed that out in the past :)

[2017-07-05 21:54] #1208 closed

[2017-07-06 16:29] Tratcher commented on #1178
Offline discussion: how can we flow information into OnRemoteFailure in a more structured way? #1188 asks for the auth properties. @danroth27 is asking for the structured failure response. Right now the failures are rendered as an exception message:
https://github.com/aspnet/Security/blob/bd19ba9533cfd3ffd81e4ef2c874109e8b3dbccd/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthHandler.cs#L51
htt

[2017-07-06 16:33] brockallen commented on #1178
There are several places where just throwing is not really helpful. One big one is in the JwtSecurityTokehNalder itself -- what a bad design. I don't know/recall if the OIDC MW suppresses that exception, but it'd be nice for it to.

So, then, how about an "ErrorPageUrl", akin to how the cookie MW has login and access denied path properties to redirect the user to? As for capturing the error info,

[2017-07-06 20:41] #1282 closed

[2017-07-06 21:52] Eilon commented on #1291
This feature would likely end up being implemented in MVC, but keeping the bug here for now until we settle on a design.

[2017-07-06 21:53] Eilon commented on #1288
cc @vibronet to comment on PUID.

[2017-07-06 21:54] Eilon commented on #1283
Hmm there doesn't appear to be a way to do this right now. We will look into this in the 2.1 milestone.

[2017-07-06 21:58] Eilon commented on #1223
@bhlee90 sorry this appears to be a bit outside of our knowledge area because this seems to be related to issues with IIS Express. We recommend instead trying this on IIS (not Express) and deploy the app that way. If you're able to try that out and then let us know what is/isn't working we can go from there.

[2017-07-06 22:01] brockallen commented on #1283
Not according to the spec: https://openid.net/specs/openid-connect-core-1_0.html#TokenRequestValidation

[2017-07-06 22:02] Eilon commented on #1211
Thanks. It appears that `PasswordSignInAsync` causes the status code and location header to be set, which means that even if you render a view, the redirect will happen.

We suggest setting the status code back to 200 and clearing the `Location` HTTP response header to prevent the redirect.

[2017-07-06 22:02] #1211 closed

[2017-07-06 22:22] mattvperry commented on #1283
Yeah, after further investigation it seems that you actually cannot use the auth code more than once. Here in the OAuth spec: https://tools.ietf.org/html/rfc6749#section-4.1.2

So I guess my question now is how do I get access tokens to two resources after the oid flow?

[2017-07-06 22:37] mattvperry commented on #1283
So I actually may have been way off base with my original thinking. It seems that I can use the refresh token that's in my tokencache after getting an access tokens to resource A to request an access token to resource B. In other words, ADAL should handle token aquisition so long as I use the auth_code for one of the two resources I need.

If that makes sense then feel free to close this issue.

[2017-07-06 22:40] brockallen commented on #1283
Well you should only need to get one access token that can be used for both
APIs -- that's how RFC6749 reads.

On Thu, Jul 6, 2017 at 6:38 PM Matt Perry <notifications@github.com> wrote:

--

-Brock

[2017-07-06 22:43] mattvperry commented on #1283
Yeah, gotcha. Thanks for the help. Sorry for the erroneous issue. I will close and go forward with this new information.

[2017-07-06 22:43] #1283 closed

[2017-07-07 00:10] HaoK opened #1301 "AuthenticationHandler should throw if UseAuthentication wasn't called"
Add logic in our base AuthenticationHandler IAuthenticationService methods to throw if UseAuthentication wasn't called by checking if IAuthenticationFeature has been set.

We should do this anywhere we use the feature instead of defaulting (i.e. CookieSlidingExpiry)

[2017-07-07 05:18] Tratcher commented on #1178
@brockallen Yes, OIDC and JWT middleware capture the JwtSecurityTokenHandler exceptions and raise them to the events. What happens from there still needs work as you suggest. The error page url is something I've considered, but it's not clear that we can flow any useful details there, nor is the page even likely to exist unless we add it to templates.

[2017-07-07 17:47] #1287 closed

[2017-07-07 18:16] PinpointTownes commented on #1287
For those interested, this work item is no longer necessary as the fallback logic was removed in https://github.com/aspnet/HttpAbstractions/issues/891.

[2017-07-07 19:00] #1276 closed

[2017-07-07 23:11] Eilon commented on #900
@softlion sorry for the delay, I was traveling. We have some work planned for our 2.1 version that should make it easier to use OIDC for Web API auth.

[2017-07-08 00:24] Tratcher commented on #92
*ping* @muratg @Eilon reviving this for 2.0 signoff.

[2017-07-08 00:50] softlion commented on #900
What is OIDC ?
I tried the approach I described and it works fine. Validated the signed jwt tokens using google and Facebook sdks.

[2017-07-08 00:51] brockallen commented on #900
OpenID Connect: http://openid.net/connect/

[2017-07-09 02:45] bhlee90 commented on #1223
@Eilon
@blowdart
@Tratcher

Wow, I switched everything to localhost, and Microsoft Edge and Google Chrome recognized my connection to my site as secure.

I initially tried adding the site to IIS and gave up after I ran into an error that said that there was an error performing this operation and included the filename web.config, when I tried to access "Authentication" in IIS. Then, I tried launchi

[2017-07-09 02:48] bhlee90 commented on #1223
Also, logout redirection now works with work or school accounts (I get redirected back to localhost:44373 after logging out of my work or school account) but not Microsoft accounts.

[2017-07-10 00:36] kuncevic commented on #219
How would you set `CookieSecure = CookieSecurePolicy.SameAsReq` in case of JWT?

[code]

[2017-07-10 02:55] Tratcher commented on #219
@kuncevic None of this applies to JWT.

Your ConfigureCookieAuthentication is adding a duplicate cookie handler. The original is added via UseIdentity, so if you want to configure it you do this: https://github.com/aspnet/Identity/blob/rel/1.1.2/samples/IdentitySample.Mvc/Startup.cs#L52

[2017-07-10 11:17] leastprivilege opened #1305 "Removing vs Deprecating the old AuthN APIs"
We started porting IdentityServer4 to ASP.NET Core 2.0 - it's a mess ;)

I personally would prefer you to remove the old deprecated classes and extension methods - like `UseCookieAuthentication`, `AuthenticationManager` etc..

I also get ambiguous references for `AuthenticationProperties`.

Removing them would make that much clearer - especially with the new .All package where everything shows up

[2017-07-10 13:19] brockallen commented on #1305
If the reason is to allow easy migrations from 1.x to 2.0, but it's not technically supported, then what's the point?

+1 to ripping off the band-aid.

[2017-07-10 17:14] Tratcher opened #1306 "Update Facebook API to 2.12"
https://developers.facebook.com/docs/apps/changelog
https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow
The package currently defaults to 2.6 which is available until July 13, 2018.

From a quick test there doesn't appear to be any breaking issues between the current 2.6 and 2.9.

https://github.com/aspnet/Security/issues/92

[2017-07-10 17:26] Tratcher opened #1307 "Update Google API version to v2"
https://github.com/aspnet/Security/blob/df325deaf355f99239c1319932bc28eb3a837372/src/Microsoft.AspNetCore.Authentication.Google/GoogleDefaults.cs
https://developers.google.com/identity/protocols/OAuth2WebServer
AuthorizationEndpoint = "https://accounts.google.com/o/oauth2/auth"; => "https://accounts.google.com/o/oauth2/v2/auth"

https://developers.google.com/+/web/people/

https://github.com/aspne

[2017-07-10 23:19] Tratcher opened #1308 "TwitterOptions does not implement Validate"
This is a regression from 1.1. https://github.com/aspnet/Security/blob/rel/1.1.2/src/Microsoft.AspNetCore.Authentication.Twitter/TwitterMiddleware.cs#L71-L78

Missing ConsumerKey
[code]
Missing ConsumerSecret
[code]

@HaoK

[2017-07-11 03:27] HaoK commented on #1308
Yeah its missing a validate doh.

[2017-07-11 13:57] Tratcher commented on #1033
This has been fixed as part of https://github.com/aspnet/Security/pull/1284/files#diff-5f153b21e61d008634c479494de719d6

[2017-07-11 13:57] #1033 closed

[2017-07-11 18:48] wgrs opened #1309 "Google external authentication fails to authenticate"
I am trying to get aspnetcore identity to work with version 1.12.  When calling _signInManager.ExternalLoginSignInAsync the result returns Failure. However, if I downgrade all the necessary packages to 1.0.2, the external login is authenticated correctly. What changes need to be made to get things working with AspnetCore.Authentication.Google 1.12 ?

[2017-07-11 18:50] Tratcher commented on #1309
1.12? Do you mean 1.1.2?

[2017-07-11 18:51] wgrs commented on #1309
Yes, sorry 1.12

[2017-07-11 18:57] Tratcher commented on #1309
I'm not aware of any changes required. What's the error?

[2017-07-11 19:00] wgrs commented on #1309
I'm not sure on how to access further details - the result to ExternalLoginSignInAsync just returns a Fail result

[2017-07-11 19:03] Tratcher commented on #1309
Run it under the debugger? Or turn on application logging?

[2017-07-11 19:18] wgrs commented on #1309
OK - logging revealed the authentication was successful - seems the issue is elsewhere... thanks

[2017-07-11 21:12] HaoK opened #1310 "[Draft] Auth 2.0 Migration announcement"
## Summary:
The old 1.0 Authentication stack no longer will work, and is obsolete in 2.0.  All authentication related functionality must be migrated to the 2.0 stack, any interop between old and new must be side by side apps, as opposed to mixing 1.0 auth code with 2.0 auth code in the same app.  Cookie authentication will interop, so 1.0 Cookies and 2.0 Cookies will be valid in both apps if confi

[2017-07-11 21:14] HaoK commented on #1310
I'm drafting the announcement here, when we are all happy, I'll open the real announcements issue

cc @Rick-Anderson @Tratcher @blowdart

[2017-07-11 21:39] xavierjohn commented on #1118
While we wait, you can try out the package I made for me https://www.nuget.org/packages/CWiz.ClientCertificateMiddleware/1.0.0
till something official comes out.

[2017-07-11 21:44] Tratcher commented on #1310
Katana => Microsoft.Owin.

In 1.0 didn't UseIdentity() need to be before Facebook?

Your layout for the 2.0 sample needs work.

Is this what the fwlink will point to in the short term?

[Authorize] also relies on DefaultAuthenticateScheme.

Missing a new line on DefaultForbidScheme.

Doesn't DefaultSignOutScheme fall back to SignInScheme? Same for Forbid?

[2017-07-12 08:50] DerAlbertCom opened #1311 "Missing OpenIdConnect Event?: No AccessToken access with responseType "code id_token" without GetClaimsFromUserInfoEndpoint"
Hi,

maybe i'm doing something wrong, or there is no way for that ;)

If i make an OpenId Connection login with Response Type _code id_token_ for a Web Client, then I get the authorization code and the identity token from the OP (OpenId Provider).

With the code OpenIdConnectHandler will request the _access_token_ from the OP. Which is fine ;)

But how to get the Access Token?

I can gain access t

[2017-07-12 09:44] cwe1ss commented on #1310
* "... namespace are very similar" -> "... namespace and are very similar"?
* In the first sample with extension methods you use "context.Authentication.AuthenticateAsync" twice instead of "ChallengeAsync"

[2017-07-12 10:22] NielsKruse opened #1312 "Question: How to access configured CookieAuthenticationOptions in controller/view/etc"
Purpose: I want to redirect razor pages to the configured LoginPath if no authenticated user is found.

I add cookie authentication to the services in startup.cs...
[code]

Now, on the razor page model (seprarate file), I add the following, amongst others, to the constructor...

[code]
It seems that the AuthenticationOption inject properly as configured, but that the CookieAthenticationOptions (an

[2017-07-12 11:10] balasratran opened #1313 "Error Custom Authorization Version=2.0.0.0"
[code]

I want to return bool values ​​instead of AuthorizationResult

[2017-07-12 11:50] Tratcher commented on #1312
Resolving the new IAuthenticatonService would make more sense here.

But rather than look up the value manually, why not invoke an authentication challenge? @danroth27 is that thing for razor pages?

[2017-07-12 11:56] Tratcher commented on #1311
What about the TokenResponseReceived event? Or if you're doing the code only flow then the TokenValidated should also work.

[2017-07-12 13:49] NielsKruse commented on #1312
Returning Challenge works in that particular context. Thanks for pointing me towards it.

More generally, though,... if I wanted to read the configured CookieAuthenticationOptions (for whichever purpose - maybe simply for display), how would I do that in a controller or view?

I thought they'd be available via DI.
For example...
[code]
.. but that only gives me what looks like a new instance of th

[2017-07-12 14:39] PinpointTownes commented on #1312
@NielsKruse in 2.0.0-preview3/rtm, you'd have to use `IOptionsMonitor<CookieAuthenticationOptions>` (if you're still using preview2, use `IOptionsSnapshot<CookieAuthenticationOptions>` instead):

[code]

[2017-07-12 14:56] tylerd commented on #1310
`HttpContext.Authentication.GetAuthenticateInfoAsync(scheme)` was used to obtain Auth tokens to use with external services, like Fitbit or GitHub.

How is this accomplished in 2.0?

Example:
[AspNetCore - Get current access token](http://blog.tylerdoerksen.ca/posts/2016/07/aspnetcore-get-current-access-token)

Also:
The warning message when using HttpContext.Authentication is incorrect
[code]
The

[2017-07-12 15:06] Tratcher commented on #1310
@tylerd try `var result = await HttpContext.GetTokenAsync(scheme, "access_token");`

[2017-07-12 15:07] NielsKruse commented on #1312
@PinpointTownes Thanks a lot. Particularly for including the code snippet. Without it (without using the Get function), I would have used "options.CurrentValue", which would have pointed to the default scheme. I am on preview 3 and getting somewhere by googling is next to impossible.

[2017-07-12 15:08] Tratcher commented on #1310
https://github.com/aspnet/HttpAbstractions/blob/271faf11bbd5b05cd758f1c7e83eb59d45b6db59/src/Microsoft.AspNetCore.Authentication.Abstractions/AuthenticationHttpContextExtensions.cs

[2017-07-12 15:26] PinpointTownes commented on #1312
Would you be interested if I wrote a blog post about the new options changes in the security stack? It's more complicated than before, but there are cool things you can now do w.r.t multi-tenancy.

[2017-07-12 15:36] NielsKruse commented on #1312
@PinpointTownes I think I speak for tons of people when I say "yes, any posted information on the current state of the security stack would be hugely appreciated" ^^
Some of the problems I ran into were due to me wanting to build things from scratch and deliberately changing various default settings to see what happens.
As I next step, I want to implement multiple auth providers (facebook, MS, git

[2017-07-12 16:31] HaoK commented on #1310
updated with feedback, not sure what layout issue @Tratcher feel free to fix it directly.

Added a placeholder to go over AuthZ changes as well, Authorize deserves a section even tho it hasn't changed that much.

[2017-07-12 16:34] Tratcher commented on #1310
Updated the indenting

[2017-07-12 17:18] HaoK commented on #1310
Added a major section on Authorization/Authorize/ChallengeBehavior

[2017-07-12 17:24] PinpointTownes commented on #1310
It looks good, but you should maybe insist on the fact the old stack was not just obsoleted but is now completely unusable. It would be also great to mention that older middleware written for 1.0 will not work and that moving to a 2.0.0-compatible version is mandatory.

What, did you really rename `IClaimsTransformer` to `IClaimsTransformation`? What was the reasoning behind this change?

[2017-07-12 17:24] HaoK commented on #1310
@Tratcher can you write the section on host changes for HttpSys/IISIntegration in a comment and I'll merge it?

[2017-07-12 17:31] PinpointTownes commented on #1310
Buh, the new name is ugly :trollface:

Note that getting rid of `ClaimsTransformationContext` will prevent one from accessing the HTTP context... at least, without having to use `IHttpContextAccessor`. Maybe you could add a short line mentioned that as a workaround?

[2017-07-12 17:33] PinpointTownes commented on #1310
Other things you should treat:
  - `AuthenticationProperties` and its friends have moved to a different namespace. This change will affect folks who use it in their controllers and don't necessarily use the extensions.

  - Authentication middleware selection via branching is no longer possible (because there's now only one middleware). You should maybe suggest a workaround.

[2017-07-12 17:39] HaoK commented on #1310
@PinpointTownes well, its just a normal service now which can consume whatever it wants from DI, unlike before, but sure I'll call that out in the claims xform section.

Added some text about mixing 1.0 and 2.0 together in the initial section, but this probably needs a longer dedicated section in the known breaking changes when I get to it.

re Properties and things moving around, that will go int

[2017-07-12 19:09] blowdart opened #1316 "Using error handling pages causes multiple identities to be populated in HttpContext.User.Identities"
Moving from https://github.com/aspnet/Identity/issues/1306 by @jeffputz

For back story, check out a bug a user found in my project:
https://github.com/POPWorldMedia/POPForums/issues/54

The TL;DR version is that configuring error handling pages in startup, specifically `app.UseStatusCodePagesWithReExecute(..)` and `app.UseExceptionHandler(..)`, appears to cause HttpContext.User.Identities to be p

[2017-07-12 19:35] Tratcher commented on #1310
ChallengeBehavior.Automatic description is backwards, it forbids if you already have a ticket.

[2017-07-12 20:34] Tratcher commented on #1310
Not much to say for the hosts. The biggest visible differences are that they were each consolidated to a single "Windows" scheme, and that IISIntegration now conditionally registers the handler only if windows auth is enabled in IIS (if you have the latest version of ANCM, otherwise it's always registered as before).

[2017-07-12 21:08] HaoK commented on #1310
Cool thanks, added the host section

[2017-07-12 21:39] HaoK commented on #1310
Added "New Microsoft.AspNet.Authentication.Core/Abstractions" section

[2017-07-12 21:46] brockallen commented on #1316
Well, IMO, this is the fault of the error handler middleware approach -- in essence, they're asking the pipeline to replay itself on top of the same HttpContext. Perhaps it should clear the identities? But, it's always possible to put the error handler middleware after the authN MW.

[2017-07-13 05:36] davidfowl opened #1317 "Add logging scope for auth flows"
We can scope help diagnosing authentication issues by correlating multi request auth flows.

/cc @PinpointTownes

[2017-07-13 12:47] PinpointTownes commented on #1317
Sounds like a very good idea . For that, I presume you'd store a correlation identifier in the `AuthenticationProperties` of the correlation/anti-forgery cookie?

[2017-07-13 13:15] lachis opened #1318 "HttpContext.User.Identity.IsAuthenticated is false after successful sign in with Cookies."
I'm using the new .Net Core 2.0 Preview 2 along with Visual Studio Community 2017 15.3 preview. Ive been struggling with this for days, Im not sure if my code is wrong or if this is an actual bug. I successfully sign in a user and receive the following message in output `Microsoft.AspNetCore.Authentication.Cookies.CookieAuthenticationHandler:Information: AuthenticationScheme: Cookies signed in.`.

[2017-07-13 13:27] Tratcher commented on #1318
SignIn persists the given information for future requests, it does not set HttpContext.User on the current one.

[2017-07-13 13:35] lachis commented on #1318
Thanks for the reply. I will check this (tomorrow morning, just gone to bed)

[2017-07-13 14:01] leastprivilege opened #1319 "DisplayName in new AuthN Plumbing?"
How do I set it? It's gone from the options class.

[2017-07-13 14:07] Tratcher commented on #1319
https://github.com/aspnet/Security/blob/ff9f145a8e89c9756ea12ff10c6d47f2f7eb345f/src/Microsoft.AspNetCore.Authentication/AuthenticationBuilder.cs#L37
https://github.com/aspnet/Security/blob/df325deaf355f99239c1319932bc28eb3a837372/src/Microsoft.AspNetCore.Authentication/AuthenticationServiceCollectionExtensions.cs#L50
@haok is this exposed anywhere else? E.g. I don't see a way to change it for Goo

[2017-07-13 14:43] leastprivilege commented on #1319
but not here

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectExtensions.cs#L20

[2017-07-13 14:58] Tratcher commented on #1319
It's set here to match the scheme name: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectExtensions.cs#L23
Needs an overload to set the display name.

[2017-07-13 16:51] HaoK commented on #1319
Yeah we don't have those overloads in the security layer right now, so you'd have to drop down and use the lower overload to tweak the display name

[2017-07-13 16:53] PinpointTownes commented on #1319
If you decide to fix that in 2.0 (and I personally hope you will), please also fix https://github.com/aspnet/IISIntegration/issues/391 (I'm fine submitting a PR if you prefer).

[2017-07-13 16:54] HaoK commented on #1319
Doubt we are doing that now, since its a non breaking change in 2.1

You can probably workaround this via directly tweaking the DisplayName via AuthenticationOptions.SchemeMap:

`services.Configure<AuthenticationOptions>(o => o.SchemeMap["OIDC"].DisplayName = whatever`

[2017-07-13 16:56] leastprivilege commented on #1319
That's ridiculous.

[2017-07-13 16:58] PinpointTownes commented on #1319
Well, it automatically means waiting maybe 5 or 6 months more before moving to 2.x.
And while you can indeed work around this limitation with the "classical" handlers, it's not possible with the host handlers.

[2017-07-13 16:59] HaoK commented on #1319
What are you trying to do with display name that is so critical?  Check if its null?

[2017-07-13 16:59] PinpointTownes commented on #1319
@HaoK https://github.com/aspnet/IISIntegration/issues/391#issue-240282870

[2017-07-13 17:01] HaoK commented on #1319
So you can just write your own filtering for which handlers to display for the external schemes, you don't have to use DisplayName != null as your condition.  Why don't you just merge the list you have with the Windows scheme?

[2017-07-13 17:02] HaoK commented on #1319
You are able to inspect the schemes yourself via IAuthenticationSchemeProvider, just compute the display list using that directly...

[2017-07-13 17:04] HaoK commented on #1319
Its up to the app to decide which schemes are appropriate anyways, we wrote some sugar (that I think lives in Identity?) that filters the schemes using DisplayName != null, but its just sugar

[2017-07-13 17:05] PinpointTownes commented on #1319
Sure, why not reinventing the wheel and using a hardcoded display name in your views when you could simply rely on `SignInManager.GetExternalAuthenticationSchemesAsync()`, that does the right thing for you and is used in the default templates...

[2017-07-13 17:07] HaoK commented on #1319
Well, you can just wait til 2.1 as you said if you prefer that instead of using the workaround

[2017-07-13 17:08] PinpointTownes commented on #1319
@HaoK maybe I wasn't clear enough: you CAN'T use the workaround you suggested with the host handlers due to the way you've decided to register them (in the IIS middleware constructor... dynamically :trollface:).

[2017-07-13 17:09] HaoK commented on #1319
The sugar is not meant to the final arbiter of what schemes should be displayed, that is template sugar for the Individual auth template basically.  I never liked having that in the framework, but it is what it is.  External clearly doesn't hosts as written either.

[2017-07-13 17:09] HaoK commented on #1319
The workaround for your case is to not use GetExternalAuthenticationSchemesAsync and compute that list yourself.

[2017-07-13 17:10] HaoK commented on #1319
Again, all that method does is:

[code]

You really don't gain very much by calling it :p

[2017-07-13 17:12] PinpointTownes commented on #1319
Okay so @leastprivilege was right. Arguing so hard for a zero-risk change that will take 10 minutes to do is truly ridiculous.

[2017-07-13 17:12] PinpointTownes commented on #1319
That's not the problem. The problem is that you can't use `await _schemes.GetAllSchemesAsync();` as the display name will always be null. You'll have to hardcode it or import it from somewhere else, which makes no sense.

[2017-07-13 17:13] HaoK commented on #1319
Doesn't matter how long the fix takes, bar is higher than this bug, shipstoppers only.

[2017-07-13 17:16] PinpointTownes commented on #1319
Updating the display name associated with the host handlers was possible in 1.x. Since it's no longer possible in 2.x, that's a regression. Does that qualify as a shipstopper? :trollface:

[code]

[2017-07-13 17:16] HaoK commented on #1319
Most apps do not have a dynamic list of schemes, most have a couple of schemes they want to show, it really doesn't seem the end of the world for them to either:

- use the sugar, and tweak (hardcode "Windows" in your case).
- Or hardcode the entire list you return

[2017-07-13 17:17] HaoK commented on #1319
If there was no way for you to workaround this in your app, you'd have a stronger argument :)

[2017-07-13 17:20] PinpointTownes commented on #1319
Then I you should strongly consider revisiting how you handle that in 2.x/3.x because even if you don't like it, setting the display name in the options and using `SignInManager.GetExternalAuthenticationSchemesAsync()` was - and still is - the "official" way to do that.

But okay, point taken. I'll send a PR against the release branch as suggested by @Tratcher and try to bribe the guy in charge of

[2017-07-13 17:25] HaoK commented on #1319
Yeah this is a case of sugar overload in my mind.  Those 2 lines should have just lived in the app, I tried to get rid of the concept entirely of DisplayName, but we couldn't come up with anything better, and we just ran out of time to spend on it so we brought it back late in preview 2 for the templates

[2017-07-13 20:14] DerAlbertCom commented on #1311
Hi, i made the following for ASP.NET Core 2 Preview 2, was the Same in Core 1.x (manual check, with breakpoints). Response Type _code id_token_, if it works with _code_ only it doesn't change the problem ;)

These are the Events with a ProtocolMessage
[code]
This is the result
[code]

[2017-07-13 20:30] DerAlbertCom commented on #1311
Did the same with code only

[code]
and now without GetClaimsFromUserInfoEndpoint

[code]

[2017-07-13 20:32] Tratcher commented on #1311
There are two messages on some of the events. E.g. see https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/Events/TokenResponseReceivedContext.cs#L27

[2017-07-13 20:55] lachis commented on #1318
Ok so i checked by looking at HttpContext.User on subsequent requests on login, its still not persisting my identity :(

[2017-07-13 21:00] Tratcher commented on #1310
Needs a sample showing this common scenario:
[code]

[2017-07-13 21:02] Tratcher commented on #1318
https://github.com/aspnet/Security/issues/1310
[code]
This will get a bit cleaner in RTM

[2017-07-13 21:12] lachis commented on #1318
Thank you so much that solved my issue!

[2017-07-13 21:12] #1318 closed

[2017-07-13 21:54] HaoK commented on #1310
Its also there in the example already: `AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)` but I'll call more attention to this in the section I'm writing now which will go over the AuthenticationMiddleware in more detail

[2017-07-13 22:05] Tratcher commented on #1310
Dan's scenario is different, he has a login page. For OAuth/OIDC apps without a login page then you need to specify the default challenge too.

[2017-07-13 22:25] #1319 closed

[2017-07-13 23:38] HaoK commented on #1310
Updated doc with Security/Authenticationhandler overviews along with a short overview of the context/events methods.

[2017-07-13 23:41] HaoK commented on #1310
Bah github fail, lost the update, was in preview, and commenting nukes the edits :(

[2017-07-13 23:59] HaoK commented on #1310
Ok updated again, fun fact: so turns out you can recover form posts that were lost after a submit by taking a process dump of a chrome tab...  good trick if you ever lose a HUGE post :)

[2017-07-14 01:39] joshbartley opened #1322 "Support for Basic Auth for Webhooks"
I am setting up some webhooks for some well known products, like SendGrid, Stripe, and another credit card processing system, etc. I only have two options, 1, send a webhook over and not have basic authentication enabled and hope no one finds out my URL, 2, roll my own using community provided code and maintain it myself. I feel this is an issue with the current state of the security package for t

[2017-07-14 04:34] davidfowl commented on #1317
@PinpointTownes yep!

[2017-07-14 06:41] DerAlbertCom commented on #1311
Yes, there it is.

In on OnTokenResponseReceived the TokenEndpointResponse has the Access Token. Even when i don't get the UserInfo. Thank you.

[2017-07-15 21:35] justin-ruffin commented on #1224
Yes, I have confirmed this as well. Working version in preview1, preview2 an error about the same error "ArgumentException: Options.ClientId must be provided Parameter name: ClientId
Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectOptions.Validate()"

[2017-07-17 18:03] HaoK commented on #1310
Removed dedicated cookie interop section, since the initial paragraph covered it.

Looks good to convert to announcments @Tratcher?

[2017-07-17 18:06] HaoK commented on #1310
@danroth27 this look reasonable to you for the announcement?

[2017-07-17 18:14] Tratcher commented on #1310
:shipit:

[2017-07-17 20:21] HaoK commented on #1310
https://github.com/aspnet/Announcements/issues/262

[2017-07-17 20:21] #1310 closed

[2017-07-17 21:34] mmillican opened #1327 "Identity with OpenID Connect"
Using ASP.NET Core 1.1, I am trying to do a type of "hybrid" authentication for a web app.

I am using Identity as essentially a user store on the "client" side, but I want the users to solely log in through an Open ID Connect provider.

_Why?_  I want "local" references to the users for various use cases, but I don't want to have login individually supported in each application.

I tried mimic'in

[2017-07-17 21:49] HaoK commented on #1327
This should work, you basically want to treat OIDC as an external login provider, so you don't want to configure the SignInScheme, and let it use the default Identity ExternalSignInScheme, which would allow you to link the login to the local identity cookie instead of just directly using the OIDC produced identity (that's what the external flow does)

[2017-07-17 22:57] mmillican commented on #1327
@HaoK I removed the `SignInScheme, but now I'm being redirected the "Access Denied" page.  Is there additional configuration I'm missing?

Also, I updated my original comment with my account controller code which should be responsible for authenticating or creating a new user.

[2017-07-19 00:12] mmillican commented on #1327
@HaoK @blowdart  sorry to bug - wondering if you had any other guidance here?

[2017-07-19 00:15] HaoK commented on #1327
You got rid of "SignInScheme = CookieAuthenticationDefaults.AuthenticationScheme" in the OIDC options right?

[2017-07-19 00:17] mmillican commented on #1327
Correct - the rest of the code above is the same.

[2017-07-19 00:19] HaoK commented on #1327
Are you able to sign in with OIDC directly?  Basically the flow is get sign in working with any of the auth providers (where you setup a cookie for the auth scheme).

Once you are able to login with that flow properly, you want to point the sign in scheme at the Identity.ExternalCookie instead, and that will take care of linking the accounts (using the Email/login provider).

One other thing to tr

[2017-07-19 01:05] mmillican commented on #1327
@HaoK Yup - with just the OIDC, I was able to sign in fine.

Regarding this:

Do I do that in the OIDC configuration or Identity configuration.

Thanks for your help - greatly appreciated!

[2017-07-19 01:09] HaoK commented on #1327
You can try hardcoding it for onw in the OIDC signIn scheme: set it to:

"Identity.External"

https://github.com/aspnet/Identity/blob/rel/1.1.2/src/Microsoft.AspNetCore.Identity/IdentityCookieOptions.cs#L18

[2017-07-19 01:19] mmillican commented on #1327
Seems like progress.  I see an `Identity.External` cookie being set, but now I am being redirected to an `Access Denied` page

[2017-07-19 01:38] mmillican commented on #1327
To clarify the above:

I get the access denied when trying to visit a page (after sign in) that has an `Authorize` attribute on it.

I tried setting `[Authorize(ActiveAuthenticationSchemes = "Identity.External")]` and am now being redirect to my `Login` action, which is just issuing a `Challenge` like so:

[code]

After that, it appears to log me in, however my `ExternalLoginCallback` is not being

[2017-07-19 02:11] mmillican commented on #1327
Sorry to spam, but quick update:  I got my `ExternalLoginCallback` get called (was a typo in the return URL 🤕 and now just have to get claims correct.

Continuing on...

[2017-07-19 13:38] blowdart commented on #1327
Well the claims come from the provider, so we can happily say "Not us" now *grin*

[2017-07-19 17:11] Eilon commented on #92
@Tratcher - anything we need to do for 2.0 RTM?

[2017-07-19 17:18] Tratcher commented on #92
I did a pass recently and filed some non-blocking bugs linked above. Move this to 2.1?

[2017-07-19 17:25] Eilon commented on #92
Ok.

[2017-07-20 18:09] HaoK opened #1329 "AuthZ Regression: PolicyEvaluator always passes HttpContext for resource"
See line: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization.Policy/PolicyEvaluator.cs#L80

The resource should be taken by IPolicyEvaluator.AuthorizeAsync() and passed into the IAuthorizationService instead of always passing in the HttpContext.

This is a regression from 1.0 in MVC where there's no longer any way to access the AuthorizationFilterContext from a poli

[2017-07-20 21:52] NinoFloris commented on #1265
Ah thanks @PinpointTownes I was just scratching my head for an hour why I wouldn't get a valid ClaimsIdentity, all along our auth handler was returning failures... Great to see this fixed!

[2017-07-20 23:10] Eilon commented on #1329
Approved for 2.0, incl. the MVC and SignalR changes:

* https://github.com/aspnet/Mvc/pull/6574
* https://github.com/aspnet/SignalR/pull/675

[2017-07-20 23:12] #1309 closed

[2017-07-20 23:12] #1311 closed

[2017-07-20 23:13] Eilon commented on #1312
Looks like we can close this.

[2017-07-20 23:13] #1312 closed

[2017-07-20 23:16] Eilon commented on #1313
This changed from 1.x as part of a big re-design of how auth works.

You should be able to do this:

[code]

[2017-07-20 23:16] #1313 closed

[2017-07-20 23:29] Eilon commented on #1322
Hi @joshbartley we are not planning to implement HTTP basic auth as a built-in feature of ASP.NET Core due to the complexity of implementing it securely. However, we do have an **unofficial sample** that you can check out here: https://github.com/blowdart/idunno.Authentication

cc @blowdart

[2017-07-20 23:29] #1322 closed

[2017-07-21 00:01] hey-red opened #1331 "Custom jwt validator"
Better way to create your own token validator? By default it uses JwtSecurityTokenHandler and validate jwt payload itself, but I'm want to add additional payload validator.
Or maybe better use events for that?

[2017-07-21 04:20] HaoK commented on #1329
869d98e28d60b49063af8bdcb7a16742b983994b

[2017-07-21 04:20] #1329 closed

[2017-07-21 14:11] rafsawicki opened #1332 "Problem with using JWE with symmetric key and A128CBC_HS256 encryption."
I am not able to use `UseJwtBearerAuthentication` middleware to authenticate using JWE. I am receiving an error that JWT is not well formed. If I switch to non encrypted tokens then everything works correctly, but that is not feasible for my use case.

I generate simplest possible token using jose-jwt library:
[code]
Which generates the following token:
[code]
Then, I set up Jwt authentication:
[c

[2017-07-21 14:33] Tratcher commented on #1332
@brentschmaltz ?

[2017-07-21 15:13] Tratcher commented on #1331
Replacing the default SecurityTokenValidators in JwtBearerOptions is a good way to do this.
https://github.com/aspnet/Security/blob/ae63c32bff6c3bf025e7ca162bc8b3fdc8193ffc/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerOptions.cs#L92

[2017-07-21 16:15] Eilon commented on #1305
The migration guide from ASP.NET Core 1.1 to 2.0 will include information that assists with the migration. The content includes removing references to the previous namespace, which would mitigate this issue.

Here are some links to the in-progress migration documentation:
* Issue tracking the migration doc work: https://github.com/aspnet/Docs/issues/3548
* Migration doc PR in-progress: https://git

[2017-07-21 16:15] #1305 closed

[2017-07-21 16:15] Eilon commented on #1305
Oh I forgot to add: One reason we kept the old methods was to have a place to put Obsolete messages, to help guide the developers to the migration doc. The obsolete messages include a link to the doc. We didn't obsolete every single type but instead chose to obsolete the key entry points.

[2017-07-21 19:40] moozzyk opened #1334 "Usability: Obosolete messages don't contain enough information and are therefore painful to use"
The obsolete messages lack details that enable to tell quickly what the replacement APIs are. Also, because the included link is not clickable you need to take a number of steps to be able to get to content.

For instance, without building the solution I see this in VS (an interesting thing is that for UseGoogleAuthentication VS did not add squiggles and the build passes without an error even thou

[2017-07-21 19:41] hey-red commented on #1331
@Tratcher yes, but it requires to write a implementation of ISecurityTokenValidator i.e token validation/decrypt instead of working with JwtSecurityToken payload like here

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L773

There is no other ways to achieve this?

[2017-07-21 19:45] Tratcher commented on #1334
https://github.com/aspnet/Security/issues/1305

[2017-07-21 19:47] Tratcher commented on #1331
Are you only trying to add additional checks on top of  the current validator?

[2017-07-21 19:48] hey-red commented on #1331
@Tratcher yes.

[2017-07-21 19:50] Tratcher commented on #1331
I don't know what you're trying to add, but does OnTokenValidated give you enough access?https://github.com/aspnet/Security/blob/644f34e90d35b369efdce9c11ab1db42e0a7f4a7/src/Microsoft.AspNetCore.Authentication.JwtBearer/Events/JwtBearerEvents.cs#L27

[2017-07-21 19:56] HaoK commented on #1334
The link to 1310 is also temporary, eventually it will go to the migration doc instead of the announcment

[2017-07-21 19:59] hey-red commented on #1331
Yes, its give me token, but I'm don't know how to correctly abort authentication(I'm just check one field) on this event.

[2017-07-21 20:19] moozzyk commented on #1334
Regardless, getting to this link is painful. With a more detailed message I could just google/bing things. It could also be helpful in finding help on stackoverflow (as opposed to the generic message).

[2017-07-21 20:21] Tratcher commented on #1334
@Eilon? This won't be worth changing after RTM

[2017-07-21 20:22] Tratcher commented on #1334
@blowdart

[2017-07-21 20:40] blowdart commented on #1334
Not clickable is one for web tooling?

[2017-07-21 21:15] #1331 closed

[2017-07-24 05:11] Eilon commented on #1334
This is not a ship-stopper. Fixing in 2.1 could still have value. Many docs/sites/examples will be mentioning the obsolete APIs for some time.

[2017-07-24 16:01] HaoK opened #1338 "Discussion for Auth 2.0"
Related discussion thread of issues/questions about https://github.com/aspnet/Announcements/issues/262

[2017-07-24 19:26] mennan opened #1339 "OAuth 2 StackOverflowException"
I am using OAuth 2 on an ASP.NET Core 2.0 application.

When I run the app and load the main page, it throws "**Process is terminating due to StackOverflowException.**" exception.

However, when I try cookie authentication, it works fine.

**[Startup.cs]**
[code]

**[Referenced Packages]**
[code]

[2017-07-24 22:02] brentschmaltz commented on #1332
@rafsawicki @Tratcher the IdentityModel library is expecting the inner token to be a signed JWT (JWS).
We currently don't handle just JSON as the inner bits. We are adding an extension to our 5.2.0 release that will give you control in handling the inner token.

[2017-07-25 00:43] Tratcher commented on #1339
Oauth shouldn't be used fro DefaultSignInScheme, you should be using Cookies for that one (and DefaultAuthenticateScheme). Only DefaultChallengeScheme should be set to SSO (OAuth). See https://github.com/aspnet/Announcements/issues/262

[2017-07-25 06:29] mennan commented on #1339
Hi @Tratcher,

Thanks for your help.

[2017-07-25 06:29] #1339 closed

[2017-07-25 10:28] rsawicki-neurosys commented on #1332
I can confirm that signing and then encrypting token solves the problem that I have. Thank you.

[2017-07-25 11:03] #1332 closed

[2017-07-25 17:51] joeaudette commented on #1338
Hi,

In the announcement for the breaking changes you said:

"In 1.0, it was possible to configure different Authentication middleware with branching, this is no longer possible with a single middleware and shared services across all branches. A workaround could be to use different schemes/options for each branch."

I am facing this problem and would appreciate some elaboration on specifically how

[2017-07-25 18:09] HaoK commented on #1338
Alternatively you could also try replacing the 'IAuthenticationHandlerProvider` to return the appropriate instance for your branch and use the same name in each branch.  The default implementation of this is just a scoped dictionary cache: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationHandlerProvider.cs

If you had a implementation t

[2017-07-25 18:28] joeaudette commented on #1338
Thank you! Really appreciate the prompt response! I will give IAuthenticationHandlerProvider a try.

Can you tell me what is the purpose of IOptionsMonitor? what is it used for? I'm familiar with IOptions of T but IOptionsMonitor is new to me.

[2017-07-25 18:30] HaoK commented on #1338
Its basically the same thing, it just adds the ability to name options `IOptionsMonitor.Get(authenticationScheme)` is what you will need to implement

[2017-07-25 18:36] joeaudette commented on #1338
Thanks!
Wondering also about cookie name, in my current 1.1 solution I support tenants based on the first folder segment so for that I have been using different auth scheme names with the cookie named the same as the auth scheme so that is is possible to login to multiple tenants without cookies stepping on each other. ie since the host name is not different per tenant I have to account for the fa

[2017-07-25 18:45] HaoK commented on #1338
You can configure them however you like the underlying options haven't changed that much

[2017-07-26 06:42] valeriob commented on #1338
I'm trying to bring our owin authentication code to aspnetcore 2.0, so much stuff have changed !
I hope i can bring there same functionality back, i'll give feedback on it.
At first impact i see too much use of new() generic constraint, it's kinda a bad smell to be honest, i think the framework should not instantiate anything but let the user build his types providing the right hooks, like owin di

[2017-07-26 11:49] Zenuka commented on #1239
For anyone finding this issue; the issue in Azure AD has been fixed

[2017-07-26 12:57] LimeyTX commented on #804
Setting AutomaticChallenge to false worked for me but it also inhibited the ability to login.

[2017-07-26 22:02] guillerglez88 commented on #1086
As a workaround you can require IServiceProvider from constructor instead, and resolve the service just before calling AuthorizeAsync, that worked for me.

[2017-07-27 05:15] Banashek commented on #1338
So I'm just trying to add a simple claim based on a boolean column in my `ApplicationUser` table in my database. This seems prohibitively difficult.

I set up an `IClaimsTransformation` implementation which would get the user from the database and add the claim depending on the column value. I'm guessing because it's registered as a transient service is the reason that it's being called every sing

[2017-07-27 07:19] JianChengSun opened #1340 "Is there any plan to make the Scope property editable in MicrosoftAccountOptions"
When I add the Microsoft login in the ASP.NET Core application, I want to add the Scope setting with following code. But the Scope is read only, so is there any plan to make the scope editable?
[code]

[2017-07-27 16:03] Tratcher commented on #1340
You can edit it, you just can't replace it.

Note that with 2.0 the pattern has changed so you don't new up MSOptions anymore, you get it from a callback. https://github.com/aspnet/Security/blob/a4458191c700437a00603116ad92633d1590319d/samples/SocialSample/Startup.cs#L143
Then you just call `options.Scope.Clear(); options.Scope.Add("wl.basic");`

[2017-07-27 16:11] joeaudette commented on #1338
@HaoK thanks to your previous help I managed to get my multi-tenant cookie auth working again. Now I am moving on to working on getting my multi-tenant social auth working and could use more advice about what to implement in order to resolve correct MicrosoftAccountOptions per tenant. I am working against preview2 and I see there are additional changes after preview2 such as use of IOptionsSnapsho

[2017-07-27 18:22] joeaudette commented on #1338
@HaoK it looks like what is null on my MicorosoftAccountOptions is StateDataFormat

What would be the correct way to populate that?

[2017-07-27 18:34] HaoK commented on #1338
You need to something like https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthPostConfigureOptions.cs

[2017-07-27 18:53] joeaudette commented on #1338
@HaoK  thank you! that got me past the null error, but now after redirecting back from microsoft I get

    AggregateException: Unhandled remote failure. (OAuth token endpoint failure: Status: Unauthorized;Headers: Cache-Control: no-store, no-cache

any ideas about that?

[2017-07-27 18:55] joeaudette commented on #1338
wait it is saying invalid client, I thought I was using credentials that already worked, I will double check first that it works in my 1.1 branch as it did before

[2017-07-27 19:17] joeaudette commented on #1338
@HaoK thank you again, that got it working! Somehow my client secret got corrupted in the db but once I fixed that I was able to get it working! Really appreciate all your help!

[2017-07-27 22:12] HaoK commented on #1244
This was done in 2.0 via https://github.com/aspnet/HttpAbstractions/issues/873

[2017-07-27 22:12] #1244 closed

[2017-07-27 22:16] HaoK commented on #1294
https://github.com/aspnet/Announcements/issues/262

[2017-07-27 22:16] #1294 closed

[2017-07-27 22:38] Eilon commented on #1316
We think this might be fixed starting with ASP.NET Core 2.0, where the auth handlers (which are all controlled by a single auth middleware) now always **sets** the identity, rather than **merging** the identity with pre-existing identities. So, we think that even though the auth handlers will be running again, you'll end up with the same single identity.

@HaoK - can you verify this?

[2017-07-27 22:45] Eilon commented on #1223
Thanks @bhlee90 . It sounds like you got part of this working, but unfortunately I don't think we have any knowledge to help you get further.

[2017-07-27 22:45] #1223 closed

[2017-07-28 01:52] JianChengSun commented on #1340
Hi Tractcher,
I can edit it now follow your suggestion, however the values like "wl.basic" are invalid now. When I use the code `options.Scope.Clear(); options.Scope.Add("wl.basic");` then I click the Microsoft login button, it will show the error without more detailed error message.

However, when use the values like "https://graph.microsoft.com/user.read", it starts to work.
[code]

[2017-07-28 03:33] mmillican commented on #1327
@HaoK Making good progress, however something else I can't figure out... is there a way / what is the "default" `AuthenticationScheme` used by the `AuthorizeAttribute`?  I keep getting redirected to Access when I would expect to be redirected to my Login page (and then onto my OIDC provider)

[2017-07-28 04:28] mmillican commented on #1327
So it looks like setting `AutomaticAuthenticate = false` and `AutomaticChallenge = false` on the OIDC config did the trick.  Here's my current configuration for reference

[code]

In my `Login` action, I'm issuing a challenge to the OIDC provider and then my `ExternalLoginCallback` action, I'm validating the user creating an ASP.NET Identity user if they don't already have one, and logging them in

[2017-07-29 03:26] scottaddie commented on #1310
@HaoK @Tratcher I'll need a couple edits to this issue to help me finish the [migration doc](https://github.com/aspnet/Docs/pull/3768):
- a code sample for the **Event changes overview** section to help explain what breaks
- a code sample for the **Known issues/breaking changes** section to demonstrate the workaround mentioned

[2017-07-29 22:38] javiercn opened #1341 "PolicyEvaluator.AuthenticateAsync should not set a principal on the HttpContext"
Evaluating a policy should not change the user in the HttpContext.
It essentially prevents the PolicyEvaluator from being used to compute a Principal based on a given policy without changing the principal on the HttpContext.
Setting the principal on the HttpContext should always be the responsibility of the framework/user evaluating a policy,

[2017-07-29 22:43] davidfowl commented on #1341
Agreed. Can we still make that change though? It's too late.

[2017-07-30 02:14] javiercn commented on #1341
@davifowl Sadly I believe we can't, but maybe we can come up with something to allow for the scenario

[2017-07-30 04:55] HaoK commented on #1341
Yeah breaking change to change the default behavior in 2.1, but we can always add a flag/option to disable manipulating the context.User,

`services.AddAuthorizationPolicyEvaluator(o => o.SetHttpContextUser = false);`

Today there's no options, we could also make AuthZ mimic Authentication with a builder in 2.1...

`services.AddAuthorization().AddPolicyEvaluator(o => o.SetHttpContextUser = false);

[2017-07-30 06:24] leastprivilege commented on #1341
This is unacceptable.

Can you please elaborate what *exactly* is broken? tbh - things like this make it harder and harder to recommend any of your stuff.

[2017-07-30 07:04] HaoK commented on #1341
Nothing is broken in normal MVC/SignalR usage scenarios, the new shared IPolicyEvaluator that MVC's authorize filter users takes care of setting HttpContext.User when the policy specifies one.  There's no way to opt out/control that behavior right now.  Although I actually did bring up this issue when added this, (see https://github.com/aspnet/Mvc/pull/6288#discussion_r117326571), since this mostl

[2017-07-30 08:04] leastprivilege commented on #1341
I really hope you guys stop making subtle changes to the security system
with every release.

-------
Dominick Baier

On 30. July 2017 at 09:04:36, Hao Kung (notifications@github.com) wrote:

[2017-07-30 08:30] davidfowl commented on #1341
It's not *that* big of a deal so we should really do nothing here and live with the behavior.

[2017-07-30 08:30] #1341 closed

[2017-07-30 08:53] leastprivilege commented on #1341
I don't agree - calling something that evaluates a policy has a side effect of changing the current user. I think this is pretty unexpected behavior that can lead to subtle security problems.

[2017-07-30 08:58] davidfowl commented on #1341
So you don't want us to make a breaking change in 2.1 but we should fix it in 2.0 before we release. I don't think it meets to bar honestly but we can let others decide.

/cc @DamianEdwards @Eilon

[2017-07-30 09:13] HaoK commented on #1341
Its not really unexpected, it even states that's what it does in the doc comments

[2017-07-30 09:18] leastprivilege commented on #1341
OK then.

I personally agree with @javiercn

[2017-07-30 09:19] davidfowl commented on #1341
We all agreed. The discussion was more about what we can do now.

[2017-07-30 18:06] HaoK opened #1342 "Add some tests to ensure coverage of authZ workshop samples"
https://github.com/blowdart/AspNetAuthorizationWorkshop

[2017-07-30 18:50] andrewlock opened #1343 "Resource based authorization is broken in .NET Core 2.0"
Original thread: [blowdart/AspNetAuthorizationWorkshop/#23](https://github.com/blowdart/AspNetAuthorizationWorkshop/issues/23)

With the various changes to authentication and authorization made in 2.0, the current pattern for performing resource based authorisation no longer works.

For example, previously resource based authorization could be performed using code similar to:

[code]

In 1.X, retu

[2017-07-31 06:55] leastprivilege commented on #1343
This seems related to https://github.com/aspnet/Security/issues/1341

How is this *not* a big deal.

Fix the authz API *before* shipping 2.0!

[2017-07-31 07:09] HaoK commented on #1343
The tutorial that is broken is doing things in a weird way (i.e. no login page, not using `[Authorize]`)

[2017-07-31 07:23] leastprivilege commented on #1343
The above DocumentController is weird? I disagree.

I generally stay away from the `[Authorize]` and prefer the imperative usage of the authz APIs.

[2017-07-31 07:24] davidfowl commented on #1343
@HaoK it's not weird and this is actually pretty broken. FWIW I'm glad the challenge behavior is gone but all of that logic has now moved into the policy evaluator which means using the authz service imperatively is harder 😢 .

We might need to do something here.

[2017-07-31 07:29] davidfowl commented on #1343
@andrewlock Why can't this logic look like this:

[code]

[2017-07-31 07:49] HaoK commented on #1343
Yeah so things are basically okay when doing AuthZ against context.User (via automatic auth scheme)

Things start start getting pretty nasty once you try to specify some other (passive) auth schemes in your policy which brings in the the 401/403 and needing to mimic the authentication logic that the evaluator does.

[2017-07-31 07:59] HaoK commented on #1343
@davidfowl that will work, it's option 2 that he mentioned in the original issue https://github.com/blowdart/AspNetAuthorizationWorkshop/issues/23 for how to get things working

I asked him to open this issue since we should expose the evaluator logic in a friendlier way

[2017-07-31 08:17] HaoK commented on #1343
But I think imperatively doing AuthZ just means the callee has to do AuthN themselves, using context.User you've already shown above.

Doing explicit authentication is just:

[code]

[2017-07-31 08:19] HaoK commented on #1343
Wrapping the requirement into a policy and using the IPolicyEvaluator is basically equivalent to that.

[2017-07-31 08:28] HaoK commented on #1343
We could consider a sugar overload to IPolicyEvaluator like:

[code]

So then once we had that it'd just be:

[code]

[2017-07-31 08:44] davidfowl commented on #1343
I see TBH this code https://github.com/aspnet/Security/issues/1343#issuecomment-318999978, looks pretty simple. The sugar method doesn't save much here. You still end up repeating the scheme..(which I think is nice and explicit)

[2017-07-31 12:22] chikien276 commented on #1310
Sir, what happened to this peace of code?

`services.Configure<IdentityOptions>(option =>
  {
    config.Cookies...
  }`

[2017-07-31 13:25] epot commented on #1134
Is there a way to inject IOptions that is parsing the application settings into an AuthenticationHandler (instanciated by an AuthenticationMiddleware) in asp.net core 1.x? Or at least a workaround?

[2017-07-31 17:48] AerisG222 opened #1344 "aspnetcore 2.0 override cookie auth defaults"
I am upgrading an application to aspnetcore2 (using the ci-dev feed), and am not able to override cookie auth defaults like I had been able to in the past.  I've tried following the auth 2.0 announcement (https://github.com/aspnet/announcements/issues/262), and ended up with the following in Configure:

[code]

and the following in ConfigureServices:
[code]

However, if I access a restricted resou

[2017-07-31 17:54] HaoK commented on #1344
Are you using identity?  What's the entire ConfigureServices?

[2017-07-31 17:57] HaoK commented on #1310
You need to configure the cookies by their name instead, you can use https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L39

`services.ConfigureApplicationCookie()`

[2017-07-31 18:02] HaoK commented on #1134
You can use the configuration extensions in options for that https://github.com/aspnet/Options/blob/dev/src/Microsoft.Extensions.Options.ConfigurationExtensions/OptionsConfigurationServiceCollectionExtensions.cs#L22 that's been around since 1.x

[2017-07-31 18:03] AerisG222 commented on #1344
Yes, I am using Identity (POCO/Custom - not EF).  Here is ConfigureServices (have commented out the external auths to try and make sure that was not playing into this):

[code]

[2017-07-31 18:05] HaoK commented on #1344
If you are using identity, that's already calling AddAuth and adding its own cookies, so you need to configure the application cookie via: `services.ConfigureApplicationCookie()`

[2017-07-31 18:08] AerisG222 commented on #1344
OK, let me try that.  Assuming that is the case, perhaps additional commentary for Announcement 262 could save someone some time...

[2017-07-31 18:13] HaoK commented on #1344
Good idea, added a small section:

[code]

[2017-07-31 19:41] AerisG222 commented on #1344
That worked perfectly!  Thank you very much!

[2017-07-31 19:41] #1344 closed

[2017-07-31 23:21] andrewlock commented on #1343
I actually think the sugar method is quite a bit nicer - everywhere else it seems assumed that authentication has already occurred, so it seems odd to need to explicitly authenticate again here. Also, do we _have_ to specify the auth scheme? It's optional everywhere else right, and I presume most people are only going to have one scheme?

@davidfowl If it's simply a case of the logic checking `Use

[2017-08-01 06:14] malichishti opened #1345 "How to create a custom authentication middle-ware in 2.0?"
Hi,

I need to create a custom auth middle-ware. I have been following instructions [here](https://zogface.wordpress.com/2016/09/13/custom-authentication-in-asp-net-mvc-core/) but unfortunately i'm unable to find respective base classes in Core 2.0; is it still possible to achieve something similar in 2.0?

Regards,
Ali

[2017-08-01 06:41] davidfowl commented on #1343
Except, you haven't authenticated if the scheme you've chosen to imperatively authenticate against isn't the default scheme. Any other scheme requires an explicit call to AuthenticateAsync, which IMO is clearer.

You need to specify the auth scheme if you have more than one and you don't want the default scheme. Most people will a default scheme, but it's *very* common to have more than one scheme

[2017-08-01 07:00] HaoK commented on #1343
So is the conclusion that we are happy with where things stand for now for imperative authZ (and can close this issue)?

[2017-08-01 07:01] HaoK commented on #1343
Other than updating @blowdart docs to include the new example above

[2017-08-01 13:11] valeriob commented on #1338
I'm starting to get the new model 😄 , it handles challenges in a more clean way, but:

- The whole injecting singletons in extension methods
_services.TryAddEnumerable(ServiceDescriptor.Singleton<IPostConfigureOptions<TOptions>, OAuthPostConfigureOptions<TOptions, THandler>>());
and the concept of IPostConfigureOptions is very bad practice, too complex and hard to get, you should not need those.
M

[2017-08-01 19:54] Tratcher commented on #1345
Quite a bit has changed for authentication authors. Reviewing a similar implementation might be the best way to get started.
https://github.com/aspnet/Security/tree/a4458191c700437a00603116ad92633d1590319d/src/Microsoft.AspNetCore.Authentication.JwtBearer

Highlights:
You don't need a middleware class anymore, just the handler class.
The registration has moved from Configure to ConfigureServices
O

[2017-08-01 19:57] blowdart commented on #1345
A simpler sample to follow might be https://github.com/blowdart/idunno.Authentication which is stripped down to the bare minimum.

[2017-08-02 06:57] malichishti commented on #1345
@Tratcher Thank you that solved my problem.

@blowdart thank you for the link, however that approach doesn't work anymore as those base classes have changed:
![image](https://user-images.githubusercontent.com/17155996/28861305-997efa52-77a3-11e7-8573-3f5dd6a7d24d.png)

[2017-08-02 06:57] #1345 closed

[2017-08-02 08:03] HaoK commented on #1345
Make sure you look at the core2-rtm branch not master

[2017-08-02 09:20] chikien276 opened #1347 "Event OnRedirectToLogin ctx.Response.StatusCode is 200 instead of 401"
I'm experiencing AspNet 2.0 then I found this changed in 2.0 from 1.1.2. When a anonymous user access resource protected by `[Authorize]` annotation `OnRedirectToLogin func` in configured `CookieAuthenticationEvents` got context with `Response.StatusCode == 200` instead of 401 in 1.1.2.
Steps to reproduce is pretty easy. Create new AspNet Core web application using VS 2017 15.3.0 Preview 7.0 then

[2017-08-02 13:38] KolyaNET commented on #581
In the version of `Microsoft.AspNetCore.Identity 1.1.2`, I get an error when using `Microsoft.AspNetCore.Identity.UserManager.GenerateUserTokenAsync`

As soon as I comment on `services.AddScoped<IOptions<IdentityOptions>((sp) =>...` the error disappears and for example, resetting the password or confirming the email work correctly.

[2017-08-02 14:27] geirsagberg commented on #1341
I think I may have run into this issue, see https://stackoverflow.com/questions/45462730/how-can-i-replace-httpcontext-user-in-asp-net-core-after-authorization.

What is the recommended workaround to keep the principal unchanged in 2.0 preview 2?

[2017-08-02 14:38] geirsagberg commented on #1341
Turns out my problem was due to specifying the authentication scheme in the `AuthorizationPolicyBuilder`; once I removed that, the principal remains unchanged.

[2017-08-02 15:35] blowdart commented on #1345
What @HaoK said :) That's up to date as of Sunday.

[2017-08-02 18:44] Tratcher commented on #1347
It may have inadvertently been set before, but it would be overwritten by the Response.Redirect anyways. Ultimately it's the handlers job to produce the challenge response it wants, including the status code.

[2017-08-02 19:25] blowdart opened #1348 "Revisit imperative and resource auth given the re-architecture"
From https://github.com/aspnet/Security/issues/1343

[2017-08-03 10:08] valeriob commented on #1338
I have a question about IClaimsTransformation.
In owin/katana, the OpenIdConnect middleware exposes a function OpenIdConnectAuthenticationNotifications.AuthorizationCodeReceived that allowed to craft a AuthenticationTicket with an ClaimsIdentity where i could query the database just once when the user authenticate and add custom claims.
In the new model OnAuthorizationCodeReceived does not allow t

[2017-08-03 10:17] HaoK commented on #1338
Why can't you continue to use OnAuthorizationCodeRecieved?

[2017-08-03 10:40] valeriob commented on #1338
Hi @HaoK
thanks it works ! i can replace the AuthorizationCodeReceivedContext.Principal.

Still i do not think it's a very good design, those functions are called Events, and they look like side effect free functions, instead you can change "something" on the input parameters and have some side effect.
To see what you can affect you have to look at source code of the caller to understand what's go

[2017-08-03 15:39] PinpointTownes commented on #1338
That's exactly how good old events/event handlers work :sweat_smile:

E.g https://msdn.microsoft.com/en-us/library/system.componentmodel.canceleventargs(v=vs.110).aspx

[2017-08-03 19:59] #1334 closed

[2017-08-03 22:13] Eilon commented on #1347
There shouldn't be a reason to check just about anything in the handler of this event. If the event handler callback is getting called, that means a Challenge took place, so the logic to do a redirect, return a 401, etc. should just run.

Is there a particular reason you're checking for the status code?

[2017-08-03 22:16] Eilon commented on #1348
@HaoK please add your thoughts to here.

[2017-08-03 22:17] Eilon commented on #1343
We'll make some improvements to this area in https://github.com/aspnet/Security/issues/1348 (details to be filled in).

[2017-08-03 22:17] #1343 closed

[2017-08-03 22:19] Eilon commented on #1340
@vibronet - can you help resolve this issue with Microsoft Accounts?

[2017-08-03 22:19] Eilon commented on #1340
@JianChengSun - can you let us know where you found the info on the `wl.basic` scopes? It might just be some out-of-date documentation that we need to update.

[2017-08-03 22:37] HaoK commented on #1348
I'm thinking we should just add some new extension methods to HttpContext that are analogous to AuthenticateAsync...

[code]

Thoughts?  @Tratcher @davidfowl @blowdart

[2017-08-03 22:39] Tratcher commented on #1348
If the result is challenge or forbid it will have called those internally, right? Or do you need to provide an auth scheme for that to work?

[2017-08-03 22:46] HaoK commented on #1348
The first 2 overloads are just sugar on top of the old IAuthorizationService.Authorize, so those are just returning success/failure (with errors).

The 3rd one that takes a policy could directly call challenge/forbid if we wanted instead of just returning a status that corresponded to that.

[2017-08-03 22:47] HaoK commented on #1348
The auth scheme comes from the policy.  We could add an overload that took a list of AuthenticationSchemes, and a list of requirements (which is basically all a policy is)

[2017-08-03 22:50] Tratcher commented on #1348
I imagine code like:
[code]

[2017-08-03 22:58] HaoK commented on #1348
Yep, the first two leave it up to the callee to do any authentication themselves, so it would be up to them to determine if they want to challenge/forbid.  Its just some sugar letting them authorize in code similar to [Authorize], so we'd probably have an overload that took a policy name as well.

[2017-08-04 02:24] chikien276 commented on #1347
TBH, no. It just breaks my old code in 1.1.x cause I though I would be 401. And I'm just curious is this behave intended or not. So you could close it if you want.

[2017-08-04 02:25] #1347 closed

[2017-08-04 02:53] JianChengSun commented on #1340
@Eilon  -  I find the `wl.basic` in the stack overflow issue : https://stackoverflow.com/questions/22229593/get-e-mail-of-user-authenticated-with-microsoft-account-in-asp-net-identity
It works on ASP.NET MVC 5, but it seems not working in ASP.NET Core.  I managed to achieve this in ASP.NET Core with `options.Scope.Add("https://graph.microsoft.com/user.read");` as in my previous comment.

[2017-08-04 05:52] davidfowl commented on #1348
Can we write out the before and after for each of those sugar methods. I'd like to see the code reduction.

[2017-08-04 07:33] mclasson commented on #1338
@Banashek You are correct. Just add a new Claim. Look at an example here https://marcusclasson.com/2017/08/03/adding-authentication-in-aspnetcore-2-0/ At the bottom I add a custom claim (like user id)
Works in 2.0

[2017-08-04 07:37] mclasson commented on #1207
@borgdylan  Is this in 2.0? Just hook up the middleware for facebook and you should be good to go.

[2017-08-04 08:59] HaoK commented on #1348
Sure:

[code]

For the more complex policy sugar:

Today:
[code]

With some Sugah:
[code]

[2017-08-04 09:05] davidfowl commented on #1348
The first one is a nice-ish simplification but part of me hates the fact that it hides the `IAuthorizationService`. How do I test that method?

The second example circumvents setting the MVC action results which means filters can't act. They directly call into the http context which kinda sucks...

[2017-08-04 09:19] HaoK commented on #1348
Its basically analogous to the AuthenticateAsync extension methods, you can test them by mocking an IAuthorizationService and putting that into the RequestServices for the httpContext.

For the second one, we can make it an MVC specific helper then?
[code]

[2017-08-04 16:16] Tratcher opened #1349 "Make default value of ChunkingCookieManager.ThrowForPartialCookies be 'false'"
When an auth cookie gets chunked it's possible that the client may drop some of those chunks due to storage capacity limits. When ChunkingCookieManager then tries to reassemble the chunks and fails it defaults to throwing a format exception. This exception is not caught by the cookie auth handler and can result in a 500 response.
https://github.com/aspnet/Security/blob/5d802a798847f61c8c32368f5690

[2017-08-04 16:52] Eilon opened #1350 "AuthorizeFilter always returns 401"
_From @epot on August 3, 2017 11:51_

I added a dummy AuthorizationHandler with a IAuthorizationRequirement that does not do anything, but the code is never reached and asp.net core returns a 401 without any details. I read https://stackoverflow.com/questions/37276005/asp-net-core-policy-based-authorization-ends-with-401-unauthorized but my case seems to be different as my user is authenticated af

[2017-08-04 16:52] Eilon commented on #1350
_From @epot on August 3, 2017 13:33_

I found the following logs:

Microsoft.AspNetCore.Authorization.DefaultAuthorizationService: Information: Authorization failed for user: exxxx@xxxx.com.
Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker: Information: Authorization failed for the request at filter 'Microsoft.AspNetCore.Mvc.Authorization.AuthorizeFilter'.
Microsoft.AspNetCore.Mvc.Challen

[2017-08-04 21:08] Eilon commented on #1347
@chikien276 yes this was a deliberate change in the big restructuring of the auth code in 2.0.

[2017-08-05 16:32] bryanwood opened #1351 "Possible to prevent ReturnUrl query being appended when redirecting to the LoginPath?"
Is it possible to prevent the `ReturnUrl` querystring being appended to the `LoginPath` when redirected to login?

[2017-08-05 17:52] davidfowl commented on #1348
Yea, it's not the very DI friendly. We're just hiding calls to GetService, it's the service locator pattern. It makes testing pretty awful. If anything, we should revisit what that actually looks like with our new extension methods. The service makes it easy to test things but we now that we've opted to hang things off the http context, it makes it harder to do so.

Possibly, but I'm just not seei

[2017-08-05 19:35] Tratcher commented on #1351
Where do you want them to go back to after logging in? Or are you proposing a different way of flowing that information?

[2017-08-06 02:13] bryanwood commented on #1351
I've got a scenario where a user will login via an email link but they'll always be directed to a specific page after following the link. The `ReturnUrl` isn't required for this, removing it is just an aesthetic thing.

[2017-08-06 15:05] lukastheiler commented on #219
I've mdified my Web.config with this, and all is good now:
[code]

[2017-08-07 02:39] Jingkun-Hu commented on #1343
@andrewlock Does resource based auth in 2.0 still fit for "I think the simple answer is really to only use resource-based authorisation when you have to." excerpt from https://andrewlock.net/resource-specific-authorisation-in-asp-net-core/?

[2017-08-07 03:32] Jingkun-Hu opened #1352 "Authorization should be more dynamical and configurable"
I have read articles of guys like Dominick, andrewlock, Ben, those from MS and stackingoverflow and the like. I not sure where the new authorization will guide us to. As a man suffering from doing the authorization part in my company, I describe the requirement and principles from my perspectives.
requirements:
(1) I need to configure the authorization more dynamically. that means I need to admin

[2017-08-07 04:37] VahidN commented on #1352
You can create a dynamic role based permission system using the new policies system very easily.
First define a dynamic `AuthorizationHandler`. Here you can access the current requested area,controller and action names (`resources` here) and then you can decided to authorize the current user or not. You can create an admin page to list all of these resources and then add them to the RoleClaims tab

[2017-08-07 05:19] davidfowl commented on #1352
You can replace the `IAuthorizationPolicyProvider` so that you can map policy names to policies on the fly without having to map everything in `Startup.cs`.

Do you mean you want the resource to be declarative? Can you give an example of what you mean? I have some ideas around this but I'd like to see what you're trying to do to see my suggestion matches your expectations.

@VahidN That's pretty c

[2017-08-07 06:14] epot commented on #1350
Answered here:
https://stackoverflow.com/questions/45499636/asp-net-core-custom-authorization-always-ends-with-401-unauthorized
Not sure why it was moved to security as it seems more related to MVC integration.

[2017-08-07 06:16] davidfowl commented on #1350
That's because it's not related to MVC. MVC just calls into the auth system.

[2017-08-07 06:18] epot commented on #1350
Well regarding this specific ticket, the issue was when trying to integrate my security code in MVC, that was the part that was not working.

[2017-08-07 06:22] davidfowl commented on #1350
Is the issue resolved? Can this be closed?

[2017-08-07 06:22] epot commented on #1350
yes (see stackoverflow)

[2017-08-07 06:36] davidfowl commented on #1350
Kewl

[2017-08-07 06:36] #1350 closed

[2017-08-07 09:28] HaoK commented on #1348
Sure but that if is what exposes the whole 401/403 that wasn't exposed in 1.x.  It makes seem a lot less complicated:

[code]

 vs

[code]

[2017-08-07 09:30] HaoK commented on #1348
Not to mention that it also takes care of the authentication as well that they otherwise would need to do

[2017-08-07 15:46] Tratcher commented on #1351
You can always customize the redirect in the OnRedirectToLogin event.
https://github.com/aspnet/Security/blob/5d802a798847f61c8c32368f5690a48caefbca97/src/Microsoft.AspNetCore.Authentication.Cookies/Events/CookieAuthenticationEvents.cs#L40

[2017-08-07 18:28] HaoK commented on #1316
Yes this won't be an issue in 2.0 because there's only a single authentication middleware that sets the identity.  In 1.x, each authentication scheme was a middleware, that would merge itself with context.User which is what caused the extra identities when the error handler middleware replays the request.  In 2.0, this will just result in setting context.User twice to the same claims principal, wh

[2017-08-07 18:28] #1316 closed

[2017-08-07 22:17] Tratcher opened #1353 "Cookies and OIDC emit invalid Expires header values"
CookieHandler and OpenIdConnectHandler set `Response.Headers[HeaderNames.Expires] = "-1";` for responses that should not be cached. However, `-1` is an invalid value for the expires header which should be a full date string `Expires: Sun, 06 Nov 1994 08:49:37 GMT`.
https://tools.ietf.org/html/rfc7234#section-5.3
It's abusing one line in the spec that says `A cache recipient MUST interpret invalid

[2017-08-07 23:13] Tratcher commented on #1353
@JunTaoLuo ResponseCaching doesn't handle this special case of an invalid expires headers does it?

[2017-08-07 23:47] JunTaoLuo commented on #1353
ResponseCaching relies on `HeaderUtilities.TryParseDate` which returns `DateTimeOffset.MinValue` when given an invalid value. For the purpose of ResponseCaching logic, this ensures that invalid date formats are treated as time in the past.

[2017-08-09 15:58] plaisted commented on #1338
@joeaudette

I recently went through the same issues you were having where I needed different authentication for each branch. We have a multi-tenant setup where each branch/tenant would have their own certificates etc for JwtBearer.

I think I ended up with a different approach than was discussed here to their comment "A workaround could be to use different schemes/options for each branch" and not

[2017-08-10 06:06] Jingkun-Hu commented on #1352
@VahidN Thanks for your detailed example, awesome! From my understanding, it uses "DynamicPermission" notation on every protected resources, put auth work in _decisionMakingService where you get claims, resources(action, controller, area), then apply access rules on claims to resource. Very creative.

[2017-08-10 06:07] Jingkun-Hu commented on #1352
@davidfowl Thank you David, IAuthorizationPolicyProvider is powerful. I found another thread https://github.com/aspnet/Security/issues/670 where you gave codes. The "indirection" is what I want. Decoupled. Then the concern turns to performance.
Yes, I mean declarative. Appreciate if  you would share your ideas.

[2017-08-10 10:04] AlexOliinyk1 opened #1355 "asp .net core + OpenIdDict + angular 2 + social login"
I have project which use "asp .net core 1.1" + "OpenIdDict" + "angular 2" + "social login (twitter and Facebook)"

I have some part of code already is finished and it seems just last step.
I need to find way to authorize my client angular 2 app.

My front-end through the back-end refers to Facebook, but there goes then a full redirect to Facebook and then he makes a request on the callback to the

[2017-08-10 14:44] spottedmahn opened #1356 "Add First Class Citizen Support of ORing Policies"
Building upon the building entry scenario from here:
[Why would I want multiple handlers for a requirement?](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies#why-would-i-want-multiple-handlers-for-a-requirement)

Let's say, Contoso has 2 types of doors employees can open.  The `FrontDoor` can be opened by anyone with a Badge or a Temporary Sticker.  The `ServerRoomDoor`

[2017-08-10 16:31] Tratcher commented on #1355
That's a bit too much code for a github issue, and it doesn't seem directly related to your question. If you want to share a lot of code then link to a github repo. If you have a question about a specific piece of code then either link directly to that section or scope down what you've posted.

For a question as broad as yours, you're looking for a how-to guide, you're not actually asking about an

[2017-08-10 16:37] adriangh83 opened #1357 "Asp.net core web api that returns File is throwing No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access"
Hello,
I have a problem when trying to return a File on an .net core (1.1) rest service.  I get "XMLHttpRequest cannot load http://localhost:83/api/attachment/content/22?_=1502382297330. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. The response had HTTP status code 500."
If I change the controller code so I return Ok a

[2017-08-10 16:56] Tratcher commented on #773
https://github.com/aspnet/KestrelHttpServer/issues/736

[2017-08-10 16:56] Tratcher commented on #773
https://github.com/aspnet/HttpSysServer/issues/231

[2017-08-10 20:54] dallancarr commented on #1357
Can we see the full controller action code snippet?

[2017-08-10 21:05] dallancarr commented on #1357
Also consider how you are disposing the filestream.

[2017-08-10 21:16] HaoK opened #1359 "2.1 AuthZ improvements"
This issue will track all the various Authorization improvements we are looking at for 2.1.

## Some initial thoughts:

From @davidfowl

We've had a bunch of feedback about our authz system with respect to flowing context from the authorize attribute to the authorization handler:

- https://github.com/aspnet/Security/issues/670
- https://github.com/aspnet/Mvc/issues/5607
- https://github.com/aspne

[2017-08-10 21:19] HaoK commented on #917
AuthZ improvements have been consolidated into this issue: https://github.com/aspnet/Security/issues/670

[2017-08-10 21:19] #917 closed

[2017-08-10 21:19] HaoK commented on #1352
AuthZ improvements have been consolidated into this issue: https://github.com/aspnet/Security/issues/670

[2017-08-10 21:19] #1352 closed

[2017-08-10 22:12] Eilon commented on #1357
This issue was moved to aspnet/CORS#123

[2017-08-10 22:12] #1357 closed

[2017-08-10 22:15] Eilon commented on #1356
@HaoK can you propose something to make this easier? We can review the design in the weekly sync.

[2017-08-10 22:21] #1351 closed

[2017-08-10 22:26] Eilon commented on #1349
I think this goes well with our guidance of making it hard for a client to inadvertently "poison" themselves by having some bad cookies.

[2017-08-10 22:28] Jonathan34 opened #1360 "Mock IAuthenticationService"
Hi,

I tried several things but could not find a proper way to do that.
Using asp.net core preview 2.

I have a proxy service that validates a jwt token and then forwards the request to the asp.net service (with proper headers etc).
My startup.cs does not contain any `useAuthentication()`. It does however contain a policy for authorization based on the jwt token
[code]
This policy requires user to

[2017-08-10 22:38] Eilon commented on #1165
Need to find out for each external auth provider what behavior they have when auth is cancelled. We should then handle those cases and add a feature that would redirect to a well-known (but configurable) location, which we'd have to add to the templates. E.g. `/Account/ExternalLoginCancelled`.

[2017-08-10 22:39] Eilon commented on #1165
Need to also see if "denied" is the same as "cancel" for the various providers.

[2017-08-10 22:42] Eilon commented on #1233
@openidauthority - any chance you want to submit a PR for this? We've started work on the 2.1 release and this would be a good feature to have in there.

[2017-08-10 22:51] HaoK commented on #1360
You need to provide more than just the IAuthenticationService, see https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Authorization/AuthorizeFilter.cs#L126

It uses things like IPolicyEvaluator

[2017-08-11 05:10] openidauthority commented on #1233
I'll give it a shot a soon as I have a bit of time.

On Thu, Aug 10, 2017, at 03:42 PM, Eilon Lipton wrote:

Links:

  1. https://github.com/openidauthority
  2. https://github.com/aspnet/Security/issues/1233#issuecomment-321693041
  3. https://github.com/notifications/unsubscribe-auth/AbmQV9chwdSXmtgWf01ZrvCD_287qyJmks5sW4dDgaJpZM4Nl0Im

[2017-08-11 05:13] openidauthority commented on #1233
@Eilon - you can assign it to me.

[2017-08-11 06:14] Eilon commented on #1233
Hmm that must be a new feature - I don't recall GitHub allowing assigning an issue to someone not in the org! Or maybe I never noticed it before.

@openidauthority thanks for taking a crack at this!

[2017-08-11 07:11] AlexOliinyk1 commented on #1355
@Tratcher  I resolved my problem, thank you

One additional question it is any exist  reason to not use  OpenIdDict, for example because they doesn't have any release version ?
Which tools we have to use for native authorization with asp.net core and angular  2 ?

[2017-08-11 13:56] sudipster commented on #179
Just in case anyone is still looking for this: here is a solution which will preserve the last/latest 5 Nonce cookies and will delete any that are older that those. In order for this to work, ProtocolValidator.RequireTimeStampInNonce must be set to true in OpenIdConnectAuthenticationOptions.

https://github.com/IdentityServer/IdentityServer3/issues/1124

[2017-08-11 14:03] Tratcher commented on #1355
https://github.com/IdentityServer/IdentityServer4 is the only released one I'm aware of.

[2017-08-11 15:11] Jonathan34 commented on #1360
Sorry, it is not clear what needs to be mocked to achieve what I want to do. could you please be a bit more specific or include some code samples that work against TestHost?

That would be useful to some other people too I believe that may not know the in and outs of the asp.net core 2 security classes

[2017-08-11 16:18] romeelk opened #1361 "How to get access to auth_token in Specflow testing scenario"
Hello,
We are trying to test our API which is being called by an MVC application. We have setup OpenId hybrid flow. So our users can connect to the MVC app and then call the backend API. We are having trouble as we cannot find a way to access the auth_token which is created by the OpenIdConnectMiddleware. We note that the login process and OpenId protocol requests the auth_token via a back channel

[2017-08-11 16:42] Tratcher commented on #1361
Something like this?
https://github.com/aspnet/Security/blob/c1250220508996a494d51627a8bd02b7792c012f/samples/OpenIdConnectSample/Startup.cs#L166
(note this is a 2.0 sample)
@haok where was GetTokenValue in 1.x?

[2017-08-11 18:09] HaoK commented on #1360
Can you verify via debugger that your FakeAuthentication service is even being called/constructed?

[2017-08-11 18:10] HaoK commented on #1361
In 1.x it should be the same, hanging off of AuthenticationProperties as an extension method

[2017-08-11 18:22] Jonathan34 commented on #1360
the constructor and the FakeAuthentication.ChallengeAsync are being called too.
Using Moq, it is not called though obviously

[2017-08-11 18:31] Tratcher commented on #1361
Sure, I just couldn't find the src.

[2017-08-11 18:31] HaoK commented on #1360
Yeah so when you are going thru something like TestHost, its usually easier to just not fake the authentication service, but to just add a Fake authentication scheme and use the real service.  For an example of the MVC Authorization functional test that fakes Authentication:

https://github.com/aspnet/Mvc/blob/dev/test/WebSites/FiltersWebSite/BasicAuthenticationHandler.cs

https://github.com/aspne

[2017-08-11 18:33] HaoK commented on #1361
Ah sure: https://github.com/aspnet/Security/blob/patch/1.1.3/src/Microsoft.AspNetCore.Authentication/TokenExtensions.cs#L49

[2017-08-11 18:56] PinpointTownes commented on #1355
I'm working on it.

@Tratcher just so you know, ASOS was officially released 3 months ago (and [I pushed the 1st servicing release last week](http://kevinchalet.com/2017/08/04/aspnet-security-openidconnect-server-1-0-1-is-out/)) :sweat_smile:

[2017-08-11 18:56] Jonathan34 commented on #1360
I feel like something is missing...
- in my test constructor, I add the following:
[code]
My controller has the `[Authorize(Policy = "IsInGroups")]` policy.

In the log i see:
[code]
which returns 401.

The FakeAuthenticationHandler is not even called when debugging...
Do you happen to be on slack?

[2017-08-11 19:00] Tratcher commented on #1355
Good to hear :-)

[2017-08-11 19:34] HaoK commented on #1360
So the easiest thing to mock is if you fake the IAuthorizationPolicyEvaluator, that's what the AuthorizeFilter is using:  try faking that instead of the auth service:

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization.Policy/IPolicyEvaluator.cs

[2017-08-11 20:03] romeelk commented on #1361
Thanks for the replies. The sample you have given is the server retrieving a refresh token. We need the auth_token for the specflow tests to be able to set the bearer token on all api calls? We already do this for our client credential api's

[2017-08-11 20:08] Jonathan34 commented on #1360
Finally got somewhere with this:
[code]

[code]
Authentication AND authorization are now bypassed.

[2017-08-11 20:18] #1360 closed

[2017-08-13 05:46] GarageWeb opened #1364 "Core 2.0 Use Facebook and Username / Password auth without identity"
In 1.0 I did this:
[code]

and then at sign-in I would do the challenge, log out of the tempfacebook add whtever claims I wanted etc. I can't seem to figure out how to do this in 2.0 without Identity.

[2017-08-13 05:55] #1364 closed

[2017-08-13 07:45] dzhelev opened #1365 "One or more projects are incompatible with .NETFramework,Version=v4.6.1 (win7-x86)"
Hey.
I apologize in advance but what do I have to do to build the code?

I have downloaded the zip, opened it in VS2017 and it just fails to build with alot of errors but I guess the underlying problem is one of those:

One or more projects are incompatible with .NETFramework,Version=v4.6.1 (win7-x86).
One or more packages are incompatible with .NETCoreApp,Version=v2.0 (win7-x86).

What am I doing

[2017-08-13 07:53] davidfowl commented on #1365
- You need the latest VS2017 preview.
- You need to run `build.cmd` at least once to acquire the version of the dotnet SDK that we use to build projects.
- Once you build you should have a version of dotnet in `%USERPROFILE%\.dotnet\x64`.
- You need to change your PATH environment variable to add `%USERPROFILE%\.dotnet\x64` before. Here's what mine looks like:
![image](https://user-images.githubus

[2017-08-13 08:02] davidfowl commented on #1291
We'll tackle this as part of https://github.com/aspnet/Security/issues/1359

[2017-08-13 08:02] #1291 closed

[2017-08-14 09:36] d-saravanan commented on #1307
Can I take up this task and do it

[2017-08-14 10:57] d-saravanan commented on #1356
Can we have an option where we can have the policy defined elsewhere like in a JSON file or in web.config like the old system. Then we can give the PolicyGroupId or Name in the AuthorizeAttribute. When the request is received, we can obtain the policy and then apply the rules. I did a similar one couple of years back with support for multi-tenancy and did not have time to finish.

The policy defin

[2017-08-14 14:09] spottedmahn commented on #1356
@d-saravanan that seems like a great idea to me 😃!  But I don't see how it is **directly** related to this issue.  Please correct me if I'm wrong.  I would personally open up **another issue**: "Config Based Auth".

[2017-08-14 15:08] rheid commented on #1310
@HaoK , @Tratcher:

**After successful done a AzureAdAuthentication.** I want query more Office 365 API with id_token and want to get more access tokens via and query SharePoint Online:

## What is the best way?

1. Get the access token for SharePoint /oauth2/authorize?client_id=...
2. Query SharePoint Online /_api/web/lists('9d37ec3f-8f24-41df-9427-e79945954e9f')

What I this best way to make thi

[2017-08-14 16:16] HaoK commented on #1356
I'll go ahead and add defining auth in config to the tracking bug in 2.1

[2017-08-14 17:29] HaoK commented on #1308
43db99a5686471641eed7913d71dab2dcf0d2464

[2017-08-14 17:29] #1308 closed

[2017-08-14 20:46] joeaudette commented on #1338
Having some issues updating from preview2 to rtm. Where can I find the code for the default implementation of

    IOptionsMonitor<CookieAuthenticationOptions>

?

[2017-08-14 21:06] joeaudette commented on #1338
nevermind, it is generic, I forgot https://github.com/aspnet/Options/blob/dev/src/Microsoft.Extensions.Options/OptionsMonitor.cs

[2017-08-15 04:27] sireza commented on #1338
Having issues porting our app to .NET Core 2.0

**Background**: This is an API app with Swagger access. The app uses Azure AD as provider
**Supported Use Cases**:

- Browser access via Swagger - Challenged by OpenIDConnect
- Direct access from another application - Other app includes bearer token on the header

The following works as above pre 2.0:

[code]

Tried the following after ported to 2.0

[2017-08-15 04:56] davidfowl commented on #1338
What behavior are you expecting? There's no more automatic* anything in 2.0, you can only have a single "default scheme".

[2017-08-15 05:07] sireza commented on #1338
@davidfowl hoping we could get browser user authenticated via Azure AD (OpenIDConnect) **as well as** other web application authenticated by providing a bearer token on the request header.

Currently, authentication via browser (when using Swagger) works, but other web app gets Http 302 (redirects) to Azure AD Login (i.e. not recognizing the provided bearer token on the header.

As previously ment

[2017-08-15 05:12] HaoK commented on #1338
You were probably relying on both cookies and bearer doing automatic authentication before.  Only one can be the default now, the other you will need to explicitly ask for via Authenticate.

Of course you can always add your own custom middleware that does something like checking for the non default scheme (i.e. JwtBearer)'s principal via authenticate and jamming that into context.User yourself if

[2017-08-15 05:55] sireza commented on #1338
@HaoK yup that works! thanks for the hint!

[2017-08-15 06:50] dallancarr commented on #1338
Need this in samples imo

[2017-08-15 11:32] bezveza opened #1367 "Failed: Install-Package Microsoft.AspNetCore.Authentication.JwtBearer (.NET Core 2.0)"
Installing nuget package failed:

[code]

---

Edited for formatting only by @Eilon

[2017-08-15 12:04] user1336 opened #1368 "Get token from HttpContext in test"
I've upgraded to ASP.NET 2.0.0 and had a test that looked a lot like this test:
https://github.com/aspnet/Security/blob/rel/2.0.0/test/Microsoft.AspNetCore.Authentication.Test/TokenExtensionTests.cs#L159

I see that the `AuthenticationHandler` is obsolete. So now I created a stub that implements `Microsoft.AspNetCore.Authentication.IAuthenticationService` like this:
[code]
[code]
Both ways do not

[2017-08-15 12:13] d-saravanan commented on #1356
Thanks @spottedmahn . I thought to point out that if we bring in the policy definitions and groupings with the conjunction operator, we can be able to define the policyA and policyB or PolicyA or PolicyB which will be inferred in the middleware and then take the action based on the claims and its inferences.

[2017-08-15 13:21] chris31389 commented on #1310
Is there any examples where you don't use cookies within the AddAuthentication method?  I was hoping to convert this to the new `services.AddAuthentication(...)` method:
[code]

[2017-08-15 13:24] PinpointTownes commented on #1310
@chris31389 something like that?

[code]

[2017-08-15 13:26] chris31389 commented on #1310
@PinpointTownes Awesome, thank you 🏆

[2017-08-15 14:42] DmytroLapshyn commented on #673
@Tratcher

I apologize, but I got a bit confused by this. I gather this is the most recent sample of making IdentityServer 4 work with ADFS:
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/Startup.cs#L113

And, as far as I can tell, the `options` argument in this code sample is not of the type `JwtBearerOptions.Configuration`

So if I follow the path of using IdentityServer in

[2017-08-15 16:06] KarinNooteboom commented on #1310
Please help  using AspnetCore 2.0 ( released today ) VS2017 15.3
in ConfigureServices I have:
services.AddAuthentication(o => {
                o.DefaultAuthenticateScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                o.DefaultSignInScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                o.DefaultChallengeScheme = CookieAuthenticationDefaults.Authenticati

[2017-08-15 16:12] HaoK commented on #1368
https://github.com/aspnet/HttpAbstractions/blob/dev/test/Microsoft.AspNetCore.Authentication.Core.Test/TokenExtensionTests.cs#L128

[2017-08-15 16:27] HaoK commented on #1310
Double check that your sign in call is getting hit in the debugger, if so, make sure you see the cookie being sent (via F12 in your brower), if all of that looks fine, look at your logs and see if you see any Cookie Authentication errors that talk about failed to decrypt cookie or the like.  Make sure your UseAuthentication is before UseMvc

[2017-08-15 16:40] KarinNooteboom commented on #1310
Thanks HaoK, but  the problem seems to be the following ( cause when I removed it, now authentication works )
In ConfigureServices  I had  localisation =>
services.Configure<RequestLocalizationOptions>(options =>
            {
                var supportedCultures = new List<CultureInfo>
                {
                    new CultureInfo("en-US"),
                    new CultureInfo("nl-NL"),

[2017-08-15 16:49] HaoK commented on #1310
I'd just use F12 to look at the delta in what cookies its sending with/without that change, that should give you a hint with whats going on

[2017-08-15 20:20] brijesh-1111 opened #1369 "AddMicrosoftAccount fails: There was no DefaultChallengeScheme found."
I was trying to understand the Azure AD Authentication. I am using Aspnet Core 2.0 Final Release version with Visual Studio 2017.

Based on the guideline suggested [https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x](url),
I have tried to use Microsoft Authentication using following code snippet
[code]

But this fails with the error `InvalidOperationException: No authentic

[2017-08-15 21:02] jamesgurung opened #1370 "No authentication handler is configured to handle the scheme: OpenIdConnect"
I've tried to follow the instructions [here](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x) to use ASP.NET 2.0 authentication (with Google OAuth2), but it isn't working.

## Repro

[code]

## Error

I get the following error on navigating to the homepage, which is decorated with `[Authorize]`:

[2017-08-16 03:05] jeffputz commented on #1338
I'm having a hard time understanding how you can light up two identities via different schemes. In 1.1, I could do something like this:

[code]

Believe it or not, there were cases where I had two different kind of logins for different parts of the app, and this allowed me to hit the `User.Identities` item I wanted.

[2017-08-16 03:28] HaoK commented on #1338
If you want multiple cookie identities in context.User, you will need to have a custom middleware that merges them together.

You'd retreive the identity via context.AuthenticateAsync("pf"), and then construct a new ClaimsPrincipal with this, and merge the existing context.User.Identities in and set context.User to that merged principal.

Here's how we do the merge internally: https://github.com/a

[2017-08-16 06:55] elmojo opened #1371 "IServiceCollection does not contain definition for 'AddJwtBearerAuthentication'"
I have the Microsoft.AspNetCore.Authentication.JwtBearer nuGet packaged added to my project.  I have "using Microsoft.AspNetCore.Authentication.JwtBearer;" within my file.  The compiler still cannot find the IServiceCollection extension method "AddJwtBearerAuthentication".  I cannot find it within the Object Browser either.  Am I missing something or doing something wrong?

[2017-08-16 06:58] davidfowl commented on #1371
See https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x

[2017-08-16 07:03] elmojo commented on #1371
Thanks, I read up on it.  I guess there are a lot of old samples out there.

[2017-08-16 07:03] #1371 closed

[2017-08-16 07:20] davidfowl commented on #1338
@jeffputz in your old code, how were you getting the "right" identity on a particular part of the site?

[2017-08-16 07:51] vulvulune commented on #1310
In the Claims Transformation sample, there is the comment:
`// Can consume services from DI as needed, including scoped DbContexts`

Is it really safe to use a scoped service in a singleton service?

In my opinon, we have to use a ServiceProvider (for example http://morgwai.pl/articles/aspdi.html)

[2017-08-16 07:58] davidfowl commented on #1310
No, this actually throws by default in 2.0.

[2017-08-16 09:37] maxlego commented on #1310
Works almost nicely.

But when i try to chagange login path like this:

[code]

and in Configure method i use

[code]

it will still redirect me to /account/login

What am i doing wrong?

[2017-08-16 10:03] davidfowl commented on #1310
This can be simplified to:

[code]

It should also work. Not sure why it's not using the specified options. What other code do you have in the application

[2017-08-16 11:08] maxlego commented on #1310
my bad.

It seems that problem was that i was using Castle.Windsor.MsDependencyInjection. Not sure why though...

[2017-08-16 12:37] jeffputz commented on #1338
@davidfowl:

`var identity = context.HttpContext.User.Identities.SingleOrDefault(x => x.AuthenticationType == "pf");`

See line 49:
[https://github.com/POPWorldMedia/POPForums/blob/6f0f6b8f7698839e230da6ba59b3b2b6f1afc5d1/src/PopForums.Mvc/Areas/Forums/Authorization/PopForumsUserAttribute.cs](url)

Several people using the app are doing so mostly because they can add it to their existing app and n

[2017-08-16 13:08] HaoK commented on #1338
Can this easily be replaced with context.HttpContext.AuthenticateAsync("pf") to get the ClaimsPrincipal?  Then you won't need any of the weird merging logic.

[2017-08-16 13:54] snibe commented on #1219
hoping someone can help me as I have had a similar issue and i am stuck with using this code  described in this thread here and getting this error

No IAuthenticationSignInHandler is configured to handle sign in for the scheme: Cookies

any ideas?

[2017-08-16 15:27] davidfowl commented on #1338
My thoughts exactly

[2017-08-16 16:03] jeffputz commented on #1338
Ah, that works. It wasn't obvious, but it does work. Is this what the middleware does against the default scheme under the covers, putting the result on the user identity?

[2017-08-16 16:10] mattwoberts commented on #1338
Hiya

In my netcore 1.1 app, I configured both cookies and bearer auth. Neither are set to `AutomaticChallenge` or `AutomaticAuthenticate`. I then configure my controllers to determine which methods of auth are acceptable (some allow either cookie or bearer, others only allow cookie):

    [Authorize(ActiveAuthenticationSchemes = "Cookies,Bearer")]

I'm not sure how to go about migrating this to A

[2017-08-16 17:14] DerAlbertCom commented on #1369
did you put UseAuthentication() the pipeline?
[code]

[2017-08-16 17:22] cgountanis commented on #1310
Something people have been confused about is actually using custom cookie based auth. This helped me: https://stackoverflow.com/questions/43961571/asp-net-core-2-0-preview-1-how-to-set-up-cookie-authentication-with-custom-logi

[2017-08-16 19:46] cartervms opened #1372 "JWT tid claim transformation to "http://schemas.microsoft.com/identity/claims/tenantid""
Is there any way to disable this conversion? This is causing issues for us when requests flow between different services, where some are using ASP.NET core and others aren't. This is really inconvenient, because now our shared claim lookup code is having to do .Where( c => c.Equals("http://schemas.microsoft.com/identity/claims/tenantid") || c.Equals("tid"));

[2017-08-16 19:46] cartervms commented on #1372
For reference: https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/claims

<i>This table lists the claim types as they appear in the ID token. In ASP.NET Core, the OpenID Connect middleware converts some of the claim types when it populates the Claims collection for the user principal:
oid > http://schemas.microsoft.com/identity/claims/objectidentifier
tid > http://schemas.mic

[2017-08-16 23:14] shawnwildermuth opened #1373 "Multiple Authentication Schemes?"
I'm trying to support cookies for my authorized views and jwt tokens for my APIs in one project. Is this even possible in Identity Core 2 (or whatever I'm supposed to call it).

In my Configure Services i'm doing this to create two schemes:

[code]

And when I set the scheme for a specific API:

[code]

I get "there is no handler for the authentication scheme" error. I would do this with policies

[2017-08-17 00:23] blowdart commented on #1356
Is there any reason a parameterised requirement wouldn't work here?

You'd have a door type enum, and then the entry requirement would have a property of door type, which you set in the policy for normal door or secure door and away you go.

[2017-08-17 04:35] davidfowl commented on #1373
Why are you're calling AddAuthentication twice instead of doing this:

[code]

[2017-08-17 04:38] davidfowl commented on #1338
[code]

[2017-08-17 05:11] shawnwildermuth commented on #1373
I've tried that, and it's working but I can't get Auth to work yet, but i'm close.

[2017-08-17 05:39] davidfowl commented on #1373
What's not working exactly?

[2017-08-17 08:14] shawnwildermuth commented on #1373
I'm never being logged in. I think it's something wierd. I'm going to recreate with a new 2.0 project and see what I can do (i'm using a 2.0 preview codebase so who knows what is left in there).

[2017-08-17 09:24] shawnwildermuth commented on #1373
We can close this. I got it working. It was simpler than I was making it. What you showed me was exactly correct.

[2017-08-17 09:24] #1373 closed

[2017-08-18 03:20] jamesgurung commented on #1370
@davidfowl Thanks for the tip about simplifying the `Startup` constructor.

I'm really sorry, I can't get my head around this! Every time I change something I get a different error. Please can you let me know where I'm going wrong?

The flow I'm expecting is:
1. Unauthenticated user navigates to `/`
1. Middleware sees `[Authorize]` and redirects to `/login`
1. The login method redirects the user s

[2017-08-18 03:52] davidfowl commented on #1370
I'll try to describe the flow piece by piece.

First, we'll change your startup to be this:

[code]

This configures the "Cookies" and "Google" authentication schemes and sets "Cookies" as the default scheme. This means that any authN operation performed without specifying a name, will use the default scheme "Cookies".

[code]

The user ends up at your HomeController Index route (assuming that's c

[2017-08-18 11:54] nikoudel commented on #839
Just has to struggle with this for hours - I don't want the profile scope because the only thing I'm interested in is user id. Scanned through all the documentation trying to find any clues about what's going on and why am I getting the "invalid scope: profile" message (didn't find any). It was a good exercise though, now I understand a bit better how the whole system works :))

[2017-08-18 12:40] jamesgurung commented on #1370
Thanks for the detailed tutorial! :+1: All working now.

Your explanation has led me to save a redirect by doing:

[code]

This seems to work well. So I thought I could simplify it even more by setting in `ConfigureServices`:
[code]

However, the app then crashes with a "Bad Gateway" error. Why is this? (Just curious now!)

Anyway, I've secured the whole app with this and it's all working great!

[2017-08-18 13:30] AndyCreigh commented on #1310
Hi,
My cookie authentication without identity works on the dev server but not debugging against localhost in Chrome. I see the cookie getting created but keep getting re-directed back to the login page. Code below, did I miss something?

A walk through in core 2 would be a great help - https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?tabs=aspnetcore1x - could do with a t

[2017-08-18 14:56] davidfowl commented on #1370
.AddAuthentication(GoogleDefaults.AuthenticationScheme)
  .AddCookie(/* ... */)
  .AddGoogle(/* ... */);

The piece of logic you don't see is what happens when the google issues the callback. Each of the remote/external auth handlers (google, twitter, other external oauth auth handlers) delegate "SignIn" to another auth handler. The reason you have google *and* cookies is because you're using goog

[2017-08-18 16:42] js82 commented on #1338
I'm looking for some help regarding cookie authentication with WebApi.

My company is using .NET Core WebApi and Angular for a project. I simply want the cookie auth handler to return 401 and 403 as appropriate, not attempt to redirect. I was able to get this to work for us in 1.0 by copying the cookie auth handler and middleware to files on the solution and referencing that in Startup instead. Al

[2017-08-18 16:51] plaisted commented on #1338
@js82

I believe you should be able to simply inject your custom `CookieAuthenticationHandler` after adding cookie authentication using the `AuthenticationBuilder.AddCookie()`.

If you create `MyCustomCookieHandler` and inherit from the default `CookieAuthenticationHandler` and then override `HandleChallengeAsync(AuthenticationProperties properties)` to not redirect using something like:
[code]

D

[2017-08-18 17:00] PaulAngelino commented on #1310
Hi, I'm trying to adapt a custom implementation of Identity framework from pre .NET Core where have our own user manager, role manager and sign in manager.  We do this because we have our own internal account store, and use SAML authentication.  I need to redirect the user to our SAML authentication service.  I have the following in my ConfigureServices() prior to AddMvc:

[code]
With all this in

[2017-08-18 17:11] js82 commented on #1338
First of all, thank you! I implemented what you suggested and hitting a protected endpoint without a cookie now returns a 401 instead of attempting to redirect.

I was hoping I wouldn't need to add any custom handler code, but one file with one override is way better than what I had in 1.1.

I'll report back after additional testing against claims.

[2017-08-18 17:26] js82 commented on #1338
@plaisted

I also had to override HandleForbiddenAsync (I'm sure that's obvious to most), and I wonder if there are other parts I'll need to handle, but now it appears to be working as I had hoped!

Thanks again for this much more elegant solution that I no longer have to be embarrassed about!

[2017-08-18 17:34] plaisted commented on #1338
@js82
Great! Glad to help. I believe the Challenge (you aren't logged in and need to be) and Forbid (you are logged in and aren't allowed here) methods are all you'll need to change.

You may consider adding an appropriate WWW-Authenticate header to the Challenge response (see JwtBearerHandler for an example) to stay in spec with HTTP although if the site is only consumed by your services may not

[2017-08-19 04:10] jamesgurung commented on #1370
Thanks!

[2017-08-19 04:10] #1370 closed

[2017-08-19 05:39] xavierjohn commented on #1118
I have updated the middleware to .net standard 2.0
https://github.com/xavierjohn/ClientCertificateMiddleware/pull/1/files

It will be nice to incorporate it into the security package.

[2017-08-19 08:47] Tornhoof opened #1375 "InvalidOperationException on context.Succeed of PendingRequirements in ASP.NET Core 2.0"
Found while understanding ``AuthorizationHandlerContext`` and ``IAuthorizationHandler``:

I tried to ``context.Succeed`` PendingRequirements (which from both name and comment looks like the correct one to use). This leads to the following exception because the succeeded ones are removed from the hashset. https://github.com/aspnet/Security/blob/1867eab2e99d6828dda20e29483a0821de8e9ce9/src/Microsoft

[2017-08-19 23:17] mkhalife opened #1376 "app crashes when returning a ForbidResult with OpenIdConnect as your DefaultChallengeScheme"
I'm trying to get one of my .net core apps to work with Azure AD using OpenIdConnect. I'm experiencing a weird problem whenever a user tries to access a resource they don't have permission to (i.e. they violate an Authorization Policy). After hours of messing with it I finally have some steps below to easily reproduce the issue.

1. use the project from here: https://github.com/Azure-Samples/activ

[2017-08-19 23:34] jkotalik commented on #1376
Hello @mkhalife . I am trying to reproduce your scenario. Just to confirm, was there a logged on user before navigating to https://localhost:44353/Home/Test or were you able to simply clone the repo and try navigating to Home/Test?

My guess is there is probably an infinite redirect going on somewhere.

[2017-08-20 00:02] davidfowl commented on #1376
This is a bug. It seems as though the `RemoteAuthenticationHandler.HandleForbidAsync` calls ForbidAsync(SignInScheme) which *should* call Forbid on the CookieHandler but we have another bug  https://github.com/aspnet/HttpAbstractions/issues/917. So instead it ends up stack overflowing because it's calling itself.

https://github.com/aspnet/Security/blob/23da47617624cfed065cd1cdd552d34e5ea5b821/src

[2017-08-20 00:23] mkhalife commented on #1376
thanks for the quick responses!

@jkotalik the user does not need to be logged in to reproduce the issue.

@davidfowl thanks for confirming the bug and opening that other issue. Any recommendations/workarounds in the mean time?

[2017-08-20 00:34] davidfowl commented on #1376
How did you run into it in the first place? The workaround may be easy or hard depending on that.

[2017-08-20 00:41] PinpointTownes commented on #1376
You guys can't say you had not been warned about this eventuality... :trollface:

https://github.com/aspnet/Security/issues/1264#issuecomment-309022536

[2017-08-20 00:51] mkhalife commented on #1376
@davidfowl I was adding Policy-based Authorize attributes to my controllers e.g. `[Authorize(Policy = "SuperUser")]`. I want unauthenticated users to get a 401 (which works) and authenticated users who don't have certain claims to get a 403. As soon as I logged in as someone who didn't have the required claim, I encountered this.