[2016-01-26 16:05] Tratcher commented on #678
This issue was moved to aspnet/Identity#723

[2016-01-26 16:05] #678 closed

[2016-01-26 16:39] DuNuNuBatman opened #679 "OAuth 2.0 Implicit Flow & CORS Conflict"
I'm having an issue enabling both OAuth JWT Bearer tokens and CORS on the same service:

[code]

The issue seems to be with the line: `options.AutomaticAuthenticate = true;`
When this is set to true, I'm not getting back the correct Access-Control-Allow-Origin header and I get the error:

Setting this value to false, I can access the unsecured controllers on the web service, but not secured ones.

[2016-01-26 19:59] blowdart commented on #679
If you set automaticauthenticate to false you need to tell the secured endpoints which authentication scheme to use;

So, you'd do something like

    [Authorize(ActiveAuthenticationSchemes=JwtBearerDefaults.AuthenticationScheme]

Or if you prefer to do it in policy

    public void ConfigureServices(IServiceCollection services)
    {
        options.AddPolicy("WebApi", policy =>
        {

[2016-01-27 00:17] #663 closed

[2016-01-27 20:45] Tratcher commented on #673
Isn't that WsFed/SAML based? No, there's no support for that this release cycle. We need support from https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet first.

[2016-01-27 20:48] leastprivilege commented on #673
ADFS 2012 R2 can issue JWT tokens - but does not support OIDC discovery.

Manually configuring issuer, audience and signing key should work.

[2016-01-27 21:40] HaoK commented on #670
00ceeb026262bc848404d056416709dc306a57df

[2016-01-27 21:40] #670 closed

[2016-01-27 22:24] HaoK commented on #266
Addressed by 00ceeb026262bc848404d056416709dc306a57df via IAuthZPolicyProvider

[2016-01-27 22:24] #266 closed

[2016-01-27 22:34] mikes-gh commented on #654
I have a pull request which greatly simplifies config of Facebook authentication.
https://github.com/aspnet/Security/pull/677

[2016-01-27 23:32] #614 closed

[2016-01-28 06:55] kylefowler opened #681 "Authentication with ASP 5 and Identity/SignInManager"
It seems from the limited documentation that this is intended to sit on top of and work with the Indentity framework, but there doesnt look to be an interface to create an `IdentityUser` as a result of logging in with Authentication methods. I'm not sure if this is a bug or something I'm missing. Taking a look at the Account controller from the default ASP 5 .NET project in VS, the method that exp

[2016-01-28 19:14] Tratcher commented on #652
@HaoK there's a bit too much Identity in this for me. Can you take a look?

[2016-01-28 20:49] HaoK commented on #657
80dc5759cc1f9cd447724ff068cc8253fe7b2b1c

[2016-01-28 20:49] #657 closed

[2016-01-28 20:52] HaoK commented on #681
You create users via the UserManager.   The template flow creates a user in the confirmation method, see: https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L201

[2016-01-28 20:52] #681 closed

[2016-01-28 20:57] HaoK commented on #652
So the root issue is that identity expects several cookie middleware to be present and it registers them via UseIdentity typically.  ApplicationCookie is the only one you have registered.  It also expects an ExternalCookie/TwoFactor cookies.  Hence when it attempts to sign out the external cookie you get the error stating that no "external" handler was found for that authentication scheme.

Refer

[2016-01-28 21:37] Tratcher commented on #652
@HaoK I think that only explains the log off scenario. I don't think that explains the Register race condition.

[2016-01-28 22:34] kylefowler commented on #681
In theory yes, but it never gets to that point. It bails out before forwarding there, https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountController.cs#L165

Where it needs to get to here in order to get forwarded to the ExternalLoginConfirmation. https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Controllers/AccountCont

[2016-01-28 22:57] HaoK commented on #681
No, the external login identity its looking for specifically comes from the authenticationScheme defined in the identity options, by default its something like "Microsoft.AspNet.Identity.External".  HttpContext.User is not relevant to SignInManager at all

[2016-01-28 22:59] HaoK commented on #681
So basically something needs to sign in using the authenticationScheme that this method is expecting if you are trying to get the template flow to work.  Note this external cookie flow is purely a mechanism that the templates created, you are free to replace this/roll your own at the end of the day

[2016-01-28 23:06] kylefowler commented on #681
Ok, thanks. Just digging in from the templates it made it seem like they were interconnected. Good to know.

[2016-01-28 23:17] Eilon commented on #652
@HaoK can you rummage through the code and see if we're missing an `await` somewhere?

[2016-01-29 02:00] NickAb commented on #673
@leastprivilege ADFS supports OAuth2 authorization code flow and I was able to implement it on client side, so that AngularJS SPA can obtain token and pass it on each request to the API (although I used OWINS `UseActiveDirectoryFederationServicesBearerAuthentication` to validate tokens, until we have Windows Server 2016 with new ADFS).
My question is it OK to use authorization code flow on browser

[2016-01-29 07:26] leastprivilege commented on #673
Well - since this is the only option in ADFS - I guess the answer is yes ;)

You could also use IdentityServer as a gateway to ADFS - this would give you full OAuth 2.0 and OpenID Connect support while retaining Windows SSO and AD support.

[2016-01-29 07:53] NickAb commented on #673
@leastprivilege Thanks, I will have a look at IdentityServer

[2016-01-29 07:53] #673 closed

[2016-01-30 00:58] vibronet commented on #673
I would second what @leastprivilege suggested - the OAuth2 flows in ADFS 2012 R2 are intended exclusively for native clients hence extracting tokens from it via a JS user_agent would put you in unsupported territory. But if you front ADFS with something like IdentityServer, then the interaction with ADFS falls back to (supported) web sign on.

[2016-01-30 05:03] NickAb commented on #673
@leastprivilege is there any docs on how to manually configure issuer, key, etc and prevent `UseJwtBearerAuthentication` to request metadata from ADFS on unexisting endpoint?

[2016-01-30 05:58] Tratcher commented on #673
If you set JwtBearerOptions.Configuration directly it won't try to download the metadata.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerOptions.cs#L82
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/Configuration/OpenIdConnectConfiguration.cs

[2016-01-30 06:07] NickAb commented on #673
Thank you very much.

[2016-01-31 11:05] pepevc opened #682 "How to control Google/Facebook/Twitter cookie expiration?"
It looks Google maintains the user for 10 minutes logged in.

It is not clear in the documentation how to control this.

[2016-01-31 14:56] brockallen commented on #682
You don't have control over google. You only have control over your own application's cookie. Configure your own application's cookie in the cookie authentication middleware options.

[2016-01-31 16:23] pepevc commented on #682
It does not work. I set:

[code]

and the cookie does not expire in 10 seconds.

[2016-01-31 16:43] brockallen commented on #682
Are you also ASP.NET Identity? It registers its own cookie middleware and uses it.

[2016-01-31 18:39] pepevc commented on #682
Does not work either:

`            services.AddIdentity<User, Role>((options =>
            {
                options.Cookies.ApplicationCookie.ExpireTimeSpan = TimeSpan.FromSeconds(60);
            }))`

This time it doesn't even store the cookie and does not log you in.

[2016-01-31 22:23] brockallen commented on #682
You'll have to wait for Monday when Microsoft rolls in to help then :)

[2016-01-31 22:25] Tratcher commented on #682
Please upload a repro app to github and describe the repro steps.

[2016-02-01 23:44] BrennanConroy commented on #615
Looks like there might be a bug in DNX where references from project dependencies can't be bumped up in the project that's referencing another project. i.e. A -> System.Security.Principal 4.0.0 and B -> System.Security.Princial 4.0.1 and B -> A then you will get the above error.

[2016-02-01 23:57] Tratcher commented on #639
@vibronet recommends cutting SaveTokensAsClaims outright on the grounds that the ClaimsPrincipal (and the auth properties) go into the session cookie and that's the wrong place to save this kind of information. Moreover the lifetimes of the access and refresh tokens can be fundamentally different from the login session. Finally if there are additional tokens acquired later they would have to be ha

[2016-02-02 00:52] PinpointTownes commented on #639
I disagree.

`SaveTokensAsClaims` is far from being perfect, but it's an extremely convenient option to make API requests after an authentication/authorization flow (IIRC, @Eilon used it in one of his projects :smile:).

Removing this option would also make retrieving the access/identity/refresh tokens from an `AccountController` much harder (extracting the access/refresh tokens from `ExternalLogi

[2016-02-02 03:08] brockallen commented on #639
+1

[2016-02-02 05:55] vibronet commented on #639
It might be convenient, but it is fundamentally broken. The identity token is retrievable from a controller via SaveSignInToken if you need it. The access and refresh token don't belong to a session, as they have completely different lifetimes and uses. Why should an expired access token linger in the ClaimsPrincipal after it is long expired? Why should a refresh token be buried in something tied

[2016-02-02 07:17] leastprivilege commented on #639
I think this is all a bit mixed up here -

this issue is about the JwtBearer middleware -

my point was mainly that there needs to be an easy way to get to the access token from within the API. You might need it in claims transformation (e.g. for the userinfo endpoint) or for delegation.
Since this token can potentially come from different source (authZ header, query string etc) - the Jwt middlewa

[2016-02-02 07:30] vibronet commented on #639
I would rather take a bit more time and get it right than put it in the wrong place and pay for this for years to come. I understand this is convenient, but the claims collection is not a generic property bag. If we need a generic property bag, or something specific for this functionality, we can introduce it. Besides, I thought we did have something to that effect in the AuthProperties... but I d

[2016-02-02 14:55] sebnema commented on #652
@HaoK For loggoff issue: I am only using Application Cookie. Why do I need to add other cookie configurations for External and Two factor, even if I did not use them. I couldn't get the essence here. Besides, I am not calling app.UseIdentity. Instead, I configured cookie as below.

 app.UseCookieAuthentication(options =>
            {
                options.AutomaticAuthenticate = true;

[2016-02-02 17:18] HaoK commented on #652
If you are calling SignInManager.SignOut with identity, it assumes you are using UseIdentity.  If you don't want to use all of identity, you are free to directly manage and use the cookies yourself, and via SignInAsync/SignOutAsync on HttpContext.Authentication

[2016-02-02 17:53] PinpointTownes commented on #639
AFAIK, the raw identity token is rarely needed as-is, specially from user code. The only place where it's frequently used is in the OIDC events, to add `id_token_hint` to the logout message before redirecting the user to the end session endpoint (and it's something the OIDC handler now automatically does).

And... hem, `ClaimsIdentity.BootstrapContext` is not really the most user-friendly API we'v

[2016-02-02 18:59] HaoK commented on #652
@sebnema For the behavior with the lock:

'I run CookieWebAppTest project and Click Register for a new account, It throws "no auth handler.." exception at Line: 142 in Microsoft.AspNet.Http.Authentication.Internal.DefaultAuthenticationManager class. I added lock to all "if(!signInContext.Accepted)" statements, then issue resolved.'

What is the auth hander that its complaining about not finding?

[2016-02-02 20:05] #654 closed

[2016-02-02 22:37] BrennanConroy commented on #615
Closing, we have moved to the dotnet cli https://github.com/dotnet/cli where the bug is no longer present.

[2016-02-02 22:37] #615 closed

[2016-02-03 05:19] pepevc commented on #682
It is just the initial template using Identity, adding:

            app.UseGoogleAuthentication(options =>
            {
                options.ClientId = Configuration["Authentication:Google:ClientId"];
                options.ClientSecret = Configuration["Authentication:Google:ClientSecret"];
            });

Another issue is Google asks the user for "offline" permission. The website logs out

[2016-02-03 08:05] leastprivilege commented on #639
Before we "dream up" something in a rush (only run past by the people on this thread) - I would opt for removing the feature altogether and continue writing code in the notification (sorry - events) to transfer whatever data we need to the "session".

After looking at the past customer projects I did - while "SaveTokensAsClaims" might be convenient for demos - I haven't come across a single soluti

[2016-02-03 08:33] sebnema commented on #652
@HaoK  Handler is

It seems login and logoff has the same issue. SignInAsync and SignoutAsync methods in AuthenticaitionHandler is calling context.Accept().
[code]
It seems context.Accept(); doesn't finish its job or Accepted property it has set, is also called by somewhere else. Thus, every method in DefaultAuthenticationManager using the below code block is failing.
[code]

[2016-02-03 16:29] HaoK commented on #652
Can you see What the scheme that's being asked for is?

[2016-02-03 21:08] sebnema commented on #652
ApplicationCookie.
![shouldhandlescheme_signinasync](https://cloud.githubusercontent.com/assets/10426499/12797087/eb0a2630-caca-11e5-9647-7bcce8bb509b.PNG)

Are you able to debug?

[2016-02-04 21:58] Eilon commented on #532
@kichalla can you help out with this? This is about changing to use the new recommended logging patterns that do the fancy closures, e.g. https://github.com/aspnet/Session/blob/dev/src/Microsoft.AspNetCore.Session/LoggingExtensions.cs.

[2016-02-04 23:11] #679 closed

[2016-02-05 00:01] Tratcher commented on #639
We're going to look at a few different approaches next week. Fell free to share any suggestions you have.  If we don't come up with something readily then we'll probably remove the existing code until we can.

[2016-02-05 11:21] Alexander-Taran opened #687 "Auth middleware /AuthorizeAttribute do not take into account AutomaticChallenge = false"
While trying to have 2 cookie auth middlewares with same cookie name but different reaction to unauthorized access (no auto challenge for api controolers) we stumbled upon a strange behavior:

When  added 2 schemes to startup:
[code]

and adding authorize attribute  with scheme on actions/controllers  we get a redirect to /account/login even though we specified LoginPath as Empty.

attaching solut

[2016-02-05 12:58] PinpointTownes commented on #687
By design: https://github.com/aspnet/Security/issues/508 https://github.com/aspnet/Security/issues/505.

I mentioned a few times this behavior was totally inappropriate and unnecessary, but so far, nothing has changed: https://github.com/aspnet/Security/issues/508#issuecomment-146686060.

[2016-02-05 14:59] mikes-gh opened #688 "Return givename and surname claims from Facebook provider by default."
I know things are really busy round here so don't spend too much time looking at this. @Tratcher
Its a bit nitty.
If you don't think this is going anywhere please close.

I would like to (re)present my reasons for this.

- We are not really requesting any more information than name already provides but it is very useful to have givenname and surname separated from a programming perspective.
- Firs

[2016-02-05 15:10] Tratcher commented on #688
We want to keep the defaults to minimum required functionality. Google is an interesting comparison, but what do the next 5 do? MSA, Twitter, Yahoo, Github, LinkedIn, etc.. https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src

[2016-02-05 15:15] mikes-gh commented on #688
I used Google as between it and Facebook they hold the 80% market share depending on what sources you look at.
If we are sticking to minimum functional request  I wonder if facebook works without any fields in the request

[2016-02-05 15:43] mikes-gh commented on #688
OK I accept your point its hard to be consistent with so many providers doing there own thing..  Out of interest what is the functional minimum for a provider

[2016-02-05 16:10] mikes-gh commented on #688
Looking at the providers there seems a lot of inconsistency in the claims available.
Paypal,Foursquare and Yahoo return givenname and surname.
I guess the difference is with Facebook we have the choice of fields to request.

It seems reasonable and not anymore inconsistent than things already are to request these two fields to align with Google for common scenarios.  However if you don't agree tha

[2016-02-05 19:46] jarrettv commented on #688
@mikes-gh I support your issue and appreciate your well thought-out reasoning.

[2016-02-06 15:46] mikes-gh opened #689 "ASP.NET 5 renames for project.json and some code comments"
ASP.NET 5 in description field in project.json and some code comments (about a dozen or so places) all in.
I don't mind doing the PR for this? or do you have an overall plan for this type of stuff?

ASP.NET 5 --> ASP.NET Core 1.0

[2016-02-06 16:46] Tratcher commented on #689
https://blogs.msdn.microsoft.com/webdev/2016/02/01/an-update-on-asp-net-core-and-net-core/

[2016-02-06 17:16] PinpointTownes commented on #688
@mikes-gh curious: why closing this thread? You had a valid point.

[2016-02-06 17:27] mikes-gh commented on #689
Thanks.  I thought thst refered to vnexc packages  and docs not source sorry for noise.

[2016-02-06 17:27] #689 closed

[2016-02-06 20:00] Eilon commented on #689
@mikes-gh we're still in the process of updating all the various places that have the old text, but thanks for the offer!

[2016-02-07 19:46] mikes-gh commented on #688
Reopening as there seems to be some support for this.

[2016-02-08 17:48] blowdart commented on #687
As @PinpointTownes , by design. Will not fix.

Once you start getting into multiple schemes you need to use the ``ActiveAuthenticationSchemes`` parameter on the ``Authorize`` attribute, or specify it in policy, via ``policy.AuthenticationSchemes.Add()``;

If you don't want the redirect then turn ``AutomaticAuthenticate`` to be false. ``LoginPath`` being empty has no effect here.

And to say it, as

[2016-02-08 18:44] Tratcher opened #690 "Clean up OIDC events"
After the modified control flow in https://github.com/aspnet/Security/pull/683, we need to go back and update the events accordingly.

There have also been requests for the ability to customize / replace the code redemption logic.

[2016-02-08 20:04] #647 closed

[2016-02-08 20:22] #456 closed

[2016-02-08 22:46] PinpointTownes commented on #687
That would be a valid suggestion if the authentication stack didn't throw an `InvalidOperationException` when calling `ChallengeAsync()` without having at least one middleware with `AutomaticAuthenticate = true` in the pipeline :trollface:

Sadly, it's not...

[2016-02-09 00:00] blowdart commented on #687
Which is why in that case, like the authorize attribute needs a scheme, so does ChallengeAsync()

[2016-02-09 00:06] PinpointTownes commented on #687
But in this case, setting `AutomaticAuthenticate` to `false` is useless and doesn't solve the issue discussed here.

[2016-02-09 02:57] blowdart commented on #687
Well the problem here is AutomaticAuthenticate is set to true on both. Which will, of course, confuse things, so they both run, not matter what, and lo, there's a redirect.

So set AutomaticAuthenticate to be false on both, then use the ActiveAuthenticationScheme in policy or attribute to choose which one fires on which controller.

Or am I horribly misunderstanding this?

[2016-02-09 09:42] PinpointTownes commented on #687
Well, not really. The problem here - not being able to nullify `LoginPath` to prevent the 401 -> 302 redirect - would be exactly the same with a single authentication middleware.

I think we all agree to the fact using cookies for API is bad and risky (though the revamped Antiforgery block is truly promising, IMHO) but the whole point of this ticket is about being able to disable the automatic red

[2016-02-09 13:00] blowdart commented on #687
Hmm AutomaticChallenge doesn't see to be working here as I expect - @HaoK even if you set every middleware to automaticchallenge = false and automaticauthenticate = false a redirect is kicking in.

But having said that. If an active cookie middleware is invoked none of the others will get invoked, that's just how it works. One has already woken up and said "I'm handling this".

[2016-02-10 21:21] mikes-gh commented on #688
Even Microsoft thinks its a good idea to return given name and surname claims by default
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.MicrosoftAccount/MicrosoftAccountHelper.cs
als see PR
https://github.com/aspnet/Security/pull/691

[2016-02-11 14:44] kapoc opened #693 "setting CallBackPath causes error"
I have OpenId Connect set up & running together with Identity Server 4.

Now, it works well but if I try to change options.CallBackPath to _any_ value, I get this, somewhat not very detailed error:

[code]

My connection options:

    app.UseCookieAuthentication(options =>
            {
                options.AutomaticAuthenticate = true;

            });

    app.UseOpenIdConnectAuthentication(o

[2016-02-11 15:47] Tratcher commented on #693
CallbackPath is just the path portion. Try `/auth/signin-oidc`

[2016-02-11 17:48] Tratcher commented on #639
@leastprivilege I've been looking into this feature as a whole and I don't see how it applies to JwtBearer. In general we're talking about storing things like OAuth access tokens that are used to make API calls later.  However, a JWT shouldn't contain those kinds of tokens. It sounds like you were asking to store the original JWT, but how is that useful to you later? It seems strange that the same

[2016-02-11 18:15] PinpointTownes commented on #639
Keeping the original access token is extremely useful for delegation scenarios, where the API that receives the access token can query a second (distinct) API on behalf of the original caller.

FWIW, I've been asked to implement a similar feature in aspnet-contrib's validation and introspection middleware.

[2016-02-11 18:21] Tratcher commented on #639
OK. How is that different from just copying the request authentication header?

The original JWT is also stored in the ClaimsIdentity.BootstrapContext.

[2016-02-11 18:30] PinpointTownes commented on #639
Actually, it's not different, but don't forget that one can use the JWT events to retrieve the access token from somewhere else: query string or request form (which is fully spec-compliant). Not having to retrieve the token manually from the headers just help make the separation of concerns better for the application code.

:+1: for BC, even if it's not enabled by default and is not really user-fr

[2016-02-11 19:35] Tratcher commented on #92
MSA: https://github.com/aspnet/Security/pull/691

[2016-02-11 21:53] rschiefer commented on #43
We use ADFS extensively for 20 or so internal web applications.  This would be a major blocker for us to migrate to ASP.NET Core.

Can someone post a link to the related dependencies so we can go show support for that work as well?

[2016-02-11 22:06] helmsb commented on #43
We've used ADFS as the core of our authentication for our internal application framework which is used throughout our organization. This is a huge blocker for us going to .NET Core.

[2016-02-11 22:11] Tratcher commented on #43
@blowdart @brentschmaltz is it this one? https://github.com/dotnet/corefx/issues/4278

[2016-02-11 23:09] #693 closed

[2016-02-11 23:15] Eilon commented on #688
We don't think it's a good idea in general for the middleware to alter what a service considers to be its own defaults. If the identity provider changes what it offers, it's a best practice to explicitly add the claims requests or scopes to the auth process.

[2016-02-12 00:41] PinpointTownes commented on #688
@Eilon I'm not sure to understand your point. A few months ago, folks at Facebook have decided to remove their old endpoints and to update their Graph API to include a `fields` parameter, probably to save some precious bandwidth. This parameter directly controls the properties returned by the userinfo endpoint in the JSON payload. If you don't specify it, you get a minimal response, with just the

[2016-02-12 06:00] leastprivilege commented on #639
what @PinpointTownes said ;)

[2016-02-12 14:44] pepevc commented on #682
The problem is Identity framework. I replaced it by a simple Cookie method it and it does not expire now.

[2016-02-12 14:44] #682 closed

[2016-02-12 14:48] pepevc opened #694 "context.ShouldRenew does nothing"
This is what I have int the Startup class:

[code]

The method get calls properly but context.ShouldRenew = true apparently does not make the framework to refresh the cookie.

[2016-02-12 16:21] jods4 commented on #588
Today I understood (by accident) what is actually happening.
It seems _none_ of my `CookieAuthenticationOptions` are handled, apparently the options are completely dropped from config.

My code looks like this, any idea?
[code]

[2016-02-12 17:21] jods4 commented on #588
OK some final feedback on this ticket.

So the actual problem was that I'm using ASP.NET Identity. When I thought that I was configuring my cookies, it did not have any effect because the cookie middleware used is in fact the one linked to the application auth. scheme, as defined by Identity.
The proper way is to configure `options.Cookies` inside `services.AddIdentity()`.
So: problem was in my co

[2016-02-12 17:33] Tratcher commented on #588
Sounds like at a minimum we need to remove the setter on options.Cookies.ApplicationCookie. @Haok

[2016-02-12 17:34] Eilon commented on #588
@Tratcher log a new bug for this?

[2016-02-12 17:35] bcbeatty commented on #571
this stack overflow might clarify my position: http://stackoverflow.com/questions/32595251/separation-of-concerns-and-n-tiered-architecture-in-asp-net-5-asp-net-core-1

"I’d love for Microsoft (or anyone) to create a working project template that is more geared towards enterprise level samples using a decoupled approach or even something like an Onion Architecture sample."

[2016-02-12 17:46] HaoK commented on #588
I'm not sure removing the setter is the right thing. I do agree this is pretty complex but basically it comes down to two different scenarios for when to tweak vs replace via the setter.

1. If you just want to tweak the default identity cookie options, you shouldn't set, you should just modify the existing instance.

2. For users that want full control and want to change lots of settings it's pro

[2016-02-12 17:55] jods4 commented on #588
@HaoK not sure what the right thing is, but this is too complex to use. Given it's security and may silently not do what you expect this is bad.

Modifying the instance will surely get a lot easier if C# 7 gets `with` to modify multiple properties at once.

Setting a new instance "feels" right and since I modified 6 properties, I thought it may qualify as "lots" as you said. The problem is that wh

[2016-02-12 18:06] Tratcher commented on #588
At this point I recommend taking this discussion to https://github.com/aspnet/Identity/issues/744

[2016-02-12 18:16] HaoK commented on #588
Yeah lets take the identity specific stuff to that repo.  In regards to the Events pattern, I personally do not like that at all either, but I lost that battle...

I would have preferred having no interface and a very simple Events class with a get/set delegate property for each event

[2016-02-12 20:20] HaoK commented on #652
@sebnema can you update your app to latest rc2 bits and see if it still repros?  If it does, please update your repro and I will debug it locally

[2016-02-12 20:25] HaoK commented on #687
Can you clarify exactly which behavior that you'd like me to investigate?

If there's a naked [Authorize] and there are no automatic challenge/authenticate middlewares, we still get a redirect kicking in?

[2016-02-12 21:01] HaoK commented on #687
Oh, I figured out what I think the behavior is, you can't really clear out the Loginpath, if you set it to null or empty, we set it to the default value that you are seeing.   But if you want to disable the redirects, you should just be overriding the event to make it not redirect:

Set the OnRedirectToLogin event to be a no op:
[code]

[2016-02-12 21:01] #687 closed

[2016-02-12 21:11] PinpointTownes commented on #687
That's an option, but it's not really user friendly (events are really made for advanced cases).

I'm sorry to repeat it again and again, but we should be able to nullify the paths to disable redirections (which is the default behavior with AJAX requests)

[2016-02-12 21:16] HaoK commented on #687
I get it, but we chose to make this behavior pretty much deterministic, if you have cookies, it will redirect on unauthorized/access denied.  If you don't want this behavior (don't use cookies), or override the event.  We chose not to use the path as a magic backdoor way to disable it.

[2016-02-12 21:17] HaoK commented on #687
Its an orthogonal issue that events suck... :)  I agree that they are way too hard to tweak/use...

[2016-02-12 21:26] mikes-gh commented on #688
@elion if you use this argument then Facebook should return no fields as that is the default.  Do we want that?
The difference with facebook api is that you have to select the fields. So why not give the user a set of defaults that more closely matches the other leading providers.

[2016-02-13 10:59] damienbod opened #697 "Authorize 401 returned with Response Body"
I have implemented an MVC Controller protected with an authorize filter using a policy

[code]

I send a request with an authorized user but has **no rights** to this resource. Fails the Policy.

I expect a 403 back with no data in the body.

I receive a 401 with data in the body. The body should be empty.

Policy def:
[code]

[code]

[2016-02-13 17:35] jarrettv commented on #688
I agree, the middleware should normalize oauth and aim for the 80/20 rule and reduce the amount of custom code needed.

[2016-02-14 02:03] Eilon commented on #688
Do folks have an idea on where we would draw the line? Ultimately every provider will have its own set of data with whatever keys they want. For some it will just be "full name" (because the concept of a "first" and "last" name being separate fields makes little sense), so what then?

Plus, for some providers these fields might require additional authorization that might not be needed for a partic

[2016-02-14 05:54] damienbod commented on #697
Sorry I figured it out

To return a Forbidden 403, an AutomaticChallenge=true  in the UseJwtBearerAuthentication is required
                options.AutomaticChallenge = true;

The body was returned because it was cached in the browser for a previous request.

[2016-02-14 05:54] #697 closed

[2016-02-14 08:03] cuiliang commented on #652
@sebnema  you can try comment out code that setting AuthenticationScheme.
I have this problem in rc1, and soved it if no custom AuthenticationScheme setted.

[2016-02-16 15:09] blowdart commented on #617
As you appear to have gotten this working I'm going to close the issue.

There will not be any back compat package for anything other than Katana based sites.

[2016-02-16 15:09] #617 closed

[2016-02-17 01:42] yuezhongxin commented on #617
I changed the ways to solve this problem, blog record: http://www.cnblogs.com/xishuai/p/aspnet-5-or-core1--identity-part-two.html

[2016-02-17 12:24] bragma opened #699 "Returning 401 and JSON"
Hi,
I'm using UseJwtBearerAuthentication. On a failed authentication (ex: expired token), the middleware throws and exception causing the server to return 500. I'd like instead to return 401 and a JSON explaining the problem.
I'm not sure I've understood the "OnAuthenticationFailed" event, but I've not been able to do anything from there. So, I've resolved to "UseExceptionHandler" and I've been ab

[2016-02-17 19:36] Tratcher commented on #699
OnAuthenticationFailed is the right place for this. You should be able to write your own response and call `context.HandleResponse()` to keep the exception from being re-thrown.

[2016-02-17 19:39] rchowe opened #700 "There is no way to specify a different protocol in CallbackPath when using a reverse proxy"
I am running a web app using HttpPlatformHandler behind IIS, and I am using Azure AD through `app.UseOpenIdConnectAuthentication`. I have an HTTPS binding configured in IIS, however requests to the HTTPS binding are not being proxied into my app as HTTPS, which causes `RedirectUri` to be set to a HTTP URL, causing the redirect back to my app after the user is signed in to fail (because I don't hav

[2016-02-17 19:40] blowdart commented on #700
Install the Add the Microsoft.AspNet.HttpOverrides package

In your Configure() method add

    app.UseOverrideHeaders(new OverrideHeaderMiddlewareOptions
    {
        ForwardedOptions = ForwardedHeaders.XForwardedFor |
                           ForwardedHeaders.XForwardedProto
    });

The app will now believe it's on HTTPS.

[2016-02-17 19:44] Tratcher commented on #700
https://github.com/aspnet/Announcements/issues/123#issuecomment-183464372

[2016-02-17 21:58] Tratcher commented on #694
What version of Cookies are you using?

@HaoK?

[2016-02-18 03:53] pepevc commented on #694
1.0.0-rc1-final

On Wed, Feb 17, 2016 at 10:58 PM, Chris R <notifications@github.com> wrote:

[2016-02-18 23:17] #700 closed

[2016-02-18 23:20] Eilon commented on #694
Might be a dup of https://github.com/aspnet/Security/issues/628, which was fixed after RC1.

@HaoK can you confirm?

[2016-02-18 23:34] Eilon commented on #688
Discussed with @Tratcher @hao @blowdart @vibronet @brentschmaltz and we concluded this would be a slippery slope: what about middle name? Age? Etc.

We feel that it's easy enough to add the fields in the [`FacebookOptions`](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Facebook/FacebookOptions.cs#L13) during configuration.

[2016-02-18 23:41] PinpointTownes commented on #688
Age? AFAIK, none of the built-in providers retrieves or stores it.

This ticket is all about **consistency**, not exhaustiveness.

Currently, a developer using `User.FindFirst(ClaimTypes.GivenName)` will get a value with the Google and MSFT providers, but not with the Facebook middleware (the claim won't be present). It may be a nasty surprise when trying to pre-fill a registration form.

[2016-02-18 23:52] HaoK commented on #694
Yeah this should be fixed already via #628

[2016-02-18 23:52] #694 closed

[2016-02-19 05:36] brentschmaltz opened #701 "Add a way to use ClientCertificate and ClientAssertion in OIDC Code Flow"
There are three ways to show proof in the ConfidentialClient flow: SymmetricKey, Certificate, or SignedAssertion (JWT). The OM should support all three. Possibilities are adding additional properties to OIDC options.

[2016-02-19 08:41] Kabanets opened #702 "Basic Authentication"
How realize basic authentication for actions of controller? I created my ActionFilterAttribute in MVC5, but I don't know how realise this in MVC6. How send new response? Response.End() is no longer available. Where can  I  read documentations or look for samples?
Code MVC5:

    public class BasicAuthenticationAttribute : ActionFilterAttribute
    {
        public string BasicRealm { get; set; }

[2016-02-19 10:35] benfoster commented on #35
I'd like to this prioritised too. It was confirmed some time ago that multi-tenancy wouldn't be _supported_ out of the box in v1. However, it should at least be _considered_ so that we have the extensibility points necessary to implement it ourselves.

I recently released [SaasKit](http://saaskit.net) for ASP.NET Core that provides lightweight middleware to perform tenant identification and makes

[2016-02-19 11:18] andrew-vandenbrink opened #703 "Where to put secure file like database file or files that accessible by certain role only?"
https://support.microsoft.com/en-gb/kb/316871

Is there permission setting or should the web config like above to be used?

At this moment I can't upload new file to wwwroot path and unable to change anything at approot path.

[2016-02-19 11:55] Kabanets commented on #702
I found some solution:
http://stackoverflow.com/questions/35296648/basic-authentication-in-asp-net-5-mvc-6

[2016-02-19 15:40] #702 closed

[2016-02-19 16:01] blowdart commented on #703
No, and there's no web.config anymore anyway.

Even with MVC in previous versions it was never a great idea, as file location never corresponded to routes.

[2016-02-19 17:10] Tratcher opened #704 "Auth handlers should unregister themselves after Next"
Auth handlers should unregister themselves in a finally block after Next. Right now this only happens in a catch block for some reason:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationMiddleware.cs#L76

[2016-02-19 17:39] blowdart commented on #35
We realise this is wanted but we're at the point now where we are not doing any more feature work, hence this being in the backlog.

We will look at this once we get v1 out the door.

[2016-02-20 04:37] andrew-vandenbrink commented on #703
I have to put extra write permission to wwwroot

![image](https://cloud.githubusercontent.com/assets/12871379/13194481/c0a60b0e-d793-11e5-8c7e-434e4ecd2545.png)

before I can upload something to wwwroot

[2016-02-20 05:19] andrew-vandenbrink commented on #703
If you have sqlite database, make sure you have **modify** permission too

[2016-02-21 02:11] Eilon commented on #703
As @blowdart mentioned, `web.config` settings pertaining to ASP.NET 4.x and earlier are not used it all. `web.config` can still be used for IIS-specific settings (stuff in `system.webServer`), and they will be used when running on IIS and IIS Express.

NTFS settings are *always* respected because they are processed at the operating system layer. Of course, it applies when running on Windows :smile

[2016-02-21 02:12] blowdart commented on #703
And as we don't supported integrated authentication with impersonation the process account your site runs under will always be the application pool identity.

[2016-02-21 02:14] blowdart commented on #703
_(As an aside generally best practice would be to save uploads outside of your webroot, as that way no-one is going to overwrite anything important)_

[2016-02-21 07:20] andrew-vandenbrink commented on #703
At this moment I have access to the vm and change the os permission, what about azure web app for example? Is it writeable by default? If now how can enable it?

[2016-02-21 17:29] mikes-gh commented on #688
@PinpointTownes
Exactly the common scenario this issue is about.

@Elion
I know its easy to request these fields.  Its just it requires that developers 'discover' this functionality and the peculiarities of the Facebook API.
Please reconsider and save some forum traffic. and developer time.

[2016-02-21 23:03] Eilon commented on #688
I guess the question is: what's so special about these fields? What you're saying might be true about `GivenName` right now, but that could change at any time due to a change in what the 3rd parties provide, no? I think that realistically an app has to specify exactly what it needs from each provider (and update their app every time a 3rd party provider changes *their* defaults) if it wants to hav

[2016-02-22 08:56] mikes-gh commented on #688
They are common registration fields returned by the other market leading providers.

Not really .  Facebook would change the version of its api so the provider would need updating with new urls etc (as in the past)

Every one except Facebook (AFAIK) works at the scope level.  What fields are defined at he scope level is up to the provider..Facebook is the odd one out as it allows you to specify ex

[2016-02-22 17:50] Eilon commented on #688
I deci

[2016-02-22 17:51] Eilon commented on #688
Ok ok ok! :smile: Will discuss again, leaning towards including just these properties. But if you want more properties later, you must provide us with cookies! The edible kind! :smile:

[2016-02-22 17:55] PinpointTownes commented on #688
Obviously, someone already provided you alcoholic beverages :smile:

[2016-02-22 18:03] Eilon commented on #688
Oh weird I don't know where that random text came from! I'm drinking my Starbucks Chai Tea Latte right now, no alcohol yet today :smile:

[2016-02-22 20:18] blowdart commented on #703
That would be a question for the azure websites team. It's an OS configuration issue, nothing to do with asp.net.

[2016-02-22 23:14] kumarabhimanyu opened #705 "How to authorise the user access in web API layer using claims"
I just downloaded this project and it works fine. Now I want to authenticate my web service calls with same approach. Suppose my application has 2 project – a web project and a web api and both are running on same domain like app.mydomain.com and service.mydomain.com

During login from my web app, I am able to set claims and putting condition based on that in my web app controller.

Now I want to

[2016-02-22 23:17] blowdart commented on #705
What you would do is somewhere in your web project create a URL which is protected by cookie auth, and when loaded validates the user identity and creates a JWT token out of it.

You'd then send that to your web app, and configure the JWT middleware to validate the signing key. Then you'd get the identity on the other side.

There are no samples for this unfortunately.

[2016-02-22 23:32] kumarabhimanyu commented on #705
Thanks for your quick response. Did get similar links and demo apps but none of them are working. Will have a fresh look again.

[2016-02-23 17:48] Bartmax opened #706 "What's the recommended approach for protecting a staging site from public access."
I have a staging website, `staging-xxx.azurewebsites.net` and I want to protect it from public access.
That's it: no search indexer find it, and no one without access to see it. Also, the website have user management (identity) and I want a solution that doesn't mess with the user authentication, so I can  be able to send to specific person (and grant access) for review and use, including register

[2016-02-23 18:41] blowdart commented on #706
We don't have anything for this.

Azure Websites does support this sort of thing. In your site configure control panel there's a authentication / authorization section. That then shuts down access to anyone not inside your Azure AD.

[2016-02-23 18:43] csaloio opened #707 "Anyway to get the challenge URL from an MVC action?"
Was wondering if rather than calling
`context.Authentication.ChallengeAsync(authType, new AuthenticationProperties() { RedirectUri = "/" })`

if the URL that the client would be redirected to could be placed directly in the view as a link. But in order to do that somehow the controller needs to be able to ask the OAuth middleware to return what that URL string would be. Anyway for a controller to

[2016-02-23 21:00] rabx88 opened #708 "JWT middleware not supported?"
Is there a plan to support the Microsoft.AspNet.Authentication.JwtBearer package on .NETPlatform version 5.4? We were using this with the last version and now it seems absent. Am I missing something?

Edit: It looks like the code is there, so is it an issue of release timing? Is there an ETA?

[2016-02-23 21:50] blowdart commented on #708
The next release, RC2 will have it.

[2016-02-23 21:50] #708 closed

[2016-02-23 21:58] rabx88 commented on #708
Excellent, thanks! There was some misinformation/speculation out there.

[2016-02-23 23:02] codnee commented on #704
This seems pretty straightforward.

Since there is no risk of it masking the original exception. Would it make sense for the finally block to throw if for some reason the teardown fails?

[2016-02-24 01:23] PinpointTownes opened #709 "Update AuthenticationToken to include an expiration date"
https://github.com/aspnet/Security/pull/698#discussion_r53861925

[2016-02-24 13:47] bragma commented on #699
@Tratcher thanks for the answer, is there any example or can you please provide one? I've tried with this but it does not work:

[code]

[2016-02-24 14:06] bragma commented on #699
I've checked the code, the magic seems to happen here:

https://github.com/aspnet/Security/blob/297c72aa2176265d680b0d102ac1932220919053/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L168

If I call "HandleResponse", the code calls Success and fails with another exception because Token is not set. What's weird is that even "SkipToNextMiddleware" somehow goes down a similar

[2016-02-24 14:25] PinpointTownes opened #710 "Improve access_denied handling"
_Moved from https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/81._

---

Not sure if this has been addressed yet:

ASP.NET Core RC1 Sample application (VS 2015 Community - not update 1)

project.json (public nuget)
`"AspNet.Security.OAuth.BattleNet": "1.0.0-alpha3",`

Clean user - never been to site - no identity db entries - no battle.net correlation to OAuth Application (B

[2016-02-24 14:25] PinpointTownes commented on #710
Yep, though it's actually by-design: `RemoteAuthenticationHandler` and `OAuthHandler` (the classes that handle the callback path dance) don't consider `access_denied` as a special error [and simply return a 500 response to indicate that the external authentication process failed](https://github.com/aspnet/Security/blob/1.0.0-rc1/src/Microsoft.AspNet.Authentication/RemoteAuthenticationHandler.cs#L3

[2016-02-24 14:26] PinpointTownes commented on #710
/cc @TheWyzard44 @HaoK @Tratcher

[2016-02-24 14:35] PinpointTownes opened #711 "RemoteError should expose raw error details"
Currently, `FailureContext` - used by the `RemoteError` event - doesn't expose the raw protocol error details but an exception, which makes determining the root cause of the error much harder (one may want to detect `access_denied` errors, for instance)

We should consider adding the error code to this class. Sadly, `RemoteAuthenticationHandler` and the `RemoteError` event are supposed to be proto

[2016-02-24 14:35] PinpointTownes commented on #711
/cc @HaoK @Tratcher

[2016-02-24 18:31] Tgueth opened #712 "unable to configure Authorization policies at other than AddAuthorization"
I would to configure Authorization policies at the Configuration stage of Startup rather than ConfigureServices stage.  However, when I have the AuthorizationService (IAuthorizationService passed) to Configure(), there is not an exposed method or access to options list  add to it.  Not clear to me why this is not allowed since web pages are not running at this stage and so Authorization is not at

[2016-02-24 19:02] blowdart commented on #712
Why do you want to do it inside Configuration()? Authorization is a service, so by design it's configured inside ConfigureServices()

[2016-02-24 20:54] TheWyzard44 commented on #710
Ahh OK so its returning 500 rather than throwing?  Got it ;). No wonder the debug page never showed up.  If rc2 does throw now then that'll help with diagnosis in the future.  And wiring up that event sounds perfect.  Thank you!!

[2016-02-24 21:53] HaoK commented on #711
Any additional OAuth2 specific stuff can be added to OAuthHandler no?  Its the one that's currently doing the admittedly simple dumping of the error stuff onto the failure message.  Maybe we just need to have an OAuth specific methods to create/extract an OAuthErrorContext from an AuthenticationResult failure?

[2016-02-24 22:02] Tgueth commented on #712
Let's start with that I like the new Authorization capability and the power it provides. Kudos to open sourcing the code which is helpful.

But let me try to answer the why:

1) Present architecture (as I see via the playing and reading through the code) requires that I do the configuration as part of the AddAuthorization() at the time the service is created.  This okay but requires a fixed archit

[2016-02-24 22:56] blowdart commented on #712
I don't see what's wrong with pulling policies from the database inside configure services, but I'd like to know what you want inside the database. Remember you can inject into your handler.

I'm guessing that your database may contain roles or permissions that change at runtime? If so, I'd inject the permissions repo into the handler itself, and pull them out at evaluation time.

[2016-02-24 22:59] gzak commented on #699
We ran into exactly the same issue, our workaround was to set a fake ticket on the `context` within the `OnAuthenticationFailed` handler.

[2016-02-24 23:38] Fosol opened #713 "Support Request"
I've read somewhere you are not officially supporting RC1?  This is this true?

I'm spinning my wheels here on security.  I've got things running on my local machine, but as soon as I deploy to a different environment authentication fails.  While I'm fairly confident it's a configuration issue, I can't step through the code to see the issue when it's on the server.

1) Do you officially support RC

[2016-02-25 01:23] Fosol opened #714 "JwtBearerToken"
Can you have multiple Audiences?  If so, what's the separator?
[code]

[2016-02-25 02:29] Tgueth commented on #712
Okay, cum si cum sa. I understand that I should be able to.  However, it is not clear how to.

So I create a method to build the desired policies:

public AuthorizationPolicies BuildPolicies()

{

            AuthorizationOptions options = new AuthorizationOptions();

            options.AddPolicy("Administrators", policy =>

            {

                policy.RequireRole("Administrator");

[2016-02-25 03:02] PinpointTownes commented on #714
Yep, you can. But you need to use `options.TokenValidationParameters.ValidAudiences` to support multiple audiences.

[2016-02-25 03:57] blowdart commented on #712
I wouldn't do it with roles, I'd do it with code based requirements and handlers. That way you can access your repos inside the handler.

I realise this is a huge change from what we had before. I have a workshop you can work through which will help you move away from roles :) https://github.com/blowdart/AspNetAuthorizationWorkshop

[2016-02-25 04:01] blowdart commented on #713
1) I believe it's supported via the paid for support route. But obviously a github issue is cheaper.
2) Nope
3) We've documented pieces separately. What are you looking for?

[2016-02-25 04:19] davidfowl commented on #712
This is all doable in rc2 by implementing a policy provider. The current model is push only at startup time, overriding the policy provider gives you full control over the logic that manifests policies at runtime.

[2016-02-25 04:31] Tgueth commented on #712
I appreciate that I could change away from Roles, and may down the road.  But it doesn’t matter which approach I take as basically the AddAuthorization requires the setup at when it is invoked (aka must be passed as a parameter).    I am not using [Authorize] as I move.  But ASP.NET5/MVC6 requires so many changes that I simply don’t need something else to rewrite.

Tom

From: Barry Dorrans [mailto

[2016-02-25 04:31] Tgueth commented on #712
Okay, so any idea when RC2 will be available?

Tom

From: David Fowler [mailto:notifications@github.com]
Sent: Wednesday, February 24, 2016 11:20 PM
To: aspnet/Security <Security@noreply.github.com>
Cc: Tgueth <Tgueth@binarystartechnology.com>
Subject: Re: [Security] unable to configure Authorization policies at other than AddAuthorization (#712)

This is all doable in rc2 by implementing a policy

[2016-02-25 11:40] bragma commented on #699
@gzak Thanks, I'll try the same. Is the actual ticket returned or thrown away (I don't want it to reach the client)? Also did you "HandleResponse" or "SkipToNextMiddleware"?

[2016-02-25 11:40] Tgueth commented on #712
Okay, I figured it out.  I can put the method in the lamda expression as such:

services.AddAuthoriization( options => { BuildAuthorizationOptions(options);});

[2016-02-25 13:50] Fosol commented on #713
I'd like more information about the following;
1) Challenge Response
2) Many of the configuration properties and how they work (i.e. AutomaticAuthenticate, AutomaticChallenge).
3) Related to the above - The OWIN pipeline in relation to security plugins.

[2016-02-25 13:55] Fosol commented on #714
Thanks

[2016-02-25 13:55] #714 closed

[2016-02-25 14:02] Fosol commented on #713
What type of token is OpenIdConnect expecting?  If I use JwtBearer I know I need to add a "Bearer" header token.  Is there something similar for OpenIdConnect?

[2016-02-25 15:04] PinpointTownes commented on #713
OIDC requires JWT identity tokens (`id_token`) but you're free to use the format of your choice for access tokens (they must be treated as opaque by the client application).

[2016-02-25 16:19] Fosol commented on #713
I guess what I don't understand is that under my current configuration I have to do the following so that it can accept the Bearer token;
[code]
If I remove the UseJwtBearerAuthentication it will fail.  What I'd expect is that the UseOpenIdConnectAuthentication would check for an appropriate token and I wouldn't need the JwtBearerAuthentication.  Am I expecting the wrong thing?  Is there a way to

[2016-02-25 16:38] PinpointTownes commented on #713
Yes, you are. The OIDC middleware is not meant for token consumption/validation: it's JwtBearerMiddleware's job. Only use OpenIdConnectMiddleware if you want to support client authentication (only interactive flows)

[2016-02-25 18:37] gzak commented on #699
Judging by the code in [AuthenticationHandler.cs](https://github.com/aspnet/Security/blob/a5b288897d2981c241133b8d37aa22136b653e3a/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs), I believe the ticket gets thrown away and the client gets a 403.

We are calling `HandleResponse()`, although looking through that code it doesn't appear to be necessary to do so. But we'll leave it in

[2016-02-25 19:36] Fosol commented on #713
Currently I have an Oauth Server providing a way signin and generate tokens.  The Oauth Server uses an implementation of Identity 3.  The web application then provides a cookie for the client so that it maintains authentication information.  The web application then submits a token for all requests to the API.

The tokens however are expiring before the cookie does.  Thus the user successfully log

[2016-02-25 19:50] PinpointTownes commented on #713
Which OIDC server are you using exactly? It should be configurable in the server options.

No, it's up to you to ask for a refresh token and get new access tokens when you need to.

[2016-02-25 19:55] Fosol commented on #713
OpenIdConnect

    "AspNet.Security.OpenIdConnect.Extensions": "1.0.0-beta4",
    "AspNet.Security.OpenIdConnect.Server": "1.0.0-beta4",

I would like to keep the backend oauth implementation transparent to the user.  They simply login to the way they're used to.

How would I get the web application to request a new access token when the prior one expires?

[2016-02-25 20:23] PinpointTownes commented on #713
The access token lifetime is configurable in the ASOS options:

[code]

You can either [use a good old `HttpClient` and make a refresh token request](http://openid.net/specs/openid-connect-core-1_0.html#RefreshingAccessToken) or use a library to assist you, like [`Thinktecture.IdentityModel.Client`](https://www.nuget.org/packages/Thinktecture.IdentityModel.Client/)

[2016-02-25 20:30] Fosol commented on #713
Thanks!

[2016-02-25 20:30] #713 closed

[2016-02-26 05:09] malichishti opened #715 "Query parameters for a returnUrl are lost"
Upon redirect after a successful login, my query parameters on original requested url gets lost.
Example:
Registered Client with RedirectUri: http://abc/
Flow:
Requested Url: http://abc/def?Id=10
Unauthorized, redirecting to Identity Server
Successful login
Redirected to http://abc/def
MISSING query parameter

I'm using Microsoft.Owin.Security.OpenIdConnect 3.0.1 with IdentityServer3

[2016-02-26 12:55] mikes-gh commented on #688
Are you leaning enough for a PR to add these 2 claims before rc2

Code changes required are

[code]

to FacebookOptions constructor

so minimal risk testing etc

[2016-02-26 13:51] hantleman opened #716 "Unable to external login when app behind proxy"
I try to authenticate via google, but my application behind proxy.
Local address is http://localhost:5000, but actual address is https://address.com/
See below:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L119
Is any way to change Request.Scheme and Host, or fix BuildRedirectUri function

[2016-02-26 14:14] mikes-gh commented on #716
Working code from my app

[code]

[2016-02-26 14:23] hantleman commented on #716
Application works in docker with which listen  http://*:5000, the real site address is https://address.com/ via apache. Google handler generate return uri http://localhost:5000/signin-google, but should https://address.com/signin-google

[2016-02-26 15:09] mikes-gh commented on #716
My app is behind ARR (windows reverse proxy) so its a similar situation
Maybe it treats the headers differently than the Linux reverse proxy.
It definitely works.  I think the answer maybe in your reverse proxy config.

I also have this in my Startup.cs as well but I think that's more to do with Kestrel headers after the reverse proxy.

[code]

[2016-02-26 16:18] hantleman commented on #716
It works for me, but needs some changes on apache: RequestHeader set X-Forwarded-Proto "https" for rc1

[2016-02-26 21:26] Eilon commented on #688
@mikes-gh by all means send a PR and we'll have a look. I still have to convince my colleagues, though :smile:

[2016-02-26 22:36] csaloio opened #718 "How can you inject a service into an implementation of IClaimsTransformer?"
I need to be able to query a DB in my implementation.

My understanding is that you must add the transform like this in Startup.Configure:
[code]

But how can it get access to a scoped service from within `MyClaimsTransformer` ?

[2016-02-27 16:36] mikes-gh commented on #688
I'd rather not pollute the system until a decision is made here.
Its only those 2 lines of code above so code review is trivial.

[2016-02-27 19:06] chadly opened #720 "Receiving HTTP 401 when should be receiving 403"
Logging a bug per @blowdart 's suggestion on the [last comment here](http://stackoverflow.com/a/31465227/316108) (also [discussed here](http://stackoverflow.com/questions/35656828/return-http-403-using-authorize-attribute-in-asp-net-mvc-6) with @danludwig)

When using the `Authorize` attribute, MVC 6 is returning HTTP `401` when I believe it should be returning a `403`. Here are repro steps:

[cod

[2016-02-29 18:39] blowdart commented on #718
As of right now you can't. @HaoK we did talk about giving claims transformation more love ...

[2016-02-29 19:01] csaloio commented on #718
@blowdart @HaoK I'm not sure how meaningful a transformation you can make without access to your data :(

[2016-02-29 19:05] HaoK commented on #718
Since this is inside of Configure, you can service locate for it to work

[code]

[2016-02-29 19:06] blowdart commented on #718
Kinda ugly though :)

[2016-02-29 19:06] HaoK commented on #718
Also with the new options changes we can just make this work now that options will be a normal service.

[2016-02-29 19:25] csaloio commented on #718
@HaoK I don't understand your example. `IApplicationBuilder` doesn't seem to have a `Services` property (at least in RC1). It does have 'ApplicationServices' but my understanding was that  his is only appropriate for services that have an application scope. I think it is important that any DB service injected into the transformer have request scope and not be scoped to the application.

[2016-02-29 21:29] HaoK commented on #720
@blowdart Remember the 401/403 behavior comes entirely from our implementations of the auth middleware (and using our base AuthenticationHandlers)  This behavior is by design, in that there's nothing that would turn 401 into 403s given this setup...

[2016-02-29 21:29] #720 closed

[2016-02-29 21:30] blowdart commented on #720
Ah, there you go @chadly - you need to either use the base class, or implement it yourself.

[2016-02-29 22:33] blowdart commented on #715
Well yes, you are redirected to the redirectUri you set up in Identity server. Query strings are ignored. This would be a question for IdentityServer.

[2016-02-29 22:42] brockallen commented on #715
I think he means the return URL captured in the properties before he leaves his app to IdSvr (or any other OIDC provider).

[2016-02-29 22:48] blowdart commented on #715
Even then it's always going to drop the query string on return, right?

https://openid.net/specs/openid-connect-implicit-1_0.html#RequestParameters

[2016-02-29 22:54] brockallen commented on #715
When the redirect is triggered from the katana OIDC MW, the current request URL is put into the properties as the "return url" (this can also be set explicitly in the AuthenticationProperties). Upon return from the OIDC provider, the katana OIDC MW does its job and once that's all successful then if there's a "return url" in the properties it's supposed to redirect the user to that. I think that's

[2016-02-29 22:55] brockallen commented on #715
And this is all conjecture from the way the OP's question was worded.

[2016-03-01 02:15] chadly commented on #720
What base class? Is there a better way to implement it other than [what I did here](http://stackoverflow.com/a/35659444/316108)?

Also, why not make this the default behavior? Returning a `403` in this scenario seems more correct.

[2016-03-01 02:50] malichishti commented on #715
@brockallen you are exactly right.

[2016-03-01 03:56] danludwig commented on #720
Returning a 403 *is* the correct thing to do when a user is authenticated but unauthorized. Both `Authorize` attributes got this wrong in previous versions of MVC and WebAPI, making tons of us have to override it in a custom attribute.

I still don't quite get what the proposed solution should be. Where did you move the cheese to? Why can't it *just work right* this time?

[2016-03-01 12:40] blowdart commented on #720
There's an AuthenticationMiddlware base class.

As for why it's not the default, well, the behaviour is dependent on protocol. For OAuth based middleware a 403 is probably wrong - you want to bounce back to the IDP.

[2016-03-01 12:42] blowdart commented on #720
@danludwig The provided middleware, cookie auth, JWT do the behaviour you expect, because that's what those protocols mandate. This would also be the default for any auth middleware deriving from the AuthenticationMiddleware base class.

However it's up to the middleware developer to return whatever the status code, redirect, or other behaviour is suitable for their protocol.

[2016-03-01 12:59] ORuban opened #721 "Ask to add the Async version of ISecurityTokenValidator.ValidateToken method"
It can be helpful to change the  ISecurityTokenValidator.ValidateToken method to async one and use it in JwtBearerHandler, OpenIdConnectHandler handlers.

I have faced with the lack of async implementing my own validator for JwtBearerHandler.
If you approve this idea I can make a PR with changes.

[2016-03-01 14:04] chadly commented on #720
Ah, ok. That makes sense. From looking at the code, it looks like `JwtBearerMiddleware` will have the behavior I want.

Just out of curiosity, in my example above, what auth middleware would it have been using? If I don't explicitly register any specific authentication scheme, what is it using to return to me the `401`?

e.g. in `Startup.Configure`, I only call `app.UseMvc()` and nothing else.

[2016-03-01 17:44] blowdart commented on #715
@Tratcher

[2016-03-01 18:22] blowdart commented on #720
I believe that's MVC at that point.

For test users what I usually end up doing is using cookie auth and dropping the cookie - https://github.com/blowdart/AspNetAuthorizationWorkshop/blob/master/src/Step%202%20-%20Authorize%20All%20The%20Things/Controllers/AccountController.cs

[2016-03-01 21:41] HaoK opened #722 "Remove Katanaism vestiages from Options"
Fell out of IOptions discussions with @lodejard

- ISystemClock should be a service dependency in middleware not on Options
- Review other service like things on the Options classes, general rule is that the Option should default to null for services and let the middleware set the default service

[2016-03-01 21:42] HaoK commented on #722
Leaving unassigned for triage since I am a bit backed up for the near future

[2016-03-01 22:06] benfoster commented on #35
We have a pretty good workaround in the [latest release of SaasKit](https://github.com/saaskit/saaskit/releases/tag/1.1.0-alpha).

This allows the auth middleware to be configured per tenant by creating *forked* middleware pipelines per tenant:

        app.UsePerTenant<AppTenant>((ctx, builder) =>
        {
            builder.UseCookieAuthentication(options =>
            {
                optio

[2016-03-02 00:18] MaximBalaganskiy opened #723 "[Question] IOverrideFilter analog"
MVC5 used to have IOverrideFilter which allowed for authorization overrides on actions. Is there an analog in Core?

[2016-03-02 03:35] davidfowl commented on #723
Seems like you would ask this on the mvc repo

[2016-03-02 03:55] #723 closed

[2016-03-02 04:26] Tratcher commented on #721
ISecurityTokenValidator is not implemented in this repo, it's over here:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e6d903b4f8d3c6d7697dc70cd54ae905b18b65fe/src/System.IdentityModel.Tokens.Jwt/ISecurityTokenValidator.cs

[2016-03-02 05:19] Tratcher commented on #720
Wait, something in MVC is still setting a 401? I thought we got rid of all of that because we wanted the auth middleware to do it?

[2016-03-02 14:58] chadly commented on #720
It appears so. In my example above, the only thing I had in my `Startup.Configure` was `app.UseMvc()`.

[2016-03-02 15:42] NickRimmer opened #724 "Broken link to Kukkimonsuta page"
Link to Kukkimonsuta page in README.md is broken

[2016-03-02 17:31] #724 closed

[2016-03-02 17:31] Eilon commented on #724
Fixed, thanks!

[2016-03-02 17:41] #721 closed

[2016-03-02 20:40] DovydasNavickas commented on #718
@HaoK, @blowdart, this really does not make sense, if the request is not exposed to the transformer. Any reasons why you cannot expose that?

[2016-03-02 21:10] Tratcher commented on #707
The closest you're going to get is to check `context.Response.Headers["Location"]` after calling ChallengeAsync.

Why are you trying to avoid the auto-redirect?

[2016-03-02 21:25] csaloio commented on #707
My originally thinking was that is was unnecessary to have a link that sends them to an MVC action that just redirects them to the OAuth provider. I was thinking it was more efficient to simply link them directly to the OAuth provider in the view. You just need a way to setup the OAuth middleware to know where to redirect to after the OAuth provider sends them back. But it's not a huge deal. Just

[2016-03-02 21:29] akamud commented on #699
We're trying to force a `401` with this but we still get a `500`:

[code]

[2016-03-02 21:47] HaoK commented on #664
b5300ad0e4c48a9d69b3be27df8bed9db3f959b2

[2016-03-02 21:47] #664 closed

[2016-03-02 23:49] Tratcher commented on #699
@akamud your code and that error are unrelated. The error shows MVC trying to issue the initial challenge but none of the auth providers handled it. You either need to enable AutomaticChallenge on one of your auth providers, our tell MVC to challenge for specific providers.

[2016-03-03 04:53] andrew-vandenbrink commented on #703
I change the question to make it more pointed to what we would like to achieve. At this moment, everyone will say anywhere other than wwwroot, but then again where exactly?

Can we all agree to use

[code]

This will solve this issue
https://github.com/aspnet/Identity/issues/751

![image](https://cloud.githubusercontent.com/assets/12871379/13485019/8360b626-e103-11e5-9f32-5c2069170389.png)

The se

[2016-03-03 13:16] brockallen commented on #718
Seems like the `Options.Transformer` really should be pulled from DI.

[2016-03-03 13:19] DovydasNavickas commented on #718
And within current request scope :clap:

[2016-03-03 17:55] cwe1ss opened #725 "Operation based authorization for AuthorizeAttribute"
Hi, having policies for authorization is a great step forward, however I think the current implementation still enforces a very strong coupling between the target (e.g. controller action) and the policy. Let's take a few examples from the docs:

[code]

This way, the condition is moved to a separate class and it can be reused. This is ok, but from my experience, most requirement changes are like t

[2016-03-03 18:13] Tratcher commented on #709
I don't recommend it.
A) It complicates the storage and access model when we go beyond KVP
B) Expiration information is not commonly available for most token types. E.g. For OAuth you only get an expiration for the access token, and only from some providers. I've never seen it for refresh tokens, etc..
C) The only way to know if a token is really valid is to use it.

[2016-03-03 20:52] HaoK commented on #639
ace166fa31af61a6c9924873e6bdcb45e7785d5d

[2016-03-03 20:52] #639 closed

[2016-03-03 21:55] lasrol commented on #718
@csaloio getting db or usermanager from the ApplicationServices gave me a lot of open data reader errors

[2016-03-03 22:12] csaloio commented on #718
@lasrol I don't suggest using ApplicationServices. What I think could be done (though it is **not ideal**), is to just new up your context inside of the `TransformAsync` method in the transformer making sure to wrap it in a using block so it is disposed of. Then use it read whatever data you need to transform the `ClaimsPrincipal`.

But as I said this is far from ideal. Everything about the .Net c

[2016-03-03 23:05] #712 closed

[2016-03-03 23:08] Eilon commented on #725
For RC2 you can indeed to do something like `Authorize(Policy = "Accounting.UpdateSalary")` and use a policy provider to dynamically map this to specific operation policies.

At this time we are not planning to make any further changes here.

[2016-03-03 23:08] #725 closed

[2016-03-03 23:15] Eilon commented on #718
This would indeed be nice but we are not taking many new features for this release.

[2016-03-03 23:16] Eilon commented on #716
Is there still an issue here or is this resolved?

[2016-03-03 23:23] csaloio commented on #718
So will this be a breaking change in the future?

[2016-03-03 23:28] Eilon commented on #710
To do this properly would require a fair bit of design. We'd need a way to perhaps redirect or re-execute another page but we need a way to pass the error state to that page in order for it to do anything meaningful. For now using the event with the code above should be fine.

[2016-03-03 23:29] DovydasNavickas commented on #718
@Eilon I understand why are you against taking new features into current release, but if you want to follow semver, this change would only go into >=2.0.0 release. And maybe the change needed here is quite simple: a reference to request, which by itself has `RequestServices`.

[2016-03-03 23:30] DovydasNavickas commented on #718
And it wouldn't really break design of the feature, if I understand correctly. Because the transformation is either way done on every authenticated request.

[2016-03-03 23:31] Eilon commented on #701
Moving to backlog.

@vibronet FYI

[2016-03-03 23:33] Eilon commented on #707
Because this is largely an implementation detail of particular auth protocols, there's no generic way to know where the redirect would go (because there might not even be a redirect).

[2016-03-03 23:33] #707 closed

[2016-03-03 23:37] Eilon commented on #709
For the reasons @Tratcher mentions we are not planning to add this.

[2016-03-03 23:37] #709 closed

[2016-03-03 23:38] PinpointTownes commented on #710
A simple design might be to add a new `AccessDeniedPath` property, intercept `access_denied` errors and redirect the user agent to this access denied page.

[2016-03-03 23:42] PinpointTownes commented on #709
I'm fine (though limiting `AuthenticationToken` to a simple KVP clearly limits the way we could extend it).

In this case, you should consider removing `expires_in`/`expires_at` from the new tokens stuff as it's definitely not an authentication token.

[2016-03-03 23:54] Tratcher commented on #710
@PinpointTownes give it a try and see how it works.

[2016-03-03 23:54] Eilon commented on #709
@Tratcher ?

[2016-03-03 23:57] Eilon commented on #718
@HaoK / @Tratcher could/should we just add this property in the meantime?

[2016-03-03 23:59] Tratcher commented on #709
It's still informative. We included it in all the other incarnations (claims, etc.), I don't see why you'd push to drop it now.

[2016-03-04 00:01] PinpointTownes commented on #709
Because it's semantically wrong: an expiration date is not an authentication token. That said, I think it's interesting to keep it somewhere, so why not storing it as a simple property? (instead of including it in the authentication tokens stuff)

[2016-03-04 00:22] Tratcher commented on #709
It's harder to retrieve and flow with the tokens if you treat it as separate data.

[2016-03-04 00:57] DovydasNavickas commented on #718
Oh, my bad. `Request` itself does not have `RequestServices`, they are on `HttpContext` and therefore `HttpContext` would need to be given.

And now that I look at the actual code and possible implementation, it might not be as easy as exposing `HttpContext` or `RequestServices`.

That could be done in the [ClaimsTransformationMiddleware](https://github.com/aspnet/Security/blob/dev/src/Microsoft.A

[2016-03-04 01:09] csaloio commented on #718
@DovydasNavickas I believe that's a bit more of a service locator pattern than true DI, but it would still be vastly superior to what the current situation is.

[2016-03-04 01:21] DovydasNavickas commented on #718
Yes, but as the default DI supports only constructor injection and currently `ClaimsTransformationMiddleware` takes `IClaimsTransformer` from `IOptions<ClaimsTransformationOptions>` in a constructor, I'm not sure request-scoped injection is possible here.

Which leaves service location that I described. It may not be the best possible solution here, but as you said - that would still be way better

[2016-03-04 01:26] csaloio commented on #718
I agree.

[2016-03-04 06:00] hantleman commented on #716
Thanks, the issue is resolved

[2016-03-04 06:35] #716 closed

[2016-03-04 06:41] Eilon commented on #718
Moving out of Backlog for now to make sure this gets discussed again.

[2016-03-04 09:48] cwe1ss opened #726 "Consider renaming Microsoft.AspNetCore.Authorization to Microsoft.Extensions.Authorization"
Hi, I've seen that Microsoft.AspNetCore.Authorization does not have a dependency on any AspNetCore project.

As far as I understand, this library is built in a way that would allow us to also use it within our core domain logic or other non ASP.NET libraries. In my opinion this makes it very similar to other cross-cutting concern libraries like Microsoft.Extensions.Logging, Microsoft.Extensions.Co

[2016-03-04 09:50] cwe1ss commented on #725
I didn't know about the new provider abstraction. That's good news! Thank you, Eilon!

[2016-03-04 09:51] davidfowl commented on #726
Yea, I brought this up a while ago https://github.com/aspnet/Security/pull/671#issuecomment-174491766.

/cc @Eilon @HaoK @blowdart @leastprivilege

[2016-03-04 09:59] aquiladev opened #727 "OAuth Middlware Issue with dnx541"
Hi everyone,
We need to setup authorization for our APIs with own OAuth server.
We've tried to use custom middleware for own OAuth authorization, but we faced with some problems. After that we decided to simplify issue and check with middleware from Microsoft's Security package. We use GoogleAuthenticationMiddleware for it, but with we also faced with problems.

Startup.cs looks like:
[code]

glob

[2016-03-04 10:20] cwe1ss commented on #726
Good to hear, that this has been discussed. To add further context about the usefulness of this library, here's my "real life scenario :tm:" :)

All of our business logic is in class libraries and is grouped into business contexts. Some of these contexts are written in DDD, some are not. But all libraries have a public contract which is implemented by having "application services". They represent

[2016-03-04 16:44] mikes-gh commented on #688
Do you want to do a PR.  I did the PR for adding all the facebook field processing so I am farmiliar with this code

[2016-03-04 17:25] Eilon commented on #688
If you have the time, sure :smile:

[2016-03-04 17:30] mikes-gh commented on #688
OK leave it with me I will do it this weekend.

[2016-03-04 17:32] Tratcher commented on #727
You need cookies:
[code]
https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Startup.cs

[2016-03-04 17:37] Eilon commented on #688
Thanks!

If there's a logical place to add a test, please try to do so as well (I'm not quite sure what type of tests we have for the Facebook provider already).

[2016-03-04 19:18] HaoK commented on #718
We can probably just make the IClaimsTransformer more like the IAuthEvent stuff, and hang the HttpContext off of the event context.

[code]

[2016-03-04 19:27] csaloio commented on #718
That works too.

[2016-03-04 20:16] PinpointTownes opened #728 "Enable XML documentation generation"
Unlike other repositories, `aspnet/Security` hasn't been updated to enable XML documentation generation, which seems to be an opt-in feature with the new tooling (e.g https://github.com/aspnet/Mvc/commit/028c0fb13164bcdda2e22e01e9093ac8a5853b06)

/cc @Eilon

[2016-03-04 20:43] PinpointTownes opened #729 "OpenIdConnectHandler.SaveTokens doesn't call properties.StoreTokens"
Hum, it looks like we all failed when reviewing @HaoK's PR because nobody realized that he forgot to add a call to `properties.StoreTokens` to persist the tokens in the authentication ticket:

[code]

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L694-L729

@Eilon any chance you could prioritize this work item? I'm fine su

[2016-03-04 20:49] HaoK commented on #729
I can push a fix today, no biggie, yeah no unit tests for Open IDC...unlike the others :(

[2016-03-04 21:07] #729 closed

[2016-03-04 21:16] Eilon commented on #728
@ajaybhargavb ?

[2016-03-04 21:56] Tratcher commented on #715
This appears to work fine with both Katana v3.0.1 and Core 1.0.0. Please share a repro app to github that has the issue.

[2016-03-04 22:03] Tratcher commented on #720
Is this it? https://github.com/aspnet/Mvc/blob/fd3ee499872465ccc2c5534b58f8ad113a8c0190/src/Microsoft.AspNetCore.Mvc.Core/Filters/AuthorizationFilterAttribute.cs#L50
@blowdart should't this return a ChallengeResult rather than an UnauthorizedResult?

[2016-03-04 22:06] HaoK commented on #720
That certainly is what's causing the 401

[2016-03-04 22:08] blowdart commented on #720
It's sweet you think I'd know :) @HaoK do we own that or MVC? i.e. can you change it?

[2016-03-04 22:22] HaoK commented on #720
Yeah this code used to return ChallengeResult when last I touched it, we should open a bug for MVC to change this back (its very counter intuitive so I can see why they switched it when they were fiddling with things)

[2016-03-04 22:27] blowdart commented on #720
@Tratcher do you want open the bug?

[2016-03-04 22:35] ajaybhargavb commented on #728
Good catch @PinpointTownes. Not sure how I missed this.

[2016-03-04 22:48] Tratcher commented on #720
https://github.com/aspnet/Mvc/issues/4233

[2016-03-04 23:22] DovydasNavickas commented on #718
Yep, that works :+1: I thought you wouldn't want to expose the whole HttpContext somewhy.
I can do PR for that.

[2016-03-04 23:55] ajaybhargavb commented on #728
9dfe4d96996cf65a7013b5b0eb329aab80434199

[2016-03-04 23:55] #728 closed

[2016-03-05 00:16] PinpointTownes commented on #728
Thanks @ajaybhargavb! :clap:

[2016-03-05 00:40] PinpointTownes commented on #729
Thanks Hao! :clap:

[2016-03-07 09:15] mikes-gh commented on #688
Unfortunately I can no longer compile in VS 2015
I am on Windows 7.

Steps I am taking

- Delete all packages in .nuget folder
- dnvm upgrade -u (giving 1.0.0-rc2-16595   clr     x86          win             default)
- dotnet restore
Compile gives loads of

error NU1008: "netstandard1.3" is an unsupported framework.

Apologies probably a known thing.

[2016-03-07 15:28] Tgueth opened #733 "release version does not compile without errors"
I downloaded the Security release repository (I am assuming that this is RC1) to my computer and opened in Visual Studio 2015.  I want to use the code to walk through the authorization process of AuthorizeAsync.  However, the code does not compile, too many to list

A number of issues keep this from compiling:

1) references appear out of date or non-operable.  In some case, I can remove all frame

[2016-03-07 17:34] Eilon commented on #733
You should never use the `release` branch - that's just for build stabilization while a release is being prepared. Instead, use `dev` for the latest, most up-to-date code, and use `master` for the latest public bits.

Can you try out `dev` or `master` and see if that works for you?

[2016-03-07 18:18] Tgueth commented on #733
Sorry, misunderstood the terminology.  Still learning to dig into this.  I am not ready to move to RC2 (lots of breaking changes mainly) but working to understand the parts of the underlying architecture so the RC1 release is just fine as I move an application to MVC6.

Sorry for my ignorance.  Will let you know if this solves my problem.

Tom

From: Eilon Lipton [mailto:notifications@github.com]

[2016-03-07 19:40] Tratcher commented on #688
I recommend using the command line for now.
`git clean -xdf`
`build`

[2016-03-07 19:47] Tgueth commented on #733
Okay, you are correct.  Master version does compile.  Thank you for the clarification.

[2016-03-07 21:18] mikes-gh commented on #688
Still no joy

[code]

[2016-03-07 22:24] Eilon commented on #733
Great, thanks!

[2016-03-07 22:24] #733 closed

[2016-03-08 00:43] Eilon commented on #688
I just did a clean clone and it's building just fine.

Perhaps clear out these folders too?
* `C:\Users\mikes\AppData\Local\Microsoft\dotnet`
* `C:\Users\mikes\.nuget`

?

[2016-03-08 09:18] mikes-gh commented on #688
Must be something wrong with my environment.

- New fork
- Clean down as per recommendations (see below)

Still getting
[code]

Output enclosed
[code]

[2016-03-08 11:55] lszomoru commented on #564
+1 on this request. I think that it would be nice if "Policy" would support the same construct as "Roles" where you can specify a comma separate list to do an OR among roles, and different attributes to do an AND among roles as documented here: https://docs.asp.net/en/latest/security/authorization/roles.html

[2016-03-08 19:39] Eilon commented on #688
Hmm I dunno, that's pretty weird. I was able to do several successful clean builds (on brand new clones).

[2016-03-08 19:40] Eilon commented on #688
A few other folders to try clearing out:

* `%LOCALAPPDATA%\dnu\cache\`
* `%USERPROFILE%\.dnx\packages\`
* `%USERPROFILE%\.nuget\`
* `%LOCALAPPDATA%\NuGet\Cache\`
* `%LOCALAPPDATA%\NuGet\v3-cache\`

[2016-03-08 20:01] Tratcher commented on #711
Maybe a property bag of error details?

[2016-03-08 21:44] mikes-gh commented on #688
I wonder if its a powershell thing I see the build scripts changed to powershell recently.
I am on windows 7 sp1 with powershell 3.  Wonder what the build servers or other users are running.
[code]

[2016-03-09 01:13] Eilon commented on #688
I ran the build from a CMD window. But apparently we do require PowerShell 4 (which Windows 7 doesn't have by default).

Here's what I have on Windows 10:

[code]

[2016-03-09 01:16] Eilon commented on #688
BTW logged a bug here to show some better error if the PowerShell version is too old: https://github.com/aspnet/KoreBuild/issues/30

[2016-03-09 10:11] mikes-gh opened #736 ".."

[2016-03-09 10:13] mikes-gh commented on #688
Unfortunately powershell 5 gives same result.
I dont think this is anything todo with Powershell 3
I narrowed it down using powershell debug to this line (i substituted the paths variables)

Command
[code]
Result
[code]

Doing a debug it seems dotnet restore does not supply any credentials to my proxy when in a powershell script.
If I run dotnet restore in a cmd window it seems works fine.

Thing

[2016-03-09 11:46] JimmyHannon commented on #699
The comment on the HandleResponse method states that all processing for the current request is discontinued and the request is returned to the client. However, i see that altough i call HandleResponse the middleware pipeline is continued and the next middleware gets called.
In the JwtBearerHandler AuthenticateResult.Success is called when HandledResponse is true.

Is the comment wrong or is the Jw

[2016-03-09 14:25] cwe1ss opened #738 "Why is Microsoft.AspNetCore.Authentication.OpenIdConnect on version 0.1.0?"
Hi, Currently `Microsoft.AspNetCore.Authentication.OpenIdConnect` has the version number `0.1.0-*`. Almost every other package has `1.0.0-*`. Is this intentional? Won't it be finished for V1?

[2016-03-09 15:19] #736 closed

[2016-03-09 16:36] akamud commented on #699
That's confusing me too. From what we can see from documentation, `HandleResponse` should skip all subsequent middlewares, this is not what is happening at the moment, at least not for `Microsoft.AspNet.Authentication.BaseControlContext.HandleResponse()`

[2016-03-09 17:18] #688 closed

[2016-03-09 17:41] Tratcher commented on #699
Hmm, that text is overly optimistic. There are only some code paths where the events can terminate the request early, and this isn't one of them. The HandleResponse mechanic is something we incorporated from the OIDC middleware and it looks like we haven't done a good job of plumbing it through the other middleware in a consistent way.  @HaoK, back to the whiteboard...

[2016-03-09 17:50] #704 closed

[2016-03-09 22:36] Fosol commented on #652
This is definitely a bug.  Just spent a few hours debugging.  @cuiliang provided the key for me to get my stuff 'working'.  rc1 doesn't let you set the AuthenticationSchema successfully.

[2016-03-09 23:08] HaoK commented on #652
I'll see if this still repros in RC2 and add test coverage either way covering using custom authentication schemes

[2016-03-10 14:55] #727 closed

[2016-03-10 23:11] Eilon commented on #699
As we are trying to shut down the work for RC2, we are moving this to the backlog.

[2016-03-10 23:11] #715 closed

[2016-03-11 00:54] Eilon commented on #726
Not going to change this at this time. Even though this assembly says AspNetCore in it and doesn't depend on other ASP.NET Core features, it's still technically part of ASP.NET's authN/authZ system. And it's nevertheless just fine to have a non-ASP.NET project reference this. (If you take this to an extreme, there are always *some* projects that don't reference ASP.NET, and that doesn't mean that

[2016-03-11 00:54] #726 closed

[2016-03-11 11:38] bragma opened #739 "Async handlers for resource based authorization"
Hi,
I am trying to use resource based auth, but all available docs seem to override a synchronous "Handle" method. I need to access external resources and I'd like to keep everything async. In the example auth handlers inherit from class "AuthorizationHandler" which forces me to implement the sync Handle method, even if the system seems to be able to handle async through "HandleAsync". In particul

[2016-03-11 12:39] cwe1ss commented on #726
Fair enough. Thanks for taking the time to think about it!

[2016-03-11 20:40] HaoK commented on #652
Okay I took a look and here's what I think is going on.

It looks to me like you don't really want to use sign in manager if you are registering your own cookie middleware.  What is going on mostly related to that mismatch.  You should replace the `SignInManager.LogOut` with direct calls to `context.Authentication.SignOut()` passing in the authenticationScheme you specify in the cookie options.

T

[2016-03-11 22:09] HaoK commented on #718
merged, thanks!  f5c1c45db20fd4592a3f49d4dc1d39dc5f62108c

[2016-03-11 22:09] #718 closed

[2016-03-13 14:36] SharpNoiZy opened #740 "Attribute Authorize didn't work with simple Requirement Policy"
Hi,

I have strange issue, I configured a simple policy:
[code]

The requirement is just empty.
The Handler does just Success().

The strange thing is, if I decorate my controller with it, I just see an empty white page and the handler code (Breakpoint) is not executed.
If I remove the attribute and call:
[code]
inside the action the handler is called and everything works.

Ideas?

[2016-03-14 22:22] rustd opened #742 "SignOutAsync should take [] of AuthenticationSchemes"
A user has to specify SignOut per authentication scheme as follows https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/OrganizationalAuth/Single/Controllers/AccountController.cs#L24
With this change we will have the same code as in Katana

[2016-03-14 22:28] Tratcher commented on #742
This issue was moved to aspnet/HttpAbstractions#585

[2016-03-14 22:28] #742 closed

[2016-03-14 22:30] Tratcher opened #743 "OIDC signout should return to CallbackPath then locally redirect to AuthProperties.RedirectUri"
Feedback from template reviews:

Default PostLogoutRedirectUri to CallbackPath. Listen on that path for signout callbacks and then apply the local redirect specified in auth properties. This prevents needing to register a separate redirect uri address with the provider.

If we do this do we still need PostLogoutRedirectUri? How do we reconcile it with AuthProperties.RedirectUri if both are set?

@

[2016-03-14 22:33] rustd opened #744 "What should be the defaults for ResponseType for OIDC"

[2016-03-14 22:45] Tratcher commented on #744
The current default is IdToken + Code. However, this requires the client secret to redeem the Code. This is problematic for some of the templates.

The current recommendation is to override the defaults in the template to IdToken and then followup on fixing the tooling so it can use the normal default IdToken + Code. No changes are recommended for the Security repo.

[2016-03-14 22:47] Tratcher commented on #744
@rustd Please move this to the correct tooling repo.
@phenning

[2016-03-14 23:08] rustd commented on #744
https://github.com/aspnet/Templates/issues/445 is tracking this

[2016-03-15 01:06] PinpointTownes commented on #744
The code flow is much safer compared to the other flows, specially since it prevents the user agent from accessing the access token or the identity token.

IMHO, it should be the default flow.

[2016-03-15 01:06] PinpointTownes commented on #742
The syntax in MVC would be much better if https://github.com/aspnet/Mvc/pull/4259 was merged.

/cc @danroth27

[2016-03-15 01:16] PinpointTownes commented on #743
Interesting approach, I like it. That said, it might be tricky to implement, since there's no logout-specific parameter: http://openid.net/specs/openid-connect-session-1_0.html#RPLogout.

A way to implement that would be using the `state` parameter to store the callback type.

[2016-03-15 06:03] leastprivilege commented on #744
Hybrid flow is the most secure default - so `code id_token`.

[2016-03-15 08:14] PinpointTownes commented on #744
@leastprivilege not sure to understand why or how, as the `code` flow exclusively uses backchannel communication and is the only one that can be used with any `response_mode`, including `query`.

The only thing the hybrid flow usually mitigates is unwanted token requests made to the identity provider, but it only works if the OIDC client implements anti-replay countermeasures (using `nonce`), whic

[2016-03-15 08:39] leastprivilege commented on #744
To quote Nat from the OpenID foundation:

The the front channel through the user agent is an untrusted transport.
Adversary can tamper the response and do bad things.
To prevent it, you need a signature on the response to detect it.
ID Token works as the detached signature so if you use the hybrid flow, you will be able to tell if the front channel payload has been tampered with or replaced by adv

[2016-03-15 08:53] PinpointTownes commented on #744
I agree the code replacement is a serious threat (that's why I was opposed to enabling `ShareCallbackPath` by default: https://github.com/aspnet/Security/pull/653#issuecomment-173655710), but I don't see how using the hybrid mitigates it.

If I can steal a `code`, I can also steal the corresponding `id_token` and send them both using my own machine (the only practical limit is the `nonce`, that mu

[2016-03-15 09:35] leastprivilege commented on #744
So coming back to the original thread - if there should be one default response type (especially for the templates) - then plain `id_token` is the easiest and most secure (same threat model as a WS-Fed signin - and no need for a client secret).

Once an access token is involved - hybrid (with nonce storage in a protected cookie + checking and short lived id tokens) provides the most mitigation tec

[2016-03-20 13:53] blowdart commented on #740
Trace the traffic either with fiddler, or your browser's dev tools, or add in the status code error middleware. What status code are you seeing?

Are you sure you have an actual user? How are you authenticating?

[2016-03-21 15:30] kennyrulez opened #750 "RSAOpenSsl "Unable to load DLL 'ncrypt.dll': The specified module could not be found.\n (Exception from HRESULT: 0x8007007E)""
Hello asp.net team!
Platform: dnx-coreclr-linux-x64.1.0.0-rc1-update1
I created an MVC6 website which uses bearer authentication.
Here is the startup.cs snippet where i set up the key and the bearer:
[code]
But, every time I run this project, I get the error

If I check on the output folder (after dnu restore && dnu publish ...) I cannot actually find any ncrypt.dll.

May you guys can help me?

[2016-03-21 15:39] vcsjones commented on #750
This might be a better question for dotnet/corefx. It shouldn't be trying to load ncrypt (CNG) on Linux.

[2016-03-21 17:26] PinpointTownes commented on #750
It was a Wilson bug, fixed in RC2: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/324.

[2016-03-21 17:47] #750 closed

[2016-03-21 17:48] #706 closed

[2016-03-22 10:21] SharpNoiZy commented on #740
Traced with Fiddler, and it just returns 401 and blank page.
But without entering my Requirement. (What it does if I use "_authz.AuthorizeAsync")

[2016-03-22 11:45] SharpNoiZy commented on #740
Can be closed, I followed a different tutorial and I think the issue was that I have to use HttpContext.Authentication.SignInAsync at some point of time to work with Requirements.
I thought that this would be just needed if I use the ASP Identity system.

[2016-03-22 11:48] benfoster commented on #739
I'd like to +1 this. One benefit of separate authZ handlers is that we can encapsulate complex authZ logic and inject external services. A fairly common scenario will be to load permissions from a database which should be async.

[2016-03-22 15:11] #740 closed

[2016-03-22 19:11] HaoK commented on #652
Closing, I believe the root issue is that even though you changed the auth scheme of the cookies, your signout calls (especially if you are using identity) need to be updated as well to pass in the updated scheme.  Your repro is doing a hash of some identity and some not, which makes it easy to run into this misconfiguration.

[2016-03-22 19:11] #652 closed

[2016-03-23 08:29] pauldotknopf opened #751 "Support getting the external login url without a traditional POST/redirect."
My use case is that I would like to open a popup window on the client for the user to authenticate with.

Right now, there is the ```ChallengeResult``` action result that will redirect the user (```Response.Redirect```) to the login page.

Instead, I would like to make a client-side post, returning a JSON object with the authentication url. Ignore now the intricacies of detecting a successful logi

[2016-03-24 14:15] #532 closed

[2016-03-24 16:13] benfoster opened #753 "AuthorizeAsync should not require a resource to be provided when passing a requirement"
`IAuthorizationService` has the following extension for authorizing using an `IAuthorizationRequirement` that requires a resource to be provided.

[code]

The resource should be optional or another extension method provided that does not require it since there are cases where we want to invoke an authorization handler but pass contextual information such as the operation that is being attempted (s

[2016-03-24 18:04] benfoster opened #754 "Using Authorization Policies for permissions"
I started this discussion on Twitter with @blowdart based on my experience as described [here](https://gist.github.com/benfoster/38745e169a285320d57b).

Essentially I was looking for a way to decorate my API actions with the permissions that users must have in order to access them. Using RC1 I end up with a one-to-one mapping between policies and handlers which is far from ideal. Really we want to

[2016-03-24 18:30] davidfowl commented on #754
When using the auth system with MVC the resource is the action itself. What's wrong with the policy provider approach? There's a general impedance mismatch as well because the whole idea was to decouple the system from mvc, so if you decorate controllers with data that you expect to flow to the handler then you're effectively coupling to mvc (which is maybe fine for your case).

[2016-03-24 18:36] blowdart commented on #754
I talked to @HaoK who is currently in Vegas. To provide support for both your custom policy provider could just fallback to the default policy provider.

[2016-03-24 19:07] benfoster commented on #754
Yeah I'm fine with that coupling. Our API is the entry point to our
resources. We'll still need some resource based policies but not
everywhere. I'd rather have this coupling than have to create a new policy
for every single permission in the app. Just my personal preference.

On Thursday, 24 March 2016, David Fowler <notifications@github.com> wrote:

[2016-03-24 21:59] bragma commented on #739
FYI, I've solved my problem in this way:
[code]

Then I inherit my handler classes from my AsyncAuthorizationHandler and override HandleAsync.

[2016-03-24 22:20] Eilon commented on #751
3rd party auth generally can't be run within a dialog in a traditional OAuth redirect - it requires a full-page handshake/post between the main app, and the auth provider. This can be done at most for local forms/cookie auth.

To do something like this you'd need to instead use the auth provider's client-side library, which might return a JWT token that can then be used with the main app using the

[2016-03-24 22:20] #751 closed

[2016-03-24 22:23] Eilon commented on #739
@HaoK any idea if there's a reason we made this sync? Is it called from a sync call stack or is almost everything already async all the way down?

[2016-03-24 22:54] Eilon commented on #738
@cwe1ss sorry for the delay getting back to you.

This package, along with a few other packages (such as the SignalR packages), have been marked as version 0.1.0 to indicate that we are less certain it will be at the quality level needed to consider it an "RTM" release.

The main reason this package is in that state is that it has had relatively little usage, and relatively little feedback, so we

[2016-03-24 22:54] #738 closed

[2016-03-25 17:24] #690 closed

[2016-03-25 20:46] strtdusty opened #755 "DefaultAuthorizationService call to _logger.UserAuthorizationSucceeded always has a null user"
All of my API call logs say "Authorization was successful for user: null" because Name is always null on user.Identity.  It seems the name would always be populated from an identity token which usually wouldn't be passed to an API.  It seems the best you could do here would be to log the sub claim?  Maybe I'm missing something though.

[2016-03-28 22:44] gzak opened #757 "HTTPS sites behind HTTP load balancers and OpenIdConnect middleware"
I've encountered an interesting catch-22 case today with our current setup. We have an app which is hosted on a secured domain, e.g. `https://mysite.com`. Requests to that domain actually hit a load balancer, which forwards the request to the proper service but via plain-old HTTP.

We've registered our site with Thinktecture's Identity Server to use an HTTPS redirect url for the OpenId callback pa

[2016-03-28 23:25] Tratcher commented on #757
Does your load balancer set the x-forwarded-proto header to tell you what the original scheme was? If so you can use this: https://github.com/aspnet/BasicMiddleware/blob/dev/samples/HttpOverridesSample/Startup.cs#L13

This should update HttpRequest.Scheme so your link generation works correctly.

[2016-03-29 17:45] gzak commented on #757
Is this available in RC1? That's what we're currently using.

[2016-03-29 17:53] gzak commented on #757
Never mind, found it!

The current names start with `OverrideHeaders` instead of `ForwardedHeaders`. Let me see if this works.

[2016-03-29 17:57] gzak commented on #757
One more question: I looked through the UseIISPlatformHandler logic, and it appears to look for the scheme and ip and things of that nature, so should I register it before or after the forwarders? Or what's the effect one way or the other?

[2016-03-29 18:07] Tratcher commented on #757
UseIISPlatformHandler had some duplicated logic from OverrideHeaders (since consolidated in RC2). Does your site look like this?
Load balancer -> IIS -> Kestrel

Does your load balancer supply x-forwarded-proto headers? There's a known issue with HttpPlatformHandler 1.2 where it will overwrite the x-forwarded-proto rather than append to it (since fixed in AspNetCoreModule for RC2).

If this all ge

[2016-03-29 21:01] blowdart commented on #755
@HaoK - probably need a few claims to look for here, not just name

[2016-03-29 21:04] HaoK commented on #755
Yeah we assumed name would be universally available, guess not for API, We could trim the msg when there's no name.  Or is there a backup claim we can use instead of name?  NameIdentifier?

[2016-03-29 21:08] blowdart commented on #755
Yea, fall back to NameIdentifier, then maybe SID & UPN? Are we checking the NameClaimType? We should honour that first

[2016-03-29 21:13] HaoK commented on #755
We don't do much logic right now, we can replace the simple logic with a helper method that does fallback if name is null

https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authorization/DefaultAuthorizationService.cs#L54

[2016-03-29 21:14] blowdart commented on #755
Yea, that needs improving :)

[2016-03-29 21:15] blowdart commented on #755
Can you squeeze it into RC2?

[2016-03-29 21:20] HaoK commented on #755
This should go through triage since its only affecting logging messages

[2016-03-29 21:22] blowdart commented on #755
Spoilsport :p I'm still leaving it assigned to you though

[2016-03-30 01:13] gzak commented on #757
Well, it turns out our load balancer does not add the x-forwarded-proto header, but the fallback workaround works fine. Thanks!

[2016-03-30 20:58] HaoK commented on #739
In general most of the handlers today are sync so we optimized for this case.  Is the current situation that unreasonable since async only is not blocked, as metioned either by not using our sugar base class, or overriding the async method and ignoring/no-oping the abstract sync Handle.

[2016-03-30 21:47] Tratcher commented on #743
When looking into this I found that:
- AAD does not restrict the value of post_logout_redirect_uri like it should
- AAD does not flow state to the post_logout_redirect_uri like it should
- Google doesn't implement end_session_endpoint at all

Putting this in backlog until AAD gets this sorted out on their end.

[2016-03-30 22:01] brockallen commented on #743
I was just testing with AAD today (via OIDC) and it was passing back the state param on post signout redirects.

[2016-03-30 22:37] Tratcher commented on #743
@brockallen Hmm, I just tested it today as well.

Here's what my initial signout redirect looks like:
[code]
But all I get back is:
[code]

How about you?

[2016-03-30 23:06] brockallen commented on #743
[code]

[2016-03-30 23:09] PinpointTownes commented on #743
@brockallen there's a huge difference between your logout request and the one sent by @Tratcher.

In your case, the state is appended to the `post_logout_redirect_uri` URL while @Tratcher used the standard `state` parameter to flow it.

[2016-03-30 23:15] brockallen commented on #743
Oh, yes good point. I had the state param on my mind, but hadn't noticed the difference.

[2016-03-31 15:59] Eilon commented on #739
Ok then closing this out.

[2016-03-31 15:59] #739 closed

[2016-03-31 16:10] leastprivilege commented on #739
Because all you sample code pulls the data from the claims of the user.

I would say any serious resource authorization handler would need to do some sort of IO to come to a conclusion.

The default should be async.

[2016-03-31 16:32] #757 closed

[2016-03-31 17:09] brentschmaltz commented on #755
For OIDC, the 'sub' claim is required.
@strtdusty what flow are you using? OIDC MW or OAuth MW.
What provider are you using?

[2016-03-31 17:10] strtdusty commented on #755
OIDC MW using AAD
On Mar 31, 2016 10:09 AM, "BrentSchmaltz" <notifications@github.com> wrote:

[2016-03-31 17:19] brentschmaltz commented on #755
@strtdusty Identity.Name transitively maps to 'unique_name'.  There is a way to control which claim is used to back Identity.Name.

[2016-03-31 17:19] blowdart commented on #755
OK so we need sub too :)

[2016-03-31 17:23] strtdusty commented on #755
I think sub would work fine. Probably the best option if all that is
available is the access token.
On Mar 31, 2016 10:20 AM, "Barry Dorrans" <notifications@github.com> wrote:

[2016-03-31 20:10] HaoK commented on #755
4d6ad51f8a9354d8e62cf8d66db97bd991b7d93c

[2016-03-31 20:10] #755 closed

[2016-04-01 20:43] PinpointTownes opened #760 "AuthenticationHandler.InitializeAsync chokes when HandleAuthenticateAsync returns null"
When working on [the events model of the aspnet-contrib introspection middleware](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/pull/18), @MonkeyJamboree discovered that returning `null` from `HandleAuthenticateAsync` caused a `NullReferenceException`:

[code]

This exception is likely caused by this null check: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetC

[2016-04-01 22:13] HaoK commented on #760
5cd236c1b069cebecf53dbe6380e39933986eb47

[2016-04-01 22:13] #760 closed

[2016-04-01 23:35] DovydasNavickas opened #762 "Counting of failed authentications to limit system-abuse"
We we're talking with @PinpointTownes and @MonkeyJamboree that it would be nice-to-have counting of failed authentications to limit system-abuse. Most probably not up until RTM, but some time in the future, it would be really helpful to have this.

Ideally there would be mechanism diagnosing the system-abuse and when it thinks that there is one - reports it via event for the developer to act. Not

[2016-04-02 00:03] DovydasNavickas commented on #762
@MonkeyJamboree

Exactly what this issue is about: preventing abuse of both resource and authorization servers.

[2016-04-02 09:02] abdelkader27 opened #763 "How to use cookie storage with JWT middleware?"
I have read that localstorage is unsafe for storing the jwt on the client browser. So is it possible to use cookies to save the token on the browser with the Jwt bearer middleware or I need to implement my own middleware to use cookies with jwt?

[2016-04-04 08:46] dronlinux opened #764 "VS 2013 OpenIdConnectAuthenticationNotifications RedirectToIdentityProvider"
Hello!

Can't find sample: How to add **timestamp** to URL in RedirectToIdentityProvider. ? I need this parameter for OpenId Connect 1.0 server

[2016-04-04 14:56] Tratcher opened #765 "Get the user's e-mail address from Twitter"
Getting the user's e-mail address from Twitter is a pain. You have to contact Twitter support to request the permission for your app. Then you have to send a request to an additional endpoint. The auth middleware should support optionally sending this request.

http://stackoverflow.com/questions/22627083/can-we-get-email-id-from-twitter-oauth-api/32852370#32852370
http://stackoverflow.com/question

[2016-04-04 17:15] emanoelxavier opened #766 "Application startup fails when registering AzureActiveDirectoryBearerAuthentication and the federation endpoint is down"
On my service startup I am using UseWindowsAzureActiveDirectoryBearerAuthentication and providing the metadata address as part of the AuthenticationOptions. When the application starts the middleware is registered and if the provided address is not reachable the start up fails with:

[WebException: The remote name could not be resolved: 'login.windows-ppe2.net']
   System.Net.HttpWebRequest.EndGet

[2016-04-04 17:18] blowdart commented on #766
This isn't an ASP.NET Core issue, so closing. It's an issue with previous versions. But to answer your question, no, there's no way to ignore the error.

[2016-04-04 17:18] #766 closed

[2016-04-04 17:59] gzak opened #767 "It seems like PostLogoutRedirectUri doesn't do anything in OIDC"
Looking though the RC1 branch, I only see that property getting set, I never see it getting read. Has this functionality simply not been implemented yet in RC1?

That's certainly what we're seeing in our app. On signout, we expect the user to get redirected to our identity server's logout path, but there's no redirect.

[2016-04-04 18:39] Tratcher commented on #767
It's here: https://github.com/aspnet/Security/blob/1.0.0-rc1/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L82-L93

[2016-04-04 18:40] Tratcher commented on #767
It sounds like you're confusing PostLogoutRedirectUri with EndSessionEndpoint from the config metadata. EndSessionEndpoint is where you're redirected to log out. PostLogoutRedirectUri is where you're redirected after the logout has finished.

[2016-04-04 18:44] gzak commented on #767
You're right about my confusion of the two properties. The `options` for OIDC exposes a `PostLogoutRedirectUri` property, but no `EndSessionEndpoint` property. Should it be handled in an even handler? Or just do it in manually in our main signout action method?

Regarding the reference you pointed out, I saw that too but didn't see any subsequent usage of that property from the `message` object. S

[2016-04-04 18:45] gzak commented on #767
Nvm, found it, it's in `options.Configuration` rather than on `options` directly. Will try and let you know what behavior I get.

[2016-04-04 18:48] blowdart commented on #764
This is not an ASP.NET Core issue if you're using VS2013. Please ask on StackOverflow.

[2016-04-04 18:48] #764 closed

[2016-04-04 18:50] Tratcher commented on #767
PostLogoutRedirectUri isn't consumed locally, it's consumed by the identity server after sign-out.

[2016-04-04 18:53] Tratcher commented on #764
The OpenIdConnectMessage is an open property bag, try `context.ProtocolMessage.Parameters["timestamp"] = myTimestamp;`

[2016-04-04 18:54] gzak commented on #767
Is there an example of setting the `EndSessionEndpoint` property? I noticed that in the `Action<OpenIdConnectOptions>` overload of configuring the OIDC options, the `options.Configuration` property is null. If I set it to a new instance with just the `EndSessionEndpoint

[2016-04-04 18:56] Tratcher commented on #767
EndSessionEndpoint shouldn't be set locally, it should be set in the metadata document downloaded from the identity server. Failing that, you need to set the entire Configuration.

[2016-04-04 19:30] gzak commented on #767
We're trying to enable [RP-initiated logout](http://openid.net/specs/openid-connect-session-1_0.html#RPLogout). But it looks like the only way to do so is to implement our own logout action on some controller, and in it, do something like this:

[code]

Which means that I have to capture that endpoint from ID server's metadata response and expose it to the app. It feels a bit icky, spreading ident

[2016-04-04 19:42] adammodlin opened #768 "Supported for "hosted domain" authentication URI parameter?"
I want to limit my Google Auth to a specific Google Apps custom domain. According to the Google documentation (https://developers.google.com/identity/protocols/OpenIDConnect#authenticationuriparameters), you can do this by adding a "hosted domain" parameter to the authentication URI.

If this isn't supported currently (and I don't think it is) I'd like to help implement it and would appreciate any

[2016-04-04 19:49] adammodlin commented on #768
Specifically, it looks like the adding of the parameter might happen in GoogleHandler.cs around line 88. Would need to figure out how to inject the hd parameter and where to validate that the returned ID token has an hd claim as well.

[2016-04-04 20:39] Tratcher commented on #768
OIDC is a superset of OAuth2.

I don’t see that property in the OAuth2 docs:
https://developers.google.com/identity/protocols/OAuth2WebServer#redirecting

I think you’d have to enforce this after the external login flow.

That said, you can also use the OpenIdConnect middleware with Google. In that case you’d hook one of the redirect events and add your property to the OpenIdConnectMessage.

[2016-04-04 20:45] adammodlin commented on #768
I think I will just enforce it after the login flow which is currently what I have implemented.

It looks like if you add that query param to google even for their OAuth2 redirection it is honored but since it's not part of their docs I understand why you wouldn't want to support it.

Appreciate the input, it would be nice if we had an out-of-the-box solution for this.

[2016-04-04 20:56] Tratcher commented on #767
It should be:

[code]

What's the full response status and headers when you do this?

[2016-04-04 22:10] Tratcher commented on #768
Adding the extra field to the url wouldn't be a big deal, but validating the result is a different matter. OAuth treats all the tokens as opaque, where OIDC has a defined format. The OAuth middleware isn't equipped to open up the token and validate the contents.

Maybe in the future we'll provide a GoogleOIDC middleware that implements quirks like this.

[2016-04-04 22:32] adammodlin commented on #768
Thanks for explaining the differences, I'm not very familiar with them so I
appreciate it. That makes sense, I will just ensure that the email address
claim matches my custom domain inside of the login/register methods.

On Mon, Apr 4, 2016, 18:10 Chris R <notifications@github.com> wrote:

[2016-04-04 22:37] gzak commented on #767
Interesting, I assumed that `Ok()` and `new EmptyResult()` were roughly the same, but it's definitely redirecting to the `EndSessionEndpoint` now as expected. The response from there was a 302 to the identity server's `/logout` route.

Thank you!

[2016-04-04 22:41] Tratcher commented on #767
FYI: in RC2 this can all be replaced by `new SignOutResult("Cookies", "Oidc");` to avoid this kind of confusion.

[2016-04-05 00:53] PinpointTownes commented on #767
... or better:

[code]

[2016-04-05 10:24] Lutando opened #769 "AuthenticationScheme: Bearer was forbidden"
I have an RC2 application `rc2-20222` in which I am protecting my RESTful endpoints with resource scope claims.

Upon updating my project this morning I noticed that authentication was not working anymore.

In my Startup.cs

[code]

and I add my policies using the normal method.

[code]
here is a skeleton of my controller
[code]

And I am getting the following messages via log output:

[code]

tha

[2016-04-05 17:26] blowdart commented on #763
Did what you read give a reason? If the reason was "It's unencrypted and anyone can change it" the same is true for cookies. JWT is meant to be stored client side, and sent client side outside of a cookie, storing it in a cookie takes away the CSRF protection bearer tokens give.

[2016-04-05 20:32] Tratcher commented on #769
Your authentication seems fine, it's your authorization that's failing.
[code]
Start by making sure your AuthorizationPolicy is correct and that your user has the requisite claims.

[2016-04-05 20:32] Tratcher commented on #769
@HaoK

[2016-04-05 21:15] HaoK commented on #769
Yeah most likely the scope claim wasn't found since that's the most likely requirement to have failed.

[2016-04-06 06:44] Lutando commented on #769
The scope claim is definitely exists in the JWT and it appears in the Auth header. I have a stripped down version of the application. Similar code works fine if I run this scenario in its `rc1-update1` variant. Maybe now is a good time to mention that I am targeting the `dnx451` framework.

Code that can reproduce the issue can be found here - > https://github.com/Lutando/SecurityIssue769

[2016-04-06 14:48] Tratcher commented on #765
[code]

[2016-04-06 20:44] bragma commented on #739
In fact I was asking myself if I am doing something wrong. In my case, I have users that can have different roles on different tenants. Which roles they have is stored in different DB tables. One possible way for keeping authorization sync is to prepopulate the user with all the claims for the different roles, then just check the claims from the authorization. But this means hitting the DB to get

[2016-04-06 21:10] Eilon commented on #739
I think it's important to keep in mind that these checks are intended to be quick, because they'll be happening a lot. So going to a DB is fine, but it might need to be cached to get any real performance. And once it's cached, the check will be quick. So perhaps the first check will be a slower sync blocked call, but then after that it should be fast, and thus CPU bound and sync is fine. Perf woul

[2016-04-06 21:21] benfoster commented on #739
@Eilon I don't think that's good justification for making a blocking sync call. We could use the same argument for the entire framework - "just cache it".

A better model would be something similar to action filters where we have an option to implement either a sync or async version.

[2016-04-06 22:50] Eilon commented on #739
Per @HaoK 's comment earlier it sounds like it *is* possible to do async, but just not using some of the helper base classes that help some of the most common cases.

[2016-04-07 04:40] leastprivilege commented on #739
even caching APIs typically use an async signature today.

Please re-open that for post RC2.

[2016-04-07 05:21] HaoK commented on #739
The core APIs are already async, the helper is async as well, just override the HandleAsync.  We chose to make it slightly easier to implement sync only via the abstract virtual Handle, but there's nothing preventing you from doing whichever you like, or even implementing the interface directly if you so chose.

[2016-04-07 05:28] liquidboy opened #770 "Multiple ASP.NET OpenID Connect cookies created .. eventually hitting browser limits"
Our ASP.NET MVC Core application has OpenID Connect configured ...
We don't use ASP.NET session ...

Seems like the constant back and forth between the ASP.NET MVC application and an IdentityProvider site causes MANY "ASPNet.OpenIDConnect.Nonce & State" cookies to be created ...

... and eventually there will be too many cookies and the browser crashes ... we hit these "no of cookies per domain" l

[2016-04-07 06:26] liquidboy commented on #770
I believe I found a similar issue related to the katana project :  http://katanaproject.codeplex.com/workitem/402

[2016-04-07 06:39] liquidboy commented on #770
my apologies .. after more research it seems this is related to the already created issue  #179

[2016-04-07 06:53] liquidboy commented on #179
sorry to bring up an old issue BUT I just encountered this today with our ASP.NET MVC app using OpenIDConnect ...  in this issue #770

Basically our testers were routinely getting the "bad request" problem as their automated tests are doing MANY redirects per second and thus hitting browser max cookies with nonce cookies..  (as per attached images in my issue)

[2016-04-07 08:17] bragma commented on #739
@Eilon I confirm it's entirely possible to do what you say without much work. I've posted a sample of my AsyncAuthorizationHandler classes.

Still I have to agree with @leastprivilege that even caches are async nowdays. Aside from the case of a single server application, all scaled out solutions probably require some sort of distributed caches and most of them use an async API. Just look at the ne

[2016-04-07 09:05] davidfowl commented on #739
Sounds like a documentation bug to me.

[2016-04-07 09:14] davidfowl commented on #739
That is a problem. We do the same thing in MVC with Filters for compatibility (https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/Filters/ActionFilterAttribute.cs) but nothing i abstract. Everything on the base should be virtual.

/cc @HaoK @Eilon

[2016-04-07 12:33] Tratcher commented on #770
Are you testing error scenarios or successful logins? Those cookies should be deleted durring sucessful login flows:
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L439
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L789
https://github.com/aspnet/Sec

[2016-04-07 13:54] jmickael commented on #770
I solved this issue by cleaning up the cookie before each signon.  I used a NuGet package called
Kentor.OwinCookieSaver 1.1.1
After using this package I haven't seen the problem since.  I added this to my Startup pipeline:

    public partial class Startup
    {
        /// <summary>
        /// Configures OpenIDConnect Authentication & Adds Custom Application Authorization Logic on User Login.

[2016-04-07 14:02] Tratcher commented on #770
FYI: Kentor.OwinCookieSaver's approach is very brittle. https://github.com/KentorIT/owin-cookie-saver/blob/master/Kentor.OwinCookieSaver/KentorOwinCookieSaverMiddleware.cs#L32 Re-parsing cookies is problematic at best, and the same goes for setting headers after Next.

[2016-04-07 14:02] #770 closed

[2016-04-07 16:02] abdelkader27 commented on #763
It's possible to use Http only, so the cookie can't be read.

[2016-04-07 16:29] blowdart commented on #763
That's not entirely true. It can only not be read by the browser. An attacker can still see it if they have access to the machine,

[2016-04-07 16:46] dallancarr commented on #763
CSRF protection is least of your worries in that case.

[2016-04-07 16:46] blowdart commented on #763
True. But remember you can't get access to localstorage unless you're hosted on a page on the website that set it. So you'd need XSS first.

[2016-04-07 18:12] dallancarr commented on #763
Absolutely I am not sure of any useful vunerabilty around stealing a short lived jwt as there would be other safeguards one hopes.

[2016-04-07 19:16] abdelkader27 commented on #763
Thank you for your answers, I just hope that in the futur the developer will have the choice.

[2016-04-07 19:18] blowdart commented on #763
To use cookies for JWT? Nope, opens up too much CSRF.

[2016-04-07 19:20] #763 closed

[2016-04-07 21:49] liquidboy commented on #770
@Tratcher  I believe the problem is the test user isn't even logging in ....  they are hitting the IdentityProvider then going back to the ASP.NET Core MVC app  without logging in  (RegisterUser or ForgotPassword links)  ... see screen flow below ...

Thus I believe this is why the Nonce cookies are not getting cleared out .. ie the test user isn't going thru the login process thus the nonce isn't

[2016-04-07 21:49] HaoK commented on #739
If making the sync no-op virtual instead of abstract makes everyone happy that's an easy fix.  The only downside is it won't be very obvious which method needs to be implemented anymore but that can be up to samples/documentation

[2016-04-07 22:15] Eilon commented on #762
In general the underlying authentication provider would have logic like this. For example, ASP.NET Core Identity has a "max failed login attempts" that it tracks, Azure AD has some similar behavior, etc.

There's an event for handling "remote failures" of authentication here: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/Events/IRemoteAuthenticationEvents.cs#L

[2016-04-07 22:18] Eilon commented on #765
Let's add a specific option to the Twitter Options to enable grabbing the email.

[2016-04-07 22:19] #767 closed

[2016-04-07 22:27] Eilon commented on #768
Our recommendation for using OIDC with Google is to use the OIDC middleware that is also available in ASP.NET Core.

[2016-04-07 22:30] Eilon commented on #769
@HaoK can you take a look at this?

[2016-04-07 22:30] adammodlin commented on #768
I see, so you recommend I use the generic OpenIDConnect middleware with Google if I need this functionality? Thanks for great responses, I am very excited for .NET Core.

[2016-04-08 16:39] Tratcher commented on #768
Yes, with the generic OIDC middleware you have access to the protocol via Events to do this all in a more structured fashion.

[2016-04-08 20:01] robianmcd commented on #297
@HaoK do you know of any working examples that demonstrate this? I'm trying to follow the example you gave in your last comment but my Handler never gets instantiated. All the examples I can find use the same class to inherit from `IAuthorizationRequirement` and `AuthorizationHandler` so I can't use DI

[2016-04-11 17:19] Tratcher opened #772 "Add OIDC test coverage"
OIDC does not have sufficient test coverage. Many tests were removed or disabled due to breaking changes or redesigns. Check our coverage and fill in the gaps.

Note there are some pseudo-functional tests in MusicStore that could be moved here.

Related: https://github.com/aspnet/Security/issues/349 - Move OIDC tests to their own project.

[2016-04-11 18:13] Tratcher opened #773 "Binding Secure cookies to ITlsTokenBindingFeature"
Any protected cookie marked as Secure should also use ITlsTokenBindingFeature as part of its protection.

Today CookieAuth always uses ITlsTokenBindingFeature if it's available, ignoring CookieSecureOption. Check CookieSecureOption before applying ITlsTokenBindingFeature.

Other protected data to consider:
OAuth state field
OIDC state fields
OIDC nonce
Twitter request token

[2016-04-11 18:13] Tratcher commented on #773
Re: https://github.com/aspnet/IISIntegration/issues/31

[2016-04-12 00:36] HaoK commented on #769
This repro is missing the important part of the repro which is what's in the JWT token/identity.

One thing you can try, can you eliminate the explicit authentication scheme in your Auth?  That might be causing issues since you already have AuthomaticAuthenticate and Challenge enabled.

See if that makes any difference.

Basically get rid of the "Bearer" array

[code]

[2016-04-12 00:43] PinpointTownes opened #775 "Push fixed IdentityModel packages to aspnetcidev"
IdentityModel was recently updated to fix a regression in the JWT stack that prevented JWT tokens from being correctly signed when calling `JwtSecurityTokenHandler.WriteToken`.

Sadly, all the ASP.NET MyGet feeds (including aspnetcidev) are still using the old package:

![image](https://cloud.githubusercontent.com/assets/6998306/14446595/302a394a-0058-11e6-9814-51ee234ac8f1.png)

![image](https://

[2016-04-12 03:30] kwaclaw commented on #775
Is there a workaround? Maybe appending RawSignature to token string?

[2016-04-12 07:24] Eilon commented on #775
@PinpointTownes just so you know, this will happen automatically the next time we get a good build, so there's no specific action to take here.

[2016-04-12 11:48] PinpointTownes commented on #775
@Eilon by "good build", I guess you mean coherent ASP.NET Core packages?

AFAICT, new ASP.NET Core packages were pushed a few times last week and probably 3 or 4 times yesterday (the last wave was pushed 7 hours ago, at the time of writing).

[2016-04-12 13:58] Tratcher commented on #775
We only pull the identity model packages when we pull our other dependencies like core clr and cli. Some of those dependencies have been blocked for a few days.

[2016-04-12 14:27] PinpointTownes commented on #775
Alright. The JWT bug is causing too much pain to the ASOS/OpenIddict users ATM so I'll update the aspnet-contrib feed to mirror the Azure AD packages.

Leaving this ticket open to make sure RC2-final gets the fixed package.

[2016-04-12 17:35] Eilon commented on #775
Indeed, our build process takes a snapshot of the latest CLR, CLI, CoreFX, Roslyn, and Azure AD/Identity packages all at once, runs tests on that, and if it passes, it accepts them all. If anything fails, we block the acceptance so that we can investigate.

[2016-04-12 18:20] PinpointTownes commented on #775
@Eilon thanks for the info.

FYI, mirroring the Azure AD packages on the aspnet-contrib allowed us to fix the JWT bug.

[2016-04-12 21:39] vibronet opened #776 "JwtBearer does not return any useful info when failing to validate/accept a token"
It is currently very challenging to troubleshoot validation failures originated in the JwtBearer middleware. The client doesn't get back the reasons for which the token failed the validation, which makes it very tough to identify common error situations (such as audience mismatch, untrusted issuers, and so on).
I suggest that the JwtBearer middleware should return some indication about the failure

[2016-04-12 21:48] Tratcher commented on #776
@blowdart

[2016-04-12 21:51] Tratcher commented on #776
The first problem is getting meaningful errors out of ValidateToken. See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/312.

[2016-04-12 22:51] blowdart commented on #776
If we can get the information then we should return it somehow.

[2016-04-13 06:27] Lutando commented on #769
@HaoK then how can I register different policies for each of my endpoints?

How will I do explicit authentication on my resources/actions then?

Basically I want different requirements for each of my API endpoints/resources. Nothing too complicated just that I want to model my scopes around my (different) resources that my API provides access to.

AuthorizationPolicy() requires an argument of enum

[2016-04-13 07:02] HaoK commented on #769
You can register a different policy per endpoint using different policy names.  You can pass in an empty list for the auth schemes, you can try the other overload which might be a little cleaner for that:

[code]

From your simple repro, its almost certainly caused by no scope claim with "myscope" being found in the JwtBearer identity.

[2016-04-13 07:23] Lutando commented on #769
When I try that I still get an error via Kestrel Logging:

[code]

I am certain that the scope claim exists in the JWT since it is there when I decode it and when I peek inside` HttpContext.User.Identity.Claims` within my controller (without Authorize annotation) I can see all the claims correctly populated there.

[2016-04-13 13:30] stap123 opened #777 "LinkedIn Authentication"
Is there any plan to implement a LinkedIn authentication namespace to allow authorisation against LinkedIn credentials?

Adam

[2016-04-13 13:43] Tratcher commented on #777
No, but there's a comunity implementation available here:
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.LinkedIn

[2016-04-13 13:54] #777 closed

[2016-04-13 18:38] vibronet commented on #744
I know this was already clodes, but I concur with @leastprivilege - a good default for the MW would be id_token.

[2016-04-13 19:25] HaoK commented on #769
Well there must be something wrong with your identity,

The following test works fine for me, so double check that your identity is actually Authenticated (does it have an authentication type specified or you can remove the RequireAuthenticatedUser to see if that lets it through, also that the casing is correct in your claims).

[code]

[2016-04-13 23:07] Tratcher commented on #743
Followup: AAD does restrict post_logout_redirect_uri to the same host, but it doesn't mater what the path is. Postponing this feature until further notice.

[2016-04-14 14:42] Kukkimonsuta opened #779 "JwtBearer deserializes multiple claims with same key"
## Setup

JWT
[code]

## Expected behavior

I get following in `HttpContext.User.Claims`

Type | Value | ValueType
------------ | ------------- | -------------
name | Foo Bar | http://www.w3.org/2001/XMLSchema#string
iss | http://test.local/api/ | http://www.w3.org/2001/XMLSchema#string
aud | http://test.local/api/ | http://www.w3.org/2001/XMLSchema#string
exp | 1460647835 | http://www.w3.org/2001

[2016-04-14 14:47] Tratcher commented on #779
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#366

[2016-04-14 14:47] #779 closed

[2016-04-14 16:41] gdoron commented on #435
@Tratcher
Hi Chris, I'm posting here after a day or two of searching the web and Stack Overflow for solution for this one. :cry:

(We are using RC1-final, and can't upgrade to RC2 until there will be VS tooling support for RC2)

I'm using the same code suggested earlier by @Jayman1305 to get the *first_name*, *last_name*, *email* and *significant_other* of the user:

	app.UseFacebookAuthentication

[2016-04-14 22:48] Eilon commented on #772
@BrennanConroy please discuss with @Tratcher .

[2016-04-14 22:56] Eilon commented on #776
Need to get a grasp on what the top hard-to-debug/hard-to-diagnose issues are.

Some problem areas:
* Audience mismatch
* Issuers that the app doesn't like
* Tokens outside of valid window (e.g. expired, not yet valid)
* Signature failures (e.g. key not found)

Some of these already have specific exceptions associated with them.

[2016-04-14 22:58] Eilon commented on #776
Should look into what's valid in the WWW-Authenticate header to transmit the diagnostic message. http://www.ietf.org/rfc/rfc2617.txt

[2016-04-14 23:02] Eilon commented on #754
Doesn't seem to be any further action required here. You should be able to try the latest stable RC2 bits from the MyGet feed at https://www.myget.org/gallery/aspnetrelease

[2016-04-14 23:02] #754 closed

[2016-04-14 23:07] Eilon commented on #753
We will clear this up in the doc comments for the APIs.

[2016-04-15 02:59] PinpointTownes commented on #776
Definitely a good idea (FWIW, we'll implement a similar thing in the aspnet-contrib validation and introspection middleware in the next version).

That said, it might be interesting to provide an option to turn off these details, for people who don't want to disclose them (we had a similar discussion with @MonkeyJamboree about ASOS' introspection endpoint, and whether we should tell the caller why

[2016-04-15 04:30] nickcam opened #780 "CookieAuthenticationHandler IsPersistent with UTC dates"
Hi Guys,

Just stumbled across a small bug I think.
Line 243 in CookieAuthenticationHandler.
[code]
The date signInContext.CookieOptions.Expires has the correct value, but it's kind is Unspecified, so when added to the cookie it gets converted to UTC again.

I've got a local copy of this class and just changed that line to
`signInContext.CookieOptions.Expires = DateTime.SpecifyKind(expiresUtc.ToUn

[2016-04-15 12:28] redknightlois opened #781 "[Question] Why would I get "Unable to resolve service for type 'xxxOptions' "?"
Hi guys,

Been trying to figure out this for a long time already, with no luck and/or idea why it happens. I am using RC1-Update2 on the CLR.

I am building the scafolding to put an API Key authentication token in there. The code looks like this: https://gist.github.com/redknightlois/0178c0abf9d7c6e5584f1e0ccab901df

I have both: ```services.AddAuthentication(sharedOptions => sharedOptions.SignInS

[2016-04-15 13:48] Tratcher commented on #781
You either need to register it or change your constructor to take `IOptions<TokenAuthenticationOptions>`.

[2016-04-15 13:50] redknightlois commented on #781
Awesome!!! Worked like a charm!!! Thanks.

[2016-04-15 13:50] #781 closed

[2016-04-15 16:57] PinpointTownes commented on #773
On a related note, you should also consider adding an option in the cookies middleware to disable this feature as it may prevent sharing cookies with OWIN/Katana apps using the interop stuff.

[2016-04-15 17:29] Tratcher commented on #773
I'd prefer to enable/disable ITlsTokenBindingFeature at the source (e.g. the server) rather than at each consumption point.

[2016-04-15 17:32] PinpointTownes commented on #773
Well, I guess we could argue that one may want to disable it for a specific cookie only, rather than for the entire app, but either way, I'm fine.

[2016-04-15 17:33] Eilon commented on #776
@PinpointTownes good point!

[2016-04-16 00:12] Eilon commented on #775
@PinpointTownes we now have `Microsoft.IdentityModel.*` v1.0.0-rc2-304071940 on aspnetvnext (dev) and aspnetrelease (release). Is that all you need?

[2016-04-16 00:17] PinpointTownes commented on #775
Yep, thanks! That said, there's another (major) bug in Wilson, that impacts JSON array deserialization in the JWT stack: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/365.

I'd recommend keeping this ticket open to ensure RC2 final gets the appropriate fix.

[2016-04-16 02:34] dotnetshadow commented on #435
I agree it would be great to just see a very simple example of using the facebook stuff in asp.net core where you can define x number of fields, i.e. last_name, first_name, birthday options.Scope.Add("last_name") and just see the results come back without using any other nuget packages.

[2016-04-16 17:19] LeandroPT commented on #667
Is this still for backlog?

Any workarounds?

[2016-04-16 21:00] gdoron opened #783 "How to get additional fields using the Facebook provider in RC1?"
I'm using ASP.NET core RC1 (and can't upgrade to the not yet release RC2 nightly builds because of the lack of VS support in RC2).

I'm trying to get additional fields from Facebook (`first_name`, `last_name`, `email` and `significant_other`).

I used the code suggested on [this issue][1]:

	app.UseFacebookAuthentication(options =>
    {
        options.AppId = Configuration["Authentication:Facebo

[2016-04-16 21:17] PinpointTownes commented on #783
_Cross-posted from SO: http://stackoverflow.com/questions/36669666/how-to-get-additional-fields-using-the-facebook-provider-in-asp-net-core-rc1_

__________

In RC1, the Facebook middleware automatically stores the email as a claim, but not the first name or last name so you need to manually extract them using the event model if you want to be able to retrieve from application code:

    app.UseFa

[2016-04-16 22:14] gdoron commented on #783
Yes, sorry for the cross posting.
I needed it urgently for tomorrow morning, and already Googled for 3 days or so. :cry:
Tons of non-working answers out there.

[2016-04-16 22:14] #783 closed

[2016-04-16 23:11] gdoron commented on #435
@dotnetshadow [Great answer was given on stackoverflow](http://stackoverflow.com/q/36669666/601179)

[2016-04-17 14:03] dotnetshadow commented on #435
@gdorn thank you so much I didn't see that before. I saw a comment that said:

Will this will across all fields or only specific ones? Say birhtday? gender? etc

[2016-04-17 14:13] gdoron commented on #435
@dotnetshadow from reading the conversation on the pull request, it's clear it's only for first+last names.
All others will still need manual configuration (by design).

[2016-04-17 18:25] StevenVandenBroeck commented on #322
Any news on this ?
Is there already something that can be injected and contains the current principal ?

[2016-04-17 18:31] davidfowl commented on #322
You can get it from the `IHttpContextAccessor`

[2016-04-18 02:01] slaneyrw opened #784 "AuthorizationContext questions - Fail scenarios and non-async code"
Backgound - I'm "forward" patching the authorization framework into our existing ASP.NET 5 MVC and have some questions regarding the Authorization assembly/system

The Fail method and HasFailed property on the AuthorizationContext class do not appear to be used.  Is it your intention that failing to call success for a requirement constitutes as a policy failure ?

The backing store **_failedCalled

[2016-04-18 05:18] MonkeyJamboree opened #785 "Authorization Block comments and change to IAuthorizationService"
Hey all,

After some discussion with @PinpointTownes about the JWT middleware and looking at the Authorization block (at https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.Authorization), I have some comments and suggestions for improvement.

First off, Awesome job at abstracting out the interfaces, particularly the `IAuthorizationRequirement` abstraction and `AuthorizationHandle

[2016-04-18 05:21] MonkeyJamboree opened #786 "Better abstraction for AuthorizationPolicyBuilder"
I suggest moving most of the `Require*` methods on AuthorizationPolicyBuilder to extensions that rely on either the `AddRequirements` method or directly adds the requirements to the `Requirements` property.

The intent of this change would be to keep the builder's API simple and abstracted away from any given `IAuthorizationRequirement` implementation.

[2016-04-18 05:25] MonkeyJamboree commented on #784
I noticed the sync/async weirdness with the handlers as well. Particularly the fact that `IAuthorizationHandler` exposes `HandleAsync` but not `Handle`, however the `AuthorizationHandler<TRequirement>` class provides both sync and async functionality. It seems that it may be prudent to either add sync functionality to the interface (or provide a secondary interface that does so) and make the `Hand

[2016-04-18 07:33] StevenVandenBroeck commented on #322
Thanks, that works.
Will this be the only way in the future or will there be a more generic object (like IPrincipalContext or something) ? It feels kinda strange having to inject a http-ish object in my business classes.

[2016-04-18 07:35] davidfowl commented on #322
You should pass in the `ClaimsPrincipal` directly then 😄

[2016-04-18 14:52] MonkeyJamboree commented on #785
What, exactly, is the reasoning for using ClaimsPrincipal instead of something more flexible or all-encompassing? Also, could generics be used on the handler/requirements so that the stack can be used without any explicit dependencies?

[2016-04-18 17:12] Eilon commented on #775
@PinpointTownes sure no problem.

[2016-04-18 21:16] ikourfaln opened #787 "Microsoft.AspNetCore.Authentication.Github"
hi,

please Im looking for configuring Github OAuth provider for ASP.NET Core.
I find this http://www.oauthforaspnet.com but its not for asp.net core.
plz can someone give me a source or a tut to find how ?

thanx for advance

[2016-04-18 21:21] Tratcher commented on #787
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.GitHub

[2016-04-18 22:25] ikourfaln commented on #787
Thanx a lot @Tratcher

[2016-04-18 22:25] #787 closed

[2016-04-19 13:40] jaredcnance commented on #102
What is the status on being able to treat Azure AD like any other OAuth provider as @Tratcher demonstrates above?

It seems odd to me that Azure AD provides OAuth endpoints but I can't seem to get the middleware to work with it.

[2016-04-19 13:41] gaia-ggm opened #788 "Could not be resolved"
Hi,

I am getting the following message when I try to restore packages for my project:

Do you know anything about this error?

[2016-04-19 16:15] moozzyk commented on #788
The package is there: https://www.nuget.org/packages/Microsoft.AspNet.Authentication.JwtBearer/1.0.0-rc1-final
Show your project.json

[2016-04-19 16:21] gaia-ggm commented on #788
That's what I find strange. Here is my project.json file.

`{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Core.Model": "",
    "Core.Repositories": "",
    "Infrastructure.Repositories": "",
    "Microsoft.AspNet.Authentication.JwtBearer": "1.0.0-rc1-final",
    "Microsoft.AspNet.Cors": "6.0.0-rc1-final",
    "Microsoft.AspNet.IISPlat

[2016-04-20 16:31] Tratcher commented on #102
@jaredcnance Any reason you can't use the OpenIdConnect middleware?

[2016-04-20 18:58] Tratcher commented on #744
Reopening. The current recommendation is to change the middleware to default to id_token.

[2016-04-20 19:13] PinpointTownes commented on #744
Why not an "hybrid" approach?

`response_type` could default to `id_token` if `client_secret` is missing, `code id_token` if it's not.

[2016-04-20 19:14] Tratcher commented on #744
magic interdependent properties? :cry:

[2016-04-20 19:17] blowdart commented on #744
Oh yea, no magic please.

[2016-04-20 19:20] PinpointTownes commented on #744
Well, it's a compromise, not an ideal proposal :trollface:

I'm still 100% convinced that confidential clients - like server-side apps - should use the code flow, as mentioned by the OIDC spec:

http://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth

http://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth

[2016-04-21 14:39] dotnetshadow commented on #435
@gdoron Ahh ok and by manual configuration you mean
`options.Scope.Add("gender")`
or
`Fields.Add("gender")`

I haven't kept up with how it's changed from RC1

[2016-04-21 15:51] tuespetre opened #789 "How to handle scenarios involving expires_in and refresh_token with OAuth"
We are using `CookieAuthenticationHandler` with `OAuthAuthenticationHandler`. Right now we are calling `context.RejectIdenty()` in the `ValidatePrincipal` event of the cookie authentication handler, but this has negative consequences for POST requests.

We need to be able to invalidate users' authentication tickets when the `expires_in` limit has been reached, and we need to handle this opaquely,

[2016-04-21 17:35] tuespetre commented on #789
I have put together an initial working implementation. I am using RC1 and I know a couple of details will change with RC2.

In `ValidatePrincipal`, after checking some things:
[code]

The `Refresh` extension method:
[code]

It's not a super amount of code to have to paste in each project, but it would still be nice if the OAuth library offered functionality similar to this.

[2016-04-21 20:46] HaoK commented on #789
Yeah there's nothing built in for this, Identity needed to do something similar and has its own SecurityStampValidator: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SecurityStampValidator.cs

[2016-04-21 20:49] HaoK commented on #789
I'm not sure we would add something specifically for OAuth but I do agree that there could be value in making it easier to plug into the ValidatePrincipal event that doesn't require quite so many manual steps.

[2016-04-21 22:20] Tratcher commented on #744
Changed to IdToken in dev and release.

[2016-04-21 22:20] #744 closed

[2016-04-21 22:34] SzymonSasin commented on #652
I have similar setup and problem.

 I am using the UseIdentity on app with a custom( but 95% the same) code for AddIdentity. My change is to not use roles and to provide a custom  IUserClaimsPrincipalFactory<TUser>.
When I run on IISExpress I am able to log ing/out only once, after that I am getting the " No authentication handler is configured". However if I switch to Kestrel, everything works ju

[2016-04-21 22:39] Eilon commented on #776
@brentschmaltz can you add a comment here with which exceptions are thrown for the cases we are concerned about?

[2016-04-21 23:02] Eilon commented on #789
Ultimately there's nothing we know of that can be automatically done to preserve the browser's POST. A particular app could implement a behavior where values are posted via JavaScript, or perhaps preserved in browser local storage, but it would be an app-specific behavior.

One possible app-specific mitigation is to have periodic pings of the server to keep various tokens/cookies alive, and detect

[2016-04-21 23:02] #789 closed

[2016-04-21 23:07] Eilon commented on #785
At this time we are not looking to make such changes to the system. We believe that the current implementation supports a wide variety of scenarios, and is easy to use for most scenarios. Though we could certainly add more flexibility in some cases, we think it would make the more common scenarios more difficult to achieve.

[2016-04-21 23:07] #785 closed

[2016-04-21 23:07] Eilon commented on #786
At this time we are not looking to make such changes to the system.

[2016-04-21 23:07] #786 closed

[2016-04-21 23:11] Eilon commented on #780
Can we look into why we aren't using `DateTimeOffset`? That might help resolve some of this.

[2016-04-21 23:32] Eilon commented on #788
I just tried this by creating a `project.json` file with the JSON above, except that I removed these lines:

[code]

Then I ran `dnu restore` and it succeeded.

[2016-04-22 06:47] tuespetre commented on #789
@Eilon my point was that the 'refresh token' feature of OAuth does in fact offer a means of keeping the posted data intact while obtaining a new access token for the user. Of course, nothing can be done for cases where the cookie itself has expired, or become corrupt or otherwise impossible to deserialize or use, or has gone 'missing' from the browser. I have ideas in mind to deal with such scenar

[2016-04-22 08:10] leastprivilege commented on #789
Refresh tokens are for native applications (either server or client side). Once you are in such an environment you have plenty of options to "encapsulate" the refresh and always have a fresh token.

Not sure why this has to be linked to cookies or a POST - they a different concepts.

I wrapped that e.g. in an HTTP message handler.

https://github.com/IdentityModel/IdentityModel/blob/master/source/

[2016-04-22 13:11] tuespetre commented on #789
The basic description of refresh tokens in the spec just mentions 'client', though under security considerations, it says that `Authorization servers MAY issue refresh tokens to web application
   clients and native application clients.`

I was providing my use-case-slash-background-story. I'm sorry, I should have been more explicit in stating that this issue is supposed to be a feature request. R

[2016-04-22 15:51] grahamehorner opened #792 "Add example for Azure AD B2C"
Please consider adding an example for Azure AD B2C

[2016-04-22 16:44] Tratcher commented on #792
@vibronet?

[2016-04-22 16:45] kichalla opened #794 "Exception thrown when 'Microsoft.AspNetCore.Authentication.JwtBearer' tries to log a message"
https://github.com/aspnet/Security/blob/4d6ad51f8a9354d8e62cf8d66db97bd991b7d93c/src/Microsoft.AspNetCore.Authentication.JwtBearer/LoggingExtensions.cs#L37

Originally reported here: https://github.com/aspnet/Logging/issues/410

[2016-04-22 17:01] #794 closed

[2016-04-22 17:08] grahamehorner commented on #792
I have found a sample which uses OWIN with Azure AD B2C and I'm looking to use this as a base for a ASP.NET CORE 1.0 version; however I have a blocker as I'm unable to allocate/convert the follow line of code or locate the referenced dictionary ?

OpenIdConnectConfiguration config = await mgr.GetConfigurationByPolicyAsync(CancellationToken.None, notification.OwinContext.Authentication.Authenticati

[2016-04-22 20:27] Tratcher commented on #792
Can you link to that sample for context?

[2016-04-22 23:29] Tratcher opened #795 "OIDC argument validation"
The OIDC middleware does not validate if you set the ClientId or authority. It tries to fetch the metadata anyways, fails silently, and then generates redirects without any base uris.

We also need a better error if you fail to set the ClientSecret, but do enable one of the Code flows. Right now you'll get a 400/401 trying to redeem the code.

[2016-04-23 00:38] PinpointTownes commented on #795
:+1: for requiring `ClientId` but :-1: for throwing an error if `ClientSecret` is not set, since one might want to use client authentication assertions instead of the good old `client_id`/`client_secret` couple.

[2016-04-24 15:02] lranders opened #797 "The Postback from ADFS "4" to /signin-oidc in case of errors seems unhandled and results in a server error 500"
Just for kicks I tried to misspell the **resource** parameter so ADFS couldn't find it.
The ADFS server is Windows 2016TP4.

That resulted in what looks like an unhandled exception and returned a blank page.
Is that supposed to happen?

I'm using the bits that come with ASP.NET 5 ("Microsoft.AspNet.Authentication.OpenIdConnect": "1.0.0-rc1-final") pulled in from the standard app template as it sta

[2016-04-25 08:42] gaia-ggm commented on #788
The problem is now solved. Somehow the NuGet package soruce had been deselected in Visual Sudio. When I checked it again everything works again.

![image](https://cloud.githubusercontent.com/assets/15210260/14778279/5ab26730-0ad2-11e6-805f-e29edfaa11ef.png)

[2016-04-25 08:42] #788 closed

[2016-04-25 08:43] grahamehorner commented on #792
here is the link for your reference https://github.com/AzureADQuickStarts/B2C-WebApp-OpenIDConnect-DotNet-SUSI  I would like to get this  working using ASP.NET CORE so that I can deploy on a Linux environment and/or with in Service Fabric and given this example is OWIN based it would be great to have a NON-OWIN implementation using kestrel.

[2016-04-25 09:10] mikes-gh opened #798 "[Authorize] http -> https default behaviour?"
Does [Authorise] always redirect to https?

What I am trying to do is pulish to IIS but debug on plain http kestrel server on dev machine.
Whats the best way of going about this.

I tried using conditional compilation on [RequireHttps] which works but it looks like [Authorize] always try for https.

Obviously in production I am using https.  I didn't really want to add https support to kestrel for

[2016-04-25 17:13] Tratcher commented on #798
What authentication middleware are you using? Cookies? OAuth? OIDC?

Is the redirect local or remote?

When generating local redirects we use the same scheme as the current request.

[2016-04-25 18:28] mikes-gh commented on #798
I am using Google and and Facebook so I guess OAuth and the following Indentity setup.

[code]

Probably misunderstanding the process sorry.

[2016-04-25 20:31] Tratcher commented on #798
That seems fine. Please share the rest of your Startup

[2016-04-25 20:35] Tratcher commented on #792
This will be hard until https://github.com/aspnet/Security/pull/799 goes in.

[2016-04-25 20:46] Tratcher commented on #797
Enable the DeveloperExceptionPage to see the error.

This has improved in RC2.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs#L404
Hook into the Options.Events.OnRemoteFailure event to handle it.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/Events/RemoteAuthenticationEvents.cs#L11

[2016-04-25 21:04] ryanbrandenburg commented on #775
@PinpointTownes we've had coherent builds since your note about the JSON de-serialization, is there a quick way you can double check that those fixes made it in or are you good?

[2016-04-25 23:34] PinpointTownes commented on #775
@ryanbrandenburg thanks! I'll ping @stephenstroud tomorrow and see if the recent builds fixed the issue he was seeing with multiple claims/JSON arrays.

[2016-04-26 07:36] mikes-gh commented on #798
@Tratcher
[code]

[2016-04-26 15:12] lranders commented on #797
Yes, I'm already using the DeveloperExceptionPage and it popped up when I had the MetadataAddress pointer spelled out with an **s** at the end. IDX10803/4.

That's why I noted the odd behavior with **resource** invalid; was expecting the same exception page, but got nothing. It wasn't until I was looking at the Network tab in Google Chrome (F12) that I noticed the status code 500 return from /sign

[2016-04-26 16:59] PinpointTownes opened #800 "Update CookieAuthenticationHandler.ApplyHeaders to honor AuthenticationProperties.RedirectUri"
Currently, this code doesn't work as `CookieAuthenticationHandler.ApplyHeaders` doesn't honor `AuthenticationProperties.RedirectUri` (instead, you get an empty result). It would be great to fix that in the next milestone.

[code]

[2016-04-27 16:31] Tratcher commented on #800
Note that the use of RedirectUri varies. In cases like Challenge it is used as the final destination after authentication is complete. Using it directly for SignOut may be fine though.

[2016-04-27 16:39] Tratcher commented on #798
Seems fine. One other place to check is your x-forwarded-* request headers. Please share the headers for an affected request.

[2016-04-27 16:40] PinpointTownes commented on #800
Well, AFAICT, we've removed all the problematic uses of `RedirectUri` (e.g https://github.com/aspnet/Security/pull/275), which is now basically just a `ReturnUrl` and nothing more.

[2016-04-27 17:33] Tratcher opened #801 "Authorize GitHub causes infinite redirects or Correlation failed"
Trying to directly authorize one of the redirecting middleware causes infinite loops. This only works for middleware that directly contain the identity like Cookies or Bearer. We should throw NotSupportedException if you try to call AuthorizeAsync("GitHub").

`[Authorize(ActiveAuthenticationSchemes = "GitHub-AccessToken")]`

Chrome gets infinite redirects. IE does as well, but sometimes gets:
[cod

[2016-04-27 17:41] Tratcher commented on #801
The middleware that do not contain an identity could also call AuthorizeAsync(SignInScheme) internally  to retrieve the identity instead of throwing.

[2016-04-27 17:50] Tratcher commented on #798
Nevermind, I was considering a different issue. Try putting this before MVC:
[code]

[2016-04-28 08:49] ChrisProlls opened #803 "AuthorizationHandler and database dependency injection"
We develop an multi-tenant application based on Identity authentication. Each user get a token session, stored in database, to tell if the user is still connected (with expiration time). I store the token (and others informations about the user company) in user `Claim`. After that Identity detect that the user is still connected (or not), I need to check if the user token is still valid in our dat

[2016-04-28 09:13] ChrisProlls commented on #803
I found the solution to use `IServiceProvider` for the moment, so I get my database service into the `Handler` method and not via dependency injection, not so clean solution ...

[2016-04-28 09:15] PinpointTownes commented on #775
@ryanbrandenburg fix confirmed, thanks :clap:

![image](https://cloud.githubusercontent.com/assets/6998306/14880980/44fed718-0d32-11e6-947e-7d8d2851d247.png)

[2016-04-28 09:15] #775 closed

[2016-04-28 09:26] mikes-gh commented on #798
That gives a page whose only content is the text http :smile:

I did some more testing.  I was getting different results with chrome.
I deleted the browser history in IE and it worked.
Its as if IE had cached the redirect

Any idea what's going on here?

[2016-04-28 10:55] Jargon64 commented on #297
@robianmcd Did you find out how to do this? I'm in exactly the same situation. My handler is never instantiated and I can't find a working example anywhere. @HaoK Are you able to clarify on how to do this?

[2016-04-28 11:42] nickcam commented on #605
Hi, I've had a crack at creating some middleware to support Ws-Fed. Created a repository here: https://github.com/nickcam/Asp.Net5-WsFedAuth

It's pretty basic, essentially just inherits from / implements the cookie auth middleware, but adds some hooks and options to support WsFed. The main part is really just deciphering the SAML token returned from the IdP.

Doesn't support dnxcore though (uses

[2016-04-28 14:06] robianmcd commented on #297
@Jargon64 no I never figured it out. I just gave up on using requirements :(

[2016-04-28 14:10] Jargon64 commented on #297
@robianmcd I've actually got a little further as I found this: https://docs.asp.net/en/latest/security/authorization/dependencyinjection.html

I can see that my handler is being instantiated now but the `Handle` method is never called. Beginning to think this is a bug so may open a ticket about it.

[2016-04-28 15:06] herecydev commented on #499
Is this still an issue for RC1 @HaoK ?

Given the following middleware configuration:

[code]

When the MVC returns a 403 this is "caught" and made into a 302 redirect to the login page (causing endless redirects). My assumption was it would use the default `AccessDeniedPath` but it seems to ignore it.

[2016-04-28 15:55] #762 closed

[2016-04-28 16:07] Jargon64 opened #804 "Responding with 401 redirects to login when *not* using cookie authentication"
I have a project that uses Angular for the front-end and JWT authentication, and has no references to any kind of cookie authentication in `Startup.cs`. Yet when issuing a 401 it responds with a 302 and redirects the browser to `/Account/Login`.

My searches have yielded this issue https://github.com/aspnet/Security/issues/687 which states you cannot null the redirect because that's how cookie aut

[2016-04-28 16:21] frapid opened #805 "How to access Http Request on Custom Authorization Policy Handle Event?"
[code]
I use a custom bearer based token authentication. The following requirements should be met to get authorized:

- The token was not revoked
- The user agent should match with what's stored

Now I wonder, how could I access the request headers here?

[2016-04-28 16:38] Tratcher commented on #804
Are you using Identity or any other auth components?

[2016-04-28 16:44] Jargon64 commented on #804
@Tratcher I am, I map the JWT token to an Identity so I can use it throughout the rest of the app. Is there something I need to disable in its options?

[2016-04-28 16:46] Tratcher commented on #804
Identity is cookies based, it does not integrate with JWT. Correct @HaoK?

[2016-04-28 16:51] mikes-gh opened #806 "Clash of AuthorizationContext naming with aspnetcirelease bits rc2-*"
Looks like someone did a rename recently causing my code to not compile
I know I can add a namespace but ...
[code]

Or is it a move?

[2016-04-28 17:04] Jargon64 commented on #804
@Tratcher Are you sure? I have a JWT bearer token resolving to an Identity and can be successfully tested with Postman without using any cookies.

[2016-04-28 17:07] Tratcher commented on #804
I think we're confusing each other. By Identity I mean the Identity management framework https://github.com/aspnet/identity, not just a ClaimsIdentity.

[2016-04-28 17:20] #765 closed

[2016-04-28 17:21] Jargon64 commented on #804
Fair enough, but the project does use the Identity framework to deal with user registration and authentication before a JWT token is generated. Is this where the problem lies?

[2016-04-28 17:28] Tratcher commented on #804
Ah, that's what I thought. Yes, Identity uses multiple cookie middleware internally. Your best option is not to return 403s directly, but to use HttpContext.Authentication.Forbid("Bearer") or Challenge("Bearer");

[2016-04-28 18:32] Tratcher commented on #798
Huh, that's a new one. Have you been able to repro it since clearing your cache?

[2016-04-28 19:13] Eilon commented on #499
@Tratcher any idea on this?

[2016-04-28 19:23] Eilon commented on #798
In MVC there's a `[RequireHttps]` filter but that's about it. I'm not aware of anything else in the system that would do that.

[2016-04-28 19:24] Eilon commented on #801
@Tratcher does this seem RC2-worthy? How easy is it to hit this?

[2016-04-28 19:25] Tratcher commented on #801
No, this is a design / mis-use issue. We need to refine the design and/or provide better guidance.

[2016-04-28 19:26] Eilon commented on #801
Ah ok.

[2016-04-28 20:07] mikes-gh commented on #798
I found this  http://stackoverflow.com/questions/9130422/how-long-do-browsers-cache-http-301s
Require HTTPS attribute uses 301.
Its nor clear when (if ever) IE clears it's 301 cache.
This explains some other strange behaviour.I have been seeing.
Consider the developer removes the requirehttps attribute.  If the dev  tests using IE he will still see the HTTPS page. Depending on browser and what pag

[2016-04-28 20:14] Eilon commented on #806
@Tratcher @HaoK didn't we talk about moving this or renaming it a long time ago? I can't seem to find a bug on it though.

[2016-04-28 20:27] Eilon commented on #798
When you have `[RequireHttps]` it's usually permanent, so 301 does make sense. It seems unlikely that someone would only temporarily want to have such a redirect.

[2016-04-28 20:27] Eilon commented on #798
(Except during development, I suppose.)

[2016-04-28 20:39] mikes-gh commented on #798
Yes but 301 means preeminent for ever.  Perhaps you wanted to allow page in http having previously require httpp . You can't undo that with  301.  It's a one way trip. I'd be interested to see what other frameworks do I'll do some research.

[2016-04-28 20:46] Tratcher commented on #806
I thought that was AuthenticationResult.

[2016-04-28 21:24] Tratcher commented on #499
That's odd, we don't intercept 403s, only 401s.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/AuthenticationHandler.cs#L150

[2016-04-28 21:49] mikes-gh commented on #798
Put it this way [RequireHttps] is an attribute you can add and remove.  It's just code after all.  It's effect however  is permenant and one way.  The behaviour of the site can become different to the code.

Basically if you use this attribute perhaps by mistake even  once you can never go back to the http version.

301 is more about moving entire sites forever.

[2016-04-29 07:54] herecydev commented on #499
I've made the [most simple gist]()https://gist.github.com/herecydev/b729403448943f3df5229767e4981c12 I could to demonstrate this.

Given an end user that does not have the claim there, I'm seeing endless redirects.

[2016-04-29 09:50] Jargon64 commented on #804
Thanks for the input, I'll have to work out how to go down this route cause the problematic endpoint itself is using a custom policy, which I have been unable to get working for other reasons (might be creating a separate issue for it soon). Returning the 401/403 manually was actually a workaround that is also proving problematic.

Anyway, just trying to understand the whole situation with the Ide

[2016-04-29 14:05] mikes-gh commented on #798
I'm moving this to MVC where it belongs now I understand the issue.

[2016-04-29 14:05] #798 closed

[2016-04-29 16:16] Tratcher commented on #804
@haok?

[2016-04-29 16:47] Eilon commented on #806
Oh maybe.

[2016-04-29 16:53] Tratcher commented on #499
Oh, MVC isn't setting a 403 anywhere in your gist. It's failing to authorize which triggers another login flow. I think you're hitting this issue: https://github.com/aspnet/Security/issues/667

[2016-04-29 17:30] herecydev commented on #499
Ah okay, perhaps I made some assumptions about this, so sorry about that. How exactly does the Authorize attribute work if it doesn't return a 403?

[2016-04-29 17:37] Tratcher commented on #499
It invokes HttpContext.Authentication.Challenge. For authenticated but not authorized Cookies or Bearer this can produce a 403, but for most of the other auth middleware this causes an infinite loop.

[2016-04-29 17:38] Tratcher commented on #801
Related to: https://github.com/aspnet/Security/issues/667

[2016-04-29 17:42] herecydev commented on #499
Thanks, I'll keep tabs on the related issue. Hoping this will go into RC2!

[2016-04-29 17:53] Tratcher commented on #499
No, it's scheduled for post RC2. We're out of time for RC2 features.

[2016-04-29 20:51] danroth27 opened #808 "Update OIDC package version to be 1.0.0-rc2"
Currently the OIDC package is 0.1.0. We should update it's version to align with the rest of the packages we plan to ship with RTW.

[2016-04-29 20:53] Tratcher commented on #808
Has something changed? Last we discussed this it was going to stay 0.1 for RC2 and only be upgraded when it meets its RTM criteria.

[2016-04-29 20:55] blowdart commented on #808
What @Tratcher said. The discussions ended up with OIDC reaching RTM after Core.

[2016-04-29 21:03] Tratcher commented on #808
There's a chance it can make it at the same time as core, but it has some quality bars it needs to reach first.

[2016-05-01 14:02] joeaudette opened #809 "why is CookieAuthenticationOptions in the namespace Microsoft.AspNetCore.Builder?"
Forgive me if this is a silly question, maybe there are good reasons, but when reading the code for [CookieAuthenticationOptions](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs) I noticed it is in the namespace "Microsoft.AspNetCore.Builder"

To me that seems weird, I would expect it to be in the same namspace as the middl

[2016-05-01 14:50] PinpointTownes commented on #809
That's the direct consequence of abandoning the "delegate-style extensions": `CookieAuthenticationOptions` must be in a common namespace  (else, people would have to add a `using` to be able to configure the authentication options):

[code]

You can read [this thread](https://github.com/aspnet/Options/issues/105) for more information.

[2016-05-01 15:00] joeaudette commented on #809
Thanks! Very enlightening!

[2016-05-01 15:00] #809 closed

[2016-05-01 15:02] brockallen commented on #809
The short summary is that programming is hard (especially finding namespaces) :)

[2016-05-01 15:07] PinpointTownes commented on #809
Yep, that was a pretty good reason to keep the "delegate-style extensions" (and there were a few other ones: https://github.com/aspnet/Options/issues/105#issuecomment-168866368).

FWIW, I've decided to keep the overloads accepting an `Action<TOptions>` in all the _aspnet-contrib_ projects, including the OAuth2/OpenID2 social providers. They offer a so much nicer experience, IMHO.

[2016-05-02 00:19] chemitaxis opened #810 "Social Login"
Hi, I'm using ASP.NET Core, RC1 Update 1, when use facebook login, I never obain the email, but all is fine. Any ideas? Thanks.

// REVIEW: handle case where email not in claims?
var email = loginInfo.ExternalPrincipal.FindFirstValue(ClaimTypes.Email);

[2016-05-02 00:30] smbecker commented on #810
Is this what your looking for?

https://github.com/aspnet/Security/issues/783

[2016-05-02 02:57] HaoK commented on #806
We might be able to hide AuthenticationContext once the public AuthenticateAsync that used to take it is goes away.

[2016-05-02 03:01] HaoK commented on #804
Identity basically has two pieces, `AddIdentity` adds the `UserManager` and the assorted other APIs needed to use the framework to your service collection.  `UseIdentity` is really only adding cookie middleware (which `SignInManager` implicitly works against).  So if you want to use the identity APIs but not cookies, then just remove the `UseIdentity` in your startup, and do not use SignInManager,

[2016-05-02 03:03] HaoK commented on #804
@divega @blowdart Maybe we should rename `UseIdentity` => `UseIdentityCookies` to clarify what its actually doing.

[2016-05-02 03:04] blowdart commented on #804
Works for me

[2016-05-02 03:04] HaoK commented on #804
Or we could call it `UseSignInCookies`, since its really SignInManager that depends on the cookies

[2016-05-02 03:09] HaoK commented on #769
Closing this as I can't reproduce any issue with the framework code, please reopen if you are still seeing issues

[2016-05-02 03:09] #769 closed

[2016-05-02 07:42] divega commented on #804
Seems a good idea to change the name to make things clearer but we are running out if time for breaking changes. Is "use cookie authentication with Identity" a good way to convey what it means?

[2016-05-02 15:23] HaoK commented on #804
Actually now that I think about it, I think we discussed something more specific in the past but decided UseIdentity was better since we could potentially add more than just cookies in the future, so this is better future proofing.

[2016-05-03 03:48] chemitaxis commented on #810
Yes, thanks ;)

[2016-05-03 03:48] divega commented on #804
If we decided to add "more than just cookies" in the future,  what is the likehood that we would need a separate method to add an alternative to cookies?

[2016-05-03 05:55] HaoK commented on #804
I don't mean as an alternative to cookies, I mean UseIdentity could add some other middleware that is needed for new features

[2016-05-03 07:36] Eilon commented on #808
From an email with @vibronet, let's change this to 1.0.0-rc2.

[2016-05-03 14:04] brockallen commented on #804
@HaoK this thread: https://github.com/aspnet/Identity/issues/621

[2016-05-03 14:11] #810 closed

[2016-05-03 15:53] grahamehorner commented on #792
I don't understand how #799 relates? please explain I would have thought the config.json would be used for to hold the settings?

[2016-05-03 17:10] #808 closed

[2016-05-04 22:52] anurse commented on #53
This came up during my testing and it was hard to diagnose. Can we improve the error message? Right now it just says:

[code]

[2016-05-05 15:50] Eilon commented on #53
Yes, but not in RC2 😄

[2016-05-05 18:58] anurse opened #812 "Log failed authentication"
Should failed authentication be logged at some level? Even on LogLevel.Debug, I don't see any logging. When I messed with the token to see if it would cause authentication to fail, it did (good) but it didn't log anything about the malformed token (bad, maybe?).

/cc @HaoK @blowdart @Tratcher

[2016-05-05 22:04] muratg commented on #784
@HaoK Could you have a look?

[2016-05-05 22:06] muratg commented on #792
We're planning to release samples in RTM

[2016-05-05 22:08] muratg commented on #797
@brentschmaltz @tushargupta51 Could you guys take a look? (Please see the error above which seems to come from AAD)

cc @vibronet

[2016-05-05 22:10] muratg commented on #800
Let's investigate in 1.0.0.

[2016-05-05 22:18] muratg commented on #805
This is documented [here](https://docs.asp.net/en/latest/security/authorization/policies.html#accessing-request-context-in-handlers). Please have a look and let us know if it doesn't work for you.

[2016-05-05 22:18] #805 closed

[2016-05-05 22:23] muratg commented on #812
@anurse How did you cause the failure? What was the token type you messed with?

[2016-05-05 22:30] Tratcher commented on #812
Offline notes: he manually edited the cookie and then it failed to decrypt.
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/DataHandler/SecureDataFormat.cs#L55
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/DataHandler/SecureDataFormat.cs#L67
https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/

[2016-05-05 22:35] blowdart commented on #803
I need some clarity here. Where is the connection string stored? How does it get there? I am guessing you have a central database somewhere, and when a user logs in you store this mysterious token in it, and that resolves to a database somehow? And when the user logs out you lose this, because there's no user any more? That's kind of how it's expected to work. If the user is anonymous their identi

[2016-05-06 10:21] RonniePitts commented on #770
back on this subject again, I've noticed after multiple requests users will start failing to authentication.
It seems to get stuck after the notification OnResponseSignedIn and returns back unauthenticated.. Restarting the server temporary fixes the issue.

[2016-05-06 11:29] LeandroPT opened #813 "SecurityTokenInvalidSignatureException: IDX10503: Signature validation failed."
Hey,

Since yesterday i am getting an error logging in with the following:

`SecurityTokenInvalidSignatureException: IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey , KeyId: EEAQF9KmrMLBL5bA26otNEfOY1k`

The actual problem is:
[code]

Apparently there is a problem with references in the nuget package.

forcing in dependencies:
`"System.Security.Cr

[2016-05-06 17:12] Tratcher commented on #813
Looks like you've jumped to the post RC2 packages. Does it work if you go back to the RC2 packages via the Release feed? You may have to specify `-rc2-*` in your dependencies.
https://github.com/aspnet/Home/wiki/NuGet-feeds

[2016-05-06 17:45] anurse opened #814 "CookiePolicy middleware can't affect CookieAuthentication middleware"
Because the CookieAuthentication middleware does it's own cookie-writing manually (see https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/ChunkingCookieManager.cs), the CookiePolicy middleware can't affect it. This is easily seen by doing something like this in your Startup.cs

[code]

CookiePolicy works by replacing the `IResponseCookiesFeature`, but Cooki

[2016-05-07 02:55] brockallen commented on #814
Does this mean there are 2 different ways to emit cookies in ASP.NET Core then?

[2016-05-07 14:06] Tratcher commented on #814
Sortof. HttpContext.Response.Cookies.Append and HttpContext.Response.Headers.Append can both be used to set a set-cookie header. Note you could also do this in Asp.Net 4. The difference between 4 and Core is that in Core the headers are the source of truth, where in 4 there was a cookies collection that would overwrite the headers just before sending the response.

[2016-05-07 15:43] davidfowl commented on #814
This feels like something we should fix post RC2.

[2016-05-09 16:08] anurse commented on #814
@davidfowl Agree entirely. It's a functional change, yes, but a fairly edge-case scenario and I agree it need not be a priority for RC2.

[2016-05-09 23:00] StephenGilboy opened #815 "UseJwtBearerAuthentication causes CORS 500 Error"
I have an ASP.NET CORE WebAPI App that is using the JwtBearerAuthentication with Azure AD to authorize a client on a separate web host using AngularJS and the Adal library.

I've included the necessary files in a Gist
https://gist.github.com/StephenGilboy/456668f4f7f8298e801118b1a96c76bb

If you remove the `[Authorize]` attribute from the `Get()` method the client works fine, no CORS errors. If yo

[2016-05-09 23:25] Tratcher commented on #815
This looks similar to https://github.com/aspnet/Diagnostics/issues/247.

The 500 response implies that an exception is being thrown somewhere, probably in JwtBearerAuthentication. When the server or exception page catch the exception they clear the current headers (including the CORS headers).  Enable logging to track down what the exception is and deal with that first.

[2016-05-09 23:30] StephenGilboy commented on #815
I've found that when I take the Bearer token out of my Angular call and put it into Postman I was having an issue w/ a bad Audience variable. When I fixed that I'm now getting a 502.

`HTTP Error 502.3 - Bad Gateway
The specified CGI application encountered an error and the server terminated the process.`

[2016-05-09 23:34] StephenGilboy commented on #815
And that error was caused by me trying to get the User from the HttpContext in the ValuesController. Everything is working now. Thanks!

[2016-05-09 23:34] #815 closed

[2016-05-12 22:06] #813 closed

[2016-05-12 22:08] #803 closed

[2016-05-12 22:09] #797 closed

[2016-05-12 22:10] Eilon commented on #784
Ping @HaoK

[2016-05-12 22:15] Eilon commented on #776
Ping @brentschmaltz

[2016-05-12 22:24] Eilon commented on #806
Let's rename `Microsoft.AspNetCore.Authorization.AuthorizationContext'` to `Microsoft.AspNetCore.Authorization.AuthorizationHandlerContext`.

[2016-05-12 22:38] Eilon commented on #773
Need to follow up with partner teams for ANCM and SslStream to see their plans for RTM.

We could theoretically start implementing this here and test with WebListener, but only once we have commitment from partners.

[2016-05-12 22:39] Eilon opened #816 "Add docs to cover: AuthorizeAsync should not require a resource to be provided when passing a requirement"
Given that we're not doing https://github.com/aspnet/Security/issues/753 for 1.0.0 RTM, need to add some docs to that effect.

[2016-05-12 22:40] Eilon commented on #753
We will add docs for this for 1.0.0 in https://github.com/aspnet/Security/issues/816.

[2016-05-12 22:40] #722 closed

[2016-05-15 10:59] Strandedpirate opened #818 "403 error when using google authentication"
Getting a 403 forbidden error while using the google authentication when the _EnsureSuccessStatusCode_ method is called. I get to the "allow" screen on google's side, I grant my app access to my account but then it bombs out after redirecting back to my app. I tried setting the TokenEndpoint to "https://accounts.google.com/o/oauth2/token" instead of the hard-coded default but it didn't help; same

[2016-05-15 21:27] Tratcher commented on #818
This is probobly a duplicate of https://github.com/aspnet/Security/issues/53

[2016-05-15 23:42] Strandedpirate commented on #818
Thanks, for me it was a simple matter of enabling Google+ API.

https://console.developers.google.com/apis
Google+ API > Enable

[2016-05-16 16:33] BrennanConroy commented on #806
1a99fad0c69c75f81fc5f74d9044842ae3484e9b

[2016-05-16 16:33] #806 closed

[2016-05-16 16:34] #818 closed

[2016-05-16 22:23] BrennanConroy commented on #795
962a74c4883e00da0666296c7c1751495f443ac0

[2016-05-16 22:23] #795 closed

[2016-05-17 05:37] zabulus opened #821 "Google OAuth package not compatible with 3rd party libraries"
Not sure about where the issue should be placed. So feel free to point me to another place.

I've developed single-page application using AngularJS. I've included satillizer to use as client-side login provider. Also I've added Microsoft.AspNet.Authentication.Google to web application. I've specified Microsoft.AspNet.Authentication.Google callback path in satellizer.

Errors occur on calling callb

[2016-05-17 15:29] HaoK commented on #784
@MonkeyJamboree The core API is intended to be fully async,, which is why `IAuthorization` only has async methods.  The sync versions are added only as sugar in the helper base class as convenience.

@slaneyrw Fail is basically a veto method, its not normally needed to be called as if all requirements are not successfully met, the default behavior is to fail.  But a handler wants to fail the autho

[2016-05-17 17:33] Tratcher commented on #821
Those packages are built for an interactive flow. For SPA apps you should be using something like Bearer to authenticate with the server after doing a client side login.

[2016-05-18 14:40] robianmcd commented on #297
@Jargon64 I ran into the same problem. This solved it for me http://stackoverflow.com/a/37288885/373655 .

[2016-05-18 16:26] Jargon64 commented on #297
@robianmcd This looks interesting. I'm working on a different task at the moment but will definitely try this soon.

My concern with this solution is that I'm only using a custom authorization handler for a specific endpoint of my API. The rest is handled by the Identity system so I'm wondering if there's a way to have the workaround authenticated identity created for a user requesting a specific

[2016-05-19 12:04] jbeen19 opened #825 "Action<MicrosoftAccountOptions> was removed in AspNetCore"
When you compare the Microsoft.AspNet.Builder.MicrosoftAccountAppBuilderExtensions to the Microsoft.AspNetCore.Builder.MicrosoftAccountAppBuilderExtensions you will discover the option of Action<MicrosoftAccountOptions> was removed. I kinda liked it once I understood how the data typed worked can you please add that back in. I thought it was one of those things I thought were really cool as I was

[2016-05-19 12:07] jbeen19 commented on #825
To be honet, I wouldn't call this an issue, but I wasn't sure where I should leave a comment. It's my first post.

[2016-05-19 14:24] danielserafimovik commented on #765
you have to change your code to call the GET account/verify_credentials method after the user is logged in with twitter. And it is important to set the parameter include_email to true. When this is set to true email will be returned in the user objects as a string. I'm using this library https://www.nuget.org/packages/linqtotwitter so that I do not have to write code for handling twitter api reque

[2016-05-19 16:14] npnelson commented on #614
For what it's worth, I unfortunately spent the last couple of days proving some of @brockallen 's points related to scopes and defaults.  The default in the OpenIDConnectOptions includes "profile" which pulls everything (at least in the case of Auth0).  Auth0 provides a lot of claims.  Enough claims to overwhelm Safari mobile's cookie domain size limits, which results in an obscure CookieChunkingM

[2016-05-19 22:08] Eilon commented on #825
Yeah this was a deliberate change to simplify some of the configuration logic.

[2016-05-19 22:12] #821 closed

[2016-05-19 22:15] Eilon commented on #784
BTW we have some docs on this as well: https://docs.asp.net/en/latest/security/authorization/policies.html#what-should-a-handler-return

[2016-05-19 22:15] #784 closed

[2016-05-19 22:55] brockallen commented on #614
@leastprivilege and I just did a workshop this week on this topic and it was somewhat painful to do scopes as items in the collection. The API today favors the middleware implementer and not the consumer. Even now post-RC2 I think it'd still be nice to have scope as a single string.

[2016-05-19 23:15] PinpointTownes commented on #825
I'm not sure to understand how this can simplify the configuration logic as it works exactly the same way as the other overload.

This syntax had many advantages: https://github.com/aspnet/Options/issues/105#issuecomment-168866368. That would be great to reopen this ticket to have a real discussion.

[2016-05-19 23:20] PinpointTownes commented on #825
For a real like example of why reintroducing this syntax would be ideal: https://github.com/aspnet/Security/issues/614#issuecomment-171820979

[2016-05-20 14:16] hsorbo opened #826 "JwtBearer validation failes on osx but works on windows"
Been struggeling with exceptions porting from rc1 to rc2 on os x. On windows it seems to work, but failes with this on os x. Im using RS256.

Am i missing something?

[code]

The setup code is fairly trivial:
[code]

[code]

[code]
[code]

[2016-05-20 14:20] Tratcher commented on #826
This issue was moved to dotnet/corefx#8712

[2016-05-20 14:20] #826 closed

[2016-05-20 14:49] Brian-Ding opened #827 "Microsoft account is experiencing technical problems. Please try again later."
I followed the instruction here (https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-how-to-configure-microsoft-authentication/)
and also check with (http://www.benday.com/2016/05/14/walkthrough-asp-net-core-1-0-mvc-identity-with-microsoft-account-authentication/)

once i try to login into my website deployed on azure, i will encounter this problem. the webpage shows:Micros

[2016-05-20 16:31] Eilon commented on #825
@PinpointTownes interesting - I'm re-opening, but putting in the post-v1.0.0 milestone because either way we won't have time to get to this for this release. But certainly something we can reconsider (it's just a matter of adding overloads - no breaking change).

[2016-05-20 16:41] PinpointTownes commented on #825
@Eilon if time is the only blocking factor for this work item, you can count on me to submit as many PRs as needed to bring back the "delegate-style" overloads, as the change itself is really trivial:

[code]

[2016-05-20 17:08] HaoK commented on #825
Well I believe the motivating factor for removing these was the confusion around what happens when you configure options in `ConfigureServices` and use the delegate overload, there's confusion because the settings in `ConfigureServices` won't be picked up this way.  So although the change is trivial, it has a fair bit of repercussions...

[2016-05-20 17:14] PinpointTownes commented on #825
Prior to the big options change, it used to work like that: you could configure the options from `ConfigureOptions`, and it had no impact on the options configured via  `UseTrucBiduleMiddleware(options => { })`).

AFAIK, nobody has ever complained about a possible risk of "confusion".

TBH, I'm not sure this very hypothetical risk is serious enough to justify removing this syntax, that helps solve

[2016-05-20 18:25] HaoK commented on #825
Well the full explanation is that options configured via configure services before were always ignored. The intent behind the change was to enable this scenario for the UseXyz() overload. And instance overloads are not ambiguous with that.  But the main motivation was to enable configuring options via ConfigureServices. So adding this overload back would introduce confusion that didn't exist befor

[2016-05-20 21:06] HaoK commented on #92
https://github.com/aspnet/Security/pull/829

[2016-05-20 21:07] HaoK commented on #92
FB to v2.6 https://github.com/aspnet/Security/pull/828

[2016-05-20 21:07] HaoK commented on #92
Twitter looks fine

[2016-05-20 21:44] Tratcher opened #830 "Microsoft.AspNetCore.Server.Kestrel error: The chunked cookie is incomplete"
_From @toddtsic on May 20, 2016 21:39_

Really need a hand here, iOS is killing me...

Getting Kestrel error when iOS simulator (and presumably any iOS device), calls my asp.net web api app (RC2 app).  Same error does NOT occur when accessed by android device.

Have successfully build cordova app in Visual Studio 2015, have submitted and have been approved at PlayStore, app working great.

Have be

[2016-05-20 21:44] Tratcher commented on #830
Have you tried clearing cookies on the client? Also, show the request headers so we can confirm the error is accurate.

[2016-05-20 21:54] Tratcher commented on #830
@toddtsic rather than capturing the headers on the client/emulator, can you attach the debugger to the server and view them there?

[2016-05-20 22:02] toddtsic commented on #830
That's a tricky proposition, I'm developing on Windows 10 box, using Visual
Studio and debugging on virtual mac server (MacInCloud).  I published my
web api app to my company server (because can't get the virtual mac to see
my local box).  My server is for production only, not running a development
environment.

Here's a curious addition:

I republished by cordova app to PlayStore (was working per

[2016-05-20 22:07] sadjadbp opened #831 "RC2, seems like CookieAuthenticationOptions.CookieSecure does not work"
In RC2, seems like setting
`CookieAuthenticationOptions.CookieSecure = CookieSecureOption.Always;`

Does not work anymore. We cannot afford the default value `SameAsRequest` since we are behind a LoadBalancer that opens the SSL packets and sends us via HTTP. In RC1, the same code in our Startup.cs use to take care of it.

[2016-05-20 22:08] Tratcher commented on #831
Please share the response headers.

[2016-05-20 22:10] sadjadbp opened #832 "RC2, how to make .AspCoreNet.Antiforgery cookie secure"
In RC2, how to we make `.AspCoreNet.Antiforgery.xxxxxx` cookie always secure. Keep in mind SameAsRequest does not work for us since we are behind a LoadBalancer that opens the SSL packets and sends us via HTTP.

Thanks,
Sadjad

[2016-05-20 22:10] Tratcher commented on #831
Note that some load balancers will give you an x-forwarded-proto header to let you know the original scheme. Or if you know it will always be https you can hardcode it:
[code]

[2016-05-20 22:13] sadjadbp commented on #831
@Tratcher our response header:

`HTTP/1.1 200 OK
Cache-Control: no-cache
Pragma: no-cache
Content-Type: text/html; charset=utf-8
Expires: -1
Server: Kestrel
Set-Cookie: .AspNetCore.Antiforgery.fU83vCg1Q3E=CfDJ8NPOhTB6To9Ll_bBm2FKytkgxg9VUwfHWRziRp9DWvXl8bTHLNvx_C8HbZm0jvnncV4Vis145gkZHuog6XvDac8_NgPITPv9ikBeGkLbg_5FG6maSHKGZzC9Bfm5O9FRIqQ9YFgUJDvZdUiC7T3bI24; path=/; httponly
Set-Cookie: .AspNetCo

[2016-05-20 22:16] Tratcher commented on #831
That's session and anti-forgery, not CookieAuthentication. Were you intending to use `Microsoft.AspNetCore.CookiePolicy`?

[2016-05-20 22:18] toddtsic commented on #830
A little research on this leads me to believe:

My problem is the combination of using jwt token authentication, AND
app.UseIdentity (which uses cookie).

I'm looking into whether its possible to use identity (UserManager magic is
very helpful), WITHOUT cookies.

T

On Fri, May 20, 2016 at 3:02 PM, Todd Greenwald <
tgreenwald@teamsportsinfo.com> wrote:

--
Todd Greenwald
President, TeamSportsInfo.

[2016-05-20 22:27] sadjadbp commented on #831
Oh sure, you are right! I've checked and that other cookie is set to secure. So what I'm looking for is

` app.UseSession(new SessionOptions()
{
});`

But there is no option for CookieSecure on that SessionOptions. Am I asking the right question under right Repro? Since my other question https://github.com/aspnet/Security/issues/832 is about how to make `.AspNetCore.Antiforgery` always secure.

[2016-05-20 22:29] Tratcher commented on #827
Go to https://apps.dev.microsoft.com/#/appList and check the Redirect Uris registered for your application. You should have one like this for local testing: `https://localhost:44318/signin-microsoft`

[2016-05-20 22:33] Tratcher commented on #831
https://github.com/aspnet/Session/issues/106
For now use the CookiePolicy middleware, it can sit in front of the others and override their settings.

[2016-05-20 22:36] Tratcher commented on #831
That said, you should really fix your request scheme rather than focusing on the cookie settings. For example aren't your links automatically generated using `http` instead of `https`?

[2016-05-20 22:45] sadjadbp commented on #832
Use this https://github.com/aspnet/Session/issues/106 CookiePolicy middleware to fix.

[2016-05-20 22:45] #832 closed

[2016-05-20 22:48] sadjadbp commented on #831
@Tratcher Thanks. Cookie middleware worked. But as I tested, using that Cookie middleware, works for .AspNetCore,Antiforgery and .AspNetCore.Session but won't work on AuthenticationCookie so I have to set that separately. Don't know if it is a bug or as intended.

[2016-05-20 23:04] Tratcher commented on #831
A bug: https://github.com/aspnet/Security/issues/814

[2016-05-20 23:13] sadjadbp commented on #831
Wow, you guys are super fast, super helpful. I'm getting my life's best tech support ever. Thanks again.

Q#2, as for the issue of load balancer you think that small middleware
`app.Use((context, next) =>
{
  context.Request.Scheme = "https";
  return next();
});`

Would fix all these types of issues? I'm going to test it. Does it matter were I put in `Startup::Configure`

[2016-05-20 23:16] Tratcher commented on #831
Yes it should help with these issues because many middleware inspect the scheme. Put it at the start so all it affects all requests.

Does your load balancer specify x-forwarded-for headers? In that case us the ForwardedHeaders middleware instead. https://github.com/aspnet/BasicMiddleware/blob/dev/samples/HttpOverridesSample/Startup.cs#L13

[2016-05-20 23:16] Tratcher commented on #831
woops, x-forwarded-proto headers...

[2016-05-20 23:48] sadjadbp commented on #831
@Tratcher good.

Not sure they said to use 'X-SSL-SessionId'. I'm going to check that X-Forwarded-Proto

Thanks again.

[2016-05-21 00:49] sadjadbp commented on #831
One last question, any plans to add "same-site" setting on CookiePolicy middleware. I think I can do it now with `OnAppendCookie` event.

[2016-05-21 02:41] npnelson commented on #830
I had the same error under different circumstances.
https://github.com/aspnet/Security/issues/614#issuecomment-220375007

It took me days to figure out what was going on, but the bottom line is mobile browsers like Safari can only store roughly 8200 bytes worth of cookies per domain.  I think the chunked cookie manager chunks 4090 bytes per cookie (which is another safari mobile limitation only 40

[2016-05-21 02:56] Brian-Ding commented on #827
@Tratcher Thanks for you answer, but i have tried this "/signin-microsoft" , just like my second reference link says, not working though.

i am wondering, since the url of error page says "error_description = the provided value for the input parameter 'redirect_url" is not valid. the expected value is 'https://login.live.com/oauth20_desktop.srf' or a URL which matches the redirect URI registedred

[2016-05-21 03:30] Tratcher commented on #827
I think you're running into this:
https://github.com/aspnet/IISIntegration/issues/140#issuecomment-215135928

[2016-05-21 04:35] toddtsic commented on #830
Nicholas,

Thank you so much for your response, what you write tracks totally with my
experience.  I was using claims to store data, and experienced symptoms
proportionally with size of claims stored.  I'll refactor accordingly.

Todd

On Fri, May 20, 2016 at 7:41 PM, Nicholas P Nelson <notifications@github.com

--
Todd Greenwald
President, TeamSportsInfo.com
tgreenwald@teamsportsinfo.com
410-703-

[2016-05-22 05:17] Brian-Ding commented on #827
@Tratcher  i tried again with redirect url http://{domain}/sign-microsoft. it works locally with http://localhost:500, but once i deploy to azure, it failed with a different error.
which says:
Error.
An error occurred while processing your request.
Development Mode
Swapping to Development environment will display more detailed information about the error that occurred.

Development environment sho

[2016-05-22 05:26] Brian-Ding commented on #827
@Tratcher Ok, i debug into the process, and it shows
error_description":"AADSTS90019: No tenant-identifying information found in either the request or implied by any provided credentials. Any comments please?

[2016-05-22 09:14] Villason opened #833 "Google authentication in RC2: I no longer receive user information in claims. Where are they?"
This code worked in RC1:

[code]

No claims now.

[2016-05-22 11:52] raffaeler opened #834 "Making AuthorizeAttribute sealed"
Is there a specific reason for AuthorizeAttribute not to be sealed?
As far as I can understand, the infrastructure will not care about any derived members.

[2016-05-22 13:51] npnelson commented on #830
This is a nasty error when you get it.  I think more and more people will run into this.  The limitation has always been there, but I have a couple of ideas as to why I didn't run into it in my MVC 5 apps.

First, I wasn't using openIDConnect in my MVC 5 app and thus wasn't pulling down the full range of claims available like the openIDConnect middleware does since its default scope is set to "pro